<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="form-group">
      <%= f.label :legal_name %>
      <%= f.text_field :legal_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <div class="form-group">
      <%= f.label :dba, "Doing Business As (DBA)" %>
      <%= f.text_field :dba, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-5">
    <div class="form-group">
      <%= f.label :fein, "Federal Employer ID" %>
      <%= f.text_field :fein, class: "fien_field  form-control" %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="form-group">
      <%= f.label :broker_id, "Broker" %>
      <%= select_dropdown "employee_address_state", State::NAME_IDS %>
    </div>
  </div>

<!-- Turn this into Button Group -->
  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="form-group">
      <%= f.label :is_active %>
      <%= f.text_field :fein, class: "fien_field  form-control" %>
    </div>
  </div>


</div>
