<% if @bs4 %>
<thead>
    <tr class='border-top-0'>
      <th class='col-sm-4'><%= l10n("broker_name")%></th>
      <th class='col-sm-3'><%= l10n("agency_name")%></th>
      <th class='col-sm-3'><%= l10n("market_kind")%></th>
      <td class='col-sm-2'></td>
    </tr>
  </thead>
  <tbody>
    <% @staff.each do |staff| %>
      <% organization = BenefitSponsors::Organizations::Organization.where(:"profiles._id" => staff.broker_role.benefit_sponsors_broker_agency_profile_id).first %>
      <tr>
        <td class='col-sm-4'><%= staff.first_name + ' ' + staff.last_name %></td>
        <td class='col-sm-3'><%= organization.legal_name %></td>
        <td class='col-sm-3'><% market_kind = organization.broker_agency_profile.market_kind.to_s %>
          <%= (market_kind.eql? "both") ? l10n("shop_and_individual") : market_kind.titleize %><%= l10n("market")%></td>
        <td class='col-sm-2'><a href='#' data-broker='<%=staff.broker_role.id%>' class='broker_select_button'><%= l10n("select")%></a></td>
    </tr>
    <% end %>
  </tbody>
<% else %>
  <thead>
    <tr class='row'>
      <th class='col-sm-4'><%= l10n("broker_name")%></th>
      <th class='col-sm-3'><%= l10n("agency_name")%></th>
      <th class='col-sm-3'><%= l10n("market_kind")%></th>
      <th class='col-sm-2'></th>
    </tr>
  </thead>
  <tbody>
    <% @staff.each do |staff| %>
      <% organization = BenefitSponsors::Organizations::Organization.where(:"profiles._id" => staff.broker_role.benefit_sponsors_broker_agency_profile_id).first %>
      <tr class='row'>
        <td class='col-sm-4'><%= staff.first_name + ' ' + staff.last_name %></td>
        <td class='col-sm-3'><%= organization.legal_name %></td>
        <td class='col-sm-3'><% market_kind = organization.broker_agency_profile.market_kind.to_s %>
          <%= (market_kind.eql? "both") ? l10n("shop_and_individual") : market_kind.titleize %><%= l10n("market")%></td>
        <td class='col-sm-2'><a href='#' data-broker='<%=staff.broker_role.id%>' class='broker_select_button'><%= l10n("select")%></a></td>
    </tr>
    <% end %>
  </tbody>
<% end %>
