<div class="container-fluid" style='margin-bottom:0%'>
    <div class='dental_plan_selectors'>

        <div id='dental-carriers' style='width: 148px;'>
            <b id='dental_carriers_header'><%= l10n("carriers")%></b><br/>
            <%- @dental_selectors[:carriers].each do |carrier| %>
              <div style='width: 200px'>
                 <%- if carrier[0] == 'any' %>
                 <input type='checkbox'  id="<%=carrier[1] %>" data-carrier='<%= carrier[2] %>' class="dental_carrier interaction-choice-control-value-any active1" checked> <%=carrier[0].rstrip %> </input>
                 <%- else %>
                 <input type='checkbox'  id="<%=carrier[1] %>" data-carrier='<%= carrier[2] %>' class="dental_carrier"> <%=carrier[0].rstrip %> </input>
                 <%- end %>
              </div>
             <% end %>
        </div>

        <div id='dental-metals'>
            <b><%= l10n("broker_agencies.quotes.coverage_level")%></b> </br>
            <%- @dental_selectors[:dental_levels].each do |dental_level| %>
                <div>
                <%- if dental_level == 'any' %>
                <input type='checkbox'  id="<%=dental_level%>" class="dental_metal interaction-choice-control-value-any active1" checked> <%= dental_level %> </input>
                <%- else %>
                <input type='checkbox'  id="<%=dental_level%>" class="dental_metal"> <%= dental_level %> </input>
                <%- end %>
                </div>
            <% end %>
        </div>

        <div id='dental-plan_types'>
            <b><%= l10n("plan_types")%></b> <br>
            <%- @dental_selectors[:plan_types].each do |plan_type| %>
            <div>
            <%- if plan_type == 'any' %>
            <input type='checkbox'  id="<%=plan_type%>" class="dental_plan_type" checked> <%= plan_type %> </input>
            <%- else %>
            <input type='checkbox'  id="<%=plan_type%>" class="dental_plan_type"> <%= plan_type %> </input>
            <%- end %>
            </div>
            <% end %>
        </div>

        <div id='dental-dc_in_network'>
             <b><%= l10n("dc_network")%></b> <br>
          <%- @dental_selectors[:dc_network].each do |dc_network| %>
            <div>
            <%- if dc_network == 'any' %>
            <input type='checkbox'  id="<%=dc_network%>" class="dc_network" checked> <%= dc_network %> </input>
            <%- else %>
            <input type='checkbox'  id="<%=dc_network%>" class="dc_network"> <%= dc_network %> </input>
            <%- end %>
            </div>
          <% end %>
        </div>

        <div id='dental-nationwide'>
            <b><%= l10n("nationwide")%></b> <br>
          <%- @dental_selectors[:nationwide].each do |nationwide| %>
          <div>
            <%- if nationwide == 'any' %>
            <input type='checkbox' id="<%=nationwide%>" class="nationwide" checked> <%= nationwide %> </input>
            <%- else %>
            <input type='checkbox' id="<%=nationwide%>" class="nationwide"> <%= nationwide %> </input>
            <%- end %>
          </div>
          <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">

  $(document).on("click", ".dental_plan_selectors input[type=checkbox]", function (event) {
    selected=this;
          sibs = $(selected.parentNode).siblings();

          var valid_classLists = ["dental_carrier interaction-choice-control-value-any active1",
          "dental_metal interaction-choice-control-value-any active1",
          "dental_plan_type interaction-choice-control-value-any active1",
          "dc_network interaction-choice-control-value-any active1",
          "nationwide interaction-choice-control-value-any active1"];

           valid_classLists.forEach(function(valid_classList){
          if(valid_classList == selected.classList){
            $.each(sibs, function(){
              var cousins = $(this).children()
              if(typeof(cousins[0]) != 'undefined' && ($(cousins[0]).prop('checked') == true)) {
                  $(cousins[0]).removeClass('active')
                  $(cousins[0]).prop('checked', false)
             };
            });
          }else{
            $.each(sibs, function(){
              var cousins = $(this).children()
              if(typeof(cousins[0]) != 'undefined' && ($(cousins[0]).prop('checked') == true) && cousins[0].id == 'any') {
                $(cousins[0]).removeClass('active')
                $(cousins[0]).prop('checked', false)
             };
            });
          };
          });
          if (selected.checked){
              this.classList.add('active');
          }else{
              $(this).removeClass('active')
          }
          disable_nationwide_if_dc_selected(selected);
          toggle_plans([])
          reset_selected_plans()
  });

</script>
