<div class="container-fluid">
    <div>
      <h4><%= l10n("broker_agencies.quotes.step_3")%></h4>

      <h5><%= l10n("showing")%> <strong id="x-of-plans"><%= @dental_plans.count %></strong> <%= l10n("of")%> <strong><%= @dental_plans.count %></strong>  <%= l10n("plans_based_on_your_selection_criteria")%></h5>
      <div class="btn-group plan_buttons dental_plan_buttons" data-toggle="buttons" style='max-height: 340px; overflow-y: scroll' id="quote-dental-plan-list">
        <% @dental_plans.each_with_index do |p,index| %>
        <label class="btn dental_plan_buttons <%= "active" if params['plans'].try(:include?, p.id.to_s) %>" >
          <input name="dental_plans[]" <%= "checked" if params['dental_plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>">
          <%= p.name  + ' $'%><span class='employer_cost'>0</span></label>
        <% end %>
      </div>
    </div>
    <div class='btn btn-primary' id='DentalCostComparison'><%= l10n("broker_agencies.quotes.compare_dental_costs")%></div>
</div>
