
<%= hidden_field_tag 'current_sort', @sort_by  %>
<%= hidden_field_tag 'plan_ids' %>
<div class="container-fluid">
  <h3><%= l10n("plan_comparison_chart")%></h3>
  <ul style="padding-left: 18px;">
    <li> <%= l10n("broker_agencies.quotes.rearranged_plans")%> </li>
    <li> <%= l10n("use")%> <i class='fa fa-caret-down fa-lg'></i>,<i class='fa fa-caret-up fa-lg'></i> <%= l10n("broker_agencies.quotes.to_sort_by_copay")%> </li>
  </ul>
  <div class="mygrid-wrapper-div">
   <table class="table bordered compare-table", border = "1", style="font-size:11px;" id="compare_plans_table">
        <tr>
          <th class="row-title"><%= l10n("plan")%></th>
          <% qhps.each do |qhp|%>
            <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class='movable'>
              <%= hidden_field_tag 'plan_id-#{qhp.plan.id}', qhp.plan.id, class: 'plan_id' %>
              <%  carrier_name = CarrierProfile.find(qhp.plan.carrier_profile_id).organization.legal_name.gsub(/united health care/i, 'uhic')%>
              <%=  image_tag("logo/carrier/#{carrier_name.parameterize.underscore}.jpg", {width: 80}) if carrier_name.present? %>
            </th>
          <% end %>
        </tr>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class="ttc fourteen blue"><%= qhp.plan.name %></th>
          <% end %>
        </tr>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th class="fourteen lg" colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><span class="<%= qhp.plan.metal_level.humanize.downcase %>-icon"><%= display_dental_metal_level qhp.plan %></span> &nbsp;&#149;&nbsp;
            <%= qhp.plan.plan_type.upcase %>
            </th>
          <% end %>
        </tr>
        <tr>
          <th><%= l10n("provider_network")%></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <%= render partial: "shared/network_data", locals: {plan: qhp.plan} %>
            </th>
          <% end %>
        </tr>

        <%= render partial: "shared/plan_shoppings/provider_directory_url", locals: {qhps: qhps}%>

        <% if qhps.map(&:plan).map(&:rx_formulary_url).compact.present? %>
          <tr>
            <th></th>
            <% qhps.each do |qhp|%>
              <th colspan="2">
                <% if qhp.plan.coverage_kind == "health" && qhp.plan.rx_formulary_url.present? %>
                  <%= h(link_to "#{l10n('broker_agencies.quotes.rx_formulary_url')}", qhp.plan.rx_formulary_url, target: "_blank", rel: 'noopener noreferrer') %>
                <% end %>
              </th>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>PLAN BENEFITS <br> (In Network)</th>
          <% qhps.each do |qhp|%>
            <th colspan="1"> <%= l10n("co_pay")%> </th>
            <th colspan="1"> <%= l10n("coinsurance")%> </th>
          <% end %>
        </tr>
        <%= render partial: "plan_visit_types", locals: {qhps: qhps} %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <div class="plan_comparison">
                <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.plan } %>
              </div>
            </th>
          <% end %>
        </tr>
    </table>
  </div>
  <br>
    <%= h(link_to "#{l10n('broker_agencies.quotes.export_to_pdf')}", download_pdf_broker_agencies_broker_role_quotes_path(@broker,:plans => params[:plans], quote_id: @quote.id), class: "btn btn-info", target: "_blank", rel: 'noopener noreferrer') %>
  <br><br>
</div>
