<%if @q.all_households_have_benefit_groups? && @q.all_benefit_groups_have_plans? %>
  <div class="module container broker_quote_tool published">
    <div class="row">
      <div class="col-md-12">
        <%= draft_quote_header(@q.aasm_state, @q.quote_name)%><br/>

        <p><%= l10n("quote")%>: "<%=@q.quote_name %>" effective <b><%=@q.start_on %></b></p>

        <p>Costs are based on the roster associated with this quote of <b><%= @q.quote_households.count %></b> families:</p>
        <br>
        <% @q.quote_benefit_groups.each do |benefit_group| %>
          <%  unless benefit_group.plan.nil? %>
          <div class="panel-body" style="width: 1092px" >
            <div class="panel benefitgroup col-xs-12">
              <div class="col-xs-12">
                <div class="row">
                  <section class="col-xs-10">
                    <header class="row">
                      <h3 class="title no-buffer">
                        <%= "Quote for Benefit Group: #{benefit_group.title}" %>
                      </h3>
                    </header>
                  </section>
                  <div class="col-xs-2">
                    <button class="nav-toggle row view" id="showhidebutton" data-toggle="collapse" href="#collapse-health-<%=benefit_group.id.to_s%>" onclick="QuotePageLoad.view_details($(this))">View Details
                      <i class="fa fa-chevron-down fa-lg" data-toggle="collapse" href="#collapse-health-<%=benefit_group.id.to_s%>"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <section class="col-xs-10">
                  <header class="row">
                    <h3 class="title no-buffer">
                      <%= l10n("broker_agencies.quotes.quote_for_benefit_group", title: benefit_group.title) %>
                    </h3>
                  </header>
                </section>
                <div class="col-xs-2">
                  <button class="nav-toggle row view" id="showhidebutton" data-toggle="collapse" href="#collapse-health-<%=benefit_group.id.to_s%>" onclick="QuotePageLoad.view_details($(this))"><%= l10n("view_details")%>
                    <i class="fa fa-chevron-down fa-lg" data-toggle="collapse" href="#collapse-health-<%=benefit_group.id.to_s%>"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p><%= l10n("coverage_year")%></p>
              </div>
              <div class="col-md-offset-2">
                <p>
                 <%= @q.start_on.strftime("%m/%d/%Y") %> - <%= (@q.start_on.next_year - 1.day).strftime("%m/%d/%Y") %>
                </p>
                </div>
              </div>
            </div>
          <div class="published-quote-table">
                <table>
                  <tr>
                    <th class="col-md-2 col-xs-2 ">
                      <header><%= l10n("reference_plan")%></header>
                    </th>
                    <th class="col-md-2 col-xs-2">
                      <header><%= l10n("carrier")%></header>
                    </th>
                    <th class="col-md-2 col-xs-2">
                      <header><%= l10n("type")%></header>
                    </th>
                    <th class="col-md-2 col-xs-2">
                      <header><%= l10n("metal_level")%></header>
                    </th>
                    <th class="col-md-2 col-xs-2">
                      <header><%= l10n("plans_by")%></header>
                    </th>
                  </tr>
                  <% if benefit_group.plan %>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Relationship</th>
                  </tr>
                </thead>
                <% @q.quote_households.each do |quote_household| %>
                  <% if quote_household.quote_benefit_group_id == benefit_group.id %>
                    <% quote_household.quote_members.each do |member| %>
                  <tr>
                    <td><%=member.first_name%></td>
                    <td><%= member.last_name%></td>
                    <td><%= member.employee_relationship.humanize%></td>
                  </tr>
                  <%end%>
                </table>
          </div>
          <br>
          <div class="col-xs-12 table-responsive">

            <table class="table table-striped table-hover table-sm panel panel-default">
              <thead class="thead-default">
                <tr>
                  <th><%= l10n("first_name")%></th>
                  <th><%= l10n("last_name")%></th>
                  <th><%= l10n("relationship")%></th>
                  <th><%= l10n("dob")%></th>
                </tr>
              </thead>
              <% @q.quote_households.each do |quote_household| %>
                <% if quote_household.quote_benefit_group_id == benefit_group.id %>
                  <% quote_household.quote_members.each do |member| %>
                <tr>
                  <td><%=member.first_name%></td>
                  <td><%= member.last_name%></td>
                  <td><%= member.employee_relationship.humanize%></td>
                  <td><%= member.dob%></td>
                </tr>
                <% end %>
              </table>
            </div>
            <div class="quote-benefit-group">
              <div class="benefit-package">
                <div id="collapse-health-<%=benefit_group.id.to_s%>" class="collapse" >
                  <div class="col-xs-1">
                    &nbsp;
                  </div>
                  <div class="col-xs-12 quote-details">
                    <div class="col-xs-12 quote-health-details">
                      <p>Below is your Employer's <strong>Health</strong> Plan offering Spectrum. Your offerings are based on <%=benefit_group.plan_option_kind.titleize%>.</p>
                      <% if benefit_group.plan %>
                        <table class = "employer-health-contribution">
                          <tr>
                            <th>Offered</th>
                            <th>Employer Contribution</th>
                          </tr>
                          <% benefit_group.quote_relationship_benefits.each do|rb| %>
                            <% next if rb.relationship == "child_26_and_over" %>
                            <tr>
                              <td><%=raw("<i class='fa fa-check-square-o fa-lg'></i>")%><%=rb.relationship.humanize %></td>
                              <td>
                                <strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong>
                              </td>
                            </tr>
                          <% end %>
                        </table>
                        <div class="col-xs-12">
                          <div class="col-xs-1">
                            &nbsp;
                          </div>
                          <div class="quote-est-month col-xs-11">
                            <div class="row">
                              <div class="col-xs-4">
                                <div class="row">
                                  <span>Employer Estimated Maximum Monthly Cost</span>
                                  <h2><%= number_to_currency(benefit_group.published_employer_cost)%></h2>
                                </div>
                              </div>
                              <div class="col-xs-8">
                                <div class="row">
                                  <table>
                                    <tr>
                                      <th colspan ="2" ></th>
                                      <th>Min</th>
                                      <th>Max</th>
                                    </tr>
                                    <tr>
                                      <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                                  <% cost_range = benefit_group.employee_cost_min_max %>
                                  <td><%= number_to_currency(cost_range[0])%></td>
                                  <td><%= number_to_currency(cost_range[1])%></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <%end%>
                    </div>
                    <div class="col-xs-12 quote-dental-details">
                      <p>Below is your Employer's Dental Plan offering Spectrum. Your offerings are based on <%=benefit_group.plan_option_kind.titleize%>.</p>
                      <% if benefit_group.dental_plan %>
                        <table class = "employer-dental-contribution">
                          <tr>
                            <th>Offered</th>
                            <th>Employer Contribution</th>
                          </tr>
                          <% benefit_group.quote_dental_relationship_benefits.each do|rb| %>
                            <% next if rb.relationship == "child_26_and_over" %>
                            <tr>
                              <td><%=raw("<i class='fa fa-check-square-o fa-lg'></i>")%><%=rb.relationship.humanize %></td>
                              <td>
                                <strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong>
                              </td>
                            </tr>
                          <% end %>
                        </table>
                        <div class="col-xs-12">
                          <div class="col-xs-1">
                            &nbsp;
                          </div>
                          <div class="quote-est-month col-xs-11">
                            <div class="row">
                              <div class="col-xs-4">
                                <div class="row">
                                  <span>Employer Estimated Maximum Monthly Cost</span>
                                  <h2><%= number_to_currency(benefit_group.published_dental_employer_cost)%></h2>
                                </div>
                              </div>
                              <div class="col-xs-8">
                                <div class="row">
                                  <table>
                                    <tr>
                                      <th colspan ="2" ></th>
                                      <th>Min</th>
                                      <th>Max</th>
                                    </tr>
                                    <tr>
                                      <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                                  <% cost_range = benefit_group.employee_cost_min_max('dental') %>
                                  <td><%= number_to_currency(cost_range[0])%></td>
                                  <td><%= number_to_currency(cost_range[1])%></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
            <% if benefit_group.elected_health_plan_ids.present? %>
              <% quote_health_results = get_health_cost_comparison(benefit_group: benefit_group) %>
              <%= render partial: "employee_cost_breakdown_for_health_plans", locals: { quote_results: quote_health_results}%>
            <% end %>
            <% if benefit_group.elected_dental_plan_ids.present? %>
              <% quote_dental_results = get_dental_cost_comparison(benefit_group: benefit_group) %>
              <%= render partial: "employee_cost_breakdown_for_dental_plans", locals: { quote_results: quote_dental_results}%>
            <% end %>
          <% end%>
        <% end %>
        <br>
        <p><%= l10n("broker_agencies.quotes.actual_costs_may_vary")%></p>
          <%= render :partial => "quote_publish_button" , :locals => { :quote => @q } %>
        <% if @q.published? %>
          <h4> <%= l10n("employer_claim_code")%>: &nbsp;<b><%=@q.claim_code%></b></h4>
        <% end %>
        <br>
        <%= link_to "#{l10n('download_pdf')}" , publish_broker_agencies_broker_role_quotes_path(@broker,quote_id: @q.id, :format => "pdf"), class: "btn btn-default" , :target => "_blank " %> <br><br>
      </div>
      <br></br>
    </div>
  </div>

<%else%>
  <div class="alert alert-notice">
    <h4><%= l10n("broker_agencies.quotes.select_the_plans")%> <b>"<%= l10n("broker_agencies.quotes.compare_costs_select_plan")%>" </b> <%= l10n("broker_agencies.quotes.button_in_health_plan_selection")%></h4>
  </div>
<% end %>

<% @q.quote_benefit_groups.each do |bg| %>
 <%= render partial: 'shared/custom_dental_offered_plans_modal', locals: { bg: bg } %>
<% end %>
