<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : @q.quote_name %>
    </title>
  </head>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  <div class="module broker_quote_tool">
    <div class="pdf-body">
      <div class="row">
        <div class="col-md-12">
          <h3><%= l10n("quote_name")%>: <%=@q.quote_name %></h3>

          <h4><%= l10n("employer_claim_code")%>: &nbsp;<b><%=@q.claim_code%></b></h4>

          <p><%= l10n("broker_agencies.quotes.effective_date_is")%><b><%=@q.start_on %></b></p>

          <p><%= l10n("costs_based_on_roster")%>  <b><%= @q.quote_households.count %></b> <%= l10n("fam_ily")%>:</p>
          <% @q.quote_benefit_groups.each do |benefit_group| %>
          <%  unless benefit_group.plan.nil? %>
            <div class="panel-body">
              <h3 class="title no-buffer">
                <%= "Benefit Group: #{benefit_group.title}" %>
              </h3>
              <table class="table table-striped table-hover table-sm panel panel-default">
                <thead class="thead-default">
                  <tr>
                    <th><%= l10n("first_name")%></th>
                    <th><%= l10n("last_name")%></th>
                    <th><%= l10n("relationship")%></th>
                    <th><%= l10n("dob")%></th>
                  </tr>
                </thead>
                <% @q.quote_households.each do |quote_household| %>
                  <% if quote_household.quote_benefit_group_id == benefit_group.id %>
                    <% quote_household.quote_members.each do |member| %>
                      <tr>
                        <td><%= member.first_name%></td>
                        <td><%= member.last_name%></td>
                        <td><%= member.employee_relationship.humanize%></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </table>
              <div class="quote-benefit-group">
                <div class="benefit-package">
                  <p>
                    <b>Coverage Year:</b> <%= @q.start_on.strftime("%m/%d/%Y") %> - <%= (@q.start_on.next_year - 1.day).strftime("%m/%d/%Y") %>
                  </p>
                  <table class="table table-striped table-hover table-sm panel panel-default">
                    <thead class="thead-default">
                      <tr>
                        <th><%= l10n("reference_plan")%></th>
                        <th><%= l10n("carrier")%></th>
                        <th><%= l10n("type")%>/</th>
                        <th><%= l10n("metal_level")%></th>
                        <th><%= l10n("plans_by")%></th>
                      </tr>
                    </thead>
                      <% if benefit_group.plan %>
                      <tr>
                        <td><%= benefit_group.plan.name %></td>
                        <td><%= benefit_group.plan.carrier_profile.legal_name %></td>
                        <td><%= benefit_group.plan.plan_type.upcase%></td>
                        <td><%= benefit_group.plan.metal_level.capitalize%></td>
                        <td><%= benefit_group.plan_option_kind.titleize%></td>
                      </tr>
                      <%end%>
                      <% if benefit_group.dental_plan %>
                      <tr>
                        <td><%= benefit_group.dental_plan.name %></td>
                        <td><%= benefit_group.dental_plan.carrier_profile.legal_name %></td>
                        <td><%= benefit_group.dental_plan.plan_type.upcase%></td>
                        <td><%= benefit_group.dental_plan.metal_level.capitalize%></td>
                        <td><%= benefit_group.dental_plan_option_kind.titleize%></td>
                      </tr>
                      <%end%>
                  </table>
                </div>
                <div class="col-xs-12 quote-details">
                  <div class="col-xs-12 quote-health-details">
                    <p><%= l10n("below_is_your")%> <%= l10n("health")%> <%= l10n("plan_offering_spectrum")%> <%=benefit_group.plan_option_kind.titleize%>.</p>
                    <% if benefit_group.plan %>
                      <table class = "employer-health-contribution">
                        <tr>
                          <th><%= l10n("offered")%></th>
                          <th><%= l10n("employer_contribution")%></th>
                        </tr>
                        <% benefit_group.quote_relationship_benefits.each do|rb| %>
                          <% next if rb.relationship == "child_26_and_over" %>
                          <tr>
                            <td><%=raw("<i class='fa fa-check-square-o fa-lg'></i>")%><%=rb.relationship.humanize %></td>
                            <td>
                              <strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                      <div class="col-xs-12">
                        <div class="col-xs-1">
                          &nbsp;
                        </div>
                        <div class="quote-est-month col-xs-11">
                          <div class="row">
                            <div class="col-xs-4">
                              <div class="row">
                                <span><%= l10n("employer_estimated_maximum_monthly_cost")%></span>
                                <h2><%= number_to_currency(benefit_group.published_employer_cost)%></h2>
                              </div>
                            </div>
                            <div class="col-xs-8">
                              <div class="row">
                                <table>
                                  <tr>
                                    <th colspan ="2" ></th>
                                    <th><%= l10n("min")%></th>
                                    <th><%= l10n("max")%></th>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><%= l10n("total_estimated_monthly_cost_for_plan_participants")%></td>
                                <% cost_range = benefit_group.employee_cost_min_max %>
                                <td><%= number_to_currency(cost_range[0])%></td>
                                <td><%= number_to_currency(cost_range[1])%></td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <%end%>
                  </div>
                  <% if benefit_group.dental_plan %>
                  <div class="col-xs-12 quote-dental-details">
                    <p><%= l10n("emplyer_dental_plan_offering")%>
                     <%=display_dental_plan_option_kind benefit_group%>.</p>
                      <table class = "employer-dental-contribution">
                        <tr>
                          <th><%= l10n("offered")%></th>
                          <th><%= l10n("employer_contribution")%></th>
                        </tr>
                        <% benefit_group.quote_dental_relationship_benefits.each do|rb| %>
                          <% next if rb.relationship == "child_26_and_over" %>
                          <tr>
                            <td><%=raw("<i class='fa fa-check-square-o fa-lg'></i>")%><%=rb.relationship.humanize %></td>
                            <td>
                              <strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                      <div class="col-xs-12">
                        <div class="col-xs-1">
                          &nbsp;
                        </div>
                        <div class="quote-est-month col-xs-11">
                          <div class="row">
                            <div class="col-xs-4">
                              <div class="row">
                                <span><%= l10n("employer_estimated_maximum_monthly_cost")%></span>
                                <h2><%= number_to_currency(benefit_group.published_dental_employer_cost)%></h2>
                              </div>
                            </div>
                            <div class="col-xs-8">
                              <div class="row">
                                <table>
                                  <tr>
                                    <th colspan ="2" ></th>
                                    <th><%= l10n("min")%></th>
                                    <th><%= l10n("max")%></th>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><%= l10n("total_estimated_monthly_cost_for_plan_participants")%></td>
                                <% cost_range = benefit_group.employee_cost_min_max('dental') %>
                                <td><%= number_to_currency(cost_range[0])%></td>
                                <td><%= number_to_currency(cost_range[1])%></td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <% if benefit_group.dental_plan_option_kind ==  'single_plan' %>
                              <%= l10n("dental_plan_options")%>:<br>
                              <ul>
                              <% benefit_group.elected_dental_plans.each do |dental_option| %>
                                <li><%= dental_option.name %> </li>
                              <% end %>
                              </ul>
                            <% end %>
                          </div>
                        </div>
                      </div>
                  </div>
                <%end%>
                </div>
              </div>
            </div>
            <br>
            <% if benefit_group.elected_health_plan_ids.present? %>
              <% quote_health_results = get_health_cost_comparison(benefit_group: benefit_group) %>
              <h3>Detailed Employee cost breakdown for selected health plans:</h3>
              <table class="table table-striped table-hover table-sm panel panel-default">
                <tr>
                  <td colspan="3" class="thead-default">
                  </td>
                  <% quote_health_results.each do |qr| %>
                    <td colspan="1" class="thead-default">
                      <div style='width: 300px'>
                        <b><%= qr[0] %></b><br>
                        <sm>Employee:
                        $<%= qr[1][:total_employee_cost].ceil %>,
                        Employer:
                        <span >$<%= qr[1][:total_employer_cost].ceil %></span>
                        <br>
                        <%#= qr[1][:buy_up]  %>
                        </sm>
                      </div>
                    </td>
                  <% end %>
                </tr>

                <tr style="font-weight: bolder; ">
                  <td class="thead-default">Name</td>
                  <td class="thead-default">Relationship Contribution</td>
                  <td class="thead-default">Age</td>
                  <% quote_health_results.keys.each do |de| %>
                    <td class="thead-default" style='padding-left: 100px'>Employee Cost</td>
                  <% end %>
                </tr>
                <% quote_health_results.first[1][:detail].flatten.each_with_index do |qr, index| %>
                  <tr>
                    <td class="quote_detail_results">
                      <%= qr[:first_name] %>
                    </td>
                    <td class="quote_detail_results">
                      <%= @employee_relationship_map[qr[:employee_relationship]] %> <small>(<%= qr[:employer_contribution_percent].to_i%>%)</small>
                    </td>
                    <td class="quote_detail_results">
                      <%= qr[:age] %>
                    </td>
                    <% quote_health_results.keys.each do |de| %>
                      <td class="quote_detail_results"  style='padding-left: 100px'>
                      <b><%= quote_health_results[de][:detail].flatten[index][:employee_cost].round(2) %></b>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            <% end %>
            <% if benefit_group.elected_dental_plan_ids.present? %>
              <% quote_dental_results = get_dental_cost_comparison(benefit_group: benefit_group) %>
              <h3>Detailed Employee cost breakdown for selected dental plans:</h3>
              <table class="table table-striped table-hover table-sm panel panel-default">
                <tr>
                  <td colspan="3" class="thead-default">
                  </td>
                  <% quote_dental_results.each do |qr| %>
                    <td colspan="1" class="thead-default">
                      <div style='width: 300px'>
                        <b><%= qr[0] %></b><br>
                        <sm>Employee:
                        $<%= qr[1][:total_employee_cost].ceil %>,
                        Employer:

                        <span >$<%= qr[1][:total_employer_cost].ceil %></span>
                        <br>
                        </sm>
                      </div>
                    </td>
                  <% end %>
                </tr>
                <tr style="font-weight: bolder; ">
                  <td class="thead-default">Name</td>
                  <td class="thead-default">Relationship (%)</td>
                  <td class="thead-default">Age</td>
                  <% quote_dental_results.keys.each do |de| %>
                    <td class="thead-default" style='padding-left: 100px'>Employee Cost</td>
                  <% end %>
                </tr>
                <% quote_dental_results.first[1][:detail].flatten.each_with_index do |qr, index| %>
                  <tr>
                    <td class="quote_detail_results">
                      <%= qr[:first_name] %>
                    </td>
                    <td class="quote_detail_results">
                      <%= @employee_relationship_map[qr[:employee_relationship]] %> <small>(<%= qr[:employer_contribution_percent].to_i%>)</small>
                    </td>
                    <td class="quote_detail_results">
                      <%= qr[:age] %>
                    </td>
                    <% quote_dental_results.keys.each do |de| %>
                      <td class="quote_detail_results"  style='padding-left: 100px'>
                      <b><%= quote_dental_results[de][:detail].flatten[index][:employee_cost].round(2) %></b></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            <% end %>
          <% end %>
          <% end%>
          <p><%= l10n("broker_agencies.quotes.actual_costs_may_vary")%></p>
        </div>
      </div>
    </div>
  </div>

  <body class="pdf">
  </body>
</html>
