<%  read_only = @employee_present ? true : false %>
<div id="family-panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">Family Id: <%= qhh.text_field :family_id, { size: 2, style: "width: 50px;", type: "number", readonly: "true"  } %></div>
        <div class="col-md-3"><%= qhh.collection_select :quote_benefit_group_id, @quote_benefit_group_dropdown, :id, :title, {}, {:class => "floatlabel custom_selectric form-control", :prompt => true}   %></div>
        <div class="col-md-3"><button type="button" style="float: right"  class="btn btn-primary interaction-click-control-add-member-to-this-family" aria-label="Left Align" onclick="addEmployeeRowToFamily('<%=qhh.object.id.to_s%>','<%= qhh.index %>')">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= l10n("add_member_to_this_family")%></button>
        </div>
        <div class="col-md-2">
          <% #if qhh.object.persisted? %>
            <select class="floatlabel custom_selectric form-control" id="duplicate-family-id-<%=qhh.object.id%>" data-family-id=<%=qhh.object.family_id%> data-household-id="<%= qhh.object.id %>">
              <option><%= l10n("broker_agencies.quotes.duplicate_by")%>:</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          <% #end %>
        </div>
        <div class="col-md-1">
          <button type="button" data-household-id="<%=qhh.object.id%>" data-quote-id="<%=@quote.id%>" id="remove_household_button" data-broker-role-id="<%=@broker.id%>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
    </div>
    <div id="col<%= qhh.object.id.to_s %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= qhh.object.id.to_s %>">
      <div class="panel-body" id="family-<%= qhh.object.id.to_s %>">
        <%= qhh.fields_for :quote_members do |qm| %>
          <div id='quotes-container'%>
            <%= render "quote_members", qm:qm,qhh:qhh, readonly: read_only%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>&nbsp;</div>
