
  <!-- Plan Name -->
  <td class="col-bulk_actions_column col-bulk_actions"></td>
  <td class="col-string">
    <label>
      <strong>
        Plan
      </strong>
    </label>
    <br/>
    <%= @hbx_enrollment.plan.name %>
  </td>
  <!-- Effective Date -->
  <td class="col-string">
    <label>
      <strong>
        Effective Date
      </strong>
    </label>
    <br/>
    <%= @hbx_enrollment.effective_on %>
  </td>
  <!-- Cancel date set to start date -->
  <td class="col-string">
    <label>
      <strong>
        Cancellation Date
      </strong>
    </label>
    <br/>
    <%= @hbx_enrollment.effective_on %>
  </td>
  <!-- EDI Transmission to Carrier -->
  <!-- EDI Transmisison checkbox -->

  <%= form_for @hbx_enrollment, :url => { :action => "update_cancel_enrollment"}, :method => :post, :html => { :class => 'vertically-aligned-row' } do |f| %>

  <td style="width:280px !important">
    <!-- <span class="btn btn-default btn-sm" onclick="$('tr.child-row:visible').remove();">Cancel</span> -->
    <%= button_to "CANCEL", '', { :onclick => "$('tr.child-row:visible').remove();", :class=>"btn btn-default btn-xs" }%>
    <%= f.submit "Submit", class: 'btn btn-primary btn-xs' %>
  </td>
  <% end %>

