<script type="text/javascript">
  $( "[id^=edit_hbx_enrollment]" ).submit(function( event ) {
    if($('input[id^="termination_date_picker"]').val().length !=0)
      this.submit();
    else {
      event.preventDefault();
      alert("Please select a valid date.");
    }
  });
</script>

<td colspan="90%">
  <% if @hbxs.present? %>
    <% @hbxs.each do |hbx|%>
      <%= form_tag update_enrollment_member_drop_exchanges_hbx_profiles_path, :method => :post, remote: true do %> 
        <h3 class='title' data-cuke="drop_enrollment_members_title"><%= l10n('admin_actions.drop_enrollment_members') %></h3>
        <p><%= l10n('admin_actions.drop_member_description') %></p>
        <p class='title'><b><%= l10n('admin_actions.enrollment_hbx_id') %>:</b> <%= hbx.hbx_id %></p>
        <p class='title'><b><%= l10n('plan') %>:</b> <%= hbx.product.title %></p>
        <p><%= l10n('termination_date') %>: <%= text_field_tag "termination_date_#{hbx.id}", nil, value:  set_default_termination_date_value(hbx), id: "termination-date-picker_#{hbx.id}", class: "form-control date-field date-picker", "data-date-min" =>  set_date_min_to_beginning_of_year(hbx, 1), "data-date-max" =>  set_date_max_to_plan_end_of_year(hbx), 'data-cuke': 'drop_termination_date' %></p> 
        <br />
        <table  class="table table-striped">
          <tr>
            <th><%= l10n('name') %></th>
            <th><%= l10n('ssn') %></th>
            <th><%= l10n('dob') %></th>
            <th><%= l10n('hbx_id') %></th>
            <th><%= l10n('effective_date') %></th>
            <th><%= l10n('admin_actions.drop_member') %>?</th>
          </tr>
          <% hbx.hbx_enrollment_members.each do |member| %>
            <% person = member.family_member.person%>
            <tr>
              <td><%= person.full_name %></td>
              <td>
                <% if EnrollRegistry.feature_enabled?(:mask_ssn_ui_fields) %>
                  <%= render partial: 'shared/person/admin_ssn_block',
                    locals: { presenter: organize_ssn_params(person, member.family.id), include_label: false }
                  %>
                <% else %>
                  <%= number_to_obscured_ssn(person.ssn) %>
                <% end %>
              </td>
              <td><%= person.dob %></td>
              <td><%= member.hbx_id %></td>
              <td><%= hbx.effective_on %></td>
              <td><%= check_box_tag "terminate_member_#{member.id}", member.id, false, 'data-cuke': 'drop_member_select_checkbox' %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan = "12">
              <%= hidden_field_tag :admin_permission, @admin_permission %>
              <%= hidden_field_tag :family_actions_id, params[:family_actions_id] %>
              <%= hidden_field_tag :family_id, params[:family] %>
              <%= hidden_field_tag :enrollment_id, hbx.id %>
              <%= submit_tag "Submit", class: 'btn btn-primary', 'data-cuke': 'drop_members_submit' %>
            </td>
          </tr>
          <tr><td colspan = "12"><br /></td></tr>
        </table>
      <% end %>
    <% end %>
  <% else %>
    <h4 class='title'><%= l10n('admin_actions.no_enrollments_to_terminate') %></h4>
  <% end %>
  <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();"><%= l10n('cancel') %></span>&nbsp;&nbsp;&nbsp;
</td>

<style>.date-picker { width:90px !important;font-size: 12px;} </style>
