<script type="text/javascript">
  jQuery('[id^="terminate_hbx_"]').click(function($) {
    if (this.checked) {
      jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[1]).prop('disabled', false);
    }
    else {
      jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[1]).prop('disabled', true);
      jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[1]).prop('checked', false);
    }
  });

$( "[id^=edit_hbx_enrollment]" ).submit(function( event ) {
  if($('input[id^="termination_date_picker"]').val().length !=0)
        this.submit();
  else {
    event.preventDefault();
    alert("Please select a valid date.");
  }
});
//$('input[id^="expiry_"]').datepicker();
</script>

<td colspan="90%">
  <%if @hbxs.present?%>
    <%= form_tag update_terminate_enrollment_exchanges_hbx_profiles_path, :method => :post, remote: true do %>
      <h3 class='title'>Terminate Enrollment</h3>
      <br />
      <table  class="table table-striped">
        <tr>
          <th>HBX ID</th>
          <th>Plan</th>
          <th>Effective Date</th>
          <th>Termination Date</th>
          <th>Terminate Enrollment ?</th>
          <th>Transmit to Carrier ?</th>
        </tr>
        <% @hbxs.each do |hbx| %>
        <tr>
          <td><%= hbx.hbx_id %></td>
          <td><%= hbx.plan.name %></td>
          <td><%= hbx.effective_on %></td>
          <td><%= text_field_tag "termination_date_#{hbx.id}", nil, readonly: true, value:  set_default_termination_date_value(hbx), id: "termination-date-picker_#{hbx.id}", class: "form-control date-field date-picker", "data-date-min" =>  set_date_min_to_effective_on(hbx), "data-date-max" =>  set_date_max_to_plan_end_of_year(hbx) %></td>
          <td><%= check_box_tag "terminate_hbx_#{hbx.id}", hbx.id %></td>
          <td><%= check_box_tag "transmit_hbx_#{hbx.id}", hbx.id, false,  disabled: true%></td>
        </tr>
        <% end %>
        <tr><td colspan = "6"><br /></td></tr>
        <tr>
          <td colspan = "6">
            <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();">Cancel</span>&nbsp;&nbsp;&nbsp;
            <%= hidden_field_tag :family_actions_id, params[:family_actions_id] %>
            <%= hidden_field_tag :family_id, params[:family] %>
            <%= submit_tag "Submit", class: 'btn btn-primary' %>
          </td>
        </tr>
      </table>
    <% end %>
  <%else%>
    <h4 class='title'>No Enrollments to terminate</h3>
  <%end%>
</td>

<style>.date-picker { width:90px !important;font-size: 12px;} </style>
