<% if selected_carrier_level != 'metal_level' %>
  <% carrier_names.each_pair do |ck, cv| %>
  <div class="col-xs-4 carriers">
    <%= link_to organizations_plan_design_organization_plans_path(plan_design_organization,
    carrier_id: "#{ck}",
    selected_carrier_level: selected_carrier_level,
    active_year: active_year), remote: true do %>
    <div class="col-xs-3">
      <%= radio_button_tag :carrier_for_elected_plan, "#{ck}", false %>
      <%= label_tag "carrier_for_elected_plan_#{ck}" do %>
      <i class="far fa-circle"></i>
      <i class="far fa-dot-circle"></i>
      <% end %>
    </div>
    <% end %>
    <div class="col-xs-9">
          <h3><%= cv %></h3>
    </div>
  </div>
  <% end %>
<% else %>
  <% metal_levels = ::Plan::REFERENCE_PLAN_METAL_LEVELS %>
  <% if check_plan_options_title %>
      <% metal_levels = enabled_metal_levels_for_single_carrier - ['dental'] %>
  <% end %>
  <% metal_levels.each do |kind| %>
    <div class="col-xs-3 metals">
      <div class="col-xs-12 row">
        <%= link_to organizations_plan_design_organization_plans_path(@plan_design_organization,
          selected_carrier_level: 'metal_level',
          metal_level: kind,
          active_year: active_year), remote: true do %>
            <div class="col-xs-3">
              <%= radio_button_tag :metal_level_for_elected_plan, kind %>
              <%= label_tag "metal_level_for_elected_plan_#{kind}" do %>
                <i class="far fa-circle"></i>
                <i class="far fa-dot-circle"></i>
              <% end %>
            </div>
        <% end %>

        <div class="col-xs-9">
          <div class="panel">
            <div class="panel-heading">
              <h3><%= kind.titleize %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
