<% if @employee.errors.any? %>
  <div class="alert alert-error">
    <h4><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h4>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <% @employee.embedded_error_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--

 -->

<div class="col-md-11 col-sm-12 col-xs-12">
  <h3>Personal Information</h3>
  <div id="overlay"></div>
    <div id="personal_info" class="focus_effect row personal-info-row" style="opacity: 0.5;">
      <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">

        <%= f.fields_for :person, errors: {}, fieldset: false do |name|  %>
          <%= render 'shared/name_fields', f: name %>
        <% end %>

        <%= render 'shared/id_info_fields', f: f %>

        <%= render 'shared/error_warning' %>
      </div>

      <div class="col-md-2 key no-pd-right col-sm-3 col-xs-12" style="display: none;">
        <a href="#" class="btn btn-save <%=pundit_class EmployerProfile,:updateable?%>">Save & Exit</a>
        <p class="top-pad">
          <span>Your personal information is secure.</span>
          <span><i></i></span>
        </p>
      </div>
    </div>

    <br>

    <%= f.fields_for @person.addresses, errors: {}, fieldset: false do |address|  %>
      <%= render 'shared/address_fields', f: address %>
    <% end %>

    <br>

    <%= f.fields_for @person.phones, errors: {}, fieldset: false do |phone|  %>
      <%= render 'shared/phone_fields', f: phone %>
    <% end %>

    <br>

    <%= f.fields_for @person.emails, errors: {}, fieldset: false do |email|  %>
      <%= render 'shared/email_fields', f: email %>
    <% end %>

    <div class="focus_effect row personal-info-row" style="opacity: 0.5;">
      <div class="">
        <div class="col-md-10 col-sm-9 no-pd">
        </div>
        <div class="col-md-2 col-sm-3 no-pd">
          <a href="#" class="btn disable-btn <%=pundit_class EmployerProfile,:updateable?%>">Continue</a>
        </div>
      </div>
    </div>

    <div class="autofill-cloud autofill-initial hidden">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= image_tag 'autofill-cloud.png' %>
          <span class="close"></span>
        </div>
        <p>
          We may be able to auto-fill your information with data from our records.
        </p>
        <a href="#" class="btn btn-ok autofill_yes">Yes</a>
        <div class="clearfix"></div>
        <a href="#" class="btn btn-cancel autofill_no">No Thanks</a>
      </div>
    </div>
    <div class="autofill-cloud autofill-failed hidden">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= image_tag 'autofill-cloud-failed.png' %>
          <span class="close"></span>
        </div>
        <p>
          We were not able to find your information. Double check your social security number and birthdate
        </p>
        <a href="#" class="btn btn-try-again btn-primary">Try Again</a>
      </div>
    </div>
    <div class="less-opacity hidden">
      <%= image_tag 'autofill-cloud.png' %>
      <p>Autofill</p>
    </div>
  </div>
