<table class="total_table address" border="0">
  <tbody>
    <tr class="fssize mar20">
      <td><%= "Lydia Austin" %></td>
    </tr>
    <tr class="fssize1">
       <td><%= "609 H St, NE" %></td>
    </tr>
    <tr class="fssize1">
      <td><%= "Suite 200" %></td>
    </tr>
    <tr class="fssize">
    <td><%= "Washington" %> <%= "DC" %> <%= "20877" %></td>
    </tr>
  </tbody>
</table>