<div class = "break">
<%= render :partial => "notices/shared/logo" %>
<table class="total_table address" border="0">
  <tbody>
  <tr><td><br><br><br></td></tr>
    <tr>
      <td class="fssize health-connector-address" align="left"><%= notice.primary_fullname %></td>
    </tr>
    <% if notice.shop? %>
    <tr>
      <td class="fssize1 health-connector-address" align="left"><%= notice.employer_name %></td>
    </tr>
    <% end %>
    <tr>
       <td class="fssize1 health-connector-address" align="left"><%= notice.primary_address.street_1 %></td>
    </tr>
    <% if notice.primary_address.street_2.present? %>
    <tr>
      <td class="fssize1 health-connector-address" align="left"><%= notice.primary_address.street_2 %></td>
    </tr>
    <% end %>
    <tr>
    <td class="fssize1 health-connector-address" align="left"><%= notice.primary_address.city %> <%= notice.primary_address.state %> <%= notice.primary_address.zip %></td>
    </tr>
  </tbody>
</table>
<br><br><br><br><br>

<h1 align="center"><strong>THIS IS A COVER PAGE</strong></h1>
<hr>
<h2> The enclosed letter has important information about your health insurance, including steps you need to take to get or keep your insurance. </h2> <br><br><br><br><br><br><br><br>
<p class="mpi_indicator"><%= notice.mpi_indicator %> </p>
<br>
<div class='footer-cover'>
 <%= render :template => "notices/shared/footer" %>
</div>
</div>