<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <% if notice.shop? %>
          <b><%= EnrollRegistry[:enroll_app].setting(:short_name).item %></b><br>
             <%= Settings.notices.shop_market.mail_address.address_1 %><br>
             <%= Settings.notices.shop_market.mail_address.address_2 %><br>
             <%= Settings.notices.individual_market.mail_address.city %>, <%= Settings.aca.state_abbreviation %> <%= Settings.notices.shop_market.mail_address.zip_code %><br>
        <% else %>
          <b><%= EnrollRegistry[:enroll_app].setting(:short_name).item %> Contact Center</b><br>
             <%= ::EnrollRegistry[:ivl_notices].setting(:mailing_address_1).item %><br>
             <%= ::EnrollRegistry[:ivl_notices].setting(:mailing_address_city).item %>, <%= Settings.aca.state_abbreviation %> <%= ::EnrollRegistry[:ivl_notices].setting(:mailing_address_zip).item %><br>
        <% end %>
      </td>
      <td colspan="2" align="right"><a href= "#{EnrollRegistry[:enroll_app].setting(:home_url).item}"
                                    target= "_blank" rel="noopener noreferrer">
                                    <%= image_tag "#{Rails.root}/app/assets/images/#{EnrollRegistry[:enroll_app].setting(:mailer_logo_file_name).item}", style: "height: auto; vertical-align: top;", width: "100"  %>
                                    </a></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
  </tbody>
</table>
