<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <% if notice.shop? %>
          <b><%= Settings.site.short_name %></b><br>
             <%= Settings.aca.shop_market.mail_address.address_1 %><br>
             <%= Settings.aca.shop_market.mail_address.address_2 %><br>
             <%= Settings.aca.individual_market.mail_address.city %>, <%= Settings.aca.state_abbreviation %> <%= Settings.aca.shop_market.mail_address.zip_code %><br>
        <% else %>
          <b><%= Settings.site.short_name %> Contact Center</b><br>
             <%= Settings.aca.individual_market.mail_address.address_1 %><br>
             <%= Settings.aca.individual_market.mail_address.city %>, <%= Settings.aca.state_abbreviation %> <%= Settings.aca.individual_market.mail_address.zip_code %><br>
        <% end %>
      </td>
      <td colspan="2" align="right"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "100"  %>
                                  </a></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
  </tbody>
</table>