<div style="display:block; page-break-inside: avoid;">
  <table align="center" cellpadding="10" class="total_table thick_broder" style="margin-top: 10px; margin-bottom: 10px; width: <%= table_width if defined? table_width %>;">
    <tbody>
      <tr style="text-align: left">
        <th>
          <b>Date New Plan Selected</b>
        </th>
        <th>
          <b>Date New Plan Starts</b>
        </th>
      </tr>
      <tr valign="top">
        <td class="small" style="width: 50%;">
          <p>November 1, <%= notice.current_year %> - December 15, <%= notice.current_year %></p>
        </td>
        <td class="small">
          <p>January 1, <%= notice.coverage_year %></p>
        </td>
      </tr>
      <tr valign="top">
        <td class="small">
          <p>December 16, <%= notice.current_year %> - January 15, <%= notice.coverage_year %></p>
        </td>
        <td class="small">
          <p>February 1, <%= notice.coverage_year %></p>
        </td>
      </tr>
      <tr valign="top">
        <td class="small">
          <p>January 16, <%= notice.coverage_year %> - January 31, <%= notice.coverage_year %></p>
        </td>
        <td class="small">
          <p>March 1, <%= notice.coverage_year %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
