<table class="total_table" border="0">
  <tbody>
    <% if defined? previous %>
      <tr>
        <td>
          <%= sanitize_html(previous) %>
        </td>
      </tr>   
    <% end %>
    <tr>
      <td>
        <ol style="list-style: decimal;">
          <% listings.each do |listing| %>
            <li style="margin-top: 10px;">
            <% if listing.is_a?(Array) %>
              <%= sanitize_html(listing[0]) %>
              <ol style="list-style-type: lower-alpha;">
                <% listing[1].each do |item| %>
                  <li style="margin-top: 5px;">
                  <%= sanitize_html(item) %>
                  </li>
                <% end %>
              </ol>
            <% else %>
              <%= sanitize_html(listing) %>          
            <% end %>
            </li>
          <% end %>
        </ol>
      </td>
    </tr>
    <% if defined? after %>
    <tr>
      <td>
        <%= sanitize_html(after) %>
      </td>
    </tr>   
    <% end %>
  </tbody>
</table>
