<table class="total_table address" border="0">
  <tbody>
  </br>
    <tr>
      <td><br></br></td>
    </tr>
    <tr>
      <td><%= notice.primary_fullname %></td>
    </tr>
    <% if (notice.shop? && !notice.employee_notice? && !notice.general_agency? && !notice.broker?) %>

    <tr class="fssize1">
      <td><%= notice.employer_name %></td>
    </tr>
    <% end %>
    <tr class="fssize1">
       <td><%= notice.primary_address.street_1 %></td>
    </tr>
    <% if notice.primary_address.street_2.present? %>
    <tr class="fssize1">
      <td><%= notice.primary_address.street_2 %></td>
    </tr>
    <% end %>
    <tr>
    <td><%= notice.primary_address.city %>, <%= notice.primary_address.state %> <%= notice.primary_address.zip %></td>
    <% display_mpi_indicator =  show_mpi_indicator if defined? show_mpi_indicator%>
    <% if display_mpi_indicator.nil? %>
      <td style="text-align: right;"><%= notice.mpi_indicator %></td>
    <% end %>
    </tr>
    <% if (notice.primary_address.street_2.blank? || (notice.shop? && !notice.employee_notice? && !notice.broker?) == false) %>
    <tr>
      <td><br></td>
    </tr>
    <% end %>
    <% if (notice.shop? && !notice.employee_notice? && !notice.broker?) == false %>
    <tr>
      <td><br></td>
    </tr>
    <% end %>
    <tr>
      <td>
        <br></br>
      </td>
    </tr>
  </tbody>
</table>