  <div style="display:block; page-break-inside: avoid;">
    <table align="center" class="total_table household_member_details reports_table" style="width: <%= table_width if defined? table_width %>;" border="1">
      <tbody>
        <% if defined?(headers) %>
        <tr style="text-align:left; background-color:rgb(198,217,241); padding:0 10px;">
          <% headers.size.times do |i| %>
          <td colspan="2" style="width: <%= col_styles[i] if defined? col_styles %>;"><%= headers[i]%></td>
          <% end %>
        </tr>
        <% end %>
        <% rows.each do |row| %>
        <tr>
          <% row.size.times do |i| %>
            <td style="<%= col_styles[i] if defined? col_styles %>"><%= row[i] %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<!--   Example:
<%#= render partial: 'notices/shared/table', locals: {headers: ['Individual(s)', 'Qualifying Circumstance'], rows: [['November 1 - December 15, 2015', 'January 1, 2016'],['December 16 - January 15, 2016', 'February 1, 2016']],
  col_styles: ['width: 30%;', 'width: 70%; text-align: center;'], table_width: '100%'} %>
 -->