<table class="total_table" border="0">
  <tbody>
    <% if defined? previous %>
      <tr>
        <td>
          <%= previous.html_safe %>
        </td>
      </tr>   
    <% end %>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
          <% listings.each do |listing| %>
            <li style="margin-top: 5px; <%= 'page-break-inside: avoid' if listing.is_a?(Array) && listing[1].size <= 2 %>;">
            <% if listing.is_a?(Array) %>
              <%= listing[0].html_safe %>
              <ul style="list-style-type: circle;">
                <% listing[1].each do |item| %>
                  <li style="margin-top: 5px;">
                     <%= item.html_safe %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= listing.html_safe %>          
            <% end %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% if defined? after %>
    <tr>
      <td>
        <%= after.html_safe %>
      </td>
    </tr>   
    <% end %>
  </tbody>
</table>
