<table class="total_table" border="0" style="page-break-inside: avoid;">
  <tbody>
    <% if defined? previous %>
      <tr>
        <td style="padding-bottom: 6px">
          <%= sanitize_html(previous) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
          <% listings.each do |listing| %>
            <li style="padding-top: 0px;">
              <%= listing[:first_name].titleize %> <%= listing[:last_name].titleize %>&nbsp;&nbsp;&nbsp;&nbsp;Age: <%= listing[:age]%>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% if defined? after %>
    <tr>
      <td style="padding-bottom: 0px;">
        <%= sanitize_html(after) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
