<table class="total_table" border="0" style="display:block; page-break-inside: avoid;">
  <tbody>
    <% if defined? previous %>
      <tr>
        <td style="padding-bottom: 6px">
          <%= previous %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
          <% listings.each do |listing| %>
            <li style="padding-top: 0px; <%= 'page-break-inside: avoid' if listing.is_a?(Array) && listing[1].size <= 2 %>;">
            <% if listing.is_a?(Array) %>
              <%= sanitize_html(listing[0]) %>
              <ul style="list-style-type: circle;">
                <% listing[1].each do |item| %>
                  <li style="padding-top: 0px;" >
                     <%= item %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= sanitize_html(listing) %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% if defined? after %>
    <tr>
      <td style="padding-bottom: 0px;">
        <%= sanitize_html(after) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
