<table class="table table-striped">
	<thead>
		<tr>
		  <th>Name</th>
		  <th>Age</th>
		  <th>Needs Coverage?</th>
		  <th>Status?</th>
		  <th>Verified?</th>
		  <th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<%members.each do |member|%>
		<tr>
		  <td><%=member.person.full_name%></td>
		  <td><%=member.person.age_on(TimeKeeper.date_of_record)%></td>
		  <td>Yes</td>
		  <td><%=@application.aasm_state%></td>
		  <td>No</td>
		  <td>
			<%if @application.applicants.find_by(family_member_id: member.id).workflow.present?%>
				<%= link_to "Edit Info", edit_financial_assistance_application_applicant_path(@application, @application.applicants.find_by(family_member_id: member.id)), class: "btn btn-info"  %>
			<%else%>
				<%= link_to "Add Info", go_to_step_financial_assistance_application_applicant_path(@application, @application.applicants.find_by(family_member_id: member.id), 1), class: "btn btn-info"  %>
			<%end%>
		  </td>
		</tr>
	<%end%>
	</tbody>
</table>