<div class="container bottom-pd">
	<div class="row">
		<h3 class="title-inline"><b>Your Financial Asistance Applications</b></h3>
	</div>
	<div class="form-group">
		<div class="">
			<%= form_tag({:action => 'create'}, {:method => 'post'}) do %>
				<%if @family.application_in_progress.present? %>
					<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="You already have an application in progress.">
						<%= submit_tag "Start new application", class: "btn btn-success btn-sm", disabled: true %>
					</span>
				<%else%>
					<%= submit_tag "Start new application", class: "btn btn-success btn-sm"%>
				<%end%>
			<% end %>
			<%= raw "&nbsp;" * 10%>
		</div>
	</div>
	<div>
		<p>
		Here you may apply for assistance with the amount that you pay for health care insurance premiums, deductibles, copayments, and coinsurance. We will ask information about your family and household members, including: citizenship, income, expenses and any existing insurance coverage. Once you complete and submit the application, we will determine if you are eligible to receive assistance, along with the type and amount. You may then shop and enroll in coverage using this assistance.
		</p>
	</div>
	<%if @applications.present?%>
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>Status</th>
				  <th>Started On</th>
				  <th>Submitted On</th>
				  <th>Determination</th>
				  <th>Actions</th>
				</tr>
			</thead>
			<tbody>
			<% @applications.each do |application| %>
				<tr>
				  <td><%=application.id%></td>
				  <td><%=application.aasm_state%></td>
				  <td><%=to_est application.created_at%></td>
				  <td><%=to_est application.submitted_at%></td>
				  <td></td>
				  <%
            dropdown = [
              ['Update Application', edit_financial_assistance_application_path(application), application.is_draft? ? 'static' : 'disabled'],
              ['Copy to new application', copy_financial_assistance_application_path(application), application.is_draft? || @family.application_in_progress.present? ? 'disabled' : 'static']
            ]
				  %>
				  <td>
					<%= render partial: 'datatables/shared/dropdown', locals: {dropdowns: dropdown, row_actions_id: ""}, formats: :html%>

				  </td>
				</tr>
			<%end%>
			</tbody>
		</table>
	<%end%>
	<%= link_to 'Go to My Account', home_insured_families_path, class: 'btn btn-default'%>
</div>
