<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
  <div class="col-md-9">
    <div id="dependents_info_wrapper">
      <h2 class="darkblue">Review Your Application </h2>
      <p><strong> You're almost done! </strong>Review the application summary below and make sure it's correct. Select the
      pencil icon to go back to any item and make change. When you're finished, select CONTINUE.</p>

      <% if income_and_deductions_for_any(@application).present? %>
        <h3 class="darkblue">Income and Adjustments</h3>
        <div class="row white-background">
          <div class="col-md-12 pz">
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-11">The following is information <span class="form-heading">you entered for everyone in this application. </span></div>
              <div class="col-md-1">
              </div>
            </div>

            <table class="table table-border-line mb0 table-grey-border" border="1" >
              <thead>
                <tr class="form-heading">
                  <th class="no-bottom-border"> <b>PERSON </b></th>
                  <th class="no-bottom-border"><b>TYPES</b></th>
                  <th class="no-bottom-border"><b>FREQUENCY</b></th>
                  <th class="no-bottom-border"><b>AMOUNT</b></th>
                  <th class="no-bottom-border"><b>DATES </b></th>
                </tr>
              </thead>
              <tbody>
                <% @applicants.each do |applicant| %>
                  <% income_and_deductions_for(applicant).each do |embedded_document| %>
                    <tr>
                      <td> <%= applicant.person.full_name %> </td>
                      <td> <%= embedded_document.kind.humanize %> </td>
                      <td> <%= embedded_document.frequency_kind.humanize %> </td>
                      <td>
                      <b>
                        <% if embedded_document.is_a? FinancialAssistance::Deduction %>
                          (<%= number_to_currency(embedded_document.amount.to_s) %>)
                        <% else %>
                          <%= number_to_currency(embedded_document.amount.to_s) %>
                        <% end %>
                      </b>
                      <td>
                        <%= start_to_end_dates(embedded_document) %>
                        <span class= "ml10">
                          <%= link_to income_and_deductions_edit(@application, applicant, embedded_document) do %>
                            <i class="fa fa-pencil fa-lg"></i>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary" style="padding: 0px; height: 20px">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <br><br>

      <% @applicants.each do |applicant| %>
        <div class="row white-background">
          <div class="col-md-12 pz">
            <div class="row row-form-wrapper ptb no-buffer row-height main-heading form-bottom-border">
              <div class="col-md-11"><span></span>
                <i class="fa fa-user blue-icon"></i> <%= applicant.person.full_name %>
              </div>
              <div class="col-md-1">
                <!-- <a><span class="fa fa-pencil fa-lg" aria-hidden="true"></span></a> -->
              </div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-bottom-border">
              <table class="table mb0">
                <thead>
                  <tr class="form-heading">
                    <th class="form-heading">AGE</th>
                    <th class="form-heading">GENDER</th>
                    <th class="form-heading">RELATIONSHIP</th>
                    <th class="form-heading">STATUS</th>
                    <th class="form-heading">INCARCERATED</th>
                    <th class="form-heading">NEEDS COVERAGE?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="noBorder">
                    <td><%= applicant.age_of_the_applicant %></td>
                    <td><%= applicant.person.gender.humanize %></td>
                    <td><%= applicant.family_member.relationship.humanize %></td>
                    <td><%= applicant.person.format_citizen if applicant.person.citizen_status.present? %></td>
                    <td><%= human_boolean applicant.person.is_incarcerated %></td>
                    <td><%= human_boolean applicant.person.is_applying_coverage %></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-bottom-border">
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11 form-heading"> TAX INFO</div>
                <div class="col-md-1">
                  <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, applicant, 1) do %>
                    <i class="fa fa-pencil fa-lg"></i>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Will this person file taxes for <%= @application.family.application_applicable_year %>? *</div>
                <div class="col-md-6"><%= human_boolean(applicant.is_required_to_file_taxes) %></div>
              </div>

              <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_joint_tax_filing) %>
                <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                  <div class="col-md-6">Will this person be filing jointly?</div>
                  <div class="col-md-6"><%= human_boolean(applicant.is_joint_tax_filing) %></div>
                </div>
              <% end %>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Will this person be claimed as a tax dependent
                  for <%= @application.family.application_applicable_year %>? *
                </div>
                <div class="col-md-6"><%= human_boolean(applicant.is_claimed_as_tax_dependent) %></div>
              </div>

              <% if @cfl_service.displayable_field?('applicant', applicant.id, :claimed_as_tax_dependent_by) %>
                <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                  <div class="col-md-6">This person will be claimed as a dependent by</div>
                  <div class="col-md-6"><%= applicant_name(applicant.claimed_as_tax_dependent_by.to_s) %></div>
                </div>
              <% end %>

              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">INCOME</div>
                <div class="col-md-1">
                  <%= link_to financial_assistance_application_applicant_incomes_path(@application, applicant) do %>
                    <i class="fa fa-pencil fa-lg"></i>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person have income from an employer (wages, tips, bonuses, etc.)
                    in <%= @application.family.application_applicable_year %>?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_job_income %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Is this person self-employed?</div>
                <div class="col-md-6"><%= human_boolean applicant.has_self_employment_income %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person expect to have other types of income in <%= @application.family.application_applicable_year %>?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_other_income %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">INCOME ADJUSTMENTS</div>
                <div class="col-md-1">
                  <%= link_to financial_assistance_application_applicant_deductions_path(@application, applicant) do %>
                    <i class="fa fa-pencil fa-lg"></i>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person expect to have adjustments to income in <%= @application.family.application_applicable_year %>? *
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_deductions %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">HEALTH COVERAGE</div>
                <div class="col-md-1">
                  <%= link_to financial_assistance_application_applicant_benefits_path(@application, applicant) do %>
                    <i class="fa fa-pencil fa-lg"></i>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Is this person currently enrolled in health coverage?</div>
                <div class="col-md-6"><%= human_boolean applicant.has_enrolled_health_coverage %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person currently have access to other health coverage, including through another person?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_eligible_health_coverage %></div>
              </div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
              <div class="col-md-11">OTHER QUESTIONS</div>
              <div class="col-md-1">
                <%= link_to other_questions_financial_assistance_application_applicant_path(@application, applicant) do %>
                  <i class="fa fa-pencil fa-lg"></i>
                <% end %>
              </div>
            </div>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_ssn_applied) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Has this person applied for an SSN</div>
                <div class="col-md-6"><%= human_boolean applicant.is_ssn_applied %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :non_ssn_apply_reason) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Why doesn't this person have an SSN?</div>
                <div class="col-md-6"><%= applicant.non_ssn_apply_reason.to_s %></div>
              </div>
            <% end %>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Is this person pregnant?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_pregnant %></div>
            </div>

            <!-- Case where the applicant is Pregnant(fields: :pregnancy_due_on and :children_expected_count) -->
            <% if @cfl_service.displayable_field?('applicant', applicant.id, :pregnancy_due_on) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Pregnancy due date?</div>
                <div class="col-md-6"><%= applicant.pregnancy_due_on.to_s %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">How many children is this person expecting?</div>
                <div class="col-md-6"><%= applicant.children_expected_count %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_post_partum_period) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Was this person pregnant in the last 60 days?</div>
                <div class="col-md-6"><%= human_boolean applicant.is_post_partum_period %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :pregnancy_end_on) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Pregnancy end on date</div>
                <div class="col-md-6"><%= applicant.pregnancy_end_on.to_s %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_enrolled_on_medicaid) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Was this person on Medicaid during pregnancy?</div>
                <div class="col-md-6"><%= human_boolean applicant.is_enrolled_on_medicaid %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_former_foster_care) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Was this person in foster care at age 18 or older?</div>
                <div class="col-md-6"><%= human_boolean applicant.is_former_foster_care %></div>
              </div>
            <% end %>

            <!-- Case where the applicant was in Foster Care(fields: :foster_care_us_state, :age_left_foster_care, :had_medicaid_during_foster_care) -->
            <% if @cfl_service.displayable_field?('applicant', applicant.id, :foster_care_us_state) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Where was this person in foster care?</div>
                <div class="col-md-6"><%= applicant.foster_care_us_state %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">How old was this person when they left foster care?</div>
                <div class="col-md-6"><%= applicant.age_left_foster_care %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Was this person enrolled in Medicaid when they left foster care?</div>
                <div class="col-md-6"><%= human_boolean applicant.had_medicaid_during_foster_care %></div>
              </div>
            <% end %>

            <% if @cfl_service.displayable_field?('applicant', applicant.id, :is_student) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Is this person a student?</div>
                <div class="col-md-6"><%= human_boolean applicant.is_student %></div>
              </div>
            <% end %>

            <!-- Case where the applicant is a student(fields: :student_kind, :student_status_end_on, :student_school_kind) -->
            <% if @cfl_service.displayable_field?('applicant', applicant.id, :student_kind) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">What is the type of student?</div>
                <div class="col-md-6"><%= applicant.student_kind %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Student status end on date?</div>
                <div class="col-md-6"><%= applicant.student_status_end_on %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">What type of school do you go to?</div>
                <div class="col-md-6"><%= human_boolean applicant.student_school_kind %></div>
              </div>
            <% end %>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Is this person blind?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_self_attested_blind %></div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does this person need help with daily life activities, such as dressing or
                bathing?
              </div>
              <div class="col-md-6"><%= human_boolean applicant.has_daily_living_help %></div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does this person need help paying for any medical bills from the last 3 months?
              </div>
              <div class="col-md-6"><%= human_boolean applicant.has_daily_living_help %></div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does this person have Disability?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_physically_disabled %></div>
            </div>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>

  <div class='col-md-3'>
    <%= render partial: 'financial_assistance/shared/right_nav', locals: {previous_url: @application.active_applicants.count > 1 ? insured_family_relationships_path(@person.consumer_role.id) : edit_financial_assistance_application_path(@application), next_url: go_to_step_financial_assistance_application_path(@application, 1)} %>
  </div>
</div>
