<div class="col-md-7">
  <div id="dependents_info_wrapper">
    <h1 class="darkblue">Review Your Application </h1>
    <p><strong> You're almost done! </STRONG>Review the application summary below and make sure it's correct. Select the
      pencil icon to go back to any item and make change. When you're finished, select CONTINUE.</p>

    <br>


    <% @applicants.each do |applicant| %>
        <div class="row white-background">
          <div class="col-md-12 pz">
            <div class="row row-form-wrapper ptb no-buffer row-height main-heading form-bottom-border">
              <div class="col-md-11"><span></span>
                <i class="fa fa-user blue-icon"></i> <%= applicant.person.full_name %></div>
              <div class="col-md-1">
                <!-- <a><span class="glyphicon glyphicon-pencil grey-font" aria-hidden="true"></span></a> -->
              </div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-bottom-border">
              <table class="table mb0">
                <thead>
                <tr class="form-heading">
                  <th class="form-heading">AGE</th>
                  <th class="form-heading">GENDER</th>
                  <th class="form-heading">RELATIONSHIP</th>
                  <th class="form-heading">STATUS</th>
                  <th class="form-heading">INCARCERATED</th>
                  <th class="form-heading">NEEDS COVERAGE?</th>
                </tr>
                </thead>
                <tbody>
                <tr class="noBorder">
                  <td><%= applicant.age_of_the_applicant %></td>
                  <td><%= applicant.person.gender %></td>
                  <td><%= applicant.family_member.relationship %></td>
                  <td><%= applicant.person.citizen_status %></td>
                  <td><%= human_boolean applicant.person.is_incarcerated %></td>
                  <td>Yes</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-bottom-border">
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11 form-heading"> TAX INFO</div>
                <div class="col-md-1">
                  <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, applicant, 2) do %>
                      <i class="glyphicon glyphicon-pencil grey-font"></i>
                  <% end %>
                </div>
              </div>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Will this Person file taxes for <%= current_year %>? *</div>
                <div class="col-md-6"><%= human_boolean(applicant.is_required_to_file_taxes) %></div>
              </div>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Will this person be claimed as somebody else’s tax dependent
                  for <%= current_year %>? *
                </div>
                <div class="col-md-6"><%= human_boolean(applicant.is_claimed_as_tax_dependent) %></div>
              </div>
            </div>

            <div class="form-bottom-border">
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">Income</div>
                <div class="col-md-1">
                  <% if applicant.incomes.present? %>
                      <%= link_to financial_assistance_application_applicant_incomes_path(@application, applicant) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% else %>
                      <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, applicant, 1) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person have income from an employer (wages, tips, bonuses, etc)
                  in <%= current_year %>?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_job_income %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Is this person self employed?</div>
                <div class="col-md-6"><%= human_boolean applicant.has_self_employment_income %></div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person expect to have other types of income in <%= current_year %>
                  ?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_other_income %></div>
              </div>
            </div>


            <div class="form-bottom-border">
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">Deductions</div>
                <div class="col-md-1">
                  <% if applicant.deductions.present? %>
                      <%= link_to financial_assistance_application_applicant_deductions_path(@application, applicant) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% else %>
                      <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, applicant, 1) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% end %>
                </div>
              </div>

              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person expect to have adjustments to income in <%= current_year %>? *
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_deductions %></div>
              </div>
            </div>


            <div class="form-bottom-border">
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11">Health Coverage</div>
                <div class="col-md-1">
                  <% if applicant.benefits.present? %>
                      <%= link_to financial_assistance_application_applicant_benefits_path(@application, applicant) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% else %>
                      <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, applicant, 1) do %>
                          <i class="glyphicon glyphicon-pencil grey-font"></i>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Is this person currently enrolled in health coverage?</div>
                <div class="col-md-6"><%= human_boolean applicant.has_enrolled_health_coverage %></div>
              </div>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">Does this person currently have access to other health coverage, including through
                  another person?
                </div>
                <div class="col-md-6"><%= human_boolean applicant.has_eligible_health_coverage %></div>
              </div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
              <div class="col-md-11">OTHER QUESTIONS</div>
              <div class="col-md-1">
                <%= link_to other_questions_financial_assistance_application_applicant_path(@application, applicant) do %>
                    <i class="glyphicon glyphicon-pencil grey-font"></i>
                <% end %>
              </div>
            </div>
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Is the Person pregnant?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_pregnant %></div>
            </div>
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Is the Person blind?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_self_attested_blind %></div>
            </div>
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does this person need help with daily life activities, such as dressing or
                bathing?
              </div>
              <div class="col-md-6"><%= human_boolean applicant.has_daily_living_help %></div>
            </div>
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does this person need help paying for any medical bills from the last 3 months?
              </div>
              <div class="col-md-6"><%= human_boolean applicant.has_daily_living_help %></div>
            </div>
            <!--   <div class="row row-form-wrapper ptb no-buffer row-height form-content">
            <div class="col-md-6">Does this person have Disability?</div>
            <div class="col-md-6"><%= human_boolean applicant.person.is_physically_disabled %></div>
          </div> -->
            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Has this person ever been in foster care?</div>
              <div class="col-md-6"><%= human_boolean applicant.is_former_foster_care %></div>
            </div>
          </div>
        </div>
        <br>
    <% end %>
  </div>
</div>

<div class='col-md-2'>
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
      previous_url: edit_financial_assistance_application_path(@application),
      next_url: go_to_step_financial_assistance_application_path(@application, 1)
  } %>
</div>
