<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
     <div class="container plan_design_proposals">
      <%= render 'shared/engines/horizontal_status', step:2, links: [
                      sponsored_benefits.edit_organizations_plan_design_organization_plan_design_proposal_path(@plan_design_organization, @plan_design_proposal),
                      sponsored_benefits.new_organizations_plan_design_proposal_plan_selection_path(@plan_design_proposal)
                      ] %>
      <%= form_for plan_design_form, url: {action: "create", controller: '/sponsored_benefits/organizations/plan_design_proposals'} do |f| %>
        <%= render 'plan_selection_form', f: f %>
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Return to Quote Management', url_for(:back), class:'btn btn-primary' %>
            <div class="pull-right">
              <%= f.submit "Save Quote", id: "submitPlanDesignProposal", class:'btn btn-primary' %>
              <%= button_tag "Copy Quote", id: "copyPlanDesignProposal", class:'btn btn-primary' %>
              <%= button_tag "Review Quote", id: "reviewPlanDesignProposal", class:'btn btn-primary' %>
              <%= button_tag "Publish Quote", id: "publishPlanDesignProposal", class:'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
