<h3> General Agency Staff</h3>

<% if ga_staff %>
  <div class="table-border">
    <table class="table">
      <thead>
        <th><%= l10n("first_name")%></th>
        <th><%= l10n("last_name")%></th>
        <th><%= l10n("email")%></th>
        <th><%= l10n("phone")%></th>
        <th><%= l10n("status")%></th>
        <th><%= l10n("remove_role")%></th>
      </thead>
      <% ga_staff.each do |staff_member| %>
            <tbody>
              <td><%= staff_member.first_name.capitalize %></td>
              <td><%= staff_member.last_name.capitalize %></td>
              <td><%= staff_member.work_email_or_best %></td>
              <td><%= staff_member.work_phone %></td>
              <td>
                <%= staff_member.has_pending_ga_staff_role?(@general_agency_profile.id) ? "Pending" : "Active"%>
                <%= staff_member.user_id ? ' Linked  ' : ' Unlinked  ' %>
                <% if staff_member.has_pending_ga_staff_role?(@general_agency_profile.id) %>
                  <%= render "staff_approval_modal", staff: staff_member %>
                  <%= link_to "approve", ('javascript:;'), class: "approve disable-link", data: {toggle: "modal", target: "#ga_staff_approval_#{staff_member.id}"} %>
                <% end %>
              </td>

              <td>
                <% if current_user.has_hbx_staff_role? || current_user.person.general_agency_primary_staff.present? %>
                  <%=  link_to(
                          profiles_general_agencies_general_agency_staff_role_path(
                          profile_id: @general_agency_profile.id, person_id: staff_member.id
                      ),
                      :id => "destroy",
                      hidden: !can_show_destroy_for_ga?(staff_member, ga_staff.count),
                      method: 'delete') do %>
                       <i class="far fa-trash-alt fa-2x role-trashcan right center"></i>
                  <% end %>
                <% end %>
              </td>

            </tbody>
      <% end %>
    </table>
  </div>
<% end %>

<%= link_to 'Add General Agency Staff Role', new_profiles_general_agencies_general_agency_staff_role_path(profile_id:@general_agency_profile.id), disabled: disable_edit_general_agency?(current_user), id: "add_staff", remote: true, class: 'btn btn-default pull-left col-12' %>

<script>
  var disable = <%= disable_edit_general_agency?(current_user) %>

  if (disable){
    $('.disable-link').css({'pointer-events': 'none', 'opacity': 0.5})
  }
</script>
