<div class="container bottom-pd">
  <h3><%= l10n("general_agency")%> : <%= @general_agency_profile.organization.legal_name %></h3>
  <% if current_user.has_general_agency_staff_role? || current_user.has_hbx_staff_role? %>
    <%= link_to "Edit General Agency Profile", edit_profiles_registration_path(@general_agency_profile.id), class: 'btn btn-primary ' %>
  <% end %>
  <p></p>
  <div class="table-border table-responsive">
    <table class="table">
      <thead>
        <th><%= l10n("legal_name")%></th>
        <th><%= l10n("dba")%></th>
        <th><%= l10n("fein").to_s.titleize%></th>
        <th><%= l10n("market_kind")%></th>
      </thead>
      <tbody>
        <td><%= @general_agency_profile.organization.legal_name %></td>
        <td><%= @general_agency_profile.organization.dba %></td>
        <td><%= @general_agency_profile.organization.fein %></td>
        <td><%= @general_agency_profile.market_kind.to_s.titleize %></td>
      </tbody>
    </table>
  </div>

  <%#= render "benefit_sponsors/profiles/general_agencies/general_agency_profiles/genral_agency_contacts", broker_agency_contacts: @general_agency_profile.genral_agency_contacts %>
  <%= render "benefit_sponsors/profiles/general_agencies/general_agency_profiles/office_locations", office_locations: @general_agency_profile.office_locations %>
</div>
