<h4 class="hidden js-question-text">Question:
  <span></span>
</h4>
<span >
  <%= f.text_field :content, class: "form-control create-question-form", placeholder: 'Question', autocomplete: :off , data: {action: "focusout->qle#showQuestion"} %>
</span>
<div class='container js-question-type hidden'>
  <h5>Please select the type of answer that is expected for this question</h5>
  <%= label_tag "Date"%>
  <%= f.radio_button :type, :date, data: { action: 'qle#showAnswer' } %>
  </p>
  <p>
  <%= label_tag "Multiple Choice"%>
  <%= f.radio_button :type, :multiple_choice, data: { action: 'qle#showAnswer' } %>
  </p>
  <p>
  <%= label_tag "True/False"%>
  <%= f.radio_button :type, :boolean, data: { action: 'qle#showAnswer' } %>
  </p>

  <%= f.fields_for :answer, f.object.new_answer do |answer_field| %>
    <div class="row">
      <%= render partial: "answer", locals: { f: answer_field } %>
    </div>
  <% end %>
</div>
