<%= javascript_pack_tag 'qle_form', 'data-turbolinks-track': 'reload' %>
<div class="container"  >
  <div id='custom-sep-container' data-controller="qle">
    <%= form_for @qle, url:  qles_path , method: "post", class: "form" do |f| %>
      <div class='row'>
        <h4 class='col-md-6' >Create a Qualifying Life Event</h4>
      </div>
      <div class='row'>
        <div class = 'col-md-6'>
          <span> <%= f.text_field :title, class: "form-control-custom-qle", placeholder: 'Title', autocomplete: :off %></span>
        </div>
      </div>
      <div class= "row">
        <div class = 'col-md-6'>
        <span> <%= f.text_field :event_kind_label, class: "form-control-custom-qle", placeholder: 'Event Kind Label', autocomplete: :off %></span>
        </div>
      </div>
      <div class ='row' >
        <div class='col-md-6'>
          <span> <%= f.text_field :tool_tip, class: "form-control-custom-qle", placeholder: 'Tool tip text', autocomplete: :off %></span>
        </div>
      </div>
      <div class='row'>
        <div class ='col-md-6'>
          <span> <%= f.text_field :reason, class: "form-control-custom-qle", placeholder: 'Reason', autocomplete: :off %></span>
        </div>
      </div>
      <div class='row'>
        <div class ='col-md-6 create-question-form'>
          <p><%= label_tag "Visibility" %><p>
          <p><%= label_tag "Self Service" %>
          <%= f.radio_button :visibility, :self_service %></p>
          <p><%= label_tag "Admin Only" %>
          <%= f.radio_button :visibility,:admin_only %></p>
        </div>
      </div>
      <a data-action="qle#showQuestions" id="qle-question-form">Create Attestation for this QLE</a>
      <div id="question-container" data-target="qle.questionContainer" class="question-container hidden">
        <% @qle.questions.each do |question| %>
          <%= f.fields_for :questions, question do |question_fields| %>
            <div class='row js-question'>
              <div class ='col-md-6'>
                <%= render partial: "question", :locals => { f: question_fields } %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= f.fields_for :questions, @qle.new_question do |question_fields| %>
          <div data-target="qle.question" class="hidden row">
            <div class='col-md-6 create-question-form'><%= render partial: "question", :locals => { f: question_fields } %></div>
          </div>
        <% end %>
        <div class='row'>
          <div class="col-md-6 hidden create-question-form" id="create-question-text" ><a data-action="qle#addQuestion" >Create a new Question</a></div>
        </div>
      </div>
      <div class='row create-question-form'>
        <div class="col-md-6">
          <h5 class=""><%= label_tag "Effective on Options" %></h5>
          <p><%= label_tag "Date of Event" %>
           <%= check_box_tag "Date of Event" %></p>
          <p><%= label_tag "First of Next Month" %>
           <%= check_box_tag "First of Next Month" %></p>
          <p><%= label_tag "First of Month" %>
           <%= check_box_tag "First of Month" %></p>
          <p><%= label_tag "Fixed First of Next Month" %>
           <%= check_box_tag "Fixed First of Next Month" %></p>
          <p><%= label_tag "Next 15 of the Month" %>
           <%= check_box_tag "Next 15 of the Month" %></p>
          <p><%= label_tag "Exact Date" %>
           <%= check_box_tag "Exact Date" %></p>
          <p><%= label_tag "Date Options Available" %>
           <%= check_box_tag "Date Options Available" %></p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.text_field :start_on, class: " form-control-custom-qle uidatepicker", placeholder: 'Available from', autocomplete: :off %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
        <span> <%= f.text_field :end_on, class: " form-control-custom-qle uidatepicker ", placeholder: 'Available until', autocomplete: :off %></span>
        </div>
      </div>
      <div class='row'>
        <div class ='col-md-6 create-question-form'>
          <p><%= label_tag "Is Self Attested" %><p>
          <p><%= label_tag "Yes" %>
          <%= f.radio_button :is_self_attested, :self_service %></p>
          <p><%= label_tag "No" %>
          <%= f.radio_button :is_self_attested,:admin_only %></p>
        </div>
      </div>
      <div class="row no-buffer child-row">
        <div class="col-md-12 no-pd col-sm-12 col-xs-12">
          <%= f.submit "Submit", :class => "btn btn-primary create_eligibility", id: 'create_eligibility', :size => '100px'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(".uidatepicker").datepicker({maxDate: "-1D", changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy',  yearRange: (new Date).getFullYear()-110 + ":" + (new Date).getFullYear()});
</script>

