<%= javascript_pack_tag 'qle_form', 'data-turbolinks-track': 'reload' %>
<div class="container"  >
  <div id='custom-sep-container' data-controller="qle">
    <%= form_for @qle, url:  qles_path , method: "post", class: "form" do |f| %>
      <div >
        <div class='row'>
          <h4 class= 'col-md-6'>Create a Qualifying Life Event</h4>
        </div>
        <div>
          <div class='row'>
            <div class = 'col-md-6'>
              <span> <%= f.text_field :title, class: "form-control-custom-qle", placeholder: 'Title', autocomplete: :off %></span>
            </div>
          </div>
          <div class= "row">
            <div class = 'col-md-6'>
            <span> <%= f.text_field :event_kind_label, class: "form-control-custom-qle", placeholder: 'Event Kind Label', autocomplete: :off %></span>
            </div>
          </div>
          <div class ='row' >
            <div class='col-md-6'>
              <span> <%= f.text_field :tool_tip, class: "form-control-custom-qle", placeholder: 'Tool tip text', autocomplete: :off %></span>
            </div>
          </div>
          <div class='row'>
            <div class ='col-md-6'>
              <span> <%= f.text_field :reason, class: "form-control-custom-qle", placeholder: 'Reason', autocomplete: :off %></span>
            </div>
          </div>
          <div class='row'>
            <div class ='col-md-6'>
              <%= label_tag "Visibility" %>
              <%= f.select :visibility, { 'User Self Service' => :user_self_service, "Admin Only" => :admin_only } %>
            </div>
          </div>
          <%= link_to "Create Attestation for this QLE", nil , data: { action: "qle#showQuestions" } %>
          <div id="question-container">
            <% @qle.custom_qle_questions.each do |question| %>
              <%= f.fields_for :custom_qle_questions, question do |question_fields| %>
                <div class='row'>
                  <div class ='col-md-6'>
                    <%= render partial: "question", :locals => { f: question_fields } %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= f.fields_for :custom_qle_questions, @qle.custom_qle_questions.build do |question_fields| %>
              <div data-target="qle.question" class="hidden row">
                <div class='col-md-6'><%= render partial: "question", :locals => { f: question_fields } %></div>
              </div>
            <% end %>
            <div class='row'>
              <div class ='col-md-6'><a data-action="qle#addQuestion" >Create a new Question</a></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <%= f.text_field :start_on, class: " form-control-custom-qle uidatepicker", placeholder: 'Effective From', autocomplete: :off %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
            <span> <%= f.text_field :end_on, class: " form-control-custom-qle uidatepicker ", placeholder: 'Effective Until', autocomplete: :off %></span>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
            <span> <%= f.select :is_self_attested, ['Is Self Attested', 'yes', 'no'], class: " form-control-custom-qle  ", placeholder: 'Self Attested' %></span>
            </div>
          </div>
        </tbody>
      </table>
      <div class="row no-buffer child-row">
        <div class="col-md-12 no-pd col-sm-12 col-xs-12">
          <%= f.submit "Submit", :class => "btn btn-primary create_eligibility", id: 'create_eligibility', :size => '100px'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(".uidatepicker").datepicker({maxDate: "-1D", changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy',  yearRange: (new Date).getFullYear()-110 + ":" + (new Date).getFullYear()});
</script>

