<% @style_color_text = "style='color: #FF0000;'" %>
<% @style_underline = "style='text-decoration: underline;'" %>
<% @style_text_indent = "style='margin-left:30px;'" %>
<% @style_color_indent = "style='color:#ff0000; margin-left:30px;'" %>

<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Denial of Eligibility for <%= Settings.site.short_name %> Enrollment</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Thank you for the application you submitted and we processed on #{notice.enrollments[0].selected_on.strftime('%m/%d/%Y')}.
  Unfortunately, the following individual(s) are not qualified to enroll in health insurance through #{Settings.site.short_name} based on the information you provided to us."} %>

<% if notice.unverified_individuals.any? %>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.unverified_individuals.map(&:full_name).join("<br>")
} %>
<% end %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'Ineligibility for Assistance or Enrollment through #{Settings.site.short_name}', sub_heading: ''} %>

<% if notice.residency_unverified.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "The following individual(s) are not qualified to enroll through #{Settings.site.short_name} because they are not residents of the #{Settings.aca.state_name}. They are encouraged to submit another application for the state where they live. You can find these applications at <a href='http://www.HealthCare.gov'>www.HealthCare.gov</a>.
    45 C.F.R. §155.305(a)(3)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.residency_unverified.map(&:full_name).join("<br>")
} %>

<% end %>

<% if notice.incarcerated.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "The following individual(s) are not qualified to enroll through #{Settings.site.short_name} because they are in prison or jail serving a sentence. 45 C.F.R. §155.305(a)(2)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: notice.incarcerated.map(&:full_name).join("<br>")} %>

<% end %>

<% if notice.citizenship_unverified.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "The following individual(s) are not qualified to enroll through #{Settings.site.short_name} because our records did not indicate that they were a U.S. Citizen or had another qualifying immigration status.
 45 C.F.R. §155.305(a)(1)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.citizenship_unverified.map(&:full_name).join("<br>")
} %>

<% end %>


<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>Because the above individual(s) are not eligible for enrollment in coverage through #{Settings.site.short_name},
  they also cannot get tax credits or cost-sharing reductions through #{Settings.site.short_name}.</strong>  45 C.F.R. §155.305(f) & (g)."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Important information is stored in your account on the #{Settings.site.short_name} website.
    If you don’t have an account already, you can create one by going to <a href='http://www.DCHealthLink.com'>#{Settings.site.website_name}</a>.
    You can get help with logging in or creating an account by calling #{Settings.contact_center.name} toll-free at #{Settings.contact_center.phone_number}."],
    heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["If you disagree with any determination about the amount or type of health care coverage benefits you or any of the other person in your household was found
    eligible for, you have the right to appeal the determination(s). You may request an appeal by phone, in person, online, and by mail.
    You must request an appeal <strong>by #{(TimeKeeper.date_of_record + 95.days).strftime('%m/%d/%Y')}</strong>.  45 C.F.R. §155.520.
    <strong>See the insert for more information on your appeal rights.</strong>"],
    heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
