<% @style_color_text = "style='color: #FF0000;'" %>
<% @style_underline = "style='text-decoration: underline;'" %>
<% @style_text_indent = "style='margin-left:30px;'" %>
<% @style_color_indent = "style='color:#ff0000; margin-left:30px;'" %>

<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Confirmation of Health Plan Selection</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "As we previously notified you, you and/or members of your household are eligible to enroll in a
  health insurance plan through #{site_short_name} and receive tax credits to help pay for the cost of your insurance."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["On [date of plan selection], the following individual(s) selected the [plan 1 name] insurance plan"],
    heading: 'Your Health Plan Selection', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_text_indent}>[Plan 1 Enrollee First Name][Plan 1 Enrollee Last Name]</span>
  <span #{@style_color_indent}>[IF More than One Enrollee in Plan 1]</span><br>
  <span #{@style_text_indent}>[Plan 1 Enrollee 2 First Name][Plan 1 Enrollee 2 Last Name]</span>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You will start getting insurance benefits through [plan name] on [coverage effective date],
  as long as you make the first premium payment by the due date. You will receive an invoice directly from
  your plan within 3 – 10 business days and the due date for the first premium will be listed on the invoice.
  If you get any health care services before [coverage effective date], you may have to pay the costs for those
  services on your own if you have not yet paid your premium."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[IF More than One Plan Selected]</span>  Additionally, the following individual(s) selected the
  [plan N name] insurance plan."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_text_indent}>[Plan N Enrollee First Name][Plan N Enrollee Last Name]</span>
  <span #{@style_color_indent}>[IF More than One Enrollee in Plan N]</span><br>
  <span #{@style_text_indent}>[Plan N Enrollee 2 First Name][Plan N Enrollee 2 Last Name]</span>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You will start getting benefits through [plan name] on [coverage effective date], as long as you
  make the first premium payment by the due date. You will receive an invoice directly from your plan within
  3 – 10 business days and the due date for the first premium will be listed on the invoice. If you get any
  health care services before [coverage effective date], you may have to pay the costs for those services on
  your own if you have not yet paid your premium."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You will get your new insurance ID card and other information about your benefit card shortly
  from your health plan(s) (if you have not received it already). For any questions about your health plan’s
  covered services and providers, you need to contact:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_text_indent}>[plan 1 name] at [plan 1 main phone number]</span>
  <span #{@style_color_indent}>[IF More than One Plan Selected]</span> [plan N name] at [plan N main phone number]"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Important information is stored in your account on the #{site_short_name} website.
    If you don’t have an account already, you can create one by going to #{site_home_link.html_safe}.
    You can get help with logging in or creating an account by calling #{site_short_name} Customer
    Service toll-free at #{contact_center_phone_number}."],
    heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'What You Must Pay Each Month', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["You qualified for a maximum monthly premium tax credit of: $ [maximum tax credit amount]",
  "You chose to take a monthly premium tax credit of:  $ [Selected APTC]"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[Plan 1]</span><br><br>
  Your monthly premium cost is as follows: "} %>

<table>
  <tr>
    <td>Monthly premium:</td>
    <td>«M_2016_Health_Plan_Premium»</td>
  </tr>
  <tr>
    <td>Monthly premium tax credit:</td>
    <td>–«applied APTC»</td>
  </tr>
  <tr>
    <td><strong>Your monthly premium:</strong> </td>
    <td><strong>«HP_Premium_After_APTC»</strong></td>
  </tr>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[IF More than One Plan Selected; Plan N]</span><br><br>
  Your monthly premium cost is as follows: "} %>

<table>
  <tr>
    <td>Monthly premium:</td>
    <td>«M_2016_Health_Plan_Premium»</td>
  </tr>
  <tr>
    <td>Monthly premium tax credit:</td>
    <td>–«applied APTC»</td>
  </tr>
  <tr>
    <td><strong>Your monthly premium:</strong> </td>
    <td><strong>«HP_Premium_After_APTC»</strong></td>
  </tr>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>If you do not make your monthly premium payments on time, you could lose your health insurance. </strong>
  45 C.F.R. 155.430(b)(2)(ii). You will receive a separate invoice with instructions on how to make that payment.
  <strong>You must pay your premiums directly to the health plan or dental plan <span style='text-decoration:underline;'>by the date indicated on that invoice.</span></strong>
  #{site_short_name} is not responsible for collecting your premiums.  Additionally, any auto-payments you may have previously
  established with the carrier prior to enrolling through #{site_short_name} will not carry-over; you must make new payment arrangements."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "The fastest way to pay the premium is by calling the health plan or dental plan directly at the numbers listed below.
  <span style='text-decoration:underline;'>Call these numbers to ensure your premium is paid even if you have not received an invoice.</span>"} %>

<%= render partial: 'notices/shared/table', locals: {rows: [['CareFirst', '(855) 444-3119'],['Kaiser', '(866) 475-3925'],
  ['Delta Dental ', '(800) 471-0236'], ['Dentegra Dental ', '(800) 471-0284'], ['Dominion Dental ', '(888) 518-5338']],
  col_styles: ['width: 50%;', 'width: 50%; text-align: center;'], table_width: '70%'} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "As a reminder, your premium tax credits are based on your expected annual income. If at the end of the year,
  your income is higher than expected, you will have to pay back the extra premium tax credits you received. If your income is
  lower than expected, you will receive a refund for the difference. If you know your income is changing, it may be in your best
  interest to increase or decrease your premium tax credit amount. If you would like to make a change to your premium tax credit amount,
  call the #{contact_center_name} toll-free at #{contact_center_phone_number}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["[PICK ONE]"],
    heading: 'What You Must Pay When You Receive Health Services', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["<span #{@style_color_text}>[IF Indian = No AND CSR-eligible AND Enrolled in Silver Plan]</span>
  The following members of your household are eligible for cost-sharing reductions and selected a silver-level plan:<br><br>
  [Assisted 1 and CSR-eligible and Enrolled in a Silver Plan First Name][Assisted 1 and CSR-eligible and Enrolled in a Silver Plan First Name]
  [IF Person N field populated] [Assisted N and CSR-eligible and Enrolled in a Silver Plan First Name][Assisted N and CSR-eligible and Enrolled
  in a Silver Plan First Name]<br><br>
  Because the above individual(s)are eligible for extra help paying for your health insurance through cost-sharing reductions,
  and you selected a silver-level plan, the total amount [Plan Name]  can require you pay for health services in [coverage year] is reduced.
  A detailed explanation of your costs and benefits can be found in your plan’s Summary of Benefits and Coverage available on #{site_home_link.html_safe}.
  This information will include your deductible, or the amount you must pay for health services before your plan will begin paying the
  costs of your health services. Certain services will be covered even before you have paid the deductible.",
  "<span #{@style_color_text}>[IF Indian=No AND CSR-eligible NOT enrolled in Silver Plan]</span>
  Based on the information you entered on your application, renewal form, or otherwise available in our data sources,
  the following members of your household <span style='text-decoration:underline;'>are</span> eligible for extra help paying for your health insurance through cost-sharing reductions,
  <span style='text-decoration:underline;'>but will not receive that help because they did not enroll in a silver-level plan.</span>
  45 C.F.R. §155.305(g): <br><br>
  [CSR-eligible Not Indian Not Silver First Name 1][CSR-eligible Not Indian Not Silver Last Name]<br><br>
  <span #{@style_color_text}>[IF Person N field populated]</span>
  [CSR-eligible Not Indian Not Silver First Name][CSR-eligible Not Indian Not Silver Last Name]<br><br>
  A detailed explanation of your costs and benefits can be found in your plan’s Summary of Benefits and Coverage on #{site_home_link.html_safe}.
  This information will include your deductible, or the amount you must pay for health services before your plan will begin
  paying the costs of your health services. Certain services will be covered even before you have paid the deductible.",
  "<span #{@style_color_text}>[IF Indian=No AND Not CSR-eligible]</span> Based on the information you entered on your application,
  renewal form, or otherwise available in our data sources, the following members of your household are not eligible for
  extra help paying for your health insurance through cost-sharing reductions. 45 C.F.R. §155.305(g):<br><br>
  [Assisted 1 and Not CSR-eligible First Name][Assisted 1 and Not CSR-eligible Last Name]<br><br>
  <span #{@style_color_text}>[IF Person N field populated]</span> [Assisted N and Not CSR-eligible First Name][Assisted N and Not CSR-eligible Last Name]<br><br>
  A detailed explanation of your costs and benefits can be found in your plan’s Summary of Benefits and Coverage available on #{site_home_link.html_safe}.
  This information will include your deductible, or the amount you must pay for health services before your plan will begin paying the
   costs of your health services. Certain services will be covered even before you have paid the deductible.",
  "<span #{@style_color_text}>[IF Indian=Yes AND MAGI≤300% FPL]</span> Based on their American Indian status, the following members of
  your household are also eligible for extra help paying for health insurance through cost-sharing reductions:<br><br>
  [American Indian 1 Under 300 First Name>][American Indian 1 Under 300 Last Name]
  <span #{@style_color_text}>[IF Person N field populated]</span> [American Indian N Under 300 First Name][American Indian N Under 300 Last Name]<br><br>

  As American Indians, the above individual(s) do not need to pay any co-payments, deductibles, or co-insurance for the health
    services that your plan covers. <span style='text-decoration:underline;'>However, you must still pay your portion of the monthly premiums.</span>",
  "<span #{@style_color_text}>[IF Indian=Yes AND MAGI>300% FPL]</span> The following members of your household are eligible for
  reduced cost-sharing, because of their American Indian status, when receiving services at Indian Health Service facilities:<br><br>
  [American Indian 1 Over 300 First Name][American Indian 1 Over 300 Last Name]
  <span #{@style_color_text}>[IF Person N field populated]</span> [American Indian N Over 300 First Name][American Indian N Over 300 Last Name]<br><br>
  Otherwise, the total amount [Plan Name] can require you to pay for health services in [coverage year] the same as non-Indians.
  A detailed explanation of your costs and benefits can be found in your plan’s Summary of Benefits and Coverage available on
  #{site_home_link.html_safe}. This information will include your deductible, or the amount you
  must pay for health services before your plan will begin paying the costs of your health services.
    Certain services will be covered even before you have paid the deductible."]} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["You will be able to change plans during the annual open enrollment period at the end of each year.
    45 C.F.R. §155.410(e). You can get the date of the next open enrollment period by going to #{site_home_link.html_safe}
    or calling #{contact_center_name} at #{contact_center_phone_number}. If you have a change in circumstances during [coverage year], you may also
    qualify for a special enrollment period during which you can change your plan.  Changes in circumstances include: "],
    heading: 'Changing Plans', sub_heading: ''} %>


<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["Getting married", ["Changes in your household size", ["New birth or adoption", "Death", "New tax dependents"]],
  "A change in income for you or others in your household.", "A change in the immigration status of your household members",
  "A material violation of your health or dental plan contract by your plan sponsor",
  "Becoming eligible for Medicaid, employer-sponsored insurance, or other insurance outside of #{site_short_name}."]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "45 C.F.R. §155.420"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["You have the right to terminate your health insurance coverage. You can terminate your coverage by
    logging into your account on #{site_home_link.html_safe} or by calling #{contact_center_name}
    toll-free at #{contact_center_phone_number}. You need to tell us at least fourteen (14) days before you want your coverage to end.<br><br>
   Your health insurance may also be terminated without your request if you don’t pay your premiums or if our data indicates
   that the information you put on your application has changed and you are no longer eligible for coverage.
   If your health insurance is going to be terminated without your request because it has been determined that you are no
   longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided
   with information about how to contest the decision."],
    heading: 'Ending Your Health Insurance Coverage', sub_heading: ''} %>
