<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Conditional Eligibility for Health Insurance, Confirmation of Plan Selection</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<b>Congratulations!</b>  Based on the health insurance application you submitted on #{notice.enrollments[0].selected_on.strftime('%m/%d/%Y')}:"} %>

<% if notice.verified_individuals.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "The following person(s) qualify for health coverage through #{contact_center_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.verified_individuals.map(&:full_name).join("<br>")
} %>

<% end %>

<% if notice.unverified_individuals.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "The following person(s) conditionally qualify for health coverage through #{contact_center_name}. "} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.unverified_individuals.map(&:full_name).join("<br>")
} %>

<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Your eligibility has been approved <strong>conditionally</strong> until the discrepancies between the information you provided and our records have been resolved. To resolve these discrepancies, <u>we need documentation from you</u>. (See sections below).  If you do not provide this information, <u>your health insurance may be cancelled</u>."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["On #{notice.enrollments[0].selected_on.strftime('%m/%d/%Y')}, the following individual(s) selected the #{notice.enrollments[0].plan_name} health insurance plan."], heading: 'Your Private Health Plan Selection', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: notice.enrollments[0].enrollees.join("<br>") } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You will start getting health insurance benefits through #{notice.enrollments[0].plan_name} on #{notice.enrollments[0].effective_on.strftime('%m/%d/%Y')}, as long as you make the first premium payment by the due date. You will receive an invoice directly from your plan within 3 – 10 business days and the due date for the first premium will be listed on the invoice. If you get any health care services before #{notice.enrollments[0].effective_on.strftime('%m/%d/%Y')}, you may have to pay the costs for those services on your own if you have not yet paid your premium."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "For any questions about your health plan’s covered services and providers, you need to contact:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "#{notice.enrollments[0].plan_name} at [plan 1 main phone number]"} %>

<% notice.other_enrollments.each do |enrollment| %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Additionally, the following individual(s) selected the #{enrollment.plan_name} health insurance plan."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: enrollment.enrollees.join("<br>") } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You will start getting health insurance benefits through #{enrollment.plan_name} on #{enrollment.effective_on.strftime('%m/%d/%Y')}, as long as you make the first premium payment by the due date. You will receive an invoice directly from your plan within 3 – 10 business days and the due date for the first premium will be listed on the invoice. If you get any health care services before #{enrollment.effective_on.strftime('%m/%d/%Y')}, you may have to pay the costs for those services on your own if you have not yet paid your premium."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "For any questions about your health plan’s covered services and providers, you need to contact:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "#{enrollment.plan_name} at [plan N main phone number]"} %>

<% end %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: [""], heading: 'What You Must Pay Each Month', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>#{notice.enrollments[0].plan_name}</u>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Your Total Monthly Premium Cost:
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    $ [Plan 1 Consumer Monthly Premium]"] } %>
<% notice.other_enrollments.each do |enrollment| %>
<% link_text = "Summary of Benefits and Coverage" %>
<% link_text = "Plan Summary" unless enrollment.coverage_kind == "health" %>
<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>#{enrollment.plan_name}</u>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Your Total Monthly Premium Cost:
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    $ [Plan N Consumer Monthly Premium]"] } %>
<% end %>
<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>If you do not make your monthly premium payments on time, you could lose your health insurance</strong>. 45 C.F.R. 155.430(b)(2)(ii). You will receive a separate invoice with instructions on how to make that payment. <strong>You must pay your premiums directly to the health plan or dental plan <b>by the date indicated on that invoice</b></strong>.  #{contact_center_name} is not responsible for collecting your premiums.  Additionally, any auto-payments you may have previously established with the carrier prior to enrolling through #{contact_center_name} will not carry-over; you must make new payment arrangements."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "The fastest way to pay the premium is by calling the health plan or dental plan directly at the numbers listed below.  <u>Call these numbers to ensure your premium is paid even if you have not received an invoice.</u>"} %>

<%= render partial: 'notices/shared/table', locals: {
  headers: [],
  rows: [['CareFirst', '(855) 444-3119'],
         ['Kaiser', '(866) 475-3925'],
         ['Aetna', '(855) 586-6959'],
         ['Delta Dental', '(800) 471-0236'],
         ['Dentegra Dental', '(800) 471-0284'],
         ['Dominion Dental', '(888) 518-5338']],
  col_styles: ['width: 50%;', 'width: 50%;']} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You did not apply for cost-sharing reductions. 45 C.F.R. §155.305(g). Therefore, your deductible, out-of-pocket maximum, and co-payments are not reduced. A more detailed explanation of costs and benefits can be found in the plan’s #{link_text} available on #{site_home_link}."], heading: 'What You Must Pay When You Receive Health Services', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<b>To determine your continued eligibility for your health plan(s), you must provide documentation to confirm or update the information that you told us on your application.</b>"], heading: 'Documents Needed', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>We accept scanned or photocopied versions of all these documents.</u>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Here is the information that we need:"} %>

<% if notice.ssn_unverified.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong><i>Documents Showing Social Security Number</i></strong>. The Social Security Administration could not confirm that the Social Security Number provided for the following applicant household members is correct:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.ssn_unverified.map(&:full_name).join("<br>")
} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Under federal law, 45 C.F.R. §155.310(a)(3), we are required to obtain the Social Security Number of every person who is applying for #{contact_center_name}. We will only use your Social Security Number to verify the information you told us on your application. We will check your information in the District and Federal databases, and the databases of other District, Federal agencies, and a consumer reporting agency."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can use a Social Security card to verify the Social Security Number(s) you provided to us.  If you do not have a Social Security Number or cannot remember you social security number, we can help you obtain one. You may not need to provide a Social Security Number if you have a well-established religious objection. If you need help or have any questions, please contact #{contact_center_name} at #{contact_center_phone_number}."} %>

<% end %>


<% if notice.citizenship_unverified.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong><i>Documents of Citizenship or Immigration Status</i></strong>. We need proof of the U.S. citizenship or immigration status for the following applicant household members is correct:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.citizenship_unverified.map(&:full_name).join("<br>")
} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Two types of documentation are accepted to confirm citizenship/immigration status.  We call the two types “primary” and “secondary”. If you provide primary documentation, no other documents are required. If you provide secondary documentation, other identification (ID) is required for verification. Secondary documentation must be accompanied with an identification card containing a recent photo and other identifying information."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>Primary documentation</u>:  (Only One (1) is needed) "} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  [["U.S. Passport", ["<i>Note</i>: Expired passports are acceptable."]],
   "Certificate of Naturalization",
   "Certificate of Citizenship",
   "Consular report of Birth Abroad of U.S. Citizen",
   "A valid Driver’s License from a state that requires proof of citizenship and verification of Social Security Number prior to issuance of the license",
   ["A tribal document issued by a federally-recognized Indian Tribe, which must:",
      ["Identify the Tribe issuing the document;",
        "Identify the individual by name; and",
        "Confirm the individual’s enrollment in or affiliation with the Tribe.",
        "<strong>Examples:</strong> Tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document"]]
  ] } %>

  <%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>Secondary documentation</u>:  (Must Present One (1) of the following, along with ID)"} %>

  <%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["A U.S. birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain’s Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana Islands.  If born in the Puerto Rico, the Virgin Islands, or CNMI prior to the time these areas became part of the U.S., the individual will satisfy the citizenship requirement if he or she is a collectively naturalized citizen.",
    "A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands  before November 4, 1986",
    "A certification of Report of Birth, issued to U.S. citizens born outside the U.S.",
    "A Report of Birth Abroad of a U.S. Citizen",
    "A Certification of Birth",
    "A U.S. Citizen I.D. Card",
    "A final adoption decree showing the child’s name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the child’s name and U.S. place of birth",
    "Evidence of U.S. Civil Service employment before June 1, 1976",
    "U.S. Military Record showing a U.S. place of birth",
    "A data match with the SAVE Program or any other process established by the Department of Homeland Security to verify that an individual is a citizen",
    "Documentation that a child meets the requirements of §101 of the Child Citizenship Act ",
    "Medical records that indicate a U.S. place of birth",
    "Life, health, or other insurance record that indicates a U.S. place of birth",
    "Official religious record recorded in the U.S. showing that the birth occurred in the U.S.",
    "School records showing a U.S. place of birth",
    "Federal or State census record showing U.S. citizenship or a U.S. place of birth"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>Needed Information to Verify Other Immigration Status</u>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<b>The documents that you may be able to use to verify your immigration status include, but are not limited to:</b>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Lawful permanent resident card (DHS Form I-551)",
    "Arrival/Departure Record (DHS Form I-94)",
    "Temporary I-551 Stamp in a foreign passport or on an I-94 card",
    "Refugee Travel Document (DHS Form I-571)",
    "Employment Authorization Card (DHS Form I-766)",
    "Immigrant Visa (Temporary Resident Card) ",
    "Asylum grant order ",
    "Order from Immigration Judge showing that you were scheduled for deportation, but deportation has been withheld, suspended, or cancelled",
    "Documents showing that you have applied for an immigrant visa as a victim of domestic violence, and that your application has been approved or is pending",
    "Letter from the Office of Refugee Resettlement (for Victims of Trafficking)",
    "Documents showing Honorable Discharge from the military (DD Form 214)",
    "Documents showing current active duty military service (DD Form 2 (Active)"] } %>

<% end %>


<% if notice.residency_unverified.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong><i>Documents Showing D.C. Residency</i></strong>. A document that shows that the following household members live in the #{aca_state_name}:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.residency_unverified.map(&:full_name).join("<br>")
} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This can include;"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Current Driver License",
    "Current Lease (signed within the last year)",
    "Current Rent Receipt/Mortgage Statement",
    "Current Utility Bill",
    "Current Letter from Landlord"] } %>

<% end %>


<% if notice.indian_conflict.any? %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong><i>American Indian Status</i></strong>. On your application, you indicated the following individual(s) were American Indian."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: notice.indian_conflict.map(&:full_name).join("<br>")
} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Please provide one of the following documents to confirm this status."} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  [["Any formal documentation from a tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian status. Examples of such verifications include, but are not limited to the following:",
      ["A document issued by a federally-recognized American Indian/Alaska Native tribe, such as an enrollment or membership card, a tribal census document, or a document issued by a tribe indicating the person’s affiliation with the Tribe;",
        "A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian; and",
        "A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian."]]] } %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  [["For Indians born outside of the United States, we will accept the following documents:",
      ["A Form I-94 with a notation of “S1-3”;",
        "I-551 Permanent Resident Card stamped “S1-3” ;",
        "Temporary I-551 stamp coded “S1-3” in a Canadian passport;",
        "A Tribal Record or document certifying at least 50% American Indian blood, as required by Section 289 of the Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as the following: Birth certificate or Baptismal; Certificate issued on a reservation; Letter from Canadian Department of Indian Affairs; or School Records."]]] } %>

<% end %>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You can send the necessary documents either online, through U.S. Postal mail, or in-person."], heading: 'How to Send the Documents Requested', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Online:  Log into your account on DCHealthLink.com. You can upload a scanned copy of the document.",
    "U.S. Postal Mail  -   #{contact_center_name}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Department of Human Services<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    P.O. Box 91560<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Washington, DC 20090<br><br>
    <i>Be sure to write your account number ([account number]) on your submission.</i>",
    "<b>In-Person</b> – Take the document(s) to any Economic Security Administration Office (call the #{contact_center_name} at (855) 532 5465 for locations)."
       ] } %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["We need the documents above <b>by [Date=Date of Notice +95 days]</b> in order to make a final decision on your eligibility for your health plan. If you do not provide the documents by this deadline, we will assume that our records are correct. <u>Your health insurance coverage may be terminated.</u>"], heading: 'How Soon We Need Your Documents', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you think you will not be able to submit the requested documentation <b>by [Date=Date of Notice +95 days]</b> due to circumstances outside of your control, please call #{contact_center_name} toll-free at #{contact_center_phone_number} (TTY/TDD 711).  If you truly have a special need, a Department of Human Services representative will work with you to complete the verification process."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You must report any changes that might affect you or your household member’s health coverage such as if:"], heading: 'Reporting Changes', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["You move;",
    "Your immigration status changes;",
    "You or a family member becomes incarcerated.",] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "45 C.F.R. § 155.330(b)"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "To report changes, you can log in to your account on #{site_home_link} or call #{contact_center_name} toll free at #{contact_center_phone_number}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You will be able to change plans during the annual open enrollment period at the end of each year.  45 C.F.R. §155.410(e). You can get the date of the next open enrollment period by going to #{site_home_link} or calling #{contact_center_name} at #{contact_center_phone_number}. If you have a change in circumstances during [coverage year], you may also qualify for a special enrollment period during which you can change your plan.  Changes in circumstances include: "], heading: 'Changing Plans', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Getting married",
   ["Changes in your household size",
      ["New Birth or Adoption",
       "Death",
       "New tax dependents"]],
   "A change in income for you or others in your household.",
   "A change in the immigration status of your household members",
   "A material violation of your health or dental plan contract by your plan sponsor",
   "Becoming eligible for Medicaid, employer-sponsored insurance, or other insurance outside of #{contact_center_name}."] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "45 C.F.R. §155.420"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You have the right to terminate your health insurance coverage. You can terminate your coverage by logging into your account on #{site_home_link} or by calling #{contact_center_name} toll-free at #{contact_center_phone_number}. You need to tell us at least fourteen (14) days before you want your coverage to end."], heading: 'Ending Your Health Insurance Coverage', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Your health insurance may also be terminated without your request if you don’t pay your premiums or if our data indicates that the information you put on your application has changed and you are no longer eligible for coverage. If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Important information is stored in your account on the #{contact_center_name} website.  If you don’t have an account already, you can create one by going to #{site_home_link}. You can get help with logging in or creating an account by calling #{contact_center_name} toll-free at #{contact_center_phone_number}."], heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<b>Annual Renewal</b>: #{contact_center_name} will notify you during the fall of each year if additional information is needed from you to renew your health insurance.  You can respond with new information if you believe any of the information we used is wrong. You can also pick a new plan during this time period if you want. 45 C.F.R. §155.335."], heading: 'Other Information', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal by <b>«Date of Notice+95 calendar days»</b>.   #{contact_center_name} will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve.  <b>See the insert for more information on your appeal rights.</b>  45 C.F.R. §155.520"], heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
