<table class="total_table address" border="0">
  <tbody>
    <tr class="fssize mar20">
      <td><%= notice.primary_fullname %></td>
    </tr>
    
    <tr class="fssize1">
       <td><%= notice.primary_address.street_1 %></td>
    </tr>
    <tr class="fssize1">
      <td><%= notice.primary_address.street_2 %></td>
    </tr>
    <tr class="fssize">
		<td><%= notice.primary_address.city %> <%= notice.primary_address.state %> <%= notice.primary_address.zip %></td>
    </tr>
     
  </tbody>
</table>
