<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Confirmation of Documents Received – Additional Documents Still Needed</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>Thank You!</strong>  We received the following requested documents on [date documents were received].
  [List of Pre-populated Documents Received]<br>
  [If Other Field Selected < A Free Response Field]<br>
  <span style='color:#ff0000;'>[If Inconsistencies (Other than the One related to submitted document) = YES]</span>"} %>

  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
    contents: ["We need the documents <strong>by [Date=Date of Notice +95 days]</strong> in order to make a final decision on your
      eligibility for your health plan and for tax credits. If you do not provide the documents by this deadline,
      we will assume that our records are correct.  <span style='text-decoration:underline;'>Your health insurance coverage and/or tax credits may be terminated.</span> "],
      heading: 'How Soon We Need Your Documents for Private Health Insurance', sub_heading: ''} %>




<%= render partial: 'notices/ivl/reminders_shared' %>
