<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop', :locals => {notice: notice} %>
<br>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
          <div class='mar10'><b>IMPORTANT NOTICE - KEEPING YOUR HEALTH INSURANCE</b></div><br/>
          <div><b>SECOND REMINDER - SUBMIT DOCUMENTS NEEDED BY <%= notice.due_date %></b></div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<table class="total_table" border="0">
  <tbody>
    <tr>
    <td><div> Dear <%= notice.first_name %>  :</div></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You submitted an application for health insurance through #{Settings.site.short_name} on #{notice.application_date.strftime("%m/%d/%Y")}, and recently enrolled in a plan. We're writing again to remind you that you must submit documents if you want to keep your health insurance.", top_margin: '10px'} %>

<h3><div class='mar10'>Send Us Documents</div></h3>

<% if notice.aqhp_enrollments.present? %>
  <%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "You need to send documents to #{Settings.site.short_name}. We need them to verify what you told us on your application. The deadline to return them is #{notice.due_date.strftime("%m/%d/%Y")}. You could lose your insurance or cost savings if you don't submit them by this deadline."} %>

  <%= render partial: 'notices/shared/unordered_list', :locals => { listings:
    ["The list of documents we need from you is at the end of this letter.",
      "We also tell you how to send them to us.",
      "We need your documents, by the deadline, to make a final decision on your eligibility for insurance and cost savings"]} %>
<%else%>
  <%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "You need to send documents to #{Settings.site.short_name}. We need them to verify what you told us on your application. The deadline to return them is #{notice.due_date}. You could lose your insurance or cost savings if you don't submit them by this deadline."} %>

  <%= render partial: 'notices/shared/unordered_list', :locals => { listings:
    ["The list of documents we need from you is at the end of this letter.",
      "We also tell you how to send them to us.",
      "We need your documents, by the deadline, to make a final decision on your eligibility for insurance."]} %>
<%end%>

<%= render partial: 'notices/shared/paragraph', locals:
  { content: "If you have questions or concerns, we're here to help."} %>

<%= render partial: 'notices/shared/paragraph', locals: {
 content: "The #{Settings.site.short_name} Team"} %>

