<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Your Request for Electronic Notices</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You are receiving this notice because you told us that you would like to receive notices from #{Settings.site.short_name} electronically.   We will post any notices meant for you to your online account within one (1) day of when the notice was created.   We will also send you an e-mail at <Primary E-mail> letting you know that the notice is ready to be viewed in your online account.  If you want to change the address where the e-mail is sent, you can make this change in your online account.".html_safe} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<span style='color: red;'>[If Paper Notices = No]</span> This means you will no longer receive paper versions of your notices.  If you want a paper version of any notice, you must go onto your online account at  <a href='www.DCHealthLink.com'>#{Settings.site.website_name}</a> and print out the electronic version.  You can also call #{Settings.contact_center.name} at #{Settings.contact_center.phone_number} and request that we mail a paper version of the notice to you.  The paper and electronic versions are always the same".html_safe], heading: 'Will I Still Get Paper Notices?', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If our e-mail notice to you is returned as undeliverable, we will put the notice in the U.S. Postal mail within three (3) business days.".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<span style='color: red;'>[If Paper Notices = Yes]</span> We will also continue to mail you paper versions of notices, though they will probably arrive after the notice is posted to your online account at <a href='www.DCHealthLink.com'>#{Settings.site.website_name}</a>.  The paper and electronic versions are always the same.".html_safe} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you want to stop receiving electronic notices, <span style='text-decoration: underline;'>or if you believe this selection was made in error</span>, you can change your selection at any time either by calling #{Settings.contact_center.name} at #{Settings.contact_center.phone_number} or online through your online account.   If you forgot your account User Name or Password, you can reset it online or by calling #{Settings.contact_center.name}.".html_safe], heading: 'If You Change Your Mind', sub_heading: ''} %>
