<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>

<%= render partial: 'notices/shared/ivl_logo', :locals => {notice: notice} %>
<br>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>ACTION REQUIRED – HEALTH COVERAGE ELIGIBILITY</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>
<br>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "You recently applied for help paying for health coverage through DC Health Link on #{TimeKeeper.date_of_record}. This letter will tell you:",
  listings: ["Your eligibility results",
             "What you need to do next",
             "How we made our decision",
             "What to do if you don’t agree with our decision, or think we made a mistake"]} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Based on the information you told us about who needs health coverage, your results are as follows:"],
   heading: 'Your Eligibility Results', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Likely Qualify for Medicaid:",
  listings: ["Person 1            Age: 35",
             "Person 2            Age: 56"]} %>

<%= render partial: 'notices/shared/custom_listing', locals: {
  listing: "<strong>What you need to do next:</strong> You don’t need to do anything right now. The DC Department of Human Services (DHS) has your application. They will make a final decision on whether those listed qualify for Medicaid. They will send you a letter, and may ask you to provide documents. If you haven’t heard from DHS by #{TimeKeeper.date_of_record+14.days}, you may want to ask for an update by calling us at (855) 532-5465."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Qualify for Private Health Insurance with Savings:",
  listings: ["Person 1            Age: 35",
             "Person 2            Age: 56"]} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["This tax credit is used to help pay the monthly premium – the amount you pay each month to the insurance company to have a health plan. The value of your tax credit is $0, because a basic silver plan will cost you less than what the federal government expects you to spend each month on health insurance."],
   heading: 'Advance Premium Tax Credit Savings:</strong> $0/month', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. For example, an annual deductible that would normally be $2,000 for an individual might be reduced to $1,300. The deductible is how much you must pay for some covered services you use before your insurance company begins to help with costs. To get these savings, you must select a silver plan. "} %>



<%= render partial: 'notices/shared/custom_listing', :locals => {
listing: "<strong>What you need to do next:<strong> Login to your account at dchealthlink.com to shop for a plan. We’ll need to ask you a few questions to see if you qualify to enroll now, or if you must wait until the next open enrollment."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Qualify for Private Health Insurance without Savings:",
  listings: ["Person 1            Age: 35",
             "Person 2            Age: 56"]} %>

<%= render partial: 'notices/shared/custom_listing', :locals => {
listing: "<strong>What you need to do next:</strong> Login to your account at dchealthlink.com to shop for a plan. We’ll need to ask you a few questions to see if you qualify to enroll now, or if you must wait until the next open enrollment.
"} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Does Not Qualify for Coverage:",
  listings: ["Person 1            Age: 35",
             "Person 2            Age: 56"]} %>

<%= render partial: 'notices/shared/custom_listing', :locals => {
listing: "<strong>What you need to do next:</strong> Review the section, ‘How We Made Our Decision’, to find out why, and learn about options for those listed."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Don’t miss the deadline! Open enrollment for #{TimeKeeper.date_of_record.next_year.year} private health plans began on #{Date.new(2017,11,1)}, and ends on #{Date.new(2018,1,31)}."],
   heading: 'Enrolling in Private Health Insurance', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["Those who qualify must enroll before the deadline. ",
             "Login to your account at dchealthlink.com to enroll now."]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "If someone in your household had a recent life change, they may still be able to enroll for #{TimeKeeper.date_of_record.year}. Getting married, having a baby, or losing other health coverage are just a few examples of recent life changes that may qualify for a special enrollment period. If you also need a special enrollment period, login to your account at dchealthlink.com or call us at (855) 532-5465. If you qualify, there’s limited time to sign up."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["DC Health Link certified Brokers are available (at no cost to you) to help you find the right plan that meets your needs and budget. To search for a Broker near you, go to: dchealthlink.com/find-expert."],
   heading: 'Get Help Choosing a Plan', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "You can also use our Plan Match tool to compare plans on your own. With Plan Match, you can see plan features, benefits, and costs side-by-side. You’ll see total estimated costs for services (not just premiums or deductibles). You can also see which plans include your doctors, prescription drugs, and more. To use Plan Match, go to the Individual & Family section at dchealthlink.com."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["We reviewed what you told us on your application about your household, and each person who needs health coverage. We checked to see who qualifies for coverage, and if they qualify for savings. The results below tell you how we made our decision."],
   heading: 'How We Made Our Decision', sub_heading: ''} %>

  <%= render partial: 'notices/shared/info_table', locals: {
                             rows: [['Household Member:', "Person 1          Age: 35"],
                                ['Medicaid', "Person 1 likely qualifies for Medicaid. Your monthly household income of $123.90 is within the monthly income limit of $9587.00 for this person.  Medicaid offers free, comprehensive health coverage."],
                                ['Private Health Insurance',"Person 1 qualifies to purchase private health insurance through DC Health Link. People who likely qualify for Medicaid also have the option to purchase private health insurance at full price, even though Medicaid offers free, comprehensive health coverage."],
                                ['Advance Premium Tax Credit (APTC)', "Person 1 qualifies for an advance premium tax credit to help pay for the insurance. Your annual household income of $458.00 is within the income limit of $232.00 for this person. The value of the tax credit is based on your household size, income, and the cost of health plans available to those who qualify."],
                                ['Cost-Sharing Reductions (CSR)', "Person 1 qualifies for cost-sharing reductions, but must select a silver plan to receive them. Your annual household income of $234.00 is within the income limit of $334.00. With a silver plan, Person 1 will get a discount on what they pay for medical services."]],
    col_styles: ['width: 25%;', 'width: 75%; text-align: left;'], table_width: '100%'} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "You did not ask to have the DC Department of Human Services (DHS) do a full review for Medicaid eligibility.  If you want to change your mind, call DC Health Link at (855) 532-5465."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "You asked us to send your application to the DC Department of Human Services (DHS) to review Medicaid eligibility for your household.  They may ask you for more information or documents. They will make a final decision.  If you have questions, call DC Health Link at (855) 532-5465"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["If you do not agree with the results, or think we made a mistake, you have the right to request an appeal. You can learn more about your rights, and how to request an appeal in the insert included with this letter."],
   heading: 'If You Think We Made a Mistake', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: " The deadline to request an appeal is #{TimeKeeper.date_of_record+95.days}. Your case will be referred to an independent administrative law judge at the Office of Administrative Hearings (OAH). OAH will work to resolve your appeal quickly, but appeals can take 30 to 90 days. "} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "If you have questions or concerns, we’re here to help.<br></br>The DC Health Link Team <br></br> ________________________________________________________________________________"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:<br><i>Exchange Regulations</i><br>General Eligibility Standards for Exchange Participation and Affordability Programs: 45 CFR § 155.305 <br> Premium Tax Credit Calculations:  26 CFR § 1.36B-3
<br>Eligibility Appeals: 45 CFR §§ 155.505(b) & 520(b)(1) <br>Annual open enrollment period: 45 CFR § 155.155.410(e) <br>Special enrollment periods: 45 CFR § 155.420 <br>Requirement to report changes: 45 CFR § 155.3330(b) <br> <i>Medicaid Regulations</i> <br> State Residence: 42 CFR § 435.403<br>
Citizenship and Non-Citizenship Eligibility: 42 CFR § 435.406 <br>
Medicaid Use of Modified Adjusted Gross Income:  42 CFR § 435.603 <br>
Medicaid Determination of Eligibility: 42 CFR § 435.911 <br>
Eligibility for Medical Assistance Programs: 42 C.F.R. § 435.945(a) and (b) <br>
Verification of Other Non-Financial Information: 42 CFR § 435.956 <br>
Non-Citizen Eligibility for Federal Benefits: 8 USCS 1 § 1611, § 1612, and § 1613"} %>