<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Failed Attempt to Send E-mail</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You are receiving this notice because you told us that you would like to receive notices from #{Settings.site.short_name} electronically.   Therefore, we send you e-mails at <Primary E-mail> letting you know that notices are ready to be viewed in your online account.  However, on <date of bounce-back>, our e-mail to you failed to go through.  Because we could not get an email to you about the notice in your online account, we are sending you a paper copy of the notice as well."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "We will continue to try to e-mail you notifications of other notices.  However, if your e-mail address has changed, you can update your e-mail address through your online account located at #{Settings.site.website_name}.  If you forgot your account username or password, you can reset it online or by calling #{Settings.contact_center.name} at #{Settings.contact_center.phone_number}."} %>
