<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>
<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop', :locals => {notice: notice} %>
<br>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>YOUR ELIGIBILITY RESULTS, PLAN, AND OPTION TO CHANGE PLANS FOR <%= notice.coverage_year %></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-bottom: 10px;">Dear <%= notice.primary_firstname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "Welcome to the #{notice.coverage_year} open enrollment season!  We value you as a customer, and are pleased to once again be of service to you and your family as you select quality, affordable health insurance coverage for the coming year. Open enrollment for health and dental insurance plans begins on #{notice.ivl_open_enrollment_start_on.strftime("%B %d, %Y")} and ends on #{notice.ivl_open_enrollment_end_on.strftime("%B %d, %Y")}. This letter will tell you:", bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
      listings: ["What’s new this year", "Your final eligibility results for #{notice.coverage_year}", "What you need to do next", "How we made our decision", "What to do if you don’t agree with our decision, or think we made a mistake"]} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["While there’s been a lot of news about the repeal and replacement of the Affordable Care Act (ACA), please know that the ACA remains the law of the land. Established under District law, #{Settings.site.short_name} continues to be the health insurance marketplace for District residents. We are locally managed and controlled. We are financially sound and going strong.", "There are many new plans to choose from in #{notice.coverage_year}. For example, CareFirst BlueCross BlueShield and Kaiser Permanente are both offering health plans that allow you to open a tax-free Health Savings Account (HSA) to pay for qualified medical expenses."],
   heading: 'What’s New This Year', sub_heading: '', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "For the best prices and plans that meet your medical needs and budget, we encourage you to shop, compare and enroll in coverage for #{notice.coverage_year}. Free expert enrollment assistance, and online support tools are available to help you and your family make informed decisions. You may also be eligible for reduced monthly premiums."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Each year, the federal government requires us to confirm that you still qualify to get coverage through #{Settings.site.short_name}. Based on our records, and any updates you gave us, your results are as follows:"],
   heading: 'Your Final Eligibility Results', sub_heading: '', top_margin: '10px', bottom_margin: '5px'} %>

<% if notice.uqhp_or_non_magi_medicaid_individuals.present? %>
  <%= render partial: 'notices/shared/unordered_family_listing', locals: {
    previous: "<strong>Qualify for Private Health Insurance without Savings:</strong>",
    listings: notice.uqhp_or_non_magi_medicaid_individuals} %>

  <%= render partial: 'notices/shared/custom_listing', locals: {
  listing: "<strong>What you need to do next:</strong> Review your plan, and decide if you want to keep it. If you want to keep your plan, you don’t need to do anything. You’ll automatically be enrolled in the plan shown for coverage beginning January 1, #{notice.coverage_year}. If you want to change plans, shop for a new plan during open enrollment. "} %>
<% end %>

<% if notice.ineligible_applicants.present? %>
  <%= render partial: 'notices/shared/unordered_family_listing', locals: {
    previous: "<strong>Does Not Qualify for Coverage:</strong>",
    listings: notice.ineligible_applicants} %>
<% end %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["We are in the process of checking the information on your application with our electronic data sources, as federal law requires. If your information does not match the data sources, we will ask you to provide documents proving your information.  If we ask you for documents, and you don’t respond by the deadline, you could lose your insurance.  Your final eligibility results contained in this letter may also change."],
   heading: 'Verifying Your Information', sub_heading: '', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["If you want to change plans for #{notice.coverage_year}, or add someone to a plan, shop for a new plan during open enrollment. After #{notice.ivl_open_enrollment_end_on.strftime("%B %d, %Y")}, you won’t be able to sign up for a new plan or change to a different plan until the next open enrollment period unless you experience a major life change like getting married or having a baby. If you want to pick a new plan, make sure to keep in mind these deadlines:"],
   heading: 'Open Enrollment', sub_heading: '', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/oe_dates' %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["#{Settings.site.short_name} registered Brokers are available (at no cost to you) to help you find the right plan that meets your needs and budget. To search for a Broker near you, go to: <a href='https://www.dchealthlink.com/find-expert'>dchealthlink.com/find-expert</a>.", "You can also use our Plan Match tool to compare plans on your own. With Plan Match, you can see plan features, benefits, and costs side-by-side. You’ll see total estimated costs for services (not just premiums or deductibles). You can also see which plans include your doctors, prescription drugs, and more. To use Plan Match, go to the Individual & Family section at <a href=#{Settings.site.home_url}>#{notice.hbe.short_url}</a>."],
   heading: 'Get Help Choosing a Plan', sub_heading: '', top_margin: '8px', bottom_margin: '8px'} %>

<% if notice.enrollments.size > 1 %>
  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
     contents: ["The people listed will be enrolled in the plan(s) shown below for coverage beginning January 1, #{notice.coverage_year} unless you enroll in a new plan. The plan you have now will not be offered in #{notice.coverage_year}, but the plan shown is similar to it.", "Your insurance company will send you a letter about changes to your benefits. This plan may have different services than the plan you have now. Copayments, coinsurance, and deductibles may also be different. "],
       heading: 'Your Plan', sub_heading: '', bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/custom_listing', locals: {
      listing: "Don’t forget to call your insurance company or visit their website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medicines you take are still covered."} %>

  <% notice.enrollments.each do |enrollment| %>
    <%= render partial: 'notices/shared/enrollment_info_table', locals: {
                                 rows: [enrollment.enrollees, "#{enrollment.plan.plan_carrier}",number_to_phone(enrollment.phone, area_code: true), "#{enrollment.plan.plan_name}", "$#{enrollment.responsible_amount}", "#{enrollment.plan.deductible}", "#{enrollment.plan.family_deductible}", "#{enrollment.effective_on.strftime("%B %d, %Y")}", "#{enrollment.coverage_kind}"],
        col_styles: ['width: 25%;', 'width: 75%; text-align: left;'], table_width: '100%'} %>
  <% end %>

<% else %>
  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
   contents: ["The people listed will be enrolled in the same plan you have now for coverage beginning January 1, #{notice.coverage_year} unless you enroll in a new plan.", "Copayments, coinsurance, and deductibles for #{notice.coverage_year} may be different. Your insurance company will send you a letter about any changes."],
     heading: 'Your Plan', sub_heading: '', bottom_margin: '3px'} %>

  <%= render partial: 'notices/shared/custom_listing', locals: {
      listing: "Don’t forget to call your insurance company or visit their website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medicines you take are still covered."} %>

  <% notice.enrollments.each do |enrollment| %>
    <%= render partial: 'notices/shared/enrollment_info_table', locals: {
                                   rows: [enrollment.enrollees, "#{enrollment.plan.plan_carrier}",number_to_phone(enrollment.phone, area_code: true), "#{enrollment.plan.plan_name}", "$#{enrollment.responsible_amount}", "#{enrollment.plan.deductible}", "#{enrollment.plan.family_deductible}", "#{enrollment.effective_on.strftime("%B %d, %Y")}", "#{enrollment.coverage_kind}"],
          col_styles: ['width: 25%;', 'width: 75%; text-align: left;'], table_width: '100%'} %>
  <% end%>

<% end%>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["You must continue to pay your premium for your #{notice.current_year} plan to automatically be enrolled in the plan shown for #{notice.coverage_year}. <strong>If you miss a payment or do not pay the full amount each month, your coverage will not be renewed</strong>. If your #{notice.current_year} plan is no longer active, and you want to enroll in plan for #{notice.coverage_year}, login to your account at <a href=#{Settings.site.home_url}>#{notice.hbe.short_url}</a> or call us at #{notice.hbe.phone}.", "Your monthly premium amount will be different in #{notice.coverage_year}. <strong>If you have autopay set up through your health and/or dental insurance plan(s), you must contact your insurance company to update your autopay. The same is true if you set-up autopay through another method, such as through your bank</strong>. If you do not make an update, your plan may be terminated."],
   heading: 'Pay Your Premiums', sub_heading: '', top_margin: '10px', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_headers_for_ivl', :locals => {
 contents: ["We reviewed what you told us on your application about your household, and each person who needs health coverage. We checked to see who qualifies for coverage, and if they qualify for savings. The results below tell you how we made our decision."],
   heading: 'How We Made Our Decision', sub_heading: '', top_margin: '8px'} %>

<% notice.individuals.each do |ivl|%>
  <div style="display:block; page-break-inside: avoid;">
    <table align="center" cellpadding="5" class="total_table thick_broder" style="margin-top: 10px; margin-bottom: 10px; width: 100% %>;" border="1">
      <tbody>
        <tr valign="top">
          <td style="width: 25%;">
            <b>Household Member:</b>
          </td>
          <td style="width: 75%;">
            <p><%= ivl.full_name %> &nbsp;&nbsp;&nbsp;&nbsp; Age: <%= ivl.age %> </p>
          </td>
        </tr>
        <tr valign="top">
          <td style="width: 25%;">
            <b>Private Health Insurance</b>
          </td>
          <td style="width: 75%;">
            <p><%= ivl.first_name %> qualifies to purchase private health insurance through <%= Settings.site.short_name %>.</p>
          </td>
        </tr>
        <% if ivl.is_totally_ineligible %>
          <tr valign="top">
            <td style="width: 25%;">
              <b>Ineligible for Medicaid and Private Health Insurance</b>
            </td>
            <td style="width: 75%;">
              <p><%= ivl.first_name %> does not qualify for Medicaid or private health insurance (with or without help paying for coverage). The reason is because <%= ivl.reason_for_ineligibility.join(' In addition, ') %> If <%= ivl.first_name %>’s status changes, we encourage you to update your application, or call <%= Settings.site.short_name %> at <%= notice.hbe.phone %>."</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= render partial: 'notices/shared/paragraph_with_headers_for_ivl', :locals => {
 contents: ["If you do not agree with the results, or think we made a mistake, you have the right to request an appeal. You can learn more about your rights, and how to request an appeal in the insert included with this letter."],
   heading: 'If You Think We Made a Mistake', sub_heading: '', top_margin: '12px'} %>

<%= render partial: 'notices/shared/custom_listing', :locals => {
listing: "<strong>The deadline to request an appeal is #{(TimeKeeper.date_of_record+95.days).strftime("%B %d, %Y")}.</strong>Your case will be referred to an independent administrative law judge at the Office of Administrative Hearings (OAH). OAH will work to resolve your appeal quickly, but appeals can take 30 to 90 days."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Please call #{Settings.site.short_name} at #{notice.hbe.phone} if you have any questions about this letter."],
   heading: 'Still Have Questions?', sub_heading: '', top_margin: '8px', bottom_margin: '8px'} %>

<br>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
content: "If you have questions or concerns, we’re here to help.<br></br>The #{Settings.site.short_name} Team <br></br> _____________________________________________________________________________________________________________"} %>

<%= render partial: 'notices/shared/reference_paragraph', :locals => {
  contents: ["Legal Reference: The following laws, regulations and rules apply to this letter:",
  "<i>Exchange Regulations</i>",
  "General eligibility standards for exchange participation and affordability programs: 45 CFR § 155.305",
  "Premium tax credit calculations:  26 CFR § 1.36B-3",
  "Annual Eligibility Redetermination and Renewal Standards: 45 CFR §155.335",
  "Eligibility appeals: 45 CFR §§ 155.505(b) & 520(b)(1)",
  "Annual open enrollment period: 45 CFR § 155.155.410(e)",
  "Special enrollment periods: 45 CFR § 155.420",
  "Requirement to report changes: 45 CFR § 155.330(b)"]} %>