<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop', :locals => {notice: notice} %>
<br>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3><%= l10n("notices.ivl_cap.title") %></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><%= l10n("notices.shared.dear_person", first_name: notice.primary_firstname)%></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: l10n("notices.ivl_cap.you_are_receiving_this_letter", site_short_name: site_short_name, previous_year: previous_year)} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: l10n("notices.ivl_cap.federal_law_required", aca_state_name: aca_state_name, ivl_responsibility_url: EnrollRegistry[:enroll_app].setting(:ivl_responsibility_url).item) } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: l10n("notices.ivl_cap.you_will_not_receive_any_tax_forms", site_short_name: site_short_name)} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: l10n("notices.ivl_cap.you_may_receive_a_tax_form")} %>

<p><%= l10n("notices.shared.questions_or_concerns") %></p>

<p style="margin-top: 2em;"><%= l10n("notices.shared.the_site_short_name_team", site_short_name: site_short_name) %></p>

<div style="page-break-before: always;">
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "_____________________________________________________________________________________________________________"} %>
</div>

<%= render partial: 'notices/shared/reference_paragraph', :locals => {
contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:",
"DC individual mandate: DC Official Code ยง47-5102(a)",
"Federal Individual mandate: 26 U.S.C. ยง5000A",
"Catastrophic plan ineligibility for advance premium tax credit: 26 U.S.C. ยง36B(c)(3)(A)"]} %>
