<% @style_color_text = "style='color: #FF0000;'" %>
<% @style_text_indent = "style='margin-left:30px;'" %>
<% @style_color_indent = "style='color:#ff0000; margin-left:30px;'" %>



<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Denial of Eligibility for #{site_short_name} Enrollment</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Thank you for the application you submitted and we processed on <application date>.
  Unfortunately, the following individual(s) are not qualified to enroll in health insurance through
  #{site_short_name} based on the information you provided to us."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "[QHP Ineligible 1 First Name] [QHP Ineligible 1 Last Name]<br>
  <span #{@style_color_text}>[IF Person N field populated]</span> [QHP Ineligible N First Name] [QHP Ineligible N Last Name]"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["<span #{@style_color_text}>[PICK ALL THAT APPLY]</span><br><br>
  <span #{@style_color_text}>[IF Anyone Ineligible Due to Residency]</span> The following individual(s) are not qualified to enroll through #{site_short_name} because
  they are not residents of the #{aca_state_name}. They are encouraged to submit another application for the state where they live.
  You can find these applications at <a href='http://www.HealthCare.gov'>www.HealthCare.gov</a>. 45 C.F.R. §155.305(a)(3)."],
    heading: 'Ineligibility for Assistance or Enrollment through #{site_short_name}', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_text_indent}>[Residency Ineligible 1 First Name] [Residency Ineligible 1 Last Name]</span><br>
  <span #{@style_text_indent}>[IF Person N field populated]</span> [Residency Ineligible N First Name] [Residency Ineligible N Last Name]"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[IF Anyone Ineligible Due to Incarceration]</span> The following individual(s) are not qualified to enroll through
  #{site_short_name} because they are in prison or jail serving a sentence. 45 C.F.R. §155.305(a)(2)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_text_indent}>[Incarceration Ineligible 1 First Name] [Incarceration Ineligible 1 Last Name]</span><br>
  <span #{@style_color_indent}'>[IF Person N field populated]</span> [Incarceration Ineligible N First Name] [Incarceration Ineligible N Last Name] "} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Because the above individual(s) are not eligible for enrollment in coverage through #{site_short_name}, they also cannot get tax credits or cost-sharing
  reductions through #{site_short_name}.  45 C.F.R. §155.305(f) & (g)."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Important information is stored in your account on the #{site_short_name} website.  If you don’t have an account already, you can create one
    by going to #{site_home_link.html_safe}. You can get help with logging in or creating an account by calling #{contact_center_name} toll-free at #{contact_center_phone_number}."],
    heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["If you disagree with any determination about the amount or type of health care coverage benefits you or any of the other person in your
    household was found eligible for, you have the right to appeal the determination(s). You may request an appeal by phone, in person, online, and by mail.
    You must request an appeal <strong>by [Date of Notice+95 calendar days]</strong>. 45 C.F.R. §155.520. <strong>See the insert for more information on your appeal rights.</strong>"],
    heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
