<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Your 2017 Insurance Renewal Notice and Opportunity to Change Plans</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Open enrollment for health and/or dental insurance plans for 2017 begins on November 1, 2016 and ends on January 31, 2017. Our records indicate that you are currently enrolled in health and/or dental insurance through DC Health Link."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "During open enrollment you can shop for new coverage.  Last open enrollment, our customers who shopped saved an average of 5% on their premiums.  We have new online tools powered by Consumers’ CHECKBOOK.  The Plan Match tool gives you an estimate of annual out-of-pocket costs by different plans and whether your doctors participate.  New for 2017, Plan Match shows you how each plan covers your prescription medication.  If you’d like in person help, DC Health Link certified insurance experts are ready to assist you."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Remember if you do not select a new plan, we will automatically renew your current coverage or renew you into the most comparable 2017 coverage."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<strong>TIPS:</strong>",
  listings: ["<strong>Shop and save during open enrollment:</strong> Open enrollment begins November 1, 2016 and ends January 31, 2017. To make sure your new plan is active by January 1, 2017, you must complete your plan selection no later than December 15, 2016. If you do not select a new plan, we will renew your coverage in the same plan or a similar one for 2017.","<strong>Pay your premiums: </strong> You must continue to pay your premiums for your 2016 plan on time to have your coverage renewed for 2017. You must also make sure to update any auto-payment arrangements you have made either directly with your insurance company or with your bank to make sure the new 2017 premium is being paid. <u>If you do not do so, and do not make payments through another method, your 2017 plan will be terminated.</u>"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "The rest of this notice has important information to ensure you are successfully enrolled into health and/or dental coverage in 2017."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["You can review your plan options, search for plans that include your doctors and prescriptions, and get annual out-of-pocket estimates on www.dchealthlink.com. If you would like a different plan for 2017, you must choose it during open enrollment. The date your new plan will start depends on when you finish shopping for your new plan:"],
   heading: 'Choose Your 2017 Plan', sub_heading: ''} %>

<%= render partial: 'notices/shared/table', locals: {headers: ['Date new plan is selected', 'Date new plan starts'], rows: [['November 1 - December 15, 2016', 'January 1, 2017'],['December 16 - January 15, 2017', 'February 1, 2017'],['January 16 - January 31, 2017', 'March 1, 2017']],
  col_styles: ['width: 60%;', 'width: 40%; text-align: center;'], table_width: '70%'} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "After January 31, 2017, you won’t be able to sign up for a plan or change to a different plan until the next open enrollment period starting late in 2017 unless you experience a major life change like getting married or having a baby."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>If you do not select a different plan, you will be automatically enrolled in these plans starting January 1, 2017 and your premiums each month will be as follows:</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span style='text-decoration:underline;'>Health Plan: «M 2017 Health Plan»</span>"} %>

  <table style='margin: 0px auto;' width='80%'>
    <tr>
      <td>
        <strong>Your monthly premium:</strong>
      </td>
      <td align=right>
        <strong>«M 2017 Health Plan Premium»</strong>
      </td>
    </tr>
  </table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span style='text-decoration:underline;'>Dental Plan: «M 2017 Dental Plan»</span>"} %>

  <table style='margin: 0px auto;' width='80%'>
    <tr>
      <td>
        <strong>Your monthly premium:</strong>
      </td>
      <td align=right>
        <strong>«M 2017 Dental Plan Premium»</strong>
      </td>
    </tr>
  </table>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>Remember, our customers who shopped last open enrollment saved on average 5% on their premiums.  If you do not shop or select a new plan, we will automatically renew your coverage in these plans for 2017.</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Your plan will send you a separate mailing about changes to your benefits, co-payments, co-insurance, and deductibles for 2017. Be sure to call or visit the plan’s website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["You must continue to pay your premium for your 2016 plan to be renewed for 2017. <strong>If you miss a payment or do not pay the full amount each month, your coverage will not be renewed.</strong> If you believe your 2016 plan has been terminated and you want to enroll in plan for 2017, please call DC Health Link Customer Service at (855) 532-5465."],
   heading: 'Pay Your Premiums', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Your monthly premium amount will be different in 2017. <strong>If you have auto-pay set up through your health and/or dental insurance plan(s), you must contact your insurance company to update the amount withdrawn every month.  The same is true if you set-up auto-pay through another method, such as through your bank.</strong>  If you do not make an update, your plan can be terminated."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["It is very important that you update us any time your circumstances change over the next year. 
If any of the following changes happen to anyone in your household, you must report it within 30 days: "],
   heading: 'Reporting Changes', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["Address change","Change to citizenship or immigration status","Change to incarceration status","Enrollee death"]} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "If you applied for premium reductions and any of the following changes happen to anyone in your household, you must report it within 30 days:",
  listings: ["Income change: All changes in income will affect the amount of premium tax credit you are eligible for. This may change how much you owe or get back on your taxes this year. When you report a change, we will increase or decrease the amount premium tax credits you can get. We may also ask you to submit further information to verify the change.  You are not required to report changes in income that are less than $150/month ($1,800 annually), but even small changes impact the amount of the premium tax credit you are eligible for.","Offers of health coverage from a job","Eligibility for other health insurance","Changes to your household, including getting married or divorced, becoming pregnant, having a baby, adopting a child, or having a child placed for adoption with you, or a death in the household","Changes in your tax filing plans for [INSERT YEAR], such as claiming a new dependent"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {content: "45 C.F.R. § 155.330(b)"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {content: "If you did not apply for premium reductions but want to see if you qualify later in the year, you can update your application by providing more information about your household."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {content: "Some of these changes may also qualify for a special enrollment period, which allows you to change the plan you are enrolled in during the year.  However, you must report these changes quickly because you generally must select a plan within 60 days of the change in circumstances.  You cannot change your plan during the year unless you qualify for a special enrollment period."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {content: "45 C.F.R. § 155.420(d)"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["You have the right to terminate your health insurance coverage. You can terminate your plan in your account on www.dchealthlink.com or by calling DC Health Link Customer Service toll-free at (855) 532-5465. You must tell us that you want us to terminate your plan at least 14 days before you want your plan to end."],
   heading: 'Ending Your Health Insurance Coverage', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {content: "Your health insurance may also be terminated without your request if you don’t pay your premiums or if our data indicates that the information you put on your application, or on your renewal form, has changed and you are no longer eligible for coverage.  If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Important information is stored in your account on the DC Health Link website.  If you don’t have an account already, you can create one by going to www.dchealthlink.com. You can get help with logging in or creating an account by calling DC Health Link Customer Service toll-free at (855) 532-5465."],
   heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal by <strong>«Appeal_Deadline»</strong>.   DC Health Link will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve.  <strong>See the insert for more information on your appeal rights.</strong>  45 C.F.R. §155.520."],
   heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
