<% @style_color_text = "style='color: #FF0000;'" %>
<% @style_text_indent = "style='margin-left:30px;'" %>
<% @style_color_indent = "style='color:#ff0000; margin-left:30px;'" %>



<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: 2016 CONDITIONAL Renewal Notice and Opportunity to Change Plans </h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Open enrollment for health insurance plans for 2016 begins on November 1, 2015 and ends on January
  31, 2016. Based on the information we have in our records for you and your household, we will renew your
  #{Settings.site.short_name} coverage for 2016. However, this renewal is conditional because we need to see documentation
  from you for some of your information."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "You should use this open enrollment period to:",
  listings: [ "<strong>Choose your 2016 plan:</strong> You can pick a different health plan for 2016 starting on November 1, 2015.
    If you don’t pick a new plan, we will renew your coverage in the same plan or a similar one for 2016.",
    "<strong>Pay your premiums:</strong> You must continue to pay your premiums for your 2015 plan on time to have your coverage renewed for 2016.
    You must also make sure to update your payments for your 2016 plan(s).",
    "<strong>Provide proof:</strong> If you received an earlier notice from #{Settings.site.short_name} indicating that we need documentation of certain information,
    please be sure to submit those documents if you haven’t already.  An outstanding document request will not impact your renewal.
    However, failing to submit the document(s) by the date indicated on the request may cause your coverage to be terminated in the future."]
  } %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Open enrollment for 2016 begins November 1, 2015 and ends January 31, 2016. If you would like a different plan for 2016,
    you must choose it during open enrollment. The date your new plan will start depends on when you finish shopping for your new plan:"],
    heading: 'Choose Your 2016 Plan', sub_heading: ''} %>

<%= render partial: 'notices/shared/table', locals: {headers: ['Date new plan is selected', 'Date new plan starts'], rows: [['November 1 - December 15, 2015', 'January 1, 2016'],['December 16 - January 15, 2016', 'February 1, 2016']],
  col_styles: ['width: 30%;', 'width: 70%; text-align: center;'], table_width: '100%'} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "After January 31, 2016, you won’t be able to sign up for a plan or change to a different plan until the next open enrollment period
  starting late in 2016 unless you experience a major life change like getting married or having a baby."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>If you do nothing, you will be enrolled in these plans starting January 1, 2016
  and your premiums each month will be as follows: </strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span style='text-decoration:underline;'>Health Plan: «M 2016 Health Plan»</span>"} %>

  <table style='margin: 0px auto;' width='80%'>
    <tr>
      <td>
        <strong>Your monthly premium:</strong>
      </td>
      <td align=right>
        <strong>«M 2016 Health Plan Premium»</strong>
      </td>
    </tr>
  </table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span style='text-decoration:underline;'>Dental Plan: «M 2016 Dental Plan»</span>"} %>

  <table style='margin: 0px auto;' width='80%'>
    <tr>
      <td>
        <strong>Your monthly premium:</strong>
      </td>
      <td align=right>
        <strong>«M 2016 Dental Plan Premium»</strong>
      </td>
    </tr>
  </table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>If you are satisfied with these plans, you do not need to do anything during open enrollment.
  We will automatically renew your coverage in these plans for 2016.</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Your plan will send you a separate mailing about changes to your benefits, co-payments, co-insurance,
  and deductibles for 2016. Be sure to call or visit the plan’s website to make sure your doctor and other health
  care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["You must continue to pay your premium for your 2015 plan to be renewed for 2016. <strong>If you miss a payment or do not
    pay the full amount each month, your coverage will not be automatically renewed.</strong> If you believe your 2015 plan has been terminated and you
    want to enroll in plan for 2016, please call #{Settings.contact_center.name} at #{Settings.contact_center.phone_number}.<br><br>
    Your monthly premium amount will be different in 2016. <strong>If you have auto-pay set up for your health insurance plan(s),
    you must contact your health insurance plan to update the amount withdrawn every month.</strong> If you do not make an update,
    your plan may be terminated."],
    heading: 'Pay Your Premiums', sub_heading: ''} %>

    <!-- Required documents -->

    <%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
    contents: ["To make sure that we have correct and complete information about all the members of your household, we need you
      to provide some additional documents. <strong>Scanned or photocopied versions of these documents are acceptable.</strong> "],
      heading: 'Provide Documents Needed <span style="color:#000000; font-size: 0.7em;"> 45 CFR §155.315(f)(2).</span>', sub_heading: ''} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "Here is the information that we need:"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[PICK one or multiple of the following, based on which persons have inconsistencies and which areas are
    inconsistent]</span>"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[IF SSN Unverified]</span> <strong><i>Documents Showing Social Security Number.</i></strong> The Social Security Administration could
    not confirm that the Social Security Number provided for the following applicant household members is correct:"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "[SSN Inconsistent First Name 1] [SSN Inconsistent Last Name 1]<br>
    <span #{@style_color_text}>[IF Multiple SSN Inconsistencies]</span><SSN Inconsistent First Name N> <SSN Inconsistent Last Name N><br>
    [Repeat for as many member as is necessary]"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "Under federal law, 42 C.F.R. §435.910 and 45 C.F.R. §155.310(a)(3), we are required to obtain the Social Security Number
    of every person who is applying for Medicaid and #{Settings.site.short_name}. We will only use your Social Security Number to verify the
    information you told us on your application or renewal form. We will check your information in the #{Settings.aca.state_name} and Federal databases,
    and the databases of other #{Settings.aca.state_name}, Federal agencies, and a consumer reporting agency."} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "You can use a Social Security card to verify the Social Security Number(s) you provided to us. If you do not have a
    Social Security Number or cannot remember you Social Security Number, we can help you obtain one. You may not need to provide a
    Social Security Number if you have a well-established religious objection. If you need help or have any questions, please contact
    #{Settings.contact_center.name} at #{Settings.contact_center.phone_number}.  "} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[IF Citizenship/Immigration Unverified]</span>
    <strong><i>Documents of Citizenship or Immigration Status.</i></strong>
    We need proof of your U.S. citizenship or immigration status for the following applicant household members:<br>
    [Citizenship/Immigration Inconsistent First Name 1] [Citizenship/Immigration Inconsistent Last Name 1]
    <span #{@style_color_text}>[IF Multiple Citizenship/Immigration Inconsistencies]</span>
    [Citizenship/Immigration Inconsistent First Name N] [Citizenship/Immigration Inconsistent Last Name N]
    "} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_underline}>How to Prove US Citizenship</span><br>
    Two types of documentation are accepted to confirm citizenship status. We call the two types “primary” and “secondary”.
    If you provide primary documentation, no other documents are required. If you provide secondary documentation, other
    identification (ID) is required for verification. Secondary documentation must be accompanied with an identification
    card containing a recent photo and other identifying information."} %>


    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "<span #{@style_underline}>Primary documentation:</span> (Only One (1) is needed)",
      listings: [["U.S. Passport", ["<i>Note:</i> Expired passports are acceptable."]], "Certificate of Naturalization",
      "Certificate of Citizenship", "Consular report of Birth Abroad of U.S. Citizen", "A valid Driver’s License from a state that requires proof of citizenship and verification of Social Security
      Number prior to issuance of the license", ["A tribal document issued by a federally-recognized Indian Tribe, which must:",
      ["Identify the Tribe issuing the document;", "Identify the individual by name; and", "Confirm the individual’s enrollment in or affiliation with the Tribe.",
        "<strong>Examples:</strong> Tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document"]]]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "<span #{@style_underline}>Secondary documentation:</span> (Must Present One (1) of the following, along with ID)",
      listings: ["A U.S. birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain’s Island, Puerto Rico, the
      Virgin Islands, or the Commonwealth of the Northern Mariana Islands.  If born in the Puerto Rico, the Virgin Islands, or Commonwealth
      of the Northern Mariana Islands prior to the time these areas became part of the U.S., the individual will satisfy the citizenship
      requirement if he or she is a collectively naturalized citizen.", "A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana
      Islands  before November 4, 1986", "A certification of Report of Birth, issued to U.S. citizens born outside the U.S.", "A Report of Birth Abroad of a U.S. Citizen", "A Certification of Birth",
      "A U.S. Citizen I.D. Card", "A final adoption decree showing the child’s name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the
      child’s name and U.S. place of birth", "Evidence of U.S. Civil Service employment before June 1, 1976", "U.S. Military Record showing a U.S. place of birth",
      "Documentation that a child meets the requirements of §101 of the Child Citizenship Act", "Medical records that indicate a U.S. place of birth",
      "Life, health, or other insurance record that indicates a U.S. place of birth", "Official religious record recorded in the U.S. showing that the birth occurred in the U.S.",
      "School records showing a U.S. place of birth", "Federal or State census record showing U.S. citizenship or a U.S. place of birth"]
      } %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<span #{@style_underline}>Needed Information to Verify Immigration Status</span>"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>The document that you may be able to use to verify your immigration status includes, but is not limited to:</strong>"} %>


    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Permanent Resident Card (I-551, also known as Green Card)",
      listings: ["Alien registration number",
                 "Card number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Temporary I-551 Stamp (on passport or I-94, I-94A)",
      listings: ["Alien registration number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Immigrant Visa (with temporary I-551 language)",
      listings: ["Alien registration number", "Passport number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Employment Authorization Card (EAD or I-766)",
      listings: ["Alien registration number", "Card number", "Expiration date", "Category code"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Arrival/Departure Record (I-94 or I-94A)",
      listings: ["I-94 number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Arrival/Departure Record in foreign passport (I-94)",
      listings: ["I-94 number", "Passport number", "Expiration date", "Country of issuance"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Foreign passport",
      listings: ["Passport number", "Expiration date"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Country of issuance Reentry Permit (I-327)",
      listings: ["Alien registration number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Refugee travel document (I-571)",
      listings: ["Alien registration number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Certificate of Eligibility for Nonimmigrant (F-1) Student Status (I-20)",
      listings: ["Alien registration number or an I-94 number", "Description of the type or name of the document"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Certificate of Eligibility for Exchange Visitor (J-1) Status (DS2019)",
      listings: ["SEVIS ID"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Notice of Action (I-797)",
      listings: ["Alien registration number or an I-94 number"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Other",
      listings: ["Alien registration number or an I-94 number", "Description of the type or name of the document"]
      } %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "You can also list these documents or statuses:",
      listings: ["Document indicating a member of a federally recognized Indian tribe or American Indian born
                  in Canada This is considered an eligible immigration status for Medicaid, but not for a
                  Qualified Health Plan [QHP]",
                  "Office of Refugee Resettlement (ORR) eligibility letter (if under 18)",
                  "Document indicating withholding of removal",
                  "Administrative order staying removal issued by the Department of Homeland Security (DHS)",
                  "Certification from U.S. Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)",
                  "Cuban/Haitian entrant", "Resident of American Samoa"]
      } %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<span #{@style_color_text}>[IF Income Unverified]</span> <strong><i>Documents Showing Household Income.</i></strong>
      We need proof of income for [First Inconsistent First  Name][First Inconsistent Last Name],
      [Second First Name of First Inconsistent member’s household]
      [Second Last Name of First Inconsistent member’s household]
      <span #{@style_color_text}>[continue until all members but one ofhousehold of first person with inconsistency are listed, then enter]“,
      and” [followed by]</span>
      [Last First Name of First Inconsistent member’s household][Last Name of First Inconsistent member’s household]."} %>


    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "These documents can include:",
      listings: ["Copies of the most recent paystubs. If you think this income is going to change over the year, we also need an explanation in writing of the change; ",
                  "A copy of your most recent tax filing, if you don’t expect a change from last year’s income; ",
                  "If the person is employed but does not receive pay stubs, a letter from the employer or a copy of the payment the person receives such as a  check is acceptable",
                  "Award Letters (such as Civil Service Retirement, Social Security, Railroad Retirement)",
                  ["Documentation of any other income ",["Example: For interest, dividends, or annuities, provide documentation from the institution where you have these accounts/resources",
                                                         "Example: If a family member or friend gives you money regularly to help you pay your expenses, provide a letter from that person and include their contact information"
                                                        ]],
                  "Documentation of any adjustments to income that you intend to take on your federal tax return some examples are alimony payments, self-employed health insurance payments,
                   health savings account deductions, and moving expenses."]
      } %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<span #{@style_color_text}>[IF Residency Unverified]</span> <strong><i>Documents Showing D.C. Residency.</i></strong>
      A document that shows that the following household members live in the #{Settings.aca.state_name} of Columbia:"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "[Residency Inconsistent First Name 1][Residency Inconsistent Last Name 1]
      <span #{@style_color_text}>[IF Multiple Residency Inconsistencies]</span>[Residency Inconsistent First Name N][Residency Inconsistent Last Name N]
      [Repeat for as many member as is necessary]"} %>

    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "This can include any of the following:",
      listings: ["A copy of an active lease agreement , certified deed, or mortgage statement with D.C address in their name,",
                 "A phone or utility bill from within the past two months,",
                 "A signed statement with contact information from another #{Settings.aca.state_name} resident stating that the applicant lives at their address in the #{Settings.aca.state_name},",
                 "D.C. Voter Registration Card,",
                 "Non-expired #{Settings.aca.state_name} of Columbia Motor Vehicle Registration or DC DMV Identification Card,",
                 "Cancelled checked or receipts for mortgage or rental payments within the past 2 months,",
                 "Utility bills and payment receipts with D.C. address within the past 2 months,",
                 "Non-expired Automobile insurance statement with D.C. residency address,",
                 "Self-attestation of residency without paper documentation in exceptional circumstances, including homelessness and in cases of domestic violence."]
      } %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<span #{@style_color_text}>[IF MEC Conflict]</span><br> <strong><i>Access to Other Insurance Coverage.</i></strong>
      Our records indicate that the following individual(s) have access to [MEC Data Match]."} %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<span #{@style_text_indent}>[MEC Type 1 Inconsistent First Name 1] [MEC Type 1 Inconsistent Last Name 1]</span><br>
     <span #{@style_color_indent}>[IF Multiple MEC Inconsistency Type 1]</span> [MEC Type 1 Inconsistent First Name N] [MEC Type 1 Inconsistent Last Name N]<br>
     <span #{@style_text_indent}>[Repeat for as many member as is necessary]</span>"} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
     content: "<span #{@style_color_text}>[IF Additional MEC Conflict (repeat as necessary)]</span> Our records indicate that the following individual(s)
     have access to [MEC Data Match]. "} %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
     content: "<span #{@style_text_indent}>[MEC Type 2 Inconsistent First Name 1] [MEC Type 2 Inconsistent Last Name 1]</span><br>
    <span #{@style_color_indent}>[IF Multiple MEC Inconsistency Type 2]</span> [MEC Type 2 Inconsistent First Name N] [MEC Type 1 Inconsistent Last Name N]<br>
    <span #{@style_text_indent}>[Repeat for as many member as is necessary]</span>"} %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This would make you ineligible for tax credits.  Please provide documentation that this coverage has been cancelled."} %>

    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[IF Indian Inconsistency]</span> American Indian Status. On your application or renewal form, you indicated that the following individual(s) were American Indian. "} %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "[Indian Inconsistent First Name 1] [Indian Inconsistent Last Name 1]<br>
    <span #{@style_color_text}>[IF Multiple Indian Inconsistencies]</span>[Indian Inconsistent First Name N] [Indian Inconsistent Last Name N]<br>
    [Repeat for as many member as is necessary]"} %>


    <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Please provide one of the following documents to confirm this status.",
    listings: [["Any formal documentation from a tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian status.
               Examples of such verifications include, but are not limited to the following:", ["A document issued by a federally-recognized American Indian/Alaska Native tribe, such as an enrollment
               or membership card, a tribal census document, or a document issued by a tribe indicating the person’s affiliation with the Tribe;",
               "A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian; and ",
               "A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian."]],
               ["For Indians born outside of the United States, we will accept the following documents:", ["A Form I-94 with a notation of 'S1-3';", "I-551 Permanent Resident Card stamped 'S1-3';",
                "Temporary I-551 stamp coded “S1-3” in a Canadian passport;", "o	A Tribal Record or document certifying at least 50% American Indian blood, as required by Section 289 of the
                Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as the following: Birth certificate or Baptismal; Certificate issued on a reservation;
                Letter from Canadian Department of Indian Affairs; or School Records."]]]
    } %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[IF Household Unverified (Duplicate Claiming)]</span> <strong><i>Documents Showing Household Composition.</i></strong> Our records indicate a conflict regarding whether [Conflicting HH First Name]
    [Conflicting HH Last Name] is a member of [First Inconsistent First Name] [First Inconsistent Last Name]’s tax household. To resolve this conflict, you must submit documentation
    that First Inconsistent First Name] [First Inconsistent Last Name] can claim [Conflicting HH First Name] [Conflicting HH Last Name] as a dependent for federal tax purposes.
    IRS Form 8332 or Form 2120 that applies to the tax year at issue will be sufficient evidence."} %>


    <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<span #{@style_color_text}>[IF Household Unverified (Duplicate Living With)]</span> <strong><i>Documents Showing Household Composition.</i></strong> Our records indicate a conflict regarding whether
    [Conflicting HH First Name][Conflicting HH Last Name] is a member of [First Inconsistent First Name][First Inconsistent Last Name]’s household. To resolve this conflict,
    you must submit documents showing that [Conflicting HH First Name][Conflicting HH Last Name] lives with [First Inconsistent First Name][First Inconsistent Last Name]."} %>


    <%= render partial: 'notices/shared/unordered_list', locals: {
      previous: "Please provide one of the following documents to confirm this status.",
      listings: ["School or medical records", "Child care records", "Statements from non-relatives", "Leases", "Mail to or regarding the child or adult dependent", "Religious or recreational activity records", "Custody order"]
    } %>

    <!-- *******> required documents -->

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>If you think you will not be able to submit your documents because of circumstances outside of your control,
  please contact us at #{Settings.contact_center.name} at #{Settings.contact_center.phone_number}.  If you need help then the
  Department of Human Services will work with you.</strong>"} %>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["We need the documents above <strong>by [Date=Date of Notice +95 days]</strong> in order to make a final decision on your eligibility for your health plan and for tax credits.
    If you do not provide the documents by this deadline, we will assume that our records are correct.
    <span style='text-decoration:underline;'>Your health insurance coverage and/or tax credits may be terminated</span>."],
    heading: 'When We Need Your Documents', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you think you will not be able to submit the requested documentation <strong>by [Date=Date of Notice +95 days]</strong> due to circumstances
  outside of your control, please call #{Settings.contact_center.name} toll free at #{Settings.contact_center.phone_number}.
  If you truly have a special need, a Department of Human Services representative will work with you to complete the verification process."} %>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'How to Submit Your Documents', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "You can send the necessary documents either online, through U.S. Postal mail, or in-person.",
  listings: ["<strong>Online:</strong> Log into your account.  You can upload a scanned copy of the document.",
             "U.S. Postal Mail: <span style='margin-left: 10px;'>#{Settings.site.short_name}</span><br>
             <span style='margin-left:96px;'>Department of Human Services</span><br>
             <span style='margin-left:96px;'>P.O. Box 91560</span><br>
             <span style='margin-left:96px;'>Washington, DC 20090</span><br>
             <i>Be sure to write your account number (<account number>) on your submission.</i>",
            "<strong>In-Person:</strong> Take the document(s) to any Economic Security Administration Office
            (call the #{Settings.contact_center.name} at #{Settings.contact_center.phone_number} for locations)."]
} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["You have the right to terminate your health insurance coverage. You can terminate your plan in your account
  on <a href='http://www.DCHealthLink.com'>#{Settings.site.website_name}</a> or by calling #{Settings.contact_center.name} toll-free at #{Settings.contact_center.phone_number}.
  You must tell us that you want us to terminate your plan at least 14 days before you want your plan to end.<br><br>

  Your health insurance may also be terminated without your request if you don’t pay your premiums or if our data indicates
  that the information you put on your application, or on your renewal form, has changed and you are no longer eligible for coverage.
  If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible
  for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information
  about how to contest the decision. "],
    heading: 'Ending Your Health Insurance Coverage', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Important information is stored in your account on the #{Settings.site.short_name} website.  If you don’t have an account already,
    you can create one by going to <a href='http://www.DCHealthLink.com'>#{Settings.site.website_name}</a>. You can get help with logging in or creating an account by calling
    #{Settings.contact_center.name} toll-free at #{Settings.contact_center.phone_number}."],
    heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["If you disagree with any determination about the amount or type of health care coverage benefits you or
    any of the other person(s) in your household was found eligible for, you have the right to appeal the determination(s).
    You may request an appeal by phone, in person, online, and by mail. You must request an appeal within the 95 days following
    the postmark date (or date at the top) of the determination notice.  D.C. Official Code §4-210.09, 42 C.F.R. §431.221,
    and 45 C.F.R. §155.520. <strong>See the insert for more information on your appeal rights.</strong>"],
    heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
