<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Your 2017 Health Insurance Coverage and Preliminary Renewal Information</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "#{Settings.site.short_name} has started the process of renewing your health and/or dental insurance for the 2017 plan year, which begins on January 1, 2017.  Please review the information below and let us know by <strong>10/31/2016</strong> if anything will be different next year.   We will be using the information we have for you to determine the amount of premium reductions you may qualify for to reduce your monthly 2017 premiums."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>Note: If this notice was sent to you in error, and your health plan for 2016 has been cancelled or terminated, you must go to <a href='www.DCHealthLink.com'>www.dchealthlink.com</a> during open enrollment to re-enroll for 2017.  If your coverage is terminated or cancelled for any reason, including for non-payment of premiums, now or before the end of the year, it will not be automatically renewed.</strong>"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["To receive the correct premium reduction you must update the information below if it is not correct for 2017.  This information is for your entire tax household, which includes your spouse and tax dependents, even if they do not need coverage through #{Settings.site.short_name}."],
   heading: 'Review Your Information', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Information we have for you or other members of your household:"} %>

<% notice.individuals.each do |member| %>
  <%= render partial: 'notices/shared/table_for_ivlr_notices', locals: {headers: [member.full_name.titleize],
                           rows: [['State of Residency', "#{member.residency_verified}"],
                              ['Citizenship/Lawful Presence', "#{member.citizen_status}"],
                              ['Tax Status',"#{member.tax_status}"],
                              ['Other Coverage',"#{member.mec}"],
                              ['Tax Household Size',"#{member.taxhh_count}"],
                              ['Projected 2017 Annual Income',number_to_currency("#{member.projected_amount}")],
                              ['Incarcerated',"#{member.incarcerated}"]],
  col_styles: ['width: 50%;', 'width: 50%; text-align: left;'], table_width: '100%'} %>
<%end%>

 <%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>If any of this information is incorrect, or if you need to add or remove anyone from your household please let us know by 10/31/2016.</strong>  You can report any changes by calling #{Settings.site.short_name} Customer Service at (855) 532-5465."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Based on the information we have for you (detailed above), your household will NOT be eligible for the advanced premium tax credit or cost-sharing reductions in 2017. This is because the people listed below are eligible for Medicaid, based on your household income:"],
   heading: 'Projected 2017 Premium Reduction Eligibility', sub_heading: ''} %>

<%= render partial: 'notices/shared/list_with_padding', :locals => { listings: notice.individuals.map{|member| member.full_name.titleize } } %>

 <%= render partial: 'notices/shared/paragraph', :locals => {
content: "45 C.F.R. §155.305(f)(g)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Medicaid offers free, comprehensive health coverage.  You are still eligible to enroll in private health insurance coverage without financial help to reduce the cost of your monthly premiums. You do not need to pick between having Medicaid and private health insurance, but if you are enrolled in both, Medicaid will only cover what the private health insurance plan does not."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "In order to receive a final eligibility notice for Medicaid, make sure your information is correct and respond to all requests for additional documentation.   Even if you do not respond to the requests for documentation, and are ultimately determined ineligible for Medicaid based on a failure to respond, you would still be ineligible for financial help through the advanced premium tax credit and cost-sharing reductions.  If you are eligible for Medicaid, enrollment information will be sent to you in a separate notice."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Important information is stored in your account on the #{Settings.site.short_name} website.  If you don’t have an account already, you can create one by going to <a href='www.DCHealthLink.com'>www.dchealthlink.com</a>. You can get help with logging in or creating an account by calling #{Settings.site.short_name} Customer Service toll-free at (855) 532-5465."],
   heading: 'Your Secure User Account', sub_heading: ''} %>