<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Confirmation of Health Plan Change</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "On [date of plan selection], you requested that we switch you or others in your household to a different #{Settings.site.short_name} plan.  The following individual(s) are now enrolled in [plan 1 name] health insurance plan."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content:  "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  [Plan 1 Enrollee First Name][Plan 1 Enrollee Last Name]
  <br><br>
[IF More than One Enrollee in Plan 1]
<br><br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 [Plan 1 Enrollee 2 First Name][Plan 1 Enrollee 2 Last Name]"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You will start getting health insurance benefits through [Plan Name] on [Coverage Effective Date], as long as you make the first premium payment by the due date. You will receive an invoice directly from your plan within 3 – 10 business days and the due date for the first premium will be listed on the invoice. If you get any health care services before [Coverage Effective Date], you may have to pay the costs for those services on your own if you have not yet paid your premium."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "For any questions about your health plan’s covered services and providers, you need to contact:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "[plan 1 name] at [plan 1 main phone number]"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "[IF More than One Plan Selected]<br><br>
  Additionally, the following individual(s) selected the [plan N name] health insurance plan.
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  [Plan N Enrollee First Name][Plan N Enrollee Last Name]<br><br>
  [IF More than One Enrollee in Plan N]<br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  [Plan N Enrollee 2 First Name][Plan N Enrollee 2 Last Name]"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You will start getting health insurance benefits through [Plan Name] on  [Coverage Effective Date], as long as you make the first premium payment by the due date. You will receive an invoice directly from your plan within 3 – 10 business days and the due date for the first premium will be listed on the invoice. If you get any health care services before [Coverage Effective Date], you may have to pay the costs for those services on your own if you have not yet paid your premium."} %>


<%= render partial: 'notices/shared/paragraph', :locals => { content: "For any questions about your health plan’s covered services and providers, you need to contact:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "[plan N name] at [plan N main phone number]"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["The amount you pay monthly for health insurance is called an “insurance premium”.  Your monthly premium (what you see on your bill) will indicate an amount that has already been reduced by a premium tax credit."], heading: 'New Plan Costs', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<u>Your new plan does not start covering you until you have paid your first premium.</u>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "[Plan 1]<u>[Plan 1 name]</u>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Your monthly premium cost for [Plan 1] is as follows:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Total Monthly Premium:
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    $[Total Plan 1 Monthly Premium]",
    "Minus Your Monthly Premium Tax Credit:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    -$[Plan 1 Selected APTC]"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________________"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["<strong>Your Total Monthly Premium Cost: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    $[Plan 1 Consumer Monthly Premium]</strong>"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Remember, you must pay the full amount of your health insurance bill by the due date or your insurance coverage will stop.</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "[IF More than One Plan Selected; Plan N]<u>[Plan N name]</u>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You may receive a separate bill for each plan.  You must pay each of these bills or the health insurance for your household will be terminated.  Again, the monthly premium for the-insurance (what you see on the bill) will indicate an amount that has already been reduced by a premium tax credit, as indicated below: "} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "&nbsp;&nbsp; &nbsp;&nbsp;The monthly premium for [plan N name] is $ <strong>[Plan N Consumer Monthly Premium], as &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;indicated below:</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Your monthly premium cost for [Plan N] is as follows:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Total Monthly Premium:
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    $[Total Plan N Monthly Premium]",
    "Minus Your Monthly Premium Tax Credit:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    -$[Plan N Selected APTC]"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________________"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["<strong>Your Total Monthly Premium Cost: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    $[Plan N Consumer Monthly Premium]</strong>"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Remember, you must pay the full amount of the health insurance premium for your household or the health insurance will stop.</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "A more detailed explanation of costs and benefits can be found in the plan’s Summary of Benefits Notices at [Plan 1 summary of benefits URL] "} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["By enrolling in a new Health Plan, you will be terminating your current plan. It will be terminated on [Termination Effective Date].   To make sure you do not have a break in your coverage, you must still pay all premiums for the old plan until that date.   Remember to tell the other household members listed above that their health insurance will also change on [Termination Effective Date]."], heading: 'Current Plan Coverage', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you want to stop this change from taking effect, you must contact #{Settings.contact_center.name} toll free at #{Settings.contact_center.phone_number} <u>as quickly as possible</u>.  You cannot reverse these changes once they have taken effect. "], heading: 'Stopping the Change', sub_heading: ''} %>
