<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/ivl_logo', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>UPDATE YOUR INFORMATION BY <%= (TimeKeeper.date_of_record + 35.days).strftime("%B %d, %Y") %></td>
      <td>UPDATE YOUR INFORMATION BY <%= (TimeKeeper.date_of_record + 35.days).strftime("%B %d, %Y") %>
      IT'S URGENT THAT YOU CALL US IF YOU NEED HELP PAYING FOR COVERAGE IN <coverage year>
      </td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-bottom: 10px;">Dear <%= notice.primary_firstname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
   content: "We’re sending you this letter because it’s almost time to renew your health or dental plan for next year."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: [""],
   heading: 'Here’s What You Need to Do Now', sub_heading: ''} %>

<!-- [IF AQHP=YES AND IRS CONSENT FOR UPCOMING COVERAGE YEAR = NO] -->
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<strong>Types of cost-sharing include:</strong>",
  listings: ["Call us as soon as possible if you still need help paying for coverage in <coverage year>",
             "Review your household information, and make sure it’s correct",
             "Let us know by <Date of letter + 35 days> if you need to update your household information for <coverage year>",
             "Review your projected eligibility results for <coverage year>"]} %>
<!-- [IF AQHP=YES AND IRS CONSENT FOR UPCOMING COVERAGE YEAR = NO] -->

<!-- IRS CONSENT FOR UPCOMING COVERAGE YEAR = NO] -->
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<strong>Types of cost-sharing include:</strong>",
  listings: ["Call us as soon as possible if you still need help paying for coverage in <coverage year>",
             "Review your household information, and make sure it’s correct",
             "Let us know by <Date of letter + 35 days> if you need to update your household information for <coverage year>",
             "Review your projected eligibility results for <coverage year>"]} %>
<!-- IRS CONSENT FOR UPCOMING COVERAGE YEAR = NO] -->

<!-- All -->
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<strong>Types of cost-sharing include:</strong>",
  listings: ["Call us as soon as possible if you still need help paying for coverage in <coverage year>",
             "Review your household information, and make sure it’s correct",
             "Let us know by <Date of letter + 35 days> if you need to update your household information for <coverage year>",
             "Review your projected eligibility results for <coverage year>"]} %>
 <!-- All -->


<!-- if irs consent = NO -->
<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["The federal government requires us to verify your household income every year to see if you’re still eligible for help paying for coverage. We do this by checking tax data from the Internal Revenue Service (IRS), but need your consent. If you do not give us permission to check IRS data, you can’t get help paying for coverage.", "If you want to continue to receive a tax credit to help pay your monthly premiums, or cost-sharing reductions that lower other health care costs in <coverage year>, call DC Health Link as soon as possible at (855) 532-5465. Tell customer service that you want to update your IRS consent."],
   heading: 'It’s Urgent that You Call Us if You Still Need Help Paying for Coverage', sub_heading: '', top_margin: '10px', bottom_margin: '5px'} %>
<!-- if irs consent = NO -->

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: [""],
   heading: 'Review Your Household Information', sub_heading: ''} %>

<!-- [If UQHP=YES] -->
<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "Each year, the federal government requires us to confirm that you still qualify to get coverage through DC Health Link. Please review your household information. If it’s correct, you don’t need to do anything right now. If this information needs to be updated for <coverage year>, or if you need to add or remove someone, please let us know by <Date of Letter + 35 Days>. To make updates, login to your account at dchealthlink.com or call us at (855) 532-5465."} %>

<!-- uqhp individuals -->
<% notice.individuals.each do |member| %>
  <%= render partial: 'notices/shared/table_for_ivlr_notices', locals: {headers: [member.full_name],
                             rows: [['DC Resident', "#{member.residency_verified}"],
                                ['Citizenship/Lawful Presence', "#{member.citizen_status}"],
                                ['Incarcerated',"#{member.incarcerated}"]],
    col_styles: ['width: 50%;', 'width: 50%; text-align: left;'], table_width: '100%'} %>
<%end%>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["If your household meets certain income and other requirements, you may be able to get help paying for your health coverage in <coverage year>. There are several types of help that may be available to you:"],
   heading: 'Need Help Paying for Your Health Plan?', sub_heading: '', top_margin: '8px'} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["<strong>Medicaid</strong> – free, comprehensive health coverage",
            "<strong>Advance premium tax credits</strong> – help paying your monthly premium for private health insurance",
            "<strong>Cost-sharing reductions</strong> – a discount that lowers your share of out-of-pocket costs for medical services"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "To see if you can get help, login to your account at dchealthlink.com, and apply for Medicaid and tax credits. When you do, we’ll also see if you qualify for cost-sharing reductions. You can also call us at (855) 532-5465."} %>
 <!-- uqhp = YES -->

<!-- [If AQHP=YES] -->
<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "Each year, the federal government requires us to confirm that you still qualify to get coverage through DC Health Link. We also need to verify any cost savings you may qualify for in <coverage year>."} %>


<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "Please review your household information. If it’s correct, you don’t need to do anything right now. If this information needs to be updated for <coverage year>, or if you need to add or remove someone, please let us know by <Date of Letter + 35 Days>. To make updates, login to your account at dchealthlink.com or call us at (855) 532-5465."} %>

<!-- aqhp individuals -->
<% notice.individuals.each do |member| %>
  <%= render partial: 'notices/shared/table_for_ivlr_notices', locals: {headers: [member.full_name],
                             rows: [['DC Resident', "#{member.residency_verified}"],
                                ['Citizenship/Lawful Presence', "#{member.citizen_status}"],
                                ['Incarcerated',"#{member.incarcerated}"],
                                ['Other Coverage', ""],
                                ['Federal Tax Filing Status:', ""],
                                ['Tax Household Size:', ""],
                                ['Expected Income for <coverage year>',""]],
    col_styles: ['width: 50%;', 'width: 50%; text-align: left;'], table_width: '100%'} %>
<%end%>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["Based on the information we have in our records about your household, your projected results are listed below. This is not a final eligibility decision. Your eligibility may change once we get more information from you, or from our electronic data sources. You will get another notice with your final eligibility determination for <Coverage Year> in about a month."],
   heading: 'Your Projected Eligibility Results for <Coverage Year>', sub_heading: '', top_margin: '8px'} %>

<!-- [If likely MAGI Medicaid=YES] -->
<%= render partial: 'notices/shared/unordered_family_listing', locals: {
  previous: "<strong>Likely Qualify for Medicaid:</strong>",
  listings: notice.magi_medicaid_eligible} %>


<!-- [If AQHP=YES for AQHP OR for NON MAGI MEDICAID ONLY] -->
<%= render partial: 'notices/shared/unordered_family_listing', locals: {
  previous: "<strong>Qualify for Private Health Insurance with Savings:</strong>",
  listings: notice.aqhp_individuals} %>


<% if notice.aqhp_individuals.present? %>
  <%= render partial: 'notices/shared/unordered_family_listing', locals: {
    previous: "<strong>Qualify for Private Health Insurance with Savings:</strong>",
    listings: notice.aqhp_individuals} %>
  <% notice.tax_households.each do |thh|%>
    <% if thh.max_aptc > 0 %>
      <%= render partial: 'notices/shared/paragraph_with_headers_for_ivl', :locals => {
       contents: ["This tax credit is used to help pay the monthly premium – the amount you pay each month to the insurance company to have a health plan."],
         heading: '', sub_heading: "<strong>Advance Premium Tax Credit Savings:</strong> $#{thh.max_aptc}/month"} %>
    <% else %>
      <%= render partial: 'notices/shared/paragraph_with_headers_for_ivl', :locals => {
       contents: ["This tax credit is used to help pay the monthly premium – the amount you pay each month to the insurance company to have a health plan. The value of your tax credit is $0, because a basic silver plan will cost you less than what the federal government expects you to spend each month on health insurance."],
         heading: '', sub_heading: "<strong>Advance Premium Tax Credit Savings:</strong> $#{thh.max_aptc}/month"} %>
    <% end %>
  <% end %>
<% end %>

<% if notice.tax_hh_with_csr.present? %>
  <% notice.tax_hh_with_csr.each do |hh_csr|%>
    <% case hh_csr.csr_percent_as_integer %>
    <% when 73 %>
      <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. For example, an annual deductible that would normally be $2,000 for an individual might be reduced to $1,300. The deductible is how much you must pay for some covered services you use before your insurance company begins to help with costs. <strong>To get these savings, you must select a silver plan.</strong>", bottom_margin: '5px'} %>
    <% when 87 %>
      <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. For example, an annual deductible that would normally be $2,000 for an individual might be reduced to $0, and the cost to see an in-network doctor might be $15 instead of $25. The deductible is how much you must pay for some covered services you use before your insurance company begins to help with costs. <strong>To get these savings, you must select a silver plan.</strong>", bottom_margin: '5px'} %>
    <% when 94 %>
      <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. For example, an annual deductible that would normally be $2,000 for an individual might be reduced to $0, and the cost to see an in-network doctor might be $0 instead of $25. The deductible is how much you must pay for some covered services you use before your insurance company begins to help with costs. <strong>To get these savings, you must select a silver plan.</strong>", bottom_margin: '5px'} %>
    <% when 100 %>
      <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. You won’t pay anything for services you get from providers who are in your plan’s network. You also won’t pay anything for services you receive from an Indian Health Service provider.", bottom_margin: '5px'} %>
    <% else %>
      <%= render partial: 'notices/shared/paragraph', :locals => {
      content: "<strong>Cost-sharing reductions:</strong> Those listed are also eligible to pay less when getting medical services. You won’t pay anything for services you receive from an Indian Health Service provider.", bottom_margin: '5px'} %>
    <% end %>
  <% end %>
<% end %>

<% if notice.uqhp_individuals.present? %>
  <%= render partial: 'notices/shared/unordered_family_listing', locals: {
    previous: "<strong>Qualify for Private Health Insurance without Savings:</strong>",
    listings: notice.uqhp_individuals} %>
<% end %>

<% if notice.ineligible_applicants.present? %>
  <%= render partial: 'notices/shared/unordered_family_listing', locals: {
    previous: "<strong>Does Not Qualify for Coverage:</strong>",
    listings: notice.ineligible_applicants} %>
<% end %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: ["If your plan is terminated, or cancelled for any reason before the end of the year, it will not be automatically renewed. You must go to dchealthlink.com during open enrollment to enroll for <coverage year>.","Open enrollment for <coverage year> begins on <OE Start Date>, and ends on <OE End Date>."],
   heading: 'What if I Don’t Have a Plan Anymore?', sub_heading: '', top_margin: '10px', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "If you have questions or concerns, we’re here to help.<br></br>The #{Settings.site.short_name} Team <br></br> _____________________________________________________________________________________________________________"} %>

<%= render partial: 'notices/shared/reference_paragraph', :locals => {
contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:",
"Basic exchange eligibility standards: 45 CFR §155.305(a)",
"Advanced premium tax credit eligibility standards: 45 CFR §155.305(f)",
"Cost-sharing reduction eligibility standards: 45 CFR §155.305(g)",
"Annual eligibility redetermination and renewal standards: 45 CFR §155.335",
"Open enrollment period: 45 CFR §155.410",
"<i>Medicaid Regulations</i>",
"State residence: 42 CFR § 435.403",
"Citizenship and non-citizenship eligibility: 42 CFR § 435.406",
"Medicaid use of modified adjusted gross income:  42 CFR § 435.603",
"Medicaid determination of eligibility: 42 CFR § 435.911",
"Eligibility for medical assistance programs: 42 C.F.R. § 435.945(a) and (b)",
"Verification of other non-financial information: 42 CFR § 435.956",
"Non-citizen eligibility for federal benefits: 8 USCS 1 § 1611, § 1612, and § 1613"]} %>
