<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Special Enrollment Period Denial</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Based on the information you provided on «Date_of_Request», your request for a special enrollment period has been denied because you did not provide sufficient information demonstrating that you met the criteria listed in the federal regulations."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This decision is supported by the following provision of the Code of Federal Regulations: 45 C.F.R. §155.420(d)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This means that, although you may be eligible to participate in #{Settings.site.short_name}, either with or without financial assistance (such as premium tax credits and/or cost-sharing reductions), you <u>either</u> are not eligible to enroll in a health plan at this time OR are not eligible to <u>change</u> from the plan you are currently enrolled in because open enrollment is closed.  Circumstances that allow individuals to enroll in health plans outside of open enrollment include the following, <u>when reported promptly</u>."} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Moving to the #{Settings.aca.state_name}",
   "Birth, adoption, or placement for adoption",
   "Getting married",
   "Losing health coverage during the year",
   "Becoming a citizen or gaining a new immigration status",
   "Experiencing a change in eligibility for premium tax credits or cost-sharing reductions, or the amount of premium tax credits or cost-sharing reductions, if already enrolled in a #{Settings.site.short_name} plan",
   "Not enrolling during the open enrollment period was unintentional, inadvertent, or erroneous and was the fault of a #{Settings.site.short_name} employee or the enrollment error was the result of misconduct by someone providing enrollment assistance, or an insurance company representative."] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "For more information, go to www.DCHealthLink.com and click on “Get Help”. Click on “Read the FAQs” and search for “Special Enrollment Periods”."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>You may submit a new request for a special enrollment period at any time, with new information, by calling #{Settings.contact_center.name} at #{Settings.contact_center.phone_number}.</strong>"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["The 2016 Open Enrollment Season ended on January 31, 2016.  If you are already active on another enrollment, this denial does not impact that enrollment.  <u>You must make sure to pay all currently due premiums on that new plan selection to make sure it is active.</u>  Call your health insurance company at the numbers below to make sure your payments are active."], heading: '2016 Open Enrollment', sub_heading: ''} %>

<%= render partial: 'notices/shared/table', locals:
	{rows: [['CareFirst', '(855) 444-3119', 'Delta Dental', '(800) 471-0236'],
		    ['Kaiser', '(866) 475-3925', 'Dentegra Dental', '(800) 471-0284'],
		    ['Aetna', '(855) 586-6959', 'Dominion Dental', '(888) 518-5338']],
  	col_styles: ['width: 25%;', 'width: 25%; text-align: center;', 'width: 25%;', 'width: 25%; text-align: center;'],
    table_width: '100%',
    headers: []} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["You can re-apply for a special enrollment period if you meet one of the qualifying criteria in the future and enroll in coverage during 2016.  Otherwise, you must wait to enroll in 2017 coverage, which goes into effect on January 1, 2017.  You can begin shopping for 2017 plans when the 2016 Open Enrollment Period starts on November 1, 2016."], heading: 'If Your Coverage Has Terminated or Been Cancelled', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>If you made payments after the effective date of your plan termination or cancellation, and those funds have not already been refunded to you, you can call your health insurance company at the numbers listed above to request a refund.</strong> If the plan refuses to provide the refund, you can contact the Department of Insurance, Securities, and Baking Consumer Services Division at disb.complaints@dc.gov or (202) 727-8000."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["The enrollment period for Medicaid never closes. A person can apply for Medicaid coverage at any time of the year.  Nothing in this decision impacts the eligibility of anyone in your household who has already been determined eligible for Medicaid. If anyone in your household becomes eligible for Medicaid in the future, they can enroll in Medicaid at that time."], heading: 'Medicaid Enrollment', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you disagree with this determination that you are not eligible for a special enrollment period, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal <strong>by «Appeal_Deadline»</strong>.   The DC Health Benefit Exchange will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve.  <strong>See the insert for more information on your appeal rights.</strong>  45 C.F.R. §155.520."], heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
