<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<style type="text/css" media="screen,print">
.break{
   display: block;
   clear: both;
   page-break-after: always;
}
</style>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Special Enrollment Period Approval</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Based on the information you provided, you and everyone else in your tax household (see “Eligibility Decision” section) were determined eligible for a special enrollment period."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you have not already done so, individuals not already enrolled in a private insurance plan through #{Settings.site.short_name} can now choose a health insurance plan.   Individuals already enrolled in a private insurance plan through #{Settings.site.short_name} can change health insurance plans. If you are already enrolled in a #{Settings.site.short_name} plan and you do not change plans, your current plan enrollment will continue."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["To select your new health insurance plan, login to your online account and click on the “Shop for Plans” link."], heading: 'Selecting a Private Health Insurance Plan', sub_heading: ''} %>

<%= render partial: 'notices/shared/sep' %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not see this link, call #{Settings.contact_center.name} toll free at #{Settings.contact_center.phone_number}."} %>

<div class="break"></div>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>You must choose a plan before [SEP_End_Date]. The start date for your coverage depends on your circumstances and the date you select your plan.  The earlier you choose a plan, the sooner you will have health insurance.</strong> In most cases, if you select a plan by the 15th of the month, your coverage will start on the first day of the following month once you have paid your first month’s premium. If you enroll after the 15th of a month, your coverage will start on the first day of the next following month once you have paid your first month’s premium. 45 C.F.R. §155.420(b)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Certain circumstances, such as having a baby, getting married, and losing other health insurance coverage, may qualify you for an earlier start date. If during the enrollment process you do not see the start date for your coverage that you expected, you should complete your enrollment and then call #{Settings.contact_center.name} toll free at #{Settings.contact_center.phone_number}. If you qualify for an earlier coverage start date, #{Settings.site.short_name} will work with your insurance company to apply the necessary changes."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you need help choosing a plan, you may call #{Settings.contact_center.name} toll free at #{Settings.contact_center.phone_number} or contact a broker or in-person assister. You can search for brokers and in-person assisters at www.DCHealthLink.com or by calling #{Settings.contact_center.name}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["The following individuals qualify for a special enrollment period based on the circumstance listed below.  When multiple qualifying circumstances applied, the circumstance that provides you with the earliest coverage start date was applied. If all qualifying circumstances would provide you with the same coverage start date, the circumstance triggering the longest enrollment period was applied.   Additionally, some of the persons listed below may qualify based on circumstances that did not happen to them, but happened to a person in their household."], heading: 'Eligibility Decision', sub_heading: ''} %>

<%= render partial: 'notices/shared/table', locals: {
  headers: ['Individual(s)', 'Qualifying Circumstance'],
  rows: [['[Name]', '[Circumstance]'],
         ['[Dependent_1]', '[Circumstance_1]'],
         ['[Dependent_2]', '[Circumstance_2]'],
         ['[Dependent_3]', '[Circumstance_3]'],
         ['[Dependent_4]', '[Circumstance_4]'],
         ['[Dependent_5]', '[Circumstance_5]']],
  col_styles: ['width: 30%;', 'width: 70%; text-align: center;'], table_width: '100%'} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This decision is supported by the following provision of the Code of Federal Regulations: 45 C.F.R. §155.420(d)."} %>

<div class="break"></div>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Important information is stored in your account on the #{Settings.site.short_name} website.  If you don’t have an account already, you can create one by going to www.DCHealthLink.com. You can get help with logging in or creating an account by calling #{Settings.contact_center.name} toll-free at #{Settings.contact_center.phone_number}."], heading: 'Your Secure User Account', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal by <strong>«Appeal_Deadline»</strong>.   #{Settings.site.short_name} will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve.  <strong>See the insert for more information on your appeal rights.</strong>"], heading: 'If You Think We Made a Mistake', sub_heading: ''} %>
