<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>To</h3></td>
      <td><%= notice.email %></td>
    </tr>
    <tr>
      <td><h3>Subject</h3></td>
      <td>Enroll Now: Your Health Plan Open Enrollment Period has Begun</td>
    </tr>
    <tr>
      <td><h3>[Content]</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Good News! #{notice.employer_name} has chosen to renew the offer of health insurance coverage to its employees through #{Settings.site.short_name} and will contribute to the monthly premium to make the cost of coverage more affordable. ".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Your Current Plan is No Longer Available</strong><br>
  The plan in which you are currently enrolled will no longer be available
  to you beginning #{notice.plan.try(:coverage_start_on).try(:to_s)}.  You must select another plan by #{notice.plan.try(:open_enrollment_end_on).try(:to_s)} in order to continue coverage effective #{notice.plan.try(:coverage_start_on).try(:to_s)}.".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>IMPORTANT:  You MUST Select a New Plan to Continue Coverage into Upcoming Plan Year</strong><br>
  If you do not make a new plan selection by #{notice.plan.try(:open_enrollment_end_on).try(:to_s)}, your current
  coverage will be terminated on #{notice.plan.try(:coverage_start_on) - 1} and you will
  not have coverage for the upcoming plan year beginning on #{notice.plan.try(:coverage_start_on).try(:to_s)}.".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>What is Open Enrollment?</strong><br>
  Open enrollment is your annual opportunity to enroll in health plans
  offered by your employer or make changes to your current plan
  selection.  Outside of this annual open enrollment period, you will only
  be allowed to make changes to your enrollment if you experience certain
  life events such as marriage, birth, or adoption.".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>To See Plan Options and Enroll:</strong><br>
  Please log-in to your existing #{Settings.site.short_name} account at #{notice.hbe.url} to
  view your plan options and complete the enrollment process.".html_safe} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Contact your employer or your broker for further assistance.".html_safe], heading: 'For Questions or Assistance:', sub_heading: ''} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Contact your employer for further assistance.".html_safe], heading: 'For Questions or Assistance:', sub_heading: ''} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{Settings.site.short_name} with any questions:".html_safe} %> 

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Online at #{Settings.site.website_name};".html_safe,
   "By email at employer.hbx@dc.gov; or".html_safe,
   "By calling 855-532-5465.".html_safe] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<p style='display:flex'>
     <strong>CC:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <table  class='total_table' border='0' align='right'>
      <tbody>
        <tr><td>#{notice.employer_name}</td></tr>
      </tbody>
     </table>
   </p>".html_safe} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This notice is being provided in accordance with 45 C.F.R. 155.725(f)".html_safe} %>
