<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span style='color:#ff0000;'><h3>[SHOP4A]<br>
  Employee Reminder to Complete Initial Open Enrollment</h3></span>".html_safe} %>

  <%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Email to Employee – Initial Open Enrollment Period Reminder</strong>".html_safe} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[To]</span>[Employee Email Address]</td>
    </tr>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[Subject]</span>REMINDER:  Your Health Plan Open Enrollment Ending Soon</td>
    </tr>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[Content]</span></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>
<br/>
<%= render partial: 'notices/shared/paragraph', :locals => { content: "This is a reminder that you have until <OE End Date> to enroll into health coverage offered by <Employer Name> through #{Settings.site.short_name}. ".html_safe} %>

  <%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>To See Plan Options and Enroll:</strong><br>
  To complete the enrollment process, please complete the following steps:".html_safe} %>

  <%= render partial: 'notices/shared/paragraph', :locals => { content: "<ol>
    <li>Go to [HBEURL]</li>
     <li>Log-in or create an account</li>
     <li>If necessary, update your household information.</li>
     <li>Select your health plan option.</li></ol>".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>What is Open Enrollment?</strong><br>
   Open enrollment is your annual opportunity to enroll in your employer’s health plan or make changes to your current plan selection.  Outside of this annual open enrollment period, you will only be allowed to make changes to your health plan enrollment if you experience certain life events such as marriage, birth, or adoption.".html_safe} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<span style='color:#ff0000; font-weight:bold;'> [If ER has a Broker/Assister] </span> Contact your employer or your broker for further assistance.<br/>
   <span style='color:#ff0000; font-weight:bold;'> [If ER does NOT have a Broker/Assister] </span> Contact your employer further assistance.
".html_safe], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{Settings.site.short_name} with any questions:".html_safe} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
 ["Online at [HBEURL]".html_safe,
  "By email at [HBEEMAIL]; or".html_safe,
  "By calling [HBEPHONE].".html_safe] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<p style='display:flex'>
     <strong>CC:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <table  class='total_table' border='0' align='right'>
      <tbody>
        <tr><td>[Employer Name]</td></tr>
      </tbody>
     </table>
   </p>".html_safe} %>


<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong style='color:#ff0000;'>[If ER has a Broker/Assister, include contact info below]</strong><br>
  <p style='display:flex'><strong>Broker:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <table  class='total_table' border='0' align='right'>
    <tbody>
      <tr><td>[Broker/Assister First Name] [Broker/Assister Last Name]</td></tr>
      <tr><td>[Broker/Assister Organization]</td></tr>
      <tr><td>[Broker/Assister Street Address 1]</td></tr>
      <tr><td>[Broker/Assister Apt/Suite]</td></tr>
      <tr><td>[Broker/Assister City], [Broker/Assister State] [Broker/Assister Zip]</td></tr>
      <tr><td>[Broker/Assister Direct Phone #]</td></tr>
      <tr><td>[Broker/Assister Email]</td></tr>
      <tr><td>[Broker/Assister Web]</td></tr>
    </tbody>
  </table></p>".html_safe} %>
