<% @style_color_text = "style='color: #FF0000;'" %>
<% @style_underline = "style='text-decoration: underline;'" %>
<% @style_text_indent = "style='margin-left:30px;'" %>
<% @style_color_indent = "style='color:#ff0000; margin-left:30px;'" %>

<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>



<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Documents needed to confirm eligibility for your plan</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "When you enrolled in your insurance plan(s) through DC Health Link, some of your information did not match all the electronic data sources we are required by law to check.  As a result, we now need you to submit documents verifying the information you provided on your application. This notice lists the documents that we need below."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "We need your documents <strong>by #{notice.due_date}</strong>. If we do not have your documents by then, your insurance plan(s) may be terminated."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["To make sure that we have correct and complete information about all the members of your household, we need you to provide some additional documents. <strong>Scanned or photocopied versions of these documents are acceptable.</strong>"],
    heading: 'Provide Documents Needed 45 CFR §155.315(f)(2)', sub_heading: ''} %>

<%#= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[PICK one or multiple of the following, based on which persons have inconsistencies and which areas are inconsistent]</span>"} %>

<%#= render partial: 'notices/shared/paragraph', :locals => {
  content: "<span #{@style_color_text}>[IF SSN Unverified]</span> <strong><i>Documents Showing Social Security Number.</i></strong> The Social Security Administration could not confirm that the Social Security Number provided for the following applicants are correct:"} %>
<% if notice.ssa_unverified.any? %>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong><i><span style='font-size:13px'>Documents Showing Social Security Number</span></i></strong><br>The Social Security Administration could not confirm that the Social Security Number provided for the following applicants are correct:"} %>

<%= render partial: 'notices/shared/list_with_padding', :locals => { listings: notice.ssa_unverified.map{|individual| individual.full_name } } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Under federal law, 45 C.F.R. §155.310(a)(3), we are required to obtain the Social Security Number of every person who is applying for DC Health Link. We will only use your Social Security Number to verify the information you told us on your application or renewal form. We will check your information in the District and Federal databases, and the databases of other District, Federal agencies, and a consumer reporting agency."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can use a Social Security card to verify the Social Security Number(s) you provided to us.  If you do not have a Social Security Number or cannot remember your Social Security Number, we can help you obtain one. You may not need to provide a Social Security Number if you have a well-established religious objection. If you need help or have any questions, please contact DC Health Link Customer Service at 1-855-532-5465."} %>
<% end %>

<% if notice.dhs_unverified.any? %>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong><i><span style='font-size:13px'>Documents of Citizenship or Immigration Status</span></i></strong><br>We need proof of U.S. citizenship or immigration status for the following applicant household members:"} %>

<%= render partial: 'notices/shared/list_with_padding', :locals => { listings: notice.dhs_unverified.map{|individual| individual.full_name } } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<u>How to Prove US Citizenship</u><br>
  Two types of documentation are accepted to confirm citizenship status.  We call the two types “primary” and “secondary” documentation.  If you provide primary documentation, no other documents are required.  If you provide secondary documentation, other identification (ID) is required for verification.  Secondary documentation must be accompanied with an identification card containing a recent photo and other identifying information. <br>
"} %>
<% end %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<u>Primary documentation</u>:  (Only One (1) is needed) ",
  listings: [["U.S. Passport", ["<i>Note</i>: Expired passports are acceptable."]],
    "Certificate of Naturalization", 
    "Certificate of Citizenship",
    "Consular report of Birth Abroad of U.S. Citizen",
    "A valid Driver’s License from a state that requires proof of citizenship and verification of Social Security Number prior to issuance of the license.",
    ["A tribal document issued by a federally-recognized Indian Tribe, which must:",
        ["Identify the Tribe issuing the document;",
          "Identify the individual by name; and",
          "Confirm the individual’s enrollment in or affiliation with the Tribe.",
          "<strong>Examples</strong>: tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document"]]]} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<u>Secondary documentation</u>:  (Must Present One (1) of the following, along with ID)",
  listings: ["A U.S. birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain’s Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana Islands. If born in the Puerto Rico, the Virgin Islands, or Commonwealth of the Northern Mariana Islands prior to the time these areas became part of the U.S., the individual will satisfy the citizenship requirement if he or she is a collectively naturalized citizen.",
    "A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands before November 4, 1986",
    "A certification of Report of Birth, issued to U.S. citizens born outside the U.S.",
    "A Report of Birth Abroad of a U.S. Citizen",
    "A Certification of Birth",
    "A U.S. Citizen I.D. Card",
    "A final adoption decree showing the child’s name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the child’s name and U.S. place of birth",
    "Evidence of U.S. Civil Service employment before June 1, 1976","U.S. Military Record showing a U.S. place of birth",
    "Documentation that a child meets the requirements of §101 of the Child Citizenship Act ",
    "Medical records that indicate a U.S. place of birth",
    "Life, health, or other insurance record that indicates a U.S. place of birth",
    "Official religious record recorded in the U.S. showing that the birth occurred in the U.S.",
    "School records showing a U.S. place of birth",
    "Federal or State census record showing U.S. citizenship or a U.S. place of birth"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<u>Needed Information to Verify Immigration Status</u>"} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "<span class='mar20'><strong>The document that you may be able to use to verify your immigration status includes, but is not limited to:</strong></span>",
    listings: [
      ["Permanent Resident Card (I-551, also known as Green Card)", 
        ["Alien registration number", "Card number"]
      ], 
      ["Temporary I-551 Stamp (on passport or I-94, I-94A)", 
        ["Alien registration number"]
      ], 
      ["Immigrant Visa (with temporary I-551 language)", 
        ["Alien registration number", "Passport number"]
      ], 
      ["Employment Authorization Card (EAD or I-766)", 
        ["Alien registration number", "Card number", "Expiration date", "Category code"]
      ], 
      ["Arrival/Departure Record (I-94 or I-94A)", 
        ["I-94 number"]
      ], 
      ["Arrival/Departure Record in foreign passport (I-94)", 
        ["I-94 number", "Passport number", "Expiration date", "Country of issuance"]
      ], 
      ["Foreign passport", 
        ["Passport number", "Expiration date"]
      ], 
      ["Country of issuance Reentry Permit (I-327)", 
        ["Alien registration number"]
      ],
      ["Refugee travel document (I-571)", 
        ["Alien registration number"]
      ],     
      ["Certificate of Eligibility for Nonimmigrant (F-1) Student Status (I-20)", 
        ["Alien registration number or an I-94 number", "Description of the type or name of the document"]
      ],
      ["Certificate of Eligibility for Exchange Visitor (J-1) Status (DS2019)", 
        ["SEVIS ID"]
      ],
      ["Notice of Action (I-797)", 
        ["Alien registration number or an I-94 number"]
      ], 
      ["Other", 
        ["Alien registration number or an I-94 number", "Description of the type or name of the document"]
      ]
    ]
    } %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "You can also list these documents or statuses:",
  listings: ["Office of Refugee Resettlement (ORR) eligibility letter (if under 18)",
    "Document indicating withholding of removal",
    "Administrative order staying removal issued by the Department of Homeland Security (DHS)",
    "Certification from U.S. Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)",
    "Cuban/Haitian entrant",
    "Resident of American Samoa"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "We need your documents above by <strong>#{notice.due_date}</strong> in order to make a final decision on your eligibility for your health plan. If you do not provide the documents by this deadline, we will assume that our current records are correct. <u>Your health insurance coverage may be terminated</u>."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you think you will not be able to submit the requested documentation by <strong>#{notice.due_date}</strong> due to circumstances outside of your control, please call DC Health Link Customer Service toll free at (855) 532-5465.  If you truly have a special need, we will work with you to complete the verification process."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["You can send the necessary documents either online, through U.S. Postal mail, or in-person."],
    heading: 'How to Submit Your Documents', sub_heading: ''} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li style="margin-top: 5px;">
           <strong>Online:</strong> Log into your account.  You can upload a scanned copy of the document.
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<div style="display:block; page-break-inside: avoid;">
  <table class="total_table" border="0">
    <tbody>
      <tr class="fssizeuser">
        <td>
          <div class='display:block; page-break-inside: avoid;'>
            <ul style='list-style: circle solid;'>
              <li>
                <span style="width: 300px;">
                  <span style="float: left; width: 95px;"><strong>U.S. Postal Mail:</strong></span>
                  <span style="float: left; width: 205px;">
                    DC Health Link Exchange Contact Center<br>
                    PO Box 44018<br>
                    Washington, DC 20026<br><br>
                  </span>
              </span>
            </li>
           </ul></div>
        </td>
      </tr>   
    </tbody>
  </table>
</div>

<div style="display:block; page-break-inside: avoid;">
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li>
          <strong>In-Person:</strong> Take the document(s) to any Economic Security Administration Office (call the <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %> for locations).
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Important information is stored in your account on the DC Health Link website.  If you don’t have an account already, you can create one by going to <a href='www.DCHealthLink.com'>www.DCHealthLink.com</a>. You can get help with logging in or creating an account by calling DC Health Link Customer Service toll-free <br>at 1-855-532-5465."],
    heading: 'Your Secure User Account', sub_heading: ''} %>
