<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Voluntary Termination of Health Insurance</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "On [Termination Request Date], you asked us to terminate health insurance coverage for the following individual(s) from [plan name]: <br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Termination 1 First Name] [Termination 1 Last Name] <br><br>
[IF More than One Terminating Person] <br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Termination N First Name] [ Termination N Last Name] <br><br>

This coverage will end on [Termination Effective Date].  <u>You must still pay all premiums due until that date.</u>
"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "The coverage termination dates listed above are based on federal regulations, which require the following termination dates for voluntary terminations when the request is made to #{site_short_name}:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
	["The date requested by the customer if the request is made at least 14 days in advance.",
		"Fourteen days following the date of the request if the request is not made 14 days in advance."] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "45 C.F.R. §155.430(d)(2)"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "When you told us to end this coverage, you did not ask us to enroll the individuals listed above in a different insurance plan.  Once this health insurance has ended, you will not be able to re-enroll in an insurance plan through #{site_short_name} for [coverage year] unless you meet circumstances that qualify you for a “special enrollment period”.  We want to remind you that individuals who voluntarily go without health insurance for 3 months or more may be required to pay a federal tax penalty based on the number of months they are without health insurance."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<u>You must still pay all premiums for coverage until [Termination Effective Date]</u>. These payments must be paid directly to your health plan. If you pay these premiums, you will continue to have health insurance coverage until <u>[Termination Request Date]</u>."], heading: 'Next Steps', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you want to stop this termination from taking effect, you must contact #{contact_center_name} toll free at #{contact_center_phone_number} <u>as soon as possible</u>.  You cannot reverse this termination once it has taken effect."], heading: 'Stopping the Termination', sub_heading: ''} %>
