<div class="mainmenu">
  <div class="container">
    <ul role="tablist" class="list-unstyled list-inline" id="myTab">
      <li role="presentation"<%= menu_tab_class(active_tab, "hbx-profile-tab") %>>
        <%= link_to(exchanges_hbx_profiles_path, "aria-expanded" => "true", "aria-controls" => "hbx_profile", "role" => "tab" ) do  %>
          <span title="HBX Profile" aria-hidden="true" class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li role="presentation"<%= menu_tab_class(active_tab, "families-tab") %>>
       <%= link_to(family_index_exchanges_hbx_profiles_path, "aria-expanded" => "true", :remote => true, "aria-controls" => "families", "role" => "tab" ) do  %>
          <span class="hidden-xs">Families</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Families"></span>
       <% end %>
      </li>

      <li role="presentation"<%= menu_tab_class(active_tab, "inbox-tab") %>>
        <%= link_to(inbox_exchanges_agent_path(current_user.person), {:remote => true}, {class: 'hidden-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab", "data-toggle" => "tab", 'id'=>'inbox-tab' }) do  %>
          <span class="badge message-unread"><%= @unread_messages %></span>
          Inbox
        <% end %>
        <%= link_to(inbox_exchanges_agent_path(current_user.person), {:remote => true},{ class: 'visible-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab"} ) do  %>
          <span class="hidden-xs">Inbox</span>
          <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Inbox"></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
