<%= hidden_field_tag :plan_design_organization_id, @plan_design_proposal.plan_design_organization._id %>

<div class="row">
  <div class="col-md-12">
    
    <div class="alert alert-info hide" role="alert">
      <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= no_rates_error(Settings.site.exchange_name) %></strong>
    </div>
        
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quote for <%= @plan_design_proposal.plan_design_organization.legal_name %> <%= link_to "View all quotes for this employer", organizations_plan_design_organization_plan_design_proposals_path(@plan_design_proposal.plan_design_organization._id), remote: true, class: "pull-right" %></h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/error_messages', :object => @plan_design_proposal %>
        <%= render 'proposal_info', f: f, read_only: false %>
      </div>
    </div>
    <!--  Need below hidden button element to force form validations -->
    <div class="pull-right hidden">
      <%= f.submit "Save Quote", class: "btn btn-primary save-quote-btn" %>
    </div>
  </div>
</div>

<%= render 'employees' %>

<br />
<div class="row">
  <div class="col-md-12">

  <div class="pull-left">
    <%= link_to 'Return to Quote Management', sponsored_benefits.organizations_plan_design_organization_plan_design_proposals_path(@plan_design_proposal.plan_design_organization), class:'btn btn-primary' %>
  </div>

  <div class="pull-right">
    <%= link_to "Select Health Benefits", new_organizations_plan_design_proposal_plan_selection_path(@plan_design_proposal.proposal.id), remote: true, class:'btn btn-primary' %>
  </div>
</div>
</div>

<script>
  $('select').selectric({
    onChange: function(element) {
      var date = $('.interaction-choice-control-forms-plan-design-proposal-effective-date').val().split('-');
      plansForDate(date[0]+'-'+date[1]+'-'+date[2]);
    }
  });
  
 function plansForDate(date) {
   $.ajax({
     type: "GET",
     data:{
       start_on_date: date
     },
     success: function(res) {
       if (res != true) { // late rate scenario
         $('.interaction-click-control-select-health-benefits').hide();
         $('.alert-info').removeClass('hide');
       } else if (res == true) {
  
       }
     },
     url: "/employers/employer_profiles/1/plan_years/1/late_rates_check"
   });
 }
</script>