<div class="row no-buffer row-form-wrapper">
  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :title, class: "floatlabel form-control", required: true, placeholder: 'Quote Name' %>
  </div>

  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :effective_date, :'data-date-min'=> "0d", class: "date-picker floatlabel form-control", required: true, placeholder: 'Quote Effective Date' %>
    <%#= f.text_field :effective_date, class: "floatlabel form-control", required: true, placeholder: 'Quote Effective Date' %>
  </div>

  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :begin_date, class: "floatlabel form-control", disabled: true, placeholder: 'Quote Date' %>
  </div>

  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :sic_code, class: "floatlabel form-control", disabled: true, placeholder: 'SIC' %>
  </div>

  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :zip_code, class: "floatlabel form-control", required: true, disabled: true, placeholder: 'ZIP Code' %>
  </div>

  <div class="col-md-4 col-md-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :county, class: "floatlabel form-control", required: true, disabled: true, placeholder: 'County' %>
  </div>
</div>