<div class="container">
  <%= render 'shared/engines/horizontal_status', step:1 %>
  <div class="col-md-12">
    <div class="row">
      <h3>Quote for <%= @plan_design_proposal.organization.legal_name %></h3>
      <%= form_for @plan_design_proposal, url: {action: "create"}, class:'form' do |f| %>
      <%= render 'form', f: f %>
      <br />
    </div>
    <div class="row">
      <h3>Employee Roster</h3>
      <br />
    </div>
    <div class="row">
      <p>Use the detailed roster below to specify the enrollees for this business.  The details below are from this Employer's current roster.  You can upload a new roster for this quote if required.</p>
    </div>
    <div class="row">
      <%= link_to "<i class='fa fa-file-text-o' aria-hidden='true'></i> Upload Employee Roster".html_safe,{},class: "btn btn-default" %>
      <%= link_to "<i class='fa fa-cloud-download' aria-hidden='true'></i> Download Employee Roster".html_safe,{},class: "btn btn-default" %>
          <%= link_to "<i class='fa fa-user-plus' aria-hidden='true'></i> Add Employee".html_safe, new_census_members_plan_design_census_employee_path(organization_id: @plan_design_organization), :remote => true, class: "btn btn-default pull-right" %>
    </div>
    <div class="row">
      <%= render 'employees' %> 
    </div>
    <br />
  </div>
  
  <div class="pull-right">
    <%= f.submit "Save Quote", class: "btn btn-primary" %> <%= link_to "Select Health Benefits",{},class:"btn btn-primary" %>
  </div>
  <% end %>
</div>