<div class="submenu">
  <div class="container">
    <div class="row">
      <ul role="tablist" class="nav nav-tabs" id="myTab1">
        <li class="active" role="presentation"><a aria-expanded="true" aria-controls="personal" data-toggle="tab" role="tab" id="personal-tab" href="#personal">Personal</a></li>
        <li role="presentation"><a aria-controls="employer" data-toggle="tab" id="employer-tab" role="tab" href="#employer">Employer</a></li>
        <li role="presentation"><a aria-controls="family" data-toggle="tab" id="family-tab" role="tab" href="#family">Family Members</a></li>
        <li role="presentation"><a aria-controls="contact" data-toggle="tab" id="contact-tab" role="tab" href="#contact">Contact Information</a></li>
      </ul>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="tab-content" id="myTabContent1">
    <div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 no-pd-right">
            <%= render 'people/landing_pages/personal' %>
        </div>
      
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="life-event-tip">
            <h4>Life Events Tip #3</h4>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div aria-labelledby="employer-tab" id="employer" class="tab-pane fade" role="tabpanel">
      <div class="emp-info">
       <div class="col-md-8 no-pd col-sm-8 col-xs-12">
          <div class="landing_personal_tab">
            <%= render 'people/landing_pages/employer' %> 
          </div>
        </div>
      </div>
    </div>
    
    <div aria-labelledby="family-tab" id="family" class="tab-pane fade landing-row" role="tabpanel">
      <%= render 'people/landing_pages/family_members' %> 
    </div>
    
    <div aria-labelledby="contact-tab" id="contact" class="tab-pane fade landing_contact_information" role="tabpanel">
      <div class="col-md-8 col-sm-8 col-xs-12 no-pd">
        <%= form_for(@person) do |f| %>
          <%= render 'shared/address_fields', f: f %><br>
          <%= render 'shared/phone_fields', f: f %><br>

          <div id="email_info" class="focus_effect personal-info-row">
            <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
              <%= render 'shared/email_fields', f: email %>
            <% end %>
            <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
          </div>

        <% end %>
      </div>
  </div>
</div>
</div>