
  <%if missing_relationships.present?%>
    <h4><i>Answer the relationship question below:</i></h4>
    <%= form_tag "/insured/family_matrix", remote: form_remote do %>
      <%= hidden_field_tag :family_id, family.id%>
      <%= hidden_field_tag :predecessor_id, missing_relationships.first.flatten.first%>
      <%= hidden_field_tag :successor_id, missing_relationships.first.flatten.second%>
      <%= hidden_field_tag :redirect_url, redirect_url%>
      <table>
        <tr>
          <th style="padding-right:30px;"> Member A </th>
          <th style="padding-right:30px;"> Relationship to </th>
          <th style="padding-right:30px;"> Member B </th>
        </tr>
        <tr>
          <td><%= member_name_by_id(missing_relationships.first.flatten.first) %></td>
          <td><%= select_tag "kind", options_for_select(relationship_kinds), include_blank: true%></td>
          <td><%= member_name_by_id(missing_relationships.first.flatten.second) %></td>
        </tr>
      </table>
      <br />
      <%= submit_tag "Add Relationship" %>
    <% end %>
  <%else%>
  <div>
  <h4>All the relationships are added</h4>
  </div>
  <%end%>
