<div class="page_break">
  <table class="total_table" border="0">
    <tbody>
      <tr><td></br></br></td></tr>
      <tr>
        <td colspan="2" align="center"><a href=
            "https://dchealthlink.com/"
            target=
            "_blank">
            <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "250"  %>
        </a></td>
      </tr>
    </tbody>
  </table>
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td></br></td>
      </tr>
      <tr class="wid50">
        <td align="left"><%= format_date(Date.today) %></td>
        <td  align="right"><%= notice.primary_identifier %></td>
      </tr>
    </tbody>
  </table>
  <%= render partial: "notices/ivl/inner_address", :locals => {notice: notice} %>
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td><h3>Subject:  Eligibility for Health Insurance, Confirmation of Plan Selection</h3></td>
      </tr>
      <tr class="fssizeuser">
        <td>Dear <%= notice.primary_fullname.strip %>:</td>
      </tr>
    </tbody>
  </table>
  <table class="total_table" border="0">
    <tbody>
      <tr class="widn">
        <td><strong>Congratulations!</strong> Based on the health insurance application you submitted and we processed on <%= format_date(Date.today) %>, the following person(s) qualify for health coverage through DC Health Link.</td>
      </tr>
    </tbody>
  </table>
  <table class="total_table" border="0">
    <tbody>
      <% notice_eligible_enrolles(notice).each do |name| %>
        <tr class="fssizeuser mar20">
          <td><%= name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">Your Health Plan Selection</h3></td>
      </tr>
      <% notice.enrollments.each_with_index do |enrollment, index| %>
        <tr>
          <% if index == 0 %>
            <td>On <%= format_date(enrollment.effective_on) %>, the following individual(s) selected the <%= enrollment.plan_name %> health insurance plan. </td><br>
          <% else %>
            <td><strong>Additionally, the following individual(s) selected the <%= enrollment.plan_name %> health insurance plan.</strong></td>
          <% end %>
        </tr>
        <% enrollment.enrollees.each do |name| %>
          <tr class="mar20" style="padding-left:5%;margin:5px 0;">
            <td><%= name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <table class="total_table" border="0">
    <tbody>
      <tr class="mar20">
        <td>You will get your new insurance ID card and other information about your benefit card shortly from your health plan(s) (if you have not received it already). For any questions about your health plan's covered services and providers, you need to contact:</td>
      </tr>
      <% notice.enrollments.each do |enrollment| %>
        <tr class="mar20" style="padding-left:5%;margin-top: 5px;">
          <td><span><%= enrollment.plan_name %></span>&nbsp;&nbsp;at&nbsp;&nbsp;<span><%= number_to_phone(enrollment.phone, area_code: true) %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="total_table" border="0">
    <tbody>
      <tr class="mar20">
        <td><h3 style="color:rgb(54,95,145);">What You Must Pay Each Month</h3></td>
      </tr>
      <% notice.enrollments.each do |enrollment| %>
        <tr class="mar20">
          <td style="text-decoration:underline;"><%= enrollment.plan_name %></td>
        </tr>
        <tr class="mar20">
          <td><ul>
              <li>Your Total Monthly Premium Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= number_to_currency(enrollment.monthly_premium_cost) %></li>
          </ul></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>If you do not make your monthly premium payments on time, you could lose your health insurance.</strong> 45 C.F.R. 155.430(b)(2)(ii). You will receive a separate invoice with instructions on how to make that payment.<strong>You must pay your premiums directly to the health plan or dental plan <span style="text-decoration:underline;">by the date indicated on that invoice.</span></strong> DC Health Link is not responsible for collecting your premiums.  Additionally, any auto-payments you may have previously established with your health insurance company prior to enrolling through DC Health Link will not carry-over; you must make new payment arrangements. </td>
        <tr class="mar20">
          <td>The fastest way to pay the premium is by calling the health plan or dental plan directly at the numbers listed below.  Call these numbers to ensure your premium is paid even if you have not received an invoice.</td>
        </tr>
      </tr>
    </tbody>
  </table>
  <tr><td></br></br></td>
  </tr>
  <table class="tableNew" border="1">
    <tbody>
      <tr style="padding:0 10px;">
        <td>CareFirst </td>
        <td>(855) 444-3119</td>
      </tr>
      <tr style="padding:0 10px;">
        <td>Kaiser </td>
        <td>(866) 475-3925</td>
      </tr>
      <tr style="padding:0 10px;">
        <td>Aetna </td>
        <td>(855) 586-6959</td>
      </tr>
      <tr style="padding:0 10px;">
        <td>Delta Dental </td>
        <td>(800) 471-0236</td>
      </tr>
      <tr style="padding:0 10px;">
        <td>Dentegra Dental</td>
        <td>(800) 471-0284</td>
      </tr>
      <tr style="padding:0 10px;">
        <td>Dominion Dental </td>
        <td>(888) 518-5338</td>
      </tr>

    </tbody>
  </table>
</div>
<div class="page_break">
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">What You Must Pay When You Receive Health Services</h3></td>
      </tr>
      <tr>
        <td>You did not apply for cost-sharing reductions. 45 C.F.R. §155.305(g). Therefore, your deductible, out-of-pocket maximum, and co-payments are not reduced. A more detailed explanation of costs and benefits can be found in your plan's Summary of Benefits and Coverage, available on www.DCHealthLink.com.</td>
      </tr>
      <tr class="mar20">
        <td><h3 style="color:rgb(54,95,145);">Reporting Changes</h3></td>
      </tr>

      <tr>
        <td>You must report any changes that might affect you or your household member's health coverage such as if: </td>
      </tr>
      <tr>
        <td><ul>
            <li>You move;</li>
            <li>Your immigration status changes;</li>
            <li>You or a family member becomes incarcerated.</li>
        </ul></td>
      </tr>
      <tr class="mar20">
        <td>45 C.F.R. § 155.330(b)</td>
      </tr>
      <tr class="mar20">
        <td>To report changes, you can log in to your account on <a href="www.DCHealthLink.com<">www.DCHealthLink.com</a> or call DC Health Link Customer Service toll free at (855) 532-5465.</td>
      </tr>
    </tbody>
  </table>
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">Changing Plans</h3></td>
      </tr>
      <tr class="mar15">
        <td>You will be able to change plans during the annual open enrollment period at the end of each year.  45 C.F.R. §155.410(e). You can get the date of the next open enrollment period by going to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a> or calling DC Health Link Customer Service at (855) 532-5465. If you have a change in circumstances during <%= Date.today.year %>, you may also qualify for a special enrollment period during which you can change your plan.  Changes in circumstances include: </td>
      </tr>
      <tr><td></br></td>
      </tr>
      <tr>
        <td><ul>
            <li>Getting married</li>
            <li>Changes in your household size
              <ul>
                <li>New birth or adoption</li>
                <li>Death</li>
                <li>New tax dependents</li>
              </ul>
            </li>
            <li>A change in income for you or others in your household.</li>
            <li>A change in the immigration status of your household members</li>
            <li>A material violation of your health or dental plan contract by your plan sponsor</li>
            <li>Becoming eligible for Medicaid, employer-sponsored insurance, or other insurance outside of DC Health Link.</li>
        </ul></td>
      </tr>
      <tr>
        <td>45 C.F.R. §155.420</td>
      </tr>

    </tbody>
  </table>
</div>
<div class="page_break">
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">Ending Your Health Insurance Coverage</h3></td>
      </tr>
      <tr>
        <td>You have the right to terminate your health insurance coverage. You can terminate your coverage by logging into your account on <a href="www.DCHealthLink.com">www.DCHealthLink.com</a> or by calling DC Health Link Customer Service toll-free at (855) 532-5465. You need to tell us at least fourteen (14) days before you want your coverage to end. </td>
      </tr>
      <tr class="mar20">
        <td>Your health insurance may also be terminated without your request if you don't pay your premiums or if our data indicates that the information you put on your application has changed and you are no longer eligible for coverage. If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision.</td>
      </tr>
    </tbody>
  </table>
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
      </tr>
      <tr>
        <td>Important information is stored in your account on the DC Health Link website.  If you don't have an account already, you can create one by going to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You can get help with logging in or creating an account by calling DC Health Link Customer Service toll-free at (855) 532-5465.</td>
      </tr>
    </tbody>
  </table>
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">Other Information</h3></td>
      </tr>
      <tr>
        <td><strong>Annual Renewal:</strong> DC Health Link will notify you during the fallof each year if additional information is needed from you to renew your health insurance.  You can respond with new information if you believe any of the information we used is wrong. You can also pick a new plan during this time period if you want.  45 C.F.R. §155.335.</td>
      </tr>
    </tbody>
  </table>
  <table class="mar20" border="0">
    <tbody>
      <tr>
        <td><h3 style="color:rgb(54,95,145);">If You Think We Made a Mistake</h3></td>
      </tr>
      <tr>
        <td>If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal<strong> by «Date of Notice+95 calendar days»</strong>.   DC Health Link will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve. <strong> See the insert for more information on your appeal rights.</strong>  45 C.F.R. §155.520 </td>
      </tr>
    </tbody>
  </table>
</div>
<%= render partial: "notices/ivl/blank_sheet" %>
