<div class="page_break">
<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "250"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></td>
  </tr>
    <tr class="wid50">
      <td align="left">Date of Notice <span><%= format_date(TimeKeeper.date_of_record) %></span></td>
      <td  align="right">AccountID<span>Account ID</span></td>
    </tr>
  </tbody>
</table>
<%= render partial: "notices/ivl/inner_address", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject:  2016 CONDITIONAL Renewal Notice and Opportunity to Change Plans OR Add Dependents</h3></td>
    </tr>
    <tr class="fssizeuser">
     <td>Dear <%= notice.primary_fullname.strip %>,</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="widn">
      <td>Based on the information you provided, you and/or other individuals in your household will be <strong>conditionally renewed</strong> in health insurance through <%= Settings.site.short_name %> for 2016.</td>
    </tr>
    <tr class="widn">
      <td>Effective January 1, 2016, the following individual(s) will be enrolled in the health and/or dental insurance coverage listed below (as long as all premiums are paid).</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
	<tbody>
    	<tr>
        	<td width="50%">
            	<table>
                	<tbody>
                    	<tr class="fssize mar20">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="50%">
            	<table>
                	<tbody>
                    	<tr class="fssize mar20">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="fssize">
                          <td></td>
                          <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">2016 Open Enrollment</h3></td>
    </tr>
    <tr>
      <td><strong>Customers can change their plan selections, or add household members to their renewing plan selection, during the open enrollment season</strong>.  For plan year 2016, open enrollment season beings November 1, 2015and endsJanuary31, 2016.    Plan selections made by December 15, 2014 will become effective on January 1, 2016.   After that date, plan selections made by the 15th of each month will be made effective on the 1st of the following month.</td>
    </tr>
  </tbody>
</table>
<table class="border-table" style="margin-top:20px;">
  <tbody>
  	<tr class="" style="background: rgb(198,217,241);">
    	<td>Plan Selections Made</td>
        <td>Will Be Effective On</td>
    </tr>
    <tr>
    	<td>By December 15, 2015</td>
        <td>January 1, 2015</td>
    </tr>
    <tr>
    	<td>Between December 16, 2015 and January 15, 2016</td>
        <td>February 1, 2015</td>
    </tr>
    <tr>
    	<td>Between January 16, 2014 and January31, 2015</td>
        <td>March 1, 2015</td>
    </tr>
  </tbody>
</table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>
<div class="page_break">
<table class="total_table" border="0">
  <tbody>
    <tr class="mar20">
      <td>If you would like to review your plan options for 2016, log in to your "My Account" and click on "Enroll in Plans for 2016" in the blue box.</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="mar20">
      <td><h3 style="color:rgb(54,95,145);">Projected 2016 Health Plan Enrollment</h3></td>
    </tr>
    <tr class="mar10">
      <td><strong>If you do nothing, you will be enrolled in the following plan(s), effective January 1, 2016, and your premiums each month will be as follows:</strong></td>
    </tr>
<tr><td></br></td>
</tr>
    <tr class="mar20">
      <td style="text-decoration:underline;">Health Plan: <span>M_2016_Health_Plan</span></td>
    </tr>
    <tr style="padding-left:5%" class="mar20">
      <td><ul>
          <li>Total Monthly Premium:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>M_2016_Health_Plan_Premium</span></li>
          <li>Minus Your Monthly Premium Tax Credit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>APTC</span></li>
          <li><strong>Your Total Monthly Premium Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>HP_Premium_After_APTC</span></strong></li>
        </ul></td>
    </tr>
    <tr class="mar20">
      <td style="text-decoration:underline;">Dental Plan: <span>M_2016_Dental_Plan</span></td>
    </tr>
    <tr style="padding-left:5%" class="mar20">
      <td><ul>
          <li>Total Monthly Premium:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>M_2016_Dental_Plan_Premium</span></li>
          <li>Minus Your Monthly Premium Tax Credit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>$0</span></li>
          <li><strong>Your Total Monthly Premium Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>M_2016_Dental_Plan_Premium</span></strong></li>
        </ul></td>
    </tr>
    <tr class="mar10">
      <td><strong>IF YOU ARE SATISFIED WITH YOUR PROJECTED ENROLLMENT (as listed above), YOU DO NOT HAVE TO DO ANYTHING OTHER THAN <span style="text-decoration:underline;">CONTINUE TO PAY YOUR PREMIUMS</span> AS LISTED ON THE INVOICES SENT TO YOU BY YOUR PLAN(S). <span style="color:rgb(255,0,0);">FAILING TO PAY PREMIUMS WILL RESULT IN TERMINATION OF YOUR PLAN(S).</span></strong></td>
    </tr>
    <tr class="mar10">
      <td><strong>NOTE THAT YOUR PREMIUM COSTS HAVE CHANGED AND <span style="text-decoration:underline;">YOU MUST UPDATE ANY AUTO-PAY ARRANGEMENTS</span> YOU HAVE MADE WITH YOUR PLAN(S). <span style="color:rgb(255,0,0);">FAILING TO PAY PREMIUMS WILL RESULT IN TERMINATION OF YOUR PLAN(S).</span></strong></td>
    </tr>
    <tr style="" class="mar20">
      <td>YOU WILL RECEIVE A SEPARATE MAILING REGARDING UPDATES TO BENEFITS, CO-PAYMENTS, CO-INSURANCE, AND DEDUCTIBLES IN YOUR PLAN FOR 2015.   Be sure to call or visit the plan's website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered.</td>
    </tr>
    <tr class="mar20">
      <td><h3 style="color:rgb(54,95,145);">Reporting Changes</h3></td>
    </tr>
<tr><td></br></td>
</tr>
  </tbody>
</table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">

<tr>
<td style="padding:3px 13px; font-size:13; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>
<div class="page_break">
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td>It is very important that you update us any time your circumstances change over the next year. Even small changes may change your eligibility for premium tax credits and cost sharing reductions. You need to let us know within 30 days of a change.  You need to tell us if any of the following type of changes occurs for anyone in your household:</td>
    </tr>
    <tr>
      <td><ul>
          <li>Address;</li>
          <li>Incarceration;</li>
          <li>Moving out of the <%= Settings.aca.state_name %>; or</li>
          <li>Immigration status;</li>
        </ul></td>
    </tr>
    <tr class="mar20">
      <td>45 C.F.R. § 155.330(b)</td>
    </tr>
    <tr class="mar20">
      <td>You can report changes by going online and logging in to your "My Account" or by calling <%= Settings.contact_center.name %> toll-free at <%= Settings.contact_center.phone_number %>.  Reporting changes is very important.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Documents Needed 45 CFR §155.315(f)(2).</h3></td>
    </tr>
    <tr class="mar15">
      <td>To make sure that we have correct and complete information about all the members of your household, we need you to provide some additional documents. <strong>Scanned or photocopied versions of these documents are acceptable.</strong></td>
    </tr>
	<tr class="mar15">
      <td>Here is the information that we need:</td>
    </tr>
    <tr class="mar15">
      <td style="color:red;"><strong>[PICK one or multiple of the following, based on which persons have inconsistencies and which areas are inconsistent]</strong></td>
    </tr>
    <tr class="mar15">
      <td><strong><span style="color:red;">[IF SSN Unverified]</span> Documents Showing Social Security Number</strong>.  The Social Security Administration could not confirm that the Social Security Number provided for the following applicant household members is correct:</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssizeuser">
      <td>SSN Inconsistent First Name 1</td>
      <td>SSN Inconsistent Last Name 1</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssizeuser">
      <td><span style="color:red;">IF Multiple SSN Inconsistencies</span> <span>SSN Inconsistent First Name N</span> <span>SSN Inconsistent Last Name N</span></td>
    </tr>
    <tr class="">
      <td>[Repeat for as many member as is necessary]</td>
    </tr>
    <tr class="">
      <td>Under federal law, 42 C.F.R. §435.910 and 45 C.F.R. §155.310(a)(3), we are required to obtain the Social Security Number of every person who is applying for Medicaid and <%= Settings.site.short_name %>. We will only use your Social Security Number to verify the information you told us on your application or renewal form. We will check your information in the District and Federal databases, and the databases of other District, Federal agencies, and a consumer reporting agency.</td>
    </tr>
  </tbody>
</table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>
<div class="page_break">
<table class="mar20" border="0">
  <tbody>
      <td>You can use a Social Security card to verify the Social Security Number(s) you provided to us.  If you do not have a Social Security Number or cannot remember you Social Security Number, we can help you obtain one. You may not need to provide a Social Security Number if you have a well-established religious objection. If you need help or have any questions, please contact <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>.</td>
    </tr>
    <tr class="mar20">
      <td><strong><span style="color:red;">[IF Citizenship/Immigration Unverified]</span> <span style="font-style:italic;">Documents of Citizenship or Immigration Status</span></strong>. We need proof of your U.S. citizenship or immigration status for the following applicant household members:</td>
    </tr>
    <tr class="mar20">
      <td><span>Citizenship/Immigration Inconsistent First Name 1</span> <span>Citizenship/Immigration Inconsistent Last Name 1</span></td>
    </tr>
    <tr class="mar20">
      <td><strong><span style="color:red;">[IF Multiple Citizenship/Immigration Inconsistencies]</span></strong></td>
    </tr>
    <tr class="mar20">
      <td><span>Citizenship/Immigration Inconsistent First Name N</span> <span>Citizenship/Immigration Inconsistent Last Name N</span></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><span style="font-style:italic;">How to Prove US Citizenship</span><br>
      	Two types of documentation are accepted to confirm citizenship status.  We call the two types "primary" and "secondary".  If you provide primary documentation, no other documents are required.  If you provide secondary documentation, other identification (ID) is required for verification.  Secondary documentation must be accompanied with an identification card containing a recent photo and other identifying information.
      </td>
    </tr>
    <tr class="mar20">
    	<td>Primary documentation:  (Only One (1) is needed)</td>
    </tr>
    <tr class="mar20">
    	<td>
        	<ul>
            	<li>U.S. Passport
                	<ul>
                    	<li>Note: Expired passports are acceptable.</li>
                    </ul>
                </li>
                <li>Certificate of Naturalization</li>
                <li>Certificate of Citizenship</li>
                <li>Consular report of Birth Abroad of U.S. Citizen</li>
                <li>A valid Driver's License from a state that requires proof of citizenship and verification of Social Security Number prior to issuance of the license</li>
                <li>A tribal document issued by a federally-recognized Indian Tribe, which must:
                	<ul>
                    	<li>Identify the Tribe issuing the document;</li>
                        <li>Identify the individual by name;</li>
                        <li>Confirm the individual's enrollment in or affiliation with the Tribe.</li>
                        <li><strong>Examples</strong>: tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="mar20">
    	<td>
        	<span style="text-decoration:underline;">Secondary documentation</span>:  (Must Present One (1) of the following, along with ID)
        </td>
    </tr>
    <tr class="mar20">
    	<td>
        	<ul>
            	<li>A U.S. birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain's Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana Islands.  If born in the Puerto Rico, the Virgin Islands, or Commonwealth of the Northern Mariana Islands prior to the time these areas became part of the U.S., the individual will satisfy the citizenship requirement if he or she is a collectively naturalized citizen.</li>
            </ul>
        </td>
    </tr>
  </tbody>
</table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13x; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>
<div class="page_break">
<table class="mar20" border="0">
  <tbody>
    <tr class="mar20">
    	<td>
        	<ul>
            	<li>A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands  before November 4, 1986</li>
               	<li>A certification of Report of Birth, issued to U.S. citizens born outside the U.S.</li>
                <li>A Report of Birth Abroad of a U.S. Citizen</li>
                <li>A Certification of Birth</li>
                <li>A U.S. Citizen I.D. Card</li>
                <li>A final adoption decree showing the child's name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the child's name and U.S. place of birth</li>
                <li>Evidence of U.S. Civil Service employment before June 1, 1976</li>
                <li>U.S. Military Record showing a U.S. place of birth</li>
                <li>Documentation that a child meets the requirements of §101 of the Child Citizenship Act </li>
                <li>Medical records that indicate a U.S. place of birth</li>
                <li>Life, health, or other insurance record that indicates a U.S. place of birth</li>
                <li>Official religious record recorded in the U.S. showing that the birth occurred in the U.S.</li>
                <li>School records showing a U.S. place of birth</li>
                <li>Federal or State census record showing U.S. citizenship or a U.S. place of birth</li>
            </ul>
        </td>
    </tr>
    <tr class="mar20">
    	<td style="text-decoration:underline;">
        	Needed Information to Verify Immigration Status
        </td>
    </tr>
    <tr class="mar20">
    	<td><strong>The document that you may be able to use to verify your immigration status includes, but is not limited to: </strong></td>
    </tr>
    <tr class="mar10">
    	<td>Permanent Resident Card (I-551, also known as Green Card)</td>
    </tr>

    <tr class="mar20">
      <td>
      	<ul>
        	<li>Alien registration number</li>
            <li>Card number</li>
        </ul>
      </td>
    </tr>
    <tr class="mar10">
    	<td>Temporary I-551 Stamp (on passport or I-94, I-94A)</td>
    </tr>
    <tr class="mar20">
      <td>
      	<ul>
        	<li>Alien registration number</li>
        </ul>
      </td>
    </tr>
    <tr class="mar10">
    	<td>Immigrant Visa (with temporary I-551 language)</td>
    </tr>

    <tr class="mar20">
      <td>
      	<ul>
        	<li>Alien registration number</li>
            <li>Passport number</li>
        </ul>
      </td>
    </tr>
    <tr class="mar10">
    	<td>Employment Authorization Card (EAD or I-766)</td>
    </tr>

    <tr class="mar20">
      <td>
      	<ul>
        	<li>Alien registration number</li>
            <li>Card number</li>
            <li>Expiration date</li>
            <li>Category code</li>
        </ul>
      </td>
    </tr>
    <tr class="mar10">
    	<td>Arrival/Departure Record (I-94 or I-94A)</td>
    </tr>

    <tr class="mar20">
      <td>
      	<ul>
        	<li>I-94 number</li>
        </ul>
      </td>
    </tr>
    <tr class="mar10">
    	<td>Arrival/Departure Record in foreign passport (I-94)</td>
    </tr>

    <tr class="mar20">
      <td>
      	<ul>
        	<li>I-94 number</li>
            <li>Passport number</li>
            <li>Expiration date</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
    <div class="footer">
    <table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>

</div>
</div>
<div class="page_break">
    <table class="mar20" border="0">
    	<tbody>
        	<tr class="mar20">
              <td>
                <ul>
                    <li>Country of issuance</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Foreign passport</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Passport number</li>
                    <li>Expiration date</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Country of issuance Reentry Permit (I-327)</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Alien registration number</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Refugee travel document (I-571)</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Alien registration number</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Certificate of Eligibility for Nonimmigrant (F-1) Student Status (I-20)</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Alien registration number or an I-94 number</li>
                    <li>Description of the type or name of the document</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Certificate of Eligibility for Exchange Visitor (J-1) Status (DS2019)</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>SEVIS ID</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Notice of Action (I-797)</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Alien registration number or an I-94 number</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>Other</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Alien registration number or an I-94 number</li>
                    <li>Description of the type or name of the document</li>
                </ul>
              </td>
            </tr>
            <tr class="mar10">
                <td>You can also list these documents or statuses:</td>
            </tr>

            <tr class="mar20">
              <td>
                <ul>
                    <li>Document indicating a member of a federally recognized Indian tribe or American Indian born in Canada This is considered an eligible immigration status for Medicaid, but not for a Qualified Health Plan [QHP]</li>
                    <li>Office of Refugee Resettlement (ORR) eligibility letter (if under 18)</li>
                    <li>Document indicating withholding of removal</li>
                    <li>Administrative order staying removal issued by the Department of Homeland Security (DHS)</li>
                    <li>Certification from U.S. Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)</li>
                    <li>Cuban/Haitian entrant</li>
                    <li>Resident of American Samoa</li>
                </ul>
              </td>
            </tr>
            <tr class="mar20">
              <td>
              	<strong><span style="color:red;">[IF Income Unverified]</span>Documents Showing Household Income.</strong> We need proof of income for <First Inconsistent First  Name><First Inconsistent Last Name>, <Second First Name of First Inconsistent member's household><Second Last Name of First Inconsistent member's household><span style="color:red;">[continue until all members but one of household of first person with inconsistency are listed, then enter] ", and" [followed by]</span><Last First Name of First Inconsistent member's household><Last Name of First Inconsistent member's household>.
              </td>
            </tr>
            <tr class="mar20">
              <td>
              	These documents can include:
              </td>
            </tr>
        </tbody>
    </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
    <table class="mar20" border="0">
    	<tbody>
        	<tr class="">
              <td>
                <ul>
                    <li>Copies of the most recent paystubs. If you think this income is going to change over the year, we also need an explanation in writing of the change;</li>
                    <li>A copy of your most recent tax filing, if you don't expect a change from last year's income;</li>
                    <li>If the person is employed but does not receive pay stubs, a letter from the employer or a copy of the payment the person receives such as a  check is acceptable</li>
                    <li>Award Letters (such as Civil Service Retirement, Social Security, Railroad Retirement)</li>
                    <li>Documentation of any other income
                    	<ul>
                        	<li><span style="font-style:italic;">Example</span>: for interest, dividends, or annuities, provide documentation from the institution where you have these accounts/resources</li>
                            <li>span style="font-style:italic;">Example</span>: if a family member or friend gives you money regularly to help you pay your expenses, provide a letter from that person and include their contact information</li>
                        </ul>
                    </li>
                    <li>Documentation of any adjustments to income that you intend to take on your federal tax return some examples are alimony payments, self-employed health insurance payments, health savings account deductions, and moving expenses.</li>
                </ul>
              </td>
            </tr>
            <tr class="mar20">
                <td>[<strong><span style="color:red;">IF Residency Unverified]</span> Documents Showing D.C. Residency.</strong> A document that shows that the following household members live in the <%= Settings.aca.state_name %>:</td>
            </tr>
        </tbody>
    </table>
    <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td>Residency Inconsistent First Name 1</td>
                <td>Residency Inconsistent Last Name 1</td>
            </tr>
        </tbody>
    </table>
    <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td style="color:red;">[IF Multiple Residency Inconsistencies]</td>
                <td>Residency Inconsistent First Name N</td>
                <td>Residency Inconsistent Last Name N</td>
            </tr>
        </tbody>
    </table>
     <table class="mar20" border="0">
    	<tbody>
        	<tr class="">
              <td>
              	[Repeat for as many member as is necessary]
              </td>
            </tr>
            <tr class="mar20">
              <td>
              	This can include any of the following :
              </td>
            </tr>
             <tr class="mar20">
              <td>
              	<ul>
                	<li>A copy of an active lease agreement , certified deed, or mortgage statement with D.C address in their name,</li>
                    <li>A phone or utility bill from within the past two months,</li>
                    <li>A signed statement with contact information from another District resident stating that the applicant lives at their address in the District,</li>
                    <li>D.C. Voter Registration Card,</li>
                    <li>Non-expired <%= Settings.aca.state_name %> Motor Vehicle Registration or <%= Settings.aca.state_abbreviation %> DMV Identification Card,</li>
                    <li>Cancelled checks or receipts for mortgage or rental payments within the past 2 months,</li>
                    <li>Utility bills and payment receipts with D.C. address within the past 2 months,</li>
                    <li>Non-expired Automobile insurance statement with D.C. residency address.</li>
                    <li>Self-attestation of residency without paper documentation in exceptional circumstances, including homelessness and in cases of domestic violence.</li>
                </ul>
              </td>
            </tr>
             <tr class="mar20">
              <td style="color:red;">
              	<strong>[IF MEC Conflict]</strong>
              </td>
             </tr>
             <tr class="mar20">
             	<td>
                	<i>Access to Other Insurance Coverage.</i> Our records indicate that the following individual(s) have access to <MEC Data Match>.
                </td>
             </tr>
        </tbody>
     </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
    <table class="mar20" border="0">
    	<tbody>
        	<tr class="fssize">
              <td>
                MECType 1 Inconsistent First Name 1
              </td>
              <td>
              	MECType 1 Inconsistent Last Name 1
              </td>
            </tr>
            <tr class="fssize">
              <td>
                MECType 1 Inconsistent First Name N
              </td>
              <td>
              	MECType 1 Inconsistent Last Name N
              </td>
            </tr>
        </tbody>
     </table>
      <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td><span>Repeat for as many member as is necessary</span></td>
            </tr>
        	<tr class="mar20">
            	<td><span style="color:red;">[IF Additional MEC Conflict]</span> Our records indicate that the following individual(s) have access to <MEC Data Match>.</td>
            </tr>
        </tbody>
      </table>
      <table class="mar20" border="0">
    	<tbody>
        	<tr class="fssize">
              <td>
                MECType 2 Inconsistent First  Name 1
              </td>
              <td>
              	MECType 2 Inconsistent Last Name 1
              </td>
            </tr>
            <tr class="fssize">
              <td>
                MECType 2 Inconsistent First Name N
              </td>
              <td>
              	MECType 2 Inconsistent Last Name N
              </td>
            </tr>
        </tbody>
     </table>
     <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td><span>Repeat for as many member as is necessary</span></td>
            </tr>
            <tr class="mar20">
            	<td>
                	This would make you ineligible for tax credits.  Please provide documentation that this coverage has been cancelled.
                </td>
            </tr>
        	<tr class="mar20">
            	<td><span style="color:red;">[IF Indian Conflict]</span> <i>American Indian Status.</i> On your application or renewal form, you indicated that the following individual(s) were American Indian.</td>
            </tr>
        </tbody>
      </table>
      <table class="mar20" border="0">
    	<tbody>
        	<tr class="fssize">
              <td>
                Indian Inconsistent First Name 1
              </td>
              <td>
              	Indian Inconsistent Last Name 1
              </td>
            </tr>
            <tr class="fssize">
              <td>
                IF Multiple SSN Inconsistencies
              </td>
              <td>
              	Indian Inconsistent First Name N
              </td>
              <td>
              	Indian Inconsistent Last Name N
              </td>
            </tr>
        </tbody>
     </table>
     <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td><span>Repeat for as many member as is necessary</span></td>
            </tr>
            <tr class="mar20">
            	<td>
                	Please provide one of the following documents to confirm this status.
                </td>
            </tr>
        	<tr class="mar20">
            	<td>
                	<ul>
                    	<li>Any formal documentation from a tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian status. Examples of such verifications include, but are not limited to the following:
                        	<ul>
                            	<li>A document issued by a federally-recognized American Indian/Alaska Native tribe, such as an enrollment or membership card, a tribal census document, or a document issued by a tribe indicating the person's affiliation with the Tribe;</li>
                                <li>A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian; and</li>
                                <li>A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian.</li>
                            </ul>
                        </li>
                        <li>For Indians born outside of the United States, we will accept the following documents:
                        	<ul>
                            	<li>A Form I-94 with a notation of "S1-3";</li>
                                <li>I-551 Permanent Resident Card stamped "S1-3" ;</li>
                                <li>Temporary I-551 stamp coded "S1-3" in a Canadian passport;</li>
                                <li>A Tribal Record or document certifying at least 50% American Indian blood, as required by Section 289 of the Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as the following: Birth certificate or Baptismal; Certificate issued on a reservation; Letter from Canadian Department of Indian Affairs; or School Records.</li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
      </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
      <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td><span style="color:red;">IF Household Unverified (Duplicate Claiming)]</span> <i><strong>Documents Showing Household Composition</strong></i>. Our records indicate a conflict regarding whether <span>Conflicting HH First Name</span><span>Conflicting HH Last Name</span> is a member of <span>First Inconsistent First Name</span><span>First Inconsistent Last Name</span>'s tax household. To resolve this conflict, you must submit documentation that <span>First Inconsistent First Name</span><span>First Inconsistent Last Name</span> can claim <span>Conflicting HH First Name</span><span>Conflicting HH Last Name</span> as a dependent for federal tax purposes.  IRS Form 8332 or Form 2120 that applies to the tax year at issue will be sufficient evidence.</td>
            </tr>
        	<tr class="mar20">
            	<td><span style="color:red;">IF Household Unverified (Duplicate Living With)]</span> <i><strong>Documents Showing Household Composition</strong></i>. Our records indicate a conflict regarding whether <span>Conflicting HH First Name</span><span>Conflicting HH Last Name</span> is a member of <span>First Inconsistent First Name</span><span>First Inconsistent Last Name</span>'s household. To resolve this conflict, you must submit documents showing that <span>Conflicting HH First Name</span><span>Conflicting HH Last Name</span> lives with <span>First Inconsistent First Name</span><span>First Inconsistent Last Name</span>.</td>
            </tr>
            <tr class="mar20">
            	<td>
                	<ul>
                    	<li>School or medical records</li>
                        <li>Child care records</li>
                        <li>Statements from non-relatives</li>
                        <li>Leases</li>
                        <li>Mail to or regarding the child or adult dependent</li>
                        <li>Religious or recreational activity records</li>
                        <li>Custody order</li>
                    </ul>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
                	<strong>If you think you will not be able to submit your documents because of circumstances outside of your control, please contact us at <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>.If you need help then the Department of Human Services will work with you.</strong>
                </td>
            </tr>
            <tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">How Soon We Need Your Documents</h3>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					We need the documents above by <Date=Date of Notice +95 days> in order to make a final decision on your eligibility for your health plan and for tax credits.  If you do not provide the documents by this deadline, we will assume that our records are correct. <i>Your health insurance coverage and/or tax credits may be terminated.</i>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					If you think you will not be able to submit the requested documentation <strong>by<Date=Date of Notice +95 days></strong> due to circumstances outside of your control, please call <%= Settings.contact_center.name %> toll free at <%= Settings.contact_center.phone_number %>.  If you truly have a special need, a Department of Human Services representative will work with you to complete the verification process.</i>
                </td>
            </tr>
        </tbody>
      </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
      <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">How to Submit Your Documents</h3>
                </td>
            </tr>
        	<tr>
            	<td>You can send the necessary documents either online, through U.S. Postal mail, or in-person.</td>
            </tr>
        	<tr class="mar20">
            	<td>
                	<ul>
                    	<li><strong>Online</strong>:  Log into your "My Account" and view outstanding verifications.  You can upload a scanned copy of the document.  Information on how to log into your "My Account" is below.</li>
                        <li>
                        	<table>
                            	<tbody>
                                	<tr>
                                    	<td><strong>U.S. Postal Mail</strong></td>
                                        <td>
                                        	<%= Settings.site.short_name %><br>
                                            Department of Human Services<br>
                                            P.O. Box 91560<br>
                                            Washington, DC 20090
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li><strong>In-Person</strong> – Take the document(s) to any Economic Security Administration Office (call the <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %> for locations)</li>
                    </ul>
                </td>
            </tr>
            <tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">Ending Your Health Insurance Coverage</h3>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
                	You have the right to terminate your health insurance coverage. You can terminate your coverage online using your "My Account", available at <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>, by calling <%= Settings.contact_center.name %> toll-free at <%= Settings.contact_center.phone_number %>, or by contacting your health plan. Your health plan can tell you how much notice you must give, but the plan might require notice of up to fourteen (14) days before the requested coverage end date.
                </td>
            </tr>
            <tr class="mar20">
            	<td>Your health insurance may also be terminated without your request if you don't pay your premiums or if our data indicates that the information you put on your application, or on your renewal form, has changed and you are no longer eligible for coverage.  If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision.</td>
            </tr>
            <tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">Your Secure User Account</h3>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					Your "My Account" available at <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%> is a place where important information about your account is stored.  You must use your User ID and Password to access your account. You established these when you applied for benefits. If you forgot your User Name or Password, you can reset it by calling the <%= Settings.contact_center.name %> toll free at <%= Settings.contact_center.phone_number %>.  There is also a "Forgot Password" feature on the website where you can reset the password after answering security questions you created when establishing your account.
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					<i><strong>If you do not have a "My Account"</strong></i>, you can create one at <%= "#{Settings.site.website_name}" %>. On the main page, click on "Login" in the upper-right corner.  On the next page, click the third option, "Create Account."  Once the account is created, select "Find an already submitted application" </i>
                </td>
            </tr>
        </tbody>
      </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
      <table class="mar20" border="0">
    	<tbody>
        	<tr>
            	<td>and enter the information for the person listed as the primary applicant on your application.  Please note that you can only link an application to your My Account if you are the primary applicant on that application.  After linking the application to your My Account, you will be able to see information about your account, and select plans if you are eligible for private health coverage through <%= Settings.site.short_name %>.</td>
            </tr>

            <tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">If You Think We Made a Mistake</h3>
                </td>
            </tr>
            <tr class="mar20">
            	<td>If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal <strong>by <span>Appeal_Deadline</span></strong>. <%= Settings.site.short_name %> will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve.  See the insert for more information on your appeal rights.45 C.F.R. §155.520.</td>
            </tr>
            <tr class="mar20">
            	<td>Your health insurance may also be terminated without your request if you don't pay your premiums or if our data indicates that the information you put on your application, or on your renewal form, has changed and you are no longer eligible for coverage. If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision.</td>
            </tr>
            <tr>
            	<td>
                	<h3 style="color:rgb(54,95,145);">Your Secure User Account</h3>
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					Your "My Account" available at <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%> is a place where important information about your account is stored.  You must use your User ID and Password to access your account. You established these when you applied for benefits. If you forgot your User Name or Password, you can reset it by calling the <%= Settings.contact_center.name %> toll free at <%= Settings.contact_center.phone_number %>.  There is also a "Forgot Password" feature on the website where you can reset the password after answering security questions you created when establishing your account.
                </td>
            </tr>
            <tr class="mar20">
            	<td>
					<i><strong>If you do not have a "My Account"</strong></i>, you can create one at <%= "#{Settings.site.website_name}" %>. On the main page, click on "Login" in the upper-right corner.  On the next page, click the third option, "Create Account."  Once the account is created, select "Find an already submitted application" </i>
                </td>
            </tr>
        </tbody>
      </table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>

<div class="page_break">
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td align="center"><h2 style="text-decoration:underline;"><%= Settings.site.short_name %> Appeal Rights</h2></td>
    </tr>
    <tr>
      <td style="font-size:12px !important;">If you do not agree with our decision about your health insurance coverage or assistance, you have a right to appeal our decision and receive a Fair Hearing.   You can appeal a denial, termination, or change in your eligibility for Medicaid, premium tax credits, cost-sharing assistance, or for an enrollment period.  You can also appeal if you disagree with the amount of your premium tax credits or cost-sharing assistance.  Once you appeal, you can go before an Administrative Law Judge and explain why you do not agree with our decision.</td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;">You have 90 days following the postmark of the notice informing you of the eligibility decision, denial, termination, or change, to appeal the decision stated in the notice you received. If you do not appeal within 90 days, you may lose your appeal right.</td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">How to Request an Appeal</h3></td>
    </tr>
    <tr>
      <td style="font-size:14px;">You may appeal through any of the following methods: </td>
    </tr>
    <tr class="mar20">
      <td><ul style="font-size:12px !important;">
          <li>Calling <%= Settings.contact_center.name %> toll  free at <%= Settings.contact_center.phone_number %></li>
          <li>Completing a Request for Hearing form and fax it to (202) 724-2041, or e-mail to <a href="#">DC.OARA@DC.GOV</a></li>
          <li>Going to any Department of Human Services Service Center (locations found at <a href="www.dhs.dc.gov">www.dhs.dc.gov</a>) and filling out a Request for Hearing.</li>
          <li>Going to the Office of Administrative Hearings Resource Center, located at 441 4th Street NW, Suite 450-North, Washington, DC 20001 and filling out a Request for Hearing form.</li>
        </ul></td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Eligibility During Your Appeal</h3></td>
    </tr>
    <tr>
      <td  style="font-size:12px !important;"><strong>Medicaid</strong> – If you get Medicaid<span style="text-decoration:underline;"> and file the appeal before your Medicaid ends</span> or within 15 days of the date of this notice – whichever is later - you will continue to be covered by Medicaid.  Even if you file the appeal after your Medicaid coverage has ended, but still within 90 days of the postmark of this eligibility notice, your appeal can still be heard but your coverage may not be re-started. </td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;"><strong>Premium Tax Credits & Cost-Sharing Assistance</strong> – If you already get help paying for your health insurance through <%= Settings.site.short_name %>, you have a choice to remain enrolled in your selected plan.  You will continue to get the same level of assistance you were eligible for before the denial, termination, or change made in the notice.  However, if you lose the appeal, you may be responsible for any benefits that you received during the appeal process. </td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">What Happens When You Appeal</h3></td>
    </tr>
    <tr>
      <td style="font-size:12px !important;"><strong>Administrative Review</strong> – Once your appeal is received, you will be scheduled for an Administrative Review Conference at the Office of Administrative Review and Appeals (OARA).  This is a voluntary meeting with a Hearing Examiner from the <%= Settings.aca.state_name %> Department of Human Services (DHS) to identify and discuss your concerns.  You can bring your own representative if you choose to have one.  Your representative may, but does not have to be, an attorney.  Your representative may not be an employee of DHS. </td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;">Please bring documents related to your case to the meeting.  This will help the DHS Hearing Examiner identify and understand your concerns.  After the meeting Conference, the DHS Hearing Examiner will review your case and try to resolve your issues.   You will receive a written decision from the DHS Hearing Examiner regarding the issues of your case, including a summary of facts.  If you agree with the written decision, you may withdraw your request for a Fair Hearing.  If you do not agree with the DHS Hearing Examiner's written decision, your appeal still continues to a Fair Hearing.</td>
    </tr>
    </tbody>
</table>
    <div class="footer">
    <table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>

</div>
</div>
<div class="page_break">
    <table>
    <tbody>
    <tr class="mar20">
      <td style="font-size:12px !important;"><strong>Fair Hearing</strong> - If you decide not to attend the DHS Administrative Review, or if you disagree with DHS's decision regarding your case and you have not withdrawn your request for a Fair Hearing,
        your case will continue on to a Fair Hearing before an Administrative Law Judge who is not an employee of DHS.  The Fair Hearing will take place at the DC Office of Administrative Hearings (OAH) at 441 4th Street NW, Suite 450-North, Washington, DC 20001. OAH will contact you and tell you when and where your Fair Hearing will take place.  OAH will send you a scheduling notice.  That notice will tell you when your Fair Hearing will take place. </td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;">At the Fair Hearing, you can testify, have others testify for you, and submit documents.  At the hearing, DC agency representatives will also be able to ask questions of you or other people who testify.  The DC agency representatives will be permitted to present testimony and documents.  You will be able to ask questions of the DC agency representative if you want.  Finally, the Administrative Law Judge will make a decision in writing, after the completion of the Fair Hearing, and will send it to you.  That decision will also tell you what you can do if you do not agree with it.</td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;"><strong>Any decisions by OARA and Appeals or OAH about your eligibility for benefits might also change the eligibility of other people in your household.</strong></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Getting Representation</h3></td>
    </tr>
    <tr>
      <td style="font-size:12px !important;">You have the right to represent yourself or have a lawyer, family member, or friend represent you at the Administrative Review and or at the Fair Hearing. </td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;">If you would like to talk to a lawyer who will represent you for free, you can call any of the following places to see if they can help you.  There is no guarantee that you will be able to get legal help.  Even if you do not get legal help, there will still be a Fair Hearing held and a decision made.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr class="para">
      <td><p>Bread for the City Legal Clinic</p>
        <p>1525 Seventh Street, NW</p>
        <p>(202) 265-2400</p></td>
      <td><p>Bread for the City Legal Clinic</p>
        <p>1640 Good Hope Road, SE</p>
        <p>(202) 561-8587</p></td>
    </tr>
    <tr class="para">
      <td><p>Neighborhood Legal Services </p>
        <p>1213 Good Hope Road</p>
        <p>(202) 678-2000</p></td>
      <td><p>Legal Aid Society of the <%= Settings.aca.state_name %> </p>
        <p>1331 H St. NW Suite 350</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Aid Society of the <%= Settings.aca.state_name %></p>
        <p>2041 Martin Luther King Jr. Ave. SE, Suite LL-1</p>
        <p>(202 628-1161</p></td>
      <td><p>Legal Aid Society of the <%= Settings.aca.state_name %> Friendship Baptist Church,</p>
        <p>900 Delaware Ave., SW</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Counsel for the Elderly</p>
        <p>(for people age 60 and older)</p>
        <p>Building A, 4th Floor</p>
        <p>601 E St. NW </p>
        <p>(202) 434-2120</p></td>
      <td><p>Washington Legal Clinic for the Homeless </p>
        <p>1200 U Street, NW</p>
        <p>(202) 328-5500</p></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Ending Your Appeal Early</h3></td>
    </tr>
    <tr>
      <td style="font-size:12px !important;">You may withdraw your request for a Fair Hearing at any time before the Administrative Law Judge makes a final written decision.  You may withdraw through any of the methods available for requesting an appeal (described above).  If you withdraw your request for a Fair Hearing because of the meeting with the Office of Administrative Review and Appeals, or because the agency has promised to change its decision, we will make a new decision will be based on the changes agreed to by the agency. </td>
    </tr>
    <tr class="mar20">
      <td style="font-size:12px !important;"><strong>If you stop your appeal before the agency has changed its decision, the denial, termination, or change will be implemented as it is written in the notice you first received before you filed your appeal.</strong></td>
    </tr>
  </tbody>
</table>
<div class="footer">
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call <%= Settings.contact_center.name %> at <%= Settings.contact_center.phone_number %>/TTY <%= Settings.contact_center.phone_number %> or go online to <a href="#{Settings.site.home_url}"><%= "#{Settings.site.website_name}"%>. You may also contact <%= Settings.contact_center.name %> or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
</div>
</div>
