<div class="page_break">
</div>
<div class="page_break">
<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank" rel="noopener noreferrer">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "250"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></td>
  </tr>
    <tr class="wid50">
      <td align="left">Date of Notice: <%= format_date(TimeKeeper.date_of_record) %></td>
    </tr>
  </tbody>
</table>
<%= render partial: "notices/ivl/inner_address", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
  <tr>
      <td>
        </br>
        </br>
        </td>
    </tr>
    <tr>
      <td><h3>Subject: 2015 Enrollment Notice </h3></td>
    </tr>
    <tr class="fssizeuser">
     <td>Dear <%= notice.primary_fullname.strip %>,</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="widn">
      <td>Effective January 1, 2016, the following individual(s) will be enrolled in the health and/or dental insurance coverage listed below (as long as all premiums are paid).  </td>
    </tr>
  </tbody>
</table>
<div class="mar20">
<table style="width:40%; float:left; margin-right:10%" border="0">
  <tbody>
    <tr>
      <td><span>Primary First</span>&nbsp;&nbsp;<span>Primary Last</span></td>
      </tr>
      <tr>
      <td><span>P2 First Name</span>&nbsp;&nbsp;<span>P2 Last Name</span></td>
      </tr>
      <tr>
      <td><span>P3 First Name</span>&nbsp;&nbsp;<span>P3 Last Name</span></td>
      </tr>
      <tr>
      <td><span>P4 First Name</span>&nbsp;&nbsp;<span>P4 Last Name</span></td>
      </tr>
    </tr>

  </tbody>
</table>
<table style="width:40%; float:left; margin-right:10%" border="0">
  <tbody>
    <tr>
      <td><span>Primary First</span>&nbsp;&nbsp;<span>Primary Last</span></td>
      </tr>
      <tr>
      <td><span>P2 First Name</span>&nbsp;&nbsp;<span>P2 Last Name</span></td>
      </tr>
      <tr>
      <td><span>P3 First Name</span>&nbsp;&nbsp;<span>P3 Last Name</span></td>
      </tr>
      <tr>
      <td><span>P4 First Name</span>&nbsp;&nbsp;<span>P4 Last Name</span></td>
      </tr>
    </tr>

  </tbody>
</table>
</div>
<table class="total_table" border="0">
  <tbody>
        <tr>
      <td><h3 style="color:rgb(54,95,145);">2016 Health Plan Enrollment</h3></td>
    </tr>
    </tbody>
    </table>
    <table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h4>Health Plan:  <span>«M_2016_Health_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%; "><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>M_2016_Health_Plan_Premium</span></li></ul></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
       <tr>
      <td><h4>Dental Plan:  <span>«M_2016_Dental_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%;"><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>
      M_2016_Dental_Plan_Premium</span></li></ul></td>
    </tr>
  </tbody>
</table>


<table class="total_table" border="0">
  <tbody>
   <tr>
      <td><h3 style="color:rgb(54,95,145);">Next Steps</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>If you have not already, you will receive an invoice from your health plan or dental plan.  <strong>You must pay your premiums directly to the health plan or dental plan <span style="text-decoration:underline;">by the date indicated on that invoice.</span></strong>  <%= EnrollRegistry[:enroll_app].setting(:short_name).item %> is NOT responsible for collecting your premiums.</td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td><strong>NOTE THAT YOUR PREMIUM COSTS HAVE CHANGED AND <span style="text-decoration:underline;">YOU MUST UPDATE ANY AUTO-PAY ARRANGEMENTS</span> YOU HAVE MADE WITH YOUR PLAN(S).</strong>  </td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td><strong style="color:rgb(255,0,0);">FAILING TO PAY PREMIUMS(INCLUDING THROUGH AUTO-PAY)WILL RESULT IN TERMINATION OF YOUR PLAN(S).</strong>  </td>
    </tr>
 </tbody>
</table>
</div>
<div class="page_break">
<table class="mar20" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td style="font-size:12px !important;">The fastest way to pay your premium is by calling the health plan or dental plan directly at the numbers listed below. <span style="text-decoration:underline;"> You should call your health insurance company by December 31, 2015 even if you have not received your invoice.</span></td>
    </tr>
    <tr><td></br></td></tr>
    </tbody>
    </table>
    <div style="width:40%; display:block; margin:0 auto;">
   <table border="1" class="tableNew">
  <tbody>
    <tr style="padding:0 10px;">
      <td><strong>CareFirst</strong> </td>
      <td>(855) 444-3119</td>
    </tr>
    <tr style="padding:0 10px;">
      <td><strong>Kaiser Permanente</strong> </td>
      <td>(866) 475-3925</td>
    </tr>
    <tr style="padding:0 10px;">
      <td><strong>Aetna</strong> </td>
      <td>(855) 586-6959</td>
    </tr>
    <tr style="padding:0 10px;">
      <td><strong>Delta Dental</strong> </td>
      <td>(800) 471-0236</td>
    </tr>
    <tr style="padding:0 10px;">
      <td><strong>Dentegra Dental</strong></td>
      <td>(800) 471-0284</td>
    </tr>
    <tr style="padding:0 10px;">
      <td><strong>Dominion Dental</strong> </td>
      <td>(888) 518-5338</td>
    </tr>
  </tbody>
</table>
</div>

<table class="total_table" border="0">
  <tbody>
   <tr>
      <td><h3 style="color:rgb(54,95,145);">Ending Your Health Insurance Coverage</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>You have the right to terminate your health insurance coverage. You can terminate your coverage online using your "My Account", available at <%= Settings.site.website %>, by calling <%= EnrollRegistry[:enroll_app].setting(:contact_center_name).item %> toll-free at <%= Settings.contact_center.phone_number %>, or by contacting your health plan. Your health plan can tell you how much notice you must give, but the plan might require notice of up to fourteen (14) days before the requested coverage end date.</td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td>Your health insurance may also be terminated without your request if you don't pay your premiums or if our data indicates that the information you put on your application, or on your renewal form, has changed and you are no longer eligible for coverage.  If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision.   </td>
    </tr>
    </tbody>
    </table>

    <table class="total_table" border="0">
  <tbody>
   <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>Your "My Account" available at <a href="#{EnrollRegistry[:enroll_app].setting(:home_url).item}"><%= "#{EnrollRegistry[:enroll_app].setting(:website_name).item}"%> is a place where important information about your account is stored.  You must use your User ID and Password to access your account. You established these when you applied for benefits. If you forgot your User Name or Password, you can reset it by calling the <%= EnrollRegistry[:enroll_app].setting(:contact_center_name).item %> toll free at <%= Settings.contact_center.phone_number %>.  There is also a "Forgot Password" feature on the website where you can reset the password after answering security questions you created when establishing your account.</td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td><strong><i>If you do not have a "My Account"</i></strong>, you can create one at <a href="#{EnrollRegistry[:enroll_app].setting(:home_url).item}"><%= "#{EnrollRegistry[:enroll_app].setting(:website_name).item}"%>  On the main page, click on "Login" in the upper-right corner.  On the next page, click the third option, "Create Account."  Once the account is created, select "Find an already submitted application" and enter the information for the person listed as the primary applicant on your application.  Please note that you can only link an application to your My Account if you are the primary applicant on that application.  After linking the application to your My Account, you will be able to see information about your account, and select plans if you are eligible for private health coverage through <%= EnrollRegistry[:enroll_app].setting(:short_name).item %></td>
    </tr>
    </tbody>
    </table>


    <table class="total_table" border="0">
  <tbody>
   <tr>
      <td><h3 style="color:rgb(54,95,145);">REMINDER</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>If your renewal is "Conditional", you still need to submit documents by the deadline indicated on the notices sent to you.  Failure to submit these documents could result in termination of your plan and you may not be able to enroll in coverage until 2017.  You can upload documents through your "My Account" available at <a href="#{EnrollRegistry[:enroll_app].setting(:home_url).item}"><%= "#{EnrollRegistry[:enroll_app].setting(:website_name).item}"%> You can also mail in the documents or bring them into a service center.</td>
    </tr>
    </tbody>
    </table>

  </tbody>
</table>
</div>
