<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.employer_name %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is to inform you that an employee of #{notice.employer_name} has elected to terminate their employer-sponsored coverage."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "#{notice.employee_fullname} has elected to terminate their employer-sponsored health coverage with #{notice.employer_name}. Their policy covered themselves and #{notice.enrollment.enrolled_count} dependents. Their coverage will end on #{notice.enrollment.terminated_on}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="notice_spacing_1" border="0">
    <tbody>
      <tr>
        <td>Please contact your broker for further assistance. You can also contact the <%=site_short_name%> with any questions:
          <table class="total_table" border="0">
            <tbody>
              <tr>
                <td class="mpi_indicator">
                  <ul style="list-style: circle;">
                    <li class="notice-font">
                      By calling <%=contact_center_phone_number%>. TTY: <%=contact_center_tty_number%>
                    </li>
                    <li class="notice-font">
                      By email: <%= mail_to "#{small_businesss_email}", "#{small_businesss_email}", target: "_blank"%>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href = '#{site_main_web_address_url}'> #{site_website_name}</a>"} %>
<br>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 CFR 155.720(h)."} %>