<div class="page_break">
<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/health_connector.png", style: "height: auto; vertical-align: top;", width: "250"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></td>
  </tr>
    <tr class="wid50">
      <td align="left">Date of Notice:Date.today <%= format_date(TimeKeeper.date_of_record) %></td>
    </tr>
  </tbody>
</table>
<%= render partial: "notices/ivl/inner_address", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
  <tr>
      <td>
        </br>
        </br>
        </td>
    </tr>
    <tr>
      <td><h3><%= site_short_name %> Plan Year 2016Open Enrollment &PreliminaryRenewal Notice</h3></td>
    </tr>
    <tr class="fssizeuser">
      <td>Dear <%= notice.primary_fullname.strip %>,</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="widn">
      <td><%= site_short_name %> has started the process of renewing eligibility for the 2016 plan year, which begins on January 1, 2016.  This involves two steps.  </td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><ul style="list-style:none;"><li class="mar20">1) We need to make sure that the information we have about you is up to date. This notice tells you whether you and any other individuals in your household are eligible to purchase a <%= site_short_name %> plan in 2016.  If you disagree with any of the information we used to make this determination, you should update us using the process described below.  </li><li  class="mar20"> 2)  You will have the opportunity to select a different health plan for 2016 once open enrollment for 2016 starts on November 1, 2015. This notice includes additional information about open enrollment. </li></ul></td>
      </tr>

  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3>Household Information Review</h3></td>
    </tr>
    <tr>
    <td>This is the most up to date information we have for you or other members of your household:</td>
    </tr>
    <tr>
    <td></br></td>
    </tr>
  </tbody>
  </table>
  <table class="total_table" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong>«Primary_First»«Primary_Last»</strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_1»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_1»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_1»</td>
    </tr>
  </tbody>
  </table>
</div>

<div class="page_break">
<table>
<tr><td></br></br></td></tr>

</table>
  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P2_First»</span><span>«P2_Last»</span></strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_2»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_2»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_2»</td>
    </tr>

  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P3_First»</span><span>«P3_Last»</span></strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_3»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_3»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_3»</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P4_First»</span><span>«P4_Last»</span></strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_4»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_4»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_4»</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P5_First»</span><span>«P5_Last»</span></strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_5»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_5»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_5»</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P6_First»</span><span>«P6_Last»</span></strong></th>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_6»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_6»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_6»</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
  <tr>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P7_First»</span><span>«P7_Last»</span></strong></th>
      </tr>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_7»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_7»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_7»</td>
    </tr>
  </tbody>
  </table>

  <table class="total_table" style="margin-bottom:20px;" border="1">
  <tbody>
  <tr>
      <th colspan="2" style="width:100%; text-align:left; background-color:rgb(198,217,241); padding:0 10px;"><strong><span>«P8_First»</span><span>«P8_Last»</span></strong></th>
      </tr>
  <tr>
    <td style="padding:0 10px;">State of Residency</td>
    <td style="padding:0 10px;">«Residency_8»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Citizenship/Lawful Presence</td>
    <td style="padding:0 10px;">«Citizenship_8»</td>
    </tr>
    <tr>
    <td style="padding:0 10px;">Incarcerated</td>
    <td style="padding:0 10px;">«Incarcerated_8»</td>
    </tr>
  </tbody>
  </table>
  </div>

  <div class="page_break">
<table class="total_table" border="0">
<tr><td></br></td></tr>

</table>
   <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Projected 2016 Health Plan Enrollment</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>You can change your plan selectionduring the open enrollment season.  For plan year 2016, open enrollment season beings November 1, 2015and endsJanuary 31, 2016.    Plan selections made by December 15, 2015 will become effective on January 1, 2016.   After that date, plan selections made by the 15th of each month during the open enrollment season will be made effective on the 1st of the following month.</td>
    </tr>
    <tr class="mar20 fssizeuser">
    <td><strong>If you do nothing, you will be enrolled in the following plan(s), effective January 1, 2016, and your premiums each month will be as follows: </strong></td>
    </tr>
     </tbody>
     </table>
      <table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h4>Health Plan:  <span>«M_2016_Health_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%; "><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>M_2016_Health_Plan_Premium</span></li></ul></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
       <tr>
      <td><h4>Dental Plan:  <span>«M_2016_Dental_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:4%; vertical-align:top; width:50%;"><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ <span>
      M_2016_Dental_Plan_Premium</span></li></ul></td>
    </tr>
  </tbody>
</table>


<table class="total_table" border="0">
  <tbody>
  <tr class="mar20 fssizeuser">
      <td>IF YOU ARE SATISFIED WITH YOUR PROJECTED ENROLLMENT (as listed above), YOU DO NOT HAVE TO DO ANYTHING OTHER THAN <span style="text-decoration:underline;">CONTINUE TO PAY YOUR PREMIUMS</span> AS LISTED ON THE INVOICES SENT TO YOU BY YOUR PLAN(S).<span style="color:rgb(255,0,0);"><strong>FAILING TO PAY PREMIUMS WILL RESULT IN TERMINATION OF YOUR PLAN(S).</strong></span></td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td><strong>NOTE THAT YOUR PREMIUM COSTS HAVE CHANGED AND <span style="text-decoration:underline;">YOU MUST UPDATE ANY AUTO-PAY ARRANGEMENTS</span> YOU HAVE MADE WITH YOUR PLAN(S).</strong><span><strong style="color:rgb(255,0,0);">FAILING TO PAY PREMIUMS(INCLUDING THROUGH AUTO-PAY)WILL RESULT IN TERMINATION OF YOUR PLAN(S).</strong> </span>  </td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td>YOU WILL RECEIVE A SEPARATE MAILING REGARDING UPDATES TO BENEFITS, CO-PAYMENTS, CO-INSURANCE, AND DEDUCTIBLES IN YOUR PLAN FOR 2015.   Be sure to call or visit the plan's website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered. </td>
    </tr>
      <tr>
      <td><h3 style="color:rgb(54,95,145);">How to Report Changes to Renewal Information</h3></td>
    </tr>
     <tr class="mar20 fssizeuser">
      <td><strong>You must respond to this notice by«Response_Date» with any new information.</strong> We need to know about changes to the information found in the "Household Information Review" section at the beginning of this notice as well as the addition of any new members to your household, such as if you got married or added a tax dependent.  </td>
    </tr>
 </tbody>
</table>
  </div>

  <div class="page_break">
<table class="total_table" border="0">
<tr><td></br></td></tr>
</table>
<table class="total_table" border="0">
<tbody>
<tr class="mar20 fssizeuser">
      <td>You can report any changes by calling <%= contact_center_name %> at <%= contact_center_phone_number %> and <span style="text-decoration:underline;">tell the customer service representative that you want to make changes to the information usedfor your 2016 renewal.</span>   </td>
    </tr>
     <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
    </tr>
    <tr class="mar20 fssizeuser">
      <td>
Your "My Account" available at <%= site_home_link %> is a place where important information about your account is stored.  <strong>HOWEVER, YOUR "MY ACCOUNT" WILL NOT CONTAIN INFORMATION ABOUT 2016 OPEN ENROLLMENT UNTIL NOVEMBER 1, 2015.</strong> You must use your User ID and Password to access your account. You established these when you applied for benefits. If you forgot your User Name or Password, you can reset it either by:1) Using the "Forgot Password" feature on the login page and answering security questions you established when you setup the account or 2) calling the <%= contact_center_name %> toll free at <%= contact_center_phone_number %>.
</td>
    </tr>

    <tr class="mar20 fssizeuser">
      <td>If you do not have a "My Account", you can create one at <%= site_home_link %>  On the main page, click on "Apply Now" and enter your information.  Once the account is created, select "Find an already submitted application" and enter the information for the person listed as the primary applicant on your application.  Please note that you can only link an application to your My Account if you are the primary applicant on that application.  After linking the application to Your My Account, you will be able to see information about your account, and select plans if you are eligible for private health coverage through <%= site_short_name %>.</td>
    </tr>
    </tbody>
    </table>
</div>
