<td class="brd-r"><%= mixed_case "Health" %></td>
<td><%= enrollment.plan.name %></td>
<td><%= enrollment.plan.carrier_profile.legal_name %></td>
<td style="text-align: center;"><%= enrollment.humanized_dependent_summary %></td>
<td style="text-align: center;"><%= number_to_currency enrollment.total_employer_contribution %></td>
<td style="text-align: center;"><%= number_to_currency enrollment.total_employee_cost %></td>
<td style="text-align: center;"><%= number_to_currency enrollment.total_premium %></td>
