<td>
  <span>
    <span class="coverage-kind"><%= mixed_case(enrollment.coverage_kind) %></span> | # Covered: <%= enrollment.humanized_dependent_summary %>
  </span>
  <br/>
  <span>
    <%= enrollment.plan.carrier_profile.legal_name %> -- <%= enrollment.plan.name %>
  </span>
  <br/>
</td>
<td>
  <span>
    Employer Contribution: <%= number_to_currency enrollment.total_employer_contribution %>
  </span>
  <br/>
  <span>
    Employee Contribution: <%= number_to_currency enrollment.total_employee_cost %>
  </span>
  <br/>
  <strong>Total:</strong> <%= number_to_currency enrollment.total_premium %></td>
</td>
