<tr>
  <td>
    <span class="name">
      <%= census_employee.full_name.try(:titleize) %>
    </span>
    <br>
    <span>
      DOB: <%= format_date census_employee.dob %>
    </span>
    <br>
    <span>
      SSN: <%= (number_to_obscured_ssn census_employee.ssn) %>
    </span>
    <br>
    <span>
      HIRED: <%= format_date census_employee.hired_on %>
    </span>
    <br>
  </td>
  <td>
    <span class="benefit-group">
      <%= enrollment.benefit_group.title.try(:titleize) %>
    </span>
  </td>

  <%= render "benefit_line_item_detail", census_employee: census_employee, benefit_group: enrollment.benefit_group, enrollment: enrollment %>

</tr>
