<% content_for :navigation do %>
  <%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>
<div class="col-xs-12 premium-reports-tab">
  <div class="row no-buffer">
    <% plan_year, billing_date = @employer_profile.billing_plan_year %>
    <% if plan_year.present? && billing_date.present? %>

      <div class="col-xs-8 col-xs-offset-4">
        <div class="row">
          <div class="col-xs-8">
           <button class="btn btn-lg btn-warning hidden" id="loader">
            <span id="loader" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
          </button>
            <span style="float: right;">Enrollment Report for</span>
          </div>
          <div class="col-xs-4">
            <%= billing_period_dropdown %>
          </div>
        </div>
      </div>

<!--       <h1>Enrollment Report <%#= billing_date.beginning_of_month %> - <%#= billing_date.end_of_month %></h1>
 -->
      
    <% end %>
  </div>
  <div class="premium-reports-table">
    <%= render 'show' %>
</div><br>
<%= link_to 'Cancel', employers_employer_profile_path(@employer_profile.id, :tab=>'home'), class: 'btn btn-trans mz' %>
  <a class='btn btn-trans' data-toggle='modal' data-target='#downloadCsv'>Download</a>
</div>
<%= render "download_csv_modal" %>

<script>
$(function() {
  $('#enrollment_report_dropdown').on('change', function(){
    $('#loader').removeClass('hidden');
    $.ajax({ type: "GET",
      url: "/employers/premium_statements/<%= @employer_profile.id%>",
      data: { billing_date: $('option:selected', this).val() },
      dataType : "script"
    }).done(function(data) {
      $('#loader').addClass('hidden');
    });
  });
});
</script>
