<div class="module shopping-data">
  <% if EnrollRegistry.feature_enabled?(:go_to_plan_compare_link) %>
    <%= link_to l10n("go_to_plan_compare") , "", data: {toggle: "modal", target: "#plan_match_redirection"} %>
  <% end %>

  <br/>
  <div class="pull-left">
    <span class="ttu lg twelve">Coverage For:</span>
    &nbsp;
    <strong><%= plan_shopping_dependent_text(@hbx_enrollment) %></strong>
    &nbsp;&nbsp;
    <% if (['shop','employer_sponsored','fehb'].include?(@market_kind)) && @coverage_kind == 'health' %>
    Employer: &nbsp;
    <strong><%= @hbx_enrollment.try(:benefit_sponsorship).try(:organization).try(:legal_name) %></strong>
    &nbsp;&nbsp;
    <% end %>
    <span class="ttu lg twelve">Plans:</span>
    &nbsp;
    <% products = (['shop','employer_sponsored','fehb'].include?(@market_kind)) ? @member_groups : @plans %>
    <strong id='plans-count'><%= products_count(products)%></strong>
    &nbsp;&nbsp;
    <span class="ttu lg twelve">Effective Date:</span>
    &nbsp;
    <strong id='effective_date'><%= @hbx_enrollment.effective_on %></strong>
  </div>
  <br/>
</div>

