<% if @bs4 %>
  <a class="back btn outline my-2" href="#"><%= l10n("previous_step") %></a>
  <dl class="parent mt-2">
    <dt>Coverage For:</dt>
    <dd><%= plan_shopping_dependent_text(@hbx_enrollment) %></dd>
    <dt>Available Plans:</dt>
    <% products = (['shop','employer_sponsored','fehb'].include?(@market_kind)) ? @member_groups : @plans %>
    <dd id='plans-count'><%= products_count(products)%></dd>
    <dt>Coverage Start Date:</dt>
    <dd><%= @hbx_enrollment.effective_on %></dd>
  </dl>
<% else %>
<div class="module shopping-data">
  <% if EnrollRegistry.feature_enabled?(:go_to_plan_compare_link) && @coverage_kind == 'health' %>
    <%= link_to l10n("go_to_plan_compare") , "", class: "btn green-background fifteen-px-bottom-margin", data: {toggle: "modal", target: "#plan_match_redirection"} %>
    <br>
  <% end %>
  <div class="pull-left">
    <span class="ttu lg twelve">Coverage For:</span>
    &nbsp;
    <strong><%= plan_shopping_dependent_text(@hbx_enrollment) %></strong>
    &nbsp;&nbsp;
    <% if (['shop','employer_sponsored','fehb'].include?(@market_kind)) && @coverage_kind == 'health' %>
    Employer: &nbsp;
    <strong><%= @hbx_enrollment.try(:benefit_sponsorship).try(:organization).try(:legal_name) %></strong>
    &nbsp;&nbsp;
    <% end %>
    <span class="ttu lg twelve" data-cuke="plan-count">Plans:</span>
    &nbsp;
    <% products = (['shop','employer_sponsored','fehb'].include?(@market_kind)) ? @member_groups : @plans %>
    <strong id='plans-count'><%= products_count(products)%></strong>
    &nbsp;&nbsp;
    <span class="ttu lg twelve">Effective Date:</span>
    &nbsp;
    <strong id='effective_date'><%= @hbx_enrollment.effective_on %></strong>
  </div>
  <br/>
</div>
<% end %>
