<% is_commonality_threshold_enabled = EnrollRegistry.feature_enabled?(:qle_commonality_threshold) %>
<% qles = @sortable.by_market_kind(market_kind).active_by_state %> <%# TODO: possibly move this into the controller when we uplift this page %>
<% common_number = qles.common.length %>
<% threshold_index = common_number - 1 %>
<% if @bs4 %>
  <div id="<%= market_kind %>" class="<%= display %>" data-controller="sep-types-list" data-target="sep-types-list.marketTab">
    <h3><%= l10n("exchange.manage_sep_types.titles")%></h3>
    <p><%= l10n("exchange.manage_sep_types.sort_description")%></p>

    <% if is_commonality_threshold_enabled %>
      <div class="my-3">
        <% input_id = "commonality-threshold-input-#{market_kind}" %>
        <label class="required" for="<%= input_id %>"><%= l10n('exchange.manage_sep_types.threshold') %></label>
        <input id="<%= input_id %>" type="number" min="1" max=<%= qles.length %> data-target="sep-types-list.thresholdInput" data-action="sep-types-list#setThreshold" data-initial-value="<%= common_number %>" value="<%= common_number %>">
      </div>
    <% end %>
  
    <div data-target="sep-types-list.qleList">
      <% qles.each_with_index do |sort, i| %>
        <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i%>" class="card card-body mb-4">
          <%= sort.title %>
        </div>
        <% if is_commonality_threshold_enabled && i == threshold_index %>
          <div id="threshold-marker" class=<%= 'hidden' if i == qles.length - 1 %>>
            <hr>
            <h2><%= l10n('exchange.manage_sep_types.rare_header') %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div data-controller="sep-types-list" data-target="sep-types-list.marketTab" id="<%= market_kind %>" class="container tab-pane <%= display %>"><br>

    <h3><%= l10n("exchange.manage_sep_types.titles")%></h3>
    <p><%= l10n("exchange.manage_sep_types.sort_description")%></p>
    <div class="container">
      <% if is_commonality_threshold_enabled %>
        <div class="row my-3">
          <input type="number" min="1" max=<%= qles.length %> data-target="sep-types-list.thresholdInput" data-action="sep-types-list#setThreshold" data-initial-value="<%= common_number %>" value="<%= common_number %>">
        </div>
      <% end %>

      <div class="row">
        <div data-target="sep-types-list.qleList">
          <% @sortable.where(market_kind: market_kind).active_by_state.each_with_index do |sort, i|%>
              <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i%>" data-market_kind="<%=sort.market_kind%>" class="card card-body mb-4">
                <%= sort.title%>
              </div>
              <% if is_commonality_threshold_enabled && i == threshold_index %>
                <div id="threshold-marker" class=<%= 'hidden' if i == qles.length - 1 %>>
                  <hr>
                  <h2><%= l10n('exchange.manage_sep_types.rare_header') %></h2>
                </div>
              <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
