<% if @bs4 %>
  <div id="<%= market_kind %>" class="qle-list-tab <%= display %>" data-market-kind="<%= market_kind %>">
    <% is_commonality_threshold_enabled = EnrollRegistry.feature_enabled?(:qle_commonality_threshold) %>
    <% qles = @sortable.where(market_kind: market_kind).active_by_state %>
    <% threshold_index = qles.common.length %>

    <% if is_commonality_threshold_enabled %>
      <div class="my-3" data-controller="qle-commonality-threshold">
        <input type="number" min="0" max=<%= qles.length %> data-target="qle-commonality-threshold.threshold" data-action="qle-commonality-threshold#update" data-initial-value="<%= threshold_index %>" value="<%= threshold_index %>">
      </div>
    <% end %>

    <div data-controller="drag" data-drag-url="/exchanges/manage_sep_types/:id/move">
      <% qles.each_with_index do |sort, i| %>
        <% if is_commonality_threshold_enabled && i == threshold_index %>
          <div class="exclude" id="threshold-marker">
            <hr>
            <h2><%= l10n('exchange.manage_sep_types.rare_header') %></h2>
          </div>
        <% end %>
        <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i%>" class="card card-body mb-4">
          <%= sort.title %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div id="<%= market_kind %>" class="container tab-pane <%= display %>"><br>
    <h3><%= l10n("exchange.manage_sep_types.titles")%></h3>
    <p><%= l10n("exchange.manage_sep_types.sort_description")%></p>
    <div class="container">
      <div class="row">
        <div data-controller="drag" data-drag-url="/exchanges/manage_sep_types/:id/move">
          <% @sortable.where(market_kind: market_kind).active_by_state.each_with_index do |sort, i|%>
              <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i%>" data-market_kind="<%=sort.market_kind%>" class="card card-body mb-4">
                <%= sort.title%>
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>