<div class="bottom-pd">
  <%= form_for @qle, remote: true, url: publish_sep_type_exchanges_manage_sep_types_path, method: "post", class: "form" do |f|%>

      <h3 class='title'><%= l10n("exchange.manage_sep_types.publish_sep_types")%></h3>

      <table  class="table table-striped">
        <tr>
          <th><%= l10n("exchange.manage_sep_types.title")%></th>
          <th><%= l10n("exchange.manage_sep_types.market_kind")%></th>
          <th><%= l10n("exchange.manage_sep_types.state")%></th>
          <th><%= l10n("exchange.manage_sep_types.start_date")%></th>
        </tr>
        <tr>
          <td><%= @qle.title %></td>
          <td><%= @qle.market_kind %></td>
          <td><%= @qle.aasm_state %></td>
          <td><%= @qle.start_on %></td>
          <%= hidden_field_tag :qle_id, @qle.id %>
        </tr>
        <tr><td colspan = "7"><br /></td></tr>
        <tr>
          <td colspan = "6">
            <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();">Cancel</span>&nbsp;&nbsp;&nbsp;
            <%= f.submit l10n("exchange.manage_sep_types.publish_sep_types"), :class => "btn btn-primary"%>
          </td>
        </tr>
      </table>
  <% end %>
</div>
