<%= form_for @qle, url: exchanges_manage_sep_type_path(@qle.id), method: :post, html: {class: 'form-horizontal'} do |f| %>
    <div class="container">
      <div class="col-12">
        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:start_on), f) %>
          </div>

          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:end_on), f) %>
          </div>
        </div>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:title), f) %>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:tool_tip),f) %>

        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:pre_event_sep_in_days),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:is_self_attested),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:reason),f) %>
          </div>
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:post_event_sep_in_days),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:market_kind),f) %>

            <%= f.collection_check_boxes(:effective_on_kinds, effective_on_kinds_collection, :value, :name)  do |effective_on_kind| %>
              <div>
                <%= effective_on_kind.label(:'data-value' => effective_on_kind.value) { effective_on_kind.check_box + effective_on_kind.text } %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <%#= TODO pundit poilcy%>
    <% if @qle.draft? %>
      <div class="form-group <%#=pundit_class(HbxProfile, :modify_admin_tabs?)%>">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Update SEP Type', class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
<% end %>
