<%#binding.pry%>
<%= form_for @qle || QualifyingLifeEventKind.new, url: exchanges_manage_qles_path, method: :post, html: {class: 'form-horizontal'} do |f| %>
    <% if @qle.present? && @qle.errors.any? %>
        <div class="alert alert-error">
          <h4>
            <%= "#{pluralize(@qle.errors.size, "error")} prohibited this announcement from being saved:" %>
          </h4>
          <ul>
            <% @qle.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container">
      <div class="col-12">
        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:start_on),f) %>
          </div>
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:end_on),f) %>
          </div>
        </div>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:title),f) %>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:tool_tip),f) %>

        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:sep_start),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:self_attestation),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:reason),f) %>
          </div>
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:sep_end),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:market),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:coverage_effective),f) %>
          </div>
        </div>
      </div>
    </div>
   <%#= TODO pundit poilcy%>
    <div class="form-group <%#=pundit_class(HbxProfile, :modify_admin_tabs?)%>">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Create Announcement', class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
