<%= form_for @qle || QualifyingLifeEventKind.new, url: exchanges_manage_sep_types_path, method: :post, html: {class: 'form-horizontal'} do |f| %>
    <div class="container">
      <h3>
        Create Sep Type
      </h3>
      <div class="col-12">
        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:start_on),f) %>
          </div>
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:end_on),f) %>
          </div>
        </div>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:title),f) %>
        <%= build_option_field(EnrollRegistry[:sep_types].setting(:tool_tip),f) %>

        <div class="row justify-content-start">
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:pre_event_sep_in_days),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:is_self_attested),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:reason),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:other_reason),f) %>
          </div>
          <div class="col-6">
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:post_event_sep_in_days),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:market_kind),f) %>
            <%= build_option_field(EnrollRegistry[:sep_types].setting(:effective_on_kinds),f) %>
          </div>
        </div>
      </div>
      <%#= TODO pundit poilcy%>
      <%# TODO Cancel button%>
      <div class="form-group <%#=pundit_class(HbxProfile, :modify_admin_tabs?)%>">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Create SEP Type', class:"btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  document.getElementById("other_reason").setAttribute("type", "hidden");
  document.getElementById("other_reasonHelpBlock").style.display = "none";
  document.querySelector("label[for='other_reason']").style.display = "none";
  document.getElementById('market_kind').addEventListener('change', function() {
    var items ;
    if (this.value == "individual"){
      items = <%= raw @qle.ivl_reasons %>;
    }
    else if (this.value == "shop"){
      items = <%= raw @qle.shop_reasons %>;
    }
    else if (this.value == "fehb"){
        items = <%= raw @qle.fehb_reasons %>;
    } 
    else if (this.value == "Choose..."){
      items = []
    }
    var str = "<option>" + "Choose..." + "</option>"
      for (var item of items) {
        str += "<option>" + item[0] + "</option>" + "<value>" + item[1] + "</value>"
      }
    str += "<option>" + "other" + "</option>"
    document.getElementById("reason").innerHTML = str;
  });
  document.getElementById('reason').addEventListener('change', function() {
    if (this.value == "other"){
       document.getElementById("other_reason").setAttribute("type", "show");
       document.getElementById("other_reasonHelpBlock").style.display = "block";
      document.querySelector("label[for='other_reason']").style.display = "block";
    }
    else{
      document.getElementById("other_reason").setAttribute("type", "hidden"); 
      document.querySelector("label[for='other_reason']").style.display = "none";
      document.getElementById("other_reasonHelpBlock").style.display = "none";  
    }
  });
</script>
