<% if EnrollRegistry.feature_enabled?(:sep_types) %>
  <%= render "ui-components/v1/navs/primary_nav.html.slim" %>

  <div class='container'>
    <h2 class="heading-text"> <%= l10n("exchange.manage_sep_types.manage_seps")%> </h2>
    <div class="create-sort-sep-group" data-turbolinks="false" style="margin-left: 287px; margin-bottom: -90px;">
      <%= link_to_with_noopener_noreferrer(l10n("exchange.manage_sep_types.create_sep_types"), new_exchanges_manage_sep_type_path, class: 'btn btn-default') %>
      <%= link_to_with_noopener_noreferrer(l10n("exchange.manage_sep_types.sorting_sep_types"), sorting_sep_types_exchanges_manage_sep_types_path, class: "btn btn-default") %>
    </div>
    <%= raw render_datatable(@datatable) %>
  </div>
<% end %>

<script>
  <% unless is_shop_or_fehb_market_enabled? %>
    document.getElementsByClassName('create-sort-sep-group')[0].style.marginLeft = '140px'
  <% end %>
  initializeDataTables();
  jQuery('.buttons-csv').hide()
  jQuery('.buttons-excel').hide()
  document.getElementsByClassName('dataTables_filter')[0].style.marginTop = '-25px'
  document.getElementById('effective_datatable_wrapper').style.marginTop = '-15px'
  document.getElementsByClassName('container')[3].style.marginTop = '-35px'
</script>
