<% if EnrollRegistry.feature_enabled?(:sep_types) %>
	<div class="container mt-3">

		<h4 class='title'><%= l10n("exchange.manage_sep_types.sort_sep_types")%></h4>
		<!-- Nav tabs -->
		<div id="sort_notification_msg"  class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  <div class="toast-header">
		    <strong class="mr-auto"></strong>
		  </div>
		  <div class="toast-body"></div>
		</div>

		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#individual"><%= l10n("exchange.manage_sep_types.individual")%></a>
			</li>
      <% if is_shop_or_fehb_market_enabled? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#shop"><%= l10n("exchange.manage_sep_types.shop")%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#fehb"><%= l10n("exchange.manage_sep_types.fehb")%></a>
        </li>
      <% end %>

			<li class="nav-item">
				<%= link_to l10n("exchange.manage_sep_types.sep_type_list"),
                    sep_types_dt_exchanges_manage_sep_types_path,
                    class: "btn btn-outline-primary right-align #{is_shop_or_fehb_market_enabled? ? '' : 'margin-right-15'}" %>
			</li>
		</ul>

		<div  id="sort_success_msg" class="row flash module"></div>

	 <!-- Tab panes -->
		<div class="tab-content">
      <%= render partial: 'display_by_market', locals: {market_kind: 'individual', display: 'active'} %>
      <% if is_shop_or_fehb_market_enabled? %>
        <%= render partial: 'display_by_market', locals: {market_kind: 'shop', display: 'fade'} %>
        <%= render partial: 'display_by_market', locals: {market_kind: 'fehb', display: 'fade'} %>
      <% end %>
		</div>
	</div>
<% end %>
