<div class="container mt-3">
 <!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#individual">Individual</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#shop">Shop</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#fehb">Congress</a>
		</li>
	</ul>

	<div  id="sort_success_msg" class="row flash module"></div>

 <!-- Tab panes -->
	<div class="tab-content">
	 	<div id="individual" class="container tab-pane active"><br>
	   	<div class="container">
				<div class="row">
					<div data-controller="drag" data-drag-url="/exchanges/manage_sep_types/:id/move">
						<% @sortable.where(market_kind: "individual").active.each_with_index do |sort, i|%>
		          <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i%>" data-market_kind="<%=sort.market_kind%>" class="card card-body mb-4">
		          	<%= sort.title%>
		          </div>
	         	<%end%>
	        </div>
				</div>
			</div>
   	</div>

	 	<div id="shop" class="container tab-pane fade"><br>
	   	<div class="container">
				<div class="row">
					<div data-controller="drag" data-drag-url="/exchanges/manage_sep_types/:id/move">
						<% @sortable.where(market_kind: "shop").active.each_with_index do |sort, i|%>
		          <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-ordinal_position="<%= sort.ordinal_position %>" data-index="<%=i + 1%>" data-market_kind="<%=sort.market_kind%>" class="card card-body mb-4">
		          	<%= sort.title%>
		          </div>
	         	<%end%>
	        </div>
				</div>
			</div>
   	</div>

	 	<div id="fehb" class="container tab-pane fade"><br>
	   	<div class="container">
				<div class="row">
					<div data-controller="drag" data-drag-url="/exchanges/manage_sep_types/sort">
						<% @sortable.by_market_kind('fehb').active.each do |sort|%>
		          <div id='<%= "#{sort.reason}_#{sort.market_kind}" %>' data-id="<%= sort.id %>" data-market_kind="<%=sort.market_kind%>"  class="card card-body mb-4"><%= sort.title%></div>
	         	<%end%>
	        </div>
				</div>
			</div>
   	</div>
  </div>
</div>
