<% state_abbreviation = site_key.upcase %>

<div>
<h4><b>Acceptable file types:</b></h4>
  <ul>
    <li>PDF, JPEG, PNG, and GIF</li>
    <li>File should not exceed 100 MB</li>
  </ul>
<h4><b>SSN:</b></h4>
<ul>
  <li>Social Security Card</li>
</ul>

<h4><b><%= state_abbreviation %> Residency:</b></h4>
<p>Documents you can use to verify <%= state_abbreviation %> residency include:</p>
<ul>
  <li>A copy of an active lease agreement, certified deed, or mortgage statement with the <%= state_abbreviation %> address you have listed on your <%= site_short_name %> account</li>
  <li>A phone or utility bill from within the past two months with the <%= state_abbreviation %> address you have listed on your <%=  site_short_name %> account</li>
  <li><%= state_abbreviation %> voter registration card with the <%= state_abbreviation %> address you have listed on your <%=  site_short_name%> account</li>
  <li>A valid <%= state_abbreviation %> motor vehicle registration or <%= state_abbreviation %> DMV identification card with the <%= state_abbreviation %> address you have listed on your <%= site_short_name %> account</li>
  <li>Cancelled checks or receipts for mortgage or rental payments within the past 2 months for a residence at the <%= state_abbreviation %> address you have listed on your <%= site_short_name %> account</li>
  <li>Utility bills with the <%= state_abbreviation %> address you have listed on your <%= site_short_name %> account, and payment receipts within the past 2 months</li>
  <li>Proof of automobile insurance showing the <%= state_abbreviation %> residency address you have listed on your <%= site_short_name %> account</li>
  <li>A signed <a href="https://dmv.dc.gov/page/proof-dc-residency-certifications" target="_blank" rel="noopener noreferrer"><%= state_abbreviation %> Department of Motor Vehicles proof of residency form</a> from another District resident stating that the applicant lives at the <%= state_abbreviation %> address you have listed on your <%= site_short_name %> account</li>
  <li>Self-attestation of <%= state_abbreviation %> residency without paper documentation in exceptional circumstances, including homelessness, in cases where you are temporarily absent from the District but intend to return, and in cases where you lack access to proof of <%= state_abbreviation%> residency as a result of domestic violence</li>
</ul>

<h4><b>Citizenship:</b></h4>
<h5>Primary documentation: (only one (1) needed)</h5>
<ul>
  <li>U.S. Passport (Note: Expired passports are acceptable)</li>
  <li>Certificate of Naturalization</li>
  <li>Certificate of Citizenship</li>
  <li>Consular report of Birth Abroad of U.S. Citizen</li>
  <li>A valid Driver’s License from a state that requires proof of citizenship or immigration status and verification of Social Security Number prior to issuance of the license</li>
  <li>A tribal document issued by a federally-recognized Indian Tribe, which must:</li>
  <ul>
    <li>Identify the Tribe issuing the document</li>
    <li>Identify the individual by name</li>
    <li>Confirm the individual’s enrollment in or affiliation with the Tribe</li>
    <li>Examples: tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document</li>
  </ul>
</ul>
<h5>Secondary documentation: (Must Present One (1) of the following, along with ID):</h5>
<ul>
  <li>A U.S. birth certificate showing birth in one of the 50 states, <%= state_abbreviation %>, Guam, American Samoa, Swain’s Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana
    Islands. If born in the Puerto Rico, the Virgin Islands, or CNMI prior to the time these areas became part of the U.S., the individual will satisfy the citizenship requirement if he or she is a
    collectively naturalized citizen.
  </li>
  <li>A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands before November 4, 1986</li>
  <li>A certification of Report of Birth, issued to U.S. citizens born outside the U.S.</li>
  <li>A Report of Birth Abroad of a U.S. Citizen</li>
  <li>A Certification of Birth</li>
  <li>A U.S. Citizen I.D. Card</li>
  <li>A final adoption decree showing the child’s name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the child’s name and U.S.
    place of birth
  </li>
  <li>Evidence of U.S. Civil Service employment before June 1, 1976</li>
  <li>U.S. Military Record showing a U.S. place of birth</li>
  <li>A data match with the SAVE Program or any other process established by the Department of Homeland Security to verify that an individual is a citizen</li>
  <li>Documentation that a child meets the requirements of §101 of the Child Citizenship Act</li>
  <li>Medical records that indicate a U.S. place of birth</li>
  <li>Life, health, or other insurance record that indicates a U.S. place of birth</li>
  <li>Official religious record recorded in the U.S. showing that the birth occurred in the U.S.</li>
  <li>School records showing a U.S. place of birth</li>
  <li>Federal or State census record showing U.S. citizenship or a U.S. place of birth</li>
</ul>

<h4><b>Immigration Status:</b></h4>
<p>Documents you may be able to use to verify your immigration status include:</p>
<ul>
  <li>Permanent Resident Card (I-551, also known as Green Card)</li>
  <li>Temporary I-551 Stamp (on passport or I-94, I-94A)</li>
  <li>Immigrant Visa (with temporary I-551 language)</li>
  <li>Employment Authorization Card (EAD or I-766)</li>
  <li>Arrival/Departure Record (I-94 or I-94A)</li>
  <li>Arrival/Departure Record in foreign passport (I-94)</li>
  <li>Unexpired visa in a foreign passport</li>
  <li>Country of issuance Reentry Permit (I-327)</li>
  <li>Refugee travel document (I-571)</li>
  <li>Certificate of Eligibility for Nonimmigrant (F-1) Student Status (I-20)</li>
  <li>Certificate of Eligibility for Exchange Visitor (J-1) Status (DS2019)</li>
  <li>Notice of Action (I-797)</li>
</ul>
<h5>You can also list these documents or statuses:</h5>
<ul>
  <li>Document indicating a member of a federally recognized Indian tribe or American Indian born in
    Canada This is considered an eligible immigration status for Medicaid, but not for a Qualified Health Plan [QHP]
  </li>
  <li>Office of Refugee Resettlement (ORR) eligibility letter (if under 18)</li>
  <li>Document indicating withholding of removal</li>
  <li>Administrative order staying removal issued by the Department of Homeland Security (DHS)</li>
  <li>Certification from U.S. Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)</li>
  <li>Resident of American Samoa</li>
</ul>

<h4><b>American Indian Status:</b></h4>
<p>You can provide any formal documentation from a tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian status. Examples of such verifications include, but are not limited to the following:</p>
<ul>
  <li>A document issued by a federally-recognized American Indian/Alaska Native tribe, such as an enrollment or membership card, a tribal census document, or a document issued by a tribe indicating the person’s affiliation with the Tribe;</li>
  <li>A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian; and</li>
  <li>A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian.</li>
  <li>For Indians born outside of the United States, we will accept the following documents:
    <ul>
      <li>A Form I-94 with a notation of “S1-3”;</li>
      <li>I-551 Permanent Resident Card stamped “S1-3”;</li>
      <li>Temporary I-551 stamp coded “S1-3” in a Canadian passport;</li>
      <li>A Tribal Record or document certifying at least 50 percent American Indian blood, as required by Section 289 of the Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as the following: Birth certificate or Baptismal; Certificate issued on a reservation; Letter from Canadian Department of Indian Affairs; or School Records</li>
    </ul>
  </li>
</ul>
<h4><b>Income:</b></h4>
<p>Documents you can use to verify income include:</p>
<ul>
  <li>Most recent tax return, including all forms and schedules</li>
  <li>If your income has changed, you can also provide the following:
    <ul>
      <li>Paystubs: Copies of your most recent consecutive pay stubs (no older than 30 days from the date document(s) received)</li>
      <li>Letter from your employer (If you are employed but do not receive pay stubs)</li>
      <li>Award Letters (such as Civil Service Retirement, Social Security, Railroad Retirement)</li>
      <li>Documentation of adjustments to income that you intend to take on your federal tax return (i.e. alimony payments, self-employed health insurance payments, health savings account deductions, and moving expenses)</li>
      <li>Personnel Action or termination letter from your prior employer</li>
      <li>Documentation of any other income (Example: Interest, dividend, annuities, trust income)</li>
      <li>Unemployment benefits letter</li>
    </ul>
  </li>
</ul>
<h4><b>Access to Other Health Coverage:</b></h4>
<p>Documents you can use to verify you do not have access to other health coverage include:</p>
<ul>
  <li>A certificate of coverage or letter from your former health insurance company showing the end date of coverage</li>
  <li>A government-issued document showing the date coverage ended or ineligibility for a program</li>
  <li>A <a href="https://dchealthlink.com/sites/default/files/v2/forms/Employer%20Coverage%20Tool.pdf" target="_blank" rel="noopener noreferrer">statement from your employer</a> that indicates the coverage they offer doesn’t meet the minimum value standard</li>
</ul>

</div>
