<div class="popover-markup" style="display: inline;">
      <%= link_to "Verify <i class='fa fa-check-circle-o' aria-hidden='true'></i>".html_safe, "#", class:"btn btn-success btn-xs trigger " %>

    <!-- Admin comment form -->
      <div class="head hide">Provide Verification Reason:</div>
      <div class="content hide ">
        <%= form_tag update_verification_type_documents_path, multipart: true, method: :put do %>
            <ul id="verification-reason">
              <%= hidden_field_tag 'person_id', person.id  %>
              <%= hidden_field_tag 'verification_type', v_type  %>
              <div class="n-radio-group">
                <div class="n-radio-row <%=pundit_class Family, :updateable?%>">
                  <label class="n-radio module verif-type" for='<%= v_type.parameterize.underscore %>_document_in_Enroll_app_<%=person.id%>'>
                    <%= radio_button_tag "verification_reason", 'document_in_Enroll_app', false, required: true, class: 'n-radio', id: "#{v_type.parameterize.underscore}_document_in_Enroll_app_#{person.id}" %>
                    <span class="n-radio">
                    </span>
                    Document in EnrollApp
                  </label>
                </div>
                <div class="n-radio-row <%=pundit_class Family, :updateable?%>">
                  <label class="n-radio module verif-type" for="<%= v_type.parameterize.underscore %>_document_in_DIMS_<%=person.id%>">
                    <%= radio_button_tag "verification_reason", 'document_in_DIMS', false, required: true, class: 'n-radio', id: "#{v_type.parameterize.underscore}_document_in_DIMS_#{person.id}" %>
                    <span class="n-radio">
                    </span>
                    Document in DIMS
                  </label>
                </div>
                <div class="n-radio-row <%=pundit_class Family, :updateable?%>">
                  <label class="n-radio module verif-type" for="<%= v_type.parameterize.underscore %>_SAVE_system_<%=person.id%>">
                    <%= radio_button_tag "verification_reason", 'SAVE system', false, required: true, class: 'n-radio', id: "#{v_type.parameterize.underscore}_SAVE_system_#{person.id}" %>
                    <span class="n-radio">
                    </span>
                    SAVE system
                  </label>
                </div>
                <div class="n-radio-row <%=pundit_class Family, :updateable?%>">
                  <label class="n-radio module verif-type" for="<%= v_type.parameterize.underscore %>_e-verified_in_Curam_<%=person.id%>">
                    <%= radio_button_tag "verification_reason", 'e-verified_in_Curam', false, required: true, class: 'n-radio', id: "#{v_type.parameterize.underscore}_e-verified_in_Curam_#{person.id}" %>
                    <span class="n-radio">
                    </span>
                    E-Verified in Curam
                  </label>
                </div>
              </div>
              <div class="text-center <%=pundit_class Family, :updateable?%>">
                <%= submit_tag "Complete", class: "btn btn-primary btn-small " %>
              </div>
            </ul>
        <% end %>
      </div>
    </div>
    <!-- >>>>>> admin comment form -->

<script type="text/javascript" charset="utf-8">
  $('.popover-markup>.trigger').popover({
    html: true,
    title: function () {
      return $(this).parent().find('.head').html();
    },
    content: function () {
      return $(this).parent().find('.content').html();
    },
    animation: true
  });
</script>
