<% if current_user && current_user.has_hbx_staff_role? %>
    <div class="popover-markup">
      <%= link_to "Verify", "#", class:"btn btn-success btn-xs trigger" %>

    <!-- Admin comment form -->
      <div class="head hide">Provide verification reason:</div>
      <div class="content hide">
        <%= form_tag update_verification_type_documents_path, multipart: true, method: :put do %>
            <ul id="verification-reason">
              <%= hidden_field_tag 'person_id', person.id  %>
              <%= hidden_field_tag 'verification_type', v_type  %>
              <li>
                <%= radio_button_tag 'verification_reason', 'document_in_Enroll_app', true %>
                <%= label_tag "document in EnrollApp", "document in EnrollApp", class:"module verif-type" %>
              </li>
              <li>
                <%= radio_button_tag 'verification_reason', 'document_in_DIMS' %>
                <%= label_tag 'document in DIMS', 'document in DIMS', class:"module verif-type" %>
              </li>
              <li>
                <%= radio_button_tag 'verification_reason', 'SAVE_system' %>
                <%= label_tag 'SAVE system', 'SAVE system', class:"module verif-type" %>
              </li>
              <li>
                <%= radio_button_tag 'verification_reason', 'e-verified_in_Curam' %>
                <%= label_tag 'e-verified in Curam', 'e-verified in Curam', class:"module verif-type" %>
              </li>
              <div>
                <%= submit_tag "Complete", class: "btn btn-success btn-xs" %>
              </div>
            </ul>
        <% end %>
      </div>
    </div>
    <!-- >>>>>> admin comment form -->

<% else %>
    <% #link_to "Send for review", "#", class:"btn btn-success btn-xs" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('.popover-markup>.trigger').popover({
    html: true,
    title: function () {
      return $(this).parent().find('.head').html();
    },
    content: function () {
      return $(this).parent().find('.content').html();
    },
    animation: true
  });
</script>