<% person = member.person %>
<table class="sub-table">
  <% person.verification_types.each do |v_type| %>
      <tr>
        <td>
          <%=v_type%>&nbsp;
        </td>
        <td>
          <span class="label label-<%=verification_type_class(v_type, person)%>"><%= verification_type_status(v_type, person) %></span>
        </td>
        <td>
          <!-- HBX admin inclusion -->
          <% if verification_type_status(v_type, person) == "outstanding" %>
              <%= render partial: 'insured/families/verification/ivl_verification_complete_form', locals: { person: member.person, v_type: v_type } %>
          <% end %>
          <!-- >>>> hbx admin inclusion -->
        </td>
        <td>
          <%= render partial: 'insured/families/verification/verification_upload', locals: {member: member, v_type: v_type} %>
        </td>
      </tr>
  <% end %>
</table>