<% person = member.person %>
<table class="sub-table">
  <% person.verification_types.each do |v_type| %>
      <tr>
        <td>
          <%=v_type%>&nbsp;
        </td>
        <td style="<% if current_user && !current_user.has_hbx_staff_role? %>
                        text-align: center;
                   <% end %>">
          <span class="label label-<%=verification_type_class(v_type, person)%>">
            <%= show_v_type(v_type, person) %>
          </span>&nbsp;
          <%= pundit_span Family, :updateable? %>
          <!-- HBX admin inclusion -->
          <% if verification_type_status(v_type, person) != "verified" && current_user.has_hbx_staff_role? %>
              <%= render partial: 'insured/families/verification/ivl_verification_complete_form', locals: { person: member.person, v_type: v_type } %>
          <% end %>
          </span>
        </td>
          <!-- >>>> hbx admin inclusion -->
        <td>
          <%= pundit_span Family, :updateable? %>  
            <%= render partial: 'insured/families/verification/verification_upload', locals: {member: member, v_type: v_type} %>
          </span>
        </td>
      </tr>
  <% end %>
</table>
