<div class="row  <%=pundit_class(Family, :updateable?)%>">
  <%= form_tag insured_verification_documents_upload_path, multipart: true, method: :post do %>
      <%= hidden_field_tag 'family_member', member.id  %>
      <%= hidden_field_tag 'verification_type', v_type  %>

  <div class="btn-group" role="group" aria-label="...">
  <div type="button" class="button btn btn-default btn-xs">
    <div class="<%=v_type%>">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      &nbsp;
      <span class="upload-value">Choose Files...</span>
      <%= file_field_tag "file[]", type: :file, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "doc-upload-file", :multiple => true %>
    </div>
  </div>
    <%= submit_tag "Upload", class: "btn btn-default btn-xs" %>
  <% end %>
  </div>
</div>
