<div class="row">
  <div class="col-xs-6">
    <h4>
      <% if can_show_due_date?(@person) %>
          <%= l10n("document_due_date") %>:&nbsp;&nbsp;
          <% if (@person.primary_family.best_verification_due_date || TimeKeeper.date_of_record + 95.days) <= TimeKeeper.date_of_record %>
              <span class="label label-danger"><%= @person.primary_family.best_verification_due_date %> (Past Due)</span>
          <% else %>
              <span class="label label-warning"><%= (@person.primary_family.best_verification_due_date || TimeKeeper.date_of_record + 95.days) %></span>
          <% end %>
      <% end %>
    </h4>
  </div>
</div>

<div class="table table-sm">
  <div class="module verification-process col-md-12">
      <% @family_members.each do |f_member| %>
        <%= render :partial => '/insured/families/verification/ivl_verifications', locals: { f_member: f_member, verification_types: verification_types_of_member(f_member) } %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 <%= pundit_class HbxProfile, :modify_admin_tabs?%> ">
    <% if current_user.has_hbx_staff_role? && all_family_members_verified && verification_needed?(@person) %>
        <%= link_to l10n("insured.families.verification.complete_verification_for_enrollment"), enrollment_verification_documents_path(:person_id => @person.id), class: "btn btn-danger btn-sm", data: { confirm: l10n("insured.families.verification.complete_verification_for_enrollment_confirm") } %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <a aria-controls="docs-verification-faq" aria-expanded="false" class="btn btn-default btn-small pull-right" href="https://www.dchealthlink.com/submit-docs" target="_blank" role="button">
      <%= l10n("insured.families.verification.documents_FAQ") %>
    </a>
  </div>
</div>

<script>
  $(document).ready(function() {
    Insured.custom_upload_init();
  });
</script>
