<% person = member.person %>
<table class="sub-table">
  <% person.verification_types.each do |v_type| %>
      <tr>
        <td>
          <%=v_type.type_name%>&nbsp;
        </td>
        <td style="<% if text_center(v_type, person) %>
                     text-align: center;
                   <% end %>">
          <span class="label label-<%=verification_type_class(v_type.validation_status)%>">
            <%= show_v_type(v_type.validation_status, current_user.has_hbx_staff_role?) %>
          </span>&nbsp;
          <%= pundit_span Family, :updateable? %>
          <!-- HBX admin inclusion -->
          <% if v_type.type_unverified? && current_user.has_hbx_staff_role? && unverified?(person) %>
              <%= render partial: 'insured/families/verification/ivl_verification_complete_form', locals: { person: member.person, v_type: v_type.type_name } %>
          <% end %>
        </td>
          <!-- >>>> hbx admin inclusion -->
        <td>
          <%= pundit_span Family, :updateable? %>
          <% if unverified?(person) %>
            <%= render partial: 'insured/families/verification/verification_upload', locals: {member: member, v_type: v_type.type_name} %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
