<div class="row">
  <div class="col-xs-6">
    <h4>
      <% if can_show_due_date?(@person) %>
          <%= l10n("document_due_date") %>:&nbsp;&nbsp;
          <% if (@person.primary_family.min_verification_due_date || TimeKeeper.date_of_record + 95.days) <= TimeKeeper.date_of_record %>
              <span class="label label-danger"><%= @person.primary_family.min_verification_due_date_on_family %> (<%= l10n("past_due") %>)</span>
          <% else %>
              <span class="label label-warning"><%= (@person.primary_family.min_verification_due_date || TimeKeeper.date_of_record + 95.days) %></span>
          <% end %>
      <% end %>
    </h4>
  </div>
</div>

<div class="table table-sm">
  <div class="module verification-process col-md-12">
    <% @family_members.each do |f_member| %>
      <% person = f_member.person %>
      <div class="row">
        <div class="family-member col-md-12">
          <div class="person">
            <%= f_member.person.full_name %>
          </div>
          <div class="verification-types col-md-12">
            <% person.verification_types.each do |v_type| %>
              <div class="row">
                <div class="v-type col-md-12">
                  <div class="v-type-name col-md-2">
                    <%= v_type %>
                  </div>
                  <div class="v-type-status col-md-2">
                    <% if f_member.is_applying_coverage %>
                      <span class="label lb-md label-<%=verification_type_class(v_type, person, current_user.has_hbx_staff_role?)%>">
                        <%= show_v_type(v_type, person, current_user.has_hbx_staff_role?) %>
                      </span>&nbsp;
                        <%= pundit_span Family, :updateable? %>
                    <% end %>
                  </div>

                  <div class="v-type-due-date col-md-3">
                    <% if can_show_due_date?(@person, f_member: f_member, v_type: v_type) %>
                      <span class="text-danger"><%= l10n('due_date') %></span>
                      <%= f_member.family.document_due_date(f_member, v_type).present? ? f_member.family.document_due_date(f_member, v_type).to_date : TimeKeeper.date_of_record + 95.days %>
                    <% end %>
                  </div>

                  <div class="v-type-upload col-md-3">
                    <% if type_unverified?(v_type, person) && f_member.is_applying_coverage %>
                      <%= form_tag insured_verification_documents_upload_path, multipart: true, method: :post do %>
                        <span class="btn btn-default btn-file">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          <%= l10n('upload_documents') %>
                          <%= file_field_tag "file[]", type: :file, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "doc-upload-file",  :multiple => true, value: "Upload Documents" %>
                        </span  >
                        <%= hidden_field_tag 'family_member', f_member.id  %>
                        <%= hidden_field_tag 'verification_type', v_type  %>
                      <% end %>
                    <% end %>
                  </div>
                  <% if current_user.has_hbx_staff_role? %>
                    <div class="v-type-actions col-md-2">
                      <%= select_tag :verification_actions, admin_actions(v_type, f_member.person), {id: "v-action-#{person.id}-#{v_type.split.join('-')}", prompt: 'Action'} %>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if current_user.has_hbx_staff_role? %>
                    <%= render :partial => "insured/families/verification/admin_verification_actions", locals: { person: person, v_type: v_type, f_member: f_member} %>
              <% end %>

              <div class="row">
                <% if documents_list(person, v_type).any? %>
                  <div class="v-doc-list col-md-12">
                    <% documents_list(person, v_type).each do |vlp_doc|%>
                      <div class="row" id="doc_table_row_<%=vlp_doc.id%>">
                        <div class="v-doc-elem col-md-12">
                          <div class="v-doc col-md-11">
                            <% if vlp_doc.identifier.present? %>
                              <% key = vlp_doc.identifier.split('#').last %>
                              <%= link_to "#{vlp_doc.title.titleize} <i class='fa fa-download fa-lg' aria-hidden='true'></i>".html_safe, "/insured/verification_documents/download/#{key}", title: "Download", data: {"toggle": "tooltip"} %>
                            <% end %>
                          </div>
                          <div class="v-doc col-md-1">
                            <span class="<%=pundit_class(Family, :updateable?)%>" >
                              <%= link_to document_path(vlp_doc, :person_id => person.id, :verification_type => v_type, :doc_title => vlp_doc.title.titleize), method: :delete, remote: true do %>
                                <i class="fa fa-trash-o fa-lg pull-right" title="Delete"></i>
                              <% end %>
                            </span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 <%= pundit_class HbxProfile, :modify_admin_tabs?%> ">
    <% if current_user.has_hbx_staff_role? && all_family_members_verified && verification_needed?(@person) %>
        <%= link_to l10n("insured.families.verification.complete_verification_for_enrollment"), enrollment_verification_documents_path(:person_id => @person.id), class: "btn btn-danger btn-sm", data: { confirm: l10n("insured.families.verification.complete_verification_for_enrollment_confirm") } %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <a aria-controls="docs-verification-faq" aria-expanded="false" class="btn btn-default btn-small pull-right" data-toggle="collapse" href="#docs-verification-faq" role="button">
      <%= l10n("insured.families.verification.documents_FAQ") %>
    </a>
  </div>
</div>

<div class="collapse" id="docs-verification-faq">
  <%= render partial: "insured/families/verification/documents_verification_list" %>
</div>

<script>
  $(document).ready(function() {
    Insured.custom_upload_init();
  });
</script>
