<% person = member.person %>
<tr class="collapse dn" id="<%= member.id %>">
  <td colspan="5" class="td-container">
    <div class="table-responsive">
      <table class="table table-sm">
        <% person.consumer_role.vlp_documents.each_with_index do |vlp_doc, i | %>
          <tr class="<% if i == 0 %>bt-n<% elsif i+1 == person.consumer_role.vlp_documents.count %>bb<% end %>" id="doc_table_row_<%=vlp_doc.id%>">
            <% if vlp_doc.identifier.present? %>
              <td>
                <% key = vlp_doc.identifier.split('#').last %>
                <span><%= vlp_doc.verification_type.titleize %>: </span>
                <%= link_to "#{vlp_doc.subject} <i class='fa fa-cloud-download' aria-hidden='true'></i>".html_safe, "/insured/verification_documents/download/#{key}", title: "Download", data: {"toggle": "tooltip"} %>&nbsp;
                <% if vlp_doc.status == "rejected" && vlp_doc.comment && vlp_doc.comment.length > 0 %>
                    <span type="button" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="<%= vlp_doc.comment %>">
                      <i class="fa fa-comments-o fa-2x"></i>&nbsp;
                    </span>
                <% end %>
                  <% if show_doc_status(vlp_doc.status) %>
                    <span class="label label-<%=doc_status_label(vlp_doc)%>"><%= vlp_doc.status.titleize %></span>
                  <% end %>
              </td>
          <!-- HBX admin inclusion -->
          <!-- >>>> hbx admin inclusion -->
              <td class="table-functions  <%=pundit_class(Family, :updateable?)%>" >
                <% if vlp_doc.status != "verified" %>
                  <%= link_to document_path(vlp_doc, :person_id => person.id), method: :delete, remote: true do %>
                      <i class="fa fa-trash-o fa-lg pull-right" data-toggle="tooltip" title="Delete"></i>
                  <% end %>
                <% end %>
                <%= render partial: 'insured/families/verification/doc_accept_reject_form', locals: { person: person, vlp_doc: vlp_doc } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </td>
</tr>

<script type="text/javascript" charset="utf-8">
  Freebies.popover();
</script>
