<%= form_tag admin_create_plan_year_exchanges_hbx_profiles_path(id: "flvnfvpkfvpvfv"),class:'admin-plan-year-form', :method => :post do %>
  <br />
  <div class="row">
    <div class="pull-right" style="margin-right:20px">
      <i class="fas fa-times fa-2x admin-fa-times" onclick="closeRow(this)"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="effectiveStartDate" style="font-weight:bold">Effective Start Date</label> <br />
      <div class="input-group">
        <%= select_tag :effective_start_date, options_for_select([ "01/01/2019", "02/01/2019" ]), {class:'form-control', onchange: "checkField(this)", include_blank: true}  %>
      </div>
    </div>
    <div class="col-md-4">
      <label for="effectiveEndDate" style="font-weight:bold">Effective End Date</label> <br />
      <div class="input-group">
        <%= text_field_tag :effective_end_date, nil, class:'form-control', onchange: "checkField(this)" %>
        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <label for="binderDueDate" style="font-weight:bold">Binder Payment Due Date</label> <br />
      <div class="input-group">
        <%= text_field_tag :binder_due_date, nil, class:'form-control', onchange: "checkField(this)" %>
        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <label for="openEnrollmentStartDate" style="font-weight:bold">Open Enrollment Start Date</label> <br />
      <div class="input-group">
        <%= text_field_tag :open_enrollment_start_date, nil, class:'form-control', onchange: "checkField(this)" %>
        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <label for="openEnrollmentEndDate" style="font-weight:bold">Open Enrollment End Date</label> <br />
      <div class="input-group">
        <%= text_field_tag :open_enrollment_end_date, nil, class:'form-control', onchange: "checkField(this)" %>
        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <label for="fullTimeEmployees" style="font-weight:bold">Full Time Employees</label><br />
      <%= text_field_tag :full_time_employees, nil, class:'form-control', onchange: "checkField(this)" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="pull-right btn btn-primary" id="adminCreatePyButton">Submit</button>
    </div>
  </div>

<% end %>

<script>
  count = 0;
  function checkField(element) {
    if (element.value) {
      count ++;
    }
    if (count > 0 && !element.value) {
      count --;
    }
    if (count === 6) {
      $('#adminCreatePyButton').removeClass('disabled');
    } else {
      $('#adminCreatePyButton').addClass('disabled');
    }
  }
  $( function() {
    $('#adminCreatePyButton').addClass('disabled');
    $("#open_enrollment_start_date").datepicker();
    $("#open_enrollment_end_date").datepicker();
    $("#effective_end_date").datepicker();
    $("#binder_due_date").datepicker();
  } );
  function closeRow(element) {
    element.closest('tr').remove();
  }
</script>

<style>
  .admin-fa-times {
    color:#005e81;
  }
  .admin-fa-times:hover {
    cursor:pointer;
  }
</style>
