<div class="container bottom-pd">
  <div class="row">
    <h3 class="title-inline">Configuration</h3>
  </div>

  <div class="row input-no-pd">
    <%= form_tag({controller: "hbx_profiles", action: "set_date"}, method: "post", class: "form") do %>
      <table class="table table-border">
        <tbody>
          <td width="50%" style="padding: 18px;font-weight: bold;">Current Date: <%= TimeKeeper.date_of_record.to_date %></td>
          <td><%= text_field_tag 'time_keeper[date_of_record]', '', :'data-date-min'=>"0d",
                               class: "required date-picker floatlabel form-control", required: true,
                               :value=>TimeKeeper.date_of_record.to_date, :placeholder=>"Date of Record" %></td>
          <td><button type="submit" class="btn btn-primary pull-right">Set Curent Date</button></td>
        </tbody>
      </table>

      <!-- <div class="row no-buffer row-form-wrapper">
        <div class="col-md-4">
          <h4>Current Date: <%= TimeKeeper.date_of_record.to_date %></h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group-lg">
          <div class="floatlabel-wrapper" style="position:relative">
            <label class="label-floatlabel" style="position: absolute; top: 0px; left: 8px; display: block; opacity: 1; font-size: 11px; font-weight: bold; color: rgb(131, 135, 128); -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;">Date of Record</label>
            <%= text_field_tag 'time_keeper[date_of_record]', '', :'data-date-min'=>"0d",
                               class: "required date-picker floatlabel form-control", required: true,
                               :value=>TimeKeeper.date_of_record.to_date, :placeholder=>"Date of Record" %>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Set Curent Date</button>
      </div> -->
    <% end %>
  </div>
</div>