<div class="container" id="extendable_applications_table">
  <div class = "table-responsive table-override">
    <div class="pull-right">
      <a href="javascript:void(0);" onclick="$('tr.child-row:visible').remove();">
        <span aria-hidden="true"> <i class="fa fa-times fa-lg"></i> </span>
      </a>
    </div>
    <h4 class="text-center heading-text"> <%= l10n("hbx_profiles.publish_application") %> </h4>
    <%= form_tag force_publish_exchanges_hbx_profiles_path(id: @benefit_sponsorship.id.to_s, :employer_actions_id => "employer_actions_#{@benefit_sponsorship.organization.employer_profile.id}", publish_with_warnings: false),:method => :post, :remote => true do %>
      <table class = "table" style="table-layout: fixed;">
        <thead>
          <tr>
           <th><%= l10n("hbx_profiles.application_type")%></th>
           <th><%= l10n("hbx_profiles.effective_date")%></th>
           <th><%= l10n("hbx_profiles.oe_end_date")%></th>
           <th><%= l10n("hbx_profiles.application_status")%></th>
           <th><%= l10n("hbx_profiles.submitted_at")%></th>
           <th><%= l10n("hbx_profiles.last_updated_at")%></th>
           <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @benefit_application.predecessor.present? ? "Renewal" : "Initial" %></td>
            <td><%= @benefit_application.effective_period.min.strftime('%m/%d/%Y') %></td>
            <td><%= @benefit_application.open_enrollment_period.max.strftime('%m/%d/%Y') %></td>
            <td><%= benefit_application_summarized_state(@benefit_application) %></td>
            <td><%= TimeKeeper.local_time(@benefit_application.created_at).strftime('%m/%d/%Y %I:%M%p') %></td>
            <td><%= TimeKeeper.local_time(@benefit_application.updated_at).strftime('%m/%d/%Y %I:%M%p') %></td>
          </tr>
        </tbody>
      </table>
      <div class="row no-buffer child-row">
        <div class="col-md-12 no-pd col-sm-12 col-xs-12 top-buffer text-center">
          <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();"> <%= l10n(".cancel") %> </span>
            <%= submit_tag l10n('.submit'), :class => "btn btn-primary", :remote => true, :size => '100px' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "benefit_sponsors/benefit_applications/benefit_applications/submit_application_modal", benefit_application: @benefit_application, admin_override: true, publish_url: force_publish_exchanges_hbx_profiles_path(id: @benefit_sponsorship.id.to_s, :employer_actions_id => "employer_actions_#{@benefit_sponsorship.organization.employer_profile.id}", publish_with_warnings: true) %>

