<div class = "table-responsive table-override"> 
  <h4> UserName/eMail view </h4>
  <% user = @person.user %>
  <table class = "table table-striped table-bordered" style="table-layout: fixed;">
    <thead>
      <tr>
        <th> Username </th>
        <th> eMail </th>
        <th> User Roles </th>
        <th> Last Sign In </th>
        <th> Person Created Date </th>
        <th> e-Case ID </th>
        <th> Person Roles </th>
      </tr>
    </thead>

    <tbody>
      <% person_roles = [] %>
      <% person_roles << "Employee Role" if @person.active_employee_roles.present? %>
      <% person_roles << "Consumer Role" if @person.consumer_role.present? %>
      <% person_roles << "HbxStaffRole Role" if @person.broker_role.present? %>
      <% person_roles << "Employee Role" if @person.hbx_staff_role.present? %>
      <% person_roles << "Assister Role" if @person.assister_role.present? %>
      <% person_roles << "CSR Role" if @person.csr_role.present? %>
      <% person_roles << "Employer Staff Role" if @person.employer_staff_roles.present? %>
      <% person_roles << "Broker Agency Staff Role" if @person.broker_agency_staff_roles.present? %>
      <% person_roles << "General Agency Staff Role" if @person.general_agency_staff_roles.present? %>
      <tr>
        <td> <%= user.present? ? user.oim_id : "Nil" %> </td>
        <td> <%= user.present? ? user.email : "Nil" %> </td>
        <td> <%= user.present? ? user.roles.each { |role| role.capitalize! }.join(", ") : "Nil" %> </td>
        <td> <%= user.present? ? TimeKeeper.date_according_to_exchange_at(user.last_sign_in_at) : "Nil" %> </td>
        <td> <%= TimeKeeper.date_according_to_exchange_at(@person.created_at) %> </td>
        <td> <%= @person.primary_family.e_case_id || "Nil" %> </td>
        <td> <%= person_roles.join(", ") %> </td>
      </tr>
    </tbody>
  </table>
  <h6 align="right"> Requested by @<%= @current_user.person.full_name %> </h6>
</div>
