<div class="row container">
  <div class="form-inline button-group-wrapper">
    <div class="input-group search-wp">
      <%= render 'shared/search', url: verification_index_exchanges_hbx_profiles_path, q: @q, placeholder: "First/Last Name, SSN", remote: true %>
    </div>
  </div>
</div>
<%= paginate @families, :remote => true %>
<div class="module ivl-documents-table panel">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-default">
        <tr>
          <th>HBX ID (sortable)</th>
          <th>First name (sortable)</th>
          <th>Last name (sortable)</th>
          <th>Documents</th>
          <th>Due date (sortable) + extend</th>
          <th>Status</th>
          <th>Review</th>
          <th>FedHub + retrigger</th>
        </tr>
      </thead>
      <tbody>
      <% @families.each do |family| %>
      <% person = family.primary_applicant.person %>
          <% if person.has_consumer_role? && person.consumer_role.aasm_state != "fully verified" %>
        <tr class="<%= cycle("odd", "even top") %>">
          <td><%= person.hbx_id %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td class="text-center"><%= documents_count(person) %></td>
          <td>
            <%= verification_due_date(person) %>
            <%= link_to extend_due_date_documents_path(:person_id => person.id), method: :put do %>
              <br><i class="fa fa-clock-o"></i>&nbsp;+ 30 days
            <% end %>
          </td>
          <td>
            <%= family.active_household.hbx_enrollments.first.review_status %>
          </td>
          <td>
            <%= link_to "Review", show_docs_documents_path(:person_id => person.id, :status => "in review"), class:"btn btn-#{review_button_class(family)} btn-xs"%>
          </td>
          <td class="text-center">
            <%= link_to fed_hub_request_documents_path(:person_id => person.id) do%>
                <i class="fa fa-share-square-o"></i>&nbsp;FedHub
            <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @families, :remote => true %>
