<h2>Families with outstanding verification</h2><br>
<div class="row container">
  <p>
    <i class="fa fa-refresh fa-spin" style="color:green"></i> Review in progress&nbsp&nbsp
    <i class="fa fa-times-circle" style="color:red"></i> No valid documents&nbsp&nbsp
    <i class="fa fa-file"></i> New documents uploaded
  </p>
  <div class="form-inline button-group-wrapper">
    <div class="input-group search-wp">
      <%= render 'shared/search', url: verification_index_exchanges_hbx_profiles_path, q: @q, placeholder: "First/Last Name, SSN", remote: true %>
    </div>
  </div>
</div>
<div class="module ivl-documents-table panel">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-default">
        <tr>
          <th>HBX ID (sortable)</th>
          <th>First name (sortable)</th>
          <th>Last name (sortable)</th>
          <th>Documents</th>
          <th>Due date (sortable) + extend</th>
          <th>Status</th>
          <th>Review</th>
          <th>FedHub + retrigger</th>
        </tr>
      </thead>
      <tbody>
      <% @families.each do |family| %>
      <% person = family.primary_applicant.person %>
          <% if person.has_consumer_role? && person.consumer_role.aasm_state != "fully verified" %>
        <tr class="<%= cycle("odd", "even top") %>">
          <td><%= person.hbx_id %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= documents_count(person) %></td>
          <td>
            <%= due_date(person) %>
            <%= link_to "#" do %>
              <i class="fa fa-clock-o"> extend</i>
            <% end %>
          </td>
          <td>
            <% if person.consumer_role.vlp_documents.where(status:"downloaded").count > 0 %>
                <i class="fa fa-file"></i>
            <% elsif person.consumer_role.vlp_documents.where(status:"verified").count > 0 %>
                <i class="fa fa-refresh fa-spin" style="color:green"></i>
            <% elsif %>
                <i class="fa fa-times-circle" style="color:red"></i>
            <% end %>
          </td>
          <td>
            <%= link_to show_docs_documents_path(:person_id => person.id) do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
          <td>
            <%= link_to "#" do %>
                <i class="fa fa-paper-plane"> FedHub</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
