<!--<div>
  <%= link_to "All", "#", class: "btn btn-default" %>
  <%= link_to "Renewing", "#", class: "btn btn-default" %>
  <%= link_to "Non-Renewing", "#", class: "btn btn-default" %>
</div>-->

<div class="btn-group" data-toggle="buttons" style='max-height: 340px; overflow-y: scroll' id="ERInvoiceFilter-Group">
       <label class="btn btn-default active"><input name="ERInvoiceFilter"  type="radio" autocomplete="off" value="All" checked="">All</label>
       <label class="btn btn-default"><input name="ERInvoiceFilter"  type="radio" autocomplete="off" value="<%= @next_30_day.to_s %>"><%= @next_30_day.to_s %></label>
       <label class="btn btn-default"><input name="ERInvoiceFilter"  type="radio" autocomplete="off" value="<%= @next_60_day.to_s %>"><%= @next_60_day.to_s %></label>
       <label class="btn btn-default"><input name="ERInvoiceFilter"  type="radio" autocomplete="off" value="<%= @next_90_day.to_s %>"><%= @next_90_day.to_s %></label>
</div>
<br><br>
<div class="module">
  <table class="table table-striped" id="ER-invoices-dataTable">
    <thead>
    <tr>
      <th><%= check_box_tag 'employer' %></th>
      <th>FEIN</th>
      <th>Employer Name</th>
      <th>ER State</th>
      <th>Plan Year</th>
      <th>Conversion</th>
      <th>EE Enrolled</th>
      <th>EE Remaining</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#ER-invoices-dataTable').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : false,
      "paging": true,
      "ajax": {
        url: "<%= employer_invoice_dt_exchanges_hbx_profiles_path(:format => :json) %>",
        type: "GET",
        data: function ( d ) {
          console.log($('#ERInvoiceFilter-Group input:radio:checked').val());
          d.criteria = $('#ERInvoiceFilter-Group input:radio:checked').val();
        }
      },
      "columns": [
        { data: 'invoice_id' },
        { data: 'fein' },
        { data: 'legal_name' },
        { data: 'state' },
        { data: 'plan_year' },
        { data: 'is_conversion' },
        { data: 'enrolled' },
        { data: 'remaining' }
    ]
    } );
  });

  $('#ERInvoiceFilter-Group').change(function() {
      var table = $('#ER-invoices-dataTable').dataTable().api();
      table.draw();
  });


</script>
