
<%= form_for 'renewingER', {url: generate_invoice_exchanges_hbx_profiles_path, method: :post, :remote => true} do |f| %>

<select id="ERInvoiceFilter-Dropdown">
<%= options_for_select([
  ['All','All'],
  ['Renewing ' + @next_30_day.to_s, @next_30_day.to_s + ':R'], ['Renewing ' + @next_60_day.to_s, @next_60_day.to_s + ':R'], ['Renewing ' + @next_90_day.to_s, @next_90_day.to_s + ':R'],
  ['Initial ' + @next_30_day.to_s, @next_30_day.to_s + ':I'], ['Initial ' + @next_60_day.to_s, @next_60_day.to_s + ':I'], ['Initial ' + @next_90_day.to_s, @next_90_day.to_s + ':I']
  ]) %>
</select>

<br><br>
<div class="module">
  <table class="table table-striped" id="ER-invoices-dataTable">
    <thead>
    <tr>
      <th colspan="6" class="text-center" style="background-color: #f8f8f8;">Employer</th>
      <th colspan="5" class="text-center" style="background-color: #e8e8e8;">Employee</th>
    </tr>
    <tr>
      <th><%= check_box_tag 'ER-Invoice-check-all' %></th>
      <th>FEIN</th>
      <th>Legal Name</th>
      <th>State</th>
      <th>Plan Year</th>
      <th>Conversion</th>
      <th>Enrolled/Waived</th>
      <th>Remaining</th>
      <th>Eligible</th>
      <th>Particip %</th>
      <th>Invoice Generated</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="pull-right">
      <%= submit_tag "Generate Invoices", class: "btn btn-primary" %>
      <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  // datatables setup
  $(document).ready(function() {
    $('#ER-invoices-dataTable').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : false,
      "paging": true,
      "lengthMenu": [ 10, 25, 50, 100],
      "ajax": {
        url: "<%= employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json) %>",
        type: "POST",
        data: function ( d ) {
          console.log($('#ERInvoiceFilter-Group input:radio:checked').val());
          d.criteria = $('#ERInvoiceFilter-Group option:selected').val();
          d.invoice_date_criteria = $('#ERInvoiceFilter-Dropdown option:selected').val();
        }
      },
      "columns": [
        { data: 'invoice_id' },
        { data: 'fein' },
        { data: 'legal_name' },
        { data: 'state' },
        { data: 'plan_year' },
        { data: 'is_conversion' },
        { data: 'enrolled' },
        { data: 'remaining' },
        { data: 'eligible' },
        { data: 'enrollment_ratio' },
        { data: 'is_current_month_invoice_generated'}
    ]
    } );
  });

  // Trigger datatable redraw on 90 day (30,60,90) filter buttons
  $('#ERInvoiceFilter-Dropdown').change(function() {
      var table = $('#ER-invoices-dataTable').dataTable().api();
      table.draw();
  });

  // Check/Uncheck All Checkboxes
  $('#ER-Invoice-check-all').click(function() {
      var action = $(this).is(':checked') ? true : false;
      var group = $('input[name="employerId[]"]');
      group.each(function () {
        $(this).prop("checked", action);
      });
  });


</script>
