<%= form_for 'renewingER', {url: generate_invoice_exchanges_hbx_profiles_path, method: :post, :remote => true} do |f| %>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <select id="ERInvoiceFilter-Dropdown">
    <%= options_for_select([
      ['All','All'],
      ['Renewing ' + @next_30_day.to_s, @next_30_day.to_s + ':R'], ['Renewing ' + @next_60_day.to_s, @next_60_day.to_s + ':R'], ['Renewing ' + @next_90_day.to_s, @next_90_day.to_s + ':R'],
      ['Initial ' + @next_30_day.to_s, @next_30_day.to_s + ':I'], ['Initial ' + @next_60_day.to_s, @next_60_day.to_s + ':I'], ['Initial ' + @next_90_day.to_s, @next_90_day.to_s + ':I']
      ]) %>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<br><br>
<div class="module">
  <table class="table table-striped" id="ER-invoices-dataTable">
    <thead>
    <tr>
      <th colspan="7" class="text-center" style="background-color: #f8f8f8;">Employer</th>
      <th colspan="4" class="text-center" style="background-color: #e8e8e8;">Employees</th>
    </tr>
    <tr>
      <th><%= check_box_tag 'ER-Invoice-check-all' %></th>
      <th>FEIN</th>
      <th>Legal Name</th>
      <th>Conversion?</th>
      <th>Status</th>
      <th>Eff Date</th>
      <th>Invoiced?</th>
      <th>Enrolled/Waived</th>
      <th>Pending</th>
      <th>Eligible</th>
      <th>Pct</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

  </div>
</div>

<div class="pull-right">
      <%= submit_tag "Generate Invoices", data: { confirm: "Are you sure you want to generate invoices?" }, class: "btn btn-primary" + pundit_class(HbxProfile, :modify_admin_tabs?) %>
      <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  // datatables setup
  $(document).ready(function() {
    $('#ER-invoices-dataTable').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : false,
      "paging": true,
      "lengthMenu": [ 10, 25, 50, 100],
      "ajax": {
        url: "<%= employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json) %>",
        type: "POST",
        data: function ( d ) {
          console.log($('#ERInvoiceFilter-Group input:radio:checked').val());
          d.criteria = $('#ERInvoiceFilter-Group option:selected').val();
          d.invoice_date_criteria = $('#ERInvoiceFilter-Dropdown option:selected').val();
        }
      },
      "columnDefs": [
        { className: "text-right", "targets": [8, 9, 10] },
        { className: "text-center", "targets": [0, 3, 6, 7] }
      ],
      "columns": [
        { data: 'invoice_id' },
        { data: 'fein' },
        { data: 'legal_name' },
        { data: 'is_conversion' },
        { data: 'state' },
        { data: 'plan_year' },
        { data: 'is_current_month_invoice_generated'},
        { data: 'enrolled' },
        { data: 'remaining' },
        { data: 'eligible' },
        { data: 'enrollment_ratio' }
    ]
    } );
  });

  // Trigger datatable redraw on 90 day (30,60,90) filter buttons
  $('#ERInvoiceFilter-Dropdown').change(function() {
      var table = $('#ER-invoices-dataTable').dataTable().api();
      table.draw();
  });

  // Check/Uncheck All Checkboxes
  $('#ER-Invoice-check-all').click(function() {
      var action = $(this).is(':checked') ? true : false;
      var group = $('input[name="employerId[]"]');
      group.each(function () {
        $(this).prop("checked", action);
      });
  });


</script>
