<style>
  .custom_filter{
    margin-left: 15em;
    margin-top: -30px;
    position: absolute;
    z-index: 999;
  }
  #upload{
    position: absolute;
    margin-left: 75em;
  }
  .attestation_form{
    text-align: left !important;
  }
</style>


<div class="container" id="extendable_applications_table">
  <div class = "table-responsive table-override">
  <h4 class="text-center heading-text"> Extend Open Enrollment </h4>

  <table class = "table" style="table-layout: fixed;">
    <thead>
      <tr>
       <th>Application Type</th>
       <th>Application Effective On</th>
       <th>Application Status</th>
       <th>Submitted At</th>
       <th>Last Updated At</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <% @benefit_applications.each do |application| %>
        <tr>
          <td><%= application.predecessor.present? ? "Renewal" : "Initial" %></td>
          <td><%= application.effective_period.min.strftime('%m/%d/%Y') %></td>
          <td><%= application.aasm_state.to_s.camelcase %></td>
          <td><%= TimeKeeper.local_time(application.created_at).strftime('%m/%d/%Y %I:%M%p') %></td>
          <td><%= TimeKeeper.local_time(application.updated_at).strftime('%m/%d/%Y %I:%M%p') %></td>
          <td>
            <%= link_to 'Edit Open Enrollment', main_app.edit_open_enrollment_exchanges_hbx_profiles_path(id: application.id, sponsorship_id: @benefit_sponsorship.id), :remote => true, :role => 'button', :class => "btn btn-primary btn-sm" %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="edit_open_enrollment_form"></div>
</div>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
  jQuery('.buttons-csv').hide()
  jQuery('.buttons-excel').hide()
  function printDoc(id){
    var window_obj=window.open();
    window_obj.document.write($('#print_'+id).html());
    window_obj.print();
    window_obj.close();
  }
</script>