<script type="text/javascript">
    jQuery('[id^="terminate_hbx_"]:checked').closest('tr').find("input[type=checkbox]").prop('disabled', false);
    jQuery('[id^="terminate_hbx_"]:checked').closest('tr').find("input[type=text]").prop('disabled', false);
    jQuery('[id^="terminate_hbx_"]').click(function($) {
        jQuery('[id^="terminate_hbx_"]').each(function($) {
            if (this.checked) {
                jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[0]).prop('disabled', false);
                jQuery(jQuery(this).closest('tr').find('[type=text]')[0]).prop('disabled', false);
            }else{
                jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[0]).prop('disabled', true);
                jQuery(jQuery(this).closest('tr').find('[type=checkbox]')[0]).prop('checked', false);
                jQuery(jQuery(this).closest('tr').find('[type=text]')[0]).prop('disabled', true);
            }
        });
    });

    var TerminateWithEarlierDate = function () {
        $('#termiante_with_earlier_date').modal('show');
        jQuery('[id^="terminate_hbx_"]').each(function($) {
            if (this.checked) {

                var dup_enr_ids = <%= raw @dup_enr_ids %>;
                var input_id = this.value;
                var output = dup_enr_ids.includes(input_id);
                var new_term_date = jQuery(this).closest('tr').find("input[name=new_termination_date]")[0].value
                var enrollment_effective = jQuery(this).closest('tr').find("td#enrollment_effective_on").html();
                if(new_term_date == enrollment_effective && !output){
                    jQuery('#cancel_message').show();
                    jQuery('#termination_message').hide();
                    jQuery('#no_termination_message').show();
                    jQuery(".btn-confirmation").show();
                }
                else if(new_term_date !== enrollment_effective && output ){
                  jQuery('#cancel_message').hide();
                  jQuery('#termination_message').hide();
                  jQuery('#no_termination_message').show();
                  jQuery(".btn-confirmation").hide();
                }
                else{
                    jQuery('#cancel_message').hide();
                    jQuery('#termination_message').show();
                    jQuery('#no_termination_message').hide();
                    jQuery(".btn-confirmation").show();
                }
            }
        });
    }

    function confirmUpdateEndDate(event){
      $(".btn-confirmation").prop('disabled', true);

      event.preventDefault();
      event.stopImmediatePropagation();

      $('.modal-backdrop').removeClass('modal-backdrop');
      $('.modal-open').removeClass('modal-open');

      var formData = new FormData($('#termiante_with_earlier_date-form')[0]);

      $.ajax({
        url: '/exchanges/hbx_profiles/update_enrollment_terminated_on_date.js',
        type: "POST",
        data : formData,
        contentType: false,
        processData: false,
      });
    }
</script>

<td colspan="90%">
  <%if @enrollments.present?%>
      <%= form_tag update_enrollment_terminated_on_date_exchanges_hbx_profiles_path, :method => :post, remote: true, id: 'termiante_with_earlier_date-form' do %>
          <h3 class='title'>Terminated Enrollment To Update End Date</h3>
          <br />
          <table  class="table table-striped">
            <tr>
              <th></th>
              <th>HBX ID</th>
              <th>Plan</th>
              <th>Effective Date</th>
              <th>End Date</th>
              <th>New End Date</th>
              <th>Transmit to Carrier ?</th>
            </tr>
            <% @enrollments.each_with_index do |hbx, index| %>
                <tr>
                  <td> <%= radio_button_tag("enrollment_id", hbx.id, (index.zero? ? true : false), id:"terminate_hbx_#{hbx.id}") %> </td>
                  <td><%= hbx.hbx_id %></td>
                  <td><%= hbx.product.name %></td>
                  <td id="enrollment_effective_on"><%= hbx.effective_on %></td>
                  <% term_or_expire_date = hbx.fetch_term_or_expiration_date %>
                  <td><%= term_or_expire_date %></td>
                  <% if hbx.prior_plan_year_coverage? || hbx.active_plan_year_coverage? %>
                    <% max_date = hbx.is_shop? ? hbx.sponsored_benefit_package.end_on : hbx.effective_on.end_of_year %>
                    <td><%= text_field_tag "new_termination_date", nil, readonly: true, disabled: true, value:  term_or_expire_date, id: "termination-date-picker_#{hbx.id}", class: "form-control date-field date-picker", "data-date-min" =>  hbx.effective_on, "data-date-max" => max_date  %></td>
                  <% else %>
                    <td><%= text_field_tag "new_termination_date", nil, readonly: true, disabled: true, value:  term_or_expire_date, id: "termination-date-picker_#{hbx.id}", class: "form-control date-field date-picker", "data-date-min" =>  hbx.effective_on, "data-date-max" =>  hbx.terminated_on %></td>
                  <% end %>
                  <td><%= check_box_tag "edi_required", hbx.id, false,  disabled: true%></td>
                </tr>
            <% end %>
            <tr><td colspan = "7"><br /></td></tr>
            <tr>
              <td colspan = "6">
                <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();">Cancel</span>&nbsp;&nbsp;&nbsp;
                <%= hidden_field_tag :family_actions_id, params[:family_actions_id] %>
                <button class='btn btn-primary', type="button", onclick = "TerminateWithEarlierDate()" > Submit </button>
              </td>
            </tr>
          </table>
      <% end %>
  <%else%>
      <h4 class='title'>No Enrollments to terminate</h4>
  <%end%>

  <div class="modal fade" id="termiante_with_earlier_date" tabindex="-1" role="dialog" aria-labelledby="RetermConfirm" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" style="font-size: 15px;">
            <p class="bg-warning"></p>
            <div id="termination_message">
              <div>
                <h4 class="modal-title" style="display:inline;">&nbsp;&nbsp;
                  You are about to update the enrollment end date on behalf of
                </h4>
                <p style="font-size:15px;font-weight: bolder;">&nbsp;&nbsp;
                  <%= @person.full_name %>
                </p>
              </div>
            </div>
            <div id="no_termination_message">
              <div>
                <h4 class="modal-title" style="display:inline;">&nbsp;&nbsp;
                  You cannot update the enrollment end date
                </h4>
              </div>
            </div>
            <div id="cancel_message">
              <div>
                <h4 class="modal-title" style="display:inline;">&nbsp;&nbsp;
                  You are about to cancel the enrollment on behalf of
                </h4>
                <p style="display:inline;font-size:15px;font-weight: bolder;">
                  <%= @person.full_name %>
                </p>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-confirmation" onclick='confirmUpdateEndDate(event); return false;'>Confirm</button>
        </div>
      </div>
    </div>
  </div>
</td>

<style>.date-picker { width:90px !important;font-size: 12px;} </style>
