<%= render "ui-components/v1/navs/primary_nav" %>
<p id="notice"><%= show_table_notice(notice) %></p>
<div class="container">
  <h1 class="<%= @bs4 ? '' : 'heading-text' %>"><%= l10n('broker_agencies.profiles.broker_agencies') %></h1>

  <%= raw render_datatable(@datatable) %>
</div>

<script>
  initializeDataTables();
</script>
