  <table class="table">

      <% if @broker_agency_profiles.present? %>
        <thead>
          <th>Legal Name</th>
          <th>dba</th>
          <th>Fein</th>
          <th>Entity Kind</th>
          <th>Market Kind</th>
          <th></th>
        </thead>
        <% @broker_agency_profiles.each do |broker_agency_profile_org| %>
         <% if broker_agency_profile_org.broker_agency_profile.present? %>

          <tbody>
            <td><%= link_to broker_agency_profile_org.legal_name, broker_agencies_profile_path(broker_agency_profile_org.broker_agency_profile) %></td>
            <td><%= broker_agency_profile_org.dba %></td>
            <td><%= broker_agency_profile_org.fein %></td>
            <td><%= broker_agency_profile_org.broker_agency_profile.entity_kind.titleize if broker_agency_profile_org.broker_agency_profile.present? %></td>
            <td><%= broker_agency_profile_org.broker_agency_profile.market_kind.titleize if broker_agency_profile_org.broker_agency_profile.present? %></td>
            <td>

              <%= link_to 'Send Secure Message'.html_safe,
              new_broker_agencies_inbox_path(id: broker_agency_profile_org.broker_agency_profile.id, profile_id: ''), class: "btn btn-default" + pundit_class(HbxProfile, :modify_admin_tabs?), remote: true %>
              
            </td>
          </tbody>
        <% end %>
        <% end %>
      <% else %>
        <tr><td>No Broker Agency Profiles found.</td></tr>
      <% end %>
  </table>