<%= render "ui-components/v1/navs/primary_nav" %>
<% if @bs4 %>
  <h1>Configuration</h1>
  <%= link_to 'Announcements', exchanges_announcements_path, {class: 'btn btn-default my-3'} %>
  <% if aca_security_questions %>
    <%= link_to 'Security Questions', exchanges_security_questions_path, {class: 'btn btn-default my-3'} %>
  <% end %>
  <section class="card w-100 my-3">
    <%= form_for @time_keeper, url: set_date_exchanges_hbx_profiles_path, method: "post", class: "form" do |f| %>
      <h2><%= l10n("admin_actions.time_travel.title") %></h2>
      <span><%= l10n("admin_actions.time_travel.info") %></span>
      <div class="d-flex my-3 justify-content-start <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
        <div class="mr-4 ml-0 col-sm col-md-6 col-lg-3 p-0">
          <%= label_tag :current_date, "Current Date" %>
          <%= date_field_tag :current_date, @time_keeper.date_of_record.strftime('%Y-%m-%d'), {disabled: true, class: "w-100"} %>
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <%= f.label :date_of_record, "New Date" %>
          <%= f.date_field :date_of_record, {placeholder: "MM/DD/YYYY", class: "w-100"} %>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" <%= policy_helper(HbxProfile).can_submit_time_travel_request? ? "" : "disabled" %>>
        Set Date
      </button>
    <% end %>
  </section>
  <% if EnrollRegistry.feature_enabled?(:time_jump) %>
    <section class="card w-100 my-3">
      <%= form_for @time_keeper, url: hop_to_date_exchanges_time_keeper_path, method: "post", class: "form" do |f| %>
        <h2><%= l10n("admin_actions.time_jump.title") %></h2>
        <span><%= l10n("admin_actions.time_jump.info") %></span>
        <div class="d-flex my-3 justify-content-start <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
          <div class="mr-4 ml-0 col-sm col-md-6 col-lg-3 p-0">
            <%= label_tag :tj_current_date, "Current Date" %>
            <%= date_field_tag :tj_current_date, @time_keeper.date_of_record.strftime('%Y-%m-%d'), {disabled: true, class: "w-100"} %>
          </div>
          <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
            <%= f.label :date_of_record, "New Date", for: "set_date_date_of_record" %>
            <%= f.date_field :date_of_record, {placeholder: "MM/DD/YYYY", class: "w-100", id: "set_date_date_of_record"} %>
          </div>
        </div>
        <button type="button" class="btn btn-primary" <%= policy_helper(HbxProfile).can_submit_time_travel_request? ? "" : "disabled" %> data-toggle="modal" data-target="#setDateModal" <%= policy_helper(HbxProfile).can_submit_time_travel_request? ? "" : "disabled" %>>
          Set Date
        </button>
        <!-- Modal Popup -->
        <div class="modal" id="setDateModal" tabindex="-1" role="dialog" aria-labelledby="setDateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="setDateModalLabel"><%= l10n("admin_actions.time_jump.title") %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><%= l10n("admin_actions.time_jump.are_you_sure") %> <span id="selectedDate"></span>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary outline" data-dismiss="modal"><%= l10n("admin_actions.time_jump.cancel") %></button>
                <%= f.hidden_field :date_of_record, id: 'hiddenDateField' %>
                <%= f.submit l10n("admin_actions.time_jump.confirm"), class: 'btn btn-primary', id: 'confirmSetDate' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
  <% unless EnrollRegistry.feature_enabled?(:special_enrollment_period) %>
    <section class="card w-100 my-3">
      <%= form_for Setting.get_individual_market_monthly_enrollment_due_on, {url: update_setting_exchanges_hbx_profiles_path, method: :post} do |f| %>
        <h2>Individual Market Monthly Enrollment Due On</h2>
        <div class="d-flex my-3 justify-content-start <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
          <div class="mr-4 ml-0 col-sm col-md-6 col-lg-3 p-0">
            <%= f.hidden_field :name %>
            <%= label_tag :current_day, "Current Day" %>
            <%= number_field_tag :current_day, Setting.individual_market_monthly_enrollment_due_on, {placeholder: "00", disabled: true, class: "w-100"} %>
          </div>
          <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
            <%= f.label :value, "New Date", class: "required" %>
            <%= f.number_field :value, {required: true, min: 1, max: 31, step: 1} %>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          Set Day
        </button>
      <% end %>
    </section>
  <% end %>
<% else %>
  <div class="container">
    <div class="bottom-pd">
      <h1 class="heading-text">Configuration</h1>
      <div class="input-no-pd">
        <%= link_to 'Announcements', exchanges_announcements_path, {class: 'btn btn-default'} %>
        <% if aca_security_questions %>
          <%= link_to 'Security Questions', exchanges_security_questions_path, {class: 'btn btn-default'} %>
        <% end %>

        <%= form_for @time_keeper, url: set_date_exchanges_hbx_profiles_path, method: "post", class: "form" do |f| %>
          <h4 class="d-inline-block border border-dark">
            <strong><%= l10n("admin_actions.time_travel.title") %></strong>
          </h4>
          <span><%= l10n("admin_actions.time_travel.info") %></span>
          <table class="table table-border <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
            <tbody>
              <tr>
                <td width="50%" style="padding: 18px; font-weight: bold;">
                  Current Date: <%= @time_keeper.date_of_record %>
                </td>
                <td class="col-md-2">
                  <%= datepicker_control f, :date_of_record, { class: "form-control", placeholder: "DATE OF RECORD", :'data-date-min' => "0d", required: true, id: "set_date_date_of_record" } %>
                </td>
                <td class="col-md-4">
                  <button type="button" id='submit' class="btn btn-primary" data-toggle="modal" data-target="#setDateModal" <%= policy_helper(HbxProfile).can_submit_time_travel_request? ? "" : "disabled" %>>
                    Set Current Date
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <% if EnrollRegistry.feature_enabled?(:time_jump) %>
          <%= form_for @time_keeper, url: hop_to_date_exchanges_time_keeper_path, method: "post", class: "form" do |f| %>
            <h4 class="d-inline-block border border-dark">
              <strong><%= l10n("admin_actions.time_jump.title") %></strong>
            </h4>
            <span><%= l10n("admin_actions.time_jump.info") %></span>
            <table class="table table-border <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
              <tbody>
                <tr>
                  <td width="50%" style="padding: 18px; font-weight: bold;">
                    <%= l10n("admin_actions.time_jump.current_date") %>: <%= @time_keeper.date_of_record %>
                  </td>
                  <td class="col-md-2">
                    <%= datepicker_control f, :date_of_record, { class: "form-control", placeholder: "DATE OF RECORD", :'data-date-min' => "0d", required: true, id: "hop_to_date_date_of_record" } %>
                  </td>
                  <td class="col-md-4">
                    <button type="button" id='submit' class="btn btn-primary pull-right" data-toggle="modal" data-target="#setDateModal" <%= policy_helper(HbxProfile).can_submit_time_travel_request? ? "" : "disabled" %>>
                      <%= l10n("admin_actions.time_jump.select") %>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Modal Popup -->
            <div class="modal fade" id="setDateModal" tabindex="-1" role="dialog" aria-labelledby="setDateModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="setDateModalLabel"><%= l10n("admin_actions.time_jump.title") %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><%= l10n("admin_actions.time_jump.are_you_sure") %> <span id="selectedDate"></span>?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal"><%= l10n("admin_actions.time_jump.cancel") %></button>
                    <%= f.hidden_field :date_of_record, id: 'hiddenDateField' %>
                    <%= f.submit l10n("admin_actions.time_jump.confirm"), class: 'btn btn-primary', id: 'confirmSetDate' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= form_for Setting.get_individual_market_monthly_enrollment_due_on, {url: update_setting_exchanges_hbx_profiles_path, method: :post, class: 'form mb-3'} do |f| %>
            <h4 class="d-inline-block border border-dark">
              <strong> Individual Market Monthly Enrollment Due On</strong>
            </h4>
            <table class="table table-border <%= pundit_class HbxProfile, :modify_admin_tabs? %>">
              <tbody>
                <tr>
                  <td width="50%" style="padding: 18px; font-weight: bold;">
                    individual_market_monthly_enrollment_due_on: <%= Setting.individual_market_monthly_enrollment_due_on %>
                  </td>
                  <td>
                    <%= f.hidden_field :name %>
                    <%= f.number_field :value, {class: 'form-control', required: true, min: 1, max: 31, step: 1} %>
                    <button type="submit" class="btn btn-primary pull-right display-on-mobile">Update</button>
                  </td>
                  <td class="hide-on-mobile">
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                  </td>
                </tr>
              </tbody>
            </table>

        <% end %>
      </div>
    </div>
  </div>

  <script>
    (function() {
      applyJQDatePickers();
    })();
  </script>
<% end %>
