




<div class="container"  >
  <div id ='custom-sep-container' >
  <%= form_for @qle, remote: true, url: custom_sep_exchanges_hbx_profiles_path , method: "post", class: "form" do |f| %>
    <table class="table table-border" id ='custom-sep-container' >
      <thead>
        <th>Custom Qualifying Life Event</th>
      </thead>
      <tbody>
        <tr>
          <td>
           <span> <%= f.text_field :title, class: "form-control-custom-qle", placeholder: 'Title', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
           <span> <%= f.text_field :event_kind_label, class: "form-control-custom-qle", placeholder: 'Event Kind Label', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
           <span> <%= f.text_field :tool_tip, class: "form-control-custom-qle", placeholder: 'Tool tip text', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span> <%= f.text_field :reason, class: " form-control-custom-qle", placeholder: 'Reason', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
            <p><%= label_tag "Visibility" %><p>
              <% ["User Self Service", "Admin Only"].each do |c| %>
             <p> <%=label_tag "#{c}"%>
              <%= check_box_tag "qle[visibility]", "#{c}"%></p>
              <% end %>
          </td>
        </tr>
        <tr>
         <th>
            <%= link_to "Create QLE Questions", nil, onclick: "build_attestation_flow();", class:"" %>
          </th>
            <tr class = 'build_attestation_flow'>
        </tr>
        </tr>
        <tr>
          <td >
           <span> <%= f.text_field :start_on, class: " form-control-custom-qle uidatepicker", placeholder: 'Effective From', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
           <span> <%= f.text_field :end_on, class: " form-control-custom-qle uidatepicker ", placeholder: 'Effective Until', autocomplete: :off %></span>
          </td>
        </tr>
        <tr>
          <td>
           <span> <%= f.select :is_self_attested, ['Is Self Attested', 'yes', 'no'], class: " form-control-custom-qle  ", placeholder: 'Self Attested' %></span>
          </td>
          </tr>
          <tr>
          </tr>
        </tr>
  
      </tbody>
    </table>
    <div class="row no-buffer child-row">
      <div class="col-md-12 no-pd col-sm-12 col-xs-12">
        <%= f.submit "Submit", :class => "btn btn-primary create_eligibility", id: 'create_eligibility', :size => '100px'%>
      </div>
    </div>
  <% end %>
     
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$(".uidatepicker").datepicker({maxDate: "-1D", changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy',  yearRange: (new Date).getFullYear()-110 + ":" + (new Date).getFullYear()});
 function build_attestation_flow() {
     event.preventDefault();
   $(".build_attestation_flow").html("<%= escape_javascript render "exchanges/hbx_profiles/build_attestation_flow" %>").toggle()
 }

</script>

