<div class="<%= 'container px-0' unless @bs4 %>">
<h1><%= l10n("admin_actions.dry_run.applications.title") %></h1>
<section class="my-3">
  <h2><%= l10n("admin_actions.dry_run.renewal_benefit_coverage_values") %></h2>
  <table>
    <thead>
      <tr>
        <th><%= l10n("admin_actions.dry_run.category") %></th>
        <th class="w-100px"><%= l10n("admin_actions.dry_run.value") %></th>
      </tr>
    </thead>
    <tbody>
      <% benefit_coverage_values.each do |category, value| %>
        <tr>
          <td><%= category.humanize %></td>
          <td><%= value.nil? ? '-' : value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="my-3">
  <h2><%= l10n("admin_actions.dry_run.application_renewal_status") %></h2>
  <dl class="parent">
    <dt><%= l10n('admin_actions.dry_run.eligible_families', year: benefit_coverage_values["renewal benefit start date"]&.year) %></dt>
    <dd><%= eligible_families.present? ? eligible_families["families_eligible_for_application_renewal"] : l10n("admin_actions.dry_run.errored") %></dd>
  </dl>
  <table>
    <thead>
      <tr>
        <th><%= l10n("admin_actions.dry_run.status") %></th>
        <% application_states.keys.each do |year| %>
          <th class="w-100px"><%= year %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% statuses = ::Operations::HbxAdmin::DryRun::Individual::Analyzer::APPLICATION_STATES %>
      <% statuses.each do |status| %>
        <tr>
          <td><%= status.humanize %></td>
          <% application_states.each do |year, status_counts| %>
            <td><%= status_counts[status] || 0 %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="my-3">
  <h2><%= l10n("admin_actions.dry_run.oe_determined_notices") %></h2>
  <p>
    <strong><%= l10n("admin_actions.dry_run.notices.note") %></strong>
    <%= l10n("admin_actions.dry_run.notices.note_info") %>
  </p>
  <table>
    <thead>
      <tr>
        <th><%= l10n("admin_actions.dry_run.notice") %></th>
        <th class="w-100px"><%= l10n("admin_actions.dry_run.count") %></th>
      </tr>
    </thead>
    <tbody>
      <% oe_determined_notices.each do |notice, value| %>
        <tr>
          <td><%= notice.upcase %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="my-3">
  <h2><%= l10n('admin_actions.dry_run.enrollments.enrollment_states') %></h2>
  <table>
    <thead>
      <tr>
        <th><%= l10n('admin_actions.dry_run.enrollments.type') %></th>
        <th><%= l10n('admin_actions.dry_run.enrollments.category') %></th>
        <th><%= l10n('admin_actions.dry_run.enrollments.auto_renewing') %></th>
        <th><%= l10n('admin_actions.dry_run.enrollments.coverage_selected') %></th>
        <th class="w-256px"><%= l10n('admin_actions.dry_run.enrollments.renewing_coverage_selected') %></th>
      </tr>
    </thead>
    <tbody>
      <% enrollment_states.each do |type, categories| %>
        <% if type == 'health' %>
          <% categories.each do |category, values| %>
            <tr>
              <td><%= type.capitalize %></td>
              <td><%= category.split('_').map(&:capitalize).join(' ') %></td>
              <% values.each_value do |value| %>
                <td><%= value%></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td><%= type.capitalize %></td>
            <td>Dental</td>
              <% categories.each_value do |value| %>
                <td><%= value%></td>
              <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
</div>
