<p id="notice">
  <%= flash[:notice] %>
    
</p>

<div class='container'>
  <h1> Families </h1>
  <%#= link_to 'Switch to APTC / CSR Families', aptc_csr_family_index_exchanges_hbx_profiles_path, remote: true%>
</div>

<div class="container">
<div class="row">
  <div class='col-md-12'>
    <%= form_tag(request.url, :method => "get", id: "form-inline") do %>
      <% select_param_fields_and_values = {
        market_type: [
            ['All Market Types', 'all_with_hbx_enrollments'],
            ['SHOP', 'by_enrollment_shop_market'],
            ['IVL', 'by_enrollment_individual_market'],
            ['COBRA', 'by_enrollment_cobra']
        ],
        active_status: [
            ['All Active/Inactive', 'by_enrollment_active_inactive'],
            ['Active', 'by_enrollment_active'],
            ['Inactive', 'by_enrollment_inactive']
        ],
        coverage_type: [
            ['All Coverage Types', 'medical_and_dental'],
            ['Medical', 'medical'],
            ['Dental', 'dental'],
        ],
        plan_year: ((TimeKeeper.date_of_record - 3.years).year..(TimeKeeper.date_of_record.year)).to_a.map { |year| [year.to_s, year.to_s] }.insert(0, ['All Plan Years', nil])
        } %>
        <% select_param_fields_and_values.each do |select_field, select_values| %>
          <%= select_tag(select_field, options_for_select(select_values), class: '') %>
        <% end %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>
<table class="effective-datatable table table-bordered table-striped dataTable no-footer">
  <thead>
    <tr role='family'>
      <% family_index_column_names = %w[Name SSN DOB HBX\ ID Count Active\ Enrollments? Registered? Consumer? Employee? Actions] %>
      <% family_index_column_names.each do |column_name| %>
        <% if column_name == 'Name' %>
          <th class='col-string col-name sorting_asc' familyspan='1' colspan='1' aria-label='name'>
            <%= column_name %>    
          </th>
        <% else %>
          <th class='col-string col-name'>
            <%= column_name %> 
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td>
          <%= link_to family.primary_applicant.person.full_name, resume_enrollment_exchanges_agents_path(person_id: family.primary_applicant.person.id)%>
        </td>
        <td>
          <%= truncate(number_to_obscured_ssn(family.primary_applicant.person.ssn)) %>
        </td>
        <td>
          <%= format_date(family.primary_applicant.person.dob) %>
        </td>
        <td>
          <%= family.primary_applicant.person.hbx_id %>
        </td>
        <td>
          <%= family.active_family_members.size %>
        </td>
        <td>
          <%= family.active_household.hbx_enrollments.active.enrolled_and_renewing.present? ? "Yes" : "No" %>
        </td>
        <td>
          <%= family.primary_applicant.person.user.present? ? "Yes" : "No" %>
        </td>
        <td>
          <%= family.primary_applicant.person.is_consumer_role_active?  ? "Yes" : "No" %>
        </td>
        <td>
          <%= family.primary_applicant.person.active_employee_roles.present?  ? "Yes" : "No" %>
        </td>
        <td>
          <btn class='btn btn-default dropdown-toggle'>Actions</btn>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="container">
  <div class="col-sm-12 col-md-12">
    <div class="family">
      <p> After working on an enrollment return to this page via the person icon in the header </p>
    </div>
  </div>
</div>