<p id="notice"><%= notice %></p>

<h1>Listing Exchanges Hbx Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hbx_profiles.each do |hbx_profile| %>
      <tr>
        <td><%= link_to hbx_profile.legal_name, exchanges_hbx_profile_path(hbx_profile) %></td>
        <td><%= link_to 'Edit', edit_exchanges_hbx_profile_path(hbx_profile) %></td>
        <td><%= link_to 'Destroy', exchanges_hbx_profile_path(hbx_profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hbx profile', new_exchanges_hbx_profile_path %>
