<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>

<div class="container">
  <div class="col-sm-12 col-md-12">
  <%=pundit_span Family, :updateable? %>
    <div class="row">
         <ul class='col-xs-12 col-md-5 col-lg-5'> 
          <li> <%=link_to 'New Consumer Phone Application', begin_consumer_enrollment_exchanges_agents_path(
          original_application_type: 'phone')  %> <br/></li>

          <li> <%=link_to 'New Consumer Paper Application', begin_consumer_enrollment_exchanges_agents_path(
          original_application_type: 'paper')  %> </li>
         </ul>
    </span> 
    </div>

    <div class="row">
      <p> After working on an enrollment return to this page via the person icon in the header </p>
    </div>

  </div>
</div>