<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<br>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3><%= notice.subject %> <!-- Employee Plan Selection Confirmation --></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td> Dear <%= notice.primary_fullname %>, </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Congratulations!  You successfully selected #{notice.plan.plan_name}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Your employer, #{notice.employer_name} will need to complete additional steps before your enrollment can be finalized.  If your employer successfully completes the final steps in this enrollment process and meets all eligibility requirements, your coverage will go into effect on #{notice.plan_year.start_on}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Please note that if your coverage goes into effect on #{notice.plan_year.start_on}, your monthly premium contribution will be #{notice.enrollment.employee_cost}.  Your employer, #{notice.employer_name}, will contribute #{notice.enrollment.responsible_amount} towards your monthly premium." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If your employer is unable to meet all eligibility requirement and your coverage cannot go into effect, you will receive a notice informing you of next steps." }%>

 <%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { contents: ["Please contact the #{Settings.site.short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %> 
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                    ["By calling #{Settings.contact_center.phone_number}.","TTY: #{Settings.contact_center.tty_number}","By email: <a href='#{Settings.contact_center.small_business_email}'>#{Settings.contact_center.small_business_email}</a>." ] } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "You can also find more information on our website at MAhealthconnector.org." }%>  
