<!-- This notice goes to all the employees enrolled in the previous year and do not have an auto-renewal plan option available -->

<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.primary_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Enroll Now: Your Health Plan Open Enrollment Period has Begun</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Good News! #{notice.employer_name} has chosen to renew the offer of health insurance coverage to its employees through #{Settings.site.short_name} and will contribute to your monthly premium to make the cost of coverage more affordable. <br>For a walkthrough of your options, you can follow this <a href='https://dchealthlink.com/sites/default/files/v2/forms/employee_renewal_open_enrollment_guide.pdf'>Open Enrollment Guide</a>."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<strong>Your Current Plan is No Longer Available</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "#{notice.plan.plan_name} is no longer be available to you beginning #{notice.plan_year.start_on}. You must select another plan by #{notice.plan_year.open_enrollment_end_on} in order to continue coverage effective #{notice.plan_year.start_on}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<strong>IMPORTANT: You MUST Select a New Plan to Continue Coverage into Upcoming Plan Year</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you do not make a new plan selection by #{notice.plan_year.open_enrollment_end_on}, your current coverage will be terminated on #{(notice.plan_year.start_on - 1.day).strftime("%m/%d/%Y")} and you will not have coverage for the upcoming plan year beginning on #{notice.plan_year.start_on}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you would like to change the dependents you cover on your plan, if available from your employer, you can simply check or uncheck what dependents you cover on the “Choose Coverage for your Household” page. If you need to add dependents to your accounts you can do so under the “Manage Family” tab."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<strong>What is Open Enrollment?</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Open enrollment is your annual opportunity to enroll in health plans offered by your employer or make changes to your current plan selection. Outside of this annual open enrollment period, you will only be allowed to make changes to your enrollment if you experience certain life events such as marriage, birth, or adoption."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<strong>To See Plan Options and Enroll:</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Please log-in to your existing account on <a href='www.DCHealthLink.com'>#{Settings.site.website_name}</a> to view your plan options and complete the enrollment process."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Contact your employer or your broker for further assistance."} %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Contact your employer further assistance."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{Settings.site.short_name} with any questions:"} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                   ["By calling #{notice.hbe.phone}."] } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.725(f)"} %>