<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font">Dear <%=notice.primary_fullname%></td>
    </tr>
  </tbody>
</table>
