<%= render partial: 'notices/shared/logo' %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Eligible to Apply for Employer-sponsored Health Insurance</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Congratulations! You successfully linked your #{Settings.site.short_name} account to your employer, <Legal Name>. You may be eligible to enroll in employer-sponsored health insurance at this time."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you have not already done so, you can complete the application process through your <a href='#{Settings.site.website_name}'>#{Settings.site.website_name}</a> employee account. For assistance with this process, <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employees-How-to-Enroll-in-a-Plan-through-DC-Health-Link.pdf'>this guide</a> includes step-by-step instructions for applying to enroll in the health plan(s) offered to you by your employer."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<i>Note:</i> If you have other insurance coverage and do not wish to apply to enroll into the plan(s) offered to you by <Employer Name> during your enrollment period, you must still apply to “waive” coverage during your enrollment period. Instructions for how to waive coverage are included in <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employees-How-to-Enroll-in-a-Plan-through-DC-Health-Link.pdf/'>this walkthrough guide.</a>"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Please contact your employer or your broker for further assistance."} %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Contact your employer further assistance."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{Settings.site.short_name} with any questions:"} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                   ["By calling #{notice.hbe.phone}.",
                                                                    "TTY: #{Settings.contact_center.tty}",
                                                                    "Online at <a href='#{Settings.site.website_name}''>#{Settings.site.website_name}</a>"] } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 CFR 155.715(f)."} %>