<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>

<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Congratulations! You successfully linked your Massachusetts #{site_short_name} account to your employer, #{notice.employer_name}. You may be eligible to enroll in employer-sponsored health insurance at this time." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you have not already done so, you can complete the application process through your <a href= '#{site_main_web_address_url}'>#{site_website_name}</a> employee account.  You can find step-by-step instructions for applying to enroll in the health plan(s) offered to you by your employer in our <strong>Employee guide to enrolling</strong>, which you can find in our online #{link_to_site_business_resource_center}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "<i>Note:</i> If you have other insurance coverage and do not wish to apply to enroll into the plan(s) offered to you by #{notice.employer_full_name} during your enrollment period, you must still apply to “waive” coverage during your enrollment period. You can find instructions for how to waive coverage in our <strong>Employee guide to waiving coverage</strong>, also available in the #{link_to_site_business_resource_center}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: '', col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Please contact your broker for further assistance. You can also contact the #{site_short_name} with any questions:"} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                   ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
                                                                    "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"] }, col_styles: ['0px'] %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% end %>
<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 CFR 155.715(f)."} %>