<%= render partial: 'notices/shared/cover', :locals => {notice: notice}%>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/address', :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td> Dear <%= notice.primary_fullname %>,  </td>
  </tr>
  </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "This notice confirms your election to waive your right to enroll in employer-sponsored insurance with #{notice.employer_name}. Beginning on #{notice.enrollment.waived_on.to_date}, you will not have insurance with #{notice.employer_name}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you experience a qualifying event at a later date, you may be eligible to apply for a special enrollment period (SEP) and enroll in employer-sponsored health insurance outside of open enrollment. Please visit the #{link_to_site_business_resource_center} for additional resources and assistance on reporting qualifying events."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'For Questions or Assistance:',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Please contact the #{site_short_name} with any questions:",
    listings: ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
               "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"]}%>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href= '#{site_main_web_address_url}'>#{site_main_web_address}</a> "}%>
<br><br>
<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This notice is being provided in accordance with 45 CFR 155.705(b)(4)."} %>
