<%= render partial: "notices/shared/cover", :locals => {notice: notice} %>
<%= render partial: "notices/shared/logo" %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: "notices/shared/date", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>Dear <%= notice.first_name%> <%= notice.last_name%>, </td>
  </tr>
  </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "Based on the information you provided on #{notice.sep.qle_on}, you and any eligible dependents were determined eligible for a special enrollment period based on your qualifying event, #{notice.sep.title}.
                <br> <br> If you have not already done so, you and any eligible dependents can now enroll in an employer-sponsored health insurance plan through the Health Connector with <strong> #{notice.employer_name} </strong>.
                If you are already enrolled in employer-sponsored health insurance through the Health Connector, you are now eligible to make changes to your insurance plan. If you are already enrolled in a Health Connector plan and do not make any changes, your current plan enrollment will continue. <br> <br>
                <strong> You must make changes to your plan before #{notice.sep.end_on}. The day the coverage changes take effect depends on the qualifying event you experienced.</strong> In most cases, the changes will take effect on the first day of the month after you experienced a qualifying event.
                In cases of birth, adoption, placement for adoption, and placement of a foster child, you are eligible to select an effective date on the date of the event.
                <br> <br> <strong> Selecting an Employer-sponsored Insurance Plan </strong> <br> "} %>

<%= render partial: "notices/shared/unordered_list", :locals => {
      previous: "To select your new insurance plan, login to your online account and click on the life event you experienced in the “Have Life Changes?”
                 menu on the right side of your account. For step-by-step instructions for how to enroll through your SEP, please see the walkthrough guides below, which are available for download in our online <strong> #{link_to_site_business_resource_center}.</strong>",
      listings: ["Employee Qualifying Life Events Guide - Removing a Dependent",
                 "Employee Qualifying Life Events Guide - Enrolling in a New Plan",
                 "Employee Qualifying Life Events Guide  - Adding a Dependent",
                 "Employee Qualifying Life Events Guide  - Terminating Coverage"] } %>

<%= render partial: "notices/shared/paragraph_with_headers", :locals =>
    { heading: 'For Questions or Assistance:',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: "notices/shared/unordered_list", locals: {
    previous: "Please contact your broker for further assistance. You can also contact #{site_short_name} with any questions:",
    listings: ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
               "By email: #{small_business_email_link}"],
    after:"You can also find more information on our website at #{site_main_web_link} " }%>

<% if notice.broker.present? %>
    <%= render partial: "notices/shared/broker_contact_info", :locals => {broker: notice.broker} %>
<% end %>

<%= render partial: "notices/shared/paragraph", :locals => {
    content: "This notice is being provided in accordance with 45 CFR 155.725."} %>