<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>

<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>


<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This letter is notification that your employer, #{notice.employer_name}, is not offering health coverage to employees through #{site_short_name}."} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><strong>Health coverage for you, and any of your enrolled family members, will not go into effect on <%=notice.plan_year.start_on %> as planned.</strong></td>
    </tr>
  </tbody>
</table>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<% if notice.broker.present? %>
  <p class ="notice-font notice-font-padding1">Contact your employer or your broker for further assistance.</p>
<% else %>
  <p class ="notice-font notice-font-padding1">Contact your employer further assistance.</p>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{site_short_name} with any questions:"} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li class="notice-font">
            By calling <%=contact_center_phone_number%><br>
        </li>
        <li class="notice-font">
             TTY: <%=contact_center_tty_number%>
        </li>
        <li class="notice-font">
            Online at <%=site_main_web_link%>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<% if notice.broker.present? %>                                                                     
<%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% end %>
<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.735(g)."} %>