<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: 'notices/shared/shop_address', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.email %></h3></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>DENTAL CARRIER EXIT FROM <%= Settings.site.short_name.upcase %>’S SMALL BUSINESS MARKETPLACE</strong></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px">Dear <%= notice.primary_fullname.titleize %>, </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "As you may be aware, each year insurance companies have the opportunity to make changes to the plans and coverage options that they offer. For 2018, #{notice.plan.plan_carrier} has decided that it will no longer participate in #{Settings.site.short_name}’s Small Business market. This means that you will not be covered by your current dental plan, #{notice.plan.plan_name}, after #{notice.plan.coverage_end_on}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "We have notified your employer about #{notice.plan.plan_carrier}’s decision, as well as the upcoming change to your current dental coverage. You should contact your employer’s benefits administrator to learn more about this change and to learn what employer-sponsored coverage options will be available to you going forward." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "You may be eligible for a Special Enrollment Period to enroll into dental coverage through #{Settings.site.short_name}’s Individual Marketplace at the end of your employer’s plan year. If you are not a resident of the #{Settings.aca.state_name}, you should contact the Health Insurance Marketplace located in your state of residence to inquire about enrolling, including open enrollment and special enrollment opportunities. To find the Health Insurance Marketplace in your state, go to <a href=#{Settings.site.healthcare_url}>#{Settings.site.healthcare_name}</a>." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "As always, our Contact Center is available at #{notice.hbe.phone} to answer any of your questions, from 8:00am-6:00pm Monday through Friday." }%>
<br>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', locals: 
  { content: "Please contact your broker for further assistance. You can also contact #{Settings.site.short_name} with any questions:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["By calling #{notice.hbe.phone}",
    "TTY: #{Settings.contact_center.tty}",
    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
   content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{Settings.contact_center.phone_number}."} %>
<% end %>
