<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.primary_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<br>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This letter is notification that your employer, #{notice.employer_name}, is no longer offering health coverage to employees through #{Settings.site.short_name}."} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Health coverage for you, and any of your enrolled family members, will end on <%= notice.plan_year.end_on %>.</h3></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: ["If you are enrolled in #{notice.employer_name}’s health coverage, you may be eligible for a Special Enrollment Period (SEP), during which you can purchase coverage for yourself and your family members  through #{Settings.site.short_name}’s individual marketplace.  You may also be eligible for premium subsidies and other forms of financial assistance if you are unable to afford the full cost of health insurance."], heading: 'You May be Eligible for Other Coverage', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Your Special Enrollment Period is open for 60 days, beginning #{notice.plan_year.end_on} until #{notice.plan_year.end_on+60.days}. To assure continued coverage, you need to enroll during this Special Enrollment Period. If you do not enroll during this time, you may have to wait until the next Open Enrollment period from #{notice.enrollment.ivl_open_enrollment_start_on} through #{notice.enrollment.ivl_open_enrollment_end_on}. Please log into your #{Settings.site.short_name} account and complete an eligibility application for individual marketplace coverage to view health plan options available to you and to learn whether you qualify for financial assistance."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you are not a resident of the District of Columbia, you should contact the Health Insurance Marketplace located in your state of residence to inquire about eligibility for a Special Enrollment Period and premium assistance programs.  To find the Health Insurance Marketplace in your state, go to <a href='www.healthcare.gov'>www.healthcare.gov</a>."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you are eligible to participate in another employer's plan, contact that employer promptly to enroll.  While you may have a 60-day Special Enrollment Period to enroll in individual market #{Settings.site.short_name} coverage, you typically only have a 30-day Special Enrollment Period to enroll in another employer’s group health plan."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Contact your employer or your broker for further assistance."} %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "Contact your employer further assistance."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You can also contact #{Settings.site.short_name} with any questions:"} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                   ["By calling #{notice.hbe.phone}.",
                                                                    "TTY: #{Settings.contact_center.tty}",
                                                                    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"] } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.735(g)."} %>