<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>Email notification sent to: <%= notice.primary_email %></td>
  </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td><h3><%= "SUBJECT: TERMINATION OF EMPLOYER'S HEALTH COVERAGE OFFERED THROUGH #{Settings.site.short_name.upcase}" %></h3></td>
  </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>Dear <%= notice.primary_fullname %>:</td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "This letter is notification that your employer, #{notice.employer_name}, is no longer offering health coverage to employees through the #{Settings.site.short_name}.", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "<strong>Health coverage for you, and any of your enrolled family members, will end on #{notice.plan_year.terminated_on}. </strong>", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { contents: [""], heading: 'You May be Eligible for Other Coverage', sub_heading: '', top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "If you are enrolled in #{notice.employer_name}’s health coverage, you may be eligible for a Special Enrollment Period (SEP), during which you can purchase coverage for yourself and your family members  through the #{Settings.site.short_name}’s individual marketplace.  You may also be eligible for premium subsidies and other forms of financial assistance if you are unable to afford the full cost of health insurance.. \n"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "You can report your loss of coverage to enroll through a Special Enrollment Period up to 60 days prior to the date of the loss of coverage and must report it no later than 60 days after the loss of coverage, #{notice.plan_year.group_lost_on}. To assure continued coverage, you need to enroll during this Special Enrollment Period. If you do not enroll during this time, you may have to wait until the next Open Enrollment Period from #{notice.enrollment.ivl_open_enrollment_start_on} through #{notice.enrollment.ivl_open_enrollment_end_on}. Please into your #{Settings.site.short_name} account and complete an eligibility application for individual marketplace coverage to view health plan options available to you and to learn whether you qualify for financial assistance.. \n", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "If you are not a resident of the District of Columbia, you should contact the Health Insurance Marketplace located in your state of residence to inquire about eligibility for a Special Enrollment Period and premium assistance programs. To find the Health Insurance Marketplace in your state go to #{Settings.site.website_url}</a>.\n", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "If you are eligible to participate in another employer's plan, contact that employer promptly to enroll.  While you may have a 60-day Special Enrollment Period to enroll in individual market coverage through the #{Settings.site.short_name} coverage, you typically only have a 30-day Special Enrollment Period to enroll in another employer’s group health plan. ", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { contents: [""], heading: 'For Questions or Assistance:', sub_heading: '', top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', locals: {
    content: "Please contact your broker for further assistance."} %>

<%= render partial: 'notices/shared/paragraph', locals: {
    content: "You can also contact #{Settings.site.short_name} with any questions:", top_margin: '10px'} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                      ["By calling #{notice.hbe.phone}.",
                                                                       "TTY: #{Settings.contact_center.tty}",
                                                                       "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>

<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the 'Find a Broker' link in your employer account or calling #{Settings.contact_center.phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This notice is being provided in accordance with 45 C.F.R. 155.735(g)."} %>