<table class="table table-condensed">
  <thead>
    <tr><th colspan="2"><%= "#{mixed_case b[:benefit_type]} Benefit Summary" %></th></tr>
  </thead>

  <tbody>
    <tr><th>Plan Name</th>              <td><%= b[:plan_name] %></td></tr>
    <tr><th>Issuer</th>                 <td><%= b[:issuer_name] %></td></tr>
    <tr><th>Plan Type</th>              <td><%= b[:plan_type] %></td></tr>
    <tr><th>Metal Level</th>            <td><%= b[:metal_level] %></td></tr>
    <tr><th>Subscriber</th>             <td><%= b[:subscriber_name] %></td></tr>
    <tr><th>Start Date</th>             <td><%= b[:start_date] %></td></tr>
    <tr><th>HBX Subscriber ID</th>      <td><%= b[:subscriber_hbx_id] %></td></tr>
    <tr><th>Carrier Subscriber ID</th>  <td><%= b[:subscriber_carrier_id] %></td></tr>
    <tr><th>Group ID</th>               <td><%= b[:group_id] %></td></tr>
  </tbody>
</table>