<p class="head">
  <span><%= "#{mixed_case b[:benefit_type]} Benefit Summary" %></span>
</p>
<ul class="list-group emp-ul">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Plan Name</strong></div>
      <div class="col-md-6"><%= b[:plan_name] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Issuer</strong></div>
      <div class="col-md-6"><%= b[:issuer_name] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Plan Type</strong></div>
      <div class="col-md-6"><%= b[:plan_type] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Metal Level</strong></div>
      <div class="col-md-6"><%= b[:metal_level] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Subscriber</strong></div>
      <div class="col-md-6"><%= b[:subscriber_name] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Start Date</strong></div>
      <div class="col-md-6"><%= b[:start_date] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>HBX Subscriber ID</strong></div>
      <div class="col-md-6"><%= b[:subscriber_hbx_id] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Carrier Subscriber ID</strong></div>
      <div class="col-md-6"><%= b[:subscriber_carrier_id] %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><strong>Group ID</strong></div>
      <div class="col-md-6"><%= b[:group_id] %></div>
    </div>
  </li>
</ul>