<div class="break">
<%= render :partial => "logo" %>
  <% if individual_market_is_enabled? %>
    <table class="total_table address" border="0">
      <tbody>
      <tr>
        <td><br></br></td>
      </tr>
      <tr>
        <td><%= recipient.first_name %> <%= recipient.last_name %></td>
      </tr>
      <tr class="fssize1">
        <td><%= recipient.mailing_address.street_1 %></td>
      </tr>
      <% if recipient.mailing_address.street_2.present? %>
        <tr class="fssize1">
          <td><%= recipient.mailing_address.street_2 %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= recipient.mailing_address.city %> <%= recipient.mailing_address.state %> <%= recipient.mailing_address.zip %></td>
        <td style="text-align: right;"><%= notice_number || "IVL_M001" %></td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <% if !recipient.mailing_address.street_2.present? %>
        <tr class="fssize1">
          <td><br></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% else %>

    <table class="total_table address custom-address" border="0">
      <tbody>
      <tr><td colspan="2"><br><br></td></tr>
      <tr>
        <td colspan="2" class="fssize health-connector-address "><%= recipient.first_name %> <%= recipient.last_name %></td>
      </tr>
      <tr>
        <td colspan="2" class="fssize1 health-connector-address"><%= recipient.mailing_address.street_1 %></td>
      </tr>
      <% if recipient.mailing_address.street_2.present? %>
        <tr>
          <td colspan="2" class="fssize1 health-connector-address"><%= recipient.mailing_address.street_2 %></td>
        </tr>
      <% end %>
      <tr>
        <td class="fssize1 health-connector-address"><%= recipient.mailing_address.city %> <%= recipient.mailing_address.state %> <%= recipient.mailing_address.zip %></td>
        <td align="right" style="padding-right: 15px"><%= notice_number || "SHOP_M001" %></td>
      </tr>
      </tbody>
    </table>

  <% end %>
<br><br><br><br>

  <table class="total_table" border="0">
    <tbody>
    <tr>
      <br></br>
    </tr>
    <tr>
      <td style="text-align: center"><h1><b>THIS IS A COVER PAGE</b></h1>
        <hr style="height: 0px;  border-color: black; border-bottom: 0px; border-width: 1px 0 0 0;">
      </td>
    </tr>
    <tr>
      <td style="font-size: 18px; text-align: center;">
        The enclosed letter has important information about your health or dental insurance, which may include steps you need to take to get or keep your insurance.
      </td>
    </tr>
    <tr>
      <br></br>
    </tr>
    </tbody>
  </table>

  <table class="total_table" border="0" style="margin-top: 260px;">
    <tbody>
    <tr>
      <td><%= notice_number %></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="page-break">
  <table class="total_table" border="0">
    <tbody>
    <tr>
      <td style="color: #b3b3b3; font-size: 18px; text-align: center; padding-top: 300px;">
        This page intentionally left blank.
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="page-break"></div>