<% if individual_market_is_enabled? %>
  <table class="total_table address" border="0">
    <tbody>
    <tr>
      <td><br></br></td>
    </tr>
    <tr>
      <td><%= recipient.first_name %> <%= recipient.last_name %></td>
    </tr>
    <tr class="fssize1">
      <td><%= recipient.mailing_address.street_1 %></td>
    </tr>
    <% if recipient.mailing_address.street_2.present? %>
      <tr class="fssize1">
        <td><%= recipient.mailing_address.street_2 %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= recipient.mailing_address.city %> <%= recipient.mailing_address.state %> <%= recipient.mailing_address.zip %></td>
        <td style="text-align: right;"><%= notice_number || "IVL_M001" %></td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <% if !recipient.mailing_address.street_2.present? %>
      <tr class="fssize1">
        <td><br></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>

  <table class="total_table address custom-address" border="0">
    <tbody>
      <tr><td colspan="2"><br><br></td></tr>
      <tr>
        <td colspan="2" class="fssize health-connector-address "><%= recipient.first_name %> <%= recipient.last_name %></td>
      </tr>
      <tr>
         <td colspan="2" class="fssize1 health-connector-address"><%= recipient.mailing_address.street_1 %></td>
      </tr>
      <% if recipient.mailing_address.street_2.present? %>
      <tr>
        <td colspan="2" class="fssize1 health-connector-address"><%= recipient.mailing_address.street_2 %></td>
      </tr>
      <% end %>
      <tr>
        <td class="fssize1 health-connector-address"><%= recipient.mailing_address.city %> <%= recipient.mailing_address.state %> <%= recipient.mailing_address.zip %></td>
         <td align="right" style="padding-right: 15px"><%= notice_number || "SHOP_M001" %></td>
      </tr>
    </tbody>
  </table>

<% end %>