<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.ga_email %></h3></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong><%= notice.employer_name.upcase %> HAS REMOVED YOU AS THEIR GENERAL AGENCY</strong></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font" style="padding-top: 10px">Dear <strong><%= notice.primary_fullname %></strong>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
{ content: "This notice is to inform you that <strong>#{notice.primary_fullname}</strong> is no longer the general agency for <strong>#{notice.employer_name}</strong> as of <strong>#{notice.terminated_on}</strong>. You will no longer be authorized to access <strong>#{notice.employer_name}’s</strong> #{Settings.site.short_name} Account or take action on behalf of <strong>#{notice.employer_name}</strong> or any employees of <strong>#{notice.employer_name}</strong>."} %><br>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
  heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_margins', locals: {
  content: "Please contact #{Settings.site.short_name} with any questions:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
    ["By calling #{notice.hbe.phone}",
     "TTY: #{Settings.contact_center.tty}",
     "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>