<div class="container signin top-pd">
  <div class="col-md-3 col-sm-2 col-xs-12"></div>
    <div class="col-md-6 col-sm-8 col-xs-12">
      <h1 class="darkblue">Create account</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'input-no-pd'}) do |f| %>
  	      <%= devise_error_messages! %>
	        <%= f.hidden_field :referer, value: request.env["HTTP_REFERER"] %>

	        <div class="form-group">
	          <%= f.label :email %>
            <%= link_to "Don't have an email account?", 'http://www.google.com', class: 'pull-right email-help', data: { toggle: 'modal', target: '#no-email'} %>

<!-- Modal -->
	          <%= f.email_field :email, class: "form-control", required: true %>
	        </div>

	        <div class="form-group">
	          <%= f.label :password %>
	          <% if @validatable %>
	          <em>(<%= @minimum_password_length %> characters minimum)</em>
	          <% end %><br />
	          <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
	        </div>

	        <div class="form-group">
	          <%= f.label :password_confirmation %><br />
	          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
	        </div>
      		<%= f.hidden_field :invitation_id %>
          <br/>
	        <div class="actions">
  	          <%= f.submit "Create account", class: "btn btn-primary btn-lg btn-br" %>
              <br/>
            <span>
              <%= link_to "Sign In Existing Account", new_user_session_path unless Rails.env.production?%>
            </span>
          </div>
		    <% end %>
      </div>
      <div class="modal fade" id="no-email"role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal" type="button">&times;</button>
              <h4 class="modal-title">
                How can I set-up an e-mail address if I do not have one?
              </h4>
            </div>
            <div class="modal-body">
              <p>
                There are many private businesses that provide e-mail accounts free of charge to the public.  Below are some websites where they e-mail accounts can be set-up:
                <br/>
                <ul>
                  <li>
                    <%= link_to 'Google/Gmail', 'https://accounts.google.com/signup', target: '_blank', class: 'email-alert' %>
                  </li>
                  <li>
                    <%= link_to 'Yahoo/YMail', 'https://edit.yahoo.com/registration', target: '_blank', class: 'email-alert' %>
                  </li>
                  <li>
                    <%= link_to 'AOL', 'https://i.aol.com/reg/signup', target: '_blank', class: 'email-alert' %>
                  </li>
                </ul>
                <p>
                  None of these companies are affiliated with <%= Settings.site.short_name %> or the District of Columbia Government.  Their listing on this site is not an endorsement of their services.
                  <br/>
                  <br/>
                  <strong>
                    REMEMBER:
                  </strong>
                  Once you set-up this account, it is important to check it often so that you are up to date on any messages you receive from <%= Settings.site.short_name %>, or anyone else who send you e-mail.
                </p>
                <br/>



            </div>
          </div>
        </div>
      </div>
    </div>
