<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>
<%= form_for @census_employee, url: employers_employer_profile_census_employee_path(@employer_profile, @census_employee.id), method: :put do |f| %>
  <%= render 'errors_if_any' %>
  <%= hidden_field_tag 'status', "#{@status}" %>
  <div class="census-employee module content-bottom" data-census-employee-id="<%= @census_employee.id %>" data-rehire-url="<%= employers_employer_profile_census_employee_rehire_path(@employer_profile.id, @census_employee.id) %>" data-status="<%= @status %>" data-terminate-url="<%= employers_employer_profile_census_employee_terminate_path(@employer_profile.id, @census_employee.id) %>">

    <div class="vertically-aligned-row">
      <h1 class="no-buffer col-xs-4">
        <div class="row"><h1>
          <%= @census_employee.first_name.capitalize %>
          <%= @census_employee.last_name.capitalize %></h1>
        </div>
      </h1>
      <div class="vertically-aligned-row auto-width">
        <div class="text-right col-xs-4">
          <div class="row">

            <% if @census_employee.is_cobra_status? %>
              <div id='cobra_bar'>
                <div class='title'><strong>COBRA/Continuation</strong></div>
                <div><strong>effective date:</strong><%= format_date @census_employee.cobra_begin_date %></div>
              </div>
            <% end %>
            <span><strong><%= is_rehired(@census_employee) ? "Rehired:" : "Hired:" %></strong>
            <%= format_date @census_employee.hired_on %></span>&nbsp;&nbsp;
            <% if @census_employee.coverage_terminated_on.blank? %>
            <span><strong>Added to Roster:</strong>
              <%= format_date TimeKeeper.date_according_to_exchange_at(@census_employee.created_at) %></span>&nbsp;&nbsp;
              <% end %>
            <% if is_terminated(@census_employee)%>
              <span><strong>Terminated:</strong>
              <%= format_date @census_employee.coverage_terminated_on %></span>&nbsp;&nbsp;
            <% end %>
            <h5 class="label label-success census-employee-aasm <%= @census_employee.aasm_state %>">
              <%= @census_employee.aasm_state.titleize %>
              <i class="fa fa-pencil employee-status manual" aria-hidden="true" data-toggle="popover" data-html="true" data-content='<%= display_employee_status_transitions(@census_employee)[0] %>' data-placement="bottom" onclick="Freebies.manualPopover($(this));"></i>
            </h5>

          </div>
        </div>
      </div>
    </div>

    <div class="injected-edit-status">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Details
        </h3>
        <div class="panel panel-default module census-employee-details">
          <div class="panel-body">
            <div class="details">
              <%= render 'member_fields', f: f %>
              <%= render 'shared/census_employee_fields', {f: f} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <% if !@census_employee.is_linked? || !@census_employee.address.present? %>
      <div class="col-md-6 col-sm-12">
        <h3>
          <%= @census_employee.address.kind.capitalize if @census_employee.address.present?  %>
          Address
        </h3>
        <div class="panel panel-default module census-employee-address">
          <div class="panel-body">
            <div class="address">
              <% census_employee_address = @census_employee.address.present? ? @census_employee.address : @census_employee.build_address%>
              <%= f.fields_for :address, census_employee_address, errors: {}, fieldset: false do |address| %>
              <%= render 'address_fields', f: address %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <% @census_employee.email = Email.new if @census_employee.email.blank? %>
      <div class="col-md-6 col-sm-12">
        <h3>
          Email
        </h3>
        <div class="panel panel-default module census-employee-email">
          <div class="panel-body">
            <div class="email">
              <%= f.fields_for :email, @census_employee.email, errors: {}, fieldset: false do |email| %>
              <%= render 'email_fields', f: email %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# It is been moved since we are using this page in edit action as well. %>
    <%= render 'dependents_fields', f: f %>

      <% @census_employee.enrollments_for_display.compact.each do |enrollment| %>
      <div class="col-xs-12">
        <h3>
          <%= enrollment.coverage_kind.camelcase %> Enrollment
        </h3>

        <%= render "insured/families/enrollment", read_only: true, hbx_enrollment: enrollment %>
      </div>
      <% end %>

    <%= render partial: 'shared/past_enrollments', locals: { hbx_enrollments: @past_enrollments } %>

    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-6 text-left">
        <%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, employers_employer_profile_path(@employer_profile.id, :tab=>'employees', status: @status), class: 'btn btn-default btn-lg return_to_employee_roster', "aria-expanded" => "true" %>
        </div>
        <div class="col-sm-6 text-right">
        <%= link_to 'Cancel'.html_safe, employers_employer_profile_path(@employer_profile.id, :tab=>'employees', status: @status), class: 'btn btn-default btn-lg', "aria-expanded" => "true" %>
        <button class="btn btn-primary btn-lg" type="submit">
          <%= "Update Employee".html_safe %>
        </button>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).on('ready page:load', function () {
    // FormHelpers.preventUnload();
    FormHelpers.applyAsterisks();
  });
</script>
