<html>
  <body>
    <div>
      Dear <%= person.full_name.titleize %>,
    </div>
    <br />
    <div>
      Thank you for submitting your application to become a certified broker through the Health Connector for Business. We'll review your application to make sure that you meet all of the requirements for our certified brokers.
    </div>
    <br />
    <div>
      <strong>You should expect to receive another email from us about your next steps within 7-10 business days.</strong>
    </div>
    <br />
    <div>
      If you meet all of our requirements for certified brokers, your next email will include information on how to access the broker portal, including creating a username and password.
    </div>
    <br />
    <div>
      If you do not appear to meet all of our requirements, we will let you know which steps you will need to take before you can become a Health Connector-certified broker.
    </div>
    <br />
    <div>
      If you have questions, please visit the <a href="<%= certification_url %>">broker certification section of our website</a>, or call us at <%= contact_center_phone_number %> (TTY: <%= contact_center_tty_number %>).
    </div>
    <br />
    <div>
      Thank you,
    </div>
    <br />
    <div>
      <%= site_title %>
    </div>
    <br />
  </body>
</html>
