Dear <%=applicant_name%>,
<br/><br/>
Thank you for submitting an application to be a broker on <%= site_short_name %> for Business platform. At this time, we are unable to verify you have a current health producer license in good standing in <%= aca_state_name %> or a non-resident license.
<br />
<div>To be a certified broker on the <%= site_short_name %> for Business platform, brokers need to fulfill the following requirements, as detailed on the <a href="https://www.mahealthconnector.org/business/brokers/certification">Broker Certification</a> page:
	<ul>
		<li>Maintain a current health producer license in good standing in <%= aca_state_name %> or a non-resident license </li>
		<li>Complete <%= site_short_name %> training hosted by National Association of Health Underwriters (NAHU), either in-person or online</li>
		<li>Completed the online registration process through the <%= site_short_name %> for Business platform</li>
	</ul>
</div>
<div>For any questions about the process for becoming a certified broker on the <%= site_short_name %> for Business platform, please contact <%= contact_center_phone_number %> (TTY: <%= contact_center_tty_number %>) or <a href="https://www.mahealthconnector.org/"><%= site_website_name %></a></div>
<br/><br/>
