<html>
  <body>
    <div>
      Dear <%= person.full_name.titleize %>,
    </div>
    <br />
    <% if EnrollRegistry.feature_enabled?(:broker_approval_period) %>
      <div>Thank you for submitting your broker application to <%= site_short_name %>. Please allow 7-10 business days for <%= site_short_name %> to review your application.</div>
      <br />
      <div><%= l10n("broker_agencies.broker_application_confirm.outstanding_reqs") %></div>
      <br />
      <div> <%= l10n("broker_agencies.broker_application_confirm.broker_reqs") %>
      </div>
      <br />
      <div><%= l10n("broker_agencies.broker_application_confirm.more_info") %><a/></div>
      <br />
      <div><%= l10n("broker_agencies.broker_application_confirm.any_questions") %></div>
    <% else %>
      <div>
        <%= l10n("broker_agencies.broker_invitation.broker_app_submission") %>
      </div>
      <br />
      <div>
        <strong><%= l10n("broker_agencies.broker_invitation.another_email") %></strong>
      </div>
      <br />
      <div>
        <%= l10n("broker_agencies.broker_invitation.broker_portal_access") %>
      </div>
      <br />
      <div>
        <%= l10n("broker_agencies.broker_invitation.broker_steps") %>
      </div>
      <br />
      <div>
        <%= l10n("broker_agencies.broker_invitation.broker_questions") %>
      </div>
      <br />
      <div>
        <%= l10n("broker_agencies.broker_invitation.thank_you_footer") %>
      </div>
      <br />
      <div>
        <%= site_title %>
      </div>
      <br />
    <% end %>
  </body>
</html>
