<html>
<body>
Dear <%= person.full_name.titleize %>,
<br />
<div>Welcome! Thank you for submitting your application to become a certified broker on the <%= site_short_name %> for Business. Please allow up to 7-10 business days for the <%= site_short_name %> to review your application.</div>
<br />
<div>Once we have verified that you have satisfied all of the requirements to become a certified broker on the Health Connector for Business platform, you will receive an email from <a href="mailto:noreply@healthconnector.org"><%= mail_address %></a> with important information about how to access your broker portal and how your small business clients can assign you as their broker.</div>
<br />
<div>If you have not satisfied some of the requirements to be an approved broker on the <%= site_short_name %> for Business platform, you will receive an email notification detailing any outstanding requirements that must be satisfied before your application can be approved.</div>
<br />
<div>To be a certified broker on the <%= site_short_name %> for Business platform, brokers need to fulfill the following requirements, as detailed on the <a href="https://www.mahealthconnector.org/business/brokers/certification">Broker Certification</a> page: 
	<ul>
		<li>Maintain a current health producer license in good standing in <%= aca_state_name %> or a non-resident license </li>
		<li>Complete <%= site_short_name %> for Business training hosted by National Association of Health Underwriters (NAHU), either in-person or online</li>
		<li>Complete the online registration process through the <%= site_short_name %> for Business platform</li>
	</ul>
</div>
<br />
<div>For any questions about the process for becoming a certified broker on the <%= site_short_name %> for Business platform, please contact <%= contact_center_phone_number %> (TTY: <%= contact_center_tty_number %>) or <a href="https://www.mahealthconnector.org/"><%= mail_address %></a></div>
</body>
</html>
