<html>
  <body>
    <% if Settings.site.key == :dc %>
      <%= person_name %>,
      <br />
      <div><%= l10n("broker_agencies.broker_invitation.thank_you_registering") %></div>
      <div><%= l10n("broker_agencies.broker_invitation.create_broker_acc") %></div>
    <% else %>
      <div>
        <%= l10n("broker_agencies.broker_invitation.person_name") %>
      </div>
      <br />
      <div>
        <%= l10n("en.broker_agencies.broker_invitation.approved_broker") %>
      </div>
      <div>
        <p><strong><%= l10n("broker_agencies.broker_invitation.next_steps") %></strong></p>
      </div>
      <div>
        <p>
          <%= l10n("broker_agencies.broker_invitation.create_new_acc") %>
        </p>
      </div>
      <div>
        <p>
          <%= l10n("broker_agencies.broker_invitation.login_to_broker") %>
        </p>
      </div>

      <div>
        <%= l10n("broker_agencies.broker_invitation.call_for_help") %>
      </div>

      <div>
        <%= l10n("broker_agencies.broker_invitation.site_foote") %>
      </div>
    <% end %>
  </body>
</html>
