<html>
  <%= render :partial => "notices/shared/logo" %>
  <span class="fssize1 health-connector-address" align="right" style="padding-right: 15px">"SHOP_M009"%></span><br><br><br><br><br>
   <span class="wid50" align="left"><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></span>
    <body>
      <b> ASSISTANCE ENROLLING IN EMPLOYER-SPONSORED HEALTH INSURANCE</b>
      <br/>
      <br/>
      <div>
        Dear <%= first_name %>,
      </div>
        <br/>
          You recently applied for employer-sponsored health insurance through the <%= site_short_name %>.  You are not eligible to enroll in coverage through the <%= site_short_name %> because we were unable to match you with an employer.
        <br><br/>
      <div>
        If you believe this determination was made in error, please check the information entered on your application is correct and confirm with your employer that your demographic information is listed correctly on their roster. If you continue to experience difficulty matching to your employer and plan shopping on the <%= site_short_name %>, please reach out to us at the options below.
        <br><br/>

        <h2 style="color: #007bc4;">
          For Questions or Assistance:
        </h2>

        Please contact your broker for further assistance. You can also contact the <%= site_short_name %> with any questions:
        <table class="total_table" border="0">
          <tbody>
            <tr>
              <td>
                <ul style="list-style: circle;>
                <li style="margin-top: 0px;">
                  By calling <%=contact_center_phone_number%>. TTY: <%=contact_center_tty_number%>
                </li>
                <li style="margin-top: 5px;">
                  By email: <a mail_to = "#{small_businesss_email}"><%=small_businesss_email %></a>
                </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        For more information about employee eligibility requirements, refer to the <%= site_short_name %>’s “Employee Eligibility and Verification” policy.<br>
        This notice is being provided in accordance with 45 CFR 155.715(f).
      </div>

      <div>
        <h2><u><%= aca_state_name %> <%= site_short_name %> Small Group Employee Appeal Rights</u></h2>
        If you do not agree with our decision about whether or not you are an eligible employee, you have a right to appeal our decision and receive a hearing. Employees have the right to appeal a denial of eligibility, the failure of <%= site_short_name %> to provide a timely eligibility determination, or the failure of the <%= site_short_name %> to provide a timely notice of an eligibility determination.
        <br></br>
        You have 90 days from the date of the eligibility notice to request an appeal. If you do not appeal within 90 days, you may lose your appeal right.<br>

        <h2 style="color: #007bc4;">
          How to Request an Appeal
        </h2>
        You may appeal by completing an Appeal Request For <%= aca_state_name %> <%= site_short_name %> for Business, Employees Form, available at <%=site_main_web_address_text%>.<br>
        The form can be mailed or faxed.<br>
        <strong>Mail:</strong> <%= site_short_name %> <%= contact_center_appeal_name %>, <%= contact_center_appeal_address_one %>, <%= contact_center_appeal_city %>, <%= contact_center_appeal_state %> <%= contact_center_appeal_zip %><br>
        <strong>Fax:</strong> <%= contact_center_fax_number%>

        <h2 style="color: #007bc4;">
          What Happens When You Appeal
        </h2>
        Once your valid appeal is received, the <%= site_short_name %> will notify you and your employer that it has received the appeal, and will being both an informal and formal review process.<br>
        <br>
        <b><i>Informal Review</i></b> - You may be contacted by a staff member within the <%= site_short_name %> to review your eligibility and enrollment history with the intent of exploring whether your appeal can be resolved short of a formal hearing. Engaging in this informal review is optional both for you and for the <%= site_short_name %>.<br>
        <b><i>Hearing</i></b> - You will be scheduled for a hearing before an independent hearing officer. The hearing will take place telephonically. The <%= site_short_name %> will contact you and tell you when and where your hearing will take place. The <%= site_short_name %> will send you a scheduling order, including the time and date of your hearing.<br>
        At the hearing, you can testify, have others testify for you, and submit documents. At the hearing, the hearing officer will also ask questions of you and any other people who testify. After completion of the hearing, the hearing officer will make a decision in writing and sent it to you. The decision will also tell you what you can do if you do not agree with the decision.<br>
        <strong>Any decisions by a hearing officer about your eligibility as an employee might also change the eligibility of your dependents.</strong>>

        <h2 style="color: #007bc4;">
          Ending your Appeal Early
        </h2>
        You may withdraw your request for a hearing at any time before the hearing officer makes a final written decision. This includes before the hearing, potentially as a result of your informal resolution with the <%= site_short_name %>. To withdraw your request for a hearing, you must send a written withdrawal request, including your name and case number, to the <%= site_short_name %> by mail, e-mail, or fax.<br>
        <strong>Mail:</strong> <%= site_short_name %> <%= contact_center_appeal_name %>, <%= contact_center_appeal_address_one %>, <%= contact_center_appeal_city %>, <%= contact_center_appeal_state %> <%= contact_center_appeal_zip %><br>
        <strong>Email:</strong><a mail_to="#{contact_center_appeals_link}"><%= contact_center_appeals_link %></a><br>
        <strong>Fax:</strong> <%= contact_center_fax_number%>

        If you withdraw your request for a hearing because the <%= site_short_name %> has promised to change its decision, we will implement the new <%= site_short_name %> decision.<strong>If you stop your appeal before the <%= site_short_name %> has changed its decision, the eligibility determination will be implemented as it is written in the notice you first received before you filed your appeal</strong>
      </div>
    </body>
</html>
<br><br>
<%= render "user_mailer/shared/non_discrimination" %>
<br><br>
<%= render "user_mailer/shared/taglines" %>
