<div style='width: 500px; margin-left: 50px'>
  <img src="/dc_health.png" style='margin-left: 200px; width: 100px;' title=<%= "#{Settings.site.short_name}" %>/>
  <br>
  <p>Dear <%= first_name %>,</p>
  <p>
    You have a new message from <%= Settings.site.short_name %> about your health coverage. This letter may be time sensitive and require action.
  </p>
  <p>
    The subject of the letter is <%= notice_subject %>
  </p>
  <p>
    To read this letter, <a href="<%= Settings.site.home_url %>">login to your account</a> at dchealthlink.com.
  </p>
  <p>If you have any questions, we’re here to help. Give us a call at <%= phone_number %>.</p>
  <p>The <%= Settings.site.short_name%> Team.<br/></p>
  <div style="font-size: 10px; color: #999999">
    <%= Settings.site.short_name %> is strongly committed to maintaining the privacy of your personal information and the security of our computer systems. With respect to the collection, use, and disclosure of personal information, <%= Settings.site.short_name %> makes every effort to ensure compliance with applicable federal law.<br/><br/>
    <html lang="am">
      በአማርኛ እርዳታ ከፈለጉ በ <%= phone_number %> ይደውሉ። የነፃ አስተርጓሚ ይመደብልዎታል።
    </html>
    <br/><br/>
    <html lang="zh-Hans">
      語言協助 如果您需要用（中文)接受幫助，請電洽 <%= phone_number %> 將免費向您提供口譯員服務.
    </html>
    <br/><br/>
    <html lang="fr">
      AIDE LINGUISTIQUE Si vous avez besoin d’aide en Français appelez-le <%= phone_number %> et l’assistance d’un interprète vous sera fournie gratuitement.
    </html>
    <br/><br/>
    <html lang="ko">
      언어 지원 한국어로 언어 지원이 필요하신 경우<%= phone_number %> 로 연락을 주시면 무료로 통역이 제공됩니다.
    </html>
    <br/><br/>
    <html lang="es">
      AYUDA EN SU IDIOMA Si necesita ayuda en Español, por favor llame <%= phone_number %> al para proporcionarle un intérprete de manera gratuita.
    </html>
    <br/><br/>
    <html lang="vi">
      GIÚP ĐỠ VỀ NGÔN NGỮ Nếu quý vị cần giúp đỡ về tiếng Việt, xin gọi <%= phone_number %> để chúng tôi thu xếp có thông dịch viên đến giúp quý vị miễn phí.
    </html>
    <br>
  </div>
  <hr style="height: 0px;  border-color: black; border-bottom: 0px; border-width: 1px 0 0 0;">
  <p style='text-align: center; font-size: 70%'>
    Questions? Call <%= Settings.site.short_name%> at <%= phone_number %>, or go to <a href=<%= Settings.site.home_url%>> <%= Settings.site.website_name%></a>.
  </p>
</div>