Dear <%=first_name%>,
<br/><br/>
You have a new message from <%= Settings.site.short_name %> about your health coverage that may be time sensitive and require action. Please log in to your account at <a href="<%= Settings.site.home_url %>"><%= Settings.site.short_name %><a/> to read this message.
<br><br/>
Questions?  Call <%= Settings.site.short_name %> Customer Service at <%= Settings.contact_center.phone_number %>, or go to <a href="<%= Settings.site.home_url %>"><%= Settings.site.short_name %><a/>.
<br/><br/>

<p><i><%= Settings.site.short_name %> is strongly committed to maintaining the privacy of your personal information and the security of our computer systems. With respect to the collection, use and disclosure of personal information, <%= Settings.site.short_name %> makes every effort to ensure compliance with applicable Federal law.</i></p>