<% content_for(:hbx_id) { hbx_id } %>
<p>Dear <%=first_name%>,</p>
<p>You have a new message from <%= site_short_name %> about your health coverage that may be time sensitive and require action. Please log in to your account at <a href="<%= site_home_business_url %>"><%= site_short_name %></a> to read this message.</p>
<% if EnrollRegistry.feature_enabled?(:custom_email_templates) %>
  <%= link_to "Log In To Your Account", site_home_business_url, class: "button-link" %>
<% end %>
<p>Your Account: <%=hbx_id %></p>

<%= l10n("user_mailer.generic_consumer.bottom_text", site_home_business_url: site_home_business_url, site_short_name: site_short_name, contact_center_name: contact_center_name, marketplace_phone: contact_center_phone_number) %>

