<html>
<body>
  <% fname = census_employee.full_name %>
  <% fname.slice! census_employee.last_name %>
  Dear <%= fname.humanize.titleize %>,
<br/>
<br/>
<div>
  Good News! <%= census_employee.employer_profile.legal_name.titleize %> has chosen to offer <%= site_short_name %> coverage to its employees through The <%= site_short_name %> and will contribute to the monthly premium to make the cost of coverage more affordable. Your new open enrollment period begins on <%= census_employee.published_benefit_group_assignment.plan_year.open_enrollment_start_on.to_date.to_formatted_s %>.
</div>
<br/>
<div>
 You are now able to plan shop for insurance that will start on <%= census_employee.published_benefit_group_assignment.plan_year.start_on%>, as part of your open enrollment period. To enroll into employer-sponsored insurance through The <%= site_short_name %>, you must complete your application by <%= census_employee.published_benefit_group_assignment.plan_year.open_enrollment_end_on %>.
</div>
<br/>
<div>
If you have other insurance coverage and do not wish to enroll into the plan(s) offered to you by <%= census_employee.published_benefit_group_assignment.employer_name%> at this time, you should still “waive” coverage. Instructions for how to waive coverage are included in our <strong>Employee guide to waiving coverage,</strong> which you can find in the online <a href='https://www.mahealthconnector.org/business/business-resource-center'>Business Resource Center</a>.

</div>
<br/>
<div>
  <b>
    What is Open Enrollment?
  </b>
  <br/>
    Open enrollment is your annual opportunity to enroll in health plans offered by your employer.  Outside of this open enrollment period, you will only be allowed to make changes to your enrollment if you experience certain qualifying life events (QLE) such as marriage, birth, adoption, or other qualifying events.
  <br/>
  <br/>
  <b>
    To See Plan Options and Enroll:
  </b>
  <br/>
  To complete the application process, please follow the steps listed below. If you do not have an existing Health Connector account, follow the steps in our <strong> Employee guide to enrolling,</strong> which can be found in our <a href='https://www.mahealthconnector.org/business/business-resource-center'>Business Resource Center</a>.
    <ul style="list-style-type:circle">
      <li>Go to <%= site_main_web_link %></li>
      <li>Log-in or create an account as an employee
      <li>If necessary, update your household information add any dependents, Make your plan selection(s) or waive coverage</li>
  <br/>
  <h2 style="color: #007bc4;">
    For Questions or Assistance:
  </h2>
  You can contact <%= site_short_name%> with any questions:
  <br/>
  <ul style="list-style-type:circle">
    <li>By calling <%= contact_center_phone_number %>, TTY : <%= contact_center_tty_number%> </li>
    <li>Online at <%= site_main_web_link %></li>
  </ul>
  <br><br><br>
</div>
</body>
</html>
<br><br>
<html lang="es">
¡Importante! Esto tiene información importante sobre su seguro de salud. Si usted quiere la información traducida a su propio idioma, llame al 1-888-813-9220.
</html>
<br>
Spanish
<br><br>
<html lang="km">
ស"#ន%! ក'uងeន+,នព.ត0,នស"#ន%អ"ព23456ប%រងសuខ;ពរបស%អ'ក។ =បសiនœបœអ'ក ចង%Bនព.ត0,នeន+បកæ=បD;E របស%អ'ក សFមទFរស.ពIមកeលខ 1-888-813-9220។
</html>
<br>
Cambodian
<br><br>
<html lang="zh-Hant">
重要提示：該文件載有關於您的醫療保險的重要資訊。如果您想要將相關資訊 
翻譯為您的母語，請致電1-888-813-9220。
</html>
<br>
Simplified Chinese
<br><br>
<html lang="zh-Hans">
重要提示：该文件载有关于您的医疗保险的重要信息。如果您想要将相关信息 
翻译为您的母语，请致电1-888-813-9220。
</html>
<br>
Traditional Chinese
<br><br>
<html lang="ht">
Enpòtan! Sa a gen enfòmasyon enpòtan ou asirans sante ou. Si w vle nou tradwi enfòmasyon an nan pwòp lang ou rele 1-888-813-9220.
</html>
<br>
Haitian Creole
<br><br>
<html lang="lo">
ສິ່ງສໍາຄັນ! ນີ້ມີຂໍ້ມູນທສໍາຄັນກ່ຽວກັບການປະກັນໄພສຸຂະພາບຂອງທ່ານ. ຖ້າຫາກທ່ານຕ້ອງກາ
ນຂໍ້ມູນຂ່າວສານເຂົ້າໃນການແປພາສາໂທຫາ 1-888-813-9220 ຂອງຕົນເອງຂອງທ່ານ.
</html>
<br>
Laotian
<br><br>
<html lang="pt-br">
Importante! Neste pacote há informações importantes sobre o seu seguro-saúde. Se quiser que as informações sejam traduzidas para o seu idioma, ligue para 1-888-813-9220.
</html>
<br>
Brazilian Portuguese
<br><br>
<html lang="pt">
Contém informações importantes sobre o seu seguro de saúde. Se desejar a tradução das informações para a sua língua, contacte-nos pelo telefone 1-888-813-9220.
</html>
<br>
European Portuguese
<br><br>
<html lang="ru">
Важная информация! Здесь содержится важная информация о Вашем медицинском страховании. Если Вы хотите, чтобы информация была переведена на Ваш родной язык, позвоните по номеру: 1-888-813-9220.
</html>
<br>
Russian
<br><br>
<html lang="vi">
Lưu ý quan trọng! Đây là thông tin quan trọng về bảo hiểm y tế của quý vị. Nếu quý vị muốn có bản dịch thông tin này bằng ngôn ngữ của quý vị, hãy gọi số 1-888-813-9220.
</html>
<br>
Vietnamese
<br><br>
<html lang="ar">
هام! يتضمن هذا معلومات مهمة عن تأمينك الصحي. إذا كنت تريد ترجمة المعلومات إلى لغتك فاتصل برقم 1-888-813-9220.

</html>
<br>
<div class="pull-right"> Arabic </div>
<br><br>
<html lang="fr">
Important! Ceci contient des informations importantes au sujet de votre assurance santé. Si vous désirez une traduction de ces informations dans votre langue, appelez le : 1-888-813-9220.
</html>
<br>
French
<br><br>
<html lang="el">
Σημαντικό! Το παρόν περιέχει σημαντικές πληροφορίες σχετικά με την ασφάλεια ζωής σας.
Εάν επιθυμείτε να μεταφραστούν οι πληροφορίες αυτές στη γλώσσα σας, καλέστε στο 
1-888-813-9220.</html>
<br>
Greek
<br><br>
<html lang="gu">
મહત્વપૂર્ણ! આમાં તમારી આરોગ્ય વીમા વિશેની મહત્વપૂર્ણ જાણકારી છે. જો તમારે તમારી ભાષામાં આ જાણકારીનો અનુવાદ જોઇએ તો, 1-888-813-9220પર કૉલ કરો. 
</html>
<br>
Gujarati
<br><br>
<html lang="hi">
महत्वपूर्ण! इसमें आपके स्वास्थ्य बीमा के बारे में महत्वपूर्ण जानकारी है। यदि आप अपनी भाषा में इस जानकारी का अनुवाद चाहते हैं, तो 1-888-813-9220पर कॉल करें।
</html>
<br>
Hindi
<br><br>
<html lang="it">
Importante! Questo documento contiene informazioni importanti sulla sua assicurazione sanitaria. Se desidera averne la traduzione nella sua lingua, chiami il numero 1-888-813-9220.
</html>
<br>
Italian
<br><br>
<html lang="ko">
중요! 귀하의 건강 보험에 관한 중요한 내용입니다. 해당 내용을 귀하가 사용하는 언어로 번역을 원하시면1-888-813-9220로 연락하십시오. 
</html>
<br>
Korean
<br><br>
<html lang="pl">
Ważne! Tutaj zawarte są ważne informacje na temat Państwa ubezpieczenia zdrowotnego. Jeśli chcą Państwo, aby te informacje zostały przetłumaczone na Państwa język, proszę zadzwonić na numer 1-888-813-9220
</html>
<br>
Polish
<br><br>
<html>
<body>
<div>
  <h2><b> Discrimination is against the law </b></h2><br>
  The <%= site_short_name %> complies with applicable federal civil rights laws and does not discriminate on the basis of race, color, national origin, age, disability, or sex. The <%= site_short_name %> does not exclude people or treat them differently because of race, color, national origin, age, disability, or sex.<br>
  <h3><b>Services available through the Health Connector</b></h3>
  The <%= site_short_name %> provides free aids and services to people with disabilities to communicate effectively with us. These aids and services include:<br><br>
  <ul style="list-style-type:circle">
    <li>Qualified sign language interpreters</li>
    <li>Written information in other formats like large print, audio, accessible electronic formats, and other formats.</li>
  </ul><br><br>
  The <%= site_short_name %> provides free language services to people whose primary language is not English. These services include:<br>
  <ul style="list-style-type:circle">
    <li>Qualified interpreters</li>
    <li>Information written in other languages</li><br><br>
  If you need these services, contact the <%= site_long_name %> at 888-813-9220  TTY: 711 for people who are deaf, hard of hearing, or speech disabled.<br><br>
  <h2><b>You can file a grievance if you think you have been discriminated against</b></h2><br><br>
  If you believe that the Health Connector or another party operating on the exchange has failed to provide these services or discriminated in another way on the basis of race, color, national origin, age, disability, or sex, you can file a grievance with the <%= site_short_name %> or the U.S. Department of Health and Human Service Office for Civil Rights.<br><br>
  If you want to file a grievance with the <%= site_short_name %>, please visit our website to download our policy and complaint form. You can find these documents online at: www.MAhealthconnector.org/site-policies/nondiscrimination-notice<br><br>
  If you need help filing a grievance, please email the <%= site_short_name %>’s Compliance Manager at Nondiscrimination@state.ma.us or call 617-936-1037.<br><br>
  You can also file a civil rights complaint with the U.S. Department of Health and Human Services, Office for Civil Rights. To learn more about filing a complaint, call 1-800-368-1019, 800-537-7697 (TDD) or go to their website at: www.hhs.gov/civil-rights/filing-a-complaint
</div>
</body>
</html>
