<html>
<span class="wid50" align="left"><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></span><br><br>
<body>
  <b>Enroll Now: Your Plan Open Enrollment Period has Begun </b>
  <br/>
  <br/>
  <div>
   Dear <%= census_employee.full_name.humanize.titleize %>,</div>
  <br/>
  <div>
    Good News! <%= census_employee.employer_profile.legal_name %> has chosen to offer of insurance coverage to its employees through the <%= site_short_name %> and will contribute to your monthly premium to make the cost of coverage more affordable. Your new hire open enrollment period begins on <b><%= census_employee.new_hire_enrollment_period.first.to_date.to_formatted_s %></b>.
  </div>
  <br/>
  <div>
    You are now able to plan shop for insurance that will start on <%= census_employee.coverage_effective_on.to_formatted_s %> as part of your new hire open enrollment period. To enroll into employer-sponsored insurance through the <%= site_short_name %>, you must complete your application by <%= census_employee.new_hire_enrollment_period.last.to_date.to_formatted_s %>.
    <br/>
    <br/>
    <b> What is New Hire Open Enrollment? </b>
    <br/>
    New Hire Open Enrollment is a one-time opportunity to enroll in plans offered by your new employer based on your status as a new employee. After this one-time new hire open enrollment, you will have an annual open enrollment period where you will have the opportunity to make plan changes or drop coverage.  Outside of this open enrollment period, you will only be allowed to make changes to your enrollment if you experience certain qualifying life events (QLE) such as marriage, birth, adoption, or other qualifying events.
    <br><br/>
    <b>To See Plan Options and Enroll: </b>
    <br/>
    To complete the application process, please follow the steps below. You can also use our <b>Employee guide to enrolling</b> for help with this process. You can find this guide in our online <%= link_to_site_business_resource_center %>.
    <br/>
    <table class="total_table" border="0">
      <tbody>
        <tr>
          <td>
            <ul>
            <li style="margin-top: 0px;">
              Go to <%= site_website_address %>
            </li>
            <li style="margin-top: 5px;">
              Log-in or create an account as an employee
            </li>
            <li style="margin-top: 5px;">
              If necessary, update your household information add any dependents
            </li>
            <li style="margin-top: 5px;">
              Make your plan selection(s) or waive coverage
            </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <i>Note</i>: If you have other insurance coverage and do not wish to enroll into the plan(s) offered to you by <b><%= census_employee.employer_profile.legal_name %></b> at this time, you must still apply to “waive” coverage. Instructions for how to waive coverage are included in our <b>Employee guide to waiving coverage</b>, also available in the <%= link_to_site_business_resource_center %>.
    <h2 style="color: <%= EnrollRegistry[:qle_carousel].settings(:color).item %>">
      For Questions or Assistance:
    </h2>
    Please contact your broker for further assistance. You can also contact the <%= site_short_name %> with any questions:
    <br/>
    <ul style="list-style-type:circle">
      <li>By calling <%= contact_center_phone_number %>. TTY: <%=contact_center_tty_number%></li>
      <li>By email: <%= mail_to "#{small_businesss_email}", "#{small_businesss_email}", target: "_blank", rel: 'noopener noreferrer' %></li>
    </ul>
    <br/>
    You can also find more information on our website at <%= site_website_address %>
    <br/>
    <% broker = census_employee.employer_profile.broker_agency_profile%>
    <% location = broker.primary_office_location if broker.present? %>
    <% if broker.present? && broker.primary_broker_role.person.present? && location.present? %>
      <table style="width: 100%">
        <tr>
          <td style="width: 15%"><strong>Broker:&nbsp;&nbsp;</strong></td>
          <td style="width: 85%"><%= broker.primary_broker_role.person.full_name.titleize if broker.primary_broker_role.present?%></td>
        </tr>
        <tr>
          <td style="width: 15%"></td>
          <td style="width: 85%"><%= broker.organization.legal_name.titleize %></td>
        </tr>
        <tr>
          <td style="width: 15%"></td>
          <td style="width: 85%"><%= location.try(:phone) %></td>
        </tr>
        <tr>
          <td style="width: 15%"></td>
          <td style="width: 85%"><%= location.try(:email) %></td>
        </tr>
        <tr>
          <td style="width: 15%"></td>
          <td style="width: 85%"></td>
        </tr>
        <tr>
          <td style="width: 15%"></td>
          <td style="width: 85%"></td>
        </tr>
      </table>
    <% end %>
    <br/>
    This notice is being provided in accordance with 45 CFR 155.725.
  </div>
</body>
</html>
<br><br>
<%= render "user_mailer/shared/taglines" %>
<br><br>
<%= render "user_mailer/shared/non_discrimination" %>
