<html>
<body>
<p>Dear <%= person.first_name.capitalize %> <%= person.last_name.capitalize %>:</p>
<p>It's time to choose health coverage that's right for you. <a href="<%= Settings.site.login_url %>", target= "_blank"><%= Settings.site.login_message %></a> now to review your plan options and enroll. Remember, there's limited time to enroll in a plan.</p>
<p>Have questions? Call us at <%= Settings.contact_center.psi_number %>. If you need additional help choosing a plan that's best for you, you can get free help from a <a href= "<%= Settings.site.trained_expert_url %>">trained expert</a>.</p>
<p><%= Settings.site.short_name %></p>
</body>
</html>
