<html>
<body>
Dear <%= census_employee.full_name.humanize.titleize %>,
<br/>
<br/>
<div>
  Congratulations! <%= census_employee.employer_profile.legal_name %>, has chosen to renew the offer of health insurance coverage
  to its employees through <%= Settings.site.short_name %> and will contribute to the monthly premium to make the cost of coverage more affordable.
</div>
<br/>
<div>
  <b>
    You Are Able to Change Your Plan Selection during Open Enrollment
  </b>
  <br/>
  Depending on the plans offered to you by your employer, you may or may not be able to automatically renew your coverage.
  If you are eligible to auto renew into coverage, the enrollment in your account will appear as “Auto Renewing”.
  To review your coverage options through DC Health Link, you must access your online account to complete your plan selection
  for enrollment by <%= census_employee.renewal_benefit_group_assignment.plan_year.open_enrollment_end_on.to_formatted_s %>
  for coverage effective <%= census_employee.renewal_benefit_group_assignment.plan_year.start_on.to_date.to_formatted_s %> .
  If you no longer wish to receive coverage through <%= census_employee.employer_profile.legal_name %>
  you will need to access your <%= Settings.site.short_name %> account and waive coverage for the upcoming plan year.
  Please go to <a href="<%= Settings.site.home_url %>">DC Health Link</a> to create an account or login to your existing account to view your plan options and complete the enrollment process.
  <br/>
  <br/>
  <b>
    What is Open Enrollment?
  </b>
  <br/>
  Open enrollment is your annual opportunity to enroll in health plans offered by your employer or make changes to your current plan selection.
  Outside of this annual open enrollment period, you will only be allowed to make changes to your enrollment
  if you experience certain life events such as marriage, birth, or adoption.
  <br/>
  <br/>
  <h2 style="color: #007bc4;">
    For Questions or Assistance:
  </h2>
  You can contact DC Health Link with any questions:
  <br/>
  <ul style="list-style-type:circle">
    <li>By calling 855-532-5465;</li>
    <li>Online at <a href="<%= Settings.site.home_url %>">DC Health Link</a>; or</li>
    <li>By email at employer.hbx@dc.gov.</li>
  </ul>
</div>
</body>
</html>