<div style='width: 400px; margin-left: 50px'>
  <img src="<%= asset_path( Settings.site.mailer_logo_file_name ) %>" style='margin-left: 140px; margin-top:30px; width: 200px; margin-bottom:30px;' title=<%= "#{site_short_name}" %>/>
<p>
Congratulations <%= @person.first_name + ' ' + @person.last_name%>,
</p>
<p>
You're successfully enrolled in <%= @plan.title %>.
</p>

<% if @market_kind != 'individual' %>
<p>
  Your monthly premium contribution is <b><%= ActionView::Base.new.number_to_currency @member_group.group_enrollment.employee_cost_total %>.</b><br>
  Your employer contributes <b><%= ActionView::Base.new.number_to_currency @member_group.group_enrollment.sponsor_contribution_total %></b> towards your monthly premium.<br>
  Your coverage start date is <b><%= @enrollment.effective_on.strftime("%m/%d/%Y") %>.</b>
</p>
<p>
  Thank you for enrolling into employer-sponsored coverage through <%= site_short_name %>.
</p>
<% else %>
<p>
  <% if @enrollment.applied_aptc_amount.to_f > 0 %>
  Your monthly total family premium is <b><%= ActionView::Base.new.number_to_currency(@plan.total_premium.to_f) %>.</b><br>
  Your Advanced Premium Tax Credit is <b><%= ActionView::Base.new.number_to_currency(@enrollment.applied_aptc_amount.to_f) %>.</b><br>
  <% end %>
  Your monthly cost is <b><%= ActionView::Base.new.number_to_currency(@plan.total_premium.to_f - @enrollment.applied_aptc_amount.to_f) %>.</b><br>
</p>
<p> Your coverage start date is:
  <b><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></b>
</p>
<p>Thank you for your order. </p>
<% end %>

<%= site_short_name %> <br>
PHONE: <%= contact_center_phone_number %> <% contact_center_alt_phone_number %><br>
TTY/TDD 711-1-532-5465<br>
Monday-Saturday 8:00am - 8:00pm <br>
E-Mail: <%= contact_center_email_address %>
<br>
<br>
<a href="https://www.facebook.com/pages/DC-Health-Benefit-Exchange/254860577970621" target="_blank" title="click to visit us on facebook">
<img src="http://cdn.filnetinc.com/img/36px_facebook.png" style="height:23px" alt="spacer" />
</a>
<a href="https://twitter.com/DCHealthLink" target="_blank" title="click to visit us on twitter">
	<img src="http://cdn.filnetinc.com/img/36px_twitter.png"  style="height:23px" alt="spacer" />
</a>
<a href="http://www.youtube.com/channel/UCb0vgdZ2ZuGK1xFjauVkMsg" target="_blank" title="click to visit us on youtube"><img src="http://cdn.filnetinc.com/img/36px_youtube.png"  style="height:23px" alt="spacer" />
</a>
<br><br>
<p style='font-size: 70%'>
	Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only. Generic disclaimer on this message is for intended recipients only.
</p>
</div>
