<% if @enrollment.is_shop? %>
  <div style='width: 400px; margin-left: 50px'>
    <p>
      <%= @person&.first_name %>,<br/><br/>

      This confirms that you're enrolled in the <b><%= @plan&.title %></b> plan offered by your employer.<br/><br/>

      Your monthly premium contribution is <b><%= number_to_currency(@member_group.group_enrollment.employee_cost_total) %>.</b> Your employer contributes <b><%= number_to_currency(@member_group.group_enrollment.sponsor_contribution_total) %></b> towards your monthly premium.</p><br/>

      Your coverage start date is <b><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></b>.<br/><br/>

      Thank you for enrolling in coverage through <%= EnrollRegistry[:enroll_app].setting(:short_name).item %>.<br/><br/>

      <%= EnrollRegistry[:enroll_app].setting(:short_name).item %><br/>
      <%= EnrollRegistry[:enroll_app].setting(:contact_center_short_number).item %><br/>
      TTY: <%= Settings.contact_center.tty %><br/>
    </p>
  </div>
<% else %>
  <div style='width: 400px; margin-left: 50px'>
    <p>
      <%= @person&.first_name %>,<br/><br/>

      This confirms enrollment in <b><%= @plan&.title %></b> through the Individual & Family marketplace.<br/><br/>

      Your monthly premium payment is <b><%= number_to_currency(@plan.total_premium.to_f - @enrollment.applied_aptc_amount.to_f) %></b>.</br><br/>

      The coverage start date is <b><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></b>.<br/><br/>

      You need to make your first monthly premium payment directly to your insurance company to activate your plan. You should receive a bill from your insurance company soon that tells you how to pay and your payment deadline. If you haven’t received a bill in 7-10 days, call your insurance company right away so you don’t miss the deadline and lose your coverage.<br/><br/>

      Thank you for enrolling in coverage through <%= EnrollRegistry[:enroll_app].setting(:short_name).item %>.<br/><br/>

      <%= EnrollRegistry[:enroll_app].setting(:short_name).item %><br/>
      <%= EnrollRegistry[:enroll_app].setting(:contact_center_short_number).item %><br/>
      TTY: <%= Settings.contact_center.tty %><br/>
    </p>
  </div>
<% end %>
