<%if @errors && @errors.any? %>
  <div class='alert alert-error'><a class='close' data-dismiss='alert'>x</a>
    <%@errors.each do |err|%>
      <li><%= err[0].to_s == "oim_id" ? "Username" : "Email" %> <%= err[1][0] %></li>
    <%end%>
  </div>
<%end%>

<%= form_tag(user_account_confirm_reset_password_path(user_id: @user_id, account_id: @account_id), method: :put, id: "changePasswordForm", class:"form-horizontal", remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="row" style="padding-left: 150px;">
    <div class="form-group col-sm-5">
      <label for="inputNewPassword" class="col-form-label">New Password</label>
      <%= text_field_tag :new_password, nil, {class:"form-control", id:'inputNewPassword'} %>
      <%= hidden_field :family_actions_id, :value => "family_actions_#{@user_id.to_s}" %>
      <span class="help-block password-block hidden"></span>
    </div>
  </div>
  <br />
  <br />
  <div class="row" style="padding-left: 150px;">
    <div class="col-sm-1 col-sm-offset-4">
      <%= button_tag "Reset", class:'btn btn-info', id: 'resetPasswordFields' %>
    </div>
    <div class="col-sm-1">
      <%= submit_tag "Submit", class:'btn btn-primary', data: {confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var resetButton = document.getElementById('resetPasswordFields');
        resetButton.addEventListener('click', function(event){
            event.preventDefault();
            document.getElementById('inputNewPassword').value="";
        });
    });
</script>