<%if @errors && @errors.any? %>
  <div class='alert alert-error'><a class='close' data-dismiss='alert'>x</a>
    <%@errors.each do |err|%>
      <li><%= err[0].to_s == "oim_id" ? "Username" : "Email" %> <%= err[1][0] %></li>
    <%end%>
  </div>
<%end%>

<h3 class="text-center">Reset Password</h3>

<%= form_tag(user_account_confirm_reset_password_path(user_id: @user_id, account_id: @account_id), method: :put, id: "changePasswordForm", class:"form-horizontal", remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="row" style="padding-left: 150px;">
    <div class="col-sm-5 col-sm-offset-3">
      <label for="inputNewPassword" class="col-form-label">New Password</label>
      <%= text_field_tag :new_password, nil, {class:"form-control", id:'inputNewPassword'} %>
      <%= hidden_field :family_actions_id, :value => "family_actions_#{@user_id.to_s}" %>
      <span class="help-block password-block hidden"></span>
    </div>
  </div>
  <br />
  <br />
  <div class="row" style="padding-left: 150px;">
    <div class="col-sm-1 col-sm-offset-4">
      <a class='btn btn-info' id='cancelReset'>Cancel</a>
    </div>
    <div class="col-sm-1">
      <%= submit_tag "Submit", class:'btn btn-primary', data: {confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  document.querySelector('#cancelReset').addEventListener('click', function(e) {
    e.preventDefault();
    e.currentTarget.closest('.child-row').remove();
  })
</script>

