<div class="container">
  <% if  @username_taken.blank? && @email_taken.blank? %>
    <h4 class="title text-center">User Account Updated Successfully</h4>
    <table class="table table-border">
      <thead></thead>
      <tbody>
      <tr>
        <td>
          <h5><b>First Name:</b> <%= @account[:first_name] %></h5>
        </td>
        <td>
          <h5><b>Last Name:</b> <%= @account[:last_name] %></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5><b>Username:</b> <%= @account[:user_name] %></h5>
        </td>
        <td>
          <h5><b>User_Email:</b> <%= @account[:email] %></h5>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  <%else%>
    <h3 class="title text-center">User Account Update Failed</h3>
    <% if @username_taken.present? %>
      <h4>The username matches with the following user:</h4>
      First Name :<b><%= @username_taken[:first_name] %></b> <br />
      Last Name:  <b><%= @username_taken[:last_name] %></b>  <br />
      Email:     <b><%= @username_taken[:email] %></b>     <br />
    <% end %>
    <% if @email_taken.present? %>
      <h4>The email matches with the following user:</h4>
      First Name :<b><%= @email_taken[:first_name] %></b> <br />
      Last Name:  <b><%= @email_taken[:last_name] %></b>  <br />
      Username:     <b><%= @email_taken[:username] %></b>     <br />
    <% end %>
    <h5>Please resolve the match issue.</h5>
  <%end%>
</div>