<!-- Plan first row start -->
<div class="plan-row">
	<div class="row">
		<div class="col-md-8 col-sm-9 col-xs-12">
			<p>
			<span><%= plan.name %></span>
			</p>
			<p><%= (Caches::MongoidCache.lookup(CarrierProfile, plan.carrier_profile_id) { plan.carrier_profile} ).dba %></p>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-6">
			<label>
			<input type="checkbox" class="select-plan-for-comparison" data-hios-id="<%= plan.hios_id %>" data-plan-year="<%= plan.active_year %>"></input>Compare
			</label>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-6">
			<h2><%= number_to_currency(plan.total_employee_cost) %></h2>
			<p>monthly</p>
		</div>
	</div><!-- Plan first row end -->
	<!-- Plan details row start -->
	<div class="row plan-details">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
					<p>Type</p>
					<strong><%= plan.plan_type ? plan.plan_type.upcase : ""%></strong>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
					<p>Level</p>
					<strong><%= plan.metal_level.humanize %></strong>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 no-pd">
					<p>Network</p>
					<strong><%= plan.nationwide ? "Nationwide" : "DC Area Network" %></strong>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 no-pd">
					<p>Deductible</p>
					<strong><%= plan.deductible %></strong>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-12"></div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<%= link_to "Details", summary_products_plans_path({:standard_component_id => plan.hios_id}), {:class => "btn btn-default details-btn", :remote => true} %>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<%= link_to("Select", 
															checkout_plan_shopping_path({:id => @person.id, :plan_id => plan.id, :organization_id => params[:organization_id]}),
															{:class => "btn btn-primary select-btn", :method => :post}) %>
		</div>
	</div>
</div><!-- Plan details row end -->
