<div class="employee-welocome col-md-12">
  <div class="row welcome-msg">
    <div class="col-md-9 col-sm-11 col-xs-12 no-pd">
      <div class="row text-center" style='padding:20px;'>
        <div class="col-md-12 col-sm-12 no-pd col-xs-12 text-left">
          <h3><strong>Confirm Your Selection</strong></h3>
          <%= @enrollment.subscriber.family_member.person.full_name %>
          ,<br />
          <span>You and the following dependents have successfully enrolled in</span>
          <span style="color: rgb(51, 51, 51); line-height: 130%;">
            <%= @plan.name %><br /><br />
          </span>

          <table class="table table-bordered" style="max-width:900px;">
            <thead>
              <tr style='border-bottom:1px solid #ddd;'>
                <th>name</th>
                <th>gender</th>
                <th>birthday</th>
                <th>cost</th>
              </tr>
            </thead>
            <tbody>
              <% total_cost = 0 %>
              <% @enrollment.hbx_enrollment_members.each do |member| %>
                <tr style='border-bottom:1px solid #ddd;'>
                  <td><%= member.person.full_name %></td>
                  <td><%= member.person.try(:gender) %></td>
                  <td><%= member.person.try(:dob).strftime("%m/%d/%Y") %></td>
                  <td><%= number_to_currency(@plan.premium_for(member)) %></td>
                  <% total_cost += @plan.premium_for(member) %>
                </tr>
              <% end %>
              <tr>
                <td colspan='3' style='text-align: center;'>total</td>
                <td><%= number_to_currency(total_cost) %></td>
              </tr>
            </tbody>
          </table>

          <table class='table' style='width:450px;'>
            <tr>
              <td>Additionally your employer pays</td>
              <td><%= number_to_currency(@plan.total_employer_contribution) %></td>
            </tr>
            <tr>
              <td>Your coverage start date</td>
              <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
            </tr>
            <tr style='font-size:20px'>
              <td><strong>You pay</strong></td>
              <td><strong>
                <%= number_to_currency(@plan.total_employee_cost || 0) %>
              </strong></td>
            </tr>
          </table>

          <span style="font-size: 14px; line-height: 130%;">
            DC Health
            Link<br />
            PHONE:
            855-532-5465
            (855-532-LINK)<br />

            TTY/TDD
            711-1-532-5465<br />

            Monday-Saturday
            8:00am -
            8:00pm<br />
            E-Mail:
            info@dchealthlink.com</span><br />
          </span><br />
          <span style=
            "font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); line-height: 130%;">
          </span>
        </div>
        <%= link_to "Continue", home_consumer_profiles_path, :class => "btn btn-green btn-continue" %>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right" id="key-section">
	    <%= link_to "Save & Exit", home_consumer_profiles_path(@person), { :class => "btn btn-save" } %>
            <div style="display: none;" id="sup-progress" data-signup-progress="8"></div>
	    <input type="hidden" id="initial_progress" value="85">
	    <%= render 'shared/signup_progress' %>
    </div>
  </div>
</div>
