<div class="container">
  <div class="employee-welocome">
    <div class="col-md-9 col-sm-11 col-xs-12">
      <div class="col-md-12 col-sm-12 no-pd col-xs-12">

          <h3><strong>Confirm Your Selection</strong></h3>
          <h4>Below is your current plan selection.  Clicking confirm will enroll you and your family.</h4>
          <h4>You will not be enrolled until you confirm your plan selection.</h4>
          <h4><%= @plan.name %></h4>
          <h4>Starting on: <%= @enrollment.effective_on.strftime("%m/%d/%Y") %></h4>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Premium</th>
              </tr>
            </thead>

            <tbody>
              <% total_cost = 0 %>
              <% @enrollment.hbx_enrollment_members.each do |member| %>
                <tr>
                  <td><%= member.person.full_name %></td>
                  <td><%= member.person.try(:gender) %></td>
                  <td><%= member.person.try(:dob).strftime("%m/%d/%Y") %></td>
                  <td><%= number_to_currency(@plan.premium_for(member)) %></td>
                  <% total_cost += @plan.premium_for(member) %>
                </tr>
              <% end %>
              <tr>
                <td colspan='3' style='text-align: center;'>Total</td>
                <td><%= number_to_currency(total_cost) %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class='table table-striped'>
          <tr>
            <td>Additionally your employer pays</td>
            <td><%= number_to_currency(@plan.total_employer_contribution) %></td>
          </tr>
          <tr>
            <td>Your coverage start date</td>
            <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
          </tr>
          <tr style='font-size:20px'>
            <td><strong>You pay</strong></td>
            <td><strong>
              <%= number_to_currency(@plan.total_employee_cost || 0) %>
            </strong></td>
          </tr>
        </table>

        <span style="font-size: 14px; line-height: 130%;">
          DC Health Link<br />
          PHONE: 855-532-5465 (855-532-LINK)<br />
          TTY/TDD 711-1-532-5465<br />
          Monday-Saturday 8:00am - 8:00pm<br />
          E-Mail: info@dchealthlink.com</span><br />
        </span><br />
        <%= link_to "Confirm", checkout_plan_shopping_path(:hbx_enrollment_id => @enrollment.id, :plan_id => @plan.id), :class => "btn btn-success btn-continue", :method => :post %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right" id="key-section">
	    <%= link_to "Save & Exit", home_consumer_profiles_path(@person), { :class => "btn btn-primary" } %>
            <div style="display: none;" id="sup-progress" data-signup-progress="8"></div>
	    <input type="hidden" id="initial_progress" value="85">
	    <%= render 'shared/signup_progress' %>
    </div>
  </div>
</div><br>