<div class="container">
  <div class="employee-welocome">
    <div class="col-md-9 col-sm-11 col-xs-12">
      <div class="col-md-12 col-sm-12 no-pd col-xs-12">
        <h1><small>Thank you</small> <%= @enrollment.subscriber.family_member.person.full_name.strip %>,</h1>
        <p>You and the following dependents have successfully enrolled in <strong><%= @plan.name %></strong></p>

        <div class="table-responsive table-border">
          <table class="table table-wrapper table-condensed">
            <tbody>
              <% @enrollment.hbx_enrollment_members.each do |member| %>
                <tr>
                  <th><%= member.person.full_name %></th>
                  <td><%= number_to_currency(@plan.premium_for(member)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <h5 class="detail-enrolled">
          <p>
            Your monthly total family premium, which will be deducted by your employer from your pay is:
            <strong><%=number_to_currency(@plan.total_employee_cost || 0) %></strong>
          </p>

          <p>
            Additionally your employer pays
            <strong>
              <%= number_to_currency(@plan.total_employer_contribution) %>
            </strong>
          </p>

          <p>
            Your coverage start date is:
            <strong>
              <%= @enrollment.effective_on.strftime("%m/%d/%Y") %>
            </strong>
          </p>
        </h5>

        <br>
        <p><strong>Thank you for your order.</strong></p><br>
        <p><strong>DC Health Link<br />
          PHONE: 855-532-5465, (855-532-LINK)<br />
          TTY/TDD 711-1-532-5465<br />
          Monday-Saturday 8:00am - 8:00pm<br />
          E-Mail: info@dchealthlink.com
        </strong></p>
      </div>
      <%= link_to "Continue", person_person_landing_path(@person), :class => "btn btn-success btn-continue" %>
    </div>
  </div>
</div>