<li id="add_member_list_<%= dependent.id %>" class="dependent_list">
  <div id="add_info_<%= dependent.id %>" class="focus_effect personal-info-row">
    <%= form_for dependent, :remote => true, method: :post,:url => {action: "save_dependents"} do |f| %>
      <div class="house col-md-12 col-sm-12 col-xs-12 no-pd first">
        <div class="dependent_notice_div_<%= dependent.id%>"></div>
          <div class="row top-row top-row-2">
              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :first_name, value: dependent.first_name,class: "home required floatlabel form-control", required: true, placeholder: "FIRST NAME", autocomplete: :off %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :middle_name, value: dependent.middle_name, class: "home floatlabel form-control", placeholder: "MIDDLE NAME", autocomplete: :off %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :last_name, value: dependent.last_name ,class: "home required floatlabel form-control", required: true, placeholder: "LAST NAME", autocomplete: :off %>
                    <div class="text-right">
                      <% remove_url = remove_dependents_people_path(id: dependent.id, person_id: person.id, organization_id: employer) %>
                      <% if dependent.new_record? %>
                        <%= hidden_field_tag 'family_member_remove_url', remove_url %>
                        <%= link_to (image_tag "member-close.png"), 'javascript:;', class: 'close close-1', method: :delete, remote: true,  data: {ok: 'yes', cancel: 'no'} %>
                      <% else %>
                        <%= link_to (image_tag "member-close.png"), remove_url, class: 'close close-2', :method => :delete, :remote => true, data: {confirm: "Remove #{dependent.full_name}?", ok: 'yes', cancel: 'no'} %>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>

            <div class="row bottom-row top-row-2">
              <div class="col-md-3 col-sm-3 no-pd">
                <div class="form-group form-group-lg">
                  <%= datepicker_control f, :dob, {:class => "floatlabel form-control home", :placeholder => "DATE OF BIRTH",
                                                   :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy',required: true, value: dependent.dob.try(:strftime, "%m/%d/%Y"), id: "family_member_dob_#{dependent.id}"} %>
                </div>
              </div>

              <div class="col-md-3 col-sm-3 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :ssn, value: dependent.ssn,class: "home required floatlabel form-control mask-ssn", required: true, placeholder: "SOCIAL SECURITY" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-2 no-pd">
                <div class="form-group form-group-lg">
                  <%= f.text_field :primary_relationship, class: "required home floatlabel form-control", required: true, placeholder: "RELATION" %>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 no-pd">
                <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                  <div class="radio">
                      <%= f.radio_button :gender, "male", checked: false, class: "required floatlabel" %>
                      <label for="radio_male"><span>Male</span></label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                  <div class="radio">
                    <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
                    <label for="radio_female"><span>Female</span></label>
                  </div>
                </div>
              </div>
            </div>

            <%= f.hidden_field :id, :value => dependent.id %>
            <%= hidden_field_tag :person, :id, value: person.id %>
            <%= hidden_field_tag :employer, :id, value: employer.id %>
            <%= hidden_field_tag :employee, :id, value: employee.id %>
          <div id="remove_confirm" class="hidden"></div>
        </div>

        <div class="clearfix"></div>
        <div id="add_info_buttons_<%= dependent.id %>" class="hidden" style="padding-top: 20px;">
          <%= link_to "Cancel", 'javascript:void(0)', class: 'btn btn-danger', id: 'cancel_member' %>
          <%= f.submit 'Confirm Member', class: "btn btn-success pull-right"  %>
        </div>
      <% end %>
  </div>
  <script>
     Freebies.floatlabels();
  </script>
</li>
