<li class="add_member_list" style="padding: 0;border-radius: 0;border: none;margin-bottom: 20px;">
<div id="add_info" class=" focus_effect row personaol-info-row">
  <div id="add_info_clone0">
	<div class="house col-md-10 col-sm-9 col-xs-12 no-pd first">
	  <div class="dependent_notice_div_<%= dependent.id%>"></div>
		<%= form_for dependent, :remote => true, method: :post,:url => {action: "save_dependents"} do |f| %>
			<div class="row top-row top-row-2">
			    <div class="col-md-4 col-sm-4 no-pd">
			      <div class="form-group form-group-lg">
			          <%= f.text_field :first_name, value: dependent.first_name,class: "home floatlabel form-control", required: true, placeholder: "FIRST NAME" %>
			      </div>
			    </div>
			    
			    <div class="col-md-4 col-sm-4 no-pd">
			      <div class="form-group form-group-lg">
			          <%= f.text_field :middle_name, value: dependent.middle_name, class: "home floatlabel form-control", placeholder: "MIDDLE NAME"%>
			      </div>
			    </div>
			    
			    <div class="col-md-4 col-sm-4 no-pd">
			      <div class="form-group form-group-lg">
			          <%= f.text_field :last_name, value: dependent.last_name ,class: "home floatlabel form-control", required: true, placeholder: "LAST NAME" %>
			          <div class="text-right">
			      		<% remove_url = remove_dependents_people_path(id: dependent.id, person_id: person.id, organization_id: employer) %>
						<%= link_to (image_tag "member-close.png"), remove_url, class: 'close-2', :method => :delete, :remote => true %>
	                  </div>
			      </div>
			    </div>
		  	</div>
	
		  	<div class="row top-row top-row-2">
			    <div class="col-md-3 col-sm-3 no-pd">
			      <div class="form-group form-group-lg">
			          <%= f.text_field :dob, class: "required date_picker home floatlabel form-control", required: true, value: f.object.dob.try(:strftime, "%m/%d/%Y"), placeholder: "DATE OF BIRTH" %>
			      </div>
			    </div>
			    
			    <div class="col-md-3 col-sm-3 no-pd">
			      <div class="form-group form-group-lg">
			          <%= f.text_field :ssn, value: dependent.ssn,class: "home floatlabel form-control", required: true, placeholder: "SOCIAL SECURITY" %>
			      </div>
			    </div>
			    
			    <div class="col-md-3 col-sm-3 no-pd">
			      <div class="form-group form-group-lg">
			      	<%= f.text_field :employee_relationship, class: "required home floatlabel form-control", required: true, placeholder: "RELATION" %>
			      </div>
			    </div>
			    
			    <div class="col-md-3 col-sm-3 no-pd">
			      <div class="form-group form-group-lg">
			      	<%= f.text_field :gender, class: "required home floatlabel form-control", required: true, placeholder: "GENDER" %>
			      </div>
			    </div>
		  	</div>
		  	
		  	<%= f.hidden_field :id, :value => dependent.id %>
			<%= hidden_field_tag :person, :id, value: person.id %>
			<%= hidden_field_tag :employer, :id, value: employer.id %>
			<%= hidden_field_tag :employee, :id, value: employee.id %>
		<% end %>
	  </div>
	</div>
</div>
</li>


<!-- <div class="row top-row top-row-2">
	  		<%#= f.hidden_field :id, :value => dependent.id %>
			<%#= hidden_field_tag :person, :id, value: person.id %>
			<%#= hidden_field_tag :employer, :id, value: employer.id %>
			<%#= hidden_field_tag :employee, :id, value: employee.id %>
      
	  		<%#= image_submit_tag("check.png") %>
	  		
	  		<div class="pull-right">
				<%# remove_url = remove_dependents_people_path(id: dependent.id, person_id: person.id, organization_id: employer) %>
				<%#= link_to (image_tag "delete.png",style: "margin-top:13px;"), remove_url, style: "background-color:white !important;", :method => :delete, :remote => true %>
			</div>
	  	</div> -->
