<div class="col-md-10 col-sm-12">

  <div class="col-md-9 col-sm-9 col-xs-12 no-pd">

    <%# if action_name == 'show' && !@employer_profile.nil? %>
      <%# organization = @employer_profile.organization unless @employer_profile  %>
      <%# employee = organization.employee_family_details(@person) %>
      <%# if employee.census_dependents.present? %>
        <%# url = dependent_details_people_path(person_id: @person.id, organization_id: organization.id) %>
      <%# end %>
      <%#= link_to 'Dependent Info', url %>
    <%# end %>

    <div class="hidden"> 
    <% f.hidden_field :employee_role_id %>
    <% f.hidden_field :census_family_id %>
    <%= f.fields_for :employee_roles do |er| %>
      <%= er.hidden_field :id %>
      <%= er.hidden_field :employer_profile_id %>
      <%= er.hidden_field :census_family_id %>
      <%= er.hidden_field :benefit_group_id %>
      <%= er.hidden_field :hired_on %>
      <%= er.hidden_field :terminated_on %>
    <% end %>
    </div>
  	<%= render 'shared/error_messages' %>
  	<%= render 'shared/person_search_fields', f: f %>
  	
  	<%= render 'people/no_results' %>

   <div id="employer-info" class="row hidden"></div>

    <%= render 'shared/address_fields', f: f %><br>
    <%= render 'shared/phone_fields', f: f %><br>

    <div id="email_info" class="focus_effect row personal-info-row">
      <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
        <%= render 'shared/email_fields', f: email %>
      <% end %>
      <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
    </div>

    <div class="focus_effect row personal-info-row">
		<div class="col-md-10 col-sm-9 no-pd"></div>
		<div class="col-md-2 col-sm-3 no-pd">
			<%= f.submit "Continue", :class => "btn disable-btn search_continue disabled", :id => "continue-employer" %>
		</div>
    </div>

    <div class="clear-fix"></div>
    
    <%= render 'people/employer_search' %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right hidden" id="key-section">
      <%= f.submit "Save & Exit", class: 'btn btn-save' %>
      <%= render 'shared/signup_progress' %>
  </div>
</div>
