  <div class="container-fluid no-pd-left">
    <div class="panel panel-default">
      <div class="panel-body left">

		<%= render 'people/sidebar' %>

        <div class="col-md-10 col-sm-12">

          <%= render 'welcome_msg' %>

          <div class="col-md-11 col-sm-12 col-xs-12">
          	<%= render 'shared/error_messages' %>
          	<%= render 'shared/person_search_fields', f: f %>
          	
          	<%= render 'people/no_results' %>

			<div id="employer-info" class="row hidden"></div>
			
            <%= render 'shared/address_fields', f: f %><br>
            <%= render 'shared/phone_fields', f: f %><br>

            <div id="email_info" class="focus_effect row personaol-info-row">
              <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
                <%= render 'shared/email_fields', f: email %>
              <% end %>
              <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
            </div>

            <div class="focus_effect row personaol-info-row">
				<div class="col-md-10 col-sm-9 no-pd"></div>
				<div class="col-md-2 col-sm-3 no-pd">
					<%= f.submit "Continue", class: 'btn disable-btn search_continue hidden' %>
					<!-- <a href="#" data-method="POST" id="continue-employer" class="btn disable-btn search_continue hidden">Continue</a> -->
				</div>
            </div>

            <div class="clear-fix"></div>
            <div class="col-md-2 col-md-offset-10 key no-pd-right col-sm-3 col-xs-12 hidden" id="key-section">
				<a href="#" class="btn btn-save">Save & Exit</a>
            	<%= render 'shared/signup_progress' %>
            </div>

            <%= render 'employer_search' %>
          </div>
        </div>
      </div>
    </div>
  </div>
