<style>
.notice {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
}
</style>

<div class="container-fluid no-pd-left" id="dependents_info">
  <div class="panel panel-default">
    <div class="panel-body left">
      <div class="col-sm-2 left-pd" id="sidebar_partial_value">
        <div class="sidebar list-group text-center" >
          <div id="dependents_sidebar">
            <a href="#" class="personal_info list-group-item name hide">
            Employer Information
            </a>
            <a href="#" class="list-group-item name" style="display:none">
            Employee Information
            </a> 
            <a href="#" class="list-group-item name" >
            Dependents Information
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-12">
        <a href="<%= person_landing_people_path(organization_id: params[:organization_id], person_id: params[:person_id])  %>" data-method="POST"> Landing Page</a>
        &nbsp;&nbsp;
        <a href="<%= plan_details_people_path(person_id: params[:person_id], organization_id: params[:organization_id])%>" data-method="POST"> Plan Details</a>
      </div>
      
      <div class="col-md-10 col-sm-12 hide">
        <p class="information row" style="opacity: 1;"> Employer Information</p>
        <div class="col-md-10 no-pd col-sm-12 col-xs-12 first">
          <h4><%= @employer.legal_name%></h4>
        </div>
      </div>
      <div class="col-md-10 col-sm-12" style="display:none">
        <p class="information row" style="opacity: 1;"> Employee Information</p>
        
        <div class="col-md-10 no-pd col-sm-12 col-xs-12 first">
          <div class="row top-row form-group form-group-lg no-pd">
            <div class="col-md-5 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <div class="form-group">
              <label>First Name</label>
              <input type="text" value="<%= @employee.first_name %>" class="form-control" >
            </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <div class="form-group">
             <label>M.I</label>
             <input type="text" value="<%= @employee.middle_name %>" class="form-control" >
            </div>
          </div>
            <div class="col-md-5 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
              <div class="form-group">
              <label>Last Name</label>
              <input type="text" value="<%= @employee.last_name %>" class="form-control" >
            </div>
          </div>
          </div>
          <div class="row middle-row form-group form-group-lg no-pd address-row">
            <div class="col-md-4 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <label>SSN</label>
              <input type="text" value="<%= @employee.ssn %>" class="form-control" >
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
             <label>DOB</label>
            <input type="text" value="<%= @employee.dob %>" class="form-control" >
            </div>
            <div class="col-md-4 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
              <label>Gender</label>
              <input type="text" value="<%= @employee.gender %>" class="form-control" >
            </div>
          </div>
          
          <div class="row middle-row form-group form-group-lg no-pd address-row">
            <div class="col-md-6 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <label>Email</label>
              <input type="text" value="<%= @employee.email %>" class="form-control" >
            </div>
            <div class="col-md-6 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
              <label>Phone</label>
            </div>
          </div>
          <% address = @employee.address %>
          <div class="row middle-row form-group form-group-lg no-pd address-row">
            <div class="col-md-6 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <label>Address</label>
              <input type="text" value="<%= address.address_1 %>" class="form-control" >
            </div>
            <div class="col-md-6 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
              <label>Address2</label>
              <input type="text" value="<%= address.address_2 %>" class="form-control" >
            </div>
          </div>
          
              <div class="row middle-row form-group form-group-lg no-pd address-row">
            <div class="col-md-6 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
              <label>City</label>
              <input type="text" value="<%= address.city %>" class="form-control" >
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
             <label>State</label>
          </div>
            <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
              <label>Zip</label>
              <input type="text" value="<%= address.zip %>" class="form-control" >
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-10 col-sm-12">
      	<div class="col-md-11 col-sm-12 col-xs-12">
      		<p class="information row">Household Information</p>
      		
      		<div id="household_info" class="focus_effect row personaol-info-row" style="opacity: 0.5;">
              <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">
                <div class="row top-row">
				  <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg no-pd">
				    <%= text_field_tag :name, "", class: "required floatlabel form-control", required: true, placeholder: 'NAME' %>
				  </div>
				  <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg no-pd">
				    <%= text_field_tag :relation, "", class: "floatlabel form-control", placeholder: 'RELATION' %>
				  </div>
				</div>
              </div>
            </div><br>
            
            <div class="fail-search add-member <%= 'hidden' if !@employee.employee_family.census_dependents.empty? %>" class="row">
	            <div class="col-md-10 col-sm-9 col-xs-12 no-pd">
	              <div class="panel panel-default">
	                <div class="panel-body member">
	                	<center>
		                  <div class="fail"><span class="bold">Here's your chance to add family members to your plan.</span> Add family members by clicking the "Add Member" button. If you don't need to add more members, or when you are done adding members, click continue.</div>
		                  <br>
		                  <% add_member_url = add_dependents_people_path(person_id: params[:person_id], organization_id: params[:organization_id], employee_id: @employee.id) %>
						  <%= link_to "Add Member", add_member_url, method: :post, class: 'btn btn-blue add_member', :remote => true %>
		                  &nbsp; &nbsp;
		                  <a class="text-center btn btn-save">Continue</a>
		                </center>
	                </div>
	              </div>
				</div>
          	</div>
          	<div class="clear-fix"></div>
          	
			<ul class="" id="dependent_ul">
				<% @employee.employee_family.census_dependents.each do |dependent| %>
					<%= render "dependent", dependent: dependent,employer: @employer,person: @person,employee: @employee %>
				<% end %>
			</ul>
			
			<div id="dependent_buttons" class="focus_effect row personaol-info-row <%= 'hidden' if @employee.employee_family.census_dependents.empty? %>">
				<div class="col-md-10 no-pd col-sm-9 col-xs-12">
					<% add_member_url = add_dependents_people_path(person_id: params[:person_id], organization_id: params[:organization_id], employee_id: @employee.id) %>
					<%= link_to "Add Member", add_member_url, method: :post, class: 'btn btn-blue add_member', :remote => true %>
					
					<a class="text-center btn btn-save pull-right">Continue</a>
				</div>
				
				<div class="col-md-10 no-pd col-sm-9 col-xs-12 last hidden">
					<%= link_to "Cancel", 'javascript:void(0)', class: 'btn btn-red', id: 'cancel_member' %>
					
					<a class="text-center btn btn-save pull-right" id="save_member">Confirm</a>
				</div>
			</div>
		            <!-- <div class="house col-md-10 col-sm-9 col-xs-12 no-pd first house-2">
		              <div class="row top-row top-row-2">
		                <div class="col-md-6 col-sm-6 no-pd">
		                  <div class="form-group form-group-lg">
		                    <input type="text" class="home floatlabel form-control" placeholder="NAME">
		                  </div>  
		                </div>
		                <div class="col-md-6 col-sm-6 no-pd">
		                  <div class="form-group form-group-lg">
		                    <input type="text" class="floatlabel form-control" placeholder="RELATION">
		                    <div class="text-right">
		                      <a class="close-2" href="#"><%= image_tag('member-close.png') %></a>
		                    </div>
		                  </div>  
		                </div>
		              </div>                                            
		            </div>
		            <div class="house col-md-10 col-sm-9 col-xs-12 no-pd first">
		              <div class="row top-row top-row-2">
		                <div class="col-md-6 col-sm-6 no-pd">
		                  <div class="form-group form-group-lg">
		                    <input type="text" class="home floatlabel form-control" placeholder="DATE OF BIRTH">
		                  </div>  
		                </div>
		                <div class="col-md-6 col-sm-6 no-pd">
		                  <div class="form-group form-group-lg">
		                    <input type="text" class="floatlabel form-control" placeholder="SOCIAL SECURITY">
		                  </div>  
		                </div>
		              </div>                                            
		            </div>
		            <div class="margin01"></div> -->
		            
		            <div class="clear-fix"></div>
					<div class="col-md-2 col-md-offset-10 key no-pd-right col-sm-3 col-xs-12" id="key-section">
                      <a href="#" class="btn btn-save">Save & Exit</a>
                      <%= render 'shared/signup_progress' %>
					</div>

      	</div>
      </div>
      
    </div>
  </div>
</div>