<%- model_class = Person -%>

<% content_for :side_nav do %>
  <ul>
    <li>Name<br/>Birtdate<br/>Gender<br/>Social Security</li>
  </ul>
<% end %>

<section>
  <div class="row">
    <div class="col-md-12">
      <nav>
        <%= render 'shared/breadcrumb', crumbs: [
            link_to('People', people_path),
            'New'
          ]
        %>
      </nav>
    </div>
  </div>
</section>



<section>
  <%= form_for(@person) do |f| %>
    <%#= f.hidden_field :family_id %>

    <%= render 'form', f: f %>

    <footer>
      <div class="well well-sm well-default">
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn btn-default' %>
        </div>
      </div>
    </footer>

  <% end %>
</section>

