<%= render 'people/landing_pages/menu' %>

  <div class="panel panel-default">
    <div class="tab-row">
      <div class="tab-content" id="myTabContent">

        <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
          <%= render 'people/landing_pages/home_tab' %>
        </div>

        <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
          <%= render 'people/landing_pages/profile_tab' %>
        </div>

        <div aria-labelledby="plans-tab" id="plans" class="tab-pane fade" role="tabpanel">
          <%= render 'people/landing_pages/coverage_plans' %>
        </div>

        <div aria-labelledby="documents-tab" id="documents" class="tab-pane fade" role="tabpanel">
        </div>

        <div aria-labelledby="messages-tab" id="messages" class="tab-pane fade" role="tabpanel">
        </div>

      </div>
    </div>
  </div>

    <!-- <button class="btn btn-success" data-modal="modal-3">modal</button> -->
    <div class="md-modal md-effect-3" id="modal-3">
      <div class="md-content">
        <h3>
          Life Events
          <img src="<%= asset_path('autofill-close.png') %>" class="md-close">
        </h3>
        <div class="body">
          <input type="text" class="form-control" placeholder="search life events">
          <ul class="modal-links">
            <li class="active"><a href="#">family events</a></li>
            <li><a href="#">job events</a></li>
            <li><a href="#">tax events</a></li>
            <div class="clearfix"></div>
          </ul>
          <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group event-accordion">
            <div class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"We have a new child in the family"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I just got married"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingThree" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseThree" aria-expanded="true" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="">
                    <span>"I changed jobs"</span>
                    <span>add new employer plan</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" aria-expanded="true" style="">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFour" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I got divorced"</span>
                    <span>remove family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFive" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I need to add family members to my plan"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="md-overlay"></div><!-- the overlay element -->

<script>
  $(".adderess-select-box").focusin(function() {
    $(".bg-color").css({
      "background-color": "rgba(220, 234, 241, 1)", 
      "height": "46px", 
    });
  });
      
  $(".adderess-select-box").focusout(function() {
    $(".bg-color").css({
      "background-color": "rgba(255, 255, 255, 1)", 
      "height": "46px", 
    });
  });

  $(document).on("click", ".heading", function(){
    $(this).closest('div').find(".table-responsive").slideToggle("slow");
  });

  $('.md-trigger').click(function(e){
    e.preventDefault();
  });

  $('.event-accordion .panel').click(function () {
    $(this).toggleClass('active');
    $(this).siblings().removeClass('active');
  });

  $(".personal-table input").focusout(function() {
    if ($(".personal-table input").val() !== ""){
      $("#personal_info .save-btn").removeClass("disabled");
      $("#personal_info .vital-information").css("display", "block");
      $(".personal-table tbody tr:first-child td, table.personal-table").removeAttr("style");
    }
  });

  $(".personal-table input").focusin(function() {
    $(".personal-table tbody tr:first-child td, table.personal-table").css("cssText", "border-color: #00a3d9 !important;");
  });

  $(document).on('click', '#family .right-side a.edit', function(){
    $(this).parent().parent(".row").parent(".list-group-item").addClass("edit");
    $("#family_member_"+ $(this).data('id')).attr("style", "border: 2px solid #007bc3 !important");
  });

  $(document).on('click', '#family .right-side a.remove', function(){
    $(this).closest(".list-group-item").remove();
  });

  $(document).on('click', '#family .right-side a.cancel', function(){
    $(this).closest("li.edit").removeClass("edit");
    $("#family_member_"+ $(this).data('id')).attr("style", "");
  });

  $(document).on('click', '#family .right-side a.save', function(){
    if ($("#family .right-side li.edit input.first-name").val() !== ""){
      $(this).closest("form").submit();
    } else {}
  });

  $("#family .right-side button.new-member").click(function(e){
    e.preventDefault();
    $("#family .right-side #add-new-member").css("display", "block");
  });

  $("#family .right-side #add-new-member a.cancel").click(function(){
    $("#family .right-side #add-new-member").removeAttr("style");
  });
     
  $('.see-plan-details').click(function(e){
    e.preventDefault();
    $('#plans-tab').click();
  });

  $('.add-member').click(function(e){
    e.preventDefault();
    $('#profile-tab').click();
    $('#family-tab').click();
  });

  // this is important for IEs
  var polyfilter_scriptpath = '/js/';
</script>
