<div class="container-fluid no-pd-left">          
        <div class="panel panel-default" style="border:none; box-shadow: none;">
          <div class="row tab-row">
            <form>
              <ul role="tablist" class="nav nav-tabs top-menu" id="myTab">
                <li class="active" role="presentation">
                  <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
                    <span class="home-icon" title="Home"></span>
                  </a>
                </li>
                <li role="presentation">
                  <a aria-expanded="true" aria-controls="profile" data-toggle="tab" role="tab" id="profile-tab" href="#profile">
                    <span class="hidden-xs">Profile</span>
                    <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Profile"></span>
                  </a>
                </li>
                <li role="presentation">
                  <a aria-controls="plans" data-toggle="tab" id="plans-tab" role="tab" href="#plans">
                    <span class="hidden-xs">Plans</span>
                    <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Plans"></span>
                  </a>
                </li>
                <li role="presentation">
                  <a aria-controls="documents" data-toggle="tab" id="documents-tab" role="tab" href="#documents">
                    <span class="hidden-xs">Documents</span>
                    <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Documents"></span>
                  </a>
                </li>
                <li role="presentation">
                  <a aria-controls="messages" data-toggle="tab" id="messages-tab" role="tab" href="#messages">
                    <span class="hidden-xs">Messages</span>
                    <span class="glyphicon glyphicon-envelope hidden-md hidden-sm hidden-lg" title="Messages"></span>
                    <span class="badge">27</span>
                  </a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row landing-row">
                      <div class="col-md-6 col-sm-6 col-xs-12 left-side">
                        <div class="row">
                          <p class="head">
                            <span>Household</span>
                            <span>add members</span>
                          </p>
                          <div class="table-responsive">
                            <table class="table table-bordered search-table">
                              <tbody>
                                 <tr>
                                  <td colspan="4">
                                    <div class="dropdown form-control float-label adderess-select-box text-center">
                                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>
                                        <i class="glyphicon glyphicon-menu-down"></i>
                                      </a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Link1</a></li>
                                        <li><a href="#">Link2</a></li>
                                        <li><a href="#">Link3</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <button class="btn btn-new-address">NEW ADDRESS</button>
                                  </td>
                                  <td colspan="3">
                                    <div class="dropdown form-control float-label adderess-select-box text-center home">
                                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        Home Address
                                        <i class="glyphicon glyphicon-menu-down"></i>
                                      </a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Link1</a></li>
                                        <li><a href="#">Link2</a></li>
                                        <li><a href="#">Link3</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                <%# @person.addresses.each do |address| %>
                                <% @address = @person.addresses.try(:first) %>
                                <% if @address.present? %>
                                  <tr>
                                    <td colspan="2">
                                      <span>ADDRESS LINE 1</span>
                                      <span><%= @address.address_1 %></span>
                                    </td>
                                    <td colspan="2">
                                      <span>ADDRESS LINE 2</span>
                                      <span><%= @address.address_2 %> </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <span>CITY</span>
                                      <input type="text">
                                      <span><%= @address.city %> </span>
                                    </td>
                                    <td>
                                      <span>STATE</span>
                                      <input type="text">
                                      <span><%= @address.state %></span>
                                    </td>
                                    <td>
                                      <span>COUNTRY</span>
                                      <input type="text">
                                      <span><%= @address.country_name %></span>
                                    </td>
                                    <td>
                                      <span>ZIP</span>
                                      <input type="text">
                                      <span><%= @address.zip %></span>
                                    </td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="row bottom">
                          <p class="head">
                          <span>Employers & Plans</span>
                          <span>add employer</span>
                          </p>
                           <ul class="list-group emp-ul">
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <h4>Pets.com</h4>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <h4>Kaiser 300+ Unoiversal</h4>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <h4>VSP Premium Eye Family Plan</h4>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <h4>VSP Premium Eye Family Plan</h4>
                                </div>
                              </div>
                            </li>
                            <button class="btn btn-see-all">See Details</button>
                          </ul>
                        </div>
                      </div>
                      
                      
                      <div class="col-md-6 col-sm-6 col-xs-12 right-side">
                        <p class="head">
                          <span>Life Events</span>
                          <span></span>
                        </p>
                         <ul class="list-group">
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <h4>"We have a new child in the family"</h4>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                                <a href="#">add a family member</a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <h4>"I just got married"</h4>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                                <a href="#">add a family member</a>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <h4>"I changed jobs"</h4>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                                <a href="#">add new emloyer plan</a>
                              </div>
                            </div>
                          </li>
                         <button class="btn btn-see-all md-trigger" data-modal="modal-3">See All</button>
                        </ul>
                      </div>
                      <div class="cleafix"></div>
                    </div>
                  </div>
                <div class="clearfix"></div>
                </div>
                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
                  <div class="submenu">
                    <ul role="tablist" class="nav nav-tabs" id="myTab1">
                      <li class="active" role="presentation"><a aria-expanded="true" aria-controls="personal" data-toggle="tab" role="tab" id="personal-tab" href="#personal">Personal</a></li>
                      <li role="presentation"><a aria-controls="employer" data-toggle="tab" id="employer-tab" role="tab" href="#employer">Employer</a></li>
                      <li role="presentation"><a aria-controls="family" data-toggle="tab" id="family-tab" role="tab" href="#family">Family Members</a></li>
                      <li role="presentation"><a aria-controls="contact" data-toggle="tab" id="contact-tab" role="tab" href="#contact">Contact Information</a></li>
                    </ul>
                  </div>
                  <div class="tab-content" id="myTabContent1">
                    <div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
                      <div id="personal_info" class="focus_effect row personaol-info-top-row">
                        <div class="col-md-10 no-pd col-sm-12 col-xs-12 first">
                          <div class="table-responsive">
                            <%= render 'people/landing_pages/personal' %> 
                          </div>
                        </div>
                      </div>
                    </div>

                    <div aria-labelledby="employer-tab" id="employer" class="tab-pane fade" role="tabpanel">
                      <div class="emp-info">
                       <%= render 'people/landing_pages/employer' %> 
                      </div>
                    </div>
                    
                    <div aria-labelledby="family-tab" id="family" class="tab-pane fade landing-row" role="tabpanel">
                      <%= render 'people/landing_pages/family_members' %> 
                    </div>
                    <div aria-labelledby="contact-tab" id="contact" class="tab-pane fade" role="tabpanel">
                      <div id="address_info" class="focus_effect row personaol-info-top-row">
                        <div class="col-md-10 no-pd col-sm-12 col-xs-12 first">
                          <div class="row top-row">
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group form-group-lg no-pd address">
                              <div class="form-group form-group-lg">
                                <div class="row" style="margin: 0;">
                                  <div class="col-md-4 col-sm-3 col-xs-12 bg-color"></div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 no-pd">
                                    <div class="dropdown">
                                      <button class="form-control float-label adderess-select-box form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Home Address
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Home Address</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Work Address</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mailing Address</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col-md-4 col-sm-3 col-xs-12 bg-color"></div>
                                </div>
                              </div>  
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                              <button class="btn btn-new-address">NEW ADDRESS</button>
                              <!-- <button class="btn btn-new-address">NEW ADDRESS</button> -->
                            </div>
                            </div>
                         <%= render 'people/landing_pages/address' %> 
                        <div class="error">
                            <div class="warning"><i class="fa fa-exclamation-triangle"></i>
                              All fields Required</div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div id="phone_info" class="focus_effect row personaol-info-top-row">
                         <%= render 'people/landing_pages/phone' %> 
                      </div>
                      <br>                      
                     <div id="email_info" class="focus_effect row personaol-info-top-row">
                      <% @person.emails.each do |email| %>
                       <% if email.address.present? %>
                        <div class="email">
                          <div class="col-md-10 col-sm-12 no-pd first">
                            <div class="form-group form-group-lg">
                              <input type="text" value="<%= email.address %>" class="floatlabel form-control" placeholder="NAME@DOMAIN.COM">
                            </div>
                          </div>
                        </div>
                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div aria-labelledby="plans-tab" id="plans" class="tab-pane fade" role="tabpanel">
                  <div class="col-md-12 col-xs-12 col-sm-12">
                    <h3>Open Access Plus Coverage Summmary</h3>
                    <h4><b>Account Number:</b> 3209264</h4>
                    <div class="coverage-table coverage-prevent-table">
                      <h5 class="heading">Preventive Care</h5>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Coverages</th>
                              <th>In-Network</th>
                              <th>Out-of-Network</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>Well Child Care</td>
                              <td>You pay 0%<br>Plan pays 100%</td>
                              <td>You pay 20%<br>Plan pays 80%</td>
                            </tr>
                            <tr>
                              <td>Adult Preventive Care</td>
                              <td>You pay 0%<br>Plan pays 100%</td>
                              <td>You pay 20%<br>Plan pays 80%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="coverage-table">
                      <h5 class="heading">Doctor office visit</h5>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Coverages</th>
                              <th>In-Network</th>
                              <th>Out-of-Network</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Primary Care Physician</td>
                              <td>You pay $25</td>
                              <td>You pay 20%<br>Plan pays 80%</td>
                            </tr>
                            <tr>
                              <td>Speciallist</td>
                              <td>You pay $40</td>
                              <td>Does Not Apply</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="coverage-table">
                      <h5 class="heading">outpatient hospital</h5>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Coverages</th>
                              <th>In-Network</th>
                              <th>Out-of-Network</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Outpatient Hospital</td>
                              <td>You pay $150<br>You pay 0%<br>Plan pays 100%</td>
                              <td>You pay 20%<br>Plan pays 80%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="coverage-table">
                      <h5 class="heading">intpatient hospital</h5>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Coverages</th>
                              <th>In-Network</th>
                              <th>Out-of-Network</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Intpatient Hospital</td>
                              <td>You pay $250<br>You pay 0%<br>Plan pays 100%</td>
                              <td>You pay 20%<br>Plan pays 80%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="coverage-table">
                      <h5 class="heading">Emergency and urgent care services</h5>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Coverages</th>
                              <th>In-Network</th>
                              <th>Out-of-Network</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Emergency Room</td>
                              <td>You pay $150</td>
                              <td>You pay $150</td>
                            </tr>
                            <tr>
                              <td>Urgent Care</td>
                              <td>You pay $50</td>
                              <td>You pay $50</td>
                            </tr>
                            <tr>
                              <td>Ambulance</td>
                              <td>You pay 0%<br>Plan pays 100%</td>
                              <td>You pay 0%<br>Plan pays 100%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <br><br>
                  </div>
                </div>
                <div aria-labelledby="documents-tab" id="documents" class="tab-pane fade" role="tabpanel">
                </div>
                <div aria-labelledby="messages-tab" id="messages" class="tab-pane fade" role="tabpanel">
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </form >
          </div>
        </div>
      </div>
    </div>

    <!-- <button class="btn btn-success" data-modal="modal-3">modal</button> -->
    <div class="md-modal md-effect-3" id="modal-3">
      <div class="md-content">
        <h3>
          Life Events
    <img src="<%= asset_path('autofill-close.png') %>" class="md-close">
        </h3>
        <div class="body">
          <input type="text" class="form-control" placeholder="search life events">
          <ul class="modal-links">
            <li class="active"><a href="#">family events</a></li>
            <li><a href="#">job events</a></li>
            <li><a href="#">tax events</a></li>
            <div class="clearfix"></div>
          </ul>
          <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group event-accordion">
            <div class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"We have a new child in the family"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I just got married"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default active">
              <div id="headingThree" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseThree" aria-expanded="true" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="">
                    <span>"I changed jobs"</span>
                    <span>add new employer plan</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" aria-expanded="true" style="">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFour" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I got divorced"</span>
                    <span>remove family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFive" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I need to add family members to my plan"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div><!-- the overlay element -->

    <script>
      $(".adderess-select-box").focusin(function() {
        $(".bg-color").css({
          "background-color": "rgba(220, 234, 241, 1)", 
          "height": "46px", 
        });
      });
      
      $(".adderess-select-box").focusout(function() {
        $(".bg-color").css({
          "background-color": "rgba(255, 255, 255, 1)", 
          "height": "46px", 
        });
      });

      $(document).on("click", ".heading", function(){
        $(this).closest('div').find(".table-responsive").slideToggle("slow");
      });

      // $( ".landing-row .left-side .search-table tbody tr td" ).hover(function() {
      //   $( ".landing-row .left-side .search-table span" ).css("color", "#666 !important");
      // });

      $('.md-trigger').click(function(e){
       e.preventDefault();
      });

      $('.event-accordion .panel').click(function () {
        $(this).toggleClass('active');
        $(this).siblings().removeClass('active');
      });
    </script>


    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    </script>
