<div class="container-fluid no-pd-left">
  <div class="panel panel-default" style="border:none; box-shadow: none;">
    <div class="row tab-row">
        <%= render 'people/landing_pages/menu' %>

        <div class="tab-content" id="myTabContent">
          <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
            <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row landing-row">
                      <div class="col-md-6 col-sm-6 col-xs-12 left-side">

                        <div class="row">
                          <p class="head">
                            <span>Household</span>
                            <span><%= link_to 'add members', '#profile', class: 'add_success', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'profile', expanded: 'true'} %></span>
                          </p>
                          <div class="table-responsive">
                            <table class="table table-bordered search-table">
                              <tbody>
                                 <tr>
                                  <td colspan="4">
                                    <div class="dropdown form-control float-label adderess-select-box text-center">
                                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>
                                        <i class="glyphicon glyphicon-menu-down"></i>
                                      </a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <% get_dependents(@family, @person).each do |dependents |%>
                                          <li><a href="#"><%= dependents.full_name %></a></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <%= form_for(@person) do |f| %>
                                      <%= render 'shared/address_fields', f: f %>
                                    <% end %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="row bottom">
                          <p class="head">
                          <span>Employers & Plans</span>
                          <span>add employer</span>
                          </p>
                          <%#= render partial: "employers/employer_profiles/my_account/benefits" %>

                           <ul class="list-group emp-ul">
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                  <h4><%= @employer_profile.legal_name %></h4>
                                </div>
                              </div>
                            </li>
                            <button class="btn btn-see-all see-plan-details">See Details</button>
                          </ul>
                        </div>
                      </div>
                      
                      <div class="col-md-6 col-sm-6 col-xs-12 right-side">
                        <p class="head">
                          <span>Life Events</span>
                          <span></span>
                        </p>
                          <ul class="list-group panel panel-default panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <%# @all_qles = get_all_qualifying_life_events %>
                          <% if @qualifying_life_events %> 
                            <% @qualifying_life_events.each_with_index do |qle, index| %>
                              <li class="list-group-item panel panel-default">
                                <div class="row panel-heading" role="tab" id="heading1">
                                  <a class="wdfull" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse1">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                      <h4 class="text-left"><%= qle.title.humanize %></h4>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                      <h5 class="text-right"><%= qle.kind unless qle.edi_code == '32-MARRIAGE' %></h5>
                                    </div>
                                  </a>
                                </div>

                                  <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                      <% if qle.edi_code == '32-MARRIAGE' %>
                                        <div id="qle_marriage_form">
                                          <div class="initial-info">
                                            <p>
                                              Getting married is an big step. It also a qualified life event that creates a special enrollment period. Start this step by telling us when you got married and then continue to "Add a Family Member" to select a plan for you and your new spouse.
                                            </p>
                                            <div class="error">
                                              <div class="warning"><i class="fa fa-exclamation-triangle"></i>All fields Required</div>
                                            </div>
                                            <div class="text-center">
                                                <input type="text" class="form-control input-lg" id="date_married" placeholder="Date you were married i.e. 4/01/2015">
                                                <br/>
                                                <% add_member_url = add_dependents_people_path(person_id: @person.id, organization_id: @employer_profile.organization.id, employee_id: @person.employee_roles.first.id) %>
                                                <%= link_to 'Submit', add_member_url, method: :post, class: "btn btn-success btn-lg", id: "qle_marriage_submit", remote: true %>
                                            </div>
                                          </div>
                                          <div class="success-info hidden">
                                            <p class="success-text"><strong>Success!</strong> You have created a special enrollment period.<br>Click continue go to the add your new family member and select your plan.</p><div class="text-center"><a href="#profile" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="true" class="btn btn-blue-2 btn-lg add_success">Continue</a></div>
                                          </div>
                                          <div class="error-info hidden">
                                            <p class="error-text">The date you submitted does not qualify for special enrollment.<br>Please double check the date or contact DCHBX support 1-800-555-1212 option 1</p><div class="text-center"><a href="#" class="btn btn-blue-2 btn-lg marriage_back">Back</a></div>
                                          </div>
                                        </div>
                                      <% else %>
                                        <%= qle.description %>
                                      <% end %>
                                    </div>
                                  </div>
                              </li>
                            <% end %>
                          <% end %>

                         <button class="btn btn-see-all md-trigger" data-modal="modal-3">See All</button>
                        </ul>
                      </div>
                      <div class="cleafix"></div>
                    </div>
                  </div>
                </div>

                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
                  <div class="submenu">
                    <ul role="tablist" class="nav nav-tabs" id="myTab1">
                      <li class="active" role="presentation"><a aria-expanded="true" aria-controls="personal" data-toggle="tab" role="tab" id="personal-tab" href="#personal">&nbsp;&nbsp;Personal</a></li>
                      <li role="presentation"><a aria-controls="employer" data-toggle="tab" id="employer-tab" role="tab" href="#employer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employer</a></li>
                      <li role="presentation"><a aria-controls="family" data-toggle="tab" id="family-tab" role="tab" href="#family">&nbsp;Family Members</a></li>
                      <li role="presentation"><a aria-controls="contact" data-toggle="tab" id="contact-tab" role="tab" href="#contact">&nbsp;Contact Information</a></li>
                    </ul>
                  </div>
                  <div class="tab-content" id="myTabContent1">
                    <div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
                      <div id="personal_info" class="focus_effect row personaol-info-top-row">
                        <div class="col-md-8 no-pd col-sm-8 col-xs-12">
                          <div class="table-responsive first landing_personal_tab">
                            <%= render 'people/landing_pages/personal' %>
                          </div>
                          <button class="btn btn-default save-btn">Save</button>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                          <div class="life-event-tip">
                            <h4>Life Events Tip #3</h4>
                            <p>
                              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div aria-labelledby="employer-tab" id="employer" class="tab-pane fade" role="tabpanel">
                      <div class="emp-info">
                       <div class="col-md-8 no-pd col-sm-8 col-xs-12">
                          <div class="table-responsive landing_personal_tab">
                            <%= render 'people/landing_pages/employer' %> 
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div aria-labelledby="family-tab" id="family" class="tab-pane fade landing-row" role="tabpanel">
                      <%= render 'people/landing_pages/family_members' %> 
                    </div>
                    
                    <div aria-labelledby="contact-tab" id="contact" class="tab-pane fade landing_contact_information" role="tabpanel">
                      <div id="address_info" class="row personaol-info-top-row">
                        <div class="col-md-8 no-pd col-sm-12 col-xs-12 first add_focus">
                          <div class="row top-row">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                              <a class="new-address-btn" href="#">NEW ADDRESS</a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 form-group form-group-lg no-pd address">
                              <div class="col-md-3 col-sm-3 col-xs-12"></div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group form-group-lg">
                                  <div style="margin: 0;" class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
                                      <div class="dropdown">
                                        <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="form-control float-label form_group_lg dropdown-toggle">
                                          Home Address
                                          <i class="glyphicon glyphicon-menu-down"></i>
                                        </button>
                                        <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                                          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Home Address</a></li>
                                          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Work Address</a></li>
                                          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Mailing Address</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>  
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12"></div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd delete_address">
                              <a href="javascript:void(0)" class="close-2">
                                <%=image_tag "delete.png" %>
                              </a>
                            </div>
                          </div>
                          <%= render 'people/landing_pages/address' %>
                          
                        <div class="error">
                          <div class="warning"><i class="fa fa-exclamation-triangle"></i>
                            All fields Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div id="phone_info" class="row personaol-info-top-row">
                       <%= render 'people/landing_pages/phone' %> 
                    </div>
                    <br>
                    <div id="email_info" class="row personaol-info-top-row">
                      <% email = @person.emails.try(:first) %>
                      <div class="email">
                        <div class="col-md-8 col-sm-12 col-xs-12 no-pd first focus_none">
                          <div class="form-group form-group-lg">
                            <input type="text" value="<%#= email.address if @person.email.address.present? %>" class="floatlabel form-control" placeholder="NAME@DOMAIN.COM">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div aria-labelledby="plans-tab" id="plans" class="tab-pane fade" role="tabpanel">
                <%= render partial: "people/landing_pages/coverage_plans" %>
              </div>
              <div aria-labelledby="documents-tab" id="documents" class="tab-pane fade" role="tabpanel">
              </div>
              <div aria-labelledby="messages-tab" id="messages" class="tab-pane fade" role="tabpanel">
              </div>
              <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- <button class="btn btn-success" data-modal="modal-3">modal</button> -->
    <div class="md-modal md-effect-3" id="modal-3">
      <div class="md-content">
        <h3>
          Life Events
    <img src="<%= asset_path('autofill-close.png') %>" class="md-close">
        </h3>
        <div class="body">
          <input type="text" class="form-control" placeholder="search life events">
          <ul class="modal-links">
            <li class="active"><a href="#">family events</a></li>
            <li><a href="#">job events</a></li>
            <li><a href="#">tax events</a></li>
            <div class="clearfix"></div>
          </ul>
          <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group event-accordion">
            <div class="panel panel-default">
              <div id="headingOne" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"We have a new child in the family"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingTwo" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I just got married"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingThree" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseThree" aria-expanded="true" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="">
                    <span>"I changed jobs"</span>
                    <span>add new employer plan</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" aria-expanded="true" style="">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFour" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I got divorced"</span>
                    <span>remove family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div id="headingFive" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                    <span>"I need to add family members to my plan"</span>
                    <span>add a family member</span>
                    <div class="clearfix"></div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div><!-- the overlay element -->

   <script>
    $(".adderess-select-box").focusin(function() {
      $(".bg-color").css({
        "background-color": "rgba(220, 234, 241, 1)", 
        "height": "46px", 
      });
    });
        
    $(".adderess-select-box").focusout(function() {
      $(".bg-color").css({
        "background-color": "rgba(255, 255, 255, 1)", 
        "height": "46px", 
      });
    });

    $(document).on("click", ".heading", function(){
      $(this).closest('div').find(".table-responsive").slideToggle("slow");
    });

    $('.md-trigger').click(function(e){
      e.preventDefault();
    });

    $('.event-accordion .panel').click(function () {
      $(this).toggleClass('active');
      $(this).siblings().removeClass('active');
    });

    $(".personal-table input").focusout(function() {
      if ($(".personal-table input").val() !== ""){
        $("#personal_info .save-btn").removeClass("disabled");
        $("#personal_info .vital-information").css("display", "block");
        $(".personal-table tbody tr:first-child td, table.personal-table").removeAttr("style");
      }
    });

    $(".personal-table input").focusin(function() {
      $(".personal-table tbody tr:first-child td, table.personal-table").css("cssText", "border-color: #00a3d9 !important;");
    });

    $(document).on('click', '#family .right-side a.edit', function(){
      $(this).parent().parent(".row").parent(".list-group-item").addClass("edit");
      $("#family_member_"+ $(this).data('id')).attr("style", "border: 2px solid #007bc3 !important");
    });

    $(document).on('click', '#family .right-side a.remove', function(){
      $(this).closest(".list-group-item").remove();
    });

    $(document).on('click', '#family .right-side a.cancel', function(){
      $(this).closest("li.edit").removeClass("edit");
      $("#family_member_"+ $(this).data('id')).attr("style", "");
    });

    $(document).on('click', '#family .right-side a.save', function(){
      if ($("#family .right-side li.edit input.first-name").val() !== ""){
        $(this).closest("form").submit();
      } else {}
    });

    $("#family .right-side button.new-member").click(function(e){
      e.preventDefault();
      $("#family .right-side #add-new-member").css("display", "block");
    });

    $("#family .right-side #add-new-member a.cancel").click(function(){
      $("#family .right-side #add-new-member").removeAttr("style");
    });
       
    $('.see-plan-details').click(function(e){
      e.preventDefault();
      $('#plans-tab').click();
    });

    $('.add-member').click(function(e){
      e.preventDefault();
      $('#profile-tab').click();
      $('#family-tab').click();
    });

    // this is important for IEs
    var polyfilter_scriptpath = '/js/';
   </script>
