  <div class="container-fluid no-pd-left">          
    <div class="panel panel-default">
      <div class="panel-body left">
        
        <div class="col-sm-2 left-pd" id="sidebar_partial_value">
          <div class="sidebar list-group text-center">
            <div id="dependents_sidebar">
              <a href="#" class="personal_info list-group-item name">
                Plan Details
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-10 col-sm-12">
          <a href="<%= person_landing_people_path(organization_id: params[:organization_id], person_id: params[:person_id])  %>" data-method="POST"> Landing Page</a>
          
          <table style="width:80%">
  <tr>
    <td>
      <%= image_tag("aetna.png", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("care_first.jpg", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("Kaiser_Permanente.png", size: "125x125", alt: "Kaiser Permanente") %>
    </td>
    <td>
      <%= image_tag("united_health_care.jpg", size: "125x125", alt: "United Health Care") %>
    </td>
  </tr>
</table>
        </div>
       
      </div>
    </div>
  </div>





