<br>
<br>
<table class="table bordered", border = "1", style="width:340px !important;float:left;font-size:11px;" >
  <tr><th>Carrier</th></tr>
  <tr><th>Plan Name</th></tr>
  <tr><th>Plan Benefits</th></tr>
  <% Benefit::PLAN_BENEFITS.each do |row| %>
    <tr><td><%= row %></td></tr>
  <%end%>
</table>
<%Plan.all.each do |plan|%>
<%if plan.benefits.present?%>
<table class="table bordered", border = "1", style="width:330px !important;float:left;font-size:11px;" >
  <tr><th colspan="2"><%= plan.name.split.first %></th></tr>
  <tr><th colspan="2"><%= plan.name %></th></tr>
  <tr><th>In Network</th>
  <th>Out of Network</th></tr>
    <tr><td><%= plan.benefits.first.in_primary_care_visit_cost%></td>
    <td><%= plan.benefits.first.out_primary_care_visit_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_urgent_care_visit_cost%></td>
    <td><%= plan.benefits.first.out_urgent_care_visit_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_specialist_visit_cost%></td>
    <td><%= plan.benefits.first.out_specialist_visit_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_emergency_room_service_cost%></td>
    <td><%= plan.benefits.first.out_emergency_room_service_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_hospitalization_cost%></td>
    <td><%= plan.benefits.first.out_hospitalization_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_laboratory_service_cost%></td>
    <td><%= plan.benefits.first.out_laboratory_service_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_diagnostic_service_cost%></td>
    <td><%= plan.benefits.first.out_diagnostic_service_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_generic_drug_cost%></td>
    <td><%= plan.benefits.first.out_generic_drug_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_preferred_brand_name_drug_cost%></td>
    <td><%= plan.benefits.first.out_preferred_brand_name_drug_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_non_preferred_brand_name_drug_cost%></td>
    <td><%= plan.benefits.first.out_non_preferred_brand_name_drug_cost%></td></tr>
    <tr><td><%= plan.benefits.first.in_speciality_drug_cost%></td>
    <td><%= plan.benefits.first.out_speciality_drug_cost%></td></tr>
</table>
<% end %>
<% end %>