  <div class="container">          
    <div class="panel panel-default">
      <div class="panel-body left">

        <div class="col-sm-2 left-pd" id="sidebar_partial_value">
          <div class="sidebar list-group text-center">
            <div id="dependents_sidebar">
              <a href="#" class="personal_info list-group-item name">
                Choose Your Health Plan
              </a>
            </div>
          </div>
        </div>

        <p>Step 1: selecton one of the health insurance companies to view the health plans the offer</p>
        <div class="col-md-10 col-sm-12">
          <a href="<%= person_landing_people_path(organization_id: params[:organization_id], person_id: params[:person_id])  %>" data-method="POST">"My Account" Page</a>
          
          <table style="width:80%">
            <tr>
              <td>
                <%= image_tag("aetna.png", size: "125x125", alt: "Aetna") %>
              </td>
              <td>
                <%= image_tag("care_first.jpg", size: "125x125", alt: "Aetna") %>
              </td>
              <td>
                <%= image_tag("Kaiser_Permanente.png", size: "125x125", alt: "Kaiser Permanente") %>
              </td>
              <td>
                <%= image_tag("united_health_care.jpg", size: "125x125", alt: "United Health Care") %>
              </td>
            </tr>
          </table>
        </div>
        <p>Step 2: Choose a plan from the Health Plans menu.</p>
      </div>
    </div>
  </div>
