html = "<div><center>"
<% flash.each do |key, message| %>
 <% if key == "error_msg" %>
  html = html + "<div class='<%= key%>' style='color: #D63301;background-color: #FFCCBA;'> <%= message %> </div>" ; 
 <% else %>
  html = html + "<div class='<%= key%>' style='color: #4F8A10;background-color: #DFF2BF;background-image:url('success.png');'> <%= message %> </div>" ;
  
	$("#dependent_buttons div:first").removeClass('hidden');
	$('#dependent_buttons div:last').addClass('hidden');
 <% end %>
<% end %>
<% @dependent.errors.each do |error|%>
  html = html + "<div style='color: #D63301;background-color: #FFCCBA;'><%= error %> <%= @dependent.errors[error][0] %></div>"
<% end %>
html = html + "</center></div>"

$(".dependent_notice_div_<%= @dependent.id %>").html(html).delay(3200).fadeOut(300);
$('#add_member_list_<%= @dependent.id %> .close-2').attr('data-confirm', 'Remove <%= @dependent.full_name %>?');
$("#last_member").val('');
$(".add_member").removeClass('hidden');