<% content_for :horizontal_menu do %>
<div class="mainmenu">
  <div class="container">
    <ul role="tablist" class="list-unstyled list-inline" id="myTab">
      <li role="presentation" id="home-tab" <%= menu_tab_class(active_tab, "home-tab") %>>
        <%= link_to(general_agencies_profile_path(@general_agency_profile), "aria-expanded" => "true", :remote => true, "aria-controls" => "home", "role" => "tab" ) do  %>
          <span class="hidden-xs">Home</span>
          <span title="Home" aria-hidden="true" class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg"></span>
        <% end %>
      </li>
      <li role="presentation" id="employers-tab" <%= menu_tab_class(active_tab, "employers-tab") %>>
        <%= link_to(employers_general_agencies_profile_path(@general_agency_profile), "aria-expanded" => "true", :remote => true, "aria-controls" => "home", "role" => "tab" ) do  %>
          <span class="hidden-xs">Employers</span>
          <span title="Home" aria-hidden="true" class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg"></span>
        <% end %>
      </li>
      <li role="presentation" id="families-tab" <%= menu_tab_class(active_tab, "families-tab") %>>
        <%= link_to(families_general_agencies_profile_path(@general_agency_profile), "aria-expanded" => "true", :remote => true, "aria-controls" => "home", "role" => "tab" ) do  %>
          <span class="hidden-xs">Families</span>
          <span title="Home" aria-hidden="true" class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg"></span>
        <% end %>
      </li>
      <li role="presentation" id="staffs-tab" <%= menu_tab_class(active_tab, "staffs-tab") %>>
        <%= link_to(staffs_general_agencies_profile_path(@general_agency_profile), "aria-expanded" => "true", :remote => true, "aria-controls" => "home", "role" => "tab" ) do  %>
          <span class="hidden-xs">Staff</span>
          <span title="Home" aria-hidden="true" class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg"></span>
        <% end %>
      </li>
      <li role="presentation" id="inbox-tab" <%= menu_tab_class(active_tab, "inbox-tab") %>>
        <%= link_to(agency_messages_general_agencies_profiles_path(id: @general_agency_profile), :remote => true, "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab") do  %>
          <span class="badge message-unread"><%=begin; @general_agency_profile.inbox.unread_messages.try(:count); rescue; return 0; end %></span>
            Agency Mail
        <% end %>
      </li>
      <% if @staff_role %>
      <li role="presentation" id="staff-inbox-tab" <%= menu_tab_class(active_tab, "staff-inbox-tab") %>>
        <%= link_to(messages_general_agencies_profiles_path(id: @provider), :remote => true, "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab") do  %>
          <span class="badge message-unread"><%=begin; @provider.inbox.unread_messages.try(:count); rescue; return 0; end %></span>
            Staff Mail
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
