<div class="container bottom-pd">
  <h3>General Agency : <%= @general_agency_profile.legal_name %></h3>
  <% if current_user.has_general_agency_staff_role? || current_user.has_hbx_staff_role? %>
      <%= link_to "Edit General Agency", edit_general_agencies_profile_path(@general_agency_profile.id), class: 'btn btn-primary ' %>
  <% end %>
  <div class="table-border table-responsive">
    <table class="table">
      <thead>
        <th>Legal Name</th>
        <th>dba</th>
        <th>Fein</th>
        <th>Entity Kind</th>
        <th>Market Kind</th>
      </thead>
      <tbody>
        <td><%= @general_agency_profile.legal_name %></td>
        <td><%= @general_agency_profile.dba %></td>
        <td><%= @general_agency_profile.fein %></td>
        <td><%= @general_agency_profile.entity_kind.titleize %></td>
        <td><%= @general_agency_profile.market_kind.titleize %></td>
      </tbody>
    </table>
  </div>

  <%= render "office_locations", office_locations: @general_agency_profile.organization.office_locations %>
</div>
