<nav class=" smartscroll-nav" id="mainnav" style="margin-left: 0px !important;">
  <ul class="nav nav-stacked" id="left-navigation">
    <%# We need to turn these links in to actual links or make it so we don't need fake a's %>
    <li class="activer list-box step-tabs">
      <a href="<%= financial_assistance_applications_path %>">Financial Applications</a>
    </li>

    <li class="list-box step-tabs <%= li_nav_classes_for(:household_info) %>">
      <a href="<%= edit_financial_assistance_application_path(@application) %>">Household Info</a>
    </li>

    <% if defined?(@matrix) %>
      <li class='list-box step-tabs <%= li_nav_classes_for(:relationships) %>'>
        <%= link_to 'Household Relationships', insured_family_relationships_path %>
      </li>
    <% end %>

    <% if defined?(@applicant) %>
      <ul class="nav nav-stacked">
        <li class="list-box step-tabs <%= li_nav_classes_for(:income_and_coverage) %>">
          <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 1) do %>
            <% if @applicant.other_questions_complete? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Income and Coverage
          <% end %>
        </li>

        <li class="list-box step-tabs <%= li_nav_classes_for(:tax_info) %>">
          <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 2) do %>
            <% if @applicant.tax_info_complete? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Tax Info
          <% end %>
        </li>

        <li class="list-box step-tabs <%= li_nav_classes_for(:income) %>">
          <%= link_to @applicant.incomes.present? ? financial_assistance_application_applicant_incomes_path(@application, @applicant) : "#", class: "#{left_nav_css(@applicant.incomes.present?)}" do %>
            <% if @applicant.incomes_complete? && @applicant.incomes.present? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Income
          <% end %>
        </li>

        <li class="list-box step-tabs <%= li_nav_classes_for(:income_adjustments) %>">
          <%= link_to @applicant.deductions.present? ? financial_assistance_application_applicant_deductions_path(@application, @applicant) : "#", class: "#{left_nav_css(@applicant.deductions.present?)}" do %>
            <% if @applicant.deductions_complete? && @applicant.deductions.present? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Income Adjustments
          <%end%>
        </li>

        <li class="list-box step-tabs <%= li_nav_classes_for(:health_coverage) %>">
          <%= link_to @applicant.benefits.present? ? financial_assistance_application_applicant_benefits_path(@application, @applicant) : "#", class: "#{left_nav_css(@applicant.benefits.present?)}" do %>
            <% if @applicant.benefits_complete? && @applicant.benefits.present? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Health Coverage
          <% end %>
        </li>

        <li class="list-box step-tabs <%= li_nav_classes_for(:other_questions) %>">
          <%= link_to other_questions_financial_assistance_application_applicant_path(@application, @applicant) do %>
            <% if @applicant.other_questions_complete? %>
              <span class="fa fa-check applicant-check"></span>
            <% end %>
            Other Questions
          <% end %>
        </li>
      </ul>
    <% else %>
      <li class="list-box step-tabs <%= li_nav_classes_for(:review_and_submit) %>">
        <% if @application.ready_for_attestation? %>
          <%= link_to "Review and Submit", review_and_submit_financial_assistance_application_path(@application) %>
        <% else %>
          <a>Review and Submit</a>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
