<% if content_for? :submit_button %>
  <%= yield :submit_button %>
<% else %>
  <%= link_to 'Continue', next_url, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue' %>
<% end %>

<ul class='list-unstyled list-right-section'>
  <li>
    <%= link_to previous_url do %>
      <%= image_tag 'icons/list.png' %>
      PREVIOUS
    <% end %>
  </li>
  <li>
    <a href="#">
      <%= image_tag 'icons/list.png' %>
      SAVE &amp; EXIT
    </a>
    <br>
    <br>
  </li>
  <li>
    <p>
      If you select Save &amp; Exit, you can save your work and continue where you left off the next time you login.
    </p>
  </li>
  <br class="clear">
</ul>

<%= render partial: 'shared/help_me_sign_up' %>