<% if @census_employee.errors.any? %>
    <div class="alert alert-error">
      <h4>
        <%= "#{pluralize(@census_employee.errors.size, "error")} prohibited this person from being saved:" %>
      </h4>
      <ul>
        <% @census_employee.errors.delete(:address) %>
        <% @census_employee.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
        <% @census_employee.census_dependents.each do |dep| %>
            <% dep.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
        <% end %>
        <% if @census_employee.address.present? %>
            <% @census_employee.address.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
        <% end %>
        <% @census_employee.benefit_group_assignments.each do |bg| %>
            <% bg.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>