<p>
  Congratulations! You have been selected as the new <%= role %> for <%= name %> effective <%=TimeKeeper.date_of_record %>.  Your <%= site_short_name %> account will be updated to reflect this assignment and provide you access to <%= first_name %>'s account.
</p>
<p>
  To view information on all of your clients, please log in to your account at <a href="<%= site_home_url %>"><%= site_short_name %><a/>. If you have any questions, contact <%= contact_center_name %> at <%= contact_center_phone_number %>.
</p>
