<div class="container">
  <div id="new_person_wrapper">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
      <div class="eligibility-results">
        <h1 class="darkblue">
          <%= l10n("faa.results.eligibility_results") %>
        </h1>
        <p>
          <b>
            <%= l10n("faa.we_have_your_results") %>!
          </b>
        </p>

        <!-- This appears if at least some (not necessarily all) applicants are medicaid eligible -->
        <% if eligible_applicants(params[:id], :is_medicaid_chip_eligible).present? %>
          <div class="er-medicaid mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("faa.medicaid") %>
              </h3>
            </div>
            <div class="border-bottom-2px"></div>
            <div class="er-medicaid-prsn">
              <p>
                <% medicaid_chip = FinancialAssistanceRegistry[:medicaid_chip_driver_questions].setting(:medicaid_chip).item %>
                <%= l10n("faa.eligible_for_medicaid") %>
                <%= render partial:'shared/glossary', locals: {key: 'medicaid', title: medicaid_chip, term: medicaid_chip } %>
                <%= l10n("faa.eligible_for_medicaid2") %>
              </p>

              <% eligible_applicants(params[:id], :is_medicaid_chip_eligible).each do |applicant_name| %>
                <div class='er-prsn'>
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <h4>
                    <%= applicant_name %>
                  </h4>
                </div>
              <% end %>
            </div>
          </div>
          <div class="border-bottom-1px"></div>
          <div class="er-warning bg-warning">
            <div><i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"></i></div>
            <div class="text-warning ">
              <%= l10n("faa.dhs_decision") %>
              <%= l10n("faa.dhs_contact") %>
              <%= "#{EnrollRegistry[:enroll_app].setting(:medicaid_agency_phone).item} / TTY: 711." %>
            </div>
          </div>
        <% end %>
        <!-- Medicaid eligible ends here -->

        <!-- Appears if any are ia eligible -->
        <% if eligible_applicants(params[:id], :is_ia_eligible).present? %>
          <div class="er-phi mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("faa.review_eligibility_header") %>
              </h3>
            </div>
            <div class="border-bottom-2px"></div>

            <div class="er-medicaid-prsn">
              <% total_aptc_amount=number_to_currency(total_aptc_across_eligibility_determinations(params[:id])) %>
              <p>
                <%= l10n("faa.premium_reductions_1",
                    reduction_amount: total_aptc_amount.present? ? total_aptc_amount.to_s : "0" ) %>
              </p>

              <% eligible_applicants(params[:id], :is_ia_eligible).each do |applicant_name| %>
                <div class="er-prsn mt-15">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <h4>
                    <%= applicant_name %>
                  </h4>
                </div>
              <% end %>
              </br>

              <!-- For all eligible for 73, 87 or 94 -->
              <% csr_73_87_or_94_applicants=csr_73_87_or_94_eligible_applicants?(params[:id]) %>
              <% if csr_73_87_or_94_applicants.present? %>
                <p>
                  These people <strong>qualify for lower <%= render partial:"shared/glossary", locals: { key: "Out_of_Pocket_Costs", title: "Out-of-Pocket Costs", term: "out-of-pocket costs" } %>
                  </strong> including lower <%= render partial:"shared/glossary", locals: { key: "deductible", title: "annual deductibles", term: "annual deductibles" } %> and lower
                  <%= render partial:"shared/glossary", locals: { key: "copayment", title: "Copayments", term: "copayments", punctuation: "." } %>
                  <strong>This benefit is only available for a silver plan.</strong> To select a <%= render partial:"shared/glossary", locals: { key: "Silver_Health_Plan", title: "silver health plan", term: "silver health plan", punctuation: "," } %>
                  look for a checkmark <i class="fa fa-check-square-o col-green" aria-hidden="true"></i> next to the plan name.
                </p>

                <% csr_73_87_or_94_applicants.each do |applicant_name| %>
                  <div class="er-prsn mt-15">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>
                      <%= applicant_name %>
                    </h4>
                  </div>
                <% end %>
              <% end %>

              <!-- For all eligible for 100 -->
              <% csr_100_applicants=csr_100_eligible_applicants?(params[:id]) %>
              <% if csr_100_applicants.present? %>
                <p class="mt-10 mb-0">
                  <%= l10n("faa.qualify_for_lower_costs_1") %>
                  <%= l10n("faa.qualify_for_csr_100") %>
                </p>

                <% csr_100_applicants.each do |applicant_name| %>
                  <div class="er-prsn mt-15">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>
                      <%= applicant_name %>
                    </h4>
                  </div>
                <% end %>
              <% end %>

              <!-- For all eligible for limited -->
              <% csr_limited_applicants=csr_limited_eligible_applicants?(params[:id]) %>
              <% if csr_limited_applicants.present? %>
                <p class="mt-10 mb-0">
                  <%= l10n("faa.qualify_for_csr_limited") %>
                </p>

                <% csr_limited_applicants.each do |applicant_name| %>
                  <div class="er-prsn mt-15">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>
                      <%= applicant_name %>
                    </h4>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- End ia eligible stuff -->

        <!-- Totally ineligible -->
        <% if eligible_applicants(params[:id], :is_totally_ineligible).present? %>
          <div class="er-notqualify mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("faa.does_not_qualify") %>
              </h3>
            </div>
            <div class="border-bottom-2px"></div>
            <div class="er-medicaid-prsn">
              <p>
                <%= l10n("faa.likely_does_not_qualify") %>
                <%= render partial:'shared/glossary', locals: { key: 'medicaid',
                                                                title: FinancialAssistanceRegistry[:medicaid_chip_driver_questions].setting(:medicaid_chip).item,
                                                                term: FinancialAssistanceRegistry[:medicaid_chip_driver_questions].setting(:medicaid_chip).item } %>
                <%= l10n("faa.likely_does_not_qualify2") %>
              </p>
              <% eligible_applicants(params[:id], :is_totally_ineligible).each do |applicant_name| %>
                <div class='er-prsn mb'>
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <h4>
                    <%= applicant_name %>
                  </h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- End totally ineligible -->

        <% if eligible_applicants(params[:id], :is_without_assistance).present? %>
          <div class="er-notqualify mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("faa.private_health_insurance") %>
              </h3>
            </div>
            <div class="border-bottom-2px"></div>
            <div class="er-medicaid-prsn">
              <p>
                <%= l10n("faa.qualified_to_enroll") %>
              </p>

              <% eligible_applicants(params[:id], :is_without_assistance).each do |applicant_name| %>
                <div class='er-prsn mb'>
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <h4>
                    <%= applicant_name %>
                  </h4>
                </div>
              <% end %>
              </br>

              <!-- For all eligible for limited -->
              <% csr_limited_applicants=csr_limited_eligible_applicants?(params[:id]) %>
              <% if csr_limited_applicants.present? %>
                <p class="mt-10 mb-0">
                  <%= l10n("faa.qualify_for_csr_limited") %>
                </p>

                <% csr_limited_applicants.each do |applicant_name| %>
                  <div class="er-prsn mt-15">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>
                      <%= applicant_name %>
                    </h4>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- Start: Eligible for Non-MAGI reasons -->
        <% if FinancialAssistanceRegistry.feature_enabled?(:non_magi_referral_display) && @application.applicants.pluck(:is_eligible_for_non_magi_reasons).any?(true) %>
          <div class="er-medicaid mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("faa.referral") %>
              </h3>
            </div>

            <div class="border-bottom-2px"></div>
            <div class="er-medicaid-prsn">
              <p>
                <%= l10n("faa.qualified_reason") %>:
              </p>
              <% @application.applicants.each do |applicant| %>
                <% if applicant.is_eligible_for_non_magi_reasons %>
                  <div class='er-prsn'>
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>
                      <%=applicant.full_name%>
                    </h4>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="border-bottom-1px"></div>
            <div class="er-warning bg-warning">
              <div><i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"></i></div>
              <div class="text-warning ">
                <%= l10n("faa.next_step_with_non_magi") %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- End: Eligible for Non-MAGI reasons -->

        <!-- Start: Send to External Verification -->
        <% if FinancialAssistanceRegistry.feature_enabled?(:fa_send_to_external_verification) &&
              @application.applicants.pluck(:is_medicaid_chip_eligible).none? &&
              @application.applicants.pluck(:is_non_magi_medicaid_eligible).none? &&
              !@application.is_transferrable? %>
          <div class="er-medicaid mt-20">
            <div class="er-title">
              <h3>
                <%= l10n("other_actions") %>
                <a id="open_button" class='glyphicon glyphicon-plus pull-right' data-toggle="collapse" href="#fa_other_actions"><span class="hide"><%=l10n("open")%></span></a>
              </h3>
              <div class="border-bottom-2px"></div>
            </div>
            <div id="fa_other_actions" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- Sub panels -->
                <div class="panel-group" id="accordion">
                  <%= l10n( "faa.full_long_name_determination",
                        program_long_name: FinancialAssistanceRegistry[:medicaid_or_chip_agency_long_name].setting(:name).item,
                        program_short_name: FinancialAssistanceRegistry[:medicaid_or_chip_program_short_name].setting(:name).item) %>
                  <br />
                  <br />
                  <div>
                    <%= link_to l10n("faa.send_to_external_verification"), update_transfer_requested_application_url, method: :put, class: "btn btn-small btn-primary", id: "btn-request-transfer", remote: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- End: Send to External Verification -->

        <!-- The "Go Back To My Account" text box will NOT display if all applicants are determined medicaid eligible or ineligible. It will appear for any other combination of applicant determinations. -->
        <% all_medicaid_applicants=eligible_applicants(params[:id], :is_medicaid_chip_eligible).length==@application.active_applicants.length %>
        <% all_ineligible_applicants=eligible_applicants(params[:id], :is_totally_ineligible).length==@application.active_applicants.length %>
        <% unless all_medicaid_applicants == true || all_ineligible_applicants == true %>
          <div class="border-bottom-1px"></div>
          <div class="er-medicaid mt-20">
            <div class="er-medicaid-prsn">
              <p>
                <%= l10n("faa.eligibility_go_to_my_account_message") %>
              </p>
              <div class='row'>
                <div class="col-md-8"></div>
                <div class='col-md-4'>
                  <%= link_to l10n("faa.go_to_my_account"), main_app.family_account_path, class: 'btn btn-small btn-primary', id: 'btn-continue inline-width-100-percent' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- Green next step box -->
        <% unless ((action_name=="eligibility_results" || action_name=="review" ) && (params.keys.exclude?"cur")) || all_ineligible_applicants %>
          <div class="er-medicaid mt-20">
            <div class="border-bottom-1px"></div>
            <div class="er-success bg-success">
              <div><i class="fa fa-info-circle fa-lg text-success" aria-hidden="true"></i></div>
              <div class="text-success">
                <!-- If all members are MAGI Medicaid eligible, show next_step_medicaid_eligible. If one applicant is determined something other than the medicaid, default to next_step_medicaid_eligible_at_least_one_other_eligible -->
                <% if eligible_applicants(params[:id], :is_medicaid_chip_eligible).length == @application.active_applicants.length %>
                  <span>
                    <%= l10n("faa.next_step_medicaid_eligible") %>
                  </span>
                <% else %>
                  <span>
                    <%= l10n("faa.next_step_medicaid_eligible_at_least_one_other_eligible") %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- End Green next step box -->

        <div class="er-summary mt-20">
          <p class="mt-10">
            <%= l10n("faa.do_not_agree",
                  appeal_link: EnrollRegistry[:enroll_app].setting(:appeal_link).item,
                  find_expert_link: EnrollRegistry[:enroll_app].setting(:find_expert_link).item) %>
          </p>
          <p class="mb-0">
            <%= l10n("faa.your_application_reference") %><b><%= @application.hbx_id %></b>.
          </p>
          <br />
          <div>
            <%= sanitize link_to l10n("faa.results.view_my_applications"), applications_path, class: "btn btn-small btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-2'>
      <% group_selection_url=main_app.new_insured_group_selection_path(person_id: @person.id, consumer_role_id: @person.consumer_role.id) %>
      <% find_sep_url=main_app.find_sep_insured_families_path(consumer_role_id: @person.consumer_role.id) %>
      <%= render partial: 'financial_assistance/shared/right_nav', locals: { previous_url: applications_path,
                                                                             next_url: @person.consumer_role.present? && is_under_open_enrollment? ? group_selection_url : find_sep_url } %>
    </div>
  </div>
</div>
