<% if @bs4 %>
  <%= form_for @application, url: {action: "update_application_year", params: {id: @application.id}} do |f| %>
    <% calendar_year = Family.application_applicable_year %>
    <% previous_year = calendar_year - 1 %>
    <h1><%= l10n("faa.year_selection_header") %></h1>
    <p><%= l10n("faa.year_selection_subheader") %></p>
    <p><b><%= calendar_year %></b><br> <%= l10n("faa.non_oe_see_if_you_qualify_1", year: calendar_year) %><br><%= link_to l10n("faa.non_oe_learn_more"), FinancialAssistanceRegistry[:iap_year_selection_form].setting(:iap_year_sep_link).item %>.</p>
    <p><b><%= previous_year %></b><br> <%= l10n("faa.non_oe_see_if_you_qualify_2", calendar_year: calendar_year, previous_year: previous_year, site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item) %></p>
    <fieldset class="mb-4">
      <legend><%= l10n("faa.choose_a_plan_year") %></legend>
      <div class="focus">
        <label class="weight-n"><%= f.radio_button :assistance_year, calendar_year %> <%= calendar_year %></label>
        <label class="weight-n"><%= f.radio_button :assistance_year, previous_year %> <%= previous_year %></label>
      </div>
    </fieldset>
    <% content_for :submit_button do %>
      <%= f.submit l10n("continue_next"), class: 'btn btn-continue', id: 'btn-continue', disabled: (local_assigns[:disabled].nil? ? false : disabled) %>
    <% end %>
    <%= render partial: 'financial_assistance/shared/progress_navigation_buttons', locals: {
      previous_link: main_app.help_paying_coverage_insured_consumer_role_index_path,
      next_link: financial_assistance.application_checklist_application_path(@application)
    } %>
  <% end %>
<% else %>
<div class="container">
  <div id="new_person_wrapper">
    <%= form_for @application, url: {action: "update_application_year", params: {id: @application.id}} do |f| %>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <%= render :partial => '/financial_assistance/shared/fa_left_nav' %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bottom-pd">
          <% calendar_year = Family.application_applicable_year %>
          <% previous_year = calendar_year - 1 %>
          <h2 class="darkblue"><%= l10n("faa.year_selection_header") %></h2>
          <p><%= l10n("faa.year_selection_subheader") %></p>
          <p><b><%= calendar_year %></b><br> <%= l10n("faa.non_oe_see_if_you_qualify_1", year: calendar_year) %><br><%= link_to l10n("faa.non_oe_learn_more"), FinancialAssistanceRegistry[:iap_year_selection_form].setting(:iap_year_sep_link).item %>.</p>
          <p><b><%= previous_year %></b><br> <%= l10n("faa.non_oe_see_if_you_qualify_2", calendar_year: calendar_year, previous_year: previous_year, site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item) %></p>
          <h3><%= l10n("faa.choose_a_plan_year") %></h3>
          <div class="focus">
            <label><%= f.radio_button :assistance_year, calendar_year %> <%= calendar_year %></label><br>
            <label><%= f.radio_button :assistance_year, previous_year %> <%= previous_year %></label>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <% content_for :submit_button do %>
            <%= f.submit 'Continue', class: 'btn btn-lg btn-primary btn-block', id: 'btn-continue', disabled: (local_assigns[:disabled].nil? ? false : disabled) %>
          <% end %>
          <%= render partial: 'financial_assistance/shared/right_nav', locals: {
            previous_url: main_app.help_paying_coverage_insured_consumer_role_index_path,
            next_url: financial_assistance.application_checklist_application_path(@application)
          } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
