<div class="mh-results">
  <h1><%= l10n("faa.eligibility_results") %></h1>
  <h2><%= l10n("faa.eligibility_results_sub") %></h2>
  <div>
    <strong><%= l10n("Application Reference") %>: <%= @application.hbx_id %></strong>
  </div>
  <% tax_returns = @application.applicants.group_by { |app| app.eligibility_determination_id } %>
  <% tax_returns.each_with_index do |ed, i| %>
  <% applicants = ed[1] %>
  <div class="er-thh">
    <% if tax_returns.length > 1 %>
      <h3><strong><%= l10n("faa.results_hh_label") %> <%= i +1 %></strong></h3>
    <% end %>
    <!-- This appears if at least some (not necessarily all) applicants are medicaid eligible -->
    <% mc_applicants = applicants.select {|app| app.is_medicaid_chip_eligible } %>
    <% if mc_applicants.any? %>
      <h4><%= l10n("faa.medicaid") %></h4>
      <ul>
        <%household_eligible_applicants(params[:id], :is_medicaid_chip_eligible, ed).each do |applicant| %>
          <li><%= capitalize_full_name(applicant.full_name) %></li>
        <%end%>
      </ul>
      <div class="bg-warning">
        <div class="text-warning">
          <i class="fa fa-exclamation-triangle fa-lg text-warning mr-1 mt-1" aria-hidden="true"></i>
          <div>
            <%= l10n("faa.dhs_decision") %>
            <%= l10n("faa.dhs_contact") %><%= "#{EnrollRegistry[:enroll_app].setting(:medicaid_agency_phone).item} / TTY: 711." %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Medicaid eligible ends here -->

    <!-- Appears if any are ia eligible -->
    <% aptc_applicants = applicants.select {|app| app.is_ia_eligible }  %>
    <%if aptc_applicants&.any?%>
      <div>
        <% csr_73_87_or_94_applicants = aptc_applicants.select(&:is_csr_73_87_or_94?)&.map(&:full_name) %>
        <% csr_100_applicants = aptc_applicants.select(&:is_csr_100?)&.map(&:full_name) %>
        <% csr_limited_applicants = aptc_applicants.select(&:is_csr_limited?)&.map(&:full_name) %>
        <% determination = @application.eligibility_determinations.detect { |det| det.id == ed[0] } %>
        <% total_aptc_amount = number_to_currency(determination&.max_aptc&.to_f) %>
        <h4><%= l10n("faa.results_aptc_label") %> <%= total_aptc_amount %></h4>
        <p><%= l10n("faa.premium_reductions_1", reduction_amount: total_aptc_amount.present? ? total_aptc_amount.to_s : "0") %></p>
        <% if csr_73_87_or_94_applicants.present? || csr_100_applicants.present? || csr_limited_applicants.present? %>
          <p class="csr-result"><%= l10n("faa.csr_results_label") %></p>
          <% if csr_100_applicants.present? %>
            <p class="mt-10 mb-0">
              <%= l10n("faa.qualify_for_lower_costs_1") %>
              <%= l10n("faa.qualify_for_csr_100") %>
            </p>
          <% end %>
          <% if csr_100_applicants.present? %>
            <p class="mt-10 mb-0">
              <%= l10n("faa.qualify_for_csr_limited") %>
            </p>
          <% end %>
        <% end %>

        <ul>
        <% aptc_applicants.each do |applicant| %>
            <li><%= capitalize_full_name(applicant.full_name) %> <% if applicant.csr_percent_as_integer > 0 %>&mdash; <%= applicant.format_csr %><% end %></li>
          <%end%>
        </ul>

      </div>
    <% end %>
    <!-- End ia eligible stuff -->
    <!-- Totally ineligible -->
    <% if household_eligible_applicants(params[:id], :is_totally_ineligible, ed).present? %>
      <h4><%= l10n("faa.does_not_qualify") %></h4>
      <ul>
        <%household_eligible_applicants(params[:id], :is_totally_ineligible, ed).each do |applicant| %>
          <li><%= capitalize_full_name(applicant.full_name) %></li>
        <%end%>
      </ul>
    <% end %>
    <!-- End totally ineligible -->

    <!-- private health insurance -->
    <%if household_eligible_applicants(params[:id], :is_without_assistance, ed).present?%>
      <h4><%= l10n("faa.private_health_insurance") %></h4>
      <% woa_applicants = household_eligible_applicants(params[:id], :is_without_assistance, ed) %>
      <% woa_csr_limited_applicants = woa_applicants.select(&:is_csr_limited?).map(&:full_name) %>
      <% if woa_csr_limited_applicants.present? %>
        <p class="mt-10 mb-0">
          <%= l10n("faa.qualify_for_csr_limited") %>
        </p>
      <% end %>
      <ul>
        <% woa_applicants.each do |applicant| %>
          <li><%= capitalize_full_name(applicant.full_name) %></li>
        <%end%>
      </ul>
    <%end%>
    <!-- private health insurance -->

    <!-- non-magi -->
    <% if FinancialAssistanceRegistry.feature_enabled?(:non_magi_referral_display) && @application.applicants.pluck(:is_eligible_for_non_magi_reasons).any?(true) %>
      <h4><%= l10n("faa.referral") %></h4>
      <p><%= l10n("faa.qualified_reason") %>:</p>
      <ul>
        <%@application.applicants.each do |applicant| %>
          <% if applicant.is_eligible_for_non_magi_reasons %>
            <li><%= capitalize_full_name(applicant.full_name) %></li>
          <%end%>
        <%end%>
      </ul>
      <div class="bg-warning">
        <div class="text-warning">
          <i class="fa fa-exclamation-triangle fa-lg text-warning mr-1 mt-1" aria-hidden="true"></i>
          <div>
            <%= l10n("faa.next_step_with_non_magi") %>
          </div>
        </div>
      </div>
    <%end%>
    <!-- end non-magi -->
  </div>
  <% end %>
  <div class="border-bottom-1px"></div>

  <%# The "Go Back To My Account" text box will NOT display if all applicants are determined medicaid eligible or ineligible. It will appear for any other combination of applicant determinations. %>
  <% all_medicaid_applicants = eligible_applicants(params[:id], :is_medicaid_chip_eligible).length == @application.active_applicants.length %>
  <% all_ineligible_applicants = eligible_applicants(params[:id], :is_totally_ineligible).length == @application.active_applicants.length %>
  <% unless all_medicaid_applicants == true || all_ineligible_applicants == true %>
        <p class="mt-20">
          <%= l10n("faa.eligibility_go_to_my_account_message") %>  
        </p>  
        
  <% end %>
  <%= link_to l10n("faa.eligibility_results_return"), main_app.family_account_path, class: 'btn btn-primary mt-10 mb-10' %>
  <% if FinancialAssistanceRegistry.feature_enabled?(:fa_send_to_external_verification) &&
    @application.applicants.pluck(:is_medicaid_chip_eligible).none? &&
    @application.applicants.pluck(:is_non_magi_medicaid_eligible).none? &&
    !@application.is_transferrable? %>
    <div class="er-medicaid mt-20">
      <div class="er-title">
        <h3>
          <%= l10n("other_actions") %>
          <a class ='glyphicon glyphicon-plus pull-right' data-toggle="collapse" href="#fa_other_actions"></a>
        </h3>
        <div class="border-bottom-2px"></div>
      </div>
      <div id="fa_other_actions" class="panel-collapse collapse">
        <div class="panel-body">
          <!-- Sub panels -->
          <div class="panel-group" id="accordion">
            <%= l10n(
              "faa.full_long_name_determination",
              program_long_name: FinancialAssistanceRegistry[:medicaid_or_chip_agency_long_name].setting(:name).item,
              program_short_name: FinancialAssistanceRegistry[:medicaid_or_chip_program_short_name].setting(:name).item
              ) %><br/>
            <br/>
            <div>
              <%# <%= link_to l10n("faa.send_to_external_verification"), applications_path, class: "btn btn-small btn-primary" %>
              <%= link_to l10n("faa.send_to_external_verification"), update_transfer_requested_application_url, method: :put, class: "btn btn-small btn-primary", id: "btn-request-transfer", remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <p class="mt-20"><%= l10n("faa.do_not_agree", appeal_link: EnrollRegistry[:enroll_app].setting(:appeal_link).item, find_expert_link:  EnrollRegistry[:enroll_app].setting(:find_expert_link).item) %></p>
  <p class="mb-0"><%= l10n("faa.your_application_reference") %><b><%= @application.hbx_id %></b>.</p>
</div>