<% unless subsection.nil? || subsection.empty? %>
  <section class="mb-5">
    <%# Subsection title %>
    <div class="d-flex justify-content-between">
      <div class="align-self-end">
        <h3 class="mb-0"><%= subsection[:title] %>
      </div>
      <% if subsection[:edit_link].present? %>
        <div class="mb-2">
          <%= h(link_to(subsection[:edit_link], class: "btn-secondary") do %>
            <i class="fas fa-pencil-alt ml-0 mr-2"></i>
            <span><%= l10n("edit") %></span>
          <% end) %>
        </div>
      <% end %>
    </div>
    <hr class="my-1">
    <%# Summary rows %>
    <dl>
      <% subsection[:rows].each do |(term_string, value)| %>
        <div class="d-flex justify-content-between align-items-center">
          <% description = value.is_a?(Hash) && value[:value].present? ? value[:value] : value %>
          <dt class="col-<%= description.to_s.length > 12 ? "3" : "8" %> px-0"><%= term_string %></dt>
          <dd class="text-right"><%= description %></dd>
        </div>
        <%# Review Benefits partial for Health Coverage subsection %>
        <% if value.is_a?(Hash) && value[:review_benefits_partial].present? %>
          <%= render partial: 'financial_assistance/applications/review_benefits', locals: {kind: value[:review_benefits_partial], applicant: applicant} %>
        <% end %>
      <% end %>
    </dl>
  </section>
<% end %>
