<% if @bs4 %>
  <p>
    <b><%= l10n("faa.shop_check_success") %></b>
  </p>
  <p>
    <%= l10n("faa.mc_continue_bold") %>
    <%= l10n("faa.mc_continue_application") %>
  </p>
<% else %>
  <div class="er-medicaid mt-2">
    <div class="border-bottom-1px"></div>
      <div class="er-success bg-success">
          <div class="text-success pl-1 pr-1">
              <p>
                  <b><%= l10n("faa.shop_check_success") %></b>
              </p>
              <p>
                <%= l10n("faa.mc_continue_bold") %>
                <%= l10n("faa.mc_continue_application") %>
              </p>
          </div>
      </div>
  </div>
<% end %>
