<%# Income and Deductions table %>
<% if income_and_deductions_for_any(@application).present? %>
  <section>
    <h2><%= l10n("faa.deductions") %></h2>
    <p><%= l10n("faa.review.income.information_entered") %></p>
    <table>
      <thead>
        <tr>
          <th><%= l10n("person") %></th>
          <th><%= l10n("faa.review.income.table.types") %></th>
          <th><%= l10n("faa.review.income.table.frequency") %></th>
          <th><%= l10n("faa.review.income.table.amount") %></th>
          <th><%= l10n("faa.review.income.table.dates") %></th>
        </tr>
      </thead>
      <tbody>
        <% @applicants.each do |applicant| %>
          <% income_and_deductions_for(applicant).each do |embedded_document| %>
            <tr>
              <td><%= applicant.full_name %></td>
              <td>
                <% if embedded_document.kind == "social_security_benefit" && FinancialAssistanceRegistry.feature_enabled?(:ssi_income_types) %>
                  <%= l10n("faa.#{embedded_document.class.name.demodulize.downcase}.#{embedded_document.kind}.#{embedded_document.ssi_type}") %>
                <% else %>
                  <%= l10n("faa.#{embedded_document.class.name.demodulize.downcase}.#{embedded_document.kind}") %>
                <% end %>
              </td>
              <td><%= embedded_document.frequency_kind.humanize %></td>
              <td>
                <b>
                  <% if embedded_document.is_a? FinancialAssistance::Deduction %>
                    (<%= number_to_currency(embedded_document.amount.to_s) %>)
                  <% else %>
                    <%= number_to_currency(embedded_document.amount.to_s) %>
                  <% end %>
                </b>
              </td>
              <td class="d-flex justify-content-between">
                  <%= start_to_end_dates(embedded_document) %>
                  <% if helper.can_edit %>
                    <span>
                      <%= h(link_to(income_and_deductions_edit(@application, applicant, embedded_document), id: 'edit-income-and-deductions-pencil') do %>
                        <%= l10n("edit") %>
                      <% end) %>
                    </span>
                  <% end %>
              </td>
            </tr>
          <% end %>
          <% if FinancialAssistanceRegistry[:net_annual_income_display].enabled? && applicant.net_annual_income.present? %>
            <tr>
              <td colspan="3">
                <b><%= l10n("faa.review.income.table.annual_income", applicant_name: applicant.first_name, assistance_year: @application.assistance_year) %></b>
                <a href="#net_annual_income" data-toggle="modal" data-target="#net_annual_income"><i class="fa fa-info-circle"></i><span class="sr-only"><%=l10n("info")%></span></a>
                <%= render partial: 'financial_assistance/shared/modal_support_text_household', locals: {key: "net_annual_income"} %>
              </td>
              <td colspan="2"><b><%= number_to_currency(applicant.net_annual_income) %></b></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<%# Applicants summary %>
<% helper.applicant_summaries.each do |summary| %>
  <section>
    <h2 class="mb-4"><%= summary[:applicant_name] %></h2>
    <% summary[:sections].each do |section| %>
      <%= render partial: 'financial_assistance/applications/summary_subsection', locals: {subsection: section} %>
    <% end %>
  </section>
<% end %>

<%# Household & Preferences summary %>
<% if @application.applicants.count > 1 && helper.relationships_summary.present? %>
  <section>
    <h2 class="mb-4"><%= l10n("faa.review.your_household")%></h2>
    <%= render partial: 'financial_assistance/applications/summary_subsection', locals: {subsection: helper.relationships_summary} %>
  </section>
<% end %>
<section><%= render partial: 'financial_assistance/applications/summary_subsection', locals: {subsection: helper.preferences_summary} %></section>
<section><%= render partial: 'financial_assistance/applications/summary_subsection', locals: {subsection: helper.household_summary} %></section>
