<% if @bs4 %>
  <%= render partial: 'shared/family_side_nav' %>

  <h1><%= l10n('faa.cost_savings_applications') %></h1>
  <p><%= l10n('faa.cost_savings_applications_desc') %></p>
  <% if FinancialAssistanceRegistry.feature_enabled?(:oe_application_warning_display) %>
    <% if HbxProfile.current_hbx.under_open_enrollment? %>
      <% oe_year = Family.application_applicable_year %>
      <% current_year = oe_year - 1 %>
      <p><strong data-cuke='coverage_update_reminder_display'><%= l10n('faa.coverage_update_reminder', year: current_year, year2: oe_year) %></strong></p>
    <% elsif HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_start_on > TimeKeeper.date_of_record %>
      <p><strong data-cuke='oe_application_warning_display'><%= l10n('faa.cost_savings_applications_oe_desc', next_year: HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_end_on.year, oe_start: HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_start_on&.strftime("%B %d, %Y")) %></strong></p>
    <% end %>
  <% end %>

  <%= form_tag(main_app.help_paying_coverage_response_insured_consumer_role_index_path, method: :get, id: 'start-new-app-form') do %>
    <%= hidden_field_tag :is_applying_for_assistance, 'true' %>
    <%= submit_tag l10n('faa.start_new_application'), id: "start-new-app", class: "btn btn-primary" %>
  <% end %>

  <% if @applications.present? %>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th><%= l10n('ID') %></th>
            <th><%= l10n('faa.applications.table.year') %></th>
            <th><%= l10n('faa.applications.table.status') %></th>
            <th><%= l10n('faa.applications.table.started') %></th>
            <th><%= l10n('faa.applications.table.submission') %></th>
            <th><%= l10n('actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @applications.each do |application| %>
            <tr>
              <td><%= application.hbx_id %></td>
              <td><%= application.assistance_year %></td>
              <td><%= application_state_for_display(application) %></td>
              <td><%= to_est application.created_at %></td>
              <td>
                <% submission = to_est application.submitted_at %>
                <%= submission.present? ? submission : l10n('faa.not_applicable_abbreviation') %>
              </td>
              <td>
                <%= render partial: 'datatables/shared/dropdown', locals: {dropdowns: application_dropdowns(application), pull_left: true, dropdown_class: "dropdown-menu-right"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= form_tag(main_app.help_paying_coverage_response_insured_consumer_role_index_path, method: :get, id: 'start_new_app', style: "align-self:flex-end;") do %>
      <%= hidden_field_tag :is_applying_for_assistance, 'true' %>
      <% if FinancialAssistanceRegistry.feature_enabled?(:iap_year_selection) %>
        <%= submit_tag l10n('faa.start_new_application'), class: "btn btn-primary"%>
      <% else %>
        <%= submit_tag l10n('faa.start_new_application'), onclick: "StartNewAppModal()", class: "btn btn-primary"%>
      <% end %>
    <% end %>
  <% end %>

  <!-- modal -->
  <div class="modal" id="new-application-confirmation" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container pt-2 pb-4 modal-content">
        <div class="d-flex mb-4 align-items-center">
          <div class="col-auto px-0">
            <div class="warning-icon icon" alt="Info" aria-hidden="true">&nbsp;</div>
          </div>
          <div class="col pl-0">
              <h2 class="modal-title"><%= l10n('faa.start_new_application') %>?</h5>
          </div>
          <div class="col-auto px-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <div class="close-icon icon align-self-start m-0" aria-hidden="true">&nbsp;</div>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p><%= l10n('faa.start_new_application_modal_body') %></p>
        </div>
        <div class="d-flex align-items-center mt-4 justify-content-end">
          <button type="button" class="btn-secondary mr-2" data-dismiss="modal"><%= l10n('faa.cancel') %></button>
          <button type="button" id="confirm-new-application" class="btn-primary mr-2"><%= l10n('faa.start_new_application') %></button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#start-new-app').on('click', function() {
      if (<%= FinancialAssistanceRegistry.feature_enabled?(:iap_year_selection) %>) {
        startNewApp();
      } else {
        StartNewAppModal();
      }
    });

    function startNewApp() {
      $("#start-new-app-form").submit();
    }

    function StartNewAppModal() {
      var applications = <%= @applications.present? %>
      if (applications) {
        event.preventDefault();
        $('#new-application-confirmation').modal('show');

        $('#confirm-new-application').off('click');
        $('#confirm-new-application').on('click', function() {
          confirmApp();
        });
      }
    }

    function confirmApp() {
      $('.modal-backdrop').removeClass('modal-backdrop');
      $('.modal-open').removeClass('modal-open');
      startNewApp();
    }
  </script>
<% else %>
  <div aria-labelledby="aria-labelledby" class="tab-pane fade in active" id="home">
    <div class="container" class="mt-2">
      <div class="row">
        <div class="col-md-2">
          <%= render 'ui-components/v1/navs/families_navigation' %>
        </div>
        <div class="col-md-10">
          <h1 class="darkblue no-buffer"><%= l10n('faa.cost_savings_applications') %></h1>
          <h4><%= l10n('faa.cost_savings_applications_desc') %></h4>
          <% if FinancialAssistanceRegistry.feature_enabled?(:oe_application_warning_display) && HbxProfile.current_hbx.under_open_enrollment? %>
            <% oe_year = Family.application_applicable_year %>
            <% current_year = oe_year - 1 %>
            <h4 data-cuke='coverage_update_reminder_display'><b><%= l10n('faa.coverage_update_reminder', year: current_year, year2: oe_year) %></b></h4>
          <% end %>
          <% if FinancialAssistanceRegistry.feature_enabled?(:oe_application_warning_display) && !HbxProfile.current_hbx.under_open_enrollment? && (HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_start_on > TimeKeeper.date_of_record) %>
            <h4 data-cuke='oe_application_warning_display'><%= l10n('faa.cost_savings_applications_oe_desc', next_year: HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_end_on.year, oe_start: HbxProfile.current_hbx.benefit_sponsorship.benefit_coverage_periods.last.open_enrollment_start_on&.strftime("%B %d, %Y")) %></h4>
          <% end %>
          <div class="pull-right" style="display:flex; justify-content: space-between; padding: 10px 0px;">
            <%= form_tag(main_app.help_paying_coverage_response_insured_consumer_role_index_path, method: :get, id: 'start_new_app', style: "align-self:flex-end;") do %>
              <%= hidden_field_tag :is_applying_for_assistance, 'true' %>
              <% if FinancialAssistanceRegistry.feature_enabled?(:iap_year_selection) %>
                <%= submit_tag l10n('faa.start_new_application'), class: "btn btn-primary"%>
              <% else %>
                <%= submit_tag l10n('faa.start_new_application'), onclick: "StartNewAppModal()", class: "btn btn-primary"%>
              <% end %>
            <% end %>
          </div>

          <% if @applications.present? %>
            <table class="table table-striped">
              <thead class="form-heading">
                <tr>
                  <th class="form-heading"><%= l10n('id').upcase %></th>
                  <th class="form-heading"><%= l10n('application_year').upcase %></th>
                  <th class="form-heading"><%= l10n('status').upcase %></th>
                  <th class="form-heading"><%= l10n('started_on').upcase %></th>
                  <th class="form-heading"><%= l10n('submitted_on').upcase %></th>
                  <% unless FinancialAssistanceRegistry.feature_enabled?(:iap_year_selection) %>
                    <th class="form-heading"><%= l10n('determination').upcase %></th>
                  <% end %>
                  <th class="form-heading"><%= l10n('actions').upcase %></th>
                </tr>
              </thead>
              <tbody>
                <% @applications.each do |application| %>
                <tr>
                  <td><%= application.hbx_id %></td>
                  <td><%= application.assistance_year %></td>
                  <td><%= application_state_for_display(application) %></td>
                  <td><%= to_est application.created_at %></td>
                  <td><%= to_est application.submitted_at %></td>
                  <% unless FinancialAssistanceRegistry.feature_enabled?(:iap_year_selection) %>
                    <td></td>
                  <% end %>
                  <% dropdown = [
                      ['Update Application', edit_application_path(application), (application.is_draft? || (application.imported? && current_user.has_hbx_staff_role?)) ? 'static' : 'disabled'],
                      ['Copy to New Application', copy_application_path(application), do_not_allow_copy?(application, current_user) ? 'disabled' : 'static'],
                      ['View Eligibility Determination', eligibility_results_application_path(application), (application.is_determined? || application.is_terminated?) ? 'static' : 'disabled'],
                      ['Review Application', review_application_path(application), application.is_reviewable? ? 'static' : 'disabled']
                    ] %>
                  <% if current_user.has_hbx_staff_role? %>
                    <% dropdown << ['Full Application', raw_application_application_path(application), application.is_reviewable? ? 'static' : 'disabled'] %>
                    <% dropdown << ['Transfer History', transfer_history_application_path(application), 'static' ] if FinancialAssistanceRegistry.feature_enabled?(:transfer_history_page) %>
                  <% end %>
                  <td>
                    <%= render partial: 'datatables/shared/dropdown', locals: {dropdowns: dropdown, row_actions_id: "", pull_left: true}, formats: :html %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="modal" id="new-application-confirmation" role="dialog">
    <div class="modal-dialog" style="width: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= l10n('faa.start_new_application') %>?</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p><%= l10n('faa.start_new_application_modal_body') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-default" data-dismiss="modal"><%= l10n('faa.cancel') %></button>
          <button type="button" class="btn btn-primary btn-confirmation" onclick='confirmApp(); return false;'><%= l10n('faa.start_new_application') %></button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function StartNewAppModal() {
      var applications = <%= @applications.present? %>
      if (applications) {
        event.preventDefault();
        $('#new-application-confirmation').modal('show')
      }
    }
    function confirmApp() {
      $('.modal-backdrop').removeClass('modal-backdrop');
      $('.modal-open').removeClass('modal-open');
      $("#start_new_app").submit();
    }
  </script>
<% end %>
