<div class="container">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
    <div class="col-md-12">
      <span class="view-applications-top"><%= link_to "View my Applications", applications_path, class: "btn btn-small btn-primary" %></span>
      <div id="dependents_info_wrapper">
      <button onClick="window.print()" class="btn-default btn interaction-click-control-print" > Print </button>
      <h2 class="darkblue">Review Your Application</h2>
      <p><b>Application ID:</b> <%= @application.hbx_id %> </p>
      <% if income_and_deductions_for_any(@application).present? %>
        <h3 class="darkblue">Income and Adjustments</h3>
        <div class="col-md-12 pz">
          <div class="row row-form-wrapper ptb no-buffer row-height form-content">
            <div class="col-md-11">The following is information
              <span class="form-heading">you entered for everyone in this application. </span></div>
            <div class="col-md-1">
            </div>
          </div>
          <table class="table table-border-line mb0 table-grey-border <%= 'mb0' if FinancialAssistanceRegistry[:net_annual_income_display].enabled? %>" border="1">
            <thead>
            <tr class="form-heading">
              <th class="no-bottom-border"><b>PERSON </b></th>
              <th class="no-bottom-border"><b>TYPES</b></th>
              <th class="no-bottom-border"><b>FREQUENCY</b></th>
              <th class="no-bottom-border"><b>AMOUNT</b></th>
              <th class="no-bottom-border"><b>DATES </b></th>
            </tr>
            </thead>
            <tbody>
            <% @applicants.each do |applicant| %>
              <% income_and_deductions_for(applicant).each do |embedded_document| %>
                <tr>
                  <td> <%= applicant.full_name %> </td>
                  <td> <%= l10n("faa.income.#{embedded_document.kind}") %> </td>
                  <td> <%= embedded_document.frequency_kind.humanize %> </td>
                  <td>
                    <b>
                      <% if embedded_document.is_a? FinancialAssistance::Deduction %>
                          (<%= number_to_currency(embedded_document.amount.to_s) %>)
                      <% else %>
                          <%= number_to_currency(embedded_document.amount.to_s) %>
                      <% end %>
                    </b>
                  </td>
                  <td>
                    <%= start_to_end_dates(embedded_document) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>

          <% if FinancialAssistanceRegistry[:net_annual_income_display].enabled? %>
            <div class="col-md-12 pz">
              <% @applicants.each do |applicant| %>
                <% unless applicant.net_annual_income.nil? %>
                  <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                    <div class="col-md-7 annual-income-row">
                      <%= applicant.first_name %>'s annual income for <%= @application.assistance_year %>
                      <a href="#net_annual_income" data-toggle="modal" data-target="#net_annual_income"><i class="fa fa-info-circle"></i></a> :
                    </div>
                    <div class="col-md-5">
                      <%= number_to_currency(applicant.net_annual_income) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <%= render partial: 'financial_assistance/shared/modal_support_text_household', locals: {key: "net_annual_income"} %>
            </div>
          <% end %>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary" style="padding: 0px; height: 20px">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
          </div>
        </div>
      <% end %>
      <br>

      <% @applicants.each do |applicant| %>
        <div class="col-md-12 pz" style="padding-bottom: 10px;">
          <div class="row row-form-wrapper ptb no-buffer row-height main-heading form-bottom-border">
            <div class="col-md-11" style="font-size: 20px; font-weight: bold; padding-left: 0px;"><span></span>
              <i class="fa fa-user blue-icon"></i> <%= applicant.full_name %>
            </div>
          </div>

          <div class="row row-form-wrapper ptb no-buffer row-height form-bottom-border">
            <table class="table mb0">
              <tr>
                <thead>
                <tr class="form-heading">
                  <th class="form-heading">DOB</th>
                  <th class="form-heading"><%= l10n("gender").to_s.upcase %></th>
                  <th class="form-heading">RELATIONSHIP</th>
                  <th class="form-heading">NEEDS COVERAGE?</th>
                </tr>
                </thead>

                <tbody>
                <tr class="noBorder">
                  <td><%= applicant.dob %></td>
                  <td><%= applicant.gender.humanize %></td>
                  <td><%= applicant.is_primary_applicant? ? 'Self' : applicant.relationships.find_by(relative_id: @application.primary_applicant.id).kind.humanize %></td>
                  <td><%= human_boolean applicant.is_applying_coverage %></td>
                </tr>
                </tbody>
              </tr>
            </table>
          </div>
          <%= render partial: "financial_assistance/applications/demographic", collection: @demographic_hash[applicant.id], as: :demographic %>
          <div class="form-bottom-border">
            <%= render partial: "financial_assistance/applications/income_coverage", collection: @income_coverage_hash[applicant.id], as: :income_coverage, locals: {applicant: applicant} %>
          </div>
        </div>
        <br>
      <% end %>

      <div class="row white-background">
        <div class="col-md-12">
          <% if @application.applicants.count > 1 %>
            <div class="row row-form-wrapper ptb no-buffer row-height main-heading form-bottom-border">
              <div class="col-md-12" style="font-size: 20px; font-weight: bold; padding-left: 0px;"><span></span>
                <i class="fa fa-user blue-icon"></i> <%= "Your Household" %>
              </div>
            </div>

            <% if @all_relationships.present? %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
                <div class="col-md-11" style="font-weight: bold;">FAMILY RELATIONSHIPS</div>
                <div class="col-md-1">
                  <%= link_to financial_assistance.application_relationships_path(@application), id: 'edit-family-relationships-pencil' do %>
                      <i class="fa fa-pencil fa-lg"></i>
                  <% end %>
                </div>
              </div>

              <% @all_relationships.each do |er| %>
                <div class="review-relations">
                  <div class="row review-relation-headers">
                    <div class="col-lg-3">Name</div>
                    <div class="col-lg-5">RELATIONSHIP</div>
                    <div class="col-lg-4">HOUSEHOLD MEMBER</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3"><%= member_name_by_id(er.applicant_id) %></div>
                    <div class="col-lg-5">
                      <div class="select-relation rs_selection">
                        <%= "is " + er.kind %>
                      </div>
                      <div style="float:left; margin-right: 10px;"> of</div>
                      <div class="icon-rel">
                        <i class="fa fa-user icn-out fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <i class="fa fa-user icn-out fa-lg" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <%= member_name_by_id(er.relative_id) %>
                    </div>
                  </div>
                </div>
                <% end %>
            <% end %>
          <% end %>

          <!-- Your Preferences -->
          <% unless [@application.is_requesting_voter_registration_application_in_mail, @application.years_to_renew].include?(nil) %>
            <div class="row row-form-wrapper ptb no-buffer row-height form-heading form-top-border">
              <div class="col-md-12" style="font-weight: bold;">YOUR PREFERENCES</div>
            </div>

            <% if FinancialAssistanceRegistry.feature_enabled?(:voter_registration_through_hbx) %>
              <% if @cfl_service.displayable_field?('application', @application.id, :is_requesting_voter_registration_application_in_mail) %>
                <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                  <div class="col-md-6">Would you like to register to vote in DC or update your current registration?</div>
                  <div class="col-md-6"><%= human_boolean(@application.is_requesting_voter_registration_application_in_mail) %></div>
                </div>
              <% end %>
            <% end %>

            <% if @cfl_service.displayable_field?('application', @application.id, :years_to_renew) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6">How long would you like your eligibility for help paying for coverage to be renewed?</div>
                <div class="col-md-6"><%= @application.years_to_renew %></div>
              </div>
            <% end %>
          <% end %>

          <!-- More about your Household -->
          <% if @cfl_service.displayable_field?('application', @application.id, :parent_living_out_of_home_terms) %>
            <div class="row row-form-wrapper ptb no-buffer row-height form-heading form-top-border">
              <div class="col-md-12">MORE ABOUT YOUR HOUSEHOLD</div>
            </div>

            <div class="row row-form-wrapper ptb no-buffer row-height form-content">
              <div class="col-md-6">Does any child on this application have a parent living outside of the home?</div>
              <div class="col-md-6"><%= human_boolean(@application.parent_living_out_of_home_terms) %></div>
            </div>

            <% if FinancialAssistanceRegistry.feature_enabled?(:full_medicaid_determination_step) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6"><%= state_abbreviation_text(l10n("faa.medicaid_question")) %></div>
               <div class="col-md-6"><%= human_boolean(@application.full_medicaid_determination) %></div>
              </div>
            <% end %>

            <% if FinancialAssistanceRegistry.feature_enabled?(:display_medicaid_question) %>
              <div class="row row-form-wrapper ptb no-buffer row-height form-content">
                <div class="col-md-6"><%= l10n("faa.medicaid_question") %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
        <div class="view-applications-bottom" ><%= link_to "View my Applications", applications_path, class: "btn btn-small btn-primary" %></div>
    </div>
    <button onClick="window.print()" class="btn-default btn interaction-click-control-print" > Print </button>
    </div>
  </div>
</div>
