<table class="total_table address" border="0">
  <tbody>
    <tr>
      <td><br></br></td>
    </tr>
    <tr>
      <td><%= recipient.primary_fullname %></td>
    </tr>
    <tr class="fssize1">
       <td><%= recipient.primary_address.street_1 %></td>
    </tr>
    <% if recipient.primary_address.street_2.present? %>
    <tr class="fssize1">
      <td><%= recipient.primary_address.street_2 %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= recipient.primary_address.city %>, <%= recipient.primary_address.state %> <%= recipient.primary_address.zip %></td>
        <% display_mpi_indicator =  show_mpi_indicator if defined? show_mpi_indicator%>
        <% if display_mpi_indicator.nil? %>
          <td style="text-align: right;"><%= notice.notice_number %></td>
        <% end %>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <% if !recipient.primary_address.street_2.present? %>
    <tr class="fssize1">
      <td><br></td>
    </tr>
    <% end %>
  </tbody>
</table>