- if assistance_tax_household_member.tax_household_id == assistance_tax_household._id
  %assistance_tax_household_member
    %individual
      = render :partial => "events/individuals/individual", :object => assistance_tax_household_member.person, as: :individual, :locals=> {family_id: financial_assistance_application.family.id}
      %is_primary_applicant= assistance_tax_household_member.family_member.is_primary_applicant
      %is_consent_applicant= assistance_tax_household_member.family_member.is_consent_applicant
      %is_coverage_applicant= assistance_tax_household_member.family_member.person.consumer_role.is_applying_coverage
      - if assistance_tax_household_member.is_without_assistance.present?
        %is_without_assistance= assistance_tax_household_member.is_without_assistance
      - if assistance_tax_household_member.is_ia_eligible.present?
        %is_insurance_assistance_eligible= assistance_tax_household_member.is_ia_eligible?
      - if assistance_tax_household_member.is_medicaid_chip_eligible.present?
        %is_medicaid_chip_eligible= assistance_tax_household_member.is_medicaid_chip_eligible?
      - if assistance_tax_household_member.is_non_magi_medicaid_eligible.present?
        %is_non_magi_medicaid_eligible= assistance_tax_household_member.is_non_magi_medicaid_eligible
      - if assistance_tax_household_member.is_totally_ineligible.present?
        %is_totally_ineligible= assistance_tax_household_member.is_totally_ineligible
        / We currently don't have a way to pull this data. 
        / %magi_medicaid_monthly_household_income
        / %magi_medicaid_monthly_income_limit
        / %aptc_csr_annual_household_income
        / %aptc_annual_income_limit
        / %csr_annual_income_limit
        - unless assistance_tax_household_member.person.is_disabled.blank? && assistance_tax_household_member.person.is_tobacco_user.blank?
          %person_health
          - unless assistance_tax_household_member.person.is_tobacco_user.blank?
            %is_tobacco_user= assistance_tax_household_member.person.is_tobacco_user
          - unless assistance_tax_household_member.person.is_disabled.blank?
            %is_disabled= assistance_tax_household_member.person.is_physically_disabled
    - unless assistance_tax_household_member.person.consumer_role.blank?
      - unless assistance_tax_household_member.person.consumer_role.lawful_presence_determination.citizen_status == "us_citizen"
        = render :partial => "events/lawful_presence/immigration_information", :object => assistance_tax_household_member.person, as: :person
      = render :partial => "events/financial_assistance/applicant_information", :object => assistance_tax_household_member, as: :applicant
    %incomes
      - if assistance_tax_household_member.incomes.size > 0
        = render :partial => "events/financial_assistance/income", :collection => assistance_tax_household_member.incomes, as: :income
    %deductions
      - if assistance_tax_household_member.deductions.size > 0
        = render :partial => "events/financial_assistance/deduction", :collection => assistance_tax_household_member.deductions, as: :deduction
    %benefits
      - if assistance_tax_household_member.benefits.size > 0
        = render :partial => "events/financial_assistance/benefit", :collection => assistance_tax_household_member.benefits, as: :benefit



