%benefit
  %benefit_id= benefit.id
  - if benefit.title 
    %title= benefit.title
  %benefit_type= "urn:openhbx:terms:v1:financial_assistance_benefit##{benefit.kind}"
  - if benefit.employer_name
    %employer_name= benefit.employer_name
  - if benefit.employer_id
    %employer_id= benefit.employer_id
  - if benefit.employer_address
    %employer_address
      = render :partial => "events/addresses/address", :object => benefit.employer_address
  - if benefit.employer_phone
    %employer_phone
      = render :partial => "events/phones/phone", :object => income.employer_phone
  - if benefit.is_esi_waiting_period
    %is_esi_waiting_period= benefit.is_esi_waiting_period
  - if benefit.is_esi_mec_met
    %is_esi_mec_met= benefit.is_esi_mec_met
  %esi_covered= "urn:openhbx:terms:v1:financial_assistance_benefit_esi_coveredt##{benefit.esi_covered}"
  - if benefit.employee_cost
    %employee_cost= benefit.employee_cost.round(2)
  - if benefit.employee_cost_frequency
    %employee_cost_frequency= benefit.employee_cost_frequency
  %submitted_at= benefit.submitted_at.strftime('%Y-%m-%dT%H:%M:%S')