%benchmark_plan
  %id
    %id= financial_assistance_application.plan.hios_id
  %name= financial_assistance_application.plan.name
  %active_year= financial_assistance_application.plan.active_year
  %is_dental_only= financial_assistance_application.plan.is_dental_only?
  = render :partial=> "events/shared/carrier", :object=> financial_assistance_application.plan.carrier_profile, as: :carrier
  %metal_level= "urn:openhbx:terms:v1:plan_metal_level##{financial_assistance_application.plan.metal_level}"
  %coverage_type= "urn:openhbx:terms:v1:qhp_benefit_coverage##{financial_assistance_application.plan.coverage_kind}"
  %ehb_percent= financial_assistance_application.plan.ehb*100