%deduction
  %deduction_id= deduction.id
  - if deduction.title
    %title= deduction.title
  %deduction_type= "urn:openhbx:terms:v1:financial_assistance_deduction##{deduction.kind}"
  %amount= deduction.amount.round(2)
  %frequency= "urn:openhbx:terms:v1:financial_assistance_income_frequency##{deduction.frequency_kind}"
  %start_on= simple_date_for(deduction.start_on)
  %end_on= simple_date_for(deduction.end_on)
  %submitted_at= deduction.submitted_at.strftime('%Y-%m-%dT%H:%M:%S')