!!! XML
%organization{ :xmlns => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:type" => "EmployerOrganizationType"}
  %id
    %id= employer.hbx_id
  %name= employer.legal_name.strip
  - if !employer.dba.blank?
    %dba= employer.dba.strip
  -#%display_name= " " filed doesn't exists
  -#%abbreviation= " " filed doesn't exists
  %fein= employer.fein.strip
  %office_locations
    = render :partial => "events/v2/organizations/office_location", :collection => employer.organization.office_locations
  - if !employer.organization.home_page.blank?
    %website= employer.organization.home_page
  - if employer.staff_roles.any?
    %contacts
      = render :partial => "events/v2/employers/owner_contact", :collection => employer.staff_roles.uniq
  %is_active= (employer.is_active.blank? ? true : employer.is_active)
  = render :partial => "events/v2/employers/broker_agency_profile", :object => employer.broker_agency_profile if employer.broker_agency_profile
  %employer_profile
    %business_entity_kind= "urn:openhbx:terms:v1:employers##{employer.entity_kind}"
    - if !employer.sic_code.blank?
      %sic_code= employer.sic_code
    - if employer.broker_agency_accounts.present?
      %brokers
        = render :partial => "events/v2/employers/broker_agency_account", :collection => employer.broker_agency_accounts,
        :locals => { :employer_profile => employer }
    - plan_years = employer.plan_years.select(&:eligible_for_export?)
    - if plan_years
      %plan_years
        = render :partial => "events/v2/employers/plan_year", :collection => plan_years
    - if employer.is_coversion_employer?
      %shop_transfer
        %hbx_active_on= employer.created_at.strftime("%Y-%m-%d")
  = render :partial => "events/v2/shared/versioned_resource", :object => employer