.content
  .container
    .row
      .col-lg-7.col-md-7.col-sm-8.col-xs-12
        - if @step == 'start'
          %h4
            = l10n("insured.interactive_identity_verifications.failed_validation.start")
          = render partial: 'insured/fdsh_ridp_verifications/options_to_verify_identity'
        - else
          %br
          = render partial: 'notices/shared/unordered_list', locals: { previous: l10n('insured.interactive_identity_verifications.failed_validation.else'), listings: [l10n('insured.interactive_identity_verifications.failed_validation.step_1'), l10n('insured.interactive_identity_verifications.failed_validation.step_2', transaction_id: @verification_transaction_id), l10n('insured.interactive_identity_verifications.failed_validation.step_3')] }
          - unless @verification_transaction_id.blank?
            %p If you are able to resolve the issue with Experian, select CONTINUE APPLICATION.
            %p= link_to(t('insured.interactive_identity_verifications.failed_validation.override'), new_insured_fdsh_ridp_verification_path, :class => "btn btn-primary  btn-small interaction-click-control-override-identity-verification" + pundit_class(Family, :updateable?))
          = render partial: 'insured/fdsh_ridp_verifications/options_to_verify_identity'
        .btn.btn-default.hidden{"data-target" => "#help_with_plan_shopping", "data-toggle" => "modal"}
          =l10n("help_me_sign_up")
        %br
          = render partial: 'ui-components/v1/modals/help_with_plan'
          = render partial: 'shared/application_types_list'
        .outstanding-ridp-documents
          = render partial: 'insured/fdsh_ridp_verifications/outstanding_ridp_documents'
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
        = render  partial: 'shared/individual_progress', locals: {ridp:true, step: '2', next_link: ridp_redirection_link(@person).present? ? ridp_redirection_link(@person) : insured_family_members_path(consumer_role_id: @person.consumer_role.id), identity_verified: @person.consumer_role.identity_verified?, application_verified: @person.consumer_role.application_verified?}
