<div class="container plan_design_proposals">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-2">
        <i class="fa fa-star fa-5x pr-star" aria-hidden="true"></i>
      </div>
      <div class="col-md-10">
        <h3><%= @plan.name %></h3>
        <a class="pull-right toggle-text" data-toggle="collapse" href="#collapseExample" aria-expanded="true">Hide Details</a>
        <div class="collapse in" id="collapseExample">
        <table class="table borderless">
          <tbody>
            <tr class="borderless">
              <th style="width:150px" class="th-gray">Coverage Year</th>
                <td><%= @benefit_group.benefit_application.benefit_sponsorship.initial_enrollment_period_to_s %></td>
            </tr>
            <tr class="borderless">
              <th style="width:150px" class="th-gray">Eligibility</th>
              <td><%= @benefit_group.effective_title_by_offset %></td>
            </tr>
          </tbody>
        </table>
        <table class="table borderless">
          <tbody>
            <tr class="borderless">
              <th class="th-gray">Reference Plan</th>
              <th class="th-gray">Carrier</th>
              <th class="th-gray">Type</th>
              <th class="th-gray">Metal Level</th>
              <th class="th-gray">Plans By</th>
            </tr>
            <tr class="borderless">
              <td><%= @plan.name %></td>
              <td><%= @plan.carrier_profile.legal_name %></td>
              <td><%= @plan.plan_type.upcase %></td>
              <td><%= @plan.metal_level.capitalize %></td>
              <td><%= @benefit_group.plan_option_kind.humanize %></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12 no-pd">
          <% if @benefit_group.sole_source? %>
            <%= render 'sponsored_benefits/organizations/plan_design_proposals/shared/employee_composite_costs', benefit_group: @benefit_group  %>
          <% else %>
            <%= render 'sponsored_benefits/organizations/plan_design_proposals/shared/employee_traditional_costs', benefit_group: @benefit_group %>
          <% end %>
        </div>
        <br />
        <div class="col-md-4 no-pd">
          <p class="th-gray">Employer Estimated Maximum Monthly Cost</p>
          <h3 class="text-center"><%= number_to_currency(@employer_contribution_amount) %></h3>
        </div>
        <div class="col-md-8">
          <table class="table borderless">
            <tbody>
              <tr class="border-bottom">
                <th style="width:490px"></th>
                <th class="th-gray" style="width:200px">Mix</th>
                <th class="th-gray" style="width:200px">Max</th>
              </tr>
              <tr>
                <td style="width:490px">Total Estimated Monthly Cost for Plan Participants</td>
                <td style="width:200px"><%= number_to_currency(@min_employee_cost) %></td>
                <td style="width:200px"><%= number_to_currency(@max_employee_cost) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-md-12 no-pd">
    <a><i class="fa fa-info-circle" aria-hidden="true"></i> Note: Your monthly cost is based on final employee enrollment.</a>
  </div>
  <br /><br />
  <% unless @benefit_group.sole_source? %>
    <div class="col-md-12 no-pd">
      <div class="panel panel-default">
        <div class="panel-heading custom-heading">
          <h3 class="panel-title">Employee Costs</h3>
        </div>
        <div class="panel-body">
          <%= render 'sponsored_benefits/organizations/plan_design_proposals/shared/benefit_group_cost_summary', benefit_group: @benefit_group %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-12 no-pd">
    <div class="panel panel-default">
      <div class="panel-heading custom-heading">
        <h3 class="panel-title"><%= @plan.name %> - Details</h3>
      </div>
      <div class="panel-body">
        <%= render 'sponsored_benefits/organizations/plan_design_proposals/plan_comparisons/comparison_table', qhps: @qhps, single_plan_displayed: true %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-5">
    To finalize your quote and make it available to your client, click publish Quote.  Once you publish your quote, you cannot make edits to it.  If you want to make edits to your qupte now, click Update Roster or Select Benefits.
  </div>
  <div class="col-md-3">
    <%= link_to 'Return to Quote Management', sponsored_benefits.organizations_plan_design_organization_plan_design_proposals_path(@plan_design_organization), class:'btn btn-primary' %>
  </div>
  <div class="col-md-7 col-md-offset-5 sq-btn-grp">
    <%= link_to "Download PDF", sponsored_benefits.organizations_plan_design_proposal_plan_reviews_path(@plan_design_proposal), id: "submitPlanDesignProposal", class:'btn btn-default' %>
    <%= link_to "Update Roster", sponsored_benefits.edit_organizations_plan_design_organization_plan_design_proposal_path(@plan_design_organization, @plan_design_proposal), class:'btn btn-primary' %>
    <%= link_to "Select Health Benefits", sponsored_benefits.new_organizations_plan_design_proposal_plan_selection_path(@plan_design_proposal), class:'btn btn-primary' %>
    <%= link_to "Publish Quote", sponsored_benefits.organizations_plan_design_proposal_publish_path(@plan_design_proposal), method: :post, class:'btn btn-primary' %>
    <div class="success-message"></div>
  </div>
</div>
