<% if @bs4 %>
  <%= render partial: '/financial_assistance/shared/faa_progress_options', locals: {step: 2} %>
  <% if @missing_relationships.any? %>
    <div class="alert alert-error d-flex" role="alert">
      <div>
        <div class="error-icon icon mt-3" alt="error" aria-hidden="true">&nbsp;</div>
      </div>
      <div class="mt-2 mb-1">
        <p><%= l10n("faa.review.your_household.relationships_error") %></p>
      </div>
    </div>
  <% end %>
  <h1><%= l10n("family_relationships") %></h1>
  <p>
    <%= l10n("household_relationships") %>
    <b>
      <%= l10n("continue_to_next_step") %>
    </b>
  </p>
  <%= form_tag application_relationships_path(@application), remote: form_remote do %>
    <% @all_relationships.each do |er| %>
      <div class="d-flex justify-items-between my-4 align-items-center" id="<%= "#{er[:applicant] }_#{er[:relative]}" %>">
        <span><%= @application.applicants.find(er[:applicant]).first_name %> <%= l10n("faa.review.your_household.is") %></span>
        <div class="mx-3">
          <label for='<%= "#{er[:applicant] }_#{er[:relative]}_relationship" %>' class="sr-only"><%= l10n("faa.review.your_household.relationship_lanel") %></label>
          <%= select_tag :kind, er[:relation].present? ? options_for_select(humanize_relationships, er[:relation]) : options_for_select(humanize_relationships), :prompt => 'choose', required: true, class: 'selected_relationship', "data-applicant": er[:applicant], "data-relative": er[:relative], id: "#{er[:applicant] }_#{er[:relative]}_relationship" %>
        </div>
        <span><%= l10n("faa.review.your_household.of") %> <%= @application.applicants.find(er[:relative]).first_name %></span>
      </div>
    <% end %>
  <% end %>
  <%= render partial: "shared/progress_navigation_buttons", locals: { next_link: review_and_submit_application_path(@application), disable_link: @missing_relationships.any?} %>
  <script>
    $(function() {
      if(<%= @missing_relationships.any? %>){
        $('#btn-continue', '#continue_button').attr('disabled', true);
        $('#btn-continue', '#continue_button').addClass('disabled');
        $('#btn-continue').addClass('disabled');

      } else {
        $('#btn-continue', '#continue_button').removeAttr('disabled');
        $('#btn-continue', "#continue_button").removeClass('disabled');
        $('#btn-continue').removeClass('disabled');
      }
    });
  </script>
<% else %>
<h1 class="darkblue">Family Relationships</h1>
<p>We need to understand how members of your household are related. Select the relationship for each person listed
  below. Then select CONTINUE.</p>
<%= form_tag application_relationships_path(@application), remote: form_remote do %>
    <% @all_relationships.each do |er| %>
        <% house_hold_class = er[:relation].present? ? "household" : "household missing_relation" %>
        <div class="<%= house_hold_class %>" id="<%= "#{er[:applicant] }_#{er[:relative]}" %>">
          <div class="usercard">
            <div class="row card-detail-titles">
              <div class="col-lg-3">Name</div>
              <div class="col-lg-5">Relationship</div>
              <div class="col-lg-4">Household Member</div>
            </div>
            <div class="row">
              <div class="col-lg-3"><%= @application.applicants.find(er[:applicant]).first_name %></div>
              <div class="col-lg-5">
                <div class="select-positioning"> is</div>
                <div class="select-relation rs_selection">
                  <%= select_tag :kind, er[:relation].present? ? options_for_select(humanize_relationships, er[:relation]) : options_for_select(humanize_relationships), :prompt => 'choose', required: true, class: 'selected_relationship', "data-applicant": er[:applicant], "data-relative": er[:relative]%>
                </div>
                <div style="float:left; margin-right: 10px;"> of</div>
                <div class="icon-rel">
                  <i class="fa fa-user icn-out fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-link" aria-hidden="true"></i>
                  <i class="fa fa-user icn-out fa-lg" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-lg-4">
                <%= @application.applicants.find(er[:relative]).first_name %>
              </div>
            </div>
          </div>
        </div>
        <br/>
    <% end %>
<% end %>
<%= submit_tag "", class: "" , :style => "display: none;" %>
<script>
  $(function() {
    if(<%= missing_relationships.present? %>){
      $('#btn-continue', '#continue_button').attr('disabled', true);
      $('#btn-continue', '#continue_button').addClass('disabled');
      $('#btn-continue').addClass('disabled');

    } else {
      $('#btn-continue', '#continue_button').removeAttr('disabled');
      $('#btn-continue', "#continue_button").removeClass('disabled');
      $('#btn-continue').removeClass('disabled');
    }
  });
</script>
<% end %>
