.n-radio-row
  %label.n-radio{ :for=>"new_employee-sponsored-benefits#{er.object_id}" }
    - check = (index == 0 ? true : false)
    %input.n-radio{ :type=>"radio", :class=> "employer-sponsored", :checked=>check, :id=>"new_employee-sponsored-benefits#{er.object_id}", :name=>"healthcare-marketplace" }
    %span.n-radio
    =l10n("insured.employee_roles.enroll_as_an_employee", employer_name: er.employer_name)
= form_for(er, :url => insured_employee_index_path, :as => :employment_relationship, :html => {:class => "new_employee-sponsored-benefits#{er.object_id}"}, :method => :post) do |f|
  = f.submit :class => "hidden", :id => "employee-sponsored-benefits#{er.object_id}"
  = f.hidden_field :first_name
  = f.hidden_field :last_name
  = f.hidden_field :middle_name
  = f.hidden_field :name_pfx
  = f.hidden_field :name_sfx
  = f.hidden_field :gender
  = f.hidden_field :hired_on
  = f.hidden_field :eligible_for_coverage_on
  = f.hidden_field :census_employee_id
