.row
  .col-lg-8.col-md-8.col-sm-8.col-xs-12.top-pd
    .ct-1
      %h2= t('welcome.employee.title')
      %p
      %h4
        %strong= t('welcome.employee.subtitle')

      %p.text-justify= simple_format(t('welcome.employee.paragraph1'))
      %p.text-justify= t('welcome.employee.paragraph2')
      %p.text-justify= t('welcome.employee.paragraph3')
      %br

.row
  .col-md-2
    = link_to privacy_insured_employee_index_path, class: 'btn btn-primary btn-continue btn-wd  btn-lg' do
      = t('button.continue')
%br
.row.footer
  .col-md-12
    %em
      %small
        = t('welcome.employee.notice')
        = link_to t('welcome.link'), 'https://www.dchealthlink.com/privacy', target: '_blank'
