= content_for :horizontal_status do
  = render  partial: 'insured/families/horizontal_status.html.erb', locals: {step: 1}
.container
  #new_person_wrapper
    .row
      = form_for(@person, employee_role_submission_options_for(@person)) do |f|
        .col-lg-7.col-md-7.col-sm-8.col-xs-12.bottom-pd
          %h3= l10n("contact_information")
          = render 'person_form', f: f
        .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
          = render  partial: 'shared/signup_progress', locals: {step: '3'}
