= content_for :horizontal_status do
  = render  partial: 'insured/families/horizontal_status.html.erb', locals: {step: 1}
.container
  #new_person_wrapper
    .row
      .col-lg-7.col-md-7.col-sm-8.col-xs-12
        = form_for @person, { :as => :person, :url => match_insured_employee_index_path, :method => :post } do |f|
          %h1.darkblue
            = l10n("personal_information")
          %h3 Account Information
          = render 'remote_search_form', f: f
        // ======
        = form_for @person, { :as => :person, :url => match_insured_consumer_role_index_path, :method => :post } do |f|
          = f.hidden_field :first_name, value: @person_params[:first_name]
          = f.hidden_field :middle_name, value: @person_params[:middle_name]
          = f.hidden_field :last_name, value: @person_params[:last_name]
          = f.hidden_field :name_sfx, value: @person_params[:name_sfx]
          = f.hidden_field :dob, value: @person_params[:dob]
          = f.hidden_field :ssn, value: @person_params[:ssn]
          = f.hidden_field :no_ssn, value: @person_params[:no_ssn]
          = f.hidden_field :gender, value: @person_params[:gender]
          = hidden_field_tag :persisted, true
          = f.submit :class => "hidden", :id => "stay-as-individual"
        // ======
        #person_search_results
          = render partial: 'insured/employee_roles/select_employer'
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
        = render  partial: 'shared/signup_progress', locals: {step: '2'}
