.container
  #new_person_wrapper
    .row
      = form_for @person, { :as => :person, :url => match_insured_employee_index_path, :method => :post } do |f|
        .col-lg-7.col-md-7.col-sm-8.col-xs-12
          %h1.darkblue
            = l10n("personal_information")
          = render 'remote_search_form', f: f
          #person_search_results
            = render 'no_match'
          %br
        .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
          = render  partial: 'shared/signup_progress', locals: {step: '1'}