<div class="container bottom-pd" id='inbox-messages'>
  <div class="no_margin">
    <div class="no-pd">
      <h3 class="title-inline">Messages</h3>
    </div>
  </div>
  <div class="module inbox">
    <div class="row">
      <div class="inboxes" id="inbox_form">
        <div class="pull-right">
          <%= link_to(inbox_exchanges_agent_path(id: provider.id), remote: true) do%>
            <% if @folder == 'Inbox' %>
            <strong>
              Inbox
            </strong>
            <% else %>
            Inbox
            <% end %>
          <span class="badge message-badge"><%= provider.inbox.unread_messages.size %></span>
          <% end %>
          <span class="">
            &nbsp;|&nbsp;
          </span>
          <%- if @sent_box == true %>
          <%= link_to(inbox_exchanges_agent_path(provider, folder: 'Sent'), remote: true) do%>
          <% if @folder == 'Sent' %>
          <strong>
            Sent
          </strong>
          <% else %>
          Sent
          <% end %>
          <% end %>
          <span class="">
            &nbsp;|&nbsp;
          </span>
          <%= link_to(inbox_exchanges_agent_path(id: provider.id, folder: 'Deleted'), remote: true) do%>
          <% if @folder == 'Deleted' %>
          <strong>
            Deleted
          </strong>
          <% else %>
          Deleted
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <%- @folder = (@folder||'Inbox').capitalize %>
      <div class="table-responsive" id="message_list_form">
        <table class="table table-striped table-hover table-sm">
          <thead class="thead-default">
            <tr>
               <%= @folder %>: FROM</th>
              <th>Date</th>
              <th>Subject</th>
              <%- if @folder != 'Deleted' %>
              <th></th>
              <%- end %>
            </tr>
          </thead>
          <tbody>
            <%- if provider.try(:inbox).try(:messages) %>
            <%= render partial: "exchanges/agents/individual_message", :collection => provider.inbox.messages.select{|m| @folder == (m.folder.try(:capitalize) || 'Inbox') }, :as => :message, locals: {provider: provider} %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="show_message_form"></div>
    </div>
  </div>
</div>
