<div class='content'>
  <div class='container top-pd'>
  <br/>
	<h3> Welcome to DC HealthLink </h3>

	<h4> <%=@cac ? 'Certified Application Counselor (CAC)' : 'Customer Service Representative (CSR)'%> </h4>
     <ul>
     	<li> <%=link_to 'New Employee Phone Application', begin_employee_enrollment_exchanges_agents_path(
     	original_application_type: 'phone')  %> <br/></li>

     	<li> <%=link_to 'New Employee Paper Application', begin_employee_enrollment_exchanges_agents_path(
     	original_application_type: 'paper')  %> <br/>&nbsp;</li>
      
      <li> <%=link_to 'New Consumer Phone Application', begin_consumer_enrollment_exchanges_agents_path(
      original_application_type: 'phone')  %> <br/></li>

      <li> <%=link_to 'New Consumer Paper Application', begin_consumer_enrollment_exchanges_agents_path(
      original_application_type: 'paper')  %> </li>
     </ul>
     <br/>
    <% if @person %>
         <div>
         	<br/>
            You have entered data for <%=@person.first_name%> <%=@person.last_name %>. <br/><br/>
            <% if @person.emails.first %>     
                 <%= link_to "Send Confirmation Email to #{@person.emails.first.address}",
                  send_enrollment_confirmation_exchanges_agents_path(person_id: @person.id), data: {remote: true},
                   class: 'btn btn-transparent' %>
                  <br/><br/>     
            <% else %>
                They did not provide an email for followup.
            <% end %>     
            <br/>
         </div>
    <% end %>
    <div id='sent_email_status'></div>  
    <br/> 

<div id='inbox'>
    <div class="row col-md-10">

<%=render 'message_list', provider: current_user.person %>

     </div>
   </div>
</div>


</div>

</div>