<h3>Employer Details </h3>

Name: <%= @employer.name %> </br>
FEIN: <%= @employer.fein %> </br>
Entity Kind: <%= @employer.entity_kind %>

</br>
</br>

<%= link_to "Back", employers_employer_index_path %> &nbsp;&nbsp;
<%= link_to 'Destroy',  @employers_employer,  method: :delete, confirm: 'Are you sure?'  %>

<hr/>

<%= link_to "Add Employer Census Family", edit_employers_employer_path(@employer), class: "btn btn-primary" %> &nbsp;&nbsp;