<% if @nav_option != 'custom' %>
<br/>
<div class="col-xs-12">
  <h1>
    Select Reference Plan
  </h1>
  <h4>
    The reference plan is used to cap employer costs. You’ll choose a reference plan. Then, your contribution towards employee premiums will be applied to the reference plan you choose regardless of which plans your employees select.
  </h4>
</div>
<br class="clear"/>
<br>
<% end %>
<% @dental_plans.each do |p| %>
  <div class="col-xs-4">
    <div class="col-xs-12 reference-plan">
      <div class="col-xs-2">
        <% if @nav_option == 'custom' %>
          <% if @is_edit == false || @elected_plans.blank? %>
            <%= check_box_tag "plan_year[benefit_groups_attributes][0][elected_dental_reference_plan_ids][]", p.id, true %>
            <%= label_tag "plan_year[benefit_groups_attributes][0][elected_dental_reference_plan_#{p.id}][]" do %>
              <i class="fa fa-check-square-o fa-2x"></i>
              <i class="fa fa-square-o fa-2x"></i>
            <% end %>
          <% else %>
            <% checked = true if @elected_plans.include?(p.id) %>
            <%= check_box_tag "plan_year[benefit_groups_attributes][0][elected_dental_reference_plan_ids][]", p.id, checked %>
            <%= label_tag "plan_year[benefit_groups_attributes][0][elected_dental_reference_plan_#{p.id}][]" do %>
              <i class="fa fa-check-square-o fa-2x"></i>
              <i class="fa fa-square-o fa-2x"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= radio_button "#{@location_id}", :dental_reference_plan_id, p.id %>
          <%= label_tag "#{@location_id}[dental_reference_plan_id]" do %>
          <i class="fa fa-circle-o"></i>
          <i class="fa fa-dot-circle-o"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-10">
        <div class="panel row">
          <div class="panel-heading">
            <h3><%= p.name %></h3>
          </div>
          <div class="panel-body">
            <span class="plan-label">Type: </span><span><%= p.plan_type %></span><br>
            <span class="plan-label">Carrier: </span><span><%= p.carrier_profile.legal_name %></span><br>
            <span class="plan-label">Level: </span><span><%= display_dental_metal_level(p) %></span><br>
            <span class="plan-label">Network: </span><span><%= p.nationwide ? 'Nationwide' : p.service_area_id %></span><br/>
            <%= link_to 'View Summary', reference_plan_summary_employers_employer_profile_plan_years_path(ref_plan_id: p.id, hios_id: p.hios_id, coverage_kind: p.coverage_kind), remote: 'true', class: "view-summary fourteen" %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
