  <% @plans.each do |p| %>
    <div class="col-xs-3">
      <div clas="col-xs-12 reference-plan">
        <div class="col-xs-3">
  <%= radio_button "plan_year[benefit_groups_attributes][0]", :reference_plan_id, p.id %>
  <%= label_tag :reference_plan_id, "" %>
</div>
<div clas="col-xs-9">
  <%= p.name %>
  <%= p.active_year %>
  <%= p.market %>
  <%= p.metal_level %>
  <%= p.plan_type %>
  <%= p.deductible %>
  <%= p.family_deductible %>


  </div>

  </div>
</div>
      <% end %>
