<% active_tab = "active-broker-tab" %>
<div class="row content landing">
  <div class="home">
    <div>    
      <ul role="tablist" class="nav nav-tabs top-menu" id="myTab">
       <li role="presentation"<%= menu_tab_class(active_tab, "active-broker-tab") %> id="active_broker_tab">
         <%= link_to(employers_employer_profile_active_broker_path(@employer_profile), "aria-expanded" => "true", :remote => true, "aria-controls" => "active-broker", "role" => "tab" ) do  %>
         <span class="hidden-xs">Active Broker</span>
         <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Active Borker"></span>
         <% end %>
       </li>
       <li role="presentation"<%= menu_tab_class(active_tab, "broker-agencies-tab") %> id="agency_index_tab">
         <%= link_to(employers_employer_profile_broker_agency_index_path(@employer_profile), :remote => true, "aria-expanded" => "true", "aria-controls" => "employers", "role" => "tab" ) do  %>
         <span class="hidden-xs">Broker Agencies</span>
         <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agencies"></span>
         <% end %>
       </li>
     </ul>
   </div>

  <div class="panel panel-default">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <div aria-labelledby="active-broker-tab" id="broker_agency_panel" class="tab-pane-hbx" role="tabpanel">
        <div class="col-md-10 col-sm-12">
          <%= render "employers/employer_profiles/active_broker" %>
        </div>
      </div>
    </div>
  </div>
  </div>
 </div>
</div>