<% if @current_user_is_hbx_staff || @current_user_is_broker %>
    <div class="pull-right">
        <h5><%="Contact name: #{@employer_contact.first_name} #{@employer_contact.last_name}" %></h5>
        <h5><%="Contact email: #{@employer_contact_email}" %></h5>
    </div>
<% end %>

<div class="col-xs-12 employer-edit-tab">
<h1>Business Info</h1>
    <%= form_for @organization,{as: :organization, url: employers_employer_profile_path(id: @organization.id), method: :put} do |f| %>

      <%#= render "shared/error_messages", object: f.object %>
      <% if @organization.errors.any? %>
        <div class="alert alert-error">
          <h4>
            <%= "#{pluralize(@organization.errors.size, "error")} prohibited this form from being saved:" %>
          </h4>
          <ul>
            <% @organization.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
            <% office_loc = @organization.office_locations.last %>
            <% office_loc.phone.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
            <% office_loc.address.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <h4>Personal Information</h4>
        <div class="row no-buffer row-form-wrapper">
          <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
            <%= text_field_tag :first_name, @employer.try(:first_name), class: "floatlabel form-control", required: true, placeholder: 'FIRST NAME *' %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 form-group-lg no-pd">
            <%= text_field_tag :last_name, @employer.try(:last_name), class: "floatlabel form-control", required: true, placeholder: 'LAST NAME *' %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
            <%= text_field_tag :dob, @employer.try(:dob), class: "date-picker floatlabel form-control", required: true, placeholder: 'DATE OF BIRTH *' %>
          </div>
        </div>
      </div>
      <div class="">
        <h4> Employer Information</h4>
        <div class="row no-buffer row-form-wrapper">
          <%= f.fields_for :employer_profile, errors: {}, fieldset: false do |emp|  %>
            <%= render "shared/employer_profile_fields", f: emp %><br>
          <% end %>
        </div><br>
        <h2> Office Locations </h2>
        <%= f.fields_for :office_locations, errors: {}, fieldset: false do |office_location| %>
          <%= render partial: 'shared/office_location_fields', locals: {f: office_location} %>
        <% end %>
        <br/>
        <div class="form-inputs">
          <%= link_to_add_fields 'Add Office Location'.html_safe, f, :office_locations, 'btn btn-trans pull-left' %>
          <%= link_to "Cancel", employers_employer_profile_path(id: @organization.employer_profile.id, tab: 'home'), class:'btn btn-trans pull-left' %>

        </div>

        <div class="top-row no-border">
          <% button_name = @organization.persisted? ? 'Save' : 'Create' %>
          <button type="submit" class="btn btn-primary pull-right btn-br mtz sm_full_width">
            <%= "#{button_name}".html_safe %>
          </button> &nbsp;&nbsp;
        </div>
      </div>
    <% end %>

</div>
