<nav>
  <ul>
    <li <%= menu_tab_class(active_tab, "home") %>>
      <%= link_to "My #{Settings.site.short_name}", employers_employer_profile_path(@employer_profile.id, :tab=>'home'), "aria-expanded" => "true" %>
    </li>
    <li <%= menu_tab_class(active_tab, "employees") %>>
      <%= link_to 'Employees', employers_employer_profile_path(@employer_profile.id, :tab=>'employees'), "aria-expanded" => "true" %>
    </li>
    <li <%= menu_tab_class(active_tab, "benefits") %>>
      <%= link_to 'Benefits', employers_employer_profile_path(@employer_profile.id, :tab=>'benefits'), "aria-expanded" => "true" %>
    </li>
    <li <%= menu_tab_class(active_tab, "brokers") %>>
      <%= link_to 'Brokers', employers_employer_profile_path(@employer_profile.id, :tab=>'brokers'), "aria-expanded" => "true" %>
    </li>
    <% if display_families_tab(current_user) %>
      <li <%= menu_tab_class(active_tab, "families") %>>
        <%= link_to 'Families', employers_employer_profile_show_profile_path(@employer_profile.id, :tab=>'families'), "aria-expanded" => "true" %>
      </li>
    <% end %>
    <li <%= menu_tab_class(active_tab, "documents") %>>
      <%= link_to 'Documents', employers_employer_profile_path(@employer_profile.id, :tab=>'documents'), "aria-expanded" => "true" %>
    </li>
    <li <%= menu_tab_class(active_tab, "billing") %>>
      <%= link_to 'Billing', employers_employer_profile_path(@employer_profile.id,:tab=>'billing'), "aria-expanded" => "true" %>
    </li>
    <% unless current_user.try(:has_broker_agency_staff_role?)%>
    <li <%= menu_tab_class(active_tab, "inbox") %>>
      <%= link_to(employers_employer_profile_path(@employer_profile.id, :tab=>'inbox'), class: 'hidden-xs', "aria-expanded" => "true" ) do  %>
      Messages
      <span class="badge message-unread"><%= @employer_profile.inbox.unread_messages.try(:count) || 0 %></span>

      <% end %>
      <%= link_to(employers_employer_profile_path(@employer_profile.id, :tab=>'inbox'), class: 'visible-xs', "aria-expanded" => "true" ) do  %>
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <small>Messages</small>
      <% end %>
    </li>
    <% end %>
  </ul>
  <div class="module my-account-widget panel panel-default">
    <div class="panel-heading">
      <h4><%= @employer_profile.organization.legal_name %></h4>
      <%= link_to 'Update Business Info', edit_employers_employer_profile_path(@employer_profile.organization, :tab=>'profile', add_staff: 'no') %>
      <br/>
      <%= pundit_span @employer_profile, :list_enrollments? %>
        <%= link_to 'View Enrollment Reports', employers_premium_statement_path(@employer_profile, :tab=>'profile') %>
      </span>
    </div>
    <div class="panel-body">
      <%= link_to employers_employer_profile_path(@employer_profile.id, :tab=>'employees') do %>
      <div>My Employees: <span><%= @employer_profile.census_employees.active.count %></span></div>
      <% end %>
    </div>
  </div>
</nav>
