<nav class="row">
  <ul>
      <li <%= menu_tab_class(active_tab, "home") %>>
        <%= link_to 'MY DC Health Link', employers_employer_profile_path(:employer_profile_id=>@employer_profile.id, :tab=>'home'), "aria-expanded" => "true" %>
      </li>
      <li <%= menu_tab_class(active_tab, "employees") %>>
        <%= link_to 'Manage Employees', employers_employer_profile_path(:employer_profile_id=>@employer_profile.id, :tab=>'employees'), "aria-expanded" => "true" %>
      </li>
      <li <%= menu_tab_class(active_tab, "documents") %>>
        <%= link_to 'Documents', employers_employer_profile_path(:employer_profile_id=>@employer_profile.id, :tab=>'documents'), "aria-expanded" => "true" %>
      </li>
      <li <%= menu_tab_class(active_tab, "messages") %>>
        <%= link_to(employers_employer_profile_path(id: @employer_profile.id, :tab => 'messages')) do  %>
          Messages <span class="badge message-unread"><%= @employer_profile.inbox.unread_messages.try(:count) || 0 %></span>
          <% end %>
      </li>
  </ul>
</nav>
