<div class="employee-upload">
  <i class="fa fa-times fa-3x pull-right modal-close"></i>
  <h2>Upload Employee Roster</h2>
  <h4>If you completed your employee roster offline using our Microsift Excel template, find the file on your computer and upload it here.</h4>
  <%= link_to(document_download_path(env_bucket_name("templates"), "b4c0e3e6-cf9b-4b00-8194-403b110b4e01") + "?contenttype=application/vnd.ms-excel&filename=DCHL Employee Census.xlsx", class: "download") do %>
  <h4>Need the template? <i class="fa fa-arrow-circle-o-down fa-lg"></i>
        Download it now.
    <% end %>
        </h4>
  <div class="upload-preview">
  </div>
<%= form_for @employer_profile, :url => url_for(:controller => 'employer_profiles', :action => 'bulk_employee_upload'), method: 'post', :html => { :multipart => true } do |f| %>
<%= file_field_tag :file %>
<%=pundit_span EmployerProfile, :updateable? %>
<%= label_tag :file, 'Select File To Upload', class: 'select btn btn-primary ' %>
<%= f.submit 'Upload', class: 'btn btn-primary ' %>
<% end %>
</div>
