.row
  .col-md-10.col-sm-10
    %h1= t('welcome.employer.title')
    %h2= t('welcome.employer.subtitle')

    %p.text-justify= t('welcome.employer.paragraph1')
    %p.text-justify= t('welcome.employer.paragraph2')
    %p.text-justify= t('welcome.employer.paragraph3')
    %br


.row
  .col-md-2
    = link_to(search_employers_people_path, :remote => true, :class => "btn btn-primary btn-continue") do
      %i.fa.fa-user-plus
      = t('button.continue')

.row.footer
  .col-md-12
    %small
      = t('welcome.employer.notice')
      = link_to t('welcome.employer.link'), '#'
