<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3>Employers</h3>

    <div class="row no-buffer">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-wp">
        <%= render 'shared/search', url: employers_employer_profiles_path, q: @q, placeholder: 'Name' %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pd">
        <%= link_to "New Employer Profile", new_employers_employer_profile_path, class: "btn btn-primary pull-right new_emp_button" %>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rostered EE Ct</th>
            <th>Broker Agency</th>
          </tr>
        </thead>
        <tbody>
          <% @employer_profiles.each do |er| %>
            <tr>
              <td><%= link_to er.legal_name, employers_employer_profile_path(er) %></td>
              <td><%= er.roster_size %></td>
              <td><%= er.broker_agency_profile.try(:legal_name) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @organizations %>
    </div>
  </div>
</div>
