<%- model_class = EmployerProfile -%>

<div class="container-fluid no-pd-left">
  <div class="panel panel-default" style="border:none; box-shadow: none;">
    <div class="row tab-row">
      <%= render 'employer_menu' %>

      <%= form_for @organization, url: {action: "create"} do |f| %>

        <%= render "shared/error_messages", object: f.object %>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row landing-row">
            <div class="col-md-8 col-sm-8 col-xs-12 left-side">
              <%= f.fields_for :employer_profile, errors: {}, fieldset: false do |emp|  %>
                <%= render "shared/employer_profile_fields", f: emp %><br>

                <%= emp.fields_for :plan_years, errors: {}, fieldset: false do |plan_year|  %>
                  <%= render "shared/plan_year_fields", f: plan_year %><br>

                  <%= plan_year.fields_for :benefit_groups, errors: {}, fieldset: false do |bg|  %>
                    <%= render "shared/benefit_group_fields", f: bg %><br>

                    <div class='form-inputs'>
                      <%= bg.fields_for :relationship_benefits, errors: {}, fieldset: false do |rb|  %>
                        <%= render "shared/relationship_benefit_fields", f: rb %><br>
                      <% end %>

                      <div>
                        <%= f.hidden_field :_destroy %>
                        <%= link_to 'Delete'.html_safe, '#', class: "btn btn-red remove_fields" %>
                        <%#= link_to 'Add Relationship Benefit', '#', class: 'btn btn-green pull-right' %>
                        <%= link_to_add_fields "Add Relationship Benefit", bg, :relationship_benefits %>
                      </div>
                    </div><br>

                  <% end %>
                <% end %>

              <% end %>

              <%= f.fields_for :office_locations, errors: {}, fieldset: false do |office_location| %>

                <% # Address Fields %>
                <%= office_location.fields_for :address, errors: {}, fieldset: false do |address| %>
                  <h4> Address </h4>
                  <div class="row top-row personal-info-top-row">
                    <div class="col-md-12 no-pd first employee-info">
                      <div class="row top-row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <!-- Kind:  -->
                          <%= address.select :kind, options_for_select(Address::KINDS.map {|a| [a.to_s.humanize, a.to_s]}),class: "floatlabel form-control", required: true, placeholder: 'KIND' %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= address.text_field :address_1, class: "floatlabel form-control", required: true, placeholder: 'ADDRESS LINE 1' %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= address.text_field :address_2, class: "floatlabel form-control", required: true, placeholder: 'ADDRESS LINE 2' %>
                        </div>
                      </div>
                      <div class="row bottom-row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= address.text_field :city, class: "floatlabel form-control", required: true, placeholder: 'CITY' %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= address.text_field :state, class: "floatlabel form-control", required: true, placeholder: 'STATE' %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= address.text_field :zip, class: "floatlabel form-control", required: true, placeholder: 'ZIP' %>
                        </div>
                      </div>
                    </div>
                  </div><br>
                <% end %>

                <% # Phone Fields %>
                <%= office_location.fields_for :phone, errors: {}, fieldset: false do |phone| %>
                  <h4> Phone </h4>
                  <div class="row top-row personal-info-top-row">
                    <div class="col-md-12 no-pd first employee-info">
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                        <!-- Kind:    -->
                        <%= phone.select :kind, options_for_select(Phone::KINDS.map {|p| [p.to_s.humanize, p.to_s]}),class: "floatlabel form-control", required: true, placeholder: 'KIND' %>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                        <%= phone.text_field :area_code, class: "floatlabel form-control", required: true, placeholder: 'AREA CODE' %>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                        <%= phone.text_field :number, class: "floatlabel form-control", required: true, placeholder: 'NUMBER' %>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                        <%= phone.text_field :extension, class: "floatlabel form-control", required: true, placeholder: 'EXTENSION' %>
                      </div>
                    </div>
                  </div><br>
                <% end %>

                <% # Email Fields %>
                <%= office_location.fields_for :email, errors: {}, fieldset: false do |email| %>
                  <h4> Email </h4>
                  <div class="row top-row personal-info-top-row">
                    <div class="col-md-12 no-pd first employee-info">
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
                        <!-- Kind:  -->
                        <%= email.select :kind,options_for_select(Email::KINDS.map {|e| [e.to_s.humanize, e.to_s]}),class: "floatlabel form-control", required: true, placeholder: 'KIND' %>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
                        <%= email.text_field :address, class: "floatlabel form-control", required: true, placeholder: 'EMAIL ADDRESS' %>
                      </div>
                    </div>
                  </div><br>
                <% end %>

              <% end %>

              <div class="row top-row">
                <%= f.submit "Create", class: "btn btn-save" %>
              </div>

            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div><br><br>