<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>

<%- if @tab == 'home' %>
<%= render :partial => 'employers/employer_profiles/my_account/home_tab' %>
<%- elsif @tab == 'profile' %>
<%= render 'employers/employer_profiles/my_account/profile_tab' %>
<%- elsif @tab == 'employees' %>

<%= render :partial => "employers/employer_profiles/my_account/census_employees" %>

<%- elsif @tab == 'benefits' %>
<%= render partial: "employers/employer_profiles/my_account/benefits" %>
<%- elsif @tab == 'brokers' %>
<%= render partial: "employers/employer_profiles/my_account/broker_agency" %>
<%- elsif @tab == 'inbox' %>
  <h1 class="darkblue no-buffer">Messages</h1>
<%= render :partial => 'shared/inboxes/messages_list' %>
<%- elsif @tab == 'documents' %>

<%= render partial: "employers/employer_profiles/my_account/documents" %>

<%- elsif @tab == 'billing' %>
  <%= render partial: "employers/employer_profiles/my_account/billing" %>

<%- elsif @tab == 'families' %>
<%= render partial:  "employers/employer_profiles/my_account/families" %>
<%- end %>

<%- if @tab == 'home' %>
<% if @current_plan_year.present? %>
<aside class="col-xs-4 employer-right-column module">
  <% if (@current_plan_year.open_enrollment_end_on.to_date - Time.now.to_date).to_i >= 0 %>
    <%= render partial: 'open_enrollment_ends_panel' %>
  <% end %>
  <% if @employer_profile.active_plan_year.present? && @employer_profile.active_plan_year.coverage_period_contains?(TimeKeeper.date_of_record.end_of_month ) && @employer_profile.active_plan_year.aasm_state != "renewing_draft" %>
  <section class="row" style="background-color: #fff;">
    <article class="col-xs-12">
    <% plan_year, billing_date = @employer_profile.billing_plan_year %>
      <% if billing_date.present? %>
      <% bill_query = Queries::EmployerShowPageBill.new(@employer_profile) %>
      <% bill = bill_query.execute %>

      <h3>Enrollment Report</h3>
      <span><%= billing_date.beginning_of_month %> - <%= billing_date.end_of_month %></span>
        <br/>
        <br/>
        <table>
          <tr>
            <td style="padding-right: 10px;">Total Premium:</td>
            <td><%= number_to_currency(bill.total_premium || 0)%></td>
          </tr>
          <tr>
            <td style="padding-right: 10px;">Employee Contributions:</td>
            <td><%= number_to_currency(bill.total_employee_cost || 0) %></td>
          </tr>
          <tr>
            <td style="padding-right: 10px;">Employer Contributions:</td>
            <td><%= number_to_currency(bill.total_employer_contribution || 0) %></td>
          </tr>
        </table>
        <br/>
    </article>
    <% end %>
  </section>
  <br/>
  <% end %>
  <%= render partial: 'employer_broker_widget' %>
</aside>
<% else %>

<% end %>
<% end %>
