<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>

<%- if @tab == 'home' %>
<%= render :partial => 'employers/employer_profiles/my_account/home_tab' %>
<%- elsif @tab == 'profile' %>
<%= render 'employers/employer_profiles/my_account/profile_tab' %>
<%- elsif @tab == 'employees' %>

<%= render :partial => "employers/employer_profiles/my_account/census_employees" %>

<%- elsif @tab == 'benefits' %>
<%= render partial: "employers/employer_profiles/my_account/benefits" %>
<%- elsif @tab == 'brokers' %>
<%= render partial: "employers/employer_profiles/my_account/broker_agency" %>
<%- elsif @tab == 'inbox' %>
<%= render :partial => 'shared/inboxes/messages_list' %>
<%- elsif @tab == 'documents' %>

<%= render partial: "employers/employer_profiles/my_account/documents" %>

<%- elsif @tab == 'invoice' %>
  <%= render partial: "employers/employer_profiles/my_account/invoice" %>

<%- elsif @tab == 'families' %>
<%= render partial:  "employers/employer_profiles/my_account/families" %>
<%- end %>

<%- if @tab == 'home' %>
<% if @current_plan_year.present? %>
<aside class="col-xs-4">
  <% if (@current_plan_year.open_enrollment_end_on.to_date - Time.now.to_date).to_i >= 0 %>
    <section class="row">
      <article class="col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <figure>
              <span class="icon-calendar-large icon-calendar-large-dims" role="img" aria-label="tooltip">
                <figcaption>
                  <h2>
                    <% if (@current_plan_year.open_enrollment_end_on.to_date - Time.now.to_date).to_i >= 0 %>
                      <%= (@current_plan_year.open_enrollment_end_on.to_date - Time.now.to_date).to_i %>
                      <% else %>
                      0
                    <% end %>
                  </h2>
                  <span>
                    Days
                  </span>
              </figcaption>
            </span>
            </figure>
          </div>
          <div class="col-xs-8">
            <h3>Until Open Enrollment Ends</h3>
            <span><%= @current_plan_year.open_enrollment_end_on.to_date.to_formatted_s :long_ordinal %></span>
          </div>
        </div>
      </article>
    </section>
  <% end %>
  <% if @employer_profile.active_plan_year.present? && @employer_profile.active_plan_year.coverage_period_contains?(TimeKeeper.date_of_record.end_of_month ) && @employer_profile.active_plan_year.aasm_state != "renewing_draft" %>
  <section class="row" style="background-color: #fff;">
    <article class="col-xs-12">
    <% plan_year, billing_date = @employer_profile.billing_plan_year %>
      <% if billing_date.present? %>

      <h3>Enrollment Report</h3>
      <span><%= billing_date.beginning_of_month %> - <%= billing_date.end_of_month %></span>
        <br/>
        <br/>
        <table>
          <tr>
            <td style="padding-right: 10px;">Total Premium:</td>
            <td><%= number_to_currency(@premium_amt_total || 0)%></td>
          </tr>
          <tr>
            <td style="padding-right: 10px;">Employee Contributions:</td>
            <td><%= number_to_currency(@employee_cost_total || 0) %></td>
          </tr>
          <tr>
            <td style="padding-right: 10px;">Employer Contributions:</td>
            <td><%= number_to_currency(@employer_contribution_total || 0) %></td>
          </tr>
        </table>
        <br/>
    </article>
    <% end %>
  </section>
  <br/>
  <% end %>


  <section class="row" onclick="window.location.href = '<%= employers_employer_profile_path(@employer_profile, tab: 'brokers') %>'">
    <article>
      <figure>
        <%= image_tag('images/didyouknow_288.png') %>
      </figure>
      <figcaption>
        <h5>Did you know?</h5>
        You can always get help from a broker <strong>at no cost</strong> to you.
      </figcaption>
    </article>
  </section>
</aside>
<% else %>
<aside class="col-xs-4">
  <section class="row" onclick="window.location.href = '<%= employers_employer_profile_path(@employer_profile, tab: 'brokers') %>'">
    <article>
      <figure>
        <%= image_tag('images/didyouknow_288.png') %>
      </figure>
      <figcaption>
        <h5>Did you know?</h5>
        You can always get help from a broker <strong>at no cost</strong> to you.
      </figcaption>
    </article>
  </section>
</aside>

<% end %>
<% end %>
