<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>

<%- if @tab == 'home' %>
<%= render :partial => 'employers/employer_profiles/my_account/home_tab' %>
<%- elsif @tab == 'profile' %>
<%= render 'employers/employer_profiles/my_account/profile_tab' %>
<%- elsif @tab == 'employees' %>

<%= render :partial => "employers/employer_profiles/my_account/census_employees" %>

<%- elsif @tab == 'benefits' %>
<%= render partial: "employers/employer_profiles/my_account/benefits" %>
<%- elsif @tab == 'brokers' %>
<%= render partial: "employers/employer_profiles/my_account/broker_agency" %>
<%- elsif @tab == 'inbox' %>
  <h1 class="darkblue no-buffer">Messages</h1>
<%= render :partial => 'shared/inboxes/messages_list' %>
<%- elsif @tab == 'documents' %>

<%= render partial: "employers/employer_profiles/my_account/documents" %>

<%- elsif @tab == 'billing' %>
  <%= render partial: "employers/employer_profiles/my_account/billing" %>

<%- elsif @tab == 'families' %>
<%= render partial:  "employers/employer_profiles/my_account/families" %>
<%- end %>

<%- if @tab == 'home' %>
<% if @current_plan_year.present? %>
<aside class="col-xs-4 employer-right-column module">
  <% if (@current_plan_year.open_enrollment_end_on.to_date - Time.now.to_date).to_i >= 0 %>
    <%= render partial: 'open_enrollment_ends_panel' %>
  <% end %>
  <%= render partial: 'enrollment_report_widget' %>
  <%= render partial: 'employer_broker_widget' %>
</aside>
<% else %>

<% end %>
<% end %>
