<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>
<%- if @tab == 'home' %>
      <%= render 'employers/employer_profiles/my_account/home_tab' %>
<%- elsif @tab == 'profile' %>
      <%= render 'employers/employer_profiles/my_account/profile_tab' %>
<%- elsif @tab == 'employees' %>
        <%= render partial: "employers/employer_profiles/my_account/census_employees" %>
<%- elsif @tab == 'broker_agency' %>
      <%= render partial: "employers/employer_profiles/my_account/broker_agency" %>
<%- elsif @tab == 'benefits' %>
      <%= render partial: "employers/employer_profiles/my_account/benefits" %>
<%- elsif @tab == 'documents' %>
    <div class='container top-pd'>
      <div class="col-md-10 col-sm-12">
        <h4> Documents </h4>
        <%#= render partial: "employers/employer_profiles/my_account/documents" %>
      </div>
    </div>
<%- elsif @tab == 'families' %>
      <%= render partial:  "employers/employer_profiles/my_account/families" %>
<%- end %>
