<%= form_for @benefit_market, url: { action: 'new'}, html: { data: { controller: 'benefit-market--form' } } do |f| %>
  <div class="form-group">
    <label for="inputSite">Site</label>
    <%= f.text_field :site_urn, required:'true', class:'form-control'%>
    <label for="inputKind">Kind</label>
    <%= f.text_field :kind, class:'form-control'%>
    <label for="inputTittle">Tittle</label>
    <%= f.text_field :title, class:'form-control'%>
    <label for="inputDescription">Description</label>
    <%= f.text_field :description, class:'form-control'%>
  </div>

  <a data-action="click->benefit-market--form#clickTest">Test</a>

  <h4>Please select benefit market kind</h4>
  <%= select_tag "benefit_market_kind", options_for_select('ACA Individual' => 'acaIndividual', 'ACA Shop' => 'acaShop'), data: { action: 'change->benefit-market--form#configurationChange' } %>
  <div data-target="benefit-market--form.acaIndividual">
    <%= f.fields_for :configuration, BenefitMarkets::AcaIndividualConfiguration.new do |configuration_fields| %>
      <label for="inputEnrollmentDueOn">monthly enrollment due on</label>
      <%= configuration_fields.text_field :mm_enr_due_on, id: 'inputEnrollmentDueOn', required:'true', class:'form-control'%>
      <label for="inputVerificationOutstanding">verification outstanding window days</label>
      <%= configuration_fields.text_field :vr_os_window, id: 'inputVerificationOutstanding', required:'true', class:'form-control'%>
      <label for="inputVerificationDue">verification due days</label>
      <%= configuration_fields.text_field :vr_due, id: 'inputVerificationDue', required:'true', class:'form-control'%>
      <label for="inputEnrollmentStartOn">open enrollment start on</label>
      <%= configuration_fields.date_field :open_enrl_start_on, id: 'inputEnrollmentStartOn', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentEndOn">open enrollment end on</label>
      <%= configuration_fields.date_field :open_enrl_end_on, id: 'inputOpenEnrollmentEndOn', required:'true', class:'form-control'%>
    <% end %> <!-- configration_fields -->
  </div>

  <div data-target="benefit-market--form.acaShop" class="d-none">
    <%= f.fields_for :configuration, BenefitMarkets::AcaShopConfiguration.new do |configuration_fields| %>
      <label for="inputEmployeeCountMax">employee count max</label>
      <%= configuration_fields.text_field :ee_ct_max, id: 'inputEmployeeCountMax', required:'true', class:'form-control'%>
      <label for="inputEEParticipationRatio">employee participation ratio min</label>
      <%= configuration_fields.text_field :ee_ratio_min, id: 'inputEEParticipationRatio', required:'true', class:'form-control'%>
      <label for="inputEmployeeNonOwnerCountMin">employee non owner count min</label>
      <%= configuration_fields.text_field :ee_non_owner_ct_min, id: 'inputEmployeeNonOwnerCountMin', required:'true', class:'form-control'%>
      <label for="inputEmployereContribution">employer contribution pct min</label>
      <%= configuration_fields.text_field :er_contrib_pct_min, id: 'inputEmployereContribution', required:'true', class:'form-control'%>
      <label for="inputBinderPaymentDueDate">binder payment due day of month</label>
      <%= configuration_fields.text_field :binder_due_dom, id: 'inputBinderPaymentDueDate', required:'true', class:'form-control'%>
      <label for="inputEarliestEnroll">earliest enroll prior effective on days</label>
      <%= configuration_fields.text_field :erlst_e_prior_eod, id: 'inputEarliestEnroll', required:'true', class:'form-control'%>
      <label for="inputLAtestEnroll">latest enroll after effective on days</label>
      <%= configuration_fields.text_field :ltst_e_aft_eod, id: 'inputLAtestEnroll', required:'true', class:'form-control'%>
      <label for="inputlatestEnrollEE">latest enroll after ee roster correction on days</label>
      <%= configuration_fields.text_field :ltst_e_aft_ee_roster_cod, id: 'inputlatestEnrollEE', required:'true', class:'form-control'%>
      <label for="inputRetroActiveCoverage">retroactive coverage termination max days</label>
      <%= configuration_fields.text_field :retroactve_covg_term_max_dys, id: 'inputRetroActiveCoverage', required:'true', class:'form-control'%>
      <label for="inputBenefitPeriodMinYear">benefit period min year</label>
      <%= configuration_fields.text_field :ben_per_min_year, id: 'inputBenefitPeriodMinYear', required:'true', class:'form-control'%>
      <label for="inputBenefitPeriodManYear">benefit period max year</label>
      <%= configuration_fields.text_field :ben_per_max_year, id: 'inputBenefitPeriodManYear', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentStartMonthly">open enrollment start on montly</label>
      <%= configuration_fields.text_field :oe_start_month, id: 'inputOpenEnrollmentStartMonthly', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentEndMonthly">open enrollment end on montly</label>
      <%= configuration_fields.text_field :oe_end_month, id:'inputOpenEnrollmentEndMonthly', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentDaysMin">open enrollment days min</label>
      <%= configuration_fields.text_field :oe_min_dys, id: 'inputOpenEnrollmentDaysMin', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentGracePeriod">open enrollment grace period length days min</label>
      <%= configuration_fields.text_field :oe_grce_min_dys, id:'inputOpenEnrollmentGracePeriod', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentAdvDays">open enrollment adv days min</label>
      <%= configuration_fields.text_field :oe_min_adv_dys, id: 'inputOpenEnrollmentAdvDays', required:'true', class:'form-control'%>
      <label for="inputOpenEnrollmentMonthsMAx">open enrollment months max</label>
      <%= configuration_fields.text_field :oe_max_months, id: 'inputOpenEnrollmentMonthsMAx', required:'true', class:'form-control'%>
      <label for="inputCobraEnrollments">cobra enrollment period month</label>
      <%= configuration_fields.text_field :cobra_epm, id: 'inputCobraEnrollments', required:'true', class:'form-control'%>
      <label for="inputGroupFileNewEnrollment">group file new enrollment transmit on</label>
      <%= configuration_fields.text_field :gf_new_enrollment_trans, id: 'inputGroupFileNewEnrollment', required:'true', class:'form-control'%>
      <label for="inputUpdateTransmitDay">group file update transmit day of week</label>
      <%= configuration_fields.text_field :gf_update_trans_dow, id: 'inputUpdateTransmitDay', required:'true', class:'form-control'%>
      <label for="inputERCalModel">use simple employer calculation model</label>
      <%= configuration_fields.text_field :use_simple_er_cal_model, id: 'inputERCalModel', required:'true', class:'form-control'%>
      <label for="inputOfferingsServiceArea">offerings_constrained_to_service_areas</label>
      <%= configuration_fields.text_field :offerings_constrained_to_service_areas, id: 'inputOfferingsServiceArea', required:'true', class:'form-control'%>
      <label for="inputTransmitERImmediatly">transmit employers immediately</label>
      <%= configuration_fields.text_field :trans_er_immed, id: 'inputTransmitERImmediatly', required:'true', class:'form-control'%>
      <label for="inputTransmitScheduledER">transmit scheduled employers</label>
      <%= configuration_fields.text_field :trans_scheduled_er, id: 'inputTransmitScheduledER', required:'true', class:'form-control'%>
      <label for="inputERTransmissionDayOfMonth">employer transmission day of month</label>
      <%= configuration_fields.text_field :er_transmission_dom, id: 'inputERTransmissionDayOfMonth', required:'true', class:'form-control'%>
      <label for="inputEnforceEmployerAttestation">enforce employer attestation</label>
      <%= configuration_fields.text_field :enforce_er_attest, id: 'inputEnforceEmployerAttestation', required:'true', class:'form-control'%>
      <label for="inputSIC">standard industrial classification</label>
      <%= configuration_fields.text_field :stan_indus_class, id: 'SIC', required:'true', class:'form-control'%>
      <label for="inputCarriersFiltersEnabled">carrier filters enabled</label>
      <%= configuration_fields.text_field :carrier_filters_enabled, id: 'inputCarriersFiltersEnabled', required:'true', class:'form-control'%>
      <label for="inputRatingArea">rating areas</label>
      <%= configuration_fields.text_field :rating_areas, id: 'RatingArea', required:'true', class:'form-control'%>
    <% end %> <!-- configration_fields -->
  </div>
  <%= submit_tag "Submit", class:'btn btn-primary' %>
<% end %>
