<h4 class="text-center mt-3">Benifit Markets</h4>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Site URN</th>
      <th scope="col">Kind</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @benifit_markets.each do |bm| %>
      <tr>
        <td><%= bm.site_urn %></td>
        <td><%= bm.kind %></td>
        <td><%= bm.title %></td>
        <td><%= bm.description %></td>
        <td><%= link_to "Edit",edit_benefit_market_path(bm) %></td>
        <td><%= link_to 'Delete', benefit_market_path(bm),method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new benefit market", new_site_benefit_market_path(site_id: @site_id) %>