<div class="user-orphan-account-wrapper">
  <div id="users_orphans_accounts" class="col-md-12 col-xs-12 col-sm-12 no-pd">
    <span class="flash_message"></span>

      <h1><%= l10n('.orphan_user_accounts') %><br/>
      <small><%= l10n('.accounts_without_associated_person') %></small>
      </h1>
      <p>
        <%= l10n('.customer_first_visit_contents') %>
      </p>
      <p>
        <%= l10n('.unlinked_person_record_contents') %>
      </p>
      <ol>
        <li><%= l10n('.incomplete_screen_process_list') %></li>
        <li><%= l10n('.fail_screen_process_list') %></li>
        <li><%= l10n('.mismatched_customer_list') %></li>
        <li><%= l10n('.without_screen_process_list') %></li>
        <li><%= l10n('.enroll_app_error_list') %></li>
      </ol>
      <p>
        <%= l10n('.invalid_accounts_contents') %>
      </p>
      <p>
        <%= l10n('.disable_customer_access_contents').html_safe %>
      </p>

      <h3><%= @orphans.size %> <%= l10n('.accounts_without_matching_person') %></h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><%= l10n('.th_account_id') %></th>
            <th><%= l10n('.th_created_at') %></th>
            <th><%= l10n('.th_last_signin') %></th>
            <th><%= l10n('.th_signin_count') %></th>
            <tsh><%= l10n('.th_enterprise_id') %></tsh>
            <th><%= l10n('.th_delete') %></th>
          </tr>
        </thead>
        <tbody>
          <% @orphans.each do |orphan| %>
            <tr>
              <td><%= link_to orphan.email, users_orphan_path(orphan), remote: true %></td>
              <td><%= format_datetime orphan.created_at %></td>
              <td><%= format_datetime orphan.last_sign_in_at %></td>
              <td><%= orphan.sign_in_count %></td>
              <td><%= orphan.oim_id %></td>
              <td><%= link_to content_tag(:span, raw("&nbsp;"), class: 'fa fa-2x fa-trash-o'), users_orphan_path(orphan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<div id="show_orphan_account"></div>
</div>
