<div class="">
<div id="users_orphans_accounts" class="col-md-12 col-xs-12 col-sm-12 no-pd">
    <span class="flash_message"></span>

      <h1>Orphan User Accounts<br/>
      <small>User accounts without associated Person records</small>
      </h1>
      <p>
        When customers access the Enroll Application for the first time, a local account is created.  Once a
        customer successfully completes the account screening process (to prevent duplicate identities), their Enroll account is linked with: 1) one Person record in the Enroll system, and 2) one Single Sign On (SSO) account in the enterprise identity management system.
      </p>
      <p>
        Occasionally, accounts are created, but not linked, with a corresponding Person record.  This may result
        from a number of scenarios. For example:
      </p>
      <ol>
        <li>Customer doesn't complete screening process</li>
        <li>Customer fails screening process (attempts to create a new account for an existing identity)</li>
        <li>An employee customer is unable to match using employer-entered roster values</li>
        <li>Test accounts are created without completing screening process</li>
        <li>An Enroll App error prevents the customer from proceeding</li>
      </ol>
      <p>
        However, not all unlinked accounts are invalid.  For example, a customer may return later (via SSO) and complete the screeing process.
      </p>
      <p>
        Incorrect usage of this feature can <strong>disable a customer's access to the HBX</strong> and should be done only by a knowledgable adminstrator and in conjunction with any necessary action on the Enterprise SSO record.
      </p>

      <h3><%= @orphans.size %> User accounts without a matching Person</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Email Account ID (click to see details)</th>
            <th>Created at</th>
            <th>Last sign in</th>
            <th>Sign in count</th>
            <th>Enterprise ID</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
          <% @orphans.each do |orphan| %>
            <tr>
              <td><%= link_to orphan.email, users_orphan_path(orphan), remote: true %></td>
              <td><%= format_datetime orphan.created_at %></td>
              <td><%= format_datetime orphan.last_sign_in_at %></td>
              <td><%= orphan.sign_in_count %></td>
              <td><%= orphan.oim_id %></td>
              <td><%= link_to content_tag(:span, raw("&nbsp;"), class: 'fa fa-2x fa-trash-o'), users_orphan_path(orphan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<div id="show_orphan_account">
</div>
</div>
