<div class="col-md-8 col-xs-12 col-sm-12 no-pd">
  <span class="flash_message"></span>
  <h1>Orphan User Account<br/>
    <span class="small"><strong>Email Account ID:</strong> <%= @orphan.email %></span>
  </h1>
  <div class="form-border">
    <dl class="dl-horizontal no-buffer">
      <dt>Created at</dt>
      <dd><%= format_datetime @orphan.created_at %></dd>
      <dt>Last sign in</dt>
      <dd><%= format_datetime @orphan.last_sign_in_at %></dd>
      <dt>Last sign in IP</dt>
      <dd><%= @orphan.last_sign_in_ip %></dd>
      <dt>Last portal visited</dt>
      <dd><%= @orphan.last_portal_visited %></dd>
      <dt>Sign in count</dt>
      <dd><%= @orphan.sign_in_count %></dd>
      <dt>IDP verified?</dt>
      <dd><%= boolean_to_human @orphan.idp_verified %></dd>
      <dt>OIM ID</dt>
      <dd><%= @orphan.oim_id %></dd>
    </dl>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <%= link_to 'Back', '#', class: "orphans-back-link btn btn-primary" %>
        <%= link_to 'Delete', users_orphan_path(@orphan), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.orphans-back-link').click(function(){
    $('#show_orphan_account').hide();
$('#users_orphans_accounts').show();
  })
})
</script>





