<div class="dropdown <%= 'pull-right' if !defined? pull_left %>" id="<%= row_actions_id %>">
	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown_for_<%= row_actions_id %>">
    Actions
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown_for_<%= row_actions_id %>">
  <% dropdowns.each do |line| %>
    <!-- line[0] is Link Name (Eg: Add SEP)
         line[1] is Link Path
         line[2] is Link Type (ajax, static or disabled) -->
    <li >
      <%case line[2]%>
      <%when "disabled"%>
        <% if line[0] == 'Edit APTC / CSR' %>
          <%= link_to line[0], line[1], class: "btn btn-info btn-xs edit_aptc_csr_#{row_actions_id}", disabled: true, remote: true, rel: 'noopener noreferrer' %>
        <% else %>
          <%= link_to line[0], line[1], class: "btn btn-info btn-xs", disabled: true, rel: 'noopener noreferrer' %>
        <% end %>
      <%when "static"%>
        <%= link_to line[0], line[1], class: "btn btn-xs", data: {turbolinks: false}, rel: 'noopener noreferrer' %>
			<% when "post" %>
				<%= link_to line[0], line[1], method: :post, class: "btn btn-xs", rel: 'noopener noreferrer' %>
      <%when "post_ajax"%>
        <%= link_to line[0], line[1], method: :post, class: "btn btn-xs",remote: true , rel: 'noopener noreferrer' %>
      <%when "post_ajax_with_confirmation"%>
        <%= link_to line[0], line[1], method: :post, class: "btn btn-xs", remote: true, data: { confirm: line[3] } , rel: 'noopener noreferrer' %>
      <%when "ajax"%>
				<% if line[0] == l10n('admin_actions.edit_aptc_csr') %>
					<%= link_to line[0], line[1], class: "btn btn-xs edit-aptc-csr-enabled", remote: true, rel: 'noopener noreferrer' %>
				<% else %>
					<%= link_to line[0], line[1], class: "btn btn-xs", remote: true, rel: 'noopener noreferrer' %>
				<% end %>
      <%when "ajax with confirm"%>
        <%= link_to line[0], line[1], class: "btn btn-xs", remote: true, data: { confirm: line[3] }, rel: 'noopener noreferrer' %>
      <%when "delete with confirm"%>
        <%= link_to line[0], line[1], class: "btn btn-xs", :method => 'delete', data: { confirm: line[3] }, rel: 'noopener noreferrer' %>
			<% when "delete ajax with confirm"%>
				<%= link_to line[0], line[1], class: "btn btn-xs", :method=> 'delete', data: { confirm: line[3] }, rel: 'noopener noreferrer' %>
      <% when "delete ajax with confirm and elementId"%>
        <%= link_to line[0], line[1], class: "btn btn-xs", :method => 'delete', :remote => true, data: { confirm: line[3] }, id: line[4], rel: 'noopener noreferrer' %>
      <%end%>
    </li>
  <% end %>
  </ul>
</div>
