<div class="dropdown pull-right" id="<%= row_actions_id %>">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Actions 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
  <% dropdowns.each do |line| %>
    <!-- line[0] is Link Name (Eg: Add SEP)
         line[1] is Link Path
         line[2] is Link Type (ajax, static or disabled) -->
    <li >
      <%case line[2]%>
      <%when "disabled"%>
        <% if line[0] == 'Edit APTC / CSR' %>
          <%= link_to line[0], line[1], class: "btn btn-info btn-xs edit_aptc_csr_#{row_actions_id}", disabled: true, remote: true %>
        <% else %>
          <%= link_to line[0], line[1], class: "btn btn-info btn-xs", disabled: true %>
        <% end %>
      <%when "static"%>
        <%= link_to line[0], line[1], class: "btn btn-info btn-xs" %>
      <%when "post_ajax"%>
        <%= link_to line[0], line[1], method: :post, class: "btn btn-info btn-xs",remote: true  %>
      <%when "ajax"%>
        <%= link_to line[0], line[1], class: "btn btn-info btn-xs", remote: true %>
      <%end%>
    </li>
  <% end %>
  </ul>
</div>
<script>
  $("li>a:contains('Collapse Form')").addClass('disabled');
</script>


