<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Actions 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
  <% dropdowns.each do |line| %>
    <!-- line[0] is Link Name (Eg: Add SEP)
         line[1] is Link Path
         line[2] is Link Type (ajax, static or disabled) -->
    <%case line[2]%>
    <%when "disabled"%>
      <li ><%= link_to line[0], line[1], class: "btn btn-info", disabled: true%></li>
    <%when "static"%>
      <li><%= link_to line[0], line[1], class: "btn btn-info" %></li>
    <%when "ajax"%>  
      <li>
        <%#= link_to line[0], line[1], remote: true%>
        <a class="btn btn-info" role="button" data-toggle="collapse" href="#<%=line[0].delete(' ')%>_<%=family.id%>" aria-expanded="false" aria-controls="collapseExample"><%=line[0]%></a>
      </li>
    <%end%>
  <% end %>
  </ul>
</div>

<div class="collapse" id="AddSEP_<%=family.id%>"> <!--Render the AddSEP partial in this div and pass the ID. -->
  <div class="well">
     <h1> ADD A SEP for family ID : <%=family.id%> : <%=family.primary_applicant.person.full_name%> </h1>
  </div>
</div>


<div class="collapse" id="ViewSEPHistory_<%=family.id%>">
  <div class="well">
    VIEW SEP HISTORY VIEW SEP HISTORY VIEW SEP HISTORY VIEW SEP HISTORY VIEW SEP HISTORY VIEW SEP HISTORY VIEW SEP HISTORY
  </div>
</div>
