
<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Welcome to #{EnrollRegistry[:enroll_app].setting(:short_name).item} | #{EnrollRegistry[:enroll_app].setting(:short_name).item}" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
	<%= stylesheet_link_tag    "sponsored_benefits/application", media: "all" %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "sponsored_benefits/application" %>
  <% if ::EnrollRegistry.feature_enabled?(:jquery_migrate) %>
    <% if ::EnrollRegistry[:jquery_migrate].setting(:show_warnings).item == true %>
      <script src="https://code.jquery.com/jquery-migrate-3.4.1.js" integrity="sha384-706e5108762dc26ad2a0d575a347a5f767eeb33b3483743b2e6830544e5feaed989ff2d60dc51e12c0dd980855d03dde" crossorigin="anonymous"></script>
    <% else %>
      <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha384-7b3e22ef6cf45e126a9b4651a109293cdd1b0d5f0ac3c3cade7f248c466c5a1443adf2022ddd001a0847241fafcadc74" crossorigin="anonymous"></script>
    <% end %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="font">
    <%= render './ui-components/v1/navs/header' %>
    <% general_agency = (@profile || @broker_agency_profile).class.to_s == "BenefitSponsors::Organizations::GeneralAgencyProfile" %>
    <% unless general_agency %>
      <%= render 'shared/engines/broker_menu' %>
    <% else %>
      <%= render 'general_agencies/profiles/menu' %>
    <% end %>
    <%= yield :horizontal_menu %>
    <%= render_flash %>
    <div class="content <%= controller_name %>">
      <%= yield %>
    </div>

</body>
</html>
