
      <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg">
        <%= select_tag :immigration_doc_type, options_for_select(::VlpDocument::VLP_DOCUMENT_KINDS), {id: 'immigration_doc_type', prompt: 'Select document type'} %>
      </div>
      <div id="immigration_naturalization_cert_container" style="display: none">
        <%= render :partial => "shared/naturalization_cert_fields", locals: {c: c} %>
      </div>
      <div id="immigration_citizenship_cert_container" style="display: none">
        <%= render :partial => "shared/citizenship_cert_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_327_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_327_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_551_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_551_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_571_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_571_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_94_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_94_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_94_2_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_94_2_fields", locals: {c: c} %>
      </div>
      <div id="immigration_temporary_i_551_stamp_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/machine_readable_immigrant_visa_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_766_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_766_fields", locals: {c: c} %>
      </div>
      <div id="immigration_temporary_i_551_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/temporary_i_551_stamp_fields", locals: {c: c} %>
      </div>
      <div id="immigration_I_94_2_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_94_2_fields", locals: {c: c} %>
      </div>
      <div id="immigration_other_doc_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/other_doc_fields", locals: {c: c} %>
      </div>
      <div id="immigration_i_766_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/i_766_fields", locals: {c: c} %>
      </div>
      <div id="immigration_unexpired_foreign_passport_fields_container" style="display: none">
        <%= render :partial => "consumer/consumer_roles/unexpired_foreign_passport_fields", locals: {c: c} %>
      </div>
