<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>GROUP INELIGIBLE TO OBTAIN COVERAGE</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.employer_name %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Your employee open enrollment period closed on <strong>#{notice.plan_year.open_enrollment_end_on}</strong> and your group did not meet at least one of the eligibility requirements listed below. As a result, your group is not eligible to obtain employer-sponsored health insurance effective <strong>#{notice.plan_year.start_on}</strong> at this time. Your group’s current coverage and all active employees’ enrollments will terminate on <strong>#{notice.plan_year.end_on}</strong>."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>#{notice.plan_year.warnings.join(' and ')}</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You are able to reapply for employer-sponsored coverage for a later coverage effective date at any time through <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>. Please note that you must meet the two requirements listed above to be eligible to obtain employer-sponsored health insurance through #{Settings.site.short_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you are unable to satisfy the minimum participation requirement, you will only be able to offer #{Settings.site.short_name} coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or meeting the two-thirds minimum participation requirement. Groups must have at least one non-owner employee enrolled to be eligible for coverage through #{Settings.site.short_name}, including during the special annual enrollment period."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you do not have any eligible non-owner employees to enroll and therefore cannot qualify for employer-sponsored coverage, you can apply for coverage through the Individual and Families market based on each individual(s) state of residence."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Please contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:"],
    heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                      ["By calling #{notice.hbe.phone}",
                                                                       "TTY: #{Settings.contact_center.tty}",
                                                                       "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>
<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}"} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 CFR 155.715(e) and 45 CFR 155.735(g)"} %>