<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>
<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<h3><span style='color:#ff0000;'>[SHOP Broker 1b]<br>
   New Broker, outstanding requirements </span></h3>".html_safe} %>

<table class="total_table address" border="0">
  <tbody>
  <tr class="fssize1">
    <td><%= notice.first_name %>  <%= notice.last_name %></td>
  </tr>
  </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals => { content: "<h3><strong'>RE: 	Broker interest in being appointed with #{Settings.site.short_name}</h3></strong>".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Greetings,".html_safe} %>

<%#= render partial: 'notices/shared/paragraph', :locals => { content: "Thank you for your interest in becoming a #{Settings.site.short_name} Registered Broker.  Based on our review you must complete the following requirements before you can be registered as a broker with #{Settings.site.short_name}:".html_safe} %>
<%= render partial: 'notices/shared/ordered_list', locals: {
        previous: "[This will pull from the comments section populated from the Admin on DCHL….]",
        listings: ["Policy training",
                   "Web training, should have received a link if completed policy training (this will need to be re-sent if not)",
                   "Outstanding carrier appointments"
                   ] } %>
<%= render partial: 'notices/shared/unordered_list', locals: {
        previous: "Once you have completed these outstanding requirements, you can complete your #{Settings.site.short_name} Broker Registration by completing the following:",
        listings: ["Register as a <a style='color:rgb(0,0,241)'> trained expert </a> on #{Settings.site.short_name}",
                   "Allow 7-10 business days for your registration to be processed",
                   "Upon approval of your registration, you will receive an email from <a style= 'color:rgb(0,0,241)'> noreply@dchealthlink.com </a> with important information about how to access your broker portal and how your clients can assign you as their broker"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you any questions or experience any technical difficulties, please let us know at  <a style= 'color:rgb(0,0,241)'>dchl.producer@dc.gov</a>.".html_safe} %>


<table class="total_table" border="0">
  <tbody>
  <tr>
    <td></br></br></td>
  </tr>
  <tr class="wid50">
    <td align="left">Best,</td>
  </tr>
  <tr>
    <td align="left">DCHL Producer Relations Team</td>
  </tr>
  </tbody>
</table>
