<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Denial of Employer SHOP Application</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Thank you for applying to offer group health coverage through #{Settings.site.short_name}.  However, based on our eligibility criteria we are not able to offer group health coverage in #{Settings.site.short_name} for your employees at this time."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "At this time, you will not be able to offer coverage to your employees through #{Settings.site.short_name}.  If you would like to re-structure your benefit offering to encourage more employees to participate, you may do so by creating a new open enrollment period. "} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "In addition, there is a special annual enrollment period at the end of each year during which employers can offer group health coverage effective January 1<sup>st</sup> without having a minimum level of employee enrollment."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                  ["Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>;",
                                                                   "By email at <a href='mailto:#{notice.hbe.email}'>#{notice.hbe.email}</a>; or",
                                                                   "By calling #{notice.hbe.try(:phone)}."] } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.try(:phone)}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)"} %>
