<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></h3></td>
    </tr>
  </tbody>
</table>
<%= render partial: "notices/shared/date", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<h3>Approval of Application to Offer Group Health Coverage on #{Settings.site.short_name}.</h3>" } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "Dear #{ notice.employer_name },  " } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Congratulations on completing your application for employer-sponsored coverage with #{Settings.site.short_name}!"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Based upon the information you have provided, you are eligible to offer group health coverage to your employees starting #{notice.plan_year.start_on} through #{Settings.site.short_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Your employees can begin to enroll in coverage on #{notice.plan_year.open_enrollment_start_on}, and employees must complete their enrollments no later than #{notice.plan_year.open_enrollment_end_on}. You can monitor your employee enrollments during your open enrollment period through your employer account – see the <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employers-Managing-Your-Employee-Roster.pdf'>Employers Managing Your Employee Roster</a> guide for instructions."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: ["At least two-thirds of your eligible employees enroll in your group health coverage or waive due to having other coverage.",
    "At least one non-owner employee enrolls in health coverage"]} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you are unable to satisfy the minimum participation requirement, you will only be able to offer #{Settings.site.short_name} coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or meeting the two-thirds minimum participation requirement. Groups must have at least one non-owner employee enrolled to be eligible for coverage through #{Settings.site.short_name}, including during the special annual enrollment period. "} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
    contents: [""],
    heading: 'Next Steps', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<ul style='list-style: circle solid;'><li><strong>Log in to your #{Settings.site.short_name}.com Account</strong></li></ul>"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<ul style='list-style: circle solid;'><li><strong>Employee Enrollments</strong> <br>Share <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employees-How-to-Enroll-in-a-Plan-through-DC-Health-Link.pdf'>Employees How to Enroll in a Plan through #{ Settings.site.short_name } </a> with your eligible employees to guide them through the enrollment process. If you are the point of contact for the group, you can follow this guide to enroll in a plan - <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employers-Enrolling-as-Employees.pdf'>Employers Enrolling as Employees.</a><br></br>
  <strong><i>Employers should review their roster to ensure that any employees who are also owners (or spouses of owners) are identified as owners on their roster.</i></strong> For your group to receive coverage through the Small Business Marketplace, you must have at least one non-owner enrolled in a health plan at the end of each annual employee open enrollment period.</li></ul>"} %>

<%= render partial: 'notices/shared/paragraph_without_page_break', :locals => {
  content: "<ul style='list-style: circle solid;'><li>
  <strong>First Month’s Premium Payment</strong><br>
  Your first month’s premium must be received by 5:00 p.m. ET on <strong>#{notice.plan_year.binder_payment_due_date.strftime('%m/%d/%Y') }</strong>. If your premium is not received, your group’s coverage will be delayed and your employees may experience a gap in coverage. Payments over the phone or online are <b><i>required</b></i> for your first payment, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.<br></br>
  Once this first premium payment is received, your enrollments will be transmitted to the insurance companies to complete processing and setup of your group and each employee’s enrollments. The insurance companies mail member ID cards to each enrolled employee’s home address on or around the coverage effective date, this usually takes two weeks.<br></br>
  Once your coverage takes effect, you will receive regular monthly invoices from #{Settings.site.short_name} through the mail that include each employee’s enrollment, their premium, and the employer/employee cost breakdown. All premium payments will be made directly to #{Settings.site.short_name} either online, by phone or by mail.<br></br>
  <strong>Make a Secure Online Payment</strong><br>
  #{Settings.site.short_name} now offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in Employers Paying Your Premiums Online to make your premium payment online.<br>
  <a href='https://www.e-BillExpress.com/ebpp/DCHealthPay'>https://www.e-BillExpress.com/ebpp/DCHealthPay</a><br></br>
  <strong>To make a secure electronic check payment by phone</strong><br>
  Call #{Settings.contact_center.phone_number} (LINK)<br>
  Select your language (1 for English, 2 for Spanish, additional language options available)<br>
  Select option for Small Business Employer<br>
  Select option for Need to Make a Payment
</li></ul>"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<ul style='list-style: circle solid;'><li>
  <strong>Dental Coverage through #{Settings.site.short_name}</strong><br>Employers who have chosen to offer dental coverage to their employees should be aware that (1) you will receive one bill for both medical and dental benefits, and (2) there is no minimum participation requirement for dental coverage.
</li></ul>"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:"],
  heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
    ["By calling #{notice.hbe.phone}",
    "TTY: #{Settings.contact_center.tty}",
    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>

<% if notice.broker.present? %>
<%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 C.F.R. 155.715 (e)" } %>
