<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.employer_name %>:</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Thank you for applying to offer group health coverage through the #{site_short_name}.  However, based upon the information you have provided, we are unable to verify your eligibility to offer group health coverage through the #{site_short_name} at this time."} %>
<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "We have been unable to determine whether your organization meets the #{site_short_name} eligibility criteria <strong><i>#{notice.plan_year.warnings.join(' and ')}</i></strong> as listed below."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "In order to participate in #{site_short_name}, federal regulations require that an employer:",
  listings: [["Meets residency requirements:",["Your principal business address is in #{aca_state_name} and you offer coverage to all full-time employees through the #{site_short_name}, OR ","You offer coverage through the #{site_short_name} to all full-time employees whose primary worksite is located in #{aca_state_name} and offer coverage to non-Massachusetts based employees through the small group exchange serving their primary worksite(s)"]],"At least seventy-five (75) percent of your eligible employees enroll in your group health coverage or waive due to having other coverage","Atleast one non-owner employee enrolls in health coverage."]} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
   { content: "For more information about small group employer eligibility requirements, please refer to the #{site_short_name}’s “Employer Group Eligibility and Verification” policy."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "In order to offer coverage to your employees through the #{site_short_name}, you will need to document that you meet the eligibility requirements.  If you are unable to document that you meet the eligibility requirements, you will not be able to offer coverage to your employees through the #{site_short_name} at this time. "} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'What If I Think I Am Eligible?', sub_heading: ''} %>

<table class="notice_spacing_1" border="0">
    <tbody>
      <tr>
        <td>You have <strong><u>30 days from the date of this notification</u></strong> to provide supporting documentation related to your application to offer coverage through the <%=site_short_name%>. Supporting documentation can be provided to:
          <table class="total_table" border="0">
            <tbody>
              <tr>
                <td class="mpi_indicator">
                  <ul style="list-style: circle;">
                  <li class="notice_spacing">
                     Email: <%= mail_to "#{small_businesss_email}", "#{small_businesss_email}"%>
                  </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          At the end of the 30-day period, if you are not able to provide documentation supporting your eligibility to offer health coverage through the Health Connector, we will notify you that you have been determined to be ineligible for coverage through the Health Connector and explain your right to appeal that determination.<br>
          If you are unable to meet eligibility requirements at this time, you can reapply at any time.
        </td>
      </tr>
    </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="notice_spacing_1" border="0">
    <tbody>
      <tr>
        <td>Please contact your broker for further assistance. You can also contact <%=site_short_name%> with any questions:
          <table class="total_table" border="0">
            <tbody>
              <tr>
                <td class="mpi_indicator">
                  <ul style="list-style: circle;">
                    <li class="notice-font">
                      By calling <%=contact_center_phone_number%><br>
                    </li>
                    <li class="notice-font">
                      TTY: <%=contact_center_tty_number%>
                    </li>
                    <li class="notice-font">
                      Online at <%= link_to "#{site_main_web_address}", "#{site_main_web_address_url}" %>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
</table>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d)."} %>
