<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Action Required: Denial of Application to Offer Group Health Coverage in <%= Settings.site.short_name %></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Thank you for applying to offer group health coverage through #{Settings.site.short_name}.  However, based upon the information you have provided, we are unable to verify your eligibility to offer group health coverage in #{Settings.site.short_name} at this time."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "We have been unable to determine whether your organization meets #{Settings.site.short_name} eligibility criteria <strong><i>#{notice.plan_year.warnings.join(' and ')}</i></strong> as listed below."} %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "In order to participate in #{Settings.site.short_name}, federal regulations require that an employer:",
  listings: [["Meets residency requirements:",["Your principal business address in the District of Columbia and you offer coverage to all full-time employees through #{Settings.site.short_name}, OR ", "You offer coverage through #{Settings.site.short_name} to all full-time employees whose primary worksite is located in the District of Columbia and offer coverage to non-DC based employees through the SHOP exchange serving their primary worksite(s)"]],"At least two-thirds of your eligible employees enroll in your group health coverage or waive due to having other coverage.", "One non-owner employee enrolls in health coverage."]} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "For more information about SHOP employer eligibility requirements, please see 45 C.F.R. 155.710."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "In order to offer coverage to your employees through #{Settings.site.short_name}, you will need to document that you meet the eligibility requirements.  If you are unable to document that you meet the eligibility requirements, you will not be able to offer coverage to your employees through #{Settings.site.short_name} at this time"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: ["You have <strong><u>30 days from the date of this notification</u></strong> to provide supporting documentation related to your application to offer coverage in #{Settings.site.short_name}. Supporting documentation can be provided to:"], heading: 'What If I Think I Am Eligible?', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Email:  <a href='mailto:#{notice.hbe.email}'>#{notice.hbe.email}</a>",
    "Mail:    #{Settings.site.short_name}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Attn: Employer Eligibility Review<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        1225 Eye St NW<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        4th floor<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Washington, D.C. 20005"] } %>


<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "At the end of the 30-day period, if you are not able to provide documentation supporting your eligibility to offer health coverage through #{Settings.site.short_name}, we will notify you that you have been determined to be ineligible for #{Settings.site.short_name} and explain your right to appeal that determination."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you are unable to meet eligibility requirements at this time, you can reapply at any time."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: ["Please contact your broker for further assistance. You can also contact #{Settings.site.short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                   ["By calling #{notice.hbe.phone}.",
                                                                    "TTY: 771",
                                                                    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"] } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d)."} %>