<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>
<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Open Enrollment Completed</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Congratulations!  Your employees have completed open enrollment and have satisfied the requirements to participate in group health coverage through #{site_short_name}.  Your group health plan coverage will take effect as of #{notice.try(:coverage_start_on).try(:to_s)}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If this is your first time offering coverage through #{site_short_name}, you must make a binder payment equal to the first month’s premium no later than the 12th of the month prior to your coverage start date or else your coverage will not take effect.  Binder payments must be received, processed, and cleared by the due date in order to be considered on time.   We recommend making initial binder payments online in order to ensure adequate time for processing. You can make this payment by following the steps below:"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Step 1 – Login to Online Bill Pay with your #{site_short_name} Account Number</strong>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Navigate to https://www.e-BillExpress.com/ebpp/DCHealthPay/",
   "Your account number is found on the first page of your invoice",
   "For new employers making your first month’s premium payment, enter your business EIN"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Step 2 – Enter Contact and Payment Information</strong>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Email Address – for your payment confirmation email",
   "Amount to be Paid – must match the total amount due on your invoice",
   "Payment Note – please enter your Company Name, similar to how you would use a check memo field"] } %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Step 3 – Enter Your Bank Account Information</strong>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Be Careful! Please double check your routing and account numbers to ensure accurate payment processing"] }%>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Step 4 – Review and Complete Your Payment</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>Step 5 – Confirmation of Your Payment</strong>"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings: ["You can print a copy of your payment confirmation for your records"] }%>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "You will also receive an email confirming your payment at the address provided in the “Contact Information” section."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you wish to mail your payment, please allow plenty of time, as late payments will result in delayed coverage start dates and potentially lead to gaps in coverage for your employees."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "To view the activity of your employees’ open enrollment:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
	["Log in to your #{site_short_name} employer account",
	 "Select “Employee” from the menu at the top of your account page",
	 ["You will see a list of all eligible employees showing each action they have taken on #{site_short_name} during the open enrollment period. Each entry will have one of the following statuses:",
	 	["No Coverage Selected",
	 	 "Coverage Selected",
	 	 "Coverage Waived",
	 	 "Terminated"]]] }%>
<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["Please contact your broker for further assistance.  You can also contact #{site_short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["Online at #{notice.hbe.url};",
   "By email at #{notice.hbe.email}; or",
   "By calling #{notice.hbe.phone}."] } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<hr>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)"} %>
