<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <strong><%= notice.primary_fullname %></strong>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Congratulations!  This notice is to confirm you successfully selected <strong>#{notice.broker.first_name}</strong> <strong>#{notice.broker.last_name}</strong> from <strong>#{notice.broker.organization}</strong> as the broker for <strong>#{notice.employer_name}</strong> as of <strong>#{notice.broker.assignment_date}</strong>."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Your broker now has full access to your #{site_short_name} account. They can update your information, change your plan offerings, manage your employee roster, and enroll your employees into your medical and dental insurance offerings."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you would like to remove your broker at anytime you may do so by going to the “Broker” tab in your account and clicking “Change Broker”, then “Terminate Broker”. You can also follow the steps to making changes to your broker in our <strong>Employer guide to assigning, changing and terminating a broker,</strong> available in our online #{link_to_site_business_resource_center}."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="notice_spacing_1" border="0">
    <tbody>
      <tr>
        <td>Please contact your broker for further assistance. You can also contact <%=site_short_name%> with any questions:
          <table class="total_table" border="0">
            <tbody>
              <tr>
                <td class="mpi_indicator">
                  <ul style="list-style: circle;">
                    <li class="notice-font">
                      By calling <%=contact_center_phone_number%>. TTY: <%=contact_center_tty_number%>
                    </li>
                    <li class="notice-font">
                      By email: <%= mail_to "#{small_businesss_email}", "#{small_businesss_email}", target: "_blank"%>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href = '#{site_main_web_address_url}'> #{site_website_name}</a>"} %>
<br>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
 <% end %>