<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td style="padding-top: 10px">YOU REMOVED YOUR BROKER ON <%= Settings.site.short_name.upcase %></td>
  </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td class="notice-font" style="padding-top: 10px">Dear <%= notice.primary_fullname.titleize %>,</td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "This notice is to confirm that you successfully removed <strong>#{notice.broker.first_name} #{notice.broker.last_name}</strong> from <strong> #{notice.broker.organization} </strong> as the broker for <strong> #{notice.employer_name}</strong> as of <strong>#{notice.broker.terminated_on}.</strong>",  top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "This  broker no will longer have access to your #{Settings.site.short_name} account, effective  #{notice.broker.terminated_on}.", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "If you would like to select a new broker, you may do so at anytime by logging in to your #{Settings.site.short_name} employer account, clicking “Broker” and selecting a new broker.", top_margin: '10px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals =>
    { content: "You can also follow the steps outlined in this <a href='https://dchealthlink.com/sites/default/files/v2/forms/assigning_a_broker.pdf'> guide: https://dchealthlink.com/sites/default/files/v2/forms/assigning_a_broker.pdf</a>.", top_margin: '10px', bottom_margin: '10px'} %>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { previous: "Please contact #{Settings.site.short_name} with any questions:",listings:
                                                                      ["By calling #{notice.hbe.phone}",
                                                                       "TTY: #{Settings.contact_center.tty}",
                                                                       "Online at <a href=#{Settings.site.home_url}> #{Settings.site.website_name}</a>"] } %>
