<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/address', :locals => {notice: notice} %>

<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<table class="total_table" border="0">
  <tbody>
  <tr>
    <td class="notice-font"><br>Dear <%= notice.primary_fullname %>,</td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "SUBJECT: YOU REMOVED YOUR BROKER ON DC HEALTH LINK" } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "This notice is to confirm that you successfully removed <strong>#{notice.broker.first_name} #{notice.broker.last_name}</strong> from <strong> #{notice.broker.organization} </strong> as the broker for <strong> #{notice.employer_name} </strong> as of<strong> #{notice.broker.terminated_on} </strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "This  broker no will longer have access to your DC Health Link account, effective  #{notice.broker.terminated_on}"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "If you would like to select a new broker, you may do so at anytime by  Login to your DC Health Link Employer account, click “Broker” and then select a new broker by clicking on “BROWSE BROKERS”."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    { content: "You can also follow the steps outlined in this guide: <a href='https://dchealthlink.com/sites/default/files/v2/forms/assigning_a_broker.pdf'>https://dchealthlink.com/sites/default/files/v2/forms/assigning_a_broker.pdf</a>."} %>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
                                                                      ["By calling #{notice.hbe.phone}.",
                                                                       "TTY: 711",
                                                                       "Online at <a href='www.DCHealthLink.com'>www.DCHealthLink.com</a>"] } %>
