<%= render partial: 'notices/shared/cover', :locals => {notice: notice}%>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/address', :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td> Dear <%= notice.primary_fullname %>,  </td>
  </tr>
  </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "This notice is to confirm that you successfully removed #{notice.broker.first_name} #{notice.broker.last_name} from #{notice.broker.agency} as the broker for #{notice.employer_name} as of #{notice.broker.terminated_on}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "This broker will no longer have access to your #{site_short_name} account, effective #{notice.broker.terminated_on}." }%>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "If you would like to select a new broker, you may do so at anytime by logging into your #{site_short_name} account, click 'Broker' and then select a new broker by clicking on 'BROWSE BROKERS'."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "You can also follow the steps to making changes to your broker in our Employer guide to assigning, changing and terminating a broker, available in our online <a href= '#{site_business_resource_center_url}'>Business Resource Center</a>."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'For Questions or Assistance:',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Please contact the #{site_short_name} with any questions:",
    listings: ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
               "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"]}%>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href= '#{site_main_web_address_url}'>#{site_main_web_address}</a> "}%>
