<%= render partial: "notices/shared/cover", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>Dear <%= notice.employer_name %>:  </td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "This notice confirms you have elected to terminate #{notice.employer_name}’s employer sponsored coverage offered through the Health Connector. Your group’s coverage, including coverage for all employees, will end on #{notice.plan_year.end_on}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "You are able to reapply for employer-sponsored coverage for a later coverage effective date at any time through #{site_website_address}."} %><br><br>

<%= render partial: 'notices/shared/paragraph_with_headers', locals: {
                                                               contents: [""],
                                                               heading: 'For Questions or Assistance:', col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
                                                       previous: "Please contact your broker for further assistance.  You can also contact the #{site_short_name} with any questions:",
                                                       listings: ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
                                                                  "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"] } %>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "You can also find more information on our website at #{site_website_address}."} %>


<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', locals: {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', locals: {content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', locals: {content: "This notice is being provided in accordance with 45 C.F.R. §155.735(g)."} %>
