<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.employer_name %>:</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Thank you for providing the requested documentation needed to determine your eligibility to offer group health coverage through the #{site_short_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Based upon the information you have provided, you are eligible to offer group health coverage to your employees through the #{site_short_name}. You can proceed to the next steps outlined below."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: [["Your group meets residency requirements:",["Your principal business address is in #{aca_state_name} and you offer coverage to all full-time employees through the #{site_short_name}, OR ","You offer coverage through the #{site_short_name} to all full-time employees whose primary worksite is located in #{aca_state_name} and offer coverage to non-#{aca_state_name} based employees through the SHOP exchange serving their primary worksite(s)."]],"At least seventy-five (75) percent of your eligible employees enroll in your group health coverage or waive due to having other coverage.","At least one non-owner employee enrolls in health coverage."]} %>

  <table class="total_table notice_spacing_2" border="0">
    <tbody>
      <tr>
        <td>If you are unable to satisfy the minimum participation requirement, you will only be able to offer <%=site_short_name%> coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1<sup>st</sup> without contributing 50% to employees’ premiums or 33% to family member premiums, if offered, or meeting the seventy-five (75) percent minimum participation requirement. You are still required to have at least one non-owner enroll in coverage during the January 1 exception period. If you are unable to meet these requirements by the end of the employee open enrollment period, the <%=site_short_name%> will send a notice at the end of open enrollment with information on next steps.
        </td>
      </tr>
    </tbody>
  </table>
<br>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'Next Steps', sub_heading: ''} %>

<table class="total_table " border="0">
  <tbody>
    <tr>
      <td class="mpi_indicator">
        <ul style="list-style: circle solid;">
        <li class="notice_spacing">
           <strong>Log in to your account at</strong> <%= site_website_address %>
        </li>
        <li>
          <strong>Finalize List of Eligible Employees</strong>
          <p>At a minimum, you must offer coverage to all employees working 30 hours or more per week.</p>

          <p>At the beginning of Open Enrollment, the <%=site_short_name%> will send a notice to your eligible employees to announce the beginning of their Open Enrollment Period and provide them with instructions on how to create a <%=site_short_name%> online account and log in, review their plan options, and enroll into coverage. You will also receive a copy of this open enrollment notice.</p>

          <p>During Open Enrollment, you can monitor your employee elections and send reminder emails to your eligible employees who have not yet enrolled in a plan or waived coverage.</p>
        </li>
        <li>
          <strong>Finalize Coverage and Pay First Month’s Premium</strong>
          <p>
          Your coverage will only be finalized upon payment of your first month’s premium.  Your first month’s premium payment must be received no later than 5:00 p.m. Eastern on <%=notice.plan_year.binder_payment_due_date.strftime("%m/%d/%Y")%> in order for your coverage to take effect on <%=notice.plan_year.start_on%>. Payments over the phone or online are required, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.</p>

          <p>If your first month’s premium is not received by 5:00 p.m. Eastern on <%=notice.plan_year.binder_payment_due_date.strftime("%m/%d/%Y")%>, your group’s coverage will be delayed and your employees may experience a gap in coverage. Once enrollments have been processed by the health insurance company, employees will receive information about their health plan directly from the health insurance company, including their ID cards.</p>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
   { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="notice_spacing_1" border="0">
    <tbody>
      <tr>
        <td>Please contact your broker for further assistance. You can also contact the <%=site_short_name%> with any questions:
          <table class="total_table" border="0">
            <tbody>
              <tr>
                <td class="mpi_indicator">
                  <ul style="list-style: circle;">
                    <li class="notice-font">
                      By calling <%=contact_center_phone_number%>. TTY: <%=contact_center_tty_number%>
                    </li>
                    <li class="notice-font">
                      By email: <%= mail_to "#{small_businesss_email}", "#{small_businesss_email}", target: "_blank"%>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
</table>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href = '#{site_main_web_address_url}'> #{site_website_name}</a>"} %>
<br>

<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This notice is being provided in accordance with 45 C.F.R. 155.715(e)."} %>
