<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Your Invoice for Employer Sponsored Coverage is Now Available</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "The Open Enrollment period for <strong>#{notice.employer_name}</strong> is now closed and the first month’s invoice is available in the billing tab of your #{Settings.site.short_name} account. Please follow the steps listed below to make your first month’s premium payment. If your first month’s premium is not received by 5:00 p.m. on <strong>#{notice.plan_year.binder_payment_due_date}</strong>, your group’s coverage will be delayed and your employees may experience a gap in coverage."} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<strong>Next Steps</strong>", top_margin: '10px', bottom_margin: '5px'} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
          <li>
            <strong>Log in to your <a href= <%= Settings.site.home_url %> >DCHealthLink.com</a> Account</strong>
          </li>
          <li>
            <strong>Click on the “Billing” tab on the menu on the left side of your account</strong>
          </li>
          <li>
            <strong>Your invoice is available for download in PDF form on the “Invoices” section of this page</strong>
          </li>
          <li>
            <strong>Make your first month’s premium payment online or by phone.</strong>Payments over the phone or online are <strong><i>required</i></strong> for your first payment, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.<br></br>
            <ul>
              <li>
                <strong>To Make a Secure Online Payment</strong><br><%= Settings.site.short_name %> offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in <a href="https://dchealthlink.com/sites/default/files/v2/forms/Employers-Paying-Your-Premiums-Online.pdf">Employers Paying Your Premiums Online guide.</a> to make your premium payment online here: <a href='https://www.e-BillExpress.com/ebpp/DCHealthPay/'>https://www.e-BillExpress.com/ebpp/DCHealthPay.</a><br></br>    
              </li>
              <li>
                <strong>To Make a Secure Electronic Check Payment by Phone</strong><br>Call <%= notice.hbe.phone%><br>Select your language (1 for English, 2 for Spanish, additional language options available)<br>Select option for Small Business Employer<br>Select option for Need to Make a Payment<br></br>
              </li>
            </ul>
            Once this first premium payment is received, your enrollments will be transmitted to the insurance companies to complete processing and setup of your group and each employee’s enrollments. The insurance companies mail member ID cards to each enrolled employee’s home address on or around the coverage effective date.<br></br>
            Once your coverage takes effect, you will receive regular monthly invoices from <%= Settings.site.short_name %> through the mail that include each employee’s enrollment, their premium, and the employer/employee cost breakdown. The invoices will also be available electronically in the employer account. All premium payments will be made directly to <%= Settings.site.short_name %> either online, by phone, or by mail.
          </li>
          <li>
            <strong>Dental coverage through <%= Settings.site.short_name %></strong><br>Employers who have chosen to offer dental coverage to their employees should be aware that: (1) there is no minimum participation requirement for dental coverage; and (2) you will receive one bill for both medical and dental benefits.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: [""], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_margins', locals: {
 content: "Please contact your broker for further assistance. You can contact #{Settings.site.short_name} with any questions:"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["By calling #{notice.hbe.phone}",
    "TTY: #{Settings.contact_center.tty}",
    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 CFR 155.705(b)(4)."} %>
