<%= render partial: 'notices/shared/cover', :locals => {notice: notice}%>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/address', :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td> Dear <%= notice.primary_fullname %>,  </td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "You recently applied to offer employer-sponsored health insurance through the #{site_short_name}. Based on your failure to submit documentation sufficient to establish your eligibility and the information in the #{site_short_name} system, your application has been denied." }%>
<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "This means that you are not eligible to offer employer-sponsored health insurance to your employees through the #{site_short_name} at this time." }%>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { sub_heading: 'In order to participate in the Heath Connector, regulations require:',
      col_styles: ['margin-bottom: 0px']} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
          <li>Employers meet the following residency requirements:</li>
          <ul style="list-style: circle;">
            <li>Your principal business address must be in the <%= aca_state_name %> and you must offer coverage to all full-time employees through the <%= site_short_name %>, OR</li>
            <li>You must offer coverage through the <%= site_short_name %> to all full-time employees whose primary worksite is located in the <%= aca_state_name %> and offer coverage to non-<%= aca_state_name %> based employees through the SHOP exchange serving their primary worksite(s).</li>
          </ul>
          <li>Employers are actively engaged in business.</li>
          <li>Employers are small employers, meaning they have between 1 and 50 full-time employees.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                  { content: "See 45 C.F.R 155.710(b) and 155.715(d) for more information." }%>


<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'For Questions or Assistance:',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Please contact your broker for further assistance. You can also contact the #{site_short_name} with any questions:",
    listings: ["By calling #{contact_center_phone_number}. TTY: #{contact_center_tty_number}",
               "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"]}%>
<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can also find more information on our website at <a href= '#{site_main_web_address_url}'>#{site_website_name}</a> "}%>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 CFR 155.715(e)."} %>
