<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/address', :locals => {notice: notice} %>
<%#=  We need this spacing for tri-folding purpose%>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/wish_by_name', :locals => {notice: notice} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "The Open Enrollment period for #{notice.employer_name} is now closed and your first month’s invoice is available in the billing tab of your #{site_short_name} account. Please follow the steps listed below to make your first month’s premium payment. If your first month’s premium is not received by 5:00 p.m. Eastern on #{notice.plan_year.binder_payment_due_date}, your group’s coverage will be delayed and your employees may experience a gap in coverage. Once enrollments have been processed by the health insurance company, employees will receive information about their health plan directly from the health insurance company, including their ID cards. You may need to submit correct documentation if you did not when you submitted your initial application."} %>
<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'Next Steps',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    listings: ["<strong>Log in to your #{site_main_web_address} account.</strong>",

               "<strong>Click on the “Billing” tab on the menu on the left side of your account.</strong>",

               "<strong>Your invoice is available for download in PDF form on the “Invoices” section of this page.</strong>",

               "<strong>Make your first month’s premium payment online or by phone.</strong>Payments over the phone or online are <strong><i>required</i></strong> for the first month of coverage,
               as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in
               time for your group’s enrollments to be transmitted to your health insurance company.<br>
               <p class=""left-align-footer""><strong>Make a Secure Online Payment</strong><br>
               The #{site_short_name} offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in
               our <strong>Employer guide to paying premiums </strong> in the Business Resource Center. You can make your premium payment online through our website. <br><br>
               <strong>To Make a Secure Electronic Check Payment by Phone</strong><br>
                Call #{contact_center_phone_number}<br>Select your language (1 for English, 2 for Spanish, additional language options available)<br>
                </p>
                <p>
                Once this first premium payment is received, your enrollments will be transmitted to the insurance companies to complete processing and setup of your group and each employee’s enrollments.
                The insurance companies mail member ID cards to each enrolled employee’s home address on or around the coverage effective date.
                <br><br>
                Once your coverage takes effect, you will receive regular monthly invoices from the #{site_short_name} through the mail that include each employee’s enrollment, their premium, and the employer/employee cost breakdown.
                The invoices will also be available electronically in the employer account. All premium payments will be made directly to the Health Connector either online, by phone, or by mail.
                 </p>"],
    col_styles: ['0px']} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'For Questions or Assistance:',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Please contact your broker for further assistance. You can also contact #{site_short_name} with any questions:",
    listings: ["By calling #{contact_center_phone_number}",
               "TTY: #{contact_center_tty_number}",
               "By email: <a mail_to = '#{small_businesss_email}'>#{small_businesss_email}</a>"],
    after:"You can also find more information on our website at <a href= '#{site_main_web_address}''> #{site_main_web_address}</a> "}%>

<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This notice is being provided in accordance with 45 CFR 155.705(b)(4)."} %>