<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date' %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Congratulations on completing your application for employer-sponsored coverage through the #{site_short_name}!"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Your employee open enrollment period will close on #{notice.plan_year.open_enrollment_end_on} and we notice some of your eligible employees have not selected a plan or waived coverage. All eligible employees must create an employee account through the #{site_short_name} to enroll in a plan or waive coverage by 5:00pm Eastern on #{notice.plan_year.open_enrollment_end_on}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>*** Currently, #{notice.plan_year.total_enrolled_count} out of your #{notice.plan_year.eligible_to_enroll_count} eligible employees on your census have completed their enrollment.***</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can monitor your employee enrollments during your open enrollment period through your employer account – see the Employer guide to managing your employee roster in our online #{link_to_site_business_resource_center} for instructions. If you are the creator of the group’s employer account and also eligible to enroll as an employee, see the Employer guide to enrolling as an employee, also available in the #{link_to_site_business_resource_center}."} %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: ["At least seventy-five (75) percent of your eligible employees enroll in your group health coverage or waive due to having other coverage.",
             "At least one non-owner employee enrolls in health coverage."] } %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
       If you are unable to satisfy the minimum participation requirement, you will only be able to offer <%= site_short_name %> coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or 33% to family member premiums, if offered, or meeting the seventy-five (75) percent minimum participation requirement. During the January 1 exception period, a non-owner employee must enroll in health coverage, this requirement is not waived.
      </td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Next Steps</h3></td>
    </tr>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li style="margin-top: 0px;">
          <strong>Log in to your <%= site_website_name %> Account</strong><br>
        </li>
        <li style="margin-top: 5px;">
          <strong>Employee Enrollments</strong><br><br>Share our <strong>Employee guide to enrolling</strong> with your eligible employees to guide them through the enrollment process. You can find this guide in our <%= link_to_site_business_resource_center %>. If you are the point of contact for the group, you may want to review our <strong> Employer guide to enrolling as an employee</strong>, also available in the <%= link_to_site_business_resource_center %>.<br></br>
          <strong><i>Employers should review their roster to ensure that any employees who are also owners (or spouses of owners) are identified as owners on their roster.</i></strong> For your group to receive coverage through the Small Group Marketplace, you must have at least one non-owner enrolled in a health plan at the end of each annual employee open enrollment period. 

        </li>
        <li style="margin-top: 5px;">
          <strong>First Month's Premium Payment</strong><br>
          Once your open enrollment period ends, you will receive an email from the <%= site_short_name %> listing each of your enrolled employees, their premiums, and the employer/employee cost breakdown. If your first month’s premium is not received and cleared by 8:00 p.m. Eastern on <strong> <%= notice.plan_year.binder_payment_due_date %></strong>, your group’s coverage will be delayed and your employees may experience a gap in coverage. Payments over the phone or online are required for your first payment, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.<br><br>
          Once this first premium payment is received, your enrollments will be transmitted to the insurance companies to complete processing and setup of your group and each employee’s enrollment. The insurance companies mail member ID cards to each enrolled employee’s home address on or around the coverage effective date, this usually takes two weeks.<br><br>
          Once your coverage takes effect, you will receive regular monthly invoices from the <%= site_short_name %> through the mail and in your <%= site_short_name %> account that include each employee’s enrollment, their premium, and the employer/employee cost breakdown. All premium payments will be made directly to the <%= site_short_name %> either online, by phone or by mail.
        </li>
        <li style="margin-top: 5px;">
          <strong>Make a Secure Online Payment</strong><br>
          The <%= contact_center_mailing_address_name %> now offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in our <strong>Employer guide to paying premiums</strong> in the <%= link_to_site_business_resource_center %>. You can <a href = '#{site_make_their_premium_payments_online}' > make your premium payments online </a> through our website.<br><br>
          <strong>To make a secure electronic check payment by phone</strong><br>Call <%= contact_center_phone_number %>
          <br>Select your language (1 for English, 2 for Spanish, additional language options available)
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Please contact your broker for further assistance.  You can also contact #{site_short_name} with any questions:"],
    heading: 'For Questions or Assistance:', sub_heading: ''} %>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li style="margin-top: 5px;">
          By calling <%= contact_center_phone_number %>. TTY: <%= contact_center_tty_number %>
        </li>
        <li style="margin-top: 5px;">
           By email: <%= small_business_email_link %>
        </li>
        <li style="margin-top: 5px;">
          You can also find more information on our website at <a href="#{Settings.site.home_url}"> <%= site_website_name %></a>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>
