<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3><strong>Notice of Low Enrollment - Action Needed</strong></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Congratulations on completing your application for employer-sponsored coverage with #{Settings.site.short_name}!"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Your employee open enrollment period will close on <strong>#{notice.plan_year.open_enrollment_end_on}</strong> and we notice some of your eligible employees have not selected a plan or waived coverage. All eligible employees must <u><a href='https://dchealthlink.com/sites/default/files/v2/forms/Employees-How-to-Enroll-in-a-Plan-through-DC-Health-Link.pdf'>create an employee account on DCHealthLink.com</a></u> and enroll in a plan or waive coverage by 5pm on <strong>#{notice.plan_year.open_enrollment_end_on}</strong>."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>*** Currently, #{notice.plan_year.total_enrolled_count} out of your #{notice.plan_year.eligible_to_enroll_count} eligible employees on your census have completed their enrollment.***</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You can monitor your employee enrollments during your open enrollment period through your employer account – see the <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employers-Managing-Your-Employee-Roster.pdf'>Employers Managing Your Employee Roster guide</a> for instructions. If you are the creator of the group’s employer account and also eligible to enroll as an employee, see the <a href='https://dchealthlink.com/sites/default/files/v2/forms/Employers-Enrolling-as-Employees.pdf'>Employer Enrolling as an Employee guide</a> for instructions on how to also enroll as an employee."} %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: ["At least two-thirds of your eligible employees enroll in your group health coverage or waive due to having other coverage.",
             "One non-owner employee enrolls in health coverage."] } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "If you are unable to satisfy these requirements, you will only be able to offer #{Settings.site.short_name} coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or meeting the two-thirds minimum participation requirement."} %>
<br>
<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'Next Steps', sub_heading: ''} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li style="margin-top: 0px;">
          <strong>Log in to your DCHealthLink.com Account</strong><br>
        </li>
        <li style="margin-top: 5px;">
          <strong>Monitor Employee Enrollments</strong><br>Share <u><a href='https://dchealthlink.com/sites/default/files/v2/forms/Employees-How-to-Enroll-in-a-Plan-through-DC-Health-Link.pdf'>Employees How to Enroll in a Plan through <%= Settings.site.short_name%></a></u> with your eligible employees to guide them through the enrollment process. If you are the point of contact for the group, you can follow this guide to enroll in a plan - <u><a href='https://dchealthlink.com/sites/default/files/v2/forms/Employers-Enrolling-as-Employees.pdf'>Employers Enrolling as Employees.</a></u><br></br>
          <strong><i>Employers should review their roster to ensure that any employees who are also owners (or spouses of owners) are identified as owners on their roster.</i></strong> For your group to receive coverage through the Small Business Marketplace, you must have at least one non-owner enrolled in a health plan at the end of each annual employee open enrollment period. 
        </li>
        <li style="margin-top: 5px;">
          <strong>When your open enrollment period closes, you will receive additional information from <%= Settings.site.short_name %> about your group’s status and payment instructions, if applicable.</strong>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Please contact your broker for further assistance.  You can also contact  #{Settings.site.short_name} with any questions:"],
    heading: 'For Questions or Assistance:', sub_heading: ''} %>
<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
  ["By calling #{notice.hbe.phone}",
    "TTY: #{Settings.contact_center.tty}",
    "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>
<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{Settings.contact_center.phone_number}."} %>
<% end %>