<%= render partial: "notices/shared/cover", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/wish_by_name', :locals => {notice: notice} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                      { content: "Congratulations on completing your application for employer-sponsored coverage through the #{site_short_name}!"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                      { content: "Your employee open enrollment period will close on #{notice.plan_year.open_enrollment_end_on}. We notice no employees are listed on your roster at this time. You have until #{notice.plan_year.open_enrollment_end_on} to correct this issue by adding all eligible employees to your roster. A failure to correct this will result in your group being ineligible for employer-sponsored health insurance through the #{site_short_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
                                                      { content: "All eligible employees must create an employee account on <a href= '#{site_main_web_address_url}'>#{site_website_name}</a> and enroll in or waive coverage by 8pm Eastern on #{notice.plan_year.open_enrollment_end_on}. Please share our <strong>Employee guide to enrolling</strong> with your employees to help them with the steps needed to enroll. You can download this guide from our online #{link_to_site_business_resource_center}. If you wish to cancel your #{site_short_name} account, please contact the #{site_short_name} at #{contact_center_phone_number}."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: ["At least seventy-five(75) percent of your eligible employees enroll in your group health coverage or waive due to having other coverage.",
  "At least one non-owner employee enrolls in health coverage."],
    col_styles: ['0px']} %>
  <%= render partial: 'notices/shared/paragraph', :locals =>
                                                      { content: "If you are unable to satisfy the minimum participation requirement, you will only be able to offer #{site_short_name} coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1<sup>st</sup> without contributing 50% to employees’ premiums or 33% to family memeber premiums, if offered, or meeting the seventy-five(75) percent minimum participation requirement. you are still required to have at least one non-owner enroll in coverage during the January 1 exception period."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
    { heading: 'Next Steps',
      col_styles: ['margin-bottom: 0px']} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["<strong>Log in to your <a href= '#{site_main_web_address_url}'>#{site_website_name}</a> Account</strong>","<strong>Employee Enrollments</strong><br><br>
            Share the <strong>Employee guide to enrolling</strong> with your eligible employees to help them with the steps needed to enroll. You can download this guide from our online #{link_to_site_business_resource_center}. If you are the point of contact for the group, you may also want to follow the steps in our <strong>Employer guide to enrolling as an employee</strong>, also available in the #{link_to_site_business_resource_center}.
            <br><br>
            <strong><i>Employers should review their roster to ensure that any employees who are also owners (or spouses of owners) are identified as owners on their roster</i></strong>. For your group to receive coverage through the Small Group Marketplace, you must have at least one non-owner enrolled in a health plan at the end of each annual employee open enrollment period.", "<strong>First Month’s Premium Payment</strong><br>
            Once your open enrollment period ends, you will receive an email from the Health Connector listing each of your enrolled employees, their premiums, and the employer/employee cost breakdown. If your first month’s premium is not received and cleared by 5:00 p.m. Eastern on #{notice.plan_year.binder_payment_due_date}, your group’s coverage will be delayed and your employees may experience a gap in coverage. Payments over the phone or online are <strong><i>required</i></strong> for your first payment, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.
            <br><br>
            Once this first premium payment is received, your enrollments will be transmitted to the insurance companies to complete processing and setup of your group and each employee’s enrollments. The insurance companies mail member ID cards to each enrolled employee’s home address on or around the coverage effective date, this usually takes two weeks.
             <br><br>Once your coverage takes effect, you will receive regular monthly invoices from the Health Connector through the mail that include each employee’s enrollment, their premium, and the employer/employee cost breakdown. All premium payments will be made directly to the Health Connector either online, by phone or by mail.
            <br><br>
            <strong>Make a Secure Online Payment</strong><br>
            The Health Connector offers small businesses the option to <a href = '#{site_make_their_premium_payments_online}' > make their premium payments online </a> through secure electronic check payment. Follow the instructions in our <strong>Employer guide to paying premiums</strong>, which can be found in our online #{link_to_site_business_resource_center}.
            <br><br>
            <strong>To make a secure electronic check payment by phone</strong>
            <br/>Call #{contact_center_phone_number}
            <br/>Select your language (1 for English, 2 for Spanish, additional language options available)"], col_styles: ['0px']} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: ["Please contact your broker for further assistance. You can also contact the #{site_short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "",
    listings: ["By calling #{contact_center_phone_number}.  TTY: #{contact_center_tty_number}",
               "By email: <a href='mailto:#{small_businesss_email}'>#{small_businesss_email}</a>"],
    col_styles: ['0px']}%>

<%= render partial: 'notices/shared/paragraph', locals: {
                                                           content: "You can also find more information on our website at <a href= '#{site_main_web_address_url}'>#{site_website_name}</a>" } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
<%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "This notice is being provided in accordance with 45 C.F.R. 155.715(e)."} %>