<%notice.benefit_group_assignments.each do |benefit_group_id,benefit_group| %>
<table class="total_table" border="0">
    <tbody>
      <tr>
        <td><h3>Employee Plan Match </h3></td>
      </tr>
    </tbody>
  </table>

  <table class="total_table" border="0" style= "margin-top: -20px;">
  <tbody>
    <tr>
      <td>
         <%= render partial: 'notices/shared/paragraph', :locals => {
         content: "For eligible employees of:   #{notice.legal_name.capitalize.titleize}"} %>

        <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "Plan year state date :  #{benefit_group.first.start_on} "} %>


        <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "Benefit Package:    #{benefit_group.first.title.capitalize.titleize}"} %>
      </td>
      <td colspan="2" align="right"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top; margin-top: -60px;", width: "100"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
  

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "WHICH HEALTH PLAN IS RIGHT FOR YOU BASED ON YOUR NEEDS AND BUDGET?"} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Plan Match, #{Settings.site.short_name}'s health plan comparison tool powered by Consumers' CHECKBOOK takes you through a few simple steps to find the best health plan for you, or you and your family."} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "The health information you provide is anonymous and isn't  shared with #{Settings.site.short_name}. With this tool, you can find every plan available to you through #{Settings.site.short_name}, and compare on total estimated cost (not just premiums or deductibles), plan features, doctor availability and more. Consumers' CHECKBOOK has over 35 years of experience helping consumers choose the best plans."} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "To use the Plan Match tool, you'll need to provide some basic information about your employer's plan offerings."} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Click this link to access the Plan Match Tool and enter your employer’s information using the details below: <br> <a target='_blank' <a href= '#{notice.data[:url]}'> #{notice.data[:url]}</a>"}%>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "1.Your employer's plan year start date:<strong> #{benefit_group.first.start_on} </strong>"} %>
  <% plan_offering = if benefit_group.first.plan_option_kind == "single_carrier"
      "All plans from #{benefit_group.first.reference_plan.carrier_profile.legal_name}"
    elsif benefit_group.first.plan_option_kind  == "metal_level"
      "#{benefit_group.first.reference_plan.metal_level} metal level"
    elsif benefit_group.first.plan_option_kind == "single_plan"
      "#{benefit_group.first.reference_plan.carrier_profile.legal_name} - #{benefit_group.first.reference_plan.name}"
    end %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "2.Your employer's plan offerings: <strong>#{plan_offering.capitalize}</strong>"} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "3.Your employer's reference plan which determines how much your employer contributes to your premiums: <strong>#{benefit_group.first.reference_plan.carrier_profile.legal_name} - #{benefit_group.first.reference_plan.name}</strong> "} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
  content: "4.The percentage of your employer contributes towards your premiums: "} %>

  <%family_benefits = benefit_group.first.relationship_benefits.select{|r| r.relationship != "child_26_and_over" }%>
  <table class="total_table" border="0" style= "margin-top: 0px; width: 100%;">
    <tbody>
      <tr>
        <% family_benefits.map(&:relationship).each do |relationship| %>
          <td style='width: 25%; text-align: center;'><%=relationship.capitalize.titleize%></td>
        <%end%>
      </tr>
      <tr>
        <% family_benefits.map(&:premium_pct).each do |premium_pct| %>
          <td style='width: 25%; text-align: center;'> <strong><%= number_to_percentage(premium_pct, precision: 0)%></strong></td>
        <%end%>
      </tr>
    </tbody>
  </table>
  <%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Please contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:"],
    heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="total_table" border="0" style="margin-top: -10px;">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li style="margin-top: 2px;">
          By calling <%=Settings.contact_center.phone_number%>
        </li>
        <li style="margin-top: 2px;">
          TTY: 711
        </li>
        <li style="margin-top: 2px;">
          Online at <a href="#{Settings.site.home_url}">www.DCHealthLink.com</a>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<%end%>