<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= notice.employer_email %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3><strong>Group Open Enrollment Successfully Completed</strong></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.employer_name.titleize %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Congratulations! Your employees completed open enrollment and satisfied the requirements to participate in group health coverage through #{Settings.site.short_name}. Your group health plan coverage will renew on #{notice.plan_year.start_on}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "You will continue to receive regular monthly invoices from #{Settings.site.short_name}, which you can access in the billing tab in your account. Invoices are also mailed to the group. Please continue to make all premium payments directly to #{Settings.site.short_name} online, by phone or by mail."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>Make a secure online payment</strong>"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "#{Settings.site.short_name} offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in Employers Paying Your Premiums Online to make your premium payment online."}%>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<a href='https://www.e-BillExpress.com/ebpp/DCHealthPay'>https://www.e-BillExpress.com/ebpp/DCHealthPay.</a>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "<strong>To make a secure electronic check payment by phone</strong>"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "Call #{Settings.contact_center.phone_number} (LINK)"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "Select your language (1 for English, 2 for Spanish, additional language options available)"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "Select option for Small Business Employer"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "Select option for Need to Make a Payment"} %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "<strong>To view the activity of your employees’ open enrollment:</strong>",
  listings: ["Log in to your #{Settings.site.short_name} employer account",
    "Select “Employees” from the menu on the left of your account page",
    ["You will see a list of all eligible employees showing each action they have taken on #{Settings.site.short_name} during the open enrollment period. Each entry will have one of the following statuses:",
        ["Blank - No Coverage Selected",
         "Coverage Selected",
         "Coverage Waived ",
         "Terminated"]]]} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: ["Contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:"],
    heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', :locals => { listings:
    ["By calling #{notice.hbe.phone}",
     "TTY: #{Settings.contact_center.tty}",
     "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"]} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 CFR 155.715(e)."} %>