<%= render partial: 'notices/shared/cover_page', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo_and_address_shop' %>
<%= render partial: "notices/shared/shop_address", :locals => {notice: notice} %>
<%= render partial: "notices/shared/date", :locals => {notice: notice} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    {content: "SUBJECT: DC Health Link Invoice Available"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    {content: "Dear #{notice.employer_name},"} %>
    
<%= render partial: 'notices/shared/paragraph', :locals =>
    {content: "Your #{TimeKeeper.date_of_record.next_month.strftime('%B')}  invoice is now available in the billing tab of your DC Health Link account. Please follow the steps listed below for assistance making your premium payment."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "<b>Make a Secure Online Payment</b> </br>DC Health Link offers small businesses the option to make their premium payments online through secure electronic check payment. Use the link below and follow the instructions in Employers Paying Your Premiums Online to make your premium payment online.</br><a href=#{"https://www.e-BillExpress.com/ebpp/DCHealthPay"}>https://www.e-BillExpress.com/ebpp/DCHealthPay</a>"} %>

<%= render partial: 'notices/shared/paragraph', :locals =>
    {content: "<b>To make a secure electronic check payment by phone<b> </br>Call 855-532-5465 (LINK)</br>
Select your language (1 for English, 2 for Spanish, additional language options available)</br>
Select option for Small Business Employer</br>
Select option for Need to Make a Payment"} %>

<%= render partial: 'notices/shared/unordered_list', :locals => {listings:
                                                                     ["Log in to your <a href= #{Settings.site.home_url} >DCHealthLink.com</a> Account",
                                                                      "Select “Employee” from the menu on the left of your account page",
                                                                      ["You will see a list of all eligible employees showing each action they have taken on DC Health Link. Each entry will have one of the following statuses:",
                                                                        ["Blank - No Coverage Selected",
                                                                          "Coverage Selected ",
                                                                          "Coverage Waived ",
                                                                          "Terminated"]]], previous: "</br>To view the activity of your employees’ enrollment activity:"} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
    contents: ["#{render partial: 'notices/shared/unordered_list', :locals => {listings:
                                                                     ["By calling 855-532-5465",
                                                                      "TTY: 711",
                                                                      "Online at <a href=#{Settings.site.home_url}>#{Settings.site.website_name}</a>"],
                                                                      previous:"Contact your broker for further assistance.  You can also contact DC Health Link with any questions:" } }"], 
                                                                      heading: 'For Questions or Assistance:', 
                                                                      sub_heading: ''} %>

<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
        content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{Settings.contact_center.phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
    content: "This notice is being provided in accordance with 45 C.F.R. &sect;155.705(b)."} %>
