<% @style_color_text = "style='color: #FF0000;'" %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<span #{@style_color_text}>[SHOP4B]</span><br>
<span #{@style_color_text}>Employee Reminder to Complete Renewal Open Enrollment</span><br>".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong'>Email to Employee – Renewal Open Enrollment Period Reminder</strong>".html_safe} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[To]</span><%= notice.to %></td>
    </tr>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[Subject]</span>REMINDER:  Your Health Plan Open Enrollment Ending Soon</td>
    </tr>
    <tr>
      <td><span style='padding-right:20px; font-weight:bold;'>[Content]</span></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This is a reminder that you have until #{notice.plan.try(:open_enrollment_end_on).try(:to_s)} to enroll into health coverage offered by #{notice.primary_fullname} through #{Settings.site.short_name}.".html_safe} %>

  <%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>To See Plan Options and Enroll:</strong><br>
  To complete the enrollment process, please complete the following steps:".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<ol>
  <li>Go to #{notice.hbe.url}</li>
   <li>Log-in or create an account</li>
   <li>If necessary, update your household information.</li>
   <li>Select your health plan option.</li></ol>".html_safe} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>What is Open Enrollment?</strong><br>
   Open enrollment is your annual opportunity to enroll in your employer’s health plan and change plan selections.  Outside of this annual open enrollment period, you will only be allowed to make changes to your health plan enrollment if you experience certain life events such as marriage, birth, adoption, etc.".html_safe} %>

   <%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>If You Are Currently Enrolled, Go to #{Settings.site.short_name} to See Available Plans</strong><br>
      If you are already enrolled in employer-sponsored coverage through #{Settings.site.short_name} and your health plan is still offered by your employer, your current plan selection will automatically continue into the next plan year, beginning on #{notice.plan.try(:coverage_start_on).try(:to_s)}, unless you change your choice prior to #{notice.plan.try(:open_enrollment_end_on).try(:to_s)}.  To see all available plans and your new cost for the upcoming plan year, log in to your #{Settings.site.short_name} account.".html_safe} %>

        <%= render partial: 'notices/shared/paragraph', :locals => { content: "<strong>IMPORTANT:  If Your Current Plan is No Longer Available, You MUST Select a New Plan to Continue Coverage into Upcoming Plan Year</strong><br>".html_safe} %>

        <%= render partial: 'notices/shared/paragraph', :locals => { content: "If your current plan selection will no longer be available and you do not make a new plan selection by #{notice.plan.try(:open_enrollment_end_on).try(:to_s)}, your current coverage will be terminated on #{notice.plan.try(:coverage_start_on).try(:to_s)} and you will not have coverage for the upcoming plan year beginning on #{notice.plan.try(:coverage_start_on).try(:to_s)}.".html_safe} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["#{notice.broker.present? ? 'Contact your employer or your broker for further assistance.': 'Contact your employer further assistance'}".html_safe], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
 previous: "You can also contact #{Settings.site.short_name} with any questions:",
 listings: ["Online at #{notice.hbe.url};",
            "By email at #{notice.hbe.email}; or",
            "By calling #{notice.hbe.phone}."] }%>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "<p style='display:flex'>
     <strong>CC:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <table  class='total_table' border='0' align='right'>
      <tbody>
        <tr><td>#{notice.primary_fullname}</td></tr>
      </tbody>
     </table>
   </p>".html_safe} %>

<% if notice.broker.present? %>
 <%= render partial: 'notices/shared/broker_contact_info', locals: {broker: notice.broker} %>
<% else %>
 <%= render partial: 'notices/shared/paragraph', locals: {content: "If you do not currently work with a broker, you may choose to work with one at any time at no additional cost to you or your employees.  To find a broker or assister, go to #{notice.hbe.url} or call #{notice.hbe.phone}.   If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the 'Find a Broker' link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>
