<table id="event-log-table" class="table">
  <thead>
  <tr class="">
    <th><span class="glyphicon glyphicon-chevron-right" id="log-expansion-icon" onclick="toggleShowAllRows()"></span></th>
    <th><%= l10n("Subject") %></th>
    <th><%= l10n("event_log.eligibility") %></th>
    <th><%= l10n("event_log.eligibility") %> <%= l10n("Status") %></th>
    <th><%= l10n("Effective") %> <%= l10n("On") %></th>
  </tr>
  </thead>
  <tbody>
    <tr class="primary-row">
      <td><span class="glyphicon glyphicon-chevron-right"></span></td>
      <td>Jane Doe</td>
      <td>2024 IVL OSSE</td>
      <td>Eligible</td>
      <td>01/01/2024</td>
    </tr>
    <tr class="secondary-header">
      <td colspan="2"></td>
      <th>Event Details</th>
      <th>Account (HBX ID/User)</th>
      <th>Account (Date/Time)</th>
    </tr>
    <tr class="detail-row">
      <td colspan="2"></td>
      <td>Designated Ineligible</td>
      <td>system_account</td>
      <td>10/23/2023 00:21:34</td>
    </tr>
    <tr class="detail-row">
      <td colspan="2"></td>
      <td>Auto-redetermined</td>
      <td>joe.miller@dc.gov</td>
      <td>01/04/2024 09:11:21</td>
    </tr>
    <tr class="primary-row">
      <td><span class="glyphicon glyphicon-chevron-right"></span></td>
      <td>John Doe</td>
      <td>2024 IVL OSSE</td>
      <td>Eligible</td>
      <td>01/01/2024</td>
    </tr>
    <tr class="secondary-header">
      <td colspan="2"></td>
      <th>Event Details</th>
      <th>Account (HBX ID/User)</th>
      <th>Account (Date/Time)</th>
    </tr>
    <tr class="detail-row">
      <td colspan="2"></td>
      <td>Designated Ineligible</td>
      <td>system_account</td>
      <td>10/23/2023 00:21:34</td>
    </tr>
    <tr class="detail-row">
      <td colspan="2"></td>
      <td>Auto-redetermined</td>
      <td>joe.miller@dc.gov</td>
      <td>01/04/2024 09:11:21</td>
    </tr>
  <% @event_logs.each do |event| %>
    <% event_log = event.eligibility_details %>
    <tr>
      <td id="<%= "event-#{event_log[:id]}" %>" data-attr-id="<%= event_log[:id] %>" class="event-with-arrow">
        <span class="glyphicon glyphicon-chevron-right" id="log-expansion-icon"></span>
      </td>
      <% performed_by = event_log[:account_username] + " (" + event_log[:account_hbx_id] + ")" %>
      <td class="event-col-2"><%= event_log[:event_category].to_s.titleize %></td>
      <td class="event-col-3"><%= event_log.monitorable.event_name.match(/[^.]+\z/).to_s.titleize %></td>
      <td class="event-col-4"><%= performed_by %></td>
      <td class="event-col-5"><%= event_log[:event_time] %></td>
    </tr>

    <tr id="<%= "event-expansion-#{event_log[:id]}" %>" class="display-none">
      <td></td>
      <td colspan="3" class="expansion-details-col"><%= l10n("event_log.additional_details") %></td>
      <td></td>
    </tr>
  <% end %>

  <!-- Additional rows as needed -->
  </tbody>
</table>

<script>
  $('.primary-row').click(function(){
    $(this).find('.glyphicon-chevron-right, .glyphicon-chevron-down').toggleClass('glyphicon-chevron-right glyphicon-chevron-down')
    $(this).nextAll('tr').each( function() {
      if ($(this).hasClass('primary-row')) {
        return false;
      }
      $(this).toggle();
    });
  });
</script>
