<%= stylesheet_link_tag  wicked_pdf_asset_base64("pdf") %>
<div class="container-fluid">
  <h3 style='text-align:center'>Plan Comparison Chart</h3>
  <div class="mygrid-wrapper-div">
   <table class="table bordered compare-table", border = "1", style="font-size:11px;" id="compare_plans_table">
        <tr>
          <th class="row-title">Plans</th>
          <% qhps.each do |qhp|%>
            <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class='movable'><%= display_carrier_pdf_logo(::Maybe.new(qhp.plan), { width: 80, pdf: true }) %></th>
          <% end %>
        </tr>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class="ttc fourteen blue"><%= qhp.plan.name %></th>
          <% end %>
        </tr>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th class="fourteen lg" colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><span class="<%= qhp.plan.metal_level.humanize.downcase %>-icon"><%= display_dental_metal_level qhp.plan %></span> &nbsp;&#149;&nbsp;
            <%= qhp.plan.plan_type.upcase %>
            </th>
          <% end %>
        </tr>
        <tr>
          <th>Provider Network</th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <%= render partial: "shared/network_data", locals: {plan: qhp.plan} %>
            </th>
          <% end %>
        </tr>

        <%= render partial: "shared/plan_shoppings/provider_directory_url", locals: {qhps: qhps}%>

        <% if qhps.map(&:plan).map(&:rx_formulary_url).compact.present? %>
          <tr>
            <th></th>
            <% qhps.each do |qhp|%>
              <th colspan="2">
                <% if qhp.plan.coverage_kind == "health" && qhp.plan.rx_formulary_url.present? %>
                  <%= h(link_to "RX FORMULARY URL", qhp.plan.rx_formulary_url, target: "_blank", rel: "noopener noreferrer") %>
                <% end %>
              </th>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>PLAN BENEFITS <br> (In Network)</th>
          <% qhps.each do |qhp|%>
            <th colspan="1"> CO-PAY </th>
            <th colspan="1"> COINSURANCE </th>
          <% end %>
        </tr>
        <%= render partial: "sponsored_benefits/organizations/plan_design_proposals/plan_comparisons/plan_visit_types", locals: {qhps: qhps} %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <div class="plan_comparison">
                <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.plan } %>
              </div>
            </th>
          <% end %>
        </tr>
    </table>
  </div>
</div>
