<div class="container bottom-pd">
  <div class="row">
    <h4 class="title-inline">Editing APTC / CSR for:</h4>
  </div>
  <div>
    <table class="table table-border">
      <thead>
        <th>HBX ID</th> <th>Name</th> <th>DOB</th> <th>SSN</th>
      </thead>
      <tbody>
        <tr>
          <td><%=@person.hbx_id%></tb> <td><%=@person.first_name%> <%=@person.last_name%></td> <td><%=@person.dob%></td> <td><%=@person.ssn%></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row input-no-pd">
    <%= form_for @person, remote: true, url: update_aptc_csr_path, method: "post", class: "form" do |f|%>
      <%= f.hidden_field :person_id, value: @person.id %>
      <%= f.hidden_field :family_id, value: @family.id %>
       <div align="center"> 
        <%#= link_to 'Calculate Available APTC', edit_aptc_csr_path(family_id: @family.id, person_id: @person.id), class: "btn btn-default btn", remote: true%>
         <a href="javascript:void(0)" class='btn btn-default' id='calculate_available_aptc'>Calculate Available APTC</a>
      </div><br/>
      <table class="table table-border module edit-aptc-csr-table">
        
        <thead>
          <th>Month (<%=@current_year%>)</th>
          <% @months_array.each do |month| %>
            <th><%=month.capitalize%></th>
          <%end%>
          <th> </th>
          <th>Edit Fields</th>
        </thead>  
        <tbody>

            <%@grid_vals.keys.each do |attribute|%> <!-- Iterating over Different APTC / CSR attributes in the hash-->
              <tr>
                  <%if attribute != "individuals_covered" && attribute != "eligible_members"%>
                      <td><%=attribute.titleize.upcase%></td>
                      <%no_hbx = false%>  <!--TODO : See if you can get rid of this? -->
                      <% @grid_vals[attribute].each do |month, val| %>  <!-- month and the corresponding values -->
                            <%if val %>
                              <td class="<%=aptc_csr_data_type(month)%>"> <%= text_field_tag "#{attribute.to_s+"_"+month.to_s}", val, placeholder: '', class: 'form-control', readonly: true, disabled: true%></td>
                            <%else%>
                              <%no_hbx = true%>
                            <%end%>
                      <%end%>

                     <%if no_hbx%> <td align = "center" colspan = "12">No Active Enrollment (Assistance Receiving) for <%=@current_year%>.</td> <%end%>

                      <td></td>
                      <td>
                          <%if attribute == "aptc_applied"%> 
                              <%= text_field_tag "#{attribute.to_s}", @aptc_applied, placeholder: attribute.titleize.upcase, size: '8px', hidden: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute),  disabled: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute), class: 'form-control', readonly: @no_enrollment %>
                          <%elsif attribute == "available_aptc"%>
                              <%= text_field_tag "#{attribute.to_s}", @max_aptc, placeholder: attribute.titleize.upcase, size: '8px', hidden: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute), disabled: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute)%>    
                          <%elsif attribute == "max_aptc"%>
                              <%= text_field_tag "#{attribute.to_s}", @max_aptc, placeholder: attribute.titleize.upcase, size: '8px', hidden: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute), disabled: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute)%>
                          <%elsif attribute == "csr_percentage"%>
                              <%= text_field_tag "#{attribute.to_s}", @csr_percent_as_integer, placeholder: attribute.titleize.upcase, size: '8px', hidden: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute), disabled: !['max_aptc', 'csr_percentage', 'aptc_applied'].include?(attribute)%>
                          <%end%> 
                      </td>
                  <%end%>
              </tr>
              <tr></tr>
            <%end%>         

                <tr>
                  <th>Individual(s) Covered</th>
                  <% @months_array.each do |month| %>
                    <th><%=month.capitalize%></th>
                  <%end%>
                  <th></th>
                  <th>Eligible?</th>
                </tr>
                <% @grid_vals["individuals_covered"].each do |person_id| %>
                  <tr>
                    <td><!--TODO: Make this a helper method call.--><%=Person.find(person_id.keys.first).full_name%></td>

                      <%person_id.values.first.each do |month, is_eligible|%>  <!-- Eligibility Statuses for each Month  for  one individual -->
                        <td class="<%=aptc_csr_data_type(month)%>"><%=check_box_tag "#{person_id.keys.first+'_'+month}", 'checked', is_eligible, disabled: true%></td>
                      <%end%>
                      <td></td>

                      <td><%=check_box_tag "#{person_id.keys.first}", 'accepted', (@grid_vals["eligible_members"].include? person_id.keys.first), disabled: primary_member(person_id.keys.first) %></td>
                  </tr>
                <%end%>

        </tbody> 
      </table>
      <div align="right"><%= f.submit "Confirm", class: "btn btn-primary btn-lg" %></div>
    <% end %>
  </div>
</div>