<div class="container bottom-pd">
  <div class="row"> <h4 class="title-inline">Editing APTC / CSR for:</h4> </div>

  <%= render 'demographics_info.html.erb'%>
  
  <div class="row input-no-pd">
    <%= form_for @person, remote: true, url: update_aptc_csr_path, method: "post", class: "form" do |f|%>
      <%= f.hidden_field :person_id, value: @person.id %>
      <%= f.hidden_field :family_id, value: @family.id %>
      <%= f.hidden_field :hbx_enrollment_id, value: @hbx.id if @hbx.present?%>

      <%= render 'global_filter_header.html.erb'%>

      <div id = "validation-error"></div>

      <%= render 'household_level_info.html.erb'%>
      
      <span class="glyphicon glyphicon-info-sign"> </span> No Active Enrollment (Assistance Receiving) for <%=@current_year%><br />

      <div id = "update-btn" align="right"><%= f.submit "Update", data: { confirm: 'This may result in new Eligibility Determination. Are you sure ? ' } , class: "btn btn-primary btn-lg"%></div>
    <% end %>
  </div>
</div>