<div class="panel panel-info">  
  <div class="panel-heading">
    
    <h2 class="panel-title">
      <a href="#<%=hbx_id.to_s%>" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt"></a>&nbsp;</span><b>Enrollment <%=enrollment_count%></b> - Plan Name: <%=HbxEnrollment.find(hbx_id).plan.name%>   
      <div style="float:right">
        <b>Plan Premium:</b> <%=@plan_premium_for_enrollments[hbx_id]%>
      </div>
    </h2>
  </div>
  <div id="<%=hbx_id.to_s%>" class="collapse in">

    <div class="panel-body">

      <table class="table table-border module edit-aptc-csr-table">
        <thead>
          <th><span class="glyphicon glyphicon-calendar" style="padding-RIGHT: 5px;"></span><%=@current_year%></th>
          <% @months_array.each do |month| %>
            <th><%=month.capitalize%></th>
          <%end%>
          <th> </th>
          <th><span class="glyphicon glyphicon-pencil"></span> Edit Fields</th>
          <th></th>
        </thead>  
        <tbody>
          <%hbx_values.keys.each do |attribute|%>
            <tr>
              <td><%= attribute.titleize.upcase%></td>
              <% hbx_values[attribute].each do |month, val| %>  <!-- month and the corresponding values -->
                <td class="<%=aptc_csr_data_type(month)%>"> 
                  <%= text_field_tag "#{attribute.to_s+"_"+month.to_s}", val, placeholder: '', class: 'form-control', readonly: true, disabled: true, style: 'text-align:right;'%>
                </td>
              <%end%>
              <td></td>
              <td>
                <%if attribute == "aptc_applied"%>
                    <%#binding.pry%>
                    <%= text_field_tag "#{attribute.to_s}", @current_aptc_applied_hash[hbx_id], placeholder: attribute.titleize.upcase, size: '8px'%>
                <%end%> 
              </td>
              <td></td>
            </tr>
            <tr></tr>
          <%end%>
          <tr>
            <th colspan = "13">Individual Member(s)</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <%HbxEnrollment.find(hbx_id).hbx_enrollment_members.each do |hbx_member|%>
            <tr>
              <td colspan = "13"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp;<%=full_name_of_person(hbx_member.family_member.person_id)%><%if primary_member(hbx_member.family_member.person_id.to_s)%> &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-asterisk" title="Primary Family Member"></span>  <%end%></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <%end%>
        </tbody> 
      </table>

    </div>
  </div> <!--collapse div-->
</div>

