<style>
  td#firstcol {
      max-width:67%;
    }
</style>

<div class="panel panel-info">  
  <div class="panel-heading">
    
    <h2 class="panel-title">
      <a href="#enrollment_<%=hbx_id.to_s%>" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt"></a>&nbsp;</span><b>Enrollment <%=enrollment_count%></b>
      <!-- <a href="#enrollment_<%=hbx_id.to_s%>" data-toggle="collapse"><span class="glyphicon glyphicon-list-alt"></a>&nbsp;</span><b>Plan: </b> <%#=HbxEnrollment.find(hbx_id).plan.name%> -->   
      <!-- <div style="float:right">
        <b>Plan Premium :</b> <%#=@plan_premium_for_enrollments[hbx_id]%>
      </div> -->
    </h2>
  </div>
  <div id="<%='enrollment_' + hbx_id.to_s%>" class="collapse in">

    <div class="panel-body">


      <%= render 'enrollment_filter_header.html.erb', :hbx_id => hbx_id, :hbx_values => hbx_values, :enrollment_count => enrollment_count%>
      <%#= render 'enrollment_level_info.html.erb', :hbx_id => enrollment_info_key.to_s, :hbx_values => enrollment_info_value, :enrollment_count => count%>

      <hr style="margin:  1px 1px;"/>
      <table class="table table-border module edit-aptc-csr-table">
        <thead>
          <th>Member APTC</th>
          <% $months_array.each do |month| %>
            <th><%=month.capitalize%></th>
          <%end%>
        </thead>  
        <tbody>
          
          <!-- BREAKDOWN OF APTC APPLIED PER MEMBER FOR THE ABOVE ENROLLMENT -->
          <%hbx_values["aptc_applied_per_member"].each do |member_id, aptc_values|%>
            <tr>
              <td><%= full_name_of_person(member_id)%></td>
              <% aptc_values.each do |month, val| %>  <!-- month and the corresponding values -->
                <td class="<%=aptc_csr_data_type(month)%>"> 
                  <%= label_tag "#{member_id.to_s+"_"+month.to_s}", val, placeholder: '', class: 'form-control', readonly: true, disabled: true, style: 'text-align:right;'%>
                </td>
              <%end%>
            </tr>

          <%end%>
          <!--Total from all members / for Enrollment-->

            <tr>
              <td>Totals</td>
                <%hbx_values["aptc_applied"].each do |month, aptc_value|%>
                <td class="<%=aptc_csr_data_type(month)%>"> 
                  <%= label_tag "aptc_month_#{hbx_id.to_s+"_"+month.to_s}", aptc_value, placeholder: '', class: 'form-control', readonly: true, disabled: true, style: 'text-align:right;'%>
                </td>
              <%end%>
            </tr>
          
         
          <!--
          <tr>
            <th colspan = "4">Member(s) Enrolled</th>
            <th colspan = "9">Eligible?</th>
          </tr>
          <%#HbxEnrollment.find(hbx_id).hbx_enrollment_members.each do |hbx_member|%>
            <tr>
              <td colspan = "4"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp;<%#=full_name_of_person(hbx_member.family_member.person_id)%><%#if primary_member(hbx_member.family_member.person_id.to_s)%> &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-asterisk" title="Primary Family Member"></span>  <%#end%></td>
              <td colspan = "9"><%#=check_box_tag "#{hbx_id}_#{hbx_member.family_member.person_id.to_s}", 'accepted', placeholder: '', class: 'form-control', readonly: true, disabled: true, style: 'text-align:right;'%></td>
            </tr>
          <%#end%>
          -->
          
        </tbody> 
      </table>

    </div>

  </div> <!--collapse div-->
</div>

