<!-- Validation Modal -->
<div class="modal fade" id="terminated-hbx-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inactive & non APTC Enrollments for <%=TimeKeeper.date_of_record.year%></h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Plan Name</th>
              <th>Plan Premium</th>
              <th>Applied APTC</th>
              <th>Effective On</th>
              <th>Terminated On</th>
            </tr>
          </thead>
          <tbody>
            <% inactive_and_without_aptc_enrollments(@family, @current_year).each do |hbx|%>
              <tr>
                <td><%=hbx.try(:plan).try(:name)%></td>
                <td><%=number_to_currency(hbx.total_premium)%></td>
                <td><%=number_to_currency(hbx.applied_aptc_amount.to_f)%></td>
                <td><%=hbx.effective_on%></td>
                <td><%=hbx.terminated_on || "Active"%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>