<div class="container bottom-pd">
  <div class="row"><h3 class="title-inline"> APTC CSR Update</h3></div>

  <%= render 'demographics_info.html.erb'%>

  
  <div class="row">
    <%if @eligibility_redetermination_result || @enrollment_update_result%>
      <h3 class="title-inline"> Update Successful </h3>
    <%else%>
      <h3 class="title-inline"> No changes made. Nothing to update.</h3>
    <%end%> 
  </div>

  <%if @eligibility_redetermination_result || @enrollment_update_result%>
    <div class="row">
      <ul>
        <%if @eligibility_redetermination_result %> <li><h4>Eligibility Redetermined with new Max APTC and/or CSR values.</h4></li> <%end%>
        <%if @enrollment_update_result %> <li><h4>Enrollment(s) updated with new Applied APTC value(s).</h4></li> <%end%>
      </ul>
    </div>
    <br />
    <div class = "row">
      <%if @hbxs.present?%>
        <%@household_info["available_aptc"].each do |key, val|%>
          <%if val.to_i < 0%>
            <div class="alert alert-warning row">
              <span class="glyphicon glyphicon-warning-sign gi" aria-hidden="true"></span>
                For the month of <b><%=key%></b>, the Max APTC on the Eligibility Determination is <b><%=params[:max_aptc]%></b> out of which <b><%=params[:max_aptc].to_i - val.to_i%></b> has been applied towards Enrollment(s). (Available APTC is <b><%=val%></b>)
             </div>
          <%end%>
        <%end%>
      <%end%>
    </div
  <%end%>
  <br/><br/>
  <div class="row">
    <i class="fa fa-list" aria-hidden="true"></i> &nbsp;
    <%= link_to '<i class="fa fa-chevron-left"></i> Go back to Families Index'.html_safe, family_index_dt_exchanges_hbx_profiles_path, remote: true %>
  </div>
</div>