<table class="table table-striped">
  <%if @result[:success].present?%>

    <h4>Enrollments terminated sucessfully</h4>
    <tr>
      <th>HBX ID</th>
      <th>Plan</th>
      <th>Effective Date</th>
      <th>Terminated Date</th>
      <th>Terminated ?</th>
    </tr>
    <% @result[:success].each do |hbx| %>
      <tr>
        <td><%= hbx.hbx_id %></td>
        <td><%= hbx.product.title %></td>
        <td><%= hbx.effective_on %></td>
        <td><%= hbx.terminated_on %></td>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      </tr>
    <% end %>

  <%elsif @result[:failure].present? %>

    <tr>
      <th>HBX ID</th>
      <th>Plan</th>
      <th>Effective Date</th>
      <th>Terminated Date</th>
    </tr>
    <h4>Enrollments failed to terminate</h4>
    <% @result[:failure].each do |hbx| %>
      <tr>
        <td><%= hbx.hbx_id %></td>
        <td><%= hbx.product.title %></td>
        <td><%= hbx.effective_on %></td>
        <td><%= hbx.terminated_on %></td>
      </tr>
    <% end %>

  <% else %>

    <h4>No enrollments selected for termination</h4>

  <% end %>
</table>

<%= link_to "Close", hide_form_exchanges_hbx_profiles_path(family_id: @family_id, family_actions_id: "family_actions_#{@family_id.to_s}"), class: "btn btn-info", remote: true %>
