<h3 class="darkblue no-buffer">Billing</h3>
<h4 class="starter">
  <%= BenefitSponsorsRegistry[:enroll_app].settings(:short_name).item %> issues one monthly invoice at the beginning of each month. The invoice includes next month’s premium payments, and any adjustments from previous months. The total amount due reflects all premiums due (health and dental if applicable), even when you offer coverage from more than one insurer.
</h4>
<h4>Your
  <%= BenefitSponsorsRegistry[:enroll_app].settings(:short_name).item %>
  account number:
  <strong><%= "#{@employer_profile.hbx_id}".upcase %></strong>
</h4>
<h3><%= BenefitSponsorsRegistry[:enroll_app].settings(:short_name).item %> offers multiple payment options including:</h3>
<h4>
  <ol>
    <li>
      <span class="btn btn-default payOnlineButton" data-target="#payOnlineConfirmation_<%= @employer_profile.id %>" data-toggle="modal"><%= l10n('employers.employer_profiles.my_account.pay_your_bill_online') %></span> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Fastest payment option - processed in 2-3 business days."></i>
      <div class="row col-md-offset-1">
        <a href="https://www.dchealthlink.com/sites/default/files/v2/forms/Employers-Paying-Your-Premiums-Online.pdf">
          How to Pay Online - Instructions
        </a>
      </div>
    </li>
    <li>Pay by Phone
      <div class="row col-md-offset-1">
        <%=  Settings.contact_center.alt_phone_number %>, select "Small Business Employer" then "Make a Payment"
      </div>
    </li>
    <li>Pay by Mail <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Slowest payment option – takes up to 2 weeks to process."></i>
      <div class="row col-md-offset-1">
        <%= po_lock_box_name %>
      </div>
      <div class="row col-md-offset-1">
        <%= po_lock_box_number %>
      </div>
      <div class="row col-md-offset-1">
        <%= po_lock_box_city %>, <%= po_lock_box_state %> <%= po_lock_box_zip_code %>
      </div>
    </li>
  </ol>
</h4>
<h4>**Please include your account number on your check.</h4>
<h4>Check that your mailing address is up to date - click on
  <%= link_to 'Update Business Info', edit_profiles_registration_path(@employer_profile.id, :tab=>'profile', add_staff: 'no') %>.
</h4>
