<div id="payments-table">
  <h4><strong>Payment History</strong> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="View all previous payments."></i>
  </h4>
  <% if @wf_url %>
    <p>
      Online and phone payments will appear 2-3 business days after you submit them. Mailed payments will appear within 2 weeks after you mail them. <%= link_to 'Pay My Bill', '', id: :sso_enabled, "data-target" => "#payOnlineConfirmation_#{@employer_profile.id}", "data-toggle" => "modal" %> online is the fastest way to pay.
    </p>
  <% else %>
    <p>
      Online and phone payments will appear 2-3 business days after you submit them. Mailed payments will appear within 2 weeks after you mail them. <%= link_to 'Pay My Bill', '', id: :sso_disabled, target: :_blank %> online is the fastest way to pay.
    </p>
  <% end %>
<% if @benefit_sponsorship.has_financial_transactions? %>

  <table class="table" id="payments-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      <% if @payments == nil %>
      <tr>
        <td></td>
        <td>There are no payments in your history.</td>
        <td></td>
      </tr>
      <% else %>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.paid_on %></td>
            <td <%= payment_amount_color_style(payment.amount) %>><%= number_to_currency(payment.amount) %></td>
            <% if payment.method_kind == "SCN" %>
              <td>CHK</td>
            <% else %>
              <td><%= payment.method_kind %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <!-- pagination UI -->

  <div class="container-flid text-center">
    <div class="btn-group" role="group" aria-label="...">
      <% num_of_payments = @benefit_sponsorship_account.try(:financial_transactions).size %>
      <% if num_of_payments > 10 %>
        <% num_of_pages = (1..paginate_upper_bound(num_of_payments)).to_a %>
        <% num_of_pages.each do |page_num|%>
          <div class="btn-group" role="group">
            <% if @page_num.nil? && page_num == 1 %>
              <%= link_to "<button class='btn btn-default active' id='page-num-1'>1</button>".html_safe, profiles_employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: "1"), :remote => true %>
            <% elsif page_num == @page_num.to_i %>
              <%= link_to "<button class='btn btn-default active' id='page-num-#{page_num}'>#{page_num}</button>".html_safe, profiles_employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: page_num), :remote => true %>
            <% else %>
            <%= link_to "<button class='btn btn-default' id='page-num-#{page_num}'>#{page_num}</button>".html_safe, profiles_employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: page_num), :remote => true %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- end pagination UI -->

  <% end %>

</div>

<script>
  $('#sso_disabled').click(function(e){
    e.preventDefault();
  });
</script>
