<div class="modal pay-online-modal" id="payOnlineConfirmation_<%= @employer_profile.id %>" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p id="payOnlineSpinner" class="text-center">
          <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
        </p>
        <p id="payOnlineSuccess">
          <%= l10n("employers.employer_profiles.my_account.sso_token_success", site_name: BenefitSponsorsRegistry[:enroll_app].settings(:short_name).item) %>
        </p>
        <p id="payOnlineFailure">
          <%= l10n('employers.employer_profiles.my_account.sso_token_failure') %>
        </p>
      </div>
      <div class="modal-footer">
        <a id="pay-online-confirmation-link" href="#" target="_blank" rel="noopener noreferrer">
          <button class="btn btn-default pay_online_confirmation pull-right left-margin" id="pay-online-confirmation-final" disabled><%= l10n("pay_online")%></button>
        </a>
        <span class="btn btn-default btn-small" data-dismiss="modal"><%= l10n("cancel")%></span>
      </div>
    </div>
  </div>
</div>
