<div class="row">
  <div class="col-md-12 no-pd">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Coverage Year: <%= sponsorship.initial_enrollment_period_to_s %></h5>
        <table class="table table-striped">
          <tr>
            <th>Reference Plan</th>
            <th>Carrier</th>
            <th>Type</th>
            <th>Metal Level</th>
            <th><%= l10n('standard_plan') %></th>
            <th>Offering By</th>
          </tr>
          <tbody>
            <tr>
            <td><%= @plan.name %></td>
            <td><%= @plan.carrier_profile.legal_name %></td>
            <td><%= @plan.plan_type.upcase %></td>
            <td><%= @plan.metal_level.capitalize %></td>
            <td><%= display_standard_plan(@plan) %></td>
            <td><%= Settings.plan_option_titles.send(@benefit_group.plan_option_kind.to_sym) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
