<% if user.email.nil? || user.email.blank? || @error.present? %>
  <%= form_for(user, url: confirm_reset_password_user_path, method: :put, remote: true, html: {class: 'pull-right'}) do |f| %>
    <% if @error.present? %>
      <div class="reset-password-error"><%= @error %></div>
    <% end %>
    <%= f.text_field :email, class: 'form-control' %>
    <%= f.submit 'Confirm', class: 'btn btn-default' %>
  <% end %>
<% else %>
  <%= button_to "Confirm", confirm_reset_password_user_path(user.id), method: :put, remote: true, class: 'btn btn-default lock-confirm-btn' %>
<% end %>