<%if @errors && @errors.any? %>
  <div class='alert alert-error'><a class='close' data-dismiss='alert'>x</a>
    <%@errors.each do |err|%>
      <li><%= err[0].to_s == "oim_id" ? "Username" : "Email" %> <%= err[1][0] %></li>
    <%end%>
  </div>
<%end%>

<h3>Edit User Credentials</h3>
<div id="credentials-matches" class="hidden">
  <h4>User Account Update Failed</h4>
  <div id="credentials-error-message"></div>
  <h5>Please resolve the match issue.</h5>
</div>
<br/>
<%= form_tag(confirm_change_username_and_email_user_path, method: :put, id: "changeUsernameEmailForm", class:"form-horizontal", remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if @user.oim_id.present? %>
    <%= hidden_field_tag :current_oim_id, @user.oim_id %>
  <% end %>
  <% if @user.email.present? %>
    <%= hidden_field_tag :current_email, @user.email %>
  <% end %>
  <div class="field-error-block alert-danger hidden" style="margin-bottom:20px;">
  </div>
  <div class="row" style="padding-left: 150px;">
    <div class="form-group col-sm-5">
      <label for="inputNewUsername" class="col-form-label">New Username</label>
      <%= text_field_tag :new_oim_id, user.oim_id, {class:"form-control", id:'inputNewUsername'} %>
    </div>
    <div class="form-group col-sm-5">
      <label for="inputNewEmail" class="col-form-label">New Email</label>
      <%= text_field_tag :new_email, user.email, {class:"form-control", id:'inputNewEmail'} %>
      <%= hidden_field :family_actions_id, :value => "family_actions_#{@user.id.to_s}" %>
      <span class="help-block email-block hidden"></span>
    </div>
  </div>
  <br />
  <br />
  <div class="row" style="padding-left: 150px;">
    <div class="col-sm-1 col-sm-offset-4">
      <%= button_tag "Reset", class:'btn btn-info', id: 'resetUsernameEmailFields' %>
    </div>
    <div class="col-sm-1">
      <%= submit_tag "Submit", class:'btn btn-primary', data: {confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var resetButton = document.getElementById('resetUsernameEmailFields');
        resetButton.addEventListener('click', function(event){
            event.preventDefault();
            document.getElementById('inputNewUsername').value="";
            document.getElementById('inputNewEmail').value="";
        });
    });
</script>

