<%= form_tag(confirm_change_username_and_email_user_path, method: :put, id: "changeUsernameEmailForm", class:"form-horizontal", remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if user.oim_id.present? %>
    <%= hidden_field_tag :current_oim_id, user.oim_id %>
  <% end %>
  <% if user.email.present? %>
    <%= hidden_field_tag :current_email, user.email %>
  <% end %>
  <div class="field-error-block alert-danger hidden">
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="form-group col-sm-5">
      <label for="inputNewUsername" class="col-form-label">New Username</label>
      <%= text_field_tag :oim_id, user.oim_id, {class:"form-control", id:'inputNewUsername'} %>
    </div>
    <div class="form-group col-sm-5">
      <label for="inputNewEmail" class="col-form-label">New Email</label>
      <%= text_field_tag :new_email, user.email, {class:"form-control", id:'inputNewEmail'} %>
      <span class="help-block email-block hidden"></span>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-sm-1 col-sm-offset-4">
      <%= button_tag "Reset", class:'btn btn-info', id: 'resetUsernameEmailFields' %>
    </div>
    <div class="col-sm-1">
      <%= submit_tag "Submit", class:'btn btn-primary', id: 'submitUsernameEmailChange' %>
    </div>
  </div>
<% end %>

<script>
    $(document).ready(function(){
        var username = document.getElementById('inputNewUsername');
        var email = document.getElementById('inputNewEmail');
        var resetUsernameEmail = document.getElementById('resetUsernameEmailFields');

        username.addEventListener('blur', function(event){
            if (checkUsername()) {
                disableSubmit();
                invalidUsername();
                event.preventDefault();
                event.stopPropagation();
            } else if (!checkEmail()) {
                validUsername();
                enableSubmit();
            }
        });

        email.addEventListener('blur', function(event){
            if (checkEmail()) {
                disableSubmit();
                invalidEmail();
                event.preventDefault();
                event.stopPropagation();
            } else if (!checkUsername()) {
                validEmail();
                enableSubmit();
            }
        });

        resetUsernameEmail.addEventListener('click', function(event){
            username.value = "";
            email.value = "";
        });

        function checkUsername(){
            if(username.value.length == 0) {
                return true;
            } else {
                return false;
            }
        }

        function checkEmail(){
           return (email.value.length > 0) && !(/\S+@\S+\.\S+/.test(email.value));
        }

        function enableSubmit() {
            document.getElementById('submitUsernameEmailChange').classList.remove('blocking');
        }

        function disableSubmit() {
            document.getElementById('submitUsernameEmailChange').classList.add('blocking');
        }

        function invalidUsername() {
            document.getElementById('inputNewUsername').closest('.form-group').classList.add('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.innerText = "Username can't be blank.";
            errorBlock.classList.remove('hidden');
        }

        function usernameTaken() {
            document.getElementById('inputNewUsername').closest('.form-group').classList.add('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.innerText = "Username is used by another account.";
            errorBlock.classList.remove('hidden');
        }

        function validUsername() {
            document.getElementById('inputNewUsername').closest('.form-group').classList.remove('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.classList.add('hidden');
        }

        function invalidEmail() {
            document.getElementById('inputNewEmail').closest('.form-group').classList.add('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.innerText = "Email address is not correct.";
            errorBlock.classList.remove('hidden');
        }

        function emailTaken() {
            document.getElementById('inputNewEmail').closest('.form-group').classList.add('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.innerText = "Email address is already taken by another user.";
            errorBlock.classList.remove('hidden');
        }

        function validEmail() {
            document.getElementById('inputNewEmail').closest('.form-group').classList.remove('has-error');
            var errorBlock = document.getElementsByClassName('field-error-block')[0];
            errorBlock.classList.add('hidden');
        }
    });
</script>
