<div class="row">
  <%= f.hidden_field :kind, value: 'work', id: "phoneType" %>
  <div class="col-md-3 mb-3">
    <label for="inputNumber"><%= l10n('phone_number') %> *</label>
    <%= f.text_field :full_number_without_extension, 
      placeholder: "(000) 000-0000",
      required: true, id: 'inputNumber', 
      class: 'form-control phone_number',
      minlength: '10', maxlength: '10', 
      onkeypress: 'return isNumberKey(event)',
      value: determine_phone_number(f.object)
    %>
    <div class="invalid-feedback">
      <%= l10n('phone_number.error') %>
    </div>
  </div>
  <% unless EnrollRegistry[:enroll_app].setting(:site_key).item.to_s == "dc" %>
    <div class="col-md-3 mb-3">
      <label for="inputExtension"><%= l10n('phone_number.extension') %> </label>
      <%= f.text_field :extension, id: 'inputExtension', class: 'form-control', maxlength: '10' %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready( function() {
    $.inputMasks();
  });
</script>