<div class="modal fade securityQuestionModal" id="securityQuestionModal" tabindex="-1" role="dialog" aria-labelledby="securityQuestionModal">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title" id="securityQuestionModalLabel">Please help us secure your account</h4>
     </div>
     <%= form_for [:user, current_user.security_question_responses.build], url: main_app.user_security_question_responses_path(user_id: current_user.id.to_s), method: method, name: "user_security_question_responses[]", remote: true do |f| %>
       <div class="modal-body">
         <p>Please take a moment to provide security responses for three choices from our available options</p>
         <p>These questions help us confirm your identity if you forget your password, or if your account behaves suspiciously and is locked.</p>
         <div class="modal-questions-container">
             <% 3.times do |num| %>
               <div class="question-wrapper" data-question-index=<%= num %>>
                 <label for="sec-<%= num %>">Please Select A Question</label>
                 <select class="security-question-select form-control" id="sec-<%= num %>" name="security_question_responses[][security_question_id]" required="true" >
                   <option name="id" value="">Please Select A Question</option>
                   <% SecurityQuestion.visible.each_with_index do |question, i| %>
                     <option name="id" value="<%= question.id %>" data-question-number="<%= num %>" id="sec-answer-<%= i %>-<%= num%>"><%= question.title %></option>
                   <% end %>
                 </select>

                 <div class="input-wrapper">
                  <label for="sec-input-<%= num %>">Please Select A Question</label>
                  <%= f.text_field :question_answer, name: "security_question_responses[][question_answer]", class:'form-control', required: true, id: "sec-input-#{num}" %>
                 </div>
               </div>
             <% end %>
         </div>
       </div>
       <div class="modal-footer">
         <%= f.submit "Save Responses", class: "btn btn-primary" %>
         <% unless action == 'create' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <% end %>
       </div>
     </div>
   <% end %>

 </div>
</div>

    <script>
      disableSelectric = true;

     $('.security-question-select').on('change', function(){
       var questionId = $(this).val();
       var selectedQuestions = [];

       $.each($('.selectric-scroll li.selected'), function(propertyName, propertyValue){
         var elemIndex = $(this).data('index');
         if(elemIndex != 0) {
           selectedQuestions.push(elemIndex);
         }
       });

       $('.selectric-scroll li').show();
       selectedQuestions.forEach(function(index){
         $(".selectric-scroll li[data-index='" + index +"']").hide();
       });

       //[attribute!='value']
       $.each($('.security-question-select').not(this), function(propertyName, propertyValue){
         $(this).children("option").show();
         $(this).children("option[value='" + questionId + "']").hide();
       });

     });
    </script>
