<div class="form-inputs">
  <%= f.fields_for :census_dependents, errors: {}, fieldset: false do |dependent| %>
  <%= render 'shared/census_dependent_fields', {f: dependent} %>
  <% end %>

  <%= pundit_span @employer_profile, :updateable? %>
    <%= link_to_add_fields 'Add Family Member', f, :census_dependents, 'btn btn-default' %>
  </span >
  <%= link_to 'Cancel', employers_employer_profile_path(@employer_profile, :tab => "employees"), class:'btn btn-default return_to_employee_roster' %>

</div>
