<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="form-group">
      <%= f.label :address_1, "Address1" %>
      <%= f.text_field :address_1, class: "form-control", placeholder: 'Street', required: true %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="form-group">
      <%= f.label :address_2, "Address2" %>
      <%= f.text_field :address_2, class: "form-control", placeholder: 'Apt, Suite, Bldg (optional)' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="form-group">
      <%= f.label :city, "City" %>
      <%= f.text_field :city, placeholder: "City", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="form-group">
      <%= f.label :state %>
      <%= select_dropdown "employee_address_state", State::NAME_IDS %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="form-group">
      <%= f.label :zip %>
      <%= f.text_field :zip, placeholder: "zip", required: true, class: "form-control" %>
    </div>
  </div>
</div>