<fieldset>
  <div class="row">
    <p class="text-right col-md-6 col-md-push-6">
      <%= link_to '<span class="fui-cross-circle"> Delete Address</span>'.html_safe, '#', :class => "remove_fields text-danger" %>
    </p>
  </div>
  <%= f.select :address_type, Address::TYPES, {include_blank: "Type"}, { class: "select select-primary", data: { toggle: "select"} } %>
  <%= f.text_field :address_1, placeholder: 'Street', required: true %>
  <%= f.text_field :address_2, placeholder: "Apt, Suite, Bldg (optional)" %>
  <%= f.text_field :city, placeholder: "City", required: true %>
  <%= f.select :state, State::NAME_IDS, {include_blank: "State", required: true}, { class: "select form-control select-primary", data: { toggle: "select"} } %>
  <%= f.text_field :zip, placeholder: "Zip code", required: true %>
  <%= f.hidden_field :_destroy %>
  <hr>
</fieldset>
