<div class="row">
  <div class="col-xs-6 col-sm-3 col-md-2">
    <div class="form-group required">
      <%= f.label :kind %>
      <%= select_dropdown "employee_address_kind", Address::KINDS %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="form-group required">
      <%= f.label :address_1, "Address1" %>
      <%= f.text_field :address_1, class: "form-control", placeholder: 'Street', required: true %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="form-group">
      <%= f.label :address_2, "Address2" %>
      <%= f.text_field :address_2, class: "form-control", placeholder: 'Apt, Suite, Bldg (optional)' %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-2">
    <div class="form-group">
      <%= link_to '<span class="fa fa-plus-square"> Delete Address</span>'.html_safe, '#', :class => "remove_fields text-danger" %>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-5 col-md-5">
    <div class="form-group required">
      <%= f.label :city, "City" %>
      <%= f.text_field :city, placeholder: "City", class: "form-control", required: true %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="form-group required">
      <%= f.label :state %>
      <%= select_dropdown "employee_address_state", State::NAME_IDS %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="form-group required">
      <%= f.label :zip %>
      <%= f.text_field :zip, placeholder: "zip", class: "form-control", required: true %>
    </div>
  </div>
</div>