<div id="address_info" class="row no-buffer focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">

      <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
        <button class="btn btn-new-address">NEW ADDRESS</button>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12 form-group form-group-lg no-pd address">
          <div class="form-group form-group-lg">
            <div class="row" style="margin: 0;">
              <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
                <div class="dropdown">
                  <button class="form-control floatlabel adderess-select-box form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <label>Home Address</label>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <% Address::KINDS.each do |item| %>
                      <% address_text = item.capitalize + "Address" %>
                      <li role="presentation" data-value="<%= item %>" data-address-text="<%= address_text %>" class="address-li">
                        <a href="javascript:void(0)"><%= image_tag("delete.png") %></a>
                        <a href="javascript:void(0)" role="menuitem"><%= item.humanize %> Address</a>
                        <a href="javascript:void(0)" class="address-close"><%= image_tag("address-close.png") %></a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd delete_address">
          <%= link_to image_tag('delete.png'), 'javascript:void(0)', class: 'close-2' %>
        </div>
      </div>

  <%= f.fields_for :addresses, errors: {}, fieldset: true, :include_id => false do |address|  %>
     <% kind = address.object.kind %>

     <% style = "" %>
     <% div_class = kind+"-div" %>
     <% if kind != 'home' %>
       <% style="display:none;" %>
     <% end %>
    <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= address.hidden_field :kind %>

        <% if kind == 'home' %>
          <% required = "required" %>
        <% end %>

        <%= address.text_field :address_1, placeholder: "ADDRESS LINE 1", class: "floatlabel form-control #{required}" %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= address.text_field :address_2, placeholder: "ADDRESS LINE 2", class: "floatlabel form-control" %>
      </div>
    </div>


    <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :city, placeholder: "CITY", class: "floatlabel form-control #{required}" %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.select(:state, options_for_select(State::NAME_IDS.map(&:last).sort, selected: address.object.state), {include_blank: "SELECT STATE"}, required: required.present?) %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :zip, placeholder: "ZIP", class: "number floatlabel form-control zip #{required}" %>
        </div>
    </div>
    <% end%>
      <%= render 'shared/error_warning' %>
      <div class="new-address-flow">
        <div class="col-md-offset-3 col-md-6 col-sm-4 col-xs-12 text-center">
          <h5>Name Your New Address.</h5>
          <input id="add-address" type="text" class="form-control address_name" placeholder="i.e. Work, Mailing" onfocus="this.placeholder = ''" onblur="this.placeholder = 'i.e. Work, Mailing'">
          <p>
            <a href="javascript:void(0);" class="cancel">cancel</a>
            <a href="javascript:void(0);" class="confirm">confirm</a>
          </p>
        </div>
      </div>
    </div>

  <div class="col-md-2 key col-sm-3 col-xs-12"></div>
</div>
