<%= form_for @person.consumer_role, :url => insured_consumer_role_update_application_type_path(consumer_role_id: @person.consumer_role.id), method: :post do |f| %>
  <% if current_user.has_hbx_staff_role? %>
    <div class="row row-form-wrapper no-buffer">
      <div class="col-lg-4 col-md-4 form-group form-group-lg no-pd top-buffer" >
        <div class="row_align_application_type">
          <label for="application_type_id"><%= l10n("application_type") %>:</label>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
        <%= f.fields_for :family do |f| %>
          <%= f.select(:application_type, options_for_select(*consumer_role_application_type_options(@person)), {include_blank: "choose *"}, required: true, id: 'application_type_id') %>
        <% end %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group form-group-lg no-pd top-buffer">
        <%= f.submit l10n('confirm_selection'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
