<%= form_for @person.consumer_role, :url => insured_consumer_role_update_application_type_path(consumer_role_id: @person.consumer_role.id), method: :post do |f| %>
    <% if current_user.has_hbx_staff_role? %>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-lg-4 col-md-4 form-group form-group-lg no-pd top-buffer" >
          <div class="row_align_application_type">
            <span> <b> Application Type :</b></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
          <%= f.fields_for :family do |f| %>
              <% if @person.primary_family.e_case_id.present? && !(@person.primary_family.e_case_id.include? "curam_landing") %>
                  <%= f.select(:application_type, options_for_select(["Curam"], selected: @person.primary_family.application_type), required: true, id:'application_type_id' ) %>
              <% elsif pundit_allow(ConsumerRole, :can_view_application_types?) %>
                  <%= f.select(:application_type, options_for_select(["Phone", "In Person", "Paper", "Curam", "Mobile"], selected: @person.primary_family.application_type), {include_blank: "choose #{'*'}"}, required: true, id:'application_type_id' ) %>
              <% else %>
                  <%= f.select(:application_type, options_for_select(["Phone", "Paper"], selected: @person.primary_family.application_type ), {include_blank: "choose #{'*'}"}, required: true, id:'application_type_id' ) %>
              <% end %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group form-group-lg no-pd top-buffer">
          <%= f.submit 'Confirm', class: 'btn btn-primary', style: "margin-top: -7px" %>
        </div>
          <% end %>
      </div>
    <% end %>
<% end %>
