<h4> Benefit Groups </h4>
<div class="row personal-info-top-row">
  <div class="col-md-12 no-pd first employee-info">
    <div class="row top-row">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :title, class: "floatlabel form-control", required: true, placeholder: 'TITLE' %>
      </div>
        <!-- Select Plan:  -->
        <%= render "shared/reference_plans_list", f: f  %>

    </div>
    <div class="row bottom-row">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <!-- Offset :  -->
        <label class="control-label"> EFFECTIVE ON OFFSET: </label>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active"> <%= f.radio_button :effective_on_offset, "0" %> 0 (Zero) </label>
          <label class="btn btn-primary"> <%= f.radio_button :effective_on_offset, "30" %> 30 (Thirty) </label>
          <label class="btn btn-primary"> <%= f.radio_button :effective_on_offset, "60" %> 60 (Sixty) </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :premium_pct_as_int, class: "floatlabel form-control", required: true, placeholder: 'PREMIUM PERCENTAGE (>=50)' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :employer_max_amt_in_cents, class: "floatlabel form-control", required: true, placeholder: 'EMPLOYER MAXIMUM CONTRIBUTION' %>
      </div>
    </div>
  </div>
</div>