<fieldset class="row middle-row form-group form-group-lg no-pd">
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= f.select :benefit_group_id, @employer_profile.plan_years.first.benefit_groups.map{|bg| [bg.title, bg.id ]}, prompt: "SELECT BENEFIT GROUP", required: true %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :is_active, class: "floatlabel form-control", required: true, placeholder: 'ACTIVE (TRUE/FALSE)'%>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.hidden_field :_destroy %>
    <%= link_to '<span>Delete Benefit Group</span>'.html_safe, '#', :class => "remove_fields" %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :start_on, class: "date-picker floatlabel form-control", required: true, placeholder: 'START ON' %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :end_on, class: "date-picker floatlabel form-control", required: true, placeholder: 'END ON' %>
  </div>
</fieldset>