<div class="row benefit_group top-row">
  <h4> Benefit Groups </h4>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :title, class: "floatlabel form-control", required: true, placeholder: 'TITLE' %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <!-- Select Plan:  -->
    <%= f.select :reference_plan_id, options_for_select(Plan.by_active_year.map{|plan| [plan.name, plan.id ] }), class: "floatlabel form-control", required: true%>
  </div>
</div>
<div class="row top-row">
  <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
    <!-- Offset :  -->
    <%= f.select :effective_on_offset, options_for_select(BenefitGroup::OFFSET_KINDS), class: "floatlabel form-control", required: true, placeholder: 'EFFECTIVE ON OFFSET' %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :premium_pct_as_int, class: "floatlabel form-control", required: true, placeholder: 'PREMIUM PERCENTAGE (>=50)' %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :employer_max_amt_in_cents, class: "floatlabel form-control", required: true, placeholder: 'EMPLOYER MAXIMUM CONTRIBUTION' %>
  </div>
</div>