<a href="#" data-href="<%= search_reference_plan_employers_employer_profile_plan_years_path %>" id='search_reference_plan_link' style='display:none;'></a>
<a href="#" data-href="<%= calc_employer_contributions_employers_employer_profile_plan_years_path %>" id='calc_employer_contributions_link' style='display:none;'></a>
<a href="#" data-href="<%= reference_plan_options_employers_employer_profile_plan_years_path %>" id='reference_plan_options_link' style='display:none;'></a>

<fieldset id='benefit-group-<%= f.object.id.to_s %>' class='benefit-group-fields'>
  <div style="height:50px;position:relative;">
    <% link_to '#', :class => "remove_fields close-2" do %>
    <% image_tag("delete.png") %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row row-form-wrapper no-buffer" style="display: none;">
        <div class="col-xs-12 form-group header">
          <h3><i class="fa fa-minus-circle"></i> Benefit Package: <% title_value = f.object.title.present? ? f.object.title : "#{Time.now.year} Employer Benefits" %><%= title_value %>
            <div class="form-functions">
              <i class="fa fa-pencil" onclick="$(this).closest('.row').next().toggle();"></i>
            </div>
          </h3>

        </div>
      </div>


      <div class="row row-form-wrapper no-buffer">
        <div class="col-xs-12 form-group form-group-lg">
          <!-- Offset :  -->
          <label class="title">BENEFIT PACKAGE TITLE</label>
          <% title_value = f.object.title.present? ? f.object.title : "#{Time.now.year} Employer Benefits" %>
          <%= f.text_field :title, class: "form-control", style: "font-weight: normal !important;", required: true %>
        </div>
      </div>


      <div class="row row-form-wrapper no-buffer">
        <div class="col-xs-12 form-group benefit-group-offset" data-toggle="popover" data-placement="top" title="" data-content="For dates of hire on the 1st day of the month, coverage would start on the date of hire" data-trigger="hover">
          <!-- Offset :  -->
          <label class="title">When would you like your newly hired employees to start their coverage? <!--<i class="fa fa-chevron-down">--></i></label>
          <%= f.select(:effective_on_offset, options_for_select([["date of hire", 0], ["30 days after date of hire", 30], ["60 days after date of hire", 60]], selected: f.object.effective_on_offset), {:include_blank => true}, { :class => ''}) %>
        </div>
      </div>


    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="display: none;">
      <div class="employer_cost_info" style='clear: both;'>
        <div class='loader' style="display:none">
          <button class="btn btn-md btn-warning">
            <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
          </button>
        </div>
        <h4></h4>
        <div class="content"></div>
      </div>
    </div>

    <div id="employer_cost_info_btn" class="col-md-12 col-sm-12 col-xs-12" style="display: none;">
      <div class="btn btn-select disabled pull-right">
        Employee Costs
      </div>
      <%= link_to "Employee Costs", employee_costs_employers_employer_profile_plan_years_path(@employer_profile), id: "employee_costs_link", class: "hidden" %>
    </div>

    <%= render "employers/plan_years/employee_costs_modal" %>

    <div class="col-xs-12 offerings">
      <div class="row row-form-wrapper no-buffer heading">
        <div class="col-xs-12">
          <div class="col-xs-6">Offered</div>
          <div class="col-xs-6">Employer Contribution</div>
        </div>
      </div>
      <div class="col-xs-12 benefits-fields">
        <% f.object.relationship_benefits = generate_relationship_benefits(f.object) %>
        <%= f.fields_for :relationship_benefits, errors: {}, fieldset: false do |rb|  %>
        <%= render "shared/relationship_benefit_fields", f: rb %>
        <% end %>
      </div>
    </div>





    <div class="col-md-12 col-sm-12 col-xs-12 top-pd">
      <div class="reference_plan_info" style='clear: both;'>
        <h4></h4>
        <div class="content"></div>
      </div>
    </div>

  </div>

  <!-- Select Plan:  -->
  <%= render "shared/reference_plans_list", f: f %>
  <div class="col-xs-12">
    <br><br>
    <div class="selected-plan row" style="display: none;"></div>
  </div>



</fieldset>
