<div class="modal fade carrier-contact" id="<%= plan.kind %>-<%= plan.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title"><%= plan.issuer_profile.legal_name %>
          <%=l10n("plans.csl")%></h4>
      </div>
      <div class="modal-body">
        <i class="fa fa-phone fa-3x"></i>
        <% if plan.kind.to_s == "health" %>
          <div class="carrier-numbers">
            <% case plan.issuer_profile.legal_name %>
            <% when "BMC HealthNet Plan" %>
              <div>
                <strong><a href= <%= l10n('plans.bhp_href_phone')%> > <%=l10n("plans.bhp_phone")%></a></strong> <br>
                <strong><%=l10n("plans.tty")%></strong> <%=l10n("plans.tty_number")%><br><br>
                <strong><%=l10n("plans.email") %> </strong><%=l10n("plans.bhp_email")%> <br/>
                <strong><%=l10n("plans.hours") %> </strong><%=l10n("plans.bhp_hours")%><br>
              </div>

            <% when "UnitedHealthcare" %>
              <div>
               <%=l10n("plans.uh_phone")%><br/>
                <strong><%=l10n('plans.tty')%></strong> <%=l10n("plans.tty_num")%><br/><br/>
                <strong><%=l10n("plans.hours")%></strong> <%=l10n("plans.uh_hours")%>
              </div>

            <% when "Fallon Health" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <strong><a href= <%=l10n('plans.fh_href_phone')%> ><%=l10n("plans.fh_phone")%></a></strong> <br>
                <strong><%=l10n("plans.tty")%></strong> <%=l10n("plans.fh_tty_number")%><br>
                <strong><%=l10n("plans.email")%></strong> <%=l10n("plans.fh_email")%><br>
                <strong><%=l10n("plans.hours")%></strong> <%=l10n("plans.fh_hours")%>
              </div>

            <% when "Health New England" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <strong><%=l10n("plans.local")%></strong> <a href=<%=l10n('plans.hne_href_local')%> ><%=l10n("plans.hne_local_phone")%></a> <br>
                <strong><%=l10n("plans.toll_free")%></strong><a href=<%=l10n('plans.hne_href_toll')%> ><%=l10n("plans.hne_toll_free")%></a> <br>
                <strong><%=l10n("plans.ttd/tty")%></strong><a href=<%=l10n('plans.hne_href_tty')%> ><%=l10n("plans.hne_tty")%></a> <br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.hne_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.hne_hours")%><br/>
              </div>

            <% when "Blue Cross Blue Shield MA" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <strong><%=l10n("plans.bcbs_ivl")%><strong><a href=<%=l10n('plans.bcbs_href_ivl_phone')%> ><%=l10n("plans.bcbs_ivl_phone")%></a><br>
                <strong><%=l10n("plans.bcbs_small")%></strong><a href=<%=l10n('plans.bcbs_small_href_phone')%> ><%=l10n("plans.bcbs_small_phone")%></a> <br>
                <strong><%=l10n("plans.tty")%></strong><%=l10n("plans.tty_num")%><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.bcbs_email")%><br/>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.bcbs_hours")%><br>
              </div>

            <% when "Harvard Pilgrim Health Care" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <a href=<%=l10n('plans.hphc_href_phone')%> ><%=l10n("plans.hphc_phone")%></a><br>
                <strong><%=l10n("plans.tty")%></strong><%=l10n("plans.tty_num")%><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.hphc_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.hphc_hours")%><br/>
              </div>

            <% when "AllWays Health Partners" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <a href=<%=l10n('plans.ahp_href_phone')%> ><%=l10n("plans.ahp_phone")%></a> <br>
                <strong><%=l10n("plans.tty")%></strong><%=l10n("plans.tty_num")%><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.ahp_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.ahp_hours")%><br/>
              </div>

            <% when "United Healthcare" %>
              <div>
               <%=l10n("plans.uh_phone")%><br/>
                <strong><%=l10n('plans.tty')%></strong> <%=l10n("plans.tty_num")%><br/><br/>
                <strong><%=l10n("plans.hours")%></strong> <%=l10n("plans.uh_hours")%>
              </div>

              <% when "Tufts Health Direct" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <a href=<%=l10n('plans.thd_href_phone')%> ><%=l10n("plans.thd_phone")%>(<%=l10n("plans.tty")%><%=l10n("plans.tty_num")%>)</a><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.thd_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.thd_hours")%><br/>
              </div>

            <% when "Tufts Health Premier" %>
              <div>
                <strong><%=l10n("plans.thpp_ph")%></strong>
                <a href=<%=l10n("plans.thd_href_phone")%> > <%=l10n("plans.thpp_phone")%></a> <br>
                <strong><%=l10n('plans.tty')%></strong> <%=l10n("plans.tty_num")%><br>
                <strong><%=l10n("plans.hours")%> </strong> <%=l10n("plans.thpp_hours")%><br>
                <strong><%=l10n("plans.email")%> </strong> <%= site_tufts_premier_link %> <%=l10n("plans.thpp_under")%><br/>
                <strong><%=l10n("plans.thpp_bh")%> </strong>
                <a href=<%=l10n("plans.thpp_bh_tel")%> > <%=l10n("plans.thpp_bh_phone")%></a> <br>
                <%=l10n("plans.thpp_time")%> <br>
                <strong><%=l10n("plans.thpp_nurseline")%> </strong><%=l10n("plans.thpp_nurseline_number")%><br>
              </div>

            <% when "CareFirst" %>
              <div>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.cf_href_phone')%> ><%=l10n("plans.cf_phone")%></a>
                </strong>
              </div>
            <% when "Aetna" %>
              <div>
                <strong><%=l10n("plans.aetna_ivl_and_family")%></strong><br/>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.aetna_href_phone')%>><%=l10n("plans.aetna_phone")%></a>
                </strong><br/>
                <%=l10n("plans.aetna_hours")%>
                <br/>
                <br/>
                <strong><%=l10n("plans.aetna_brokers_and_emprs")%></strong><br/>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n("plans.aetna_href_broker_and_emprs_phone")%> ><%=l10n("plans.aetna_broker_and_emprs_phone")%></a>
                </strong><br/>
                <%=l10n("plans.aetna_broker_and_emprs_hours")%>
                <br/>
                <br/>
                <strong><%=l10n("plans.sbe")%></strong><br/>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.aetna_href_sbe_call')%> ><%=l10n("plans.aetna_sbe_call")%></a>
                </strong><br/>
                <%=l10n("plans.aetna_hours")%>
                <br/>
              </div>
            <% when "Kaiser" %>
              <div>
                <%=l10n("plans.call")%>
              <strong>
                <a href=<%=l10n('plans.kaiser_href_phone')%> ><%=l10n("plans.kaiser_phone")%></a>
              </strong>
              </div>
            <% when "UnitedHealthcare" %>
              <div>
               <%=l10n("plans.uh_phone")%><br/>
                <strong><%=l10n('plans.tty')%></strong> <%=l10n("plans.tty_num")%><br/><br/>
                <strong><%=l10n("plans.hours")%></strong> <%=l10n("plans.uh_hours")%>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carrier-numbers">
            <% case plan.issuer_profile.legal_name %>
            <% when "Altus Dental" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <a href=<%=l10n('plans.ad_href_phone')%> ><%=l10n("plans.ad_phone")%></a> <br>
                <strong><%=l10n("plans.tty")%></strong><%=l10n("plans.ad_tty")%><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.ad_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.ad_hours")%><br/>
                <strong><%=l10n("plans.infoline")%></strong>
                <a href=<%=l10n('plans.ad_href_phone')%> ><%=l10n("plans.ad_phone")%></a><br>
                <%=l10n("plans.ad_infoline")%>
              </div>
            <% when "Delta Dental" %>
              <div>
                <strong><%=l10n("plans.call")%></strong>
                <a href=<%=l10n('plans.dd_href_phone')%> ><%=l10n("plans.dd_phone")%></a><br>
                <strong><%=l10n("plans.tty")%></strong><%=l10n("plans.tty_num")%><br>
                <strong><%=l10n("plans.email")%></strong><%=l10n("plans.dd_email")%><br>
                <strong><%=l10n("plans.hours")%></strong><%=l10n("plans.dd_hours")%><br/>
              </div>
            <% when "CareFirst" %>
                <div>
                  <%=l10n("plans.call")%>
                  <strong>
                  <a href=<%=l10n('plans.cf_href_phone')%> ><%=l10n("plans.cf_phone")%></a>
                  </strong><br/>
                </div>
            <% when  "Delta Dental"%>
              <div>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%l10n('plans.dd_href_number1')%> ><%=l10n("plans.dd_number1")%></a>
                </strong>
                or
                <strong>
                  <a href=<%=l10n('plans.dd_href_number2')%> ><%=l10n("plans.dd_number2")%></a>
                </strong>
                <br/>
              </div>
            <% when "MetLife"%>
              <div>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.metlife_href_phone')%> ><%=l10n("plans.metlife_phone")%></a>
                </strong><br/>
              </div>
            <% when "Dentegra" %>
              <div>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.dentegra_href_phone')%> ><%=l10n("plans_dentegra_phone")%></a>
                </strong><br/>
              </div>
            <% when "Dominion" %>
              <div>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.dominion_href_phone')%> ><%=l10n("plans.dominion_phone")%></a>
                </strong><br/>
              </div>
            <% when "BestLife" %>
              <div><br/>
                <%=l10n("plans.call")%>
                <strong>
                  <a href=<%=l10n('plans.bestlife_href_phone')%> ><%=l10n("plans.bestlife_phone")%></a>
                </strong><br/>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
