<fieldset>
  <div id="dependent_info" class="row no-buffer focus_effect personal-info-row">
    <div class="col-md-12 col-sm-12 col-xs-12 first">
      <div class="row middle-row form-group form-group-lg no-pd">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :first_name, class: "floatlabel form-control border-bottom-none", placeholder: 'FIRST NAME', required: true %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME' %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :last_name, class: "floatlabel form-control", placeholder: 'LAST NAME', required: true %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.hidden_field :_destroy %>
          <%= link_to '#', :class => "remove_fields close-2" do %>
          <%= image_tag("delete.png") %>
          <% end %>
        </div>
      </div>

      <div class="row bottom-row">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :dob, start_year: Date.today.year - 110, end_year: Date.today.year, placeholder: "BIRTHDATE",
          class: "date-picker dob-picker floatlabel form-control", value: f.object.dob.try(:strftime, "%m/%d/%Y"), required: true %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "male", class: "" %>
              <span>Male</span>
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "female",class: ""  %>
              <span>Female</span>
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= f.select :employee_relationship, options_for_select(CensusDependent::EMPLOYEE_RELATIONSHIP_KINDS.map{|r| [r.to_s.humanize, r.to_s] }, selected: f.object.employee_relationship), {include_blank: "SELECT RELATIONSHIP", required: true} %>
        </div>
      </div>
    </div>
  </div>
</fieldset>


