<div class="modal-body">
  <div id="printArea">
    <h3> Plan Comparison </h3>
    <br>
    <br>
    <table class="table bordered", border = "1", style="font-size:11px;" >
      <tr>
        <th>Carrier</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%= qhp.plan.carrier_profile.organization.legal_name %></th>
        <% end %>
      </tr>
      <tr>
        <th>Plan Name</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%= qhp.plan_marketing_name %></th>
        <% end %>
      </tr>
      <tr>
        <th>Your Cost</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%=number_to_currency(qhp[:total_employee_cost])%></th>
        <% end %>
      </tr>
      <tr>
        <th>Provider Network</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%= qhp.plan.nationwide ? "Nationwide" : "DC Area Network" %></th>
        <% end %>
      </tr>
      <tr>
        <th>SBC Link</th>
        <% qhps.each do |qhp|%>
          <th colspan="2">
            <%= link_to(root_path + "sbc/#{qhp.try(:plan).try(:sbc_file)}", class: "download") do %>
              <i class="glyphicon glyphicon-download-alt"> <%= qhp.try(:plan).try(:sbc_file) %></i>
            <% end %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Plan Benefits</th>
        <% qhps.each do |qhp|%>
          <th colspan="2">In Network</th>
          <!--<th>Out of Network</th>-->
        <% end %>
      </tr>
      <% Products::Qhp::VISIT_TYPES.each do |visit_type| %>
        <tr>
          <td><%= visit_type %></td>
          <% qhps.each do |qhp|%>
            <% matching_benefit = qhp.qhp_benefits.detect { |qb| qb.benefit_type_code == visit_type } %>
            <% if matching_benefit %>
              <% deductible = matching_benefit.find_deductible %>
              <td colspan="2"><%= deductible.copay_in_network_tier_1 %></td>
              <!--<td><%= deductible.copay_out_of_network %></td>-->
            <% end %>
          <% end %>
        </tr>
      <%end%>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-select" id='btnPrint'>Print</button>
  <%= link_to "Download", comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind, standard_component_ids: @standard_component_ids, hbx_enrollment_id: @hbx_enrollment_id, active_year: @active_year, format: :csv), class: "btn btn-select" %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
