<h3> Plan Comparison </h3>
<br>
<br>
<table class="table bordered", border = "1", style="font-size:11px;" >
  <tr>
    <th>Carrier</th>
    <% qhps.each do |qhp|%>
      <th colspan="2"><%= qhp.plan.carrier_profile.organization.legal_name %></th>
    <% end %>
  </tr>
  <tr>
    <th>Plan Name</th>
    <% qhps.each do |qhp|%>
      <th colspan="2"><%= qhp.plan_marketing_name %></th>
    <% end %>
  </tr>
  <tr>
    <th>Your Cost</th>
      <% qhps.each do |qhp|%>
        <th colspan="2"><%=number_to_currency(qhp[:total_employee_cost])%></th>
      <% end %>
  </tr>
  <tr>
    <th>Provider Network</th>
      <% qhps.each do |qhp|%>
        <th colspan="2"><%= qhp.plan.nationwide ? "Nationwide" : "DC Area Network" %></th>
      <% end %>
  </tr>
  <tr>
    <th>SBC Link</th>
    <% qhps.each do |qhp|%>
      <th colspan="2">
        <%= link_to(root_path + "sbc/" + qhp.plan.sbc_file, class: "download") do %>
          <i class="glyphicon glyphicon-download-alt"> <%=qhp.plan.sbc_file%></i>
        <% end %>
      </th>
    <% end %>
  </tr>
  <tr>
	  <th>Plan Benefits</th>
    <% qhps.each do |qhp|%>
      <th>In Network</th>
      <th>Out of Network</th>
    <% end %>
  </tr>
    <% Products::Qhp::VISIT_TYPES.each do |visit_type| %>
	    <tr>
		    <td><%= visit_type %></td>
		    <% qhps.each do |qhp|%>
			    <% matching_benefit = qhp.qhp_benefits.detect { |qb| qb.benefit_type_code == visit_type } %>
			    <% if matching_benefit %>
				    <% deductible = matching_benefit.find_deductible %>
					<td><%= deductible.copay_in_network_tier_1 %></td>
					<td><%= deductible.copay_out_of_network %></td>
			    <% end %>
		    <% end %>
	    </tr>
    <%end%>
</table>
