<h3> Plan Comparison </h3>
<br>
<br>
<table class="table bordered", border = "1", style="width:380px !important;float:left;font-size:11px;" >
  <tr>
    <th>Carrier</th>
  </tr>
  <tr>
    <th>Plan Name</th>
  </tr>
  <tr>
    <th>Plan Benefits</th>
  </tr>
    <% Products::Qhp::VISIT_TYPES.each do |visit_type| %>
      <tr><td><%= visit_type %></td></tr>
    <%end%>
</table>

<% plans.each do |plan|%>
  <table class="table bordered", border = "1", style="width:330px !important;float:left;font-size:11px;" >
    <tr>
      <th colspan="2"><%= plan.plan_marketing_name.split.first.underscore.humanize %></th>
    </tr>
    <tr>
      <th colspan="2"><%= plan.plan_marketing_name %></th>
    </tr>
    <tr>
      <th>In Network</th>
      <th>Out of Network</th>
    </tr>
    <% plan.qhp_cost_share_variance.qhp_service_visits.each do |visit| %>
      <% if Products::Qhp::VISIT_TYPES.include?(visit.visit_type) %>
        <tr>
          <td><%= visit.copay_in_network_tier_1 %></td>
          <td><%= visit.copay_out_of_network %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>