<% if @bs4 %>
  <div class="modal-body">
    <div id="printArea">
      <p><%= l10n("plans.comparison_table.description") %></p>
      <%= render "shared/plan_shoppings/more_plan_details" %>
      <div class="table-responsive">
        <table class="table compare-table">
          <tr class="left-border-all">
            <th class="row-title"><%= l10n("plans.plans") %></th>
            <% qhps.each do |qhp|%>
              <td colspan="2"><%= display_carrier_logo(Maybe.new(qhp.product_for(@market_kind)), {width: 80}) %></td>
            <% end %>
          </tr>
          <tr class="left-border-all">
            <th><%= l10n("plans.comparison_table.name") %></th>
            <% qhps.each do |qhp|%>
              <td colspan="2"><%= qhp.product_for(@market_kind).name %></td>
            <% end %>
          </tr>
          <tr class="left-border-all">
            <th><%= l10n("plans.comparison_table.metal_level_type") %></th>
            <% qhps.each do |qhp|%>
              <td colspan="2"><%= display_dental_metal_level qhp.product_for(@market_kind) %> / <%= qhp.product_for(@market_kind).product_type.upcase %></td>
            <% end %>
          </tr>
          <tr class="left-border-all">
            <th><%= l10n("plans.premium") %></th>
            <% qhps.each do |qhp|%>
              <td colspan="2"><%=number_to_currency(qhp[:total_employee_cost]) + " per month" %></td>
            <% end %>
          </tr>
          <tr class="left-border-all">
            <th><%= l10n("plans.provider_network") %></th>
            <% qhps.each do |qhp|%>
              <td colspan="2"><%= render partial: "shared/network_data", locals: {plan: qhp.product_for(@market_kind)} %></td>
            <% end %>
          </tr>
          <tr class="left-border-all">
            <td class="th"></td>
            <% qhps.each do |qhp|%>
              <td colspan="2" class="pb-5">
                <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.product_for(@market_kind) } %>
              </td>
            <% end %>
          </tr>

          <% if qhps.map(&:product).compact.map(&:benefit_market_kind) == :aca_individual %>
            <% if qhps.map(&:product).compact.map(&:nationwide).compact.uniq.include?(true) %>
              <tr class="left-border-all">
                <th class="th"></th>
                <% qhps.each do |qhp| %>
                  <td colspan="2">
                    <% if qhp.product_for(@market_kind).nationwide %>
                      <%= h(link_to l10n("plans.comparison_table.dd"), qhp.plan.provider_directory_url, target: '_blank', rel: "noopener noreferrer") %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <%= render partial: "shared/plan_shoppings/provider_directory_url", locals: {qhps: qhps} %>
          <% end %>

          <% if qhps.map(&:plan).compact.map(&:rx_formulary_url).compact.present? %>
            <tr class="left-border-all">
              <td class="th"></td>
              <% qhps.each do |qhp|%>
                <td colspan="2">
                  <% if qhp.product_for(@market_kind).kind.to_s == "health" && qhp.product_for(@market_kind).rx_formulary_url.present? %>
                    <%= h(link_to l10n("plans.comparison_table.drug_list"), qhp.plan.rx_formulary_url, target: "_blank", rel: "noopener noreferrer") %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>

          <% if @coverage_kind == "health" %>
            <tr>
              <th><%= l10n("plans.comparison_table.plan_benefits") %></th>
              <% qhps.each do |qhp|%>
                <td colspan="2" data-toggle="tooltip" data-container="body" title="<%= l10n("plans.comparison_table.plan_benefits_description")%>"><%= l10n("plans.comparison_table.copay") %></td>
              <% end %>
            </tr>
            <%= render partial: "shared/plan_shoppings/plan_visit_types", locals: { qhps: qhps } %>
          <% end %>
          <tr>
            <td class="th"></td>
            <% qhps.each do |qhp|%>
              <td colspan="2">
                <div class="plan_comparison">
                  <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.product_for(@market_kind) } %>
                </div>
              </td>
            <% end %>
          </tr>
          <% if @coverage_kind == "health" %>
            <tr>
              <td class="th"></td>
              <% qhps.each do |qhp|%>
                <td colspan="2">
                  <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.product_for(@market_kind) } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-default" id='btnPrint'><%= l10n("print") %></button>
    <% if @coverage_kind == "health" %>
      <%= h(link_to l10n("plans.download"), comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind, standard_component_ids: @standard_component_ids, hbx_enrollment_id: @hbx_enrollment_id, active_year: @active_year, format: :csv), class: "btn btn-default") %>
    <% end %>
    <button type="button" class="btn  btn-default btn-default" data-dismiss="modal" data-cuke="compare_selected_plans_close_btn"><%= l10n("close") %></button>
  </div>
<% else %>
<div class="modal-body">
  <div id="printArea">
    <h1 class="heading-text"> Choose Plan - Compare Selected Plans </h1>
    <h4> Each plan is different. Make sure you understand the differences so you can find the right plan to meet your needs and budget. </h4>
    <%= render "shared/plan_shoppings/more_plan_details" %>
    <table class="table bordered compare-table", border = "1", style="font-size:11px;" >
      <tr>
        <th class="row-title">Plans</th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><%= display_carrier_logo(Maybe.new(qhp.product_for(@market_kind)), {width: 80}) %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class="ttc fourteen blue"><%= qhp.product_for(@market_kind).name %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th class="fourteen lg" colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><span class="<%= qhp.product_for(@market_kind).metal_level.humanize.downcase %>-icon"><%= display_dental_metal_level qhp.product_for(@market_kind) %></span> &nbsp;&#149;&nbsp;
          <%= qhp.product_for(@market_kind).product_type.upcase %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" class="row-title" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><%=number_to_currency(qhp[:total_employee_cost]) + " / month" %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; verticle-align: center; border: none; padding: 15px 0 25px;">
            <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.product_for(@market_kind) } %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Provider Network</th>
        <% qhps.each do |qhp|%>
          <%= render partial: "shared/network_data", locals: {plan: qhp.product_for(@market_kind)} %>
        <% end %>
      </tr>

      <% if qhps.map(&:product).compact.map(&:benefit_market_kind) == :aca_individual %>
        <% if qhps.map(&:product).compact.map(&:nationwide).compact.uniq.include?(true) %>
          <tr>
            <th></th>
            <% qhps.each do |qhp| %>
              <th colspan="2">
                <% if qhp.product_for(@market_kind).nationwide %>
                  <%= h(link_to 'DOCTOR DIRECTORY', qhp.plan.provider_directory_url, target: '_blank', rel: "noopener noreferrer") %>
                <% end %>
              </th>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <%= render partial: "shared/plan_shoppings/provider_directory_url", locals: {qhps: qhps} %>
      <% end %>

      <% if qhps.map(&:plan).compact.map(&:rx_formulary_url).compact.present? %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <% if qhp.product_for(@market_kind).kind.to_s == "health" && qhp.product_for(@market_kind).rx_formulary_url.present? %>
                <%= h(link_to "DRUG LIST", qhp.plan.rx_formulary_url, target: "_blank", rel: "noopener noreferrer") %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% if @coverage_kind == "health" %>
        <tr>
          <th>PLAN BENEFITS <br> (In Network)</th>
          <% qhps.each do |qhp|%>
            <th colspan="2" data-toggle="tooltip" data-container="body" title="Once you meet your deductible, you'll share the costs for any covered services you receive until you reach your out-of-pocket limit. Copayments are a fixed dollar amount you pay for a covered service, usually when you receive the service. Coinsurance is calculated as a percent of the allowed amount for a covered service."> COST SHARING </th>
          <% end %>
        </tr>
        <%= render partial: "shared/plan_shoppings/plan_visit_types" %>
      <% end %>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2">
            <div class="plan_comparison">
              <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.product_for(@market_kind) } %>
            </div>
          </th>
        <% end %>
      </tr>
      <% if @coverage_kind == "health" %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.product_for(@market_kind) } %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="modal-footer" style="border-top: none;">
  <button type="button" class="btn btn-default btn-default" id='btnPrint'>Print</button>
  <% if @coverage_kind == "health" %>
    <%= link_to "Download", comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind, standard_component_ids: @standard_component_ids, hbx_enrollment_id: @hbx_enrollment_id, active_year: @active_year, format: :csv), class: "btn btn-default" %>
  <% end %>
  <button type="button" class="btn  btn-default btn-default" data-dismiss="modal" data-cuke="compare_selected_plans_close_btn">Close</button>
</div>

<% end %>
