<div class="modal-body">
  <div id="printArea">
    <h1> Choose Plan - Compare Selected Plans </h1>
    <h4> Each plan is different. Make sure you understand the differences so you can find the right plan to meet your needs and budget. </h4>
    <%= render "shared/plan_shoppings/more_plan_details" %>
    <table class="table bordered compare-table", border = "1", style="font-size:11px;" >
      <tr>
        <th class="row-title">Plans</th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><%= display_carrier_logo(Maybe.new(qhp.plan), {width: 80}) %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class="ttc fourteen blue"><%= qhp.plan.name %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th class="fourteen lg" colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><span class="<%= qhp.plan.metal_level.humanize.downcase %>-icon"><%= display_dental_metal_level qhp.plan %></span> &nbsp;&#149;&nbsp;
          <%= qhp.plan.plan_type.upcase %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" class="row-title" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><%=number_to_currency(qhp[:total_employee_cost]) + " / month" %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; verticle-align: center; border: none; padding: 15px 0 25px;">
            <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.plan } %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Provider Network</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%= qhp.plan.nationwide ? "Nationwide" : "DC-Metro" %></th>
        <% end %>
      </tr>

      <% if qhps.map(&:plan).map(&:nationwide).compact.uniq.include?(true) %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <% if qhp.plan.nationwide %>
                <%= link_to "PROVIDER DIRECTORY", qhp.plan.provider_directory_url, target: "_blank" %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% if qhps.map(&:plan).map(&:rx_formulary_url).compact.present? %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <% if qhp.plan.coverage_kind == "health" && qhp.plan.rx_formulary_url.present? %>
                <%= link_to "RX FORMULARY URL", qhp.plan.rx_formulary_url, target: "_blank" %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% if @coverage_kind == "health" %>
        <tr>
          <th>PLAN BENEFITS <br> (In Network)</th>
          <% qhps.each do |qhp|%>
            <th colspan="1"> CO-PAY </th>
            <th colspan="1"> COINSURANCE </th>
          <% end %>
        </tr>
        <%= render partial: "shared/plan_shoppings/plan_visit_types" %>
      <% end %>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2">
            <div class="plan_comparison">
              <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.plan } %>
            </div>
          </th>
        <% end %>
      </tr>
      <% if @coverage_kind == "health" %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.plan } %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="modal-footer" style="border-top: none;">
  <button type="button" class="btn btn-default btn-default" id='btnPrint'>Print</button>
  <% if @coverage_kind == "health" %>
    <%= link_to "Download", comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind, standard_component_ids: @standard_component_ids, hbx_enrollment_id: @hbx_enrollment_id, active_year: @active_year, format: :csv), class: "btn btn-default" %>
  <% end %>
  <button type="button" class="btn  btn-default btn-default" data-dismiss="modal">Close</button>
</div>
