<h3> Plan Comparison </h3>
<br>
<br>
<table class="table bordered", border = "1", style="width:380px !important;float:left;font-size:11px;" >
  <tr>
    <th>Carrier</th>
  </tr>
  <tr>
    <th>Plan Name</th>
  </tr>
  <tr>
    <th>Plan Benefits</th>
  </tr>
    <% Products::Qhp::VISIT_TYPES.each do |visit_type| %>
      <tr><td><%= visit_type %></td></tr>
    <%end%>
</table>

<% qhps.each do |qhp|%>
  <table class="table bordered", border = "1", style="width:330px !important;float:left;font-size:11px;" >
    <tr>
      <th colspan="2"><%= qhp.plan.carrier_profile.organization.legal_name %></th>
    </tr>
    <tr>
      <th colspan="2"><%= qhp.plan_marketing_name %></th>
    </tr>
    <tr>
      <th>In Network</th>
      <th>Out of Network</th>
    </tr>
    <% qhp.qhp_benefits.each do |benefit| %>
      <% if Products::Qhp::VISIT_TYPES.include?(benefit.benefit_type_code) %>
        <% deductible = benefit.find_deductible %>
        <tr>
          <td><%= deductible.copay_in_network_tier_1 %></td>
          <td><%= deductible.copay_out_of_network %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>