<% next_link = local_assigns[:next_link] ? next_link : "" %>
<% disable_link = local_assigns[:disable_link] ? disable_link : false %>
<% dont_show_next_button = local_assigns[:dont_show_next_button] ? dont_show_next_button : false %>
<% confimation_link = local_assigns[:confimation_link] ? confimation_link : false %>
<% link_method = local_assigns[:method] ? method : nil %>
<% button_type = local_assigns[:button_type] ? button_type : nil %>
<% button_link = local_assigns[:button_type] %>
<% run_person_validations = local_assigns[:run_person_validations] ? run_person_validations : false %>

<% if confimation_link %>
  <%= sanitize(link_to l10n("confirm"), checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), class: "btn btn-lg btn-primary btn-block disabled", id: 'btn-continue', method: :post, disabled: !@enrollable) %>
<% elsif !dont_show_next_button %>
  <% if button_link %>
    <button id="btn-continue" <%= "disabled=#{disable_link}" if disable_link == true %> type="<%= button_type %>" method="<%= link_method %>">
      <%= l10n("continue_next") %>
    </button>
  <% else %>
    <% if run_person_validations.present? %>
      <span tabindex="0" onkeydown="handleButtonKeyDown(event, 'continue_button')" id="continue_button" class="btn" onkeydown="handleButtonKeyDown(event, 'continue_button');" onclick="PersonValidations.manageRequiredValidations($(this));">
        <%= l10n("continue_next") %>
      </span>
      <button class="btn interaction-click-control-continue hidden" type="submit">
        <%= l10n("continue_next") %>
      </button>
    <% else %>
      <%= h(link_to l10n("continue_next"), next_link, method: link_method, class: 'btn', disabled: disable_link, id: "btn-continue") %>
    <% end %>
  <% end %>
<% end %>
