<%= javascript_include_tag "my_javascipt_file" %>

<div class="row no-buffer">
  <div class="form-group form-group-lg">
    <p class="sixteen"><%= l10n("insured.contact_preference") %></p>
  </div>
  <div class="phone no-pd">
    <%= f.fields_for role, errors: {}, fieldset: true do |person_role| %>
      <%= person_role.hidden_field :id if role == :employee_roles %>
      <% next if role == :employee_roles && !person_role.object&.is_active? %>
      <div class="row row-form-wrapper no-buffer <%= 'hidden' if @identifier %>">
        <div class="col-md-6 col-sm-6 form-group-lg no-pd">
          <label class='personal_landing_page_label'>Contact Method</label>
          <br>
          <% if EnrollRegistry.feature_enabled?(:contact_method_via_dropdown) %>
            <%= person_role.select :contact_method, options_for_select([["Only paper communication", "Only Paper communication"], ["Only electronic communications", "Only Electronic communications"], [ "Both electronic and paper communications", "Paper and Electronic communications"]], selected: person_role.object.contact_method), {prompt: 'Select communications preference'} %>
          <% else %>
            <% ["Email", "Mail", "Text"].each do |type| %>
              <span class="contact-method" style="margin: 0 5px"><%= person_role.check_box(:contact_method, {checked: contact_preferences_mapping[person_role.object.contact_method].to_a.include?(type), multiple: true }, type, nil) %>&nbsp;<%= type%></span>
            <% end %>
          <% end%>
          </div>
        <div class="col-md-6 col-sm-6 form-group-lg no-pd">
          <label class='personal_landing_page_label'>Language Preference</label>
          <br>
          <%= person_role.select :language_preference, options_for_select(EnrollRegistry[:state_based_language_preferences].item || ["English"], selected: person_role.object.language_preference), {prompt: 'Select communications language'} %>
        </div>
      </div>
      <% if role == :employee_roles && @person.active_employee_roles.size > 1 %>
        <% @identifier = true %>
      <% end %>
    <% end %>
  </div>
</div>
