<% selected_kind_carrier = f.object.plan_option_kind == 'single_carrier' %>
<% selected_kind_metal_level = f.object.plan_option_kind == 'metal_level' %>
<% selected_kind_plan = f.object.plan_option_kind == 'single_plan' %>
<% if @plan_year.new_record? %>
  <div class="dental-plan-offering">
    <br/>
    <br/>
    <h1>Select Your Dental Plan Offering</h1>
    <h4 style="max-width: 660px;">Let your plan participants choose any plan offered by one carrier, any plan available within a specific metal level or you can offer just one plan. It doesn't cost you more to let them choose by carrier (insurance company) or metal level.</h4>
    <br/>
  </div>
<% else %>
<div class="edit-offering">
  <br/>
  <h1>Edit Your Dental Plan Offering</h1>

  <h4 class="currently-offered" style="max-width: 660px; display: inline-block;">
  </h4>
  <br><br>

    <div class="col-xs-12">
</div>
    <!-- <div class="offered-plan">
    </div> -->
</div>
<div class="offered-plan">
</div>
<% end %>

  <div class="reference-steps">
    <% if @plan_year.new_record == false %>
    <div>

    <br class="clear"/>
    <h1>Edit Your Dental Plan Offering</h1>
    <h4 class="currently-offering" style="max-width: 660px; display: inline-block;">
    </h4>
    <br class="clear"/>

    <br/><br/>
  </div>

    <% end %>

<div class="dental">
  <ul class="nav nav-tabs row">
    <li role="presentation" class="col-xs-6">
      <%= link_to '', employers_employer_profile_plan_year_dental_reference_plans_path(plan_year_id: @plan_year.id), class: 'dental-reference-plans-link hidden' %>
      <%= f.radio_button :dental_plan_option_kind, "single_plan", selected: f.object.plan_option_kind %>
      <%= f.label :dental_plan_option_kind_single_plan, class: "elected_plan" do %>
      <i class="fa fa-circle-o"></i>
      <i class="fa fa-dot-circle-o"></i>
      Custom
      <% end %>
    </li>
    <li role="presentation" class="col-xs-6">
      <%= f.radio_button :dental_plan_option_kind, "single_carrier" %>
      <%= f.label :dental_plan_option_kind_single_carrier, class: "elected_plan" do %>
      <i class="fa fa-circle-o"></i>
      <i class="fa fa-dot-circle-o"></i>
      By carrier
      <% end %>
    </li>
  </ul>
  <div class="col-xs-12 plan-options" style="display: none;">
    <div class="col-xs-12 carriers-tab" style="display: none;">
      <br><br>
      <h4>Select your preferred insurance company carrier. Your plan participants will be able to choose any plan offered by the carrier you select. Your costs will be fixed to a specific plan you’ll choose in a minute.</h4>
      <br/><br/>
      <%= f.hidden_field :carrier_for_elected_dental_plan, class: 'carrier-for-elected-dental-plan' %>
      <div class="dental-plan-options">
      </div>
    </div>
    <div class="col-xs-12 elected-plans-tab" style="display: none;">
    </div>
    <% if @plan_year.new_record? %>
      <%= f.hidden_field :dental_reference_plan_id, value: "", class: "dental-ref-plan hidden-param" %>
    <% else %>
      <%= f.hidden_field :dental_reference_plan_id, class: "dental-ref-plan hidden-param" %>
    <% end %>
    <%= f.hidden_field :dental_relationship_benefits_attributes_time, class: "dental-relationship-benefits-attributes-time" %>


    <div class="col-xs-12 row plans-tab" style="display: none;">
      <br/>
      <br/>
    </div>
  </div>
  <div class="col-xs-12 elected-plans-continue b bt-n vertically-aligned-row" style="display: none;">
    <div class="col-xs-6 text-center">
      <h4 class="di">After selecting offered plans, click "Select Reference Plan"</h4>
    </div>
    <div class="col-xs-3 text-center">
      <span class="btn btn-default">Select Reference Plan</span>
    </div>
  </div>
</div>

<script>
$(function(){

$('a[data-remote=true]').click( function() {
   var current_href = $(this).attr('href');
   var location_id = $(this).closest('.benefit-group-fields').attr('id');
   $(this).attr('href', current_href + "&location_id=" + location_id);
});

})
</script>
