<fieldset style="<%= 'display: none;' if f.object.relationship == 'child_26_and_over' %>">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12 no-pd">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.hidden_field :relationship, value: f.object.relationship %>
        <%= f.text_field :relationship, value: f.object.relationship.try(:humanize), disabled: true, class: "form-control" %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :premium_pct, class: "floatlabel form-control contribution_handler", placeholder: 'PREMIUM PERCENTAGE', value: f.object.premium_pct.try(:to_i) %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <div class="checkbox">
          <label>
            <%= f.check_box :offered, {class: "contribution_handler", disabled: (f.object.relationship == 'employee' ? true:false)}, "true", "false" %>
            <span>OFFERED</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</fieldset>
