<h3>Plan Year</h3>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= f.select(:start_on, options_for_select(PlanYear.calculate_start_on_options, selected: f.object.start_on.try(:to_s, :db)), {:include_blank => "SELECT START ON"}, { :class => ''}) %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= datepicker_control(f, :end_on, {:class => "floatlabel form-control interaction-field-control-plan_year-start_on", :required => true, :placeholder => "END ON", readonly: true}) %>
      </div>
    </div>
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= datepicker_control(f, :open_enrollment_start_on, {:class => "floatlabel form-control interaction-field-control-plan_year-open_enrollment_start_on", :required => true, :placeholder => "OPEN ENROLLMENT START DATE"}) %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= datepicker_control(f, :open_enrollment_end_on, {:class => "floatlabel form-control interaction-field-control-plan_year-open_enrollment_end_on", :required => true, :placeholder => "OPEN ENROLLMENT END DATE"}) %>
      </div>
    </div>
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :fte_count, class: "floatlabel form-control", required: true, placeholder: 'FULL TIME EMPLOYEES' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :pte_count, class: "floatlabel form-control", required: true, placeholder: 'PART TIME EMPLOYEES' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :msp_count, class: "floatlabel form-control", required: true, placeholder: 'MEDICARE SECOND PAYERS' %>
      </div>
    </div>
  </div>
</div>

<br>
<a href="#" data-href="<%= recommend_dates_employers_employer_profile_plan_years_path %>" id='generate_recommend_dates' class='btn btn-primary' style='display:none;'></a>
<div class="recommend">
  <div id="content" style="display: none;"></div>
</div>
