<% selected_kind_carrier = f.object.plan_option_kind == 'single_carrier' %>
<% selected_kind_metal_level = f.object.plan_option_kind == 'metal_level' %>
<% selected_kind_plan = f.object.plan_option_kind == 'single_plan' %>

<!-- Select Elected Plan -->
<div class="col-md-4 col-sm-4 col-xs-12 no-pd">
  <%= f.select 'plan_option_kind', options_for_select([["All plans from a given carrier", "single_carrier"], ["All plans with a given metal level", "metal_level"], ["A single plan", "single_plan"]], selected: f.object.plan_option_kind), {include_blank: "Select Plan Offerings"}, {class: 'elected_plan'} %>
</div>

<div class="col-md-4 col-sm-4 col-xs-12 elected-plan-select no-pd">
  <div class="hidden_field carrier_for_elected_plan" style="<%= 'display:block;' if (selected_kind_carrier or selected_kind_plan) %>">
    <%= f.select 'carrier_for_elected_plan', options_for_select(@carriers_array, selected: f.object.carrier_for_elected_plan), {include_blank: "SELECT CARRIER"}, {class: 'carrier'} %>
  </div>
  <div class="hidden_field metal_level_for_elected_plan" style="<%= 'display:block;' if selected_kind_metal_level %>">
    <%= f.select 'metal_level_for_elected_plan', options_for_select(Plan.reference_plan_metal_level_for_options, selected: f.object.metal_level_for_elected_plan), {include_blank: "SELECT METAL LEVEL"}, {class: 'metal-level'} %>
  </div>
</div>

<!-- Select Reference Plan -->
<div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd reference-plan-select">
  <%= f.hidden_field :reference_plan_id, value: f.object.reference_plan_id %>
  <div class="carrier-select reference-plan-content" style="<%= 'display:block;' if (selected_kind_carrier or selected_kind_plan) %>">
    <% @carrier_names.each_key do |carrier_id| %>
      <% show_this_carrier = (f.object.carrier_for_elected_plan.to_s == carrier_id.to_s) && (selected_kind_carrier or selected_kind_plan) %>
	    <% carrier_plans = show_this_carrier ? @plan_year.carrier_plans_for(carrier_id) : [] %>
      <div class="hidden_second_field carrier-<%= carrier_id %> carrier-content" style="<%= 'display:block;' if show_this_carrier %>">
        <%= select_tag "reference_plan", options_for_select(carrier_plans, selected: f.object.reference_plan_id), class: "carrier-#{carrier_id}", include_blank: (show_this_carrier ? "SELECT REFERENCE PLAN" : "LOADING...") %>
      </div>
    <% end %>
  </div>

  <div class="metal-level-select reference-plan-content" style="<%= 'display:block;' if selected_kind_metal_level %>">
    <% metal_levels = Plan::REFERENCE_PLAN_METAL_LEVELS %>
    <% if check_plan_options_title %>
     <% metal_levels = enabled_metal_levels_for_single_carrier %>
    <% end %>
    <% metal_levels.each do |kind| %>
      <% show_this_metal_level = f.object.metal_level_for_elected_plan == kind && selected_kind_metal_level %>
      <% metal_level_plans = show_this_metal_level ? @plan_year.metal_level_plans_for(kind) : [] %>
      <div class="metal-level-<%= kind %> metal-level-content hidden_second_field" style="<%= 'display:block;' if show_this_metal_level %>">
        <%= select_tag "reference_plan", options_for_select(metal_level_plans, selected: f.object.reference_plan_id), class: "metal-level-#{kind}", include_blank: (show_this_metal_level ? "SELECT REFERENCE PLAN" : "LOADING...") %>
      </div>
    <% end %>
  </div>
</div>
