<button type="button" class="btn btn-info btn-sm <%= 'disabled' if employer_profile.active_plan_year.blank? %>"
data-toggle="modal" data-target="#terminate_employee_enrollments_modal">Terminate Employee Roster Enrollments</button>

<div class="modal" id="terminate_employee_enrollments_modal" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title">Terminate All Employees for <%= employer_profile.legal_name %> </h4>
      </div>
      <div class="modal-body">
        <%= form_tag(employers_employer_profile_terminate_employee_roster_enrollments_path(employer_profile.id)) do %>
          <strong>Please select reason for termination: <br></strong>
          <%= select_tag('termination_reason',options_for_select([["Non Payment", "non_payment"]]), class: "form-control")%>
          <strong>Please select date of termination: <br></strong>
          <%= text_field_tag "termination_date", nil, required: true, id: "termination-date-picker_#{employer_profile.id}", class: "form-control date-field date-picker", "data-date-min" =>  employer_profile.active_plan_year.start_on + 1.day, "data-date-max" => employer_profile.active_plan_year.end_on %>
          <strong>Transmit to Carrier?</strong>
          <%= check_box_tag 'transmit_xml', true %> <br>

          <%= submit_tag "Terminate Enrollments", class: "btn btn-large btn-primary", onclick: "return confirm('Are you sure to TERMINATE coverage for all employees?')" %>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Close</button>
      </div>   
    </div>
  </div>
</div>
