<% if object.errors.any? %>
	<% if @bs4 %>
		<% is_only_warning = object.errors.details.values.all? {|error_type| error_type.all? {|details| details[:level] == :warning}} %>
		<% type = is_only_warning ? "warning" : "error" %>
		<div class="mt-2 mb-0 px-0">
   			<div class="alert alert-<%= type %> d-flex flash" role="alert">
      			<div class="pl-1">
        			<div class="<%= type %>-icon icon" alt=<%= type %>>&nbsp;</div>
      			</div>
				<div class="mt-2 p-0 align-self-center">
					<p><%= l10n('insured.consumer_roles.error_prompt') %></p>
					<ul class="list-unstyled">
						<% object.errors.each do |attr, msg| %>
							<% if attr == :base %>
								<li><%= "#{msg}" %></li>
							<% else %>
								<% attr = (attr == :gender && EnrollRegistry.feature_enabled?(:gender_to_sex)) ? "sex" : attr %>
								<li><%= attr.to_s.titleize %>: <%= raw(msg) %></li>
							<% end %>
						<% end %>
					</ul>
				</div>
    		</div>
  		</div>
	<% else %>
		<div class="alert alert-danger">
			<h4>You need to correct the following errors:</h4>
			<ul>
				<% object.errors.each do |attr, msg| %>
					<% if attr == :base %>
						<li><%= "#{msg}" %></li>
					<% else %>
						<% attr = (attr == :gender && EnrollRegistry.feature_enabled?(:gender_to_sex)) ? "sex" : attr %>
						<li><%= attr.to_s.titleize %>: <%= raw(msg) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
<% end %>