<span id= "<%= key %>" class="glossary"
      data-toggle="popover"
      data-animation="false"
      data-placement="auto top"
      data-trigger="hover focus"
      data-html="true"
      data-boundary="window"
      data-content="<%= t("glossary.#{key}") %>"
      data-title='<%= local_assigns[:title] || local_assigns[:term] %>'>
  <%= term %>
</span>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $('[data-toggle="popover"]').popover({
    trigger: 'hover',
    template: '<div class="popover <%= 'p-2' if @bs4 %>"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
  })
</script>
