<div id="address_info" class="row no-buffer focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
        <button class="btn btn-new-address">NEW ADDRESS</button>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12 form-group form-group-lg no-pd address">
        <div class="form-group form-group-lg">
          <div class="row" style="margin: 0;">
            <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
              <div class="dropdown">
                <button class="form-control floatlabel adderess-select-box form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  <label>Home Address</label>
                </button>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
          </div>
        </div>
      </div>
    </div>

    <%= f.fields_for :addresses, f.object.addresses, errors: {}, fieldset: true do |address| %>
      <% kind = address.object.kind %>

      <% style = "" %>
      <% div_class = kind+"-div" %>
      <% if kind != 'home' %>
        <% style="display:none;" %>
      <% end %>
      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
          <%= address.hidden_field :kind %>

          <% if kind == 'home' %>
            <% required = "required" %>
          <% end %>

          <%= address.text_field :address_1, placeholder: "ADDRESS LINE 1 #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :address_2, placeholder: "ADDRESS LINE 2", class: "floatlabel form-control" %>
        </div>
      </div>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :city, placeholder: "CITY #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.select(:state, options_for_select(State::NAME_IDS.map(&:last), selected: address.object.state), {include_blank: "SELECT STATE #{'*' if required.present?}"}, { required: required.present? }) %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :zip, placeholder: "ZIP #{'*' if required.present?}", class: "number floatlabel form-control zip #{required}", required: required.present? %>
        </div>
      </div>
    <% end%>
    <%= render 'shared/error_warning' %>
  </div>

  <div class="col-md-2 key col-sm-3 col-xs-12"></div>
</div>
