= pundit_span Family, :updateable?
- step = (defined? step) ? step.to_i : 1
- ridp = (defined? ridp) ? ridp : false
- next_link = (defined? next_link) ? next_link : false
- identity_verified = (defined? identity_verified) ? identity_verified : false
- application_verified = (defined? application_verified) ? application_verified : false
- search_page = (defined? search_page ) ? search_page : false

- percent_complete = 0
- percent_complete = step == 1 ? 15 : (step == 2) ? 35 : ((step == 3) ? 50 : ((step == 4) ? 75 : ((step == 5) ? 90 : (step == 6 ? 100 : 0))))

- if show_component(request.path)
  %h3= "#{percent_complete}% Complete"
  %ul.list-unstyled.progress-wrapper.hidden-xs
    %li{class: add_progress_class(1, step)}
      %span.circle-progress
      .vertical-line-progress
      Personal Info
    %li{class: add_progress_class(2, step)}
      %span.circle-progress
      .vertical-line-progress
      Verify Identity
    %li{class: add_progress_class(3, step)}
      %span.circle-progress
      .vertical-line-progress
      Household Info
    %li{class: add_progress_class(4, step)}
      %span.circle-progress
      .vertical-line-progress
      Choose Plan
    %li{class: add_progress_class(5, step)}
      %span.circle-progress
      .vertical-line-progress
      Confirm
    %li{class: add_progress_class(6, step)}
      %span.circle-progress
      .vertical-line-progress
      Complete

- if step == 1 && search_page == true
  = link_to "Continue", insured_consumer_role_index_path(person: @person_params), method: :post, class: 'btn btn-lg btn-primary btn-block', data: { disable_with: l10n("please_wait") }
- elsif step == 1
  %span{tabindex: '0', onkeydown: "handleButtonKeyDown(event, 'continue_button')", id: 'continue_button', class: 'btn btn-lg btn-primary btn-br btn-block', onkeydown: 'handleButtonKeyDown(event, "continue_button");', onclick: 'PersonValidations.manageRequiredValidations($(this));'} CONTINUE
  %button.btn.btn-lg.btn-primary.btn-br.btn-block.interaction-click-control-continue.hidden{type: 'submit', 'data-disable-with': l10n("please_wait")}
    CONTINUE
- elsif ridp == true && step == 2
  - if next_link.present?  && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper")
    = link_to "Continue", next_link, :method => :get, :class => "button btn btn-lg btn-primary  btn-block interaction-click-control-continue", id: 'btn-continue', :disabled => (application_verified || identity_verified) ? false : true
  - elsif next_link.present?
    = link_to "Continue", next_link, :method => :get, :class => "button btn btn-lg btn-primary  btn-block interaction-click-control-continue", id: 'btn-continue', :disabled => !identity_verified
  - elsif EnrollRegistry.feature_enabled?(:ridp_h139) && Rails.env.production? && !(ENV['ENROLL_REVIEW_ENVIRONMENT'] == 'true')
    = link_to "Continue", new_insured_fdsh_ridp_verification_path, class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-continue', id: 'btn-continue'
  - else
    = link_to "Continue", new_insured_interactive_identity_verification_path, class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-continue', id: 'btn-continue'
- elsif step == 2
  - if next_link.present?  && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper")
    = link_to "Continue", next_link, :method => :get, class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-continue', id: 'btn-continue', :disabled => (application_verified || identity_verified) ? false : true
  - elsif next_link.present?  && current_user.has_hbx_staff_role? && @person.primary_family.application_type == "In Person"
    = link_to "Continue", next_link, :method => :get, class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-continue', id: 'btn-continue', :disabled => !identity_verified
  - else next_link.present?
    = link_to "Continue", next_link, :method => :get, class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-continue', id: 'btn-continue', :disabled => !identity_verified
- elsif defined? url
  = link_to 'Continue', url, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue'
- elsif step == 4
  %button.btn.btn-lg.btn-primary.btn-block#btn-continue{disabled: true}
    CONTINUE
  %br
- elsif step == 5
  = link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, :plan_id => @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), :class => 'btn btn-lg btn-primary  btn-block disabled', id: 'btn-continue', :method => :post, :disabled => !@enrollable
- elsif step != 6 # The final step is handled in the shopping_nav_panel partial
  %button.btn.btn-lg.btn-primary.btn-block#btn-continue{type: 'submit'}
    CONTINUE

= render partial: 'shared/shopping_nav_panel',
  locals: {show_exit_button: !@no_save_button && step < 6,
  show_previous_button: !@no_previous_button && ![1,6].include?(step),
  show_account_button: step > 2 && EnrollRegistry.feature_enabled?(:back_to_account_all_shop),
  is_complete: step == 6,
  show_help_button: step != 1 && step < 6}

:javascript
  $(document).ready( function() {
    $.inputMasks();
  } );
