<%= pundit_span Family, :updateable? %>
<% step = (defined? step) ? step.to_i : 1 %>
<% ridp = (defined? ridp) ? ridp : false %>
<% next_link = (defined? next_link) ? next_link : false %>
<% identity_verified = (defined? identity_verified) ? identity_verified : false %>
<% application_verified = (defined? application_verified) ? application_verified : false %>
<% search_page = (defined? search_page ) ? search_page : false %>
<% show_previous_button = !@no_previous_button && ![1,6].include?(step) %>
<% previous_style = (defined? previous_style) ? previous_style : "outline" %>

<% percent_complete = 0 %>
<% percent_complete = step == 1 ? 15 : (step == 2) ? 35 : ((step == 3) ? 50 : ((step == 4) ? 75 : ((step == 5) ? 90 : (step == 6 ? 100 : 0)))) %>


<% if show_component(request.path) %>
  <h3><%= "#{percent_complete}% Complete" %></h3>
  <ul class="list-unstyled progress-wrapper hidden-xs">
    <li class="<%= add_progress_class(1, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Personal Info</div>
    </li>
    <li class="<%= add_progress_class(2, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Verify Identity</div>
    </li>
    <li class="<%= add_progress_class(3, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Household Info</div>
    </li>
    <li class="<%= add_progress_class(4, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Choose Plan</div>
    </li>
    <li class="<%= add_progress_class(5, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Confirm</div>
    </li>
    <li class="<%= add_progress_class(6, step) %>">
      <span class="circle-progress"></span>
      <div class="vertical-line-progress">Complete</div>
    </li>
  </ul>
<% end %>
<% if @bs4 %>
  <% if show_previous_button %>
    <a class="back button <%= previous_style.blank? ? 'outline' : 'secondary' %> mr-2" href='#'><%= l10n("previous_step") %></a>
  <% end %>
  <% if step == 1 && search_page == true %>
    <%= link_to l10n("continue_next"), insured_consumer_role_index_path(person: @person_params), method: :post, class: 'btn' %>
  <% elsif step == 1 %>
    <span tabindex="0" onkeydown="handleButtonKeyDown(event, 'continue_button')" id="continue_button" class="btn" onkeydown="handleButtonKeyDown(event, 'continue_button');" onclick="PersonValidations.manageRequiredValidations($(this));">
      <%= l10n("continue_next") %>
    </span>
    <button class="btn interaction-click-control-continue hidden" type="submit">
      <%= l10n("continue_next") %>
    </button>
  <% elsif ridp == true && step == 2 %>
    <% if next_link.present? && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper") %>
      <%= link_to l10n("continue_next"), next_link, method: :get, class: "button interaction-click-control-continue", id: 'btn-continue', disabled: (application_verified || identity_verified) ? false : true %>
    <% elsif next_link.present? %>
      <%= link_to l10n("continue_next"), next_link, method: :get, class: "button interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% elsif EnrollRegistry.feature_enabled?(:ridp_h139) && Rails.env.production? && !(ENV['ENROLL_REVIEW_ENVIRONMENT'] == 'true') %>
      <%= link_to l10n("continue_next"), new_insured_fdsh_ridp_verification_path, class: "button interaction-click-control-continue", id: 'btn-continue' %>
    <% else %>
      <%= link_to l10n("continue_next"), new_insured_interactive_identity_verification_path, class: "button interaction-click-control-continue", id: 'btn-continue' %>
    <% end %>
  <% elsif step == 2 %>
    <% if next_link.present? && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper") %>
      <%= link_to l10n("continue_next"), next_link, method: :get, class: "button interaction-click-control-continue", id: 'btn-continue', disabled: (application_verified || identity_verified) ? false : true %>
    <% elsif next_link.present? && current_user.has_hbx_staff_role? && @person.primary_family.application_type == "In Person" %>
      <%= link_to l10n("continue_next"), next_link, method: :get, class: "button interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% elsif next_link.present? %>
      <%= link_to l10n("continue_next"), next_link, method: :get, class: "button interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% end %>
  <% elsif defined? url %>
    <%= link_to l10n("continue_next"), url, class: "button", id: 'btn-continue' %>
  <% elsif step == 4 %>
    <button class="options_to_verify_identity" id="btn-continue" disabled="true">
      <%= l10n("continue_next") %>
    </button>
    <br>
  <% elsif step == 5 %>
    <%= link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), class: "btn btn-lg btn-primary btn-block disabled", id: 'btn-continue', method: :post, disabled: !@enrollable %>
  <% elsif step != 6 %>
    <button class="btn btn-lg btn-primary btn-block" id="btn-continue" type="submit">
      <%= l10n("continue") %>
    </button>
  <% end %>
<% else %>
  <% if step == 1 && search_page == true %>
    <%= link_to "Continue", insured_consumer_role_index_path(person: @person_params), method: :post, class: 'btn btn-lg btn-primary btn-block' %>
  <% elsif step == 1 %>
    <span tabindex="0" onkeydown="handleButtonKeyDown(event, 'continue_button')" id="continue_button" class="btn btn-lg btn-primary btn-br btn-block" onkeydown="handleButtonKeyDown(event, 'continue_button');" onclick="PersonValidations.manageRequiredValidations($(this));">CONTINUE</span>
    <button class="btn btn-lg btn-primary btn-br btn-block interaction-click-control-continue hidden" type="submit">CONTINUE</button>
  <% elsif ridp == true && step == 2 %>
    <% if next_link.present? && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper") %>
      <%= link_to "Continue", next_link, method: :get, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue', disabled: (application_verified || identity_verified) ? false : true %>
    <% elsif next_link.present? %>
      <%= link_to "Continue", next_link, method: :get, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% elsif EnrollRegistry.feature_enabled?(:ridp_h139) && Rails.env.production? && !(ENV['ENROLL_REVIEW_ENVIRONMENT'] == 'true') %>
      <%= link_to "Continue", new_insured_fdsh_ridp_verification_path, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue' %>
    <% else %>
      <%= link_to "Continue", new_insured_interactive_identity_verification_path, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue' %>
    <% end %>
  <% elsif step == 2 %>
    <% if next_link.present? && current_user.has_hbx_staff_role? && (@person.primary_family.application_type == "Phone" || @person.primary_family.application_type == "Paper") %>
      <%= link_to "Continue", next_link, method: :get, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue', disabled: (application_verified || identity_verified) ? false : true %>
    <% elsif next_link.present? && current_user.has_hbx_staff_role? && @person.primary_family.application_type == "In Person" %>
      <%= link_to "Continue", next_link, method: :get, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% elsif next_link.present? %>
      <%= link_to "Continue", next_link, method: :get, class: "button btn btn-lg btn-primary btn-block interaction-click-control-continue", id: 'btn-continue', disabled: !identity_verified %>
    <% end %>
  <% elsif defined? url %>
    <%= link_to 'Continue', url, class: 'btn btn-lg btn-primary btn-block', id: 'btn-continue' %>
  <% elsif step == 4 %>
    <button class="btn btn-lg btn-primary btn-block" id="btn-continue" disabled="true">CONTINUE</button>
    <br>
  <% elsif step == 5 %>
    <%= link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), class: 'btn btn-lg btn-primary btn-block disabled', id: 'btn-continue', method: :post, disabled: !@enrollable %>
  <% elsif step != 6 %>
    <button class="btn btn-lg btn-primary btn-block" id="btn-continue" type="submit">CONTINUE</button>
  <% end %>

  <%= render partial: 'shared/shopping_nav_panel',
    locals: { show_exit_button: !@no_save_button && step < 6,
              show_previous_button: !@no_previous_button && ![1,6].include?(step),
              show_account_button: step > 2 && EnrollRegistry.feature_enabled?(:back_to_account_all_shop),
              is_complete: step == 6,
              show_help_button: step != 1 && step < 6 } %>
<% end %>
<script>
  $(document).ready( function() {
    $.inputMasks();
  } );
</script>
