<% if @bs4 %>
  <label for="is_applying_coverage_true" tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_applying_coverage_true')" class="radio">
    <%= f.radio_button :is_applying_coverage, true, class: "required floatlabel", id: 'is_applying_coverage_true', checked: first_checked%>
    <span class="yes_no_pair">Yes</span>
  </label>
  <label for="is_applying_coverage_false" tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_applying_coverage_false')" class="radio">
    <%= f.radio_button :is_applying_coverage, false, class: "required floatlabel", id: 'is_applying_coverage_false', checked: second_checked %>
    <span class="yes_no_pair">No</span>
  </label>
  <%= render partial: 'shared/modal_support_text_household', locals: {key: "is_applying_coverage"} %>
<% else %>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group form-group-lg no-pd">
    <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_applying_coverage_true')" class="radio">
      <%= f.radio_button :is_applying_coverage, true, class: "required floatlabel", id: 'is_applying_coverage_true', checked: first_checked%>
      <label for="is_applying_coverage_true"><span class="yes_no_pair">Yes</span></label>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
    <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_applying_coverage_false')" class="radio">
      <%= f.radio_button :is_applying_coverage, false, class: "required floatlabel", id: 'is_applying_coverage_false', checked: second_checked %>
      <label for="is_applying_coverage_false"><span class="yes_no_pair">No</span></label>
    </div>
  </div>
  <div class="col-md-2 left-seprator" style="margin-top: 14px">
    <a href="#is_applying_coverage" data-toggle="modal" data-target="#is_applying_coverage">Not sure?</a>
    <%= render partial: 'shared/modal_support_text_household', locals: {key: "is_applying_coverage"} %>
  </div>
<% end %>
