<% insured = (current_user.try(:has_consumer_role?) && current_user.identity_verified_date.nil? == false) || current_user.try(:has_employee_role?) %>
<% employer_staff =  (current_user.person && current_user.person.active_employer_staff_roles) || []%>
<% employer = employer_staff.first %>
<% general_agency = current_user.try(:has_general_agency_staff_role?) %>
<% broker =  current_user.try(:has_broker_agency_staff_role?) %>
<% roles = [insured, broker] %>
<% portal_count = roles.select{|role|role}.count + employer_staff.count%>

<% unless current_user.try(:has_hbx_staff_role?) %>
  <span>
    <a href="#" class="dropdown-toggle header-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Portals <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% if current_user.hints == true %>
        <li>
          <i class="fa fa-question-circle fa-3x text-center" aria-hidden="true" style="display: block;"></i>
          <h3 class="darkblue no-buffer text-center"><%= l10n('.did_you_know')%></h3>
            <div class="panel panel-default">
              <div class="panel-body"><%= l10n('.portals_helpers_message')%></div>
            </div>
        </li>
      <% end %>
      <div class="panel panel-default portal_links">
        <h4 class="darkblue no-buffer text-center"><%= "Add New Role"%></h3>
        <% if insured %>
          <li><%= link_to l10n('.add_consumer_role'), search_insured_consumer_role_index_path(build_consumer_role: true, person_id: current_user.person.id), class: 'header-text' unless current_user.try(:has_consumer_role?)%></li>
        <% end %>
        <% if employer_staff.present? %>
          <li><%= link_to l10n('.add_employee_role'), search_insured_employee_index_path, class: 'header-text' if portal_count == 1 %></li>
          <li><%= link_to l10n('.add_consumer_role'), search_insured_consumer_role_index_path(build_consumer_role: true, person_id: current_user.person.id), class: 'header-text' if portal_count == 1%></li>
        <% end %>
        <% if broker %>
          <li><%= link_to l10n('.add_consumer_role'), search_insured_consumer_role_index_path(build_consumer_role: true, person_id: current_user.person.id), class: 'header-text' if portal_count == 1 %></li>
        <% end %>
        <% if general_agency %>
          <li><%= link_to l10n('.add_consumer_role'), search_insured_consumer_role_index_path(build_consumer_role: true, person_id: current_user.person.id), class: 'header-text' unless portal_count == 1%></li>
        <% end %>
      </div>
      <div class="panel panel-default portal_links">
        <h4 class="darkblue no-buffer text-center"><%= "Change Portals"%></h3>
        <% if insured %>
          <li><%= link_to l10n('.my_insured_portal'), family_account_path(tab: 'home'), class: 'header-text' %></li>
        <% end %>
        <% if employer_staff.present? %>
          <% employer_staff.each do |employer_staff_role|  %>
            <% id = employer_staff_role.employer_profile_id %>
              <% employer = EmployerProfile.find(id) %>
              <li><%= link_to employer.legal_name, employers_employer_profile_path(employer, tab: 'home'), class: 'header-text' %></li>
          <% end %>
        <% end %>
        <% if broker %>
          <li><%= link_to l10n('.my_broker_agency_portal'), broker_agencies_root_path, class: 'header-text' %></li>
        <% end %>
        <% if general_agency %>
          <li><%= link_to l10n('.my_general_agency_portal'), general_agencies_root_path, class: 'header-text' %></li>
        <% end %>
      </div>
    </ul>
    <span> | </span>
  </span>
<% end %>
