<% insured = (current_user.try(:has_consumer_role?) && current_user.consumer_identity_verified?) || current_user.try(:has_employee_role?) %>
<% employer_staff =  (current_user.person && current_user.person.active_employer_staff_roles) || []%>
<% employer = employer_staff.first %>
<% broker_staff_roles =  (current_user.person && current_user.person.active_broker_staff_roles) || []%>
<% ga_staff_roles =  (current_user.person && current_user.person.active_general_agency_staff_roles) || []%>
<% roles = [insured] %>
<% portal_count = roles.select{|role|role}.count + employer_staff.count + broker_staff_roles.count + ga_staff_roles.count%>

<span>
 <a href="#" class="dropdown-toggle" id="dropdownMenuLink"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="myFunction()" ><i class="fas fa-bars"></i> <strong><%= user_first_name_last_name_and_suffix %></strong></a>

  <ul class="dropdown-menu hub-menu" aria-labelledby="dropdownMenuLink">
    <% if current_user.person.present? %>
      <li style="text-align: center; padding-top: 5px;">
        <i class="fas fa-question-circle fa-lg fa-2x"></i>
        <div>
          <h4> <%= l10n("hub.hamburgermenu.title") %> </h4>
        </div>
        <div style="text-align: left;">
          <div style="padding-left: 10px;">
            <p><small><%= l10n("hub.hamburgermenu.description1") %> <span style="border-bottom: 1px dotted #000;" title="<%= l10n("hub.hamburgermenu.description.tooltip") %>"><%= l10n("hub.hamburgermenu.description2") %></span><%= l10n("hub.hamburgermenu.description3") %> <strong><%= l10n("hub.home_page.title") %></strong></small></p>
          </div>
          <div class="hub-link">
            <%= link_to "#{l10n('hub.hamburgermenu.hub_link')}", main_app.show_roles_person_path(current_user.person) %>
          </div>
          <div style="padding-left: 10px;">
            <small><%= l10n("hub.hamburgermenu.currently_viewing") %></small>
            <p><%= session[:current_portal]&.html_safe %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</span>

<style type="text/css">
  .hub-menu {
    min-width: 15rem;
    border: 1px solid #007bc4;
  }

  .hub-link {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
</style>
