<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="form-group required">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="form-group required">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <%= f.label :name_sfx, "Suffix" %>
      <%= f.text_field :name_sfx, class: "form-control" %>
    </div>
  </div>
</div>
