<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="form-group required">
      <%= f.label :first_name, "First" %>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <div class="form-group">
      <%= f.label :middle_name, "M.I." %>
      <%= f.text_field :middle_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-5">
    <div class="form-group required">
      <%= f.label :last_name, "Last" %>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2">
    <div class="form-group">
      <%= f.label :name_sfx, "Suffix" %>
      <%= f.text_field :name_sfx, class: "form-control" %>
    </div>
  </div>
</div>
