<% if offers_nationwide_plans? %>
  <th colspan="2"><%= plan.nationwide ? "Nationwide" : "DC-Metro" %></th>
<% else %>
  <% if plan.network_information.present? %>
    <span>
    Network Notes
      <% plans = plans.present? ? plans :[]  %>
      <% if plans[0] == plan %>
     	 <i class='fa fa-question-circle' data-placement="right" data-toggle="tooltip" title="<%= plan.network_information %>"></i>
     <% elsif plans[1] == plan %>
     	 <i class='fa fa-question-circle' data-placement="right" data-toggle="tooltip" title="<%= plan.network_information %>"></i>
     <% elsif plans[2] == plan %>
     	 <i class='fa fa-question-circle' data-placement="left" data-toggle="tooltip" title="<%= plan.network_information %>"></i>
     <% elsif plans[5] == plan %>
     	 <i class='fa fa-question-circle' data-placement="left" data-toggle="tooltip" title="<%= plan.network_information %>"></i>
     <% else %>
     	 <i class='fa fa-question-circle' data-toggle="tooltip" title="<%= plan.network_information %>"></i>
     <% end %>
    </span>
  <% end %>
<% end %>