<% carrier = hbx_enrollment.product.carrier_profile.legal_name %>
<% carrier_long_name = carrier_long_name(carrier) %>

<%# using show_pay_now? method makes sure pay now is enabled and other conditions are met for linking to the pay now portal %>
<% first_payment = show_pay_now?(source, hbx_enrollment) && before_effective_date?(hbx_enrollment) %>
<% plan_shopping = carrier_paynow_enabled?(carrier) && source == "Plan Shopping" %>
<%# use PayNow url if user is making first payment, otherwise use generic carrier url %>
<% url = first_payment || plan_shopping ? pay_now_url(carrier) : carrier_url(carrier) %>
<%# note: Plan Shopping flow is checked explicitly because it always indicates a first payment,
    even when effective date is in the past (for example, when enrolling via SEP) %>

<div class="modal fade" tabindex="-1" role="dialog" id="payNowModal<%= hbx_enrollment.hbx_id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= l10n("plans.pay_now") %></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= l10n("plans.issuer.pay_now.redirection_message", site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item, carrier_name: carrier_long_name) %><br/>
          <ul>
            <% if first_payment %>
              <li><%= l10n("plans.issuer.pay_now.link_info")%></li>
            <% end %>
            <% if !before_effective_date?(hbx_enrollment) %>
              <li><%= l10n("plans.issuer.pay_now.processing", carrier_name: carrier_long_name)%></li>
            <% end %>
            <li><%= l10n("plans.issuer.pay_now.collecting_info", carrier_name: carrier_long_name, site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item)%></li>
            <li><%= l10n("plans.issuer.pay_now.exchange_disclaimer_for_auth", site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item) %></li>
            <br/>
          </ul>
          <%= l10n("plans.issuer.pay_now.exchange_disclaimer", site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item, carrier_name: carrier_long_name) %>
        </p>
      </div>
      <%= hidden_field_tag 'source', source %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= l10n("go_back")%></button>
        <form action=<%= url %> method="<%= first_payment || plan_shopping ? 'post' : 'get' %>" target="_blank" rel="noopener noreferrer" id="pay_now_form_<%= hbx_enrollment.hbx_id %>">
          <% if first_payment || plan_shopping %>
            <input type="hidden" name="SAMLResponse" value="response" id="sp-<%= hbx_enrollment.hbx_id %>"/>
            <input type="hidden" name="RelayState" value=<%= pay_now_relay_state(carrier) %>/>
          <% end %>
          <button type="submit" class="btn btn-primary pull-right sp interaction-click-control-print-purchase-confirmation" id="pay-now" value="<%= hbx_enrollment.hbx_id %>">
            <%= EnrollRegistry[:enroll_app].setting(:short_name).item == "CoverME.gov" ?  l10n("continue") : l10n("leave_dc_health_link") %>
          </button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
