<% if @bs4 %>
  <div id="phone_info">
    <div class="phone d-flex mb-md-4 row col-sm">
      <%= f.fields_for :phones, errors: {}, fieldset: true do |phone|  %>
        <% kind = phone.object.kind.upcase %>
        <% required = kind == 'HOME' ? "required" : "" %>
        <%= phone.hidden_field :kind %>
        <%= phone.hidden_field :_destroy %>

          <div class="col-sm col-md-6 p-0">
            <div class="col-md-12 <%= phone.index.even? ? 'pl-0' : 'pr-0'%>">
              <% unless kind == 'FAX' && params[:action] == "personal" %>
                <%= phone.label :full_phone_number, l10n(kind + "Phone") %>
                <%= phone.text_field :full_phone_number, placeholder: "000-000-0000", class: "#{required} full-width #{kind.downcase}-phone-number" %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div id="phone_info" class="row no-buffer no-border-top">
    <div class="phone col-md-12 col-sm-12 col-xs-12 no-pd">

      <%= f.fields_for :phones, errors: {}, fieldset: true do |phone|  %>
        <% if((phone.index == 0) || (phone.index == 2)) %>
          <div class="row row-form-wrapper no-buffer">
        <% end %>
      <div class="col-md-6 col-sm-6 no-pd">
        <div class="form-group form-group-lg <%= 'border_bottom_no_zero' if ((phone.index == 0) || (phone.index == 2)) %>">

          <% kind = phone.object.kind.upcase %>
          <% required = "" %>
          <% if kind == 'HOME' %>
            <% required = "required" %>
          <% end %>

          <%= phone.hidden_field :kind %>
          <%= phone.hidden_field :_destroy %>
          <% unless kind == 'FAX' && params[:action] == "personal" %>
            <%= phone.text_field :full_phone_number, placeholder: "#{kind} PHONE", class: "#{required} number textfield floatlabel phone_number form-control #{kind.downcase}-phone-number" %>
          <% end %>
        </div>
      </div>
      <% if((phone.index == 1) || (phone.index == 3)) %>
          </div>
        <% end %>
      <% end%>

      <%= render 'shared/error_warning' %>
    </div>
  </div>
<% end %>
