<% plan_year, billing_date = @employer_profile.billing_plan_year %>
<% if billing_date.present? %>
<div class="panel panel-default module premium-reports-widget widget">
  <div class="panel-heading">
    <h3 class="no-buffer text-green">
      <strong>Enrollment Report</strong>
    </h3>
    <%= billing_date.beginning_of_month %> - <%= billing_date.end_of_month %>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td style="padding-right: 10px;">Total Premium:</td>
        <td><%= number_to_currency(@premium_amt_total || 0)%></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;">Employee Contributions:</td>
        <td><%= number_to_currency(@employee_cost_total || 0) %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;">Employer Contributions:</td>
        <td><%= number_to_currency(@employer_contribution_total || 0) %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>
