<%# previous button params %>
<% dont_show_prev_button = local_assigns[:dont_show_prev_button] ? dont_show_prev_button : false %>
<% previous_style = local_assigns[:previous_style] ? previous_style : "outline" %>

<%# continue button params %>
<% dont_show_next_button = local_assigns[:dont_show_next_button] ? dont_show_next_button : false %>
<% next_link = local_assigns[:next_link] ? next_link : "" %>
<% disable_link = local_assigns[:disable_link] ? disable_link : false %>
<% confirmation_link = local_assigns[:confirmation_link] ? confirmation_link : false %>
<% link_method = local_assigns[:method] ? method : nil %>
<% button_type = local_assigns[:button_type] ? button_type : nil %>
<% button_id = local_assigns[:button_id] ? button_id : "continue_button" %>
<% run_person_validations = local_assigns[:run_person_validations] ? run_person_validations : false %>

<div class="d-flex flex-column flex-sm-row align-items-center">
  <% unless dont_show_prev_button || @no_previous_button %>
    <a id="previous_button" class="back button mr-2 <%= previous_style %>" href="#"><%= l10n("previous_step") %></a>
  <% end %>

  <% unless dont_show_next_button %>
    <% if confirmation_link %>
      <%= h(link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), class: "btn disabled confirm-button", id: 'btn-continue', method: :post, disabled: !@enrollable) %>
    <% elsif !button_type.nil? %>
      <button id=<%= button_id %> <%= "disabled=#{disable_link}" if disable_link == true %> type="<%= button_type %>" method="<%= link_method %>">
        <%= l10n("continue_next") %>
      </button>
    <% else %>
      <% if run_person_validations.present? %>
        <button tabindex="0" type="button" id=<%= button_id %> class="btn interaction-click-control-continue" onkeydown="handleButtonKeyDown(event, 'continue_button');" onclick="PersonValidations.manageRequiredValidations($(this));">
          <%= l10n("continue_next") %>
        </button>
        <button class="btn interaction-click-control-continue hidden" type="submit">
          <%= l10n("continue_next") %>
        </button>
      <% else %>
        <%= h(link_to l10n("continue_next"), next_link, method: link_method, class: "btn #{'disabled' if disable_link}", id: "continue_button") %>
      <% end %>
    <% end %>
  <% end %>
</div>
