- step = (defined? step) ? step.to_i : 1
- no_purchase = (defined? no_purchase) ? no_purchase : false
- kind = (defined? kind) ? kind : 'employer_sponsored'
-show_button=(defined? show_button) ? show_button : 'false'

- percent_complete = 0
- percent_complete = (step == 1) ? 25 : ((step == 2) ? 50 : ((step == 3) ? 75 : ((step == 4) ? 100: 0)))

%h3= "#{percent_complete}% Complete"
%ul.list-unstyled.progress-wrapper.hidden-xs
  %li{class: add_progress_class(1, step)}
    %span.circle-progress
    .vertical-line-progress
    Household
  %li{class: add_progress_class(2, step)}
    %span.circle-progress
    .vertical-line-progress
    Plan Selection
  %li{class: add_progress_class(3, step)}
    %span.circle-progress
    .vertical-line-progress
    Review
  %li{class: add_progress_class(4, step)}
    %span.circle-progress
    .vertical-line-progress
    Complete

- if @market_kind == 'shop' &&step == 2 && show_button=='true'
  = link_to 'Waive Coverage', '#', data: {toggle: "modal", target: "#waive_confirm"}, class: 'btn btn-waive btn-default' if @hbx_enrollment and @hbx_enrollment.employee_role.present?


- if step == 3 && !no_purchase
  = link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, change_plan: @change_plan, coverage_kind: @coverage_kind, market_kind: @market_kind), :class => "btn btn-lg btn-primary  btn-block #{'disabled' if kind == 'individual'}", id: 'btn-continue', :method => :post, :disabled => disable_purchase?(!@enrollable, @enrollment)

  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS
- elsif step == 4
  = link_to 'GO TO MY ACCOUNT', family_account_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue', style: 'width: 100%;'
