 <% if @bs4 %>
  <fieldset class="mb-4 d-block" >
    <legend>
      <span>
        <%= l10n("insured.shared.race_ethicity_label") %>
        <small class="text-muted pl-1"><%= l10n("insured.shared.check_all_paranthetical") %></small>
      </span>
    </legend>
    <div class="row col-sm ethnicity-container">
    <% ethnicity_collection.each do |ethnicity_set| %>
      <div class="mr-auto col-sm-12 col-md-6 col-lg-3 p-0">
      <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
        <%= ethnicity.label(:"data-value" => ethnicity.value, class: "d-inline-block") do  %>
          <div class="d-flex pr-3 align-items-center mb-2 option">
            <span class="mr-2"><%= ethnicity.check_box %></span>
            <%= ethnicity.text %>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
    </div>
  </fieldset>
  <fieldset class="mb check_box_collection">
    <div>
      <legend>
        <span>
          <%= l10n("insured.shared.hispanic_label") %>
          <small class="text-muted pl-1"><%= l10n("insured.shared.check_all_paranthetical") %></small>
        </span>
      </legend>
      <div class="row col-sm ethnicity-container">
      <% latino_collection.each do |ethnicity_set| %>
      <div class="mr-auto col-sm-12 col-md-6 col-lg-3 p-0">
        <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :id, :name)  do |ethnicity| %>
          <%= ethnicity.label(:"data-value" => ethnicity.value, class: "d-inline-block", for:"latino_#{ethnicity.object.name}") do  %>
            <div class="d-flex pr-3 align-items-center mb-2 option">
              <span class="mr-2"><%= ethnicity.check_box id:"latino_#{ethnicity.object.name}" %></span>
              <%= ethnicity.text %>
            </div>
          <% end %>
        <% end %>
        </div>
      <% end %>
      <div class="col-sm-12 col-md-6 col-lg-3 p-0 sm-hide"></div>
      </div>
    </div>
  </fieldset>
<% else %>
 <div class="row row-form-wrapper no-buffer check_box_collection">
    <div class="col-xs-12 form-group form-group-lg">
      <h5>What is your race/ethnicity? (OPTIONAL - check all that apply)</h5>
    </div>
    <% ethnicity_collection.each do |ethnicity_set| %>
    <div class="col-md-3 col-xs-6 form-group form-group-lg">
      <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
      <div><%= ethnicity.label(:"data-value" => ethnicity.value) { ethnicity.check_box + ethnicity.text } %></div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row row-form-wrapper no-buffer check_box_collection">
    <div class="col-xs-12 form-group form-group-lg">
      <h5>If Hispanic/Latino/a, ethnicity (OPTIONAL - check all that apply.)</h5>
    </div>
    <% latino_collection.each do |ethnicity_set| %>
    <div class="col-md-4 col-xs-6 form-group form-group-lg">
      <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
      <div><%= ethnicity.label(:"data-value" => ethnicity.value) { ethnicity.check_box + ethnicity.text } %></div>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
