 <div class="mb-4" >
  <label for="ethnicity">What is your race/ethnicity? (OPTIONAL - check all that apply)</label>
  <div class="row col-sm ethnicity-container">
  <% ethnicity_collection.each do |ethnicity_set| %>
    <div class="mr-auto col-sm-12 col-md-6 col-lg-3 p-0">
    <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
      <%= ethnicity.label(:"data-value" => ethnicity.value, class: "d-inline-block") do  %>
        <div class="d-flex pr-3 align-items-center mb-2 option">
          <span class="mr-2"><%= ethnicity.check_box %></span>
          <%= ethnicity.text %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
<div class="mb check_box_collection">
  <label for="hispanic">If Hispanic/Latino/a, ethnicity (OPTIONAL - check all that apply.)</label>
  <div class="row col-sm ethnicity-container">
  <% latino_collection.each do |ethnicity_set| %>
  <div class="mr-auto col-sm-12 col-md-6 col-lg-3 p-0">
    <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :id, :name)  do |ethnicity| %>
      <%= ethnicity.label(:"data-value" => ethnicity.value, class: "d-inline-block", for:"latino_#{ethnicity.object.name}") do  %>
        <div class="d-flex pr-3 align-items-center mb-2 option">
          <span class="mr-2"><%= ethnicity.check_box id:"latino_#{ethnicity.object.name}" %></span>
          <%= ethnicity.text %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
