<fieldset>
  <div class="row no-buffer focus_effect personal-info-row">
    <div class="col-md-12 no-pd first">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.select :relationship, options_for_select(BenefitGroup::PERSONAL_RELATIONSHIP_KINDS.map{|r| [r.to_s.humanize, r.to_s] }), class: "floatlabel form-control", placeholder: 'SELECT RELATIONSHIP' %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :premium_pct, class: "floatlabel form-control", placeholder: 'PREMIUM PERCENTAGE' %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :employer_max_amt, class: "floatlabel form-control", placeholder: 'EMPLOYER MAX AMOUNT' %>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :offered, class: "floatlabel form-control", placeholder: 'OFFERED (TRUE/FALSE)' %>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12 form-group form-group-lg no-pd">
        <%= link_to '#', :class => "remove_fields close-2" do %>
          <%= image_tag("delete.png") %>
        <% end %> 
      </div>
    </div>
  </div>
</fieldset>
