<% vlp_doc_subject = (defined? @vlp_doc_subject) ? @vlp_doc_subject : nil %>
<div id="consumer_fields" class="focus_effect">
  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="required no-pd">Are you currently incarcerated? *</label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
      <div class="radio">
        <%= f.radio_button :is_incarcerated, true, class: "required floatlabel", id: 'radio_incarcerated_yes', required: true %>
        <label for="radio_incarcerated_yes"><span>Yes</span></label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
      <div class="radio">
        <%= f.radio_button :is_incarcerated, false, class: "required floatlabel", id: 'radio_incarcerated_no', required: true %>
        <label for="radio_incarcerated_no"><span>No</span></label>
      </div>
    </div>
  </div>
</div>

<%= render "shared/race_and_ethnicity_options", f: f %>
<%= hidden_field_tag :form_for_resident_role, f.object.is_a?(Person) || f.object.is_a?(FamilyMember) %>
<%= f.hidden_field :is_resident_role, value: 'true' %>
