<div id="address_info" class="row no-buffer focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">


    <%= f.fields_for :addresses, f.object.addresses, errors: {}, fieldset: true, :include_id => false do |address| %>
      <% kind = address.object.kind %>

      <% style = "" %>
      <% div_class = kind+"-div" %>
      <% if kind != 'home' && address.object.new_record? %>
        <% if f.object.addresses[1].present? %>
          <% style="display:block;" %>
        <% else %>
          <% style="display:none;" %>
        <% end %>
      <% end %>
      <% if false %>
      <div class="row row-form-wrapper no-buffer <%= div_class %>" style="<%= style %>">
        <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
          <button class="btn btn-new-address">NEW ADDRESS</button>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-12 form-group form-group-lg no-pd address">
          <div class="form-group form-group-lg">
            <div class="row" style="margin: 0;">
              <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
                <div class="dropdown">
                  <button class="form-control floatlabel adderess-select-box form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <label><%= kind.capitalize %> Address</label>
                  </button>
                </div>
              </div>
              <% if kind == 'home' %>
                 <span>
                  <i class='fa fa-question-circle no-pd'  id="home_address_tooltip" style='margin-top:20px;' data-toggle="tooltip" title="<%=l10n("insured.home_address_tooltip")%>"></i>
                </span>
              <% end %>
              <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
            </div>
          </div>
        </div>

        <% if kind == 'home' %>
          <div style="<%= style %>"class="col-lg-3 col-md-3 col-sm-3 col-xs-5 form-group form-group-lg no-pd top-buffer" >
            <% target = f.object.class.to_s.downcase %>
          </div>
        <% end %>
      </div>
      <% end %>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-xs-12 form-group form-group-lg">
          <% if kind == 'home' %>
            <div><strong><%=l10n("insured.enter_home_address")%></strong></div>
            <i class="fa fa-info-circle"></i> <%=l10n("insured.primary_home_address_info")%>
          <% elsif kind == 'mailing' %>
            <br>
            <strong><%=l10n("insured.enter_mailing_address")%></strong><br>
            <i class="fa fa-info-circle"></i> <%=l10n("insured.primary_mailing_address_info")%>
          <% end %>
        </div>
      </div>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-xs-12 form-group form-group-lg no-pd">
          <%= address.hidden_field :kind, value: address.object.kind %>

          <% required = kind=='home' ? "address_required" : '' %>

          <%= address.text_field :address_1, placeholder: "#{kind.upcase} ADDRESS LINE 1 (NUMBER, STREET, QUADRANT) #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
      </div>
      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :address_2, placeholder: "#{kind.upcase} ADDRESS LINE 2 (APT, UNIT, ETC.)", class: "floatlabel form-control" %>
        </div>
      </div>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :city, placeholder: "CITY #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.select(:state, options_for_select(State::NAME_IDS.map(&:last).sort, selected: address.object.state), {include_blank: "SELECT STATE #{'*' if required.present?}"}, required: required.present?, id: "state_id_#{kind}" ,class: "#{required}") %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :zip, placeholder: "ZIP #{'*' if required.present?}", class: "number floatlabel form-control zip #{required}", required: required.present? %>
        </div>
      </div>

      <% if kind == 'home' %>
      <% if f.object.no_dc_address.blank? or f.object.no_dc_address == false or f.object.no_dc_address == 'false' %>
        <% style="display:none;" %>
      <% end %>
      <div style="<%= style %>" class="row no-buffer address-row show <%= div_class %> no-dc-address-reasons">
        <% if EnrollRegistry.feature_enabled?(:moving_to_state) %>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
            <div class="address_checkbox">
              <%= f.check_box :is_moving_to_state, id: "is_moving_to_state" %>
              <label for="is_moving_to_state"><span><strong><%= l10n('insured.moving_to_dc') %></strong></span> <span><%= l10n('insured.moving_to_dc_extension') %></span></label>
            </div>
          </div>
        <% end %>
        <% if EnrollRegistry.feature_enabled?(:living_outside_state) %>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
            <div class="address_checkbox">
              <%= f.check_box :is_temporarily_out_of_state, id: "is_temporarily_out_of_state" %>
              <label for="is_temporarily_out_of_state"><span><strong><%= l10n('insured.outside_dc') %></strong></span> <span><%= l10n('insured.outside_dc_extension') %></span></label>
            </div>
          </div>
        <% end %>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
          <div class="address_checkbox">
            <%= f.check_box :is_homeless, id: "is_homeless" %>
            <label for="is_homeless"><span><strong><%= l10n('insured.dc_homeless') %></strong></span><span><%= l10n('insured.dc_homeless_extension') %></span></label>
          </div>
        </div>
      </div>
      <% end %>
    <% end%>
  </div>

</div>

<% if f.object.addresses[1].present? %>
<span class="form-action btn btn-default <%= pundit_class Family, :updateable?%>">Remove Mailing Address</span>
<% else %>
<span class="form-action btn btn-default <%= pundit_class Family, :updateable?%>">Add Mailing Address</span>
<% end %>

<script>
$(document).ready(function () {
  $('#state_id').change(function(){
    if (!$("#no_dc_address").is(':checked') && $(this).val() != 'DC') {alert('You have selected a Non DC state, please check No DC Address')}
  });
});
</script>
