<% step = (defined? step) ? step.to_i : 1 %>
<% ridp = (defined? ridp) ? ridp : false %>
<% continue_disabled = (defined? continue_disabled) ? continue_disabled : false %>

<% percent_complete = 0 %>
<% percent_complete = step == 1 ? 15 : (step == 2) ? 35 : ((step == 3) ? 50 : ((step == 4) ? 75 : ((step == 5) ? 90 : (step == 6 ? 100 : (step == 7) ? 100 : 0)))) %>
<h3><%= "#{percent_complete}% Complete" %></h3>
<ul class="list-unstyled progress-wrapper hidden-xs">
  <li class="<%= add_progress_class(1, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('personal_info')%>
  </li>
  <li class="<%= add_progress_class(2, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('verify_identity')%>
  </li>
  <li class="<%= add_progress_class(3, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('household_info')%>
  </li>
  <li class="<%= add_progress_class(4, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('insured.families.special_enrollment_period') %>
  </li>
  <li class="<%= add_progress_class(5, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('plan_selection') %>
  </li>
  <li class="<%= add_progress_class(6, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('review') %>
  </li>
  <li class="<%= add_progress_class(7, step) %>">
    <span class="circle-progress"></span>
    <div class="vertical-line-progress"></div>
    <%= l10n('complete') %>
  </li>
</ul>

<% if step == 1 %>
  <button class="btn btn-lg btn-primary btn-block interaction-click-control-continue" type="submit">
    <%= l10n('continue').upcase %>
  </button>
<% elsif ridp == true && step == 2 %>
  <% if EnrollRegistry.feature_enabled?(:ridp_h139) && Rails.env.production? && !(ENV['ENROLL_REVIEW_ENVIRONMENT'] == 'true') %>
    <%= h(link_to l10n('continue'), new_insured_fdsh_ridp_verification_path, class: 'button btn btn-lg btn-primary btn-block interaction-click-control-continue', id: 'btn-continue', disabled: true) %>
  <% else %>
    <%= h(link_to l10n('continue'), new_insured_interactive_identity_verification_path, class: 'button btn btn-lg btn-primary btn-block interaction-click-control-continue', id: 'btn-continue', disabled: true) %>
  <% end %>
<% elsif defined? url %>
  <%= h(link_to l10n('continue'), url, class: 'btn btn-lg btn-primary btn-block', id: 'btn-continue') %>
<% elsif step == 4 %>
  <% if button_continue == true %>
    <button class="btn btn-lg btn-primary btn-block interaction-click-control-continue" type="submit">
      <%= l10n('continue').upcase %>
    </button>
  <% else %>
    <%= h(link_to l10n('continue').upcase, family_account_path, class: 'btn btn-lg btn-primary btn-block no-sep-continue', disabled: continue_disabled, id: 'btn-continue') %>
  <% end %>
<% elsif step == 5 %>
  <button class="btn btn-lg btn-primary btn-block" id="btn-continue">
    <%= l10n('continue').upcase %>
  </button>
<% elsif step == 6 %>
  <%= h(link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, plan_id: @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind), class: 'btn btn-lg btn-primary btn-block disabled', id: 'btn-continue', method: :post, disabled: !@enrollable) %>
<% elsif step != 7 %>
  <button class="btn btn-lg btn-primary btn-block" id="btn-continue" type="submit">
    <%= l10n('continue').upcase %>
  </button>
<% end %>

<%= render partial: 'shared/shopping_nav_panel',
  locals: { show_exit_button: step < 7,
            show_previous_button: ![1, 7].include?(step),
            show_account_button: step > 2 && EnrollRegistry.feature_enabled?(:back_to_account_all_shop),
            show_help_button: step < 7,
            is_complete: step == 7 } %>
