- step = (defined? step) ? step.to_i : 1
- no_purchase = (defined? no_purchase) ? no_purchase : false
- show_waive = (defined? show_waive) ? show_waive : false

- percent_complete = 0
- percent_complete = (step == 1) ? 33 : ((step == 2) ? 66 : ((step == 3) ? 100 : 0))

%h3= "#{percent_complete}% Complete"
%ul.list-unstyled.progress-wrapper.hidden-xs
  %li{class: add_progress_class(1, step)}
    %span.circle-progress
    .vertical-line-progress
    Plan Selection
  %li{class: add_progress_class(2, step)}
    %span.circle-progress
    .vertical-line-progress
    Review
  %li{class: add_progress_class(3, step)}
    %span.circle-progress
    .vertical-line-progress
    Complete

- if show_waive
  - enrollment = @hbx_enrollment || @enrollment
  = link_to 'Waive Coverage', '#', data: {toggle: "modal", target: "#waive_confirm"}, class: 'btn btn-waive btn-default' if (enrollment && (enrollment.employee_role.present? || enrollment.benefit_group.present?))
- if step == 2 && !no_purchase
  - enrollment = @hbx_enrollment || @enrollment
  - disabled_in_ivl = (enrollment && enrollment.is_shop?) ? '' : 'disabled'
  = link_to 'Confirm', checkout_insured_plan_shopping_path(@enrollment.id, :plan_id => @plan.id, :change_plan => @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind), :class => "btn btn-lg btn-primary  btn-block #{disabled_in_ivl}", id: 'btn-continue', :method => :post, :disabled => disable_purchase?(!@enrollable, @enrollment)
  %ul.list-unstyled.list-right-section
    %li
      %a.back{href: '#'}
        = image_tag 'icons/list.png'
        PREVIOUS
- elsif step == 3
  = link_to 'CONTINUE', family_account_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue'
