= pundit_span EmployerProfile, :updateable?
- step = (defined? step) ? step.to_i : 1

- percent_complete = 0
- percent_complete = (step == 2) ? 15 : ((step == 3) ? 30 : ((step == 4) ? 45 : ((step == 5) ? 60 : ((step == 6) ? 75 : ((step == 7) ? 100 : 0)))))

%h3= "#{percent_complete}% Complete"
%ul.list-unstyled.progress-wrapper.hidden-xs
  %li{class: add_progress_class(1, step)}
    %span.circle-progress
    .vertical-line-progress
    Personal Info
  %li{class: add_progress_class(2, step)}
    %span.circle-progress
    .vertical-line-progress
    Employer
  %li{class: add_progress_class(3, step)}
    %span.circle-progress
    .vertical-line-progress
    Contact Info
  %li{class: add_progress_class(4, step)}
    %span.circle-progress
    .vertical-line-progress
    Household
  %li{class: add_progress_class(5, step)}
    %span.circle-progress
    .vertical-line-progress
    Plan Selection
  %li{class: add_progress_class(6, step)}
    %span.circle-progress
    .vertical-line-progress
    Review
  %li{class: add_progress_class(7, step)}
    %span.circle-progress
    .vertical-line-progress
    Complete

- if step == 4 && defined? url
  = link_to 'CONTINUE', url, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue'
- elsif step == 2
  %span.btn.btn-primary.btn-block#btn-continue
    CONTINUE
- elsif step == 5 || step == 2
  %button.btn.btn-lg.btn-primary.btn-block#btn-continue{disabled: true}
    CONTINUE
  - if step ==5

    = link_to 'Waive Coverage', '#', data: {toggle: "modal", target: "#waive_confirm"}, class: 'btn btn-waive btn-default' if @hbx_enrollment && @hbx_enrollment.employee_role.present?
- elsif step == 6
  = link_to purchase_or_confirm, checkout_insured_plan_shopping_path(@enrollment.id, :plan_id => @plan.id, market_kind: @market_kind, coverage_kind: @coverage_kind), :class => 'btn btn-lg btn-primary  btn-block', id: 'btn-continue', :method => :post, :disabled => disable_purchase?(!@enrollable, @enrollment)
  = link_to 'Waive Coverage', '#', data: {toggle: "modal", target: "#waive_confirm"}, class: 'btn-waive btn btn-round btn-default' if @enrollment && @enrollment.employee_role.present?
- elsif step == 7
  = link_to 'CONTINUE', family_account_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue'
- else
  %button.btn.btn-lg.btn-primary.btn-block#btn-continue{type: 'submit'}
    CONTINUE

-if step != 7
  %ul.list-unstyled.list-right-section
    - unless @no_previous_button
      %li
        %a.back{href: '#'}
          = image_tag 'icons/list.png'
          PREVIOUS
    - unless @no_save_button
      %li
        %a{href: '#'}
          = image_tag 'icons/list.png'
          SAVE &amp; EXIT
        %br
        %br
</span>