<%= link_to '< Back to Results', '#', class: 'btn btn-success all-plans' %>

<% if qhp.present? %>
  <div class="row plan">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <h3><%= qhp.plan_marketing_name %></h3>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <h2>$00</h2>
      <%= link_to("Select Plan", '#', {:class => "btn btn-info btn-lg"}) %>
    </div>
  </div>

  <div class="details">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="35%">Services You May Need</th>
          <th colspan="2">Your cost if you use a </th>
          <th>Limitations & Exceptions</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Participating Provider</th>
          <th>Non-Participating Provider</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% qhp.qhp_benefits.each do |benefit| %>
          <% deductible = benefit.find_deductible %>
          <% if deductible.present? %>
            <tr>
              <td><%= benefit.benefit_type_code %></td>
              <td><%= deductible.copay_in_network_tier_1 %></td>
              <td><%= deductible.copay_out_of_network %></td>
              <td><%= benefit.explanation.present? ? benefit.explanation : "None" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <br>
    <h4>Having a Baby</h4>
    <table class="table table-bordered">
      <tr>
        <th>Amount Owed to Providers</th>
        <th>Plan Pays</th>
        <th>Patient Pays</th>
      </tr>
      <tr>
        <td>$7,540</td>
        <td>$5,210</td>
        <td>$2,330</td>
      </tr>
    </table>

    <h4> Managing Type 2 Diabetes </h4>
    <table class="table table-bordered">
      <tr>
        <th>Amount Owed to Providers</th>
        <th>Plan Pays</th>
        <th>Patient Pays</th>
      </tr>
      <tr>
        <td>$5,440</td>
        <td>$3,400</td>
        <td>$2,000</td>
      </tr>
    </table>
  </div>
<% else %>
  No Plan found
<% end %>