<%= link_to '<i class="fa fa-chevron-left"></i> Back to Results'.html_safe, '#', class: 'btn btn-transparent all-plans' %>

<% if qhp.present? %>
  <div class="row plan">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="page-header"><h4>Selected Plan</h4></div>
      <%= display_carrier_logo(@plan.carrier_profile, {width: 180}) %>
      <h3 class="text-blue"><%= @plan.name %></h3>
      <p><%= (Caches::MongoidCache.lookup(CarrierProfile, @plan.carrier_profile_id) { @plan.carrier_profile} ).dba %></p>
      <ul class="plan-type">
        <% plan_level = @plan.metal_level.humanize %>
        <li class="<%= plan_level.downcase %>"><small>Level</small><br><i class="fa fa-circle-o"></i> <%= plan_level.humanize %></li>
        <li><small>Type</small><br><%= @plan.plan_type ? @plan.plan_type.upcase : "" %></li>
        <li><small>Network</small><br><strong><%= @plan.nationwide ? "Nationwide" : "DC Area Network" %></strong></li>
        <li>
            <% if @hbx_enrollment.hbx_enrollment_members.count > 1 %>
              <small>Family Deductible</small><br>
              <strong><%= @plan.family_deductible %></strong>
            <% else %>
              <small>Deductible</small><br>
              <strong><%= @plan.deductible %></strong>
            <% end %>
          </strong>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h3><%= number_to_currency(@plan.total_premium) %></h3><small>Premium</small>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <h3><%= number_to_currency(@plan.total_employer_contribution) %></h3><small>Employer</small>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pull-right">
            <h3><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></h3><small><strong>your cost</strong></small><br><br>
          </div>
        </div>
      </div><br><br>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= link_to("Select Plan", thankyou_insured_plan_shopping_path(@hbx_enrollment, {:plan_id => @plan.id}), {:class => "btn btn-primary btn-lg pull-right", :method => :post}) %>
        </div>
      </div>
    </div>
  </div>

    <table class="table table-bordered">
      <tr>
        <td>Summary of Benefits and Coverage (SBC) PDF</td>
        <td>
          <%= link_to(root_path + "sbc/" + @plan.sbc_file, class: "download") do %>
              <i class="glyphicon glyphicon-download-alt"></i> Download
          <% end %>
        </td>
      </tr>
    </table>

  <div class="details">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="35%">Services You May Need</th>
          <th colspan="2">Your cost if you use a </th>
          <th>Limitations & Exceptions</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Participating Provider</th>
          <th>Non-Participating Provider</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>

        <% qhp.qhp_benefits.each do |benefit| %>
          <% deductible = benefit.find_deductible %>
          <% if deductible.present? %>
            <tr>
              <td><%= benefit.benefit_type_code %></td>
              <td><%= deductible.copay_in_network_tier_1 %></td>
              <td><%= deductible.copay_out_of_network %></td>
              <td><%= benefit.explanation.present? ? benefit.explanation : "None" %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td></td>
          <td colspan="3" class="text-center"><%= link_to 'Select Plan', '#', class: 'btn btn-primary' %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  No Plan found
<% end %>
