<%= link_to '<i class="fa fa-chevron-left"></i> Back to Results'.html_safe, '#', class: 'btn btn-success all-plans' %>

<% if qhp.present? %>
  <div class="row plan">
    <div class="col-md-9 col-sm-9 col-xs-12">
      <p><%= image_tag('blue-cross.jpg', width: 80) %></p>
      <h3><%= qhp.plan_marketing_name %></h3>
      <ul class="plan-type">
        <% plan_level = qhp.metal_level.downcase %>
        <li class="<%= plan_level %>"><i class="fa fa-circle-o"></i><%= plan_level.humanize %></li>
        <li class="type"><%= qhp.plan_type %></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <h2>$00.00</h2>
      <%= link_to("Select Plan", '#', {:class => "btn btn-primary"}) %>
    </div>
  </div>

  <div class="details">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="35%">Services You May Need</th>
          <th colspan="2">Your cost if you use a </th>
          <th>Limitations & Exceptions</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Participating Provider</th>
          <th>Non-Participating Provider</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% qhp.qhp_benefits.each do |benefit| %>
          <% deductible = benefit.find_deductible %>
          <% if deductible.present? %>
            <tr>
              <td><%= benefit.benefit_type_code %></td>
              <td><%= deductible.copay_in_network_tier_1 %></td>
              <td><%= deductible.copay_out_of_network %></td>
              <td><%= benefit.explanation.present? ? benefit.explanation : "None" %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td>Plan Details (PDF)</td>
          <td colspan="3" class="text-center">
            <%= link_to '#', class: "download" do %>
              <i class="glyphicon glyphicon-download-alt"></i> Download
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="3" class="text-center"><%= link_to 'Select Plan', '#', class: 'btn btn-primary' %></td>
        </tr>
      </tbody>
    </table>
    
    <br>
    <h4>Having a Baby</h4>
    <table class="table table-bordered">
      <tr>
        <th>Amount Owed to Providers</th>
        <th>Plan Pays</th>
        <th>Patient Pays</th>
      </tr>
      <tr>
        <td>$7,540</td>
        <td>$5,210</td>
        <td>$2,330</td>
      </tr>
    </table>

    <br>
    <h4>Managing Type 2 Diabetes</h4>
    <table class="table table-bordered">
      <tr>
        <th>Amount Owed to Providers</th>
        <th>Plan Pays</th>
        <th>Patient Pays</th>
      </tr>
      <tr>
        <td>$5,440</td>
        <td>$3,400</td>
        <td>$2,000</td>
      </tr>
    </table>
  </div>
<% else %>
  No Plan found
<% end %>