<div class="container content-bottom">
  <div class='container'>
    <h1>Events</h1>

    <p>
      <strong>Event Type:</strong>
      <%= scheduled_event.type %>
    </p>

    <p>
      <strong>Event Name:</strong>
      <%= scheduled_event.event_name.humanize %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @time %>
    </p>

    <p>
      <strong>Recurring:</strong>
      <%= scheduled_event.recurring_rules %>
    </p>


    <%= link_to 'Back', exchanges_scheduled_events_path, class: "btn btn-default", remote: true %>
    <%= link_to "Edit", edit_exchanges_scheduled_event_path(scheduled_event), class: "btn btn-default", remote: true %>
    <% if scheduled_event.one_time == false %>
      <%= link_to 'Delete this Occurence', delete_current_event_exchanges_scheduled_events_path(id: scheduled_event.id, time: @time), data: {:confirm => 'Are you sure?'}, class: "btn btn-danger", remote: true, html: { method: :get } %>
    <% else %>
      <%= link_to "Delete Event", exchanges_scheduled_event_path(scheduled_event), data: {:confirm => 'Are you sure?'}, class: "btn btn-danger", remote: true, method: :delete %>
    <% end %>
  </div>
</div>
