<div class="benefits-tab">
  <div class="row">
    <div class="col-xs-8">
      <h1>Benefits - Coverage You Offer</h1>
    </div>
    <div class="col-xs-4">

      <%= pundit_span EmployerProfile,:updateable? %>
        <% if @plan_years.present? && @employer_profile.published_plan_year.blank? && !@employer_profile.draft_plan_year.present? %>
        <%= link_to "Add Plan Year", new_employers_employer_profile_plan_year_path(@employer_profile, tab: 'benefits'), class: "btn btn-default btn-block", style: "margin-top: 6px;", data: {loading_text: "Loading..."} %>
        <% end %>
      </span>
    </div>
    <% unless @employer_profile.plan_years.blank? || @employer_profile.published_plan_year.present? %>
    <% if @employer_profile.renewing_plan_year.blank? || @employer_profile.active_plan_year.blank? %>
    <div class="col-xs-12">
      <h4>Carefully review the plan information and pricing below. If you haven't added employees to your plan yet, select 'Employees' in the blue menu bar to the left and edit each of your employees to add them to your benefit package. If you want to
        create more than one benefit package and offer different benefits to different employees, select 'Edit Plan Year' and then select 'Add Benefit Group' at bottom of the page. When you're satisfied with your benefit package(s), select 'Publish Plan Year'.</h4>
      <h4>
        <strong>
          IMPORTANT
        </strong>
        – Once you select 'Publish Plan Year', your employees will receive a notification and open enrollment will begin according to the timeline you selected for your plan year.
      </h4>
      <br/>
    </div>
    <% end %>
    <% end %>
  </div>
  <% if @plan_years.present? %>

  <% @plan_years.each_with_index do |plan_year, pi| %>
  <div class="row no-buffer module plan-year">
    <div class="col-xs-6">
      <h3 class="no-buffer">
        <div class="row">
          <span data-toggle="tooltip" title="<%= plan_year.aasm_state.to_s.humanize.titleize %>">
            <% if plan_year.draft? || plan_year.renewing_draft? %>
            <i class="fa fa-file"></i>
            <% elsif plan_year.enrolling? || plan_year.renewing_enrolling? %>
            <i class="fa fa-star enrolling"></i>
            <% elsif plan_year.published? || plan_year.renewing_published? %>
            <i class="fa fa-users"></i>
            <% end %>
          </span>
          <%= plan_year.start_on.to_date.year%>
          Plan Year (<%= plan_year.aasm_state.to_s.humanize.titleize %>)
        </div>
      </h3>
    </div>
    <div class="col-xs-6 above">
      <div class="row">
        <%= pundit_span EmployerProfile, :updateable? %>
            <% if plan_year.draft? || plan_year.renewing_draft? %>
                <% if plan_year.overlapping_published_plan_years.empty? %>
                <%= link_to "Publish Plan Year &nbsp;<i class='fa fa-users' aria-hidden='true'></i>".html_safe, employers_employer_profile_plan_year_publish_path(@employer_profile,plan_year), method: :post, remote: true, class: "btn btn-default pull-right" %>
                <% end %>
                <%= link_to "Edit Plan Year &nbsp;<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year), class: "btn btn-default pull-right mrz"%>
            <% end %>  
            <%= pundit_span(EmployerProfile, :revert_application?) %>
                <% if current_user.has_hbx_staff_role? && ( plan_year.may_revert_application? || plan_year.may_revert_renewal? ) %>
                  <span class="btn btn-default pull-right" data-target="#revertPlanYear_<%= plan_year.id %>" data-toggle="modal">Revert Application</span>
                  <!-- <%= link_to "Revert Application", employers_employer_profile_plan_year_revert_path(@employer_profile, plan_year_id: plan_year.id ), method: :post, remote: true, class: "btn btn-default pull-right"%> -->
                <% end %>
            </span>
        </span>
      </div>
    </div>
    <% plan_year.benefit_groups.each_with_index do |bg, bi| %>
    <div class="benefit-group">
      <% next if bg.reference_plan_id.blank? %>
      <% if bg.default == true %>
      <% active = 'active' %>
      <% end %>

      <div class="benefit-package">
        <a class='make_default_benefit_group_link' data-benefit-group-id="<%= bg.id %>" data-href="<%= employers_employer_profile_plan_year_make_default_benefit_group_path(@employer_profile, plan_year.id) %>" data-plan-year-id="<%= plan_year.id %>" href="#"
          style='display:none;'></a>
        <div class="panel benefitgroup col-xs-12">
          <div class="col-xs-1">
            <i class="make-default <%= active %> fa fa-star fa-3x" data-toggle="tooltip" title="Make this your default benefit group"></i>
          </div>
          <div class="col-xs-11">
            <section class="col-xs-10">
              <header class="row">
                <h3 class="title no-buffer">
                  <%= bg.title %>
                </h3>
                <% if bg.description.present? %>
                <h5 class="description no-buffer"><%= bg.description %></h5>
                <% end %>
              </header>
            </section>
            <div class="col-xs-2">
              <button class="nav-toggle row view" id="showhidebutton" onclick="EmployerProfile.viewDetails($(this))">View Details
                <i class="fa fa-chevron-down fa-lg"></i>
              </button>
            </div>
            <table>
              <tr>
                <td>
                  <header>Coverage Year</header>
                </td>
                <td>
                  <p>
                    <%= plan_year.start_on.to_date.to_formatted_s :long_ordinal %> - <%= plan_year.end_on.to_date.to_formatted_s :long_ordinal %>
                  </p>
                </td>
                <% if plan_year.terminated_on %>
                  <td>
                      <header>Terminated On</header>
                  </td>
                  <td>
                     <p>
                        <%= plan_year.terminated_on.to_date.to_formatted_s :long_ordinal %>
                     </p>
                  </td>
                <%end%>
              </tr>
              <tr>
                <td>
                  <header>Eligibility</header>
                </td>
                <td>
                  <p>
                    <% if bg.effective_on_kind == 'date_of_hire' && bg.effective_on_offset == 0 %>
                      <%= "#{bg.effective_on_kind.humanize}" %>
                    <% elsif bg.effective_on_kind == 'first_of_month' && bg.effective_on_offset == 0 %>
                      First of the month following or coinciding with date of hire
                    <% elsif bg.effective_on_kind == 'first_of_month' && bg.effective_on_offset == 1 %>
                      First of the month following date of hire
                    <% else %>
                      <%= "#{bg.effective_on_kind.humanize} following #{bg.effective_on_offset} days" %>
                    <% end %>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel benefitgroup col-xs-12 referenceplan">
          <div class="col-xs-1">
            &nbsp;
          </div>
          <!-- Health Plan Summary: start -->
          <div class="col-xs-11 health">
            <% if bg.is_offering_dental? %>

            <div class="row">
              <div class="col-xs-6">
                <% if bg.is_offering_dental? %>
                <h5 class="title no-buffer">Health</h5>
                <% else %>
                <h5 class="title no-buffer">&nbsp;</h5>
                <% end%>
              </div>
            </div>
            <% end%>

            <table>
              <tr>
                <th colspan="2">
                  <header>Reference Plan</header>
                </th>
                <th>
                  <header>Carrier</header>
                </th>
                <th>
                  <header>Type</header>
                </th>
                <th>
                  <header>Metal Level</header>
                </th>
                <th>
                  <header>Plans By</header>
                </th>
              </tr>
              <tr>
                <td colspan="2">
                  <p>
                    <%= bg.reference_plan.name.try(:upcase) %>
                  </p>
                </td>
                <td>
                  <p>
                    <%= bg.reference_plan.carrier_profile.legal_name %>
                  </p>
                </td>
                <td>
                  <p>
                    <%= bg.try(:reference_plan).try(:plan_type).try(:upcase) %>
                  </p>
                </td>
                <td>
                  <p>
                    <%= bg.reference_plan.metal_level.titleize %>
                  </p>
                </td>
                <td>
                  <p>
                    <% if bg.plan_option_kind == "single_carrier" %>
                    All Plans From A Single Carrier
                    <% elsif bg.plan_option_kind == "metal_level" %>
                    All Plans From A Given Metal Level
                    <% elsif bg.plan_option_kind == "single_plan" %>
                    A Single Plan
                    <% end %>
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <!-- Health Plan Summary: end -->

          <!--Health plan collapsible: starts -->
          <div class="health-offering" style="display:none">
            <div class="col-xs-1">
              &nbsp;
            </div>

            <!--Health plan contribution: start-->
            <div class="col-xs-11 package-offering">
              <div class="col-xs-12">
                <table>
                  <tr>
                    <th>Offered</th>
                    <th>Employer
                      <% if bg.is_offering_dental? %>Health
                      <% end %>Contribution</th>
                  </tr>
                  <% bg.relationship_benefits.each_with_index do |rb, i| %>
                  <tr>
                    <td><%= rb.offered ? raw("<i class='fa fa-check-square-o fa-lg'></i>") : raw("<i class='fa fa-square-o fa-lg'></i>") %><%= rb.relationship.try(:humanize) %></td>
                    <td id="pct">
                      <strong><%= number_to_percentage rb.premium_pct.ceil, precision: 0 %></strong>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!--Health plan contribution: end -->

            <!--Health plan Estimated Cost: start-->
            <div class="col-xs-12">
              <div class="col-xs-1">
                &nbsp;
              </div>
              <div class="est-month col-xs-11">
                <% if bg.census_employees.present? %>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="row">
                      <span>Employer Estimated Maximum Monthly Cost</span>
                      <h2><%= number_to_currency(bg.monthly_employer_contribution_amount) %></h2>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="row">
                      <table>
                        <tr>
                          <th colspan="2"></th>
                          <th>Min</th>
                          <th>Max</th>
                        </tr>
                        <tr>
                          <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                          <td><%= number_to_currency(bg.monthly_min_employee_cost) %></td>
                          <td><%= number_to_currency(bg.monthly_max_employee_cost) %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="row">
                  <h4 class="starter">You need to add an employee to a benefit group before you can view your estimated monthly costs. To add a new employee,
                    <%= link_to 'click here', new_employers_employer_profile_census_employee_path(@employer_profile, tab: 'employees')%>.</h4>
                </div>
                <% end %>
                <% if bg.is_offering_dental? %>
                <br/>
                <br/>
                <div class="row">
                  <hr/>
                </div>
                <% end %>
              </div>
            </div>
            <!--Health plan Estimated Cost: end-->
          </div>
          <!--Health plan collapsible: end -->

          <!--Dental Plan Summary: start -->
          <% if bg.is_offering_dental? %>
            <div class="col-xs-1">
              &nbsp;
            </div>

            <div class="col-xs-11 dental">
              <div class="row">
                <div class="col-xs-6">
                  <h5 class="title no-buffer">Dental</h5>
                </div>
              </div>
              <table>
                <tr>
                  <th colspan="2">
                    <header>Reference Plan</header>
                  </th>
                  <th>
                    <header>Carrier</header>
                  </th>
                  <th>
                    <header>Type</header>
                  </th>
                  <th>
                    <header>Metal Level</header>
                  </th>
                  <th>
                    <header>Plans By</header>
                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>
                      <%= bg.dental_reference_plan.name %>
                    </p>
                  </td>
                  <td>
                    <p>
                      <%= bg.dental_reference_plan.carrier_profile.legal_name %>
                    </p>
                  </td>
                  <td>
                    <p>
                      <%= bg.dental_reference_plan.plan_type.to_s.upcase %>
                    </p>
                  </td>
                  <td>
                    <p>
                      <%= display_dental_metal_level(bg.dental_reference_plan) %>
                    </p>
                  </td>
                  <td>
                    <p>
                      <% if bg.dental_plan_option_kind == "single_carrier" %>
                        All Plans From A Single Carrier
                      <% elsif bg.dental_plan_option_kind == "single_plan" %>
                        <% if bg.elected_dental_plan_ids.count < 13 %>
                            Custom (<%= bg.elected_dental_plans.count %> Plans)
                            <br/>
                        <%= link_to "View Plans", "", data: {toggle: "modal", target: "#electedDentalPlans_#{bg.id}"} %>
                        <% else %>
                          All Plans
                        <% end %>
                      <% end %>
                    </p>
                  </td>
                </tr>
              </table>
            </div>

            <% if bg.elected_dental_plan_ids.count < 13 && bg.elected_dental_plan_ids.count > 1 %>
              <%= render partial: 'shared/custom_dental_offered_plans_modal', locals: { bg: bg } %>
            <% end %>
          <% end %>
          <!--Dental Plan Summary: end -->

          <br class="clear"/>

          <!--Dental plan collapsible: start -->
          <% if bg.is_offering_dental? %>
          <div class="dental-offering" style="display:none">

            <div class="col-xs-1">
              &nbsp;
            </div>

            <!--Dental Plan Contribution: start -->
            <div class="col-xs-11 package-offering">
              <div class="col-xs-12">
                <table>
                  <tr>
                    <th>Offered</th>
                    <th>Employer Dental Contribution</th>
                  </tr>
                  <% bg.relationship_benefits.each_with_index do |rb, i| %>
                  <tr>
                    <td><%= bg.dental_relationship_benefits[i].offered ? raw("<i class='fa fa-check-square-o fa-lg'></i>") : raw("<i class='fa fa-square-o fa-lg'></i>") %><%= bg.dental_relationship_benefits[i].relationship.try(:humanize) %></td>
                    <% if bg.is_offering_dental? %>
                    <td>
                      <strong><%= number_to_percentage bg.dental_relationship_benefits[i].premium_pct.ceil, precision: 0 %></strong>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!--Dental Plan Contribution: end -->

            <!-- Dental plan Estimated Cost: start -->
            <div class="col-xs-12">
              <div class="col-xs-1">
                &nbsp;
              </div>
              <div class="est-month col-xs-11">
                <% if bg.census_employees.present? %>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="row">
                      <span>Employer Estimated Maximum Monthly Cost</span>
                      <h2><%= number_to_currency(bg.monthly_employer_contribution_amount(bg.dental_reference_plan)) %></h2>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="row">
                      <table>
                        <tr>
                          <th colspan="2"></th>
                          <th>Min</th>
                          <th>Max</th>
                        </tr>
                        <tr>
                          <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                          <td><%= number_to_currency(bg.monthly_min_employee_cost('dental')) %></td>
                          <td><%= number_to_currency(bg.monthly_max_employee_cost('dental')) %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <% else %>
                <div class="row">
                  <h4 class="starter">You need to add an employee to a benefit group before you can view your estimated monthly costs. To add a new employee,
                    <%= link_to 'click here', new_employers_employer_profile_census_employee_path(@employer_profile, tab: 'employees')%>.</h4>
                </div>
                <% end %>
              </div>
            </div>
            <!-- Dental plan Estimated Cost: end -->

          </div>
          <%end%>
          <!--Dental plan collapsible: end -->

        </div>
        <br class="clear"/>
      </div>
        <%= pundit_span EmployerProfile, :updateable? %>
            <div class="below clear">
              <%= link_to "Delete Benefit Package <i class='fa fa-trash-o' aria-hidden='true'></i> ".html_safe, "", data: { toggle: "modal", target: "#deleteBenefitPackageModal-#{bg.id}" }, class: 'btn btn-default' if plan_year.aasm_state == "draft" || plan_year.aasm_state == "renewing_draft" %>
              <%= render partial: "employers/plan_years/delete_benefit_package_modal", locals: { plan_year: plan_year, bg: bg } if plan_year.aasm_state == "draft" || plan_year.aasm_state == "renewing_draft" %>
            </div>
        </span>
      <% end %>
    </div>
    <br/>
    <br/>

    <div class="col-xs-12"></div>

    <%= render "employers/plan_years/publish_modal", plan_year: plan_year %>
    <%= render "employers/plan_years/revert_modal", plan_year: plan_year %>

    <% end %>
    <% else %>
      <h4>
        It's time to create a benefits package. Select 'Add Plan Year' to create your first one. Most employers only create one benefits package but you'll have the opportunity to create more than one if you want to offer different benefits to different
        groups of employees.
      </h4>
      <br/>
      <%=pundit_span EmployerProfile, :updateable?%>
        <%= link_to "Add Plan Year", new_employers_employer_profile_plan_year_path(@employer_profile, tab: 'benefits'), class: "btn btn-primary btn-br", data: {loading_text: "Loading..."} %>
      </span>
    <% end %>
  </div>
</div>
