<div class="col-xs-12 benefits-tab">
  <div class="row">
    <div class="col-xs-8">
      <h1>Coverage - Benefits You Offer</h1>
    </div>
    <div class="col-xs-4">
      <% if @plan_years.present? %>
      <%= link_to "Add Plan Year", new_employers_employer_profile_plan_year_path(@employer_profile, tab: 'benefits'), class: "btn btn-primary btn-br btn-block", data: {loading_text: "Loading..."} %>
      <% end %>
    </div>


  </div>
  <% if @plan_years.present? %>
  <br/>

  <% @plan_years.each do |plan_year| %>
  <div class="row no-buffer">
    <h3 class="title-inline"><%= plan_year.start_on.to_date.year%> - Plan Year (<%= plan_year.aasm_state.to_s.humanize %>)</h3>

  </div>

  <% plan_year.benefit_groups.each do |bg| %>
  <div class="panel benefitgroup col-xs-12">
    <section class="col-xs-6">
      <header class="row">
        <h5 style="color: #69A30D; font-size: 18px;">Benefit Package</h5>
      </header>
    </section>
    <section class="col-xs-6">
      <header class="row">
        <a class="details" onclick="$(this).closest('.benefitgroup').next().toggle();">View Details <span class="icon-drop-down icon-drop-down-dims" role="img" aria-label="tooltip"></span></a>
      </header>
    </section>
    <table>
      <tr>
        <td>
          <header>Benefit Package Name</header>
        </td>
        <td>
          <p><%= bg.title %></p>
        </td>
      </tr>
      <tr>
        <td>
          <header>Eligibility</header>
        </td>
        <td>
          <p>
            <%= "#{bg.effective_on_kind.humanize} after #{bg.effective_on_offset} days from date of hire" %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <header>By Carrier</header>
        </td>
        <td>
          <p>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <header>Carrier</header>
        </td>
        <td>
          <p>
            CareFirst BlueChoice HMO Referral HAS/HRA $4,000
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 package-offering plan-details">
    <table>
      <tr>
        <th>Offered</th>
        <th>Employer contribution</th>
      </tr>
      <% bg.relationship_benefits.each do |rb| %>
      <tr>
        <td><%= rb.offered ? raw("<i class='fa fa-check-square-o fa-lg'></i>") : raw("<i class='fa fa-square-o fa-lg'></i>") %><%= rb.relationship.try(:humanize) %></td>
        <td><strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="panel benefitgroup col-xs-12 referenceplan">
    <section class="col-xs-6">
      <header class="row">
        <h5 style="color: #69A30D; font-size: 18px;">Your Reference Plan</h5>
      </header>
    </section>
    <section class="col-xs-6">
      <header class="row">
        <a class="details">View Details <span class="icon-drop-down icon-drop-down-dims" role="img" aria-label="tooltip"></span></a>
      </header>
    </section>
    <h2><%= bg.reference_plan.name %></h2>
    <table>
      <tr>
        <th>
          <header>Type</header>
        </th>
        <th>
          <header>Metallic Level</header>
        </th>
        <th>
          <header>Network</header>
        </th>
        <th>
          <header>ID</header>
        </th>
      </tr>
      <tr>
        <td>
          <p>PPO</p>
        </td>
        <td>
          <p>
            <%= bg.reference_plan.metal_level.titleize %>
          </p>
        </td>
        <td>
          <p>
            <%= bg.plan_option_kind.titleize %>
          </p>
        </td>
        <td>
          <p>00089787
          </p>
        </td>
      </tr>
    </table>
    <div class="col-xs-12 row plan-details">
      <hr>
      <div class="col-xs-4 row">
        <span>Employer Estimated Maximum Monthly Cost</span>
        <h2><%= number_to_currency(bg.monthly_employer_contribution_amount) %></h2>
      </div>
      <div class="col-xs-8">
        <table>
          <tr>
            <th></th>
            <th>Individual</th>
            <th>Family</th>
          </tr>
          <tr>
            <td>Total Estimated Monthly Cost for Plan Participants</td>
            <td><%= number_to_currency(bg.monthly_min_employee_cost) %> / <%= number_to_currency(bg.monthly_max_employee_cost) %></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Other Annual Costs for Plan Participants</strong></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Estimated Deductable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Out-of-Pocket Max</td>
            <td></td>
            <td></td>
          </tr>


        </table>
      </div>
    </div>
  </div>
  <% end %>
  <div class="pull-left bottom-mgn-xs">
    <% if plan_year.draft? && @current_plan_year.nil? %>
    <%= link_to "Publish Plan Year", employers_employer_profile_plan_year_publish_path(@employer_profile,plan_year), method: :post, remote: true, class: "btn btn-trans" %>
    <%= link_to "Edit Plan Year", edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year), class: "btn btn-trans right"%>
    <% elsif plan_year.draft? %>
    <%= link_to "Edit Plan Year", edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year), class: "btn btn-trans right"%>

    <% end %>
  </br></br></br>
  </div>
  <div class="col-xs-12"><br><br></div>

  <%= render "employers/plan_years/publish_modal", plan_year: plan_year %>

  <% end %>

  <% else %>
  <h4 style="max-width: 600px;">
    You haven't created a benefits package yet. Click "Add Benefits Package" below to make your first one.
  </h4>
  <br/>
  <%= link_to "Add Plan Year", new_employers_employer_profile_plan_year_path(@employer_profile, tab: 'benefits'), class: "btn btn-primary btn-br", data: {loading_text: "Loading..."} %>

  <% end %>
