<div aria-labelledby="benefits-tab" id="benefits" class="tab-pane fade" role="tabpanel">
  <div class="container">
    <div class="row top-pd">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <%= link_to "Add Plan Year", new_employers_employer_profile_plan_year_path(@employer_profile), class: "btn btn-primary btn-br btn-block", data: {loading_text: "Loading..."} %>
      </div>
    </div>

    <div class="row top-pd">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <% if @plan_years.present? %>
          <% @plan_years.each do |plan_year| %>
            <div class="plan-year-wrapper">
              <div class="row no-buffer">
                <h4 class="title-inline">Plan Year - <%= plan_year.start_on.to_date.year %></h4>
                <div class="pull-right bottom-mgn-xs">
                  <% if plan_year.draft? && @current_plan_year.nil? %>
                    <%= link_to "Publish Plan Year", employers_employer_profile_plan_year_publish_path(@employer_profile,plan_year), method: :post, remote: true, class: "btn btn-select" %>
                    <%= link_to "Edit Plan Year", edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year), class: "btn btn-select"%>
                  <% else %>
                    <%= plan_year.aasm_state.to_s.humanize %>
                  <% end %>
                </div>
              </div>
             
              <%= render "employers/plan_years/publish_modal", plan_year: plan_year %>
              
              <div class="table-responsive unmgn plan-years-content">
                <table class="table table-wrapper table-condensed">
                  <tbody>
                    <tr>
                      <th>FTE/PTE/MSP Count :</th>
                      <td><%= "#{plan_year.fte_count} / #{plan_year.pte_count} / #{plan_year.msp_count}" %></td>
                      <th>Open Enroll Start/End :</th>
                      <td>
                        <%= format_date plan_year.open_enrollment_start_on %> /
                        <%= format_date plan_year.open_enrollment_end_on %>
                      </td>
                    </tr>
                    <tr>
                      <th>Participant Pct :</th>
                      <td><%= plan_year.employee_participation_percent %></td>
                      <th>Plan Year Start/End :</th>
                      <td>
                        <%= format_date plan_year.start_on %> /
                        <%= format_date plan_year.end_on %>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="dropdown benefit-group-heading">
                  <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button" id="bLabel">
                      Benefit Group
                      <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span>
                  </button>

                  <ul class="dropdown-menu bg-list" role="menu" aria-labelledby="dLabel">
                    <% plan_year.benefit_groups.each do |bg| %>
                      <li><a href="#bg<%= bg.id %>"><%= bg.title %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class='bg-content'>
                  <% plan_year.benefit_groups.each_with_index do |bg, index| %>
                    <table class="table table-wrapper table-condensed bg" id="bg<%= bg.id %>" style="display: <%= index == 0 ? 'block' : 'none' %>">
                    <tr>
                      <th>Est. Monthly Employer Contribution :</th>
                      <td> <%= number_to_currency(bg.estimated_monthly_employer_contribution) %> </td>
                      <th colspan="3">Est. Monthly Employee Cost (Min/Max) :</th>
                      <td> <%= number_to_currency(bg.estimated_monthly_min_employee_cost) %> / <%= number_to_currency(bg.estimated_monthly_max_employee_cost) %></td>
                    </tr>
                    <tr>
                      <th>Benefit Group :</th>
                      <td><%= bg.title %></td>
                      <th class="no-border" colspan="2">Employee Relationship</th>
                      <th class="no-border">Coverage Offered</th>
                      <th class="no-border">Employer Contribution Pct</th>
                    </tr>
                    <tr>
                      <th>Coverage Effective :</th>
                      <td><%= "#{bg.effective_on_kind.humanize} after #{bg.effective_on_offset} days from date of hire" %></td>
                      <td colspan="2"><%= bg.relationship_benefits[0].relationship.try(:humanize) %></td>
                      <td><%= bg.relationship_benefits[0].offered ? "Yes" : "No" %></td>
                      <td><%= number_to_percentage bg.relationship_benefits[0].premium_pct, precision: 0 %></td>
                    </tr>
                    <tr>
                      <th>Coverage Termination :</th>
                      <td><%= "#{bg.terminate_on_kind.humanize} following last day of employment" %></td>
                      <td colspan="2"><%= bg.relationship_benefits[1].relationship.try(:humanize) %></td>
                      <td><%= bg.relationship_benefits[1].offered ? "Yes" : "No" %></td>
                      <td><%= number_to_percentage bg.relationship_benefits[1].premium_pct, precision: 0 %></td>
                    </tr>
                    <tr>
                      <th>Ref Plan :</th>
                      <td><%= "#{bg.reference_plan.name}" %></td>
                      <td colspan="2"><%= bg.relationship_benefits[2].relationship.try(:humanize) %></td>
                      <td><%= bg.relationship_benefits[2].offered ? "Yes" : "No" %></td>
                      <td><%= number_to_percentage bg.relationship_benefits[2].premium_pct, precision: 0 %></td>
                    </tr>
                    <tr>
                      <th>Ref Plan Metal Level</th>
                      <td><%= "#{bg.reference_plan.metal_level.titleize}" %></td>
                      <td colspan="2"><%= bg.relationship_benefits[3].relationship.try(:humanize) %></td>
                      <td><%= bg.relationship_benefits[3].offered ? "Yes" : "No" %></td>
                      <td><%= number_to_percentage bg.relationship_benefits[3].premium_pct, precision: 0 %></td>
                    </tr>
                    <tr>
                      <th>Plan Option Kind</th>
                      <td><%= "#{bg.plan_option_kind.titleize}" %></td>
                      <td colspan="2"><%= bg.relationship_benefits[4].relationship.try(:humanize) %></td>
                      <td><%= bg.relationship_benefits[4].offered ? "Yes" : "No" %></td>
                      <td><%= number_to_percentage bg.relationship_benefits[4].premium_pct, precision: 0 %></td>
                    </tr>
                    </table>
                    <br>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          No Plan Years found
        <% end %>
      </div>
    </div>
  </div>
</div>
