<div class="container" id="employees-list">
  <div class="row">
    <div class="">
      <div class="col-md-12 col-sm-12 col-xs-12 col-gn-top">

        <div id="add_employee_action"></div>

        <div id="employee_roster">
          <div class="row">
            <div class="col-md-3">
                <h3 class="title-inline">Employee Roster</h3>
            </div>

            <div class="col-md-4">
              <div class="form-inline button-group-wrapper">
                  <div class="btn-group" role="group" aria-label="">
                  <div class="btn-group" data-toggle="buttons" name="employee_family_tabs">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="terminated_no" autocomplete="off" value="active" checked> Active
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="family_waived" autocomplete="off" value="waived"> Waived
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="terminated_yes" autocomplete="off" value="terminated"> Terminated
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="family_all" autocomplete="off" value="all"> All
                    </label>
                  </div>
                </div>
                <span name="employee_families_url" style="display:none"><%= employers_employer_profile_path(@employer_profile) %></span>
              </div>
            </div>

            <div class="col-md-3">
              <%= form_tag employers_employer_profile_path(@employer_profile), method: :get, remote: true, class: 'input-no-pd', id: 'census_employee_search' do %>
                <%= hidden_field_tag(:status, 'active') %>
                <%= hidden_field_tag(:search, true) %>
                <div class="input-group">
                  <%= text_field_tag(:employee_name, params[:employee_name], placeholder: 'Employee Name', class: 'form-control') %>
                  <div class="input-group-btn">
                    <div class="btn btn-default" id='census_employee_search_clear'>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>
                    <%= submit_tag "Search", class: 'btn btn-default' %>
                  </div>
                </div>
              <% end %>
            </div>
            <script>
              $(function() {
                $( "#employee_name" ).autocomplete({
                  source: <%= raw @avaliable_employee_names.to_s %>
                });
              });
            </script>

            <div class="col-md-2 text-right">
              <% if @employer_profile.plan_years.empty? %>
                <!--  non javascript click when clicked on new employee -->
                <%= link_to 'Add Employee', new_employers_employer_profile_census_employee_path(@employer_profile), class: "btn btn-primary btn-br" %>
              <% else %>
                <!-- javascript click when clicked on new employee -->
                <%= link_to 'Add Employee', new_employers_employer_profile_census_employee_path(@employer_profile), class: "btn btn-primary btn-br", remote: true %>
              <% end %>
            </div>
          </div>

          <div id="employee_families">
            <div id="employees_active">
              <%= render "employers/employer_profiles/my_account/employees_by_status", status: 'active' %>
            </div>
            <div id="employees_waived"></div>
            <div id="employees_terminated"></div>
            <div id="employees_all"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
