<div class="employees-tab">

<div class="employees-section">
  <div class="row">
    <div class="col-xs-6">
      <h1>Employee Roster</h1>
    </div>
    <% if @employer_profile.census_employees.count > 0 %>
      <div class="col-xs-6">
        <div class="col-xs-12">
          <div class="row">
          <%= form_tag employers_employer_profile_path(@employer_profile), method: :get, remote: true, class: 'input-no-pd', id: 'census_employee_search' do %>
          <%= hidden_field_tag(:status, 'active') %>
          <%= hidden_field_tag(:search, true) %>
          <div class="input-group">
            <%= text_field_tag(:employee_name, params[:employee_name], placeholder: 'Employee Name', class: 'form-control') %>
            <div class="input-group-btn">
              <div class="btn btn-default" id='census_employee_search_clear'>
                <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
              </div>
              <%= submit_tag "Search", class: 'btn btn-default' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <% if @employer_profile.census_employees.count > 0 %>
        <h4>
          Select 'Add New Employee' to continue building your roster, or select 'Upload Employee Roster' if you're ready to download or upload the roster template. If you need to edit information for an employee, or if you're ready to add your employee to a benefit package you created, scroll over the employee's name and select the pencil icon to the right. When you're finished with your roster, select 'Benefits' in the blue menu bar to the left to continue.
        </h4>
        <br/>
        <div class="col-xs-10">
          <div class="row">
            <!--  non javascript click when clicked on new employee -->
            <!-- javascript click when clicked on new employee -->
            <%= pundit_span(EmployerProfile, :updateable?) %>
              <%= link_to "<i class='fa fa-user-plus' aria-hidden='true'></i> Add New Employee".html_safe, new_employers_employer_profile_census_employee_path(@employer_profile, tab: 'employees'), class: "btn btn-default" %>
              <%= link_to "<i class='fa fa-file-text-o' aria-hidden='true'></i> Upload Employee Roster".html_safe, new_employers_employer_profile_census_employee_path(@employer_profile, modal: 'upload'), remote: 'true', class: "btn btn-default" %>
            </span>
            <%= link_to "<i class='fa fa-cloud-download' aria-hidden='true'></i> Download Employee Roster".html_safe, employers_employer_profile_export_census_employees_path(@employer_profile, format: :csv), class: "btn btn-default" %>

          </div>
        </div>

        <div class="col-xs-2" id="employees-filter">

          <div class="filter" onclick="$(this).closest('.col-xs-2').find('.filter-options').toggle();">
            Filter By <i class="fa fa-chevron-down"></i>
          </div>
          <div class="filter-options">
            <h4>Filter By <i class="fa fa-chevron-up"></i></h4>
            <div class="form-inline button-group-wrapper">
              <div aria-label="" class="btn-group" role="group">
                <div class="btn-group" data-toggle="buttons" name="employee_family_tabs">
                  <label class="btn btn-default active">
                    <input autocomplete="off" checked id="terminated_no" name="options" type="radio" value="active">
                    Active
                  </label>
                  <label class="btn btn-default">
                    <input autocomplete="off" id="terminated_yes" name="options" type="radio" value="terminated">
                    Terminated
                  </label>
                  <label class="btn btn-default">
                    <input autocomplete="off" id="family_all" name="options" type="radio" value="all">
                    All
                  </label>
                </div>
              </div>
              <span name="employee_families_url" style="display:none"><%= employers_employer_profile_path(@employer_profile) %></span>
            </div>
          </div>

          </div>
      <% end %>
    </div>
    <% if @employer_profile.census_employees.count > 0 %>
      <div class="row">
        <div class="module census-employees-table">
            <%= render "employers/employer_profiles/my_account/employees_by_status", status: ( params[:status] || "active" ) %>
        </div>
      </div>
      <div id="employee_roster">
        <script>
        //$(function() {
        //  $( "#employee_name" ).autocomplete({
        //    source: <%= raw @avaliable_employee_names.to_s %>
        //  });
        //});
        </script>
        <div id="employee_families">
          <div id="employees_active"></div>
          <div id="employees_waived"></div>
          <div id="employees_terminated"></div>
          <div id="employees_all"></div>
        </div>
      </div>
    <% else %>
    <div class="row <%= pundit_class(EmployerProfile, :updateable?) %>">
      <h4 class="starter">
        You haven't added any employees to your roster. Select 'Add New Employee' to begin, or select 'Upload Employee Roster' if you’d like to download the roster template and/or upload it now or later.
        <br/><br/>
        For each employee you add, you'll need:
        <br/>
        <ul>
          <li>Name</li>
          <li>Date of birth</li>
          <li>Social Security number</li>
          <li>Date of hire</li>
        </ul>
        <br/>
        If you plan to make an optional contribution towards employee family coverage and need an accurate cost estimate, you’ll also need the date of birth for all family members because monthly premiums are based on age.
      </h4>
      <br/>
      <%= link_to 'Add New Employee', new_employers_employer_profile_census_employee_path(@employer_profile, tab: 'employees'), class: "btn btn-primary "  %>
      <%= link_to 'Upload Employee Roster', new_employers_employer_profile_census_employee_path(@employer_profile, modal: 'upload'), remote: 'true', class: "btn btn-primary " %>
    </div>
    <% end %>
  </div>
</div>
<div></div>
