  <div class="col-xs-8">
    <h1>Employer Attestation</h1>
  </div>

  <div class="col-xs-10"><h4>Employers who wish to sponsor benefits through the <%= Settings.site.short_name %> must have their primary office located in <%= Settings.aca.state_name %>.  Before submitting an application, upload documentation that verifies eligibility for this employer.  Acceptable documents include: <strong>doc_type_1, doc_type, 2, doc_type_3 (Provide doc types here).</strong></h4></div>

<div class="col-xs-10">
    <%if @employer_profile.employer_attestation %>
<!--       <button class = "btn btn-danger" ><%#= @employer_profile.employer_attestation.aasm_state %></button> -->
  <%end%>
</div>

<div class="col-xs-10" style="text-align: right;top: 40px;margin-left: 15%;">
  <div class="row">
    <%= link_to "<i class='fa fa-cloud-upload' aria-hidden='true'></i> Upload".html_safe, new_document_employers_employer_profile_path(@employer_profile), remote: 'true', class: "btn btn-default " %>
  </div>
</div>


<div class= "effectivedatatable">
  <%= render_datatable(@datatable) %>
  <% @documents.each do |doc| %>
    <div class="modal fade" id="employeeModal_<%= doc.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width: 900px;">
        <div class="modal-content">
          <div style="margin:1em; border: 1px solid;padding: 1em;">
            <h4>MA DOR FORM-X</h4>
            <p style="text-align: right">
              <a href="<%= employers_employer_attestation_authorized_download_path(doc.id) + "?id=#{@employer_profile.id}&content_type=#{doc.format}&filename=#{doc.title.gsub(/[^0-9a-z]/i,'')}&disposition=inline" %>" target="_blank"><button class="btn btn-default"><span class="glyphicons glyphicons-cloud-download"></span> Download</button></a>
              <button class="btn btn-default" onclick='printDoc("<%=doc.id%>")'>Print</button>
            </p>
            <p id="print_<%=doc.id%>">
              <iframe src="<%= employers_employer_attestation_authorized_download_path(doc.id) + "?id=#{@employer_profile.id}&content_type=#{doc.format}&filename=#{doc.title.gsub(/[^0-9a-z]/i,'')}&disposition=inline" %>" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" name="iframe_<%= doc.id%>"></iframe>
            </p>
          </div>
        </div>
      </div>
    </div>
 <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    initializeDataTables();
    jQuery('.buttons-csv').hide();
    jQuery('.buttons-excel').hide();

    function printDoc(id){
        var window_obj=window.open();
        window_obj.document.write($('#print_'+id).html());
        window_obj.print();
        window_obj.close();
    }

    $(".icon_info").tooltip();
</script>
