<% if @search %>
  <% if @census_employees.present? %>
    <h4>Results found</h4>
  <% else %>
    <h4>No results found</h4>
  <% end %>
<% end %>

<div class="table-responsive" style="overflow-y: hidden;">
  <table class="table table-wrapper" style="opacity: 1;">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>SSN</th>
        <th>DOB</th>
        <th>Hire Date</th>
        <% if ['terminated', 'all'].include?(status) %>
        <th>Termination Date</th>
        <% end %>
        <th>Status</th>
        <th>Enrollment Status</th>
        <th>Linked?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @census_employees.each do |census_employee| %>
      <tr class="terminated_<%= census_employee.employment_terminated? %> remove_<%= census_employee.id %>">
        <td> <%= link_to name_to_listing(census_employee), employers_employer_profile_census_employee_path(@employer_profile.id, census_employee.id), remote: true %> </td>
        <td><%= number_to_obscured_ssn census_employee.ssn %></td>
        <td><%= format_date census_employee.dob %> </td>
        <td><%= format_date census_employee.hired_on %> </td>
        <% if ['terminated', 'all'].include?(status) %>
        <td><%= format_date census_employee.employment_terminated_on %> </td>
        <% end %>
        <td><%= census_employee.aasm_state.humanize %></td>
        <td><%= enrollment_state(census_employee) %></td>
        <td><%= boolean_to_human census_employee.employee_role_linked? %></td>
        <td class="content_no_wrap">
          <% if census_employee.employment_terminated? %>
          <%= link_to ('javascript:;'), class: "show_confirm btn btn-green-2", id: "show_confirm_#{census_employee.id}" do %>
          <span class="hidden-xs hidden-sm visible-md visible-lg">Rehire</span>
          <span class="glyphicon glyphicon-pencil hidden-md hidden-lg visible-sm visible-xs" aria-hidden="true"></span>
          <% end %>
          <% elsif !census_employee.rehired? %>
          <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, (edit_employers_employer_profile_census_employee_path(@employer_profile.id, census_employee.id)), class: "btn btn-br btn-default", remote: true %>

          <%= link_to '<i class="fa fa-chain-broken"></i> Delink'.html_safe, (employers_employer_profile_census_employee_delink_path(@employer_profile.id, census_employee.id)), class: "btn btn-default", disabled: (!census_employee.employee_role_linked? or cannot? :delink, CensusEmployee) if current_user.has_hbx_staff_role? %>

          <%= link_to '<i class="fa fa-times"></i> Terminate'.html_safe, ('javascript:;'), class: "btn btn-danger btn-br show_confirm", id: "show_confirm_#{census_employee.id}" %>
          <% end %>
        </td>
      </tr>
      <% if census_employee.employment_terminated? %>
      <tr class="unbrd  rehire_<%= census_employee.id %>">
        <td id="enter-date" colspan="7" class="confirm-terminate-wrapper show_confirm_<%= census_employee.id %>">
          <div class="confirm-terminate">
            <input type="text" placeholder="e.g. 5/1/2015" class="text-center date-picker" data-date-min="<%= (census_employee.employment_terminated_on - TimeKeeper.date_of_record).to_i + 1 %>d"><br/>
            <a href="javascript:;" data-link="<%= employers_employer_profile_census_employee_rehire_path(@employer_profile.id, census_employee.id) %>" class="rehire_confirm" id="rehire_<%= census_employee.id %>"><strong>Submit</strong></a>
          </div>
          <b><%=image_tag "enter_rehire_date.png", alt: "Enter re-hire date.", width: "200", height: "" %></b>
        </td>
      </tr>
      <% else %>
      <tr class="unbrd  remove_<%= census_employee.id %>">
        <td id="enter-date" colspan="7" class="confirm-terminate-wrapper show_confirm_<%= census_employee.id %>">
          <div class="confirm-terminate">
            <input type="text" placeholder="e.g. 5/1/2015" class="text-center date-picker" data-date-min="<%= (census_employee.hired_on - TimeKeeper.date_of_record).to_i + 1 %>d"><br/>
            <a href="javascript:;" data-link="<%= employers_employer_profile_census_employee_terminate_path(@employer_profile.id, census_employee.id) %>" class="delete_confirm" id="remove_<%= census_employee.id %>"><strong>Submit</strong></a>
          </div>
          <%=image_tag "enter_date_termination.png", width: "300", height: "" %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <% if (@total_census_employees_quantity.present? || !params[:page].nil?) && (@total_census_employees_quantity != @census_employees.count) %>
      <%= render 'shared/alph_paginate', url: employers_employer_profile_path(@employer_profile), alphs: @page_alphabets, remote: true, status: status, full_index_url: employers_employer_profile_path(@employer_profile, status: status) %>
    <% end %>
  </div>

  <div class="col-md-6 text-right">
    <h4><%= "#{@census_employees.count} out of #{@total_census_employees_quantity}" if @total_census_employees_quantity.present? %></h4>
  </div>
</div>
