<% if @search %>
<% if @census_employees.present? %>
<% else %>
<h4>No results found</h4>
<% end %>
<% end %>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm panel panel-default">
      <thead class="thead-default">
        <tr>
          <th>Employee Name<!-- <i class="fa fa-caret-down"></i>--></th>
          <th>DOB</th>
          <th>Hired</th>
          <th>Status</th>
          <th>Benefit Package</th>
          <% if @employer_profile.renewing_plan_year.present? %>
          <th>Renewal Benefit Package</th>
          <% end %>
          <% if ['terminated', 'all'].include?(status) %>
          <th>Termination Date</th>
          <% end %>
          <th>Enrollment Status</th>
          <% if @employer_profile.renewing_published_plan_year.present? %>
              <th>Renewal Enrollment Status</th>
          <% end %>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
      <% if @census_employees.present? %>
      <% @census_employees.each do |census_employee| %>
        <tr class="terminated_<%= census_employee.employment_terminated? %> remove_<%= census_employee.id %> top <%= cycle('odd','even')%>">
          <td>
            <%= link_to name_to_listing(census_employee), employers_employer_profile_census_employee_path(@employer_profile.id, census_employee.id, status: status) %>
          </td>
          <td><%= format_date census_employee.dob %></td>
          <td><%= format_date census_employee.hired_on %></td>
          <td style="text-transform: capitalize;"><%= employee_state_format(census_employee.aasm_state, census_employee.employment_terminated_on) %></td>
          <td>
          <% if census_employee.active_benefit_group_assignment.present? %>
            <%= census_employee.active_benefit_group_assignment.benefit_group.title.capitalize %>
          <% end %>
          </td>
          <% if @employer_profile.renewing_plan_year.present? %>
          <td>
          <% if census_employee.renewal_benefit_group_assignment.present? %>
            <%= census_employee.renewal_benefit_group_assignment.benefit_group.title.capitalize %>
          <% end %>
          </td>
          <% end %>
          <% if ['terminated', 'all'].include?(status) %>
          <td><%= format_date census_employee.employment_terminated_on %>
          </td>
          <% end %>
          <td><%= enrollment_state(census_employee) %></td>
          <% if @employer_profile.renewing_published_plan_year.present? %>
              <td><%= renewal_enrollment_state(census_employee) %></td>
          <% end %>
          <td class="table-functions">
          <% if census_employee.employment_terminated? %>
            <a class="show_confirm btn btn-green-2" id="show_confirm_#{census_employee.id} <%= pundit_class EmployerProfile, :updateable? %>">
              <span class="hidden-xs hidden-sm visible-md visible-lg" style="margin-left: -10px;" onclick="$(this).closest('tr').next().show();">Rehire</span>
            </a>
          <% else %>
          <%= link_to raw('<i class="fa fa-pencil fa-lg pull-right" data-toggle="tooltip" title="Edit"></i>'), employers_employer_profile_census_employee_path(@employer_profile.id, census_employee.id, status: status, tab: 'employees') %>
            <i class="fa fa-trash-o fa-lg pull-right" data-toggle="tooltip" title="Terminate"></i>
          <% end %>
          </td>
        </tr>
        <% if census_employee.employment_terminated? %>
        <tr class="unbrd  rehire_<%= census_employee.id %> dn">
          <td class="confirm-terminate-wrapper show_confirm_<%= census_employee.id %>" colspan="11" id="enter-date">
            <span><%=image_tag "enter_rehire_date.png", alt: "Enter re-hire date.", width: "200", height: "" %></span>
            <span class="confirm-terminate" style="display:inline;">
              <input class="text-center date-picker" data-date-min="<%= (census_employee.employment_terminated_on - TimeKeeper.date_of_record).to_i + 1 %>d" placeholder="e.g. 5/1/2015" type="text">
              <a class="rehire_confirm" data-link="<%= employers_employer_profile_census_employee_rehire_path(@employer_profile.id, census_employee.id) %>" href="javascript:;" id="rehire_<%= census_employee.id %>">
                <strong>&nbsp;Submit</strong>
              </a>
            </span>
          </td>
        </tr>
            <tr></tr>
            <% else %>
            <tr class="unbrd  remove_<%= census_employee.id %> dn">
              <td class="confirm-terminate-wrapper show_confirm_<%= census_employee.id %>"  colspan="10"  id="enter-date">
                <div class="confirm-terminate <%=pundit_class EmployerProfile, :updateable?%>">
                  <h5 style="margin-top: 0; margin-bottom: 0;"><strong>Enter termination date to remove <%= name_to_listing(census_employee) %></strong>
                    <br/>
                    <span class="lg fourteen">(termination date must be within the past 60 days)</span>
                  </h5>
                  <div class="pull-right" style="margin-top: 2px;>
                  <!--<h5>Enter termination date to remove this employee:</h5>-->
                  <i class="fa fa-calendar fa-lg"></i> <input class="text-center date-picker" data-date-min="<%= (census_employee.hired_on - TimeKeeper.date_of_record).to_i + 1 > -60 ? (census_employee.hired_on - TimeKeeper.date_of_record).to_i + 1 : -60 %>d" placeholder="MM/DD/YYYY" type="text">
                  <a class="delete_confirm terminate" data-link="<%= employers_employer_profile_census_employee_terminate_path(@employer_profile.id, census_employee.id) %>" href="javascript:;" id="remove_<%= census_employee.id %>">
                  Terminate Employee
                  </a>
                  <a class="terminate cancel" style="margin-right: 15px;">Cancel</a>
                </div>
                </div>
              </td>
            </tr>
            <% end %>
          <% end %>
          <% end %>
       </tbody>
      </table>
    </div>
  <%= paginate @census_employees, param_name: :pagina, remote: true if params[:page].present? %>
  <div class="row">
    <div class="col-md-9">
      <% if (@total_census_employees_quantity.present? || !params[:page].nil?) && (@total_census_employees_quantity != @census_employees.count) %>
      <%= render 'shared/alph_paginate', url: employers_employer_profile_path(@employer_profile), alphs: @page_alphabets, remote: true, status: status, full_index_url: employers_employer_profile_path(@employer_profile, status: status, employee_name: params[:employee_name]) %>
      <% end %>
    </div>
    <div class="col-md-3 text-right content-bottom">
      <h4><%= "#{@census_employees.count} out of #{@total_census_employees_quantity}" if @total_census_employees_quantity.present? %></h4>
    </div>
  </div>
</div>
