<%= link_to "Add Employee", new_employers_employer_profile_family_path(@employer_profile), class: "btn btn-primary" %> &nbsp;&nbsp;

<h3>Employee Roster</h3>


<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" name="options" id="family_all" autocomplete="off"> All
  </label>
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="terminated_no" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="family_waived" autocomplete="off"> Waived
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="terminated_yes" autocomplete="off" > Terminated
  </label>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>SSN</th>
      <th>DOB</th>
      <th>Hire Date</th>
      <th>Status</th>
      <th>Linked?</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @employer_profile.employee_families_sorted.each do |family| %>
      <tr class=<%="terminated_#{family.is_terminated?}"%>>
        <td> <%= link_to name_to_listing(family.census_employee), employers_employer_profile_family_path(@employer_profile.id, family.id) %> </td>
        <td><%= number_to_obscured_ssn family.census_employee.ssn %></td>
        <td><%= format_date family.census_employee.dob %> </td>
        <td><%= format_date family.census_employee.hired_on %> </td>
        <td><%= family.aasm_state %></td>
        <td><%= boolean_to_human family.is_linked? %></td>
        <td>
          <% if family.is_terminated? %>
            <%= link_to "Rehire", employers_employer_profile_family_rehire_path(@employer_profile.id, family.id), class: "btn btn-sm btn-success" %>
          <% else %>
            <%= link_to "Edit", edit_employers_employer_profile_family_path(@employer_profile.id, family.id),class: "btn btn-sm btn-primary" %>
            <%= link_to "Delink", employers_employer_profile_family_delink_path(@employer_profile.id, family.id), class: "btn btn-sm btn-default", disabled: !family.is_linked? %>
            <%= link_to "Terminate", employers_employer_profile_family_terminate_path(@employer_profile.id, family.id), class: "btn btn-sm btn-warning" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
