<div class="module home-tab">
  <h1>My Health Benefits Program</h1>
  <% if @current_plan_year.present? %>
  <% end %>
  <div class="col-md-8 content-bottom">
    <div class="row">
      <% if @current_plan_year.present? %>
        <%= render 'ui-components/v1/cards/employee_enrollments' %>
        <%= render 'ui-components/v1/cards/plan_year' %>
        <% @current_plan_year.benefit_groups.each do |bg| %>
          <%= render partial: 'ui-components/v1/cards/benefit_groups', locals: { bg: bg } %>
        <% end %>
      <% else %>
        <%= render partial: 'employers/employer_profiles/my_account/employer_welcome' %>
      <% end %>
    </div>
  </div>
  <% if !@current_plan_year.present? %>
    <div class="row">
      <div class="col-xs-4">
        <%= render partial: 'employers/employer_profiles/employer_broker_widget' %>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).on('ready page:load', function () {
    Freebies.manualTooltip();
  });
</script>
