<div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
  <div id="add_home_action"></div>
  <div id="main-home">
    <div class="container">
      <div class="row top-pd">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-wrapper">
            <h3><%= @employer_profile.legal_name %> Enrollment</h3>

            <div class="form-border">
              <% if @current_plan_year.present? %>
                <%= render 'employers/employer_profiles/my_account/enrollment_progress_bar' %>
              <hr/>

              <div>
                <dl class="dl-horizontal no-buffer">
                  <dt>Plan Year</dt>
                  <dd><%= @current_plan_year.start_on.year %></dd>
                  <dt>Open Enrollment Period</dt>
                  <dd>
                    <%= format_date @current_plan_year.open_enrollment_start_on %> -
                    <%= format_date @current_plan_year.open_enrollment_end_on %>
                  </dd>
                  <dt>Plan Year Start</dt>
                  <dd><%= format_date @current_plan_year.start_on %></dd>
                  <dt>Eligible Roster Employees</dt>
                  <dd><%= @current_plan_year.eligible_to_enroll_count %></dd>
                  <dt>Participation Minimum</dt>
                  <dd>
                    <%= @participation_minimum %>
                  </dd>
                  <dt>Enrolled or Waived</dt>
                  <dd>
                    <%=  @current_plan_year.total_enrolled_count %>
                  </dd>
                  <dt>One or More Non-Owners?</dt>
                  <dd><%=  boolean_to_human(@current_plan_year.non_business_owner_enrollment_count > 0) %></dd>
                </dl>
              </div>
              <% else %>
                No Plan Years Found
              <% end %>
            </div>
          </div>

          <div class="row no-buffer top-pd">
            <h4><%= @employer_profile.legal_name %> Offices<%= (link_to "Edit Details", edit_employers_employer_profile_path(@employer_profile.organization), class: 'btn pull-right') if current_user.try(:has_employer_staff_role?) %></h4>
            
            <% @employer_profile.organization.office_locations.each do |loc| %>
              <div class="form-border">
                <%= loc.address.kind.capitalize %>
                <%= loc.address.to_html %>
                <%= loc.phone.to_s %>
              </div>
            <% end %>
          </div>

          <div class="row no-buffer top-pd">
            <h4>Broker</h4>
            <div class="form-border">
<!--               <a class="pull-right" aria-controls="employees" data-toggle="tab" id="broker-agency-tab" role="tab" href="#broker_agency">
              <span class="hidden-xs">Broker Agency</span>
              <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agency"></span>
            </a> -->

            <% if @employer_profile.broker_agency_profile.present? && @broker_agency_accounts[0].writing_agent.present? %>
              <% active_broker = @broker_agency_accounts[0].writing_agent %>
              <dl class="dl-horizontal no-buffer">
                <dt>Agency Name</dt>
                <dd><%= @employer_profile.broker_agency_profile.legal_name %></dd>
                <dt>Broker Name</dt>
                <dd><%= active_broker.person.full_name %></dd>
                <dt>Email</dt>
                <dd><a href="mailto:<%= active_broker.person.emails.first.address %>"><%= active_broker.person.emails.first.address %></a></dd>
              </dl>
              <% else %>
              No Active Broker
              <% end %>
            </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4>Premium Billing Report
            <% if @employer_profile.published_plan_year.present? %>
              <%= @current_plan_year.start_on %> - <%= @current_plan_year.start_on.end_of_month %></h4>
            <% end %>
          <div class="form-wrapper">
            <table class="table table-border">
              <tbody>
                <tr>
                  <th>Total Premium:</th>
                  <th><%= number_to_currency(@current_plan_year.present? ? @current_plan_year.hbx_enrollments.map(&:total_premium).sum : 0 )%></th>
                </tr>
                <tr>
                  <td>Employee Contributions:</td>
                  <td><%= number_to_currency(@current_plan_year.present? ? @current_plan_year.hbx_enrollments.map(&:total_employee_cost).sum : 0) %></td>
                </tr>
                <tr>
                  <td>Employer Contributions:</td>
                  <th><%= number_to_currency(@current_plan_year.present? ? @current_plan_year.hbx_enrollments.map(&:total_employer_contribution).sum : 0) %></th>
                </tr>
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4 no-pd">
              <%= link_to 'GET REPORTS', employers_premium_statement_path, remote: true, class: 'btn btn-primary btn-br' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
