<div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
  <div id="add_home_action"></div>
  <div id="main-home">
    <div class="container">
      <div class="row top-pd">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row no-buffer">
            <h4><%= @employer_profile.legal_name %></h4>
            <% @employer_profile.organization.office_locations.each do |loc| %>
            <div class="form-border">
              <%= loc.address.kind.capitalize %>
              <%= loc.address.to_html %>
              <%= loc.phone.to_s %>
            </div>
            <% end %>
          </div>

          <div class="row no-buffer top-pd">
            <h4>Enrollment</h4>

            <div class="form-border">
              <% if @current_plan_year.present? %>
              <dl class="dl-horizontal no-buffer">
                <dt>Plan Year</dt>
                <dd><%= @current_plan_year.start_on.to_date.year %></dd>
                <dt>Plan Year Start</dt>
                <dd><%= format_date @current_plan_year.start_on %></dd>
                <dt>Open Enrollment Period</dt>
                <dd>
                  <%= format_date @current_plan_year.open_enrollment_start_on %> -
                  <%= format_date @current_plan_year.open_enrollment_end_on %>
                </dd>
                <dt>Eligible Employees on Roster</dt>
                <dd><%= @current_plan_year.eligible_to_enroll_count %></dd>
                <dt>Enrolled/Waived Employees</dt>
                <dd><%= @current_plan_year.total_enrolled_count %></dd>
                <dt>Participation Percentage</dt>
                <dd><%=  @current_plan_year.employee_participation_percent %></dd>
              </dl>
              <% else %>
              No Plan Years Found
              <% end %>
            </div>
          </div>

          <div class="row no-buffer top-pd">
            <h4>Broker</h4>

            <div class="form-border">
              <a class="pull-right" aria-controls="employees" data-toggle="tab" id="broker-agency-tab" role="tab" href="#broker_agency">
                <span class="hidden-xs">Broker Agency</span>
                <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agency"></span>
              </a>
              <% if @employer_profile.broker_agency_profile.present? %>
              <dl class="dl-horizontal no-buffer">
                <dt>Agency Name</dt>
                <dd><%= @employer_profile.broker_agency_profile.legal_name %></dd>
                <% if @employer_profile.broker_agency_profile.primary_broker_role.present? %>
                  <dt>Broker Name</dt>
                  <dd><%= @employer_profile.broker_agency_profile.primary_broker_role.person.full_name %></dd>
                  <dt>Contact Phone</dt>
                  <dd><%= @employer_profile.broker_agency_profile.primary_broker_role.person.phones.map(&:to_s).join('/') %></dd>
                  <dt>Email</dt>
                  <dd><a href="mailto:<%= @employer_profile.broker_agency_profile.primary_broker_role.person.emails.first.address %>"><%= @employer_profile.broker_agency_profile.primary_broker_role.person.emails.first.address %></a></dd>
                <% end %>
              </dl>
              <% else %>
                No Active Broker
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4>Premium Billing Report 1/22/2015 - 12/12/2015</h4>
          <div class="form-wrapper">
            <table class="table table-border">
              <tbody>
                <tr>
                  <th>Total Premium:</th>
                  <th>$47,434,34</th>
                </tr>
                <tr>
                  <td>Employee Contributions:</td>
                  <td>$16,434,34</td>
                </tr>
                <tr>
                  <td>Employer Contributions:</td>
                  <td>$12,434,34</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4 no-pd">
              <%= link_to 'GET REPORTS', employers_premium_statement_path, remote: true, class: 'btn btn-primary btn-block btn-br' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>