<div class="container">
  <div class="">
    <div class="profile-content top-pd">
    <span class="flash_message"></span>
      <h2>Assign</h2>
      <%= form_tag(update_assign_broker_agencies_profile_path(id: @broker_agency_profile.id), method: :post, remote: true) do %>
        <div class="row">
          <div class="col-md-6">
            <h3>General Agencies</h3>
            <%= select_tag "general_agency_id", options_from_collection_for_select(@general_agency_profiles, :id, :legal_name), include_blank: 'Select General Agency' %>
            <%= hidden_field_tag :from_assign, true %>
            <%= pundit_span HbxProfile, :modify_admin_tabs? %>
              <%= submit_tag "Assign", class: 'btn btn-primary', id: 'assign_general_agency', disabled: true %>
              <%= submit_tag "Clear Assignment", class: 'btn btn-primary', id: 'unassign_general_agency', disabled: true %>
            </span> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Employers</h3>
            <table class="table">
              <thead>
                <tr>
                  <th><%= check_box_tag '', true, false, id: 'select_all_tag' %></th>
                  <th>HBX Acct</th>
                  <th>Legal Name</th>
                  <th>FEIN</th>
                  <th>EE Ct</th>
                  <th>Enroll Status</th>
                  <th>Assigned Agency</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% @employers.each do |er| %>
                  <tr id="employer_<%= er.id %>">
                    <td><%= check_box_tag "employer_ids[]", er.id, false, class: 'employer_id_checkbox' %></td>
                    <td><%= er.hbx_id %></td>
                    <td><%= link_to er.legal_name, employers_employer_profile_path(er) + "?tab=home" %></td>
                    <td><%= number_to_obscured_fein(er.fein) %></td>
                    <td><%= er.roster_size %></td>
                    <td><%= er.aasm_state.humanize %></td>
                    <td class='general_agency'>
                      <%= er.active_general_agency_account.try(:legal_name) %>
                      &nbsp;
                      <%= pundit_span(HbxProfile, :modify_admin_tabs?) %>
                        <%= link_to 'clear assign', clear_assign_for_employer_broker_agencies_profile_path(id: @broker_agency_profile.id, employer_id: er.id), method: :post, remote: true if er.active_general_agency_account.present? %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row container">
          <div class="col-md-12" id="paginator">
            <%= paginate @employers, :remote => true, :param_name => "employers_page" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
