<div id= 'message_form'></div>
<div id="inbox_provider_form" class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="6"><%= l10n("primary_applicant")%></th>
      </tr>
      <tr>
        <th><%= l10n("name")%></th>
        <th><%= l10n("ssn")%></th>
        <th><%= l10n("dob")%></th>
        <th><%= l10n("hbx_id")%></th>
        <th><%= l10n("family_ct")%></th>
        <th><%= l10n("registered?")%></th>
        <th><%= l10n("consumer?")%></th>
        <th><%= l10n("employee?")%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= table_empty_to_human if families.count == 0 %>
      <% families.each do |family| %>
        <% pp = family.primary_applicant.person %>

        <tr id="family_<%= family.id %>">
          <td >
            <%= link_to pp.full_name, resume_enrollment_exchanges_agents_path(person_id: pp.id), class: 'btn btn-normal'%> <br/>
          </td>
          <td><%= begin; number_to_obscured_ssn(pp.ssn); rescue; end %></td>
          <td><%= format_date(pp.dob) %></td>
          <td><%= pp.hbx_id %></td>
          <td><%= family.active_family_members.size %></td>
          <td><%= pp.user.present? ? "Yes" : "No" %></td>
          <td class='consumer_role_present'><%= pp.consumer_role.present?  ? "Yes" : "No" %></td>
          <td class='employee_role_present'><%= pp.active_employee_roles.present?  ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
