<div class="row">
  <div class="col-md-12">
  <table id="families_dataTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>SSN</th>
          <th>DOB</th>
          <th>HBX ID</th>
          <th>Family Ct</th>
          <th>Registered?</th>
          <th>Consumer?</th>
          <th>Employee?</th>
        </tr>
      </thead>
      <tbody>
        <%= table_empty_to_human if families.count == 0 %>
        <% families.each do |family| %>
        <% pp = family.primary_applicant.person %>

        <tr id="family_<%= family.id %>">
          <td >
            <%= link_to pp.full_name, resume_enrollment_exchanges_agents_path(person_id: pp.id), class: 'btn btn-normal'%> 
          </td>
          <td><%= begin; number_to_obscured_ssn(pp.ssn); rescue; end %></td>
          <td><%= format_date(pp.dob) %></td>
          <td><%= pp.hbx_id %></td>
          <td><%= family.active_family_members.size %></td>
          <td><%= pp.user.present? ? "Yes" : "No" %></td>
          <td class='consumer_role_present'><%= pp.consumer_role.present?  ? "Yes" : "No" %></td>
          <td class='employee_role_present'><%= pp.employee_roles.present?  ? "Yes" : "No" %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
</div>


<style type="text/css">
  table.dataTable.select tbody tr,
  table.dataTable thead th:first-child {
     cursor: pointer;
  }
</style>

<script type="text/javascript">
  // $("#example").dataTable({"iDisplayLength": 10, "bLengthChange": false, "bFilter": false, "bSort": false });
  $("#families_dataTable").DataTable();
</script>






