<%= render 'menu', :active_tab => "home-tab" %>

<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <div id="broker_agency_form" class="container">
        <%= form_for @organization, as: :organization, url: broker_agencies_profile_path(@broker_agency_profile), method: :patch do |f| %>
          <%= f.hidden_field :id %>
          <%= render 'shared/error_messages', :object => @organization %>
          <div class="row">
            <%= render "person_info_fields", f: f %>

            <div class="row">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <h4>Broker Agency Information</h4>
                <div class="row no-buffer row-form-wrapper">
                  <%= render "shared/organizations/entity_name_and_type_fields", f: f, entity_kinds: Organization::ENTITY_KINDS[0..3], readonly: 'readonly' %>
                </div>
                <div class="row no-buffer row-form-wrapper">
                  <div class="col-sm-6 col-xs-12 form-group form-group-lg no-pd">
                    <%= f.text_field :home_page, class: "floatlabel form-control interaction-field-control-broker-home-page", placeholder: 'WEBSITE URL' %>
                  </div>
                </div>
                <div class="row no-buffer row-form-wrapper">
                  <%= render "shared/broker_agency_profile_fields", f: f, read_only_dropdown: 'read_only_dropdown' %>
                </div><br>

                <div class="action-group">
                  <%= render "shared/office_locations", f: f %>
                  <div class="row no-buffer">
                    <button type="submit" class="btn btn-primary pull-right create_broker_agency_btn interaction-click-control-create-broker-agency">Update Broker Agency</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
