<h4> Broker Agencies </h4>

<% if @broker_agency_profiles.present? %>
  <table border = "1" width="900">
    <thead>
      <th>Legal Name</th>
      <th>dba</th>
      <th>Fein</th>
      <th>Entity Kind</th>
      <th>Market Kind</th>
    </thead>
    <% @broker_agency_profiles.each do |broker_agency_profile| %>
      <tbody>
        <td><%= link_to broker_agency_profile.legal_name, broker_agencies_profile_path(broker_agency_profile) %></td>
        <td><%= broker_agency_profile.dba %></td>
        <td><%= broker_agency_profile.fein %></td>
        <td><%= broker_agency_profile.entity_kind %></td>
        <td><%= broker_agency_profile.market_kind %></td>
      </tbody>
    <% end %>
  </table>
<% else %>
  No Broker Agency Profiles found.
<% end %>