<h4> Broker Agency : <%= @broker_agency_profile.legal_name %> </h4>

<table border = "1" width="900">
  <thead>
    <th>Legal Name</th>
    <th>dba</th>
    <th>Fein</th>
    <th>Entity Kind</th>
    <th>Market Kind</th>
  </thead>
  <tbody>
    <td><%= @broker_agency_profile.legal_name %></td>
    <td><%= @broker_agency_profile.dba %></td>
    <td><%= @broker_agency_profile.fein %></td>
    <td><%= @broker_agency_profile.entity_kind %></td>
    <td><%= @broker_agency_profile.market_kind %></td>
  </tbody>
</table>

<%= render "broker_agency_contacts", broker_agency_contacts: @broker_agency_profile.broker_agency_contacts %>
<%= render "office_locations", office_locations: @broker_agency_profile.organization.office_locations %>