<style type="text/css">
  
</style>

<div class="container" id="employer_applications_table">
  <div class = "table-responsive table-override"> 
  <h4 class="text-center heading-text"> <%= l10n("exchange.employer_applications.applications").titleize %> </h4>
  <% benefit_applications = @benefit_sponsorship.benefit_applications %>
  <% if benefit_applications.present? %>
    <table class="table">
      <thead>
        <tr>
         <th></th>
         <th><%= l10n("exchange.employer_applications.start_date")%></th>
         <th><%= l10n("exchange.employer_applications.end_date")%></th>
         <th><%= l10n("exchange.employer_applications.oe_start")%></th>
         <th><%= l10n("exchange.employer_applications.oe_end")%></th>
         <th><%= l10n("exchange.employer_applications.created_on")%></th>
         <th><%= l10n("exchange.employer_applications.terminated_on")%></th>
         <th><%= l10n("exchange.employer_applications.status")%></th>
         <th></th>
        </tr>
      </thead>
      <tbody>
        <% benefit_applications.order('start_on DESC').each do |application| %>
          <tr>
            <td class="py-status"><%= radio_button_tag 'plan_year_radio', application.id, false, status: application.aasm_state.to_s  %></td>
            <td><%= (application.start_on.to_date) %></td>
            <td><%= (application.end_on.to_date) %></td>
            <td><%= (application.open_enrollment_period.begin.to_date) %></td>
            <td><%= (application.open_enrollment_period.end.to_date) %></td>
            <td><%= (application.created_at.to_datetime) %></td>
            <td><%= (application.terminated_on.to_datetime) if application.terminated_on.present? %></td>
            <td><%= benefit_application_summarized_state(application) %></td>
            <td colspan="1">
              <div class="btn-group" id="plan-year-btn-group">
                <button type="button" class="btn btn-default dropdown-toggle disabled py-btn-grp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="padding:10px">
                    <li onclick="pyAction('cancel','<%= application.id %>', '<%= @benefit_sponsorship.id %>', '0', '<%= application.start_on.to_date.to_s %>')" class="cancel-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.cancel") %></li>
                    <li onclick="pyAction('terminate','<%= application.id %>', '<%= @benefit_sponsorship.id %>', '0', '<%= application.start_on.to_date.to_s %>')" class="terminate-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.terminate") %></li>
                    <!-- <li onclick="pyAction('reinstate', '<%= application.id %>', '<%= @benefit_sponsorship.id %>', '<%= application.terminated_on %>', '')" class="reinstate-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.reinstate") %></li> -->
                </ul>
              </div>
              
            </td>
          </tr>
          <% @reasons = BenefitSponsors::BenefitApplications::BenefitApplication::VOLUNTARY_TERM_REASONS %>
          <tr id="<%= application.id %>" class="plan-year-actions hidden">
            <td colspan="2">
              <div class="term_action_radios hidden">
                <%= radio_button_tag 'term_actions', 'voluntary', true, onclick: "addTermReasons(this, '#{application.id}')" %> <%= l10n("exchange.employer_applications.voluntary_term") %> <br />
                <%= radio_button_tag 'term_actions', 'nonpayment',nil, onclick: "addTermReasons(this, '#{application.id}')" %> <%= l10n("exchange.employer_applications.non_payment_term") %>
              </div>
            </td>
            <td colspan="2">
              <div class="term_action_radios hidden">
                <%= select_tag "term_reason_#{application.id}", options_for_select(@reasons), onchange: "validateFormat('#{application.id}', '#{TimeKeeper.format_date(application.start_on)}', '#{TimeKeeper.format_date(application.end_on + 1.day)}')", include_blank: l10n("exchange.employer_applications.select_term_reason") %>
              </div>
            </td>
            <td colspan="2">
              <input type="text" class="uidatepicker form-control date py-end-date" style="width:120px" placeholder="Select Term Date" id="date_picker_<%= application.id %>" onchange="validateFormat('<%= application.id %>', '<%= TimeKeeper.format_date(application.start_on) %>', '<%= TimeKeeper.format_date(application.end_on + 1.day) %>')"> <span class="glyphicon glyphicon-calendar" id="calendar_icon" style="font-size:1.5em" aria-hidden="true" ></span>
            </td>
            <td colspan="2">
              <%= check_box_tag 'transmit_to_carrier', 'transmit_to_carrier', true, disabled: true  %> <%= l10n("exchange.employer_applications.transmit_to_carrier") %>
            </td>
            <td colspan="1">
              <button class="btn btn-primary btn-sm plan-year-submit" onclick="submitPlanActions()"><%= l10n("exchange.employer_applications.submit") %></button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2><%= l10n("exchange.employer_applications.no_valid_pys") %> <%= @benefit_sponsorship.profile.legal_name.titleize %></h2>
  <% end %>
</div>

<div class="attestation_form"></div>
</div>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
  jQuery('.buttons-csv').hide()
  jQuery('.buttons-excel').hide()
  function printDoc(id){
    var window_obj=window.open();
    window_obj.document.write($('#print_'+id).html());
    window_obj.print();
    window_obj.close();
  }
</script>