<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IVL Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

<script type="text/javascript">
$(function () {
    Highcharts.setOptions({ lang: { thousandsSep: ',' }});
    $('#barYr1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            height: 185
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
                'Jan',
                'Feb'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            <%@totalaccounts.each do |chart|%>
            name: 'Account',
            data: [<%=chart.account_one%>,<%=chart.account_two%>, <%=chart.account_three%>, <%=chart.account_four%>, <%=chart.account_five%>, <%=chart.account_six%>, <%=chart.account_seven%>, <%=chart.account_eight%>, <%=chart.account_nine%>, <%=chart.account_ten%>, <%=chart.account_eleven%>, <%=chart.account_twelve%>]

        }, {
            name: 'Enrolled',
            data: [<%=chart.enrolled_one%>, <%=chart.enrolled_two%>, <%=chart.enrolled_three%>, <%=chart.enrolled_four%>, <%=chart.enrolled_five%>, <%=chart.enrolled_six%>, <%=chart.enrolled_seven%>, <%=chart.enrolled_eight%>, <%=chart.enrolled_nine%>, <%=chart.enrolled_ten%>, <%=chart.enrolled_eleven%>, <%=chart.enrolled_twelve%>]
            <%end%>

        }]
    });
});
        </script>
<script type="text/javascript">
$(function () {
    $('#web1').highcharts({
        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },
        yAxis: {
            categories: ['Page Views'],
            title: null
        },
        colorAxis: {
            min: 6,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },
         legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> thousand <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },
        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 9.1], [1, 0, 6.9], [2, 0, 8], [3, 0, 8.1], [4, 0, 7.4], [5, 0, 8.1], [6, 0, 7.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]
    });
});
        </script>

<script type="text/javascript">
$(function () {
    $('#lineT1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'line',
            height: 190
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: ['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            <%@covered_lives.each do |covered|%>
            name: 'Cancel',
            data: [<%=covered.cancel_one%>, <%=covered.cancel_two%>, <%=covered.cancel_three%>, <%=covered.cancel_four%>, <%=covered.cancel_five%>, <%=covered.cancel_six%>, <%=covered.cancel_seven%>, <%=covered.cancel_eight%>, <%=covered.cancel_nine%>, <%=covered.cancel_ten%>, <%=covered.cancel_eleven%>, <%=covered.cancel_twelve%>]
        }, {
            name: 'Term',
            data: [<%=covered.terminations_one%>, <%=covered.terminations_two%>, <%=covered.terminations_three%>, <%=covered.terminations_four%>, <%=covered.terminations_five%>, <%=covered.terminations_six%>, <%=covered.terminations_seven%>, <%=covered.terminations_eight%>, <%=covered.terminations_nine%>, <%=covered.terminations_ten%>, <%=covered.terminations_eleven%>, <%=covered.terminations_twelve%>]
        }, {
            name: 'Reinstate',
            data: [<%=covered.reinstatements_one%>, <%=covered.reinstatements_two%>, <%=covered.reinstatements_three%>, <%=covered.reinstatements_four%>, <%=covered.reinstatements_five%>, <%=covered.reinstatements_six%>, <%=covered.reinstatements_seven%>, <%=covered.reinstatements_eight%>, <%=covered.reinstatements_nine%>, <%=covered.reinstatements_ten%>, <%=covered.reinstatements_eleven%>, <%=covered.reinstatements_twelve%>]
        }]
        <%end%>
    });
});
        </script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="container-fluid" style="margin: 5px;"> 
<ul class="nav nav-pills">
 <li class="active"><a href="ivl_index.htm" data-toggle="tab">IVL Covered Lives</a></li>
 <li><a href="ivl_policy.htm" data-toggle="tab">IVL Policies</a></li>
 <li><a href="shop_lives.htm">SHOP Covered Lives</a></li>
 <li><a href="shop_policy.htm">SHOP Policies</a></li>
</ul>

<div class="row row-content">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
 <div class="panel-body"><b>Total Coverage - 25,224 <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
 <div class="panel-body"><b>New Coverage YTD - 7,834 <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
 <div class="panel-body"><b>Terminations YTD - 1,980 <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -12% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
 <div class="panel-body"><b>Cancellations YTD - 1,350 <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -10% YoY</div>
</div>
</div>
</div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <h4>Individual Market Covered Lives</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Enrollment Type</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
    </thead>
    <tbody>
    <%@annual_enrollments.each do |annual|%>
      <tr>
      
        <td class="texLef">Auto Renewals</td>
        <td><%=annual.auto_renewals_count%></td>
        <td><%=annual.auto_renewals_share%>%</td>
        <td><%=annual.auto_renewals_yoy%>%</td>     
      </tr>
      <tr>
        <td class="texLef">Active Renewals</td>
        <td><%=annual.active_renewals_count%></td>
        <td><%=annual.active_renewals_share%>%</td>
        <td><%=annual.active_renewals_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">New Customers</td>
        <td><%=annual.new_customers_count%></td>
        <td><%=annual.new_customers_share%>%</td>
        <td><%=annual.new_customers_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td><%=annual.sep_count%></td>
        <td><%=annual.sep_share%>%</td>
        <td><%=annual.sep_yoy%>%</td>
      </tr>
      <%end%>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
      <%@annual_carriers.each do |carrier|%>
        <th class="texLef">Carrier</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef"><%=carrier.carrier_first_name%></td>
        <td><%=carrier.carrier_first_count%></td>
        <td><%=carrier.carrier_first_share%>%</td>
        <td><%=carrier.carrier_first_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef"><%=carrier.carrier_secondName%></td>
        <td><%=carrier.carrier_second_count%></td>
        <td><%=carrier.carrier_second_share%>%</td>
        <td><%=carrier.carrier_second_yoy%>%</td>
      </tr>
      <%end%>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Metal</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td>3,337</td>
        <td>16%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td>4,277</td>
        <td>20%</td>
        <td>-15%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td>6,333</td>
        <td>30%</td>
        <td>-7%</td>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td>5,854</td>
        <td>28%</td>
        <td>8%</td>
      </tr>
      <tr>
        <td class="texLef">Catastrophic</td>
        <td>1,465</td>
        <td>7%</td>
        <td>9%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
      <%@annual_status.each do |status|%>
        <th class="texLef">Status</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Primary</td>
        <td><%=status.primary_count%></td>
        <td><%=status.primary_share%>%</td>
        <td><%=status.primary_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">Dependent</td>
        <td><%=status.dependent_count%></td>
        <td><%=status.dependent_share%>%</td>
        <td><%=status.dependent_yoy%>%</td>
        <%end%>
      </tr>
 
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
      <%@age_groups.each do |age|%>
        <th class="texLef">Age Group</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">< 1</td>
        <td><%=age.zero_count%></td>
        <td><%=age.zero_share%>%</td>
        <td><%=age.zero_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">1-17</td>
        <td><%=age.one_count%></td>
        <td><%=age.one_share%>%</td>
        <td><%=age.one_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">18-25</td>
        <td><%=age.eighteen_count%></td>
        <td><%=age.eighteen_share%>%</td>
        <td><%=age.eighteen_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">26-34</td>
        <td><%=age.twentysix_count%></td>
        <td><%=age.twentysix_share%>%</td>
        <td><%=age.twentysix_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">35-44</td>
        <td><%=age.thirtyfive_count%></td>
        <td><%=age.thirtyfive_share%>%</td>
        <td><%=age.thirtyfive_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">45-54</td>
        <td><%=age.fortyfive_count%></td>
        <td><%=age.fortyfive_share%>%</td>
        <td><%=age.fortyfive_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">55-64</td>
        <td><%=age.fiftyfive_count%></td>
        <td><%=age.fiftyfive_share%>%</td>
        <td><%=age.fiftyfive_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">65+</td>
        <td><%=age.sixtyfive_count%></td>
        <td><%=age.sixtyfive_share%>%</td>
        <td><%=age.sixtyfive_yoy%>%</td>
        <%end%>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
      <%@over_all_aptc.each do |aptc|%>
        <th class="texLef">APTC</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Yes</td>
        <td><%=aptc.yes_count%></td>
        <td><%=aptc.yes_share%>%</td>
        <td><%=aptc.yes_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">No</td>
        <td><%=aptc.no_count%></td>
        <td><%=aptc.no_share%>%</td>
        <td><%=aptc.no_yoy%>%</td>
        <%end%>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
      <%@overall_genders.each do |gender|%>
        <th class="texLef">Gender</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Male</td>
        <td><%=gender.male_count%></td>
        <td><%=gender.male_share%>%</td>
        <td><%=gender.male_yoy%>%</td>
      </tr>
      <tr>
        <td class="texLef">Female</td>
        <td><%=gender.female_count%></td>
        <td><%=gender.female_share%>%</td>
        <td><%=gender.female_yoy%>%</td>
      </tr>
      <%end%>
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h4>New DC Health Link Accounts and Covered Lives by Start Month</h4>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h4>Enrollments by Type - 3/1/2016 to 2/28/2017</h4>
    <table class="table table-hover table-condensed">
    <%@enrollments.each do |enroll|%>
    <thead>
      <tr>
        <th class="texLef">Enrollment</th>
        <th><%=enroll.month_one%></th>
        <th><%=enroll.month_two%></th>
        <th><%=enroll.month_three%></th>
        <th><%=enroll.month_four%></th>
        <th><%=enroll.month_five%></th>
        <th><%=enroll.month_six%></th>
        <th><%=enroll.month_seven%></th>
        <th><%=enroll.month_eight%></th>
        <th><%=enroll.month_nine%></th>
        <th><%=enroll.month_ten%></th>
        <th><%=enroll.month_eleven%></th>
        <th><%=enroll.month_twelve%></th>
        <th>Total</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Auto Renew</td>
        <td><%=enroll.auto_renew_one%></td>
        <td><%=enroll.auto_renew_two%></td>
        <td><%=enroll.auto_renew_three%></td>
        <td><%=enroll.auto_renew_four%></td>
        <td><%=enroll.auto_renew_five%></td>
        <td><%=enroll.auto_renew_six%></td>
        <td><%=enroll.auto_renew_seven%></td>
        <td><%=enroll.auto_renew_eight%></td>
        <td><%=enroll.auto_renew_nine%></td>
        <td><%=enroll.auto_renew_ten%></td>
        <td><%=enroll.auto_renew_eleven%></td>
        <td><%=enroll.auto_renew_twelve%></td>
        <td><%=enroll.auto_renew_total%></td>
        <td><%=enroll.auto_renew_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renew</td> 
        <td><%=enroll.active_renew_one%></td>
        <td><%=enroll.active_renew_two%></td>
        <td><%=enroll.active_renew_three%></td>
        <td><%=enroll.active_renew_four%></td>
        <td><%=enroll.active_renew_five%></td>
        <td><%=enroll.active_renew_six%></td>
        <td><%=enroll.active_renew_seven%></td>
        <td><%=enroll.active_renew_eight%></td>
        <td><%=enroll.active_renew_nine%></td>
        <td><%=enroll.active_renew_ten%></td>
        <td><%=enroll.active_renew_eleven%></td>
        <td><%=enroll.active_renew_twelve%></td>
        <td><%=enroll.active_renew_total%></td>
        <td><%=enroll.active_renew_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">New Customer</td>
        <td><%=enroll.newCustomer_one%></td>
        <td><%=enroll.newCustomer_two%></td>
        <td><%=enroll.newCustomer_three%></td>
        <td><%=enroll.newCustomer_four%></td>
        <td><%=enroll.newCustomer_five%></td>
        <td><%=enroll.newCustomer_six%></td>
        <td><%=enroll.newCustomer_seven%></td>
        <td><%=enroll.newCustomer_eight%></td>
        <td><%=enroll.newCustomer_nine%></td>
        <td><%=enroll.newCustomer_ten%></td>
        <td><%=enroll.newCustomer_eleven%></td>
        <td><%=enroll.newCustomer_twelve%></td>
        <td><%=enroll.newCustomer_total%></td>
        <td><%=enroll.newCustomer_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td><%=enroll.sep_one%></td>
        <td><%=enroll.sep_two%></td>
        <td><%=enroll.sep_three%></td>
        <td><%=enroll.sep_four%></td>
        <td><%=enroll.sep_five%></td>
        <td><%=enroll.sep_six%></td>
        <td><%=enroll.sep_seven%></td>
        <td><%=enroll.sep_eight%></td>
        <td><%=enroll.sep_nine%></td>
        <td><%=enroll.sep_ten%></td>
        <td><%=enroll.sep_eleven%></td>
        <td><%=enroll.sep_twelve%></td>
        <td><%=enroll.sep_total%></td>
        <td><%=enroll.sep_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Total</td>
        <td><%=enroll.total_one%></td>
        <td><%=enroll.total_two%></td>
        <td><%=enroll.total_three%></td>
        <td><%=enroll.total_four%></td>
        <td><%=enroll.total_five%></td>
        <td><%=enroll.total_six%></td>
        <td><%=enroll.total_seven%></td>
        <td><%=enroll.total_eight%></td>
        <td><%=enroll.total_nine%></td>
        <td><%=enroll.total_ten%></td>
        <td><%=enroll.total_eleven%></td>
        <td><%=enroll.total_twelve%></td>
        <td><%=enroll.total_total%></td>
        <td><%=enroll.total_share%>%</td>
      </tr>
    </tbody>
    <%end%>
    </table>

<h4>SEPs by Type - 3/1/2016 to 2/28/2017</h4>
    <table class="table table-hover table-condensed">
    <%@seps.each do |s|%>
    <thead>
      <tr>
        <th class="texLef">SEP</th>
        <th><%=s.month_one.to_i%></th>
        <th><%=s.month_two%></th>
        <th><%=s.month_three%></th>
        <th><%=s.month_four%></th>
        <th><%=s.month_five%></th>
        <th><%=s.month_six%></th>
        <th><%=s.month_seven%></th>
        <th><%=s.month_eight%></th>
        <th><%=s.month_nine%></th>
        <th><%=s.month_ten%></th>
        <th><%=s.month_eleven%></th>
        <th><%=s.month_twelve%></th>
        <th>Total</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Lost Coverage</td>
        <td><%=s.lost_coverage_one.to_i%></td>
        <td><%=s.lost_coverage_two%></td>
        <td><%=s.lost_coverage_three%></td>
        <td><%=s.lost_coverage_four%></td>
        <td><%=s.lost_coverage_five%></td>
        <td><%=s.lost_coverage_six%></td>
        <td><%=s.lost_coverage_seven%></td>
        <td><%=s.lost_coverage_eight%></td>
        <td><%=s.lost_coverage_nine%></td>
        <td><%=s.lost_coverage_ten%></td>
        <td><%=s.lost_coverage_eleven%></td>
        <td><%=s.lost_coverage_twelve%></td>
        <td><%=s.lost_coverage_total%></td>
        <td><%=s.lost_coverage_share%></td>
      </tr>
      <tr>
        <td class="texLef">Birth</td>
        <td><%=s.birth_one%></td>
        <td><%=s.birth_two%></td>
        <td><%=s.birth_three%></td>
        <td><%=s.birth_four%></td>
        <td><%=s.birth_five%></td>
        <td><%=s.birth_six%></td>
        <td><%=s.birth_seven%></td>
        <td><%=s.birth_eight%></td>
        <td><%=s.birth_nine%></td>
        <td><%=s.birth_ten%></td>
        <td><%=s.birth_eleven%></td>
        <td><%=s.birth_twelve%></td>
        <td><%=s.birth_total%></td>
        <td><%=s.birth_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Citizenship</td>
        <td><%=s.citizenship_one%></td>
        <td><%=s.citizenship_two%></td>
        <td><%=s.citizenship_three%></td>
        <td><%=s.citizenship_four%></td>
        <td><%=s.citizenship_five%></td>
        <td><%=s.citizenship_six%></td>
        <td><%=s.citizenship_seven%></td>
        <td><%=s.citizenship_eight%></td>
        <td><%=s.citizenship_nine%></td>
        <td><%=s.citizenship_ten%></td>
        <td><%=s.citizenship_eleven%></td>
        <td><%=s.citizenship_twelve%></td>
        <td><%=s.citizenship_total%></td>
        <td><%=s.citizenship_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Relocation</td>
        <td><%=s.relocation_one%></td>
        <td><%=s.relocation_two%></td>
        <td><%=s.relocation_three%></td>
        <td><%=s.relocation_four%></td>
        <td><%=s.relocation_five%></td>
        <td><%=s.relocation_six%></td>
        <td><%=s.relocation_seven%></td>
        <td><%=s.relocation_eight%></td>
        <td><%=s.relocation_nine%></td>
        <td><%=s.relocation_ten%></td>
        <td><%=s.relocation_eleven%></td>
        <td><%=s.relocation_twelve%></td>
        <td><%=s.relocation_total%></td>
        <td><%=s.relocation_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Other</td>
        <td><%=s.other_one%></td>
        <td><%=s.other_two%></td>
        <td><%=s.other_three%></td>
        <td><%=s.other_four%></td>
        <td><%=s.other_five%></td>
        <td><%=s.other_six%></td>
        <td><%=s.other_seven%></td>
        <td><%=s.other_eight%></td>
        <td><%=s.other_nine%></td>
        <td><%=s.other_ten%></td>
        <td><%=s.other_eleven%></td>
        <td><%=s.other_twelve%></td>
        <td><%=s.other_total%></td>
        <td><%=s.other_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Total</td>
        <td><%=s.total_one%></td>
        <td><%=s.total_two%></td>
        <td><%=s.total_three%></td>
        <td><%=s.total_four%></td>
        <td><%=s.total_five%></td>
        <td><%=s.total_six%></td>
        <td><%=s.total_seven%></td>
        <td><%=s.total_eight%></td>
        <td><%=s.total_nine%></td>
        <td><%=s.total_ten%></td>
        <td><%=s.total_eleven%></td>
        <td><%=s.total_twelve%></td>
        <td><%=s.total_total%></td>
        <td><%=s.total_share%>%</td>
      </tr>
    </tbody>
    <%end%>
    </table>

 <h4>Discontinued or Reinstated Covered Lives - 3/1/2016 to 2/28/2017</h4>
 <div id="lineT1" style="min-width: 310px; height: 195px; margin: 0 auto"></div>

    </div>
    </div>


    </body>
</html>