<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IVL Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

<script type="text/javascript">
    $(function () {
    Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr1').highcharts({
            chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            name: '2016',
            data: [17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000]

        }, {
            name: '2017',
            data: [22000, 22000, 22000, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });
    });
</script>
<script type="text/javascript">
$(function () {
    $('#web1').highcharts({
        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },
        yAxis: {
            categories: ['Page Views'],
            title: null
        },
        colorAxis: {
            min: 6,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },
         legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> thousand <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },
        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 9.1], [1, 0, 6.9], [2, 0, 8], [3, 0, 8.1], [4, 0, 7.4], [5, 0, 8.1], [6, 0, 7.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]
    });
});
        </script>

<script type="text/javascript">
    $(function () {
    $('#lineT1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'line',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cancel',
            data: [750, 855, 402, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Term',
            data: [981, 1042, 699, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Reinstate',
            data: [24, 13, 18, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            }]
        });
    });
</script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="module">
<div class="container-fluid ivl_dashboards" style="margin: 5px;"> 

<ul class="nav nav-pills">
  <li class="active"><a href="ivl_lives.htm" data-toggle="tab">IVL Covered Lives</a></li>
  <li><a href="ivl_policy.htm" data-toggle="tab">IVL Policies</a></li>
  <li><a href="shop_main.htm">SHOP</a></li>
  <li><a href="cong_main.htm">Congress</a></li>
</ul>

<div class="row row-content">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>25,224 Total Covered <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>7,834 New Coverage YTD <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>1,980 Terminations YTD <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -12% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>1,350 Cancellations YTD <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -10% MoM</div>
</div>
</div>
        
</div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed">
    <tbody>
    <tr class="tabSpc1">
        <td class="texLef" colspan="4">Covered Lives <a href="ivl_dd_live1.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <% @annual_enrollments.each do |enrollment| %>
        <th class="texLef">Enrollment</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Auto Renewals</td>
        <td><%= enrollment.auto_renewals_select %></td>
        <td><%= enrollment.auto_renewals_effectuate %></td>
        <td><%= enrollment.auto_renewals_paying %></td>
        <td><%= (enrollment.auto_renewals_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renewals</td>
        <td><%= enrollment.active_renewals_select %></td>
        <td><%= enrollment.active_renewals_effectuate %></td>
        <td><%= enrollment.active_renewals_paying %></td>
        <td><%= (enrollment.active_renewals_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">New Customers</td>
        <td><%= enrollment.new_customers_select %></td>
        <td><%= enrollment.new_customers_effectuate %></td>
        <td><%= enrollment.new_customers_paying %></td>
        <td><%= (enrollment.new_customers_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td><%= enrollment.sep_select %></td>
        <td><%= enrollment.sep_effectuate %></td>
        <td><%= enrollment.sep_paying %></td>
        <td><%= (enrollment.sep_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Coverage <a href="ivl_dd_live2.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
      <% @annual_carriers.each do |carrier| %>
        <th class="texLef">Carrier</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef"><%= carrier.carrier_first_name %></td>
        <td><%= carrier.carrier_first_select %></td>
        <td><%= carrier.carrier_first_effectuate %></td>
        <td><%= carrier.carrier_first_paying %></td>
        <td><%= (carrier.carrier_first_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef"><%= carrier.carrier_second_name %></td>
        <td><%= carrier.carrier_second_select %></td>
        <td><%= carrier.carrier_second_effectuate %></td>
        <td><%= carrier.carrier_second_paying %></td>
        <td><%= (carrier.carrier_second_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Metal</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20%</td>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20%</td>
      </tr>
      <tr>
        <td class="texLef">Catastrophic</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Demographic <a href="ivl_dd_live3.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Status</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Primary</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>50%</td>
      </tr>
      <tr>
        <td class="texLef">Dependent</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>50%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Age Group</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">< 1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">1-17</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">18-25</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">26-34</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">35-44</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">45-54</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">55-64</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">65+</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Gender</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Male</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>50%</td>
      </tr>
      <tr>
        <td class="texLef">Female</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>50%</td>
      </tr>
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h5>Active Covered Lives</h5>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h5>Covered Lives by Effective Month</h5>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Enrollment</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Selected</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="texLef">Effectuated</td> 
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="texLef">Effectuation %</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="texLef">Paying</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="texLef">Terminated</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="texLef">Canceled</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
    </table>

 <h5>Discontinued or Reinstated Covered Lives by Transaction Month</h5>
 <div id="lineT1" style="min-width: 310px; height: 195px; margin: 0 auto"></div>

    </div>
    </div>

    </body>
</html>