<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IVL Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
<style>
body {
    background-color: white;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}
h4{ 
    background-color: #F0F0F0;
}
td, th {
    text-align: right;

}
.panel {
    text-align: center;
    border: 0px ;
    margin-top: 0; 
    margin-bottom: 0; 
    padding-top: 0; 
    padding-bottom:0;
}
.texLef{
    text-align: left;
}

.vert1 {
    border-left: 1px solid #000000;
}

.row.vertical-divider > div[class^="td"] {
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.row.vertical-divider div[class^="td"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="td"]:last-child {
  border-right: none;
}
}
section {
  clear: left;
}

</style>
<script type="text/javascript">
$(function () {
    Highcharts.setOptions({ lang: { thousandsSep: ',' }});
    $('#barYr1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            height: 185
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
                'Jan',
                'Feb'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            name: 'Account',
            data: [60, 50, 554, 658, 642, 724, 661, 222, 26, 3140, 1602, 1776]

        }, {
            name: 'Enrolled',
            data: [57, 46, 547, 647, 634, 712, 650, 216, 21, 3050, 1551, 1683]

        }]
    });
});
        </script>
<script type="text/javascript">
$(function () {
    $('#web1').highcharts({
        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },
        yAxis: {
            categories: ['Page Views'],
            title: null
        },
        colorAxis: {
            min: 6,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },
         legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> thousand <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },
        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 9.1], [1, 0, 6.9], [2, 0, 8], [3, 0, 8.1], [4, 0, 7.4], [5, 0, 8.1], [6, 0, 7.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]
    });
});
        </script>

<script type="text/javascript">
$(function () {
    $('#lineT1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'line',
            height: 190
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: ['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cancel',
            data: [114, 162, 155, 161, 165, 163, 155, 132, 121, 145, 120, 135]
        }, {
            name: 'Term',
            data: [225, 261, 214, 253, 243, 228, 264, 239, 218, 345, 120, 162]
        }, {
            name: 'Reinstate',
            data: [15, 11, 16, 13, 13, 18, 14, 10, 18, 20, 262, 14]
        }]
    });
});
        </script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="container-fluid" style="margin: 5px;"> 

<div class="row row-content">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body">2017 Covered Lives<br><b>Total - 25,224 <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body">2017 Covered Lives<br><b>New - 7,834 <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body">2017 Covered Lives<br><b>Terminations - 1,980 <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -12% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body">2017 Covered Lives<br><b>Cancellations - 1,350 <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -10% YoY</div>
</div>
</div>
</div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <h4>Individual Market Covered Lives</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Enrollment Type</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Auto Renewals</td>
        <td>12,239</td>
        <td>49%</td>
        <td>-4%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renewals</td>
        <td>2,971</td>
        <td>12%</td>
        <td>9%</td>
      </tr>
      <tr>
        <td class="texLef">New Customers</td>
        <td>6,484</td>
        <td>26%</td>
        <td>21%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td>3,530</td>
        <td>14%</td>
        <td>7%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <th class="texLef">Carrier</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">CareFirst</td>
        <td>16,315</td>
        <td>81%</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">Kaiser</td>
        <td>3,815</td>
        <td>19%</td>
        <td>0%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Metal</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td>3,337</td>
        <td>16%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td>4,277</td>
        <td>20%</td>
        <td>-15%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td>6,333</td>
        <td>30%</td>
        <td>-7%</td>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td>5,854</td>
        <td>28%</td>
        <td>8%</td>
      </tr>
      <tr>
        <td class="texLef">Catastrophic</td>
        <td>1,465</td>
        <td>7%</td>
        <td>9%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Status</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Primary</td>
        <td>19,850</td>
        <td>82%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td class="texLef">Dependent</td>
        <td>2,445</td>
        <td>18%</td>
        <td>-10%</td>
      </tr>
 
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Age Group</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">< 1</td>
        <td>300</td>
        <td>1%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td class="texLef">1-17</td>
        <td>1,201</td>
        <td>6%</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">18-25</td>
        <td>1,452</td>
        <td>7%</td>
        <td>16%</td>
      </tr>
      <tr>
        <td class="texLef">26-34</td>
        <td>8,591</td>
        <td>39%</td>
        <td>-7%</td>
      </tr>
      <tr>
        <td class="texLef">35-44</td>
        <td>4,588</td>
        <td>21%</td>
        <td>8%</td>
      </tr>
      <tr>
        <td class="texLef">45-54</td>
        <td>3,081</td>
        <td>14%</td>
        <td>9%</td>
      </tr>
      <tr>
        <td class="texLef">55-64</td>
        <td>2,766</td>
        <td>12%</td>
        <td>2%</td>
      </tr>
      <tr>
        <td class="texLef">65+</td>
        <td>193</td>
        <td>1%</td>
        <td>-11%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">APTC</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Yes</td>
        <td>1,465</td>
        <td>7%</td>
        <td>10%</td>
      </tr>
      <tr>
        <td class="texLef">No</td>
        <td>18,553</td>
        <td>93%</td>
        <td>-2%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">Gender</th>
        <th>#</th>
        <th>%</th>
        <th>YoY</th>
      </tr>
      <tr>
        <td class="texLef">Male</td>
        <td>10,515</td>
        <td>48%</td>
        <td>-2%</td>
      </tr>
      <tr>
        <td class="texLef">Female</td>
        <td>11,371</td>
        <td>52%</td>
        <td>2%</td>
      </tr>
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h4>New DC Health Link Accounts and Covered Lives by Start Month</h4>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h4>Enrollments by Type - 3/1/2016 to 2/28/2017</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Enrollment</th>
        <th>Mar 16</th>
        <th>Apr 16</th>
        <th>May 16</th>
        <th>Jun 16</th>
        <th>Jul 16</th>
        <th>Aug 16</th>
        <th>Sep 16</th>
        <th>Oct 16</th>
        <th>Nov 16</th>
        <th>Dec 16</th>
        <th>Jan 17</th>
        <th>Feb 17</th>
        <th>Total</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Auto Renew</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>12,239</td>
        <td>0</td>
        <td>12,239</td>
        <td>49%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renew</td> 
        M
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>2,246</td>
        <td>371</td>
        <td>354</td>
        <td>2,971</td>
        <td>12%</td>
      </tr>
      <tr>
        <td class="texLef">New Customer</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>3,250</td>
        <td>1,551</td>
        <td>1,683</td>
        <td>6,484</td>
        <td>26%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td>57</td>
        <td>46</td>
        <td>547</td>
        <td>647</td>
        <td>634</td>
        <td>712</td>
        <td>650</td>
        <td>216</td>
        <td>21</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>3,530</td>
        <td>14%</td>
      </tr>
      <tr>
        <td class="texLef">Total</td>
        <td>57</td>
        <td>46</td>
        <td>547</td>
        <td>647</td>
        <td>634</td>
        <td>712</td>
        <td>650</td>
        <td>216</td>
        <td>21</td>
        <td>5,496</td>
        <td>14,161</td>
        <td>2,037</td>
        <td>25,224</td>
        <td>100%</td>
      </tr>
    </tbody>
    </table>

<h4>SEPs by Type - 3/1/2016 to 2/28/2017</h4>
    <table class="table table-hover table-condensed">
    <%@seps.each do |s|%>
    <thead>
      <tr>
        <th class="texLef">SEP</th>
        <th><%=s.month_one.to_i%></th>
        <th><%=s.month_two%></th>
        <th><%=s.month_three%></th>
        <th><%=s.month_four%></th>
        <th><%=s.month_five%></th>
        <th><%=s.month_six%></th>
        <th><%=s.month_seven%></th>
        <th><%=s.month_eight%></th>
        <th><%=s.month_nine%></th>
        <th><%=s.month_ten%></th>
        <th><%=s.month_eleven%></th>
        <th><%=s.month_twelve%></th>
        <th>Total</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Lost Coverage</td>
        <td><%=s.lost_coverage_one.to_i%></td>
        <td><%=s.lost_coverage_two%></td>
        <td><%=s.lost_coverage_three%></td>
        <td><%=s.lost_coverage_four%></td>
        <td><%=s.lost_coverage_five%></td>
        <td><%=s.lost_coverage_six%></td>
        <td><%=s.lost_coverage_seven%></td>
        <td><%=s.lost_coverage_eight%></td>
        <td><%=s.lost_coverage_nine%></td>
        <td><%=s.lost_coverage_ten%></td>
        <td><%=s.lost_coverage_eleven%></td>
        <td><%=s.lost_coverage_twelve%></td>
        <td><%=s.lost_coverage_total%></td>
        <td><%=s.lost_coverage_share%></td>
      </tr>
      <tr>
        <td class="texLef">Birth</td>
        <td><%=s.birth_one%></td>
        <td><%=s.birth_two%></td>
        <td><%=s.birth_three%></td>
        <td><%=s.birth_four%></td>
        <td><%=s.birth_five%></td>
        <td><%=s.birth_six%></td>
        <td><%=s.birth_seven%></td>
        <td><%=s.birth_eight%></td>
        <td><%=s.birth_nine%></td>
        <td><%=s.birth_ten%></td>
        <td><%=s.birth_eleven%></td>birth_total
        <td><%=s.birth_twelve%></td>
        <td><%=s.birth_total%></td>
        <td><%=s.birth_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Citizenship</td>
        <td><%=s.citizenship_one%></td>
        <td><%=s.citizenship_two%></td>
        <td><%=s.citizenship_three%></td>
        <td><%=s.citizenship_four%></td>
        <td><%=s.citizenship_five%></td>
        <td><%=s.citizenship_six%></td>
        <td><%=s.citizenship_seven%></td>
        <td><%=s.citizenship_eight%></td>
        <td><%=s.citizenship_nine%></td>
        <td><%=s.citizenship_ten%></td>
        <td><%=s.citizenship_eleven%></td>
        <td><%=s.citizenship_twelve%></td>
        <td><%=s.citizenship_total%></td>
        <td><%=s.citizenship_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Relocation</td>
        <td><%=s.relocation_one%></td>
        <td><%=s.relocation_two%></td>
        <td><%=s.relocation_three%></td>
        <td><%=s.relocation_four%></td>
        <td><%=s.relocation_five%></td>
        <td><%=s.relocation_six%></td>
        <td><%=s.relocation_seven%></td>
        <td><%=s.relocation_eight%></td>
        <td><%=s.relocation_nine%></td>
        <td><%=s.relocation_ten%></td>
        <td><%=s.relocation_eleven%></td>
        <td><%=s.relocation_twelve%></td>
        <td><%=s.relocation_total%></td>
        <td><%=s.relocation_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Other</td>
        <td><%=s.other_one%></td>
        <td><%=s.other_two%></td>
        <td><%=s.other_three%></td>
        <td><%=s.other_four%></td>
        <td><%=s.other_five%></td>
        <td><%=s.other_six%></td>
        <td><%=s.other_seven%></td>
        <td><%=s.other_eight%></td>
        <td><%=s.other_nine%></td>
        <td><%=s.other_ten%></td>
        <td><%=s.other_eleven%></td>
        <td><%=s.other_twelve%></td>
        <td><%=s.other_total%></td>
        <td><%=s.other_share%>%</td>
      </tr>
      <tr>
        <td class="texLef">Total</td>
        <td><%=s.total_one%></td>
        <td><%=s.total_two%></td>
        <td><%=s.total_three%></td>
        <td><%=s.total_four%></td>
        <td><%=s.total_five%></td>
        <td><%=s.total_six%></td>
        <td><%=s.total_seven%></td>
        <td><%=s.total_eight%></td>
        <td><%=s.total_nine%></td>
        <td><%=s.total_ten%></td>
        <td><%=s.total_eleven%></td>
        <td><%=s.total_twelve%></td>
        <td><%=s.total_total%></td>
        <td><%=s.total_share%>%</td>
      </tr>
    </tbody>
    <%end%>
    </table>

 <h4>Discontinued or Reinstated Covered Lives - 3/1/2016 to 2/28/2017</h4>
 <div id="lineT1" style="min-width: 310px; height: 195px; margin: 0 auto"></div>

    </div>
    </div>


    </body>
</html>