<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IVL Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

<script type="text/javascript">
    $(function () {
    Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr1').highcharts({
            chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            name: '2016',
            data: [17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000, 17000]

        }, {
            name: '2017',
            data: [22000, 22000, 22000, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });
    });
</script>
<script type="text/javascript">
$(function () {
    $('#web1').highcharts({
        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },
        yAxis: {
            categories: ['Page Views'],
            title: null
        },
        colorAxis: {
            min: 6,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },
         legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> thousand <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },
        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 9.1], [1, 0, 6.9], [2, 0, 8], [3, 0, 8.1], [4, 0, 7.4], [5, 0, 8.1], [6, 0, 7.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]
    });
});
        </script>

<script type="text/javascript">
    $(function () {
    $('#lineT1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'line',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            <% @covered_lives.each do |covered_lives| %>
            name: 'Cancel',
            data: [<%= covered_lives.cancel_jan%>, <%= covered_lives.cancel_feb%>, <%= covered_lives.cancel_mar%>, <%= covered_lives.cancel_apr%>, <%= covered_lives.cancel_may%>, <%= covered_lives.cancel_jun%>, <%= covered_lives.cancel_jul%>, <%= covered_lives.cancel_aug%>, <%= covered_lives.cancel_sep%>, <%= covered_lives.cancel_oct%>, <%= covered_lives.cancel_nov%>, <%= covered_lives.cancel_dec%>]
        }, {
            name: 'Term',
            data: [<%= covered_lives.term_jan%>, <%= covered_lives.term_feb%>, <%= covered_lives.term_mar%>, <%= covered_lives.term_apr%>, <%= covered_lives.term_may%>, <%= covered_lives.term_jun%>, <%= covered_lives.term_jul%>, <%= covered_lives.term_aug%>, <%= covered_lives.term_sep%>, <%= covered_lives.term_oct%>, <%= covered_lives.term_nov%>, <%= covered_lives.term_dec%>]
        }, {
            name: 'Reinstate',
            data: [<%= covered_lives.reinstate_jan%>, <%= covered_lives.reinstate_feb%>, <%= covered_lives.reinstate_mar%>, <%= covered_lives.reinstate_apr%>, <%= covered_lives.reinstate_may%>, <%= covered_lives.reinstate_jun%>, <%= covered_lives.reinstate_jul%>, <%= covered_lives.reinstate_aug%>, <%= covered_lives.reinstate_sep%>, <%= covered_lives.reinstate_oct%>, <%= covered_lives.reinstate_nov%>, <%= covered_lives.reinstate_dec%>]
            }]
            <% end %>
        });
    });
</script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="module">
<div class="container-fluid ivl_dashboards" style="margin: 5px;"> 

<ul class="nav nav-pills">
  <li class="active"><a href="ivl_lives.htm" data-toggle="tab">IVL Covered Lives</a></li>
  <li><a href="ivl_policy.htm" data-toggle="tab">IVL Policies</a></li>
  <li><a href="shop_main.htm">SHOP</a></li>
  <li><a href="cong_main.htm">Congress</a></li>
</ul>

<div class="row row-content">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>25,224 Total Covered <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>7,834 New Coverage YTD <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> 62% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>1,980 Terminations YTD <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -12% MoM</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b>1,350 Cancellations YTD <span class="glyphicon glyphicon-arrow-down" style="color: green"></span></b> -10% MoM</div>
</div>
</div>
        
</div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed">
    <tbody>
    <tr class="tabSpc1">
        <td class="texLef" colspan="4">Covered Lives <a href="ivl_dd_live1.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <% @annual_enrollments.each do |enrollment| %>
        <th class="texLef">Enrollment</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Auto Renewals</td>
        <td><%= enrollment.auto_renewals_select %></td>
        <td><%= enrollment.auto_renewals_effectuate %></td>
        <td><%= enrollment.auto_renewals_paying %></td>
        <td><%= (enrollment.auto_renewals_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renewals</td>
        <td><%= enrollment.active_renewals_select %></td>
        <td><%= enrollment.active_renewals_effectuate %></td>
        <td><%= enrollment.active_renewals_paying %></td>
        <td><%= (enrollment.active_renewals_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">New Customers</td>
        <td><%= enrollment.new_customers_select %></td>
        <td><%= enrollment.new_customers_effectuate %></td>
        <td><%= enrollment.new_customers_paying %></td>
        <td><%= (enrollment.new_customers_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td><%= enrollment.sep_select %></td>
        <td><%= enrollment.sep_effectuate %></td>
        <td><%= enrollment.sep_paying %></td>
        <td><%= (enrollment.sep_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Coverage <a href="ivl_dd_live2.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
      <% @annual_carriers.each do |carrier| %>
        <th class="texLef">Carrier</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef"><%= carrier.carrier_first_name %></td>
        <td><%= carrier.carrier_first_select %></td>
        <td><%= carrier.carrier_first_effectuate %></td>
        <td><%= carrier.carrier_first_paying %></td>
        <td><%= (carrier.carrier_first_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef"><%= carrier.carrier_second_name %></td>
        <td><%= carrier.carrier_second_select %></td>
        <td><%= carrier.carrier_second_effectuate %></td>
        <td><%= carrier.carrier_second_paying %></td>
        <td><%= (carrier.carrier_second_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
      <% @metal_types.each do |metal| %>
        <th class="texLef">Metal</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td><%= metal.platinum_select %></td>
        <td><%= metal.platinum_effectuate %></td>
        <td><%= metal.platinum_paying %></td>
        <td><%= (metal.platinum_pay_share.to_f * 100).to_i  %>%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td><%= metal.gold_select %></td>
        <td><%= metal.gold_effectuate %></td>
        <td><%= metal.gold_paying %></td>
        <td><%= (metal.gold_pay_share.to_f * 100).to_i  %>%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td><%= metal.silver_select %></td>
        <td><%= metal.silver_effectuate %></td>
        <td><%= metal.silver_paying %></td>
        <td><%= (metal.silver_pay_share.to_f * 100).to_i  %>%</td>
      </tr>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td><%= metal.bronze_select %></td>
        <td><%= metal.bronze_effectuate %></td>
        <td><%= metal.bronze_paying %></td>
        <td><%= (metal.bronze_pay_share.to_f * 100).to_i  %>%</td>
      </tr>
      <tr>
        <td class="texLef">Catastrophic</td>
       <td><%= metal.catastrophic_select %></td>
        <td><%= metal.catastrophic_effectuate %></td>
        <td><%= metal.catastrophic_paying %></td>
        <td><%= (metal.catastrophic_pay_share.to_f * 100).to_i  %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Demographic <a href="ivl_dd_live3.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <% @annual_status.each do |status| %>
        <th class="texLef">Status</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Primary</td>
        <td><%= status.primary_select %></td>
        <td><%= status.primary_effectuate %></td>
        <td><%= status.primary_paying %></td>
        <td><%= (status.primary_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">Dependent</td>
        <td><%= status.dependent_select %></td>
        <td><%= status.dependent_effectuate %></td>
        <td><%= status.dependent_paying %></td>
        <td><%= (status.dependent_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <% @age_groups.each do |age| %>
        <th class="texLef">Age Group</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">< 1</td>
        <td><%= age.zero_select %></td>
        <td><%= age.zero_effectuate %></td>
        <td><%= age.zero_paying %></td>
        <td><%= (age.zero_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">1-17</td>
        <td><%= age.one_select %></td>
        <td><%= age.one_effectuate %></td>
        <td><%= age.one_paying %></td>
        <td><%= (age.one_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">18-25</td>
        <td><%= age.eighteen_select %></td>
        <td><%= age.eighteen_effectuate %></td>
        <td><%= age.eighteen_paying %></td>
        <td><%= (age.eighteen_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">26-34</td>
        <td><%= age.twentysix_select %></td>
        <td><%= age.twentysix_effectuate %></td>
        <td><%= age.twentysix_paying %></td>
        <td><%= (age.twentysix_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">35-44</td>
        <td><%= age.thirtyfive_select %></td>
        <td><%= age.thirtyfive_effectuate %></td>
        <td><%= age.thirtyfive_paying %></td>
        <td><%= (age.thirtyfive_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">45-54</td>
        <td><%= age.fortyfive_select %></td>
        <td><%= age.fortyfive_effectuate %></td>
        <td><%= age.fortyfive_paying %></td>
        <td><%= (age.fortyfive_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">55-64</td>
        <td><%= age.fiftyfive_select %></td>
        <td><%= age.fiftyfive_effectuate %></td>
        <td><%= age.fiftyfive_paying %></td>
        <td><%= (age.fiftyfive_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">65+</td>
        <td><%= age.sixtyfive_select %></td>
        <td><%= age.sixtyfive_effectuate %></td>
        <td><%= age.sixtyfive_paying %></td>
        <td><%= (age.sixtyfive_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      <% @overall_genders.each do |genders| %>
        <th class="texLef">Gender</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Male</td>
        <td><%= genders.male_select %></td>
        <td><%= genders.male_effectuate %></td>
        <td><%= genders.male_paying %></td>
        <td><%= (genders.male_pay_share.to_f * 100).to_i %>%</td>
      </tr>
      <tr>
        <td class="texLef">Female</td>
        <td><%= genders.female_select %></td>
        <td><%= genders.female_effectuate %></td>
        <td><%= genders.female_paying %></td>
        <td><%= (genders.female_pay_share.to_f * 100).to_i %>%</td>
        <% end %>
      </tr>
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h5>Active Covered Lives</h5>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h5>Covered Lives by Effective Month</h5>
    <table class="table table-hover table-condensed">
    <thead>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <th class="texLef">Enrollment</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Selected</td>
        <td><%= enrollment.selected_jan %></td>
        <td><%= enrollment.selected_feb %></td>
        <td><%= enrollment.selected_mar %></td>
        <td><%= enrollment.selected_apr %></td>
        <td><%= enrollment.selected_may %></td>
        <td><%= enrollment.selected_jun %></td>
        <td><%= enrollment.selected_jul %></td>
        <td><%= enrollment.selected_aug %></td>
        <td><%= enrollment.selected_sep %></td>
        <td><%= enrollment.selected_oct %></td>
        <td><%= enrollment.selected_nov %></td>
        <td><%= enrollment.selected_dec %></td>
        
      </tr>
      <tr>
        <td class="texLef">Effectuated</td> 
        <td><%= enrollment.effectuated_jan %></td>
        <td><%= enrollment.effectuated_feb %></td>
        <td><%= enrollment.effectuated_mar %></td>
        <td><%= enrollment.effectuated_apr %></td>
        <td><%= enrollment.effectuated_may %></td>
        <td><%= enrollment.effectuated_jun %></td>
        <td><%= enrollment.effectuated_jul %></td>
        <td><%= enrollment.effectuated_aug %></td>
        <td><%= enrollment.effectuated_sep %></td>
        <td><%= enrollment.effectuated_oct %></td>
        <td><%= enrollment.effectuated_nov %></td>
        <td><%= enrollment.effectuated_dec %></td>

      </tr>
      <tr>
        <td class="texLef">Effectuation %</td>
        <!-- <td class="texLef">Effectuated</td>  -->
        <td><%= enrollment.effectuation_share_jan %></td>
        <td><%= enrollment.effectuation_share_feb %></td>
        <td><%= enrollment.effectuation_share_mar %></td>
        <td><%= enrollment.effectuation_share_apr %></td>
        <td><%= enrollment.effectuation_share_may %></td>
        <td><%= enrollment.effectuation_share_jun %></td>
        <td><%= enrollment.effectuation_share_jul %></td>
        <td><%= enrollment.effectuation_share_aug %></td>
        <td><%= enrollment.effectuation_share_sep %></td>
        <td><%= enrollment.effectuation_share_oct %></td>
        <td><%= enrollment.effectuation_share_nov %></td>
        <td><%= enrollment.effectuation_share_dec %></td>
      </tr>
      <tr>
        <td class="texLef">Paying</td>
        <td><%= enrollment.paying_jan %></td>
        <td><%= enrollment.paying_feb %></td>
        <td><%= enrollment.paying_mar %></td>
        <td><%= enrollment.paying_apr %></td>
        <td><%= enrollment.paying_may %></td>
        <td><%= enrollment.paying_jun %></td>
        <td><%= enrollment.paying_jul %></td>
        <td><%= enrollment.paying_aug %></td>
        <td><%= enrollment.paying_sep %></td>
        <td><%= enrollment.paying_oct %></td>
        <td><%= enrollment.paying_nov %></td>
        <td><%= enrollment.paying_dec %></td>
      </tr>
      <tr>
        <td class="texLef">Terminated</td>
        <td><%= enrollment.terminated_jan %></td>
        <td><%= enrollment.terminated_feb %></td>
        <td><%= enrollment.terminated_mar %></td>
        <td><%= enrollment.terminated_apr %></td>
        <td><%= enrollment.terminated_may %></td>
        <td><%= enrollment.terminated_jun %></td>
        <td><%= enrollment.terminated_jul %></td>
        <td><%= enrollment.terminated_aug %></td>
        <td><%= enrollment.terminated_sep %></td>
        <td><%= enrollment.terminated_oct %></td>
        <td><%= enrollment.terminated_nov %></td>
        <td><%= enrollment.terminated_dec %></td>
      </tr>
      <tr>
        <td class="texLef">Canceled</td>
        <td><%= enrollment.canceled_jan %></td>
        <td><%= enrollment.canceled_feb %></td>
        <td><%= enrollment.canceled_mar %></td>
        <td><%= enrollment.canceled_apr %></td>
        <td><%= enrollment.canceled_may %></td>
        <td><%= enrollment.canceled_jun %></td>
        <td><%= enrollment.canceled_jul %></td>
        <td><%= enrollment.canceled_aug %></td>
        <td><%= enrollment.canceled_sep %></td>
        <td><%= enrollment.canceled_oct %></td>
        <td><%= enrollment.canceled_nov %></td>
        <td><%= enrollment.canceled_dec %></td>
        <% end %>
      </tr>
    </tbody>
    </table>

 <h5>Discontinued or Reinstated Covered Lives by Transaction Month</h5>
 <div id="lineT1" style="min-width: 310px; height: 195px; margin: 0 auto"></div>

    </div>
    </div>

    </body>
</html>