<% address = @person.addresses.try(:first) %>  
<% if address.present? %>
  <div class="row middle-row form-group form-group-lg no-pd">
    <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.address_1 %>" class="form-control">
      <span>ADDRESS LINE 1</span>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.address_2 %>" class="form-control">
      <span>ADDRESS LINE 2</span>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.city %>" class="form-control">
      <span>CITY</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.state %>" class="form-control">
      <span>STATE</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.country_name %>" class="form-control">
      <span>COUNTRY</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <input type="text" value="<%= address.zip %>" class="form-control">
      <span>ZIP</span>
    </div>
  </div>
<% end %>                     
