<% @person.addresses.each do |address| %>  
<% if address.present? && address.address_1.present? %>
<div class="row middle-row form-group form-group-lg no-pd">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
                              <input type="text" value="<%= address.address_1 %>" class="floatlabel form-control" placeholder="ADDRESS LINE 1">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
                              <input type="text" value="<%= address.address_2 %>" class="floatlabel form-control" placeholder="ADDRESS LINE 2">
                            </div>
                          </div>

                          <div class="row bottom-row">
                              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                                <input type="text" value="<%= address.city %>" class="floatlabel form-control" placeholder="CITY">  
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                                <input type="text" value="<%= address.state %>" class="floatlabel form-control" placeholder="STATE">
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                                <input type="text" value="<%= address.country_name %>" class="floatlabel form-control" placeholder="COUNTRY">
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                                <input type="text" value="<%= address.zip %>" class="floatlabel form-control" placeholder="ZIP">
                              </div>
                          </div>
  <% end %>                            
<% end %>                          