<li id="add_member_list_<%= dependent.id %>">
  <div id="add_info" class=" focus_effect row personal-info-row">
    <div id="add_info_clone0">
      <div class="col-md-12 col-sm-12 col-xs-12 no-pd first">
        <div class="dependent_notice_div_<%= dependent.id%>"></div>
        <%= form_for dependent, :remote => true, method: :post,:url => {action: "save_dependents"} do |f| %>
          <div class="row top-row top-row-2">
              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :first_name, value: dependent.first_name,class: "home floatlabel form-control", placeholder: "FIRST NAME", required: true, autocomplete: :off %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :middle_name, value: dependent.middle_name, class: "home floatlabel form-control", placeholder: "MIDDLE NAME", autocomplete: :off %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :last_name, value: dependent.last_name ,class: "home floatlabel form-control", required: true, placeholder: "LAST NAME", autocomplete: :off %>
                </div>
              </div>
            </div>

            <div class="row middle-row top-row-2">
              <div class="col-md-3 col-sm-3 no-pd">
                <div class="form-group form-group-lg">
                  <%= datepicker_control f, :dob, {:class => "floatlabel form-control home", :placeholder => "DATE OF BIRTH",
                                                   :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy', required: true, value: dependent.dob.try(:strftime, "%m/%d/%Y"), id: "family_member_dob_#{dependent.id}"} %>
                </div>
              </div>

              <div class="col-md-3 col-sm-3 no-pd">
                <div class="form-group form-group-lg">
                    <%= f.text_field :ssn, value: dependent.ssn, class: "person_ssn number home floatlabel form-control", required: true, placeholder: "SOCIAL SECURITY" %>
                </div>
              </div>

              <div class="col-md-2 col-sm-2 no-pd">
                <div class="form-group form-group-lg">
                  <%= f.text_field :primary_relationship, class: "required home floatlabel form-control", required: true, placeholder: "RELATION" %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 no-pd">
                <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                  <div class="radio skinned-form-controls skinned-form-controls-mac">
                    <label>
                      <%= f.radio_button :gender, "male", class: "required floatlabel"  %>
                      <label for="radio_male"><span>MALE</span></label>
                    </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                  <div class="radio skinned-form-controls skinned-form-controls-mac">
                    <label>
                      <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
                      <label for="radio_male"><span>FEMALE</span></label>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group form-group-lg no-pd bottom-row">
              <div class="col-md-offset-8 col-sm-offset-7 col-md-4 col-sm-5 col-xs-12 no-pd text-right">
                <a class="cancel" href="javascript:void(0)" data-id="<%= dependent.id %>">Cancel</a>
                <a class="save" href="javascript:void(0)">Save</a>
              </div>
            </div>
          </div>
          <%= f.hidden_field :id, :value => dependent.id %>
          <%= hidden_field_tag :person, :id, value: person.id %>
          <%= hidden_field_tag :employer, :id, value: employer.id %>
          <%= hidden_field_tag :employee, :id, value: employee.id %>
        <% end %>
    </div>
  </div>
</li>
<script type="text/javascript" charset="utf-8">
  $(".date-picker, .date-picker").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: (new Date).getFullYear()-110 + ":" + (new Date).getFullYear()
   });
   Freebies.floatlabels();
   $('.house').addClass('employee-info');
</script>
