<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12  <%= pundit_class Family, :updateable?%>">
      <div class="row landing-row">
        <div class="col-md-6 col-sm-6 col-xs-12 left-side">

          <div class="row">
            <p class="head">
              <span>Household</span>
              <span><%= link_to 'add members', '#profile', class: 'add_success', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'profile', expanded: 'true'} %></span>
            </p>
            <div class="row no-buffer search-table">
              <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
                <div class="dropdown person-select">
                  <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>
                    <i class='glyphicon glyphicon-menu-down'></i>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <% get_dependents(@family, @person).each do |dependents |%>
                      <li><%= link_to dependents.full_name, 'javascript:;', class: "member_address_links", data: { id: dependents.id.to_s } %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
              <div id="member_address_area">
                <%= render partial: 'people/landing_pages/member_address', locals: {person: @person} %>
              </div>
            </div>

          </div>
          <div class="row bottom">
            <p class="head">
            <span>Employers &amp; Plans</span>
            <span>add employer</span>
            </p>
            <%#= render partial: "employers/employer_profiles/my_account/benefits" %>

             <ul class="list-group emp-ul">
              <li class="list-group-item">
                <div class="row no-buffer">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4><%= @employer_profile.legal_name %></h4>
                  </div>
                </div>
              </li>
              <button class="btn btn-see-all see-plan-details">See Details</button>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 right-side">
          <div class="row no-buffer">
          <p class="head">
            <span>Life Events</span>
            <span></span>
          </p>
            <ul class="list-group panel panel-default panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% if @qualifying_life_events %>
              <% @qualifying_life_events.each_with_index do |qle, index| %>
                <li class="list-group-item qle-item">
                  <div class="row panel-heading" role="tab" id="heading1">
                    <a class="wdfull" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse1">
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        <h4 class="text-left"><%= qle.title.humanize %></h4>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 qle-kind">
                        <a href="#"><%= qle.kind unless qle.edi_code == '32-MARRIAGE' %></a>
                      </div>
                    </a>
                  </div>

                    <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                      <div class="panel-body">
                        <% if qle.edi_code == '32-MARRIAGE' %>
                          <div id="qle_marriage_form">
                            <div class="initial-info">
                              <p>
                                Getting married is a big step. It also is a qualified life event that creates a special enrollment period. Start this step by telling us when you got married and then continue to "Add a Family Member" to select a plan for you and your new spouse.
                              </p>
                              <div class="text-center">
                                  <input type="text" class="form-control input-lg" id="date_married" placeholder="Date you were married i.e. 4/01/2015">
                                  <br><br>
                                  <% add_member_url = add_dependents_people_path(person_id: @person.id, organization_id: @employer_profile.organization.id, employee_id: @person.employee_roles.first.id) %>
                                  <%= link_to 'Submit', add_member_url, method: :post, class: "btn btn-primary btn-lg", id: "qle_marriage_submit", remote: true %>
                              </div>
                            </div>
                            <div class="success-info hidden">
                              <p class="success-text"><strong>Success!</strong> You have created a special enrollment period.<br>Click continue go to the add your new family member and select your plan.</p><div class="text-center"><a href="#profile" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="true" class="btn btn-success btn-lg add_success">Continue</a></div>
                            </div>
                            <div class="error-info hidden">
                              <p class="error-text">The date you submitted does not qualify for special enrollment.<br>Please double check the date or contact <%= Settings.contact_center.name %>: <%= Settings.contact_center.phone_number %></p><div class="text-center"><a href="#" class="btn btn-danger btn-lg marriage_back">Back</a></div>
                            </div>
                          </div>
                        <% else %>
                          <%= qle.description %>
                        <% end %>
                      </div>
                    </div>
                </li>
              <% end %>
            <% end %>

           <button class="btn btn-see-all md-trigger" data-modal="modal-3">See All</button>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
