<%= form_for @person do |f|%>
  <div class="row no-buffer">
    <div id="personal_info" class="module">
      <div class="col-md-12 no-pd col-sm-12 col-xs-12">
        <div class="row row-form-wrapper no-buffer">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :first_name, id: "first-name", class: "floatlabel form-control", placeholder: "FIRST NAME", autocomplete: :off %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :middle_name, class: "floatlabel form-control", placeholder: "MIDDLE NAME", autocomplete: :off %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :last_name, class: "floatlabel form-control", placeholder: "LAST NAME", autocomplete: :off %>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <div class="selectric-labeled">
              <span><strong>Suffix</strong></span>
              <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control", autocomplete: :off %>
            </div>
          </div>
        </div>
        <div class="row row-form-wrapper no-buffer">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH",
                                             :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy', disabled: 'disabled'} %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :ssn, class: "person_ssn number floatlabel form-control", placeholder: "SOCIAL SECURITY", id: "", title: "8 digits", disabled: 'disabled' %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
            <div class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :gender, "male", class: "required floatlabel"  %>
              <label for="person_gender_male"><span>MALE</span></label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
            <div class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
              <label for="person_gender_female"><span>FEMALE</span></label>
            </div>
          </div>
        </div>

        <% if @person.is_consumer_role_active? %>
        <div class="row row-form-wrapper no-buffer">
          <div class="col-lg-5 col-md-2 col-sm-2 col-xs-5 form-group form-group-lg no-pd top-buffer" >
            <span>Is <%= @person.first_name %> applying for coverage?</span>
          </div>
            <% first_checked, second_checked = is_applying_coverage_value_personal(@person) %>
          <%= render 'shared/is_applying_for_coverage', f: f, first_checked: first_checked, second_checked: second_checked %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% if @person.is_consumer_role_active? && @person.has_active_employee_role? && @person.ssn.present? %>
  <br>
<div id="employer-coverage-msg">
  <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
    <div class="alert alert-success alert-dismissible">
      Your answer to this question does not apply to coverage offered by an employer.
    </div>
  </div>
    </div>
    <% end %>
  <br />
  <% if @person.is_consumer_role_active? %>
  <div id="consumer_fields_sets">
    <%= render 'shared/consumer_fields', f: f %><br>
    </div>
    <%= render 'shared/consumer_home_address_fields', f: f %><br>
  <% else %>
    <%= render 'shared/home_address_fields', f: f %><br>
  <% end %>

  <%=
    unless f.object.phones.nil?
      ["home","mobile","work","fax"].each do |kind|
         f.object.phones.build(kind: kind) if f.object.phones.select{|phone| phone.kind == kind}.blank?
      end
    end

    render 'shared/phone_fields', f: f
  %><br>

    <% unless f.object.emails.nil?
         ["home","work"].each do |kind|
           f.object.emails.build(kind: kind) if f.object.emails.select{|email| email.kind == kind}.blank?
         end
       end
    %>

    <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
      <div id="email_info" class="row row-form-wrapper no-buffer">
      <%= render 'shared/email_fields', f: email %>
        </div><br>

    <% end %>

     <div>
      <% if @person.is_consumer_role_active? %>
      <%= render 'shared/contact_preferences', {f: f, role: :consumer_role} %></br>
      <% else %>
      <%= render 'shared/contact_preferences', {f: f, role: :employee_roles} %></br>
      <% end %>
      </div>

  <div class="row no-buffer <%= pundit_class Family, :updateable? %> ">
    <button type="submit" class="btn btn-primary btn-br hidden"><i class="fa fa-user-plus"></i> Save</button>
    <span class='btn btn-lg btn-primary btn-br' onclick='PersonValidations.manageRequiredValidations($(this));'><i class="fa fa-user-plus"></i> Save</span>
  </div>
<% end %><br>
