<%= form_for @person do |f|%>
  <div class="row">
    <div id="personal_info" class="focus_effect personal-info-top-row">
      <div class="col-md-12 no-pd col-sm-12 col-xs-12 first">
        <div class="row top-row">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :first_name, id: "first-name", class: "floatlabel form-control", placeholder: "FIRST NAME" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :middle_name, class: "floatlabel form-control", placeholder: "MIDDLE NAME" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :last_name, class: "floatlabel form-control", placeholder: "LAST NAME" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :name_sfx, class: "floatlabel form-control", placeholder: "SUFFIX" %>
          </div>
        </div>
        <div class="row bottom-row form-group form-group-lg no-pd">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :dob, class: "date-picker floatlabel form-control", placeholder: "BIRTHDATE" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
            <%=f.text_field :ssn, class: "person_ssn number floatlabel form-control", placeholder: "SOCIAL SECURITY", id: "", title: "8 digits" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
            <div class="radio skinned-form-controls skinned-form-controls-mac">
              <label>
                <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
                <span>MALE</span>
              </label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
            <div class="radio skinned-form-controls skinned-form-controls-mac">
              <label>
                <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
                <span>FEMALE</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="row">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
  
<% end %>
