<% if @employer.present? %>
<h3>Employer Information</h3>
<table style="width:70%" class="table">
  <tr>
   <td>
     Employer</br>
     <%= @employer.legal_name %>
    </td>
    <td>
      Date of Hire</br>
      <%= @employee.hired_on.strftime("%b %d, %Y") %>
    </td>
  </tr>
</table>
<% end %>
<h3>Employee Information</h3>
<table style="width:70%" class="table">
  <tr>
    <td>
      First Name</br>
      <%= @person.first_name %>
    </td>
    <td>
      Middle Name</br>
      <%= @person.middle_name %>
    </td>
    <td>
      Last Name</br>
      <%= @person.last_name %>
    </td>
  </tr>
  <tr>
    <td>
      SSN</br>
      <%= @person.ssn %>
    </td>
    <td>
      DOB</br>
      <%= @person.dob %>
    </td>
    <td>
      Gender</br>
      <%= @person.gender %>
    </td>
  </tr>
</table>
<table style="width:70%" class="table">
  <tr>
    <td colspan="2">
      Email <br/>
      
    </td>
    <td>
      Phone <br/>
      
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Address <br/>
      
    </td>
    <td>
      Address2 <br/>
      
    </td>
  </tr>
  <tr>
    <td>
      City <br/>
      
    </td>
    <td>
      State <br/>
      
    </td>
    <td>
      Zip <br/>
      
    </td>
  </tr>
</table>
<h3>
  Choose Your Health Plan
</h3>

<table style="width:80%">
  <tr>
    <td>
      <%= image_tag("aetna.png", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("care_first.jpg", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("Kaiser_Permanente.png", size: "125x125", alt: "Kaiser Permanente") %>
    </td>
    <td>
      <%= image_tag("united_health_care.jpg", size: "125x125", alt: "United Health Care") %>
    </td>
  </tr>
</table>


