<div role="tabpanel" id="ProfileTab">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
    <% if @employer.present? %>
      <li role="presentation"><a href="#employer" aria-controls="employer" role="tab" data-toggle="tab">Employer</a></li>
    <% end %>
    <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family Members</a></li>
    <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact Information</a></li>

  </ul>

<%= form_for(@person) do |f| %>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="personal">
      <p class="information row" style="opacity: 0.2;">Personal Information</p>
       <%= render 'shared/name_fields', f: f %>
       <%= render 'shared/id_info_fields', f: f %>
    </div>
  <% if @employer.present? %>
    <div role="tabpanel" class="tab-pane" id="employer">

      <p>
		<span> Employer Information.</span>
	</p>
  <div class="row top-row">
    <div class="col-md-7 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %><br/>
       Born: <%= @employee.dob.strftime("%b %d, %Y") %><br/>
       Social Security:  <%= @employee.ssn %><br/>
       <% if @employer.present? %>
        <h4> <%= @employer.legal_name %> </h4>
        <% address = @employer.office_locations.first.address%>
        <% if address.present? %>
          <spa><%= address.full_address%></span>
        <% end %>
        </br>
        Hired : <%= @employee.hired_on.strftime("%b %d, %Y") %>
       <% end %>
    </div>
  </div>

    </div>
    <% end %>
    <div role="tabpanel" class="tab-pane" id="family">
      Family Info
      <a href='#' class='btn btn-save person_landing_continue'> Add Family Member </a>
      <br/>
      <table class="table">
       <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          DOB
        </th>
        <th>
          SSN
        </th>
        <th>
          Relationship
        </th>
       </tr>
       <% @employee.employee_family.census_dependents.each do |dependent| %>
        <tr>
          <td>
            <%= dependent.first_name %>
          </td>
          <td>
            <%= dependent.last_name %>
          </td>
          <td>
            <%= dependent.dob.strftime("%B %d %Y") %>
          </td>
          <td>
            <%= dependent.ssn %>
          </td>
          <td>
            <%= dependent.employee_relationship %>
          </td>
        </tr>
       <% end %>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="contact">
      <%= render 'shared/address_fields', f: f %><br>
      <%= render 'shared/phone_fields', f: f %><br>

      <div id="email_info" class="focus_effect personal-info-row">
        <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
          <%= render 'shared/email_fields', f: email %>
        <% end %>
        <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
      </div>
    </div>
  </div>
<% end %>
</div>
