<% readonly_status = @person.is_a?(Person) %>
<% if @bs4 %>
  <div id="personal_info">
    <%= hidden_field "people","id" %>
    <%= f.hidden_field :dob_check  %>
    <div class="d-flex mb-md-4 row col-sm">
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :first_name, l10n("first_name"), class: "required" %>
        <%= f.text_field :first_name, class: "required", required: true, placeholder: l10n("first_name"), autocomplete: :off %>
      </div>
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :middle_name, l10n("middle_name") %>
        <%= f.text_field :middle_name, class: "required", required: false, placeholder: l10n("middle_name"), autocomplete: :off %>
      </div>
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :last_name, l10n("last_name"), class: "required" %>
        <%= f.text_field :last_name, class: "required", required: true, placeholder: l10n("last_name"), autocomplete: :off %>
      </div>
      <div class="col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :name_sfx, l10n("suffix") %>
        <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => l10n("none"), autocomplete: :off %>
      </div>
    </div>
    <div class="d-flex mb-md-4 row col-sm">
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :dob, l10n("date_of_birth"), class: "required" %>
        <%= f.date_field :dob, placeholder: "MM/DD/YYYY", min: 110.years.ago, max:"9999-12-31", required: true %>
      </div>
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :gender, l10n("gender"), class: 'required'  %>
        <%= f.select :gender, [ [l10n("Male"), 'male'], [l10n("Female"), 'female'] ], autocomplete: :off, required: true %>
        <a href="#sex_gender" data-toggle="modal" data-target="#sex_gender" class="d-block"><%= l10n("not_sure") %></a>
        <%= render partial: 'shared/modal_support_text_household', locals: {key: "sex_gender"} %>
      </div>
      <div class="mr-auto col-sm col-md-6 p-0 sm-hide"></div>
    </div>
    <div class="d-flex mb-md-4 row col-sm">
      <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
        <%= f.label :ssn, "Social Security" %>
        <% if EnrollRegistry.feature_enabled?(:ssn_ui_validation) %>
          <%= f.text_field :ssn, placeholder: "000-00-0000", class: "required keep-label",
            pattern: "(?!666|000|9\\d{2})\\d{3}[\\- ]{0,1}(?!00)\\d{2}[\\- ]{0,1}(?!0{4})\\d{4}", oninvalid: "this.setCustomValidity('Invalid Social Security number.')",
            oninput: "this.setCustomValidity('')", disabled: readonly_status, readonly: f.object.is_a?(Forms::EmployeeRole) %>
        <% else %>
          <%= f.text_field :ssn, placeholder: "000-00-0000", class: "required", disabled: readonly_status,
            readonly: f.object.is_a?(Forms::EmployeeRole) %>
        <% end %>
      </div>
      <div class="col-sm col-md-6 col-lg-3 p-0 pt-md-4 no-ssn-container mr-auto">
        <%= f.label :no_ssn, class: "mt-1 d-inline-block" do %>
          <%= f.check_box :no_ssn %><span class='no_ssn'>&nbsp;<%= l10n("do_not_have_ssn") %>
          <a href="#no_ssn_info" data-toggle="modal" data-target="#no_ssn_info" class="d-block"><%= l10n("not_sure") %></a>
          <%= render partial: 'shared/modal_support_text_household', locals: {key: "no_ssn_info"} %>
        <% end %><span>
      </div>
      <div class="mr-auto col-sm col-md-6 p-0 sm-hide"></div>
    </div>
    <fieldset class="d-flex row col-sm">
      <legend class="required"><%= l10n("does_person_need_coverage", person: @person.first_name.present? ? @person.first_name : "this person") %></legend>
      <% first_checked, second_checked = is_applying_coverage_value_consumer(@use_person, @person, @consumer_role) %>
      <div class="d-flex align-items-center mt-2">
        <%= render 'shared/is_applying_for_coverage', f: f, first_checked: first_checked, second_checked: second_checked %>
      </div>
    </fieldset>
  </div>
  <%= render 'shared/ssn_coverage_msg' %>
<% else %>
  <div id="personal_info" class="focus_effect module">
    <%= hidden_field "people","id" %>
    <%= f.hidden_field :dob_check  %>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME *', autocomplete: :off %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME', autocomplete: :off %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME *', autocomplete: :off %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <div class="selectric-labeled">
          <span><strong>Suffix</strong></span>
          <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control", autocomplete: :off %>
        </div>
      </div>
    </div>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg top-buffer" >
        <label id="is_applying_coverage_value">Does <%= @person.first_name.present? ? @person.first_name : "this person" %> need coverage? *</label>
      </div>
      <% first_checked, second_checked = is_applying_coverage_value_consumer(@use_person, @person, @consumer_role) %>
      <%= render 'shared/is_applying_for_coverage', f: f, first_checked: first_checked, second_checked: second_checked %>
    </div>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">

      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-7 form-group form-group-lg no-pd">
        <% if EnrollRegistry.feature_enabled?(:ssn_ui_validation) %>
          <%= f.text_field :ssn, placeholder: "000-00-0000", class: "required floatlabel form-control",
            pattern: "(?!666|000|9\\d{2})\\d{3}[\\- ]{0,1}(?!00)\\d{2}[\\- ]{0,1}(?!0{4})\\d{4}", oninvalid: "this.setCustomValidity('Invalid Social Security number.')",
            oninput: "this.setCustomValidity('')", disabled: readonly_status, readonly: f.object.is_a?(Forms::EmployeeRole) %>
        <% else %>
          <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel form-control", disabled: readonly_status,
            readonly: f.object.is_a?(Forms::EmployeeRole) %>
        <% end %>
      </div>

      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-5 form-group form-group-lg no-pd top-buffer" >
        <%= f.check_box :no_ssn %>
        <%= f.label :no_ssn, :value => true do %>
          <span class='no_ssn'>&nbsp;<%= l10n("do_not_have_ssn") %></span>
        <% end %>
        <span>
          <i tabindex="0" class='fa fa-question-circle' id="no_ssn_tooltip" data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"></i>
          <span class="hide"> "<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"</span>
        </span>
      </div>

      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 form-group form-group-lg no-pd border_bottom_zero">
        <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_male')" class="radio">
          <%= f.radio_button :gender, "male", class: "required floatlabel", id: "radio_male", checked: ["male", nil].include?(@person.gender) %>
          <label for="radio_male"><span>MALE</span></label>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
        <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_female')" class="radio">
          <%= f.radio_button :gender, "female", class: "required floatlabel", id: "radio_female", checked: @person.gender == 'female' %>
          <label for="radio_female"><span>FEMALE</span></label>
        </div>
      </div>
    <span>
      <i tabindex="0" class='fa fa-question-circle no-pd pull-right' id="gender-tooltip" data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.gender_tooltip")%>"></i>
      <span class="hide"> "<%=l10n("insured.consumer_roles.search.gender_tooltip")%>"</span>
    </span>
    </div>
  </div>
  <%= render 'shared/ssn_coverage_msg' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.field_with_errors > *').unwrap();
      Freebies.floatlabels();
    });
  </script>
<% end %>

