<div id="personal_info" class="focus_effect module">
  <%= hidden_field "people","id" %>

  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME *', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME *', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <div class="selectric-labeled">
        <span><strong>Suffix</strong></span>
        <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control", autocomplete: :off %>
      </div>
    </div>
  </div>

  <div class="row row-form-wrapper no-buffer">
    <% readonly_status = @person.is_a?(Person) %>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH *",
                                                 :'data-date-min' => "-110y", :'data-date-max' => "+0", :disabled => readonly_status,
                                                 required: true, readonly: f.object.is_a?(Forms::EmployeeRole) } %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <% if EnrollRegistry.feature_enabled?(:ssn_ui_validation) %>
        <%= f.text_field :ssn, placeholder: "#{l10n("social_security").to_s.upcase}", class: "required floatlabel form-control",
          required: f.object.no_ssn == "1" ? false : true, :disabled => f.object.no_ssn == "1" ? true : readonly_status,
          pattern: "(?!666|000|9\\d{2})\\d{3}[\\- ]{0,1}(?!00)\\d{2}[\\- ]{0,1}(?!0{4})\\d{4}", oninvalid: "this.setCustomValidity('Invalid Social Security number.')",
          oninput: "this.setCustomValidity('')", readonly: f.object.is_a?(Forms::EmployeeRole) %>
      <% else %>
        <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel form-control",
          required: f.object.no_ssn == "1" ? false : true, :disabled => f.object.no_ssn == "1" ? true : readonly_status, readonly: f.object.is_a?(Forms::EmployeeRole) %>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd top-buffer" >
      <%= f.check_box :no_ssn,  :value => false, :onclick=>"$('#person_ssn').prop('disabled', !$('#person_ssn').prop('disabled')); $('#person_ssn').prop('required', !$('#person_ssn').prop('required'))" %>
      <label for="person_no_ssn"><span class='no_ssn'>&nbsp;<%= l10n("do_not_have_ssn") %></span></label>
      <span>
        <i tabindex="0" class='fa fa-question-circle' id="no_ssn_tooltip" data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"></i>
        <span class="hide"> "<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"</span>
      </span>    
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
      <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_male')" class="radio">
        <%= f.radio_button :gender, "male", class: "required floatlabel", id: 'radio_male', required: true %>
        <label for="radio_male"><span><%= l10n("male").to_s.upcase %></span></label>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd">
      <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_female')" class="radio">
        <%= f.radio_button :gender, "female", class: "required floatlabel", id: 'radio_female', required: true %>
        <label class="female" for="radio_female"><span><%= l10n("female").to_s.upcase %></span></label>
      </div>
    </div>
    <span>
      <i tabindex="0" id="gender-tooltip" class='fa fa-question-circle no-pd pull-right'  data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.gender_tooltip")%>"></i>
      <span class="hide"> "<%=l10n("insured.consumer_roles.search.gender_tooltip")%>"</span>
    </span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if ($('#person_no_ssn').prop('checked')) {
      $('#person_ssn').prop('disabled', true);
    }
  });
</script>
