<div id="personal_info" class="focus_effect module">
  <%= hidden_field "people","id" %>

  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME *' %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME' %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME *' %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <div class="selectric-labeled">
        <span><strong>Suffix</strong></span>
        <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control" %>
      </div>
    </div>
  </div>

  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH *",
                                                 :'data-date-min' => "-110y", :'data-date-max' => "+0",
                                                 required: true, readonly: f.object.is_a?(Forms::EmployeeRole) } %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY *", class: "required floatlabel form-control", required: true, readonly: f.object.is_a?(Forms::EmployeeRole) %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
      <div class="radio">
        <%= f.radio_button :gender, "male", class: "required floatlabel", id: 'radio_male', required: true %>
        <label for="radio_male"><span>MALE</span></label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
      <div class="radio">
        <%= f.radio_button :gender, "female", class: "required floatlabel", id: 'radio_female', required: true %>
        <label for="radio_female"><span>FEMALE</span></label>
      </div>
    </div>
  </div>
</div>
