<%= form_for(@hbx_profile, url: exchanges_hbx_profiles_path) do |f| %>

      <% if @hbx_profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@hbx_profile.errors.count, "error") %> prohibited this hbx_profile from being saved:</h2>

          <ul>
          <% @hbx_profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <div id="hbx_info" class="focus_effect row required-tooltip personal-info-top-row">
    <div class="col-md-12 no-pd col-sm-12 col-xs-12 first employee-info">
      <h4>HBX Information</h4>
      <div class="row top-row">
        <%= f.fields_for :organization, errors: {}, fieldset: false do |org|  %>
          <%= render "shared/organizations/entity_name_and_type_fields.html.erb", f: org, entity_kinds: Organization::ENTITY_KINDS[0..3] %>
        <% end %>
      </div>
      <h4>Office Locations</h4>
      <div class="row top-row">
        <%= f.fields_for :organization, errors: {}, fieldset: false do |org|  %>
          <%= render "shared/organizations/office_location_fields.html.erb", f: org %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
