<div class="container home module welcome">
  <br/>
  <br/>
  <br/>
  <br/>
  <h1 class="no-buffer">
    <strong>
      Welcome to <%= "#{Settings.site.short_name}" %>
    </strong>
  </h1>
  <h3 class="darkblue no-buffer">
    <%= "#{Settings.site.byline}" %>
  </h3>
  <br/>
  <% if user_signed_in? %>
    <strong>
      Welcome <%= current_user.oim_id %> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </strong>
    <br/>
    <br/>
  <% end %>
  <%= link_to "Employee Portal", privacy_insured_employee_index_path, class: "btn btn-default" %>
  <%= link_to "Consumer/Family Portal", privacy_insured_consumer_role_index_path(uqhp: true), class: "btn btn-default" %>
  <%= link_to "Assisted Consumer/Family Portal", privacy_insured_consumer_role_index_path(aqhp: true), class: "btn btn-default" %>
  <%= link_to "Returning User", family_account_path, class: "btn btn-default" %>
  <%= link_to "Employer Portal", new_employers_employer_profile_path, class: "btn btn-default" %>
  <%= link_to "Broker Agency Portal", broker_agencies_root_path, class: "btn btn-default" %>
  <%= link_to "General Agency Portal", general_agencies_root_path, class: "btn btn-default" %>
  <%= link_to "HBX Portal", exchanges_hbx_profiles_root_path, class: "btn btn-default" %>
  <% if !user_signed_in? %>
    <%= link_to "Broker Registration", broker_registration_path, class: "btn btn-default" %>
    <%= link_to "General Agency Registration", general_agency_registration_path, class: "btn btn-default" %>
  <% end %>
</div>
