<div class="row content landing">
  	<div class="home">
    <h1><strong>DC HealthLink Consumer Portal</strong></h1>
    <h3>DC's Online Health Insurance Marketplace</h3>
    <% if user_signed_in? %>
      <strong>
      	Welcome <%= current_user.email %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </strong>
    </p>
    <% end %>
    <p>
        <%= link_to "Employee Portal", new_person_path, class: "btn btn-default" %>
        <%= link_to "Consumer Portal", new_consumer_employee_path, class: "btn btn-default" %>
        <%= link_to "Employer Portal", employers_root_path, class: "btn btn-default" %>
        <%= link_to "Broker Portal", broker_agencies_root_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
