<!DOCTYPE html>
<html>
<head>
  <title>BenefitSponsors</title>
  <%= stylesheet_link_tag    "benefit_sponsors/application", media: "all" %>
  <%= javascript_include_tag "benefit_sponsors/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: './ui-components/v1/navbar/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
