!!! XML
%financial_assistance_application
  %id
    %id= financial_assistance_application.hbx_id
  - if financial_assistance_application.external_id
    %haven_app_id= financial_assistance_application.external_id
  - if financial_assistance_application.integrated_case_id
    %e_case_id= financial_assistance_application.integrated_case_id
  %applicant_type= "urn:openhbx:terms:v1:financial_assistance_application_applicant##{financial_assistance_application.applicant_kind}"
  %request_type= "urn:openhbx:terms:v1:financial_assistance_application_request##{financial_assistance_application.request_kind}"
  %motivation_type= "urn:openhbx:terms:v1:financial_assistance_application_motivation##{financial_assistance_application.motivation_kind}"
  %status= "urn:openhbx:terms:v1:financial_assistance_application_status##{financial_assistance_application.aasm_state}"
  %submitted_at= financial_assistance_application.submitted_at.strftime('%Y-%m-%dT%H:%M:%S')
  %effective_date= financial_assistance_application.effective_date.strftime('%Y-%m-%dT%H:%M:%S')
  %assistance_year= financial_assistance_application.assistance_year
  %is_renewal_authorized= financial_assistance_application.is_renewal_authorized
  - if financial_assistance_application.renewal_base_year
    %renewal_base_year= financial_assistance_application.renewal_base_year
  - if financial_assistance_application.years_to_renew
    %years_to_renew= financial_assistance_application.years_to_renew
  %us_state= "urn:openhbx:terms:v1:us_state##{financial_assistance_application.us_state.downcase.gsub(" ","_")}"
  = render :partial => "events/financial_assistance/benchmark_plan", :locals=> {:financial_assistance_application => financial_assistance_application}
  %has_accepted_medicaid_terms= financial_assistance_application.medicaid_terms
  %has_accepted_medicaid_insurance_collection_terms= financial_assistance_application.medicaid_insurance_collection_terms
  %has_accepted_attestation_terms= financial_assistance_application.attestation_terms
  %has_accepted_submission_terms= financial_assistance_application.submission_terms
  %has_accepted_parent_living_out_of_home_terms= financial_assistance_application.parent_living_out_of_home_terms
  %has_accepted_report_change_terms= financial_assistance_application.report_change_terms
  - if financial_assistance_application.request_full_determination
    %request_full_determination= financial_assistance_application.request_full_determination
  %assistance_tax_households
    = render :partial => "events/financial_assistance/assistance_tax_household", :collection => financial_assistance_application.tax_households, as: :assistance_tax_household, :locals=> {:financial_assistance_application => financial_assistance_application}





