<div class="tab-row">
  <div class="tab-content" id="myTabContent">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                  <h3>Additional Documentation Required</h3>
                  <p>We need the following documentation to verify the information you enetered into your application. You may submit documentation now or within <strong>90 days</strong> after you submit your application. <%= link_to 'Learn why we need additional documentation', '#' %></p>

                  <%= form_for @consumer_wrapper, :url => insured_verification_documents_upload_path , method: :post do |f| %>

                    <%= f.select @consumer_wrapper.vlp_document_kinds%>
                    <%= f.file_field :file %>

                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
