<% benefits = [
	{
	  benefit_type: "health",
	  plan_name: "High Value 1000",
	  issuer_name: "Aetna",
	  plan_type: "PPO",
	  subscriber_name: "Joe Cool",
	  start_date: Date.current - 30,
	  subscriber_hbx_id: "123456",
	  subscriber_carrier_id: "987654",
	  group_id: "1zu3t",
	  metal_level: "gold"
	},
	{
	  benefit_type: "dental",
	  plan_name: "Pearly Whites Advantage",
	  issuer_name: "Aetna",
	  plan_type: "N/A",
	  subscriber_name: "Joe Cool",
	  start_date: (Date.current - 30).beginning_of_month,
	  subscriber_hbx_id: "123456",
	  subscriber_carrier_id: "987654",
	  group_id: "7yt2q",
	  metal_level: "N/A"
	}
	]
	%>

	<% employer = {
	  name: "ACME Widgets",
	  contact: "link to employer HR contact",
	  plan_year: 2016,
	  plan_year_start: (Date.current - 90).beginning_of_month,
	  benefit_group: "link to benefit group",
	  benefits: benefits
	}
%>

<div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
	<div class="container">
		<div class="row">




			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel panel-default min-h">
                            	<div class="panel-body">
	                                <div class="page-header">
	                                    <h4>Your plan</h4>
	                                    <a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Details</a>
	                                </div>
	                                <%= image_tag 'company-logo/CareFirst.png' %>

	                                <h3>BlueCross Blueshield Preferred 500, A Multi State Plan</h3>
	                                <div class="page-header">
	                                    <h1>$249 <small>/Month</small></h1>
	                                </div>
	                                <table class="table">
	                                    <thead>
	                                        <tr>
	                                            <th>TYPE</th>
	                                            <th>LEVEL</th>
	                                            <th>NETWORK</th>
	                                            <th>DEDUCTIBLE</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td>HMO</td>
	                                            <td><%= image_tag 'icons/gold-circle.png', class: 'hidden-sm' %> Gold</td>
	                                            <td>Nationwide</td>
	                                            <td>$500</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel panel-default min-h">
                            	<div class="panel-body">
	                                <div class="page-header">
	                                    <h4>Your plan</h4>
	                                    <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit</a>
	                                </div>
	                                <%= image_tag 'company-logo/acme.png' %>
	                                <h3>Acme Unlimited, Inc.</h3>
	                                <ul class="list-unstyled list-comp">
	                                    <li>
	                                        HIRED: <EM>03/30/2014</EM>
	                                    </li>
	                                    <li>
	                                        ELIGIBLE FOR COVERAGE: <EM>03/30/2014</EM>
	                                    </li>
	                                </ul>
	                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                    	<div class="panel-body">
	                        <div class="page-header">
	                            <h4>Your life events</h4>
	                        </div>
	                        <div class="row">
	                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                                <ul class="list-unstyled list-inline list-qle">
	                                    <li>
	                                        <a href="#">"I got married"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I got divorced"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I had a baby"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"My spouse passed away"</a>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                                <ul class="list-unstyled list-inline list-qle">
	                                    <li>
	                                        <a href="#">"I got married"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I got divorced"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I had a baby"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"My spouse passed away"</a>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                                <ul class="list-unstyled list-inline list-qle">
	                                    <li>
	                                        <a href="#">"I got married"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I got divorced"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"I had a baby"</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">"My spouse passed away"</a>
	                                    </li>
	                                </ul>
	                            </div>
							</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                    	<div class="panel-body">
	                        <div class="page-header">
	                            <h4>Payments</h4>
	                            <a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Details</a>
	                        </div>
	                        <ul class="list-unstyled list-comp">
	                            <li>
	                                NEXT PAYMENT DUE: <EM>03/30/2014</EM>
	                            </li>
	                        </ul>
	                        <H1>$249</H1>
	                        <br/>
	                        <div class="row">
	                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                                <ul class="list-unstyled list-comp no-pd">
	                                    <li>
	                                        LAST PAYMENT: <EM>$249</EM>
	                                    </li>
	                                    <li>
	                                        RECEIVED: <EM>03/30/2014</EM>
	                                    </li>
	                                    <li>
	                                        <a href="#">PAYMENT HISTORY</a>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                                <a href="#" class="btn btn-danger btn-block btn-payment btn-block">Make a Payment</a>
	                            </div>
	                        </div>
	                    </div>
                    </div>

                    <div class="panel panel-default">
                    	<div class="panel-body">
	                        <div class="row">
	                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
	                            	<%= image_tag 'icons/contact.png' %>
	                            </div>
	                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 info-wrapper">
	                                <h3>Carrier Contact</h3>
	                                <%= image_tag 'company-logo/CareFirst.png' %>
	                                <ul class="list-unstyled list-comp">
	                                    <li>PHONE: <EM>855-444-3119</EM></li>
	                                    <li>WEB: <a href="#" class="text-success">www.carefist.com</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
                    </div>

                    <div class="panel panel-default">
                    	<div class="panel-body">
	                        <div class="row">
	                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
	                            	<%= image_tag 'icons/find-doctor.png' %>
	                            </div>
	                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 info-wrapper">
	                                <h3>FIND DOCTORS</h3>
	                                <small>
	                                    Search for doctors by name, location, specialty, health plan participation and more.
	                                </small>
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>





			<!-- <div class="col-md-12">

				<div class="row">
					<div class="col-md-12">
						<h3>
							<% primary_member = @family.primary_applicant %>
							<%#= "#{primary_member.first_name} #{primary_member.middle_name} #{primary_member.last_name}" %>
						</h3>
						<h4><%= @employer_profile.legal_name %></h4>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<%#= render "shared/families/benefit_summary_shop", e: employer %>
					</div>
				</div>

				<%#= render 'qles' %>
			</div> -->
		</div>
	</div>
</div>
