
<div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
	<div class="submenu">
		<ul role="tablist" class="nav nav-tabs" id="myTab1">
			<li class="active" role="presentation"><a aria-expanded="true" aria-controls="personal" data-toggle="tab" role="tab" id="personal-tab" href="#personal">&nbsp;&nbsp;Personal</a></li>
			<li role="presentation"><a aria-controls="employer" data-toggle="tab" id="employer-tab" role="tab" href="#employer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employer</a></li>
			<li role="presentation"><a aria-controls="family" data-toggle="tab" id="family-tab" role="tab" href="#family">&nbsp;Family Members</a></li>
			<li role="presentation"><a aria-controls="contact" data-toggle="tab" id="contact-tab" role="tab" href="#contact">&nbsp;Contact Information</a></li>
		</ul>
	</div>
	<div class="tab-content" id="myTabContent1">
		<div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
			<div id="personal_info" class="focus_effect row personal-info-top-row">
				<div class="col-md-8 no-pd col-sm-8 col-xs-12">
					<div class="table-responsive first landing_personal_tab">
						<%= render 'people/landing_pages/personal' %>
					</div>
					<button class="btn btn-default save-btn">Save</button>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="life-event-tip">
						<h4>Life Events Tip #3</h4>
						<p>
						There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div aria-labelledby="employer-tab" id="employer" class="tab-pane fade" role="tabpanel">
			<div class="emp-info">
				<div class="col-md-8 no-pd col-sm-8 col-xs-12">
					<div class="table-responsive landing_personal_tab">
						<%= render 'people/landing_pages/employer' %> 
					</div>
				</div>
			</div>
		</div>

		<div aria-labelledby="family-tab" id="family" class="tab-pane fade landing-row" role="tabpanel">
		</div>

		<div aria-labelledby="contact-tab" id="contact" class="tab-pane fade landing_contact_information" role="tabpanel">
			<div class="col-md-8 col-sm-8 col-xs-12 no-pd">
				<%= form_for(@person) do |f| %>
					<%= render 'shared/address_fields', f: f %><br>
					<%= render 'shared/phone_fields', f: f %><br>

					<div id="email_info" class="focus_effect personal-info-row">
						<%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
							<%= render 'shared/email_fields', f: email %>
						<% end %>
						<div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
