<%= plan.try(:carrier_profile).try(:legal_name) %>
<h3><%= plan.try(:name) %></h3>
<div>
  Subscriber Id : <%= hbx_enrollment.try(:subscriber).try(:id).try(:to_s) %>
  <br/>
  Group Id : <%= hbx_enrollment.try(:benefit_group_id).try(:to_s) %>
</div>
<br/>

<table class="table">
  <thead>
    <tr>
      <th>TYPE</th>
      <th>LEVEL</th>
      <th>START</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= plan.try(:plan_type).try(:upcase) %></td>
      <% plan_level = plan.try(:metal_level).try(:humanize) %>
      <td><span class="<%= plan_level.try(:downcase) %>-icon"><%= plan_level %></span></td>
      <td><%= hbx_enrollment.try(:effective_on) %></td>
      <td></td>
    </tr>
  </tbody>
</table>
