<div class="submenu">
	<div class="container">
		<div class="row">
			<ul role="tablist" class="nav nav-tabs" id="myTab1">
				<li role="presentation"<%= menu_tab_class(active_subtab, "personal-tab") %>>
					<%= link_to(personal_consumer_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "personal", "role" => "tab" ) do  %>
						Personal
					<% end %>
				</li>
				<li role="presentation"<%= menu_tab_class(active_subtab, "employer-tab") %>><a aria-controls="employer" data-toggle="tab" id="employer-tab" role="tab" href="#employer">Employer</a></li>
				<li role="presentation"<%= menu_tab_class(active_subtab, "family-tab") %>>
					<%= link_to(family_consumer_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "family", "role" => "tab" ) do  %>
						Family
					<% end %>
				</li>
				<li role="presentation"<%= menu_tab_class(active_subtab, "contact-tab") %>><a aria-controls="contact" data-toggle="tab" id="contact-tab" role="tab" href="#contact">&nbsp;Contact Information</a></li>
			</ul>
		</div>
	</div>
</div><br>