<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= image_tag 'icons/life-event.png', style: 'width: 100%' %>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-wrapper">
    <h3>Have Life Events?</h3>
    <small>
      See how it may affect your health insurance.
    </small>
  </div>
</div>
<hr />

<div id="qle-menu">
  <div class="page-header">
    <h5 style='text-align: center; margin:0;'>TOP LIFE CHANGES</h5>
  </div>
  <div class="row">
    <div id="carousel-qles" class="carousel slide" data-ride="carousel">
      <% if @qualifying_life_events %>		
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style='min-height: 180px;'>
          <% count = 0 %>
          <% @qualifying_life_events.each_slice(5) do |qles| %>
            <div class="item <%= 'active' if count == 0 %>">
              <ul class="list-qle">
                <% qles.each do |qle| %>
                  <p>
                    <a class="qle-menu-item" href="javascript:void(0)" data-toggle="tooltip" title="<%= qle.description %>"><%= qle.title.humanize %></a>
                  </p>
                <% end %>
              </ul>
            </div>
            <% count += 1 %>
          <% end %>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators" style='bottom: -20px;'>
          <% (0..(count-1)).each do |index| %>
            <li data-target="#carousel-qles" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-qles" role="button" data-slide="prev" style='background-image: none;color:#007bc4;'>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-qles" role="button" data-slide="next" style='background-image: none;color:#007bc4;'>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div id="qle-details" class="hidden">
	<a class="close-popup" href="javascript:void(0);"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
  <div class="row">
    <%= form_tag '/consumer/employee_dependents', method: :get, class: 'input-no-pd', id: 'qle_form' do %>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 qle-form-wrapper">
        <h3 class="qle-details-title">"I got married"</h3>
        <h5>Enter the date of the event.</h5>
        <%= text_field_tag 'qle_date', '', :'data-date-max'=> "+30d", :'data-date-min'=> "-30d", placeholder: " ",
          class: "required date-picker qle-date-picker floatlabel form-control", required: true %>
        <%= link_to 'Submit', 'javascript:;', class: 'btn btn-danger', id: 'qle_submit' %>
        <br>
        <a class="cancel" href="javascript:void(0);">Cancel</a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 qle-form-wrapper">
        <div class="success-info hidden"><br>
          <p class="success-text"><strong>You may be eligible for a special enrollment period.</strong></p><br>

          <%= hidden_field_tag 'change_plan' %>
          <%= hidden_field_tag 'employee_role_id', @employee_role.try(:id) || "None" %>

          <%= submit_tag 'Continue', class: 'btn btn-primary' %>
        </div>
        <div class="error-info hidden">
          <p class="error-text">The date you submitted does not qualify for special enrollment.<br>Please double check the date or contact DC Health Link's Customer Care Center: 1-855-532-5465.</p>

          <%= submit_tag 'Continue', disabled: true, class: 'btn' %>
        </div>
        <div class="default-info"><br><br><br>
          <center>
            <strong id="qle-input-info">Please enter a date to the left.</strong><br><br>
            <%= submit_tag 'Continue', disabled: true, class: 'btn' %>
          </center>
        </div>
      </div>
    <% end %>
  </div>
</div>
