<div id="qle-menu">
    <div class="page-header">
        <h4>Your life events</h4>
    </div>
    <div class="row">
    	<% if @qualifying_life_events %>		
			<% @qualifying_life_events.each_with_index do |qle, index| %>
				<% if index%5 == 0 %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<ul class="list-unstyled list-inline list-qle">
				<% end %>

				<li>
					<a class="qle-menu-item" href="javascript:void(0)" data-toggle="tooltip" title="<%= qle.description %>">"<%= qle.title.humanize %>"</a>
				</li>

				<% if index%5 == 4 || index+1 == @qualifying_life_events.count %>
					</ul>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<div id="qle-details" class="hidden">
	<a class="close-popup" href="javascript:void(0);"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
	<div class="row">
		<%= form_tag '/consumer/employee_dependents', method: :get, class: 'input-no-pd', id: 'qle_form' do %>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 qle-form-wrapper">
                <h3 class="qle-details-title">"I got married"</h3>
                <h5>Enter the date of the event.</h5>
                <%= text_field_tag 'qle_date', '', :'data-date-max'=> "+30d", :'data-date-min'=> "-30d", placeholder: " ",
                                 class: "required date-picker qle-date-picker floatlabel form-control", required: true %>
                <%= link_to 'Submit', 'javascript:;', class: 'btn btn-danger', id: 'qle_submit' %>
                <br>
                <a class="cancel" href="javascript:void(0);">Cancel</a>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 qle-form-wrapper">
            	<div class="success-info hidden"><br>
					<p class="success-text"><strong>You may be eligible for a special enrollment period.</strong></p><br>

					<%= hidden_field_tag 'change_plan' %>
					<%= hidden_field_tag 'employee_role_id', @employee_role.try(:id) || "None" %>

					<%= submit_tag 'Continue', class: 'btn btn-primary' %>
				</div>
				<div class="error-info hidden">
					<p class="error-text">The date you submitted does not qualify for special enrollment.<br>Please double check the date or contact DCHBX support 1-800-555-1212.</p>

					<%= submit_tag 'Continue', disabled: true, class: 'btn' %>
				</div>
				<div class="default-info"><br><br><br>
					<center>
						<strong id="qle-input-info">Please enter a date to the left.</strong><br><br>
						<%= submit_tag 'Continue', disabled: true, class: 'btn' %>
					</center>
				</div>
        	</div>
        <% end %>
    </div>
</div>