<div class="container bottom-pd">
  <div id="confirm_plan" class="col-md-8 col-sm-8 col-xs-12">
    <h3>Confirm Your Plan Selection</h3>
    <p class="alert alert-info">
      INFO: This page should display the changes in Total amount after adding or deleting the family member.
    </p>
    <p>Your current plan selection is displayed below. Click the back button if you want to change your selection. Click Purchase button to complete your enrollment.</p>
    <p>Your enrollment is not complete until you purchase your plan selection below.</p>
    <p>
      <strong><%= @plan.name %></strong><br>
      Starting on : <%= @enrollment.effective_on.strftime("%m/%d/%Y") %>
    </p>

    <br>

    <div class="table-border">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Relationship</th>
            <th>Age</th>
            <th class="text-right">Premium</th>
            <th width="50" class="text-right">Employer Contribution</th>
            <th width="50" class="text-right">You Pay</th>
          </tr>
        </thead>

        <tbody>
          <% @enrollment.hbx_enrollment_members.each do |member| %>
            <tr>
              <td><%= member.person.full_name %></td>
              <td><%= member.primary_relationship %></td>
              <td><%= member.person.age_on(Time.now.utc.to_date) %></td>
              <td class="text-right"><%= number_to_currency(@plan.premium_for(member)) %></td>
              <td class="text-right"><%= number_to_currency(@plan.employer_contribution_for(member)) %></td>
              <td class="text-right"><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
            </tr>
          <% end %>
          <tr class="gray-row">
            <td colspan="3" class="text-right capital"><strong>Totals</strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_employer_contribution) %></strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">Your coverage start date :</td>
            <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
          </tr>
        </tbody>
      </table>
    </div><br>
    <%= link_to 'Purchase', '#', class: 'btn btn-primary pull-right' %>
  </div>
</div>
