<div class="container bottom-pd">
  <div class="row">
  <div id="confirm_plan" class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
    <h3>Confirm Your Plan Selection</h3>
    <% if @terminate.present? %>
      <p>Click Terminate Plan button to complete your termination from coverage.</p>
      <p>You will remain enrolled in coverage until you terminate your plan selection below.</p>
    <% else %>
      <p>Your current plan selection is displayed below. Click the back button if you want to change your selection. Click Purchase button to complete your enrollment.</p>
      <p>Your enrollment is not complete until you purchase your plan selection below.</p>
    <% end %>
    <p>
      <strong><%= @plan.name %></strong><br>
      Starting on : <%= @enrollment.effective_on.strftime("%m/%d/%Y") %>
    </p>

    <br>

    <div class="table-border">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Relationship</th>
            <th>Age</th>
            <th class="text-right">Premium</th>
            <th width="50" class="text-right">Employer Contribution</th>
            <th width="50" class="text-right">You Pay</th>
          </tr>
        </thead>

        <tbody>
          <% @enrollment.hbx_enrollment_members.each do |member| %>
            <tr>
              <td><%= member.person.full_name %></td>
              <td><%= member.primary_relationship %></td>
              <td><%= dob_in_words(member.person.age_on(Time.now.utc.to_date), member.person.dob) %></td>
              <td class="text-right"><%= number_to_currency(@plan.premium_for(member)) %></td>
              <td class="text-right"><%= number_to_currency(@plan.employer_contribution_for(member)) %></td>
              <td class="text-right"><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
            </tr>
          <% end %>
          <tr class="gray-row">
            <td colspan="3" class="text-right capital"><strong>Totals</strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_employer_contribution) %></strong></td>
            <td class="text-right"><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">Your coverage start date :</td>
            <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
          </tr>
        </tbody>
      </table>
    </div><br>
    <% if @terminate.present? %>
      <%= link_to("Terminate Plan", terminate_insured_plan_shopping_path(@enrollment.id), {:class => "btn btn-primary pull-right", :method => :post}) %>
    <% else %>
      <%= link_to 'Purchase', checkout_insured_plan_shopping_path(@enrollment.id, :plan_id => @plan.id, change_plan: @change_plan), class: 'btn btn-primary pull-right', method: :post %>
    <% end %>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-1 right-section">
    <% if @change_plan == "change" %>
      <%= render partial: 'shared/qle_progress', locals: {step: '3', no_purchase: true} %>
    <% elsif @change_plan == "change_plan" %>
      <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '2', no_purchase: true} %>
    <% end %>
  </div>
  </div>
</div>
