<!-- <div id="show_broker_agency"></div>
 -->

 <div id="active_broker_panel">
  <div class="row no-buffer top-pd">
    <h3 class="title-inline">Active Broker</h3>
  </div>

<!--     <div class="row no-buffer">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-wp">
        <%= render 'shared/search', url: employers_employer_profiles_path, q: @q, placeholder: 'Name' %>
      </div>
    </div> -->

  <div class="row no-buffer bottom-pd">
    <div class="table-responsive">
      <table class="table table-wrapper">
        <thead>
          <tr>
            <th>Agency Name</th>
            <th>Broker Name</th>
            <th>NPN</th>
            <th>Hire Date</th>
            <th width="100"></th>
          </tr>
        </thead>
        <tbody>
          <% @broker_agency_accounts.each do |broker_agency_account| %>
            <% broker_agency_profile = broker_agency_account.broker_agency_profile %>
            <% if broker_agency_profile.present? %>
            <tr>
              <td><%= broker_agency_profile.legal_name %></td>
              <td><%= broker_agency_profile.primary_broker_role.person.full_name  if broker_agency_profile.primary_broker_role %></td>
              <td><%= broker_agency_profile.primary_broker_role.npn if broker_agency_profile.primary_broker_role  %></td>
              <td><%= format_date broker_agency_account.start_on %></td>
              <td> 
                <%= link_to '<i class="fa fa-times"></i> Terminate'.html_safe, ('javascript:;'), class: "btn btn-danger show_confirm", id: "show_confirm_#{broker_agency_profile.id}" %>
              </td>
            </tr>
            <tr class="unbrd  remove_<%= broker_agency_profile.id %>">
              <td id="enter-date" colspan="7" class="confirm-terminate-wrapper show_confirm_<%= broker_agency_profile.id %>">
                <div class="confirm-terminate">
                  <input type="text" placeholder="e.g. 5/1/2015" class="text-center date-picker"><br/>
                  <a href="javascript:;" data-link="<%= employers_employer_profile_broker_agency_terminate_path(@employer_profile.id, broker_agency_profile.id) %>" class="delete_confirm" id="remove_<%= broker_agency_profile.id %>"><strong>Submit</strong></a>
                </div>
                <%=image_tag "enter_date_termination.png", width: "300", height: "" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%#= render 'shared/alph_paginate', url: employers_employer_profile_broker_agency_index_path, alphs: @page_alphabets, remote: true %>
    </div>
  </div>
</div>