<div class="no-buffer" id="active_broker_tab">
  <div class="col-xs-12">
    <div class="row">


  <% if @employer_profile.broker_agency_profile.present? && @broker_agency_accounts[0].writing_agent.present? %>
  <% active_broker = @broker_agency_accounts[0].writing_agent %>
  <h1>Active Broker</h1>

  <div class="panel benefitgroup col-xs-12 <%=pundit_class EmployerProfile, :updateable?%>">
        <section class="col-xs-6">
          <header class="row">
            <h5 class="bg-title" style="margin-bottom: 0;"><%= active_broker.person.full_name %></h5>
            <span class="tt-u"><%= @employer_profile.broker_agency_profile.legal_name %><span>
          </header>
        </section>
        <section class="col-xs-6">
          <header class="row">
            <% if (defined?(direct_terminate) ? direct_terminate : false) %>
              <% if @broker_agency_accounts.first.start_on == TimeKeeper.date_of_record %>
                <% date = TimeKeeper.date_of_record %>
              <% else %>
                <% date = TimeKeeper.date_of_record - 1.day %>
              <% end %>
              <div class="bottom-pd">
                <% if current_user.can_change_broker? %>
                  <%= link_to 'Change Broker'.html_safe, ('javascript:;'), class: "btn btn-default", data: {toggle: "modal", target: "#terminate_broker"} %>
                <% else %>
                  <%= link_to 'Change Broker'.html_safe, ('javascript:;'), class: "btn btn-default disabled" %>
                <% end %>
                <!-- employers_employer_profile_broker_agency_terminate_path(@employer_profile.id, @employer_profile.broker_agency_profile.id, termination_date: date, direct_terminate: true) -->
              </div>
            <% else %>

            <div class="bottom-pd">
              <% if current_user.can_change_broker? %>
                <%= link_to 'Change Broker'.html_safe, ('javascript:;'), class: "btn btn-default", id: "show_confirm_#{@employer_profile.broker_agency_profile.id}" %>
              <% else %>
                <%= link_to 'Change Broker'.html_safe, ('javascript:;'), class: "btn btn-default disabled" %>
              <% end %>
            </div>
            <table class="table table-wrapper" style="opacity: 1;">
            <tbody>
            <tr class="unbrd remove_<%= @employer_profile.broker_agency_profile.id %>">
              <td id="enter-date" colspan="7" class="confirm-terminate-wrapper show_confirm_<%= @employer_profile.broker_agency_profile.id %>">
                <div class="confirm-terminate">
                  <input type="text" placeholder="e.g. 5/1/2015" class="text-center date-picker"><br/>
                  <a href="javascript:;" data-link="<%= employers_employer_profile_broker_agency_terminate_path(@employer_profile.id, @employer_profile.broker_agency_profile.id) %>" class="delete_confirm" id="remove_<%= @employer_profile.broker_agency_profile.id %>"><strong>Submit</strong></a>
                  </div>
                  <%= image_tag "enter_date_termination.png", width: "300", height: "" %>
                </td>
              </tr>
            </tbody>
            </table>
            <% end %>
          </header>
        </section>
        <table>
          <tbody><tr>
            <td>
              <header>
                <% if @employer_profile.broker_agency_profile.organization.office_locations.any? %>
                  <%= @employer_profile.broker_agency_profile.organization.primary_office_location.address.address_1 %><br/>
                  <%= @employer_profile.broker_agency_profile.organization.primary_office_location.address.city %>,
                  <%= @employer_profile.broker_agency_profile.organization.primary_office_location.address.state %>
                  <%= @employer_profile.broker_agency_profile.organization.primary_office_location.address.zip %>


                <% else %>
                No Address
                <% end %>
              </header>
            </td>
            <td>
                <% if active_broker.phone %>
                <i class="fa fa-phone"></i>
                  <%= active_broker.phone %>
                  <% else %>
                  <i class="fa fa-phone"></i>
                  No Phone Number
                <% end %>
                <br/>
                <i class="fa fa-at"></i>
                <a href="mailto:<%= active_broker.email.address %>">
                  <%= active_broker.email.address %>
                </a>


            </td>
          </tr>


        </tbody></table>
      </div>
      <div class="panel benefitgroup col-xs-12">
        <div class="row">
          <br/>
          <div class="col-xs-4">
            <span class="lg ttu twelve">
              New Clients:
            </span>
            <span class="dg">
              <%= @employer_profile.broker_agency_profile.accept_new_clients? ? 'Yes' : 'No' %>
            </span>
            <br/>
            <span class="lg ttu twelve">
              Weekend/Evening Hours:
            </span>
            <span class="dg">
              <%= @employer_profile.broker_agency_profile.working_hours? ? 'Yes' : 'No' %>
            </span>
          </div>
          <div class="col-xs-8">
            <span class="lg ttu twelve">
              Language:
            </span>
            <span class="dg">
              <%= @employer_profile.broker_agency_profile.languages %>
            </span>
            <br/>
            <span class="lg ttu twelve">
              Assignment Date:
            </span>
            <span class="dg">
              <%= format_date(assignment_date(@employer_profile)) %>
            </span>
          </div>
        </div>
        <br/>
</div>
    <% else %>
    <% end %>
</div>
</div>
</div>
<% if (defined?(direct_terminate) ? direct_terminate : false) %>

<div id="terminate_broker" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Broker Termination Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Select 'Terminate' to unhire the selected Broker. They will be terminated effective immediately.</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Terminate Broker'.html_safe, employers_employer_profile_broker_agency_terminate_path(@employer_profile.id, @employer_profile.broker_agency_profile.id, termination_date: date, direct_terminate: true), class: "btn btn-primary  mtz" %>
        <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<% end %>
<div class="col-xs-12">
  <div class="row">
  <br/>
  <% if current_user.can_change_broker? %>
  <%= link_to '<i class="fa fa-search" aria-hidden="true"></i> &nbsp;Browse Brokers'.html_safe, "/employers/employer_profiles/#{@employer_profile.id}/broker_agency", remote: true, class: "btn btn-primary btn-block btn-lg starter", id: 'browse_brokers_link',
    onclick: '$("#brokers-empty").hide(); $("#active_broker_tab").hide(); $("#browse_brokers_link").hide()' %>
  <% else %>
    <%= link_to '<i class="fa fa-search" aria-hidden="true"></i> &nbsp;Browse Brokers'.html_safe, ('javascript:;'), class: "btn btn-primary disabled" %>
  <% end %>
  </div>
</div>
<div class="row no-buffer">
  <div class="">
  <div id="show_broker_agency"></div>
  <div id="broker_agencies_panel">
  </div>
</div>
</div>
