
<div class="container">
<div class="row no-buffer top-pd" id="active_broker_tab">
  <div class="col-xs-8">
  <% if @employer_profile.broker_agency_profile.present? && @broker_agency_accounts[0].writing_agent.present? %>
  <% active_broker = @broker_agency_accounts[0].writing_agent %>
  <h4>Active Broker</h4>
  <div class="form-border">
    <dl class="dl-horizontal no-buffer">
      <dt>Agency Name</dt>
      <dd><%= @employer_profile.broker_agency_profile.legal_name %></dd>
      <dt>Broker Name</dt>
      <dd><%= active_broker.person.full_name %></dd>
      <dt>Selected On</dt>
      <dd><%= format_date @broker_agency_accounts[0].start_on %></dd>
      <dt>Email</dt>
      <dd>
      <a href="mailto:<%= active_broker.person.emails.first.address %>"><%= active_broker.person.emails.first.address %></a>
      </dd>
    </dl>

    <div class="bottom-pd">
      <%= link_to '<i class="fa fa-times"></i> Terminate'.html_safe, ('javascript:;'), class: "btn btn-danger show_confirm pull-right", id: "show_confirm_#{@employer_profile.broker_agency_profile.id}" %>
    </div>
    <table class="table table-wrapper" style="opacity: 1;">
    <tbody>
    <tr class="unbrd remove_<%= @employer_profile.broker_agency_profile.id %>">
      <td id="enter-date" colspan="7" class="confirm-terminate-wrapper show_confirm_<%= @employer_profile.broker_agency_profile.id %>">
        <div class="confirm-terminate">
          <input type="text" placeholder="e.g. 5/1/2015" class="text-center date-picker"><br/>
          <a href="javascript:;" data-link="<%= employers_employer_profile_broker_agency_terminate_path(@employer_profile.id, @employer_profile.broker_agency_profile.id) %>" class="delete_confirm" id="remove_<%= @employer_profile.broker_agency_profile.id %>"><strong>Submit</strong></a>
          </div>
          <%= image_tag "enter_date_termination.png", width: "300", height: "" %>
        </td>
      </tr>
    </tbody>  
    </table>
  </div>
    <% else %>
  <span>No Active Broker</span>
    <% end %>
</div>
</div>

<div class="container top-pd" id="browse_brokers">
    <%= link_to 'Browse Brokers'.html_safe, ('javascript:;'), class: "btn btn-danger", id: "show_active_brokers" %>
</div>

<div class="row no-buffer">
  <div class="col-xs-12"> 
  <div id="show_broker_agency"></div>
  <div id="broker_agencies_panel" style="display:none">
   <%= render "employers/broker_agency/index" %>
  </div>
</div>
</div>

<script>
$("#show_active_brokers").click(function(){
  $("#broker_agencies_panel").toggle();
})
</script>

</div>
