    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <thead>
          <tr>
            <th>Agency Name</th>
            <th>Evening/Weekend Hours</th>
            <th>Language(s) spoken</th>
            <th>Broker Name</th>
            <th>NPN</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @broker_agency_profiles.each do |broker_agency| %>
            <% brokers = broker_agency.active_broker_roles %>
            <% next if brokers.empty? %>
            <tr>
              <td <%= "rowspan=#{brokers.size}" %>>
                <%= link_to broker_agency.legal_name, employers_employer_profile_broker_agency_path(@employer_profile, broker_agency), remote: true %>

              </td>
              <td <%= "rowspan=#{brokers.size}" %>>
                <%= broker_agency.working_hours ? "Yes" : "No" %>
              </td>
              <td <%= "rowspan=#{brokers.size}" %>>
                <%= broker_agency.languages %>
              </td>
              <%= render "employers/broker_agency/broker", broker: brokers.delete(broker_agency.primary_broker_role), broker_agency: broker_agency %>
              <% brokers.each do |b| %>
                <tr><%= render "employers/broker_agency/broker", broker: b, broker_agency: broker_agency %></tr>
              <% end %>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% if @page_alphabets.present? %>
    <%= render 'shared/alph_paginate', url: "/employers/employer_profiles/#{@employer_profile.id}/broker_agency", alphs: @page_alphabets, remote: true %>
    <% end %>
