<div>
  <div class="row no-buffer top-pd">
    <h4 class="title-inline">Broker Agencies</h4>

    <div class="pull-right broker_agencies_search">
      <div class="search-wp">
        <%= render 'shared/search', url: "/employers/employer_profiles/#{@employer_profile.id}/broker_agency", q: @q, remote: true, placeholder: 'Agency Name' %>
      </div>
    </div>
  </div>

  <div class="row no-buffer">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <thead>
          <tr>
            <th>Agency Name</th>
            <th>Broker Name</th>
            <th>NPN</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @broker_agency_profiles.each do |broker_agency| %>
            <% brokers = broker_agency.active_broker_roles %>
            <% next if brokers.empty? %>
            <tr>
              <td <%= "rowspan=#{brokers.size}" %>>
                <%= link_to broker_agency.legal_name, employers_employer_profile_broker_agency_path(@employer_profile, broker_agency), remote: true %>

              </td>
              <%= render "employers/broker_agency/broker", broker: brokers.first, broker_agency: broker_agency %>
              <% if brokers.size > 1 %>
                <% brokers.delete_at(0) %>
                <% brokers.each do |b| %>
                  <tr><%= render "employers/broker_agency/broker", broker: b, broker_agency: broker_agency %></tr>
                <% end %>
              <% end %>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'shared/alph_paginate', url: "/employers/employer_profiles/#{@employer_profile.id}/broker_agency", alphs: @page_alphabets, remote: true %>
</div>
