<div class="row">
  <div class="col-md-4 mb-3">
    <label for="validationCustom01">First name *</label>
    <%= f.text_field :first_name, placeholder:'First Name', required:'true', id:'validationCustom01', class:'form-control' %>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom02">Last name *</label>
    <%= f.text_field :last_name, placeholder:'Last Name', required:'true', id:'validationCustom02', class:'form-control' %>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustomDOB">Date of Birth *</label>
    <%= f.text_field :dob, placeholder:'Date of Birth', required:'true', id:'validationCustomDOB', class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <label for="validationCustomEmail">Email *</label>
    <%= f.text_field :email, placeholder:'Email', required:'true', id:'validationCustomEmail', class:'form-control' %>
  </div>
  <div class="col-md-6 mb-3">
    <label for="validationCustomNPN">NPN *</label>
    <%= f.text_field :npn, placeholder:'NPN', required:'true', id:'validationCustomNPN', class:'form-control' %>
  </div>
</div>