<div class="col-md-7">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title-inline"><b>Add Health Coverages</b></h3>
    </div>
  </div>

  <div>
    <% if @applicant.benefits.present? %>
      <h4>Edit Existing Benefit(s)</h4>
      <table class="table">
        <th>Benefit Type</th>
        <th></th>
        <th></th>
        <% @applicant.benefits.each do |benefit| %>
          <tr>
            <td><%=benefit.kind.present? ? benefit.kind : "Enrolled Benefit" %></td>
            <td><%= link_to "Edit", go_to_step_financial_assistance_application_applicant_benefit_path(@application, @applicant, benefit, 1), class: "btn btn-small btn-success" %></td>
            <td><%= link_to "Delete", financial_assistance_application_applicant_benefit_path(@application, @applicant, benefit), method: :delete, class: "btn btn-small btn-warning", data: { confirm: "Are you sure?" }%></td>
          </tr>
        <% end %>
      </table>
    <%end%>
  </div>
  <%= link_to "Add Health Coverage", new_financial_assistance_application_applicant_benefit_path(@application, @applicant) %>
</div>

<div class="col-md-2">
  <%# This will eventually change to the applicant's other questions steps when it's done %>
  <%= link_to edit_financial_assistance_application_path(@application) do %>
    <div id="btn-continue" class="button btn btn-lg btn-primary">CONTINUE</div>
  <% end %>

  <ul class="list-unstyled list-right-section">
    <li>
      <%= link_to financial_assistance_application_applicant_deductions_path(@application, @applicant) do %>
        <%= image_tag 'icons/list.png' %> PREVIOUS
      <% end %>
    </li>
  </ul>
</div>
