<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bottom-pd">

    <div class="row">
      <div class="col-md-12">
        <div class="title-icon">
          <span class="fa-icon fa fa-stethoscope fa-3x"></span>
        </div>
        <h1 class="darkblue">Health Coverage for <%= @applicant.family_member.person.first_name.titleize %></h1>
      </div>
    </div>
    <p>Tell Us about other health coverage options for this person. When you're finished, select CONTINUE</p>
    <br/>

    <!--is enrolled driver question-->
    <div class="row row-form-wrapper radio-align no-buffer">
      <div class="col-md-6 labelforcoverage">
        <span class="fa-text-color">Is this person currently enrolled in health coverage? *</span>
      </div>
      <div class="col-md-6 mt11">
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_enrolled_health_coverage", true, @applicant.has_enrolled_health_coverage?, class: "radio-yml" ) %>
          <label class="radio-yml" for="enrolled_in_health_coverage_yes">Yes</label>
        </div>
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_enrolled_health_coverage", false, @applicant.has_enrolled_health_coverage == false, class: "radio-yml" ) %>
          <label class="radio-yml" for="enrolled_in_health_coverage_no">No</label>
        </div>
        <div class="col-md-6">
            <a href="#has_enrolled_health_coverage" data-toggle="modal" data-target="#has_enrolled_health_coverage" class="interaction-click-control-not-sure?">Not Sure?</a>
            <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "has_enrolled_health_coverage"} %>
        </div>
      </div>
    </div>
    <br />

    <div class='benefit-kinds', id='enrolled-benefit-kinds'>
      <%= render partial: 'financial_assistance/benefits/insurance_kinds', locals: { insurance_kinds: FinancialAssistance::Benefit::INSURANCE_KINDS, kind: "is_enrolled"} %>
    </div>

    <!--is eligible driver question-->
    <div class="row row-form-wrapper radio-align no-buffer row-height">
      <div class="col-md-6 labelforcoverage">
        <span class="fa-text-color">Does this person currently have access to other health coverage, including through another person? *</span>
      </div>
      <div class="col-md-6 mt11">
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_eligible_health_coverage", true, @applicant.has_eligible_health_coverage?, class: "radio-yml" ) %>
          <label class="radio-yml" for="eligible_for_health_coverage_yes">Yes</label>
        </div>
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_eligible_health_coverage", false, !@applicant.has_eligible_health_coverage?, class: "radio-yml" ) %>
          <label class="radio-yml" for="ieligible_for_health_coverage_no">No</label>
        </div>
        <div class="col-md-6">
           <a href="#has_eligible_health_coverage" data-toggle="modal" data-target="#has_eligible_health_coverage" class="interaction-click-control-not-sure?">Not Sure?</a>
           <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "has_eligible_health_coverage"} %>
        </div>
      </div>
    </div>
    <br />

    <div class='benefit-kinds', id='eligible-benefit-kinds'>
      <%= render partial: 'financial_assistance/benefits/insurance_kinds', locals: { insurance_kinds: FinancialAssistance::Benefit::INSURANCE_KINDS, kind: "is_eligible"} %>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
    <%#= link_to "Add Health Coverage", new_financial_assistance_application_applicant_benefit_path(@application, @applicant), class: "btn btn-default center-block" %>
    </div>
  </div>

  <!-- Hidden destroy benefit modal -->
  <div class="modal fade" id="destroyBenefit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Destroy this benefit?</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to destroy this benefit?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger modal-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Hidden destroy all benefits modal -->
  <div class="modal fade" id="destroyAllBenefits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete all benefits?</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete all of these benefits?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger modal-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Hidden unsaved benefits modal -->
  <div class="modal fade" id="unsavedBenefitChangesWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Unsaved Benefit Changes</h4>
        </div>
        <div class="modal-body">
          You have made changes to a benefit that are not yet saved. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger modal-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!--Right NAV-->
  <div class='col-md-3'>
    <%= render partial: 'financial_assistance/shared/right_nav', locals: {
      previous_url: financial_assistance_application_applicant_deductions_path(@application, @applicant),
      next_url: other_questions_financial_assistance_application_applicant_path(@application, @applicant)
    } %>
  </div>
  <%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
</div>
