<div class="col-md-7 ">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title-inline"><b>HEALTH COVERAGE for <%= @applicant.family_member.person.first_name.titleize %></b></h3>
    </div>
  </div>

  <div>
  <h4>Tell Us about other health coverage options for this person. When you're finished, select CONTINUE</h4>
    <%= render "health_coverage_questions"%>
      <% if @applicant.has_enrolled_health_coverage || @applicant.has_eligible_health_coverage %>
      <table class="table">
        <th>Benefit Type</th>
        <th>Benefit Insurance Type</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <% @applicant.benefits.each do |benefit| %>
          <tr>
            <td><%= benefit.kind.split('_').second.capitalize!%></td>
            <td><%= benefit.insurance_kind.titleize if benefit.insurance_kind.present? %></td>
            <td>
              <% if benefit.valid? :submission %>
                <span class="glyphicon glyphicon-ok complete-icon"></span>&nbsp;<span class="complete-icon">Complete</span>
              <% else %>
                <span class="glyphicon glyphicon-refresh in-progress-icon"></span>&nbsp;<span class ="in-progress-icon">In Progress</span>
              <% end %>
            </td>
            <td><%= link_to "Edit", go_to_step_financial_assistance_application_applicant_benefit_path(@application, @applicant, benefit, 1), class: "btn btn-small btn-success" %></td>
            <td><%= link_to "Delete", financial_assistance_application_applicant_benefit_path(@application, @applicant, benefit), method: :delete, class: "btn btn-small btn-warning", data: { confirm: "Are you sure?" }%></td>
          </tr>
        <% end %>
      </table>
    <%end%>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
  <%= link_to "Add Health Coverage", new_financial_assistance_application_applicant_benefit_path(@application, @applicant), class: "btn btn-default center-block" %>
  </div>
</div>

<div class="col-md-2">
  <%# This will eventually change to the applicant's other questions steps when it's done %>
  <%= link_to find_applicant_path(@application, @applicant, current: 'benefits') do %>
    <div id="btn-continue" class="button btn btn-lg btn-primary">CONTINUE</div>
  <% end %>

  <ul class="list-unstyled list-right-section">
    <li>
      <%= link_to financial_assistance_application_applicant_deductions_path(@application, @applicant) do %>
        <%= image_tag 'icons/list.png' %> PREVIOUS
      <% end %>
    </li>
  </ul>
</div>
