<% if @bs4 %>
    <%= deduction_form_for @application, @applicant, deduction do |f| %>
    <% deduction_id = deduction.id %>
    <% new_form = local_assigns[:new_form].present? ? local_assigns[:new_form] : false %>
    <% onchange_date = FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? ? (raw "validateDateWarnings('#{deduction_id}')") : "" %>
    <div>
      <div class="d-flex">
        <%= f.hidden_field :deduction_type, value: kind %>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <%= f.label :frequency_kind, l10n("faa.review.income.table.amount"), class: "required" %>
          <div class="faa-amount">
            <%= f.text_field :amount, placeholder: '0.00', value: number_to_currency(deduction.amount), required: true %>
          </div>
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <%= f.label :frequency_kind, l10n("faa.deductions.deduction_form.how_often"), class: "required" %>
          <div class="fa-frequency-kind">
            <%= f.select(:frequency_kind, options_for_select(frequency_kind_options, selected: deduction.frequency_kind), {include_blank: "Choose"}, {:required => true}) %>
          </div>
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <%= f.label :frequency_kind, l10n("start_date"), class: "required", for: "start_on_#{deduction_id}" %>
          <%= f.date_field :start_on, required: true, id: "start_on_#{deduction_id}", placeholder: "MM/DD/YYYY", onchange: onchange_date %>
        </div>
        <div class="col-sm col-md-6 col-lg-3 p-0">
          <%= f.label :frequency_kind, l10n("end_date"), class: "required", for: "end_on_#{deduction_id}" %>
          <%= f.date_field :end_on, id: "end_on_#{deduction_id}", placeholder: "MM/DD/YYYY", onchange: onchange_date %>
        </div>
      </div>
    </div>
    <div class="d-flex my-2 align-items-center">
      <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-deduction-cancel-<%= deduction_id %>', 'new-other-income-form')" id="income-deduction-cancel-<%= deduction_id %>" class="btn outline other-income-cancel mb-4 mr-2"><%= l10n("faa.other_incomes.cancel") %></a>
      <%= f.submit l10n("faa.other_incomes.save"), disabled: new_form.present? && new_form ? "disabled" : nil, class: "btn mb-4", :data => { :cuke => "income-adjustments-save-button" } %>
    </div>

    <% if FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? %>
      <%= render partial: 'financial_assistance/shared/date_warning', locals: { form_object_id: deduction_id } %>
    <% end %>
  <% end %>
<% else %>
  <%= deduction_form_for @application, @applicant, deduction do |f| %>
    <% deduction_id = deduction.id %>
    <% onchange_date = FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? ? (raw "validateDateWarnings('#{deduction_id}')") : "" %>
    <div class="focus_effect_module">
      <div class="row row-form-wrapper no-buffer row-height row-edit-border">
        <%= f.hidden_field :deduction_type, value: kind %>
        <div class="col-md-3">
          <%= f.label :frequency_kind, 'Amount *', class: "amount label-color" %>
          <div class="faa-amount">
            <%= f.text_field :amount, placeholder: '0.00', value: number_to_currency(deduction.amount), required: true %>
          </div>
        </div>
        <div class="col-md-3 fa-select select-box">
          <%= f.label :frequency_kind, 'How Often *', class: "label-color" %>
          <div class="fa-frequency-kind">
            <%= f.select(:frequency_kind, options_for_select(frequency_kind_options, selected: deduction.frequency_kind), {include_blank: "Choose"}, {:required => true}) %>
          </div>
        </div>
        <div class="col-md-3">
          <%= f.text_field :start_on, placeholder: 'FROM *', required: true, id: "start_on_#{deduction_id}", class: "datepicker-js floatlabel", onchange: onchange_date %>
        </div>
        <div class="col-md-3 overflow-hidden">
          <%= f.text_field :end_on, placeholder: 'TO', id: "end_on_#{deduction_id}", class: "datepicker-js floatlabel", onchange: onchange_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 pull-right">
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-deduction-cancel-<%= deduction_id %>')" id="income-deduction-cancel-<%= deduction_id %>" class="btn btn-default deduction-cancel">Cancel</a>
          <%= f.submit 'Save', class: 'btn btn-save', :data => { :cuke => "income-adjustments-save-button" } %>
        </div>
      </div>
    </div>

    <% if FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? %>
      <%= render partial: 'financial_assistance/shared/date_warning', locals: { form_object_id: deduction_id } %>
    <% end %>
  <% end %>
<% end %>
