.row
  %p 
    If you don't see your employer listed below, click 
    = link_to 'here', '#' 
    for help.

.notification-error-wrapper.row
  .col-md-12.col-sm-12.col-xs-12
    - @employment_relationships.each do |emp_relationship|
      = form_for(emp_relationship, :url => consumer_employee_index_path, :as => :employment_relationship, :method => :post, :remote => true) do |f|
        .row
          .col-md-6.col-sm-6.col-xs-12
            %dl.dl-horizontal
              %dt Employer
              %dd= emp_relationship.employer_name
              %dt Hired
              %dd= emp_relationship.hired_on
              %dt Eligible for Coverage
              %dd= emp_relationship.eligible_for_coverage_on
          .col-md-2.col-sm-2.col-xs-12
            &nbsp;
          .col-md-4.col-sm-4.col-xs-12.no-pd.text-right
            = f.submit "This is my employer", :class => "btn btn-primary"
            = f.hidden_field :first_name
            = f.hidden_field :last_name
            = f.hidden_field :middle_name
            = f.hidden_field :name_pfx
            = f.hidden_field :name_sfx
            = f.hidden_field :gender
            = f.hidden_field :hired_on
            = f.hidden_field :eligible_for_coverage_on
            = f.hidden_field :employee_family_id
