<div class="col-md-10 col-sm-12">
  <%#= render 'welcome_msg' %>

  <p class="information row hidden">Personal Information</p>

    <%= render 'shared/person_search_fields', f: f %>
    <%= render 'shared/address_fields', f: f %><br>
    <%= render 'shared/phone_fields', f: f %><br>

    <div id="email_info" class="focus_effect row personaol-info-row">
      <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
        <%= render 'shared/email_fields', f: email %>
      <% end %>
      <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
    </div>
</div>
