<%= f.hidden_field :employee_role_id %>

<%= render "shared/error_messages", object: f.object %>
<%= render 'shared/person/personal_information', f: f %>

<div id="employer-info" class="row">
  <%= render "employers" %>
</div>
<%= render 'shared/address_fields', f: f %><br>
<%= render 'shared/phone_fields', f: f %><br>

<div id="email_info" class="row row-form-wrapper no-buffer">
  <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
    <%= render 'shared/email_fields', f: email %>
  <% end %>
</div>

<button type="submit" class="btn btn-primary hidden" id="btn_user_contact_info"><i class="fa fa-user-plus"></i> Continue</button>