<div class="col-md-12 col-sm-12">
<div>
    <h1>
      <%= t('welcome.employee.title') %>
      <br/>
      <small><%= t('welcome.employee.subtitle') %></small></h1>
    <p class="text-justify">
      <%= t('welcome.employee.paragraph1') %>
    </p>
    <p class="text-justify">
      <%= t('welcome.employee.paragraph2') %>
    </p>
    <p><%= t('welcome.employee.paragraph3') %></p>
    <div class="col-md-offset-3 col-md-6">
      <%= link_to t('button.continue'), search_consumer_employee_index_path, :remote => true, :class => "btn btn-lg btn-primary btn-block btn-continue" %>
      <br/>
      <p class="text-center"><small>
          <%= t('welcome.employee.notice') %>
          <a href="#"><%= t('welcome.link') %></a>
      </small></p>
    </div>
  </div>
</div>
