<% if @bs4 %>
  <%= benefit_form_for @application, @applicant, benefit do |f| %>
  <% form_id = SecureRandom.random_number(10000000) %>
  <section class="my-4 p-3 border rounded bg-white benefit-form-container" id="<%= form_id %>">
    <%= f.hidden_field :kind, value: kind %>
    <%= f.hidden_field :insurance_kind, value: kind %>
    <div class="insurance-kind-label-container">
      <% if insurance_kind.present? %>
        <h2><%= insurance_kind.humanize.titleize %></h2>
      <% end %>
    </div>
    <div class="d-flex flex-column col-6 px-0">
      <%= f.label :employer_name, l10n("faa.health_coverage.esi.employer_name"), required: false, class: "required mt-2", for: "employer_name|#{form_id}" %>
      <%= f.text_field :employer_name, placeholder: l10n("faa.health_coverage.esi.employer_name"), required: false, id: "employer_name|#{form_id}" %>
    </div>
    <div class="d-flex col-6 px-0 mt-4">
      <%= f.fields_for :employer_phone do |phone_fields| %>
      <%= phone_fields.hidden_field :kind, value: "work" %>
      <div class="d-flex flex-column col-5 px-0 mr-3">
        <% required = EnrollRegistry[:skip_employer_phone_validation].enabled? ? false : true %>
        <%= phone_fields.label :full_phone_number, l10n("phone"), for: "full_phone_number|#{form_id}", class: "#{"required" if required}" %>
        <%= phone_fields.text_field :full_phone_number, placeholder: "000-000-0000", required: required, value: benefit.employer_phone.try(:full_phone_number), class: "phone_number", id: "full_phone_number|#{form_id}" %>
      </div>
      <div class="d-flex flex-column col-7">
        <%= f.label :employer_id, l10n("faa.health_coverage.esi.employer_id"), placeholder: l10n("esi_employer_ein"), for: "employer_id|#{form_id}" %>
        <%= f.text_field :employer_id, placeholder: "00-0000000", class: "fien_field", data: {cuke: 'benefit_esi_ein'}, id: "employer_id|#{form_id}"  %>
      </div>
      <% end %>
    </div>
    <div class="non-hra-questions hidden">
      <fieldset class="mt-4">
        <legend class="weight-n required"><%= l10n("faa.health_coverage.esi.waiting_question") %></legend>
        <div class="focus d-flex align-items-center">
          <label class="radio is_esi_waiting_period_true" for="is_esi_waiting_period_true|<%= form_id %>">
            <%= f.radio_button("is_esi_waiting_period", true, class: "required", id: "is_esi_waiting_period_true|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("yes") %></span>
          </label>
          <label tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_esi_waiting_period_false')" class="radio" for="is_esi_waiting_period_false|<%= form_id %>">
            <%= f.radio_button("is_esi_waiting_period", false, class: "required", id: "is_esi_waiting_period_false", id: "is_esi_waiting_period_false|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("no") %></span>
          </label>
        </div>
      </fieldset>
      <a href="#is_esi_waiting_period" data-toggle="modal" data-target="#is_esi_waiting_period_<%= benefit.id %>" id="is_esi_waiting_period_not_sure" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
      <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "is_esi_waiting_period", id: "is_esi_waiting_period_#{benefit.id}" } %>
      <fieldset class="mt-4">
        <legend class="weight-n required"><%= l10n("faa.health_coverage.esi.mvs_question") %></legend>
        <div class="focus d-flex align-items-center">
          <label class="radio is_esi_mec_met_true" for="is_esi_mec_met_true|<%= form_id %>">
            <%= f.radio_button("is_esi_mec_met", true, class: "required", required: true, id: "is_esi_mec_met_true|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("yes") %></span>
          </label>
          <label  for="is_esi_mec_met_false|<%= form_id %>" tabindex="0" onkeydown="handleRadioKeyDown(event, 'is_esi_mec_met_false')" class="radio">
            <%= f.radio_button("is_esi_mec_met", false, class: "required", required: true, id: "is_esi_mec_met_false|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("no") %></span>
          </label>
        </div>
      </fieldset>
      <a href="#is_esi_mec_met" data-toggle="modal" data-target="#is_esi_mec_met<%= benefit.id %>" id="is_esi_mec_met_not_sure" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
      <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "is_esi_mec_met", id: "is_esi_mec_met_#{benefit.id}" } %>
      <div class="d-flex mt-4">
        <div class="d-flex flex-column mr-3 col-6 px-0">
          <%= f.label :esi_covered, l10n("faa.health_coverage.esi.covered_question"), class: "required", for: "esi_covered|#{form_id}" %>
          <%= f.select :esi_covered, options_for_select({l10n("faa.health_coverage.esi.self") => "self", l10n("faa.health_coverage.esi.self_and_spouse") => "self_and_spouse", l10n("faa.health_coverage.esi.family") => "family" }, selected: benefit.esi_covered), {prompt: 'Choose' }, {:id => "esi_covered|#{form_id}"} %>
        </div>
        <div class="d-flex flex-column mr-3">
          <%= f.label :start_on, l10n("start_date"), class:"required", for: "start_on|#{form_id}" %>
          <%= f.date_field :start_on, {class: "date-field", placeholder: "MM/DD/YYYY", id: "start_on|#{form_id}"} %>
        </div>
        <div class="d-flex flex-column">
          <%= f.label :end_on, l10n("end_date"), for: "end_on|#{form_id}" %>
          <%= f.date_field :end_on, {class: "date-field", placeholder: "MM/DD/YYYY", id: "end_on|#{form_id}"} %>
        </div>
      </div>
      <fieldset class="mt-4 d-block">
        <legend class="weight-n required"><%= l10n("faa.health_coverage.esi.mvs_amount_question") %></legend>
        <a href="#employee_cost" data-toggle="modal" data-target="#employee_cost_<%= benefit.id %>" id="employee_cost" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
        <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "employee_cost", id: "employee_cost_#{benefit.id}" } %>
        <div class="d-flex mt-2 col-6 px-0">
          <div class="col px-0 mr-3">
            <%= f.label :employee_cost, l10n("faa.health_coverage.esi.amount"), class: "required", for: "employee_cost|#{form_id}" %>
            <%= f.text_field :employee_cost, placeholder: '0.00', value: "", id: "employee_cost|#{form_id}" %>
          </div>
          <div class="col px-0">
            <%= f.label :employee_cost_frequency, l10n("frequency"), class:"required", for: "employee_cost_frequency|#{form_id}" %>
            <%= f.select :employee_cost_frequency, options_for_select(frequency_kind_options, selected: benefit.employee_cost_frequency), {prompt: 'Choose' }, {id: "employee_cost_frequency|#{form_id}", class: "col"} %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="hra-questions hidden">
      <div class="d-flex mt-4">
        <div class="d-flex flex-column mr-3">
          <%= f.label :hra_type, l10n("health_coverage.esi.type_of_hra"), class: "required", for: "hra_type|#{form_id}" %>
          <%= f.select :hra_type, options_for_select({l10n("faa.health_coverage.esi.individual_hra") => "Individual coverage HRA", l10n("faa.health_coverage.esi.qse_hra") => "Qualified Small Employer HRA"}, selected: benefit.hra_type), {prompt: l10n("faa.health_coverage.esi.choose") }, {id: "hra_type|#{form_id}"} %>
        </div>
        <div class="d-flex flex-column mr-3">
          <%= f.label :start_on, l10n("start_date"), class:"required", for: "hra_start_on|#{form_id}" %>
          <%= f.date_field :start_on, {class: "date-field", placeholder: "MM/DD/YYYY", id: "hra_start_on|#{form_id}"} %>
        </div>
        <div class="d-flex flex-column">
          <%= f.label :end_on, l10n("end_date"), for: "hra_end_on|#{form_id}" %>
          <%= f.date_field :end_on, {class: "date-field", placeholder: "MM/DD/YYYY", id: "hra_end_on|#{form_id}"} %>
        </div>
      </div>
      <fieldset class="mt-4 d-block">
        <legend class="weight-n required"><%= l10n("faa.health_coverage.esi.hra_max_question") %></legend>
        <a href="#hra_benefit" data-toggle="modal" data-target="#hra_benefit<%= benefit.id %>" id="hra_benefit" class="interaction-click-control-not-sure? benefit-support-modal mb-4">Not sure?</a>
        <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "hra_benefit", id: "hra_benefit_#{benefit.id}" } %>
        <div class="d-flex mt-4">
           <div class="d-flex flex-column mr-3">
            <%= f.label :employee_cost, l10n("faa.health_coverage.esi.amount"), class: "required", for: "hra_employee_cost|#{form_id}" %>
            <%= f.text_field :employee_cost, placeholder: '0.00', value: "", id: "hra_employee_cost|#{form_id}" %>
          </div>
          <div class="d-flex flex-column mr-3">
            <%= f.label :employee_cost_frequency, l10n("frequency"), class:"required", for: "hra_employee_cost_frequency|#{form_id}" %>
            <%= f.select :employee_cost_frequency, options_for_select(frequency_kind_options, selected: benefit.employee_cost_frequency), {prompt: 'Choose' }, {id: "hra_employee_cost_frequency|#{form_id}"} %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="mvsq-questions hidden">
      <fieldset class="mt-4">
        <legend class="weight-n required"><%= l10n("health_plan_meets_mvs_and_affordable_question") %></legend>
        <div class="focus d-flex align-items-center">
          <label class="radio health_plan_meets_mvs_and_affordable" for="health_plan_meets_mvs_and_affordable_true|<%= form_id %>">
            <%= f.radio_button("health_plan_meets_mvs_and_affordable", true, class: "required", id: "health_plan_meets_mvs_and_affordable_true|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("yes") %></span>
          </label>
          <label tabindex="0" onkeydown="handleRadioKeyDown(event, 'health_plan_meets_mvs_and_affordable_false')" class="radio" for="health_plan_meets_mvs_and_affordable_false|<%= form_id %>">
            <%= f.radio_button("health_plan_meets_mvs_and_affordable", false, class: "required", id: "health_plan_meets_mvs_and_affordable_false|#{form_id}") %>
            <span class="yes_no_pair"><%= l10n("no") %></span>
          </label>
        </div>
      </fieldset>
    </div>
    <div class="mt-4">
      <% if edit %>
        <a tabindex="0" id="benefit_edit_cancel_<%= kind %>|<%= form_id %>" class="btn outline benefit-edit-cancel mr-2" data-kind="<%= kind %>"><%=l10n("cancel")%></a>
      <% else %>
        <a tabindex="0" id="esi_cancel_<%= kind %>|<%= form_id %>" class="btn outline benefit-form-cancel" data-kind="<%= kind %>"><%=l10n("cancel")%></a>
      <% end %>
      <%= f.submit l10n("faa.health_coverage.save"), class: 'btn btn-save' %>
    </div>
  </section>
  <% end %>
<% else %>
  <%= benefit_form_for @application, @applicant, benefit do |f| %>
    <div class="focus_effect_module row-edit-border" data-cuke="esi_benefit">
      <%= f.hidden_field :kind, value: kind %>
      <%= f.hidden_field :insurance_kind, value: kind %>

      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-12">
          <%= f.text_field :employer_name, placeholder: 'EMPLOYER NAME *', required: true, class: "floatlabel" %>
        </div>
      </div>
      <% if !FinancialAssistanceRegistry.feature_enabled?(:disable_employer_address_fields) %>
        <%= f.fields_for :employer_address do |benefit_fields| %>
          <%= benefit_fields.hidden_field :kind, value: 'work' %>
            <% required = EnrollRegistry[:skip_employer_address_validation].enabled? ? false : true %>
          <div class="row row-form-wrapper no-buffer row-height">
            <div class="col-md-6">
              <%= benefit_fields.text_field :address_1, placeholder: 'EMPLOYER ADDRESS LINE 1 *', value: benefit.employer_address.try(:address_1), required: required, class: "floatlabel ph-width" %>
            </div>
            <div class="col-md-6">
              <%= benefit_fields.text_field :address_2, placeholder: 'EMPLOYER ADDRESS LINE 2 (APT, UNIT, ETC.)', value: benefit.employer_address.try(:address_2), class: "floatlabel ph-width" %>
            </div>
          </div>
          <div class="row row-form-wrapper no-buffer row-height">
            <div class="col-md-4">
              <%= benefit_fields.text_field :city, placeholder: 'CITY *', required: required, value: benefit.employer_address.try(:city), class: "floatlabel" %>
            </div>
            <div class="col-md-4 fa-select select-box">
              <%= benefit_fields.label :state, 'State *', class: "label-color" %>
              <%= benefit_fields.select :state, options_for_select(state_options, selected: benefit.employer_address.try(:state)), {prompt: 'Choose' }, {:required => required} %>
            </div>
            <div class="col-md-4">
              <%= benefit_fields.text_field :zip, placeholder: 'ZIP *', required: required, value: benefit.employer_address.try(:zip), class: "floatlabel zip" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= f.fields_for :employer_phone do |phone_fields| %>
        <%= phone_fields.hidden_field :kind, value: "work" %>
        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-6">
            <% required = EnrollRegistry[:skip_employer_phone_validation].enabled? ? false : true %>
            <%= phone_fields.text_field :full_phone_number, placeholder: 'PHONE NUMBER *', required: required, value: benefit.employer_phone.try(:full_phone_number), class: "floatlabel phone_number" %>
          </div>
          <div class="col-md-6">
            <% employer_id_placeholder = l10n("esi_employer_ein") %>
            <% employer_id_placeholder += " *" unless EnrollRegistry[:skip_employer_id_validation].enabled? %>
            <%= f.text_field :employer_id, placeholder: employer_id_placeholder, class: "floatlabel ph-width fien_field", data: {cuke: 'benefit_esi_ein'}, id: 'benefit_esi_ein'  %>
          </div>
        </div>
      <% end %>
      <% unless insurance_kind == 'health_reimbursement_arrangement' %>
        <div class="row row-form-wrapper no-buffer fa-align-elements">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg">
            <label class="fa-text-color">Is the employee currently in a waiting period and eligible to enroll in the next 3 months? *</label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
            <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_is_esi_waiting_period_<%= benefit.id %>_true')" class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :is_esi_waiting_period, true, class: "required floatlabel", id: "benefit_is_esi_waiting_period_#{benefit.id}_true" %>
              <%= f.label "is_esi_waiting_period_#{benefit.id}", :value => true do %>
                <span>Yes</span>
              <% end %>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
            <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_is_esi_waiting_period_<%= benefit.id %>_false')" class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :is_esi_waiting_period, false, class: "required floatlabel", id: "benefit_is_esi_waiting_period_#{benefit.id}_false" %>
              <%= f.label "is_esi_waiting_period_#{benefit.id}", :value => false do %>
                <span>No</span>
              <% end %>
            </div>
          </div>
          <div class='col-md-2'>
            <a href="#is_esi_waiting_period" data-toggle="modal" data-target="#is_esi_waiting_period_<%= benefit.id %>" id="is_esi_waiting_period_not_sure" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
            <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "is_esi_waiting_period", id: "is_esi_waiting_period_#{benefit.id}" } %>
          </div>
        </div>

        <div class="row row-form-wrapper no-buffer fa-align-elements">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg">
            <label class="fa-text-color">Does this employer offer a health plan that meets the minimum value standard? *</label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
            <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_is_esi_mec_met_<%= benefit.id %>_true')" class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :is_esi_mec_met, true, class: "required floatlabel", id: "benefit_is_esi_mec_met_#{benefit.id}_true" %>
              <%= f.label "is_esi_mec_met_#{benefit.id}", :value => true do %>
                <span>Yes</span>
              <% end %>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 form-group form-group-lg no-pd">
            <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_is_esi_mec_met_<%= benefit.id %>_false')" class="radio skinned-form-controls skinned-form-controls-mac">
              <%= f.radio_button :is_esi_mec_met, false, class: "required floatlabel", id: "benefit_is_esi_mec_met_#{benefit.id}_false" %>
              <%= f.label "is_esi_mec_met_#{benefit.id}", :value => false do %>
                <span>No</span>
              <% end %>
            </div>
          </div>
          <div class='col-md-2'>
            <a href="#is_esi_mec_met" data-toggle="modal" data-target="#is_esi_mec_met_<%= benefit.id %>" id="is_esi_mec_met_not_sure" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
            <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "is_esi_mec_met", id: "is_esi_mec_met_#{benefit.id}" } %>
          </div>
        </div>

        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-5 fa-select select-box">
            <%= f.label :esi_covered, 'Who can be covered? *', class: "label-color" %>
            <%= f.select :esi_covered, options_for_select({"Self" => "self", "Self And Spouse" => "self_and_spouse", "Family" => "family" }, selected: benefit.esi_covered), {prompt: 'Choose' }, {:required => true} %>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <%= f.text_field :start_on, placeholder: 'FROM *', required: true, id: "start_on_#{benefit.id}", class: "datepicker-js floatlabel" %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :end_on, placeholder: 'TO', id: "end_on_#{benefit.id}", class: "datepicker-js floatlabel" %>
            </div>
          </div>
        </div>

        <div class="row row-form-wrapper radio-align no-buffer">
          <div class='col-md-9 labelforcoverage'>
            <span class="fa-text-color">How much would the employee only pay for the lowest cost minimum value standard plan? *</span>
          </div>
          <div class='col-md-2 not-sure-margin'>
            <a href="#employee_cost" data-toggle="modal" data-target="#employee_cost_<%= benefit.id %>" id="employee_cost" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
            <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "employee_cost", id: "employee_cost_#{benefit.id}" } %>
          </div>
        </div>
      <% end %>

      <% if insurance_kind == 'health_reimbursement_arrangement'%>
        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-5 fa-select select-box">
            <%= f.label :hra_type, 'Type of HRA', class: "label-color" %>
            <%= f.select :hra_type, options_for_select({"Individual coverage HRA" => "Individual coverage HRA", "Qualified Small Employer HRA" => "Qualified Small Employer HRA"}, selected: benefit.hra_type), {prompt: 'Choose' }, {:required => true} %>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <%= f.text_field :start_on, placeholder: 'FROM *', required: true, id: "start_on_#{benefit.id}", class: "datepicker-js floatlabel" %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :end_on, placeholder: 'TO', id: "end_on_#{benefit.id}", class: "datepicker-js floatlabel" %>
            </div>
          </div>
        </div>

        <div class="row row-form-wrapper radio-align no-buffer">
          <div class='col-md-9 labelforcoverage'>
            <span class="fa-text-color">What's the maximum self-only amount of reimbursement offered by this employer?</span>
          </div>
          <div class='col-md-2 not-sure-margin'>
            <a href="#hra_benefit" data-toggle="modal" data-target="#hra_benefit" class="interaction-click-control-not-sure? benefit-support-modal">Not sure?</a>
            <%= render partial: 'financial_assistance/shared/modal_support_text', locals: {key: "hra_benefit"} %>
          </div>
        </div>
      <% end %>

      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-3">
          <%= f.label :frequency_kind, 'Amount *', class: "amount label-color" %>
          <%= f.text_field :employee_cost, placeholder: '0.00', value: "", required: true %>
        </div>
        <div class="col-md-3 fa-select select-box">
          <%= f.label :employee_cost_frequency, 'How Often *', class: "label-color" %>
          <%= f.select :employee_cost_frequency, options_for_select(frequency_kind_options, selected: benefit.employee_cost_frequency), {prompt: 'Choose' }, {:required => true} %>
        </div>
      </div>

      <% if display_minimum_value_standard_question?(insurance_kind) %>
      <div class="row row-form-wrapper no-buffer fa-align-elements" id="minimum_value_standard_question">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 form-group form-group-lg">
          <label class="fa-text-color"><%= l10n("health_plan_meets_mvs_and_affordable_question") %></label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd">
          <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_health_plan_meets_mvs_and_affordable_<%= benefit.id %>_true')" class="radio skinned-form-controls skinned-form-controls-mac">
            <%= f.radio_button :health_plan_meets_mvs_and_affordable, true, class: "required floatlabel", id: "benefit_health_plan_meets_mvs_and_affordable_#{benefit.id}_true", required: true %>
            <%= f.label "health_plan_meets_mvs_and_affordable_#{benefit.id}", :value => true do %>
              <span>Yes</span>
            <% end %>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd">
          <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'benefit_health_plan_meets_mvs_and_affordable_<%= benefit.id %>_false')" class="radio skinned-form-controls skinned-form-controls-mac">
            <%= f.radio_button :health_plan_meets_mvs_and_affordable, false, class: "required floatlabel", id: "benefit_health_plan_meets_mvs_and_affordable_#{benefit.id}_false" %>
            <%= f.label "health_plan_meets_mvs_and_affordable_#{benefit.id}", :value => false do %>
              <span>No</span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

      <div class="row">
        <div class="col-md-3 pull-right">
          <a tabindex="0" id="esi_cancel" class="btn btn-default benefit-cancel"><%=l10n("cancel")%></a>
          <%= f.submit 'Save', class: 'btn btn-save' %>
        </div>
      </div>
  <% end %>

  <script>
    $( function() {
      $( "#benefit_start_on" ).datepicker();
      $( "#benefit_end_on" ).datepicker();
    } );
  </script>
<% end %>
