.row
  .col-md-10.col-sm-10
    %h1= t('welcome.employer.title')
    %h2= t('welcome.employer.subtitle')

    %p.text-justify= t('welcome.employer.paragraph1')
    %p.text-justify= t('welcome.employer.paragraph2')
    %p.text-justify= t('welcome.employer.paragraph3')
    %br


.row
  .col-md-2
    = link_to "<i class=\"fa fa-user-plus\"></i> #{t('button.continue')}".html_safe, search_employers_people_path, :remote => true, :class => "btn btn-primary btn-continue"

.row.footer
  .col-md-12
    %small
      = t('welcome.employer.notice')
      = link_to t('welcome.employer.link'), '#'
