<div id="broker_confimation_panel">
  <div class="tab-content-pd container">
    <div class="col-sm-12">
      <h2 class="text-center"><i class="far fa-check-circle fa-lg dc-green"></i> We Received Your Broker Application
      </h2>
    </div>
    <div class="col-sm-12">
      <h3>Complete the following requirements to become a <%= site_short_name %> Registered Broker.</h3>
    </div>
    <div class="col-sm-12 more-info">
      <div class="col-sm-1">
        <i class="far fa-circle fa-2x dc-green" aria-hidden="true"></i>
      </div>
      <div class="col-sm-11">
        <p><strong>Secure Carrier Appointments:</strong><br/>
          To become a <%= site_short_name %> Registered Broker, you must obtain appointments with each carrier's licensed
          entities in <%= site_state_long_title %>. for the market in which you intend to sell. This resolution was made by the <%= site_exchange_name %> Authority's Producer Advisory Committee. The
          <%= h(link_to "Producer Advisory Committee's resolution", EnrollRegistry[:broker_agency].settings(:producer_advisory_committee).item, target:"_blank", rel:'noopener noreferrer') %> provides additional context on the requirements.
        </p>
        <br/>
        <a role="button" data-toggle="collapse" href="#collapseAppointments" aria-expanded="false" aria-controls="collapseAppointments" id="sm-p1" onclick="seeMore(this)"><i class="fa fa-chevron-down" aria-hidden="true"></i>
          See More</a>
        <br/>
        <div class="collapse" id="collapseAppointments">
          <p>Brokers selling in the <strong>individual market only</strong> must be appointed with the following
            licensed
            entities:</p>
          <ul>
            <li>
              <a href="https://broker.carefirst.com/brokers/how-to-become-contracted.page" target="_blank" rel="noopener noreferrer">Carefirst</a>
              <ul>
                <li>CareFirst BlueChoice, Inc.</li>
                <li>Group Hospitalization and Medical Services, Inc.</li>
              </ul>
            </li>
            <li>
              <a href="https://account.kp.org/broker-employer/resources/!ut/p/a0/HclNDsIgEEDhs_QAZAQpGdz1z8SFa4UdNmNDWsBMiF5f6-59eeDhDj6Hd1xCjSWH7Wc3U67EpweXlVjE_Cyc_htu4MEzLXu762XcGbjGeSNwyuCh1VYJY0clpJy06FAaYduzwaMeeuwtvFLCT9c0X-iw5nw!/" target="_blank" rel="noopener noreferrer">Kaiser
                Permanente</a>
              <ul>
                <li>Kaiser Foundation Health Plan of the Mid-Atlantic States, Inc.</li>
              </ul>
            </li>
          </ul>
          <p>Brokers selling in the <strong>small group market only OR</strong> the
            <strong>small group and individual markets</strong> must be appointed with the following licensed entities:
          </p>
          <ul>
            <li><a href="http://www.aetna.com/insurance-producer/producer-network.html" target="_blank" rel="noopener noreferrer">Aetna</a>
              <ul>
                <li>Aetna Life Insurance Company</li>
                <li>Aetna Health Inc.</li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://broker.carefirst.com/brokers/how-to-become-contracted.page" target="_blank" rel="noopener noreferrer">CareFirst</a>
              <ul>
                <li>CareFirst BlueChoice, Inc.</li>
                <li>Group Hospitalization and Medical Services, Inc.</li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://account.kp.org/broker-employer/resources/!ut/p/a0/HclNDsIgEEDhs_QAZAQpGdz1z8SFa4UdNmNDWsBMiF5f6-59eeDhDj6Hd1xCjSWH7Wc3U67EpweXlVjE_Cyc_htu4MEzLXu762XcGbjGeSNwyuCh1VYJY0clpJy06FAaYduzwaMeeuwtvFLCT9c0X-iw5nw!/" target="_blank" rel="noopener noreferrer">Kaiser
                Permanente</a>
              <ul>
                <li>Kaiser Foundation Health Plan of the Mid-Atlantic States, Inc.</li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://www.dchealthlink.com/sites/default/files/v2/forms/UHC_Agent_Credentialing_Package_New.pdf" target="_blank" rel="noopener noreferrer">UnitedHealthcare</a>
              <ul>
                <li>Optimum Choice, Inc.</li>
                <li>United Healthcare of the Mid-Atlantic, Inc.</li>
                <li>UnitedHealthcare Insurance Company</li>
              </ul>
            </li>
          </ul>
          <p>To verify your carrier appointments:</p>
          <ul>
            <li>Go to the National Association of Insurance Commissioners
              <%= h(link_to ("License Lookup Directory"),  EnrollRegistry[:broker_agency].settings(:broker_license_lookup).item, target:"_blank", rel:'noopener noreferrer') %></li>
            <li>Enter your first and last name</li>
            <li>Select Submit</li>
            <li>Select your name in the search results</li>
          </ul>
          <br/>
          <p><strong>NOTE:</strong> If you have clients needing assistance while your Broker registration is pending,
            please
            send us the client's name and the issue they are experiencing, so that we can resolve the issue
            for your clients while we resolve your outstanding registration. </p>
        </div>
        <a role="button" data-toggle="collapse" href="#collapseAppointments" aria-expanded="false" aria-controls="collapseAppointments" id="sl-p1" class="hidden" onclick="seeLess(this)"><i class="fa fa-chevron-up" aria-hidden="true"></i>
          See Less</a>
      </div>
    </div>
    <div class="col-sm-12">
      <hr>
      <div class="col-sm-1">
        <i class="far fa-circle fa-2x dc-green" aria-hidden="true"></i>
      </div>
      <div class="col-sm-11">
        <p><strong>Complete the <%= site_short_name %> Broker Policy Training Course:</strong><br/>
        <ul>
          <li>Go to the
            <%= h(link_to ("#{site_short_name} training"), EnrollRegistry[:broker_agency].settings(:healthlink_training).item, target:"_blank", rel:'noopener noreferrer') %> administered by NAHU
          </li>
          <li>Create a login</li>
          <li>Complete the six hour training course, policy and web components</li>
        </ul>
        </p>
        <br/>
        <a role="button" data-toggle="collapse" href="#collapseTraining" aria-expanded="false" aria-controls="collapseTraining" id="sm-p2" onclick="seeMore(this)"><i class="fa fa-chevron-down" aria-hidden="true"></i>
          See More</a>
        <div class="collapse" id="collapseTraining">
          <p>If you any questions about the training or experience any technical difficulties, please reach out
            to <%= broker_course_administering_organization %> at <%= broker_course_administering_organization_number %> or <a href="<%= site_producer_email_address %>"><%= site_producer_email_address %></a>
            <br/>
            <br/>
            Go to <%= site_short_url %> and select "Register" under the "Broker" drop down menu in the upper
            right corner, or visit the
            <a href="<%= main_app.broker_registration_url%>" target="_blank" rel="noopener noreferrer">Broker Registration page</a>.
            <br/>
            <br/>
            For Brokers who work with an agency and receive the message that the Broker Agency is
            already.
            <br/>
            <br/>
            Once all requirements have been satisfied and an application has been submitted, please allow
            up to 7-10 business days for your application to be reviewed and processed.
            <br/>
            <br/>
            If there are any unsatisfied requirements, you'll receive an email notification detailing any
            outstanding requirements that must be satisfied before your application can be approved.
            <br/>
            <br/>
            Upon approval of your registration, you'll receive an email from <a>noreply@<%= main_app.root_url %></a>
            with important information about how to access your broker portal.
          </p>
        </div>
        <a role="button" data-toggle="collapse" href="#collapseTraining" aria-expanded="false" aria-controls="ccollapseTraining" id="sl-p2" class="hidden" onclick="seeLess(this)"><i class="fa fa-chevron-up" aria-hidden="true"></i>
          See Less</a>
      </div>
      <div class="col-sm-12">
        <hr>
        <div class="col-sm-2">
          <%= image_tag("new_broker_registration.jpg", class: 'photo') %>
        </div>
        <div class="col-sm-10">
          <p>Links to appointments and <%= site_short_name %> training can be found in our
            <%= h(link_to ("Broker Registration Guide"), EnrollRegistry[:broker_agency].settings(:broker_registration_guide_pdf_link).item, target:"_blank", rel:'noopener noreferrer') %></p>
          <%= link_to "Download", EnrollRegistry[:broker_agency].settings(:broker_registration_guide_pdf).item, download: 'Broker Registration Form', class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="col-sm-12 more-info">
        <hr>
        <strong>Need this information again?</strong>
        <p>Search "Broker Tools" on <a href="<%= main_app.root_url %>" target="_blank" rel="noopener noreferrer"><%= main_app.root_url %></a> or enter
          your name and email address below and we'll email this page to you.</p>
      </div>
      <div class="col-sm-12" id="brGuide">

        <%= form_tag(email_guide_profiles_broker_agencies_broker_agency_profiles_path, method: :post) do %>
          <div class="form-group col-sm-3" style="padding-left:0px">
            <%= text_field_tag :first_name, nil, class: 'form-control', id: 'inputFirst', placeholder: 'First Name *', style: 'width:100%', onblur: 'validateField()' %>
          </div>
          <div class="form-group col-sm-3">
            <%= text_field_tag :last_name, nil, class: 'form-control', id: 'inputLast', placeholder: 'Last Name *', style: 'width:100%', onblur: 'validateField()' %>
          </div>
          <div class="form-group col-sm-3">
            <%= email_field_tag :email, nil, class: 'form-control', id: 'inputEmail', placeholder: 'Email *', style: 'width:100%', onblur: 'validateField()' %>
          </div>
          <div class="form-group col-sm-3">
            <%= submit_tag 'Submit', class: 'btn btn-primary blocking', style: "margin-top:-1px", id: 'brSubmit' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function seeMore(element) {
    var id = element.id;
    if (id == "sm-p1") {
      document.getElementById('sl-p1').classList.remove('hidden');
      document.getElementById(id).classList.add('hidden');
    }
    if (id == "sm-p2") {
      document.getElementById('sl-p2').classList.remove('hidden');
      document.getElementById(id).classList.add('hidden');
    }
  }

  function seeLess(element) {
    var id = element.id;
    if (id == "sl-p1") {
      document.getElementById(id).classList.add('hidden');
      document.getElementById('sm-p1').classList.remove('hidden');
    }
    if (id == "sl-p2") {
      document.getElementById(id).classList.add('hidden');
      document.getElementById('sm-p2').classList.remove('hidden');
    }
  }

  function validateField() {
    var first = document.getElementById('inputFirst');
    var last = document.getElementById('inputLast');
    var email = document.getElementById('inputEmail');
    var button = document.getElementById('brSubmit');

    if (first.value.length > 0 && last.value.length > 0 && email.value.length > 0) {
      button.classList.remove('blocking')
    } else {
      button.classList.add('blocking')
    }
  }
</script>
