<% broker_role = applicant.broker_role %>
<% edit_path = edit_exchanges_broker_applicant_path(applicant) %>

<% if @broker_agency_profile.present? %>
  <% broker_role = applicant.broker_agency_staff_roles[0] if broker_role.nil? %>
  <% edit_path = edit_broker_agencies_profile_applicant_path(@broker_agency_profile, applicant) %>
<% end %>

<% if broker_role.broker_agency_profile %>
<tr>
  <td><%= applicant.person.hbx_id %></td>
  <td>
    <%= link_to applicant.full_name, edit_path, class: "interaction-click-control-broker-show", method: :get,
    remote: false %>
  </td>

  <% if controller_name == 'applicants' %>
    <td>
      <% if broker_role.class.to_s == 'BrokerRole' %>
        <%= broker_role.is_primary_broker? ? 'Primary Broker' : 'Broker' %>
      <% else %>
          Broker Agency Staff
      <% end %>
    </td>
  <% end %>

  <td><%= broker_role.npn if broker_role.respond_to?(:npn) %></td>
  <td><%= broker_role.broker_agency_profile.legal_name %></td>
  <td><%= broker_role.current_state %></td>
  <% if date_col_name_for_broker_roaster.present? %>
    <td><%= format_datetime broker_role.latest_transition_time %></td>
  <% end %>
  <% if @status != 'applicant' %>
    <td>
      <%= truncate(broker_role.reason) { link_to "Continue", "#", :data => { toggle: "popover", placement: "bottom", content: broker_role.reason, trigger: 'focus' }, "role" => "button", "id" => "broker_application_comments" } %>
    </td>
  <% end %>
</tr>
<% end %>
