 <div class="table-border table-responsive">
  <table class="table">
    <thead>
      <th>Applicant Name</th>
      <% if controller_name == 'applicants' %>
        <th>Application Type</th>
      <% end %>
      <th>Applicant NPN</th>
      <th>Agency Name</th>
      <th>Status</th>
      <% if date_col_name_for_broker_roaster.present? %>
        <th>
          <%= date_col_name_for_broker_roaster %>
        </th>
      <% end %>
    </thead>
    <% if @broker_applicants.any? %>
    <% @broker_applicants.each do |applicant| %>

    <% broker_role = applicant.broker_role %>
    <% edit_path = edit_exchanges_broker_applicant_path(applicant) %>

    <% if @broker_agency_profile.present? %>
      <% if applicant.broker_role.nil?  %>
         <% broker_role = applicant.broker_agency_staff_roles[0] %>
      <% end %>
      <% edit_path = edit_broker_agencies_profile_applicant_path(@broker_agency_profile, applicant) %>
    <% end %>
    
    <% if broker_role.broker_agency_profile %>
    <tbody>
      <td>
        <%= link_to applicant.full_name,
        edit_path, class: "interaction-click-control-broker-show", method: :get, remote: true %>
      </td>
      <% if controller_name == 'applicants' %>
      <td>
        <% if broker_role.class.to_s == 'BrokerRole' %>
        <%= broker_role.is_primary_broker? ? 'Primary Broker' : 'Broker' %>
        <% else %>
        Broker Agency Staff
        <% end %>
      </td>
      <% end %>
      <td><%= broker_role.npn if broker_role.respond_to?(:npn) %></td>
      <td><%= broker_role.broker_agency_profile.legal_name %></td>
      <td><%= broker_role.current_state %></td>
      <% if date_col_name_for_broker_roaster.present? %>
      <td><%= format_date broker_role.last_state_transition_date %></td>
      <% end %>
    </tbody>
    <% end %> 
    <% end %>
    <% else %>
    <tbody><td>No Applicants found.</td></tbody>
    <% end %>
  </table>
</div>
<div class="row">
<div class="col-md-6">
  <% if params[:page].present? || (@people.count != @broker_applicants.count) %>
    <%= render 'shared/alph_paginate', url: url, full_index_url: index_url, alphs: @page_alphabets, remote: true, status: @status %>
    <%#= render 'shared/alph_paginate', url: employers_employer_profile_path(@employer_profile), alphs: @page_alphabets, remote: true, status: status, full_index_url: employers_employer_profile_path(@employer_profile, status: status, employee_name: params[:employee_name]) %>
  <% end %>
</div>

<div class="col-md-6 text-right">
  <h4><%= "#{@broker_applicants.count} out of #{@people.count}" %></h4>
</div>
</div>

