<%= form_for @broker_applicant, url: {action: "update"} do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
      <% if @broker_applicant.errors.any? %>
        <div class="alert alert-error">
          <h4>
            <%= "#{pluralize(@broker_applicant.errors.size, "error")} prohibited this person from being saved:" %>
          </h4>
          <ul>
            <% @broker_applicant.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
          <a class="remove return_to_broker_applicants" href="#">
            <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span>
            Cancel
          </a>
      </div>

      <% broker_or_staff_role = @broker_applicant.broker_role.nil? ? @broker_applicant.broker_agency_staff_roles[0] : @broker_applicant.broker_role %>

      <div class="row">
        <div class="table-responsive">
          <table class="table table-message-wrapper none_margin_bottom none_margin_top">
            <tbody>

              <tr>
                <th>Applicant Name:</th>
                <td><%= @broker_applicant.full_name %></td>
              </tr>
              <% if broker_or_staff_role.respond_to?(:npn) %>
              <tr>
                <th>NPN:</th>
                <td><%= broker_or_staff_role.npn %></td>
              </tr>
              <% end %>
              <tr>
                <th>Email:</th>
                <td><%= broker_or_staff_role.email_address %></td>
              </tr>
              <tr>
                <th>Broker:</th>
                <td><%= broker_or_staff_role.broker_agency_profile.legal_name %></td>
              </tr>
              <tr>
                <th>Office Locations:</th>
                <td>
                    <% broker_or_staff_role.broker_agency_profile.organization.office_locations.each do |office_location| %>
                      <%= office_location.address.to_html %>
                    <% end %>
                  
                </td>
              </tr> 
              <tr>
                <th>History</th> 
                <td>
                    <% broker_or_staff_role.workflow_state_transitions.each do |transition| %>
                      <%= transition.to_html %>
                    <% end %>
                </td>
              </tr> 
              <tr>
                <th>Application Status:</th>
                <td><%= broker_or_staff_role.current_state %></td>
              </tr> 
              <% disabled = (broker_or_staff_role.active? || broker_or_staff_role.agency_pending?) ? true : false %>
              <%= f.fields_for :broker_role do |broker_role_fields| %>
              <tr>
                <th style="vertical-align: top;">Reason<span class="text-danger"></span>:</th>
                <td><%= broker_role_fields.text_area :reason, class: "floatlabel form-control", placeholder: 'Write here...', rows: 6, disabled: disabled %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

       <div class="row top-row no-border">
        <div class="col-xs-12 text-center broker_approve_deny_btn">
          <% if @broker_agency_profile.present? %>
            <% if broker_or_staff_role.may_broker_agency_accept? %>
              <%= submit_tag 'Accept', class: "btn btn-primary interaction-click-control-broker-approve" %>
            <% end %>
            <% if broker_or_staff_role.may_broker_agency_decline? %>
              <%= submit_tag 'Decline', name: 'decline', class: "btn btn-primary interaction-click-control-broker-deny" %>
            <% end %>
            <% if broker_or_staff_role.may_broker_agency_terminate? %>
              <%= submit_tag 'Terminate', name: 'terminate', class: "btn btn-primary interaction-click-control-broker-decertify" %>
            <% end %>
          <% else %>
            <% if broker_or_staff_role.may_approve? %>
              <%= submit_tag 'Approve', class: "btn btn-primary interaction-click-control-broker-approve" %>
            <% end %>
            <% if broker_or_staff_role.may_deny? %>
              <%= submit_tag 'Deny', name: 'deny', class: "btn btn-primary interaction-click-control-broker-deny" %>
            <% end %>
            <% if broker_or_staff_role.may_decertify? %>
              <%= submit_tag 'Decertify', name: 'decertify', class: "btn btn-primary interaction-click-control-broker-decertify" %>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>

