<% if @bs4 %>
  <div class="table-border table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= l10n("admin.applicant_hbx_id") %></th>
          <th><%= l10n("applicant_name") %></th>
          <% if controller_name == 'applicants' %>
            <th><%= l10n("hbx_profiles.application_type") %></th>
          <% end %>
          <th><%= l10n("npn") %></th>
          <th><%= l10n("agency_name") %></th>
          <th><%= l10n("status") %></th>
          <% if date_col_name_for_broker_roaster.present? %>
            <th>
              <%= date_col_name_for_broker_roaster %>
            </th>
          <% end %>
          <% if @status != 'applicant' %>
            <th>
              <%= l10n("admin.comments") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @broker_applicants.any? %>
          <%= render partial: "shared/brokers/applicant_row", :collection => @broker_applicants, :as => :applicant %>
        <% else %>
        <tr><td><%= l10n("admin.no_applicants_found") %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= render 'shared/alph_paginate', url: url, full_index_url: index_url, alphs: @page_alphabets, remote: true, status: @status, bs4: @bs4 %>
      (Click on any letter above to see all applicants whose last name starts with that letter.)
    </div>
    <div class="col-md-2 text-right">
      <h4><%= "#{@broker_applicants.count} #{l10n('admin.out_of')} #{@people.count}" %></h4>
    </div>
  </div>
<% else %>
<div class="table-border table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Applicant Person HBX ID</th>
      <th>Applicant Name</th>
      <% if controller_name == 'applicants' %>
        <th>Application Type</th>
      <% end %>
      <th>Applicant NPN</th>
      <th>Agency Name</th>
      <th>Status</th>
      <% if date_col_name_for_broker_roaster.present? %>
        <th>
          <%= date_col_name_for_broker_roaster %>
        </th>
      <% end %>
      <% if @status != 'applicant' %>
        <th>
          Comments
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% if @broker_applicants.any? %>
        <%= render partial: "shared/brokers/applicant_row", :collection => @broker_applicants, :as => :applicant %>
      <% else %>
      <tr><td>No Applicants found.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
<div class="col-md-6">
  <% if params[:page].present? || (@people.count != @broker_applicants.count) %>
    <%= render 'shared/alph_paginate', url: url, full_index_url: index_url, alphs: @page_alphabets, remote: true, status: @status %>
  <% end %>
</div>

<div class="col-md-6 text-right">
  <h4><%= "#{@broker_applicants.count} out of #{@people.count}" %></h4>
</div>
</div>
<script>
$(function() {
  Freebies.popover();
});
</script>
<% end %>
