 <div class="table-border table-responsive">
  <table class="table">
    <thead>
      <th>Applicant Name</th>
      <th>Applicant NPN</th>
      <th>Agency Name</th>
      <th>Status</th>
      <th>Certified Date</th>
      <th></th>
    </thead>
    <% if @broker_applicants.any? %>
    <% @broker_applicants.each do |applicant| %>
    <% broker_role = applicant.broker_role %>
    <% if broker_role.broker_agency_profile %>
    <tbody>
      <td><%= applicant.full_name %></td>
      <td><%= broker_role.npn %></td>
      <td><%= broker_role.broker_agency_profile.legal_name %></td>
      <td><%= broker_role.current_state %></td>
      <td><%= format_date broker_role.certified_date %></td>
      <td>
        <%= link_to 'Show'.html_safe,
        edit_exchanges_broker_applicant_path(applicant), class: "btn btn-default interaction-click-control-broker-show", method: :get, remote: true %>
      </td>
    </tbody>
    <% end %> 
    <% end %>
    <% else %>
    <tbody><td>No Applicants found.</td></tbody>
    <% end %>
  </table>
</div>
<%= render 'shared/alph_paginate', url: url, alphs: @page_alphabets, remote: true, status: @status %>