<div class="row module broker-fields">
  <div class="table-responsive">
    <table class="table table-message-wrapper none_margin_bottom none_margin_top">
      <tbody>
        <tr>
          <th><%= l10n("applicant_name") %>:</th>
          <td><%= @broker_applicant.full_name %></td>
        </tr>
        <% if broker_or_staff_role.respond_to?(:npn) %>
          <tr>
            <th><%= l10n("npn") %>:</th>
            <td><%= broker_or_staff_role.npn %></td>
          </tr>
        <% end %>
        <tr>
          <th><%= l10n("email") %>:</th>
          <td><%= broker_or_staff_role.email_address %></td>
        </tr>
        <tr>
          <th><%= l10n("broker") %>:</th>
          <td><%= broker_or_staff_role.broker_agency_profile.legal_name %></td>
        </tr>
        <tr>
          <th><%= l10n("market_kinds") %>:
          </th>
          <td>
            <%= broker_or_staff_role.broker_agency_profile.try(:market_kind).try(:capitalize) %>
          </td>
        </tr>
        <tr>
          <th><%= l10n("languages") %>:</th>
          <td>
            <%= broker_or_staff_role.broker_agency_profile.languages_spoken.map do |lang| lang.upcase end.to_sentence %>
          </td>
        </tr>
        <tr>
          <th><%= l10n("office_locations") %>:</th>
          <td>
            <% broker_or_staff_role.broker_agency_profile.office_locations.each do |office_location| %>
            <%= office_location.address.to_html %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= l10n("phone_number") %>:</th>
          <td><%= broker_or_staff_role.broker_agency_profile.phone %></td>
        </tr>
        <tr>
          <th><%= l10n("history") %></th>
          <td>
            <% broker_or_staff_role.workflow_state_transitions.each do |transition| %>
            <%= transition.to_html %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= l10n("application_status") %>:</th>
          <td><%= broker_or_staff_role.current_state %></td>
        </tr>
        <%= f.fields_for :broker_role do |broker_role_fields| %>
          <tr>
            <th class=""><%= l10n("license") %>:</th>
            <td>
              <div class="enroll-checkbox">
                <div class="checkbox">
                  <label>
                    <%= broker_role_fields.check_box :license, class: "form-control" %>
                    <%= broker_role_fields.label :license do %>
                    <i class="far fa-check-square fa-2x"></i>
                    <i class="far fa-square fa-2x"></i>
                    <% end %>
                  </label>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="remove-top-bdr"><%= l10n("training") %>:</th>
            <td class="remove-top-bdr">
              <div class="enroll-checkbox">
                <div class="checkbox">
                  <label>
                    <%= broker_role_fields.check_box :training, class: "form-control" %>
                    <%= broker_role_fields.label :training do %>
                    <i class="far fa-check-square fa-2x"></i>
                    <i class="far fa-square fa-2x"></i>
                    <% end %>
                  </label>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="remove-top-bdr"><%= l10n("carrier_appointments") %>:</th>
            <td class="remove-top-bdr">
              <% broker_role_fields.object.carrier_appointments.each do |name,value| %>
                <div class="col-xs-6">
                  <div class="row">
                    <div class="enroll-checkbox">
                      <div class="checkbox">
                        <label>
                        <%unless broker_carrier_appointments_enabled?%>
                          <%= check_box_tag "person[broker_role_attributes][carrier_appointments][#{name}]", "true", value == "true" ? true : false %>
                        <%else%>
                          <%= check_box_tag "person[broker_role_attributes][carrier_appointments][#{name}]", "true", true, disabled: true %>
                        <%end%>
                          <%= label_tag "person[broker_role_attributes][carrier_appointments][#{name}]" do %>
                            <i class="far fa-check-square fa-2x"></i>
                            <i class="far fa-square fa-2x"></i>
                            <% if name == "united_health_care" %>
                              <span>
                                UnitedHealthcare
                              </span>
                            <% else %>
                              <span>
                                <%= name %>
                              </span>
                            <% end %>
                          <% end %>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%if broker_carrier_appointments_enabled?%>
                <p class="text-info"><span class="glyphicon glyphicon-info-sign"></span>
                <%= l10n("broker_carrier_appointments_enabled_note", site_long_name: site_long_name) %></p>
              <%end%>
            </td>
          </tr>
          <% disabled = (broker_or_staff_role.active? || broker_or_staff_role.agency_pending?) ? true : false %>
          <tr>
            <th style="vertical-align: top;"><%= l10n("reason") %>
              <span class="text-danger"></span>:
            </th>
            <td><%= broker_role_fields.text_area :reason, class: "floatlabel form-control", placeholder: "#{l10n('write_here')}...", rows: 6, disabled: disabled %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
