<div class="accounts-tab">
  <h2 class="darkblue no-buffer">Account Number: <%= @employer_profile.hbx_id %> </h2>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Account Balance <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Account Balance includes payments and enrollment changes made since the latest invoice but have not yet been billed.  This may not be the total amount that is currently due."></i>
        </th>
        <th>Past Due Amount <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Past Due Amount includes premiums that were previously billed but were not paid by the due date. If premiums are not paid within 2 months of the due date, your group’s health coverage may be terminated."></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(@employer_profile_account.try(:total_due)) || "Data not available" %></td>
        <td <%= amount_color_style(@employer_profile_account.try(:past_due)) %>><%= number_to_currency(@employer_profile_account.try(:past_due)) || "Data not available" %></td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="recentActivity">Recent Activity</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="statements">Statements</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="payMyBill">Pay My Bill</button>
    </div>
  </div>
  <div class="account-content">
    <div class="recent-activity on-load">
      <%= render partial: "employers/employer_profiles/my_account/accounts/current_activity" %>
    </div>
    <div class="statements">
      <%= render partial: "employers/employer_profiles/my_account/accounts/statements" %>
    </div>
    <div class="pay-my-bill">
      <%= render partial: "employers/employer_profiles/my_account/accounts/pay_my_bill" %>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('.recent-activity').show();
    $('.statements').hide();
    $('.pay-my-bill').hide();
    $('#recentActivity').addClass('active');
  });

  $('#recentActivity').click(function() {
    $('.statements').hide();
    $('.pay-my-bill').hide();
    $('.recent-activity').show();
    $('#recentActivity').addClass('active');
    $('#statements').removeClass('active');
    $('#payMyBill').removeClass('active');
  });

  $('#statements').click(function() {
    $('.recent-activity').hide();
    $('.pay-my-bill').hide();
    $('.statements').show();
    $('#recentActivity').removeClass('active');
    $('#statements').addClass('active');
    $('#payMyBill').removeClass('active');
  });

  $('#payMyBill').click(function() {
    $('.recent-activity').hide();
    $('.pay-my-bill').show();
    $('.statements').hide();
    $('#recentActivity').removeClass('active');
    $('#statements').removeClass('active');
    $('#payMyBill').addClass('active');
  });

</script>
