<br>
<h4><strong>Activity</strong></h4>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <!-- Starting Balancce -->
    <tr>
      <td></td>
      <td><strong>Previous Balance</strong></td>
      <td></td>
      <td><%= number_to_currency(@previous_balance) %></td>
    </tr>
    <!-- Payment -->
    <tr>
      <td><%= @most_recent_payment_date %></td>
      <td>Payment</td>
      <td><%= number_to_currency(@payments) %></td>
      <td></td>
    </tr>
    <!-- New Charges -->
    <tr>
      <td></td>
      <td>New Charges</td>
      <td><%= number_to_currency(@new_charges) %></td>
      <td></td>
    </tr>
    <!-- Adjustments -->
    <tr>
      <td class="icon"><span class="pull-right glyphicon glyphicon-plus"></span></td>
      <td>Adjustments since last invoice</td>
      <td><%= number_to_currency(@adjustments) %></td>
      <td></td>
    </tr>

    <!-- Payments -->
    <tr class="payments">
      <td></td>
      <td>Nikola</td>
      <td>Aleksandra</td>
      <td>Andreja</td>
    </tr>

    <tr class="payments">
      <td></td>
      <td>Nikola</td>
      <td>Aleksandra</td>
      <td>Andreja</td>
    </tr>

  </tbody>

</table>

<!-- display payment history -->
<%= render partial: "employers/employer_profiles/my_account/accounts/payment_history" %>

<script>
  $(document).ready(function() {
    $('.payments').hide();
  });


  $('td.icon').click(function() {
    $(this).find('span').toggleClass('glyphicon-plus').toggleClass('glyphicon-minus');
    $('tr.payments').toggle();
  });
</script>
