<br>
<h4><strong>Activity</strong></h4>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <!-- Starting Balance -->
    <tr>
      <td></td>
      <td><strong>Previous Balance</strong></td>
      <td></td>
      <td><%= number_to_currency(@employer_profile.try(:employer_profile_account).try(:previous_balance)) || "Data not available" %></td>
    </tr>
    <!-- Payment -->
    <tr>
      <td><%= @most_recent_payment_date %></td>
      <td>Payment</td>
      <td><%= (@employer_profile.try(:employer_profile_account).try(:payments)) || "Data not available" %></td>
      <td></td>
    </tr>
    <!-- New Charges -->
    <tr>
      <td></td>
      <td>New Charges</td>
      <td><%= (@employer_profile.try(:employer_profile_account).try(:new_charges)) || "Data not available" %></td>
      <td></td>
    </tr>
    <!-- Adjustments -->
    <tr>
      <td class="icon"><span class="pull-right glyphicon glyphicon-plus"></span></td>
      <td>Adjustments since last invoice</td>
      <td></td>
      <td></td>
    </tr>

    <!-- Payments -->
    <% if @employer_profile.try(:employer_profile_account).try(:current_statement_activity).size == 0 %>
    <tr class="payments">
      <td></td>
      <td>There have been no adjustments since the last invoice.</td>
      <td></td>
      <td></td>
    </tr>
    <% else %>
      <% @employer_profile.try(:employer_profile_account).try(:current_statement_activity).each do |activity| %>
        <tr class="payments">
          <td><%= activity.coverage_month %></td>
          <td><%= activity.name %></td>
          <td><%= number_to_currency(activity.amount) %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>

</table>

<!-- display payment history -->
<%= render partial: "employers/employer_profiles/my_account/accounts/payment_history" %>

<script>
  $(document).ready(function() {
    $('.payments').hide();
  });


  $('td.icon').click(function() {
    $(this).find('span').toggleClass('glyphicon-plus').toggleClass('glyphicon-minus');
    $('tr.payments').toggle();
  });
</script>
