<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <!-- Starting Balancce -->
    <tr>
      <td></td>
      <td>Starting Balance</td>
      <td></td>
      <td><%= number_to_currency(@previous_balance) %></td>
    </tr>
    <!-- Payment -->
    <tr>
      <td><%= @most_recent_payment_date %></td>
      <td>Payment</td>
      <td><%= number_to_currency(@payments) %></td>
      <td></td>
    </tr>
    <!-- New Charges -->
    <tr>
      <td></td>
      <td>New Charges</td>
      <td><%= number_to_currency(@new_charges) %></td>
      <td></td>
    </tr>
    <!-- Adjustments -->
    <tr>
      <td></td>
      <td>Adjustments</td>
      <td><%= number_to_currency(@adjustments) %></td>
      <td></td>
    </tr>
    <!-- Ending Balance -->
    <tr>
      <td></td>
      <td>Ending Balance</td>
      <td></td>
      <td><%= number_to_currency(@total_due) %></td>
    </tr>
  </tbody>

</table>
