<h4><strong>Payment History</strong></h4>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Method</th>
      <th>Check #</th>
    </tr>
  </thead>
  <tbody>
    <% if @payments == nil %>
    <tr>
      <td></td>
      <td>There are no payments in your history.</td>
      <td></td>
      <td></td>
    </tr>
    <% else %>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.paid_on %></td>
          <td><%= number_to_currency(payment.amount) %></td>
          <td><%= payment.method_kind %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="container-flid text-center">
  <div class="btn-group" role="group" aria-label="...">
    <% num_of_payments = @employer_profile.try(:employer_profile_account).try(:premium_payments).size %>
    <% num_of_pages = (1..num_of_payments).to_a %>

    <% num_of_pages.each do |page_num|%>
      <div class="btn-group" role="group">
        <% if @page_num.nil? && page_num == 1 %>
          <%= link_to "<button class='btn btn-default active' id='page-num-1'>1</button>".html_safe, employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: "1") %>
        <% elsif page_num == @page_num.to_i %>
          <%= link_to "<button class='btn btn-default active' id='page-num-#{page_num}'>#{page_num}</button>".html_safe, employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: page_num) %>
        <% else %>
        <%= link_to "<button class='btn btn-default' id='page-num-#{page_num}'>#{page_num}</button>".html_safe, employers_employer_profile_path(@employer_profile, tab: "accounts", page_num: page_num) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
