<fieldset>
  <hr>
  <table border="1" style="width:325px">
    <tr>
      <td>
        <div class="row">
          <p class="text-right col-md-6 col-md-push-6">
            <%= link_to '<span class="fui-cross-circle"> Delete Dependent</span>'.html_safe, '#', :class => "remove_fields" %>
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.text_field :first_name, placeholder: "First", style: "width:100%" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :last_name, placeholder: "Last", style: "width:100%" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :name_sfx, placeholder: "Sfx", style: "width:100%" %></td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :dob, as: :string,
          start_year: Date.today.year - 110,
          end_year: Date.today.year,
          placeholder: "mm/dd/yyyy",
          class: "date_picker",
          style: "width:100%" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :gender, EmployerCensus::Member::GENDER_KINDS, include_blank: "Select", style: "width:100%" %>
      </td>
    </tr>
    <tr>
      <td><%= f.text_field :employee_relationship, placeholder: "Relationship", style: "width:100%" %></td>
    </tr>
    <tr>
      <td><%= f.hidden_field :_destroy %></td>
    </tr>
  </table>
</fieldset>
