- census_employee = @family.census_employee
- dependents = @family.census_dependents
- address = census_employee.address

%h3 Family Details

.row
	.col-md-6.col-sm-6.col-xs-12
		%h3 Employee Details

		%p
			Name: 
			= name_to_listing(census_employee)
			%br
			DOB:
			= format_date census_employee.dob
			%br
			Hired On:
			= format_date census_employee.hired_on

	.col-md-6.col-sm-6.col-xs-12
		%h3 Address

		- if address.present?
			= address.to_s

.row
	.col-md-12.col-sm-12.col-xs-12

		%h3 Dependents

		- if dependents.present?
			%table
				%tr
					%th Name
					%th DOB
					%th Relationship
					%th Gender

				- dependents.each do |dependent|
					%tr
						%td= dependent.first_name + " " + dependent.last_name
						%td= format_date dependent.dob
						%td= dependent.employee_relationship
						%td= dependent.gender
		- else
			%p No Dependents

= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, 'javascript:;', class: 'btn btn-primary return_to_employee_roster'