.container
  .row
    .col-md-12.col-sm-12.col-xs-12
      - if @family.errors.any?
        .alert.alert-error
          %h4= "#{pluralize(@family.errors.count, "error")} prohibited this person from being saved:"
          %ul
            - @family.census_employee.errors.full_messages.each do |msg|
              %li= msg
            
            - @family.census_dependents.each do |dep|
              - dep.errors.full_messages.each do |msg|
                %li= msg

            - @family.benefit_group_assignments.each do |bg|
              - bg.errors.full_messages.each do |msg|
                %li= msg

      - page_title = @family.persisted? ? 'Update Family' : 'Add New Family'
      
      .row
        .col-md-9.no-pd.col-sm-9.col-xs-12
          %h3.pull-left= page_title
          %a.pull-right{href: '#', class: 'btn btn-danger return_to_employee_roster'} Cancel

      .row
        .col-md-9.no-pd.col-sm-9.col-xs-12
          = f.fields_for :census_employee, errors: {}, fieldset: false do |employee|
            = render 'member_fields', f: employee
            %br
                
            = employee.fields_for :address, @family.census_employee.address, errors: {}, fieldset: false do |address|
              = render 'address_fields', f: address
            %br

            .form-inputs
              = f.fields_for :census_dependents, errors: {}, fieldset: false do |dependent|
                = render 'shared/census_dependent_fields', f: dependent
              %br
              = link_to_add_fields "Add Dependent", f, :census_dependents, 'btn btn-success pull-right'
              %br
              %br

            #benefit_group_assignment_info.focus_effect.row.personal-info-row.no-buffer
              .col-md-12.no-pd.col-sm-12.col-xs-12.first
                = f.fields_for :benefit_group_assignments, @family.active_benefit_group_assignment ,errors: {}, fieldset: false do |benefit_group_assignment|
                  = render 'shared/benefit_group_assignment_fields', f: benefit_group_assignment
            %br
            %br

            .row
              .col-md-3.key.col-sm-3.col-xs-12
                - button_label = @family.persisted? ? 'Update Family' : 'Create Family'
                = f.submit button_label, class: "btn btn-primary"
