<div>
  <h3>Employee Information</h3>
</div>
<div>
  <%= f.text_field :first_name, placeholder: "First" %> <br/>
  <%= f.text_field :middle_name, placeholder: "Mid" %> <br/>
  <%= f.text_field :last_name, placeholder: "Last" %> <br/>
  <%= f.text_field :name_sfx, placeholder: "Sfx" %> <br/>
  <%= f.select :gender, EmployerCensus::Member::GENDER_KINDS, include_blank: "Select" %> <br/>
  <%= f.text_field :ssn, as: :string, title: "SSN", placeholder: "SSN", input_html: { value: "", maxlength: 11 }%> <br/>
  <%= f.text_field :dob, as: :string,
    start_year: Date.today.year - 110,
    end_year: Date.today.year,
    placeholder: "mm/dd/yyyy DOB",
    class: "date_picker" %><br/>
  <%= f.text_field :hired_on, as: :string, placeholder: "mm/dd/yyyy Hire Date", class: "date_picker"%>
  <br/>
</div>