<%= form_for @family, url: {action: "assignment_benefit_group", employer_id: @employer_profile.id} do |f| %>
  <div class="container-fluid no-pd-left">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <p class="information row">Assignment Benefit Group</p>
          <div class="col-md-10 col-sm-10 col-xs-12">
            <% if @family.errors.any? %>
              <div class="alert alert-error">
                <h4><%= pluralize(@family.errors.count, "error") %> prohibited this person from being saved:</h4>
                <ul>
                  <% @family.benefit_group_assignments.each do |bga| %>
                    <% bga.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.fields_for :census_employee, errors: {}, fieldset: false do |employee|  %>
              <div id="benefit_group_assignment_info" class="focus_effect row personal-info-row">
                <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">
                  <%= f.fields_for :benefit_group_assignments, @family.active_benefit_group_assignment ,errors: {}, fieldset: false do |bga|  %>
                    <h4>Benefit Group Assignment</h4>
                    <% @employer_profile.plan_years.first.benefit_groups.each do |benefit_group| %>
                      <% bg = EmployerCensus::BenefitGroupAssignment.new_from_group_and_roster_family(benefit_group, @family) %>
                      <div class='col-md-12'>
                        <div class="col-md-1 col-sm-1 col-xs-2 form-group form-group-lg no-pd">
                          <%= radio_button_tag "employer_census_employee_family[benefit_group_assignments_attributes][0][benefit_group_id]", benefit_group.id, @family.active_benefit_group_assignment.try(:benefit_group_id) == benefit_group.id %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-10 form-group form-group-lg no-pd">
                          <%= benefit_group.title %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= bg.start_on %>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                          <%= bg.end_on %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div id="key-section" class="col-md-10 key col-sm-10 col-xs-12">
            <%= f.submit "Save & Exit", class: 'btn btn-save' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
