<%= form_for @family, url: {action: "create", employer_id: @employer.id} do |f|%>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <h3>Add new family</h3>
      </div>

      <%= f.fields_for :employee, errors: {}, fieldset: false do |employee|  %>
        <%= render 'member_fields', f: employee %>
        <%= employee.fields_for :address, errors: {}, fieldset: false do |address|  %>
          <%= render 'address_fields', f: address %>
        <% end %>
      <% end %>
      <br/>

      <div>
        <h3>Dependent Information</h3>
        <div class='form-inputs'>
          <%= f.fields_for :dependents, errors: {}, fieldset: false do |dependent|  %>
            <%= render 'dependent_fields', f: dependent %>
          <% end %>
          <br/>
          <p><%= link_to_add_fields "Add Dependent", f, :dependents %></p>
        </div>
      </div>

      <br/>
    </div>
  </div>


  <div class="well well-sm well-default">
    <%= f.submit "Create Family", class: "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), employers_employer_path(@employer), class: "btn btn-primary" %>
  </div>

<% end %>
