<% census_employee = @family.census_employee %>
<% dependents = @family.census_dependents %>
<% address = census_employee.address %>

<h2> Family Details </h2>

<h3> Employee Details </h3>

Name: <%= name_to_listing(census_employee) %> <br>
<!-- Name: <%= census_employee.first_name + " " + census_employee.last_name %> <br> -->
DOB: <%= format_date census_employee.dob %> <br>
Hired On: <%= format_date census_employee.hired_on %><br>

<h3> Address </h3>

<%= address.address_1 + ", " +
    address.address_2 + ", " +
    address.city + ", " +
    address.state + ", " +
    address.zip
  %>

<h3> Dependents </h3>

<% if dependents.present? %>
  <table border = "1", width= "400">
    <tr>
      <th> Name </th>
      <th> DOB </th>
      <th> Relationship </th>
      <th> Gender </th>
    </tr>

    <% dependents.each do |dependent| %>
      <tr>
        <td> <%= dependent.first_name + " " + dependent.last_name %> </td>
        <td> <%= format_date dependent.dob %> </td>
        <td> <%= dependent.employee_relationship %> </td>
        <td> <%= dependent.gender %> </td>
      </tr>
    <% end %>
  </table>
<% else %>
  No Dependents
<% end %>

<br>
<br>

<%= link_to "Back", employers_employer_path(@employer) %>