<div class="pull-right">
  <%= form_for @person, :url => document_path(@document), remote: true do |f| %>
  <% f.fields_for @document do |c| %>
    <%= f.hidden_field  :id %>
    <%= c.hidden_field  :id %>
    <%= c.text_area  :comment, placeholder: 'Write here...', size: "40x5" %>
    <%= c.button :submit %>
  <% end %>
  <% end %>
</div>
