<p>
  <i class="fa fa-spinner fa-spin" style="color:green"></i> Review in progress
  <i class="fa fa-times-circle" style="color:red"></i> No valid documents
  <i class="fa fa-file"></i> New documents uploaded
</p><br>

<div class="row container">
  <%= admin_docs_filter 'waiting', "Doc waiting for review (#{docs_waiting_for_review})", "btn btn-default" %>
  <%= admin_docs_filter 'no_docs_uloaded', "Missing documents (#{missing_docs})", "btn btn-default" %>
  <div class="form-inline button-group-wrapper">
    <div class="input-group search-wp">
      <%= render 'shared/search', url: consumer_role_status_documents_path, q: @q, placeholder: "First/Last Name, SSN", remote: true %>
    </div>
  </div>
</div>

  <div class="documents-table">
    <%= paginate @unverified_persons, remote: true %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <col width="250">
        <col width="100">
        <col width="150">
        <col width="150">
        <col width="100">
        <col width="170">
        <col width="100">
        <col width="170">
        <tr>
          <th class="text-center">HBX id</th>
          <th class="text-center">AQHP/UQHP</th>
          <th><%= admin_docs_filter 'first_name', " First name", 'admin_docs' %></th>
          <th><%= admin_docs_filter 'last_name', " Last name", 'admin_docs'  %></th>
          <th class="text-center"> # of Docs</th>
          <th class="text-center"><%= admin_docs_filter 'created_at', " Remaining time", 'admin_docs'  %></th>
          <th class="text-center">Review status</th>
          <th class="text-center">Review</th>
        </tr>
       <%= paginate @unverified_persons, :remote => true %>
        <% @unverified_persons.each do |person| %>
        <tr>
          <td><%= person.hbx_id %></td>
          <td><%= person.is_aqhp? ? "AQHP"+person.primary_family.e_case_id.to_s : "UQHP" %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td style="text-align:center;"><%= person.consumer_role.vlp_documents.uploaded.count %></td>
          <td style="text-align:center;"><%= time_remaining_in_words(person.created_at) %></td>
          <td style="text-align:center;">
            <% if person.consumer_role.vlp_documents.where(status:"downloaded").count > 0 %>
              <i class="fa fa-file"></i>
            <% elsif person.consumer_role.vlp_documents.where(status:"in review").count > 0 || person.consumer_role.vlp_documents.where(status:"verified").count > 0 %>
              <i class="fa fa-spinner fa-spin" style="color:green"></i>
            <% elsif %>
              <i class="fa fa-times-circle" style="color:red"></i>
            <% end %>
          </td>
          <th><%= link_to "Docs review", documents_path(:person_id => person.id, :status=>"in review"), class: "btn btn-default" %></th>
        </tr>
        <% end %>
      </table>
    </div>
   <div class="row container">
     <div class="col-md-8" id="families_paginator">
       <%= paginate @unverified_persons, remote: true %>
     </div>
     <div class="col-md-4" id="families_count">
       <p><%= "#{number_with_delimiter(@unverified_persons.count)} / #{number_with_delimiter(Person.count)} " %><small>(people selected / total)</small></p>
     </div>
   </div>
  </div>




