<p>
  <i class="fa fa-refresh fa-spin" style="color:green"></i> Review in progress
  <i class="fa fa-times-circle" style="color:red"></i> No valid documents
  <i class="fa fa-file"></i> New documents uploaded
</p>

  <div class="documents-table">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <col width="250">
        <col width="150">
        <col width="150">
        <col width="100">
        <col width="170">
        <col width="100">
        <col width="170">
        <tr>
          <th>HBX id</th>
          <th>First name</th>
          <th>Last name</th>
          <th># of Docs</th>
          <th>Time remaining for verification</th>
          <th>Review status</th>
          <th>Review</th>
        </tr>

        <% @unverified_persons.each do |person| %>
        <tr>
          <td><%= person.hbx_id %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td style="text-align:center;"><%= person.consumer_role.vlp_documents.where(identifier: {:$exists => true}).count %></td>
          <td style="text-align:center;"><%= time_remaining_in_words(person.created_at) %></td>
          <td style="text-align:center;">
            <% if person.consumer_role.vlp_documents.where(status:"downloaded").count > 0 %>
              <i class="fa fa-file"></i>
            <% elsif person.consumer_role.vlp_documents.where(status:"in review").count > 0 || person.consumer_role.vlp_documents.where(status:"verified").count > 0 %>
              <i class="fa fa-refresh fa-spin" style="color:green"></i>
            <% elsif %>
              <i class="fa fa-times-circle" style="color:red"></i>
            <% end %>
          </td>
          <th><%= link_to "Review documents", documents_path(:person_id => person.id, :status=>"in review"), class: "btn btn-default" %></th>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
