<%= link_to "HBX Admin Page", exchanges_hbx_profiles_root_path, class: "btn btn-trans pull-right" %>

<div class="container">
  <h2><%= @person.first_name %>  <%= @person.last_name %> Document Verification Page</h2>
  <% if !@person_documents.empty? && @person_documents.all? {|doc| doc.status == "verified"}%>
    <%= link_to "Click to complete verification", change_person_aasm_state_documents_path(:person_id => @person.id),
    method: :put, class: "btn btn-danger", data: { confirm: 'Person will be completely verified. Click OK to continue.' }%><br><br>
  <% end %>
  <div class="documents-table">
    <div class="table-responsive">

      <table class="table table-hover table-striped">
        <col width="100">
        <col width="50">
        <col width="30">
        <col width="130">
        <col width="50">
        <tr>
          <th>Verification type</th>
          <th>Document status</th>
          <th>Link</th>
          <th>Actions</th>
          <th>Comments</th>
        </tr>

        <% @person_documents.each do |doc| %>
        <tr>
          <td><%= doc.subject %></td>
          <td><%= doc.status %></td>
          <td>
            <% if doc.identifier.present? %>
            <% key, bucket = get_key_and_bucket(doc.identifier) %>
            <%= link_to(document_download_path(bucket, key) + "?contenttype=#{doc.format}&filename=#{doc.title.gsub(/[^0-9a-z\. ]/i, '')}", class: "download") do %>
                <i class="fa fa-download fa-2x"></i>
            <% end %>
            <% end %>
          </td>

          <td>
            <% if doc.identifier.present? %>
            <%=  link_to "Accept", change_doc_status_documents_path(:person_id => @person.id, :doc_id => doc.id, :status => "verified"), method: :put, class: "btn btn-success"%>
            <%=  link_to "Reject", change_doc_status_documents_path(:person_id => @person.id, :doc_id => doc.id, :status => "rejected"), method: :put, class: "btn btn-danger"%>
            <% end %>
          </td>
          <td>
            <%= link_to 'Comment', new_comment_documents_path(:person_id => @person.id, :doc_id => doc.id), class: "btn btn-default", remote: true %>
          </td>
        <% end %>
      </table>
      <div class="row jumbotron">
        <div id="comment-form" style="display:none;"></div>
      </div>
    </div>
  </div>


</div>
