%person_relationship
  %subject_individual 
    %id= "urn:openhbx:hbx:dc0:resources:v1:person:hbx_id##{person_relationship.relative.hbx_id}"
  %relationship_uri= "urn:openhbx:terms:v1:individual_relationship##{person_relationship.kind}"
  %object_individual
    %id= "urn:openhbx:hbx:dc0:resources:v1:person:hbx_id##{person_relationship.parent.hbx_id}"
