<div>
  <h5><b><%= l10n("consumer_roles.ridp_document_list.header") %></b></h5>
  <ul>
    <li><%= l10n("consumer_roles.upload_ridp_documents.driver_license") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.school_id") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.military_id") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.passport") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.military_dependent") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.native_american") %></li>
    <li><%= l10n("consumer_roles.upload_ridp_documents.coast_guard") %></li>
  </ul>
  <h5><b><%= l10n("or").upcase %></b></h5>
  <h5><b><%= l10n("consumer_roles.ridp_document_list.conditional") %></b></h5>
  <ul>
    <li><%= l10n("consumer_roles.ridp_document_list.birth_certificate") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.ss_card") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.marriage_certificate") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.divorce_decree") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.employer_id") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.diploma") %></li>
    <li><%= l10n("consumer_roles.ridp_document_list.deed") %></li>
  </ul>
</div>
