.content
  .container
    .col-xs-9
      - if @step == 'start'
        = render partial: 'notices/shared/unordered_list', locals: { previous: "Based on the information you provided, your identity could not be confirmed by Experian – the third-party service we use to verify your identity. You have two options:", listings: ["Complete your application at the DC Health Benefit Exchange Authority. Call (202) 715-7576 to set up an appointment.", "Complete a  <a href= 'https://dchealthlink.com/sites/default/files/v2/forms/DC_Health_Link_Application_for_Health_Coverage_201509.pdf'>paper application</a>, scan it, and email it to <a href='mailto:info@dchealthlink.com'>info@dchealthlink.com</a>."] }
        %br
      - else
        %br
        = render partial: 'notices/shared/unordered_list', locals: { previous: "Your identity could not be confirmed by Experian – the third-party service we use to verify your identity. For your security, you won’t be able to continue your application until you resolve this issue. Follow these steps:", listings: ["Call Experian at (855) 578-5409", "Provide your reference number:  #{ @verification_response.transaction_id} ", "Experian will need to ask you a few questions to verify your identity"] }
        %p If you are able to resolve the issue with Experian, select CONTINUE APPLICATION.
        %p= link_to(t('insured.interactive_identity_verifications.failed_validation.override'), insured_interactive_identity_verification_path(:id => @verification_response.transaction_id), :method => :put, :class => "btn btn-primary  btn-small interaction-click-control-override-identity-verification" + pundit_class(Family, :updateable?))
        = render partial: 'notices/shared/unordered_list', locals: { previous: "If you call Experian, and they tell you they still can’t verify your identity, you have two options:", listings: ["Complete your application at the DC Health Benefit Exchange Authority. Call (202) 715-7576 to set up an appointment.", "Complete a  <a href= 'https://dchealthlink.com/sites/default/files/v2/forms/DC_Health_Link_Application_for_Health_Coverage_201509.pdf'>paper application</a>, scan it, and email it to <a href='mailto:info@dchealthlink.com'>info@dchealthlink.com</a>."] }
        .btn.btn-default{"data-target" => "#help_with_plan_shopping", "data-toggle" => "modal"}
          Help me sign up
    %br
      = render partial: 'insured/plan_shoppings/help_with_plan'
