= content_for :horizontal_status do
  = render  partial: 'insured/families/horizontal_status.html.erb', locals: {step: 1}
.container
  .row
    .col-lg-7.col-md-7.col-sm-8.col-xs-12
      %h1.darkblue Verify Identity
      %h4 Please answer the following security questions. When you're finished click SUBMIT.
      = form_for(@interactive_verification, :as => :interactive_verification, :url => insured_interactive_identity_verifications_path, :method => :post) do |f|
        = f.hidden_field :session_id
        = f.hidden_field :transaction_id
        = f.fields_for :questions do |qf|
          = qf.hidden_field :question_id
          = qf.hidden_field :question_text
          = qf.fields_for :responses do |qr|
            = qr.hidden_field :response_id
            = qr.hidden_field :response_text
          .form-group
            %p= qf.object.question_text
            - qf.object.responses.each do |r|
              .row.row-form-wrapper.no-buffer
                .radio.skinned-form-controls.skinned-form-controls-mac{ :style => "height: auto;" }
                  = qf.radio_button :response_id, r.response_id, class: 'required floatlabel'
                  = qf.label "response_id_#{r.response_id.downcase}" do
                    %span= ""
                    = r.response_text
            %br
        %br
        = f.submit "Submit", class: 'btn btn-lg btn-primary ' + pundit_class(Family, :updateable?)
    .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
      = render  partial: 'shared/individual_progress', locals: {step: '2'}

