set_tab_content("<%= escape_javascript render "index"%>")

var table = $('#products-ajax-dt').DataTable( {
  "ajax": {
    "url": "/exchanges/issuers/<%=params['issuer_id']%>/products" ,
    "dataSrc": "data"
  },
  "type": "get",
  "ordering": false,
  "deferRender": true,
  // Build filters for table
  initComplete: function () {
            $('#subFilters').show();
            this.api().columns([2,3,4]).every( function () {
                var column = this;
                var select = $('<select class="col-md-2" style="margin-left:5px"><option value=""></option></select>')
                    .appendTo( '#subFilters' )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },
  // Call back event when table renders
  "drawCallback": function() {
    resetMainCheckbox()
  },
  // Creates a custom toolbar
  "dom": '<"toolbar">frtip',
  "columns": [
    { "data": null,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          $(nTd).html(buildCheckboxes(sData));
        }
    },
    { "data": "attributes.name" },
    { "data": "attributes.active_year" },
    { "data": "attributes.benefit_market_kind" },
    { "data": "attributes.kind" },
    { "data": "attributes.size" },
    { "data": "attributes.size" },
    { "data": "attributes.size" },
    { "data": "attributes.size" },
    { "data": "attributes.size" },
    // Builds Actions Menu
    { "data": null,
      "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
        $(nTd).html(buildDropDownMenu(sData));
      }
    }
  ]
});
/*
$("div.toolbar").html(
  `<div class="btn-group main-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">All</button>
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">2019</button>
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">2018</button>
   </div> <br />

   <div class="btn-group main-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">Shop</button>
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">IVL</button>
   </div> <br />

   <div class="btn-group main-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">Health</button>
    <button type="button" class="btn btn-default" onclick="filterProductDataTable(this.innerText)">Dental</button>
   </div> <br /> <br />

   <div class="btn-group main-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="bulkUpload(this.innerText)">Bulk Upload</button>
   </div> <br />
  </div>`
);*/

function resetMainCheckbox() {
  var element = $('.all-product-chkbx');
  selectAllCheckboxes(element);
  $('.all-product-chkbx')[0].checked = false;
}

function selectAllCheckboxes(element) {
  // Selects All Checkboxes
  if (element.checked) {
    $('.ee-main-checkbox').each(function() {
      $(this)[0].disabled ? $(this)[0].checked = false : $(this)[0].checked = true
    })
    // Enables Bulk Action Button
    // $('.er-bulk-action-btn').prop('disabled', false);
  // Deselects All Checkboxes
  } else {
    $('.ee-main-checkbox').each(function() {
      $(this)[0].checked = false;
    })
    // Disables Bulk Action Button
    // $('.er-bulk-action-btn').prop('disabled', true);
  }
}

function buildCheckboxes(sData) {
  var product_id = sData['id'];
  return `<input type="checkbox" class="ee-main-checkbox" data-product-id='${product_id}'>`
}

// Actions Menu List Items
function buildDropDownMenu(sData) {
  var product_id = sData['id'];
  return `<div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
              <span class='caret'></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" onclick="toAction(this)" data-product-id-id='${product_id}'>Upload</a></li>
              <li><a href="javascript:void(0)" onclick="toAction(this)" data-product-id-id='${product_id}'>Delete</a></li>
              <li><a href="javascript:void(0)" onclick="toAction(this)" data-product-id-id='${product_id}'>Download</a></li>
            </ul>
          </div>`
}

function filterProductDataTable(type) {
  var url = '';
  switch (type) {
    case 'All':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_year]=nil";
      break;
    case '2019':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_year]=2019";
      break;
    case '2018':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_year]=2018";
      break;
    case 'Shop':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_benefit_market_kind]=aca_shop";
      break;
    case 'IVL':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_benefit_market_kind]=aca_individual";
      break;
    case 'Health':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_kind]=health";
      break;
    case 'Dental':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/products?query[by_kind]=dental";
      break;
  }
  table.ajax.url(url).load();
}

// needs to be updated accordingly
function bulkUpload(type) {
  var url = '';
  switch (type) {
    case 'Bulk Upload':
      url = "/exchanges/issuers/<%=params['issuer_id']%>/bulk_upload";
      break;
  }
  table.ajax.url(url).load();
}

$('#subFilters').hide();
