<div class="row">
  <div id="scroll_container" class="col-xs-12">
    <div>
      <label class="plan-offerings">Plan Offerings - <%= render_plan_offerings(@benefit_package, @coverage_type) %></label>
    </div>
    <div>
      <label>Employer Lowest/Reference/Highest - <%= number_to_currency(@benefit_group_costs[:lowest_plan_employer_cost]) %>/<%= number_to_currency(@benefit_group_costs[:ref_plan_employer_cost]) %>/<%= number_to_currency(@benefit_group_costs[:highest_plan_employer_cost]) %></label>
    </div>

    <table class="table table-bg-white table-employee-2">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Dependent Count</th>
          <% if !@benefit_package.single_plan_type? || @coverage_type == '.dental' %>
          <th>Lowest Cost Available Plan</th>
          <% end %>
          <th>Reference Plan</th>
          <% if !@benefit_package.single_plan_type? || @coverage_type == '.dental'%>
          <th>Highest Cost Available Plan</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="employee_index_scroll">
        <% if @employer_profile.census_employees.active.any? %>
          <%= render 'employee_costs' %>
        <% else %>
        <tr> <td> No employees enrolled.</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>