<% dependents = @census_employee.census_dependents %>
<% address = @census_employee.address %>
<% benefit_group_assignment = @census_employee.active_benefit_group_assignment %>
<h3>Census Employee Details</h3>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h4>Employee Details</h4>
    <div class="form-border">
      <p>
        Name:
        <%= name_to_listing(@census_employee) %>
        <br/>
        DOB:
        <%= format_date @census_employee.dob %>
        <br/>
        Hired On:
        <%= format_date @census_employee.hired_on %>
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h4>Address</h4>
    <div class="form-border">
      <% if address.present? %>
        <%= address.to_html %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h4>Dependents</h4>
    <div class="form-border">
      <% if dependents.present? %>
        <table style='width:100%;'>
          <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Relationship</th>
            <th>Gender</th>
          </tr>
          <% dependents.each do |dependent| %>
            <tr>
              <td>
                <%= dependent.first_name + " " + dependent.last_name %>
              </td>
              <td>
                <%= format_date dependent.dob %>
              </td>
              <td>
                <%= dependent.employee_relationship %>
              </td>
              <td>
                <%= dependent.gender %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No Dependents</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <h4>Plan</h4>
    <div class="form-border">
      <p>Benefit Group: <%= benefit_group_assignment.try(:benefit_group).try(:title) %></p>
      <% if benefit_group_assignment.try(:coverage_waived?) %>
        <p>Enrollment Status: Coverage Waived</p>
        <p>Waiver Reason: <%= benefit_group_assignment.try(:hbx_enrollment).try(:waiver_reason) %></p>
      <% elsif benefit_group_assignment.try(:coverage_selected?) %>
        <p>Plan Name: <%= benefit_group_assignment.try(:hbx_enrollment).try(:plan).try(:name) %></p>
      <% end %>
    </div>
  </div>
</div>

<br />
<%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, 'javascript:;', class: 'btn btn-primary return_to_employee_roster' %>
