<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Age</th>
        <th>Premium</th>
        <th>Employer Contribution</th>
        <th>You Pay</th>
      </tr>
    </thead>
    <tbody>
      <% group_enrollment = enrollment.decorated_hbx_enrollment %>
      <% enrollment.hbx_enrollment_members.each do |member| %>
      <tr>
        <td><%= member.person.full_name %></td>
        <td><%= member.primary_relationship %></td>
        <td><%= dob_in_words(member.person.age_on(TimeKeeper.date_of_record), member.person.dob) %></td>
        <%# TODO %>
        <% member_enrollment = group_enrollment.member_enrollments.detect {|member_enrollment| member_enrollment.member_id == member.id} %>
        <td><%= number_to_currency(member_enrollment.product_price.to_f) %></td>
        <td><%= number_to_currency(member_enrollment.sponsor_contribution.to_f) %></td>
        <td><%= number_to_currency(member_enrollment.product_price.to_f - member_enrollment.sponsor_contribution.to_f) %></td>
      </tr>
      <% end %>
      <tr class="gray-row">
        <td class="capital">
          <strong>Totals</strong>
        </td>
        <td></td>
        <td></td>
        <td>
          <strong><%= number_to_currency(group_enrollment.product_cost_total.to_f) %></strong>
        </td>
        <td>
          <strong><%= number_to_currency(group_enrollment.sponsor_contribution_total.to_f) %></strong>
        </td>
        <td>
          <strong><%= number_to_currency(group_enrollment.product_cost_total.to_f - group_enrollment.sponsor_contribution_total.to_f ) %></strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
