<div class="row module forms" id="employer_info">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :first_name, class: "required floatlabel form-control border-bottom-none", required: true, placeholder: 'FIRST NAME' %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME' %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME' %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <div class="selectric-labeled">
          <span>
            <strong>Suffix</strong>
          </span>
          <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control" %>
        </div>
      </div>
    </div>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= datepicker_control f, :dob, {:class => "floatlabel form-control interaction-field-control-census-employee-dob", :placeholder => "DATE OF BIRTH",
                                         :'data-date-min' => "-110y", :'data-date-max' => "+0", required: true, readonly: is_readonly(f.object)} %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel mask-ssn form-control", input_html: {value: "", maxlength: 11}, required: true, readonly: is_readonly(f.object) %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd no-border-xs">
        <div class="gender-radios">
          <label>
            Gender
          </label>
          <div class="vertically-aligned-row">
            <div class="n-radio-group">
              <div class="n-radio-row">
                <%= f.label :gender, 'male', :value => 'Male', class: 'n-radio' do %>
                <%= f.radio_button :gender, "male", class: "n-radio" %>
                <span class="n-radio"></span>
                Male
                <% end %>
              </div>
            </div>
            <div class="n-radio-group">
              <div class="n-radio-row">
                <%= f.label :gender, 'female', :value => 'Female', class: 'n-radio' do %>
                <%= f.radio_button :gender, "female", class: "n-radio" %>
                <span class="n-radio"></span>
                Female
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.field_with_errors > *').unwrap();
    Freebies.floatlabels();
  });
</script>
