<% content_for :navigation do %>
<%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>
<% dependents = @census_employee.try(:employee_role).try(:person).try(:primary_family).try(:active_family_members) || @census_employee.census_dependents %>
<% address =  @census_employee.try(:employee_role).try(:person).try(:addresses).try(:last) || @census_employee.address %>
<div id="add_employee_action">
  <div class="col-xs-12">
    <h1>Census Employee Details</h1>
    <div class="row">
      <div class="col-xs-6">
        <h4><%= name_to_listing(@census_employee) %>'s Details</h4>
        <div class="form-border">
          <p>
            Name: <%= name_to_listing(@census_employee) %><br/>
            DOB:  <%= format_date @census_employee.dob %><br/>
            SSN: <%= number_to_obscured_ssn @census_employee.ssn %><br/>
            Hired On: <%= format_date @census_employee.hired_on %><br/>
            Date Added to Roster: <%= format_date @census_employee.created_at %><br/>
            Owner: <%= @census_employee.try(:is_business_owner) ? "Yes" : "No" %>
          </p>
        </div>
      </div>

      <% if address.present? %>
        <div class="col-xs-6">
          <h4>Address</h4>
          <div class="form-border">
            <%= address.to_html %>
          </div>
        </div>
      <% end %>

    </div>
    <% if @hbx_enrollments.present? %>
    <div class="row">
      <div class="col-xs-6">
        <% health_coverage = @hbx_enrollments.detect{|enrollment| enrollment.coverage_kind == 'health'} %>
        <%= render 'enrollment_details', enrollment: health_coverage if health_coverage %>
      </div>
      <div class="col-xs-6">
        <% dental_coverage = @hbx_enrollments.detect{|enrollment| enrollment.coverage_kind == 'dental'} %>
        <%= render 'enrollment_details', enrollment: dental_coverage if dental_coverage %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <h4>Dependents</h4>
        <div class="form-border">
          <% if dependents.present? %>
          <table style='width:100%;'>

            <% dependents.each do |dependent|
              relationship = dependent.try(:relationship) || dependent.try(:employee_relationship)
              if relationship == "self"%>
            <% else %>
              <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Relationship</th>
                <th>Gender</th>
              </tr>
            <tr>
              <td>
                <%= dependent.first_name + " " + dependent.last_name %>
              </td>
              <td>
                <%= format_date dependent.dob %>
              </td>
              <td>
                <%= relationship == "child_under_26" ? "child" : relationship %>
              </td>
              <td>
                <%= dependent.gender %>
              </td>
            </tr>
            <% end %>
            <% end %>
          </table>

          <% else %>
            <h4>You currently have no dependents.</h4>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 row">
      <br/>
      <%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, employers_employer_profile_path(@employer_profile.id, :tab=>'employees'), class: 'btn btn-trans return_to_employee_roster', "aria-expanded" => "true" %>
    </div>
    </div>
    <span class="clear-fix">&nbsp;</span>
</div>
