
<legend class='beta mb-3'><%= l10n('personal_information') %></legend>
<%= f.hidden_field :person_id, disabled: f.object.person_id.blank?, value: f.object.person_id if f.object.person_id.present? %>

<div class="row mb-3">
  <div class="col-md-6 mb-3">
    <label for="inputFirstname"  class="required"><%= l10n('first_name') %></label>
    <%= f.text_field :first_name, placeholder: l10n('first_name'), required: 'true', id: 'inputFirstname', class: 'form-control' %>
    <div class="invalid-feedback">
      <%= l10n("invalid_first_name") %>
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <label for="inputLastname"  class="required"><%= l10n('last_name') %></label>
    <%= f.text_field :last_name, placeholder: l10n('last_name'), required: 'true', id: 'inputLastname', class: 'form-control' %>
    <div class="invalid-feedback">
      <%= l10n("invalid_last_name") %>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="inputEmail"  class="required"><%= l10n('email_address') %></label>
    <%= f.email_field :email, placeholder: l10n('placeholder_email'), required: 'true', id: 'inputEmail', class: 'form-control' %>
    <div class="invalid-feedback">
      <%= l10n("invalid_email") %>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="inputDOB"  class="required"><%= l10n('broker_agencies.dob') %></label>
    <%= f.date_field :dob, placeholder: l10n('dob_format'), min: 110.years.ago, max: 16.years.ago.beginning_of_month, required: true, onblur: 'validDob(this)' %>
    <div class="invalid-feedback">
      <%= l10n("invalid_dob") %>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="inputNPN"  class="required"><%= l10n('npn') %></label>
    <%= f.text_field :npn,
      placeholder: l10n('npn_placeholder'),
      required: %w[new create].include?(controller.action_name) ? 'true' : !EnrollRegistry.feature_enabled?(:allow_alphanumeric_npn),
      id: 'inputNPN',
      class: 'form-control',
      maxlength: '10',
      onkeypress: EnrollRegistry.feature_enabled?(:allow_alphanumeric_npn) ? 'return isAlphaNumeric(event);' : 'return isNumberKey(event);',
      disabled: npn_disabled
    %>
    <div class="invalid-feedback">
      <%= l10n('npn_error') %>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var cleave = new Cleave('#inputDOB', {
      date: true,
      datePattern: ['m', 'd', 'Y']
    });

    document.getElementById('inputDOB').addEventListener('blur', function() {
      validDob(this);
    });
  });

  function validDob(element) {
    if (element.value && element.value.length < 10) {
      swal({
        title: 'Invalid Date of Birth',
        text: 'Please provide a valid date of birth.',
        icon: 'warning'
      });
    }
  }
</script>
