

<div id="filter-sidebar" class="">

  <div id="plan_match_family" class="modal fade" role="document" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="height:50px">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="margin-left:20px;">
          <p style="margin-bottom:0px"><%= l10n("modal_onscreen") %></p>
          <p style="margin-bottom:0px"><%= l10n("modal_onscreen1") %></p>
          <p style="margin-bottom:0px"><%= l10n("modal_onscreen2") %></p>
        </div>
        <div class="modal-footer" style="padding:10px">
          <div>
            <button class="btn btn-default btn-default" data-dismiss="modal" type="button">Cancel</button>
            <%= h(link_to l10n("proceed"), EnrollRegistry[:enroll_app].setting(:shop_find_your_doctor_url).item, class: "btn btn-primary mtz", target: '_blank', rel: 'noopener noreferrer') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="how_is_this_calculated" class="modal fade" role="document" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="height:0;border-bottom:0;">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin-right:20px;">
          <p style="margin-bottom:0px;font-weight:400;">
            <strong><%= l10n("modal_how_is_this_calculated") %></strong>
          </p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated1") %></p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated2") %></p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated3") %></p>
          <ul>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated4") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated5") %></span>
            </li>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated6") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated7") %></span>
            </li>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated8") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated9") %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex">
    <% if @market_kind == 'individual' || @market_kind == 'coverall' || @sponsored_benefit.try(:product_package_kind) == :single_issuer %>
      <%= render partial: 'ui-components/v1/filters/filter_checkbox_list', locals: { category: l10n("metal_level"), checkbox_list: @metal_levels } %>
    <% end %>

    <%= render partial: 'ui-components/v1/filters/filter_checkbox_list', locals: { category: l10n("plan_type"), checkbox_list: @plan_types } %>

    <% if offers_nationwide_plans? %>
      <%= render partial: 'ui-components/v1/filters/filter_checkbox_list', locals: { category: l10n("network"), checkbox_list: @networks } %>
    <% end %>

    <%= render partial: 'ui-components/v1/filters/filter_checkbox_list', locals: { category: l10n("sort_by"), checkbox_list: [l10n("plan_name"), l10n("premium_amount"), l10n("deductible"), l10n("carrier")] } %>
  </div>

  <% if @person.has_active_consumer_role? && @tax_household.present? && @market_kind == "individual" %>
    <% is_ivl_osse_filter_eligible = ivl_osse_filtering_enabled? && @hbx_enrollment.ivl_osse_eligible? %>
    <h5>
      <strong><%= l10n('your_tax_credit') %></strong>
      <% tooltip_text = is_ivl_osse_filter_eligible ? "#{l10n('your_tax_credit_for_hc4cc')}" : "#{l10n('your_tax_credit')}" %>
      <a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= tooltip_text %>">
        <i class="fas fa-question-circle fa-lg pl-1" aria-hidden="true"></i>
        <br>
        <span class="hide"><%= l10n("open") %></span>
      </a>
    </h5>
    <div class="aptc panel panel-default">
      <div class="panel-body" style="padding:10px;">
        <div class="row" style="margin:0;">
          <div class="col-xs-6" style="padding:0;">
            <p class="text-left" style="font-size:12px;"><%= l10n('available').to_s %></p>
          </div>
          <div class="col-xs-6" style="padding:0;">
            <p class="text-right" style="font-size:12px;"><%= number_to_currency(@max_aptc, precision: 2) %></p>
          </div>
        </div>
        <div class="row" style="margin:0;">
          <div class="col-xs-6" style="padding:0;">
            <p class="text-left" style="line-height:16px; font-size:12px;"><%= l10n('apply_monthly') %></p>
          </div>
          <div class="col-xs-6" style="padding:0;">
            <p>
              <input id="elected_aptc" onchange="setMinMax(this, #{@max_aptc})" type="text" value="<%= number_with_precision(@elected_aptc, precision: 2) %>" style="width:100%;" data-elected="<%= number_with_precision(@elected_aptc, precision: 2) %>">
              <% pct = @max_aptc > 0 ? (@elected_aptc/@max_aptc).round(2) : 0 %>
            </p>
          </div>
        </div>
        <%= hidden_field_tag :max_aptc, @max_aptc %>
        <%= hidden_field_tag :market_kind, @market_kind %>
        <%= hidden_field_tag :coverage_kind, @coverage_kind %>
        <%= hidden_field_tag :set_elected_aptc_url, set_elected_aptc_insured_plan_shopping_path(id: @hbx_enrollment.try(:id)) if @hbx_enrollment.present? %>
        <form oninput="pct.value = (elected_pct.value*100).toFixed(0)" onsubmit="return false">
          <% min_aptc = is_ivl_osse_filter_eligible ? minimum_applied_aptc_pct_for_osse : 0 %>
          <% step = is_ivl_osse_filter_eligible ? 0.005 : 0.05 %>
          <input max="1" min="<%= min_aptc %>" name="elected_pct" step="<%= step %>" type="range" value="<%= pct %>" style="padding:0;">
          <span style="font-size:12px;"><%= (min_aptc * 100).to_i %>%</span>
          <span class="pull-right">
            <output name="pct" style="font-size:12px;"><%= (pct * 100).to_i %></output>
            %
          </span>
        </form>
        <h6 style="font-weight:400; margin-top:0;"><%= h(link_to l10n("how_is_this_calculated") + "?", "", data: {toggle: "modal", target: "#how_is_this_calculated"}) %></h6>
      </div>
    </div>
  <% end %>

  <div class="checkbox-filter-wrapper-uc">
    <h5>
      <strong><%= l10n("carrier") %></strong>
      <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("filter_by_the_carrier") %>">
        <i class="fas fa-question-circle fa-lg pl-1" aria-hidden="true"></i>
        <br>
        <span class="hide"><%= l10n("open") %></span>
      </a>
    </h5>
    <ul class="list-unstyled">
      <li>
        <div class="filter-input-block">
          <% issuer_names = (@market_kind == 'shop' || @market_kind == 'fehb') ? @carrier_names : @carriers %>
          <%= select_tag :carrier, options_for_select(issuer_names), class: "plan-carrier-selection-filter form-control", include_blank: "All", onchange:"filterPlanCarriers(this)" %>
        </div>
      </li>
    </ul>
  </div>

  <div class="checkbox-filter-wrapper-uc">
    <h5>
      <strong><%= l10n('hsa_eligible') %></strong>
      <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("insured.plan_shoppings.hsa_eligible_title_info") %>">
        <i class="fas fa-question-circle fa-lg pl-1" aria-hidden="true"></i>
        <br>
        <span class="hide"><%= l10n("open") %></span>
      </a>
    </h5>
    <ul class="list-unstyled">
      <li>
        <div class="filter-input-block">
          <%= select_tag :hsa_eligibility, options_for_select(["Yes", "No"]), class: "plan-hsa-eligibility-selection-filter form-control", include_blank: "All", onchange:"filterHSAEligibility(this)" %>
        </div>
      </li>
    </ul>
  </div>

  <div class="checkbox-filter-wrapper-uc">
    <h5>
      <strong><%= l10n("premium_amount") %></strong>
      <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("insured.plan_shoppings.premium_amount_title_info") %>">
        <i class="fas fa-question-circle fa-lg pl-1" aria-hidden="true"></i>
        <br>
        <span class="hide"><%= l10n("open") %></span>
      </a>
    </h5>
    <div class="filter-input-block">
      <input class="plan-metal-premium-from-selection-filter form-control" type="text" placeholder="$0" value="0" onblur="premiumFromAmount(this)" maxlength="10" oninput="toCurrency(this)">
      <small>To</small>
      <input class="plan-metal-premium-to-selection-filter form-control fr" type="text" placeholder="$<%= @max_total_employee_cost || 2000 %>" value="<%= @max_total_employee_cost || 2000 %>" onblur="premiumToAmount(this)" maxlength="10" oninput="toCurrency(this)">
      <%= hidden_field_tag :max_total_employee_cost, (@max_total_employee_cost || 2000) %>
    </div>
    <h5>
      <strong><%= l10n("deductible_amount") %></strong>
    </h5>
    <div class="filter-input-block">
      <input class="plan-metal-deductible-from-selection-filter form-control" type="text" placeholder="$0" value="0" onblur="deductibleFromAmount(this)" maxlength="10" oninput="toCurrency(this)">
      <small>To</small>
      <input class="plan-metal-deductible-to-selection-filter form-control" type="text" placeholder="$<%= @max_deductible || 5000 %>" onblur="deductibleToAmount(this)" maxlength="10" oninput="toCurrency(this)" value="<%= @max_deductible || 5000 %>">
    </div>
  </div>





  <div class="checkbox-filter-wrapper">
    <% if @market_kind == 'shop' || @market_kind == 'fehb' %>
      <div class="form-inline search-apply-wrapper mt-1">
        <a class="btn btn-primary mz" href="javascript:void(0)" onclick="filterResults()" title="Apply all filters"><%= l10n("apply") %></a>
        <a class="btn btn-default" id="reset-btn" onclick="resetAllFilters()"><%= l10n("reset") %></a>
      </div>
    <% else %>
      <div class="form-inline search-apply-wrapper">
        <a class="btn btn-primary apply-btn mz" href="javascript:void(0);" title="Apply all filters"><%= l10n("apply") %></a>
        <a class="btn btn-default reset-btn" id="reset-btn" href="javascript:void(0);"><%= l10n("reset") %></a>
      </div>
    <% end %>
  </div>



</div>


  <% if @market_kind == 'shop' || @market_kind == 'fehb' || @market_kind == 'individual' %>
    <script>
      var promise1 = new Promise(function(resolve, reject) {
        setTimeout(function() {
          resolve('completed');
          $('select.plan-carrier-selection-filter').selectric('destroy');
          $('select.plan-hsa-eligibility-selection-filter').selectric('destroy');
          $('select.plan-osse-eligibility-selection-filter').selectric('destroy');
        }, 700);
      });

      var promise2 = new Promise(function(resolve, reject) {
        setTimeout(function() {
          resolve('promise 2 completed');
          resetAllFilters();
        }, 200);
      });

      (function() {
        promise1.then(function(value) {
          promise2;
        });
      })();
    </script>
  <% end %>