%benefit_group
  %name= benefit_group.title
  %reference_plan
    %id
      %id= benefit_group.reference_plan.hios_id
    %name= benefit_group.reference_plan.name
    %active_year= benefit_group.reference_plan.active_year
    %is_dental_only= benefit_group.reference_plan.is_dental_only?
    %carrier
      %id
        %id= benefit_group.reference_plan.carrier_profile.fein
      %name= benefit_group.reference_plan.carrier_profile.legal_name
    %metal_level= "urn:openhbx:terms:v1:plan_metal_level##{benefit_group.reference_plan.metal_level.downcase}"
    %coverage_type= "urn:openhbx:terms:v1:qhp_benefit_coverage##{benefit_group.reference_plan.coverage_kind}"
  %elected_plans
    - benefit_group.is_offering_dental? ? dental_plans = benefit_group.elected_dental_plans : dental_plans = []
    = render :partial => "events/employers/elected_plan", :collection => benefit_group.elected_plans + dental_plans
  %relationship_benefits
    = render :partial => "events/employers/relationship_benefit", :collection => benefit_group.relationship_benefits