!!! XML
%organization{ :xmlns => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:type" => "EmployerOrganizationType"}
  %id
    %id= employer.hbx_id
  %name= employer.legal_name.strip
  - if !employer.dba.blank?
    %dba= employer.dba.strip
  %fein= employer.fein.strip
  - if employer.organization.office_locations.any?
    %office_locations
      = render :partial => "events/organizations/office_location", :collection => employer.organization.office_locations
  - if employer.staff_roles.any?
    %contacts
      = render :partial => "events/employers/owner_contact", :collection => employer.staff_roles.uniq
  %is_active= (employer.is_active.blank? ? true : employer.is_active)
  %employer_profile
    %business_entity_kind= "urn:openhbx:terms:v1:employers##{employer.entity_kind}"
    - if !employer.sic_code.blank?
      %sic_code= employer.sic_code
    %brokers
      = render :partial => "events/employers/broker_agency_account", :collection => employer.broker_agency_accounts, :locals => { :employer_profile => employer }
    - displayed_plan_years = employer.plan_years.select(&:eligible_for_export?)
    - if displayed_plan_years.any?
      %plan_years
        = render :partial => "events/employers/plan_year", :collection => displayed_plan_years
    - if employer.is_coversion_employer?
      %shop_transfer
        %hbx_active_on= employer.created_at.strftime("%Y-%m-%d")
  = render :partial => "events/shared/versioned_resource", :object => employer
