<!DOCTYPE html>
<html>
<head>
  <title>Magi medicaid</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "magi_medicaid/application", media: "all" %>
  <%= javascript_include_tag "magi_medicaid/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
