<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">

    <%= render "shared/error_messages", object: f.object %>
    <%= render 'shared/person_search_fields', f: f %>
    <%= render 'people/no_results' %>

    <div id="employer-info" class="row hidden"></div>

    <%= render 'shared/address_fields', f: f %><br>
    <%= render 'shared/phone_fields', f: f %><br>

    <div id="email_info" class="focus_effect personal-info-row">
      <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
        <%= render 'shared/email_fields', f: email %>
      <% end %>
      <div class="col-md-10 col-sm-10"><div id="email_error"></div></div>
    </div>

    <div class="focus_effect row personal-info-row">
      <div class="col-md-10 col-sm-9 no-pd"></div>
      <div class="col-md-2 col-sm-3 no-pd<%=pundit_class EmployerProfile,:updateable?%>">
        <%= f.submit "Continue", :class => "btn disable-btn search_continue disabled", :id => "continue-employer" %>
      </div>
    </div>

    <div class="clear-fix"></div>

    <%= render 'people/employer_search' %>
  </div> 
  <div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right hidden" id="key-section">
      <%= f.submit "Save & Exit", class: "btn btn-primary" + pundit_class(EmployerProfile,:updateable?) %>
      <%= render 'shared/signup_progress' %>
  </div>

</div>