<h3>Personal Information</h3>

<div class="row no-buffer">
  <div id="personal_info" class="focus_effect personal-info-row module">
    <div class="col-md-12 no-pd col-sm-12 col-xs-12 first">
      <%= hidden_field "people","id" %>

      <div class="row top-row">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME' %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME' %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME' %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <div class="selectric-labeled">
            <span><strong>Suffix</strong></span>
            <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control" %>
          </div>
        </div>
      </div>

      <div class="row bottom-row form-group form-group-lg no-pd">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH",
                                           :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy', required: true} %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel form-control", required: true %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "male", required: true, checked: true, class: "required floatlabel" %>
              <span>Male</span>
            </label>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "female", required: true, class: "required floatlabel"  %>
              <span>Female</span>
            </label>
          </div>
        </div>
      </div>

      <div class="overlay-in"></div>
    </div>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="top-pad">
      <button type="submit" class="btn btn-primary btn-search"><i class="fa fa-user-plus"></i> Search Person</button>
      &nbsp;<span><i class="fa fa-lock icon-large"></i> Your information is secure.</span>
    </p>
    <br>
  </div>
</div>

<div id ="person_details_wrapper"></div><br><br>

<div id ="new_person_button" style="display:none">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p> Please click the following button to create a person.
        <%= f.submit "Create Person", name: "create_person", class: "btn btn-primary btn-search" %>
      </p>
    </div>
  </div>
</div>

<script>
	$(document).on('ready page:load', function () {
		Freebies.allFreebies();
	});
</script>
