<%= render partial: 'notices/shared/cover', :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>
<br><br><br><br><br>

<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td class="notice-font"><br>Dear <%= notice.primary_fullname %>,</td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "Welcome to the #{site_short_name}! Now that you created your employer account, you can start the process of offering medical and dental coverage to your employees.  Please follow the steps below:"} %>

  <div style="display:block; page-break-inside: avoid;">
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td><h2 class="header-padding">Next Steps
        </h2>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li class="notice-font-padding">
           <strong>Log in to your <a href= "#{site_main_web_address}"><%= site_main_web_address %></a> Account</strong><br><br>You will need to submit proof of your eligibility as a Massachusetts small business to the <%= site_short_name %> before you or your employees can shop for coverage. You can find a list of documents that can be submitted as proof in the Business Resource Center page on our website <a href= "#{site_main_web_address}"><%= site_main_web_address %></a>. You can submit your documents by uploading to our website or faxing to 617-722-4033.<br>
        </li>
        <li class="notice-font">
          <strong>Employee Enrollments</strong><br><br>Share our <strong>Employee guide to enrolling</strong> with your eligible employees to help guide them through the enrollment process. You can download this guide from the Business Resource Center on <a href= "#{site_main_web_address}"><%= site_main_web_address %></a>. If you are the point of contact for the group, you may want to follow the <strong>Employer guide to enrolling as an employee</strong>, also available in the Business Resource Center.<br><br><strong><i>Employers should review their roster to ensure that it includes all eligible employees and ensure that any employees who are also owners (owner’s spouses) are identified as owners on their roster.</i></strong> For your group to receive coverage through the Small Business Marketplace, you must have at least one non-owner employee enrolled in a health plan at the end of each annual employee open enrollment period.
        </li>
        <br><br>
        <li class="notice-font">
          <strong>First Month’s Premium Payment</strong><br><br>Payments over the phone or online are required for the first month of coverage, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company. You can make this payment by following the steps below:<br><br>
          <strong>Make a Secure Online Payment</strong><br>
          The Massachusetts <%= site_short_name %> offers small businesses the option to make their premium payments online through secure electronic check payment. Follow the instructions in our <strong>Employer guide to paying premiums</strong> in the Business Resource Center on <a href= "#{site_main_web_address}"><%= site_main_web_address %></a>. You may also click on the “Billing” tab within your account to find instructions for how to pay your premium online.<br> <br><strong>To make a secure electronic check payment by phone</strong><br>Call <%= "#{contact_center_phone_number}" %>. Select your language (1 for English, 2 for Spanish, additional language options available).
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<%= render partial: 'notices/shared/paragraph_with_headers', :locals =>
  { contents: ["Please contact your broker for further assistance. You can also contact #{site_short_name} with any questions:"], heading: 'For Questions or Assistance:', sub_heading: ''} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li class="notice-font">
            By calling <%=contact_center_phone_number%><br>
        </li>
        <li class="notice-font">
             TTY: <%=contact_center_tty_number%>
        </li>
        <li class="notice-font">
            Online at  <a href= "#{site_main_web_address}"><%= site_main_web_address %></a>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{contact_center_phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals =>
  { content: "This notice is being provided in accordance with 45 C.F.R. 155.725."} %>