<html lang="es">
¡Importante! Esto tiene información importante sobre su seguro de salud. Si usted quiere la información traducida a su propio idioma, llame al <%= contact_center_phone_number %>.
</html>
<br>
Spanish
<br><br>
<html lang="km">
ស"#ន%! ក'uងeន+,នព.ត0,នស"#ន%អ"ព23456ប%រងសuខ;ពរបស%អ'ក។ =បសiនœបœអ'ក ចង%Bនព.ត0,នeន+បកæ=បD;E របស%អ'ក សFមទFរស.ពIមកeលខ <%= contact_center_phone_number %>។
</html>
<br>
Cambodian
<br><br>
<html lang="zh-Hant">
重要提示：該文件載有關於您的醫療保險的重要資訊。如果您想要將相關資訊 
翻譯為您的母語，請致電<%= contact_center_phone_number %>。
</html>
<br>
Simplified Chinese
<br><br>
<html lang="zh-Hans">
重要提示：该文件载有关于您的医疗保险的重要信息。如果您想要将相关信息 
翻译为您的母语，请致电<%= contact_center_phone_number %>。
</html>
<br>
Traditional Chinese
<br><br>
<html lang="ht">
Enpòtan! Sa a gen enfòmasyon enpòtan ou asirans sante ou. Si w vle nou tradwi enfòmasyon an nan pwòp lang ou rele <%= contact_center_phone_number %>.
</html>
<br>
Haitian Creole
<br><br>
<html lang="lo">
ສິ່ງສໍາຄັນ! ນີ້ມີຂໍ້ມູນທສໍາຄັນກ່ຽວກັບການປະກັນໄພສຸຂະພາບຂອງທ່ານ. ຖ້າຫາກທ່ານຕ້ອງກາ
ນຂໍ້ມູນຂ່າວສານເຂົ້າໃນການແປພາສາໂທຫາ <%= contact_center_phone_number %> ຂອງຕົນເອງຂອງທ່ານ.
</html>
<br>
Laotian
<br><br>
<html lang="pt-br">
Importante! Neste pacote há informações importantes sobre o seu seguro-saúde. Se quiser que as informações sejam traduzidas para o seu idioma, ligue para <%= contact_center_phone_number %>.
</html>
<br>
Brazilian Portuguese
<br><br>
<html lang="pt">
Contém informações importantes sobre o seu seguro de saúde. Se desejar a tradução das informações para a sua língua, contacte-nos pelo telefone <%= contact_center_phone_number %>.
</html>
<br>
European Portuguese
<br><br>
<html lang="ru">
Важная информация! Здесь содержится важная информация о Вашем медицинском страховании. Если Вы хотите, чтобы информация была переведена на Ваш родной язык, позвоните по номеру: <%= contact_center_phone_number %>.
</html>
<br>
Russian
<br><br>
<html lang="vi">
Lưu ý quan trọng! Đây là thông tin quan trọng về bảo hiểm y tế của quý vị. Nếu quý vị muốn có bản dịch thông tin này bằng ngôn ngữ của quý vị, hãy gọi số <%= contact_center_phone_number %>.
</html>
<br>
Vietnamese
<br><br>
<html lang="ar">
هام! يتضمن هذا معلومات مهمة عن تأمينك الصحي. إذا كنت تريد ترجمة المعلومات إلى لغتك فاتصل برقم <%= contact_center_phone_number %>.

</html>
<br>
<div class="pull-right"> Arabic </div>
<br><br>
<html lang="fr">
Important! Ceci contient des informations importantes au sujet de votre assurance santé. Si vous désirez une traduction de ces informations dans votre langue, appelez le : <%= contact_center_phone_number %>.
</html>
<br>
French
<br><br>
<html lang="el">
Σημαντικό! Το παρόν περιέχει σημαντικές πληροφορίες σχετικά με την ασφάλεια ζωής σας.
Εάν επιθυμείτε να μεταφραστούν οι πληροφορίες αυτές στη γλώσσα σας, καλέστε στο 
<%= contact_center_phone_number %>.</html>
<br>
Greek
<br><br>
<html lang="gu">
મહત્વપૂર્ણ! આમાં તમારી આરોગ્ય વીમા વિશેની મહત્વપૂર્ણ જાણકારી છે. જો તમારે તમારી ભાષામાં આ જાણકારીનો અનુવાદ જોઇએ તો, <%= contact_center_phone_number %>પર કૉલ કરો. 
</html>
<br>
Gujarati
<br><br>
<html lang="hi">
महत्वपूर्ण! इसमें आपके स्वास्थ्य बीमा के बारे में महत्वपूर्ण जानकारी है। यदि आप अपनी भाषा में इस जानकारी का अनुवाद चाहते हैं, तो <%= contact_center_phone_number %>पर कॉल करें।
</html>
<br>
Hindi
<br><br>
<html lang="it">
Importante! Questo documento contiene informazioni importanti sulla sua assicurazione sanitaria. Se desidera averne la traduzione nella sua lingua, chiami il numero <%= contact_center_phone_number %>.
</html>
<br>
Italian
<br><br>
<html lang="ko">
중요! 귀하의 건강 보험에 관한 중요한 내용입니다. 해당 내용을 귀하가 사용하는 언어로 번역을 원하시면<%= contact_center_phone_number %>로 연락하십시오. 
</html>
<br>
Korean
<br><br>
<html lang="pl">
Ważne! Tutaj zawarte są ważne informacje na temat Państwa ubezpieczenia zdrowotnego. Jeśli chcą Państwo, aby te informacje zostały przetłumaczone na Państwa język, proszę zadzwonić na numer <%= contact_center_phone_number %>
</html>
<br>
Polish
<br><br>
