%plan
  %id
    %id= plan.hbx_id
  %name= plan.legal_name
  %active_year= plan.active_year
  %is_dental_only= plan.is_dental_only
  = render "events/shared/carrier", :object=> plan.carrier
  %metal_level= plan.metal_level
  %coverage_type= plan.coverage_kind
  %ehb_percent= plan.ehb*100
  =if plan.market.eql?("shop")
    %employer_link
      %id
        %id= @hbx_enrollment.employer_profile.hbx_id
      %name= @hbx_enrollment.employer_profile.legal_name
      %dba= @hbx_enrollment.employer_profile.dba
    %total_employer_responsible_amount= @hbx_enrollment.total_employer_contribution
  =else
    %is_carrier_to_bill= #TDB
    %allocated_aptc_amount=
    %applied_aptc_amount=
  %premium_total_amount=
  %total_responsible_amount=
