<span>
  <%= f.text_field :content, class: "form-control", id: "qle-question-form", required: true, placeholder: 'Question', autocomplete: :off ,:data_action => "blur->qle#showQuestion" %>
</span>

<div class='container js-question'>
  <h5>Please select the type of answer that is allowed for this question</h5>

  <%= label_tag "Date"%>
  <%= f.radio_button :type, :date, data: { action: 'qle#showAnswer' } %>
  </p>

  <%= label_tag "Multiple Choice"%>
  <%= f.radio_button :type, :multiple_choice, data: { action: 'qle#showAnswer' } %>
  </p>

  <%= label_tag "True/False"%>
  <%= f.radio_button :type, :boolean, data: { action: 'qle#showAnswer' } %>
  </p>

  <%= f.fields_for :answer, f.object.build_custom_qle_answer do |answer_field| %>
    <div class="row">
      <%= render partial: "exchanges/hbx_profiles/shared/answer", locals: { f: answer_field } %>
    </div>
  <% end %>
</div>
