<% content_for :horizontal_menu do %>
  <div class="mainmenu">
    <div class="container">
      <ul role="tablist" class="list-unstyled list-inline" id="myTab">
        <li role="presentation"<%= menu_tab_class(active_tab, "hbx-profile-tab") %>>
          <%= link_to(exchanges_hbx_profiles_path, "aria-expanded" => "true", "aria-controls" => "hbx_profile", "role" => "tab" ) do  %>
            <span title="HBX Profile" aria-hidden="true" class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "families-tab") %>>
         <%= link_to(family_index_exchanges_hbx_profiles_path, "aria-expanded" => "true", :remote => true, "aria-controls" => "families", "role" => "tab" ) do  %>
            <span class="hidden-xs">Families</span>
            <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Families"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "employers-tab") %>>
         <%= link_to(employer_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "employers", "role" => "tab" ) do  %>
            <span class="hidden-xs">Employers</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Employers"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "employers-invoice") %>>
          <%= link_to(employer_invoice_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "employers-invoices", "role" => "tab" ) do  %>
              <span class="hidden-xs">ER Invoices</span>
              <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Employers"></span>
          <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "broker-agencies-tab") %>>
         <%= link_to(broker_agency_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "broker_agencies", "role" => "tab" ) do  %>
            <span class="hidden-xs">Broker Agencies</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agencies"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "brokers-tab") %>>
         <%= link_to(exchanges_broker_applicants_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "brokers", "role" => "tab" ) do  %>
            <span class="hidden-xs">Brokers</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Brokers"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "general-agencies-tab") %>>
         <%= link_to(general_agency_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "general_agencies", "role" => "tab" ) do  %>
            <span class="hidden-xs">General Agencies</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agencies"></span>
         <% end %>
        </li>

        <li role="presentation"<%= menu_tab_class(active_tab, "issuers-tab") %> class="<%=pundit_class HbxProfile, :view_admin_tabs?%>">
         <%= link_to(issuer_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "issuers", "role" => "tab" ) do  %>
            <span class="hidden-xs">Issuers</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Issuers"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "products-tab") %> class="<%=pundit_class HbxProfile, :view_admin_tabs?%>">
         <%= link_to(product_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "products", "role" => "tab" ) do  %>
            <span class="hidden-xs">Products</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Products"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "users-orphans-tab") %> class="<%=pundit_class HbxProfile, :view_admin_tabs?%>">
         <%= link_to(users_orphans_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "users_orphans", "role" => "tab" ) do  %>
            <span class="hidden-xs">Orphan Accounts</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Orphan Accounts"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "configuration-tab") %> class="tab-second <%=pundit_class HbxProfile, :view_admin_tabs?%>">
         <%= link_to(configuration_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "configuration", "role" => "tab" ) do  %>
            <span class="hidden-xs">Config</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Configuration"></span>
         <% end %>
        </li>

        <li role="presentation"<%= menu_tab_class(active_tab, "vlp-docs-tab") %> class="tab-second <%=pundit_class HbxProfile, :view_admin_tabs?%>">
          <%= link_to(verification_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "vlp-docs", "role" => "tab" ) do  %>
              <span class="hidden-xs">Documents</span>
              <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="VLP Docs"></span>
          <% end %>
        </li>

        <li role="presentation"<%= menu_tab_class(active_tab, "staff-tab") %> class="tab-second <%=pundit_class HbxProfile, :view_admin_tabs?%>">
         <%= link_to(staff_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "staff", "role" => "tab" ) do  %>
            <span class="hidden-xs">Staff</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Staff"></span>
         <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "inbox-tab") %>  class="<%=pundit_class HbxProfile, :view_admin_tabs?%>">
          <%= link_to(inbox_exchanges_hbx_profile_path(1), :remote => true, class: 'hidden-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab", "data-toggle" => "tab", 'id'=>'inbox-tab' ) do  %>
            <span class="badge message-unread"><%= @unread_messages %></span>
            Inbox
          <% end %>
          <%= link_to(inbox_exchanges_hbx_profile_path(1), :remote => true, class: 'visible-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab" ) do  %>
            <span class="hidden-xs">Inbox</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Inbox"></span>
          <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "binder-tab") %> class="tab-second">
         <%= link_to(binder_index_exchanges_hbx_profiles_path, :remote => true, "aria-expanded" => "true", "aria-controls" => "binder", "role" => "tab" ) do  %>
            <span class="hidden-xs">Binder Transition</span>
            <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Binder"></span>
         <% end %>
      </ul>
    </div>
  </div>
<% end %>
