<div class="container no-pd">
  <h4> Active Portals </h4>

  <% if @person.active_employer_staff_roles.present? %>
    <% @person.active_employer_staff_roles.each do |staff_role| %>
      <div class="col-12 no-pd">
        <div class="d-flex flex-row bg-white rounded flex-shadow">
          <div class="col-6 p-2"><span class="portal-label"><%= staff_role.profile.legal_name %></span></div>
          <div class="col-3 p-2"><label class="personal-info-label">Type:</label> <span class="portal-label">Employer</span></div>
          <div class="col-3 p-2"><label class="personal-info-label">Start Date:</label><span class="portal-label"><%= staff_role.created_at.to_date %></span></div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @person.consumer_role.present? %>
    <div class="col-12 mt-1 no-pd">
      <div class="d-flex flex-row bg-white rounded flex-shadow">
        <div class="col-6 p-2"><span class="portal-label">Consumer</span></div>
        <div class="col-3 p-2"><label class="personal-info-label">Type:</label><span class="portal-label">Consumer</span></div>
        <div class="col-3 p-2"><label class="personal-info-label">Start Date:</label><span class="portal-label"><%= @person.consumer_role.created_at.to_date %></span></div>
      </div>
    </div>
  <% end %>

  <% if @person.active_employee_roles.present? %>
    <% @person.active_employee_roles.each do |employee_role| %>
      <div class="col-12 mt-1 no-pd">
        <div class="d-flex flex-row bg-white rounded flex-shadow">
          <div class="col-6 p-2"><span class="portal-label"><%= employee_role.employer_profile.legal_name %></span></div>
          <div class="col-3 p-2"><label class="personal-info-label">Type:</label><span class="portal-label">Employee</span></div>
          <div class="col-3 p-2"><label class="personal-info-label">Start Date:</label><span class="portal-label"><%= employee_role.created_at.to_date %></span></div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="col-md-12 mt-1 no-pd">
    <%= link_to "Add New Portal", portal_path(id: @person.id), class: "col-12 btn btn-outline-primary" %>
  </div>
</div>