<div class="row">
  <div id="scroll_container" class="col-xs-12">
    <div>
      <label class="plan-offerings">Plan Offerings - <%= render_plan_offerings(@benefit_group, @coverage_type) %></label>
    </div>
    <div>
      <label>Employer Lowest/Reference/Highest - <%= number_to_currency(@benefit_group_costs[:lowest_plan_employer_cost]) %>/<%= number_to_currency(@benefit_group_costs[:ref_plan_employer_cost]) %>/<%= number_to_currency(@benefit_group_costs[:highest_plan_employer_cost]) %></label>
    </div>

    <table class="table table-bg-white table-employee-2">
      <thead>
        <tr>
          <th class="text-center">Employee</th>
          <th class="text-center">Dependent Count</th>
          <% if !@benefit_group.single_plan_type? || @coverage_type == '.dental' %>
          <th class="text-right">Lowest Cost Available Plan</th>
          <% end %>
          <th class="text-right">Reference Plan</th>
          <% if !@benefit_group.single_plan_type? || @coverage_type == '.dental'%>
          <th class="text-right">Highest Cost Available Plan</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="employee_index_scroll">
        <% if @employer_profile.census_employees.active.any? %>
          <%= render 'employee_costs' %>
        <% else %>
        <tr> <td> No employees enrolled.</td></tr>
        <% end %>
      </tbody>
    </table>
<!--     <div id="pages" style="display:none;">
      <%# @benefit_group.census_employees.in_groups_of(1).count.times do |page| %>
      <%# 5.times do |page| %>
        <%#= link_to page, employers_employer_profile_plan_year_cost_analysis_path(@employer_profile,@plan_year,benefit_group_id: @benefit_group.id, page: page + 1 ), remote: true %>
      <%# end %>
    </div> -->
  </div>
</div>

<script>

// var initialLoad = false;

// $(function() {
//   var pages = new Array();
//   var loaded = new Array();
//   var current = 0;

//   $('#pages a').each(function(index) {
//     pages[index] = $(this).attr('href');
//     loaded[$(this).attr('href')] = 0;
//   });

//   initialLoad = true;

//   $(window).scroll(function() {
//     if($(window).scrollTop() == $(document).height() - $(window).height()) {
//       if (!initialLoad) {
//       loaded[pages[current+1]] = loaded[pages[current+1]] + 1;
//       if(loaded[pages[current+1]] <= 1)
//         loadMoreContent(pages[current+1]);
//     }
//     }
//     else {
//       initialLoad = false;
//     }
//   });

//   function loadMoreContent(action_url) {
//       $.ajax({
//         url: action_url.replace("cost_analysis", "cost_analysis.js"),
//         type: "GET"
//       });
//       current = current + 1;
//   }
// })
</script>
