<% @employer_profile.census_employees.active.each do |census_employee| %>
<tr>
     <td class="text-center"> <%= census_employee.full_name %></td>
     <td class="text-center"> <%= census_employee.census_dependents.count %></td>
     <% if !@benefit_group.single_plan_type? || @coverage_type == '.dental' %>
     <td class="text-right">
        <%= number_to_currency(@benefit_group_costs[census_employee.id][:lowest_plan_cost]) %>
     </td>
     <% end %>
     <td class="text-right"> 
        <%= number_to_currency(@benefit_group_costs[census_employee.id][:ref_plan_cost]) %>
     </td>
     <% if !@benefit_group.single_plan_type? || @coverage_type == '.dental' %>
     <td class="text-right"> 
        <%= number_to_currency(@benefit_group_costs[census_employee.id][:highest_plan_cost]) %>
     </td>
     <% end %>
</tr>
<% end %>
