  <div class="col-xs-12 module" id='plan_year' data-benefit-group-count="<%= @plan_year.benefit_groups.count %>"> <!--onKeyPress="return disableEnterKey(event)"-->
      <div class="row">
        <div class="col-xs-12 planyear-add-tab">
          <div id="choose-coverage">
          <h1><%= @plan_year.new_record? ? 'Add Plan Year' : 'Edit Plan Year' %></h1>
          <% if @plan_year.errors.any? %>
            <div class="alert-plan-year alert-error">
              <% if @just_a_warning == false %>
              <h4><%= pluralize(@plan_year.errors.count, "error") %> prohibited this plan year from being saved:</h4>
              <% end %>
              <ul>
                <% @plan_year.errors.delete(:benefit_groups) %>
                <% @plan_year.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>

                <% @plan_year.benefit_groups.each do |bg| %>
                  <% bg.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  <% bg.relationship_benefits.each do |rb| %>
                    <% rb.errors.full_messages.each do |rb_msg| %>
                      <li><%= rb_msg %></li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= link_to '', employers_employer_profile_plan_year_generate_dental_carriers_and_plans_path(@employer_profile, @plan_year.id), id: "generate-dental-carriers-and-plans", class: "hidden", data: {'plan-year-id': @plan_year.id} %>

          <%= render "shared/plan_year_fields", f: f %>
</div>
          <div style="<%= @plan_year.new_record? ? 'display: none;' : 'display: inline-block;' %>" class="benefits-setup-tab">
          <div class='form-inputs'>
            <a href="#" data-href="<%= search_reference_plan_employers_employer_profile_plan_years_path %>" id='search_reference_plan_link' style='display:none;'></a>
            <a href="#" data-href="<%= calc_employer_contributions_employers_employer_profile_plan_years_path %>" id='calc_employer_contributions_link' style='display:none;'></a>
            <a href="#" data-href="<%= reference_plan_options_employers_employer_profile_plan_years_path %>" id='reference_plan_options_link' style='display:none;'></a>
            <%= f.fields_for :benefit_groups, errors: {}, fieldset: false do |bg|  %>
              <%= render "shared/benefit_group_fields", f: bg, p: @plan_year %><br>
            <% end %>


            <div class="row no-buffer controls module" style="display: none;">
              <br/>
              <br/>

              <div class="vertically-aligned-row">
                <div class="text-left">
                  <%= link_to_add_fields "Add Benefit Group", f, :benefit_groups, 'btn btn-default xs_full_width abg btn-lg' %>
                  <a href="#" class="btn btn-default btn-lg remove_fields">Remove Benefit Group</a>
                </div>

                <div class="text-right">

              <% button_name = @plan_year.persisted? ? 'Save Plan Year' : 'Create Plan Year' %>
              <% button_tooltip = @plan_year.persisted? ? 'Click here to save your plan year' : 'Click here to create your plan year' %>
              <%= link_to "Cancel", employers_employer_profile_path(@employer_profile, :tab => "benefits"), class:'btn btn-default btn-lg' %>
              <button class="btn btn-primary btn-lg disabled plan-year-primary btn-lg" type="submit" data-toggle="tooltip" title="<%= button_tooltip %>">
                <%= "#{button_name}".html_safe %>
              </button>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
