<div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <%= render "shared/error_messages", object: f.object %>
        <%= render "shared/plan_year_fields", f: f %><br>

      <%= f.fields_for :benefit_groups, errors: {}, fieldset: false do |bg|  %>
        <%= render "shared/benefit_group_fields", f: bg %><br>

        <div class='form-inputs'>
          <%= bg.fields_for :relationship_benefits, errors: {}, fieldset: false do |rb|  %>
            <%= render "shared/relationship_benefit_fields", f: rb %><br>
          <% end %>

          <div>
            <%= f.hidden_field :_destroy %>
            <%= link_to 'Delete'.html_safe, '#', class: "btn btn-red remove_fields" %>
            <%= link_to_add_fields "Add Relationship Benefit", bg, :relationship_benefits %>
          </div>
        </div><br>

      <% end %>
      <div class="row top-row">
        <%= f.submit "Create Plan Year", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div><br>