<div class="modal" id="referencePlanSummaryModal" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reference Plan Summary</h4>
      </div>
      <div class="modal-body">
        <table class="table bordered compare-table", border = "1", style="font-size:11px;" >
          <tr>
            <th>PLAN BENEFITS</th>
            <th>CO-PAY</th>
            <th>COINSURANCE</th>
          </tr>
          <% @visit_types.each do |visit_type| %>
            <tr>
              <td><%= visit_type %></td>
              <% qhps.each do |qhp|%>
                <% service_visit = qhp.qhp_service_visits.detect{|a| a.visit_type == visit_type} %>
                <% if service_visit %>
                  <td  colspan="1"><%= service_visit.present? ? service_visit.copay_in_network_tier_1 : "N/A" %></td>
                  <td  colspan="1"><%= service_visit.present? ? service_visit.co_insurance_in_network_tier_1 : "N/A" %></td>
                <% else %>
                  <td  colspan="1"><%= "N/A" %></td>
                  <td  colspan="1"><%= "N/A" %></td>
                <% end %>
              <% end %>
            </tr>
          <%end%>
        </table>
      </div>
      <div class="modal-footer">
        <span class="btn btn-trans btn-small" data-dismiss="modal">Close</span>
      </div>
    </div>
  </div>
</div>
