$('#<%= @location_id %> .dental-reference-plans').before("<div class='col-xs-12 dental select-reference'></div>");
<% if @nav_option == 'custom' %>
  if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
    $('#<%= @location_id %> .dental .nav-tabs label:contains("By carrier")').on('click', function() {
      $('#<%= @location_id %> .dental .elected-plans-continue').hide();
    });
  } else {
  }
  $('#<%= @location_id %> .elected-plans-tab').html("<%= escape_javascript(render(partial: "employers/plan_years/plan_selection/dental_plans")).html_safe %>");
  $('#<%= @location_id %> .elected-plans-tab').show();
  $('#<%= @location_id %> .dental .plan-options').slideDown('400', function() {
    $('#<%= @location_id %> .elected-plans-continue').fadeIn();
  });


  if ( $('.benefit-group-fields').length > 1 ) {
    $('.benefit-group-fields .elected-plans-tab .reference-plan input[type=checkbox]').each(function() {
      var name = $(this).attr('name');
      var new_name = name.replace("[0]", "["+$(this).closest('.benefit-group-fields').data('time')+"]");
      if ( $(this).closest('.benefit-group-fields').data('time') == undefined ) {
        benefit_groups = $(this).closest('.benefit-group-fields');
        var new_name = name.replace("[0]", "["+$('.benefit-group-fields').index( benefit_groups )+"]");
      }
      $(this).attr('name', new_name);
    });
  }
  $('#<%= @location_id %> .elected-plans-tab .reference-plan .col-xs-2').on('click', function() {

    if ($(this).find('input[type=checkbox]').is(':checked')) {
      $(this).find('input[type=checkbox]').removeAttr('checked');
    } else {
      $(this).find('input[type=checkbox]').prop('checked', true );
    }

  });

<% else %>
if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
  $('#<%= @location_id %> .select-dental-plan .edit-offering').hide();
  $('#<%= @location_id %> .select-dental-plan .reference-steps div:first').hide();
} else {
}

$('#<%= @location_id %> .dental-reference-plans').html("<%= escape_javascript(render(partial: "employers/plan_years/plan_selection/dental_plans")).html_safe %>");
<% if @carrier_profile == 'all_plans' %>
$('#<%= @location_id %> .dental-plan-offering').hide();
$('#<%= @location_id %> .reference-steps .dental:first').hide();
$('#<%= @location_id %> .elected-plans-tab input:not(:checked)').each(function() {
    var plan_value = $(this).attr('value');
    $('#<%= @location_id %> .dental-reference-plans input[value="'+plan_value+'"]').closest('.col-xs-4').hide();
  });
<% end %>
$('#<%= @location_id %> .dental-plan-count strong').html("<%= @dental_plans.count %> Plans");
$('#<%= @location_id %> .dental-reference-plans').css({ "height": "450px", "y-overflow": "scroll" })
$('#<%= @location_id %> .dental-reference-plans').show();
$('#<%= @location_id %> .dental.select-reference').hide();

var carrier_for_elected_dental_plan = $('#<%= @location_id %> .dental-plan-options input:checked').val();
$('#<%= @location_id %> input.carrier-for-elected-dental-plan').val(carrier_for_elected_dental_plan);

$('#<%= @location_id %> .select-dental-plan .reference-plan .col-xs-2').on('click', function() {

  if ($(this).find('input[type=radio]').is(':checked')) {
  } else {
      $(this).find('input[type=radio]').prop('checked', true )
      var id = $(this).find('input[type=radio]').attr('value');
      $(this).closest('#<%= @location_id %>').find('.dental-ref-plan.hidden-param').attr('value', id);
  }

});
<% end %>
start_on = $("#plan_year_start_on").val().substr(0,4);
$('#<%= @location_id %> .dental .view-summary, #<%= @location_id %> .dental-view-summary a').each(function() {
  var url = $(this).attr('href');
  $(this).attr('href', url+"&start_on="+start_on);
});
