$('#<%= @location_id %> .dental-reference-plans').before("<div class='col-xs-12 dental select-reference'></div>");
//$('#.dental-reference-plans').before("<div class='col-xs-12 dental select-reference'><br><br><h1 class='row'>Select Your Reference Plan</h1><h4 style='position: relative;' class='row'><span class='starter' style='display: inline-block;'>Now select a reference plan. The reference plan is used to cap employer costs. You’ll choose a reference plan. Then, your contribution towards employee premiums will be applied to the reference plan you choose regardless of which plans your employees select. After you select your reference plan, scroll down to review your costs.</span><span style='position: absolute; right: 0; bottom: 0;'>Displaying: <strong><%= @dental_plans.count %> Plans</strong> </span></h4><br/></div>");
$('#<%= @location_id %> .dental-reference-plans').html("<%= escape_javascript(render(partial: "employers/plan_years/plan_selection/dental_plans")).html_safe %>");

$('#<%= @location_id %> .dental-plan-count strong').html("<%= @dental_plans.count %> Plans");
$('#<%= @location_id %> .dental-reference-plans').css({ "height": "450px", "y-overflow": "scroll" })
$('#<%= @location_id %> .dental-reference-plans').show();
$('#<%= @location_id %> .dental.select-reference').hide();
<% if @carrier_profile == 'all_plans' %>
$('#<%= @location_id %> .dental-plan-offering').hide();
$('#<%= @location_id %> .reference-steps .dental:first').hide();
<% end %>
var carrier_for_elected_dental_plan = $('#<%= @location_id %> .dental-plan-options input:checked').val();
$('#<%= @location_id %> input.carrier-for-elected-dental-plan').val(carrier_for_elected_dental_plan);

$('#<%= @location_id %> .select-dental-plan .reference-plan .col-xs-2').on('click', function() {

  if ($(this).find('input[type=radio]').is(':checked')) {
  } else {
      $(this).find('input[type=radio]').prop('checked', true )
      var id = $(this).find('input[type=radio]').attr('value');
      $(this).closest('#<%= @location_id %>').find('.dental-ref-plan.hidden-param').attr('value', id);
  }

});
if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
  $('#<%= @location_id %> .select-dental-plan .edit-offering').hide();
  $('#<%= @location_id %> .select-dental-plan .reference-steps div:first').hide();
} else {

}
