$("fieldset#<%= @location_id %> .reference_plan_info .content").html("<%= escape_javascript(render "reference_plan_info") %>");
$("fieldset#<%= @location_id %> .reference_plan_info h4").html("Premiums <span style='float: right;'><i class='fa fa-sort-desc'></i></span>");
$("fieldset#<%= @location_id %> .employer_cost_info").html("<div>Est. Monthly Employer Contribution : <%= number_to_currency(@employer_contribution_amount) %></div><div>Est. Monthly Employee Cost (Min/Max) : <%= number_to_currency(@min_employee_cost) %>/<%= number_to_currency(@max_employee_cost) %></div>");