<% row ||= @row %>
<% seed = row.seed %>

<tr scope="row" id="<%= "seed-#{seed.id}-row-#{row.id}" %>" data-row-id="<%= row.id %>">
  <td>
    <%= row.data['case_name'] %>
  </td>
  <td>
    <%= row&.unique_row_notes %>
  </td>
  <td>
    <%= row&.unique_row_identifier %>
  </td>
  <td>
    <%= seed_url_helper(row) %>
  </td>
  <td>
    <% if row.seeded? %>
      Seeded at
      <%= row.seeded_at %>
    <% else %>
      Seed Pending 
    <% end %>
  </td>
</tr>