<% row ||= @row %>

<div id='<%= "seed-#{row.seed.id}-row-#{row.id}" %>' class='row summary-row px-3 bg-white border-left border-right' data-row-id='<%= row.id %>'>
  <div class='col-4'>
    <%= row.data['case_name'] %>
  </div>
  <div class='col-4 text-right'>
    <% if row.seeded? %>
      <% link_to(row.target_record&.primary_person.full_name, root_url) %>
      at
      <%= row.seeded_at %>
    <% else %>
      Seed Pending 
    <% end %>
  </div>
  <div class='col-4 text-right text-truncate'>
    <%= row&.unique_row_identifier %>
  </div>
</div>