<%= render "ui-components/v1/navs/primary_nav.html.slim" %>

<div class='row' data-controller='seed-row'>
  <div class='container'>
    <%= form_for @seed, url: exchanges_seed_path(@seed.id),
                 method: :patch, remote: true,
                 html: { data: { action: "ajax:success->seed-row#onPostSuccess" } } do |f| %>
      <div class="form-group ">
        <%= f.hidden_field :id %>
      </div>
      <div class='form-group'>
        <strong><%= l10n("aasm_state") %>:</strong> <%= @seed.aasm_state.to_s %> <br>
      </div>
      <div class='form-group'>
        <strong><%= l10n("filename") %>:</strong> <%= @seed.filename.to_s %> <br>
      </div>
      <div class='form-group'>
        <strong><%= l10n('csv_template') %>:</strong> <%= @seed&.csv_template&.humanize&.to_s %> <br>
      </div>
      <div class='form-group'>
        <strong><%= l10n("created_by") %>:</strong> <%= @seed&.user&.email || data_seed&.user&.person&.full_name %> <br>
      </div>
      <div class='form-group'>
        <strong><%= l10n("created_at") %>:</strong> <%= @seed.created_at.to_s %> <br>
      </div>
      <div class='form-group'>
        <% if @seed.aasm_state == 'draft' %>
          <%= f.submit 'Begin Seed',
                       class: 'btn btn-primary',
                       type: 'submit',
                       data: { target: 'seed-row.submit' } %>
        <% else %>
          <%= f.submit "Seed #{@seed.aasm_state.titleize}",
                       class: 'btn btn-primary',
                       type: 'submit',
                       disabled: true,
                       data: { target: 'seed-row.submit' } %>
        <% end %>
      </div>
    <% end %>
    <table class='table-responsive'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Case Name</th>
          <th scope='col'>Case Notes</th>
          <th scope="col">Unique Row Identifier</th>
          <th scope='col'>Record URL</th>
          <th>Seeded At</th>
        </tr>
      </thead>
      <tbody>
        <% @seed.rows.each do |row| %>
          <%= render partial: 'row', locals: { row: row } %>
        <% end %>
      </tbody>
  </div>
</div>