<%= render partial: "ui-components/v1/navs/primary_nav" %>

<div class="container" data-controller="bulk-notice">

  <h4>New Seed</h4>

  <div class="panel panel-default">
    <%= form_for(@seed, url: exchanges_seeds_path, html: { multipart: true }) do |f| %>
      <div class='form-group'>
        <%= f.label(:csv_template, l10n("csv_template_for_seed"), class: 'label label-default') %> <br>
        <%= select_tag "csv_template", options_for_select(Seeds::Seed::REQUIRED_CSV_HEADER_TEMPLATES.keys, Seeds::Seed::REQUIRED_CSV_HEADER_TEMPLATES.keys.first) %>

      </div>
      <div class='form-group'>
        <%= file_field_tag :file, accept: FileUploadValidator::CSV_TYPES.join(','), class: "btn-file doc-upload-file"%><br>
        <%= f.submit "Submit", class: 'btn btn-alt-blue col-2 offset-10' %>
      </div>
    <% end %>
</div>
