<% if @bs4 %>
  <div id="add_member_list_<%= dependent.id %>" class="dependent_list py-4">
    <div class="d-flex flex-row">
      <h2><%= l10n('member') %> <%= local_assigns[:member_number] ? member_number : "" %></h2>
    </div>

    <div id="add_info_<%= dependent.id %>">
      <div class="dependent_notice_div_<%= dependent.id%>"></div>

      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div>
          <label for="name"><%= l10n("name")%></label>
          <input id="name" type="text" value="<%= "#{dependent.first_name} #{dependent.middle_name} #{dependent.last_name}"%>" disabled >
        </div>
        <div>
          <label for="age"><%= l10n("age")%></label>
          <input id="age" type="text" value="<%= dependent.age_on(TimeKeeper.date_of_record) %>" disabled >
        </div>
        <div>
          <label for="gender"><%= l10n("gender")%></label>
          <input id="gender" type="text" value="<%= "#{dependent.gender.humanize}" %>" disabled >
        </div>
        <div>
          <label for="relation"><%= l10n("relationship")%></label>
          <input id="relation" type="text" value="<%= dependent.relationship.try(:humanize)%>" disabled >
        </div>
      </div>

      <%= h(link_to l10n("edit_member"), main_app.edit_insured_family_member_path(dependent, {bs4: @bs4}), id: 'edit-dependent-person', remote: true, class: 'btn button outline close-2') %>

    </div>
  </div>
<% else %>
  <li id="add_member_list_<%= dependent.id %>" class="dependent_list">
    <div id="add_info_<%= dependent.id %>">
      <div class="dependent_notice_div_<%= dependent.id%>"></div>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-md-4 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel">NAME</label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= "#{dependent.first_name} #{dependent.middle_name} #{dependent.last_name}"%></span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel">AGE</label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.age_on(TimeKeeper.date_of_record) %></span>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("gender").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.gender.try(:humanize) %></span>

          </div>
        </div>

        <div class="col-md-3 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("relationship").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"> <%= dependent.relationship.try(:humanize) %> </span>
            <div class="text-right">
              <a href="<%= main_app.edit_insured_family_member_path(dependent) %>" data-remote="true" class="close close-2">
                <i class="fas fa-pencil-alt"><span class="hide"><%= l10n("edit") %></span></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <%#= yield "person_#{dependent&.person&.id}" %>

      <div class="clearfix"></div>
    </div>
    <script>
      Freebies.floatlabels();
    </script>
  </li>
<% end %>