<% if @bs4 %>
  <div id="<%= employee_dependent_form_id(dependent) %>" class="dependent_list">
    <h2><%= dependent.id.present? ? l10n("edit_member") : l10n("add_member") %></h2>
    <div id="add_info_<%= dependent.id %>" class="<%= pundit_class Family, :updateable? %>">
      <%= form_for dependent, employee_dependent_submission_options_for(dependent) do |f| %>
        <%= hidden_field_tag :consumer_role_id, params[:consumer_role_id] %>
        <%= hidden_field_tag :employee_role_id, params[:employee_role_id] %>

        <p class="dependent-invalid-dob"></p>

        <% if dependent.errors.any? %>
          <div class="alert alert-error">
            <h4>
              <%= "Correct the following to add this family member:" %>
            </h4>
            <ul>
              <% dependent.errors.full_messages.each do |msg| %>
                <% msg = (msg == "Gender can't be blank" && EnrollRegistry.feature_enabled?(:gender_to_sex)) ? "Sex can't be blank" : msg %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @address_errors.present? %>
          <%= render partial: 'shared/address_error_messages', locals: {address_errors: @address_errors} %>
        <% end %>

        <%= token_tag form_authenticity_token %>

         <div id="personal_info" class="house">
          <div class="dependent_notice_div_<%= dependent.id%>"></div>

          <div class="d-flex mb-md-4">
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :first_name, l10n("first_name"), class: "required" %>
              <%= f.text_field :first_name, class: "required", required: true, placeholder: l10n("first_name"), autocomplete: :off %>
            </div>
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :middle_name, l10n("middle_name") %>
              <%= f.text_field :middle_name, class: "required", required: false, placeholder: l10n("middle_name"), autocomplete: :off %>
            </div>
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :last_name, l10n("last_name"), class: "required" %>
              <%= f.text_field :last_name, class: "required", required: true, placeholder: l10n("last_name"), autocomplete: :off %>
            </div>
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :name_sfx, l10n("suffix") %>
              <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => l10n("none"), autocomplete: :off %>
            </div>
          </div>

          <div class="d-flex mb-md-4">
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :dob, l10n("date_of_birth"), class: "required" %>
              <%= f.date_field :dob, placeholder: "MM/DD/YYYY", min: 110.years.ago, max:"9999-12-31", required: true %>
            </div>
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :gender, l10n("gender"), class: 'required'  %>
              <%= f.select :gender, [ [l10n("Male"), 'male'], [l10n("Female"), 'female'] ], autocomplete: :off, required: true %>
              <a href="#sex_gender" data-toggle="modal" data-target="#sex_gender" class="d-block"><%= l10n("not_sure") %></a>
              <%= render partial: 'shared/modal_support_text_household', locals: {key: "sex_gender"} %>
            </div>
          </div>

          <div class="d-flex mb-md-4">
            <div class="col-md-6 col-lg-3 p-0">
              <%= f.label :ssn, "Social Security" %>
              <% if EnrollRegistry.feature_enabled?(:ssn_ui_validation) %>
                <%= f.text_field :ssn, placeholder: "000-00-0000", class: "required keep-label",
                  pattern: "(?!666|000|9\\d{2})\\d{3}[\\- ]{0,1}(?!00)\\d{2}[\\- ]{0,1}(?!0{4})\\d{4}", oninvalid: "this.setCustomValidity('Invalid Social Security number.')",
                  oninput: "this.setCustomValidity('')", disabled: false, readonly: f.object.is_a?(Forms::EmployeeRole) %>
              <% else %>
                <%= f.text_field :ssn, placeholder: "000-00-0000", class: "required", disabled: false,
                  readonly: f.object.is_a?(Forms::EmployeeRole) %>
              <% end %>
            </div>
            <div class="col-md-6 col-lg-3 p-0 pt-md-4 no-ssn-container mr-auto">
              <%= f.label :no_ssn, class: "mt-1 d-inline-block" do %>
                <%= f.check_box :no_ssn %><span class='no_ssn'><%= l10n("do_not_have_ssn") %></span>
                <a href="#no_ssn_info" data-toggle="modal" data-target="#no_ssn_info" class="d-block"><%= l10n("not_sure") %></a>
                <%= render partial: 'shared/modal_support_text_household', locals: {key: "no_ssn_info"} %>
              <% end %>
            </div>
          </div>

          <% if @person.has_active_consumer_role? %>
            <fieldset class="d-flex mb-md-4">
              <legend class="required"><%= l10n("does_person_need_coverage", person: dependent.first_name.present? ? dependent.first_name : "this person") %></legend>
              <% first_checked, second_checked = is_applying_coverage_value_dependent(dependent) %>
              <div class="d-flex align-items-center mt-2">
                <%= render 'shared/is_applying_for_coverage', f: f, first_checked: first_checked, second_checked: second_checked %>
              </div>
            </fieldset>
          <% end %>

          <div class="d-flex mb-md-4">
            <div class="">
              <%= f.label :relationship, "Relationship to primary account member" %>
              <%= f.select :relationship, relationship_options(f.object, request.referer), {:prompt => 'choose'}, {:required => true, :class => ""}  %>
              <a href="#relationship" data-toggle="modal" data-target="#relationship" class="d-block"><%= l10n("not_sure") %></a>
              <%= render partial: 'shared/modal_support_text_household', locals: {key: "relationship"} %>
            </div>
          </div>

          <% if current_user.does_not_have_any_staff_role? && !current_user.has_insured_role? %>
            <%= render 'shared/age_off_excluded', f: f %>
          <% end %>

          <% if has_active_consumer_dependent?(@person,@dependent) %>
            <%= render 'shared/ssn_coverage_msg' %>
            <div id="consumer_fields_sets" >
              <%= render 'shared/consumer_fields', f: f %>
            </div>
          <% end %>

          <div id="dependent-address" class="my-3">
            <div class="row row-form-wrapper no-buffer">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg">
                <legend><%= l10n("insured.consumer_roles.home_address")%></legend>

                <div class="d-flex flex-row align-items-center my-3">
                  <%= f.check_box :same_with_primary, {'data-cuke': "lives_with_primary_checkbox"}, "true", "false" %>
                  <span for="dependent_same_with_primary"><%=l10n("dependent_lives_with_primary_subscriber") %></span>
                </div>
              </div>
            </div>

            <div class="row row-form-wrapper no-buffer" id="home-info" style="display: <%= f.object.same_with_primary.present? and f.object.same_with_primary == 'true' ? 'none' : 'block' %>">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg">
                <i class="fa fa-info-circle"></i> <%= l10n('insured.dependent_home_address_info') %>
              </div>
            </div>

            <div id="dependent-home-address-area" style="display: <%= f.object.same_with_primary.present? and f.object.same_with_primary == 'true' ? 'none' : 'block' %>">
              <% if has_active_consumer_dependent?(@person,@dependent) %>
                  <%= render 'shared/address_fields_for_dependent', f: f, show_no_dc_address: true %>
              <% elsif @person.has_active_employee_role? %>
                <%= render 'shared/address_fields_for_dependent', f: f %>
              <% end %>
            </div>
          </div>

          <%= f.hidden_field :family_id %>
          <div id="remove_confirm" class="hidden"></div>
        </div>

        <%= render partial: 'shared/address_change_confirmation_modal' %>

        <div id="add_info_buttons_<%= dependent.id %>" class="pt-2">
          <% if !dependent.persisted? %>
            <a href="#" class="btn button outline remove-new-employee-dependent" data-target="#new_employee_dependent_form">
              <%= l10n("cancel") %>
            </a>
            <a href="#" class="close-1 btn outline button-error remove-new-employee-dependent" data-target="#new_employee_dependent_form"><%= l10n('remove_member') %></span></a>
          <% else %>
            <%= h(link_to l10n("cancel"), insured_family_member_path(dependent, {bs4: @bs4}), :remote => true, class: "btn button outline") %>
            <%= h(link_to l10n('remove_member'), insured_family_member_path(dependent, {bs4: @bs4}), class: 'btn button-error outline close-2', :method => :delete, :remote => true, data: {confirm: l10n("confirm_remove_dependent"), ok: l10n("yes"), cancel: l10n("no")}) %>
          <% end %>

          <%= f.button(id: 'confirm-member', class: "btn btn-primary hidden") do %>
            <%= l10n("confirm_member") %>
          <% end %>
          <span tabindex="0", onkeydown="handleButtonKeyDown(event, 'confirm-dependent')" id="confirm-dependent" class="btn btn-primary">
            <%= l10n("confirm_member") %>
          </span>
        </div>

      <% end %>
    </div>

    <script>
      $(document).ready(function() {
        $.inputMasks();

        $('.field_with_errors > *').unwrap();

        if($("input#dependent_same_with_primary").is(":checked")){
          $("#address_info .address_required").removeAttr('required');
        };

        $("#dependent_first_name").change(function() {
          var text = $("#dependent_first_name").val() == '' ? "This person" : $("#dependent_first_name").val()
          $("#is_applying_coverage_value_dep").text("Does "+ text +" need coverage? *");
          $("#is_applying_coverage_value_dep_1").text(text);
        });
      });

      $(document).off('click', '#confirm-dependent');
      $(document).on('click', '#confirm-dependent', function(e) {
        $(".btn-confirmation").removeAttr('disabled');

        var form = $('#new_dependent')[0] || $('#edit_dependent')[0];

        if ( form.checkValidity() && !$("input#dependent_same_with_primary").is(":checked")) {
          $('#addressChangeConfirmation').modal('show');
        }
        else {
        PersonValidations.manageRequiredValidations($('#confirm-dependent'));
        }

      });
    </script>
  </div>

<% else %>
  <li id="<%= employee_dependent_form_id(dependent) %>" class="dependent_list">
    <div id="add_info_<%= dependent.id %>" class="<%= pundit_class Family, :updateable?%>">

      <%= form_for dependent, employee_dependent_submission_options_for(dependent) do |f| %>
        <%= hidden_field_tag :consumer_role_id, params[:consumer_role_id] %>
        <%= hidden_field_tag :employee_role_id, params[:employee_role_id] %>

        <p class="dependent-invalid-dob"></p>
        <% if dependent.errors.any? %>
          <div class="alert alert-error">
            <h4>
              <%= "Correct the following to add this family member:" %>
            </h4>
            <ul>
              <% dependent.errors.full_messages.each do |msg| %>
                <% msg = (msg == "Gender can't be blank" && EnrollRegistry.feature_enabled?(:gender_to_sex)) ? "Sex can't be blank" : msg %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @address_errors.present? %>
          <%= render partial: 'shared/address_error_messages', locals: {address_errors: @address_errors} %>
        <% end %>
        <%if
          @dependent.first_name &&
              @dependent.last_name &&
              @dependent.dob &&
              @dependent.gender &&
              @dependent.relationship
        %>
          <div class="row row-form-wrapper no-buffer">
            <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
              <div class="col-md-4 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
                <label class="static_label label-floatlabel" for="name"><%= l10n("name").to_s.upcase %></label>
                <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@dependent.first_name} #{@dependent.middle_name} #{@dependent.last_name}" %></span>
              </div>
              <div class="col-md-2 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
                <label class="static_label label-floatlabel" for="name">AGE</label>
                <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@dependent.age_on(TimeKeeper.date_of_record)}" %></span>
              </div>
              <div class="col-md-3 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
                <label class="static_label label-floatlabel" for="name">GENDER</label>
                <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@dependent.gender.humanize}" %></span>
              </div>
              <div class="col-md-3 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
                <label class="static_label label-floatlabel" for="relation">RELATIONSHIP</label>
                <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@dependent.relationship.capitalize}" %></span>
              </div>
            </div>
          </div>
        <%end %>
        <%= token_tag form_authenticity_token %>

        <div class="house col-md-12 col-sm-12 col-xs-12 no-pd">
          <div class="dependent_notice_div_<%= dependent.id%>"></div>
          <div class="row row-form-wrapper no-buffer">

            <div class="col-md-4 col-sm-4 no-pd">
              <div class="form-group form-group-lg">
                <%= f.text_field :first_name, value: dependent.first_name,class: "home required floatlabel form-control", required: true, placeholder: "#{l10n("first_name").to_s.upcase} *" %>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 no-pd">
              <div class="form-group form-group-lg">
                <%= f.text_field :middle_name, value: dependent.middle_name, class: "home floatlabel form-control", placeholder: l10n("middle_name").to_s.upcase%>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 no-pd">
              <div class="form-group form-group-lg">
                <%= f.text_field :last_name, value: dependent.last_name ,class: "home required floatlabel form-control", required: true, placeholder: "#{l10n("last_name").to_s.upcase} *" %>
                <div class="text-right">
                  <% if !dependent.persisted? %>
                    <a href="#" class="close close-1 remove-new-employee-dependent" onclick="$('#btn-continue').removeClass('disabled');" data-target="#new_employee_dependent_form"><%= image_tag "member-close.png" %><span class="hide"><%=l10n("delete")%></span></a>
                  <% else %>
                    <%= link_to(insured_family_member_path(dependent), class: 'close close-2', :method => :delete, :remote => true, data: {confirm: l10n("confirm_remove_dependent"), ok: l10n("yes"), cancel: l10n("no")}) do %>
                      <i class="fa fa-times"><span class="hide">Delete</span></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <% if @person.has_active_consumer_role? %>
            <div class="row row-form-wrapper no-buffer">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg top-buffer" >
                  <label id="is_applying_coverage_value_dep">Does <%= @dependent.try(:family_member).try(:person).present? ? @dependent.try(:family_member).try(:person).try(:first_name) : "this person" %> need coverage? *</label>
                </div>
                <% first_checked, second_checked = is_applying_coverage_value_dependent(dependent) %>
                <%= render 'shared/is_applying_for_coverage', f: f, first_checked: first_checked, second_checked: second_checked %>
            </div>
          <% end %>

          <div class="row row-form-wrapper no-buffer">
            <div class="col-md-3 col-sm-3 no-pd">
              <div class="form-group form-group-lg">
                <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "#{l10n("date_of_birth").to_s.upcase} *",
                                                :'data-date-min' => "-110y", :'data-date-max' => "+0", required: true,  id: "family_member_dob_#{dependent.id}"}, dependent.dob %>
              </div>
            </div>

            <% unless @person.has_active_resident_role? %>
              <div class="col-md-3 col-sm-3 no-pd">
                <div class="form-group form-group-lg">
                  <% if EnrollRegistry.feature_enabled?(:ssn_ui_validation) %>
                    <%= f.text_field :ssn, value: dependent.ssn,class: "home required floatlabel form-control mask-ssn",
                      pattern: "(?!666|000|9\\d{2})\\d{3}[\\- ]{0,1}(?!00)\\d{2}[\\- ]{0,1}(?!0{4})\\d{4}", oninvalid: "this.setCustomValidity('Invalid Social Security number.')",
                      oninput: "this.setCustomValidity('')", placeholder: "#{l10n("social_security").to_s.upcase}" %>
                  <% else %>
                    <%= f.text_field :ssn, value: dependent.ssn,class: "home required floatlabel form-control mask-ssn", placeholder: "#{l10n("social_security").to_s.upcase}" %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-3 col-sm-3 no-pd">
                <div class="col-xs-12">
                  <div class="">
                    <div class="form-group form-group-lg top-buffer">
                      <%= f.check_box :no_ssn %>
                      <%= f.label :no_ssn, :value => true do %>
                        <span class='no_ssn twelve'>&nbsp;<%= l10n("do_not_have_ssn") %></span>
                      <% end %>
                      <span>
                        <i tabindex="0" class='fa fa-question-circle' id="no_ssn_tooltip" data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>">
                        <span class="hide"><%=l10n("open")%></span>
                        </i>
                        <span class="hide"> "<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"</span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                </div>
              </div>
            <% end %>

            <div class="col-md-3 col-sm-3 no-pd">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_male')" class="radio">
                  <%= f.radio_button :gender, "male", class: "required floatlabel", id: 'radio_male' %>
                  <label for="radio_male"><span data-cuke="dependent_radio_male"><%= l10n("male").to_s.upcase %></span></label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
                <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'radio_female')" class="radio">
                  <%= f.radio_button :gender, "female", class: "required floatlabel", id: 'radio_female'  %>
                  <label for="radio_female"><span><%= l10n("female").to_s.upcase %></span></label>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-form-wrapper no-buffer">
            <% if has_active_consumer_dependent?(@person,@dependent) %>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg mt18">
                <label class="static_label label-floatlabel mt-label">NAME</label>
                <label id="is_applying_coverage_value_dep_1" class= "ml-label">
                  <%= @dependent.try(:family_member).try(:person).present? ? @dependent.try(:family_member).try(:person).try(:first_name) : 'this person' %>
                </label>
              </div>
            <% end %>
            <div class="col-md-5 mt18">
              <div class="select-positioning ml-label"> <label>is</label> </div>
              <label class="static_label label-floatlabel mt-label">RELATIONSHIP |
                <% if FinancialAssistanceRegistry[:enroll_app].settings(:site_key).item.to_s.downcase == 'me' %>
                  <a href="#relationship" data-toggle="modal" data-target="#relationship">Not sure?</a>
                <% else %>
                  <a class='hidden'></a>
                <% end %>
              </label>
              <%= render partial: 'shared/modal_support_text_household', locals: {key: "relationship"} %>
              <div class="select-relation rs_selection">
                <%= f.select :relationship, relationship_options(f.object, request.referer), {:prompt => 'choose'}, {:required => true, :class => "floatlabel form-control"}  %>
              </div>
              <label class="position-left"> of</label>
              <div class="icon-rel">
                <i class="fa fa-user icn-out fa-2x" aria-hidden="true"></i>
                <i class="fa fa-link" aria-hidden="true"></i>
                <i class="fa fa-user icn-out fa-lg" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-lg-4 mt18 static-font">
              <label class="static_label label-floatlabel mt-label">ACCOUNT HOLDER</label>
              <span class="position-full-name"> <%= @person.full_name %> </span>
            </div>
          </div>
          <% if !current_user.has_insured_role? %>
            <% if current_user.does_not_have_any_staff_role? %>
              <div class="row row-form-wrapper no-buffer">
                <%= render 'shared/age_off_excluded', f: f %>
              </div>
            <% end %>
          <% end %>
          <% if has_active_consumer_dependent?(@person,@dependent) %>
            <%= render 'shared/ssn_coverage_msg' %>
            <br>
            <div id="consumer_fields_sets">
              <%= render 'shared/consumer_fields', f: f %>
            </div>
          <% end %>
          <br>
          <div id="dependent-address">
            <div class="row row-form-wrapper no-buffer">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg">
                <strong>Home address</strong><br>
                <%= f.check_box :same_with_primary, {'data-cuke': "lives_with_primary_checkbox"}, "true", "false" %>
                <!-- <label for="dependent_same_with_primary"><%#=l10n("dependent_lives_with_primary_subscriber") %></label> -->
                <label for="dependent_same_with_primary"><%=l10n("dependent_lives_with_primary_subscriber") %></label>
              </div>
            </div>
            <div class="row row-form-wrapper no-buffer" id="home-info" style="display: <%= f.object.same_with_primary.present? and f.object.same_with_primary == 'true' ? 'none' : 'block' %>">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg">
                <i class="fa fa-info-circle"></i> <%= l10n('insured.dependent_home_address_info') %>
              </div>
            </div>
            <div id="dependent-home-address-area" style="display: <%= f.object.same_with_primary.present? and f.object.same_with_primary == 'true' ? 'none' : 'block' %>">
              <% if has_active_consumer_dependent?(@person,@dependent) %>
                  <%= render 'shared/address_fields_for_dependent', f: f, show_no_dc_address: true %>
              <% elsif @person.has_active_employee_role? %>
                <%= render 'shared/address_fields_for_dependent', f: f %>
              <% end %>
            </div>
          </div>

          <%= f.hidden_field :family_id %>
          <div id="remove_confirm" class="hidden"></div>
        </div>

        <%= render partial: 'shared/address_change_confirmation_modal' %>

        <div class="clearfix"></div>
        <div id="add_info_buttons_<%= dependent.id %>" style="padding-top: 20px;">

          <% if !dependent.persisted? %>
            <a href="#" class="btn btn-default remove-new-employee-dependent" onclick="$('#btn-continue').removeClass('disabled')" data-target="#new_employee_dependent_form">
            <%= l10n("cancel") %>
            </a>
          <% else %>
            <%= link_to(insured_family_member_path(dependent), :remote => true) do %>
              <span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span> <%= l10n("cancel") %>
            <% end %>
          <% end %>
          <%= f.button(id: 'confirm-member', class: "btn btn-primary btn-br pull-right mz hidden", onclick: "$('#btn-continue').removeClass('disabled');") do %>
            <%= l10n("confirm_member") %>
          <% end %>

          <span tabindex="0", onkeydown="handleButtonKeyDown(event, 'confirm-dependent')", id='confirm-dependent' class="btn btn-primary btn-br pull-right mz">
            <%= l10n("confirm_member") %>
          </span>
        </div>
      <% end %>
    </div>

    <script>
      $(document).ready(function() {
        $.inputMasks();

        $('.field_with_errors > *').unwrap();
        Freebies.floatlabels();
        if($("input#dependent_same_with_primary").is(":checked")){
          $("#address_info .address_required").removeAttr('required');
        };
        $("#dependent_first_name").change(function() {
          var text = $("#dependent_first_name").val() == '' ? "This person" : $("#dependent_first_name").val()
          $("#is_applying_coverage_value_dep").text("Does "+ text +" need coverage? *");
          $("#is_applying_coverage_value_dep_1").text(text);
        });
      });

      $(document).off('click', '#confirm-dependent');
      $(document).on('click', '#confirm-dependent', function(e) {
        $(".btn-confirmation").removeAttr('disabled');

        var form = $('#new_dependent')[0] || $('#edit_dependent')[0];

        if ( form.checkValidity() && !$("input#dependent_same_with_primary").is(":checked")) {
          $('#addressChangeConfirmation').modal('show');
        }
        else {
        PersonValidations.manageRequiredValidations($('#confirm-dependent'));
        }

      });

      function confirmChange(event){
        $(".btn-confirmation").prop('disabled', true);
        $('.modal-backdrop').removeClass('modal-backdrop');
        $('.modal-open').removeClass('modal-open');

        PersonValidations.manageRequiredValidations($('#confirm-dependent'));
        $('#addressChangeConfirmation').modal('hide');
      }
    </script>
  </li>
<% end %>