<li id="add_member_list_<%= dependent.id %>" class="dependent_list">
  <div id="add_info_<%= dependent.id %>">
    <div class="dependent_notice_div_<%= dependent.id%>"></div>
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-4 col-sm-4 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("first_name").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.first_name %></span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("middle_name").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.middle_name %></span>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("last_name").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.last_name %></span>
          <div class="text-right">
            <%=
              link_to edit_resident_dependent_insured_family_member_path(dependent), remote: true, class: 'close close-2' do
                '<i class="fa fa-pencil"></i>'.html_safe
              end
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-3 col-sm-3 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("date_of_birth").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.dob %></span>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("relationship").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.relationship.try(:humanize) %></span>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 no-pd">
        <div class="form-group form-group-lg">
          <label class="static_label label-floatlabel"><%= l10n("gender").to_s.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.gender.try(:humanize) %></span>
        </div>
      </div>
    </div>

    <% addresses = get_address_from_dependent(dependent) %>
    <% addresses.each do |address| %>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-md-2 col-sm-2 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("kind").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.kind.capitalize %></span>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("address_1").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.address_1 %></span>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("address_2").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.address_2 %></span>
          </div>
        </div>
      </div>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-md-4 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("city").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.city %></span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("state").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.state %></span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("zip").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= address.zip %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% if (@prev_url_include_intractive_identity || @prev_url_include_consumer_role_id) && !@employee_role %>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-md-6 col-sm-6 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("race_or_ethnicity").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= parse_ethnicity(dependent.try(:ethnicity)) %></span>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("language").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.language_code.try(:humanize) %></span>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 no-pd">
          <div class="form-group form-group-lg">
            <label class="static_label label-floatlabel"><%= l10n("is_incarcerated").to_s.upcase %></label>
            <span class="field_value floatlabel form-control active-floatlabel"><%= dependent.is_incarcerated == true ? "Yes" : "No" %></span>
          </div>
        </div>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
  <script>
    Freebies.floatlabels();
  </script>
</li>
