<% if @change_plan.present? && @sep.blank?%>
    <h3 class="blue-text"><%= params[:change_plan] %>, on: <%= @change_plan_date %></h3>
<% end %>

<% if @sep.present? %>
  <h3 class="blue-text"><%= @sep.title %> on: <%= @sep.qle_on %></h3>
<% end %>

<h1 class="darkblue">Household Info: Family Members</h1>
<h4>If you need to get insurance coverage for other members of your household, select 'Add Member'. When you’re finished, select CONTINUE.</h4>
<p class='memo'>* = required field</p>
<div class="row row-form-wrapper no-buffer">
  <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
    <div class="col-md-4 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
      <label class="static_label label-floatlabel " for="name">NAME</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@person.first_name} #{@person.middle_name} #{@person.last_name}" %></span>
    </div>
    <div class="col-md-2 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
      <label class="static_label label-floatlabel" for="name">AGE</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@person.age_on(Date.today)}" %></span>
    </div>
    <div class="col-md-3 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
      <label class="static_label label-floatlabel" for="name">GENDER</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@person.gender}" %></span>
    </div>
    <div class="col-md-3 col-sm-6 no-pd form-group-lg no-pd class-fa-household">
      <label class="static_label label-floatlabel" for="relation">RELATIONSHIP</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="relation">Self</span>
      <%= link_to personal_insured_families_path, remote: true, class: 'close close-2' do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="append_consumer_info">
</div>

<%= yield :primary_member_fa %>

<div class="row no-buffer <%= pundit_class Family, :updateable?%>">
  <div class="fail-search add-member <%= 'hidden' if !@family.active_family_members.empty? %>">
    <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
      <p class="fail"><span class="bold">Here's your chance to add family members to your plan.</span><br>Add family members by clicking the "Add Member" button. If you don't need to add more members, or when you are done adding members, click continue.</p>
      <br>
      <div class="form-inline text-center <%= pundit_class Family, :updateable?%>">
        <%= link_to "Add Member", new_insured_family_member_path(:family_id => @family.id), :remote => true, :class => "btn btn-default" %>
          &nbsp; &nbsp;
        <a class="text-center btn btn-success">Continue</a>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row no-buffer">
  <ul class="" id="dependent_ul">
    <% @family.active_family_members.reject(&:is_primary_applicant).each do |dependent| %>
      <%= render "insured/family_members/dependent", dependent: dependent, person: @person %>
    <% end %>
  </ul>
</div>

<div id="dependent_buttons" class="focus_effect personal-info-row <%= 'hidden' if @family.active_family_members.empty? %>">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12 <%= pundit_class Family, :updateable?%>">
    <%= hidden_field_tag 'origin_source', @source %>
    <%= link_to 'Add Member'.html_safe, new_insured_family_member_path(:family_id => @family.id, employee_role_id: @employee_role.try(:id), consumer_role_id: @consumer_role.try(:id)), :remote => true, :class => "btn btn-default", :id => "household_info_add_member" %>
    <% group_selection_url = new_insured_group_selection_path(person_id: @person.id, employee_role_id: @employee_role.try(:id), consumer_role_id: @consumer_role.try(:id), change_plan: @change_plan, market_kind: @market_kind, sep_id: @sep.try(:id), qle_id: @qle.try(:id), effective_on_option_selected: params[:effective_on_option]) %>
    <input type="hidden" value="<%= group_selection_url %>" id="btn_household_continue">

    <% if @change_plan.present? %>
      <%=
        link_to '<i class="fa fa-user-plus"></i> Continue'.html_safe, group_selection_url,
          class: 'btn btn-primary pull-right' + pundit_class(Family,:updateable?), id: 'btn_household_continue'
      %>
    <% end %>
  </div>
</div>
