<% if !@person.has_consumer_role? || (@person.has_active_employee_role? && @person.has_consumer_role?) %>
  <% content_for :horizontal_status do %>
    <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
  <% end %>
<% end %>
<div class="container">
  <div id="dependents_info_wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <%= render :partial => 'shared/left_nav.html.erb' %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 bottom-pd">
        <%= render partial: 'family_members' %>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <% find_sep_url = find_sep_insured_families_path(employee_role_id: @employee_role.try(:id), consumer_role_id: @consumer_role.try(:id), change_plan: @change_plan)%>

        <% if @change_plan.present? %>
          <%= render partial: 'shared/qle_progress', locals: {step: '1'} %>
        <% elsif @type == "employee" %>
          <%= render  partial: 'shared/signup_progress', locals: {
            step: '4',
            url: @missing_relationships.present? ? insured_family_relationships_path(:employee_role_id => @employee_role.id) : group_selection_url
          } %>
        <% else %>
          <%= render  partial: 'shared/individual_progress', locals: {
            step: 3,
            url: build_button(@consumer_role, @family, find_sep_url, @missing_relationships).first
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $("body").on("click", ".close_member_form", function () {
      $(".append_consumer_info").html("");
      $(".app_progress_bar").removeClass('hide');
  });
</script>
