<% if @family.application_in_progress.present? && request.env['HTTP_REFERER'].include?('financial_assistance') %>
  <% content_for "person_#{@dependent.family_member.person.id}" do %>
    <div class="row row-form-wrapper no-buffer">
      <%= render "financial_assistance/applications/financial_assistance_row", applicant: @family.application_in_progress.active_applicants.find_by(family_member_id: @dependent.family_member.id) %>
    </div>
  <% end %>
<% end %>

<% if @family.application_in_progress.present? and !@family.relationships_complete? %>
  <%= content_for :submit_button do %>
    <%= link_to 'Continue', insured_family_relationships_path, class: 'btn btn-lg btn-primary  btn-block', id: 'btn-continue', disabled: @family.application_in_progress.incomplete_applicants? %>
  <% end %>
<% end %>

if ($("#add_member_list_<%= @dependent.id %>").length) {
  $("#add_member_list_<%= @dependent.id %>").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent.family_member,person: @person) %>");

} else {
  $("#new_employee_dependent_form").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent.family_member,person: @person) %>");
  <% if @missing_relationships.present? %>
    $("#btn-continue").attr('href', '<%= @missing_relation_url %>' );
  <% end %>
}

<% if @family.applications.blank? && @created %>
  $('#qle_flow_info').removeClass('hidden');
<% end %>

<% if @family.application_in_progress.present? &&  (['create', 'update', 'destroy'].include? controller.action_name)  %>
  $('#faa_flow_info').html("<%= escape_javascript(render partial: 'insured/families/faa_popup') %>");
<% end %>

$("#dependent_buttons").removeClass('hidden');

<% if @family.application_in_progress.present? && request.env['HTTP_REFERER'].include?('financial_assistance')  %>
  $(".container > .row > .col-md-10 > .col-md-3").html("<%= escape_javascript(render partial: 'financial_assistance/shared/right_nav', 
      locals: { previous_url: financial_assistance_applications_path,
                next_url:  @family.application_in_progress.active_applicants.count > 1 ? insured_family_relationships_path(@person.consumer_role.id) : find_next_application_path(@family.application_in_progress),
                disabled: @family.application_in_progress.incomplete_applicants? ? true : false
  }) %>");

  $(".container > .row > .col-md-2").html("<%= escape_javascript(render partial: 'financial_assistance/shared/left_nav') %>");

$("#applicant_<%=@family.application_in_progress.primary_applicant.id %>").html("<%= escape_javascript(render partial: '/financial_assistance/shared/info_needed', locals: {applicant: @family.application_in_progress.primary_applicant}) %> ")

<% end %>
