<% if @family.application_in_progress.present? && request.env['HTTP_REFERER'].include?('financial_assistance') %>
  <% content_for "person_#{@dependent.family_member.person.id}" do %>
    <div class="row row-form-wrapper no-buffer">
      <%= render "financial_assistance/applications/financial_assistance_row", applicant: @family.application_in_progress.applicants.find_by(family_member_id: @dependent.family_member.id) %>
    </div>
  <% end %>
<% end %>
if ($("#add_member_list_<%= @dependent.id %>").length) {
  $("#add_member_list_<%= @dependent.id %>").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent.family_member,person: @person) %>");

} else {
  $("#new_employee_dependent_form").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent.family_member,person: @person) %>");
  <% if @missing_relationships.present? %>
    $("#btn-continue").attr('href', '<%= @missing_relation_url %>' );
  <% end %>
}
<% if @created %>
  $('#qle_flow_info').removeClass('hidden');
<% end %>
$("#dependent_buttons").removeClass('hidden');

<% if @family.application_in_progress.present? %>
	$(".container > .col-md-2").replaceWith("<%= escape_javascript(render partial: 'financial_assistance/shared/right_nav', locals: { previous_url: financial_assistance_applications_path, 
		next_url:  go_to_step_financial_assistance_application_applicant_path(@family.application_in_progress, @family.application_in_progress.applicants.first, 1)}) %>");
<% end %>