if (!$(".my-household-page")) {
  if ($("#add_member_list_<%= @dependent.id %>").length) {
    $("#add_member_list_<%= @dependent.id %>").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent, person: @person) %>");
  } else {
    $("#new_employee_dependent_form").replaceWith("<%= escape_javascript(render 'dependent', dependent: @dependent, person: @person) %>");
  }

  <% if @created %>
    $('#qle_flow_info').removeClass('hidden');
  <% end %>

  $("#dependent_buttons").removeClass('hidden');
  <% if ::EnrollRegistry.feature_enabled?(:financial_assistance) &&  (['create', 'update', 'destroy'].include? controller.action_name) && (@person.consumer_role.present?) %>
    $('#faa_flow_info').html("<%= escape_javascript(render partial: 'insured/families/faa_popup') %>");
  <% end %>
}
else {
  $("#add_member_list_<%= @dependent.id %>").replaceWith("<div class='append_consumer_info'></div>");
  $("a[id^=edit-member]").removeClass('disabled');
  $("#add-new-member").removeClass("hidden");
  $("#edit-member-<%= @dependent.id %>").removeClass("hidden");
  $("#cancel-edit-<%= @dependent.id %>").addClass("hidden");
  $("#save-member-<%= @dependent.id %>").addClass("hidden");
}