<div class="typography-container">
  <h1><%= l10n('.heading_1') %></h1>
  <h2><%= l10n('.heading_2') %></h2>
  <h3><%= l10n('.heading_3') %></h3>
  <h4><%= l10n('.heading_4') %></h4>
  <h5><%= l10n('.heading_5') %></h5>
  <h6><%= l10n('.heading_6') %></h6>

  <h3><%= l10n('.body_copy') %></h3>
  <p><%= l10n('.body_copy_text') %></p>

  <h3>Lead Body Copy</h3>
  <p class="lead">
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
  </p>

  <h3>Alignment</h3>
  <p class="text-left">Left aligned text.</p>
  <p class="text-center">Center aligned text.</p>
  <p class="text-right">Right aligned text.</p>
  <p class="text-justify">Justified text.</p>
  <p class="text-nowrap">No wrap text.</p>

  <h3>Text Transforms</h3>
  <p class="text-lowercase">Lowercased text.</p>
  <p class="text-uppercase">Uppercased text.</p>
  <p class="text-capitalize">Capitalized text.</p>

  <h3>Addresses</h3>
  <address>
    <strong>Twitter, Inc.</strong><br>
    1355 Market Street, Suite 900<br>
    San Francisco, CA 94103<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

  <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
  </address>

  <h3>Unordered Lists</h3>
  <ul>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
    <li>Fourth Item</li>
  </ul>

  <h3>Ordered Lists</h3>
  <ol>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
    <li>Fourth Item</li>
  </ol>

  <h3>Description Lists</h3>
  <dl>
    <dt>Description Lists</dt>
    <dd>A description list is perfect for defining terms</dd>
    <dt>Term 2</dt>
    <dd>This is the definition</dd>
    <dt>This is a very long term to be defined</dt>
    <dd>This is the definition</dd>
  </dl>

  <h3>Horizontal Description</h3>
  <dl class="dl-horizontal">
    <dt>Description Lists</dt>
    <dd>A description list is perfect for defining terms</dd>
    <dt>Term 2</dt>
    <dd>This is the definition</dd>
    <dt>This is a very long term to be defined</dt>
    <dd>This is the definition</dd>
  </dl>
</div>
