<%= javascript_pack_tag 'benefit_sponsors' %>
<div id="address_info" class="row no-buffer focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">
    <%= f.fields_for :addresses, f.object.addresses, errors: {}, fieldset: true do |address| %>
      <% kind = address.object.kind %>

      <% style = "" %>
      <% div_class = kind+"-div" %>
      <% if kind != 'home' %>
        <% if address.object.new_record? %>
          <% style="display:none;" %>
        <% else %>
          <% style="display:block;" %>
        <% end %>
      <% end %>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-xs-12 form-group form-group-lg">
          <% if kind == 'home' %>
            <div><strong><%=l10n("insured.enter_home_address")%></strong></div>
            <i class="fa fa-info-circle"></i> <%=l10n("insured.primary_home_address_info")%>
          <% elsif kind == 'mailing' %>
            <br>
            <strong><%=l10n("insured.enter_mailing_address")%></strong><br>
            <i class="fa fa-info-circle"></i> <%=l10n("insured.primary_mailing_address_info")%>
          <% end %>
        </div>
      </div>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
          <%= address.hidden_field :kind, value: address.object.kind %>
          <%= address.hidden_field :_destroy %>
          <% required = kind=='home' ? "address_required" : '' %>
          <%= address.text_field :address_1, placeholder: "#{kind.upcase} ADDRESS LINE 1 (NUMBER, STREET, QUADRANT) #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
      </div>
      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :address_2, placeholder: "#{kind.upcase} ADDRESS LINE 2 (APT, UNIT, ETC.)", class: "floatlabel form-control" %>
        </div>
      </div>

      <div style="<%= style %>" class="row row-form-wrapper no-buffer address-row <%= div_class %>">
        <div class="col-md-3 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.text_field :city, placeholder: "CITY #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= address.select(:state, options_for_select(State::NAME_IDS.map(&:last).sort, selected: address.object.state), {include_blank: "SELECT STATE #{'*' if required.present?}"}, required: required.present?, id:'state_id' ,class: "#{required}") %>
        </div>

        <div data-controller="zip-check">
          <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
            <%= address.text_field :zip, placeholder: "ZIP #{'*' if required.present?}", class: "number floatlabel form-control zip #{required}", required: required.present?, data: { action: true ? 'change->zip-check#zipChange' : '', 'child-index': "#{address.index.to_s}" } %>
          </div>

          <% if Settings.aca.display_county %>
            <div id="county-select-<%= f.index %>" class="county-select col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
              <% @counties = fetch_counties_by_zip(address.object) %>
              <% @empty_message = address.object.try(:zip).nil? ? 'Please provide a zip code' : "Zip code outside supported area" %>
              <% @counties = [@empty_message] if @counties.empty? %>
              <%= address.select(:county, options_for_select(@counties, selected: (address.object.try(:county) || @counties.first)),{},class:'form-control form-group-lg county-input no-selectric', data: { target: 'zip-check.countySelect', options: BenefitMarkets::Locations::CountyZip.county_names })%>
            </div>
          <% end %>
        </div>
      </div>

      <% if kind == 'home' %>
        <% if f.object.no_dc_address.blank? or f.object.no_dc_address == false or f.object.no_dc_address == 'false' %>
          <% style="display:none;" %>
        <% end %>
        <div style="<%= style %>" class="row no-buffer address-row show no-dc-address-reasons">
          <% if EnrollRegistry.feature_enabled?(:moving_to_state) %>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
              <div class="address_checkbox">
                <%= f.check_box :is_temporarily_out_of_state %>
                <label for="checkbox"><span><strong><%= l10n('insured.moving_to_dc') %></strong></span> <span><%= l10n('insured.moving_to_dc_extension') %></span></label>
              </div>
            </div>
          <% end %>
          <% if EnrollRegistry.feature_enabled?(:living_outside_state) %>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
              <div class="address_checkbox">
                <%= f.check_box :is_temporarily_out_of_state %>
                <label for="checkbox"><span><strong><%= l10n('insured.outside_dc') %></strong></span> <span><%= l10n('insured.outside_dc_extension') %></span></label>
              </div>
            </div>
          <% end %>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
            <div class="address_checkbox">
              <%= f.check_box :is_homeless %>
              <label for="checkbox"><span><strong><%= l10n('insured.dc_homeless') %></strong></span><span><%= l10n('insured.dc_homeless_extension') %></span></label>
            </div>
          </div>
        </div>
      <% end %>
    <% end%>
  </div>
</div>

<% remove_address_display_class = f.object.mailing_address.present? ? '' : 'dn' %>
<div
  tabindex='0'
  id='remove_applicant_mailing_address'
  class="form-action btn btn-default applicant-mailing-address <%= pundit_class Family, :updateable?%> <%= remove_address_display_class %>"
  >
  <%= l10n('faa.remove_mailing_address')%>
</div>

<% add_address_display_class = f.object.mailing_address.present? ? 'dn' : '' %>
<div
  tabindex="0"
  id="add_applicant_mailing_address"
  class="form-action btn btn-default applicant-mailing-address <%= pundit_class Family, :updateable?%> <%= add_address_display_class %>"
  >
  <%= l10n('faa.add_mailing_address')%>
</div>

</br>
