<% if @bs4 %>
  <div class="d-flex p-3 alert alert-warning d-flex hidden" id=<%="date_warning_message_#{form_object_id}"%> role="alert">
    <div class="pl-1 pr-2">
      <div class="warning-icon icon" alt='warning'>&nbsp;</div>
    </div>
    <div class="col p-0 pr-1 align-self-center">
      <% current_year = TimeKeeper.date_of_record.year.to_s %>
      <% next_year = (TimeKeeper.date_of_record + 1.year).year.to_s %>
      <ul class="list-unstyled mb-0" id="date_warnings_list">
        <li id=<%="start_date_warning_#{form_object_id}"%> class="hidden" data-cuke="start-date-warning">
          <%= l10n('faa.start_date_warning', start_date_field_label: l10n('start_date'), current_year: current_year, next_year: next_year) %>
        </li>
        <li id=<%="end_date_warning_#{form_object_id}"%> class="hidden" data-cuke="end-date-warning">
          <b><%= l10n("faa.incomes.end_date_header") %></b>
          <%= l10n("faa.incomes.end_date_warning", end_date_field_label: l10n('end_date')) %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="row hidden" id=<%="date_warning_message_#{form_object_id}"%>>
    <div class="col-md-12">
      <div class="alert alert-warning">
        <% current_year = TimeKeeper.date_of_record.year.to_s %>
        <% next_year = (TimeKeeper.date_of_record + 1.year).year.to_s %>
        <ul id="date_warnings_list">
          <li id=<%="start_date_warning_#{form_object_id}"%> class="hidden" data-cuke="start-date-warning">
            <%= l10n('faa.start_date_warning', start_date_field_label: l10n('from'), current_year: current_year, next_year: next_year) %>
          </li>
          <li id=<%="end_date_warning_#{form_object_id}"%> class="hidden" data-cuke="end-date-warning">
            <b><%= l10n("faa.incomes.end_date_header") %></b>
            <%= l10n('faa.incomes.end_date_warning', end_date_field_label: l10n('to')) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>