<% vlp_doc_subject = (defined? @vlp_doc_subject) ? @vlp_doc_subject : nil %>
<% document_upload = (defined? document_upload) ? document_upload : false %>
<% if @bs4 %>
  <div class="row row-form-wrapper no-buffer <%= 'hidden_field' if !document_upload && !show_vlp_documents_container(f.object) %>" id="vlp_documents_container">
  <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg <%= 'hidden_field' if !document_upload && !show_immigration_doc_type(f.object) %>" id='immigration_doc_type_select'>
    <label for="immigration_doc_type" class="weight-n"><%= l10n("insured.consumer_roles.select_doc_type") %></label>
    <%= select_tag :immigration_doc_type, options_for_select(VlpDocument.immigration_document_types, selected: vlp_doc_subject), {id: 'immigration_doc_type', prompt: l10n("insured.consumer_roles.select_doc_type")} %>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg <%= 'hidden_field' unless show_naturalization_doc_type(f.object) %>" id="naturalization_doc_type_select">
    <label for="naturalization_doc_type" class="weight-n"><%= l10n("insured.consumer_roles.select_doc_type") %></label>
    <%= select_tag :naturalization_doc_type, options_for_select(FinancialAssistance::Applicant::NATURALIZATION_DOCUMENT_TYPES, selected: vlp_doc_subject), {id: 'naturalization_doc_type', prompt: l10n("insured.consumer_roles.select_doc_type")} %>
  </div>

  <input id="vlp_doc_target_id" value='<%= f.object.id %>' type='hidden' />
  <input id="vlp_doc_target_type" value='<%= f.object.class %>' type='hidden' />
  <input id="vlp_doc_target_url" value='<%= immigration_document_options_application_applicants_path(@application) %>' type='hidden' />

  <div class="vlp_doc_area col-md-12">
  </div>
</div>
<% else %>
<div class="row row-form-wrapper no-buffer <%= 'hidden_field' if !document_upload && !show_vlp_documents_container(f.object) %>" id="vlp_documents_container">
  <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg <%= 'hidden_field' if !document_upload && !show_immigration_doc_type(f.object) %>" id='immigration_doc_type_select'>
    <%= select_tag :immigration_doc_type, options_for_select(VlpDocument.immigration_document_types, selected: vlp_doc_subject), {id: 'immigration_doc_type', prompt: l10n("insured.consumer_roles.select_doc_type")} %>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg <%= 'hidden_field' unless show_naturalization_doc_type(f.object) %>" id="naturalization_doc_type_select">
    <%= select_tag :naturalization_doc_type, options_for_select(FinancialAssistance::Applicant::NATURALIZATION_DOCUMENT_TYPES, selected: vlp_doc_subject), {id: 'naturalization_doc_type', prompt: l10n("insured.consumer_roles.select_doc_type")} %>
  </div>

  <input id="vlp_doc_target_id" value='<%= f.object.id %>' type='hidden' />
  <input id="vlp_doc_target_type" value='<%= f.object.class %>' type='hidden' />
  <input id="vlp_doc_target_url" value='<%= immigration_document_options_application_applicants_path(@application) %>' type='hidden' />

  <div class="vlp_doc_area col-md-12">
  </div>
</div>

<% if vlp_doc_subject.present? %>
  <script type="text/javascript">
    $(document).ready(function(){
      showOnly("<%= vlp_doc_subject %>");
    });
  </script>
<% end %>
<% end %>
