<% if show_faa_status %>
    <div class = "faa-status">
      <%= render partial: 'financial_assistance/shared/status', locals: {application: @application} %>
    </div>
<% end %>

<% if content_for? :submit_button %>
  <%= yield :submit_button %>
<% else %>
  <% unless (action_name == "eligibility_results" || action_name == "review") && (params.keys.exclude?"cur") %>
    <%= link_to_with_noopener_noreferrer('Continue', next_url, class: 'btn btn-lg btn-primary btn-block', id: 'btn-continue', disabled: (local_assigns[:disabled].nil? ? false : disabled)) %>
  <% end %>
<% end %>

<ul class='list-unstyled list-right-section'>
  <li>
    <%= link_to_with_noopener_noreferrer('PREVIOUS', previous_url) %>
  </li>
  <li>
    <a href="#">
      <%# <%= image_tag 'icons/list.png' %>
      SAVE &amp; EXIT
    </a>
    <br>
    <br>
  </li>
  <li>
    <p class="aside-text">
      If you select Save &amp; Exit, you can save your work and continue where you left off the next time you login.
    </p>
  </li>
  <br class="clear">
</ul>

<%= render partial: 'shared/help_me_sign_up' %>
<%= render partial: 'ui-components/v1/modals/help_with_plan' %>

<script>
  // Without this, the user can use the continue button to continue to navigate through the workflow via the enter button.
  // The original approach with the disabled setting does not prevent keyboard navigation, only use of mouse clicks.
  document.addEventListener('keydown', function(event) {
    if (event.key === 'Enter' && event.target.id === 'btn-continue' && event.target.getAttribute('disabled') === 'disabled') {
      event.preventDefault();
    }
  });
</script>
