<div class="content landing">
	<%= render "exchanges/scheduled_events/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>
<%= form_for @scheduled_event, as: :scheduled_event, url: {action: "update"} do |f| %>
  <%= render "event_form", f: f  %>
<% end %>
<div class="container content-bottom">
  <%= link_to "Delete Event", exchanges_scheduled_event_path(@scheduled_event), class: "btn btn-danger", method: :delete %>
</div>