<h1>Events</h1>

<p>
  <strong>Event Type:</strong>
  <%= @scheduled_event.type %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @scheduled_event.event_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @scheduled_event.recurring_rules %>
</p>

<%= link_to 'Back', exchanges_scheduled_events_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_exchanges_scheduled_event_path(@scheduled_event), class: "btn btn-default" %>
