%person_name
  %person_surname= person_name.last_name
  %person_given_name= person_name.first_name
  - if !person_name.middle_name.blank?
    %person_middle_name= person_name.middle_name
  - if !person_name.full_name.blank?
    %person_full_name=person_name.full_name
  - if !person_name.name_pfx.blank?
    %person_name_prefix_text= person_name.name_pfx
  - if !person_name.name_sfx.blank?
    %person_name_suffix_text= person_name.name_sfx
  - if !person_name.alternate_name.blank?
    %person_alternate_name=person_name.alternate_name