<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IVL Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
                'Jan',
                'Feb'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            <% @total_policies.each do |policy| %>
            name: 'Census',
            data: [<%= policy.census_one %>, <%= policy.census_two %>, <%= policy.census_three %>, <%= policy.census_four %>, <%= policy.census_five %>, <%= policy.census_six %>, <%= policy.census_seven %>, <%= policy.census_eight %>, <%= policy.census_nine %>, <%= policy.census_ten %>, <%= policy.census_eleven %>, <%= policy.census_twelve %>]
        }, {
            name: 'Covered Lives',
            data: [<%= policy.policies_one %>, <%= policy.policies_two %>, <%= policy.policies_three %>, <%= policy.policies_four %>, <%= policy.policies_five %>, <%= policy.policies_six %>, <%= policy.policies_seven %>, <%= policy.policies_eight %>, <%= policy.policies_nine %>, <%= policy.policies_ten %>, <%= policy.policies_eleven %>, <%= policy.policies_twelve %>]
            }]
            <% end %>
        });
    });
</script>
        
<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr2').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            spacingBottom: 10,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec',
                'Jan',
                'Feb'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            <% @policies_by_month.each do |monthly_policies| %>
            name: 'Month 13-24',
            data: [<%= monthly_policies.policies_thirteen_one %>, <%= monthly_policies.policies_thirteen_two %>, <%= monthly_policies.policies_thirteen_three %>, <%= monthly_policies.policies_thirteen_four %>, <%= monthly_policies.policies_thirteen_five %>, <%= monthly_policies.policies_thirteen_six %>, <%= monthly_policies.policies_thirteen_seven %>, <%= monthly_policies.policies_thirteen_eight %>, <%= monthly_policies.policies_thirteen_nine %>, <%= monthly_policies.policies_thirteen_ten %>, <%= monthly_policies.policies_thirteen_eleven %>, <%= monthly_policies.policies_thirteen_twelve %>]
            }, {
            name: 'Month 1-12',
            data: [<%= monthly_policies.policies_one_one %>, <%= monthly_policies.policies_one_two %>, <%= monthly_policies.policies_one_three %>, <%= monthly_policies.policies_one_four %>, <%= monthly_policies.policies_one_five %>, <%= monthly_policies.policies_one_six %>, <%= monthly_policies.policies_one_seven %>, <%= monthly_policies.policies_one_eight %>, <%= monthly_policies.policies_one_nine %>, <%= monthly_policies.policies_one_ten %>, <%= monthly_policies.policies_one_eleven %>, <%= monthly_policies.policies_one_twelve %>]
            }]
            <% end %>
        });
    });
</script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->
    <!-- TODO: This should move to Layout -->
<div class="module">
<div class="container-fluid ivl_dashboards" style="margin: 5px;"> 
<ul class="nav nav-pills">
 <li><a href="/covered/home" data-toggle="tab">IVL Covered Lives</a></li>
 <li><a href="ivl_policy.htm" data-toggle="tab">IVL Policies</a></li>
 <li class="active"><a href="/covered/home">SHOP Covered Lives</a></li>
 <li><a href="shop_policy.htm">SHOP Policies</a></li>
</ul>

<div class="row row-content">
<% @total_employers.each do |employers| %>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b><%= number_with_delimiter(employers.active_employers_count) %> Active Employers <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> <%= (employers.active_employers_change.to_f * 100).to_i %> YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b><%= (employers.new_employers_count.to_f * 100).to_i %>% Employees Enrolled <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> <%= (employers.new_employers_change.to_f * 100).to_i %>% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b><%= number_with_delimiter(employers.total_policies_count) %> Total Covered <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> <%= (employers.total_policies_change.to_f * 100).to_i %>% YoY</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<div class="panel panel-default">
  <div class="panel-body"><b><%= number_with_delimiter(employers.month_policies_count) %> <%= employers.month %> Start <span class="glyphicon glyphicon-arrow-up" style="color: green"></span></b> <%= (employers.month_policies_change.to_f * 100).to_i %>% YoY</div>
</div>
</div>
<% end %>
</div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed">
    <thead>
    
    <tr class="tabSpc1">
       <td class="texLef" colspan="4">Employer <a href="ivl_enroll.htm">More Information</a></td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
     <% @brokers.each do |broker| %>
       <th class="texLef">Broker</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">Yes</td>
       <td><%= number_with_delimiter(broker.yes_count) %></td>
       <td><%= (broker.yes_share.to_f * 100).to_i %>%</td>
       <td><%= (broker.yes_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">No</td>
       <td><%= number_with_delimiter(broker.no_count) %></td>
       <td><%= (broker.no_share.to_f * 100).to_i %>%</td>
       <td><%= (broker.no_yoy.to_f * 100).to_i %>%</td>
       <% end %>
     </tr>

     <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
     <% @plans.each do |plan| %>
       <th class="texLef">Choice</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">1-Plan</td>
       <td> <%= number_with_delimiter(plan.plan_count) %></td>
       <td> <%= (plan.plan_share.to_f * 100).to_i %>%</td>
       <td> <%= (plan.plan_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">1-Carrier</td>
       <td><%= number_with_delimiter(plan.carrier_count) %></td>
       <td><%= (plan.carrier_share.to_f * 100).to_i %>%</td>
       <td><%= (plan.carrier_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">1-Metal</td>
       <td><%= number_with_delimiter(plan.metal_count) %></td>
       <td><%= (plan.metal_share.to_f * 100).to_i %>%</td>
       <td><%= (plan.metal_yoy.to_f * 100).to_i %>%</td>
       <% end %>
     </tr>

     <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
     <% @employer_contribution.each do |contribution| %>
       <th class="texLef">Employer Contribution</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">100%</td>
       <td><%= number_with_delimiter(contribution.hundred_count) %></td>
       <td><%= (contribution.hundred_share.to_f * 100).to_i %>%</td>
       <td><%= (contribution.hundred_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">51-99%</td>
       <td><%= number_with_delimiter(contribution.fiftyone_count) %></td>
       <td><%= (contribution.fiftyone_share.to_f * 100).to_i %>%</td>
       <td><%= (contribution.fiftyone_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">50%</td>
       <td><%= number_with_delimiter(contribution.fifty_count) %></td>
       <td><%= (contribution.fifty_share.to_f * 100).to_i %>%</td>
       <td><%= (contribution.fifty_yoy.to_f * 100).to_i %>%</td>
       <% end %>
     </tr>

     <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
     <% @employer_benefits.each do |benefits| %>
       <th class="texLef">New Hire Benefits</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">Date of Hire</td>
       <td><%= number_with_delimiter(benefits.date_of_count) %></td>
       <td><%= (benefits.date_of_share.to_f * 100).to_i %>%</td>
       <td><%= (benefits.date_of_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">1st of Month</td>
       <td><%= benefits.first_month_count %></td>
       <td><%= (benefits.first_month_share.to_f * 100).to_i %>%</td>
       <td><%= (benefits.first_month_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">1st After 30 Days</td>
       <td><%= benefits.first_thirty_count %></td>
       <td><%= (benefits.first_thirty_share.to_f * 100).to_i %>%</td>
       <td><%= (benefits.first_thirty_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">1st After 60 Days</td>
       <td><%= benefits.first_sixty_count %></td>
       <td><%= (benefits.first_sixty_share.to_f * 100).to_i %>%</td>
       <td><%= (benefits.first_sixty_yoy.to_f * 100).to_i %>%%</td>
       <% end %>
     </tr>

    <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr class="tabSpc1">
     <% @census_members.each do |census| %>
       <td class="texLef" colspan="4">Employee <a href="ivl_enroll.htm">More Information</a></td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
       <th class="texLef">Census</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">Enrolled</td>
       <td><%= number_with_delimiter(census.enrolled_count) %></td>
       <td><%= (census.enrolled_share.to_f * 100).to_i %>%</td>
       <td><%= (census.enrolled_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">Not-Enrolled</td>
       <td><%= number_with_delimiter(census.not_enrolled_count) %></td>
       <td><%= (census.not_enrolled_share.to_f * 100).to_i %>%</td>
       <td><%= (census.not_enrolled_yoy.to_f * 100).to_i %>%</td>
       <% end %>
     </tr>

     <tr>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
     <% @family_members.each do |family| %>
       <th class="texLef">Family Size</th>
       <th>#</th>
       <th>%</th>
       <th>YoY</th>
     </tr>
     <tr>
       <td class="texLef">1-Member</td>
       <td><%= number_with_delimiter(family.one_count) %></td>
       <td><%= (family.one_share.to_f * 100).to_i %>%</td>
       <td><%= (family.one_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">2-Members</td>
       <td><%= number_with_delimiter(family.two_count) %></td>
       <td><%= (family.two_share.to_f * 100).to_i %>%</td>
       <td><%= (family.two_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">3-Members</td>
       <td><%= number_with_delimiter(family.three_count) %></td>
       <td><%= (family.three_share.to_f * 100).to_i %>%</td>
       <td><%= (family.three_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">4-Members</td>
       <td><%= number_with_delimiter(family.four_count) %></td>
       <td><%= (family.four_share.to_f * 100).to_i %>%</td>
       <td><%= (family.four_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">5-Members</td>
       <td><%= number_with_delimiter(family.five_count) %></td>
       <td><%= (family.five_share.to_f * 100).to_i %>%</td>
       <td><%= (family.five_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">6-Members</td>
       <td><%= number_with_delimiter(family.six_count) %></td>
       <td><%= (family.six_share.to_f * 100).to_i %>%</td>
       <td><%= (family.six_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <tr>
       <td class="texLef">7+ Members</td>
       <td><%= number_with_delimiter(family.seven_count) %></td>
       <td><%= (family.seven_share.to_f * 100).to_i %>%</td>
       <td><%= (family.seven_yoy.to_f * 100).to_i %>%</td>
     </tr>
     <% end %>
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   


<h5>Employee Census and Total Covered Lives</h5>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h5>Covered Lives by Start Month</h5>
<div id="barYr2" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h5>Employer Conversion Project</h5>
   <table class="table table-hover table-condensed"> 
   <% @conversion_widgets.each do |conversion| %> 
   <thead>
     <tr>
       <th class="texLef">Start</th>
       <th><%= conversion.month_one %></th>
       <th><%= conversion.month_two %></th>
       <th><%= conversion.month_three %></th>
       <th><%= conversion.month_four %></th>
       <th><%= conversion.month_five %></th>
       <th><%= conversion.month_six %></th>
       <th><%= conversion.month_seven %></th>
       <th><%= conversion.month_eight %></th>
       <th><%= conversion.month_nine %></th>
       <th><%= conversion.month_ten %></th>
       <th><%= conversion.month_eleven %></th>
       <th><%= conversion.month_twelve %></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td class="texLef">Employers Projected</td>
       <td><%= conversion.projected_one %></td>
       <td><%= conversion.projected_two %></td>
       <td><%= conversion.projected_three %></td>
       <td><%= conversion.projected_four %></td>
       <td><%= conversion.projected_five %></td>
       <td><%= number_with_delimiter(conversion.projected_six) %></td>
       <td><%= conversion.projected_seven %></td>
       <td><%= conversion.projected_eight %></td>
       <td><%= conversion.projected_nine %></td>
       <td><%= conversion.projected_ten %></td>
       <td><%= conversion.projected_eleven %></td>
       <td><%= conversion.projected_twelve %></td>
     </tr>
     <tr>
       <td class="texLef">Employers Actual</td>
       <td><%= conversion.actual_one %></td>
       <td><%= conversion.actual_two %></td>
       <td><%= conversion.actual_three %></td>
       <td><%= conversion.actual_four %></td>
       <td><%= conversion.actual_five %></td>
       <td><%= number_with_delimiter(conversion.actual_six) %></td>
       <td><%= conversion.actual_seven %></td>
       <td><%= conversion.actual_eight %></td>
       <td><%= conversion.actual_nine %></td>
       <td><%= conversion.actual_ten %></td>
       <td><%= conversion.actual_eleven %></td>
       <td><%= conversion.actual_twelve %></td>
     </tr>
   </tbody>
   <%end%>
   </table>

    </div>
    </div>

    </div>
    </div>

    </div>
    </body>
</html>