<div class="panel col-xs-12">
  <div class="col-xs-11">
    <section class="col-xs-10">
      <header class="row">
        <h3 class="title heading-text">
          <%= "Benefit Application Details" %>
        </h3>
      </header>
    </section>
    <div class="col-xs-2">
      <%= link_to "Edit Plan Year &nbsp;<i class='fas fa-pencil-alt' aria-hidden='true'></i>".html_safe, edit_benefit_sponsorship_benefit_application_path(f.parent.service.benefit_sponsorship, f.service.benefit_application), remote: true, class: "btn btn-default pull-right mrz mr-1"%>
    </div>
    <table>
    <tr>
      <td>
        <header>Coverage Start On</header>
      </td>
      <td>
        <p>
          <%= f.parent.start_on %>
        </p>
      </td>
    </tr>
     <tr>
      <td>
        <header>Coverage End On</header>
      </td>
      <td>
        <p>
          <%= f.parent.end_on %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <header>Open Enrollment Start On</header>
      </td>
      <td>
        <p>
          <%= f.parent.open_enrollment_start_on %>
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <header>Open Enrollment End On</header>
      </td>
      <td>
        <p>
          <%= f.parent.open_enrollment_end_on %>
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <header>Full Time Employees</header>
      </td>
      <td>
        <p>
          <%= f.parent.fte_count %>
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <header>Part Time Employees</header>
      </td>
      <td>
        <p>
          <%= f.parent.pte_count %>
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <header>Medicare Second Payers</header>
      </td>
      <td>
        <p>
          <%= f.parent.msp_count %>
        </p>
      </td>
    </tr>
    </table>
  </div>
</div>