<div id="immigration_temporary_i_20_stamp_fields_container">
  <%= c.hidden_field :vlp_subject, value: "I-20 (Certificate of Eligibility for Nonimmigrant (F-1) Student Status)" %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/servis_id", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/i_94_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/passport_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/expiration_date", locals: {v: c, name: "Passport"} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/country_of_citizenship", locals: {v: c} %>
</div>
