<div id="machine_readable_immigrant_visa_fields_container">
  <%= c.hidden_field :vlp_subject, value: "Machine Readable Immigrant Visa (with Temporary I-551 Language)" %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/alien_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/passport_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/visa_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/expiration_date", locals: {v: c, name: "Temporary I-551"} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/country_of_citizenship", locals: {v: c} %>
</div>
