var plan_year_selection_loader;

ready = function() {

  // match health with dental offering selections
  $('.health .offerings input[type=checkbox]').on('change', function() {
    var checkedValue = $(this).closest('label').find('span').find('p').text();
    if ( $(this).is(':checked') ) {
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').removeAttr('disabled', false);
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').trigger('click');
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').prop('disabled');




    } else {
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').removeAttr('checked');

    }
  });

  // get all dental plan options for all plans option or for elected dental plans
  $('span:contains("Select Reference Plan"), label.elected_plan:contains("Custom")').on('click', function() {
    // $(this).closest('.reference-steps').find('div:first').hide();
    // $(this).closest('.nav-tabs').hide();
    if ( $(this).is(':contains("Custom")')) {
      var nav_option = 'custom';
      if ( $(this).closest('.benefit-group-fields').attr('custom') != undefined ) {
        var nav_option = 'all_plans';
      }
      var url = $(this).closest('li').find('.dental-reference-plans-link').attr('href');
    } else {
      var nav_option = 'all_plans';
      var url = $(this).closest('.reference-steps').find('.dental-reference-plans-link').attr('href');
    }
    var benefit_group = $(this).closest('.benefit-group-fields').data('benefit-group');
    var plan_year_id = $('a#generate-dental-carriers-and-plans').data('plan-year-id');
    var location_id = $(this).closest('.benefit-group-fields').attr('id');
    var carrier_id = 'all_plans';
    var start_on = $("#plan_year_start_on").val().substr(0,4);
    if ( $('h1:first:contains("Edit")').length > 0 ) {
      var is_edit = true;
    } else {
      var is_edit = false;
    }
    $.ajax({
      type: "GET",
      data:{
        plan_year_id: plan_year_id,
        location_id: location_id,
        carrier_id: carrier_id,
        start_on: start_on,
        nav_option: nav_option,
        benefit_group: benefit_group,
        is_edit: is_edit
      },
      url: url
    });
  });

  // js that runs on edit view
  if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
    onlyShowEnabledCarrierChoices();
    // add dental button for missing dental plans
    $('.edit-add-dental span').on('click', function() {
      $(this).closest('.row').slideUp();
      $(this).closest('.row').fadeOut();
      $(this).closest('.benefit-group-fields').find('.dental #edit_employer_cost_info_btn').hide();
      $(this).closest('.benefit-group-fields').find('.dental .nav-tabs input').removeAttr("checked");
      $(this).closest('.benefit-group-fields').find('.dental h1:first').html('Dental - Add Benefit Package <i class="fa fa-trash-o pull-right" style="margin-top: 10px;" data-toggle="tooltip" title="Remove"></i>');
      $(this).closest('.benefit-group-fields').find('.dental .currently-offered').text("Select which plans your employees will choose from.");
      $(this).closest('.benefit-group-fields').find('.dental #edit_employer_cost_info_btn').hide();
      $(this).closest('.benefit-group-fields').find('.dental .edit-offering').show();
      $(this).closest('.benefit-group-fields').find('.dental .reference-steps').show();
      $(this).closest('.benefit-group-fields').find('.dental:first').slideDown();
      Freebies.tooltip();

    });

    // get dental carrier names
    var dental_target_url = $('a#generate-dental-carriers-and-plans').attr('href');
    var plan_year_id = $('a#generate-dental-carriers-and-plans').data('planYearId');
    var location_id = $('.benefit-group-fields:last').attr('id');
    var active_year = $("#plan_year_start_on").val().substr(0,4);
    $.ajax({
      type: "GET",
      data:{
        active_year: active_year,
        plan_year_id: plan_year_id,
        location_id: location_id
      },
      url: dental_target_url

    });


    //alert('edit');
    //$('.add_fields').remove();
    $('.reference-steps').hide();
    $('.planyear-add-tab .controls:last, .select-dental-plan h4 .starter:first + span').show();

       $("#edit_employer_cost_info_btn .btn, #employer_cost_info_btn .btn").click(function(){
        var location_id = $(this).parents('.benefit-group-fields').attr('id');
        var reference_plan_id = $(this).parents('.benefit-group-fields').find('.ref-plan').val();
        if (reference_plan_id == "" || reference_plan_id == undefined) {
          return
        }
        calcEmployerContributions($('a#edit_employee_costs_link, a#employee_costs_link').attr('href'), location_id);
      })


    $('.change-plan').on('click', function() {
      if ( $(this).closest('.dental').length > 0 ) {
        var coverage_type = '.dental';
        original_ref = $(this).closest('.benefit-group-fields').find('.dental-ref-plan').val();
        $(this).closest('.benefit-group-fields').find('.dental .offered-plan').hide();
      } else {
        var coverage_type = '.health + ';
        original_ref = $(this).closest('.benefit-group-fields').find('.health .ref-plan').val();
      }
      $('.interaction-click-control-save-plan-year').addClass('disabled');
      $('.interaction-click-control-save-plan-year').prop('disabled',true);
      $(this).closest('.benefit-group-fields').find(coverage_type+' .reference-steps input').prop('checked', false);
      $(this).closest(coverage_type+' .edit-offering').hide();
      $(this).closest('.benefit-group-fields').find(coverage_type+' .reference-steps').show();
    });
    $('.cancel-plan-change').on('click', function() {

      $(this).closest('.benefit-group-fields').find('.offered-plan').show();
      $(this).closest('.benefit-group-fields').find('.nav-tabs li label').css({borderBottom: "solid 3px <%= EnrollRegistry[:cancel_plan_border].settings(:color).item %>", borderBottomLeftRadius: "6px", borderBottomRightRadius: "6px" });
      $(this).closest('.benefit-group-fields').find('.edit-offering').show();
      $(this).closest('.benefit-group-fields').find('.reference-steps input').prop('checked', false);
      $(this).closest('.benefit-group-fields').find('.selected-plan').hide();
      $(this).closest('.benefit-group-fields').find('.plan-options').hide();
      $(this).closest('.benefit-group-fields').find('.nav-tabs li').removeClass('active');
      $(this).closest('.benefit-group-fields').find('.ref-plan').val(original_ref);
      $(this).closest('.benefit-group-fields').find('.select-reference').hide();
      $(this).closest('.benefit-group-fields').find('.reference-plans').hide();
      $(this).closest('.reference-steps').hide();

    });
      start_on = $("#plan_year_start_on").val().substr(0,4);
      $('.plan-options a').each(function() {
        var url = $(this).attr('href');
        $(this).attr('href', url+"&start_on="+start_on);
      });
      $("#plan_year_start_on").on('change', function() {
        start_on = $(this).val().substr(0,4);
        $('.plan-options a').each(function() {
          var url = $(this).attr('href');
          $(this).attr('href', url+"&start_on="+start_on);
        });

      });

      function calcOfferedPlanContributions(url, location, coverage_type) {
        var benefit_group_index = $("#"+location).data('benefit-group-index');
        if ( coverage_type == '.health' ) {
          var reference_plan_id = $('#'+location+' .health .ref-plan').val();

          var premium_pcts = $("#"+location+ " .health .enabled .benefits-fields input.hidden-param").map(function() {
            return $(this).val();
          }).get();

          var is_offered = $("#"+location+ " .health .enabled .benefits-fields .checkbox label > input[type=checkbox]").map(function() {
            return $(this).is(":checked");
          }).get();
        } else {
          var reference_plan_id = $('#'+location+' .dental .dental-ref-plan').val();
          var premium_pcts = $("#"+location+ " .dental-benefits-fields input.hidden-param").map(function() {
            return $(this).val();
          }).get();

          var is_offered = $("#"+location+ " .dental-benefits-fields .checkbox label > input[type=checkbox]").map(function() {
            return $(this).is(":checked");
          }).get();

        }
        var plan_option_kind = $("#"+location+ " " + coverage_type +" .nav-tabs input[type=radio]:checked").val();
        var location_id = location;

        if (reference_plan_id == "" || reference_plan_id == undefined) {
          return
        }

        var start_date = $("#plan_year_start_on").val();
        if (start_date == "") {
          return
        }

        var composite_rating_tier_types = [ 'employee_only', 'employee_and_spouse', 'employee_and_one_or_more_dependents', 'family']
        var relationship_benefit_types = [ 'employee', 'spouse', 'domestic_partner', 'child_under_26', 'child_26_and_over']

        relation_benefits = {};

        if (plan_option_kind === 'sole_source') {
          premium_pcts.push(premium_pcts[premium_pcts.length - 1]);
          premium_pcts.push(premium_pcts[premium_pcts.length - 1]);
          is_offered.push(is_offered[is_offered.length - 1]);
          is_offered.push(is_offered[is_offered.length - 1]);

          composite_rating_tier_types.forEach(function(compositeTierType, index, composite_tier_types) {
            relation_benefits[index] = {
              "composite_rating_tier": compositeTierType,
              "employer_contribution_percent": premium_pcts[index],
              "offered": is_offered[index]
            }
          });
        } else {
          relationship_benefit_types.forEach(function(relationshipType, index, relationships) {
            relation_benefits[index] = {
              "relationship": relationshipType,
              "premium_pct": premium_pcts[index],
              "offered":  is_offered[0]
            }
          });
        }

        if ( $('h1:first:contains("Edit")').length > 0 ) {
          var is_edit = true;
        } else {
          var is_edit = false;
        }

        var data = {
          "start_on": $("#plan_year_start_on").val(),
          "reference_plan_id": reference_plan_id,
          "plan_option_kind": plan_option_kind,
          "location_id": location_id,
          "is_edit": is_edit,
          "coverage_type": coverage_type,
          "benefit_group_index": benefit_group_index
        }

        if (coverage_type == '.dental') {
          data["dental_relation_benefits"] = relation_benefits;
        }else if(coverage_type == '.sole_source') {
          data["composite_tier_contributions"] = relation_benefits;
        } else {
          data["relation_benefits"] = relation_benefits;
        }

        // runs on init

        $.ajax({
          type: "GET",
          url: url,
          dataType: 'script',
          data: data
        }).done(function() {
        });
      } // end calcOfferedPlanContributions

      $('.reference-steps').each(function() {
        if ( $(this).closest('.dental').length > 0 ) {
          var coverage_type = '.dental';
        } else {
          var coverage_type = '.health';
        }
        calcOfferedPlanContributions($('a#calc_offered_plan_contributions_link').data('href'), $(this).closest('fieldset').attr('id'), coverage_type);
      });
    // end EDIT PAGE js
  } else {
      $('.nav-tabs li input[type=radio]').prop('checked', false);
      $('#choose-coverage > * select').val("");
  }

  // give slider a starting place based on persisted form
  var slider_starting_values = $('.benefits-fields input.hidden-param, .dental-benefits-fields input.hidden-param').each(function() {
    $(this).closest('.form-group').find('.slider').attr('data-slider-value', $(this).val());
    $(this).closest('.form-group').find('.slide-label').html($(this).val()+"%");
  });

  // init slider
  $('.benefits-fields .slider, .dental-benefits-fields .slider').bootstrapSlider({
    formatter: function(value) {
      return 'Contribution Percentage: ' + value + '%';
    }



  });

  $(".plan-year-setup .benefits-fields .slider").on("slideStop", function(slideEvt) {

    $(this).closest('.form-group').find('.hidden-param').val(slideEvt.value).attr('value', slideEvt.value);
    $(this).closest('.form-group').find('.slide-label').text(slideEvt.value + "%");

    if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
      EmployerProfile.validateEditPlanYear();
    } else {
      EmployerProfile.validatePlanYear();
    }

  });

  //hide border bottom
  $('input[value="child_under_26"]').closest('.row-form-wrapper').attr('style','border-bottom: none;');
  $(".package-offering tr:contains('Child under 26')").closest('tr').attr('style','border-bottom: none;');
  // move start date to url for plan options
  $("#plan_year_start_on").on('change', function() {
    start_on = $(this).val().substr(0,4);
    $('.plan-options a').each(function() {
      var url = $(this).attr('href');
      $(this).attr('href', url+"&start_on="+start_on);
    });
    $('.view-summary').each(function() {
      var url = $(this).attr('href');
      $(this).attr('href', url+"&start_on="+start_on);
    });

  });

  //add start on date to end of summary link in reference plan options

    $('.plan-options > * input, .reference-plans > * input').prop('checked', false);

    $(document).on('change', '.offerings .fte:first input, .offerings .pte:first input, .offerings .msp:first input', function() {
      var change = $(this).val();
      $('#plan_year_fte_count').val(change);
    });

    // MAKE SLIDER AND ADJACENT INPUT FIELD MIRROR EACHOTHER
    $(document).on('change', '.plan-year-setup input.premium-storage-input', function() {
      if ( $(this).hasClass('slider') ) {
        $(this).on("slideStop", function(slideEvt) {
          var data = $(this).val();

          $(this).closest('.form-group').find('input').val(data);
          $(this).closest('.form-group').find('.slide-label').text(data + "%");
          if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
            EmployerProfile.validateEditPlanYear();
          } else {
            EmployerProfile.validatePlanYear();
          }
          if ( $(this).closest('.health').length > 0 ) {
          } else {
            var coverage_type = '.dental';
            var location_id = $(this).parents('.benefit-group-fields').attr('id');
            calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
          }


        });
      } else if ( $(this).hasClass('hidden-param') )  {
        var hidden = parseInt($(this).val());
        if (hidden < 0) {
          hidden = 0;
        } else if (hidden > 100) {
          hidden = 100;
        }
        var mySlider = $(this).closest('.form-group').find('input.slider');
        mySlider.bootstrapSlider('setValue', hidden);
        $(this).closest('.form-group').find('input.slider').attr('value', hidden).attr('data-slider-value', hidden);
        $(this).closest('.form-group').find('.slide-label').text(hidden + "%");
        $(this).val(hidden);
        if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
          EmployerProfile.validateEditPlanYear();
        } else {
          EmployerProfile.validatePlanYear();
        }
      }
    });

    $(document).on('click', '.nav-tabs li label', function() {
      if ( $(this).closest('.nav').parent().hasClass('health') ) {
        nav = '.health';
        $(this).closest('.benefit-group-fields').find('.reference-plans').hide();
        $(this).closest('.benefit-group-fields').find('.health.select-reference').remove();
        $(this).closest('.benefit-group-fields').find('.health.selected-plan, .health .referenceplan').hide();
      } else {
        nav = '.dental';
        $(this).closest('.benefit-group-fields').find('.dental-reference-plans').hide();
        $(this).closest('.benefit-group-fields').find('.dental.select-reference').remove();
        $(this).closest('.benefit-group-fields').find('.dental.selected-plan, .dental.referenceplan').hide();
        if ( $(this).is(':contains("By carrier")') ) {
          $(this).closest('.reference-steps').find('.elected-plans-continue').hide();
        }
      }
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li').removeClass('active');
      $(this).closest('.benefit-group-fields').find(nav+' .plan-options > * input, '+nav+' .reference-plans > * input').prop('checked', false);
      $(this).closest('li').addClass('active');
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li.active label').attr('style', '');
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li:not(.active) label').css({borderBottom: "none", borderBottomLeftRadius: "0", borderBottomRightRadius: "0" });

      if ($(this).find('input[type=radio]').is(':checked')) {
      } else {
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options > *').hide();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options > * input, '+nav+' .reference-plans > * input').prop('checked', 0);
        $(this).closest('.benefit-group-fields').find('.loading-container').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i></div>");
        $(this).find('input[type=radio]').prop('checked', true ).trigger('change');
      }
      var nav_tabs = $('.nav-tabs li input');

      if (nav_tabs.first().val() == 'sole_source') {
        nav_tabs.first().trigger('change');
      }

      });

    var showCarrierOptions = function() {
      if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
        EmployerProfile.validateEditPlanYear();

      } else {
        EmployerProfile.validatePlanYear();
      }
      if ( $(this).closest('.nav').parent().hasClass('health') ) {
        nav = '.health';
      } else {
        nav = '.dental';
      }
      if ($(this).attr('value') == "single_carrier") {
        $(this).closest('.benefit-group-fields').find(nav+' .carriers-tab').show();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();

      }
      else if ($(this).attr('value') == "metal_level") {
        $(this).closest('.benefit-group-fields').find(nav+' .metals-tab').show();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
      }
      else if ($(this).attr('value') == "single_plan") {
        if ( nav == '.health' ) {
          $(this).closest('.benefit-group-fields').find(nav+' .single-plan-tab').show();
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
        } else {
          $(this).closest('.benefit-group-fields').find(nav+' .single-plan-tab').show();
        }
      }
      else if ($(this).attr('value') == 'sole_source') {
        if ( nav == '.health' ) {
          $(this).closest('.benefit-group-fields').find(nav+' .sole-source-plan-tab').show();
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
        } else {
          $(this).closest('.benefit-group-fields').find(nav+' .sole-source-plan-tab').show();

        }
      }
    }

    $(document).on('change', '.health .nav-tabs li input', showCarrierOptions);
    $(document).on('change', '.dental .nav-tabs li input', showCarrierOptions);

    //toggle plan options checkbox through parent anchor
    var togglePlanOptions = function() {
      if ( $(this).closest('.elected-plans-tab').length == 0 ) {
        if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
          EmployerProfile.validateEditPlanYear();

        } else {
          EmployerProfile.validatePlanYear();
        }
        if ( $(this).closest('.plan-options').parent().hasClass('health') ) {
          nav = '.health';
          $(this).closest('.benefit-group-fields').find('.health.select-reference').remove();
          $(this).closest('.benefit-group-fields').find('.health.selected-plan, .health .referenceplan').fadeOut();
          $(this).closest('.benefit-group-fields').find('.reference-plans').css({ "height": "auto", "y-overflow": "default" })
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options input[type=radio]').attr('checked', 0);
        } else {
          nav = '.dental';
          $(this).closest('.benefit-group-fields').find('.dental .nav-tabs, .dental .plan-options, .dental .dental-plan-offering').hide();
          $(this).closest('.benefit-group-fields').find('.dental.select-reference').remove();
          $(this).closest('.benefit-group-fields').find('.dental.selected-plan, .dental.referenceplan').fadeOut();
          $(this).closest('.benefit-group-fields').find('.dental-reference-plans').css({ "height": "auto", "y-overflow": "default" })
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options input[type=radio]').attr('checked', 0);
        }

        if ($(this).find('input[type=radio]').is(':checked')) {
        } else {
          if ( nav == '.health' ) {
            $(this).closest('.benefit-group-fields').find('.reference-plans').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h5>Loading plans...</h5></div>");
            $(this).closest('.benefit-group-fields').find(".reference-plans").show();
          } else {
            $(this).closest('.benefit-group-fields').find('.dental-reference-plans').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h5>Loading plans...</h5></div>");
            $(this).closest('.benefit-group-fields').find(".dental-reference-plans").show();
          }
          $(this).find('input[type=radio]').prop('checked', true );

          if ($(this).parents('.carriers-tab').length > 0 ) {
            $(this).closest('.benefit-group-fields').find(nav+' .metals-tab input[type=radio]').prop('checked', 0 );
          }
          else if ($(this).parents('.metals-tab').length > 0 ) {
            $(this).closest('.benefit-group-fields').find(nav+' .carriers-tab input[type=radio]').prop('checked', 0 );
          } else {
            $(this).closest('.benefit-group-fields').find(nav+' .metals-tab input[type=radio],' +nav+' .carriers-tab input[type=radio]').prop('checked', 0 );
          }

        }
      }
    }
    $(document).on('click', '.health .plan-options a', togglePlanOptions);
    $(document).on('click', '.dental .plan-options a', togglePlanOptions);



// set reference_plan_id
$(document).on('click', '.reference-plan input[type=radio] + label', function() {
  // if ( $(this).closest('#dental-reference-plans-options-modal').length > 0 ) {
  //
  //   var reference_plan_id = $(this).closest('.reference-plan').find('input').attr('value');
  //   $(this).closest('.reference-plan').find('input').attr('checked', 1)
  //   var location_id = $(this).parents('fieldset').attr('id')
  //   $(this).parents('fieldset').find('.dental-ref-plan').val(reference_plan_id);
  //   $('body').removeClass('modal-open');
  // } else {
  //
  //   var reference_plan_id = $(this).closest('.reference-plan').find('input').attr('value');
  //   var location_id = $(this).parents('fieldset').attr('id')
  //
  //
  // }
  if ( $(this).closest('.dental').length > 0 ) {
    var coverage_type = '.dental';
    var reference_plan_id = $(this).closest('.dental .reference-plan').find('input').attr('value');
  } else {
    var coverage_type = '.health';
    var reference_plan_id = $(this).closest('.health .reference-plan').find('input').attr('value');
    $(this).closest('.benefit-group-fields').find(coverage_type+'.selected-plan').html("<br/><br/><div class=\'col-xs-12\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h4 style='text-align: center;'>Loading your reference plan preview...</h4></div>");

  }
  var location_id = $(this).parents('fieldset').attr('id');
  if (reference_plan_id != "" && reference_plan_id != undefined){
    var start_date = $("#plan_year_start_on").val();
    if (start_date == "") {
      return
    }
    $('#'+location_id+' '+coverage_type+'.selected-plan').show();

    calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
  };

});


  $('.contribution_handler').each(function() {
    $(this).change(function(){
      if ( $(this).closest('.health').length > 0 ) {
        var coverage_type = '.health';
      } else {
        var coverage_type = '.dental';
      }
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
    });
  });

  $('.contribution_slide_handler').each(function() {
    $(this).on("slideStop", function(slideEvt) {
      if ( $(this).closest('.health').length > 0 ) {
        var coverage_type = '.health';
      } else {
        var coverage_type = '.dental';

      }
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
    });
  });

$(document).on("click", ".reference_plan_info h4 span", function() {
  $(this).parents(".reference_plan_info").find('.content').toggle();
});
};



function calcEmployerContributions(url, location, coverage_type) {
  var coverage_type = coverage_type;

  var plan_option_kind = $("#"+location+" "+ coverage_type +" .nav-tabs input[type=radio]:checked").val();
  var location_id = location;
  var benefit_group_index = $("#"+location).data('benefit-group-index');
  if ( coverage_type == '.dental' ) {
    var elected_dental_plans = $("#"+location+" .elected-plans-tab input[type=checkbox]:checked");
    var elected_plan_ids = []
    elected_dental_plans.each(function() {
      elected_plan_ids.push($(this).val());
    });
  }


  if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1 ) {

    if ( coverage_type == '.dental' ) {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .dental-ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .dental-benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .dental-benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    } else {

      var reference_plan_id = $('#'+location+' '+ coverage_type +' .ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields input.hidden-param').map(function() {
        var input_val = parseInt($(this).val());
        var not_greater_than_one_hundred = Math.min(100,input_val);
        var not_less_than_zero = Math.max(0,not_greater_than_one_hundred);
        return not_less_than_zero;
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    }
  } else {
    // not on edit page?
    if ( coverage_type == '.dental' ) {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .dental-ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .dental-benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .dental-benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    } else {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .reference-plan input[type=radio]:checked').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    }
  }

  if (reference_plan_id == "" || reference_plan_id == undefined) {
    return
  }

  var start_date = $("#plan_year_start_on").val();
  if (start_date == "") {
    return
  }

  var composite_rating_tier_types = [ 'employee_only', 'family', 'employee_and_spouse', 'employee_and_one_or_more_dependents']
  var relationship_benefit_types = [ 'employee', 'spouse', 'domestic_partner', 'child_under_26', 'child_26_and_over']
  relation_benefits = {};

  if (plan_option_kind === 'sole_source') {
    premium_pcts.push(premium_pcts[premium_pcts.length - 1]);
    premium_pcts.push(premium_pcts[premium_pcts.length - 1]);

    composite_rating_tier_types.forEach(function(compositeTierType, index, composite_tier_types) {
      relation_benefits[index] = {
        "composite_rating_tier": compositeTierType,
        "employer_contribution_percent": premium_pcts[index],
        "offered":  is_offered[index]
      }
    });
  } else {
    relationship_benefit_types.forEach(function(relationshipType, index, relationships) {
      relation_benefits[index] = {
        "relationship": relationshipType,
        "premium_pct": premium_pcts[index],
        "offered":  is_offered[index]
      }
    });
  }

  var data = {
    "start_on": $("#plan_year_start_on").val(),
    "reference_plan_id": reference_plan_id,
    "plan_option_kind": plan_option_kind,
    "location_id": location_id,
    "coverage_type": coverage_type,
    "benefit_group_index": benefit_group_index,
    "elected_plan_ids": elected_plan_ids
  }

  if (coverage_type == '.dental') {
    data["dental_relation_benefits"] = relation_benefits;
  }else if(coverage_type == '.sole_source') {
    data["composite_tier_contributions"] = relation_benefits;
  } else {
    data["relation_benefits"] = relation_benefits;
  }

    // runs on slider change
  $.ajax({
    type: "GET",
    url: url,
    dataType: 'script',
    data: data
  }).done(function() {
  });

  $('#new_plan_year, #edit_plan_year').on('submit', function() {
    $('.interaction-click-control-create-plan-year').prop('disabled', true)
    $('.dental-benefits-fields .col-xs-6.form-group.form-group-lg label > input').removeAttr('disabled');
  });
}

function attachEmployerHealthContributionShowHide() {
	$(document).on("click", "div.health li:has(label.elected_plan)", function() {
		var offering_id = $(this).attr("data-offering-id");
		var option_kind = $(this).attr("data-offering-kind");
		if (option_kind == "sole_source") {
			$("div[data-offering-target='" + offering_id + "']").hide();
      $("div[data-offering-target='" + offering_id + "']").removeClass('enabled');

			$("div[data-offering-target='composite_" + offering_id + "']").removeClass("hidden");
      $("div[data-offering-target='composite_" + offering_id + "']").addClass("enabled");

			$("div[data-offering-target='composite_" + offering_id + "']").show();
		} else {

			$("div[data-offering-target='composite_" + offering_id + "']").hide();
      $("div[data-offering-target='composite_" + offering_id + "']").removeClass("enabled");
			$("div[data-offering-target='" + offering_id + "']").removeClass("hidden");
      $("div[data-offering-target='" + offering_id + "']").addClass("enabled");

			$("div[data-offering-target='" + offering_id + "']").show();
		}
	});
}

function confirmActivePlanYear() {
  var planYear = $('#plan_year_start_on').val() || "0000"
  planYear = planYear.substr(0,4);

  if($.inArray(planYear, <%= EnrollRegistry[:enroll_app].setting(:dental_plan_years_available).item %>) !== -1){
    $(".show-dental-plans").show();
  }else{
    $(".show-dental-plans").hide();
  }
}

function loadCarrierNames() {
  var start_on = $("#plan_year_start_on").val().substr(0,4);
  var selected_carrier_level = $(this).siblings('input').val();
  var employer_profile_id = $('#employerProfileId').data('value');
  var benefit_group_id = $('#benefitGroupId').data('value');
  var location_id = $(this).closest('fieldset').attr('id');
  var panel_id = $(this).closest('fieldset').attr('data-benefit-group');
  $.ajax({
    type: "GET",
    data:{
      start_on: start_on,
      selected_carrier_level: selected_carrier_level,
      benefit_group: benefit_group_id,
      location_id: location_id,
      panel_id: panel_id
    },
    url: "/employers/employer_profiles/" + employer_profile_id + "/plan_years/generate_health_carriers_and_plans"
  });
}

function onlyShowEnabledCarrierChoices() {
  var enabledYearsForSoleSource = <%= EnrollRegistry[:enroll_app].setting(:sole_source_carriers_available).item || [TimeKeeper.date_of_record.year.to_s] %>;
  var enabledYearsForMetalLevel = <%= EnrollRegistry[:enroll_app].setting(:metal_level_carriers_available).item || [TimeKeeper.date_of_record.year.to_s] %>;
  var enabledYearsForSingleCarrier = <%= EnrollRegistry[:enroll_app].setting(:single_carriers_available).item || [TimeKeeper.date_of_record.year.to_s] %>;
  var startOnYear = parseInt($("#plan_year_start_on").val()).toString();
  <% if Rails.env == 'test' %>
    var soleSourceEnabled = true;
    var singleCarrierEnabled = true;
    var metalLevelEnabled = true;
  <% else %>
    var soleSourceEnabled = (enabledYearsForSoleSource.indexOf(startOnYear) != -1);
    var singleCarrierEnabled = (enabledYearsForSingleCarrier.indexOf(startOnYear) != -1);
    var metalLevelEnabled = (enabledYearsForMetalLevel.indexOf(startOnYear) != -1);
  <% end %>

  if (soleSourceEnabled) {
    $('li.sole-source-tab').removeClass('hidden');
  } else {
    $('li.sole-source-tab').addClass('hidden');
  }

  if (metalLevelEnabled) {
    $('li.metal-level-tab').removeClass('hidden');
  } else {
    $('li.metal-level-tab').addClass('hidden');
  }

  if (singleCarrierEnabled) {
    $('li.single-carrier-tab').removeClass('hidden');
  } else {
    $('li.single-carrier-tab').addClass('hidden');
  }

}

$(document).ready(ready);
$(document).on('page:load', plan_year_selection_loader);
$(document).on('ready', attachEmployerHealthContributionShowHide);
$(document).on('ready', confirmActivePlanYear);
$(document).on('click','.health .nav-tabs label', loadCarrierNames);
$(document).on('change','#plan_year_start_on', onlyShowEnabledCarrierChoices);
