<div class="row row-form-wrapper no-buffer row-height">
	<div class="col-md-9">
   <span> <b> Common types of income you must report. </b></span>
 </div>
</div>
<div class="row row-form-wrapper no-buffer row-height">
  <div class="col-md-12">
    <span> Check any boxes that apply to this person and enter details when requested. </span>
  </div>
</div>
<br>  

<% other_income_kinds.each do |other_income_kind, label| %>
  <div class="other-income-kind">
    <div class="row row-form-wrapper no-buffer row-height">
      <div class="col-md-1">
        <%=check_box_tag "other_income_kind", other_income_kind, @applicant.incomes.of_kind(other_income_kind).present?, class: "other-income-checkbox-#{other_income_kind}" %> 
      </div>
      <div class="col-md-8">
        <%= label %>
      </div>
    </div>
    <div class="other-incomes-list">
      <% @applicant.incomes.of_kind(other_income_kind).each do |other_income| %>
      <div class="other-income">
        <%= render partial: 'other_income', locals: { other_income: other_income } %>
      </div>
      <% end %>
    </div>
    <div class='new-other-income-form hidden <%= other_income_kind %>'>
      <%= render partial: 'financial_assistance/incomes/other_income_form', locals: { other_income: @applicant.incomes.build, kind: other_income_kind} %>
    </div>
    <br />
  </div>
<% end %>
<br>
