<%= income_form_for @application, @applicant, income do |f| %>
  <!--- TODO: Hidden field tag needed here for income type of job -->
  <div class="focus_effect_module">
    <div class="row row-form-wrapper no-buffer row-height">
      <div class="col-md-3">
        <%= f.text_field :amount, placeholder: 'AMOUNT *', required: true, class: "floatlabel" %>
      </div>

      <div class="col-md-3">
        <%= f.label :frequency_kind, 'How Often *' %>
        <%= f.select :frequency_kind, options_for_select(frequency_kind_options, selected: income.frequency_kind), required: true %>
      </div>

      <div class="col-md-3">
        <%= f.text_field :start_on, placeholder: 'FROM *', required: true, class: "floatlabel" %>
      </div>

      <div class="col-md-3">
        <%= f.text_field :end_on, placeholder: 'TO', required: true, class: "floatlabel" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pull-right">
        <a class="btn btn-default income-cancel">Cancel</a>
        <%= f.submit 'Save', class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>