<%= income_form_for @application, @applicant, income do |f| %>
  <%= f.hidden_field :kind, value: 'net_self_employment' %>
  <div class="focus_effect_module row-edit-border">
    <div class="row row-form-wrapper no-buffer row-height">
      <div class="col-md-3">
        <%= f.text_field :amount, placeholder: 'AMOUNT *', required: true, class: "floatlabel" %>
      </div>

      <div class="col-md-3 fa-select select-box">
        <%= f.label :frequency_kind, 'How Often *', class: "label-color" %>
        <%= f.select :frequency_kind, options_for_select(frequency_kind_options, selected: income.frequency_kind), {prompt: 'Choose' }, {:required => true} %>
      </div>

      <div class="col-md-3">
        <%= f.text_field :start_on, placeholder: 'FROM *', required: true, id: "start_on_#{income.id}", class: "datepicker-js floatlabel" %>
      </div>

      <div class="col-md-3">
        <%= f.text_field :end_on, placeholder: 'TO', id: "end_on_#{income.id}", class: "datepicker-js floatlabel" %>
      </div>
  </div>
  </div>

    <div class="row">
      <div class="col-md-3 pull-right cancel-save-mt">
        <a class="btn btn-default income-cancel">Cancel</a>
        <%= f.submit 'Save', class: 'btn btn-danger' %>
      </div>
    </div>
<% end %>