<div class="col-md-7">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title-inline"><b>INCOME for <%= @applicant.family_member.person.first_name.titleize %></b></h3>
    </div>
  </div>

  <div>
  <h4>Allow the following questions for this person. When you're finished, select CONTINUE</h4>
     <%= render "income_questions"%>
     <% if @applicant.incomes.present? %>
      <table class="table">
        <th>Income Type</th>
        <th></th>
        <th></th>
        <% @applicant.incomes.each do |income| %>
          <tr>
            <td><%=income.kind%></td>
            <td><%= link_to "Edit", go_to_step_financial_assistance_application_applicant_income_path(@application, @applicant, income, 1), class: "btn btn-small btn-success" %></td>
            <td><%= link_to "Delete", financial_assistance_application_applicant_income_path(@application, @applicant, income), method: :delete, class: "btn btn-small btn-warning", data: { confirm: "Are you sure?" }%></td>
          </tr>
        <% end %>
      </table>
    <%end%>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
    <%= link_to "Add Income", new_financial_assistance_application_applicant_income_path(@application, @applicant), class: "btn btn-default center-block" %>
    </div>
  </div>

<div class="col-md-2">
  <%= link_to find_applicant_path(@application, @applicant, current: 'incomes') do %>
    <div id="btn-continue" class="button btn btn-lg btn-primary">CONTINUE</div>
  <% end %>

  <ul class="list-unstyled list-right-section">
    <li>
      <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 1) do %>
        <%= image_tag 'icons/list.png' %> PREVIOUS
      <% end %>
    </li>
  </ul>
</div>
