<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <h1 class="darkblue">Income for <%= @applicant.family_member.person.first_name.titleize %></h1>
    </div>
  </div>

  <div>
    <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
      <div class="col-md-11 form-heading">Income</div>
      <div class="col-md-1">
        <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 1) do %>
          <i class="glyphicon glyphicon-pencil grey-font"></i>
        <% end %>
      </div>
    </div>

    <% if @applicant.has_job_income %>
      <div class="row row-form-wrapper ptb no-buffer row-height form-content">
        <div class="col-md-8">Does this person have income from an employer (wages, tips, bonuses, etc) in 2017?</div>
        <div class="col-md-4">Yes</div>
      </div>
    <% end %>

    <% if @applicant.has_self_employment_income %>
      <div class="row row-form-wrapper ptb no-buffer row-height form-content">
        <div class="col-md-8">Is this person self employed?</div>
        <div class="col-md-4">Yes</div>
      </div>
    <% end %>

    <% if @applicant.has_other_income %>
      <div class="row row-form-wrapper ptb no-buffer row-height form-content">
        <div class="col-md-8">Does this person expect to have other types of income in 2017?</div>
        <div class="col-md-4">Yes</div>
      </div>
    <% end %>
    <br>
    <p>Incomes were created for you below based on your answers above, complete each income and then click CONTINUE.</p>
    <br>
    <% if @applicant.incomes.present? %>
      <table class="incomes-table table">
        <tr class="form-heading">
          <th class="form-heading">Income Type</th>
          <th class="form-heading">Status</th>
          <th></th>
          <th></th>
        </tr>
        <% @applicant.incomes.each do |income| %>
          <tr>
            <td><%= income.kind.nil? ? "Other Income" : income.kind.titleize %></td>
            <td>
              <% if income.valid? :submission %>
                <span class="glyphicon glyphicon-ok complete-icon"></span>&nbsp;<span class="complete-icon">Complete</span>
              <% else %>
                <span class="glyphicon glyphicon-refresh in-progress-icon"></span>&nbsp;<span class ="in-progress-icon">In Progress</span>
              <% end %>
            </td>
            <td><%= link_to "Edit", go_to_step_financial_assistance_application_applicant_income_path(@application, @applicant, income, 1), class: "btn btn-small btn-success" %></td>
            <td>
              <%= link_to financial_assistance_application_applicant_income_path(@application, @applicant, income), method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class='fa fa-trash-o'></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <%end%>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-4">
    <%= link_to "Add Income", new_financial_assistance_application_applicant_income_path(@application, @applicant), class: "btn btn-default center-block" %>
  </div>
</div>

<div class='col-md-2'>
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
    previous_url: go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 2),
    next_url: find_applicant_path(@application, @applicant, current: 'incomes')
  } %>
</div>
<%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
