<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <div class="title-icon">
        <span class="fa-icon fa-stack suitcase">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-usd fa-stack-1x"></i>
        </span>
      </div>
      <h1 class="darkblue">
        <%= "Other " if @applicant.has_other_income %>Income for <%= @applicant.family_member.person.first_name.titleize %>
      </h1>
    </div>
  </div>
  <p>Tell us about this person's other income. When you're finished, select CONTINUE.</p>
  <br>

  <div class="row row-form-wrapper radio-align no-buffer">
    <div class='col-md-6 labelforcoverage'>
      <span class="fa-text-color">Does this person expect to have <b> income from other sources in 2017 ?</span>
    </div>
    <div class='col-md-6' style="line-height: 30px;">
      <div class='col-md-3'>
        <%= radio_button_tag("has_other_income", true, class: "radio-yml", id: "has_other_income_yes", required: true) %>
        <label class="radio-yml" for="has_other_income_yes">Yes</label>
      </div>
      <div class='col-md-3'>
        <%= radio_button_tag("has_other_income", false, class: "radio-yml", id: "has_other_income_no", required: true )%>
        <label class="radio-yml" for="has_other_income_no">No</label>
      </div>
      <div class='col-md-6'>
        <a href="#" data-toggle="modal" data-target="#">Not Sure?</a>
      </div>
    </div>
  </div>
  <br>

  <div id="collapseOne">
    <div class="row row-form-wrapper no-buffer row-height">
      <div class='col-md-12'>
        <h4 class="panel-title">
          <b> Common types of income you must report. </b> &nbsp
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </h4>
      </div>
    </div>
    <div class="row row-form-wrapper no-buffer row-height">
      <div class='col-md-12 lightgray fa-text-color'>
        Check any boxes that apply to this person and enter details when requested.
      </div>
    </div> <br>
    <% FinancialAssistance::Income::OTHER_INCOME_TYPE_KIND.each do |kind, label| %>
      <div class="other-income">
        <div class="row row-form-wrapper lightgray radio-align fa-text-color no-buffer row-height">
          <div class='col-md-12'>
            <label><input type="checkbox" class="other-income-checkbox" title="Select this box to enter details" value="<%= kind %>"> &nbsp &nbsp <%= label %></label>
          </div>
        </div>

        <div class="incomes-list">
          <% if @applicant.incomes.by_income_kind(kind).present? %>
            <%= render partial: 'financial_assistance/incomes/other_income', collection: @applicant.incomes.by_income_kind(kind), as: :income %>
          <% end %>
          <a class='add-new-income btn btn-default hidden'>Add Another Income</a>
        </div>
        <div class='new-income-form hidden'>
          <%= render partial: 'financial_assistance/incomes/other_income_form', locals: { income: @applicant.incomes.build(kind: kind), disabled: true } %>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <br>

  <div class="col-xs-12">
    <span> <i class="glyphicon glyphicon-triangle-left" aria-hidden="true"></i> </span> <a href=" <%= edit_financial_assistance_application_path(@application) %> ">BACK TO ALL HOUSEHOLD MEMBERS</a>
    <span>(Go back and work on another person)</span>
  </div>

  <!-- Hidden unsaved income modal -->
  <div class="modal fade" id="unsavedIncomeChangesWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Unsaved Income Changes</h4>
        </div>
        <div class="modal-body">
          You have made changes to an income that are not yet saved. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='col-md-2'>
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
    previous_url: go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 2),
    next_url: find_applicant_path(@application, @applicant, current: 'incomes')
  } %>
</div>
<%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
