<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CIO Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
<style>
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}
h4{ 
  background-color: #E8E8E8;
}
td, th {
  text-align: center;
  /*border-right: solid 1px #000000; 
  border-left: solid 1px #000000;*/
}
.texLef{
  text-align: left;
}
/*
table {
  border: 1px solid #000000;
}*/
.vert1 {
  border-left: 1px solid #000000;
}

.row.vertical-divider > div[class^="td"] {
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.row.vertical-divider div[class^="td"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="td"]:last-child {
  border-right: none;
}
}
section {
  clear: left;
}
</style>
<script type="text/javascript">
$(function () {
    $('#events1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            height: 200
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                'One Big SHOP',
                'Financial Management',
                'Reporting',
                'B2B Gateway',
                'QHP Integration'

            ]
        },
        yAxis: [{
            min: 0,
            title: {
                text: 'Percent',
                margin: 40
            }
        }, {
            title: {
                text: ''
            },
            opposite: true
        }],
        legend: {
            shadow: false,
            itemDistance: 50
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            shared: true
        },
        plotOptions: {
            column: {
                grouping: false,
                shadow: false,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Target',
            color: 'rgba(165,170,217,1)',
            data: [60, 50, 60, 25, 25],
            pointPadding: 0.3,
            pointPlacement: -0.0
        }, {
            name: 'Completed',
            color: 'rgba(126,86,134,.9)',
            data: [65, 48, 38, 25, 25],
            pointPadding: 0.4,
            pointPlacement: -0.0
        }]
    });
});
        </script>

<script type="text/javascript">
$(function () {

    $('#web1').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },


        title: {
            text: ''
        },

        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },

        yAxis: {
            categories: ['Page Views'],
            title: null
        },

        colorAxis: {
            min: 6,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },

         legend: {
            enabled: false
        },

        credits: {
            enabled: false
        },

        exporting: {
            enabled: false
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> thousand <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },

        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 9.1], [1, 0, 6.9], [2, 0, 8], [3, 0, 8.1], [4, 0, 7.4], [5, 0, 8.1], [6, 0, 7.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]

    });
});
        </script>

<script type="text/javascript">
$(function () {

    $('#web2').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 3,
            marginBottom: 3,
            plotBorderWidth: 1
        },


        title: {
            text: ''
        },

        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        },

        yAxis: {
            categories: ['load Time'],
            title: null
        },

        colorAxis: {
            min: 1,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },

         legend: {
            enabled: false
        },

        credits: {
            enabled: false
        },

        exporting: {
            enabled: false
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b> seconds <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },

        series: [{
            name: 'Web Activity',
            borderWidth: 1,
            data: [[0, 0, 1.1], [1, 0, 1.9], [2, 0, 1], [3, 0, 1.1], [4, 0, 1.4], [5, 0, 1.1], [6, 0, 1.3]],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]

    });
});
        </script>

</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="container-fluid">


    <div class="row row-content">
    <div class="col-xs-6 col-sm-6">
        <h4>SHOP 90 Day Pipeline</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Effective Month</th>
        <th>Est. Convert</th>
        <th>Real Convert</th>
        <th>Est. Renew</th>
        <th>Real Renew</th>
        <th>Est. New</th>
        <th>Real New</th>    
      </tr>
    </thead>
    <%@pipelines.each do |pipeline|%>
    <% next if pipeline.effective_month.nil? %>
        <tbody>
          <tr>
            <td></td>
            <td><%=Date.strptime(pipeline.effective_month,"%Y-%m").strftime("%b-%Y")%></td>
            <td ><%=pipeline.est_convert_value%></td>
            <td ><%=pipeline.real_convert_value%></td>
            <td class="vert1"><%=pipeline.est_renew_value%></td>
            <td ><%=pipeline.real_renew_value%></td>
            <td class="vert1"><%=pipeline.est_new_value%></td>
            <td ><%=pipeline.real_new_value%></td>
          </tr>
    <%end%>
    </tbody>
    </table>
        <h4>Funds Transfer</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Carrier</th>
        <th>Amount</th>
        <th>Month Change</th>
        <th>Year Change</th>
      </tr>
    </thead>
    <% def separate_comma(number)%>
        <%number = number.to_s.split('.')%>
        <%number[0].reverse!.gsub!(/(\d{3})(?=\d)/, '\\1,').reverse!%>
        <%number.join('.')%>
    <%end%>
    <%@fundtransfers.each do |fundtransfer|%>
        <tbody>
         <tr> 
            <td ><%=fundtransfer.carrier%></td>
            <td class="vert1">$<%=separate_comma(fundtransfer.amount)%></td>
            <td class="vert1"><%=fundtransfer.month_change_value.to_f * 100%>%</td>
            <td class="vert1"><%=fundtransfer.year_change_value.to_f * 100 %>%</td>
         </tr>
      <%end%>
    </tbody>
    </table>
        <h4>Redmine - SLA Performance</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Ticket_Type</th>
        <th>Total Open</th>
        <th>7-Day Close</th>
        <th>7-Day Open</th>
        <th>Avg Days</th>
        <th>Target Days</th>
        <th>Index</th>
        <th>7-Day Change</th>
      </tr>
    </thead>
    <%@redmines.each do |redmine|%>
    <tbody>
     <tr> 
        <td ><%=redmine.ticket_type%></td>
        <td ><%=redmine.total_open_value%></td>
        <td class="vert1"><%=redmine.closed_7_day_value%></td>
        <td ><%=redmine.opened_7_day_value%></td>
        <td class="vert1"><%=redmine.avg_days_value%></td>
        <td ><%=redmine.target_days_value%></td>
        <td class="vert1"><%=redmine.index_value%></td>
        <td ><%=redmine.change_7_day_value%></td>
     </tr>
      <%end%>
    </tbody>
    </table>
    </div>


    <div class="col-xs-6 col-sm-6">
    <h4>Upcoming Events</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Event</th>
        <th>Impact</th>
        <th>On Schedule (Days)</th>
        <th>Event Date</th>
      </tr>
    </thead>
        <%@events.each do |events|%>
    <tbody>
     <tr> 
        <td ><%=events.event_value%></td>
        <td ><%=events.impact_value%></td>
        <td ><%= events.on_schedule_days_value.present? ? events.on_schedule_days_value : "N/A" %></td>
        <td><%=Date.strptime(events.event_date_value,"%Y-%m-%d").strftime("%m-%d-%Y")%></td>
     </tr>
        <%end%>
      
    </tbody>
    </table>
    
    <h4>Major Projects</h4>
    <div id="events1" style="min-width: 250px; max-width: 600px; height: 220px; margin: 0 auto"></div>
    <br>

        <h4>Now - Web Activity as of <%=Time.now.strftime('%a %d %b %Y')%></h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="texLef">Apdex Score</th>
        <th></th>
        <th class="texLef">Page Views</th>
        <th></th>
        <th class="texLef">New Visitors</th>
        <th></th>
        <th class="texLef">Return Visitors</th>
        <th></th>
        <th class="texLef">Load Time</th>
        <th></th>
        <th class="texLef">Avg Session</th>
      </tr>
    </thead>
    <%@webactivitys.each do |web|%>
    <tbody>
      <tr>
        <td></td>
        <td class="texLef"><%=web.apdex_value%></td>
        <td><span class="glyphicon glyphicon-asterisk" style="color: green"></span></td>
        <td class="texLef"><%=web.page_views_value%></td>
        <td></td>
        <td class="texLef"><%=web.new_visitors_value%></td>
        <td></td>
        <td class="texLef"><%=web.return_visitors_value%></td>
        <td></td>
        <td class="texLef"><%=web.load_time_value%></td>
        <td></td>
        <td class="texLef"><%=web.avg_session_value%>s</td>
      </tr>
      <%end%>
    </tbody>
    </table>


        <h4>Now - Call Center as of <%=Time.now.strftime('%a %d %b %Y')%></h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="texLef">Received</th>
        <th></th>
        <th class="texLef">Answered</th>
        <th></th>
        <th class="texLef">Abandoned</th>
        <th></th>
        <th class="texLef">Avg Wait</th>
        <th></th>
        <th class="texLef">Max Wait</th>
      </tr>
    </thead>
    <%@callcenters.each do |center|%>
    <tbody>
      <tr>
        <td></td>
        <td class="texLef"><%=center.received_value%></td>
        <td></td>
        <td class="texLef"><%=center.answered_value%></td>
        <td></td>
        <td class="texLef"><%=center.abandoned_value%></td>
        <td><span class="glyphicon glyphicon-asterisk" style="color: red"></span></td>
        <td class="texLef"><%=center.avg_wait_value%>m</td>
        <td></td>
        <td class="texLef"><%=center.max_wait_value%>m</td>
      </tr>
      <%end%>
    </tbody>
    </table>

    </div>

</div>
</body>
</html>