<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CIO Dashboard</title>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->


<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- <header class="jumbotron jumbotron"> -->

        <!-- Main component for a primary marketing message or call to action -->

    <!-- <div class="container-fluid"> -->
            <!-- <div class="row row-header"> -->
                <!-- <h2>CIO Dashboard</h2> -->
            <!-- </div> -->
    <!-- </div> -->
    <!-- </header> -->

<div class="container-fluid">


    <div class="row row-content">
    <div class="col-xs-6 col-sm-6">
        <h4>SHOP 90 Day Pipeline</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Effective Month</th>
        <th>Est. Convert</th>
        <th>Real Convert</th>
        <th>Est. Renew</th>
        <th>Real Renew</th>
        <th>Est. New</th>
        <th>Real New</th>    
      </tr>
    </thead>
    <%@pipelines.each_with_index do |pipeline,index|%>
    <% next if pipeline.effective_month.nil? %>
        <tbody>
        <%
            indicator_class = get_indicator_class(pipeline)
        %>
          <tr>
            <td></td>
            <td><%= raw indicator_class %><%=Date.strptime(pipeline.effective_month,"%Y-%m").strftime("%b-%Y")%></td>
            <td ><%=pipeline.est_convert_value%></td>
            <td ><%=pipeline.real_convert_value%></td>
            <td class="vert1"><%=pipeline.est_renew_value%></td>
            <td ><%=pipeline.real_renew_value%></td>
            <td class="vert1"><%=pipeline.est_new_value%></td>
            <td ><%=pipeline.real_new_value%></td>
          </tr>
    <%end%>
    </tbody>
    </table>
        <h4>Funds Transfer</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Carrier</th>
        <th>Amount</th>
        <th>Month Change</th>
        <th>Year Change</th>
      </tr>
    </thead>
    <%@fundtransfers.each_with_index do |fundtransfer,index|%>
        <tbody>
        <%
            indicator_class = get_indicator_class(fundtransfer)
            @fundtransfers.size-1 == index ? class_name = "vert1 text_bold" : class_name = "vert1"
        %>
         <tr> 
            <td class="<%=class_name%>"><%=fundtransfer.carrier%></td>
            <td class="<%=class_name%>"><%=number_to_currency(fundtransfer.amount)%></td>
            <td class="<%=class_name%>"><%=(fundtransfer.month_change_value.to_f * 100).to_i%>%<%= raw indicator_class %></td>
            <td class="<%=class_name%>"><%=(fundtransfer.year_change_value.to_f * 100).to_i%>%</td>
         </tr>
      <%end%>
    </tbody>
    </table>
        <h4>Redmine - SLA Performance</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Ticket_Type</th>
        <th>Total Open</th>
        <th>7-Day Close</th>
        <th>7-Day Open</th>
        <th>Avg Days</th>
        <th>Target Days</th>
        <th>Index</th>
        <th>7-Day Change</th>
      </tr>
    </thead>
    <%@redmines.each do |redmine|%>
    <tbody>
     <tr> 
        <td ><%=redmine.ticket_type%></td>
        <td ><%=redmine.total_open_value%></td>
        <td class="vert1"><%=redmine.closed_7_day_value%></td>
        <td ><%=redmine.opened_7_day_value%></td>
        <td class="vert1"><%=redmine.avg_days_value%></td>
        <td ><%=redmine.target_days_value%></td>
        <td class="vert1"><%=redmine.index_value%></td>
        <td ><%=redmine.change_7_day_value%></td>
     </tr>
      <%end%>
    </tbody>
    </table>
    </div>


    <div class="col-xs-6 col-sm-6">
    <h4>Upcoming Events</h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Event</th>
        <th>Impact</th>
        <th>On Schedule (Days)</th>
        <th>Event Date</th>
      </tr>
    </thead>
        <%@events.each_with_index do |event,index|%>
    <tbody>
    <%
            indicator_class = get_indicator_class(event)
    %>
     <tr> 
        <td ><%= raw indicator_class %><%=event.event_value%></td>
        <td ><%=event.impact_value%></td>
        <td ><%= event.on_schedule_days_value.present? ? event.on_schedule_days_value : "N/A" %></td>
        <td><%=Date.strptime(event.event_date_value,"%Y-%m-%d").strftime("%m-%d-%Y")%></td>
     </tr>
        <%end%>
      
    </tbody>
    </table>
    
    <h4>Major Projects</h4>
    <div id="events1" style="min-width: 250px; max-width: 600px; height: 220px; margin: 0 auto"></div>
    <br>

        <h4>Now - Web Activity as of <%=Time.now.strftime('%a %d %b %Y')%></h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="texLef">Apdex Score</th>
        <th></th>
        <th class="texLef">Page Views</th>
        <th></th>
        <th class="texLef">New Visitors</th>
        <th></th>
        <th class="texLef">Return Visitors</th>
        <th></th>
        <th class="texLef">Load Time</th>
        <th></th>
        <th class="texLef">Avg Session</th>
      </tr>
    </thead>
    <%@webactivitys.each do |web|%>
    <tbody>
      <tr>
        <td></td>
        <td class="texLef"><%=web.apdex_value%></td>
        <td><span class="glyphicon glyphicon-asterisk" style="color: green"></span></td>
        <td class="texLef"><%=web.page_views_value%></td>
        <td></td>
        <td class="texLef"><%=web.new_visitors_value%></td>
        <td></td>
        <td class="texLef"><%=web.return_visitors_value%></td>
        <td></td>
        <td class="texLef"><%=web.load_time_value%>s</td>
        <td></td>
        <td class="texLef"><%=web.avg_session_value%>s</td>
      </tr>
      <%end%>
    </tbody>
    </table>


        <h4>Now - Call Center as of <%=Time.now.strftime('%a %d %b %Y')%></h4>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="texLef">Received</th>
        <th></th>
        <th class="texLef">Answered</th>
        <th></th>
        <th class="texLef">Abandoned</th>
        <th></th>
        <th class="texLef">Avg Wait</th>
        <th></th>
        <th class="texLef">Max Wait</th>
      </tr>
    </thead>
    <%@callcenters.each do |center|%>
    <tbody>
      <tr>
        <td></td>
        <td class="texLef"><%=center.received_value%></td>
        <td></td>
        <td class="texLef"><%=center.answered_value%></td>
        <td></td>
        <td class="texLef"><%=center.abandoned_value%></td>
        <td><span class="glyphicon glyphicon-asterisk" style="color: red"></span></td>
        <td class="texLef"><%=center.avg_wait_value%>m</td>
        <td></td>
        <td class="texLef"><%=center.max_wait_value%>m</td>
      </tr>
      <%end%>
    </tbody>
    </table>

    </div>

</div>
</body>
</html>