<div class="container top-pd">
<%= form_for @broker_candidate, as: :person, url: {action: "create"} do |f| %>
<%= render 'shared/error_messages', :object => @broker_candidate %>
<div class="container">
  <%= f.hidden_field :broker_applicant_type, value: @filter %>
  <div class="row">
    <%= render "person_info_fields", f: f %>

    <% if @filter != 'staff' %>
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="row no-buffer row-form-wrapper" style="border-top: 0;">
            <%= render "shared/broker_agency_profile_fields", f: f%>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <%= render "shared/home_address_fields", f: f %>
        </div>
      </div>
    <% end %>
    <br>

    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12 broker-agency-search">
        <div class="row search-dropdown-wrapper">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4><%=l10n("broker_agencies.broker_roles.select_your_broker_agency")%></h4>
            <div class="col-md-4 col-sm-6 col-xs-12 input-group input-no-pd">
              <%= f.hidden_field :broker_agency_id %>
              <%= text_field_tag :agency_search, nil, placeholder: 'Name/FEIN', class: 'form-control' %>
              <div class="input-group-btn">
                <a href="#" onclick="return false;" class="btn btn-select search" data-loading-text="Loading..."><i class="fa fa-search"></i><%= l10n("search").to_s.downcase%></a>
              </div>
            </div>
          </div>
        </div>
        <div class='result'></div>
      </div>
    </div>
    <br>
    <div class="row no-buffer row-form-wrapper no-border">
      <!-- recaptcha_tags -->
    </div><br>
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="row no-buffer">
          <div class="col-md-4 col-sm-4 col-xs-12 form-group-lg no-pd">
            <button type="submit" class
            ="btn btn-primary"><%= l10n("submit_application")%></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
