<div id="broker_agency_form" class="container">
<%= form_for @organization, as: :organization, url: {action: "create"} do |f| %>
<%= render 'shared/error_messages', :object => @organization %>
  <div class="row">
    <%= render "person_info_fields", f: f %><br>
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <h4>Broker Agency Information</h4>
        <h5>NOTE: If you are not associated with a broker agency, please enter your personal information. Do not enter a General Agency or Third Party Administrator's Information.</h5>
        <div class="row no-buffer row-form-wrapper">
          <%= render "shared/organizations/entity_name_and_type_fields", f: f, entity_kinds: Organization::ENTITY_KINDS[0..3] %>
        </div>
        <div class="row no-buffer row-form-wrapper" style="border-top: 0;">
          <%= render "shared/broker_agency_profile_fields", f: f%>
        </div><br>
        <div class="row no-buffer row-form-wrapper no-border">
          <!-- recaptcha_tags -->
        </div>
        <div class="action-group">
          <%= render "shared/office_locations", f: f %>
          <div class="row no-buffer">
            <button type="submit" class="btn btn-primary pull-right create_broker_agency_btn interaction-click-control-create-broker-agency">Create Broker Agency</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
