<div id="broker_agency_form" class="container">
<%= form_for @organization, as: :organization, url: {action: "create"} do |f| %>
<%= render 'shared/error_messages', :object => @organization %>
  <div class="row">
    <%= render "person_info_fields", f: f %><br>
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12">
        <h4><%= l10n("broker_agencies.broker_roles.new_broker_agency_form.broker_agency_information") %></h4>
        <h5><%= l10n("broker_agencies.broker_roles.new_broker_agency_form.new_broker_agency_note") %></h5>
        <div class="row no-buffer row-form-wrapper">
          <%= render "shared/organizations/entity_name_and_type_fields", f: f, entity_kinds: Organization::ENTITY_KINDS[0..3] %>
        </div>
        <div class="row no-buffer row-form-wrapper" style="border-top: 0;">
          <%= render "shared/broker_agency_profile_fields", f: f%>
        </div><br>

        <div class="action-group">
          <% if aca_broker_routing_information %>
             <%= render "broker_agencies/applicants/bank_information", f: f %>
             <p class="bank-name-container"></p>
          <% end %>
        </div>

        <div class="row no-buffer row-form-wrapper no-border">
          <!-- recaptcha_tags -->
        </div>
        <div class="action-group">
          <%#= render "shared/office_locations", f: f %>
          <div class="row no-buffer">
            <button type="submit" class="btn btn-primary pull-right create_broker_agency_btn interaction-click-control-create-broker-agency"><%= l10n("broker_agencies.broker_roles.new_broker_agency_form.create_broker_agency")%></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <% if aca_broker_routing_information %>
              <h5><%= l10n("broker_agencies.broker_roles.broker_registration_text", site_short_name: site_short_name, site_brokers_agreement_path: site_brokers_agreement_path)%></h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
