<% if @bs4 %>
  <div id="<%= dom_id income %>" class="income my-4">
    <div class="display-income">
      <div class="d-flex col-sm income-form-row p-0 mb-2">
        <div class="w-100 col px-0 pr-4">
          <label class="static_label label-floatlabel required" for="name-<%= income.employer_name %>"><%= l10n("faa.incomes.employer") %></label>
          <input class="fake-disabled-input w-100" id="name-<%= income.employer_name %>" disabled="true" value="<%= income.employer_name %>">
        </div>
        <div class="w-100 col px-0">
          <label class="static_label label-floatlabel required" for="phone-<%= income.employer_phone %>-<%= income.id %>"><%= l10n("faa.incomes.employer_phone") %></label>
          <input class="fake-disabled-input w-100" id="phone-<%= income.employer_phone %>-<%= income.id %>" disabled="true" value="<%= income.employer_phone %>">
        </div>
      </div>
      <div class="d-flex col-sm income-form-row p-0 mb-2">
        <div class="d-flex col px-0 pr-4">
          <div class="col px-0 pr-4">
            <label class="static_label label-floatlabel required" for="amount-<%= income.id %>"><%= l10n("faa.other_incomes.amount") %></label>
            <input class="fake-disabled-input w-100" id="amount-<%= income.id %>" disabled="true" value="<%= number_to_currency(income.amount) %>">
          </div>

          <div class="col px-0">
            <label class="static_label label-floatlabel required" for="freq-<%= frequency_kind_options.invert[income.frequency_kind] %>-<%=income.id%>"><%= l10n("faa.other_incomes.frequency") %></label>
            <input class="fake-disabled-input w-100" id="freq-<%= frequency_kind_options.invert[income.frequency_kind] %>-<%=income.id%>" disabled="true" value="<%= frequency_kind_options.invert[income.frequency_kind] %>">
          </div>
        </div>

        <div class="d-flex col px-0">
          <div class="col px-0 pr-4">
            <label class="static_label label-floatlabel required" for="start-<%= income.id %>"><%= l10n("faa.other_incomes.start_date") %></label>
            <input class="fake-disabled-input w-100" id="start-<%= income.id %>" disabled="true" value="<%= income.start_on %>">
          </div>

          <div class="col px-0">
            <label class="static_label label-floatlabel" for="end-<%= income.id %>"><%= l10n("faa.other_incomes.end_date") %></label>
            <input class="fake-disabled-input w-100 end-on-field" id="end-<%= income.id %>" disabled="true" value="<%= income.end_on %>">
          </div>
        </div>
      </div>

      <div class="mt-3 pb-2">
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-delete-<%= dom_id income %>')" id="income-delete-<%= dom_id income %>" class="button outline error mr-1 mb-2 income-delete"><%= l10n("faa.other_incomes.remove") %></a>
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-edit-<%= dom_id income %>')" id="income-edit-<%= dom_id income %>" class="button mb-2 income-edit"><%=l10n("edit")%></a>
      </div>
    </div>
    <div class="income-edit-form hidden">
      <%= render partial: 'financial_assistance/incomes/job_income_form', locals: { income: income } %>
    </div>
  </div>
<% else %>
  <div id="<%= dom_id income %>" class="income">
    <div class="display-income">
      <div class="focus_effect_module">
        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-11 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">EMPLOYER NAME</label>
            <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_name %></span>
          </div>
          <div class="col-md-1 no-pd form-group-lg class-fa-household fa-adjustment">
            <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-edit-<%= dom_id income %>')" id="income-edit-<%= dom_id income %>" class="income-edit edit-pr"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
              <span class="hide"><%=l10n("edit")%></span>
            </a>
            <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'income-delete-<%= dom_id income %>')" id="income-delete-<%= dom_id income %>" class="income-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
              <span class="hide"><%=l10n("delete")%></span>
            </a>
          </div>
        </div>

        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-3 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">GROSS AMOUNT</label>
            <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= number_to_currency(income.amount) %></span>
          </div>
          <div class="col-md-3 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">HOW OFTEN</label>
            <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= frequency_kind_options.invert[income.frequency_kind] %></span>
          </div>
          <div class="col-md-3 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">START</label>
            <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.start_on %></span>
          </div>
          <div class="col-md-3 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">END</label>
            <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.end_on %></span>
          </div>
        </div>
        <% if !FinancialAssistanceRegistry.feature_enabled?(:disable_employer_address_fields) %>
          <div class="row row-form-wrapper no-buffer row-height">
            <div class="col-md-6 no-pd form-group-lg no-pd class-fa-household">
              <label class="static_label label-floatlabel">EMPLOYER ADDRESSS LINE 1</label>
              <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_address.try(:address_1) %></span>
            </div>
            <div class="col-md-6 no-pd form-group-lg no-pd class-fa-household">
              <label class="static_label label-floatlabel">EMPLOYER ADDRESSS LINE 2</label>
              <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_address.try(:address_2) %></span>
            </div>
          </div>

          <div class="row row-form-wrapper no-buffer row-height">
            <div class="col-md-4 no-pd form-group-lg no-pd class-fa-household">
              <label class="static_label label-floatlabel">CITY</label>
              <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_address.try(:city) %></span>
            </div>
            <div class="col-md-4 no-pd form-group-lg no-pd class-fa-household">
              <label class="static_label label-floatlabel">STATE</label>
              <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_address.try(:state) %></span>
            </div>
            <div class="col-md-4 no-pd form-group-lg no-pd class-fa-household">
              <label class="static_label label-floatlabel">ZIP</label>
              <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.employer_address.try(:zip) %></span>
            </div>
          </div>
        <% end %>

        <div class="row row-form-wrapper no-buffer row-height">
          <div class="col-md-12 no-pd form-group-lg no-pd class-fa-household">
            <label class="static_label label-floatlabel">EMPLOYER PHONE</label>
            <span class="field_value floatlabel phone_number form-control active-floatlabel" id="name"><%= income.employer_phone.try(:full_phone_number) %></span>
          </div>
        </div>
      </div>
    </div><br>

    <div class="income-edit-form hidden">
      <%= render partial: 'financial_assistance/incomes/job_income_form', locals: { income: income } %>
    </div>
  </div>
<% end %>