<% if @bs4 %>
  <div id="<%= dom_id other_income %>" class="other-income mt-4">
    <div class="other-income-show">
      <div class="d-flex row income-form-row p-0 m-0 mb-2">
        <% if other_income.kind == "social_security_benefit" && FinancialAssistanceRegistry.feature_enabled?(:ssi_income_types) %>
          <div class="mr-auto col-sm col-md-6 col-lg-3 p-0" id="ssi_type">
            <div class="ss_benefit_type">
              <%= f.label :ssi_type, l10n("faa.other_incomes.social_security_benefit_type"), class: "label-color required", for: "ssbenefit#{income_id}" %>
              <input class="fake-disabled-input" id="ssbenefit<%='income_id'%>" disabled="true" value="<%= FinancialAssistance::Income::SS_BENEFITS[other_income.ssi_type&.to_sym] %>">
            </div>
          </div>
        <% end %>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <% if show_net_amount_for(other_income) %>
            <label for="amount-<%= other_income.id %>" class="required"><span><%= l10n("faa.other_incomes.net_amount") %></span></label>
          <% else %>
            <label for="amount-<%= other_income.id %>" class="required"><span><%= l10n("faa.other_incomes.amount") %></span></label>
          <% end %>
          <input class="fake-disabled-input" id="amount-<%= other_income.id %>" disabled="true" value="<%= number_to_currency(other_income.amount) %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="frequency-<%= other_income.id %>" class="required"><span><%= l10n("faa.other_incomes.frequency") %></span></label>
          <input class="fake-disabled-input" id="frequency-<%= other_income.id %>" disabled="true" value="<%= frequency_kind_options.invert[other_income.frequency_kind] %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="start-<%= other_income.id %>" class="required"><span><%= l10n("start_date") %></span></label>
          <input class="fake-disabled-input" id="start-<%= other_income.id %>" disabled="true" value="<%= other_income.start_on %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="end-<%= other_income.id %>"><span><%= l10n("end_date") %></span></label>
          <input class="fake-disabled-input" id="end-<%= other_income.id %>" disabled="true" value="<%= other_income.end_on.present? ? other_income.end_on : 'N/A' %>">
        </div>
      </div>
      <div class="d-flex mb-2">
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'other-income-delete-<%= dom_id other_income %>')" id="other-income-delete-<%= dom_id other_income %>" class="other-income-delete button outline error mr-2"><%= l10n("faa.edit.remove") %></a>
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'other-income-edit-<%= dom_id other_income %>')" id="other-income-edit-<%= dom_id other_income %>" class="other-income-edit button outline"><%=l10n("edit")%></a>
      </div>
    </div>
    <div class="edit-other-income-form hidden">
      <%= render partial: 'financial_assistance/incomes/other_income_form', locals: { other_income: other_income, kind: other_income.kind, disabled: false } %>
    </div>
  </div>
<% else %>
  <div id="<%= dom_id other_income %>" class="other-income row-form-adjustment">
    <div class="focus_effect_module other-income-show">
      <div class="row row-form-wrapper no-buffer row-height">
        <% if other_income.kind == "social_security_benefit" && FinancialAssistanceRegistry.feature_enabled?(:ssi_income_types) %>
        <div class="col-md-12  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel"><%= l10n("Social")&.upcase %> <%= l10n("Security")&.upcase %> <%= l10n("TYPE")&.upcase %> *</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= FinancialAssistance::Income::SS_BENEFITS[other_income.ssi_type&.to_sym] %></span>
        </div>
        <% end %>
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <% if show_net_amount_for(other_income) %>
            <label class="static_label label-floatlabel"><%= l10n("NET")&.upcase %> <%= l10n("AMOUNT")&.upcase %> *</label>
          <% else %>
            <label class="static_label label-floatlabel"><%= l10n("AMOUNT")&.upcase %> *</label>
          <% end %>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= number_to_currency(other_income.amount) %></span>
        </div>
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel"><%= l10n("HOW")&.upcase %> <%= l10n("Often")&.upcase %> *</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= frequency_kind_options.invert[other_income.frequency_kind] %></span>
        </div>
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel"><%= l10n("START")&.upcase %> *</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= other_income.start_on %></span>
        </div>
        <div class="col-md-2  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel"><%= l10n("END")&.upcase %></label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= other_income.end_on %></span>
        </div>
        <div class="col-md-1 form-group-lg class-fa-household no-pd fa-adjustment">
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'other-income-edit-<%= dom_id other_income %>')" id="other-income-edit-<%= dom_id other_income %>" class="other-income-edit edit-pr"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><span class="hide"><%=l10n("edit")%></span></a>
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'other-income-delete')" id="other-income-delete" class="other-income-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i><span class="hide"><%=l10n("delete")%></span></a>
        </div>
      </div>
    </div>

    <div class="edit-other-income-form hidden">
    <%= render partial: 'financial_assistance/incomes/other_income_form', locals: { other_income: other_income, kind: other_income.kind, disabled: false } %>
    </div>
  </div>
<% end %>
