<% if @bs4 %>
  <%= income_form_for @application, @applicant, income do |f| %>
    <%= hidden_field_tag :bs4, true %>
    <div class="my-4">
      <div class="alert alert-info d-flex" role="alert">
        <div class="pl-2 pt-2 pr-1">
          <div class="info-icon icon" alt="info" aria-hidden="true">&nbsp;</div>
        </div>
        <div class="mt-1 pl-0 pr-2 pt-1">
          <p class="subtext"><%= l10n('faa.incomes.job_end_date_note', subject: @applicant.first_name) %></p>
        </div>
      </div>
      <% income_id = income.id %>
      <% onchange_date = FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? ? (raw "validateDateWarnings('#{income_id}', true)") : "" %>
      <%= f.hidden_field :kind, value: 'net_self_employment' %>
      <div class="d-flex col-sm income-form-row p-0 mb-2">
        <div class="income-field pr-3">
          <%= f.label :amount, l10n("faa.other_incomes.amount"), class: "required", for: "amount#{income_id}" %>
          <%= f.text_field :amount, placeholder: '0.00', value: number_to_currency(income.amount), required: true, id: "amount#{income_id}", class: "w-100" %>
        </div>
        <div class="income-field pr-3">
          <%= f.label :frequency_kind, l10n("faa.other_incomes.frequency"), class: "required", for: "frequecy#{income_id}" %>
          <%= f.select(:frequency_kind, options_for_select(frequency_kind_options, selected: income.frequency_kind), { include_blank: "Choose" }, { :disabled => false, :required => true, class: "w-100", id: "frequecy#{income_id}" }) %>
        </div>
        <div class="income-field pr-3">
          <%= f.label :start_on, l10n("faa.other_incomes.start_date"), class: "required", for: "start_on_#{income_id}" %>
          <%= f.date_field :start_on, placeholder: 'MM/DD/YYYY', required: true, id: "start_on_#{income_id}", onchange: onchange_date, class: "w-100" %>
        </div>
        <div class="income-field">
          <%= f.label :end_on, l10n("faa.other_incomes.start_date"), for: "end_on_#{income_id}" %>
          <%= f.date_field :end_on, placeholder: 'MM/DD/YYYY', id: "end_on_#{income_id}", onchange: onchange_date, class: "w-100 end-on-field" %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="pull-right mt-1 mb-2 pl-3">
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'self-employed-income-cancel-<%= income_id %>')" id="self-employed-income-cancel-<%= income_id %>" class="button btn-default outline income-cancel"><%= l10n("faa.other_incomes.cancel") %></a>
          <%= f.submit l10n("faa.other_incomes.save"), class: "button btn-save ml-1", :data => { :cuke => "self-employed-income-save-button" }, onclick: "checkDate('#{income_id}')" %>
        </div>
      </div>
    </div>
    <% if FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? %>
      <%= render partial: 'financial_assistance/shared/date_warning', locals: { form_object_id: income_id } %>
    <% end %>
  <% end %>
<% else %>
  <%= income_form_for @application, @applicant, income do |f| %>
    <% income_id = income.id %>
    <% onchange_date = FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? ? (raw "validateDateWarnings('#{income_id}')") : "" %>
    <%= f.hidden_field :kind, value: 'net_self_employment' %>
    <div class="focus_effect_module row-edit-border">
      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-3">
          <%= f.label :frequency_kind, 'Amount *', class: "amount label-color" %>
          <div class="faa-amount">
            <%= f.text_field :amount, placeholder: '0.00', value: number_to_currency(income.amount), required: true %>
          </div>
        </div>
        <div class="col-md-3 fa-select select-box">
          <%= f.label :frequency_kind, 'How Often *', class: "label-color" %>
          <div class="fa-frequency-kind" data-cuke="self-employed-income-how-often-dropdown">
            <%= f.select :frequency_kind, options_for_select(frequency_kind_options, selected: income.frequency_kind), {prompt: 'Choose' }, {:required => true} %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.text_field :start_on, placeholder: 'FROM *', required: true, id: "start_on_#{income_id}", class: "datepicker-js floatlabel", onchange: onchange_date %>
        </div>

        <div class="col-md-3 overflow-hidden">
          <%= f.text_field :end_on, placeholder: 'TO', id: "end_on_#{income_id}", class: "datepicker-js floatlabel", onchange: onchange_date %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pull-right mt-1 mb-1">
        <a tabindex="0" onkeydown="handleCancelButtonKeyDown(event, 'self-employed-income-cancel-<%= income_id %>', 'hidden-self-income-form')" id="self-employed-income-cancel-<%= income_id %>" class="btn btn-default income-cancel">Cancel</a>
        <%= f.submit 'Save', class: 'btn btn-save ml-1', :data => { :cuke => "self-employed-income-save-button" } %>
      </div>
    </div>

    <% if FinancialAssistanceRegistry[:income_and_deduction_date_warning].enabled? %>
      <%= render partial: 'financial_assistance/shared/date_warning', locals: { form_object_id: income_id } %>
    <% end %>
  <% end %>
<% end %>