<% if @bs4 %>
  <div id="<%= dom_id income %>" class="unemployment-income mt-4">
    <div class="unemployment-income-show">
      <div class="d-flex col-sm income-form-row p-0 mb-2">
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0 mb-1">
          <% if show_net_amount_for(income) %>
            <label for="amount-<%= income.id %>" class="required"><%= l10n("faa.other_incomes.net_amount") %></label>
          <% else %>
            <label for="amount-<%= income.id %>" class="required"><%= l10n("faa.other_incomes.amount") %></label>
          <% end %>
          <input class="fake-disabled-input" id="amount-<%= income.id %>" disabled="true" value="<%= number_to_currency(income.amount) %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="frequency-<%= income.id %>" class="required"><%= l10n("faa.other_incomes.frequency") %></label>
          <input class="fake-disabled-input" id="frequency-<%= income.id %>" disabled="true" value="<%= frequency_kind_options.invert[income.frequency_kind] %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="start-<%= income.id %>" class="required"><%= l10n("faa.other_incomes.start_date") %></label>
          <input class="fake-disabled-input" id="start-<%= income.id %>" disabled="true" value="<%= income.start_on %>">
        </div>
        <div class="mr-auto col-sm col-md-6 col-lg-3 p-0">
          <label for="end-<%= income.id %>"><%= l10n("faa.other_incomes.end_date") %></label>
          <input class="fake-disabled-input" id="end-<%= income.id %>" disabled="true" value="<%= income.end_on.present? ? income.end_on : 'N/A' %>">
        </div>
      </div>
      <div>
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'unemployment-income-delete-<%= dom_id income %>')" id="unemployment-income-delete-<%= dom_id income %>" class="button outline error mr-1 mb-2 unemployment-income-delete"><%= l10n("faa.other_incomes.remove") %></a>
        <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'unemployment-income-edit-<%= dom_id income %>')" id="unemployment-income-edit-<%= dom_id income %>" class="button outline mb-2 unemployment-income-edit"><%=l10n("edit")%></a>
      </div>
    </div>
    <div class="edit-unemployment-income-form hidden">
      <%= render partial: 'financial_assistance/incomes/unemployment_income_form', locals: { income: income, disabled: false } %>
    </div>
  </div>
<% else %>
  <div id="<%= dom_id income %>" class="unemployment-income row-form-adjustment">
    <div class="focus_effect_module unemployment-income-show">
      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <% if show_net_amount_for(income) %>
            <label class="static_label label-floatlabel">NET AMOUNT *</label>
          <% else %>
            <label class="static_label label-floatlabel">AMOUNT *</label>
          <% end %>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= number_to_currency(income.amount) %></span>
        </div>
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel">HOW OFTEN *</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= frequency_kind_options.invert[income.frequency_kind] %></span>
        </div>
        <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel">START *</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.start_on %></span>
        </div>
        <div class="col-md-2  no-pd form-group-lg no-pd class-fa-household">
          <label class="static_label label-floatlabel">END</label>
          <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= income.end_on %></span>
        </div>
        <div class="col-md-1 form-group-lg class-fa-household no-pd fa-adjustment">
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'unemployment-income-edit-<%= dom_id income %>')" id="unemployment-income-edit-<%= dom_id income %>" class="unemployment-income-edit edit-pr"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><span class="hide"><%=l10n("edit")%></span></a>
          <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'unemployment-income-delete-<%= dom_id income %>')" id="unemployment-income-delete-<%= dom_id income %>" class="unemployment-income-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i><span class="hide"><%=l10n("delete")%></span></a>
        </div>
      </div>
    </div>

    <div class="edit-unemployment-income-form hidden">
      <%= render partial: 'financial_assistance/incomes/unemployment_income_form', locals: { income: income, disabled: false } %>
    </div>
  </div>
<% end %>
