<% if @general_agency_profiles.present?  %>
  <br />
  <div class='table-responsive col-12'>
    <table style='width: 100%; border-collapse: collapse; border: 1px solid #d5d5d5' class="general-agency-staff">
      <thead style='height: 40px;'>
        <th style='width: 18%; height: 40px; padding: 10px'> <%= l10n("legal_name") %></th>
        <th style='width: 18%'> <%= l10n("npn") %></th>
        <th style='width: 18%'> <%= l10n("primary_general_agency_staff_name") %></th>
        <th style='width: 18%'> <%= l10n("select_this_general_agency") %></th>
      </thead>
      <% @general_agency_profiles.each do |agency| %>
      <tbody class="select-general-agency">
          <td><%= agency.legal_name %></td>
          <td><%= agency.general_agency_primary_staff.npn %></td>
          <td><%= agency.general_agency_primary_staff.person.full_name %></td>
          <td colspan="1"> <a href="javascript:void(0)" class='btn btn-primary select-general-agency' onclick="selectGeneralAgency(this);" data-general_agency_profile_id="<%= agency._id %>"><%= l10n("select_this_general_agency").upcase %></a>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
<% else %>
 <h4> <span class="alert-error"> <%= l10n("no_agencies_found") %> </span> </h4>
<% end %>
