<% if @bs4 %>
  <%= render partial: 'shared/consumer_signup.html.erb', locals: {step: 1} %>
  <div id="new_person_wrapper">
    <input type='hidden' name='exit_after_method' value='false' id='exit_after_method'>
    <% if current_user.has_hbx_staff_role? %>
      <div class="row_align_application_type mb-3">
        <label for="application_type_id" class="required">Application Type</label>
        <%= f.fields_for :family do |f| %>
          <%= f.select(:application_type, options_for_select(*consumer_role_application_type_options(@person)), {include_blank: @person.primary_family.e_case_id.present? ? nil : "choose *"}, required: !@person.primary_family.e_case_id.present?, id:'application_type_id' ) %>
        <% end %>
      </div>
    <% end %>
    <% if FinancialAssistanceRegistry.feature_enabled?(:optional_document_fields) %>
      <!-- need to redo the below partial -->
      <%= render :partial => 'shared/optional_field_warning' %>
    <% end %>
    <h1>Personal Information</h1>
    <p>Enter your personal information and answer the following questions. When you're finished, select CONTINUE.</p>
    <%= render "shared/error_messages", object: f.object %>
    <%= render 'shared/person/consumer_information', f: f %>
    <h2>Demographic Information for <%= @person.full_name %></h2>
    <div id="consumer_fields_sets">
      <%= render 'shared/consumer_fields', f: f %>
    </div>
    <h3 class="beta mt-4">Contact Information for <%= @person.full_name %></h3>
    <section class="mb-4">
      <h4 class="gamma">Home Address</h4>
      <%= render partial: 'shared/consumer_home_address_fields', locals: {f: f, bs4: true} %>
    </section>
    <section class="mb-4">
      <h4 class="gamma mb-0">Phone and Email</h4>
      <p>Please provide as much information as possible</p>
      <%= render partial: 'shared/phone_fields', locals: {f: f, bs4: true} %>
      <div id="email_info" class="">
        <div class="email d-flex mb-md-4 row col-sm">
          <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
            <%= render partial: 'shared/email_fields', locals: {f: email, bs4: true} %>
          <% end %>
        </div>
      </div>
    </section>

    <section class="mb-4 mt-4">
      <%= render 'shared/contact_preferences', {f: f, role: :consumer_role, contact_preferences_mapping: nil, bs4: true } %>
    </section>

    <%= render  partial: 'shared/individual_progress', locals: {step: '1'} %>
  </div>
<% else %>
<div class="container">
  <div id="new_person_wrapper">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <%= render :partial => 'shared/left_nav' %>
      </div>
      <input type='hidden' name='exit_after_method' value='false' id='exit_after_method'>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 bottom-pd">
        <% if current_user.has_hbx_staff_role? %>
        <div class="row row-form-wrapper no-buffer">
          <div class="col-lg-4 col-md-4 form-group form-group-lg no-pd top-buffer" >
            <div class="row_align_application_type">
              <span> <b> Application Type :</b></span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group form-group-lg no-pd">
            <%= f.fields_for :family do |f| %>
              <%= f.select(:application_type, options_for_select(*consumer_role_application_type_options(@person)), {include_blank: @person.primary_family.e_case_id.present? ? nil : "choose *"}, required: !@person.primary_family.e_case_id.present?, id:'application_type_id' ) %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bottom-pd">
          <% if FinancialAssistanceRegistry.feature_enabled?(:optional_document_fields) %>
            <%= render :partial => 'shared/optional_field_warning' %>
          <% end %>
          <h2 class="darkblue">Personal Information</h2>
          <p>Enter your personal information and answer the following questions. When you're finished, select CONTINUE.</p>
          <p class='memo'>* = required field</p>
          <%= render "shared/error_messages", object: f.object %>
          <%= render 'shared/person/consumer_information', f: f %>
          <br>
          <div id="consumer_fields_sets">
            <%= render 'shared/consumer_fields', f: f %>
            <br>
          </div>
          <%= render 'shared/consumer_home_address_fields', f: f %><br>
          <%= render 'shared/phone_fields', f: f %><br>
          <div id="email_info" class="row row-form-wrapper no-buffer">
            <%= f.fields_for :emails, errors: {}, fieldset: true do |email|  %>
              <%= render 'shared/email_fields', f: email %>
            <% end %>
          </div>
          <br>
          <%= render 'shared/contact_preferences', {f: f, role: :consumer_role, contact_preferences_mapping: nil } %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <%= render  partial: 'shared/individual_progress', locals: {step: '1'} %>
          <%= render partial: 'shared/help_me_sign_up' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'ui-components/v1/modals/help_with_plan'  %>
</div>
<% end %>
