<% document = find_document(c.object, "I-571 (Refugee Travel Document)") %>
<%= c.fields_for 'vlp_documents', document do |v| %>
    <%= v.hidden_field :subject %>
    <%= v.hidden_field :id %>
    <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
      <%= v.text_field :alien_number, :placeholder => "Alien Number" %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
      <%= v.text_field :card_number, :placeholder => "Card Number" %>
    </div>
<% end %>
