<% if @bs4 %>
  <fieldset id="immigration_doc_statuses" class="mt-4">
    <legend><%= l10n("insured.consumer_roles.docs_shared.other_status_question") %></legend>
    <div>
      <% ::ConsumerRole::IMMIGRATION_DOCUMENT_STATUSES.each_with_index do |status, index| %>
        <label for="<%= status.gsub(/[^\w\s_-]+/, '').gsub(/\s+/, '_') %>" class="mb-3">
          <%= c.check_box :immigration_doc_statuses, { multiple: true, id: status.gsub(/[^\w\s_-]+/, '').gsub(/\s+/, '_') }, status, false %>
          <span class="weight-n"><%= status %></span>
          <% if index == ::ConsumerRole::IMMIGRATION_DOCUMENT_STATUSES.length - 1 %><small class="muted-text"><%= l10n("insured.consumer_roles.docs_shared.none_of_above_note") %></small><% end %>
        </label>
      <% end %>
    </div>
  </fieldset>
<% else %>
  <div id="immigration_doc_statuses" class="col col-md-12">
    <div>
      <strong>Does this person also have any of these document types or statuses?</strong>
    </div>
    <div style="padding: 5px;">
      <% ::ConsumerRole::IMMIGRATION_DOCUMENT_STATUSES.each do |status| %>
        <div style="margin: 2px;">
          <%= c.check_box :immigration_doc_statuses, { multiple: true }, status, false %>
          <%= status %>
          <%= "(Select this if this person doesn't have a listed document. You can continue the application without selecting a document or status type)" if status == 'None of these' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
