<% document = find_document(c.object, "Other (With Alien Number)") %>
<%= c.fields_for 'vlp_documents', document do |v| %>
    <%= v.hidden_field :subject %>
    <%= v.hidden_field :id %>
    <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
      <%= v.text_field :i94_number, :placeholder => "I-94 Number" %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
      <%= v.text_field :description, :placeholder => "Document Description" %>
    </div>
<% end %>
