<% if EnrollRegistry.feature_enabled?(:bs4_consumer_flow) %>
  <div class="mb-4 <%= "no_coverage_tribe_details" if FinancialAssistanceRegistry.feature_enabled?(:no_coverage_tribe_details) %>
<%= "featured_tribes_selection" if FinancialAssistanceRegistry.feature_enabled?(:featured_tribes_selection) %>" id='indian_tribe_area'>
    <input type="hidden" id="is_indian_alaskan_tribe_details_enabled" value="<%= EnrollRegistry[:indian_alaskan_tribe_details].enabled? %>">
    <fieldset id="tribal_container">
      <legend id="indian_tribe_member_value">
        <%= l10n("insured.tribe_member_pt1") %>
        <%= render partial:"shared/glossary", locals: {key: "american_indian", term: "American Indian" } %>
        <%= l10n("or") %>
        <%= render partial:"shared/glossary", locals: {key: "alaska_native", term: "Alaska Native" } %>
        <%= l10n("insured.tribe_member_pt2") %>
      </legend>
      <div class="d-flex align-items-center">
        <label for="indian_tribe_member_true" tabindex="0" onkeydown="handleRadioKeyDown(event, 'indian_tribe_member_true')" class="radio">
          <%= f.radio_button :indian_tribe_member, true, class: "required", id: 'indian_tribe_member_true' %>
          <span class="yes_no_pair">Yes</span>
        </label>
        <label for="indian_tribe_member_false" tabindex="0" onkeydown="handleRadioKeyDown(event, 'indian_tribe_member_false')" class="radio">
          <%= f.radio_button :indian_tribe_member, false, class: "required", id: 'indian_tribe_member_false' %>
          <span class="yes_no_pair">No</span>
        </label>
      </div>
    </fieldset>
    <a href="#indian_tribe_member" data-toggle="modal" data-target="#indian_tribe_member">Not sure?</a>
    <%= render partial: 'shared/modal_support_text_household', locals: {key: "indian_tribe_member"} %>
  </div>
  <div class="tribal-container <%= 'hide' unless f.object.indian_tribe_member %>">
    <% if EnrollRegistry[:indian_alaskan_tribe_details].enabled? %>
      <input type="hidden" id="is_featured_tribes_selection_enabled" value="<%= FinancialAssistanceRegistry[:featured_tribes_selection].enabled? %>">
      <input type="hidden" id="enroll_state_abbr" value="<%= EnrollRegistry[:enroll_app].setting(:state_abbreviation).item %>">

      <div class="mb-4" id="tribal-state-container">
        <label for="tribal_state"><%= l10n("insured.tribal_state") %></label>
        <div id="tribal-state-alert">
          <div class="alert alert-warning d-flex" role="alert">
            <div>
              <div class="warning-icon icon" alt="warning" aria-hidden="true">&nbsp;</div>
            </div>
            <div class="mt-2 mb-1">
              <%= l10n("insured.tribal_state_alert") %>
            </div>
          </div>
        </div>
        <%= f.select(:tribal_state, options_for_select(State::NAME_IDS, selected: f.object.tribal_state), {include_blank: "SELECT STATE"}, id: "tribal-state")  %>
      </div>

      <div class="mb-4 featured-tribe-container hide">
        <label for="tribe_codes"><%= l10n("insured.tribal_name") %></label>
        <%= f.collection_check_boxes(:tribe_codes, featured_tribes_collection, :value, :name, {}, :class => 'tribe_codes')  do |tribe| %>
          <div> <%= tribe.label(:"data-value" => tribe.value) { tribe.check_box + tribe.text } %> </div>
        <% end %>
      </div>

      <div class="mb-4 tribal-name-container hide">
        <label for="tribal-name"><%= l10n("insured.tribal_name") %></label>
        <div id="tribal-name-alert">
          <div class="alert alert-warning d-flex" role="alert">
            <div>
              <div class="warning-icon icon" alt="warning" aria-hidden="true">&nbsp;</div>
            </div>
            <div class="mt-2 mb-1">
              <%= l10n("insured.tribal_name_alert") %>
            </div>
          </div>
        </div>
        <%= f.text_field :tribal_name, class: "required", id: "tribal-name", placeholder: 'TRIBE NAME' %>
      </div>
    <% else %>
      <div class="mb-4">
        <label for="tribal_id"><%= l10n("insured.tribal_name") %></label>
        <div id="tribal-id-alert">
          <div class="alert alert-warning d-flex" role="alert">
            <div>
              <div class="warning-icon icon" alt="warning" aria-hidden="true">&nbsp;</div>
            </div>
            <div class="mt-2 mb-1">
              <%= l10n("insured.tribal_id_alert") %>
            </div>
          </div>
        </div>
        <%= f.text_field :tribal_id, class: "required", id: "tribal-id", placeholder: 'TRIBAL ID' %>
      </div>
    <% end %>
  </div>
<% else %>
<div class="row no-buffer <%= "no_coverage_tribe_details" if FinancialAssistanceRegistry.feature_enabled?(:no_coverage_tribe_details) %>
<%= "featured_tribes_selection" if FinancialAssistanceRegistry.feature_enabled?(:featured_tribes_selection) %>" id='indian_tribe_area'>
  <input type="hidden" id="is_indian_alaskan_tribe_details_enabled" value="<%= EnrollRegistry[:indian_alaskan_tribe_details].enabled? %>">

  <div class="row row-form-wrapper no-buffer" id="tribal_container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label>
        <%= l10n("insured.tribe_member_pt1") %>
        <%= render partial:"shared/glossary", locals: {key: "american_indian", term: "American Indian" } %>
        <%= l10n("or") %>
        <%= render partial:"shared/glossary", locals: {key: "alaska_native", term: "Alaska Native" } %>
        <%= l10n("insured.tribe_member_pt2") %>
       </label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
      <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'indian_tribe_member_yes')" class="radio">
        <%= f.radio_button :indian_tribe_member, "true", class: "required floatlabel", id: 'indian_tribe_member_yes' %>
        <label for="indian_tribe_member_yes"><span class="yes_no_pair"><%= l10n("Yes") %></span></label>
      </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
      <div tabindex="0" onkeydown="handleRadioKeyDown(event, 'indian_tribe_member_no')" class="radio">
        <%= f.radio_button :indian_tribe_member, "false", class: "required floatlabel", id: 'indian_tribe_member_no' %>
        <label for="indian_tribe_member_no"><span class="yes_no_pair"><%= l10n("no") %></span></label>
      </div>
    </div>
    <div class="col-md-2 not-sure-margin left-seprator">
      <a href="#indian_tribe_member" data-toggle="modal" data-target="#indian_tribe_member">Not sure?</a>
      <%= render partial: 'shared/modal_support_text_household', locals: {key: "indian_tribe_member"} %>
    </div>
  </div>

  <div class="tribal-container <%= 'hide' unless f.object.indian_tribe_member %>">
    <% if EnrollRegistry[:indian_alaskan_tribe_details].enabled? %>
      <input type="hidden" id="is_featured_tribes_selection_enabled" value="<%= FinancialAssistanceRegistry[:featured_tribes_selection].enabled? %>">
      <input type="hidden" id="enroll_state_abbr" value="<%= EnrollRegistry[:enroll_app].setting(:state_abbreviation).item %>">

      <div class="row row-form-wrapper no-buffer" id="tribal-state-container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tribal-state">
        <label><%= l10n("insured.tribal_state") %></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd border_bottom_zero">
          <%= f.select(:tribal_state, options_for_select(State::NAME_IDS.map(&:last), selected: f.object.tribal_state), {include_blank: "SELECT STATE"}, id: "tribal-state")  %>
        </div>
        <div id="tribal-state-alert" class="alert alert-warning alert-dismissible no-buffer hidden_field" role="alert">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= l10n("insured.tribal_state_alert") %>
        </div>
      </div>

      <div class="row row-form-wrapper no-buffer featured-tribe-container hide">
        <div class="col-md-12">
          <label><%= l10n("insured.tribal_name") %></label>
        </div>
        <div class="col-md-12 form-group form-group-lg check_box_collection">
          <%= f.collection_check_boxes(:tribe_codes, featured_tribes_collection, :value, :name, {}, :class => 'tribe_codes')  do |tribe| %>
            <div> <%= tribe.label(:"data-value" => tribe.value) { tribe.check_box + tribe.text } %> </div>
          <% end %>
        </div>
      </div>

      <div class="row row-form-wrapper no-buffer tribal-name-container hide">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd tribal-name">
          <%= f.text_field :tribal_name, class: "floatlabel form-control required", id: "tribal-name", placeholder: 'TRIBE NAME' %>
        </div>
        <div id="tribal-name-alert" class="alert alert-warning alert-dismissible no-buffer hidden_field" role="alert">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= l10n("insured.tribal_name_alert") %>
        </div>
      </div>
    <% else %>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :tribal_id, class: "floatlabel form-control required", id: "tribal-id", placeholder: 'TRIBAL ID' %>
        </div>
        <div id="tribal-id-alert" class="alert alert-warning alert-dismissible no-buffer hidden_field" role="alert">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= l10n("insured.tribal_id_alert") %>
        </div>
      </div>
    <% end %>
  </div>

</div>
<% end %>

<script>
    var enroll_state_abbr = $('#enroll_state_abbr').val();
    var is_indian_alaskan_tribe_details_enabled = ($('#is_indian_alaskan_tribe_details_enabled').val() === 'true');

    if (is_indian_alaskan_tribe_details_enabled) {
      var is_featured_tribes_selection_enabled = ($('#is_featured_tribes_selection_enabled').val() === 'true');
      var tribal_state = $('#tribal-state').val();
      var tribe_codes_array = $('.tribe_codes:checked').map(function() {
        return $(this).val();
      }).get();
      var tribal_name_container_show = (typeof tribe_codes_array != 'undefined' && tribe_codes_array.includes("OT"));

      if (is_featured_tribes_selection_enabled && tribal_state == enroll_state_abbr) {
        $('.featured-tribe-container').removeClass('hide');
        if (tribal_name_container_show) {
          $('.tribal-name-container').removeClass('hide');
        } else {
           $('#tribal-name').val("");
          $('.tribal-name-container').addClass('hide');
        }
      } else {
          $('.tribe_codes:checked').removeAttr('checked');
          $('.tribal-name-container').removeClass('hide');
          $('.featured-tribe-container').addClass('hide');
      }
    }
</script>
