<div class="pd-container">
<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} if show_component(request.path) %>
<% end %>
<% if @bs4 %>
  <div class="mt-4 mb-4">
    <%= form_for(@consumer_role.person, url: insured_consumer_role_path(id: @consumer_role.id), :enctype =>"multipart/form-data", html: { multipart: true }, method: :put) do |f| %>
      <%= render partial: "form", locals: {f: f} %>
    <% end %>
    <br>
  </div>
<% else %>
  <%= form_for(@consumer_role.person, url: insured_consumer_role_path(id: @consumer_role.id), :enctype =>"multipart/form-data", html: { multipart: true }, method: :put) do |f| %>
    <%= render partial: "form", locals: {f: f} %>
  <% end %>
<% end %>
</div>
