<%= javascript_pack_tag "#{ENV['CLIENT']}_privacy" %>

<div class="container privacy">
  <h1><%= l10n("your_information") %></h1>
  <div id="privacy_statement_1"></div>
  <div id="privacy_statement_2"></div>
  <div id="privacy_statement_3"></div>
  <div id="privacy_statement_4"></div>
  <div id="privacy_statement_5"></div>
  <div id="privacy_statement_6"></div>
  <%# <p class="starter">
    <%= l10n("privacy_statement") </p> %>
  <div>
    <%= link_to 'CONTINUE', search_insured_consumer_role_index_path(@search_path), :class => "btn btn-lg btn-primary  interaction-click-control-continue" %>
  </div>
  <br><br>
</div>
<script>
// document.addEventListener('DOMContentLoaded', () => {
//   var client = "<%= EnrollRegistry[:enroll_app].setting(:state_abbreviation).item %>";
//   switch(client) {
//     case "ME":
//       // attach link and styling to CoverME.gov
//       // attach privacy link and styling to www.coverme.gov/privacy-policy
//       // styling for 'understand' and 'CONTINUE'

//       // var aTag = document.createElement('a');
//       // aTag.setAttribute('href', "<%= EnrollRegistry[:enroll_app].setting(:main_web_address_url).item %>");
//       // aTag.innerText = "CoverME.gov";
//       break;
//     case "DC":
//       var privacy_statement_1 = document.getElementById("privacy_statement_1");
//       var privacy_statement_2 = document.getElementById("privacy_statement_2");
//       var privacy_statement_3 = document.getElementById("privacy_statement_3");
//       var privacy_statement_4 = document.getElementById("privacy_statement_4");
//       var privacy_statement_5 = document.getElementById("privacy_statement_5");
//       var privacy_statement_6 = document.getElementById("privacy_statement_6");
//       var aTag4 = document.createElement('a');
//       var aTag5 = document.createElement('a');

//       privacy_statement_1.innerText = "<%= l10n("privacy_statement_1") %>";
//       privacy_statement_1.parentNode.insertBefore(document.createElement("br"), privacy_statement_1.nextSibling);

//       privacy_statement_2.innerText = "<%= l10n("privacy_statement_2") %>";
//       privacy_statement_2.parentNode.insertBefore(document.createElement("br"), privacy_statement_2.nextSibling);

//       privacy_statement_3.innerText = "<%= l10n("privacy_statement_3") %>";
//       privacy_statement_3.parentNode.insertBefore(document.createElement("br"), privacy_statement_3.nextSibling);
//       privacy_statement_6.innerText = "<%= l10n("privacy_statement_6") %>";
//       privacy_statement_6.parentNode.insertBefore(document.createElement("br"), privacy_statement_6.nextSibling);

//       aTag4.setAttribute('href', "<%= site_privacy_url %>");
//       aTag4.innerText = "<%= l10n("privacy_statement_4") %>";
//       privacy_statement_4.appendChild(aTag4);

//       aTag5.setAttribute('href', "<%= site_privacy_act_statement %>");
//       aTag5.innerText = "<%= l10n("privacy_statement_5") %>";
//       privacy_statement_5.appendChild(aTag5);
//       privacy_statement_5.parentNode.insertBefore(document.createElement("br"), privacy_statement_5.nextSibling);
//       break;
//     default:
//       // code block
//   }
// });
</script>
