<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
<% end %>
<div class="container <%=pundit_class Family, :updateable?%>">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <%= l10n(".ridp_agreement_html", contact_center_name: contact_center_name,contact_center_phone_number: contact_center_phone_number) %>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
      <%= render  partial: 'shared/individual_progress', locals: {step: '2', ridp: true} %>
    </div>
  </div>
</div>
<% content_for :additional_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".interaction-choice-control-value-agreement-agree").click(function(){
        $(".interaction-click-control-continue").attr("disabled", false);
          // $(".disagree_placeholder_text").hide();
        });
      $(".interaction-choice-control-value-agreement-disagree").click(function(){
        $(".interaction-click-control-continue").attr("disabled", true);
          // $(".disagree_placeholder_text").show();
          alert("<%= l10n('.ridp_agreement_alert_msg', site_short_name: site_short_name, contact_center_phone_number: contact_center_phone_number) %>");
        });
    });
  </script>
<% end %>
