= content_for :horizontal_status do
  = render  partial: 'insured/families/horizontal_status.html.erb', locals: {step: 1}
.container.pd-container
  #new_person_wrapper
    .row
      = form_for @person, { :autocomplete => :off , :as => :person, :url => match_insured_consumer_role_index_path ,:method => :post } do |f|
        .col-lg-7.col-md-7.col-sm-8.col-xs-12
          %h1.darkblue Personal Information
          %h4 First, we need to verify whether you're new to DC Health Link or affiliated with another account. Please enter your personal information. When you're finished, select CONTINUE.
          %p.memo * = required field
          = render 'insured/consumer_roles/remote_search_form', f: f
        .col-lg-3.col-md-3.col-sm-3.col-xs-12.col-md-offset-2.col-sm-offset-1.right-section
          = render  partial: 'shared/individual_progress', locals: {step: '1'}
