= content_for :horizontal_status do
  - if show_component(request.path)
    = render  partial: 'insured/families/horizontal_status.html.erb', locals: {step: 1}
.container.pd-container
  #new_person_wrapper
    .row
      = form_for @person, { :autocomplete => :off , :as => :person, :url => match_insured_consumer_role_index_path ,:method => :post } do |f|
        .col-lg-2.col-md-2.col-sm-2.col-xs-12
          = render  partial: 'shared/left_nav.html.erb'
        .col-lg-10.col-md-10.col-sm-10.col-xs-12.row
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            %h2.darkblue Personal Information
            %p First, we need to verify whether you're new to Be Well NM Link or affiliated with another account. Please enter your personal information. When you're finished, select CONTINUE.
            %p.memo * = required field

            = render 'insured/consumer_roles/remote_search_form', f: f
          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            = render  partial: 'shared/individual_progress', locals: {step: '1'}
