<div class="table-border table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Age</th>
        <th class="text-right">Premium</th>
        <th class="text-right" width="50">Employer Contribution</th>
        <th class="text-right" width="50">You Pay</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollment.hbx_enrollment_members.each do |member| %>
        <tr>
          <td><%= member.person.full_name %></td>
          <td><%= member.primary_relationship %></td>
          <td><%= dob_in_words(member.person.age_on(TimeKeeper.date_of_record), member.person.dob) %></td>
          <td class="text-right"><%= number_to_currency(@plan.premium_for(member)) %></td>
          <td class="text-right"><%= number_to_currency(@plan.employer_contribution_for(member)) %></td>
          <td class="text-right"><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
        </tr>
      <% end %>
      <tr class="gray-row">
        <td colspan="3" class="text-right capital"><strong>Totals</strong></td>
        <td class="text-right"><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
        <td class="text-right"><strong><%= number_to_currency(@plan.total_employer_contribution) %></strong></td>
        <td class="text-right"><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">Your coverage start date :</td>
        <td><span class="coverage_effective_date"><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></span></td>
      </tr>
      <% if @terminate.present? && @terminate_date.present? %>
        <tr>
          <td colspan="5" class="text-right">Termination Date:</td>
          <td><span class="coverage_effective_date"><%= @terminate_date.strftime("%m/%d/%Y") %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><br>
