<% calculate = (defined? calculate) ? calculate : true %>
<div class="table-border table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Age</th>
        <th class="text-right">Premium</th>
        <th class="text-right">APTC amount <span><i class='fa fa-question-circle' data-toggle="tooltip" title="If you submitted a formal application for financial assistance before shopping for coverage and were approved to receive Advanced Premium Tax Credit savings to reduce your monthly insurance premiums, the amount you’ll save is listed in this column."></i></span></th>
        <th class="text-right" width="50">You Pay</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollment.hbx_enrollment_members.each do |member| %>
        <tr>
          <td><%= member.person.full_name %></td>
          <td><%= PersonRelationship::InverseMap[member.primary_relationship] %></td>
          <td><%= dob_in_words(member.person.age_on(TimeKeeper.date_of_record), member.person.dob) %></td>
          <td class="text-right"><%= number_to_currency(@plan.premium_for(member)) %></td>
          <% if calculate %>
            <td class="text-right"><%- number_to_currency(@plan.aptc_amount(member)) %></td>
            <td class="text-right"><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
          <% else %>
            <td class="text-right"><%- number_to_currency(member.applied_aptc_amount.to_f) %></td>
            <td class="text-right"><%= number_to_currency(@plan.premium_for(member) - member.applied_aptc_amount.to_f) %></td>
          <% end %>
        </tr>
      <% end %>
      <tr class="gray-row">
        <td colspan="3" class="text-right capital"><strong>Totals</strong></td>
        <td class="text-right"><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
        <% if calculate %>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_aptc_amount) %></strong></td>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>
        <% else %>
          <td class="text-right"><strong><%= number_to_currency(@enrollment.applied_aptc_amount.to_f) %></strong></td>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_premium - @enrollment.applied_aptc_amount.to_f) %></strong></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="5" class="text-right">Your coverage start date :</td>
        <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
      </tr>
    </tbody>
  </table>
</div><br>
