<% calculate = (defined? calculate) ? calculate : true %>
<div class="table-border table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= l10n("name") %></th>
        <th><%= l10n("relationship") %></th>
        <th><%= l10n("age") %></th>
        <th class="text-right"><%= l10n("premium") %></th>
        <th class="text-right"><%= l10n("APTC_amount") %> <span><i class='fa fa-question-circle' data-toggle="tooltip" title="<%= l10n('APTC_amount_title_info') %>"></i></span></th>
        <th class="text-right" width="50"><%= l10n("you_pay") %></th>
      </tr>
    </thead>
    <tbody>
      <% @enrollment.hbx_enrollment_members.each do |member| %>
        <tr>
          <td><%= member.person.full_name %></td>
          <td><%= member.primary_relationship %></td>
          <td><%= dob_in_words(member.person.age_on(TimeKeeper.date_of_record), member.person.dob) %></td>
          <td class="text-right"><%= number_to_currency(@plan.premium_for(member)) %></td>
          <% if calculate %>
            <td class="text-right"><%- number_to_currency(@plan.aptc_amount(member)) %></td>
            <td class="text-right"><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
          <% else %>
            <td class="text-right"><%- number_to_currency(member.applied_aptc_amount.to_f) %></td>
            <td class="text-right"><%= number_to_currency(@plan.premium_for(member) - member.applied_aptc_amount.to_f) %></td>
          <% end %>
        </tr>
      <% end %>
      <tr class="gray-row">
        <td colspan="3" class="text-right capital"><strong><%= l10n("totals") %></strong></td>
        <td class="text-right"><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
        <% if calculate %>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_aptc_amount) %></strong></td>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>
        <% else %>
          <td class="text-right"><strong><%= number_to_currency(@enrollment.applied_aptc_amount.to_f) %></strong></td>
          <td class="text-right"><strong><%= number_to_currency(@plan.total_premium - @enrollment.applied_aptc_amount.to_f) %></strong></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="5" class="text-right"><%= l10n("your_coverage_start_date") %> :</td>
        <td><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></td>
      </tr>
    </tbody>
  </table>
</div><br>
