<% if show_pay_now?(source, hbx_enrollment) %>
  <% if can_access_pay_now_button %>
    <button class="btn btn-primary" data-toggle="modal" data-target="#payNowModal" data-enrollment="<%= hbx_enrollment.hbx_id %>">Pay Now</button>
  <% else %>
    <button class="btn btn-primary disabled">Pay Now</button>
  <% end %>
<% end %>

<<<<<<< HEAD
<%= render "shared/pay_now_modal", hbx_enrollment: hbx_enrollment, source: source %>
=======
<!-- Payment confitmation modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="payNowModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center text-uppercase"></h4>
      </div>
      <div class="modal-body">
        <p>
          You are leaving the <%= Settings.site.short_name %> website and entering a privately-owned website created,
          operated and maintained by Kaiser Permanente.<br/>
        <ul>
          <li>This link is provided for your convenience to allow you to pay your first month’s insurance premium now.
            It’s only available to make your first payment.
          </li>
          <li>The information that Kaiser Permanente collects and maintains as a result of your visit to its website is
            different from the information that DC Health Link collects and maintains.
          </li>
          <li>DC Health Link cannot help you with any information regarding this website, including your username or
            password, or other technical issues.
          </li>
          <br/>
        </ul>
        By linking to this private business, DC Health Link is not endorsing its products, services, or privacy or
        security policies. We recommend you review the business's information collection policy or terms and conditions
        to fully understand what information is collected by Kaiser Permanente.
        </p>
      </div>
      <div class="modal-footer">
        <form action=<%= @kp_pay_now_url %> method="post" target="_blank" id="pay_now_form">
          <input type="hidden" name="SAMLResponse" value="response" id="sp"/>
          <input type="hidden" name="RelayState" value=<%= @kp_relay_state %>/> 
          <button type="submit" class="btn btn-primary pull-right sp interaction-click-control-print-purchase-confirmation" id="pay-now" value="<%= hbx_enrollment.hbx_id %>">
            Leave DC Health LINK
          </button>
        </form>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">GO BACK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$("#pay-now").on('click', function (e) {
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: "/payment_transactions/generate_saml_response",
        data: {enrollment_id: $("#pay-now").val()},
        success: function (response) {
          if (response["error"] != null){
            alert("We're sorry, but something went wrong. You can try again, or pay once you receive your invoice.")}
          else if (response["status"] == 404){
            alert("We're sorry, but something went wrong. You can try again, or pay once you receive your invoice.")}
          else{
            document.getElementById("sp").value = response["SAMLResponse"];
            $("#pay_now_form").submit();
          }
        },
        error: function (response) {
            // error handling
        }
    });
  });
</script>
>>>>>>> refs#paynow_ui_refactor Refactored existing feature files
