<% if show_pay_now?(source, hbx_enrollment) %>
  <% if can_access_pay_now_button %>
    <button class="btn btn-primary" data-toggle="modal" data-target="#payNowModal" data-enrollment="<%= hbx_enrollment.hbx_id %>">Pay Now</button>
  <% else %>
    <button class="btn btn-primary disabled">Pay Now</button>
  <% end %>
<% end %>

<<<<<<< HEAD
<%= render "shared/pay_now_modal", hbx_enrollment: hbx_enrollment, source: source %>
=======
<!-- Payment confitmation modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="payNowModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center text-uppercase"></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= l10n('plans.kaiser.pay_now.redirection_message', site_short_name: Settings.site.short_name) %><br/>
          <ul>
            <li><%= l10n('plans.kaiser.pay_now.link_info')%></li>
            <li><%= l10n('plans.kaiser.pay_now.collecting_info')%></li>
            <li><%= l10n('plans.kaiser.pay_now.exchange_disclaimer_for_auth') %></li>
            <br/>
          </ul>
          <%= l10n('plans.kaiser.pay_now.exchange_disclaimer') %>
        </p>
      </div>
      <div class="modal-footer">
        <form action=<%= @kp_pay_now_url %> method="post" target="_blank" id="pay_now_form">
          <input type="hidden" name="SAMLResponse" value="response" id="sp"/>
          <input type="hidden" name="RelayState" value=<%= @kp_relay_state %>/> 
          <button type="submit" class="btn btn-primary pull-right sp interaction-click-control-print-purchase-confirmation" id="pay-now" value="<%= hbx_enrollment.hbx_id %>">
            Leave DC Health LINK
          </button>
        </form>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">GO BACK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$("#pay-now").on('click', function (e) {
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: "/payment_transactions/generate_saml_response",
        data: {enrollment_id: $("#pay-now").val()},
        success: function (response) {
          if (response["error"] != null){
            alert("We're sorry, but something went wrong. You can try again, or pay once you receive your invoice.")}
          else if (response["status"] == 404){
            alert("We're sorry, but something went wrong. You can try again, or pay once you receive your invoice.")}
          else{
            document.getElementById("sp").value = response["SAMLResponse"];
            $("#pay_now_form").submit();
          }
        },
        error: function (response) {
            // error handling
        }
    });
  });
</script>
>>>>>>> refs#paynow_ui_refactor Refactored existing feature files
