<div class="col-lg-3 col-md-3 co-sm-3 col-xs-12 filter-sidebar input-no-pd">
  <div class="row">
    <div class="checkbox-filter-wrapper">
      <% if !@hbx_enrollment.is_shop? %>
      <h4>
        <%= link_to 'Estimate Your Costs', 'https://dc.checkbookhealth.org/hie/dc/2016/index.cfm?data=eyJGT1JNVkFMVUVTIjp7fSwiVVJMVkFMVUVTIjp7IkNPVkVSQUdFIjoiSW5kaXZpZHVhbCIsImRhdGEiOiIifX0%3D', target: '_blank' %>
      </h4>
      <% end %>
      <h4>
        <%= find_my_doctor %>
      </h4>
    </div>
  <h3 class="header-title">Filter Results</h3>
  <% if @market_kind == "individual" || @benefit_group.try(:plan_option_kind) == "single_carrier" %>
  <div class="checkbox-filter-wrapper">
    <h5><strong>Metal Level</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="Sample information"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

    <ul class="list-unstyled">
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-bronze" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-bronze" type="checkbox" data-plan-metal-level-filter="bronze">
            <label for="plan-metal-level-bronze" class="checkbox-custom-label">Bronze</label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-silver" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-silver" type="checkbox" data-plan-metal-level-filter="silver">
            <label for="plan-metal-level-silver" class="checkbox-custom-label">Silver</label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-gold" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-gold" type="checkbox" data-plan-metal-level-filter="gold">
            <label for="plan-metal-level-gold" class="checkbox-custom-label">Gold</label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-platinum" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-platinum" type="checkbox" data-plan-metal-level-filter="platinum">
            <label for="plan-metal-level-platinum" class="checkbox-custom-label">Platinum</label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-catastrophic" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-catastrophic" type="checkbox" data-plan-metal-level-filter="catastrophic">
            <label for="plan-metal-level-catastrophic" class="checkbox-custom-label">Catastrophic</label>
          </label>
        </div>
      </li>
          <!--<li>
            <div class="checkbox">
              <label>
                <input id="plan-metal-level-dental" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-dental" type="checkbox" data-plan-metal-level-filter="dental">
                <label for="plan-metal-level-dental" class="checkbox-custom-label">Dental</label>
              </label>
            </div>
          </li>-->
        </ul>
      </div>
      <% end %>
      <div class="checkbox-filter-wrapper">
        <h5><strong>Plan Type</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="Sample information"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-10" class="plan-type-selection-filter checkbox-custom" name="checkbox-10" type="checkbox" data-plan-category-filter="hmo">
                <label for="checkbox-10" class="checkbox-custom-label">HMO</label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-11" class="plan-type-selection-filter checkbox-custom" name="checkbox-11" type="checkbox" data-plan-category-filter="ppo">
                <label for="checkbox-11" class="checkbox-custom-label">PPO</label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-12" class="plan-type-selection-filter checkbox-custom" name="checkbox-12" type="checkbox" data-plan-category-filter="pos">
                <label for="checkbox-12" class="checkbox-custom-label">POS</label>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong>Network</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="Sample information"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-13" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-13" type="checkbox" data-plan-metal-network-filter="nationwide">
                <label for="checkbox-13" class="checkbox-custom-label">Nationwide</label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-14" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-14" type="checkbox" data-plan-metal-network-filter="dc metro">
                <label for="checkbox-14" class="checkbox-custom-label">DC-Metro</label>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong>Carrier</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="filter by the carrier"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <ul class="list-unstyled">
          <li>
            <div class="filter-input-block">
              <%= select_tag :carrier, options_for_select(@carriers), class: "plan-carrier-selection-filter", include_blank: "All" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong>HSA Eligibility</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="Filter by the status of HSA eligibility"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <ul class="list-unstyled">
          <li>
            <div class="filter-input-block">
              <%= select_tag :hsa_eligibility, options_for_select(["Yes", "No"]), class: "plan-hsa-eligibility-selection-filter", include_blank: "All" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong>Premium Amount</strong> <a href="#" data-toggle="tooltip" data-placement="right" title="Will filter by Your Cost"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <div class="filter-input-block">
          <input type="text" class="plan-metal-premium-from-selection-filter form-control" placeholder="$0" value='0'>
          <small>To</small>
          <input type="text" class="plan-metal-premium-to-selection-filter form-control" placeholder="$<%= @max_total_employee_cost || 2000 %>" value='<%= @max_total_employee_cost || 2000 %>'>
          <%= hidden_field_tag :max_total_employee_cost, (@max_total_employee_cost || 2000) %>
        </div>
        <br/>
        <br/>
        <h5><strong>Deductible Amount</strong></h5>
        <div class="filter-input-block">
          <input type="text" class="plan-metal-deductible-from-selection-filter form-control" placeholder="$0" value='0'>
          <small>To</small>
          <input type="text" class="plan-metal-deductible-to-selection-filter form-control" placeholder="$<%= @max_deductible || 5000 %>" value='<%= @max_deductible || 5000 %>'>
          <%= hidden_field_tag :max_deductible, (@max_deductible || 5000) %>
        </div>
      </div>
      <% if @person.has_active_consumer_role? && @tax_household.present? && @market_kind == "individual" %>
      <div class="aptc">
        <hr />
        <div class="row">
          <div class="col-xs-6">
            <p class='title'>APTC</p>
            <p class='title'>Available</p>
            <p><span><%= number_to_currency(@max_aptc, precision: 2) %></span></p>
          </div>
          <div class="col-xs-6">
            <p class='title'><br /></p>
            <p class='title'>Used</p>
            <p>$ <input type="text" id='elected_aptc' value="<%= number_with_precision(@elected_aptc, precision: 2) %>" /></p>
          </div>
        </div>
        <%= hidden_field_tag :max_aptc, @max_aptc %>
        <%= hidden_field_tag :set_elected_aptc_url, set_elected_aptc_insured_plan_shopping_path(id: @hbx_enrollment.try(:id)) if @hbx_enrollment.present? %>
        <form onsubmit="return false" oninput="pct.value = (elected_pct.value*100).toFixed(0)">
          <input name='elected_pct' type="range" min='0' max='1' value="0.85" step='0.05'/>
          <span><output name="pct">85</output>%</span>
        </form>
      </div>
      <% end %>
      <div class="checkbox-filter-wrapper">
        <div class="form-inline search-apply-wrapper">
          <a href="javascript:void(0);" class="btn btn-primary apply-btn  mz">Apply</a>
          <a href="javascript:void(0);" class="btn btn-default reset-btn">Reset</a>
        </div>
      </div>
    </div>
  </div>
