<% plan_carrier = Caches::MongoidCache.lookup(CarrierProfile, plan.carrier_profile_id) { plan.carrier_profile } %>

<div class="module plan-row panel panel-default" data-plan-id="<%= plan.id %>" data-plan-category="<%= plan.plan_type ? plan.plan_type.downcase : "" %>" data-plan-metal-level="<%= plan.metal_level.downcase %>" data-plan-metal-network="<%= plan.nationwide ? "nationwide" : "dc metro" %>" data-plan-metal-premium="<%= plan.total_employee_cost %>" data-plan-metal-deductible="<%= plan.deductible == "Not Applicable" ? "$0" : plan.deductible %>" data-plan-name="<%= plan.name %>" data-plan-carrier="<%= plan_carrier.try(:legal_name) %>" data-plan-hsa-eligibility="<%= @plan_hsa_status[plan.id.to_s] %>" data-plan-ehb="<%= plan.ehb %>" data-can-use-aptc="<%= plan.can_use_aptc? %>">
  <div class="panel-body">
    <div class="row">
      <% if plan.try(:is_standard_plan) %>
          <div class="col-md-12"><i class="fa fa-bookmark"> STANDARD PLAN </i></div>
      <% end %>
    </div>
    <div class="row">
      <% if @enrolled_hbx_enrollment_plan_ids.include?(plan.id) %>
          <h5 class="col-md-12 current bg-title"><i class="fa fa-star fa-lg enrolling"></i>YOUR CURRENT <%= plan.try(:active_year) %> PLAN </h5>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2"><%= display_carrier_logo(Maybe.new(plan), {width: 80}) %></div>
      <div class="col-md-7">
        <h3 class="no-buffer">
          <%= link_to summary_products_plans_path({:standard_component_id => plan.hios_id, hbx_enrollment_id: @hbx_enrollment.id, active_year: plan.try(:active_year), market_kind: @market_kind, coverage_kind: @coverage_kind}), {:remote => true} do %>
            <% if plan.is_csr?%>
              <i class="fa fa-check-square-o" title="Eligible for Cost Sharing Reduction" data-toggle="tooltip"></i>
            <% end %>
            <%= plan.name %>
          <% end %>
          <br/>
          <small><%= plan_carrier.legal_name %></small>
        </h3>
      </div>
      <div class="col-md-3">
        <div class="price-wrapper pull-right">
          <h2 class="no-buffer plan-premium"><%= number_to_currency(current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?)) %></h2>
          <small>/Month</small>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-9">
        <table class="table gn-10">
          <thead>
          <tr>
            <th>TYPE</th>
            <th>LEVEL</th>
            <th>NETWORK</th>
            <th>DEDUCTIBLE</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= plan.plan_type ? plan.plan_type.upcase : "" %></td>

            <% plan_level = plan.metal_level.humanize %>
            <td><span class="<%= plan_level.downcase %>-icon"><%= plan_level != 'Dental' ? plan_level : display_dental_metal_level(plan).humanize %></span></td>
            <td><%= plan.nationwide ? "Nationwide" : "DC-Metro" %></td>
            <td><%= plan.deductible %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="checkbox no-buffer">
          <label>
            <input id="compare_plan_checkbox" type="checkbox" class="checkbox-custom select-plan-for-comparison" data-hbx-id="<%= @hbx_enrollment.id %>" data-hios-id="<%= plan.hios_id %>" data-plan-year="<%= plan.active_year %>" data-plan-enrollment-kind="<%= @enrollment_kind %>" data-plan-change-plan="<%= @change_plan%>"></input>
            <span for="compare_plan_checkbox" class="checkbox-custom-label">Compare</span>
          </label>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: plan, custom_css: true } %>
        </div>
      </div>
        <div class="col-md-5 col-sm-5 col-xs-5 text-right" style="padding-left: 0;">
          <% if @person.primary_family.active_household.latest_active_tax_household.present? && params[:market_kind]=='individual'%>
            <% eligibility_kind = @person.primary_family.active_household.latest_active_tax_household.current_csr_eligibility_kind %>
            <% if (EligibilityDetermination::CSR_KINDS.include? eligibility_kind) && eligibility_kind != "csr_100" && plan.metal_level != "silver" %>
              <%= link_to "Select Plan", "javascript:void(0)", class: 'btn btn-default btn-right', data: {'toggle': 'modal', 'target': "#csrEligibleReminder-#{plan.id}"} %> &nbsp;
              <%= link_to("Select Plan", "javascript:void(0)", {class: 'dn btn btn-default btn-right plan-select select', data: {url: thankyou_insured_plan_shopping_path(@hbx_enrollment, plan_id: plan.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind)}}) %>
              <%= render partial: "shared/csr_eligible_reminder_modal", locals: { plan: plan } %>
              <% else %>
              <%= link_to("Select Plan", "javascript:void(0)", {class: 'btn btn-default btn-right plan-select select', data: {url: thankyou_insured_plan_shopping_path(@hbx_enrollment, plan_id: plan.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind)}}) %>
            <% end %>
          <% else %>
            <%= link_to("Select Plan", "javascript:void(0)", {class: 'btn btn-default btn-right plan-select select', data: {url: thankyou_insured_plan_shopping_path(@hbx_enrollment, plan_id: plan.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind)}}) %>
          <% end %>
          <%= link_to "Details", summary_products_plans_path({:standard_component_id => plan.hios_id, hbx_enrollment_id: @hbx_enrollment.id, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, active_year: plan.try(:active_year)}), {:class => "btn btn-default", :remote => true} %>
        </div>
    </div>
  </div>
</div>

<style type="text/css">
    .fa-bookmark, .fa-check-square-o {
        color: green;
    }
</style>
