<div class="container">
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12">

          <h3>Purchase confirmation</h3>
          <p>Your purchase of <strong><%= @plan.name %></strong> was completed on <%= @enrollment.updated_at %>. </p>
          <p>Please print this page for your records.</p>
          <p>A copy of this confirmation has also been emailed to you. </p>

          <%= render "insured/plan_shoppings/coverage_information" %>
        </div>

        <%= link_to 'Print', '#', onclick: 'window.print();return false;', class: "btn btn-default interaction-click-control-print-purchase-confirmation", style: "float:right;" %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section plan_receipt">
        <% if @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '7'} %>
        <% elsif @change_plan == "change" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '4'} %>
        <% elsif @change_plan == "change_plan" %>
          <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '3'} %>
        <% end %>
      </div>
    </div>
  </div>
</div><br>
