<div class="container">
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12">

          <h3>Purchase confirmation</h3>
          <p>Your purchase of <strong><%= @plan.name %></strong> was completed on <%= @enrollment.updated_at %>. </p>
          <p>Please print this page for your records.</p>
          <p>A copy of this confirmation has also been emailed to you. </p>

          <p>
            <% if @employer_profile.present? %>
              <strong><%= @employer_profile.legal_name %></strong><br>
            <% end %>
            <strong><%= @plan.carrier_profile.legal_name %> <%= @plan.name %></strong><br>
            Metal level : <%= @plan.metal_level %>
          </p>
          
          <% if @enrollment.employee_role.present? %>
            <%= render "insured/plan_shoppings/coverage_information" %>
          <%else%>
            <%= render "insured/plan_shoppings/individual_coverage_information" %>
          <% end %>
        </div>

        <%= link_to 'Print', '#', onclick: 'window.print();return false;', class: "btn btn-default interaction-click-control-print-purchase-confirmation", style: "float:right;" %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section plan_receipt">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <%= render  partial: 'shared/individual_progress', locals: {step: '6'} %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '7'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '4'} %>
        <% elsif @change_plan == "change_plan" %>
          <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '3'} %>
        <% end %>
      </div>
    </div>
  </div>
</div><br>
