<% if @bs4 %>
  <%= render partial: 'shared/plan_shopping_progress', locals: { current_page: :complete, nav_options: plan_shopping_progress_hash } %>
  <div id="printArea">
    <h1>Enrollment Submitted</h1>
    <p>Your enrollment has been submitted as of <%= format_datetime(@enrollment.updated_at) %>.</p>
    <p>Please print this page for your records. A copy of this confirmation has also been emailed to you.</p>
    <% carrier_key = carrier_key_from_enrollment(@enrollment) %>
    <% if @enrollment.employee_role.present? %>
    <% else %>
      <% if show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
        <p><strong>Important:</strong> You must pay your first month’s premium directly to <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %>
          to activate your coverage. Select PAY NOW to make your first premium payment online. To learn about
          other payment options, select ‘How to Pay’.</p>
      <% else %>
        <p><strong>Important:</strong> You must pay your first month’s premium directly to your carrier for
          your coverage to take effect. Select 'How to Pay' to learn more.</p>
      <% end %>
    <% end %>
    <div class="mt-2 mb-4">
      <% unless @enrollment.employee_role.present? %>
        <span tabindex="0" onkeydown="handleButtonKeyDown(event, 'how_to_pay_button')" id="how_to_pay_button" class="btn outline mr-2" data-target="#how_to_pay" data-toggle="modal">How to Pay</span>
      <% end %>
      <%= render partial: "insured/plan_shoppings/pay_now", locals: { source: "Plan Shopping", hbx_enrollment: @enrollment }%>
    </div>


    <div id="how_to_pay" class="modal" role="dialog" style="display: none;" <% if @enrollment.employee_role.present? %>data-employee-role="true"<% else %>data-employee-role="false"<% end %>>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="d-flex mb-4 align-items-center">
              <div class="col pl-0">
                <h4 class="modal-title"><b>How to Pay</b></h4>
              </div>
              <div class="col-auto px-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <div class="close-icon icon align-self-start m-0" aria-hidden="true">&nbsp;</div>
                </button>
              </div>
            </div>
            <div class="modal-body">
              <% if @plan.kind == :health %>
                <h4><strong><%= @plan.title %></strong></h4>
                <br/>
                <ol>
                  <li>
                    <% if show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                      You must pay your first month’s premium directly to <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> to activate your
                      coverage. <%= site_short_name %> does not collect premium payments.<br/><br/>
                      There are two ways to pay your first month’s premium and activate your coverage:
                      <br/>
                      <br/>
                      <ul style="padding-left: 18px;list-style-type: disc;/* padding-left: 18px; */">
                        <li>
                          <strong>Select PAY NOW to make your first premium payment directly to Kaiser Permanente. </strong>
                        </li>
                        <li>
                          <strong>Pay when you receive your invoice. </strong>We sent your enrollment information to
                          <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> electronically. They will send you an invoice. If you don’t receive an
                          invoice within 2 weeks, call <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> at (844) 524-7370 to make your payment.
                        </li>
                      </ul>
                      <br/>
                      Once your coverage is activated, <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> will send you your insurance cards and
                      member number. You can start using your benefits on the day your coverage begins.
                    <% else %>
                      <strong>Make your first premium payment directly to <%= @plan.issuer_profile.legal_name %>.</strong>
                      Your enrollment information was electronically submitted
                      to <%= @plan.issuer_profile.legal_name %>, and they will send you an invoice.
                      If you don’t receive an invoice from <%= @plan.issuer_profile.legal_name %> within two weeks,
                      please call <%= @plan.issuer_profile.legal_name %> at the number below.
                      Your coverage will be active as of the effective date once you have paid the first month’s premium for coverage.
                      You must make this payment directly to <%= @plan.issuer_profile.legal_name %>. <%= site_short_name %> doesn’t collect your premium payments.
                    <% end %>
                    <br/>
                  </li>
                  <br/>
                  <div class="carrier-numbers">
                    <% if @plan.issuer_profile.legal_name == "CareFirst" %>
                    <div>
                      Call: <strong>1-855-444-3119</strong>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Aetna" %>
                    <div>
                      <strong>For Customers Enrolled in Individual and Family Plans</strong><br/>
                      Call: <strong>1-855-586-6959</strong><br/>
                      from 8am-6pm EST, Monday - Friday
                      <br/>
                      <br/>
                      <strong>For Brokers and Employers</strong><br/>
                      Call: <strong>1-888-422-2128</strong><br/>
                      from 8am-5pm EST, Monday - Friday
                      <br/>
                      <br/>

                      <strong>For Small Business Employees</strong><br/>
                      Call: <strong>Call 1-855-885-3289</strong><br/>
                      from 8am-6pm EST, Monday - Friday
                      <br/>
                    </div>
                    <% elsif ["Kaiser Permanente", "Kaiser"].include?(@plan.issuer_profile.legal_name) %>
                    <% unless show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                      <div>
                        Call: <strong>1-844-524-7370</strong>
                      </div>
                    <% end %>
                    <% elsif @plan.issuer_profile.legal_name == "UnitedHealthcare" %>
                    <div>
                      Call: <strong>1-877-856-2430</strong><br/>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <br/>
                  <% unless show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                    <li>
                      <strong>Start using your benefits.</strong> Once <%= @plan.issuer_profile.legal_name %> receives your first payment, they can provide the information you'll need to start using your benefits (such as member number). They'll also mail your insurance cards to you.<br/>
                    </li>
                  <% end %>
                </ol>
              <% else %>
                <h4><strong><%= @plan.name %></strong></h4>
                <br/>
                <ol>
                  <li>
                    <strong>Make your first premium payment directly to <%= @plan.issuer_profile.legal_name %></strong>.
                    Your enrollment information was electronically submitted to <%= @plan.issuer_profile.legal_name %>. <%= @plan.issuer_profile.legal_name %> will bill you directly.
                    If you do not receive a bill within two weeks, please call <%= @plan.issuer_profile.legal_name %> at the number below.
                    Your dental coverage will be active once you have paid the premium for your first month of coverage.
                    You must make this payment directly to <%= @plan.issuer_profile.legal_name %>.   <%= site_short_name %> does not collect premiums.
                    <br/>
                  </li>
                  <div class="carrier-numbers">
                    <% if @plan.issuer_profile.legal_name == "CareFirst" %>
                    <div><br/>
                      Call: <strong>1-855-444-3119</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Delta Dental" %>
                    <div><br/>
                      Call: <strong>1-800-471-0236</strong> or <strong>1-800-471-0275</strong>
                      <br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "MetLife" %>
                    <div><br/>
                      Call: <strong>1-855-638-2221</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Dentegra" %>
                    <div><br/>
                      Call: <strong>1-800-471-0284</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Dominion" %>
                    <div><br/>
                      Call: <strong>1-855-224-3016</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "BestLife" %>
                    <div><br/>
                      Call: <strong>1-800-433-0088</strong><br/>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <br/>
                  <li>
                    <strong>Start using your benefits.</strong> Once <%= @plan.issuer_profile.legal_name %> receives
                    your first payment, they can provide the information you’ll need to start using your benefits (such as member number).
                    They’ll also mail your insurance cards to you.<br/>
                  </li>
                </ol>
              <% end %>
            </div>
            <br/>
            <br/>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

    <h2>Selected Enrollment</h2>
    <% if @enrollment.employee_role.present? %>
      <%= render "insured/plan_shoppings/coverage_information" %>
    <% else %>
      <h3><%= @plan.title %></h3>
      <dl class="parent weight-n">
        <dt>Benefit:</dt>
        <dd><%= @plan.kind&.to_s&.titleize %></dd>
        <dt>Market:</dt>
        <dd>Individual</dd>
        <dt>Metal Tier:</dt>
        <dd><%= @plan.metal_level&.titleize %></dd>
        <dt>Coverage Start Date:</dt>
        <dd><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></dd>
      </dl>
      <%= render partial: "insured/plan_shoppings/individual_coverage_information", locals: {calculate:false} %>
    <% end %>

    <% if @enrollment.is_cobra_status? %>
      <p>* Your employer may charge an additional administration fee for your COBRA/Continuation coverage. If
        you have any questions, please direct them to the Employer.</p>
    <% end %>

    <p>When you’re finished, select <%= EnrollRegistry.feature_enabled?(:back_to_account_all_shop) ? "CONTINUE" : "GO TO MY ACCOUNT" %> to view the status of your enrollment. You can also
        contact your insurance carrier directly for additional information or to check the status of your
        enrollment.</p>
    <div class="mt-4">
      <%= link_to 'Print', '#', id: 'btnPrint', class: "btn outline interaction-click-control-print-purchase-confirmation mr-2" %>
      <%= h(link_to 'Go to My Account', main_app.family_account_path, class: "btn secondary text-center", id: 'btn-continue') %>
    </div>
  </div>
<% else %>
<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 3} %>
<% end %>
<div class="container" id='printArea'>
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12">
          <h1 class="darkblue">Enrollment Submitted</h1>
          <p>Your enrollment has been submitted as of <%= format_datetime(@enrollment.updated_at) %>.</p>
          <p>Please print this page for your records. A copy of this confirmation has also been emailed to you.</p>
          <% carrier_key = carrier_key_from_enrollment(@enrollment) %>
          <% if @enrollment.employee_role.present? %>
          <% else %>
            <% if show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
              <p><strong>Important:</strong> You must pay your first month’s premium directly to <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %>
                to activate your coverage. Select PAY NOW to make your first premium payment online. To learn about
                other payment options, select ‘How to Pay’.</p>
            <% else %>
              <p><strong>Important:</strong> You must pay your first month’s premium directly to your carrier for
                your coverage to take effect. Select 'How to Pay' to learn more.</p>
            <% end %>
            <p>When you’re finished, select <%= EnrollRegistry.feature_enabled?(:back_to_account_all_shop) ? "CONTINUE" : "GO TO MY ACCOUNT" %> to view the status of your enrollment. You can also
              contact your insurance carrier directly for additional information or to check the status of your
              enrollment.</p>
          <% end %>

          <p>
            <% if @employer_profile.present? %>
            <strong><%= @employer_profile.legal_name %></strong><br/>
            <% end %>
            <strong><%= @plan.issuer_profile.legal_name %> <%= @plan.title %></strong><br/>
            Benefit: <%= @enrollment.coverage_kind.titleize %><br/>
            Market: <%= show_market_name_by_enrollment @enrollment %><br/>
            Metal level: <%= @plan.metal_level_kind.capitalize %>
          </p>

          <% if @enrollment.employee_role.present? %>
            <%= render "insured/plan_shoppings/coverage_information" %>
          <% else %>
            <%= render partial: "insured/plan_shoppings/individual_coverage_information", locals: {calculate:false} %>
          <% end %>

          <% if @enrollment.is_cobra_status? %>
            <p>* Your employer may charge an additional administration fee for your COBRA/Continuation coverage. If
              you have any questions, please direct them to the Employer.</p>
          <% end %>
        </div>
        <% unless @enrollment.employee_role.present? %>
          <span tabindex="0" onkeydown="handleButtonKeyDown(event, 'how_to_pay_button')" id="how_to_pay_button" class="btn btn-default" data-target="#how_to_pay" data-toggle="modal">How to Pay</span>
        <% end %>
        <%= render partial: "insured/plan_shoppings/pay_now", locals: { source: "Plan Shopping", hbx_enrollment: @enrollment }%>
        <%= link_to 'Print', '#', id: 'btnPrint', class: "btn btn-default interaction-click-control-print-purchase-confirmation" %>
      </div>

      <div id="how_to_pay" class="modal fade" role="dialog" style="display: none;" <% if @enrollment.employee_role.present? %>data-employee-role="true"<% else %>data-employee-role="false"<% end %>>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><b>How to Pay</b></h4>
            </div>
            <div class="modal-body">
              <% if @plan.kind == :health %>
                <h4><strong><%= @plan.title %></strong></h4>
                <br/>
                <ol>
                  <li>
                    <% if show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                      You must pay your first month’s premium directly to <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> to activate your
                      coverage. <%= site_short_name %> does not collect premium payments.<br/><br/>
                      There are two ways to pay your first month’s premium and activate your coverage:
                      <br/>
                      <br/>
                      <ul style="padding-left: 18px;list-style-type: disc;/* padding-left: 18px; */">
                        <li>
                          <strong>Select PAY NOW to make your first premium payment directly to Kaiser Permanente. </strong>
                        </li>
                        <li>
                          <strong>Pay when you receive your invoice. </strong>We sent your enrollment information to
                          <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> electronically. They will send you an invoice. If you don’t receive an
                          invoice within 2 weeks, call <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> at (844) 524-7370 to make your payment.
                        </li>
                      </ul>
                      <br/>
                      Once your coverage is activated, <%= EnrollRegistry["#{carrier_key}_pay_now".to_sym]&.setting(:carriers_long_name)&.item %> will send you your insurance cards and
                      member number. You can start using your benefits on the day your coverage begins.
                    <% else %>
                      <strong>Make your first premium payment directly to <%= @plan.issuer_profile.legal_name %>.</strong>
                      Your enrollment information was electronically submitted
                      to <%= @plan.issuer_profile.legal_name %>, and they will send you an invoice.
                      If you don’t receive an invoice from <%= @plan.issuer_profile.legal_name %> within two weeks,
                      please call <%= @plan.issuer_profile.legal_name %> at the number below.
                      Your coverage will be active as of the effective date once you have paid the first month’s premium for coverage.
                      You must make this payment directly to <%= @plan.issuer_profile.legal_name %>. <%= site_short_name %> doesn’t collect your premium payments.
                    <% end %>
                    <br/>
                  </li>
                  <br/>
                  <div class="carrier-numbers">
                    <% if @plan.issuer_profile.legal_name == "CareFirst" %>
                    <div>
                      Call: <strong>1-855-444-3119</strong>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Aetna" %>
                    <div>
                      <strong>For Customers Enrolled in Individual and Family Plans</strong><br/>
                      Call: <strong>1-855-586-6959</strong><br/>
                      from 8am-6pm EST, Monday - Friday
                      <br/>
                      <br/>
                      <strong>For Brokers and Employers</strong><br/>
                      Call: <strong>1-888-422-2128</strong><br/>
                      from 8am-5pm EST, Monday - Friday
                      <br/>
                      <br/>

                      <strong>For Small Business Employees</strong><br/>
                      Call: <strong>Call 1-855-885-3289</strong><br/>
                      from 8am-6pm EST, Monday - Friday
                      <br/>
                    </div>
                    <% elsif ["Kaiser Permanente", "Kaiser"].include?(@plan.issuer_profile.legal_name) %>
                    <% unless show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                      <div>
                        Call: <strong>1-844-524-7370</strong>
                      </div>
                    <% end %>
                    <% elsif @plan.issuer_profile.legal_name == "UnitedHealthcare" %>
                    <div>
                      Call: <strong>1-877-856-2430</strong><br/>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <br/>
                  <% unless show_pay_now?("plan_shopping", @enrollment) && enrollment_is_ivl_or_coverall?(@enrollment) %>
                    <li>
                      <strong>Start using your benefits.</strong> Once <%= @plan.issuer_profile.legal_name %> receives your first payment, they can provide the information you'll need to start using your benefits (such as member number). They'll also mail your insurance cards to you.<br/>
                    </li>
                  <% end %>
                </ol>
              <% else %>
                <h4><strong><%= @plan.name %></strong></h4>
                <br/>
                <ol>
                  <li>
                    <strong>Make your first premium payment directly to <%= @plan.issuer_profile.legal_name %></strong>.
                    Your enrollment information was electronically submitted to <%= @plan.issuer_profile.legal_name %>. <%= @plan.issuer_profile.legal_name %> will bill you directly.
                    If you do not receive a bill within two weeks, please call <%= @plan.issuer_profile.legal_name %> at the number below.
                    Your dental coverage will be active once you have paid the premium for your first month of coverage.
                    You must make this payment directly to <%= @plan.issuer_profile.legal_name %>.   <%= site_short_name %> does not collect premiums.
                    <br/>
                  </li>
                  <div class="carrier-numbers">
                    <% if @plan.issuer_profile.legal_name == "CareFirst" %>
                    <div><br/>
                      Call: <strong>1-855-444-3119</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Delta Dental" %>
                    <div><br/>
                      Call: <strong>1-800-471-0236</strong> or <strong>1-800-471-0275</strong>
                      <br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "MetLife" %>
                    <div><br/>
                      Call: <strong>1-855-638-2221</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Dentegra" %>
                    <div><br/>
                      Call: <strong>1-800-471-0284</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "Dominion" %>
                    <div><br/>
                      Call: <strong>1-855-224-3016</strong><br/>
                    </div>
                    <% elsif @plan.issuer_profile.legal_name == "BestLife" %>
                    <div><br/>
                      Call: <strong>1-800-433-0088</strong><br/>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <br/>
                  <li>
                    <strong>Start using your benefits.</strong> Once <%= @plan.issuer_profile.legal_name %> receives
                    your first payment, they can provide the information you’ll need to start using your benefits (such as member number).
                    They’ll also mail your insurance cards to you.<br/>
                  </li>
                </ol>
              <% end %>
            </div>
            <br/>
            <br/>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section plan_receipt">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
            <%= render  partial: 'shared/individual_progress', locals: {step: '6'} %>
          <% else %>
            <%= render  partial: 'shared/sep_progress', locals: {step: '7'} %>
          <% end %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '7'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '4'} %>
        <% elsif @change_plan == "change_plan" %>
          <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
            <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '4'} %>
          <% else %>
            <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '3'} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
