<%= render "insured/plan_shoppings/detail_modal" %>

<div class="container">
	<div id="select_plan_wrapper">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
				<h3>Choose a healthcare plan.</h3>
				<div class="select-plan">
					<section class="select-plan-details">
						<ul class="family-coverage">
			                <li>Individual: <span><%= @person.full_name %></span></li>
					<li>Dependents: <span>Spouse + 2</span></li>
					<li>Employer: <span>Acme Unlimited, Inc.</span></li>
			                <li>Plans: <span><%= @plans.count %></span></li>
			            </ul>
			            <div class="clearfix"></div>

			            <div id="plan-summary"></div>
			            <div id="all-plans">
							<div class="filter-btn-row">
		            			<a class="pull-right all-filter" href="#" onclick="return false;">All Filters</a>
		            			<div class="clearfix"></div>
				            </div>

							<%= render "insured/plan_shoppings/plan_filters" %>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="all-plans">
									<% @plans.each do |plan| %>
										<%= render "insured/plan_shoppings/plan_details", :plan => plan %>
									<% end %>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-1 right-section">
		        <%= render  partial: 'shared/signup_progress', locals: {step: '5'} %>
		    </div>
		</div>
	</div>
</div>
