<%= render "insured/plan_shoppings/detail_modal" %>

<div class="container">
	<div id="select_plan_wrapper">
		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<h3>Choose a healthcare plan.</h3>
				<div class="select-plan">
					<section class="select-plan-details">
						<ul class="family-coverage">
			                <li>Individual: <span><%= @person.full_name %></span></li>
					<li>Dependents: <span>Spouse + 2</span></li>
					<li>Employer: <span>Acme Unlimited, Inc.</span></li>
			                <li>Plans: <span><%= @plans.count %></span></li>
			            </ul>
			            <div class="clearfix"></div>

			            <div id="plan-summary"></div>
			            <div id="all-plans">
							<div class="filter-btn-row">
		            			<a class="pull-right all-filter interaction-click-control-plan-filter" href="#" onclick="return false;">All Filters</a>
		            			<div class="clearfix"></div>
				            </div>

							<%= render "insured/plan_shoppings/plan_filters" %>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="all-plans">
									<% @plans.each do |plan| %>
										<%= render "insured/plan_shoppings/plan_details", :plan => plan %>
									<% end %>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right" id="key-section">
				<input type="hidden" id="initial_progress" value="75">
				<div style="display: none;" id="sup-progress" data-signup-progress="7"></div>
				<%= render 'shared/signup_progress' %>

				<div class="row">
		            <div class="col-md-12">
		              <%= 
		                link_to '#', class: 'btn btn-primary interaction-click-control-employee-back', onclick: 'history.go(-1);return false;' do
		                  '<i class="fa fa-chevron-left"></i> Back'.html_safe
		                end
		              %> &nbsp;
		              <a href="#" class="btn btn-default interaction-click-control-compare-plans" style="display: none;" data-uri="<%= comparison_products_plans_path %>" id="compare-selected-plans-link"><i class="fa fa-list-alt"></i> Compare Selected Plans</a>
		            </div>
		        </div><br>
		        <div class="row">
		            <div class="col-md-12">
		              <%= link_to '<i class="fa fa-user"></i> My Account'.html_safe, home_consumer_profiles_path, class: 'btn btn-primary interaction-click-control-employee-account' %> &nbsp;
		              <%= link_to '<i class="fa fa-floppy-o"></i> Save & Exit'.html_safe, home_consumer_profiles_path, class: 'btn btn-primary interaction-click-control-employee-personal-info-save-exit' %>
		            </div>
		        </div>

			</div>
		</div>
	</div>
</div>
