<% if @bs4 %>
  <%= render partial: 'shared/plan_shopping_progress', locals: { current_page: :review, nav_options: plan_shopping_progress_hash } %>
  <h1><%= l10n('insured.plan_shoppings.thankyou.heading') %></h1>
  <p><%= l10n('insured.plan_shoppings.thankyou.confirm_your_plan_selection.content') %></p>
  <%= render partial: "insured/plan_shoppings/prior_coverage_information", locals: {dependent_members: @dependent_members, enrollment: @enrollment} if @dependent_members.present? %>
  <% unless @enrollment.employee_role.present? %>
    <p><strong><%= l10n("important") %>:</strong> <%= l10n("insured.plan_shoppings.thankyou.you_must_complete_steps_to_enroll") %></p>
  <% end %>
  <h2><%= l10n('insured.plan_shoppings.thankyou.selected_enrollment') %></h2>
  <% if @employer_profile.present? %>
  <p class="bold"><%= @employer_profile.legal_name %></p>
  <% end %>
  <p class="bold"><%= @plan.issuer_profile.legal_name %> <%= @plan.title %></p>
  <dl class="parent">
    <dt><%= l10n("benefit")%>:</dt>
    <dd><%= @plan.kind&.to_s&.titleize %></dd>
    <dt><%= l10n("market")%>:</dt>
    <dd><%= show_market_name_by_enrollment @enrollment %></dd>
    <dt><%= l10n("plans.plan_shopping.receipt.metal_tier") %>:</dt>
    <dd><%= show_metal_level_by_enrollment @plan %></dd>
    <dt><%= l10n("enrollment_member.coverage_state_date")%>:</dt>
    <dd><%= @enrollment.effective_on.strftime("%m/%d/%Y") %></dd>
  </dl>

  <% if @person.has_active_consumer_role? && (@tax_household.present? || @aptc_grants.present?) && @market_kind == "individual" %>
    <div class="mb-4">
      <% is_ivl_osse_filter_eligible = ivl_osse_filtering_enabled? && @enrollment.ivl_osse_eligible? %>
      <h3><%= l10n('insured.plan_shoppings.thankyou.applied_credits') %></h3>
      <p id="aptcDesc"><%= l10n('insured.plan_shoppings.thankyou.aptc_desc') %></p>
      <div class="aptc hidden">
        <dl class="parent">
          <dt><%= l10n('insured.plan_shoppings.thankyou.total_credit') %>:</dt>
          <dd><%= number_to_currency(@max_aptc, precision: 2) %></dd>
          <dt><%= l10n('insured.plan_shoppings.thankyou.max_credit') %>:</dt>
          <% per_plan_max = @plan.total_premium > @max_aptc ? @max_aptc : (@plan.total_premium - 1).round(2) %>
          <dd><%= number_to_currency(per_plan_max) %></dd>
        </dl>
        <p><%= l10n("insured.plan_shoppings.thankyou.aptc_instructions") %></p>
        <%= hidden_field_tag :max_aptc, @max_aptc %>
        <%= hidden_field_tag :plan, @plan.id %>
        <%= hidden_field_tag :enrollment, @enrollment.id %>
        <%= hidden_field_tag :market_kind, @market_kind %>
        <%= hidden_field_tag :coverage_kind, @coverage_kind %>
        <%= hidden_field_tag :set_elected_aptc_url, set_elected_aptc_insured_plan_shopping_path(id: @hbx_enrollment.try(:id)) if @hbx_enrollment.present? %>
        <div class="d-flex align-items-end">
          <div class="mr-3">
            <% min_aptc = is_ivl_osse_filter_eligible ? minimum_applied_aptc_pct_for_osse : 0 %>
            <% step = is_ivl_osse_filter_eligible ? 1 : 1 %>
            <% pct = @max_aptc > 0 ? (@elected_aptc/@max_aptc).round(2) : 0 %>
            <label for="elected_aptc_pct" class="required"><%= l10n('insured.plan_shoppings.thankyou.percent_applied') %></label>
            <input max="100" min="<%= min_aptc %>" name="elected_aptc_pct" id="elected_aptc_pct" step="<%= step %>" type="number" value="<%= number_with_precision(pct * 100, precision: 2) %>" class="w-100 thankyou">
          </div>
          <div class="mr-3">
            <label for="elected_aptc_value" class="required"><%= l10n('insured.plan_shoppings.thankyou.amount_applied') %></label>
            <input id="elected_aptc_value" max="<%= per_plan_max %>" type="number" value="<%= number_with_precision(@elected_aptc, precision: 2) %>" data-elected="<%= number_with_precision(@elected_aptc, precision: 2) %>" class="thankyou">
          </div>
          <div class="">
            <button id="aptc_submit" class="short"><%= l10n('insured.plan_shoppings.thankyou.update_applied') %></button>
          </div>
        </div>
      </div>
      <p class="mt-4 bold"><span class="aptc-percentage"><%= pct * 100 %></span><%= l10n('insured.plan_shoppings.thankyou.aptc_numbers_1') %><span class="aptc-amount"><%= number_with_precision(@elected_aptc, precision: 2) %></span><%= l10n('insured.plan_shoppings.thankyou.aptc_numbers_2') %> <%= h(link_to l10n("how_is_this_calculated") + "?", "", data: {toggle: "modal", target: "#how_is_this_calculated"}) %></p>
      <button class="outline" id="updateAptc"><%= l10n('insured.plan_shoppings.thankyou.update_amount') %></button>
    </div>
  <% end %>
  <% if @enrollment.employee_role.present? %>
    <%= render "insured/plan_shoppings/individual_coverage_information" %>
  <% else %>
    <%= render partial: "insured/plan_shoppings/individual_coverage_information", locals: {calculate: true} %>
    <%= render "insured/plan_shoppings/individual_agreement", locals: {coverage_year: @enrollment.effective_on.year.to_s} %>
  <% end %>
  <% if @enrollment.is_cobra_status? %>
    <p><%= l10n("insured.plan_shoppings.thankyou.additional_administration_msg") %></p>
  <% end %>
  <%= render :partial => "ui-components/v1/modals/waive_confirmation_during_shopping", :locals => { :enrollment => @enrollment } if @enrollment.employee_role.present? %>
  <div class="mt-4">
    <%= render partial: "shared/progress_navigation_buttons", locals: {confirmation_link: true} %>
  </div>
  <div id="how_is_this_calculated" class="modal fade" role="document" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="height:0;border-bottom:0;">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin-right:20px;">
          <p style="margin-bottom:0px;font-weight:400;">
            <strong><%= l10n("modal_how_is_this_calculated") %></strong>
          </p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated1") %></p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated2") %></p>
          <p style="margin-bottom:0px;font-weight:400;"><%= l10n("modal_how_is_this_calculated3") %></p>
          <ul>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated4") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated5") %></span>
            </li>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated6") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated7") %></span>
            </li>
            <li>
              <strong><%= l10n("modal_how_is_this_calculated8") %>: </strong>
              <span><%= l10n("modal_how_is_this_calculated9") %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 3} %>
<% end %>
<div class="container">
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12" id="confirm_plan">
          <h1 class="darkblue"><%= l10n('confirm_your_plan_selection') %></h1>
          <h4><%= l10n('insured.plan_shoppings.thankyou.confirm_your_plan_selection.content') %></h4>
          <%= render partial: "insured/plan_shoppings/prior_coverage_information", locals: {dependent_members: @dependent_members, enrollment: @enrollment} if @dependent_members.present? %>
          <% if @enrollment.employee_role.present? %>
          <% else %>
            <h4><strong><%= l10n("important") %>:</strong> <%= l10n("insured.plan_shoppings.thankyou.you_must_complete_steps_to_enroll") %></h4>
          <% end %>
          <p>
            <% if @employer_profile.present? %>
            <strong><%= @employer_profile.legal_name %></strong><br>
            <% end %>
            <strong><%= @plan.issuer_profile.legal_name %> <%= @plan.title %></strong><br>
            <%= l10n("benefit") %>: <%= @enrollment.coverage_kind.capitalize %><br>
            <!-- #TODO: FIX me  -->
            <%= l10n("metal_level") %>: <%= show_metal_level_by_enrollment @plan %><br>
            <%= l10n("market") %>: <%= show_market_name_by_enrollment @enrollment %>

          </p>

          <br>

          <% if @enrollment.employee_role.present? %>
            <%= render "insured/plan_shoppings/coverage_information" %>
          <% else %>
            <%= render partial: "insured/plan_shoppings/individual_coverage_information", locals: {calculate: true} %>
            <%= render "insured/plan_shoppings/individual_agreement", locals: {coverage_year: @enrollment.effective_on.year.to_s} %>
          <% end %>

          <% if @enrollment.is_cobra_status? %>
            <p><%= l10n("insured.plan_shoppings.thankyou.additional_administration_msg") %></p>
          <% end %>
        </div>

        <%= render :partial => "ui-components/v1/modals/waive_confirmation_during_shopping", :locals => { :enrollment => @enrollment } if @enrollment.employee_role.present? %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
            <%= render  partial: 'shared/individual_progress', locals: {step: '5'} %>
          <% else %>
            <%= render  partial: 'shared/sep_progress', locals: {step: '6'} %>
          <% end %>
        <% elsif @change_plan.blank? && @market_kind == "coverall" %>
            <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
              <%= render  partial: 'shared/individual_progress', locals: {step: '5'} %>
            <% else %>
              <%= render  partial: 'shared/sep_progress', locals: {step: '6'} %>
            <% end %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '6'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '3', kind: @enrollment.kind} %>
        <% elsif @change_plan == "change_plan" %>
          <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
            <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '3'} %>
          <% else %>
            <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '2', show_waive: true} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div><br>
<% end %>
