<div class="container">
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12" id="confirm_plan">

          <h3>Confirm Your Plan Selection</h3>
          <p>Your current plan selection is displayed below. Click the Previous button if you want to change your selection. Click Purchase button to complete your enrollment.</p>
          <p>Your enrollment is not complete until you purchase your plan selection below.</p>
          <p>
            <% if @employer_profile.present? %>
            <strong><%= @employer_profile.legal_name %></strong><br>
            <% end %>
            <strong><%= @plan.carrier_profile.legal_name %> <%= @plan.name %></strong><br>
            Metal level : <%= @plan.try(:metal_level).try(:humanize) %>
          </p>

          <br>

          <% if @enrollment.employee_role.present? %>
            <%= render "insured/plan_shoppings/coverage_information" %>
          <% else %>
            <%= render "insured/plan_shoppings/individual_coverage_information" %>
            <%= render "insured/plan_shoppings/individual_agreement" %>
          <% end %>
        </div>

        <%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => { :enrollment => @enrollment } if @enrollment.employee_role.present? %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <%= render  partial: 'shared/individual_progress', locals: {step: '5'} %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '6'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '3'} %>
        <% elsif @change_plan == "change_plan" %>
          <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '2'} %>
        <% end %>
      </div>
    </div>
  </div>
</div><br>
