<div class="container">
  <div class="employee-welocome">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12" id="confirm_plan">

          <h3>Confirm Your Plan Selection</h3>
          <p>Your current plan selection is displayed below. Click the back button if you want to change your selection. Click Purchase button to complete your enrollment.</p>
          <p>Your enrollment is not complete until you purchase your plan selection below.</p>
          <p>
            <strong><%= @plan.name %></strong><br>
            Starting on : <%= @enrollment.effective_on.strftime("%m/%d/%Y") %>
          </p>

          <br>

          <%= render "insured/plan_shoppings/coverage_information" %>
        </div>

        <%= link_to 'Waive', '#', data: {toggle: "modal", target: "#waive_confirm"}, class: 'btn btn-default' %>
        <%= render "insured/plan_shoppings/waive_confirmation" %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
        <% if @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '6'} %>
        <% elsif @change_plan == "change" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '3'} %>
        <% elsif @change_plan == "change_plan" %>
          <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '2'} %>
        <% end %>
      </div>
    </div>
  </div>
</div><br>
