<li id="<%= employee_dependent_form_id(dependent) %>" class="dependent_list">

  <%= render 'shared/error_messages', :object => dependent %>

  <div id="add_info_<%= dependent.id %>">
    <%= form_for dependent, employee_dependent_submission_options_for(dependent) do |f| %>
      <div class="house col-md-12 col-sm-12 col-xs-12 no-pd">
        <div class="dependent_notice_div_<%= dependent.id%>"></div>
        <div class="row row-form-wrapper no-buffer">
          <div class="col-md-4 col-sm-4 no-pd">
            <div class="form-group form-group-lg">
              <%= f.text_field :first_name, value: dependent.first_name,class: "home required floatlabel form-control", required: true, placeholder: "FIRST NAME" %>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 no-pd">
            <div class="form-group form-group-lg">
                <%= f.text_field :middle_name, value: dependent.middle_name, class: "home floatlabel form-control", placeholder: "MIDDLE NAME"%>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 no-pd">
            <div class="form-group form-group-lg">
                <%= f.text_field :last_name, value: dependent.last_name ,class: "home required floatlabel form-control", required: true, placeholder: "LAST NAME" %>
                <div class="text-right">
                  <% if !dependent.persisted? %>
                    <a href="#" class="close close-1 remove-new-employee-dependent" data-target="#new_employee_dependent_form"><%= image_tag "member-close.png" %></a>
                  <% else %>
                    <%=
                      link_to consumer_employee_dependent_path(dependent), class: 'close close-2', :method => :delete, :remote => true, data: {confirm: "Remove dependent?", ok: 'yes', cancel: 'no'} do
                        '<i class="fa fa-times"></i>'.html_safe
                      end
                    %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-2 col-sm-2 no-pd">
        <div class="form-group form-group-lg">
          <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH",
                                             :'data-date-min' => "-110y", :'data-date-max' => "+0", required: true,  id: "family_member_dob_#{dependent.id}"}, dependent.dob %>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 no-pd">
        <div class="form-group form-group-lg">
          <%= f.text_field :ssn, value: dependent.ssn,class: "home required floatlabel form-control mask-ssn", placeholder: "SOCIAL SECURITY" %>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 no-pd">
        <div class="form-group form-group-lg">
          <%= f.select :relationship, options_for_select(PersonRelationship::Relationships.map{|r| [r.to_s.humanize, r.to_s] }, selected: f.object.relationship), {include_blank: "RELATION", required: true} %>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 no-pd">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio">
            <%= f.radio_button :gender, "male", checked: true, class: "required floatlabel", id: 'radio_male' %>
            <label for="radio_male"><span>MALE</span></label>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio">
            <%= f.radio_button :gender, "female", class: "required floatlabel", id: 'radio_female'  %>
            <label for="radio_female"><span>FEMALE</span></label>
          </div>
        </div>
      </div>
    </div>
    <% if request.referer.include?("consumer_role_id") %>
      <%= render 'shared/consumer_fields', f: f %>
    <% end %>

    <%= f.hidden_field :family_id %>
    <div id="remove_confirm" class="hidden"></div>
  </div>

  <div class="clearfix"></div>
  <div id="add_info_buttons_<%= dependent.id %>" style="padding-top: 20px;">
    <% if !dependent.persisted? %>
      <a href="#" class="remove-new-employee-dependent" data-target="#new_employee_dependent_form">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        Cancel
      </a>
    <% else %>
      <%= link_to '<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel'.html_safe, consumer_employee_dependent_path(dependent), :remote => true %>
    <% end %>
    <%= f.button(class: "btn btn-select pull-right") do %>
      Confirm Member
    <% end %>
  </div>
<% end %>
  </div>

  <script>
    $('.floatlabel').floatlabel({
      slideInput: false
    });
  </script>
  </li>
