<div class="employer-edit-tab">
  <h1>Business Info</h1>
  <% if @agency.errors.any? %>
    <div class="alert alert-error">
      <h4>
        <%= "#{pluralize(@organization.errors.size, "error")} prohibited this form from being saved:" %>
      </h4>
      <ul>
        <% @agency.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
        <% office_loc = @agency.office_locations.last %>
        <% office_loc.phone.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
        <% office_loc.address.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @plan_year.present? %>
    <div class="alert alert-error">
      <% @plan_year.application_eligibility_warnings.each do |msg| %>
        <li>
          <%= msg[1] %>
        </li>
      <% end %>
    </div>
  <% end %>
<!-- TODO refactor pundit related work-->
  <div class="module employer-staff-table <%#= pundit_class(EmployerProfile, :updateable?) %>">
    <h4>
      Point of Contact - Employer Staff
    </h4>
    <div class='table-responsive col-12'>
      <table style='width: 100%; border-collapse: collapse; border: 1px solid #d5d5d5'>
        <thead style='height: 40px;'>
        <th style='width: 18%; height: 40px; padding: 10px'>First Name</th>
        <th style='width: 18%'>Last Name</th>
        <th style='width: 18%'> Email</th>
        <th style='width: 18%'> Phone</th>
        <th style='width: 18%'> Status</th>
        <th style='width: 9%'> Remove Role</th>
        </thead>
        <% @agency.staff_roles.each do |staff| %>
          <tr style='border: 1px solid #d5d5d5; height: 50px; '>
            <td style='padding: 10px'><%= staff.first_name %></td>
            <td><%= staff.last_name %></td>
            <td>
              <%= staff.email %>
            </td>
            <td>
              <%= staff.phone %>
            </td>
            <td>
              <%# TODO - see Main App %>
              <%= staff.status %>
            </td>
            <td>
              <%= link_to(profiles_employers_employer_staff_role_path(id: @employer_profile.id, staff_id: staff.id), method: 'delete', id: 'delete_' + staff.id.to_s, data: {confirm: 'Delete this role?'}) do %>
                <i class="fa fa-trash-o fa-2x role-trashcan"></i>
              <% end %>
            </td>
          </tr>
        <% end if @staff %>
      </table>
    </div>

    <% if @add_staff == 'yes' %>
      <%= form_for @agency.organization, {as: :organization, url: profiles_employers_employer_staff_roles_path(id: @agency.profile_id), method: :post} do |f| %>
        <div>
          <h4>Add Employer Staff</h4>
            <div class="row no-buffer row-form-wrapper">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                <%= text_field_tag :first_name, @employer.try(:first_name), class: "floatlabel form-control", required: true, placeholder: 'FIRST NAME *' %>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group-lg no-pd">
                <%= text_field_tag :last_name, @employer.try(:last_name), class: "floatlabel form-control", required: true, placeholder: 'LAST NAME *' %>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                <%= text_field_tag :dob, @employer.try(:dob), class: "date-picker floatlabel form-control", required: true, placeholder: 'DATE OF BIRTH *' %>
              </div>
            </div>
          </div>
            <br>
          <button type="submit" class="btn btn-primary pull-left mtz sm_full_width"> <%= "Save".html_safe %></button>
          <%= link_to 'Cancel', edit_profiles_employers_employer_profile_path(@agency.profile_id, add_staff: 'no'), class: 'btn btn-default pull-left' %>
      <% end %>

    <% else %>
      <%= form_for @agency.organization, {as: :organization, url: profiles_registration_path(id: @agency.profile_id), method: :put} do |f| %>
        <br>
          <%= link_to 'Add Employer Staff Role', edit_profiles_employers_employer_staff_role_path(@agency.profile_id, add_staff: 'yes'), class: 'btn btn-default pull-left col-12' %>
          <br/><br><br>
          <div class="">
            <h4> Employer Information</h4>
            <div class="row no-buffer row-form-wrapper">
              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                <%= f.text_field :legal_name, class: "floatlabel form-control", required: true, placeholder: 'LEGAL NAME' %>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group-lg no-pd">
                <%= f.text_field :dba, class: "floatlabel form-control", placeholder: 'DBA' %>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
                <%= f.text_field :fein, class: "fien_field floatlabel form-control", required: true, placeholder: 'FEIN*', :readonly => true %>
              </div>

            <br>
            <%= f.fields_for :profiles, @agency.organization.profile, errors: {}, fieldset: false do |f| %>
              <%= f.hidden_field :id, value: f.object.id %>
              <%= render "benefit_sponsors/shared/organizations/profile_entity_kind", f: f %>
              </div>
              <h2> Office Locations </h2>
              <%= f.fields_for :office_locations, errors: {}, fieldset: false do |office_location, block| %>
                <%= render partial: 'benefit_sponsors/shared/office_location_fields', locals: {f: office_location} %>
                  <% @row = true %>
              <% end %>
              <br/>
              <%= render "benefit_sponsors/profiles/employers/employer_profiles/employer_contact_preferences", f: f %><br>
            <% end %>
            <br>
            <div class="form-inputs">
              <!-- TODO refactor pundit related work and link to add fields-->
              <%#= pundit_span(EmployerProfile, :updateable?) %>
              <%#= link_to_add_fields 'Add Office Location'.html_safe, f, :office_locations, 'btn btn-default' %>
              </span>
              <%= link_to "Cancel", profiles_employers_employer_profile_path(id: @agency.profile_id, tab: 'home'), class: 'btn btn-default' %>
            </div>
            <div class="top-row no-border">
              <% button_name = @agency.persisted? ? 'Save' : 'Create' %>
              <button type="submit" class="btn btn-primary pull-right  mtz sm_full_width">
                <%= "#{button_name}".html_safe %>
              </button> &nbsp;&nbsp;
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
