<div class="container content-bottom">
  <div class="col-xs-12 col-sm-9 row">
  <h2>
    Thank you for logging into your <%= Settings.site.short_name %> employer account.
  </h2>
  <p class="starter">
    Before we get started, we need to confirm the primary point of contact for your business. Please confirm that the name and email address listed below are correct, update the information or provide the name and email address for your primary point of contact. When you're finished, select 'Confirm'.
  </p>
  <p class='starter'>
    If the organization already has a staff role you will will be placed in applicant status for an additional staff role.
  </p>
  <br/>
</div>
  <%= render "benefit_sponsors/shared/organization_staff_search", f: f %>
  <%= render "benefit_sponsors/shared/person_contact", f:f %>
  <br>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
      <h4>
        <div class="col-md-4 col-sm-12 col-xs-12 col-4" >Employer Information
        </div>
      </h4>
      <br/> <br/>

      <div class="row no-buffer row-form-wrapper">
        <%= render "benefit_sponsors/shared/organizations/entity_name_and_type_fields_autofill", f: f, entity_kinds: Organization::ENTITY_KINDS %>
      </div><br>
      <%= f.fields_for :profiles, f.object.profiles, errors: {}, fieldset: false do |f| %>
        <%= render "benefit_sponsors/shared/office_locations", f: f %>
        <%= render "benefit_sponsors/profiles/employers/employer_profiles/employer_contact_preferences", f: f %>
      <% end %>
      <br/>
      <div class="row no-buffer pull-right sm_full_width">
        <button type="submit" class="btn btn-primary pull-right sm_full_width">Confirm</button>
      </div>
    </div>
  </div><br>
</div>
<input type="hidden" name="employer_id" id="employer_id" />