<div class="panel benefitgroup col-xs-12 referenceplan">
  <div class="col-xs-1">
    &nbsp;
  </div>
  <!-- Health Plan Summary: start -->
  <div class="col-xs-11 health">
    <div class="row">
      <div class="col-xs-6">
        <h5 class="title no-buffer"><%= sponsored_benefit.product_kind.to_s.humanize %></h5>
      </div>
    </div>

    <table>
      <tr>
        <th colspan="2">
          <header>Reference Plan</header>
        </th>
        <th>
          <header>Carrier</header>
        </th>
        <th>
          <header>Type</header>
        </th>
        <th>
          <header>Metal Level</header>
        </th>
        <th>
          <header>Plans By</header>
        </th>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <%= sponsored_benefit.reference_product.title.upcase %>
          </p>
        </td>
        <td>
          <p>
            <%= sponsored_benefit.reference_product.issuer_profile.legal_name %>
          </p>
        </td>
        <td>
          <p>
            <%= sponsored_benefit.reference_product.health_plan_kind.to_s.upcase %>
          </p>
        </td>
        <td>
          <p>
            <%= sponsored_benefit.reference_product.metal_level_kind.to_s.humanize %>
          </p>
        </td>
        <td>
          <p>
            <% if sponsored_benefit.product_package_kind == :single_issuer %>
              All Plans From A Single Carrier
            <% elsif sponsored_benefit.product_package_kind == :metal_level %>
              All Plans From A Given Metal Level
            <% elsif sponsored_benefit.product_package_kind == :single_product %>
              A Single Plan
            <% end %>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Health Plan Summary: end -->

  <!--Health plan collapsible: starts -->
  <div class="health-offering" style="display:none">
    <div class="col-xs-1">
      &nbsp;
    </div>

    <!--Health plan contribution: start-->
    <div class="col-xs-11">
      <div class="col-xs-12">
        <table>
          <tr>
            <th>Offered</th>
            <th>Employer <% sponsored_benefit.product_kind.to_s.humanize %> Contribution</th>
            </tr>
            <% sponsored_benefit.sponsor_contribution.contribution_levels.each_with_index do |cl, i| %>
            <tr>
              <td><%= cl.is_offered ? raw("<i class='far fa-check-square fa-lg'></i>") : raw("<i class='far fa-square fa-lg'></i>") %><%= cl.display_name %></td>
              <td id="pct">
                <strong><%= number_to_percentage cl.contribution_pct.ceil, precision: 0 %></strong>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
    </div>
    <!--Health plan contribution: end -->

    <!--Health plan Estimated Cost: start-->
    <div class="col-xs-12">
      <div class="col-xs-1">
        &nbsp;
      </div>
      <div class="est-month col-xs-11">
        <%# if package.census_employees.present? %>
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <span>Employer Estimated Maximum Monthly Cost</span>
              <h2><%#= number_to_currency(package.monthly_employer_contribution_amount) %></h2>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <table>
                <tr>
                  <th colspan="2"></th>
                  <th>Min</th>
                  <th>Max</th>
                </tr>
                <tr>
                  <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                  <td><%#= number_to_currency(package.monthly_min_employee_cost) %></td>
                  <td><%#= number_to_currency(package.monthly_max_employee_cost) %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <%# else %>
<!--           <div class="row">
            <h4 class="starter">You need to add an employee to a benefit group before you can view your estimated monthly costs. To add a new employee,
              <%#= link_to 'click here', new_employers_employer_profile_census_employee_path(@employer_profile, tab: 'employees')%>.</h4>
            </div>
        <%# end %> -->
      </div>
    </div>
  </div>

</div>