<div class="employee-upload modal fade" id="upload_roster" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Upload Employee Roster</h2>
        <h4>If you completed your employee roster offline using our Microsoft Excel template, find the file on your
          computer and upload it here.</h4>
        <h4><%= sanitize link_to(l10n("documents.need_employee_template"), main_app.document_employees_template_download_path(content_type: 'application/vnd.ms-excel', filename: "#{aca_shop_market_census_employees_template_file}.xlsx"), class: "download") %></h4 >
      </div>
      <%= form_for @employer_profile, {:url => profiles_employers_employer_profile_bulk_employee_upload_path(@employer_profile.id), method: 'post', :html => { :multipart => true }} do |f| %>
      <%= file_field_tag :file, accept: (FileUploadValidator::CSV_TYPES + FileUploadValidator::XLS_TYPES).join(',') %>
      <%= label_tag :file, 'Select File To Upload', class: 'select btn btn-primary' %>
      <%= f.submit 'Upload', class: 'btn btn-primary', disabled: true %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('input:file').change(function(){
      if ($(this).val()) {
        $('input:submit').prop('disabled', false)
      } else {
        $('input:submit').attr("disabled", true);
      }
    })
  })

  window.onload = function() {
    document.getElementById('file').value = "";
  }
</script>
