<% if @bs4 %>
  <div class="mt-4 mb-4">
    <%= label_tag :citizenship_number, l10n("insured.consumer_roles.docs_shared.citizenship_number"), class: "#{!FinancialAssistanceRegistry.feature_enabled?(:optional_document_fields) ? "required" : ""}doc_fields" %>
    <%= v.text_field :citizenship_number, :placeholder => l10n("insured.consumer_roles.docs_shared.citizenship_number"),
                   :pattern => "[a-zA-Z0-9]{6,12}",
                   :class => "doc_fields",
                   :title => l10n("insured.consumer_roles.docs_shared.citizenship_number_req").gsub("-li-", "") %>
    <%= render :partial => "insured/consumer_roles/docs_shared/vlp_doc_requirements", locals: {req: l10n("insured.consumer_roles.docs_shared.citizenship_number_req")} %>
  </div>
<% else %>
  <div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
    <%= v.text_field :citizenship_number, :placeholder => l10n("insured.consumer_roles.docs_shared.citizenship_number"),
                    :pattern => "[a-zA-Z0-9]{6,12}",
                    :class => "doc_fields",
                    :title => l10n("insured.consumer_roles.docs_shared.citizenship_number_req").gsub("-li-", "") %>
    <%= render :partial => "insured/consumer_roles/docs_shared/vlp_doc_requirements", locals: {req: l10n("insured.consumer_roles.docs_shared.citizenship_number_req")} %>
  </div>
<% end %>
