<% if @bs4 %>
  <tr

    class='msg-inbox <%=message.message_read==true ? "msg-inbox-read" : "msg-inbox-unread"%>'
    data-url="<%= retrieve_show_path(provider, message) %>">

    <td tabindex="0">
      <div class="inbox-sender"><%= message.try(:from) if @folder == l10n("inbox") %></div>
      <div class="inbox-sender"><%= message.try(:from) if @folder == l10n("deleted") %></div>
      <div class="inbox-sender"><%= message.try(:to)   if @folder == l10n("sent") %></div>
    </td>

    <td>
      <%= message.try(:subject) %>
    </td>

    <td>
      <%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %H:%M %Z") %>
    </td>

    <%- if @folder != 'Deleted' %>
    <td data-msg-delete class="pl-4 <%=pundit_class(Family, :updateable?)%>">
      <i tabindex="0" aria-hidden="true" class="far fa-trash-alt fa-2x delete-icon <%=pundit_class Family, :updateable?%>" data-toggle="tooltip">
        <span class="hide"><%= l10n("Delete") %></span>
      </i>
    </td>
    <% end %>
  </tr>

  <script>
    $(document).ready(function() {
      const msgs = document.querySelectorAll('[data-url]');

      msgs.forEach((msg) => {
        msg.querySelectorAll('td:not([data-msg-delete])').forEach((td) => {
          td.addEventListener('click', () => {
            showMessage(msg.getAttribute('data-url'));
          });

          td.addEventListener('keydown', (event) => {
            if (event.key === 'Enter' || event.key === ' ') {
              // Prevent default action to avoid scrolling when space is pressed
              event.preventDefault();
              showMessage(msg.getAttribute('data-url'));
            }
          });
        });

        msg.querySelector('[data-msg-delete]').addEventListener('click', (event) => {
          event.stopPropagation();
          deleteMessage($(this).data('url'));
        });

        msg.querySelector('[data-msg-delete]').addEventListener('keydown', (event) => {
          if (event.key === 'Enter' || event.key === ' ') {
            // Prevent default action to avoid scrolling when space is pressed
            event.preventDefault();
            deleteMessage($(this).data('url'));
          }
        });
      });
    });
  </script>
<% else %>
  <tr tabindex="0" onkeydown="handleButtonKeyDown(event, 'message_inbox')", id="message_inbox" class='<%=message.message_read==true ? "msg-inbox-read" : "msg-inbox-unread"%>' onclick="showMessage('<%= retrieve_show_path(provider, message) %>');">
    <td style="font-weight:bold">
      <%= message.try(:from) if @folder == 'Inbox' %>
      <%= message.try(:to)   if @folder == 'Sent'%>
    </td>
    <td>
      <%=message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y") %>
      <td>
        <%= message.try(:subject) %>
      </td>
      <%- if @folder != 'Deleted' %>
      <td class="  <%=pundit_class(Family, :updateable?)%>">
        <span onclick='event.stopPropagation();deleteMessage("<%=retrieve_show_path(provider, message) %>&url=<%=retrieve_inbox_path(provider)%>");' class='pull-right'>
          <i tabindex="0" onkeydown="handleButtonKeyDown(event, 'delete_message')" id="delete_message" aria-hidden="true" class="far fa-trash-alt fa-lg <%=pundit_class Family, :updateable?%>" title="Delete" data-toggle="tooltip"></i>
          <span class="hide"><%= l10n("Delete") %></span>
        </span>
      </td>
      <% end %>
    </td>
  </tr>
<% end %>
<script>
  function showMessage(url) {
    $.ajax({type: "GET", url: url, dataType: 'script'});
  }
  function deleteMessage(url, e) {
    console.log('deleteMessage');
    // $.ajax({type: "DELETE", url: url, dataType: 'script'});
  }
</script>
