<tr class='<%=message.message_read==true ? "msg-inbox-read" : "msg-inbox-unread"%>' onclick="showMessage('<%= retrieve_show_path(provider, message) %>');">
  <td>
    <%= message.try(:from) if @folder == 'Inbox' %>
    <%= message.try(:to)   if @folder == 'Sent'%>
  </td>
  <td>
    <%=message.created_at %>
    <td>
      <%= message.try(:subject) %>
    </td>
    <%- if @folder != 'Deleted' %>
    <td>
      <%= link_to retrieve_show_path(provider, message), remote: true, method: :delete, title: 'Delete', data: {'toggle': 'tooltip'}, class: 'pull-right' do %>
      <i aria-hidden="true" class="fa fa-trash-o fa-2x"></i>
      <% end %>
      <%= link_to "show", retrieve_show_path(provider, message), class: "hidden show-message" %>
    </td>
    <% end %>
  </td>
</tr>
<script>
  function showMessage(url) {
    $.ajax({type: "GET", url: url, dataType: 'script'});
  }
</script>
