<div class="container">


  <div class="row">
    <div id="inbox_form">
    <h2>Messages</h2><br>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
      <br><br><br>
      <ul class="list-groupx">
        <%=link_to(retrieve_inbox_path(provider), remote: true) do%> 
        <li class="list-group-item">Inbox <span class="badge message-badge pull-right"><%= provider.inbox.unread_messages.size %></span></li>
        <% end %>
        <%=link_to(retrieve_inbox_path(provider, folder: 'Sent'), remote: true) do%> 
        <li class="list-group-item">Sent</li>
        <% end %>
        <%=link_to(retrieve_inbox_path(provider, folder: 'Deleted'), remote: true) do%> 
        <li class="list-group-item">Deleted</li>
        <% end %>
      </ul>
    </div>
    </div>
   
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12" id="message_list_form">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> <%=@folder %></th>
            <th>Subject</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%- if provider.try(:inbox).try(:messages) %>
          <% provider.inbox.messages.select{|m| @folder == m.folder}.each do |message| %>
          <tr>
            <td> <%= message.sent_by.humanize %> </td>
            <td> <%= message.try(:subject) %> </td>
            <td> <%#= link_to "show", polymorphic_path([:insured, :family, provider.inbox, message]), class: "btn btn-primary", remote: true %>
              <%= link_to "show", retrieve_show_path(provider, message), class: "btn btn-primary", remote: true %>
              <%= link_to "Delete", retrieve_show_path(provider, message), class: "btn btn-tranparent btn-sm", remote: true, method: :delete %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="show_message_form"></div>
  </div>
</div>