<%= form_for @site, as: :site, url: { action: 'create' }, html: { class: "needs-validation", id:'broker_registration_form', novalidate:true } do |f| %>
  <div class="form-group">
    <label for="inputSiteKey">Site Key</label>
    <%= f.text_field :site_key, required:'true', id:'inputSiteKey', class:'form-control'%>
  </div>
  <div class="form-group">
    <label for="inputLongName">Long Name</label>
    <%= f.text_field :long_name, id:'inputLongName', class:'form-control'%>
  </div>
  <div class="form-group">
    <label for="inputShortName">Short Name</label>
    <%= f.text_field :short_name, id:'inputShortName', class:'form-control'%>
  </div>
  <div class="form-group">
    <label for="inputByLine">By Line</label>
    <%= f.text_field :byline, id:'inputShByLine', class:'form-control'%>
  </div>

  <%= link_to 'Back', sites_path, class:'btn btn-default' %><%= f.submit class:'btn btn-primary' %>
<% end %>
