%broker_account
  %broker_agency
    %id
      %id= broker_agency_account.broker_agency_profile.organization.hbx_id
    %name= broker_agency_account.broker_agency_profile.legal_name
    %npn= broker_agency_account.broker_agency_profile.corporate_npn
  %writing_agent
    %id
      %id= broker_agency_account.writing_agent.hbx_id
    %person
      %id
        %id= broker_agency_account.writing_agent.hbx_id
      = render :partial => "events/shared/person_name", :object => broker_agency_account.writing_agent.person
    %npn= broker_agency_account.writing_agent.npn
  %start_on= simple_date_for(broker_agency_account.start_on)
  - if !broker_agency_account.end_on.blank?
    %end_on= simple_date_for(broker_agency_account.end_on)
  - if defined?(employer_profile)
    - ga_accounts = employer_profile.general_agency_accounts.select { |gaa| gaa.for_broker_agency_account?(broker_agency_account) }
    - if ga_accounts.any?
      %ga_assignments
        - ga_accounts.each do 
          = render :partial => "general_agency_assignment", :collection => ga_accounts
