<hidden id='dchbx_enroll_date_of_record' class='d-none'><%= TimeKeeper.date_of_record.iso8601 %></hidden>
<header class="bg-white navbar-primary py-2 <%= 'pre_prod_nav_color' if ENV['ENROLL_REVIEW_ENVIRONMENT'] == true %>">

  <nav class="navbar navbar-expand-lg container py-1">
    <a class="navbar-brand mr-0" href="#">
      <%= image_pack_tag "logo_bs4_#{ENV['CLIENT'] || 'ic'}.svg", alt: "#{ENV['CLIENT']} logo"%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-dynamic-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><%= image_pack_tag "icons/menu-burger.svg", class:"h-100", alt:"navbar collapse burger" %></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-dynamic-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item-divider"></li>
        <li class="nav-item d-flex flex-column site-name-market">
          <span><%= l10n('welcome.index.welcome_to_site_header')%></span>
          <%= bs4_portal_type(controller_name) %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item d-flex flex-column">
          <span><%= image_pack_tag "icons/phone.svg", alt:"phone icon" %><%= l10n("layout.header.customer_service")%></span>
          <a><%= "#{EnrollRegistry[:enroll_app].settings(:contact_center_short_number).item} / TTY: #{EnrollRegistry[:enroll_app].setting(:contact_center_tty_number).item}" %></a>
        </li>
        <% if signed_in? %>
          <li class="nav-item-divider"></li>
          <li class="nav-item d-flex flex-column">
            <span><%= image_pack_tag "icons/user-small.svg", alt:"user icon" %><%= l10n('layout.header.user_and_id', name: user_first_name_last_name_and_suffix, id: current_user.try(:person).try(:hbx_id)) %></span>
            <span class="horizontal-links">
              <%= render partial: "shared/my_portal_links" %>
              <span><%= link_to l10n('layout.header.help'), 'https://dchealthlink.com/help', target: '_blank', rel: "noopener noreferrer" %></span>
              <span><%= link_to l10n('layout.header.logout'), main_app.destroy_user_session_path, method: 'delete' %></span>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

</header>
