.row
  .col-md-12
    = simple_form_for :scopes, url: request.path, method: :get, html: { class: 'form-inline' } do |form|
      - datatable.scopes.each do |name, options|
        - if options[:block].present?
          = form.instance_exec(form, &options[:block])
        - elsif options[:partial].present?
          = render partial: options[:partial], locals: { form: form, f: form, datatable: datatable }
        - else
          .form-group.add-left-margin
            - # Hiding the label for now because description of select is added as first option 
            %label{ for: "scopes_#{name.to_s.parameterize}", class: 'hidden' } #{name.to_s.titleize}
            = form.input name, options[:filter]
      .pull-right
        = form.submit 'Submit', class: 'btn btn-primary btn-md add-left-margin', 'data-disable-with' => 'Submitting...'
        = link_to 'Reset', request.path, class: 'btn btn-default btn-md'
