<% benefits.each do |b| %>
  <td><%= b.employer_profile.present? ? "SHOP" : "Individual" %>
  <td><%= "Issuer placeholder" %>
  <td><%= b.broker_agency_profile.present? ? b.broker_agency_profile.dba : "None" %>
  <td><%= "Benefit type placeholder" %>
  <td><%= b.hbx_enrollment_members.size %>
  <td><%= format_date(b.effective_on) %></td>
  <td><%= "Status placeholder" %></td>
<% end %>
