<div class="panel panel-default module broker consumer-broker">
  <div class="panel-heading vertically-aligned-row">
    <div>
      <h3 class="panel-title">
        <%= title.present? ? title : l10n("insured.your_broker") %>
      </h3>
    </div>
    <div class="text-right">
      <%= link_to "#{l10n('insured.delete_broker')} &nbsp;<i class='fa fa-user-times' aria-hidden='true'></i>".html_safe, delete_consumer_broker_insured_family_path(@family) , method: :delete , data: { confirm: l10n("confirm_delete_msg") }, class: 'btn btn-default'+pundit_class(Family,:updateable?) %>
    </div>
  </div>
  <div class="panel-body">
    <div class="vertically-aligned-row">
    <div>
        <strong>
          <%= l10n("insured.broker_name") %>:
        </strong>
        <span>
          <%= @person.primary_family.current_broker_agency.broker_agency_profile.legal_name.capitalize %>
        </span>
    </div>
    <div>
        <strong>
          Assignment Date:
        </strong>
        <span>
          <%= format_date(@person.primary_family.current_broker_agency.start_on) %>
        </span>
    </div>
    </div>
    <div class="vertically-aligned-row">
      <% if @person.primary_family.current_broker_agency.writing_agent.phone.present? %>
        <div>
          <strong>
            <%= l10n("phone_number") %>:
          </strong>
          <span>
            <%= @person.primary_family.current_broker_agency.writing_agent.phone %>
          </span>
        </div>
      <% end %>
      <% if @person.primary_family.current_broker_agency.writing_agent.email.address.present? %>
        <div>
          <strong>
            <%= l10n("email_address") %>:
          </strong>
          <span>
            <%= @person.primary_family.current_broker_agency.writing_agent.email.address %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
