

  <div class="col-md-12 my-broker">
    <h1>Your Broker</h1>
    <div class="panel benefitgroup col-xs-12">
      <section class="col-xs-6">
        <header class="row">
          <h5 class="bg-title">Your Broker:<span>
<%= @person.primary_family.current_broker_agency.broker_agency_profile.legal_name.capitalize %>
</span></h5>
        </header>
      </section>
      <section class="col-xs-6">
        <header class="row">
        </header>
      </section>
      <table>
        <tr>
          <td>
            <header>Your Broker</header>
          </td>
          <td>
            <p><%= @person.primary_family.current_broker_agency.writing_agent.person.first_name.capitalize %>
               <%= @person.primary_family.current_broker_agency.writing_agent.person.first_name.capitalize %></p>
          </td>
        </tr>
        <% if @person.primary_family.current_broker_agency.writing_agent.phone.present? %>
        <tr>
          <td>
            <header>Phone Number</header>
          </td>
          <td>
            <p>
              <%= @person.primary_family.current_broker_agency.writing_agent.phone %>
            </p>
          </td>
        </tr>
        <% end %>
        <% if @person.primary_family.current_broker_agency.writing_agent.email.address.present? %>
        <tr>
          <td>
            <header>Email Address</header>
          </td>
          <td>
            <p>
              <%= @person.primary_family.current_broker_agency.writing_agent.email.address %>
            </p>
          </td>
        </tr>
        <% end %>


      </table>
    </div>
    <div class="col-xs-12">
      <div class="row">
      <br/>

      <%= link_to "Back", :back, class: 'btn btn-trans' %>
      <%= link_to "Delete broker", delete_consumer_broker_insured_family_path(@family) , method: :delete , data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-trans' %>
    </div>
    </div>

  </div>
