<% broker_and_agency_present = true if @person && @person.primary_family && @person.primary_family.current_broker_agency.present? %>
<div class="panel panel-default module consumer-broker-widget">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>
        <% if broker_and_agency_present %>
          <%= l10n("insured.your_broker_or_assister") %>
        <% else %>
          <%= l10n("insured.select_broker_or_assister") %>
        <% end %>
      </strong>
    </h3>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <i aria-hidden="true" class="fa fa-user fa-3x"></i>
      <% if broker_and_agency_present %>
      <br/>
      <span class="word-break">
        <%=  @person.primary_family.current_broker_agency.broker_agency_profile.legal_name.capitalize %>
      </span>
      <% else %>
      <br/>
        <%= l10n(".no_selection") %>
      <% end %>
    </div>
    <div class="text-left">
      <% if broker_and_agency_present %>
      <div class="broker-information">
        <span class="word-break">
          <%= @person.primary_family.current_broker_agency.writing_agent.person.first_name.capitalize %>
          <%= @person.primary_family.current_broker_agency.writing_agent.person.last_name.capitalize %>
        </span>
        <br/>
        <a href="tel:1-<%= @person.primary_family.current_broker_agency.writing_agent.phone %>">1
          <%= @person.primary_family.current_broker_agency.writing_agent.phone %></a>
        <br/>
        <span class="word-break">
          <%= mail_to @person.primary_family.current_broker_agency.writing_agent.email.address, @person.primary_family.current_broker_agency.writing_agent.email.address %>
        </span>
        <br>
      </div>
      <% else %>
      <%= link_to l10n("insured.get_help_signing_up"), '', class: 'btn btn-default btn-block', data: { target: '#help_with_plan_shopping', toggle: 'modal' } %>
      <small>
        <%= link_to l10n("insured.what_is_an_assister?"), '', data: { target: '#read_only_modal_what_is_an_assister', toggle: 'modal' } %>
      </small>
      <%= render partial: 'shared/modals/read_only_modal', locals: { modal_id: 'what_is_an_assister', header_icon: "<i class='fa fa-life-ring' aria-hidden='true'></i>", title: l10n("insured.what_is_an_assister?"), body: l10n("insured.answer_for_assister", site_short_name: site_short_name ) } %>
      <br/>
      <small>
        <%= link_to l10n("insured.what_is_a_broker?"), '', data: { target: '#read_only_modal_what_is_a_broker', toggle: 'modal' } %>
      </small>
      <%= render partial: 'shared/modals/read_only_modal', locals: { modal_id: 'what_is_a_broker', header_icon: "<i class='fa fa-life-ring' aria-hidden='true'></i>", title: l10n("insured.what_is_a_broker?"), body: l10n("insured.answer_for_broker", site_short_name: site_short_name ) } %>
      <% end %>
      <% if broker_and_agency_present %>
      <small>
        <%= link_to l10n("insured.find_assistance_another_way"), '', data: { target: '#help_with_plan_shopping', toggle: 'modal' } %>
      </small>
      <% end %>
    </div>
  </div>
</div>
