<div class="documents-table">
  <div class="table-responsive">
    <% unless @person.has_consumer_role? %>
        <h4>No results found</h4>
    <% else %>
        <table>
          <tr>
            <th>Member</th>
            <th>Type</th>
            <th>Due Date</th>
            <th>Date Submitted</th>
            <th>Status</th>
          </tr>
          <% @person.consumer_role.vlp_documents.select do |doc| doc.identifier.present? end.each do |doc| %>
              <tr>
                <td><%= doc.creator %></td>
                <td><%= doc.type %></td>
                <td>
                  <% key, bucket = get_key_and_bucket(doc.identifier) %>
                  <%= link_to(document_download_path(bucket, key) + "?content_type=#{doc.format}&filename=#{doc.title.gsub(/[^0-9a-z\.]/i, '')}", class: "download") do %>
                      <%= doc.title %>
                  <% end %>
                </td>
                <td><%= doc.subject %></td>
                <td><%= doc.created_at.try(:to_date) %></td>
              </tr>
          <% end %>
    <% end %>
    </table>
  </div>
</div>