<div class="documents-table">
 <div class="table-responsive">
   <% unless @person.has_consumer_role? %>
       <h4>No results found</h4>
   <% else %>
       <table class="table table-hover table-striped" id="doc_table">
         <col width="100">
         <col width="100">
         <col width="170">
         <col width="150">
         <col width="100">
         <col width="100">
         <tr>
           <th>Member</th>
           <th>Verification Status</th>
           <th>Document</th>
           <th>Download</th>
           <th>Time left to provide verification docs</th>
           <th>Document status</th>
         </tr>

         <% @family_members.each do |member|%>
           <tr>
             <td><%= member.person.first_name %> <%= member.person.last_name%></td>
             <td>
               <% if member.person.consumer_role.aasm_state == "verifications_pending" %>
                   Pending
                 <% elsif member.person.consumer_role.aasm_state == "fully_verified" %>
                   Verified
                 <% else %>
                   Outstanding verification
               <% end %>
             </td>
             <td colspan="4">
               <table class="table table-condensed">
                 <col width="170">
                 <col width="150">
                 <col width="100">
                 <col width="100">

                   <% member.person.consumer_role.vlp_documents.each do |doc| %>
                   <tr>
                     <td>
                       <%= doc.subject %>
                     </td>
                     <td style="padding-left: 40px;">
                       <% if doc.identifier.present? %>
                       <% key = doc.identifier.split('#').last %>
                       <%= link_to("/insured/verification_documents/download/#{key}", class: "download") do %>
                       <i class="fa fa-download fa-2x"></i>
                       <% end %>
                       <% end %>
                     </td>
                     <td>
                       <%= distance_of_time_in_words(member.person.created_at.to_date, @time_to.to_date) %>
                     </td>
                     <td>
                       <%= doc.status %><br>
                     </td>
                   </tr>
                   <% end %>
               </table>
             </td>
           </tr>
         <% end %>
   <% end %>
   </table>
 </div>
</div>
