<div class="documents-table">
 <div class="table-responsive">
   <% unless @person.has_consumer_role? %>
       <h4>No results found</h4>
   <% else %>
       <table class="table table-hover table-striped">
         <col width="100">
         <col width="100">
         <col width="220">
         <col width="100">
         <col width="150">
         <tr>
           <th>Member</th>
           <th>Person Verification Status</th>
           <th>Document type</th>
           <th>Date Submitted</th>
           <th>Document verification status</th>
         </tr>

         <% @family_members.each do |member|%>
           <tr>
             <td><%= member.person.first_name %></td>
             <td>
               <% if member.person.consumer_role.aasm_state == "verifications_pending" %>
                   <%= "Pending" %>
                 <% elsif member.person.consumer_role.aasm_state == "fully_verified" %>
                   <%= "Ferified" %>
                 <% else "Outstanding verification" %>
               <% end %>
             </td>
             <td>
                <% member.person.consumer_role.vlp_documents.each do |doc| %>
                <%= doc.subject %>
                <% if doc.identifier.present? %>
                <% key, bucket = get_key_and_bucket(doc.identifier) %>
                <%= link_to(document_download_path(bucket, key) + "?contenttype=#{doc.format}&filename=#{doc.title.gsub(/[^0-9a-z\. ]/i, '')}", class: "download") do %>
                <%= doc.title %>
                <% end %>
                <% end %>
                <br>
                <% end %>
             </td>
             <td>
               <% member.person.consumer_role.vlp_documents.select{|doc| doc.identifier.present?}.each do |doc|%>
               <%= doc.created_at.try(:to_date) %>
               <% end %>
             </td>
             <td>
               <% member.person.consumer_role.vlp_documents.each do |doc| %>
               <%= doc.status %><br>
               <% end %>
             </td>
           </tr>

         <% end %>
   <% end %>
   </table>
 </div>
</div>
