<div class="documents-table">
  <div class="table-responsive">
    <% unless @person.has_consumer_role? %>
        <h4>No results found</h4>
    <% else %>
        <table class="table table-hover table-striped">
          <col width="100">
          <col width="100">
          <col width="220">
          <col width="100">
          <col width="150">
          <tr>
            <th>Member</th>
            <th>Person Verification Status</th>
            <th>Document type</th>
            <th>Date Submitted</th>
            <th>Document verification status</th>
          </tr>
<<<<<<< HEAD

          <% @family_members.each do |member|%>
            <tr>
              <td><%= member.person.first_name %></td>
              <td>
                <% if member.person.consumer_role.aasm_state == "verifications_pending" %>
                    <%= "Pending" %>
                  <% elsif member.person.consumer_role.aasm_state == "fully_verified" %>
                    <%= "Ferified" %>
                  <% else "Outstanding verification" %>
                <% end %>
              </td>
              <td>
                <% member.person.consumer_role.vlp_documents.each do |doc| %>
                <%= doc.subject %><br>
                <% end %>
              </td>
              <td>
                <% member.person.consumer_role.vlp_documents.select{|doc| doc.identifier.present?}.each do |doc|%>
                <%= doc.created_at.try(:to_date) %>
                <% end %>
              </td>
              <td>
                <% member.person.consumer_role.vlp_documents.each do |doc| %>
                <%= doc.status %><br>
                <% end %>
              </td>
            </tr>

=======
          <% @person.consumer_role.vlp_documents.select do |doc| doc.identifier.present? end.each do |doc| %>
              <tr>
                <td><%= doc.creator %></td>
                <td><%= doc.type %></td>
                <td>
                  <% key = doc.identifier.split('#').last %>
                  <%= link_to("/insured/verification_documents/download/#{key}", class: "download") do %>
                      <%= doc.title %>
                  <% end %>
                </td>
                <td><%= doc.subject %></td>
                <td><%= doc.created_at.try(:to_date) %></td>
              </tr>
>>>>>>> release-1.1
          <% end %>
    <% end %>
    </table>
  </div>
</div>
