<% if @qle.effective_on_kinds.count > 1 %>
  <div class="alert alert-danger" id='qle_effective_on_kind_alert' role="alert" style='display:none'>Please Select effective on kind</div>
  <div style='margin: 0 auto;max-width:250px;'>
    <% if @qle.title == "I've had a baby" or @qle.title == "I've adopted a child" %>
      <%= select_tag 'effective_on_kind', options_for_select(generate_options_for_effective_on_kinds(@qle.effective_on_kinds, @qle_date)), include_blank: 'SELECT EFFECTIVE ON KIND *' %>
    <% else %>
      <%= select_tag 'effective_on_kind', options_for_select(@qle.effective_on_kinds.map{|k| [k.humanize, k]}), include_blank: 'SELECT EFFECTIVE ON KIND' %>
    <% end %>
  </div>
<% else %>
  <%= hidden_field_tag 'effective_on_kind', @qle.effective_on_kinds.first %>
<% end %>

<% if @effective_on_options.present? and @effective_on_options.is_a?(Array) %>
  <div style='margin: 0 auto;max-width:250px;'>
    <%= select_tag 'effective_on_date', options_for_select(@effective_on_options.map(&:to_s)), include_blank: 'SELECT EFFECTIVE ON DATE' %>
  </div>

  <script>
    $("#qle_message").addClass("hidden");
    var mecNotice = "<br /><div class='alert alert-danger'><p class='error-text'>"
    mecNotice += "Because your other health insurance is ending in the middle of the month, you can opt to have your coverage start on <%= @qle_date.beginning_of_month %> instead of <%= (@qle_date + 1.month).beginning_of_month %>. Please call us at 1-855-532-5465 by <%= (@qle_date.beginning_of_month - 1.day) %> to use this option"
    mecNotice += "</p></div>"
    $("#mec_notice").html(mecNotice)
  </script> 
<% end %>
