<div class="employer-panel panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <strong>Congratulations on your new job at <%= @employee_role.employer_profile.legal_name %>. </strong>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <% action_path = new_insured_group_selection_path %>
        <% if !is_under_open_enrollment? && !@employee_role.is_under_open_enrollment?  %>
          <% action_path = find_sep_insured_families_path %>
        <% end %>

        <%= form_tag action_path, method: :get do %>
          <%= hidden_field_tag 'person_id', @person.id if @person %>
          <%= hidden_field_tag 'employee_role_id', @employee_role.id if @employee_role %>
          <%= submit_tag 'Shop for Employer Sponsored Coverage', class: "btn btn-default pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
