<div class="alert alert-notice">
  <a href="#" data-dismiss="alert" class="close interaction-click-control-×">×</a>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <strong>
          Congratulations on your new job at <%= employee_role.try(:employer_profile).try(:legal_name) %>.
        </strong>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 <%= pundit_class EmployerProfile, :updateable?%>">
        <%= form_tag new_insured_group_selection_path, method: :get do %>
          <%= hidden_field_tag 'person_id', @person.id if @person %>
          <%= hidden_field_tag 'employee_role_id', employee_role.try(:id) %>
          <%= submit_tag 'Shop for Employer Sponsored Coverage', class: "btn btn-default pull-right", id: "shop_for_employer_sponsored_coverage" %>
        <% end %>
      </div>
    </div>
</div>
