<% if @employee_role.employer_profile.active_broker_agency_account.present? %>
<div class="panel panel-default module employee-broker-widget">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>
        Your Broker or Assister
      </strong>
    </h3>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      <br/>
      <%= @employee_role.employer_profile.broker_agency_profile.legal_name.capitalize %>
    </div>
    <div class="text-left">
        <div class="broker-information">
          <%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.person.first_name.capitalize %>
          <%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.person.last_name.capitalize %>
          <br/>
          <a href="tel:1-<%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.phone %>">1 <%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.phone %></a>
          <br/>
          <%= mail_to @employee_role.employer_profile.active_broker_agency_account.writing_agent.email_address, @employee_role.employer_profile.active_broker_agency_account.writing_agent.email_address %><br>
        </div>
    </div>
  </div>
</div>
<% end %>
