<%# styles found in assets>stylesheets>enrollment.scss.rb %>

<% product = hbx_enrollment.product %>

<div class="plan-tile panel panel-default module">

    <div class="plan-header">
        <%= display_carrier_logo(Maybe.new(product), {width: 110}) %>
        <div class="plan-name-and-status">
            <%= render partial: "insured/families/enrollment_progress", locals: {step: hbx_enrollment.enroll_step, hbx_enrollment: hbx_enrollment} %>
            <h3><%= link_to product.title, summary_products_plans_path({:standard_component_id => product.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: product.active_year}), remote: true %></h3>
        </div>
    </div>

    <div class="plan-details">
        <div class="left-column">
        </div>
        <div class="right-column">
        </div>
    </div>

    <div class="plan-covered">
        <% names = hbx_enrollment.covered_members_first_names %>
        <% if names.present? %>
            <div class="family-members info vertical-align-top">
                <label><%= l10n("covered") %>:</label>

                <%# names.delete_at(0).camelcase %>
                <% names.each do |name| %>
                    <span class="separator">
                        <%= name.camelcase %>
                    </span>
                <% end %>
                </p>
            </div>
        <% end %>
    </div>

    <div class="plan-button-group">

    </div>
</div>