<% can_make_changes_for_enrollment = hbx_enrollment.can_make_changes? %>

<div class="enrollment-actions-ddl">
  <% unless read_only || !can_make_changes_for_enrollment %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle interaction-click-control-actions button outline " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= l10n("actions")%>
        <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-glossary run-glossary" role="menu" aria-labelledby="dropdownmenuButton">
        <%# coverage details %>
        <div class="dropdown-divider" style="border-top: 1px solid #e9ecef"></div>
        <a onfocus="handleGlossaryFocus('view_coverage_details')" onblur="handleGlossaryBlur('view_coverage_details')" href="<%= summary_products_plans_path({standard_component_id: hbx_enrollment.product.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: hbx_enrollment.product.active_year, source: 'account'}) %>" class='btn-link btn-block dropdown-item' id='view-details-btn' style='padding: 6px 12px; margin: 4px 0;' data-remote='true'>
          <%= render partial:"shared/glossary_hover", locals: {key: "view_coverage_details", title: "View my coverage details", term: sanitize(l10n("view_details")) } %>
        </a>

        <%# changes to plan %>
        <div class="dropdown-divider" style="border-top: 1px solid #e9ecef"></div>
        <% if can_make_changes_for_enrollment && !(hbx_enrollment.coverage_terminated? || hbx_enrollment.coverage_canceled?) && hbx_enrollment.is_shop?%>
          <%= pundit_span Family, :updateable? %>
          <!-- Use turbolinks: false, to avoid calling controller action twice-->
          <a onfocus="handleGlossaryFocus('make_changes_to_coverage')" onblur="handleGlossaryBlur('make_changes_to_coverage')" href="<%= new_insured_group_selection_path(person_id: @person.id, employee_role_id: @employee_role.try(:id), change_plan: 'change_plan', hbx_enrollment_id: hbx_enrollment.id, coverage_kind: hbx_enrollment.coverage_kind) %>" class='btn-link btn-block dropdown-item ee-make-changes' id='make-changes-btn' style='padding: 6px 12px; margin: 4px 0;' disabled=<%= !can_make_changes_for_enrollment %> data-turbolinks='false' >
            <%= render partial:"shared/glossary_hover", locals: {key: "make_changes_to_coverage", title: "Make changes to my plan", term: sanitize(l10n('make_changes')) } %>
          </a>
        <!-- This potentially allows certain shop users to view Make Changes -->
        <% elsif can_make_changes_for_enrollment %>
          <%= pundit_span Family, :updateable? %>
          <a onfocus="handleGlossaryFocus('make_changes_to_coverage')" onblur="handleGlossaryBlur('make_changes_to_coverage')" href="<%= edit_plan_insured_group_selections_path(hbx_enrollment_id: hbx_enrollment&.id, family_id: @family&.id) %>" class='btn-link btn-block dropdown-item ivl-make-changes' id='make-changes-btn' style='padding: 6px 12px; margin: 4px 0;' data-turbolinks="false">
            <%= render partial:"shared/glossary_hover", locals: {key: "make_changes_to_coverage", title: "Make changes to my plan", term: sanitize(l10n('make_changes')) } %>
          </a>
        <% end %>

        <%# pay now %>
        <div class="dropdown-divider" style="border-top: 1px solid #e9ecef"></div>
        <% if hbx_enrollment.product.present? && enrollment_is_ivl_or_coverall?(hbx_enrollment) %>
          <% if show_pay_now?("Enrollment Tile", hbx_enrollment)%>
            <% if before_effective_date?(hbx_enrollment) %>
              <button onfocus="handleGlossaryFocus('make_payment_before_effective_hover')" onblur="handleGlossaryBlur('make_payment_before_effective_hover')" class="btn-link btn-block" data-toggle="modal" data-target="#payNowModal<%= hbx_enrollment.hbx_id %>" style="padding: 6px 12px; margin: 4px 0; text-align: left;" data-enrollment="<%= hbx_enrollment.hbx_id %>">
              <%= render partial:"shared/glossary_hover", locals: {key: "make_payment_before_effective_hover", title: "Make a first payment for my new plan", term: sanitize(l10n("plans.issuer.pay_now.make_first_payment")) } %>
              </button>
            <% else %> <%# after or on effective date %>
              <button onfocus="handleGlossaryFocus('make_payments_hover')" onblur="handleGlossaryBlur('make_payments_hover')" class="btn-link btn-block" data-toggle="modal" data-target="#payNowModal<%= hbx_enrollment.hbx_id %>" style="padding: 6px 12px; margin: 4px 0; text-align: left;" data-enrollment="<%= hbx_enrollment.hbx_id %>">
              <%= render partial:"shared/glossary_hover", locals: {key: "make_payments_hover", title: "Make payments for my plan", term: sanitize(l10n("plans.issuer.pay_now.make_payments")) } %>
              </button>
            <% end %>
          <% elsif show_generic_redirect?(hbx_enrollment) %>
            <button onfocus="handleGlossaryFocus('generic_make_payments_hover')" onblur="handleGlossaryBlur('generic_make_payments_hover')" class="btn-link btn-block" data-toggle="modal" data-target="#payNowModal<%= hbx_enrollment.hbx_id %>" style="padding: 6px 12px; margin: 4px 0; text-align: left;" data-enrollment="<%= hbx_enrollment.hbx_id %>">
              <%= render partial:"shared/glossary_hover", locals: {key: "generic_make_payments_hover", title: "Make payments for my plan", term: sanitize(l10n("plans.issuer.pay_now.make_payments")) } %>
            </button>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<% if hbx_enrollment.product.present? && enrollment_is_ivl_or_coverall?(hbx_enrollment) %>
  <%= render "shared/pay_now_modal", hbx_enrollment: hbx_enrollment, source: "Enrollment Tile" %>
<% end %>