<% plan = hbx_enrollment.plan %>
<% if plan.present? %>
<div class="module hbx-enrollment-panel panel panel-default">
  <div class="panel-heading vertically-aligned-row">
    <h3 class="no-buffer">
      <%= hbx_enrollment.coverage_year %> <%= plan.coverage_kind %> Coverage
      <span class="separator">
        <%= hbx_enrollment.kind == 'employer_sponsored'? hbx_enrollment.employer_profile.legal_name : 'Individual & Family' %>
      </span>
    </h3>
    <% if hbx_enrollment.coverage_terminated? %>
    <h4 style="font-size: 18px; color: #909090;">Terminated</h4>
    <% elsif hbx_enrollment.coverage_canceled?  %>
    <div class="text-right">
      <span class="label label-success canceled">
        Canceled
      </span>
    </div>
    <% else %>
    <%= render partial: "insured/families/enrollment_progress", locals: {step: hbx_enrollment.enroll_step, hbx_enrollment: hbx_enrollment} %>
    <% end %>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 vertically-aligned-row">
        <div>
          <%= display_carrier_logo(Maybe.new(plan), {width: 110}) %>
        </div>
        <h3>
          <%= link_to plan.name, summary_products_plans_path({:standard_component_id => plan.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: plan.active_year}), remote: true %>
        </h3>
      </div>
      <div class="col-xs-12 vertically-aligned-row">
        <div class="enrollment-premium info vertical-align-top">
          <p>
            <strong>Premium:</strong>
            <%= number_to_currency(current_premium(hbx_enrollment), precision: 2) %>/month
          </p>
        </div>
        <% if hbx_enrollment.coverage_terminated? %>
        <div class="enrollment-effective info vertical-align-top">
          <strong>Effective Date:
          </strong>
          <%= hbx_enrollment.effective_on %>
        </div>
        <div class="enrollment-effective info vertical-align-top">
          <strong>Coverage end:
          </strong>
          <%= hbx_enrollment.terminated_on %>
        </div>
        <% else %>
        <div class="enrollment-effective info vertical-align-top">
          <strong>Effective date:
          </strong>
          <%= hbx_enrollment.effective_on %>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 vertically-aligned-row">
        <% unless hide_policy_selected_date?(hbx_enrollment) %>
        <div class="enrollment-created-at info vertical-align-top">
          <strong>Plan Selected:
          </strong>
          <%= format_policy_purchase_date(hbx_enrollment) %>
          (<%= format_policy_purchase_time(hbx_enrollment) %>)
        </div>
        <% end %>
        <div class="enrollment-type info vertical-align-top">
          <strong>Plan Type:
          </strong>
          <%= render_plan_type_details(plan) %>
        </div>
      </div>
      <% if read_only == true %>
      <div class="col-xs-12 vertically-aligned-row">
        <div class="benefit-group info vertical-align-top">
          <strong>Benefit Group:
          </strong>
          <%= @benefit_group.try(:title) %>
        </div>
        <% if @census_employee.employee_role.present? && employee_role = @census_employee.employee_role %>
        <div class="hired-on info vertical-align-top">
          <strong>Hired On:
          </strong>
          <%= @census_employee.employee_role.try(:hired_on) %></p>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 vertically-aligned-row">
      <div class="plan-end info vertical-align-top">
        <strong class="text-danger">Plan End:
        </strong>
        <% if @census_employee.coverage_terminated_on.present? %>
        <span class="text-danger">
          <%= @census_employee.coverage_terminated_on.end_of_month %>
        </span>
        <% end %>
      </div>
    </div>
    <% if hbx_enrollment.is_coverage_waived? %>
    <div class="col-xs-12 vertically-aligned-row">
      <div class="benefit-group info vertical-align-top">
        <strong>Enrollment Status:
        </strong>
        Coverage Waived
      </div>
      <% if @census_employee.employee_role.present? && employee_role = @census_employee.employee_role %>
      <div class="hired-on info vertical-align-top">
        <strong>Waiver Reason:
        </strong>
        <%= hbx_enrollment.waiver_reason %>
      </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
    <div class="col-xs-12 vertically-aligned-row">
      <div class="enrollment-type info vertical-align-top">
        <p>
          <strong class="bullet-separator"><%= HbxProfile::ShortName %>
            ID:</strong>
          <%= hbx_enrollment.hbx_id %>
        </p>
      </div>
      <div>
        <% if hbx_enrollment.consumer_role.present? && (hbx_enrollment.applied_aptc_amount > 0) %>
        <p>
          <label>APTC amount:</label>
          <strong><%= number_to_currency(hbx_enrollment.applied_aptc_amount, precision: 2) %></strong>/month
        </p>
        <% else %>
        &nbsp;
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 vertically-aligned-row">
      <% names = hbx_enrollment.covered_members_first_names %>
      <% if names.present? %>
      <div class="family-members info vertical-align-top">
        <p>
          <strong>Covered:</strong>
          <a href="#"><%= names.delete_at(0).camelcase %></a>
          <% names.each do |name| %>
          <span class="separator">
            <a href="#"><%= name.camelcase %></a>
          </span>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <% if read_only == true %>
    <% if !hbx_enrollment.is_coverage_waived? %>
    <br/>
    <%= render partial: "employers/census_employees/enrollment_details", locals: { enrollment:  hbx_enrollment} %>
    <% end %>
  <% end %>
</div>

<div class="panel-footer">
  <div class="vertically-aligned-row">
    <div>
      <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: plan } %>
    </div>
    <div>
      <a class="vertically-aligned-row" data-target="#<%= plan.coverage_kind %>-<%= plan.id %>" data-toggle="modal">
        <i class="fa fa-phone fa-2x pull-left"></i>
        <span>Carrier Contact Info</span>
      </a>
      <%= render partial: "shared/carrier_contact_information", locals: { plan: plan } unless plan.carrier_profile.blank? %>
    </div>
    <% if !read_only == true %>
      <div class="col-lg-3">
        <div class="row <%if disable_make_changes_button?(hbx_enrollment)%>cna<%end%>">
          <% if @family.is_eligible_to_enroll? && !hbx_enrollment.coverage_terminated? %>
            <%= pundit_span Family, :updateable? %>
              <%= link_to "Make Changes", new_insured_group_selection_path(person_id: @person.id, employee_role_id: @employee_role.try(:id), change_plan: 'change_plan', hbx_enrollment_id: hbx_enrollment.id), class: "btn btn-default btn-block, disabled: disable_make_changes_button?(hbx_enrollment)" %>
            </span>
          <% elsif hbx_enrollment.may_terminate_coverage? && hbx_enrollment.kind == "individual" %>
            <%= pundit_span Family, :updateable? %>
              <%= link_to "Terminate Plan", terminate_confirm_insured_group_selections_path(hbx_enrollment_id: hbx_enrollment.id), {class: 'btn btn-default btn-block' } %>
            </span>
          <% end %>
          <%= link_to "View Details", summary_products_plans_path({standard_component_id: plan.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: plan.active_year, source: 'account'}), {class: 'btn btn-primary  btn-block', remote: true} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<% else %>
<%= render partial: 'insured/families/waived_coverage_widget', locals: { read_only: true, hbx_enrollment: hbx_enrollment } %>
<% end %>
