<% plan = hbx_enrollment.plan %>
<div class="module hbx-enrollment-panel panel panel-default">
  <div class="panel-heading vertically-aligned-row">
    <h3 class="no-buffer">
      <%= hbx_enrollment.coverage_year %>
      <%= plan.coverage_kind %>
      Coverage
      <span class="separator">
        <%= hbx_enrollment.kind == 'employer_sponsored'? hbx_enrollment.employer_profile.legal_name : 'Individual & Family' %>
      </span>
    </h3>
    <% if hbx_enrollment.coverage_terminated? %>
    <h4 style="font-size: 18px; color: #909090;">Terminated</h4>
    <% elsif hbx_enrollment.coverage_canceled?  %>
    <h4 style="font-size: 18px; color: #909090;">Canceled</h4>
    <% else %>
    <div class="text-right">
      <span class="label label-success">
        <%= render partial: "insured/families/enrollment_progress", locals: {step: hbx_enrollment.enroll_step, hbx_enrollment: hbx_enrollment} %>
      </span>
    </div>
    <% end %>
  </div>

  <div class="panel-body">
    <div class="row">
    <div class="col-xs-12 vertically-aligned-row">
      <div>
        <%= display_carrier_logo(Maybe.new(plan).carrier_profile.legal_name.extract_value, {width: 110}) %>
      </div>
      <h3>
        <%= link_to plan.name, summary_products_plans_path({:standard_component_id => plan.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: plan.active_year}), remote: true %>
      </h3>
    </div>

    <div class="col-xs-12 vertically-aligned-row">


      <div class="enrollment-premium info">
        <p>
          <strong>Premium:</strong>
          <%= number_to_currency(current_premium(hbx_enrollment), precision: 2) %>/month
        </p>
      </div>
      <% if hbx_enrollment.coverage_terminated? %>

      <div class="enrollment-effective info">
        <strong>Effective Date:
        </strong>
        <%= hbx_enrollment.effective_on %>
      </div>

      <div class="enrollment-effective info">
        <strong>Coverage end:
        </strong>
        <%= hbx_enrollment.terminated_on %>
      </div>
      <% else %>
      <div class="enrollment-effective info">
        <strong>Effective date:
        </strong>
        <%= hbx_enrollment.effective_on %>
      </div>
      <% end %>
    </div>

    <div class="col-xs-12 vertically-aligned-row">


      <% unless hide_policy_selected_date?(hbx_enrollment) %>
      <div class="enrollment-created-at info">
        <strong>Plan Selected:
        </strong>
        <%= format_policy_purchase_date(hbx_enrollment) %>
          (<%= format_policy_purchase_time(hbx_enrollment) %>)
      </div>
      <% end %>
      <div class="enrollment-type info">
        <strong>Plan Type:
        </strong>
        <%= render_plan_type_details(plan) %>
      </div>

    </div>

    <div class="col-xs-12 vertically-aligned-row">

            <div class="enrollment-type info">
              <p>
                <strong class="bullet-separator"><%= HbxProfile::ShortName %>
                  ID:</strong>
                <%= hbx_enrollment.hbx_id %>
              </p>
            </div>
            <div>

      <% if hbx_enrollment.consumer_role.present? && (hbx_enrollment.applied_aptc_amount > 0) %>

        <p>
          <label>APTC amount:</label>
          <strong><%= number_to_currency(hbx_enrollment.applied_aptc_amount, precision: 2) %></strong>/month
        </p>

      <% end %>
    </div>


    </div>

    <div class="col-xs-12 vertically-aligned-row">
      <% names = hbx_enrollment.covered_members_first_names %>
      <% if names.present? %>
      <div class="family-members info">
        <p>
          <strong>Covered:</strong>
          <a href="#"><%= names.delete_at(0).camelcase %></a>
          <% names.each do |name| %>
          <span class="separator">
            <a href="#"><%= name.camelcase %></a>
          </span>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="panel-footer">
    <div class="vertically-aligned-row">
      <div>
        <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: plan } %>
      </div>
      <div>
        <a class="vertically-aligned-row" data-target="#<%= plan.coverage_kind %>-<%= plan.id %>" data-toggle="modal">
          <i class="fa fa-phone fa-2x pull-left"></i>
          <div class="fa-icon-label">Carrier Contact Info</div>
        </a>
      </div>
      <% if !read_only == true %>
      <div class="col-lg-3">
        <div class="row">
          <% if @family.is_eligible_to_enroll? && !hbx_enrollment.coverage_terminated? %>
          <%= link_to "Make Changes", new_insured_group_selection_path(person_id: @person.id, employee_role_id: @employee_role.try(:id), change_plan: 'change_plan', hbx_enrollment_id: hbx_enrollment.id), class: "btn btn-default btn-block" %>
          <% elsif hbx_enrollment.may_terminate_coverage? && hbx_enrollment.kind == "individual" %>
          <%= link_to "Terminate Plan", terminate_confirm_insured_group_selections_path(hbx_enrollment_id: hbx_enrollment.id), {class: 'btn btn-default btn-block' } %>
          <% end %>
          <%= link_to "View Details", summary_products_plans_path({standard_component_id: plan.hios_id, hbx_enrollment_id: hbx_enrollment.id, active_year: plan.active_year, source: 'account'}), {class: 'btn btn-primary  btn-block', remote: true} %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
