<div id= 'message_form'></div>
<div id="inbox_provider_form" class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="6">Primary Applicant</th>
        <th colspan="8">Benefits</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>SSN</th>
        <th>DOB</th>
        <th>HBX ID</th>
        <th>Family Ct</th>
        <th>Registered?</th>

        <th>Market</th>
        <th>Issuer</th>
        <th>Broker</th>
        <th>Benefit Type</th>
        <th>Member Ct</th>
        <th>Start Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <%= table_empty_to_human if families.count == 0 %>
      <% families.each do |family| %>
      <% pp = family.primary_applicant.person %>
      <% benefits = family.latest_household.hbx_enrollments %>
      <tr>
        <td>
          <%= pp.full_name %>
          <%#= link_to prepend_glyph_to_name(name_to_listing(pp)), family_path(family) %>
        </td>
        <td><%= number_to_obscured_ssn(pp.ssn) %></td>
        <td><%= format_date(pp.dob) %></td>
        <td><%= pp.hbx_id %></td>
        <td><%= family.active_family_members.size %></td>
        <td><%= pp.user.present? ? "Yes" : "No" %></td>
        <% if benefits.size == 0 %>
          <td><%= "None given" %></td>
        <%#= content_tag(:td, "None given", class: "text-right") %>
        <%#= content_tag(:td, "", colspan: "6") %>
        <% else %>
          <%= render "insured/families/benefits_table", benefits: benefits %>
        <% end %>
        <% if pp.user.present? || pp.emails.present? %>
          <td><%= link_to 'Send Secure Message'.html_safe,
               new_insured_inbox_path(id: family.primary_applicant.person.id,
                profile_id: current_user.person.hbx_staff_role.hbx_profile.id,
               to: family.primary_applicant.person.last_name + ', ' + family.primary_applicant.person.first_name),
            class: "btn btn-default btn-sm", remote: true %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
