<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="5">Primary Applicant</th>
      <th colspan="7">Benefits</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>SSN</th>
      <th>DOB</th>
      <th>HBX ID</th>
      <th>Family Ct</th>

      <th>Market</th>
      <th>Issuer</th>
      <th>Broker</th>
      <th>Benefit Type</th>
      <th>Member Ct</th>
      <th>Start Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= table_empty_to_human if families.count == 0 %>
    <% families.each do |family| %>
      <% pp = family.primary_applicant.person %>
      <% benefits = family.latest_household.hbx_enrollments %>
      <tr>
        <td <%= "rowspan=#{benefits.size + 1}" %>>
          <%= pp.full_name %>
          <%#= link_to prepend_glyph_to_name(name_to_listing(pp)), family_path(family) %>
        </td>
        <td><%= number_to_obscured_ssn(pp.ssn) %></td>
        <td><%= format_date(pp.dob) %></td>
        <td><%= pp.hbx_id %></td>
        <td><%= family.active_members.size %></td>
        <% if benefits.size == 0 %>
          <%= content_tag(:td, "None given", class: "text-right") %>
          <%= content_tag(:td, "", colspan: "6") %>
        <% end %>
      </tr>
      <%= render "benefits_table", benefits: benefits %>
    <% end %>
  </tbody>
</table>
