<div class="row row-form-wrapper no-buffer">
  <div class="house col-md-12 col-sm-12 col-xs-12 no-pd">
    <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg no-pd">
      <label class="static_label label-floatlabel" for="name">NAME</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= "#{@person.first_name} #{@person.middle_name} #{@person.last_name}" %></span>
    </div>
    <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg no-pd">
      <label class="static_label label-floatlabel" for="relation">RELATION</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="relation">Self</span>
    </div>
  </div>
</div>
<br>

<ul class="" id="dependent_ul">
  <% @family.active_family_members.reject(&:is_primary_applicant).each do |dependent| %>
  <%= render "insured/family_members/dependent", dependent: dependent, person: @person %>
  <% end %>
</ul>

<div id="qle_flow_info" class="hidden">
  <div class="coverage-table">
    <div class="initial-info notification-error-wrapper">
      <div class="row no-buffer">
        <div class="col-md-8">
          <center><strong>You have added/removed a family member to your profile. <br>You may qualify for a special enrollment period.</strong></center>
        </div>
        <div class="col-md-4 <%=pundit_class Family,:updateable?%>">
          <%= button_tag 'Continue', class: 'btn btn-default', id: 'qle_continue_button' %>
        </div>
      </div>
    </div>

    <div class="qle-info notification-error-wrapper hidden" style='padding-top:35px;'>
      <div class="row no-buffer">
        <%= render 'qles' %>
      </div>
    </div>

    <%= link_to 'javascript:;', class: 'close-fail', style: 'margin: 0px 8px;', onclick: "$('#qle_flow_info').hide();" do %>
    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    <% end %>
  </div>
</div>

<div id="dependent_buttons" class="focus_effect personal-info-row <%= pundit_class Family, :updateable?%>">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12" id="add-member-btn">
    <%= link_to new_insured_family_member_path(:family_id => @family.id), :remote => true, :class => "btn btn-primary " do
      '<i class="fa fa-user-plus"></i> Add Member'.html_safe
    end
    %>
  </div>
</div>