<div class="col-xs-12 horizontal-status">
  <div>
    <div class="col-xs-4 step-one step">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag('ui/profilegreen_37.png') %>
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            <%= l10n("step", number: 1) %>
          </span>
          <br>
          <span class="dg fourteen">
            <strong>
              <%= l10n("tell_us_about_yourself") %>
            </strong>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
          <%= image_tag('ui/darkgreenarrow_354.png') %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 step-two step">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag('ui/cartgreen_40.png') %>
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            <%= l10n("step", number: 2) %>
          </span>
          <br>
          <span class="dg fourteen">
            <% if step >= 2 %>
            <strong>
              <%= l10n("compare_plans_and_choose") %>
            </strong>
            <% else %>
              <%= l10n("compare_plans_and_choose") %>
            <% end %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
            <% if step >= 2 %>
            <strong>
              <%= image_tag('ui/darkgreenarrow_354.png') %>
            </strong>
            <% else %>
              <%= image_tag('ui/lightgreenarrow_354.png') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 step-three step">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag('ui/pointergreen_42.png') %>
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            <%= l10n("step", number: 3) %>
          </span>
          <br>
          <span class="dg fourteen">
            <% if step == 3 %>
            <strong>
              <%= l10n("enroll") %>
            </strong>
            <% else %>
              <%= l10n("enroll") %>
            <% end %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
            <% if step == 3 %>
            <strong>
              <%= image_tag('ui/darkgreenarrow_354.png') %>
            </strong>
            <% else %>
              <%= image_tag('ui/lightgreenarrow_354.png') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
