<div class="row">
  <div id="inbox_form" class="col-md-3 col-sm-4 col-xs-12">
    <ul class="list-group">
      <%= link_to(inbox_insured_families_path(provider)) do%>
      <li class="list-group-item">Inbox <span class="badge message-badge pull-right"><%= provider.inbox.unread_messages.size %></span></li>
      <% end %>
      <%- if @sent_box == true %>
      <%= link_to(inbox_insured_families_path(provider, folder: 'Sent')) do%>
      <li class="list-group-item">Sent</li>
      <% end %>
      <% end %>
      <%= link_to(inbox_insured_families_path(provider, folder: 'Deleted')) do%>
      <li class="list-group-item">Deleted</li>
      <% end %>
    </ul>
  </div>
  <%- @folder = (@folder||'Inbox').capitalize %>
  <div class="col-md-9 col-sm-8 col-xs-12 table-responsive" id="message_list_form">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> <%= @folder %>: FROM</th>
          <th> Date  </th>
          <th>Subject</th>
        </tr>
      </thead>

      <tbody>
        <%- if provider.try(:inbox).try(:messages) %>
        <%= render partial: "shared/inboxes/individual_message", :collection => provider.inbox.messages.select{|m| @folder == (m.folder.try(:capitalize) || 'Inbox') }, :as => :message, locals: {provider: provider} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="show_message_form"></div>
</div>
