<nav>
  <ul>
    <li <%= menu_tab_class(@tab, 'home') %>>
      <%= link_to "My #{Settings.site.short_name}", family_account_path(tab: 'home') %>
    </li>
    <% if ( @person.has_active_employee_role? && @employee_role.employer_profile.broker_agency_profile.present?) || ( @person.has_active_consumer_role? &&  @person.primary_family.current_broker_agency.present? ) %>
    <li <%= menu_tab_class(@tab, 'broker') %>>
        <%= link_to "My Broker", brokers_insured_families_path(tab: 'broker') %>
      </li>
    <% end %>

    <% if @person.has_consumer_role? %>
      <li <%= menu_tab_class(@tab, 'verification') %>>
        <%= link_to verification_insured_families_path(tab: 'verification') do %>
            Documents
          <% if enrollment_group_unverified?(@person) && verification_needed?(@person) && !documents_uploaded %>
            <span class="badge message-unread">Action Needed</span>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li <%= menu_tab_class(@tab, 'messages') %>>
      <%= link_to(inbox_insured_families_path(tab: 'messages')) do  %>
        Messages <span class="badge message-unread"><%= @person.inbox.unread_messages.size %></span>
      <% end %>
    </li>
  </ul>
  <div class="module my-account-widget panel panel-default">
    <div class="panel-heading">
      <h4>My Account</h4>
    </div>
    <div class="panel-body" style="padding: 0;">
      <span class="dg ttc">
        <%= @person.first_name.try(:humanize) %> <%= @person.last_name.try(:humanize) %>
      </span>
      <% family_member_count = @family_members.nil? ? 0 : @family_members.count %>
      <% if family_member_count > 1 %>
	<br/><br/>
	<span class="lg ttu">
	  Your Household of <%= @family_members.count %>
        </span>
        <br/>
        <% @family_members.each do |f| %>
	  <span class="twelve ttc">
	    <%= f.first_name %> <%= f.last_name %><br/>
	  </span>
        <% end %>
      <% else %>
      <% end %>
	<br/>
	<%= link_to "Manage Family", manage_family_insured_families_path(tab: 'family'), class: 'btn btn-default btn-block' %>
	<br/>
</div>
  </div>
  </nav>
