<div>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= link_to "My DC Health Link",  family_account_path %>
    </li>
    <% if @person.has_active_employee_role? && @employee_role.employer_profile.broker_agency_profile.present? %>
      <li>
        <%= link_to "My Broker", brokers_insured_families_path %>
      </li>
    <% end %>
    <li>
      <%= link_to "Documents",  documents_index_insured_families_path %>
    </li>
    <li>
      <%= link_to(inbox_insured_families_path) do  %>
      Messages <span class="badge message-unread"><%= @person.inbox.unread_messages.try(:count) %></span>
      <% end %>
    </li>
    <li>
      <%= link_to "Manage Family", manage_family_insured_families_path %>
    </li>
  </ul>
</div>
