<nav class="row">
  <ul>
    <li <%= menu_tab_class(@tab, 'home') %>>
      <%= link_to "My DC Health Link", family_account_path(tab: 'home') %>
    </li>
    <% if @person.has_active_employee_role? && @employee_role.employer_profile.broker_agency_profile.present? %>
    <li <%= menu_tab_class(@tab, 'broker') %>>
        <%= link_to "My Broker", brokers_insured_families_path(tab: 'broker') %>
      </li>
    <% end %>
    <li <%= menu_tab_class(@tab, 'documents') %>>
      <%= link_to "Documents",  documents_index_insured_families_path(tab: 'documents') %>
    </li>
    <li <%= menu_tab_class(@tab, 'messages') %>>
      <%= link_to(inbox_insured_families_path(tab: 'messages')) do  %>
      Messages <span class="badge message-unread"><%= @person.inbox.unread_messages.try(:count) %></span>
      <% end %>
    </li>
    <li <%= menu_tab_class(@tab, 'family') %>>
      <%= link_to "Manage Family", manage_family_insured_families_path(tab: 'family') %>
    </li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>My Account</h4>
      <br/>

    </div>
    <div class="panel-body">
    </div>
  </div>
</nav>
