<div class="moving_reasons hidden">
  <h4><%= l10n("insured.families.indicate_following_circumstances_to_you") %>: </h4> <br/>
  <div class = 'moving_radio_btn'>
    <div class="n-radio-group">
      <div class="n-radio-row">
        <label class="n-radio vertically-aligned-row" for="reason_accept">
          <%= radio_button_tag :reason, "",  true, id: 'reason_accept', class: "n-radio" %>
          <span class = "n-radio"></span>
          <span id="date-change"></span>
        </label>
      </div>
      <div class="n-radio-row">
        <label class="n-radio" for="reason_accept1">
          <%= radio_button_tag :reason, "I was living outside the US or in a US territory", false, id: 'reason_accept1', class: "n-radio" %>
            <span class="n-radio"></span>
            <span><%= l10n("insured.families.was_living_outside_US_or_in_US_territory") %></span>
        </label>
      </div>
      <div class="n-radio-row">
        <label class="n-radio vertically-aligned-row" for="reason_accept2">
          <%= radio_button_tag :reason, "I had income below 100% of the Federal Poverty Level and was living in a state that had not expanded Medicaid (tool-tip below)", false, id: 'reason_accept2', class: "n-radio" %>
            <span class="n-radio"></span>
            <span>
              <%= l10n("insured.families.had_income_below_the_federal_poverty_level") %>
            </span>
        </label>
      </div>
      <div class="n-radio-row">
        <label class="n-radio" for="reason_reject">
          <%= radio_button_tag :reason, "None of the Above", false, id:'reason_reject', class: "n-radio" %>
          <span class="n-radio"></span>
          <span> <%= l10n("none_of_the_above") %>.</span>
        </label>
      </div>
      <div class = 'calculator'>
        <br/>
        <%= l10n("insured.families.tooltip_use_this_calculator_html", link: link_to('www.healthcare.gov/lower-costs/', 'http://www.healthcare.gov/lower-costs/', target: :_blank, rel: "noopener noreferrer")) %>
      </div>
      <div class="center">
        <%= link_to l10n('continue').to_s.upcase, 'javascript:;', class: 'btn btn-primary btn-md', id: 'qle_submit_reason' %>
      </div>
    </div>
  </div>
</div>
