<div class='module hidden' id="qle-details">
  <div class="hbx-enrollment-panel panel panel-default module">
    <div class="panel-heading">
      <div class="vertically-aligned-row">
        <h3 class="no-buffer">REPORT LIFE CHANGES</h3>
        <div class="text-right">
          <a class="close-popup" href="javascript:void(0);">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body no-vertical-padding">
      <div class="row">
        <% url, http_method = '/insured/family_members', :get %>
        <% if action_name == 'find_sep'%>
        <% url, http_method = record_sep_insured_families_path, :post %>
        <% end %>
        <div class="alert alert-danger hidden" id='qle_effective_on_kind_alert-4' role="alert">Please Select Effective Date</div>
        <%= form_tag url, method: http_method, class: 'input-no-pd qle-detail-for-existing-kind', id: 'qle_form' do %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id='qle-date-chose'>
            <h3 class="qle-details-title darkblue text-center">I got married</h3>
            <h5 class='qle-label text-center'>Enter the date of the event.</h5>
            <div class="vertically-aligned-row">
              <div class="form-inline text-center">
                <div class="form-group">
                  <%= text_field_tag 'qle_date', '', placeholder: "mm/dd/yyyy",
                      class: "required date-picker qle-date-picker form-control", required: true %>
                </div>
                <div class="form-group">
                  <%= link_to l10n('.continue').to_s.upcase, 'javascript:;', class: 'btn btn-primary btn-md', id: 'qle_submit' %>
                </div>
              </div>
            </div>
          </div>
          <div id="qle_reason">
          </div>
          <div id="qle_message">
            <div class="success-info hidden">
              <%= hidden_field_tag 'change_plan' %>
              <%= hidden_field_tag 'qle_id' %>
              <%= hidden_field_tag 'employee_role_id', @employee_role.try(:id) || @employee_role_id || "None" %>
              <%= hidden_field_tag 'resident_role_id', @person.try(:resident_role).try(:id) %>
              <div class="alert alert-success no-buffer" role="alert">
                <strong id="qle-input-info"><%= l10n("insured.qle_detail.eligible_to_enroll_limited_time") %></strong><br>
              </div>
              <div class="effective_on_kinds">
              </div>
              <div class="spec_reasons">
              </div>
              <div class="text-center <%= pundit_class Family,:updateable? %>">
                <%= submit_tag 'Continue', class: 'btn btn-primary' %>
                <br/>
                <br/>
              </div>
            </div>
            <div class="error-info hidden">
              <h3 class="qle-details-title"><%= l10n("insured.change_tax_credits_or_cost_sharing_reductions") %></h3>
              <div class="alert alert-danger" role="alert">
                <p class="error-text">
                  <%= l10n("insured.qle_detail.error_text", contact_center_phone_number: Settings.contact_center.phone_number) %>
                </p>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$(document).on('ready page:load', function () {
  QLE.initialize();
});
</script>
