<div id="qle-details" class='hidden'>
  <div class="hbx-enrollment-panel panel panel-default">
    <div class="panel-heading">
      <div class="row">
      <div class="col-xs-11">
      <h4>REPORT LIFE CHANGES -
      <span id='event-title'>address CHANGE</span>
      </h4>
      </div>
      <div class="col-xs-1">
      <a class="close-popup" href="javascript:void(0);"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
    </div>
  </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <%= form_tag '/consumer/employee_dependents', method: :get, class: 'input-no-pd', id: 'qle_form' do %>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class='qle-form'>
              <h3 class="qle-details-title">I got married</h3>
              <h5 class='qle-label'>Enter the date of the event.</h5>
              <div class="form-inline">
                <div class="form-group">
                  <%= text_field_tag 'qle_date', '', :'data-date-max'=> "+30d", :'data-date-min'=> "-30d", placeholder: "mm/dd/yyyy",
                    class: "required date-picker qle-date-picker form-control", required: true %>
                </div>
                <div class="form-group">
                <%= link_to 'CONTINUE', 'javascript:;', class: 'btn btn-primary btn-md', id: 'qle_submit' %>
              </div>
              </div>
            </div>

            <div class="success-info hidden">
              <p class="success-text">
                <strong id="qle-input-info">Based on the information you entered, you may be eligible to enroll now but there is limited time.</strong><br><br>
              </p>

              <%= hidden_field_tag 'change_plan' %>
              <%= hidden_field_tag 'qle_id' %>
              <%= hidden_field_tag 'employee_role_id', @employee_role.try(:id) || "None" %>
              <div class="effective_on_kinds">
              </div>

              <div class="center">
                <%= submit_tag 'Continue', class: 'btn btn-primary' %>
              </div>
            </div>

            <div class="error-info hidden">
              <p class="error-text">The date you submitted does not qualify for special enrollment.<br>Please double check the date or contact DC Health Link's Customer Care Center: 1-855-532-5465.</p>
              <div class="center">
                <%= submit_tag 'Continue', disabled: true, class: 'btn' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissible panel-footer" role="alert">
      <p>QUALIFYING LIFE EVENT</p>
      <p>
        A change in your life that can make you eligible for a Special Enrollment Period to enroll In health coverage.
        <a href="#" class="interaction-click-control-learn-more">See all qualifying life events.</a>
      </p>
    </div>
  </div>
</div>
