<div id="qle-menu">
  <div class="page-header center">
    <h4>TOP LIFE CHANGES</h4>
  </div>
  <div class="row">
    <% if @qualifying_life_events %>
      <% slice_count = (@qualifying_life_events.count / 3.0).ceil %>
      <% slice_count = slice_count > 0 ? slice_count : 1 %>
      <% @qualifying_life_events.each_slice(slice_count) do |qles| %>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <ul class="list-unstyled list-inline list-qle">
            <% qles.each_with_index do |qle, index| %>
              <li>
                <a class="qle-menu-item" href="javascript:void(0)" data-toggle="<%= 'tooltip' if qle.tool_tip.present? %>" title="<%= qle.tool_tip %>" data-title='<%= qle.title %>' data-placement="<%= index > 1 ? 'top' : 'bottom' %>" data-id='<%= qle.id %>' data-label='<%= qle.event_kind_label %>' data-post-event-sep-in-days='<%= qle.post_event_sep_in_days %>' data-pre-event-sep-in-days='<%= qle.pre_event_sep_in_days %>' data-date-hint='<%= qle.date_hint %>'><%= qle.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'qle_detail' %>
