<div class="moving_reasons hidden">
  <h4> Please indicate which of the following circumstances apply to you: </h4> <br/> 
  <div class = 'moving_radio_btn'>
    <div class="n-radio-group">
      <div class="n-radio-row">
        <label class="n-radio vertically-aligned-row" for="reason_accept">
          <%= radio_button_tag :reason, "",  true, id: 'reason_accept', class: "n-radio" %>
          <span class = "n-radio"></span>
          <span id="date-change"></span>
        </label>
      </div>            
      <div class="n-radio-row">
        <label class="n-radio" for="reason_accept1">
          <%= radio_button_tag :reason, "I was living outside the US or in a US territory", false, id: 'reason_accept1', class: "n-radio" %>
            <span class="n-radio"></span>
            <span> I was living outside the US or in a US territory</span>
        </label>
      </div>        
      <div class="n-radio-row">
        <label class="n-radio vertically-aligned-row" for="reason_accept2">
          <%= radio_button_tag :reason, "I had income below 100% of the Federal Poverty Level and was living in a state that had not expanded Medicaid (tool-tip below)", false, id: 'reason_accept2', class: "n-radio" %>
            <span class="n-radio"></span>
            <span>
              I had income below 100% of the Federal Poverty Level and was living in a state that had not expanded Medicaid (tool-tip below) 
            </span>
        </label>
      </div>        
      <div class="n-radio-row">
        <label class="n-radio" for="reason_reject">
          <%= radio_button_tag :reason, "None of the Above", false, id:'reason_reject', class: "n-radio" %>
          <span class="n-radio"></span>
          <span> None of the Above.</span>
        </label>
      </div>        
      <div class = 'calculator'>
        <br/>
        Tool-tip: Use this calculator ( <%= link_to('www.healthcare.gov/lower-costs/', 'http://www.healthcare.gov/lower-costs/', target: :_blank) %>) to find out if you meet the qualifications. 
      </div>        
      <div class="center">
        <%= link_to 'CONTINUE', 'javascript:;', class: 'btn btn-primary btn-md', id: 'qle_submit_reason' %>
      </div>
    </div>
  </div>
</div>