<div id="carousel-qles" class="carousel slide" data-ride="carousel">
  <% if @qualifying_life_events %>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style='min-height: 180px;'>
      <% count = 0 %>
      <% @qualifying_life_events.each_slice(5) do |qles| %>
        <div class="item <%= 'active' if count == 0 %>">
          <ul class="list-qle">
            <% qles.each_with_index do |qle, index| %>
              <p>
                <a class="qle-menu-item" href="javascript:void(0)" data-toggle="<%= 'tooltip' if qle.tool_tip.present? %>" title="<%= qle.tool_tip %>" data-title='<%= qle.title %>' data-placement="<%= index > 1 ? 'top' : 'bottom' %>" data-id='<%= qle.id %>' data-label='<%= qle.event_kind_label %>' data-post-event-sep-in-days='<%= qle.post_event_sep_in_days %>' data-pre-event-sep-in-days='<%= qle.pre_event_sep_in_days %>' data-date-hint='<%= qle.date_hint %>'><%= qle.title %></a>
              </p>
            <% end %>
          </ul>
        </div>
        <% count += 1 %>
      <% end %>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators" style='bottom: -20px;'>
      <% (0..(count-1)).each do |index| %>
        <li data-target="#carousel-qles" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-qles" role="button" data-slide="prev" style='background-image: none;color:#007bc4;'>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-qles" role="button" data-slide="next" style='background-image: none;color:#007bc4;'>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  <% end %>
</div>
