<% if @multiroles %>
    <div class="module market-selection">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <span type="button" class="btn btn-primary<% if @manually_picked_role == 'shop_market_events' %> active<% end %>">
            <%=	link_to "Employee", family_account_path(tab: 'home', market: "shop_market_events") %>
          </span>
        </div>
        <div class="btn-group">
          <span type="button" class="btn btn-primary<% if @manually_picked_role == 'individual_market_events' %> active<% end %>">
            <%=	link_to "Individual", family_account_path(tab: 'home', market: "individual_market_events") %>
          </span>
        </div>
      </div>
    </div>
<% end %>
<div id="carousel-qles" class="carousel slide" data-ride="carousel">
  <h5>TOP LIFE CHANGES</h5>
  <% if @qualifying_life_events %>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style='min-height: 180px;'>
      <% count = 0 %>
      <% @qualifying_life_events.each_slice(5) do |qles| %>
        <div class="item <%= 'active' if count == 0 %>">
          <ul class="list-qle">
            <% qles.each_with_index do |qle, index| %>
              <p class="<%=pundit_class Family, :updateable?%>"><%= qle_link_generater(qle, index) %></p>
            <% end %>
          </ul>
        </div>
        <% count += 1 %>
      <% end %>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% (0..(count-1)).each do |index| %>
        <li data-target="#carousel-qles" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-qles" role="button" data-slide="prev" style='background-image: none;color:#007bc4;'>
      <%= image_tag("ui/thinchevronblueleft_30.png", class: 'left') %>
    </a>
    <a class="right carousel-control" href="#carousel-qles" role="button" data-slide="next" style='background-image: none;color:#007bc4;'>
      <%= image_tag("ui/thinchevronblueright_30.png", class: 'right') %>
    </a>
  <% end %>
</div>
