<div class='module hidden' id="qle-details">
  <div class="hbx-enrollment-panel panel panel-default module">
    <div class="panel-heading">
      <div class="vertically-aligned-row">
        <h3 class="no-buffer">REPORT LIFE CHANGES</h3>
        <div class="text-right">
          <a class="close-popup" href="javascript:void(0);">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body no-vertical-padding">
      <div class="row">
        <% url, http_method = '/insured/family_members', :get %>
        <% if action_name == 'find_sep'%>
        <% url, http_method = record_sep_insured_families_path, :post %>
        <% end %>
        <%= form_tag url, method: http_method, class: 'input-no-pd', id: 'qle_form' do %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id='qle-date-chose'>
            <h3 class="qle-details-title darkblue text-center">I got married</h3>
            <h5 class='qle-label text-center'>Enter the date of the event.</h5>
            <div class="vertically-aligned-row">
              <div class="form-inline text-center">
                <div class="form-group">
                  <%= text_field_tag 'qle_date', '', placeholder: "mm/dd/yyyy",
                      class: "required date-picker qle-date-picker form-control", required: true %>
                </div>
                <div class="form-group">
                  <%= link_to 'CONTINUE', 'javascript:;', class: 'btn btn-primary btn-md', id: 'qle_submit' %>
                </div>
              </div>
            </div>
          </div>
          <div id="qle_reason">
          </div>
          <div id="qle_message">
            <div class="success-info hidden">
              <%= hidden_field_tag 'change_plan' %>
              <%= hidden_field_tag 'qle_id' %>
              <%= hidden_field_tag 'employee_role_id', @employee_role.try(:id) || @employee_role_id || "None" %>
              <div class="alert alert-success no-buffer" role="alert">
                <strong id="qle-input-info">Based on the information you entered, you may be eligible to enroll now but there is limited time.</strong><br>
              </div>
              <div class="effective_on_kinds">
              </div>
              <div class="spec_reasons">
              </div>
              <div class="text-center <%= pundit_class Family,:updateable? %>">
                <%= submit_tag 'Continue', class: 'btn btn-primary' %>
                <br/>
                <br/>
              </div>
            </div>
            <div class="error-info hidden">
              <h3 class="qle-details-title darkblue">Change in income that may impact my tax credits/cost-sharing reductions</h3>
              <div class="alert alert-danger" role="alert">
                <p class="error-text">
                  Based on the information you entered, you may be eligible for a special enrollment period. Please call us at
                  <%= Settings.contact_center.phone_number %>
                  to give us more information so we can see if you qualify.
                </p>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$(document).on('ready page:load', function () {
  QLE.initialize();
});
</script>
