<table class="table table-hover table-striped" id="doc_table">
  <col width="150">
  <col width="120">
  <col width="120">
  <col width="100">
  <col width="100">
  <col width="100">
  <tr>
    <th>Member</th>
    <th>Time remaining for verification</th>
    <th>Type</th>
    <th>Download</th>
    <th>Date submitted</th>
    <th>Document status</th>
  </tr>
  <tr>
    <td><%= member.person.first_name %> <%= member.person.last_name%></td>

    <td><%= time_remaining_in_words(member.person.created_at) %></td>
    <td colspan="3">
      <table class="table table-condensed">
        <col width="120">
        <col width="150">
        <col width="140">
        <col width="100">
        <% member.person.consumer_role.vlp_documents.each do |doc| %>
            <tr>
              <td><%= doc.subject %></td>
              <td style="padding-left: 40px;">
                <% if doc.identifier.present? %>
                    <% key = doc.identifier.split('#').last %>
                    <%= link_to("/insured/verification_documents/download/#{key}", class: "download") do %>
                        <i class="fa fa-download fa-2x"></i>
                    <% end %>
                <% end %>
              </td>
              <td><%= doc.created_at if doc.identifier %><br></td>
              <td><%= doc.status %><br></td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>