<%= render "ui-components/v1/navs/primary_nav.html.slim" %>
<!-- Todo: Make this an angular component 
<qle-questions-responses-form
  qle-kind="<%= @qle.to_json %>"
  qle-kind-questions-and-responses="<%=  @qle_questions_and_responses.to_json %>"
>
</qle-questions-responses-form>
-->

<div class='container top-padding-20px'>
  <%# Form %>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <strong>
        Verification Question(s)
      </strong>
    </div>
    <div class='panel-body'>
      <div class="form-group">
        <!-- TODO: This also needs to contain the date of the qualifying life event, as it does for normal QLE kinds -->
        <%= form_with url: verify_custom_qle_question_insured_family_path, scope: 'question_and_responses' do |f| %>
          <p>
            <%= @qle_kind.event_kind_label.to_s.length > 0 ? @qle_kind.event_kind_label.to_s + ":" : "Date of Event:" %>    
          </p>
          <%= f.text_field(:qle_date, value: @qle_date, class: @qle_date.present? ? 'hidden' : '') %>
          <%= f.hidden_field(:family_id, value: @family._id.to_s) %>
          <%= f.hidden_field(:qle_kind_id, value: @qle_kind._id.to_s) %>
          <%= f.hidden_field(:custom_qle_question_id, value: @qle_question._id.to_s) %>
          <% if params[:only_display_question_two].present? %>
            <h4>
              Based on your response to the first question, we need to ask you another question to clarify your eligibility.
            </h4>
          <% end %>
          <p>Question: <%= @qle_question.content %></p>
          <%= f.select(
              :end_user_selected_response_content,
              @qle_question.custom_qle_responses.map(&:content),
              {},
              {class: 'response-content-options'}
            )
          %>
          <div class="actions">
            <%= f.submit('Submit', class: 'btn btn-primary') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
