<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-10 col-sm-10">
      <h3>Additional Documentation Required</h3>

      <p>We need the following documentation to verify the information you enetered into your application. You may
        submit documentation now or within <strong>90 days</strong> after you submit your
        application. <%= link_to 'Learn why we need additional documentation', '#' %></p>
<%= form_for @person, :url => insured_verification_documents_upload_path, html: { multipart: true }, method: :post do |f| %>
    <%= f.fields_for @person.consumer_role do %>
    <div class="row row-form-wrapper no-buffer" id="immigration_fields_container">
      <%= select_tag :family_member, options_for_select(@person_family.all.collect{|mem| [[mem.first_name,mem.last_name].join(" "), mem.id]}), prompt: "Select family member", required: "required" %>
    </div>
    <div class="row row-form-wrapper no-buffer" id="immigration_fields_container">
      <%= select_tag :document, options_for_select(::VlpDocument::VLP_DOCUMENT_KINDS), prompt: "Select document to upload for verification" %>
    </div>

    <% end %>
    <br/>
    <div class="col-md-6 col-xs-6 col-sm-6">
      <%= file_field_tag :file %>
    </div>
    <div class="col-md-4 colx-xs-4 col-sm-4">
      <%= f.submit "Submit Documentation", class: "btn btn-primary" %>
    </div>
<% end %>

    </div>
  </div>
</div>
