<% content_for :navigation do %>
<%= render partial: 'ui-components/v1/navs/families_navigation' %>
<% end %>

<div class="documents-tab">
  <div class="row">
    <div class="col-xs-8">
      <h1><%= l10n("documents") %></h1>
      <h4 class="starter">
        <%= l10n("insured.families.documents_view_important_noticies", site_short_name: site_short_name) %>
      </h4>
    </div>
    <div class="col-xs-4">
      <%= h(link_to l10n("download_tax_documents"), EnrollRegistry[:enroll_app].setting(:prod_tax_info).item, class: "btn btn-primary  pull-right", target: '_blank', rel: "noopener noreferrer") if @person.try(:consumer_role).present? %>
      <%= link_to l10n("upload_document"), document_upload_insured_families_path, class: "btn btn-primary  pull-right" if @person.try(:consumer_role).present? %>
    </div>
  </div>
  <h4 class="starter"><%= l10n("insured.families.documents_index_verify_information") %></h4>
  <%= render partial: "documents_index" %>
</div>
