<% content_for :navigation do %>
  <%= render partial: 'ui-components/v1/navs/families_navigation' %>
<% end %>

<div class="employer-edit-tab">
  <h1 class="heading-text"><strong>HC4CC Eligibility Year(s)</strong></h1>
  <h3 class="heading-text"><strong><%= @service.person.full_name.titleize %></strong></h3>
  <p><%= l10n('select_years_osse_offered') %></p>
  <div class="row no-buffer vertically-aligned-row">
    <p><%= l10n('osse_multi_year_description') %></p>
  </div>

  <%= form_tag(update_osse_eligibilities_insured_families_path(person_id: @service.person.id), method: "put") do %>
    <%= hidden_field_tag 'eligibilities[person_id]', @service.person.id %>
    <%= submit_tag l10n('save_changes'), class: 'btn btn-primary active pull-left col-12', style: 'background-color: #007bc4'%></br>
    <div class='table-responsive col-12 mt-3' style="padding-top: 10px">
      <table class="inline-border-0-solid-d5d5d5 inline-border-collapse" style='width: 70%;'>
        <thead style='height: 40px;'>
          <th style='width: 20%; height: 40px; padding: 10px'>Plan Year</th>
          <th style='width: 20%'>Active</th>
          <th style='width: 20%'>Inactive</th>
          <th style='width: 40%'>Details</th>
        </thead>
        <% individual_osse_eligibility_years_for_display.each do |year| %>
          <% previous_year = TimeKeeper.date_of_record.year - 1 %>
          <tr class="inline-border-0-solid-d5d5d5" style='height: 50px; '>
            <td style='padding: 20px'><strong><%= year %></strong></td>
            <td><%= radio_button_tag "eligibilities[osse][#{year}]", "true", @osse_status_by_year[year][:is_eligible], class: "radio-button",  disabled: !pundit_allow(HbxProfile, :can_edit_osse_eligibility?) || (year < previous_year) %></td>
            <td><%= radio_button_tag "eligibilities[osse][#{year}]", "false", !@osse_status_by_year[year][:is_eligible], class: "radio-button",  disabled: !pundit_allow(HbxProfile, :can_edit_osse_eligibility?) || (year < previous_year) %></td>
            <% if @osse_status_by_year[year][:start_on].present? %>
              <td><%= "#{@osse_status_by_year[year][:start_on].to_s} - #{@osse_status_by_year[year][:end_on].to_s}" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div></br>
    <%= submit_tag l10n('save_changes'), class: 'btn btn-primary active pull-left col-12', style: 'background-color: #007bc4' %>
  <% end %>
</div>
