<% content_for :navigation do %>
  <%= render partial: 'ui-components/v1/navs/families_navigation' %>
<% end %>
<div class="module">
  <h1 class="darkblue no-buffer"><strong><%= l10n("ivl_osse_subsidy_title_line_1") %></strong></h1>
  <h3 class="darkblue no-buffer"><strong><%= l10n("ivl_osse_subsidy_title_line_2") %></strong></h3>
  <h4><%= l10n('osse_ivl_description') %></h4>
  <div class="mt-2">
    <% @childcare_forms.each do |person, form| %>
      <div class="person-form">
        <h4><strong><%= person.full_name.titleize %></strong></h4>
        <div class="row no-buffer vertically-aligned-row form-row inline-border-1-ddd inline-border-top-0" style="width: 100%; margin-top: 15px; padding: 3px; background-color: #fff;">
          <div class="col-md-9">
            <%= l10n('hc4cc_subsidy_with_pipe') %><%= current_osse_status_for_role(form.role) %>
          </div>
          <div class="col-md-3">
            <%= link_to l10n('select_eligibility_years'), healthcare_for_childcare_program_form_insured_families_path(person_id: person.id), id: "check_osse_eligibilities", class: 'btn btn-primary active inline-bg-color-primary-blue' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
