<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>

<h2>Family Verification Dashboard</h2>
<div class="col-xs-12 documents-tab">
  <% unless @person.has_consumer_role? %>
      <h4>No results found</h4>
  <% else %>
      <br/>
      <div class="row">
        <div class="col-md-7">
          <h4>Enrollment group verification status: <%= "??????" %></h4>
        </div>
        <div class="col-md-5">
          <h4>Verification due date: <%= "???????" %></h4>
        </div>
      </div>
      <div class="module ivl-documents-table panel">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm">
            <thead class="thead-default">
              <tr>
                <th>Family Member</th>
                <th>Person <br>Verification Status</th>
                <th>Verification Type</th>
                <th>Documents</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @family_members.each do |member|%>
              <tr class="<%= cycle("odd", "even top") %>">
                <td>
                  <%= member.person.first_name %> <%= member.person.last_name%>
                </td>
                <td>
                  <%= show_consumer_role_state(member.person.consumer_role) %>
                </td>
                <td colspan="2">
                  <% if unverified?(member) %>
                    <%= render partial: 'insured/families/verification/unverified_person', locals: {member: member} %>
                  <% end %>
                </td>

                <td class="table-functions">
                  <a data-toggle="collapse" href="#<%= member.id %>" aria-expanded="false" aria-controls="<%= member.id %>">
                    <span>
                      <span class="function-text">
                      Documents
                      </span>
                      <%= '<i class="fa fa-caret-down fa-lg" data-toggle="tooltip" title="View Documents"></i>'.html_safe if member.person.consumer_role.vlp_documents.present? %>
                      </span>
                  </a>
                </td>
              </tr>
                <%= render partial: "insured/families/verification/verification_docs_table", locals: {member: member} %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

  <% end %>
</div>
