<% content_for :navigation do %>
    <%= render partial: 'ui-components/v1/navs/families_navigation' %>
<% end %>
<h1 class="darkblue no-buffer"><%= l10n("documents") %></h1>
<% if EnrollRegistry.feature_enabled?(:show_new_documents_tab_text) %>
  <h4><%= l10n("insured.verification_information") %></h4>
<% else %>
  <h4 class='starter'><%= l10n("insured.verification_information_old") %></h4>
<% end %>
<div class="documents-tab">
  <% if @person && @family_members.present? %>
      <% if individual_market_is_enabled? %>
      	<%= render 'insured/families/verification/verification' %>
      <% end %>
  <% end %>

  <% if EnrollRegistry.feature_enabled?(:financial_assistance) %>
    <%= render partial: "financial_assistance/applications/verifications/verification", locals: {family_id: @family.id} %>
  <% end %>
</div>
&nbsp;
<% if medicaid_tax_credits_link_is_enabled? %>
  <div>
    <%= render partial: "navigate_to_curam_for_documents", :locals => {display_text: l10n('insured.families.apply_for_medicaid_widget')} %>
  </div>
<% end %>
