<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>
<h1 class="darkblue no-buffer"><%= l10n("documents") %></h1>
<div class="documents-tab">
  <% if @person && @person.consumer_role %>
     <h4 class="starter"><%= l10n("insured.verification_information") %></h4>

      <%= render 'insured/families/verification/verification' %>
  <% end %>
</div>
&nbsp;

<div>
  <%= render partial: "navigate_to_curam_for_documents", :locals => {display_text: "If you applied for Medicaid and tax credit savings, view additional documents"} %>
</div>
