<style>
  .custom_filter{
    margin-left: 15em;
    margin-top: -15px;
    position: absolute;
    z-index: 999;
  }
  #upload{
    position: absolute;
    margin-left: 75em;
  }

  .attestation_form{
    text-align: left !important;
  }
</style>

<div class="container">
  <div id="upload">
    <%= link_to "<i class='fa fa-cloud-upload' aria-hidden='true'></i> Upload".html_safe, '/employers/employer_attestations/new', remote: 'true', class: "btn btn-default ",style: "float: right" %>
  </div>
</div>

<!-- <div id="attestation_documents_table">
<%#= render_datatable(@datatable) %>
</div> -->

<div class="container" id="attestation_documents_table">
   

  <div class = "table-responsive table-override"> 
  <h4> Attestation Documents </h4>

  <table class = "table table-striped table-bordered" style="table-layout: fixed;">
    <thead>
      <tr>
       <th>Status</th>
       <th>Employer</th>
       <th>Doc Type</th>
       <th>Effective Date</th>
       <th>Submitted Date</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |doc| %>
        <tr>
          <td><%= doc.aasm_state.camelcase %></td>
          <td><%= link_to @employer_profile.legal_name.titleize, employers_employer_profile_path(@employer_profile, :tab=>'home') %></td>
          <td><%= "Employer Attestation" %>
          </td>
          <td></td>
          <td><%= doc.created_at.strftime('%m/%d/%Y') %></td>
          <td>
            <%= button_to "Verify Attestation", employers_employer_attestation_verify_attestation_path(doc.id), remote: true, method: :get %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="attestation_form"></div>
</div>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
  jQuery('.buttons-csv').hide()
  jQuery('.buttons-excel').hide()
  function printDoc(id){
    var window_obj=window.open();
    window_obj.document.write($('#print_'+id).html());
    window_obj.print();
    window_obj.close();
  }
</script>