<style>
 #effective_datatable_wrapper .employer_attestation_fields .selectric-wrapper{
    width: 25em;
  }
</style>

<div class="employer_attestation_fields row">
<div class="col-md-offset-4 col-md-4 panel panel-default">
  <div class="panel-body">

<%= form_tag employers_employer_attestation_path(@employer_profile), :method => :put do |f| %>

  <%= hidden_field_tag :employer_attestation_id, @document.id %>

  <div class="form-group">
    <label for="exampleInputEmail1">Employer Name: <%= @employer_profile.legal_name %></label>
  </div><br>

  <div class="form-group">
    <label for="exampleInputPassword1">Document Name: <%= @document.title %></label>
  </div><br>

  <fieldset class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" name="status" value="accepted" checked>
        Approve
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" name="status" value="rejected">
        Reject
      </label>
    </div>
  </fieldset><br>

  <div class="form-group" style="padding: 2em 0 1em 3em">
    <select class="form-control" name="reason_for_rejection">
      <option value="nil">Reason for rejection</option>
      <option value="A">Unable To Open Document</option>
      <option value="B">Document Not Required DOR-1 Form</option>
      <option value="C">DOR-1 Form DoesNot Match Bussiness</option>
    </select>
  </div><br>

  <div class="form-group" style="padding: 0 0 2em 3em">
    <input type="text" name="other_reason" placeholder="Other reason for rejection" class="form-control">
  </div><br>

  <div class="form-group" style="padding-left: 8em">
    <button type="submit" class="btn <%= @document.may_accept? ? 'btn-primary' : 'disabled' %>">Submit</button>
    <button type="button" class="btn <%= @document.may_accept? ? 'btn-primary' : 'disabled' %>" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
</div>
</div>
</div>