<div class="col-sm-5">
  <label for="inputNewUsername"><%= l10n('hbx_profiles.user_accounts.actions.edit.username') %></label>
  <%= text_field_tag :new_oim_id, user.oim_id, { class:"form-control", id:'inputNewUsername' } %>
</div>
<div class="col-sm-5">
  <label for="inputNewEmail" ><%= l10n('hbx_profiles.user_accounts.actions.edit.email') %></label>
  <%= text_field_tag :new_email, user.email, { class:"form-control", id:'inputNewEmail' } %>
  <%= hidden_field :family_actions_id, :value => "family_actions_#{@user.id.to_s}" %>
  <span class="help-block email-block hidden"></span>
</div>