<div class="container-fluid no-pd-left">
  <div class="panel panel-default">
    <div class="panel-body left">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h3>Covered Family Members</h3>
          <h3>Who would you like to cover?</h3>
          <%= form_tag(:group_selection_create) do %>
            <%= hidden_field_tag(:person_id, @person.id) %>
            <%= hidden_field_tag(:employee_role_id, @employee_role.id) %>
            <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>
            <% @coverage_household.family_members.each_with_index do |family_member, index| %>
              <div>
                <%= check_box_tag("family_member_ids[#{index}]", family_member.id, true) %>
                <% 
                  dob = family_member.dob
                  now = Date.today
                  age = now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)
                %>
                <%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(age, 'year')})") %>
              </div>
            <% end %>
            
            <br>
            <h3>Select a plan</h3>
            <p class="text-justify"><%= t('group_selection.select_plan') %></p>
            <br>
            
            <button type="submit" class="btn btn-primary interaction-click-control-covered-members-continue"><i class="fa fa-user-plus"></i> Continue</button>
          <% end %>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 key no-pd-right" id="key-section">
          <input type="hidden" id="initial_progress" value="60">
          <div style="display: none;" id="sup-progress" data-signup-progress="6"></div>
          <%= render 'shared/signup_progress' %>

          <div class="row">
            <div class="col-md-12">
              <%= 
                link_to '#', class: 'btn btn-primary interaction-click-control-employee-back', onclick: 'history.go(-1);return false;' do
                  '<i class="fa fa-chevron-left"></i> Back'.html_safe
                end
              %>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <%= link_to '<i class="fa fa-user"></i> My Account'.html_safe, home_consumer_profiles_path, class: 'btn btn-primary interaction-click-control-employee-account' %> &nbsp;
              <%= link_to '<i class="fa fa-floppy-o"></i> Save & Exit'.html_safe, home_consumer_profiles_path, class: 'btn btn-primary interaction-click-control-employee-personal-info-save-exit' %>
            </div>
          </div>

          <a href="#" class="btn btn-default interaction-click-control-compare-plans" style="display: none;" data-uri="<%= comparison_products_plans_path %>" id="compare-selected-plans-link">Compare Selected Plans</a>
        </div>
      </div>
    </div>
  </div>
</div>
