<div class="container">
  <div class="row">
    <%= form_tag(:group_selection_create) do %>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
        <h3>Covered Family Members</h3>
        <h4><strong>Who would you like to cover?</strong></h4>

          <%= hidden_field_tag(:person_id, @person.id) %>
          <%= hidden_field_tag(:employee_role_id, @employee_role.id) %>
          <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>

          <div class="table-responsive table-border">
            <table class="table table-wrapper table-condensed group-selection-tbl">
              <tbody>
            <% offered_relationship_benefits = @employee_role.benefit_group.relationship_benefits.select(&:offered).map(&:relationship) %>
            <% @coverage_household.family_members.each_with_index do |family_member, index| %>
              <tr>
                <td width="20">
                  <% if offered_relationship_benefits.include?(PlanCostDecorator.benefit_relationship(family_member.primary_relationship)) %>
                    <%= check_box_tag("family_member_ids[#{index}]", family_member.id, true, disabled: family_member.is_primary_applicant?) %>
                  <% else %>
                    <%= check_box_tag("family_member_ids[#{index}]", family_member.id, false, disabled: true) %>
                  <% end %>
                </td>
                <%
                  dob = family_member.dob
                  now = Date.today
                  age = now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)
                %>
                <td><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(age, 'year')})") %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>

          <br>
          <% if @change_plan.present? %>
            <%= hidden_field_tag 'change_plan', 'change' %>
            <h4><strong>What do you like to do?</strong></h4>
            <% if @hbx_enrollment.present? and @hbx_enrollment.plan %>
              <%= submit_tag 'Keep existing plan', class: 'btn btn-lg btn-primary' %>
              &nbsp;
            <% end %>
            <%= link_to("Terminate Plan", terminate_insured_plan_shopping_path(@hbx_enrollment.id), {:class => "btn btn-lg btn-primary", :method => :post}) if @hbx_enrollment %>
            <% if @employee_role.benefit_group.plan_option_kind != "single_plan" %>
              &nbsp;
              <%= submit_tag 'Shop for new plan', class: 'btn btn-lg btn-primary' %>
            <% end %>
          <% else %>
          <h3>Select a plan</h3>
          <p class="text-justify"><%= t('welcome.employee.select_plan') %></p>
          <% end %>
        </div>

        <% if @change_plan.blank? %>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-1 right-section">
            <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("form").submit(function(){
      $("input").removeAttr("disabled");
    });
  });
</script>
