<div class="container">
  <div class="row">
    <%= form_tag(:group_selection_create) do %>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
        <h3>Covered Family Members</h3>
        <h4><strong>Who would you like to cover?</strong></h4>

          <%= hidden_field_tag(:person_id, @person.id) %>
          <%= hidden_field_tag(:employee_role_id, @employee_role.try(:id)) %>
          <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>

          <div class="table-responsive table-border">
            <table class="table table-wrapper table-condensed group-selection-tbl">
              <tbody>
            <% offered_relationship_benefits = @employee_role.present? ? @employee_role.benefit_group.relationship_benefits.select(&:offered).map(&:relationship) : nil %>
            <% @coverage_household.family_members.each_with_index do |family_member, index| %>
              <tr>
                <td width="20">
                  <% is_coverage = @employee_role.present? ? coverage_relationship_check(offered_relationship_benefits, family_member) : true
                     is_primary = @employee_role.present? ? false : family_member.is_primary_applicant?
                  %>
                <%= check_box_tag("family_member_ids[#{index}]", family_member.id, is_coverage, disabled: !is_coverage, readonly: is_primary, onclick: "return #{!is_primary};") %>
                </td>
                <td><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></td>
                <td><%= "ineligible relationship" unless is_coverage %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>

          <br>
          <div id="coverage_kinds" class='row no-buffer'>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <strong>Coverage Kind: </strong>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <%= radio_button_tag 'coverage_kind', 'health', true, id: 'coverage_kind_health' %>
              <label for="coverage_kind_health">Health</label>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <%= radio_button_tag 'coverage_kind', 'dental', false, id: 'coverage_kind_dental' %>
              <label for="coverage_kind_dental">Dental</label>
            </div>
          </div>

          <% if @market_kind.present? %>
            <%= hidden_field_tag 'market_kind', @market_kind %>
          <% else %>
            <div id="market_kinds" class='row no-buffer'>
              <div class="col-md-3 col-lg-3 col-sm-6">
                <strong>Market Kind: </strong>
              </div>
              <% Plan::MARKET_KINDS.each_with_index do |kind, index| %>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <%= radio_button_tag 'market_kind', kind, index == 0, id: "market_kind_#{kind}", required: true %>
                  <label for="market_kind_<%= kind %>"><%= kind.humanize %></label>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @change_plan.present? %>
            <%= hidden_field_tag 'change_plan', @change_plan %>
            <h4><strong>What do you like to do?</strong></h4>
            <% if @hbx_enrollment.present? and @hbx_enrollment.try(:coverage_selected?) %>
              <%= submit_tag 'Keep existing plan', class: 'btn btn-lg btn-primary' %>
              &nbsp;
              <%= submit_tag 'Terminate Plan', class: 'btn btn-lg btn-primary' %>
            <% end %>
            <% if @employee_role.benefit_group.plan_option_kind != "single_plan" %>
              &nbsp;
              <%= submit_tag 'Shop for new plan', class: 'btn btn-lg btn-primary' %>
            <% end %>
          <% else %>
            <h3>Select a plan</h3>
            <p class="text-justify"><%= t('welcome.employee.select_plan') %></p>
          <% end %>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-1 right-section">
          <% if @change_plan.blank? %>
            <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
          <% elsif @change_plan == "change" %>
            <%= render partial: 'shared/qle_progress', locals: {step: '2'} %>
          <% elsif @change_plan == "change_plan" %>
            <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1'} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
