%id
  %id= individual.hbx_id
= render :partial => "events/individuals/person", :object => individual
- if individual.person_relationships.any?
  %person_relationships
    - individual.person_relationships.each do |rel|
      %person_relationship
        %subject_individual
          %id= individual.hbx_id
        %relationship_uri= "urn:openhbx:terms:v1:individual_relationship##{vocab_relationship_map(rel.kind)}"
        %object_individual
          %id= rel.relative.hbx_id
= render :partial => "events/individuals/person_demographics", :object => individual
- if individual.broker_role.present? 
  - if !individual.broker_role.broker_agency_profile_id.blank?
    %broker_roles
      %broker_role
        %id
          %id= individual.broker_role.npn
        %npn= individual.broker_role.npn
        %broker_agency
          %id
            %id= individual.broker_role.broker_agency_profile.id
          %name= individual.broker_role.broker_agency_profile.legal_name
          - if !individual.broker_role.broker_agency_profile.corporate_npn.blank?
            %npn= individual.broker_role.broker_agency_profile.corporate_npn
        = render :partial => "events/shared/versioned_resource", :object => individual.broker_role
