%person
  %id
    %id= "urn:openhbx:hbx:dc0:resources:v1:person:hbx_id##{person.hbx_id}"
  = render :partial => "events/shared/person_name", :object => person
  - if person.contact_addresses.any?
    %addresses
      = render :partial => "events/addresses/address", :collection => person.contact_addresses
  - if person.is_homeless.present?
    %is_homeless= person.is_homeless.to_s
  - if person.is_temporarily_out_of_state.present?
    %is_temporarily_out_of_state= person.is_temporarily_out_of_state.to_s
  - if person.emails.any?
    %emails
      = render :partial => "events/individuals/email", :collection => person.emails
  - if person.phones.any?
    %phones
      = render :partial => "events/phones/phone", :collection => person.phones
  - if person.created_at
    %created_at= person.created_at.strftime('%Y-%m-%dT%H:%M:%S')
  - if person.updated_at
    %modified_at= person.updated_at.strftime('%Y-%m-%dT%H:%M:%S')
  - if person.version
    %version= person.version

