%person
  %id
    %id= "urn:openhbx:hbx:dc0:resources:v1:person:hbx_id##{person.hbx_id}"
  = render :partial => "events/shared/person_name", :object => person
  - if person.addresses.any?
    %addresses
      = render :partial => "events/addresses/address", :collection => person.addresses
  - if person.emails.any?
    %emails
      = render :partial => "events/individuals/email", :collection => person.emails
  - if person.phones.any?
    %phones
      = render :partial => "events/phones/phone", :collection => person.phones
