<div id="<%= dom_id deduction %>" class="deduction row-form-adjustment">
  <div class="focus_effect_module deduction-show">
    <div class="row row-form-wrapper no-buffer row-height">
      <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
        <label class="static_label label-floatlabel">AMOUNT *</label>
        <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= number_to_currency(deduction.amount) %></span>
      </div>
      <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
        <label class="static_label label-floatlabel">HOW OFTEN *</label>
        <span class="field_value floatlabel form-control active-floatlabel" id="name"><%=  frequency_kind_options.invert[deduction.frequency_kind] %></span>
      </div>
      <div class="col-md-3  no-pd form-group-lg no-pd class-fa-household">
        <label class="static_label label-floatlabel">START *</label>
        <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.start_on %></span>
      </div>
      <div class="col-md-2  no-pd form-group-lg no-pd class-fa-household">
        <label class="static_label label-floatlabel">END</label>
        <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.end_on %></span>
      </div>
      <div class="col-md-1 no-pd form-group-lg class-fa-household fa-adjustment">
          <a class="deduction-edit edit-pr"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
          <a class="deduction-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="edit-deduction-form hidden">
    <%= render partial: 'financial_assistance/deductions/deduction_form', locals: { deduction: deduction, kind: deduction.kind} %>
  </div>
</div>
