<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <h1 class="darkblue">Income Adjustments for <%= @applicant.family_member.person.first_name.titleize %></h1>
      <small>Tell Us about income adjustments for this person. When you're finished, select CONTINUE</small>
    </div>
  </div>
  <br />

  <!--income adjustment driver question-->
  <div class="row row-form-wrapper no-buffer row-height">
    <div class="col-md-5">
      <span class="fa-text-color">Does this person expect to have income adjustments in <%=@application.assistance_year%> *</span>
    </div>
    <div class="col-md-2">
      <input type="radio" name="applicant[has_deductions]" id="has_deductions" value="true" class="radio-yml">
      <label class="radio-yml" for="has_deductions_yes">Yes</label>
    </div>
    <div class="col-md-2">
      <input type="radio" name="applicant[has_deductions]" id="has_deductions" value="false" class="radio-yml" required="required">
      <label class="radio-yml" for="has_deductions_no">No</label>
    </div>
    <div class="col-md-3">
       | &nbsp; <a href="#has_deductions" data-toggle="modal" data-target="#has_deductions" class="interaction-click-control-not-sure?">Not Sure?</a>
    </div>
  </div>
  <br />

  <!--Deduction Kinds-->
  <div class='deduction-kinds'>
    <%= render partial: 'financial_assistance/deductions/deduction_kinds', locals: { deduction_kinds: FinancialAssistance::Deduction::KINDS} %>
  </div>
</div>

<!-- Right NAV -->
<div class='col-md-2'>
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
    previous_url: find_previous_applicant_path(@application, @applicant, current: 'deductions'),
    next_url: find_applicant_path(@application, @applicant, current: 'deductions')
  } %>
</div>
<%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
