<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bottom-pd">
    <div class="row">
      <div class="col-md-10">
        <div class="title-icon">
          <span class="fa-rectangle fa-lg deducticon-rectangle">
            <i class="fa fa-usd"></i>
            <i class="fa fa-sliders"></i>
          </span>
        </div>
        <h1 class="darkblue">Income Adjustments for <%= @applicant.family_member.person.first_name.titleize %></h1>
      </div>
    </div>

    <p>Tell Us about income adjustments for this person. When you're finished, select CONTINUE</p>
    <br>
    <!--income adjustment driver question-->
    <div class="row row-form-wrapper radio-align no-buffer">
      <div class="col-md-6 labelforcoverage">
        <span class="fa-text-color">Does this person expect to have income adjustments in <%=@application.assistance_year%> *</span>
      </div>
      <div class="col-md-6 mt11">
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_deductions", true, @applicant.deductions.present?, class: "radio-yml" ) %>
          <label class="radio-yml" for="has_deductions_yes">Yes</label>
        </div>
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_deductions", false, @applicant.has_deductions == false, class: "radio-yml" ) %>
          <label class="radio-yml" for="has_deductions_no">No</label>
        </div>
        <div class="col-md-6">
           <a href="#" data-toggle="modal" data-target="#">Not Sure?</a>
        </div>
      </div>
    </div>
    <br />

    <!--Deduction Kinds-->
    <div class='deduction-kinds'>
      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-9">
          <h4 class="panel-title">
              <b> Income adjustments you must report </b>
          </h4>
        </div>
      </div>
      <div class="row row-form-wrapper no-buffer row-height">
        <div class="col-md-12 lightgray fa-text-color">
          <span>  Check any boxes that apply to this person and enter details when requested. </span>
        </div>
      </div>

      <br />

      <% FinancialAssistance::Deduction::KINDS.each do |deduction_kind| %>
        <div class="deduction-kind">
          <div class="row row-form-wrapper lightgray radio-align fa-text-color no-buffer row-height">
            <div class="col-md-1">
              <%=check_box_tag "deduction_kind", deduction_kind, @applicant.deductions.of_kind(deduction_kind).present?, class: "deduction-checkbox-#{deduction_kind}" %>
            </div>

            <div class="col-md-9">
              <%= deduction_kind.gsub('_',' ').capitalize %>
            </div>

            <div class="col-md-2 add-more-link-<%=deduction_kind%>">
              <%= link_to "Add More", "javascript:void(0);", :id => "add_new_deduction_kind", :class => "#{'hidden' unless @applicant.deductions.of_kind(deduction_kind).present? }" %>
            </div>
          </div>

          <div class="deductions-list">
            <% @applicant.deductions.of_kind(deduction_kind).each do |deduction| %>
              <%= render partial: 'deduction', locals: { deduction: deduction } %>
            <% end %>
          </div>

          <div class='new-deduction-form hidden <%= deduction_kind %>'>
            <%= render partial: 'financial_assistance/deductions/deduction_form', locals: { deduction: @applicant.deductions.build, kind: deduction_kind} %>
          </div>

          <br />
        </div>
      <% end %>
    </div>
  </div>

  <!-- Hidden unsaved income modal -->
  <div class="modal fade" id="destroyDeduction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Destroy this deduction?</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to destroy this deduction?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger modal-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Right NAV -->
  <div class='col-md-3'>
    <%= render partial: 'financial_assistance/shared/right_nav', locals: {
      previous_url: other_financial_assistance_application_applicant_incomes_path(@application, @applicant, current: 'incomes'),
      next_url: find_applicant_path(@application, @applicant, current: 'deductions')
    } %>
  </div>
  <%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
</div>
