<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bottom-pd">
    <div class="row">
      <div class="col-md-10">
        <div class="title-icon">
          <span class="fa-rectangle fa-lg deducticon-rectangle">
            <i class="fa fa-usd"></i>
            <i class="fa fa-sliders"></i>
          </span>
        </div>
        <h1 class="darkblue">Income Adjustments for <%= @applicant.family_member.person.first_name.titleize %></h1>
      </div>
    </div>

    <p>Tell Us about income adjustments for this person. When you're finished, select CONTINUE</p>
    <br>
    <!--income adjustment driver question-->
    <div class="row row-form-wrapper radio-align no-buffer">
      <div class="col-md-6 labelforcoverage">
        <span class="fa-text-color">Does this person expect to have income adjustments in <%=@application.assistance_year%> *</span>
      </div>
      <div class="col-md-6 mt11">
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_deductions", true, class: "radio-yml" ) %>
          <label class="radio-yml" for="has_deductions_yes">Yes</label>
        </div>
        <div class="col-md-3 no-padding">
          <%= radio_button_tag("has_deductions", false, class: "radio-yml" ) %>
          <label class="radio-yml" for="has_deductions_no">No</label>
        </div>
        <div class="col-md-6">
           <a href="#" data-toggle="modal" data-target="#">Not Sure?</a>
        </div>
      </div>
    </div>
    <br />

    <!--Deduction Kinds-->
    <div class='deduction-kinds'>
      <%= render partial: 'financial_assistance/deductions/deduction_kinds', locals: { deduction_kinds: FinancialAssistance::Deduction::KINDS} %>
    </div>
  </div>

  <!-- Hidden unsaved income modal -->
  <div class="modal fade" id="destroyDeduction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Destroy this deduction?</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to destroy this deduction?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger modal-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Right NAV -->
  <div class='col-md-3'>
    <%= render partial: 'financial_assistance/shared/right_nav', locals: {
      previous_url: other_financial_assistance_application_applicant_incomes_path(@application, @applicant, current: 'incomes'),
      next_url: find_applicant_path(@application, @applicant, current: 'deductions')
    } %>
  </div>
  <%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
</div>
