<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <h1 class="darkblue">Income Adjustments for <%= @applicant.family_member.person.first_name.titleize %></h1>
    </div>
  </div>

  <div>
    <% if @applicant.has_deductions %>
      <div class="row row-form-wrapper ptb no-buffer row-height form-heading">
        <div class="col-md-11 form-heading">Adjustments</div>
        <div class="col-md-1">
          <%= link_to go_to_step_financial_assistance_application_applicant_path(@application, @applicant, 1) do %>
            <i class="glyphicon glyphicon-pencil grey-font"></i>
          <% end %>
        </div>
      </div>
      <div class="row row-form-wrapper ptb no-buffer row-height form-content">
        <div class="col-md-8">Does this person expect to have adjustments to income in 2017?</div>
        <div class="col-md-4">Yes</div>
      </div>
    <% end %>

    <br>
    <p>Income deductions were created for you below based on your answers above, complete each deduction and then click CONTINUE.</p>
    <br>

    <% if @applicant.deductions.present?%>
      <table class="deductions-table table">
        <tr class="form-heading">
          <th class="form-heading">Deduction Type</th>
          <th class="form-heading">Status</th>
          <th></th>
          <th></th>
        </tr>
        <% @applicant.deductions.each do |deduction| %>
          <tr>
            <td><%= deduction.kind.nil? ? "--" : deduction.kind.titleize %></td>
            <td>
              <% if deduction.valid? :submission %>
                <span class="glyphicon glyphicon-ok complete-icon"></span>&nbsp;<span class="complete-icon">Complete</span>
              <% else %>
                <span class="glyphicon glyphicon-refresh in-progress-icon"></span>&nbsp;<span class ="in-progress-icon">In Progress</span>
              <% end %>
            </td>
            <td><%= link_to "Edit", go_to_step_financial_assistance_application_applicant_deduction_path(@application, @applicant, deduction, 1), class: "btn btn-small btn-success"  %></td>
            <td>
              <%= link_to financial_assistance_application_applicant_deduction_path(@application, @applicant, deduction), method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class='fa fa-trash-o'></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <%end%>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
  <%= link_to "Add Income Adjustment", new_financial_assistance_application_applicant_deduction_path(@application, @applicant), class: "btn btn-default center-block" %>
  </div>
</div>

<div class='col-md-2'>
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
    previous_url: find_previous_applicant_path(@application, @applicant, current: 'deductions'),
    next_url: find_applicant_path(@application, @applicant, current: 'deductions')
  } %>
</div>
<%= render partial: 'insured/plan_shoppings/help_with_plan'  %>
