<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Application to Offer Group Health Coverage in <%= Settings.site.short_name %></h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "Thank you for applying to offer group health coverage through #{Settings.site.short_name}.<br><br>
Based upon the information you have provided, you are eligible to offer group health coverage to your employees through #{Settings.site.short_name}.
You can proceed to the next steps outlined below. "} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that you may only offer coverage at this time if:",
  listings: ["You contribute at least 50% toward the cost of an employee’s premium; and",
             "At least two-thirds of your eligible employees enroll in your group health coverage."] } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "If you are unable to satisfy these requirements, you will only be able to offer #{Settings.site.short_name} coverage during the special
annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without
having a minimum level of employee enrollment."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
  heading: 'Next Steps', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "",
  listings: ["<strong>Log in to your Account</strong><br>(#{notice.hbe.url}) ",
             "<strong>Select Plans</strong><br>
             You must choose one of the three plan selection options listed below:"] } %>

<%= render partial: 'notices/shared/table', locals: {headers: ['You select:', 'Your employees can select:'], rows: [['1 Metal Level', 'Any plan from any health insurance company within the selected metal level'],
  ['1 Health Insurance  Company', 'Any plan offered by the selected health insurance company, regardless of metal level'],
['1 Plan', 'Whether or not to enroll in the selected plan ']],
 col_styles: ['width: 30%;', 'width: 70%; text-align: center;'], table_width: '100%'} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
 previous: "",
 listings: ["<strong>Determine your Premium Contribution</strong><br>
 You must contribute at least 50% of the cost of single coverage.  This is done by selecting a 'reference plan',
 which determines the financial amount of the contribution. You will select a percentage to contribute towards each
 employee’s and dependent’s cost to enroll in the reference plan.<br><br>

 Your contribution will remain fixed based on the reference plan.
 Employees enrolling in any other available plan will pay the difference in premium to 'buy-up' or 'buy-down'.
 If you are unable to contribute at least 50% of the cost of single coverage, you will only be able to offer
 coverage through #{Settings.site.short_name} during special annual enrollment period described above.",
 "<strong>Finalize List of Eligible Employees</strong><br>
 At a minimum, you must offer coverage to all employees working 30 hours or more per week.",
 "<strong>Select your Open Enrollment Period</strong><br>
 You must provide your employees with at least 10 days to review their plan options and select which plan they would like to enroll in.
 Open Enrollment must end no later than the 10th day of the month prior to your coverage effective date.<br>

 At the beginning of Open Enrollment, #{Settings.site.short_name} will send an email to your eligible employees to announce the beginning
 of their Open Enrollment Period and provide them with instructions on how to create a #{Settings.site.short_name} account and log in,
 review their plan options, and enroll into coverage.  You will also receive a copy of this open enrollment notice.
 During Open Enrollment, you can monitor your employee elections and send reminder emails to your eligible employees who
 have not yet enrolled in a plan.",
 "<strong>Review Employee Enrollments</strong><br>
 At the end of Open Enrollment, you will receive a report of your employee elections, including a breakdown of employer
 and employee premium contributions. You will be able to review this information prior to finalizing your group’s coverage.",
 "<strong>Finalize Coverage and Pay First Month’s Premium</strong><br>
 Your coverage will only be finalized upon payment of your first month’s premium. Payment must be received and cleared no
 later than the 15th day of the month prior to your coverage effective date.  Payments over the phone are required, as they
 can be processed immediately and will ensure your coverage will not be delayed.<br><br>

 If payment of the first month’s premium is not received and cleared by the 15th day of the month, your group’s
 coverage will be delayed and your employees may experience a gap in coverage. Once enrollments have been processed
 by the health insurance company, employees will receive information about their health plan directly from the health insurance company,
 including their ID cards."] } %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: [""],
   heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
 previous: "Please contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:",
 listings: ["Online at #{notice.hbe.url};",
            "By email at #{notice.hbe.email}; or",
            "By calling #{notice.hbe.phone}."] } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => { content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{notice.hbe.phone}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)"} %>
