<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Application to Offer Group Health Coverage in #{Settings.site.short_name}</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.employer_name %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Thank you for applying to offer group health coverage through #{Settings.site.short_name}."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Based upon the information you have provided, you are eligible to offer group health coverage to your employees starting #{notice.plan_year.start_on} through #{Settings.site.short_name}. You can proceed to the next steps outlined below."} %>
<br>
<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "Please note that your group will only obtain coverage if:",
  listings: ["At least two-thirds of your eligible employees enroll in your group health coverage or waive due to having other coverage.",
    "One non-owner employee enrolls in health coverage"]} %>

<%= render partial: 'notices/shared/paragraph_no_top_margin', :locals => {
  content: "If you are unable to satisfy these requirements, you will only be able to offer #{Settings.site.short_name} coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or meeting the two-thirds minimum participation requirement."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
    heading: 'Next Steps', sub_heading: ''} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
           <strong>Log in to your DCHealthLink.com Account</strong>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<div style="display:block; page-break-inside: avoid;">
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li>
          <strong>Finalize List of Eligible Employees:</strong> At a minimum, you must offer coverage to all employees working 30 hours or more per week.<br>
          At the beginning of Open Enrollment, #{Settings.site.short_name} will send an email to your eligible employees to announce the beginning of their Open Enrollment Period and provide them with instructions on how to create a #{Settings.site.short_name} account and log in, review their plan options, and enroll into coverage.  You will also receive a copy of this open enrollment notice.<br>
          During Open Enrollment, you can monitor your employee elections and send reminder emails to your eligible employees who have not yet enrolled in a plan.<br>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div style="display:block; page-break-inside: avoid;">
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul style="list-style: circle solid;">
        <li>
          <strong>Finalize Coverage and Pay First Month’s Premium:</strong> Your coverage will only be finalized upon payment of your first month’s premium.  Your first month’s premium payment must be received and cleared no later than 5:00 p.m. on <%=notice.plan_year.binder_payment_due_date.strftime("%m/%d/%Y")%> in order for your coverage to take effect on <%=notice.plan_year.start_on%>.  Payments over the phone or online are required, as they can be processed immediately and will ensure your coverage will not be delayed. Checks are not accepted for the first month of coverage as they cannot be processed in time for your group’s enrollments to be transmitted to your health insurance company.<br>
          If your first month’s premium is not received and cleared by 5:00 p.m. on <%=notice.plan_year.binder_payment_due_date.strftime("%m/%d/%Y")%>, your group’s coverage will be delayed and your employees may experience a gap in coverage. Once enrollments have been processed by the health insurance company, employees will receive information about their health plan directly from the health insurance company, including their ID cards.
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
 contents: [""],
   heading: 'For Questions or Assistance:', sub_heading: ''} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
 previous: "Please contact your broker for further assistance.  You can also contact #{Settings.site.short_name} with any questions:",
 listings: ["By calling #{notice.hbe.phone}."] } %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling #{Settings.contact_center.phone_number}."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)"} %>