<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Enroll Now: Your Health Plan Open Enrollment Period has Begun</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "Good News! #{notice.employer_name}, has chosen to offer health insurance coverage to its employees through #{Settings.site.short_name} and will contribute to the monthly premium to make the cost of coverage more affordable. "} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
  content: "In order to enroll into employer-sponsored coverage through #{Settings.site.short_name}, you must complete an application for enrollment by #{notice.plan.try(:open_enrollment_end_on).try(:to_s)}, for coverage to be effective on #{notice.plan.try(:coverage_start_on).try(:to_s)}. " } %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>What is Open Enrollment?</strong><br>
Open enrollment is your annual opportunity to enroll in health plans offered by your employer.  Outside of this annual open enrollment period, you will only be allowed to make changes to your enrollment if you experience certain life events such as marriage, birth, or adoption."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
content: "<strong>To See Plan Options and Enroll:</strong><br>
If you have an existing #{Settings.site.short_name} account, please log in at #{notice.hbe.try(:url)} to view the plan options chosen by your employer and complete the enrollment process. If you do not have an existing #{Settings.site.short_name} account, please visit #{notice.hbe.try(:url)} to create an account and proceed with plan shopping and enrollment."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
  contents: [""],
  heading: 'For Questions or Assistance:', sub_heading: ''} %>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "Contact your employer or your broker for further assistance. "} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "Contact your employer further assistance."} %>
<% end %>

<%= render partial: 'notices/shared/unordered_list', locals: {
  previous: "You can also contact #{Settings.site.short_name} with any questions:",
  listings: ["Online at <a href='#{notice.hbe.url}'>#{notice.hbe.url}</a>;",
             "By email at #{notice.hbe.email}; or",
             "By calling #{notice.hbe.phone}."] } %>

<table style="width: 100%">
  <tr>
    <td style="width: 15%"><strong>CC:&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
    <td style="width: 85%"><%= notice.employer_name %></td>
  </tr>
</table>

<% if notice.broker.present? %>
  <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% end %>

 <%= render partial: 'notices/shared/paragraph', :locals => {
 content: "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)"} %>