<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "200"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>


<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></br></td>
  </tr>
    <tr class="wid50">
      <td align="left"><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></td>
      <td align="right" style="padding-right: 15px"><%= notice.primary_identifier %></td>
    </tr>
  <tr>
  <td></td>
  </tr>
  </tbody>
</table>

<%= render partial: "notices/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Denial of Employer SHOP Application</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>


<%= notice_paragraph "Thank you for applying to offer group health coverage through #{Settings.site.short_name}.  However, based on our eligibility criteria we are not able to offer group health coverage in #{Settings.site.short_name} for your employees at this time." %>

<%= notice_paragraph "At this time, you will not be able to offer coverage to your employees through #{Settings.site.short_name}.  If you would like to re-structure your benefit offering to encourage more employees to participate, you may do so by creating a new open enrollment period."%>

<%= notice_paragraph "In addition, there is a special annual enrollment period at the end of each year during which employers can offer group health coverage effective January 1st without having a minimum level of employee enrollment."%>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><%= notice_paragraph_heading("For Questions or Assistance:")%>  </td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
     <tr>
      <td>
        Contact your broker for further assistance.  You can also contact <%= Settings.site.short_name %> with any questions:
      </td>
    </tr>
    <tr>
       <td><ul><li style="margin-top: 5px;">Online at [HBEURL];</li><li style="margin-top: 5px;">By email at [HBEEMAIL]; or</li><li style="margin-top: 5px;">By calling [HBEPHONE].</li></ul></td>
      </tr>
  </tbody>
</table>

<% if true %>
<%= notice_paragraph_with_disclaimer("If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the \"Find a Broker\" link in your employer account or calling #{Settings.contact_center.phone_number}.", "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)") %>
<% end %>
