<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "200"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>


<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></br></td>
  </tr>
    <tr class="wid50">
      <td align="left"><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></td>
      <td align="right" style="padding-right: 15px"><%= notice.primary_identifier %></td>
    </tr>
  <tr>
  <td></td>
  </tr>
  </tbody>
</table>

<%= render partial: "notices/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>RE: Group Health Plan Annual Renewal – Action Required</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>


<%= notice_paragraph("Your group health plan will renew on [RENEWAL DATE].  During your annual renewal, you have an opportunity to review your plan information and make any desired changes for the upcoming plan year, including:") %>

<table class="total_table" border="0">
  <tbody>
    <tr>
       <td>
        <ul>
          <li style="margin-top: 5px;">The selection of plans you choose to offer to your eligible employees,</li>
          <li style="margin-top: 5px;">The amount you will contribute towards their cost of coverage, and</li>
          <li style="margin-top: 5px;">The employee eligibility rules.</li>
        </ul></td>
      </tr>
  </tbody>
</table>

<%= notice_paragraph_with_heading(["You will need to select dates to begin the Open Enrollment Period.  Open Enrollment must begin at least five days prior to your coverage effective date and must stay open for at least five days.  Eligible employees will receive an email announcing the beginning of their Open Enrollment Period with instructions for how to log in and make their elections."], "Open Enrollment Period") %>

<%= notice_paragraph_with_heading([
  "Your ability to offer group health coverage in DC Health Link is contingent on a minimum level of employee enrollment.If at least 66.67% of eligible employees do not enroll, you will not be able to offer group health coverage in DC Health Link at this time.  During open enrollment, you can monitor the number of eligible employees that have enrolled by logging into your DC Health Link account.",
  "Note that there is a special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without having a minimum level of employee enrollment.",
  "Thank you for providing health coverage to your employees through DC Health Link. We look forward to continuing to serve the health care needs of your organization and your employees."
  ], "Minimum Participation") %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><%= notice_paragraph_heading("For Questions or Assistance:")%>  </td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
     <tr>
      <td>
        Contact your broker for further assistance.  You can also contact DC Health Link with any questions:
      </td>
    </tr>
    <tr>
       <td><ul><li style="margin-top: 5px;">Online at [HBEURL];</li><li style="margin-top: 5px;">By email at [EMPLOYER.HBX@DC.GOV]; or</li><li style="margin-top: 5px;">By calling [HBEPHONE].</li></ul></td>
      </tr>
  </tbody>
</table>
<% if true %>
<%= notice_paragraph_with_disclaimer("If you do not currently work with a broker, you may choose to work with one at any time at no additional cost to you or your employees.  To find a broker or assister, go to [HBEURL] or call [Call Center Phone #].   If you do not currently have a broker, you can reach out to one of our many trained experts by clicking on the “Find a Broker” link in your employer account or calling [Call Center Phone #].", "This notice is being provided in accordance with 45 C.F.R. 155.715(d) & (e)") %>
<% end %>

