<br/>
<div class="">
    <div class = "table-responsive"> 
      <table class = "table table-striped table-bordered" style="table-layout: fixed;">
        <h3 class='title'>SEP HISTORY</h3>
          <div class="row">      
            <% @family.special_enrollment_periods.to_a.reverse_each do |f| %>
              <thead>              
                <tr>
                  <th>SEP REASON</th>
                  <th>EFFECTIVE DATE RULE</th> 
                  <th>EVENT DATE</th>
                  <th>SEP START DATE</th>
                  <th>SEP END DATE</th>
                  <th>NEXT POSSIBLE EVENT DATE</th>
                  <th>OPTION DATES</th>
                  <th>CSL#</th>
                  <th>ADMIN COMMENTS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"><%=f.title %></td>

                  <% if f.effective_on_kind.present? %>
                    <td class="text-center"><%=f.effective_on_kind.humanize %></td>
                  <% else %>
                    <td class="text-center">N/A</td>
                  <% end %>
                  
                  <td class="text-center"><%=f.qle_on%></td>
                  <td class="text-center"><%=f.start_on%></td>
                  <td class="text-center"><%=f.end_on%></td>
                  
                  <% if f.next_poss_effective_date.present? %>
                    <td class="text-center"><%=f.next_poss_effective_date %></td>
                  <% else %>
                    <td class="text-center">N/A</td>
                  <% end %>

                  <% if f.optional_effective_on.length > 0 %>
                      <td class="text-center"><%=f.optional_effective_on.join(", ") %></td>
                  <% else %>
                    <td class="text-center">N/A</td>
                  <% end %>

                  <% if f.csl_num.present? %>
                    <td class="text-center"><%=f.csl_num %></td>
                  <% else %>
                    <td class="text-center">N/A</td>
                  <% end %>
             
                  <% if f.admin_comment.present? %>
                    <td class="text-center"><%= f.admin_comment %></td>
                  <% else %>
                    <td class="text-center">Admin: N/A</td>
                  <% end %>
              </tbody>
            <% end %>
          </div>
        </table>
      </div>
    <br/>
</div>