<br/>
<div class="container">
    <div class = "table-responsive"> 
      <table class = "table table-striped table-bordered table-history">
        <h3 class='title'>SEP HISTORY</h3>
        <div class="row">        
            <% @family.special_enrollment_periods.to_a.reverse_each do |f| %>
              <thead>              
                <tr>
                  <th>SEP REASON</th>
                  <th>EFFECTIVE DATE RULE</th> 
                  <th>EVENT DATE</th>
                  <th>SEP START DATE</th>
                  <th>SEP END DATE</th>
                  <th>NEXT POSSIBLE EVENT DATE</th>
                  <th>OPTION DATES</th>
                  <th>CSL#</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=f.title %></td>

                  <% if f.effective_on_kind.present? %>
                    <td><%=f.effective_on_kind.humanize %></td>
                  <% else %>
                    <td>N/A</td>
                  <% end %>
                  
                  <td><%=f.qle_on%></td>
                  <td><%=f.start_on%></td>
                  <td><%=f.end_on%></td>
                  
                  <% if f.next_poss_effective_date.present? %>
                    <td><%=f.next_poss_effective_date %></td>
                  <% else %>
                    <td>N/A</td>
                  <% end %>

                  <% if f.optional_effective_on.length > 0 %>
                      <td><%=f.optional_effective_on.join(", ") %></td>
                  <% else %>
                    <td>N/A</td>
                  <% end %>

                  <% if f.csl_num.present? %>
                    <td><%=f.csl_num %></td>
                  <% else %>
                    <td>N/A</td>
                  <% end %>
                </tr>
                <div class="col-md-12 col-sm-12 col-xs-12">            
                  <tr>
                    <% if f.admin_comment.present? %>
                      <td><%="Admin Comment: " + f.admin_comment %></td>
                    <% else %>
                      <td>&nbsp;&nbsp;Admin: N/A</td>
                    <% end %>
                  </tr>
                </div>
            </tbody>
          <% end %>
          </div>
       </table>
      </div>
    <br/>
</div>