<div style="margin: 15px" class="sep-display">
  <h3 class='title'><%= l10n("hbx_profiles.sep_history_for", name: h(@family.primary_person.full_name)) %></h3>
  <div class="panel-heading" role="tab">
    <div class="row">
      <div class="col-md-6">
        <span style="margin-left: 75px"><b><%= l10n("hbx_profiles.sep_reason") %></b></span>
      </div>
      <div class="col-md-3">
        <b><%= l10n("hbx_profiles.sep_start_date") %></b>
      </div>
      <div class="col-md-3">
        <b><%= l10n("hbx_profiles.sep_end_date") %></b>
      </div>
    </div>
  </div>
  <%= render partial: 'sep_history/sep_history_display' %>
</div>

<script>
  function addStyleToPanel(id) {
    var ele = $('#viewSepPanel_'+id)
    var another = $('.add-default-class-'+id)
    var heading_elem = $('.sep-heading-'+id)
    if (ele.attr('aria-expanded') === 'false') {
      another.addClass('panel panel-default')
      ele.addClass('panel-heading')
      heading_elem.addClass('font-weight-bold')
    }else {
      ele.removeClass('panel-heading')
      another.removeClass('panel panel-default')
      heading_elem.removeClass('font-weight-bold')
    }
  }
</script>