<% if @bs4 %>
  <div class="container p-0">
    <div class="alert alert-info d-flex align-items-center">
      <div class="d-flex pl-1">
        <div class="info-icon icon" alt="info">&nbsp;</div>
      </div>
      <div class="col my-1 mr-auto p-0 align-self-center">
        <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> <%= raw message %> v <%= raw message %> <%= raw message %>
      </div>
      <div class="d-flex pl-1">
        <a class="close-icon icon pr-1" alt="Close" href="#">&nbsp;<span class="sr-only">Close</span></a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row flash module">
    <div class="alert alert-<%= type %>" style="width: 100%; margin-top: 0px !important;">
      <div class="container">
        <div class="col-xs-12" style="width: 100%; max-width: 1170px; margin: auto;">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= raw message %>
        </div>
      </div>
    </div>
  </div>
<% end %>
