<div class='hide' id='dchbx_enroll_date_of_record'><%= TimeKeeper.date_of_record.iso8601 %></div>
<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">

    <div id="navbar" class="collapse navbar-collapse">
      <div class="col-xs-6">
        <div class="row">
      <div class="col-xs-12">
        <div class="row">
      <div class="navbar-header col-xs-4">
        <div class="">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

          <span class="navbar-brand" href="<%= root_url %>"><%= image_tag 'logo.png' %></span>

      </div>
      </div>
      <ul class="col-xs-8 nav navbar-nav nav-info navbar-left brd-left">
        <li class="header-text">
          <% if current_user.try(:has_employee_role?) || (current_user.try(:has_consumer_role?) && current_user.identity_verified_date.nil? == false) %>
          <a href="<%= family_account_path %>" <% if current_user.try(:has_employee_role?) %>style="padding: 7px 10px 0 10px;"<% end %>>
            <%= portal_display_name(controller_name) %>
          </a>
          <% elsif current_user.try(:has_broker_agency_staff_role?) %>
            <a href="<%= broker_agencies_root_path %>">
            <%= portal_display_name(controller_name) %>
            </a>
            <% elsif current_user.try(:has_hbx_staff_role?) %>
              <a href="<%= exchanges_hbx_profiles_root_path %>">
              <%= portal_display_name(controller_name) %>
              </a>

                <% elsif current_user.try(:has_csr_role?) %>
                  <a href="<%= home_exchanges_agents_path %>">
                  <%= portal_display_name(controller_name) %>
                  </a>
              <% else %>
              <a href="#">
              <%= portal_display_name(controller_name) %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">

      <div class="col-xs-12">
        <div class="row">

          <div class="
          <% if current_user %>
          col-xs-5 ccs

          <% elsif current_page?('/') || controller.controller_name == 'registrations' || controller.controller_name == 'broker_roles' || controller.controller_name == 'sessions' %>
          col-xs-12 ccs
          <% else %>
          col-xs-5 ccs
          <% end %>">
              <div class="pull-right">
            <span class="g14">Call Customer Service</span><br/>
            <i class="fa fa-phone fa-lg"></i>
            <h4><%= HbxProfile::CallCenterPhoneNumber %></h4>
          </div>


          </div>
          <div class="col-xs-7">

            <div class="right-menu navbar-right">
              <% if signed_in? %>
              <ul class="navbar-nav top-menu pull-right">
                <%= render partial: "shared/my_portal_links"%>
                <li><a class="g14" href="https://dchealthlink.com/help" target="_blank">Help</a></li>
                <li class="hidden-xs">|</li>
                <li><%= link_to "LOGOUT", destroy_user_session_path, method: "delete", class: "g14" %></li><br/>
                <div class="bottom-row">
                    <li class="">
                      <% unless current_user.try(:person).try(:hbx_id).nil? %>
                        <span class="dark-grey">My ID: <%= truncate(current_user.try(:person).try(:hbx_id).upcase, length: 8, omission: '') %>&nbsp;&nbsp;</span>
                      <% end %>
                    </li>
                    <h4><%= user_full_name.titleize %></h4>
                </div>

              </ul>

              <% end %>
            </div>
          </div>
      </div>
    </div>

  </div>
    </div>
        </div>
  </div>
</nav>
