<div class='hide' id='dchbx_enroll_date_of_record'><%= TimeKeeper.date_of_record.iso8601 %></div>
  <nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="collapse navbar-collapse">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="navbar-header col-xs-4">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <span class="navbar-brand" href="<%= root_url %>"><%= image_tag 'logo.png' %></span>
                </div>
                <ul class="col-xs-8 nav navbar-nav nav-info navbar-left brd-left">
                  <li class="header-text">
                    <a>
                      <%= get_header_text(controller_name) %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <% if current_user %>
                  <div class="col-xs-5 ccs">
                <% elsif current_page?('/') || controller.controller_name == 'registrations' || controller.controller_name == 'broker_roles' || controller.controller_name == 'sessions' %>
                  <div class="col-xs-12 ccs">
                <% else %>
                  <div class="col-xs-5 ccs">
                <% end %>
                <div class="pull-right">
                  <span class="g14">Call Customer Service</span><br/>
                  <i class="fa fa-phone fa-lg"></i>
                  <h4><%= Settings.contact_center.phone_number %></h4>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="right-menu navbar-right">
                  <% if signed_in? %>
                    <ul class="navbar-nav top-menu pull-right">
                      <%= render partial: "shared/my_portal_links"%>

                      <li><a class="g14" href="https://dchealthlink.com/help" target="_blank">Help</a></li>
                      <li class="hidden-xs">|</li>
                      <li><%= link_to "LOGOUT", destroy_user_session_path, method: "delete", class: "g14" %></li><br/>

                      <div class="bottom-row">
                        <li class="">
                          <% unless current_user.try(:person).try(:hbx_id).nil? %>
                            <span class="dark-grey">My ID: <%= truncate(current_user.try(:person).try(:hbx_id).upcase, length: 8, omission: '') %>&nbsp;&nbsp;</span>
                          <% end %>
                        </li>
                        <h4><%= user_full_name.titleize %></h4>
                      </div>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<% if user_signed_in? %>
  <script>
    // check time until logout
    function check_time_until_logout(){
      $.ajax({
        url: '/check_time_until_logout',
        type: 'GET',
        success: function(response){
        },
        error: function(response){
        }
      });
    }
    setTimeout(check_time_until_logout, 87000);
  </script>
<% end %>
<script>
  if (bowser.msie && bowser.version <= 8 || bowser.chrome && bowser.version <= 28 || bowser.firefox && bowser.version <= 22) {
    $('body').before('<div id="modal-wrapper"></div>')
    $('#modal-wrapper').html('<%= escape_javascript(render(:partial => "shared/update_browser_warning")) %>');
    $('#modal-wrapper').fadeIn();
  }
</script>
