<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>"><%= image_tag 'logo.png' %></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-info navbar-left brd-left hidden-xs hidden-sm">
        <li class="header-text">
          <a href="#"><%= portal_display_name(controller_name) %></a>
        </li>
      </ul>
      <div class="right-menu navbar-right">
        <% if signed_in? %>
        <ul class="navbar-nav top-menu">
          <%= render partial: "shared/my_portal_links"%>
          <li><a href="#"><%= HbxProfile::CallCenterPhoneNumber %></a></li>
          <li class="hidden-xs">|</li>
          <li><a href="https://dchealthlink.com/help" target="_blank">Help</a></li>
          <li class="hidden-xs">|</li>
          <li><%= link_to "LOGOUT", destroy_user_session_path, method: "delete" %></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="user-info">
          <li class="">
            <% unless current_user.try(:person).try(:hbx_id).nil? %>
              (ID <%= current_user.try(:person).try(:hbx_id) %>) &nbsp; &nbsp;
            <% end %>
            <strong><%= user_full_name %></strong>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
