<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag Settings.site.tab_icon, :rel => 'shortcut icon', :type => EnrollRegistry[:enroll_app].settings(:favicon_tab_icon).item %>

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to #{site_short_name} | #{site_short_name}" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "sponsored_benefits/application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "sponsored_benefits/application" %>
    <%= javascript_pack_tag 'legacy', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag ENV['CLIENT'] %>
    <%= stylesheet_pack_tag ENV['CLIENT'] %>

    <% if EnrollRegistry.feature_enabled?(:contrast_level_aa) %>
      <%= javascript_pack_tag 'contrast_level_aa' %>
      <%= stylesheet_pack_tag 'contrast_level_aa' %>
    <% end %>
    <% if EnrollRegistry.feature_enabled?(:jquery_migrate) %>
      <% if EnrollRegistry[:jquery_migrate].setting(:show_warnings).item == true %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
      <% else %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
      <% end %>
    <% end %>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <%= yield :head %>
    <% if EnrollRegistry.feature_enabled?(:live_chat_widget) %>
      <%= render "shared/customer_support/live_chat_scripts" unless EnrollRegistry.feature_enabled?(:external_qna_bot) %>
    <% end %>
    <%= render "layouts/analytics" if ENV['GA_TRACKING_ID'].present? %>
  </head>
  <body class="font" data-controller="<%= controller.controller_name %>" data-action="<%= action_name %>">

    <%= render partial: './ui-components/v1/navs/header' %>

    <div class="content <%= controller_name %> content-bottom">
      <% if aca_security_questions %>
        <%= render 'users/security_question_responses/modal' %>
      <% end %>

      <%= render_flash %>
      <div class="container">
        <%= yield :horizontal_status %>

      </div>
      <% if content_for? :content %>
        <%= yield :content %>
      <% else %>
        <%= yield %>
      <% end %>

    </div>
    <% if EnrollRegistry.feature_enabled?(:live_chat_widget) %>
      <%= render "shared/customer_support/live_chat_widget" %>
    <% end %>
    <%= render partial: './ui-components/v1/layouts/footer' %>

  </body>
 </html>
