<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' %>

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to DC Health Link | DC Health Link" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
<!-- <div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inside-padder">Welcome to DC's new health insurance marketplace</div>
            </div>
            
            <div class="col-md-6">
                <div class="region region-nav-top">
                    <section id="block-menu-block-2" class="block block-menu-block clearfix">
                        <div class="menu-block-wrapper menu-block-2 menu-name-menu-nav-top parent-mlid-0 menu-level-1">
                            <ul class="menu nav">
                                <li class="first leaf menu-mlid-875"><a href="http://dchealthlink.com/assisters" title="Assisters">Assisters</a></li>
                                <li class="leaf menu-mlid-878"><a href="http://dchealthlink.com/help" title="Get Help">Get help</a></li>
                                <li class="last leaf menu-mlid-877"><a href="http://dchealthlink.com/search" title="Search">Search</a></li>
                                <li class="last leaf menu-mlid-877"><a href="http://dchealthlink.com/forms" title="Forms">Forms</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
<!-- <header id="logo-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "DC Health Link Home", title: "http://dchealthlink.com/" do %>
          <%= image_tag "logo.png", alt: "DC Health Link Home" %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div id="main-nav-menu-vert">
  <div class="container">
        <div class="row">
            <div class="span12">
                <div class="region region-nav-main">
                    <section id="block-menu-block-1" class="block block-menu-block clearfix">
                        <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
                            <ul class="menu nav">
                                <li class="first expanded menu-mlid-1171 dropdown"><a href="http://dchealthlink.com/about" title="About Us" class="dropdown-toggle" data-toggle="dropdown" data-target="#">About Us <span class="caret"></span></a></li>
                                
                                <li class="expanded menu-mlid-1174 dropdown"><a href="http://dchealthlink.com/individuals" title="Individuals and Families" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Individuals &amp; Families <span class="caret"></span></a></li>
                                
                                <li class="expanded menu-mlid-1208 dropdown"><a href="http://dchealthlink.com/smallbusiness" title="Small Businesses" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Small Businesses <span class="caret"></span></a></li>
                                
                                <li class="expanded menu-mlid-1209 dropdown"><a href="http://dchealthlink.com/brokers" title="Brokers" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Brokers <span class="caret"></span></a></li>
                                
                                <li class="last expanded menu-mlid-1210 dropdown"><a href="http://dchealthlink.com/plan-info" title="Insurers" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Plan Info<span class="caret"></span></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
 -->


    <div id="wrapper" class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <%= render_flash %>
            <%= yield %>
          </div>
        </div>
    </div>


<!-- <footer id="page-footer-section">
    <div class="container">
        <div class="row">
            <div class="span12 social">
                <div class="inside-padder">
                    <div class="region region-footer-social">
                        <section id="block-menu-block-3" class="block block-menu-block clearfix">                        
                          <div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-0 menu-level-1">
                                <ul class="menu nav">
                                    <li class="first leaf has-children menu-mlid-1171"><a href="http://dchealthlink.com//about" title="About Us">About Us</a></li>
                                    <li class="leaf has-children menu-mlid-1174"><a href="http://dchealthlink.com/individuals" title="Individuals & Families">Individuals &amp; families</a></li>
                                    <li class="leaf has-children menu-mlid-1208"><a href="http://dchealthlink.com/smallbusiness" title="Small Businesses">Small businesses</a></li>
                                    <li class="leaf has-children menu-mlid-1209"><a href="http://dchealthlink.com/brokers" title="Brokers">Brokers</a></li>
                                    <li class="last leaf has-children menu-mlid-1210"><a href="http://dchealthlink.com/insurers" title="Insurers">Insurers</a></li>
                                </ul>
                            </div>                        
                        </section>                    
                        <section id="block-block-4" class="block block-block clearfix">
                            <span class="follow" title="Follow Us">Follow Us</span>
                            <a href="https://www.facebook.com/pages/DC-Health-Benefit-Exchange/254860577970621" title="dchealthlink on facebook"><img src="facebook.png" alt="" class="social-footer-img"/></a> 
                            <a href="https://twitter.com/DCHealthLink" title="dchealthlink on twitter"><img src="twitter.png" alt="" class="social-footer-img"/></a> 
                            <a href="http://www.youtube.com/dchealthlink" title="dchealthlink on youtube"><img src="youtube.png" alt="" class="social-footer-img" /></a> 
                        </section>                      
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row copyright">
            <div class="span6">
                <div class="inside-padder">
                    &copy;  2013-2015 DC Health Link. All Rights Reserved.
                </div>
            </div>
            
            <div class="span6 text-right">
                <div class="inside-padder">
                    <div class="region region-footer-bottom-links">
                        <section id="block-menu-block-5" class="block block-menu-block clearfix">
                            <div class="menu-block-wrapper menu-block-5 menu-name-menu-footer-bottom-menu parent-mlid-0 menu-level-1">
                                <ul class="menu nav">
                                    <li class="leaf menu-mlid-1351"><a title="Accessibility" href="http://dchealthlink.com/accessibility">Accessibility</a></li>
                                    <li class="leaf menu-mlid-1475"><a title="Best Viewed" href="http://dchealthlink.com/best-viewed">Best Viewed</a></li>
                                    <li class="leaf menu-mlid-888"><a title="Privacy &amp; Security" href="http://dchealthlink.com/privacy">Privacy &amp; Security</a></li>
                                    <li class="last leaf menu-mlid-889"><a title="Terms &amp; Conditions" href="http://dchealthlink.com/terms">Terms &amp; Conditions</a></li>
                                </ul>                                
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>      </footer>
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
 -->
 </html>
