<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon', :type => 'image/png', :sizes => '32x32' %>

    <%= content_for?(:page_title) ? content_tag(:title, yield(:page_title)) : 
                                    content_tag(:title, "Welcome to #{Settings.site.short_name}") %>

    <%= content_tag(:description, yield(:page_description)) if content_for?(:page_description) %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/application_brand' %>
    <div class="container">
      <div id="content" role="main" aria-label="main content">
        <% if content_for?(:two_column_layout) %>
          <%= yield :two_column_layout %>
        <% elsif content_for?(:one_column_layout) %>
          <%#= content_tag(:div, class: "one_column_layout") %>
          <div class="content <%= controller_name %> content-bottom">
            <%= yield %>
          </div>
        <% else %>
          <!-- Layout unspecified, default to single column -->
          <div>
            <div class="content <%= controller_name %> content-bottom">
              <%= yield %>
            </div>
          </div>
          <%#= content_for?(:content_wrapper) ? yield(:content_wrapper) : yield %>
        <% end %>
      </div>
    </div> <!-- .container -->

    <%= render 'layouts/application_footer' %>
    <%= render 'layouts/application_script' %>

  </body>
 </html>
