<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag Settings.site.tab_icon, :rel => 'shortcut icon', :type => EnrollRegistry[:enroll_app].settings(:favicon_tab_icon).item %>

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to #{site_short_name} | #{site_short_name}" %></title>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag ENV['CLIENT'], 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag ENV['CLIENT'], 'data-turbolinks-track': 'reload' %>

    <% if EnrollRegistry.feature_enabled?(:contrast_level_aa) %>
      <%= javascript_pack_tag 'contrast_level_aa' %>
      <%= stylesheet_pack_tag 'contrast_level_aa' %>
    <% end %>

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>

    <% if EnrollRegistry.feature_enabled?(:live_chat_widget) %>
      <%= render "shared/customer_support/live_chat_scripts" unless EnrollRegistry.feature_enabled?(:external_qna_bot) %>
    <% end %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= render "layouts/analytics" if ENV['GA_TRACKING_ID'].present? %>
  </head>
  <body class="font <%= ENV['CLIENT'] || "ic" %>-sbm d-flex flex-column justify-content-between min-vh-100">
    <%= render partial: './ui-components/bs4/v1/navs/header' %>

    <%= yield :horizontal_menu %>

    <main class="pb-5 <%= controller_name %> flex-grow-1">
      <% if aca_security_questions %>
        <%= render 'users/security_question_responses/modal' %>
      <% end %>

      <%= render_flash %>

      <aside class="container">
        <%= yield :horizontal_status %>
      </aside>

      <% if content_for? :content %>
        <%= yield :content %>
      <% else %>
        <%= yield %>
      <% end %>
    </main>

    <% if EnrollRegistry.feature_enabled?(:live_chat_widget) %>
      <%= render "shared/customer_support/live_chat_widget" %>
    <% end %>

    <%= render partial: './ui-components/bs4/v1/footers/footer' %>
    <% if EnrollRegistry.feature_enabled?(:jquery_migrate) %>
      <% if EnrollRegistry[:jquery_migrate].setting(:show_warnings).item == true %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
      <% else %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
      <% end %>
    <% end %>
  </body>
  <% if @bs4 %>
    <script>
      disableSelectric = true;
    </script>
  <% end %>
 </html>
