<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>New Message from IdeaCrew</title>
  </head>
  <body>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        padding: 1rem;
        font-family: Barlow, sans-serif;
        color: #323130;
      }
      .email-header {
        background-color: #3d5d6f;
        padding: 1rem;
      }

      .client-logo {
        width: auto;
        height: 39px;
      }

      .user-identification {
        color: #fff;
      }

      .id-number {
        font-weight: 700;
      }

      .button-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #647f3a;
        padding: 0 11px;
        min-height: 44px;
        border-radius: 3px;
        text-decoration: none;
      }

      .heading {
        font-weight: 700;
      }

      .email-footer {
        background-color: #edebe9;
        color: #605e5c;
        padding: 1rem;
        font-size: 0.75rem;
      }

      .client-logo-full {
        width: auto;
        height: 50px;
      }

      .copyright-info {
        margin-top: 0.75rem;
      }

      .email-footer .right-column {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      @media screen and (min-width: 500px) {
        .email-header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }

        .email-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }

        .email-footer .right-column {
          margin-top: 0;
        }
      }
    </style>

    <header class="email-header">
      <svg
        class="client-logo"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 550 108"
      >
        <path
          d="M378.17 12.45V1.37a1.32 1.32 0 0 0-.4-.97 1.32 1.32 0 0 0-.96-.4h-52.62a1.31 1.31 0 0 0-.97.4 1.34 1.34 0 0 0-.4.97v77.2a1.36 1.36 0 0 0 1.37 1.36h52.62a1.35 1.35 0 0 0 1.36-1.37V67.5a1.35 1.35 0 0 0-1.36-1.38h-37.36a.5.5 0 0 1-.56-.56v-18.5a.5.5 0 0 1 .34-.55.5.5 0 0 1 .22-.02h24.5a1.35 1.35 0 0 0 1.26-.84c.07-.17.1-.35.1-.53V34.04a1.36 1.36 0 0 0-1.37-1.37h-24.5a.5.5 0 0 1-.56-.57V14.4a.5.5 0 0 1 .14-.43.5.5 0 0 1 .43-.14h37.35a1.35 1.35 0 0 0 1.37-1.37v-.01ZM296.05.9l-17.2 26.6c-.22.46-.45.46-.67 0L261.08.92a1.79 1.79 0 0 0-1.59-.9h-13.32a1.31 1.31 0 0 0-.97.4 1.34 1.34 0 0 0-.4.97v77.18a1.36 1.36 0 0 0 1.37 1.37h13.32a1.35 1.35 0 0 0 1.37-1.37V28.32c0-.3.07-.48.23-.52.15-.03.3.06.45.29l12.07 18.95a1.78 1.78 0 0 0 1.6.9h6.72a1.78 1.78 0 0 0 1.6-.9L295.6 28.1c.15-.23.3-.34.45-.34.15 0 .22.15.22.45v50.36a1.37 1.37 0 0 0 .85 1.27c.16.07.34.1.52.1h13.33a1.35 1.35 0 0 0 1.36-1.37V1.37a1.32 1.32 0 0 0-.4-.97 1.33 1.33 0 0 0-.95-.4h-13.33a1.79 1.79 0 0 0-1.6.91ZM531.54 79.93a1.3 1.3 0 0 0 1.5-1.23l16.83-66.51a1.03 1.03 0 0 0-.06-1.1 1.26 1.26 0 0 0-1.03-.41l-7.93-.14a1.4 1.4 0 0 0-1.5 1.24L527.7 63.75c-.09.27-.18.41-.27.41-.09 0-.18-.14-.27-.41L515.4 11.78a1.41 1.41 0 0 0-1.5-1.24h-7.94c-.82 0-1.23.32-1.23.96l.13.55 16.96 66.65a1.41 1.41 0 0 0 1.5 1.23h8.22Zm-53.9-7.54a10.98 10.98 0 0 1-8.47-3.57 13.4 13.4 0 0 1-3.29-9.46V31.11a13.67 13.67 0 0 1 3.29-9.53 10.92 10.92 0 0 1 8.48-3.63 11.11 11.11 0 0 1 8.55 3.63c2.3 2.62 3.5 6.04 3.35 9.53v28.25a13.25 13.25 0 0 1-3.36 9.46 11.22 11.22 0 0 1-8.54 3.57Zm0 8.64c6.57 0 11.82-1.92 15.74-5.76s5.88-8.91 5.88-15.22V30.56a20.65 20.65 0 0 0-5.88-15.22c-3.92-3.93-9.17-5.9-15.73-5.9-6.48 0-11.68 1.97-15.6 5.9-3.92 3.94-5.88 9-5.88 15.22v29.49c0 6.3 1.94 11.38 5.81 15.22 3.88 3.84 9.1 5.76 15.67 5.75Zm-53.75-9.2a10.88 10.88 0 0 1-8.48-3.63 13.47 13.47 0 0 1-3.28-9.4V31.12a13.68 13.68 0 0 1 3.28-9.53 10.92 10.92 0 0 1 8.48-3.63 10.54 10.54 0 0 1 8.28 3.63 13.87 13.87 0 0 1 3.21 9.53v27.7c.15 3.43-1 6.78-3.21 9.4a10.56 10.56 0 0 1-8.28 3.63Zm11.5-59.91v4.25c0 .27-.08.43-.21.48-.14.04-.3-.07-.48-.34-1.48-2.23-3.54-4-5.95-5.15a17.87 17.87 0 0 0-7.73-1.71c-5.75 0-10.28 1.9-13.61 5.7-3.33 3.78-5 8.88-5 15.28v28.94c0 6.3 1.67 11.38 5 15.22s7.86 5.76 13.6 5.75c2.69.02 5.33-.6 7.74-1.78a15.2 15.2 0 0 0 5.95-5.21c.18-.18.34-.23.48-.14a.47.47 0 0 1 .2.41v4.11c0 7.32-1.46 12.73-4.38 16.25-2.91 3.52-8.02 5.2-15.32 5a1.2 1.2 0 0 0-1.36 1.38v5.9a1.35 1.35 0 0 0 .8 1.4c.18.07.37.11.56.1 10.58.46 18.13-1.84 22.64-6.91 4.52-5.07 6.77-12.5 6.77-22.29V11.92a1.21 1.21 0 0 0-1.36-1.38h-6.98a1.2 1.2 0 0 0-1.37 1.38Zm-45.9 67.79a6.3 6.3 0 0 0 6.08-7.5 6.33 6.33 0 0 0-1.66-3.21 6.3 6.3 0 0 0-10.62 4.5 5.94 5.94 0 0 0 6.2 6.2ZM229.65 9.86c-6.02 0-10.35 3.47-13 10.42a.75.75 0 0 1-.47.27c-.14 0-.21-.13-.21-.4v-8.23a1.22 1.22 0 0 0-.34-1.03 1.2 1.2 0 0 0-1.02-.35h-6.98a1.2 1.2 0 0 0-1.32.82 1.2 1.2 0 0 0-.05.55v66.65a1.2 1.2 0 0 0 .34 1.03 1.21 1.21 0 0 0 1.03.34h6.98a1.2 1.2 0 0 0 1.36-1.37V37.42c-.13-4.18.97-8.3 3.15-11.86 2.1-3.25 4.79-4.96 8.07-5.14.54-.11 1.1-.16 1.64-.14a9.12 9.12 0 0 1 4.1.82c1 .28 1.56 0 1.65-.82l1.64-7.13a1.48 1.48 0 0 0-.68-1.79 11.06 11.06 0 0 0-5.89-1.5Zm-56.31 8.09a11.05 11.05 0 0 1 8.61 3.63 13.68 13.68 0 0 1 3.29 9.53v9.2c0 .07 0 .14-.03.21a.48.48 0 0 1-.3.31.48.48 0 0 1-.22.02h-22.44a.48.48 0 0 1-.4-.14.49.49 0 0 1-.15-.4v-9.2c-.16-3.47 1-6.87 3.22-9.53a10.71 10.71 0 0 1 8.41-3.63Zm21.47 29.62V30.43c0-6.22-1.94-11.27-5.82-15.16-3.87-3.88-9.1-5.83-15.66-5.83-6.48 0-11.65 1.95-15.52 5.83-3.88 3.89-5.81 8.94-5.82 15.16v29.61c0 6.31 1.94 11.39 5.82 15.23 3.87 3.84 9.05 5.76 15.52 5.75 5.93 0 10.74-1.57 14.43-4.73a19.65 19.65 0 0 0 6.64-12.82 1.15 1.15 0 0 0-.28-1.1 1.31 1.31 0 0 0-.96-.4l-6.84-.28a1.53 1.53 0 0 0-1.5 1.23 12.56 12.56 0 0 1-4.03 6.92 10.98 10.98 0 0 1-7.46 2.68 10.68 10.68 0 0 1-8.41-3.63 13.64 13.64 0 0 1-3.22-9.4v-10a.5.5 0 0 1 .33-.53.48.48 0 0 1 .22-.02h31.19a1.2 1.2 0 0 0 1.37-1.37Zm-75.75 32.36h8.21a1.3 1.3 0 0 0 1.5-1.23l16.83-66.51a1.04 1.04 0 0 0-.07-1.1 1.26 1.26 0 0 0-1.03-.41l-7.93-.14a1.4 1.4 0 0 0-1.5 1.24l-11.63 51.97c-.1.27-.18.41-.27.41-.1 0-.19-.14-.28-.41l-11.76-51.97a1.41 1.41 0 0 0-1.5-1.24h-7.94c-.82 0-1.23.32-1.23.96l.14.55 16.96 66.65a1.41 1.41 0 0 0 1.5 1.23Zm-45.5-7.54a10.98 10.98 0 0 1-8.49-3.57c-2.27-2.6-3.45-6-3.28-9.46V31.11a13.68 13.68 0 0 1 3.28-9.53 10.92 10.92 0 0 1 8.48-3.63 11.11 11.11 0 0 1 8.55 3.63c2.3 2.62 3.5 6.04 3.35 9.53v28.25a13.26 13.26 0 0 1-3.35 9.46 11.23 11.23 0 0 1-8.55 3.57Zm0 8.64c6.56 0 11.8-1.92 15.72-5.76 3.93-3.84 5.9-8.91 5.9-15.22V30.56a20.65 20.65 0 0 0-5.9-15.22c-3.92-3.93-9.16-5.9-15.73-5.9-6.47 0-11.67 1.97-15.6 5.9-3.91 3.94-5.87 9-5.88 15.22v29.49c0 6.3 1.94 11.38 5.81 15.22 3.88 3.84 9.1 5.76 15.67 5.75Zm-52.22 0c6.47 0 11.7-1.81 15.66-5.42a17.64 17.64 0 0 0 5.95-13.65v-1.5a1.22 1.22 0 0 0-1.37-1.38l-6.97-.13a1.2 1.2 0 0 0-1.37 1.37v.96a10.82 10.82 0 0 1-3.35 7.88 11.58 11.58 0 0 1-8.55 3.36 10.67 10.67 0 0 1-8.41-3.63 13.84 13.84 0 0 1-3.22-9.53V31.11c-.16-3.47.99-6.87 3.22-9.53a10.7 10.7 0 0 1 8.4-3.63 11.56 11.56 0 0 1 8.56 3.36 10.8 10.8 0 0 1 3.35 7.88v.96a1.22 1.22 0 0 0 1.37 1.37l6.97-.27a1.2 1.2 0 0 0 1.37-1.37V28.5c.03-3.37-.9-6.68-2.67-9.54a19.29 19.29 0 0 0-7.59-6.92 23.94 23.94 0 0 0-11.35-2.6c-6.39 0-11.54 1.93-15.46 5.82C1.96 19.16 0 24.21 0 30.43v29.61c0 6.31 1.94 11.39 5.81 15.23 3.88 3.84 9.05 5.76 15.53 5.75Z"
          fill="#fff"
        />
      </svg>

      <% if content_for?(:hbx_id) %>
        <div class="user-identification">
          IdeaCrew ID: <span class="id-number"><%= yield :hbx_id %></span>
        </div>
      <% end %>
    </header>

    <main class="email-content">
      <%= yield %>
    </main>
    <footer class="email-footer">
      <div class="left-column">
        <svg
          class="client-logo-full"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 162 50"
        >
          <path d="M111.23 3.64V.4a.39.39 0 0 0-.12-.28.39.39 0 0 0-.28-.12H95.35a.39.39 0 0 0-.29.12.39.39 0 0 0-.11.28v22.57a.4.4 0 0 0 .24.37c.05.02.1.03.16.03h15.48a.4.4 0 0 0 .37-.25c.02-.04.03-.1.03-.15v-3.24a.39.39 0 0 0-.12-.28.4.4 0 0 0-.28-.12H99.84a.15.15 0 0 1-.13-.04.15.15 0 0 1-.04-.12v-5.41a.15.15 0 0 1 .17-.17h7.2a.4.4 0 0 0 .4-.4V9.95a.4.4 0 0 0-.11-.28.4.4 0 0 0-.29-.12h-7.2a.15.15 0 0 1-.17-.16V4.2a.15.15 0 0 1 .17-.17h10.98a.4.4 0 0 0 .29-.11.39.39 0 0 0 .11-.29ZM87.07.27l-5.05 7.78c-.07.13-.14.13-.2 0L76.79.27a.53.53 0 0 0-.47-.27H72.4a.39.39 0 0 0-.28.12.39.39 0 0 0-.12.28v22.57a.4.4 0 0 0 .25.37l.15.03h3.92a.4.4 0 0 0 .4-.4V8.28c0-.09.03-.14.07-.15.04-.01.09.02.13.08l3.55 5.54a.52.52 0 0 0 .47.27h1.98a.53.53 0 0 0 .47-.27l3.55-5.54c.04-.06.09-.1.13-.1.05 0 .07.05.07.14v14.72a.4.4 0 0 0 .25.37l.15.03h3.92a.4.4 0 0 0 .4-.4V.4a.39.39 0 0 0-.11-.28.39.39 0 0 0-.29-.12h-3.92a.53.53 0 0 0-.47.27M153.92 23.37h2.41a.39.39 0 0 0 .4-.2.4.4 0 0 0 .05-.16l4.95-19.45a.3.3 0 0 0 .03-.16.3.3 0 0 0-.05-.16.37.37 0 0 0-.3-.12l-2.34-.04c-.1 0-.2.03-.3.1a.41.41 0 0 0-.14.26l-3.42 15.2c-.03.08-.05.12-.08.12s-.05-.04-.08-.12l-3.46-15.2a.41.41 0 0 0-.44-.36h-2.34c-.24 0-.36.1-.36.28l.04.16 4.99 19.5c.01.1.06.2.15.26.08.07.18.1.29.1Zm-13.44-2.2a3.24 3.24 0 0 1-2.49-1.05 3.9 3.9 0 0 1-.97-2.76V9.1c-.04-1.02.3-2.02.97-2.79a3.21 3.21 0 0 1 2.5-1.06 3.29 3.29 0 0 1 2.5 1.06c.69.77 1.04 1.77 1 2.79v8.26c.04 1.01-.31 2-1 2.76a3.3 3.3 0 0 1-2.5 1.05Zm0 2.52c1.94 0 3.48-.56 4.63-1.68a5.93 5.93 0 0 0 1.73-4.45V8.94a6 6 0 0 0-1.73-4.45 6.28 6.28 0 0 0-4.63-1.73 6.2 6.2 0 0 0-4.58 1.73 6.02 6.02 0 0 0-1.73 4.45v8.62c0 1.84.57 3.33 1.7 4.45a6.27 6.27 0 0 0 4.61 1.68ZM124.68 21a3.22 3.22 0 0 1-2.5-1.06c-.66-.76-1-1.74-.97-2.74V9.1c-.04-1.02.3-2.02.97-2.79a3.21 3.21 0 0 1 2.5-1.06 3.11 3.11 0 0 1 2.43 1.06c.65.78.99 1.77.94 2.79v8.1c.05 1-.3 1.98-.94 2.74a3.1 3.1 0 0 1-2.44 1.06Zm3.37-17.52v1.25c0 .08-.02.12-.06.14-.04.01-.08-.02-.14-.1a4.33 4.33 0 0 0-1.75-1.5 5.28 5.28 0 0 0-2.27-.5c-1.7 0-3.02.55-4 1.66a6.51 6.51 0 0 0-1.47 4.47v8.46c0 1.84.49 3.33 1.47 4.45a5.03 5.03 0 0 0 4 1.68 5.1 5.1 0 0 0 2.27-.52c.71-.34 1.31-.87 1.75-1.52.06-.06.1-.07.14-.04l.05.05c.01.02.02.04.01.07v1.2c0 2.14-.43 3.72-1.28 4.75-.86 1.03-2.36 1.52-4.51 1.46a.36.36 0 0 0-.39.24.36.36 0 0 0-.01.16v1.73a.4.4 0 0 0 .1.31.4.4 0 0 0 .3.13c3.11.13 5.33-.54 6.66-2.02s1.99-3.66 1.99-6.52V3.48l-.01-.16a.36.36 0 0 0-.23-.22.36.36 0 0 0-.16-.02h-2.05a.35.35 0 0 0-.4.4Zm-13.5 19.83a1.86 1.86 0 0 0 1.8-2.2 1.85 1.85 0 0 0-.5-.94 1.86 1.86 0 0 0-3.12 1.32c0 .48.17.95.5 1.3a1.75 1.75 0 0 0 1.32.52ZM67.54 2.88c-1.77 0-3.04 1.02-3.82 3.05a.22.22 0 0 1-.14.08c-.04 0-.06-.04-.06-.12v-2.4a.35.35 0 0 0-.4-.4h-2.05a.36.36 0 0 0-.4.4v19.48a.35.35 0 0 0 .24.39c.05.01.1.02.16.01h2.05a.36.36 0 0 0 .39-.24c.01-.05.02-.1.01-.16V10.94a6.22 6.22 0 0 1 .93-3.47c.61-.95 1.4-1.45 2.37-1.5.16-.03.32-.05.48-.04.42-.01.83.07 1.21.24.3.08.46 0 .48-.24l.49-2.09a.43.43 0 0 0-.2-.52 3.27 3.27 0 0 0-1.73-.44ZM50.98 5.25a3.27 3.27 0 0 1 2.54 1.06c.66.77 1 1.77.96 2.79v2.68a.14.14 0 0 1-.16.16h-6.6a.14.14 0 0 1-.12-.04.14.14 0 0 1-.04-.12V9.1c-.05-1.02.3-2.01.95-2.8a3.15 3.15 0 0 1 2.47-1.05Zm6.32 8.66V8.9c0-1.82-.57-3.3-1.71-4.43a6.23 6.23 0 0 0-4.61-1.7c-1.9 0-3.43.56-4.57 1.7a5.99 5.99 0 0 0-1.7 4.43v8.66c0 1.84.56 3.32 1.7 4.45a6.22 6.22 0 0 0 4.57 1.68c1.74 0 3.16-.46 4.24-1.38a5.73 5.73 0 0 0 1.96-3.92.34.34 0 0 0-.09-.15.39.39 0 0 0-.28-.12l-2-.08a.45.45 0 0 0-.45.36c-.16.78-.58 1.5-1.19 2.02-.6.53-1.39.8-2.19.78a3.16 3.16 0 0 1-2.47-1.06 3.97 3.97 0 0 1-.95-2.74v-2.93a.14.14 0 0 1 .1-.15l.06-.01h9.17a.36.36 0 0 0 .4-.4Zm-22.28 9.46h2.41a.39.39 0 0 0 .45-.36l4.94-19.45a.3.3 0 0 0-.02-.32.37.37 0 0 0-.3-.12l-2.33-.04a.41.41 0 0 0-.44.36l-3.42 15.2c-.03.08-.06.12-.08.12-.03 0-.06-.04-.08-.12l-3.46-15.2a.41.41 0 0 0-.45-.36h-2.33c-.24 0-.36.1-.36.28l.04.16 4.99 19.5a.41.41 0 0 0 .44.35Zm-13.39-2.2a3.25 3.25 0 0 1-2.5-1.05 3.9 3.9 0 0 1-.96-2.76V9.1c-.04-1.02.3-2.02.97-2.79a3.21 3.21 0 0 1 2.5-1.06 3.28 3.28 0 0 1 2.5 1.06c.69.77 1.04 1.77 1 2.79v8.26c.04 1.01-.31 2-1 2.76a3.3 3.3 0 0 1-2.5 1.05Zm0 2.52c1.93 0 3.48-.56 4.63-1.68a5.93 5.93 0 0 0 1.73-4.45V8.94a6 6 0 0 0-1.73-4.45 6.27 6.27 0 0 0-4.63-1.73 6.2 6.2 0 0 0-4.58 1.73 6.02 6.02 0 0 0-1.73 4.45v8.62c0 1.84.57 3.33 1.7 4.45a6.28 6.28 0 0 0 4.61 1.68Zm-15.35 0a6.6 6.6 0 0 0 4.6-1.58 5.16 5.16 0 0 0 1.75-4v-.43a.35.35 0 0 0-.24-.39.36.36 0 0 0-.16-.01l-2.05-.04a.36.36 0 0 0-.39.23.35.35 0 0 0-.01.17v.28a3.15 3.15 0 0 1-.99 2.3 3.4 3.4 0 0 1-2.51.99 3.16 3.16 0 0 1-2.48-1.07c-.65-.77-1-1.77-.94-2.78V9.1c-.05-1.02.29-2.01.94-2.79a3.15 3.15 0 0 1 2.48-1.06 3.42 3.42 0 0 1 3.24 2.03c.17.4.26.82.26 1.26v.28a.35.35 0 0 0 .4.4l2.05-.08a.36.36 0 0 0 .4-.4v-.4c.01-.99-.26-1.96-.78-2.8a5.66 5.66 0 0 0-2.23-2.02 7.07 7.07 0 0 0-3.34-.76 6.2 6.2 0 0 0-4.55 1.7A5.95 5.95 0 0 0 0 8.9v8.66C0 19.4.57 20.88 1.71 22a6.22 6.22 0 0 0 4.57 1.68M16.7 42.12c-.24.02-.35.19-.46.35a.48.48 0 0 1-.37.25.17.17 0 0 1-.2-.1.32.32 0 0 0-.07-.1.19.19 0 0 0-.33.12l-.01.18c-.01.06-.02.13-.1.11-.04 0-.07-.06-.1-.1a.33.33 0 0 1-.02-.1.26.26 0 0 1-.33.07c-.07-.03-.1.03-.1.1l.03.15a.14.14 0 0 1-.12.16l-.53.11a.09.09 0 0 1-.07-.03.25.25 0 0 1-.03-.08c-.02-.07-.02-.16-.14-.15a.26.26 0 0 0-.26.24l-.03.32c-.02.13-.09.15-.18.06-.04-.04-.06-.1-.1-.12a.45.45 0 0 0-.11-.06.44.44 0 0 0-.04.12c0 .07.05.15.02.2a2 2 0 0 1-.23.34c-.03.04-.08.03-.08-.04 0-.05-.01-.11-.03-.16a.42.42 0 0 0-.07-.16c-.04-.06-.09-.1-.05-.18.02-.04-.01-.09-.07-.08a.26.26 0 0 1-.25-.15c-.04-.07-.09-.07-.13 0-.11.14-.14.14-.28.02a.56.56 0 0 1-.27.3c-.13.08-.19.07-.3-.05-.08-.1-.08-.1-.2-.01l-.15.13a.29.29 0 0 0-.03.44c.04.04.08.1.1.16.01.07-.03.11-.1.09l-.17-.06a.3.3 0 0 0-.16 0c-.04.03-.07.03-.1-.02a.39.39 0 0 0-.36-.22.6.6 0 0 1-.19-.03.16.16 0 0 1-.08-.1c0-.03.04-.06.07-.1l.06-.06c.04-.15.07-.17.22-.14h.04c-.01-.11-.05-.14-.16-.11l-.2.07.05-.17.06-.28a.61.61 0 0 0-.05-.2H9.9a.63.63 0 0 0-.06.16.32.32 0 0 1-.31.34c-.27.04-.28.05-.18.3a.34.34 0 0 1-.02.27l-.3.64-.01.03a.36.36 0 0 0-.05.43c.04.08 0 .15-.06.22a27.05 27.05 0 0 0-.48.52.1.1 0 0 1-.1-.01.1.1 0 0 1-.03-.04.25.25 0 0 1-.02-.13c.01-.13 0-.15-.14-.1-.05.01-.1.04-.14.06-.07.03-.1 0-.12-.06a.48.48 0 0 0-.02-.12c-.01-.02-.04-.06-.07-.06a.1.1 0 0 0-.08.05l-.1.32c-.03.14-.07.28-.12.4a.14.14 0 0 1-.1.07c-.02 0-.05-.05-.07-.08a1.54 1.54 0 0 0-.1-.18c-.05-.06-.1-.03-.12.03v.04c-.04.25-.21.23-.37.14a.67.67 0 0 0-.1-.08.13.13 0 0 0-.11.01.8.8 0 0 0-.19.22.55.55 0 0 0-.01.23c.01.08.02.16.01.24 0 .04-.06.1-.1.1-.03.01-.08-.03-.1-.06a.6.6 0 0 1-.16-.47.16.16 0 0 0-.04-.12c-.02-.02-.08 0-.11.03a.13.13 0 0 1-.2-.03.12.12 0 0 0-.09-.03 1.3 1.3 0 0 0-.89.78.18.18 0 0 0 .03.13c.04.07.1.11.14.17a.17.17 0 0 1-.1.28l-.15.02a.29.29 0 0 0-.29.25l.01.13a.53.53 0 0 1-.31.58.46.46 0 0 0-.29.28l-.2.65a2.56 2.56 0 0 1-.13.35.16.16 0 0 1-.19.03c-.09-.02-.18-.06-.26-.1a.33.33 0 0 1-.2-.32.74.74 0 0 0-.3-.61.95.95 0 0 1-.37-.75c-.04-1.52-.27-3.02-.4-4.53-.12-1.49-.27-2.97-.4-4.45a.4.4 0 0 1 .36-.5.18.18 0 0 1 .2.1l.09.21c.02.06.04.11.12.1.07-.01.08-.07.08-.13l.04-.41c.02-.19.12-.24.3-.18l.14.06c.04.01.11.02.12 0a.2.2 0 0 0 .02-.14 3.22 3.22 0 0 1-.25-.36.25.25 0 0 1 .08-.28l.22-.27c.11-.13.26-.22.42-.26a.44.44 0 0 0 .32-.5.42.42 0 0 1 .25-.44.31.31 0 0 0 .19-.3c0-.06-.02-.11-.05-.16a.52.52 0 0 1-.02-.57l.07-.14a.24.24 0 0 0-.07-.3.15.15 0 0 1-.05-.19c.1-.35.29-.66.55-.91a.86.86 0 0 0 .26-.6l.1-.7c.02-.17.09-.34.2-.48.7-1.07 1.42-2.14 2.13-3.2a.4.4 0 0 1 .53-.19.39.39 0 0 1 .31.43l.01.32a.45.45 0 0 0 .16.33c.09.08.18.15.29.2a.27.27 0 0 0 .2 0c.26-.11.54-.19.82-.2.06-.01.1-.04.15-.08a.42.42 0 0 1 .38-.13l.1.02c.17.02.2.01.26-.15a.2.2 0 0 1 .2-.14 1.04 1.04 0 0 1 .81.3l.93.92.3.3a.6.6 0 0 1 .2.42 257.38 257.38 0 0 0 .5 5.18c-.02.16-.02.32-.01.47.02.15.02.31-.02.46a.83.83 0 0 0 0 .2.25.25 0 0 0 .3.25.17.17 0 0 1 .19.1.59.59 0 0 0 .47.27l.39.05c.1.02.16.05.16.17 0 .05.03.1.03.16a.19.19 0 0 1-.09.2c-.06.04-.07.08-.03.15l.15.3c.06.13.07.29.03.44a.48.48 0 0 0 0 .23c.04.13.1.25.18.36a.27.27 0 0 0 .31.12.27.27 0 0 0 .1-.06.36.36 0 0 1 .49.04 3 3 0 0 1 .32.4.23.23 0 0 1 .01.18.26.26 0 0 0 .06.26c.08.08.12.18.14.29 0 .15-.07.21-.22.18-.08-.02-.16-.06-.19.06-.03.11.03.18.15.2l.08.01c.3.03.4.12.5.43M114.93 40.4v-.85a.1.1 0 0 0-.03-.07.1.1 0 0 0-.07-.03h-4a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 0 .04c0 .02.02.03.03.04a.1.1 0 0 0 .07.03h4a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.03-.08.1.1 0 0 0-.07-.03H111.96l-.01-.02v-1.45h.02l.02-.01h1.86a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.03-.07.1.1 0 0 0-.07-.03H111.97l-.01-.01-.01-.02V40.51l.02-.01h2.86a.1.1 0 0 0 .07-.04.1.1 0 0 0 .03-.07Zm-6.86-.85v3.67c-.02 0-.03 0-.04-.03l-2.23-3.67a.13.13 0 0 0-.12-.07h-.98a.1.1 0 0 0-.07.03.1.1 0 0 0-.03.03.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 0 .04c0 .02.02.03.03.04a.1.1 0 0 0 .07.03h1.01a.1.1 0 0 0 .1-.1l-.01-3.65.01-.03c.02 0 .03 0 .04.02l2.24 3.69c0 .02.03.04.05.05l.07.02h.98l.04-.01a.1.1 0 0 0 .03-.02.11.11 0 0 0 .02-.04.1.1 0 0 0 .01-.04v-5.83a.1.1 0 0 0 0-.04.11.11 0 0 0-.06-.05.1.1 0 0 0-.04 0h-1.02a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .03Zm-6.08 5.94H103a.1.1 0 0 0 .08-.03.11.11 0 0 0 .03-.08v-5.83a.1.1 0 0 0-.03-.07.1.1 0 0 0-.08-.03H102a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .03.08l.03.02a.1.1 0 0 0 .04 0Zm-4.77-1.96.76-2.56a.04.04 0 0 1 .03-.03c.01 0 .02 0 .03.03l.77 2.56c.02.03 0 .05-.03.05h-1.52c-.03 0-.04-.02-.04-.05Zm2.28 1.96h1.1c.06 0 .1-.03.1-.08a.1.1 0 0 0-.02-.04l-1.86-5.83a.1.1 0 0 0-.12-.09h-1.36a.1.1 0 0 0-.11.09l-1.87 5.83a.1.1 0 0 0 .01.09.1.1 0 0 0 .08.03h1.1a.1.1 0 0 0 .1-.09l.26-.84c.01-.03.03-.04.04-.04h2.13c.02 0 .03.01.04.04l.26.84a.1.1 0 0 0 .12.09Zm-6.58-5.97-1.3 2c-.02.04-.04.04-.06 0l-1.3-2a.14.14 0 0 0-.12-.07h-1a.1.1 0 0 0-.1.06.1.1 0 0 0-.01.04v5.83a.1.1 0 0 0 .03.08.1.1 0 0 0 .07.03h1.01a.1.1 0 0 0 .1-.1v-3.8l.02-.04c.02 0 .03 0 .04.02l.92 1.43a.14.14 0 0 0 .12.07h.51a.14.14 0 0 0 .12-.07l.92-1.43c0-.02.02-.02.03-.02.01 0 .02 0 .02.03v3.8a.1.1 0 0 0 .03.07.1.1 0 0 0 .07.03h1.01a.1.1 0 0 0 .1-.06.1.1 0 0 0 0-.04v-5.83a.1.1 0 0 0-.06-.1.1.1 0 0 0-.04 0h-1a.14.14 0 0 0-.13.07Zm-10.54.97h1.14a.82.82 0 0 1 .59.22.75.75 0 0 1 .23.57.73.73 0 0 1-.23.56.83.83 0 0 1-.6.21h-1.13a.04.04 0 0 1-.03 0 .04.04 0 0 1 0-.04v-1.47a.04.04 0 0 1 .02-.04h.01Zm2.06 5h1.07c.06 0 .1-.03.1-.07l-.02-.05-1.18-2.44a.04.04 0 0 1 .03-.06 1.56 1.56 0 0 0 1.11-1.6c0-.33-.07-.66-.23-.96-.15-.27-.37-.5-.65-.64-.3-.15-.63-.23-.97-.22h-2.47a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .06.1.1.1 0 0 0 .04 0h1a.1.1 0 0 0 .1-.06.1.1 0 0 0 .01-.04v-2.37a.04.04 0 0 1 .03-.02H83.22l.02.03 1.08 2.39a.12.12 0 0 0 .12.08Zm-6.97-.95a1.01 1.01 0 0 1-.76-.3 1.1 1.1 0 0 1-.3-.8v-1.9c0-.3.1-.59.3-.81a1 1 0 0 1 .76-.3 1.02 1.02 0 0 1 .78.3c.2.22.3.51.29.8v1.9a1.1 1.1 0 0 1-.3.8 1.02 1.02 0 0 1-.77.3Zm0 1.04c.42.01.83-.08 1.2-.27.34-.18.61-.44.8-.77.2-.35.3-.75.28-1.15v-1.84c.01-.4-.09-.79-.28-1.13a1.97 1.97 0 0 0-.8-.77 2.76 2.76 0 0 0-2.39 0c-.33.18-.6.44-.8.77-.2.34-.29.73-.28 1.13v1.84c-.01.4.09.8.28 1.14.2.33.47.6.8.78.37.18.78.28 1.2.27Zm-3.23-5.19v-.84a.1.1 0 0 0-.03-.07.1.1 0 0 0-.07-.03h-3.99a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .06.1.1.1 0 0 0 .04 0h1.01a.1.1 0 0 0 .08-.02.1.1 0 0 0 .03-.08V43a.04.04 0 0 1 .04-.04h1.86a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.1-.1h-1.86a.04.04 0 0 1-.04-.05v-1.33a.04.04 0 0 1 .04-.05h2.83a.1.1 0 0 0 .1-.1Zm-7.63 0v-.84a.1.1 0 0 0-.07-.1.1.1 0 0 0-.04 0h-4a.1.1 0 0 0-.07.03.1.1 0 0 0-.03.07v5.83a.1.1 0 0 0 .06.1.1.1 0 0 0 .04 0h4a.1.1 0 0 0 .1-.06.1.1 0 0 0 0-.04v-.83a.1.1 0 0 0-.1-.1h-2.84a.04.04 0 0 1-.04-.05V43a.04.04 0 0 1 .04-.04h1.86a.1.1 0 0 0 .08-.03.1.1 0 0 0 .03-.07v-.84a.1.1 0 0 0-.1-.1h-1.87a.04.04 0 0 1-.04-.05v-1.33a.04.04 0 0 1 .04-.05h2.84a.1.1 0 0 0 .1-.06.1.1 0 0 0 0-.04Zm-7.8 5.17c.4 0 .8-.08 1.16-.26.33-.16.6-.42.79-.74.19-.34.28-.74.27-1.13v-1.14a.1.1 0 0 0-.1-.1h-2.11a.1.1 0 0 0-.1.1v.8a.1.1 0 0 0 .06.09.1.1 0 0 0 .04 0h.97a.04.04 0 0 1 .04.05v.39a.83.83 0 0 1-.27.66c-.2.16-.45.25-.72.23a1.07 1.07 0 0 1-.77-.29 1 1 0 0 1-.3-.75v-2a1.03 1.03 0 0 1 .28-.76 1.12 1.12 0 0 1 1.49-.01.9.9 0 0 1 .27.67v.02a.1.1 0 0 0 .1.1h1.02a.1.1 0 0 0 .1-.1v-.06c0-.35-.1-.7-.28-.99-.2-.3-.46-.54-.79-.7a2.76 2.76 0 0 0-2.34 0c-.33.17-.6.43-.79.75-.19.34-.29.72-.28 1.11v1.93c0 .4.1.77.28 1.11.19.32.46.58.8.75.36.18.76.27 1.17.27Zm-6.62-2.03.76-2.56a.04.04 0 0 1 .03-.03c.01 0 .02 0 .03.03l.77 2.56c.02.03 0 .05-.03.05h-1.52c-.03 0-.04-.02-.04-.05Zm2.28 1.96h1.1c.06 0 .1-.03.1-.08a.1.1 0 0 0-.02-.04l-1.86-5.83a.1.1 0 0 0-.12-.09h-1.35a.1.1 0 0 0-.12.09l-1.87 5.83a.1.1 0 0 0 .01.09.1.1 0 0 0 .08.03h1.1a.1.1 0 0 0 .11-.09l.25-.84c.01-.03.03-.04.05-.04h2.12c.02 0 .04.01.05.04l.26.84a.1.1 0 0 0 .1.09Zm-8.46-5h1.13a.82.82 0 0 1 .6.22.75.75 0 0 1 .22.57.73.73 0 0 1-.23.56.83.83 0 0 1-.59.21h-1.13a.04.04 0 0 1-.03 0l-.01-.02v-1.49a.04.04 0 0 1 .02-.04h.02Zm2.06 5h1.06c.07 0 .1-.03.1-.07l-.02-.05-1.18-2.44a.04.04 0 0 1 0-.04.04.04 0 0 1 .03-.02 1.56 1.56 0 0 0 1.12-1.6c0-.33-.08-.66-.23-.96-.15-.27-.38-.5-.65-.64-.3-.15-.64-.23-.98-.22h-2.47a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .1.1h1.01a.1.1 0 0 0 .1-.06.1.1 0 0 0 0-.04v-2.35a.04.04 0 0 1 .05-.04H46.84l.03.03 1.08 2.39a.12.12 0 0 0 .12.08Zm-4.6-5.1v-.84a.1.1 0 0 0-.07-.1.1.1 0 0 0-.04 0h-4a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .1.1h4a.1.1 0 0 0 .1-.1v-.83a.1.1 0 0 0-.06-.1.1.1 0 0 0-.04 0h-2.84a.04.04 0 0 1-.04-.05V43a.04.04 0 0 1 .04-.04h1.86a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.1-.1h-1.86a.04.04 0 0 1-.04-.05v-1.33a.04.04 0 0 1 .04-.05h2.84a.1.1 0 0 0 .1-.1Zm-8.36 5.1h1.09a.1.1 0 0 0 .1-.09l1.82-5.83a.09.09 0 0 0-.01-.08.1.1 0 0 0-.08-.04h-1.06a.11.11 0 0 0-.13.09l-1.13 4.2c0 .02-.01.03-.02.03s-.02 0-.03-.02l-1.15-4.21a.11.11 0 0 0-.12-.09h-1.1c-.06 0-.09.03-.09.09l.01.03L35 45.4a.1.1 0 0 0 .12.09Zm-5.13-.95a1.01 1.01 0 0 1-.77-.3 1.11 1.11 0 0 1-.29-.8v-1.9c-.01-.3.1-.59.29-.8a1 1 0 0 1 .77-.31 1.02 1.02 0 0 1 .77.3c.2.22.3.51.29.8v1.9a1.1 1.1 0 0 1-.3.8 1.02 1.02 0 0 1-.76.3Zm0 1.04c.41.01.82-.08 1.2-.27.33-.18.6-.44.8-.77.19-.35.29-.75.28-1.15v-1.84c0-.4-.1-.79-.29-1.13a1.97 1.97 0 0 0-.8-.77 2.76 2.76 0 0 0-2.38 0c-.34.18-.61.44-.8.77-.2.34-.3.73-.29 1.13v1.84c0 .4.1.8.29 1.14.18.33.46.6.8.78.36.18.77.28 1.19.27Zm-5.72-.02c.4 0 .8-.08 1.17-.25a1.87 1.87 0 0 0 1.06-1.8.08.08 0 0 0-.02-.02.11.11 0 0 0-.08-.03l-1-.04c-.08 0-.11.03-.11.1a.97.97 0 0 1-.28.72 1 1 0 0 1-.74.27 1.02 1.02 0 0 1-.75-.27.97.97 0 0 1-.28-.73v-2.08a.98.98 0 0 1 .28-.73 1.02 1.02 0 0 1 .75-.28 1.01 1.01 0 0 1 .74.28.98.98 0 0 1 .28.73c0 .07.03.1.08.1h.02l1.01-.06c.07-.01.1-.05.1-.1.02-.37-.08-.73-.27-1.04-.2-.3-.47-.55-.79-.7a2.65 2.65 0 0 0-1.17-.25c-.41 0-.82.08-1.19.26-.33.16-.6.42-.78.73-.2.34-.29.71-.28 1.1v1.99c-.01.38.09.76.28 1.1.18.31.45.57.78.73.37.18.78.27 1.19.26Zm87.85-14.63v2.34l-.01.01-.02.01h-1.96a.04.04 0 0 1-.01-.04v-2.32a.1.1 0 0 0 0-.04.1.1 0 0 0-.1-.06h-1.02a.1.1 0 0 0-.03 0 .1.1 0 0 0-.04.03.11.11 0 0 0-.02.03v5.91l.02.03.03.03a.1.1 0 0 0 .04 0h1.02a.1.1 0 0 0 .1-.06.1.1 0 0 0 0-.04v-2.4l.01-.01.02-.01h1.96v2.42a.1.1 0 0 0 .02.04c0 .01 0 .02.02.03a.1.1 0 0 0 .07.03h1.02a.1.1 0 0 0 .07-.03.1.1 0 0 0 .02-.03.1.1 0 0 0 0-.04v-5.83a.1.1 0 0 0 0-.04.1.1 0 0 0-.02-.03.1.1 0 0 0-.08-.03h-1a.1.1 0 0 0-.07.03.1.1 0 0 0-.03.03.1.1 0 0 0-.01.04Zm-4.53-.1h-4.36a.1.1 0 0 0-.1.1v.85a.1.1 0 0 0 0 .04.11.11 0 0 0 .05.05.1.1 0 0 0 .05.01h1.52l.01.01a.03.03 0 0 1 .01.03v4.84a.1.1 0 0 0 .01.04l.02.03a.1.1 0 0 0 .08.03h1a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.03.1.1 0 0 0 .01-.04v-4.85l.01-.02h1.59a.1.1 0 0 0 .07-.04.1.1 0 0 0 .03-.07v-.85a.1.1 0 0 0-.03-.07.1.1 0 0 0-.07-.03Zm-8.74 6.03h3.98a.1.1 0 0 0 .08-.03.11.11 0 0 0 .03-.07v-.84a.1.1 0 0 0-.03-.07.1.1 0 0 0-.08-.03h-2.84l-.02-.01a.04.04 0 0 1 0-.03v-4.85a.1.1 0 0 0-.04-.07.1.1 0 0 0-.07-.03h-1.01a.1.1 0 0 0-.08.03.1.1 0 0 0-.03.07v5.83a.1.1 0 0 0 .1.1Zm-4.77-1.95.76-2.56a.04.04 0 0 1 .03-.03s.02 0 .02.03l.78 2.56c.01.03 0 .05-.03.05H94.1c-.03 0-.05-.02-.04-.05Zm2.28 1.96h1.1c.06 0 .1-.03.1-.08a.1.1 0 0 0-.02-.05l-1.87-5.83a.1.1 0 0 0-.11-.08h-1.36a.1.1 0 0 0-.11.08l-1.87 5.83a.1.1 0 0 0 0 .1.1.1 0 0 0 .09.02h1.1a.1.1 0 0 0 .1-.08l.26-.85c.01-.02.02-.03.04-.03h2.13c.02 0 .03.01.04.03l.26.85a.1.1 0 0 0 .12.08Zm-5.13-5.1v-.84a.1.1 0 0 0-.07-.1.1.1 0 0 0-.04 0h-4a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .1.1h4a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.06-.1.1.1 0 0 0-.04 0h-2.84a.04.04 0 0 1-.04-.04v-1.4a.04.04 0 0 1 .04-.04h1.86a.1.1 0 0 0 .08-.03.1.1 0 0 0 .03-.08v-.83a.1.1 0 0 0-.07-.1.1.1 0 0 0-.04 0h-1.86a.04.04 0 0 1-.04-.05v-1.34a.04.04 0 0 1 .03-.04H91.1a.1.1 0 0 0 .08-.03.1.1 0 0 0 .03-.07Zm-6.86-.84v2.34a.04.04 0 0 1-.04.02h-1.91a.04.04 0 0 1-.03 0l-.01-.02v-2.34a.1.1 0 0 0-.07-.1.1.1 0 0 0-.04 0h-1.01a.1.1 0 0 0-.07.03.1.1 0 0 0-.03.07v5.83a.1.1 0 0 0 .06.1.1.1 0 0 0 .04 0h1.01a.1.1 0 0 0 .07-.03.1.1 0 0 0 .04-.07v-2.4a.04.04 0 0 1 .02-.02h1.93a.04.04 0 0 1 .04.04v2.38a.1.1 0 0 0 .07.1.1.1 0 0 0 .04 0h1.01a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.07v-5.83a.1.1 0 0 0-.06-.1.1.1 0 0 0-.04 0h-1.01a.1.1 0 0 0-.08.03.1.1 0 0 0-.03.07ZM77.7 31.77v-.84a.1.1 0 0 0-.03-.07.1.1 0 0 0-.07-.03h-4a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .1.1h4a.1.1 0 0 0 .1-.1v-.84a.1.1 0 0 0-.1-.1h-2.84a.04.04 0 0 1-.03-.01.04.04 0 0 1-.01-.03v-1.43l.02-.01H76.62a.1.1 0 0 0 .07-.03.1.1 0 0 0 .04-.08v-.83a.1.1 0 0 0-.1-.1h-1.87a.04.04 0 0 1-.03-.02.04.04 0 0 1-.01-.03V31.9a.04.04 0 0 1 .04-.03h2.84a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.07Zm-9.48 5.1h3.99a.1.1 0 0 0 .07-.04.1.1 0 0 0 .03-.07v-.84a.1.1 0 0 0-.1-.1h-2.83a.04.04 0 0 1-.04-.04v-4.85a.1.1 0 0 0-.04-.07.1.1 0 0 0-.07-.03h-1.01a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .1.1Zm-3.56-1.06h-1.08a.04.04 0 0 1-.04-.04v-1.43a.04.04 0 0 1 .04-.05h1.08c.22 0 .45.06.63.2a.8.8 0 0 1 0 1.12.9.9 0 0 1-.63.2Zm-1.08-3.94h1.02c.22-.01.45.06.63.2a.67.67 0 0 1 .22.53.64.64 0 0 1-.22.51c-.18.14-.4.2-.63.2h-1.02a.04.04 0 0 1-.04-.05v-1.34a.04.04 0 0 1 .03-.05h.01Zm2.33 1.85a1.28 1.28 0 0 0 .74-1.24c0-1.1-.69-1.65-2.05-1.65h-2.18a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .1.1h2.24c.54.03 1.06-.12 1.5-.42a1.48 1.48 0 0 0 .57-1.27 1.46 1.46 0 0 0-.82-1.4c-.03-.02-.03-.04 0-.05Zm-8.25 1.19.76-2.56v-.02l.03-.01s.02 0 .02.03l.78 2.56c.01.03 0 .05-.03.05h-1.53c-.03 0-.04-.02-.03-.05Zm2.28 1.95h1.1c.06 0 .09-.02.09-.07a.1.1 0 0 0-.01-.05l-1.87-5.83a.1.1 0 0 0-.11-.08h-1.36a.1.1 0 0 0-.11.08l-1.87 5.83a.1.1 0 0 0 0 .1.1.1 0 0 0 .08.02h1.1a.1.1 0 0 0 .12-.08l.25-.85c0-.02.02-.03.04-.03h2.13l.04.03.26.85a.1.1 0 0 0 .11.08Zm-8.09-1.08v-3.86a.04.04 0 0 1 .03-.05h1.05a.86.86 0 0 1 .67.27c.17.2.26.45.24.71v1.99c.01.26-.08.51-.25.71a.83.83 0 0 1-.65.27H51.9a.04.04 0 0 1-.05-.04Zm-1.11 1.08h2.16c.4.01.78-.07 1.14-.22a1.72 1.72 0 0 0 1.03-1.6v-2.38a1.72 1.72 0 0 0-1.03-1.6 2.66 2.66 0 0 0-1.14-.23h-2.16a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .1.1Zm-4.59-4.99h1.13a.82.82 0 0 1 .6.22.75.75 0 0 1 .23.57.73.73 0 0 1-.23.56.83.83 0 0 1-.6.21h-1.13a.04.04 0 0 1-.04-.02V31.9a.04.04 0 0 1 .04-.03Zm2.06 5h1.07c.06 0 .1-.03.1-.07l-.03-.06-1.17-2.44a.04.04 0 0 1 0-.05h.02a1.57 1.57 0 0 0 1.12-1.6c0-.34-.07-.66-.23-.96-.15-.27-.37-.5-.65-.64-.3-.15-.63-.23-.97-.22h-2.48a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .06.1.1.1 0 0 0 .04 0h1.02a.1.1 0 0 0 .1-.1V34.4a.04.04 0 0 1 .03-.02h.81a.06.06 0 0 1 .06.03l1.08 2.39a.12.12 0 0 0 .12.08Zm-6.97-.95a1.01 1.01 0 0 1-.77-.3 1.11 1.11 0 0 1-.29-.8v-1.9c-.01-.3.1-.59.3-.81a1 1 0 0 1 .76-.3 1.02 1.02 0 0 1 .77.3c.2.22.3.5.3.8v1.9a1.1 1.1 0 0 1-.3.8 1.03 1.03 0 0 1-.77.3Zm0 1.04c.41 0 .83-.08 1.2-.27.33-.18.61-.44.8-.77.2-.35.29-.75.28-1.15v-1.85c.01-.4-.09-.78-.28-1.12a1.96 1.96 0 0 0-.8-.77 2.76 2.76 0 0 0-2.39 0c-.33.18-.61.44-.8.77-.2.34-.3.73-.29 1.12v1.85c0 .4.1.8.3 1.14.18.33.45.6.79.77.37.2.78.29 1.19.28ZM38 31.76v-.83a.1.1 0 0 0-.1-.1h-4a.1.1 0 0 0-.1.1v5.83a.1.1 0 0 0 .07.1.1.1 0 0 0 .04 0h1.01a.1.1 0 0 0 .1-.1v-2.38a.04.04 0 0 1 .02-.03l.01-.01H36.94a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.08v-.83a.1.1 0 0 0-.03-.08.1.1 0 0 0-.07-.03h-1.86a.04.04 0 0 1-.03 0l-.01-.02v-1.35a.04.04 0 0 1 .02-.05h2.85a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.07Zm-5.27 0v-.83a.1.1 0 0 0-.04-.07.1.1 0 0 0-.07-.03h-3.99a.1.1 0 0 0-.1.06.1.1 0 0 0 0 .04v5.83a.1.1 0 0 0 .1.1h1.01a.1.1 0 0 0 .1-.1v-2.38a.04.04 0 0 1 .02-.03l.01-.01H31.66a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.08v-.83a.1.1 0 0 0-.03-.08.1.1 0 0 0-.07-.03H29.8a.04.04 0 0 1-.03 0 .04.04 0 0 1-.01-.04v-1.33a.04.04 0 0 1 .02-.05h2.85a.1.1 0 0 0 .07-.03.1.1 0 0 0 .03-.07Zm-8.86 3.15.76-2.56a.04.04 0 0 1 .02-.03c.01 0 .02 0 .03.03l.78 2.56c0 .03 0 .05-.04.05h-1.52c-.03 0-.04-.02-.03-.05Zm2.27 1.95h1.1c.06 0 .1-.02.1-.07a.1.1 0 0 0-.01-.05l-1.87-5.83a.1.1 0 0 0-.11-.08H24a.1.1 0 0 0-.12.08l-1.86 5.83a.1.1 0 0 0 0 .1.1.1 0 0 0 .08.02h1.1a.1.1 0 0 0 .11-.08l.25-.85c.02-.02.03-.03.05-.03h2.12c.02 0 .04.01.05.03l.26.85a.1.1 0 0 0 .1.08"
            fill="#605e5c"
          />
        </svg>
        <div class="copyright-info">
          IdeaCrew <br />
          All rights reserved 2021
        </div>
      </div>
      <div class="right-column">
        <span><%= EnrollRegistry[:enroll_app].setting(:contact_center_name).item %></span>
        <span><%= EnrollRegistry[:enroll_app].setting(:contact_center_po_box).item %> </span>
        <span><%= EnrollRegistry[:enroll_app].setting(:contact_center_city).item %></span>
        <span><%= EnrollRegistry[:enroll_app].setting(:state_name).item %></span>
        <span><%= EnrollRegistry[:enroll_app].setting(:contact_center_zip_code).item %></span>
      </div>
    </footer>
  </body>
</html>
