<% if @bs4 %>
  <div class="confirmation hidden" id="cancel-plan-form">
    <h2><%= l10n("plan_cancelation") %></h2>
    <p id="cancel-msg" class="action-msg hidden"><%= l10n("cancel_plan_confirmation") %></p>
    <label class="required" for="cancel_plan"> <%= l10n("cancel_your_plan") %></label>
    <div class="form-group row focus">
      <div class="col-auto">
        <%= radio_button_tag :cancel_plan, "yes" %>&nbsp;<%= l10n("yes") %><br>
      </div>
      <div class="col-auto">
        <%= radio_button_tag :cancel_plan, "no" %>&nbsp;<%= l10n("no") %>
      </div>
    </div>
    <div id="cancellation_section" class="hidden">
      <p><%= l10n("choose_last_day") %></p>
      <label class="required" for="coverage_end_date"><%= l10n("coverage_end_date") %></label>
      <%= date_field_tag :coverage_end_date, class: "date-field mt-2", :'data-date-max' => "+0", required: true %>

      <p class="mt-4"><%= l10n("why_are_you_canceling") %><p>
      <label class="required" for="cancelation_reasons"><%= l10n("cancelation_reason") %></label>
      <%= select_tag :cancelation_reasons, options_for_select(cancelation_reasons), prompt: l10n("select_reason"), class: "form-control mt-2", required: true %>
      <div class="mt-4">
        <%= button_tag l10n("keep_plan"), class: "btn outline", id: "btn-keep-plan", disabled: false %>
        <%= button_tag l10n("cancel_plan"), class: "btn btn-error", id: "btn-cancel-plan", disabled: true %>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var radioButton = document.getElementById("cancel_plan_yes");
      var section = document.getElementById("cancellation_section");

      radioButton.addEventListener("change", function() {
        if (radioButton.checked) {
          section.classList.remove("hidden");
        } else {
          section.classList.remove("hidden");
        }
      });

      // Initial check in case the radio button is already selected
      if (radioButton.checked) {
        section.style.display = "block";
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
      var field1 = document.getElementById("coverage_end_date");
      var selectField = document.getElementById("cancelation_reasons");
      var button = document.getElementById("btn-cancel-plan");

    function checkFields() {
      if (field1.value.trim() !== "" && selectField.value !== "") {
        console.log("Fields are filled");
        button.disabled = false;
      } else {
        button.disabled = true;
      }
    }
      field1.addEventListener("input", checkFields);
      selectField.addEventListener("change", checkSelectField);
    });
  </script>
<% else %>
  <div class="col-md-4 confirmation hidden" id="cancel-plan-form">
    <h3><%= l10n("cancel_plan") %></h3>
    <p id="cancel-msg" class="action-msg hidden"><%= l10n("do_you_want_to_cancel_this_plan") %></p>
    <%= radio_button_tag :agreement, "action-confirm-yes" %>&nbsp;<%= l10n("yes") %><br>
    <%= radio_button_tag :agreement, "action-confirm-no" %>&nbsp;<%= l10n("no") %>
    <br/>
    <div id="cancel-form" class="hidden">
      <%= form_for @self_term_or_cancel_form,
        as: :self_term_or_cancel_form,
        url: term_or_cancel_insured_group_selections_path do |f| %>
        <%= hidden_field_tag :hbx_enrollment_id, locals[:hbx_enrollment][:id] %>
        <%= hidden_field_tag :term_or_cancel, locals[:term_or_cancel] %>
        <%= hidden_field_tag :family_id, locals[:family_id] %>
        <% calendar_enabled = !(locals[:term_or_cancel] == 'cancel') %>
        <% if calendar_enabled %>
          <h5 id="enter-text">Choose the last day you want to be covered. The earliest date you can choose is today.</h5>
          <%# Keep blank space in placeholder. Otherwise, "You forgot to add placeholder attribute!" appears %>
          <div class="col-md-8 aptc-no-left-padding">
            <%= text_field_tag 'term_date', '', :'data-date-min'=> "+0d", placeholder: " ",
                class: "required date-picker term-date-picker floatlabel form-control",
                required: true, id: "term-date" %>
          </div>
          <br><br><br>
        <% end %>
        <div class="col-md-8 aptc-no-left-padding">
          <%= f.submit l10n("cancel_plan"), class: 'button btn btn-lg btn-primary btn-block col-md-6', id: 'btn-cancel', :disabled => true %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>