<table class="table table-wrapper table-condensed group-selection-tbl">
  <tbody>
    <% benefit_type = (@change_plan == "change_plan" && @hbx_enrollment.present?) ? @hbx_enrollment.coverage_kind : nil %>
    <% if benefit_type.present? && @hbx_enrollment.is_shop? %>
      <% current_employee_role = @hbx_enrollment.employee_role %>
    <% end %>

    <% @coverage_household.coverage_household_members.map(&:family_member).each_with_index do |family_member, index| %>

        <% if @adapter.can_shop_shop?(@person) %>

          <% is_health_coverage, is_dental_coverage = @adapter.shop_health_and_dental_attributes(family_member, (current_employee_role || @employee_role), @effective_on_date || @new_effective_on) %>

        <% end %>

        <% if (@adapter.can_shop_individual?(@person) || @adapter.can_shop_resident?(@person)) %>
        <%
            #Handle When Implementing - People with Both Consumer Role & Resident Role
            role = (family_member.person.consumer_role || family_member.person.resident_role)
            family = family_member.family
            rule = InsuredEligibleForBenefitRule.new(role, @benefit, {family: family, coverage_kind: @coverage_kind, new_effective_on: @new_effective_on})
            is_ivl_coverage, errors = rule.satisfied?
            @show_residency_alert = !rule.is_residency_status_satisfied? if @show_residency_alert == false
            errors = [incarceration_cannot_purchase(family_member)] if index==0 && errors && errors.flatten.detect{|err| err.match(/incarceration/)}
          %>
        <% end %>

        <% is_checked = is_member_checked?(benefit_type, is_health_coverage, is_dental_coverage, is_ivl_coverage) %>


        <tr class='<%= @adapter.class_for_ineligible_row(family_member, is_ivl_coverage, (@effective_on_date || @new_effective_on)) %>'>
          <td width="20">
            <%= check_box_tag("family_member_ids[#{index}]", family_member.id, is_checked, disabled: !is_checked ) %>
          </td>
          <td><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></td>

          <% @person.active_employee_roles.each do |employee_role| %>

            <% is_health_coverage, is_dental_coverage = @adapter.shop_health_and_dental_attributes(family_member, employee_role, (@effective_on_date || @new_effective_on)) %>

            <td class='<%= "health_errors_#{employee_role.id}" %>'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: @coverage_kind)  if !is_health_coverage && !is_health_coverage.nil? %></td>
            <td class='<%= "dental_errors_#{employee_role.id}" %>'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: @coverage_kind)  if !is_dental_coverage && !is_dental_coverage.nil? %></td>
          <% end %>

          <td class="ivl_errors"><%= raw(errors.join(', ')) if errors.present? %></td>
        </tr>
    <% end %>
  </tbody>
</table>
