<% plan = hbx_enrollment.try(:plan) %>
<div class="hbx-enrollment-panel module">
<div class="panel panel-default min-h">

  <div class="panel-heading">
    <h4><%= plan.active_year %> <%= plan.coverage_kind.capitalize %> Coverage <span class="separator">DCHL</span></h4>
    <hr>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-8">
        <div><%= display_carrier_logo(Maybe.new(plan), {width: 110}) %></div>
        <h4><strong><%= link_to plan.try(:name), summary_products_plans_path({:standard_component_id => plan.try(:hios_id), hbx_enrollment_id:hbx_enrollment.id, active_year: plan.try(:active_year)}), remote: true %></strong>
        </h4>
          <div><p><%= render_plan_type_details(plan) %></p></div>
          <div>
            <p>
              <label>Premium:</label> <strong><%= number_to_currency(hbx_enrollment.total_premium) %></strong>/month
              <label class="bullet-separator">&nbsp;DCHL ID:</label> <strong><%= hbx_enrollment.try(:subscriber).try(:person).try(:hbx_id) %></strong>
            </p>
          </div>
            <% names = hbx_enrollment.covered_members_first_names %>
            <div class="family-members">
              <p>
                <label>Covered:</label>
                  <a href="#"><%= names.delete_at(0).to_s.camelcase %></a>
                  <% names.each do |name| %>
                    <span class="separator"><a href="#"><%= name.camelcase %></a></span>
                  <% end %>
              </p>
            </div>
            <div>
              <label>Effective date: </label>
              <strong><%= hbx_enrollment.effective_on %></strong>
            </div>
            <% if hbx_enrollment.is_shop? %>
              <div>
                <label>Termination date: </label>
                <strong><%= @family.terminate_date_for_shop_by_enrollment(hbx_enrollment) %></strong>
              </div>
            <% end %>
          </div>
          <div class="col-xs-4">
            <div class="family-plan-selection">
              <div class="status">

              </div>
             </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 fa-icon-link">
            <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: plan } %>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <i class="fa fa-phone fa-2x pull-left"></i><div class="fa-icon-label">Carrier Contact Info</div>
            </a>
          </div>
          <div class="col-xs-4">

            <% if hbx_enrollment.may_terminate_coverage? && hbx_enrollment.kind == "individual" %>
              <%= link_to "Terminate Plan", terminate_confirm_insured_group_selections_path(hbx_enrollment_id: hbx_enrollment.id), {class: 'btn btn-primary btn-md'} %>
              <% elsif hbx_enrollment.may_terminate_coverage? %>
                <%= link_to 'Terminate Plan', '#', data: {toggle: "modal", target: "#terminate_confirm_#{hbx_enrollment.id}"}, class: 'btn btn-primary btn-md' %>
                <%= render :partial => "insured/families/terminate_confirmation", :locals => {:enrollment => hbx_enrollment} %>
              <% end %>
          </div>
        </div>
      </div>

      <!-- <div class="alert alert-warning alert-dismissible panel-footer" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <strong>Important:</strong> Your enrollment application requires information that needs to be verified. <a href="#">Learn more</a>
      </div> -->
    </div>
</div>
