<% if @bs4 %>
  <div>
    <ul class="breadcrumbs">
      <li><%= l10n('enrollment_history_nav_label') %></li>
      <li><%= l10n('edit_plan') %></li>
    </ul>
    <% if @self_term_or_cancel_form.hbx_enrollment.present? %>
      <h1><%= @self_term_or_cancel_form.hbx_enrollment.coverage_year %> <%= l10n('health_coverage').titleize %></h1>
      <% if EnrollRegistry.feature_enabled?(:enrollment_plan_tile_update) %>
        <%= render partial: "insured/families/enrollment_refactored", :collection => [@self_term_or_cancel_form.hbx_enrollment], :as => :hbx_enrollment, :layout => ("insured/families/partial_layouts/wrap_enrollments_by_year" if is_under_open_enrollment?) , locals: { read_only: false, edit_plan: true } %>
      <% end %>
      <div id="plan-summary"></div>
    <% end %>
  </div>
  <div class="pt-4 pb-4">
    <%= h(link_to l10n("back_to_my_account"), main_app.family_account_path(tab: 'home'), class: "btn outline btn-primary #{'active' if action_name == 'enrollment_history'}") %>
  </div>
  <!-- Cancel Plan Form -->
  <%= render 'insured/group_selection/cancel_plan_form',
      locals: {
        self_term_or_cancel_form: @self_term_or_cancel_form,
        hbx_enrollment: @self_term_or_cancel_form.hbx_enrollment,
        term_or_cancel: @self_term_or_cancel_form.enrollment.should_term_or_cancel_ivl,
        family_id: @self_term_or_cancel_form.family.id
      }
  %>
  <!-- Placeholder APTC Form - work functionality in later -->
  <!-- TODO: add terminate-calendar id -->
  <!-- Calendar form functionality only necessary for terminate -->
  <%= render 'insured/group_selection/change_tax_credit_form',
      locals: {
        hbx_enrollment: @self_term_or_cancel_form.hbx_enrollment,
        available_aptc: @self_term_or_cancel_form.available_aptc,
        new_effective_on_date: @self_term_or_cancel_form.new_effective_on
      }
  %>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <br class="clear"/>
        <% back_btn_text = request.referrer&.include?('enrollment_history') ? l10n("back_to_enrollments") : l10n("back_to_my_account") %>
        <% back_btn_path = request.referrer&.include?('enrollment_history') ? enrollment_history_insured_families_path : family_account_path %>
        <%= link_to back_btn_text, back_btn_path, class: 'btn btn-default btn-default' %>
        <br class="clear"/>
        <br class="clear"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <% hbx_enrollment = @self_term_or_cancel_form.hbx_enrollment %>
        <% product = @self_term_or_cancel_form.product %>
        <% sep = @self_term_or_cancel_form.special_enrollment_period %>
        <div class="hbx-enrollment-panel module">
          <div class="panel panel-default min-h">
            <div class="panel-heading">
              <h4>
                <%= product[:application_period].min.year %>
                <% if hbx_enrollment.product.kind.to_s == "health" %>
                  <%= l10n("health_coverage") %>
                <% else %>
                  <%= l10n("dental_coverage") %>
                <% end %>
              </h4>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-8">
                  <div><%= raw product[:display_carrier_logo] %></div>
                  <h4><strong><%= link_to product[:title], summary_products_plans_path({:standard_component_id => product.hios_id, hbx_enrollment_id: hbx_enrollment[:id], active_year: product.active_year}), remote: true %></strong>
                  </h4>
                  <div>
                    <p><%= raw render_product_type_details(product[:metal_level_kind], product[:nationwide]) %></p>
                  </div>
                  <div>
                    <p>
                      <label><%= l10n("premium_you_pay") %>:</label> <strong><%= number_to_currency(@self_term_or_cancel_form.enrollment.current_premium, precision:2) %></strong>/<%= l10n("month").to_s.downcase %>
                      <label class="bullet-separator">&nbsp;ID:</label> <strong><%= hbx_enrollment[:hbx_id] %></strong>
                      <br>
                    </p>
                  </div>
                  <% names = @self_term_or_cancel_form.enrollment.covered_members_first_names %>
                  <div class="family-members">
                    <p>
                      <label><%= l10n("covered") %>:</label>
                      <% if names.length > 0 %>
                      <a href="#"><%= names.delete_at(0).camelcase %></a>
                      <% names.each do |name| %>
                      <span class="separator"><a href="#"><%= name.camelcase %></a></span>
                      <% end %>
                      <% end %>
                      <br>
                      <label><%= l10n("effective_date").capitalize %>: </label>
                      <strong><%= hbx_enrollment[:effective_on] %></strong>
                    </p>
                  </div>
                  <label class="bullet-separator">Tax credit amount:</label>
                  <strong>$<%= hbx_enrollment.applied_aptc_amount %></strong>
                  <% if (hbx_enrollment.eligible_child_care_subsidy > 0) %>
                    <div>
                      <p>
                        <label class="bullet-separator"><%= l10n("hc44cc_premium_discount") %>:</label>
                        <strong><%= number_to_currency(hbx_enrollment.eligible_child_care_subsidy, precision: 2)%></strong>
                      </p>
                    </div>
                  <% end %>
                </div>
                <div class="col-xs-4">
                  <div class="family-plan-selection">
                    <div class="status">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row  vertically-aligned-no-table">
                <div class="col-md-6 margin-top-15px">
                  <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: product } %>
                </div>
                <div class="col-md-6 margin-top-15px">
                  <a tabindex="0" onkeydown="handleContactInfoKeyDown(event, 'plan_contact_info', '<%= product.kind.to_s %>-<%= product.id %>-<%= hbx_enrollment.hbx_id%>')" id="plan_contact_info" class="vertically-aligned-row" data-target="#<%= product.kind.to_s %>-<%= product.id %>-<%= hbx_enrollment.hbx_id%>" data-toggle="modal">
                    <i class="fa fa-phone fa-2x margin-right-15px"></i>
                    <span><%= l10n("plan_contact_info") %></span>
                  </a>
                  <%= render partial: "shared/#{Settings.aca.state_abbreviation.downcase}_carrier_contact_information", locals: { plan: product, hbx_enrollment: hbx_enrollment } unless product.issuer_profile.blank? %>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 transm">
                  <a tabindex="0" onkeydown="handleButtonKeyDown(event, 'cancel-button')" id="cancel-button" class="btn btn-default btn-block interaction-click-control-cancel-plan">Cancel Plan</a>
                </div>
                <% if display_change_tax_credits_button?(hbx_enrollment) %>
                  <div class="col-sm-6">
                    <button type="button" id="aptc-button" class="btn btn-default btn-block interaction-click-control-edit-aptc" <%= @self_term_or_cancel_form.enable_tax_credit_btn ? '' : 'disabled' %>>Change Tax Credit</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cancel Plan Form -->
      <%= render 'insured/group_selection/cancel_plan_form',
          locals: {
            self_term_or_cancel_form: @self_term_or_cancel_form,
            hbx_enrollment: @self_term_or_cancel_form.hbx_enrollment,
            term_or_cancel: @self_term_or_cancel_form.enrollment.should_term_or_cancel_ivl,
            family_id: @self_term_or_cancel_form.family.id
          }
      %>
      <!-- Placeholder APTC Form - work functionality in later -->
      <!-- TODO: add terminate-calendar id -->
      <!-- Calendar form functionality only necessary for terminate -->
      <%= render 'insured/group_selection/change_tax_credit_form',
          locals: {
            hbx_enrollment: @self_term_or_cancel_form.hbx_enrollment,
            available_aptc: @self_term_or_cancel_form.available_aptc,
            new_effective_on_date: @self_term_or_cancel_form.new_effective_on
          }
      %>
    </div>
  </div>
<% end %>