<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
<% end %>
<div class="container">
  <div class="row">
    <% if @aptc_blocked.present? and @aptc_blocked %>
      <br />
      <div class="alert alert-danger" role="alert">
        <p>
          We need a bit of additional information to redetermine your eligibility. Please call us at 1-855-532-5465.
        </p>
        <br>
        <a data-method='delete' href='/users/sign_out' class='btn btn-primary'>Acknowledge</a>
      </div>
    <% else %>
    <%= form_tag(:insured_group_selections) do %>
      <div class="col-xs-8">
        <h1 class="darkblue">Choose Coverage for your Household</h1>
        <h4>Select who needs coverage and the type of coverage needed. When you’re finished, select CONTINUE.</h4>
        <h4><strong>Who needs coverage?</strong></h4>

          <%= hidden_field_tag(:person_id, @person.id) %>
          <%= hidden_field_tag(:employee_role_id, @employee_role.try(:id)) %>
          <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>
          <%= hidden_field_tag(:enrollment_kind, @enrollment_kind) %>
          <%= hidden_field_tag(:hbx_enrollment_id, @hbx_enrollment.id) if @hbx_enrollment.present? %>


          <div class="table-responsive table-border">
            <table class="table table-wrapper table-condensed group-selection-tbl">
              <tbody>
                <% offered_relationship_benefits = @employee_role.present? ? @employee_role.benefit_group.relationship_benefits.select(&:offered).map(&:relationship) : nil
                %>
                <% show_residency_alert = false %>
                <% @coverage_household.family_members.each_with_index do |family_member, index| %>
                    <% is_coverage = @employee_role.present? ? coverage_relationship_check(offered_relationship_benefits, family_member) : true
                      is_primary = @employee_role.present? ? family_member.is_primary_applicant? : false

                      if @market_kind == 'individual'
                        #TEMPORARY CODE DO NOT COPY   TODO
                          role = family_member.person.consumer_role
                          rule = InsuredEligibleForBenefitRule.new(role, @benefit)
                          is_coverage, errors = rule.satisfied?
                          show_residency_alert = !rule.is_residency_status_satisfied? if show_residency_alert == false
                          errors = [incarceration_cannot_purchase(family_member)] if index==0 && errors && errors.flatten.detect{|err| err.match(/incarceration/)}
                      end
                        #TEMPORARY CODE DO NOT COPY  TODO
                      %>
                  <tr class="<%='ineligible_row' unless is_coverage%>">
                    <td width="20">
                      <%= check_box_tag("family_member_ids[#{index}]", family_member.id, is_coverage, disabled: !is_coverage, readonly: is_primary, onclick: "return #{!is_primary};") %>
                    </td>
                    <td><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></td>
                    <td><%= "ineligible relationship"  if !is_coverage && @market_kind == 'shop'  %></td>
                    <td><%= raw(errors.join(', ')) if errors.present? && @market_kind == 'individual'  %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <br>

          <div id="coverage_kinds" class='row no-buffer'>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <strong>Coverage Type: </strong>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <%= radio_button_tag 'coverage_kind', 'health', true, id: 'coverage_kind_health' %>
              <label for="coverage_kind_health">Health</label>
            </div>

            <% if @employer_profile.present? || @person.has_active_employee_role? %>
            <% else %>
            <div class="col-md-3 col-lg-3 col-sm-6">
              <%= radio_button_tag 'coverage_kind', 'dental', false, id: 'coverage_kind_dental' %>
              <label for="coverage_kind_dental">Dental</label>
            </div>
            <% end %>
          </div>

          <% if @market_kind.present? %>
            <%= hidden_field_tag 'market_kind', @market_kind %>
          <% else %>
            <div id="market_kinds" class='row no-buffer'>
              <div class="col-md-3 col-lg-3 col-sm-6">
                <strong>Market Kind: </strong>
              </div>
              <% Plan::MARKET_KINDS.each_with_index do |kind, index| %>
                <div class="col-md-3 col-lg-3 col-sm-6">
                  <%= radio_button_tag 'market_kind', kind, index == 0, id: "market_kind_#{kind}", required: true %>
                  <label for="market_kind_<%= kind %>"><%= kind.humanize %></label>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @market_kind == 'individual' && is_under_open_enrollment? %>
          <% if @change_plan.blank? && @enrollment_kind.blank?%>
          <div class='row top-pd'>
            <div class="col-sm-12">
              <p>If you enroll today, coverage will begin <%= format_date ivl_enrollment_effective_date %>. </p>
              <p>Do you need coverage earlier? See if you qualify for a <%= link_to "Special Enrollment Period", "#", :id => 'find_sep_link' %></p>
            </div>
          </div>
          <% end %>
          <% if show_residency_alert && !CuramUser.name_in_curam_list(@person.first_name, @person.last_name) %>
          <div class='row top-pd'>
            <div class="col-sm-12">
              <p>Since <%= @person.full_name %> is not a resident of the District of Columbia she/he is not eligible to purchase a plan through DC Health Link. Other members may still be eligible to enroll. Please call us at <%= HbxProfile::CallCenterPhoneNumber %> to learn about other health insurance options for <%= @person.full_name %>.</p>
            </div>
          </div>
          <% end %>
          <% end %>

          <% if @change_plan.present? %>
            <%= hidden_field_tag 'change_plan', @change_plan %>
            <br/>
            <h4><strong>What would you like to do?</strong></h4>
            <% if @employee_role.try(:benefit_group).try(:plan_option_kind) != "single_plan" %>

              <%= submit_tag 'Shop for new plan', class: 'btn btn-primary btn-br' %>
            <% end %>
            <% if @hbx_enrollment.present? and (@hbx_enrollment.coverage_selected? or @hbx_enrollment.auto_renewing?) %>
              <%= submit_tag 'Keep existing plan', class: 'btn btn-primary btn-br' if show_keep_existing_plan(@shop_for_plans, @hbx_enrollment, @new_effective_on) %>

              <%= link_to 'Select Plan to Terminate', terminate_selection_insured_group_selections_path(person_id: @person.id, change_plan: @change_plan), class: 'btn btn-primary btn-br' if @hbx_enrollment.can_terminate_coverage? %>
            <% end %>
          <% else %>
            <!--<h3>Select a plan</h3>-->
            <!--<p class="text-justify"><%= t('welcome.employee.select_plan') %></p>-->
          <% end %>
          <br/>
          <br/>
          <%= link_to "Back to my account", family_account_path, class: 'btn btn-trans btn btn-br' %>
        </div>

        <div class="col-xs-3 right-section pull-right">
          <% if @change_plan.blank?  && @market_kind == "individual" %>
            <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
              <%= render  partial: 'shared/individual_progress', locals: {step: '3'} %>
            <% else %>
              <%= render  partial: 'shared/sep_progress', locals: {step: '4', continue_disabled: false, button_continue: true } %>
            <% end %>
          <% elsif @change_plan.blank? %>
            <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
          <% elsif @change_plan == "change_by_qle" %>
            <%= render partial: 'shared/qle_progress', locals: {step: '2'} %>
          <% elsif @change_plan == "change_plan" %>
            <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
              <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
            <% else %>
              <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => {:enrollment => @hbx_enrollment } if @hbx_enrollment.present? and @hbx_enrollment.employee_role.present? %>
</div>
<script>
  $(function(){
    if ( $("#find_sep_link").length ) {
      $("#find_sep_link").click(function() {
      $(this).closest('form').attr('action', '<%= find_sep_insured_families_path %>');
      $(this).closest('form').attr('method', 'get');
      $(this).closest('form').submit();
    });
  }
})
</script>
