<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
<% end %>
<div class="container group-selection">
  <div class="row">
    <% if @aptc_blocked.present? && @aptc_blocked %>
      <br />
      <div class="alert alert-danger" role="alert">
        <p>
          We need a bit of additional information to redetermine your eligibility. Please call us at <%= Settings.contact_center.phone_number %>.
        </p>
        <br>
        <a data-method='delete' href='/users/sign_out' class='btn btn-primary'>Acknowledge</a>
      </div>
    <% else %>

    <%= form_tag(:insured_group_selections, :id => "group-selection-form") do %>
      <div class="col-xs-8">
        <h1 class="darkblue">Choose Coverage for your Household</h1>
        <h4>Select who needs coverage and the type of coverage needed. When you’re finished, select CONTINUE.</h4>
        <h3>Who Needs Coverage?</h3>

          <%= hidden_field_tag(:person_id, @person.id) %>
          <%= hidden_field_tag(:employee_role_id, @employee_role.id) if @employee_role %>
          <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>
          <%= hidden_field_tag(:enrollment_kind, @enrollment_kind) %>
          <%= hidden_field_tag(:hbx_enrollment_id, @hbx_enrollment.id) if @hbx_enrollment.present? %>


          <% if can_shop_shop?(@person) %>
            <div id="shop-coverage-household" class="<%= 'dn' if @market_kind == 'individual' %>">
              <div class="module group-selection-table health">
                <div class="table-responsive table-border">
                  <%= render 'coverage_household', :coverage_kind => 'health' %>
                </div>
              </div>
              <% if @employee_role.census_employee.active_benefit_group.present? && @employee_role.census_employee.active_benefit_group.is_offering_dental? %>
                <div class="module group-selection-table dn dental">
                  <div class="table-responsive table-border">
                    <%= render 'coverage_household', :coverage_kind => 'dental' %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if can_shop_individual?(@person) %>
            <div id="ivl-coverage-household" class="<%= 'dn' if can_shop_shop?(@person) && @market_kind != 'individual' %>">
              <div class="module group-selection-table">
                <div class="table-responsive table-border health">
                  <% @show_residency_alert = false %>

                  <%= render 'ivl_coverage_household' %>
                </div>
              </div>
            </div>
          <% end %>


          <% if can_shop_both_markets?(@person) %>
            <div id="market_kinds" class='row no-buffer'>
                <h3>Marketplace</h3>
              <span class="clear" style="display: il"></span>

              <div class="n-radio-group">
                <% Plan::MARKET_KINDS.each_with_index do |kind, index| %>
                  <div class="n-radio-row">
                    <label class="n-radio" for="market_kind_<%= kind %>">
                      <%= radio_button_tag 'market_kind', kind, index == 0, id: "market_kind_#{kind}", required: true, class: "n-radio", checked: (@market_kind == kind), disabled: (@disable_market_kind == kind) %>
                      <span class="n-radio">
                      </span>
                      <% if kind=="shop" %>
                      Employer-Sponsored Benefits
                      <% else %>
                      Individual Benefits
                      <% end %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif can_shop_shop?(@person) %>
	           <%= hidden_field_tag 'market_kind', 'shop' %>
	        <% elsif can_shop_individual?(@person) %>
	           <%= hidden_field_tag 'market_kind', 'individual' %>
          <% else %>
            <% if @market_kind.present? %>
              <%= hidden_field_tag 'market_kind', @market_kind %>
            <% end %>
          <% end %>

          <% if @employee_role.present? %>
            <h3>Employer: <%= @employee_role.employer_profile.legal_name %></h3>
          <% end %>

          <div id="coverage_kinds" class='row no-buffer'>
              <h3>Benefit Type</h3>

              <div class="n-radio-group">
                <div class="n-radio-row">
                  <label class="n-radio" for="coverage_kind_health">
                    <%= radio_button_tag 'coverage_kind', 'health', true, id: 'coverage_kind_health', class: 'n-radio' %>
                    <span class="n-radio">
                    </span>
                    Health
                  </label>
                </div>

                <div id="dental-radio-button" class="n-radio-row <%= 'dn' if can_shop_shop?(@person) && !@employee_role.is_dental_offered? %>">
                  <label class="n-radio" for="coverage_kind_dental">
                    <%= radio_button_tag 'coverage_kind', 'dental', false, id: 'coverage_kind_dental', class: 'n-radio' %>
                    <span class="n-radio">
                    </span>
                    Dental
                  </label>
                </div>
              </div>
          </div>

          <% if @market_kind == 'individual' && is_under_open_enrollment? %>
          <% if @change_plan.blank? && @enrollment_kind.blank?%>
          <div class='row top-pd'>
            <div class="col-sm-12">
              <p>If you enroll today, coverage will begin <%= format_date ivl_enrollment_effective_date %>. </p>
              <p>Do you need coverage earlier? See if you qualify for a <%= link_to "Special Enrollment Period", "#", :id => 'find_sep_link' %></p>
            </div>
          </div>
          <% end %>
          <% if @show_residency_alert && !CuramUser.name_in_curam_list(@person.first_name, @person.last_name) %>
          <div class='row top-pd'>
            <div class="col-sm-12">
              <p>Since <%= @person.full_name %> is not a resident of the <%= Settings.aca.state_name %> she/he is not eligible to purchase a plan through <%= Settings.site.short_name %>. Other members may still be eligible to enroll. Please call us at <%= Settings.contact_center.phone_number %> to learn about other health insurance options for <%= @person.full_name %>.</p>
            </div>
          </div>
          <% end %>
          <% end %>

          <% if @change_plan.present? %>
            <%= hidden_field_tag 'change_plan', @change_plan %>
            <br/>
            <h3>What would you like to do?</h3>
            <%= submit_tag 'Shop for new plan', class: 'btn btn-primary  btn-lg'+ pundit_class(Family, :updateable?) %>
            <% if @hbx_enrollment.present? && @hbx_enrollment.may_terminate_coverage? %>
              <%= submit_tag 'Keep existing plan', class: 'btn btn-primary  btn-lg' + pundit_class(Family, :updateable?) if show_keep_existing_plan(@shop_for_plans, @hbx_enrollment, @new_effective_on) %>
              <%= link_to 'Select Plan to Terminate', terminate_selection_insured_group_selections_path(person_id: @person.id, change_plan: @change_plan), 
              class: ('btn btn-primary ' + pundit_class(Family, :updateable?)) if @hbx_enrollment.may_terminate_coverage? and @hbx_enrollment.effective_on <= TimeKeeper.date_of_record %>
            <% end %>
          <% else %>
            <!--<h3>Select a plan</h3>-->
            <!--<p class="text-justify"><%= t('welcome.employee.select_plan') %></p>-->
          <% end %>
          <br/>
        <br/>
          <%= link_to "Back to my account", family_account_path, class: 'btn btn-default btn btn-lg' %>
        </div>
      <div class="col-xs-3 right-section pull-right">
          <% if @change_plan.blank?  && @market_kind == "individual" %>
            <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
              <%= render  partial: 'shared/individual_progress', locals: {step: '3'} %>
            <% else %>
              <%= render  partial: 'shared/sep_progress', locals: {step: '4', continue_disabled: false, button_continue: true } %>
            <% end %>
          <% elsif @change_plan.blank? %>
            <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
          <% elsif @change_plan == "change_by_qle" %>
            <%= render partial: 'shared/qle_progress', locals: {step: '2',show_button:false} %>
          <% elsif @change_plan == "change_plan" %>
            <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
              <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
            <% else %>
              <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => {:enrollment => @hbx_enrollment } if (@hbx_enrollment.present? && (@hbx_enrollment.employee_role.present? || @hbx_enrollment.benefit_group.present?)) %>
</div>
<script>
  $(function(){
    if ( $("#find_sep_link").length ) {
      $("#find_sep_link").click(function() {
      $(this).closest('form').attr('action', '<%= find_sep_insured_families_path %>');
      $(this).closest('form').attr('method', 'get');
      $(this).closest('form').submit();
    });
  }
})


function setGroupSelectionHandlers(){
  $('.group-selection-table .dental input').removeProp('checked');

  if ( $('#market_kind_shop').is(':checked') ) {
    $("#coverage_kind_health").prop("checked", true);
    $("#ivl-coverage-household input[type=checkbox]").prop("checked", false);
  }

<% if can_shop_both_markets?(@person) %>
  <% if @market_kind == 'individual' %>
    $('#market_kind_individual').prop("checked", true);
    $('#dental-radio-button').show();
  <% end %>

  $('#market_kind_shop').on('change', function() {
    <% if @employee_role.census_employee.active_benefit_group.blank? || !@employee_role.census_employee.active_benefit_group.is_offering_dental? %>
      $('#dental-radio-button').slideUp();
    <% end %>
    $('#shop-coverage-household').show();
    $('#ivl-coverage-household').hide();
    $('#ivl-coverage-household input').removeProp('checked');

    if ($('#coverage_kind_health').is(':checked')) {
      $('#shop-coverage-household .health tr').not(".ineligible_row").find('input').prop('checked', 'checked');
    }
    if ($('#coverage_kind_dental').is(':checked')) {
      $('#shop-coverage-household .dental tr').not(".ineligible_row").find('input').prop('checked', 'checked');
    }
  });

  $('#market_kind_individual').on('change', function() {
    $('#dental-radio-button').slideDown();
    $('#ivl-coverage-household').show();
    $('#shop-coverage-household').hide();
    $('#shop-coverage-household input').removeProp('checked');
    $('#ivl-coverage-household tr').not(".ineligible_row").find('input').prop('checked', 'checked');
  });
<% end %>

<% if (can_shop_shop?(@person) || can_shop_both_markets?(@person)) && @employee_role.census_employee.active_benefit_group.present? && @employee_role.census_employee.active_benefit_group.is_offering_dental? %>

  $('#coverage_kind_health').on('change', function() {
    $('#shop-coverage-household .health').show();
    $('#shop-coverage-household .health tr').not(".ineligible_row").find('input').prop('checked', 'checked');
    $('#shop-coverage-household .dental').hide();
    $('#shop-coverage-household .dental input').removeProp('checked');
  });

  $('#coverage_kind_dental').on('change', function() {
    $('#shop-coverage-household .dental').show();
    $('#shop-coverage-household .dental tr').not(".ineligible_row").find('input').prop('checked', 'checked');
    $('#shop-coverage-household .health').hide();
    $('#shop-coverage-household .health input').removeProp('checked');
  });
<% end %>

$("input[type='checkbox']").change(function() {
  if ($("#coverage_kind_health").is(":checked")){
    if($(this).is(":checked")) {
      $(this).attr( "checked", true );
    }else{
      $(this).removeProp('checked');
      $('#shop-coverage-household .dental input').removeProp('checked');
      }
    }
});
}

$(document).ready(function() {
 setGroupSelectionHandlers();
});

</script>
