<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
<% end %>
<div class="container group-selection">
  <div class="row">
    <%= form_tag(:insured_group_selections, :id => "group-selection-form") do %>
      <div class="col-xs-8">
        <h1 class="darkblue"><%= l10n("insured.group_selection.new.choose_coverage_for_your_household") %></h1>
        <p class="twenty">Select who needs coverage and the type of coverage needed. When you’re finished, select CONTINUE.</p>
        <div style="font-size :24px">
        <%if @effective_on_date.present? || @new_effective_on%>
          <%= l10n("insured.group_selection.new.effective_date") %>: <span style="color: red;"><%= @effective_on_date || @effective_on_date || @new_effective_on %></span>
        <%end%>
        </div>
        <h3><%= l10n("insured.group_selection.new.who_needs_coverage") %></h3>
          <%= hidden_field_tag(:person_id, @person.id) %>
          <%= hidden_field_tag(:coverage_household_id, @coverage_household_id) %>
          <%= hidden_field_tag(:enrollment_kind, @enrollment_kind) %>
          <%= hidden_field_tag(:hbx_enrollment_id, @hbx_enrollment.id) if @hbx_enrollment.present? %>

          <% if can_shop_shop?(@person) %>
            <div id="shop-coverage-household" class="<%= 'dn' if @market_kind == 'individual' %>">
              <div class="module group-selection-table health">
                <div class="table-responsive table-border">
                  <%= render 'coverage_household', :coverage_kind => 'health' %>
                </div>
              </div>
              <% if is_eligible_for_dental?(@employee_role, @change_plan, @hbx_enrollment) %>
                <div class="module group-selection-table dn dental">
                  <div class="table-responsive table-border">
                    <%= render 'coverage_household', :coverage_kind => 'dental' %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if can_shop_individual?(@person) && !can_shop_resident?(@person) %>
            <div id="ivl-coverage-household" class="<%= 'dn' if can_shop_shop?(@person) && @market_kind != 'individual' %>">
              <div class="module group-selection-table">
                <div class="table-responsive table-border health">
                  <% @show_residency_alert = false %>

                  <%= render 'ivl_coverage_household' %>
                </div>
              </div>
            </div>
          <% end %>

          <% if can_shop_both_markets?(@person) %>
            <div id="market_kinds" class='row no-buffer'>
                <h3><%= l10n("insured.group_selection.new.marketplace") %></h3>
              <span class="clear" style="display: il"></span>

              <div class="n-radio-group">
                <% Plan::MARKET_KINDS.each_with_index do |kind, index| %>
                  <div class="n-radio-row">
                    <label class="n-radio" for="market_kind_<%= kind %>">
                      <%= radio_button_tag 'market_kind', kind, index == 0, id: "market_kind_#{kind}", required: true, class: "n-radio", checked: is_market_kind_checked?(kind), disabled: is_market_kind_disabled?(kind) %>
                      <span class="n-radio">
                      </span>
                      <% if kind=="shop" %>
                        <%= l10n("insured.group_selection.new.employee_sponsored_benifits") %>
                      <% else %>
                        <%= l10n("insured.group_selection.new.individual_benifits") %>
                      <% end %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif can_shop_shop?(@person) %>
             <%= hidden_field_tag 'market_kind', 'shop' %>
          <% elsif can_shop_individual?(@person) && !can_shop_resident?(@person) %>
             <%= hidden_field_tag 'market_kind', 'individual' %>
          <% elsif can_shop_resident?(@person) %>
             <%= hidden_field_tag 'market_kind', 'coverall' %>
          <% else %>
            <% if @market_kind.present? %>
              <%= hidden_field_tag 'market_kind', @market_kind %>
            <% end %>
          <% end %>

          <% if can_shop_shop?(@person) %>
            <%= render 'select_employer' %>
          <% end %>

          <% if can_shop_resident?(@person) %>
            <div id="ivl-coverage-household" class="<%= 'dn' if can_shop_shop?(@person) && @market_kind != 'individual' %>">
              <div class="module group-selection-table">
                <div class="table-responsive table-border health">
                  <% @show_residency_alert = false %>

                  <%= render 'coverall_coverage_household' %>
                </div>
              </div>
            </div>
          <% end %>

          <div id="coverage_kinds" class='row no-buffer'>
              <h3><%= l10n("benefit_type") %></h3>

              <div class="n-radio-group">
                <div class="n-radio-row">
                  <label class="n-radio" for="coverage_kind_health">
                    <%= radio_button_tag 'coverage_kind', 'health', is_coverage_kind_checked?("health"), disabled: is_coverage_kind_disabled?("health"),id: 'coverage_kind_health', class: 'n-radio' %>
                    <span class="n-radio">
                    </span>
                    <%= l10n(".health") %>
                  </label>
                </div>

                <div id="dental-radio-button" class="n-radio-row <%= 'dn' if can_shop_shop?(@person) && !@employee_role.is_dental_offered? %>">
                  <label class="n-radio" for="coverage_kind_dental">
                    <%= radio_button_tag 'coverage_kind', 'dental', is_coverage_kind_checked?("dental"), disabled: is_coverage_kind_disabled?("dental"), id: 'coverage_kind_dental', class: 'n-radio' %>
                    <span class="n-radio">
                    </span>
                    <%= l10n("dental") %>
                  </label>
                </div>
              </div>
          </div>

          <% if @market_kind == 'individual' && is_under_open_enrollment? %>
            <div class='row top-pd'>
              <div class="col-sm-12">
                <h4><%= l10n("insured.do_you_need_coverage_earlier_msg", link: link_to('Special Enrollment Period', find_sep_insured_families_path, id: "find_sep_link" ))%></h4>
              </div>
            </div>

            <% if @show_residency_alert && !CuramUser.name_in_curam_list(@person.first_name, @person.last_name) %>
              <div class='row top-pd'>
                <div class="col-sm-12">
                  <p><%= l10n(".show_residency_alert_msg", full_name: @person.full_name, aca_state_name: aca_state_name, site_short_name: site_short_name, contact_center_phone_number: contact_center_phone_number) %></p>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if @change_plan.present? %>
            <%= hidden_field_tag 'change_plan', @change_plan %>
            <%= hidden_field_tag 'effective_on_option_selected', params[:effective_on_option_selected] if params[:effective_on_option_selected].present?%>
            <br/>
            <h3><%= l10n("insured.group_selection.new.what_would_you_like_to_do") %></h3>
            <%= submit_tag l10n('shop_for_new_plan'), class: 'btn btn-primary  btn-lg'+ pundit_class(Family, :updateable?) %>
            <% if @hbx_enrollment.present? && @hbx_enrollment.may_terminate_coverage? %>
              <%= submit_tag l10n('keep_existing_plan'), class: 'btn btn-primary  btn-lg' + pundit_class(Family, :updateable?) if show_keep_existing_plan(@shop_for_plans, @hbx_enrollment, @new_effective_on) %>

              <%= link_to l10n('select_plan_to_terminate'), terminate_selection_insured_group_selections_path(person_id: @person.id, change_plan: @change_plan),
              class: ('btn btn-primary' + pundit_class(Family, :updateable?)) if @hbx_enrollment.may_terminate_coverage? and @hbx_enrollment.effective_on <= TimeKeeper.date_of_record %>
            <% end %>
          <% else %>
            <!--<h3>Select a plan</h3>-->
            <!--<p class="text-justify"><%#= t('welcome.employee.select_plan') %></p>-->
          <% end %>
          <br/>
        <br/>
          <%= link_to l10n("back_to_my_account"), family_account_path, class: 'btn btn-default btn btn-lg' %>
        </div>
      <div class="col-xs-3 right-section pull-right">
          <% if @change_plan.blank?  && @market_kind == "individual" %>
            <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
              <%= render  partial: 'shared/individual_progress', locals: {step: '3'} %>
            <% else %>
              <%= render  partial: 'shared/sep_progress', locals: {step: '4', continue_disabled: false, button_continue: true } %>
            <% end %>
          <% elsif @change_plan.blank? && can_shop_resident?(@person) %>
            <%= render partial: 'shared/coverall_progress', locals: {step: '4'} %>
          <% elsif @change_plan.blank? %>
            <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
          <% elsif @change_plan == "change_by_qle" %>
            <%= render partial: 'shared/qle_progress', locals: {step: '2',show_button:false} %>
          <% elsif @change_plan == "change_plan" %>
            <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
              <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
            <% else %>
              <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => {:enrollment => @hbx_enrollment } if (@hbx_enrollment.present? && (@hbx_enrollment.employee_role.present? || @hbx_enrollment.benefit_group.present?)) %>
</div>
