<div class="container">
  <div class="row">
    <div class="col-md-2">
      <br>
      <%= link_to "Back to My Account",  family_account_path, class: 'btn btn-default btn-default' %>
    </div>
    <br class="clear"/>
    <br/>
    <div class="col-md-12 row">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <% hbx_enrollment = @hbx_enrollment %>
            <% plan = hbx_enrollment.try(:plan) %>
            <div class="hbx-enrollment-panel module">
            <div class="panel panel-default min-h">

              <div class="panel-heading">
                <h4><%= plan.active_year %> Health Coverage <span class="separator">DCHL</span></h4>
                <hr>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-8">
                    <div><%= display_carrier_logo(Maybe.new(plan), {width: 110}) %></div>
                    <h4><strong><%= link_to plan.try(:name), summary_products_plans_path({:standard_component_id => plan.try(:hios_id), hbx_enrollment_id:hbx_enrollment.id, active_year: plan.try(:active_year)}), remote: true %></strong>
                    </h4>
                      <div><p><%= render_plan_type_details(plan) %></p></div>
                      <div>
                        <p>
                          <label>Premium:</label> <strong><%= number_to_currency(hbx_enrollment.total_premium) %></strong>/month
                          <label class="bullet-separator">&nbsp;DCHL ID:</label> <strong><%= hbx_enrollment.try(:subscriber).try(:person).try(:hbx_id) %></strong>
                        </p>
                      </div>
                        <% names = hbx_enrollment.covered_members_first_names %>
                        <div class="family-members">
                          <p>
                            <label>Covered:</label>
                              <a href="#"><%= names.delete_at(0).camelcase %></a>
                              <% names.each do |name| %>
                                <span class="separator"><a href="#"><%= name.camelcase %></a></span>
                              <% end %>
                          </p>
                        </div>
                        <div>
                          <label>Effective date: </label>
                          <strong><%= hbx_enrollment.effective_on %></strong>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="family-plan-selection">
                          <div class="status">

                          </div>
                         </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-4 fa-icon-link">
                        <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: plan } %>
                      </div>
                      <div class="col-xs-4">
                        <a href="#">
                          <i class="fa fa-phone fa-2x pull-left"></i><div class="fa-icon-label">Plan Contact Info</div>
                        </a>
                      </div>
                      <div class="col-xs-4">
                      </div>
                    </div>
                  </div>

                  <!-- <div class="alert alert-warning alert-dismissible panel-footer" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Important:</strong> Your enrollment application requires information that needs to be verified. <a href="#">Learn more</a>
                  </div> -->
                </div>
            </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
              <h3>Confirmation:</h3>
              <p>Terminating this plan will terminate coverage for all members of your family. Do you wish to proceed? Y/N.</p>
              <div>
                <%= radio_button_tag :agreement, "terminate-confirm-yes" %> yes <br>
                <%= radio_button_tag :agreement, "terminate_confirm_no" %> no
              </div>
              <br/>
              <p class="text-danger">
                <strong>
                  Note:
                </strong>
                Federal law allows your plan(s) to require that you make your request for termination no less than 14 days before the date you want your coverage to end. This requirement was included in the notice that you received from <%= Settings.site.short_name %> after you enrolled in your plan.
              </p>

              <%= form_tag terminate_insured_group_selections_path(hbx_enrollment_id: hbx_enrollment.id), method: :post %>
                <div id="term-date-confirm-date" hidden='true'>
                  <h5>Enter the date of termination</h5>
                  <%= text_field_tag 'term_date', '',:'data-date-min'=> "+14d", placeholder: " ", class: "required date-picker term-date-picker floatlabel form-control", required: true %>
                 </div>
                 <div>
                   <br>
                    <%= submit_tag "Terminate", class: 'button btn btn-lg btn-primary  btn-block interaction-click-control-terminate', id: 'btn-terminate', :disabled => true %>
                </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          $(document).ready(function(){
            $(".interaction-choice-control-value-agreement-terminate-confirm-yes").click(function(){
              $(".interaction-click-control-terminate").attr("disabled", false);
              $("#term-date-confirm-date").attr("hidden", false);
            });
            $(".interaction-choice-control-value-agreement-terminate-confirm-no").click(function(){
              $(".interaction-click-control-terminate").attr("disabled", true);
              $("#term-date-confirm-date").attr("hidden", true);
            });
          });
        </script>

    </div>
</div>
