<% if @broker_agency_profiles.present?  %>
  <br />
  <div class='table-responsive col-12'>
    <table style='width: 100%; border-collapse: collapse; border: 1px solid #d5d5d5'>
      <thead style='height: 40px;'>
      <th style='width: 18%; height: 40px; padding: 10px'> <%= l10n("legal_name") %></th>
      <th style='width: 18%'> <%= l10n("npn") %></th>
      <th style='width: 18%'> <%= l10n("primary_broker_name") %></th>
      <th style='width: 18%'> <%= l10n("select_this_broker_agency") %></th>
      </thead>
      <% @broker_agency_profiles.each do |agency| %>
        <tbody class="select-broker">
        <tr style='border: 1px solid #d5d5d5; height: 50px;'>
          <td><%= agency.legal_name %></td>
          <td><%= agency.primary_broker_role.npn %></td>
          <td><%= agency.primary_broker_role.person.full_name %></td>
          <td colspan="1"> <a href="javascript:void(0)" class='btn btn-primary select-broker-agency' onclick="selectBrokereAgency(this);" data-broker_agency_profile_id="<%= agency._id %>"><%= l10n("select_this_broker_agency") %></a>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
